<p-accordion class="mt-2">
  <p-accordionTab
    header="Datos de Otorgamiento"
    [selected]="true"
    class="{{ classValidacion }}"
  >
    <ng-template pTemplate="header">
      <label class="m-0">
        &nbsp;&nbsp;&nbsp;<i class="pi {{ iconEvaluacion }} fz-14"></i>&nbsp;{{
          labelTituloValidacion
        }}
      </label>
    </ng-template>

    <div>
      <div class="pt-4">
        <datos-otorgamiento
          [solicitud]="solicitud"
          [solicitudCargaArchivo]="solicitudCargaArchivo"
          [dataBase]="dataBase"
          [accion]="accion"
          [enabledControlOtorgamiento]="enabledControlOtorgamiento"
          (registroSolicitud)="registroSolicitud()"
          (editarSolicitud)="editarSolicitud()"
          (isValidatingPlanManejo)="validatingPlanManejo($event)"
          (isValidatingAnexo)="validatingAnexo($event)"
          (isValidatingArea)="validatingArea($event)"
          [enabledHabilitarContinuar]="enabledHabilitarContinuar"
          [idPermisoForestal]="idPermisoForestal"
          [edit]="isEdit"
          [comunidad]="comunidad"
          [nroDocumento]="nroDocumento"
        >
        </datos-otorgamiento>
<!--        [isPerfilArffs]="isPerfilArffs"-->
      </div>
      <div *ngIf="usuario.sirperfil == Perfiles.MESA_DE_PARTES" class="my-5">
        <div *ngIf="codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_VAL_PROCEDE ||
             codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_PRESENTADO">
          <validar-requisitos-permiso-forestal-shared
            [codigoProceso]="codigoProceso"
            [codigoTab]="codigoTab"
            [codigoAcordeon]="codigoAcordeonVal"
            [idPermisoForestal]="idPermisoForestal"
            (seleccionarValidacion)="seleccionarValidacion($event)"
            [detalle]="'2. Datos de Otorgamiento'"
          ></validar-requisitos-permiso-forestal-shared>
        </div>
      </div>

      <div *ngIf="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL" class="my-5">

        <div class="pl-3" *ngIf="codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_VAL_EN_EVALUACION||
            codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE ||
            codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE">
          <div class="row mt-2">
            <div class="col-12">
              <label class="label fz-12 font-weight-bold mb-3"
              >Evaluaciones Complementarias</label
              >
            </div>
            <div class="col-12 col-sm-6">
              <label
              >1. Resultado de Búsqueda en Registro nacional de
                infractores</label
              >
              <br />
              <div class="p-field-radiobutton d-inline-full">
                <p-radioButton
                  name="favorable1" [disabled]="codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE || codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
                  [value]="CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE"
                  [(ngModel)]="evaluacionDet1.conforme"
                ></p-radioButton>
                <label class="mr-2 pl-1 pointer">Favorable</label>
              </div>
              <div class="p-field-radiobutton d-inline-full">
                <p-radioButton
                  name="favorable1" [disabled]="codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE || codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
                  [value]="CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
                  [(ngModel)]="evaluacionDet1.conforme"
                ></p-radioButton>
                <label class="mr-2 pl-1 pointer">Desfavorable</label>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12 col-sm-6">
              <label
              >2. Resultado de Opiniones de otras Entidades (SENAMP)</label
              >
              <br />
              <div class="p-field-radiobutton d-inline-full">
                <p-radioButton
                  name="favorable2" [disabled]="codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE || codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
                  [value]="CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE"
                  [(ngModel)]="evaluacionDet2.conforme"
                ></p-radioButton>
                <label class="mr-2 pl-1 pointer">Favorable</label>
              </div>
              <div class="p-field-radiobutton d-inline-full">
                <p-radioButton
                  name="favorable2" [disabled]="codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE || codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
                  [value]="CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
                  [(ngModel)]="evaluacionDet2.conforme"
                ></p-radioButton>
                <label class="mr-2 pl-1 pointer">Desfavorable</label>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12 col-sm-6">
              <label>3. Resultado de Inspección Ocular</label>
              <br />
              <div class="p-field-radiobutton d-inline-full">
                <p-radioButton
                  name="favorable3" [disabled]="codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE || codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
                  [value]="CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE"
                  [(ngModel)]="evaluacionDet3.conforme"
                ></p-radioButton>
                <label class="mr-2 pl-1 pointer">Favorable</label>
              </div>
              <div class="p-field-radiobutton d-inline-full">
                <p-radioButton
                  name="favorable3" [disabled]="codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE || codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
                  [value]="CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
                  [(ngModel)]="evaluacionDet3.conforme"
                ></p-radioButton>
                <label class="mr-2 pl-1 pointer">Desfavorable</label>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12 col-sm-6">
              <label>4. Resultado de Informe Plan General PO o DEMA</label>
              <br />
              <div class="p-field-radiobutton d-inline-full">
                <p-radioButton
                  name="favorable4" [disabled]="codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE || codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
                  [value]="CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE"
                  [(ngModel)]="evaluacionDet4.conforme"
                ></p-radioButton>
                <label class="mr-2 pl-1 pointer">Favorable</label>
              </div>
              <div class="p-field-radiobutton d-inline-full">
                <p-radioButton [disabled]="codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE || codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
                  name="favorable4"
                  [value]="CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
                  [(ngModel)]="evaluacionDet4.conforme"
                ></p-radioButton>
                <label class="mr-2 pl-1 pointer">Desfavorable</label>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12 col-sm-6">
              <label>Descripción de Observados</label>
              <textarea
                cols="3"
                rows="4" [disabled]="codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE || codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
                class="form-control form-control-sm"
                [(ngModel)]="evaluacionDet4.observacion"
              ></textarea>
            </div>
          </div>

          <div class="row mt-4">
            <button pButton pRipple type="button"
                    [disabled]="codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE || codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE" class="btn-primary2" (click)="registrarEvaluacion()"
            >Guardar Evaluación Complementaria
            </button>
          </div>
        </div>



        <div class="row mt-5">
          <div class="col-12">
            <evaluacion-archivo-permiso-forestal-shared
              [idPermisoForestal]="idPermisoForestal"
              [codigoProceso]="codigoProceso"
              [codigoTab]="codigoTab"
              [descripcion]="'2. Datos de Otorgamiento'"
              [detalle]="'-'"
              [disabled]="codigoEstadoPermiso ==CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE ||codigoEstadoPermiso ==CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
              [codigoAcordeon]="codigoAcordeon">
            </evaluacion-archivo-permiso-forestal-shared>
          </div>
        </div>
      </div>


      <div >
        <div class="step__btn mt-4 mb-4">
          <button *ngIf="showRegresar" class="btn-primary2" (click)="regresarTab()">Regresar</button>
          <button *ngIf="usuario.sirperfil != Perfiles.AUTORIDAD_REGIONAL &&
                usuario.sirperfil != Perfiles.MESA_DE_PARTES &&
                usuario.sirperfil != Perfiles.OSINFOR &&
                usuario.sirperfil != Perfiles.SERFOR"
            type="button" class="btn-primary2"
            (click)="registroSolicitud()"
          >
            {{ isEdit ? "Guardar" : "Guardar" }}
          </button>

          <button *ngIf="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL"
                  pButton
                  pRipple
                  type="button"
                  class="btn-primary2"
                  (click)="verModal()">
            Evaluar Plan de Manejo
          </button>

          <button class="btn-primary2" (click)="siguienteTab()">
            Siguiente
          </button>
        </div>
      </div>
    </div>
  </p-accordionTab>
</p-accordion>


<p-dialog
  header="Evaluar Plan de Manejo" appendTo="body" [(visible)]="isShowModal2_2" [modal]="true" [style]="{ width: '60vw' }"
  [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="true">

  <ng-template pTemplate="content">
    <div>
      <h4 class="font-weight-bold">Permiso Forestal <label class="nro-plan-forestal">N° {{idPermisoForestal}}</label></h4>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 form-group">
        <label >Tipo Plan</label>
        <div class="form-control-selectk">
          <p-dropdown [options]="listaPlanes"
                      optionLabel="nombrePlan"
                      optionValue="codigoPlan"
                      placeholder="Seleccione"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 form-group">
        <label >Nro Plan</label>
        <input class="form-control form-control-sm " type="text" autocomplete="off" placeholder="Ingrese n° de PLAN"
               />
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="p-field-radiobutton d-inline-full">
          <p-radioButton  name="esObservado" [(ngModel)]="favorable"  [value]="CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE" ></p-radioButton>
          <label class="mr-2 pl-1 pointer" >Favorable</label>
        </div>

        <div class="p-field-radiobutton d-inline-full">
          <p-radioButton name="esObservado"  [(ngModel)]="favorable"
                         [value]="CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE" ></p-radioButton>
          <label class="mr-2 pl-1 pointer" >Desfavorable</label>
        </div>
      </div>
    </div>
    <br>

    <button icon="pi pi-save"  type="button"  class="btn btn-sm btn-primary2" (click)="enviarValidacionPlan()">Enviar</button>&nbsp;
    <button icon="pi pi-times" (click)="isShowModal2_2 = false"  type="button"  class="btn btn-sm btn-danger">Cancelar</button>
  </ng-template>
  <ng-template pTemplate="footer">

  </ng-template>
</p-dialog>
<!--<p-toast></p-toast>-->
