<div class="p-4">
  <div class="row" *ngIf="false">
    <!--<div class="col-sm-1">-->
    <!-- <i class="pi pi-download pointer" title="Plantilla" (click)="descargarPlantilla()"></i> -->
    <!-- "idArchivo": 114,
      "ruta": "smb://10.6.0.212//Data_MCSNIFFS//plantilla_proteccionvigilancia04-08-2021 121117.xlsx",
      "nombre": "plantilla_proteccionvigilancia",
      "nombreGenerado": "plantilla_proteccionvigilancia04-08-2021 121117", -->
    <!---  <a class="pi pi-download pointer" target="_blank" href="http://10.6.0.212//Data_MCSNIFFS//plantilla_proteccionvigilancia04-08-2021%20121117.xlsx"></a>
    </div>-->

    <div class="col-sm-2">
      <a
        target="_blank"
        href="http://10.6.0.212//Data_MCSNIFFS//plantilla_proteccionvigilancia04-08-2021%20121117.xlsx"
        class="btn btn-secondary"
        >Descargar</a
      >
    </div>
    <div class="col-sm-8">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Seleccione un archivo"
          [(ngModel)]="nombrefile"
          readonly
        />
        <div class="input-group-append">
          <button
            type="button"
            id="btnCargaShapeFile"
            (click)="fileInput.click()"
            class="btn btn-sm btn-secondary"
            [disabled]="isDisbledObjFormu"
          >
            Seleccione archivo<input
              #fileInput
              type="file"
              (change)="onFileChange($event)"
              style="display: none"
            />
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <button
        class="btn-secondary"
        (click)="enviarArchivo()"
        [ngStyle]="{ display: procesando == false ? 'block' : 'none' }"
        [disabled]="isDisbledObjFormu"
      >
        Guardar
      </button>
      <p-progressSpinner
        [style]="{ width: '30px', height: '30px' }"
        [ngStyle]="{ display: procesando == true ? 'block' : 'none' }"
      ></p-progressSpinner>
    </div>
  </div>
  <br />

  <mat-tab-group
    animationDuration="0ms"

  >

<!--    (selectedTabChange)="elegirSeccion($event)"-->
    <mat-tab label="4.3.1. Ubicación y Marcado de Vértices">
      <div class="mt-5 ml-4">
        <app-carga-excel
          (cargarArchivo)="cargarFormato($event, CodigosPGMF.PGMF_TAB_4_3_1)"
          [isDisbledObjFormu]="isDisbledObjFormu" [NombrePlantilla]="plantilla_4_3_1"
        ></app-carga-excel>
      </div>
      <br />
      <p-table [value]="ubicacionMarcadoVertices">
        <ng-template pTemplate="header">
          <tr>
            <th>Vértice</th>
            <th>Este</th>
            <th>Norte</th>
            <th>Zona UTM</th>
            <th>Material</th>
            <th>Observación</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{ item.verticeBloque }}</td>
            <td>{{ item.coordenadaEste }}</td>
            <td>{{ item.coordenadaNorte }}</td>
            <td>{{ item.zonaUTM }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ item.observacion }}</td>
          </tr>
        </ng-template>
      </p-table>
    </mat-tab>

    <mat-tab label="4.3.2. Señalización">
      <div class="mt-5 ml-4">
        <app-carga-excel
          (cargarArchivo)="cargarFormato($event, CodigosPGMF.PGMF_TAB_4_3_2)"
          [isDisbledObjFormu]="isDisbledObjFormu" [NombrePlantilla]="plantilla_4_3_2"
        ></app-carga-excel>
      </div>
      <br />
      <p-table [value]="senalizacion">
        <ng-template pTemplate="header">
          <tr>
            <th>Lugar</th>
            <th>Este</th>
            <th>Norte</th>
            <th>Zona UTM</th>
            <th>Material</th>
            <th>Observación</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{ item.verticeBloque }}</td>
            <td>{{ item.coordenadaEste }}</td>
            <td>{{ item.coordenadaNorte }}</td>
            <td>{{ item.zonaUTM }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ item.observacion }}</td>
          </tr>
        </ng-template>
      </p-table>
    </mat-tab>

    <mat-tab label="4.3.3. Demarcación y Mantenimiento de Linderos">
      <div class="mt-5 ml-4">
        <app-carga-excel
          (cargarArchivo)="cargarFormato($event, CodigosPGMF.PGMF_TAB_4_3_3)"
          [isDisbledObjFormu]="isDisbledObjFormu" [NombrePlantilla]="plantilla_4_3_3"
        ></app-carga-excel>
      </div>
      <br />
      <p-table [value]="demarcacionLinderos">
        <ng-template pTemplate="header">
          <tr>
            <th>Sector del lindero</th>
            <th>Riesgo idenificado</th>
            <th>Longitud del lindero a marcar y mantener (km)</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{ item.actividad }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ item.observacion }}</td>
          </tr>
        </ng-template>
      </p-table>
    </mat-tab>

    <mat-tab label="4.3.4. Vigilancia de la UMF">
      <div class="mt-5 ml-4">
        <app-carga-excel
          (cargarArchivo)="cargarFormato($event, CodigosPGMF.PGMF_TAB_4_3_4)"
          [isDisbledObjFormu]="isDisbledObjFormu" [NombrePlantilla]="plantilla_4_3_4"
        ></app-carga-excel>
      </div>
      <br />
      <p-table [value]="vigilancia">
        <ng-template pTemplate="header">
          <tr>
            <th>Identificación de riesgos y vulnerabilidad</th>
            <th>Actividades de vigilancia</th>
            <th>Infraestructura y personal requerido</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{ item.actividad }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ item.observacion }}</td>
          </tr>
        </ng-template>
      </p-table>
    </mat-tab>
  </mat-tab-group>
</div>
