<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-12">
            <h3 class="title"> Aplicaciones Por Perfil</h3>

            <div class="panelk br10 p-3">
                <div class="row">
                    <div class="col-12 col-sm-6 form-group">
                        <label class="label">Criterio de Búsqueda:</label>
                        <input class="form-control form-control-sm " type="text" autocomplete="off" [(ngModel)]="objbuscar.dato" placeholder="Ingrese perfil"/>
                    </div>
                    <div class="col-12 col-sm-6 form-group">
                        <label class="label">Estado:</label>
                        <div class="form-control-selectk ">
                            <p-dropdown [options]="estados" optionLabel="name" [(ngModel)]="objbuscar.idestado"  optionValue="code"  (onChange)="objbuscar.indice=1"></p-dropdown>
                        </div>                        
                    </div>

                    <div class="col-12 my-2 form-group text-center">
                        <button class="btn btn-sm btn-secondary mr-2" (click)="btnLimpiar()">Limpiar</button>
                        <button class="btn btn-sm btn-secondary mr-2" (click)="listarBandeja(objbuscar)">Buscar</button>
                        <button class="btn btn-sm btn-secondary" (click)="openModalMantenimiento('C',null)">Nuevo</button>
                    </div>
                </div>
            </div>

            <p-confirmPopup></p-confirmPopup>
            <div class="mt-4">
                <div class="tablek">
                    <p-table [value]="listaBandejaPerfilAplicacion">
                      <ng-template pTemplate="header">
                          <tr>
                            <th style="width: 80px;">Acciones</th>
                            <th>Perfil</th>
                            <th>Aplicación</th>
                            <th>Estado</th>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-data>
                          <tr>
                            <td class="text-center">
                                <span class="pointer mr-1" title="Editar" (click)="openModalMantenimiento('E',data)">
                                    <i class="pi pi-pencil"></i>
                                </span>
                                <span class="pointer mr-1" title="Visualizar" (click)="openModalMantenimiento('R',data)">
                                    <i class="pi pi-eye"></i>
                                </span>
                               
                                <span class="pointer" title="Eliminar" (click)="openEliminarRegistro($event,data,'B')">
                                    <i class="pi pi-trash"></i>
                                </span>
                              </td>     
                              <td>{{data.perfil}}</td>
                              <td>{{data.aplicacion}}</td>
                              <td>{{ (data.estado=="1"?'Activo':'Inactivo') }}</td>
                          </tr>
                      </ng-template>
                  </p-table>
                  <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10, 25, 50, 100]"></p-paginator>
        </div>
    </div>



<p-dialog header="{{tituloModalMantenimiento}}" [(visible)]="verModalMantenimiento" [modal]="true" [style]="{width: '70vw'}" [maximizable]="false" [baseZIndex]="10000"
    [draggable]="false" [resizable]="true">
    <ng-template pTemplate="content">
        <div>
            <div class="row">
                <div class="col-12 col-sm-3">                    
                    <label class="label">Perfil:</label>
                </div>
                <div class="col-12 col-sm-6">    
                    <div class="form-control-selectk">
                        <p-dropdown [disabled]="accionMantenimiento == 'R'" 
                        [options]="lstComboPerfiles" optionLabel="text" optionValue="value" [filter]="true" 
                        filterBy="text"   
                        [showClear]="true" placeholder="Select a Opción"
                        (onChange)="obtenerPerfilAplicacion($event)"
                        [(ngModel)]="perfilContext" [style]="{width: '100%'}" appendTo="body"></p-dropdown>
                    </div>                     
                </div>
            </div>
            <br>
            <div class="row mt-2">
                <div class="col-12 text-right">
                    <button class="btn btn-sm btn-default button-more mb-2" type="button" title="Agregar" (click)="agregarNuevoPerfilAplicacion()" *ngIf="accionMantenimiento != 'R' &&  perfilContext > 0 "><i class="pi pi-plus"></i></button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12" style="min-height: 150px;">
                    <p-table [value]="lstDetallePerfilAplicacion">
                        <ng-template pTemplate="header">
                            <tr>
                              <th style="width: 5%;">Acciones</th>
                              <th style="width: 35%;" >Aplicación</th>
                              <th style="width: 35%;">Descripción</th>
                              <th style="width: 25%;" >Estado</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data>
                            <tr>
                              <td class="text-center">   
                                  <span *ngIf="accionMantenimiento != 'R'"  class="pointer" title="Eliminar" (click)="openEliminarRegistro($event,data,'D')">
                                      <i class="pi pi-trash"></i>
                                  </span>
                                </td>     
                                <td>  
                                    <div class="form-control-selectk">
                                        <p-dropdown [disabled]="accionMantenimiento == 'R'" appendTo="body" [options]="lstComboAplicacion" optionValue="value" optionLabel="text" [(ngModel)]="data.idaplicacion" [style]="{width: '100%'}"></p-dropdown>
                                    </div> 
                                </td>
                                <td>
                                    <input  [readonly]="accionMantenimiento == 'R'" type="text" maxlength="190" [(ngModel)]="data.descripcion" class="form-control"  placeholder="Ingrese descripción">
                                </td>
                                <td>
                                    <div class="form-control-selectk">
                                        <p-dropdown [disabled]="accionMantenimiento == 'R'" appendTo="body" [options]="estadosDetalle" optionValue="code" optionLabel="name" [(ngModel)]="data.estado" [style]="{width: '100%'}"></p-dropdown>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>       
                </div>
            </div>           
        </div>
    </ng-template>
    <ng-template pTemplate="footer" >            
        <button (click)="guardarPerfilAplicacion()" icon="pi pi-save" *ngIf="accionMantenimiento != 'R'" pButton pRipple type="button" label="Guardar" class="p-button-success p-button-outlined mr-2" style="width: 106px;"></button>
        <button icon="pi pi-times" *ngIf="accionMantenimiento != 'R'" (click)="verModalMantenimiento=false" pButton pRipple type="button" label="Cancelar" class="p-button-danger p-button-outlined" style="width: 106px;"></button>
    </ng-template>
</p-dialog>

</div>

<p-toast></p-toast>

