<div class="container-fluit pt-4">
  <div class="row m-0" *ngIf="false">
    <div class="col-12 col-sm-8">
      <div class="f-w mb-2 mapa-content">
        <div class="mapa" #map></div>
      </div>
    </div>
    <div class="col-12 col-sm-4" [ngClass]="isLoadInt ? 'loading-interno': ''">
      <div class="card mb-3">
        <div class="card-header py-0 pt-2 pb-2">Capas</div>
        <ul id="ulResult" #ulResult class="list-group"></ul>
      </div>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-12 form-group">
      <p-accordion>
        <p-accordionTab header="4.1. Categorías de Ordenamiento" [selected]="true">

          <app-mapa *ngIf="false" #map (isEdited)="isEditedMap = true" (deleteLayer)="deleteLayer($event)"
            (deleteAll)="deleteAllLayers()" [disabled]="disabled">
          </app-mapa>

          <app-map-por-acordeon
            [codigoProceso]="CodigoProceso.PLAN_GENERAL_MANEJO_FORESTAL"
            [codigoSubSeccion]="CodigoPGMF.ACORDEON_4_1"
            [tipoGeometria]="'TPAREA'" [idPGMF]="idPGMF"
            [isShow]="true"
            [isDisbledObjFormu]="isDisbledObjFormu"
          >
          </app-map-por-acordeon>


          <div class="row m-0 mt-4 h-100 justify-content-center align-items-center">
            <div class="col-12 col-sm-12">
              <lineamiento-inner [base]="lineamiento"
                [titulo]="'Evaluación Lineamiento 6 Revisión del ordenamiento interno de la UMF'"
                [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval">
                <ng-template #descripcion>
                  <div class="row m-0">
                    <div class="col-12">
                      <p class="fz-11 m-0 mb-3">Verificar que el PGMF contenga las categorías “Con Cobertura Boscosa”
                        (bosques de producción forestal, bosques de protección y bosque intervenido) y
                        “Sin Cobertura Boscosa” (áreas de protección y áreas deforestadas), y considerar que se cumpla
                        lo siguiente:</p>
                      <p class="fz-11 m-0 mb-1 ml-4">1. La cobertura boscosa concuerde con el ordenamiento propuesto.
                      </p>
                      <p class="fz-11 m-0 mb-1 ml-4">2. La suma de las áreas del ordenamiento interno concuerde con el
                        total del área de la UMF.</p>
                      <p class="fz-11 m-0 mb-3 ml-4">3. Se hayan considerado áreas de protección que incluyan laderas
                        con pendientes mayores al 100%; áreas en ambas márgenes de los ríos y quebradas según lo
                        siguiente: 50 m en
                        ríos de más de 10 m de ancho con caudal permanente, 30 m para ríos y quebradas de entre 5 y 10 m
                        de ancho; lagunas naturales y humedales; entre otros.</p>

                    </div>
                  </div>
                </ng-template>
              </lineamiento-inner>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="4.2. División Administrativa del Bosque">
          <div class="col-12 p-0">
            <mat-tab-group animationDuration="0ms">
              <mat-tab label="4.2.1. Bloques Quinquenales(opcional)">
                <app-bloque-quinquenal
                [idPGMF]="idPGMF"
                [disabled]="disabled"
                [isDisbledObjFormu]="isDisbledObjFormu"
                [idUsuario]="idUsuario"
                [idOrdenamientoProteccion] ="idOrdenamientoProteccion"
                ></app-bloque-quinquenal>
              </mat-tab>

              <mat-tab label="4.2.2. Parcelas de Corta (PC)">
                <br>
                <app-parcela-corta
                [idPGMF]="idPGMF"
                [disabled]="disabled"
                [isDisbledObjFormu]="isDisbledObjFormu"
                [idUsuario]="idUsuario"
                [idOrdenamientoProteccion] ="idOrdenamientoProteccion"
                ></app-parcela-corta>
              </mat-tab>

              <mat-tab label="4.2.3. Frentes de Corta">
                <br>
                <p class="texto-parrafo">
                  Se debe señalar si el aprovechamiento se realiza a más de un
                  frente de corta de la UMF. Los frentes de corta deben
                  delimitarse en el Mapa 3 del Anexo 1 y proponerse respetando el
                  principio de sostenibilidad del ciclo de corta.</p>
                <br>
                <div class="input-group col-sm-6" *ngIf="false">
                  <input type="text" class="form-control" placeholder="" [(ngModel)]="nombrefile" readonly />
                  <div class="input-group-append">
                    <button type="button" id="btnCargaShapeFile1" (click)="fileInput.click()"
                      class="btn btn-sm btn-secondary" [disabled]="isDisbledObjFormu">
                      Seleccione archivo<input #fileInput type="file" style="display: none;" />
                    </button>
                  </div>
                </div>
                <app-map-custom
                [idPlanManejo]="idPGMF"
                [codigoProceso]="'PGMFCFFMOPUMF'"
                [codigoSubSeccion]="'PGMFCFFMOPUMFDABFC'"
                [tipoGeometria]="'TPFCORTA'"
                [validaSuperposicionAprovechar]="true"
                [disabled]="isDisbledObjFormu"
                >
                </app-map-custom>
              </mat-tab>
            </mat-tab-group>
          </div>


          <div class="row m-0 mt-4 h-100 justify-content-center align-items-center">
            <div class="col-12 col-sm-12">
              <lineamiento-inner [base]="lineamiento2"
                [titulo]="'Evaluación Lineamiento 7 Revisión de la división administrativa del bosque'"
                [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval">
                <ng-template #descripcion>
                  <div class="row m-0">
                    <div class="col-12">
                      <p class="fz-11 m-0 mb-3">Verificar que se cumpla lo siguiente:</p>
                      <p class="fz-11 m-0 mb-1 ml-4">1. La división administrativa se haya realizado sobre el área
                        forestal productiva, que no incluya áreas de protección y las no productivas.</p>
                      <p class="fz-11 m-0 mb-1 ml-4">2. El número de PC corresponde al ciclo de recuperación o de corta
                        establecido, indicando si es que usarán bloques quinquenales o parcelas de corta distribuidas en
                        toda el área productiva.</p>
                      <p class="fz-11 m-0 mb-1 ml-4">3.Las PC determinadas no sobrepasen el 20% de variación de tamaño
                        entre sí.</p>
                      <p class="fz-11 m-0 mb-1 ml-4">4. En caso se haya incorporado bloques quinquenales deben tener un
                        orden pre establecido, enumerado y consecutivo.</p>
                      <p class="fz-11 m-0 mb-1 ml-4">5. Se consigne información sobre los frentes de corta.</p>

                    </div>
                  </div>
                </ng-template>
              </lineamiento-inner>
            </div>
          </div>


        </p-accordionTab>

        <p-accordionTab header="4.3. Protección y Vigilancia" [selected]="false">
          <app-proteccion-vigilancia [idPGMF]="idPGMF"
                                     [disabled]="disabled"
                                     [isDisbledObjFormu]="isDisbledObjFormu">
          </app-proteccion-vigilancia>
          <!--(listUbicacionMarcadoVertices)="listUbicacionMarcadoVertices($event)"  listVigilancia="listVigilancia($event)"
          (listSenalizacion)="listSenalizacion($event)" listDemarcacionLinderos="listDemarcacionLinderos($event)"-->

          <div class="row m-0 mt-4 h-100 justify-content-center align-items-center">
            <div class="col-12 col-sm-12">
              <lineamiento-inner [base]="lineamiento3"
                [titulo]="'Evaluación Lineamiento 8 Revisión de las medidas de protección y vigilancia'"
                [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval">
                <ng-template #descripcion>
                  <div class="row m-0">
                    <div class="col-12">
                      <p class="fz-11 m-0 mb-3">Verificar que se cumpla como mínimo lo siguiente:</p>
                      <p class="fz-11 m-0 mb-1 ml-4">1. Se prevea la prohibición de caza con fines de abastecimiento del
                        personal de la concesión.</p>
                      <p class="fz-11 m-0 mb-1 ml-4">2. Se prevea la ubicación y marcado de los vértices de la
                        concesión, la señalización en los puntos de acceso y límites estratégicos, la demarcación y
                        mantenimiento de
                        linderos de la concesión en sectores críticos, y las actividades de vigilancia de la UMF a
                        través de patrullajes periódicos.</p>

                    </div>
                  </div>
                </ng-template>
              </lineamiento-inner>
            </div>
          </div>



        </p-accordionTab>

        <div class="step__btn mt-4">
          <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
          <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
        </div>
        <br />
      </p-accordion>
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<p-confirmDialog [style]="{width: '300px'}"> </p-confirmDialog>
