.lbl-info {
  font-size: smaller;
  font-weight: 100;
  color: #007bff;
  float: left;
}

::ng-deep button.btn-secondary.off.ng-star-inserted {
  color: #6c757d !important;
  border: 2px solid #6c757d !important;
}

.point-layer {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
