<p-fieldset [legend]="solicitudAcceso.codigoTipoPersona=='TPERJURI'?'Datos Representante Legal':'Datos Persona'" [toggleable]="true">
    <div class="row m-0">
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label class="label">Tipo Documento</label>
                <div class="form-control-selectk">
                    <p-dropdown [disabled]="dataBase.disabled" [(ngModel)]="solicitudAcceso.codigoTipoDocumento"
                        [options]="lstTipoDocumento" optionLabel="valor1" optionValue="codigo" placeholder="Seleccione"
                        (ngModelChange)="changeTipoDoc()"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label class="label">Número Documento</label>
                <input type="text" [disabled]="dataBase.disabled" [(ngModel)]="solicitudAcceso.numeroDocumento" class="form-control"
                autocomplete="off" (ngModelChange)="changeNumDoc()"/>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label class="label">&nbsp;&nbsp;&nbsp;</label>
                <div>
                    <button pButton pRipple type="button" label="Validar PIDE" [ngClass]="validaPIDEClass ? 'p-button-success': 'p-button-danger'" class="p-button-rounded p-button-outlined" (click)="validarPide()"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label class="label">Nombres</label>
                <input maxlength="100" [disabled]="dataBase.disabled" [(ngModel)]="solicitudAcceso.nombres" type="text" class="form-control" autocomplete="off" />
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label class="label">Apellido Paterno</label>
                <input maxlength="100" [disabled]="dataBase.disabled" [(ngModel)]="solicitudAcceso.apellidoPaterno" type="text" class="form-control" autocomplete="off" />
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label class="label">Apellido Materno</label>
                <input maxlength="100" [disabled]="dataBase.disabled" [(ngModel)]="solicitudAcceso.apellidoMaterno" type="text" class="form-control" autocomplete="off" />
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-12 col-sm-8">
            <div class="form-group">
                <label class="label">Email</label>
                <input maxlength="100" [disabled]="dataBase.disabled" [(ngModel)]="solicitudAcceso.email" type="email" class="form-control" autocomplete="off" />
            </div>
        </div>
        <div class="col-12 col-sm-4" *ngIf="solicitudAcceso.codigoTipoPersona=='TPERJURI'">
            <div class="form-group">
                <label class="label">&nbsp;&nbsp;&nbsp;</label>
                <div class="p-field-checkbox">
                    <p-checkbox [disabled]="true" [(ngModel)]="checkedRepresentante" [binary]="true" inputId="representante"></p-checkbox>
                    <label class="m-0 pl-3 pointer" for="representante">Es Representante Legal</label>
                </div>
            </div>
        </div>
    </div>

</p-fieldset>

