

.impugnado {
  color: red;
  font-weight: bold;
}

.presentado {
  color      : #057EBF;
  font-weight: bold;
}

.en_evaluacion {
  color: #e5c93c;
  font-weight: bold;
}

.observado {
  color: #cb4141;
  font-weight: bold;
}

.observadomdp {
  color: #ef7728;
  font-weight: bold;
}

.aprobado {
  color: #4caf50;
  font-weight: bold;
}

.completadomdp {
  color: #4caf50;
  font-weight: bold;
}

.completadoMC {
  color: #91c53d;
  font-weight: bold;
}

.completadoPRE {
  color: #7ea833;
  font-weight: bold;
}

.observadoPRE {
  color: #f18a47;
  font-weight: bold;
}

.presentadoPRE {
  color: #4c90f3;
  font-weight: bold;
}

.borrador {
  color      : #ec7921;
  font-weight: bold;
}
.eval-no-procede{
  color: #864444;
  font-weight: bold;
}

.eval-procede{
  color:#4caf50;
  font-weight: bold;
}


.favorable{
  color: #91c53d;
  font-weight: bold;
}

.desfavorable{
  color: #f11414;
  font-weight: bold;
}

.eval-observado{
  color: #f11414;
  font-weight: bold;
}


