<form [formGroup]='MantenedorFormulario'>

    <div class="form-group">
        <label class="label">Actividad: *</label>
        <input formControlName="nombreAprovechamiento" type="text" class="form-control" placeholder="" maxlength="250">
        <mensaje-error-control [control]="MantenedorFormulario.controls['nombreAprovechamiento']"></mensaje-error-control>
    </div>
    <div class="form-group">
        <label class="label">Descripción: *</label>
        <textarea cols="3" rows="4" class="form-control" formControlName="impacto" placeholder="" maxlength="2500"></textarea>
        <mensaje-error-control [control]="MantenedorFormulario.controls['impacto']"></mensaje-error-control>
    </div>
    <div class="form-group">
        <label class="label">Medidas de prevención y/o mitigación, incluido el manejo de residuos sólidos: *</label>
        <textarea cols="3" rows="4" class="form-control" formControlName="medidasControl" placeholder="" maxlength="2700"></textarea>
        <mensaje-error-control [control]="MantenedorFormulario.controls['medidasControl']"></mensaje-error-control>
    </div>



    <div class="p-dialog-footer" style="padding-bottom:0px;padding-right:0px;">
        <button icon="pi pi-save" pButton (click)="guardar()" pRipple type="button" label="Aceptar"
            class="p-button-success p-button-outlined" style="width: 106px;"></button>
        <button icon="pi pi-times" (click)="cancelar()" pButton pRipple type="button" label="Cancelar"
            class="p-button-danger p-button-outlined" style="width: 106px;"></button>
    </div>

</form>