<div class="row">
  <!--ng-container-->
    <form [formGroup]='f' novalidate style="width:100%">
      <div class="col-12 form-group">
        <label for="nroIndividuos">N° Individuo (Código):</label>
        <input
          mask="0*"
          formControlName="nroIndividuos"
          type="text"
          id="nroIndividuos"
          number
          autocomplete="off"
          class="form-control contents_form_input"
          placeholder=""
          [readonly]="true"
        />
        <mensaje-error-control [control]="f.controls['nroIndividuos']"></mensaje-error-control>
      </div>
      <div class="col-12 form-group">
        <label for="nombreComun">Nombre Común:</label>
        <input
          formControlName="nombreComun"
          type="text"
          id="nombreComun"
          autocomplete="off"
          class="form-control contents_form_input"
          placeholder=""
          [readonly]="true"
        />
        <mensaje-error-control [control]="f.controls['nombreComun']"></mensaje-error-control>
      </div>
      <div class="col-12 form-group">
        <label for="nombreCientifico">Nombre Científico:</label>
        <input
          formControlName="nombreCientifico"
          type="text"
          id="nombreCientifico"
          number
          autocomplete="off"
          class="form-control contents_form_input"
          placeholder=""
          [readonly]="true"
        />
        <mensaje-error-control [control]="f.controls['nombreCientifico']"></mensaje-error-control>
      </div>
      <div class="col-12 form-group">
        <label for="nroArboles">N° de Árboles / Área Productiva (m2): *</label>
        <input
          mask="0*"
          formControlName="arbolesArea"
          type="text"
          id="nroArboles"
          number
          autocomplete="off"
          class="form-control contents_form_input"
          placeholder=""
          maxlength="10"
        />
        <mensaje-error-control [control]="f.controls['arbolesArea']"></mensaje-error-control>
      </div>

      <div class="col-12 form-group">
        <label for="producto">Producto: *</label>
        <input
          formControlName="producto"
          type="text"
          id="producto"
          autocomplete="off"
          class="form-control"
          maxlength="200"
          placeholder=""
        />
        <mensaje-error-control [control]="f.controls['producto']"></mensaje-error-control>
      </div>

      <div class="col-12 form-group">
        <label for="producLito">Produc. Aprovec (lt / arbl / kg / m2):</label>
        <input
          formControlName="productoAprovechamiento"
          mask="0*"
          type="text"
          id="producLito"
          autocomplete="off"
          class="form-control"
          placeholder=""
          maxlength="200"
        />
      </div>
      <div class="col-12 form-group">
        <label for="observaciones">Observaciones <small>(máx. 250 caract.)</small>: *</label>
        <textarea 
            style="resize: none;"
            formControlName="observaciones"
            id="observaciones"
            autocomplete="off" 
            class="form-control" cols="3" rows="4" 
            maxlength="250"
        >
        </textarea>
        <mensaje-error-control [control]="f.controls['observaciones']"></mensaje-error-control>
      </div>
    </form>
  <!--/ng-container-->
</div>
<div class="d-flex justify-content-end">
  <button class="btn btn-sm btn-primary2" (click)="guardar()">
    Guardar
  </button>
  <button class="btn btn-sm btn-secondary" (click)="cerrarModal()">
    Cancelar
  </button>
</div>
