<div class="form-group col-12">
  <label class="label"
    >Esta información será autocompletada del plan: N3.1.7: PMFI para Permisos
    de Aprovechamiento Forestal</label
  >
</div>

<div class="d-flex justify-content-end">
  <button
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
    [label]="'Aceptar'"
    class="p-button-success p-button-outlined"
    style="width: 106px"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
    style="width: 106px"
  ></button>
</div>
<p-toast></p-toast>
<p-toast position="top-right" key="tl"></p-toast>
