<div class="container-fluit">
  <div class="row m-0">
    <!-- Tabla Detalle Trozas -->
    <div class="col-12 form-group">
      <!-- <label class="label">Detalle de Listado de Trozas</label> -->
      <p-table [value]="detalleListaTrozas" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
      currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]" (onPageChange)="loadDataDetTroza($event)" [totalRecords]="detalleListaTrozas.length">
        <ng-template pTemplate="header">
          <tr>
            <th>N°</th>
            <th>Nombre Común</th>
            <th>Nombre Científico</th>
            <th>Tipo Producto</th>
            <th>Cantidad</th>
            <th>Presentación</th>
            <th>Código Troza</th>
            <th>Diámetro Mayor</th>
            <th>Diámetro Menor</th>
            <th>Longitud</th>
            <th>Volumen</th>
            <th>Unidad Medida</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fila let-rowIndex="rowIndex+1">
          <tr>
            <td>{{rowIndex}}</td>
            <td>{{fila.nombreComun}}</td>
            <td>{{fila.nombreCientifico}}</td>
            <td>{{fila.tipoProducto}}</td>
            <td>{{fila.cantidad}}</td>
            <td>{{fila.presentacion}}</td>
            <td>{{fila.idTalaDet}}</td>
            <td>{{fila.diametroMa}}</td>
            <td>{{fila.diametroMe}}</td>
            <td>{{fila.longitud}}</td>
            <td>{{fila.volumen}}</td>
            <td>{{fila.unidadMedida}}</td>
          </tr>
        </ng-template>
      </p-table>
      <!-- <p-paginator [rows]="10" [totalRecords]="totalRecordsDetTroza" (onPageChange)="loadDataDetTroza($event)"
        [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros">
      </p-paginator> -->
    </div>

    <div class="col-12 mt-4 text-right">
      <button class="p-button-danger p-button-outlined" type="button" icon="pi pi-times" pButton pRipple
        label="Cancelar" (click)="btnCancelar()"></button>
    </div>
  </div>
</div>