<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12 p-0">
      <div class="col-12 mt-4 mb-3" *ngIf="showTable">
        <p-table [value]="historico">
          <ng-template pTemplate="header">
            <tr>
              <th>Fuente</th>
              <th>Documento Registrado</th>
              <th>Fecha de Registro</th>
              <th>Observaciones</th>
              <th>Observaciones</th>
              <th>Fecha Registo Plan</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <tr>
              <td>{{ data.nombres }} {{ data.apellidos }}</td>
              <td>{{ data.numeroLicencia }}</td>
              <td>{{ data.numeroDocumento }}</td>
              <td>{{ data.domicilioLegal }}</td>
              <td>{{ data.domicilioLegal }}</td>
              <td>{{ data.domicilioLegal }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
