<div class="row m-0">
    <div class="col-12">

        <p-table [value]="infraccionesList" responsiveLayout="scroll" [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros"
        [rowsPerPageOptions]="[10, 25, 50]" [totalRecords]="infraccionesList.length">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 300px;">Infracción</th>
                    <th>Calificación</th>
                    <th>Sanción No Monetaria</th>
                    <th>Sanción Monetaria</th>
                    <th>Subsanable / Forma de Subsanar</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-i="rowIndex">
                <tr>
                    <td>
                        {{data.infraccion}}
                    </td>
                    <td>
                        {{data.calificacion}}
                    </td>
                    <td>
                        {{data.sancionNoMonetaria}}
                    </td>
                    <td>
                        {{data.sancionMonetaria}}
                    </td>
                    <td>
                        {{data.subsanable}}
                    </td>
                </tr>
            </ng-template>
        </p-table>



        <br>
        <br>

        <button class="btn btn-sm btn-primary2" (click)="abrirModal()" [disabled]="disabled">Cuadro de Infracciones y
            Sanciones de Materia
            Forestal</button>

    </div>
</div>


<p-dialog header="Infracciones y Sanciones en Materia Forestal" [(visible)]="display" [style]="{width: '90vw'}">

    <ng-template pTemplate="content">
        <div class="row">
            <div class="col-12">
                <p-table [value]="infracciones" responsiveLayout="scroll" [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registros"
                [rowsPerPageOptions]="[10, 25, 50]" [totalRecords]="infracciones.length">
                    <ng-template pTemplate="header">
                        <tr>
                            <th></th>
                            <th>N°</th>
                            <th>Infracción</th>
                            <th>Calificación</th>
                            <th>Sanción No Monetaria</th>
                            <th>Sanción Monetaria</th>
                            <th>Subsanable / Forma de Subsanar</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data let-i="rowIndex">
                        <tr>
                            <td>
                                <p-checkbox [(ngModel)]="data.selected" [binary]="true"></p-checkbox>
                            </td>
                            <td>{{i+1}}</td>
                            <td>
                                {{data.infraccion}}
                            </td>
                            <td>
                                {{data.calificacion}}
                            </td>
                            <td>
                                {{data.sancionNoMonetaria}}
                            </td>
                            <td>
                                {{data.sancionMonetaria}}
                            </td>
                            <td>
                                {{data.subsanable}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </div>
    </ng-template>


    <ng-template pTemplate="footer">

        <button icon="pi pi-save" (click)="guardar()" pButton pRipple type="button" label="Aceptar"
            class="p-button-success p-button-outlined"></button>
        <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
            class="p-button-danger p-button-outlined"></button>
    </ng-template>


</p-dialog>
