<div>
    <div class="col-12 mt-4 mb-3">

        <h4 class="title2">Descripcion </h4>
        <div class="col-12">
            <div class="form-group">
                <textarea class="form-control" rows="4"  style="resize: none;"></textarea>
            </div>
        </div>
        <br>
        <h4 class="title2">Adjuntar Archivo </h4>
        
        <div class="input-group-k file">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="pi pi-upload"></i>
            </span>
            </div>
            <input
            type="file"
            readonly="readonly"
            class="form-control form-control-sm bg-gray"
            />
        </div>
        </div>
    </div>
    <br>

    <div class="step__btn mt-4">
        <button class="btn-primary2">Enviar</button>
    </div>
</div>