<div class="container-fluit mb-4">
  <div class="row m-0">
    <div class="col-12 pt-3 mb-2">
      <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
    </div>
    <div class="col-12 pt-3">
      <h3 class="title fz-17">
        CRITERIOS DE EVALUACION Y CALIFICACION DE LA PROPUESTA TÉCNICA PARA EL
        MANEJO DEL ÁREA
      </h3>
    </div>
  </div>
  <div class="row m-0 justify-content-center">
    <div class="col-12 col-sm-8">
      <div class="row m-0">
        <div class="col-12 mt-4 pt-4">
          <h3 class="title2">
            I. EXPERIENCIA EN LA ACTIVIDAD FORESTAL/NEGOCIOS
          </h3>
        </div>
        <div class="col-12">
          <table>
            <thead>
              <tr>
                <th>CRITERIO</th>
                <th style="width: 100px">PUNTAJE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left"><b class="fz-11">1. Experiencia</b></td>
                <td><b class="fz-11">Hasta 10 Pts.</b></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left">
                  1.1 En la actividad de negocios forestales en los últimos 05
                  años <br />
                  <i class="fz-9" style="color: #6b6b6b"
                    >Un punto por año (Máx. 5 Pts.)</i
                  >
                </td>
                <td>
                  <p-inputNumber
                    (onBlur)="onInputExperiencia(evaluar.puntaje11, 1)"
                    (onInput)="onInputExperiencia($event, 1)"
                    [disabled]="isEdit"
                    [(ngModel)]="evaluar.puntaje11"
                    [styleClass]="stylesClass.w100px"
                    [min]="0"
                    [max]="5"
                  >
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  1.2 En la actividad forestal (En los últimos 05 años) <br />
                  <i class="fz-9" style="color: #6b6b6b"
                    >Un punto por año de experiencia (Máx.5 Pts.)</i
                  >
                </td>
                <td>
                  <p-inputNumber
                    (onBlur)="onInputExperiencia(evaluar.puntaje12, 2)"
                    (onInput)="onInputExperiencia($event, 2)"
                    [disabled]="isEdit"
                    [(ngModel)]="evaluar.puntaje12"
                    [styleClass]="stylesClass.w100px"
                    [maxlength]="1"
                    [min]="0"
                    [max]="5"
                  ></p-inputNumber>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-12 mt-4 pt-4">
          <h3 class="title2">II. ASISTENCIA TÉCNICA</h3>
        </div>
        <div class="col-12">
          <table>
            <thead>
              <tr>
                <th>CRITERIO</th>
                <th style="width: 100px">PUNTAJE</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left">
                  <b class="fz-11">2. Asistencia Técnica</b>
                </td>
                <td><b class="fz-11">Hasta 10 Pts.</b></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left">2.1 Regente forestal</td>
                <td>
                  <p-inputNumber
                    (onBlur)="onInputAsistenciaTecnica(evaluar.puntaje21, 1)"
                    (onInput)="onInputAsistenciaTecnica($event, 1)"
                    [(ngModel)]="evaluar.puntaje21"
                    [disabled]="asisTec == 2 || asisTec == 0"
                    [styleClass]="stylesClass.w100px"
                    [maxlength]="2"
                    [min]="0"
                    [max]="10"
                  ></p-inputNumber>
                </td>
                <td>
                  <div class="p-field-radiobutton">
                    <p-radioButton
                      [disabled]="isEdit"
                      (onClick)="asisTecSelected($event)"
                      name="asisTec"
                      [value]="1"
                      [(ngModel)]="asisTec"
                    >
                    </p-radioButton>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  2.2 Regente forestal más equipo técnico especializado
                </td>
                <td>
                  <p-inputNumber
                    [(ngModel)]="evaluar.puntaje22"
                    (onBlur)="onInputAsistenciaTecnica(evaluar.puntaje22, 2)"
                    (onInput)="onInputAsistenciaTecnica($event, 2)"
                    [disabled]="asisTec == 1 || asisTec == 0"
                    [styleClass]="stylesClass.w100px"
                    [maxlength]="2"
                    [min]="0"
                    [max]="10"
                  ></p-inputNumber>
                </td>
                <td>
                  <div class="p-field-radiobutton">
                    <p-radioButton
                      [disabled]="isEdit"
                      (onClick)="asisTecSelected($event)"
                      name="asisTec"
                      [value]="2"
                      [(ngModel)]="asisTec"
                    >
                    </p-radioButton>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-12 mt-4 pt-4">
          <h3 class="title2">III. CAPACIDAD INSTALADA</h3>
        </div>
        <div class="col-12">
          <table>
            <thead>
              <tr>
                <th>CRITERIO</th>
                <th colspan="3" style="width: 100px">PUNTAJE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td rowspan="2" class="text-left">
                  <b class="fz-11"
                    >3.1 Maquinaria y Equipo de Manejo y Aprovechamiento</b
                  >
                </td>
                <td colspan="3"><b class="fz-11">Hasta 18 Pts.</b></td>
              </tr>
              <tr>
                <td>Adecuado a las metas de producción</td>
                <td>No es adecuado a las metas de producción</td>
                <td>No tiene</td>
              </tr>

              <tr>
                <td class="text-left">3.1.1 De corta</td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeAdecMeta311"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeAdecMeta311, 1)
                      "
                      (onInput)="onInputMaquinaria($event, 1)"
                      [disabled]="
                        evaluar.puntajeNoAdecMeta311 != null ||
                        evaluar.puntajeNoTiene311 != null
                      "
                      [styleClass]="stylesClass.w100px"
                      [maxlength]="1"
                      [min]="0"
                      [max]="3"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoAdecMeta311"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeNoAdecMeta311, 1)
                      "
                      (onInput)="onInputMaquinaria($event, 2)"
                      [disabled]="
                        evaluar.puntajeAdecMeta311 != null ||
                        evaluar.puntajeNoTiene311 != null
                      "
                      [styleClass]="stylesClass.w100px"
                      [maxlength]="2"
                      [min]="0"
                      [max]="11"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoTiene311"
                      [disabled]="
                        evaluar.puntajeAdecMeta311 != null ||
                        evaluar.puntajeNoAdecMeta311 != null
                      "
                      [options]="combo__0"
                      optionValue="value"
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-left">3.1.2 De arrastre</td>
                <td>Hasta 5 Pts.</td>
                <td>Hasta 2 Pts.</td>
                <td>----</td>
              </tr>
              <tr>
                <td class="text-left">
                  <div class="fz-11 ml-3">3.1.2.1 Mecánico propio</div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeAdecMeta3121"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeAdecMeta3121, 3)
                      "
                      (onInput)="onInputMaquinaria($event, 3)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeNoAdecMeta3121 != null ||
                        evaluar.puntajeNoTiene3121 != null ||
                        evaluar.puntajeAdecMeta3122 != null ||
                        evaluar.puntajeNoAdecMeta3122 != null ||
                        evaluar.puntajeNoTiene3122 != null ||
                        evaluar.puntajeAdecMeta3123 != null ||
                        evaluar.puntajeNoAdecMeta3123 != null ||
                        evaluar.puntajeNoTiene3123 != null
                      "
                      [maxlength]="2"
                      [min]="0"
                      [max]="5"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoAdecMeta3121"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeNoAdecMeta3121, 4)
                      "
                      (onInput)="onInputMaquinaria($event, 4)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeAdecMeta3121 != null ||
                        evaluar.puntajeNoTiene3121 != null ||
                        evaluar.puntajeAdecMeta3122 != null ||
                        evaluar.puntajeNoAdecMeta3122 != null ||
                        evaluar.puntajeNoTiene3122 != null ||
                        evaluar.puntajeAdecMeta3123 != null ||
                        evaluar.puntajeNoAdecMeta3123 != null ||
                        evaluar.puntajeNoTiene3123 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="2"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoTiene3121"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeAdecMeta3121 != null ||
                        evaluar.puntajeNoAdecMeta3121 != null ||
                        evaluar.puntajeAdecMeta3122 != null ||
                        evaluar.puntajeNoAdecMeta3122 != null ||
                        evaluar.puntajeNoTiene3122 != null ||
                        evaluar.puntajeAdecMeta3123 != null ||
                        evaluar.puntajeNoAdecMeta3123 != null ||
                        evaluar.puntajeNoTiene3123 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  <div class="fz-11 ml-3">3.1.2.2 Mecánico alquilado</div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeAdecMeta3122"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeAdecMeta3122, 5)
                      "
                      (onInput)="onInputMaquinaria($event, 5)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeNoAdecMeta3122 != null ||
                        evaluar.puntajeNoTiene3122 != null ||
                        evaluar.puntajeAdecMeta3121 != null ||
                        evaluar.puntajeNoAdecMeta3121 != null ||
                        evaluar.puntajeNoTiene3121 != null ||
                        evaluar.puntajeAdecMeta3123 != null ||
                        evaluar.puntajeNoAdecMeta3123 != null ||
                        evaluar.puntajeNoTiene3123 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="5"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoAdecMeta3122"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeNoAdecMeta3122, 6)
                      "
                      (onInput)="onInputMaquinaria($event, 6)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeAdecMeta3122 != null ||
                        evaluar.puntajeNoTiene3122 != null ||
                        evaluar.puntajeAdecMeta3121 != null ||
                        evaluar.puntajeNoAdecMeta3121 != null ||
                        evaluar.puntajeNoTiene3121 != null ||
                        evaluar.puntajeAdecMeta3123 != null ||
                        evaluar.puntajeNoAdecMeta3123 != null ||
                        evaluar.puntajeNoTiene3123 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="2"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoTiene3122"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeAdecMeta3122 != null ||
                        evaluar.puntajeNoAdecMeta3122 != null ||
                        evaluar.puntajeAdecMeta3121 != null ||
                        evaluar.puntajeNoAdecMeta3121 != null ||
                        evaluar.puntajeNoTiene3121 != null ||
                        evaluar.puntajeAdecMeta3123 != null ||
                        evaluar.puntajeNoAdecMeta3123 != null ||
                        evaluar.puntajeNoTiene3123 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  <div class="fz-11 ml-3">3.1.2.3 Manual propio</div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeAdecMeta3123"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeAdecMeta3123, 7)
                      "
                      (onInput)="onInputMaquinaria($event, 7)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeNoAdecMeta3123 != null ||
                        evaluar.puntajeNoTiene3123 != null ||
                        evaluar.puntajeAdecMeta3121 != null ||
                        evaluar.puntajeNoAdecMeta3121 != null ||
                        evaluar.puntajeNoTiene3121 != null ||
                        evaluar.puntajeAdecMeta3122 != null ||
                        evaluar.puntajeNoAdecMeta3122 != null ||
                        evaluar.puntajeNoTiene3122 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="5"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoAdecMeta3123"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeNoAdecMeta3123, 8)
                      "
                      (onInput)="onInputMaquinaria($event, 8)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeAdecMeta3123 != null ||
                        evaluar.puntajeNoTiene3123 != null ||
                        evaluar.puntajeAdecMeta3121 != null ||
                        evaluar.puntajeNoAdecMeta3121 != null ||
                        evaluar.puntajeNoTiene3121 != null ||
                        evaluar.puntajeAdecMeta3122 != null ||
                        evaluar.puntajeNoAdecMeta3122 != null ||
                        evaluar.puntajeNoTiene3122 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="2"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoTiene3123"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeAdecMeta3123 != null ||
                        evaluar.puntajeNoAdecMeta3123 != null ||
                        evaluar.puntajeAdecMeta3121 != null ||
                        evaluar.puntajeNoAdecMeta3121 != null ||
                        evaluar.puntajeNoTiene3121 != null ||
                        evaluar.puntajeAdecMeta3122 != null ||
                        evaluar.puntajeNoAdecMeta3122 != null ||
                        evaluar.puntajeNoTiene3122 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="text-left">3.1.3 De transporte</td>
                <td>Hasta 5 Pts.</td>
                <td>Hasta 3 Pts.</td>
                <td>----</td>
              </tr>
              <tr>
                <td class="text-left">
                  <div class="fz-11 ml-3">3.1.3.1 Propio</div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeAdecMeta3131"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeAdecMeta3131, 9)
                      "
                      (onInput)="onInputMaquinaria($event, 9)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeNoAdecMeta3131 != null ||
                        evaluar.puntajeNoTiene3131 != null ||
                        evaluar.puntajeAdecMeta3132 != null ||
                        evaluar.puntajeNoAdecMeta3132 != null ||
                        evaluar.puntajeNoTiene3132 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="5"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoAdecMeta3131"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeNoAdecMeta3131, 10)
                      "
                      (onInput)="onInputMaquinaria($event, 10)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeAdecMeta3131 != null ||
                        evaluar.puntajeNoTiene3131 != null ||
                        evaluar.puntajeAdecMeta3132 != null ||
                        evaluar.puntajeNoAdecMeta3132 != null ||
                        evaluar.puntajeNoTiene3132 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="3"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoTiene3131"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeAdecMeta3131 != null ||
                        evaluar.puntajeNoAdecMeta3131 != null ||
                        evaluar.puntajeAdecMeta3132 != null ||
                        evaluar.puntajeNoAdecMeta3132 != null ||
                        evaluar.puntajeNoTiene3132 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  <div class="fz-11 ml-3">3.1.3.2 Alquilado</div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeAdecMeta3132"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeAdecMeta3132, 11)
                      "
                      (onInput)="onInputMaquinaria($event, 11)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeNoAdecMeta3132 != null ||
                        evaluar.puntajeNoTiene3132 != null ||
                        evaluar.puntajeAdecMeta3131 != null ||
                        evaluar.puntajeNoAdecMeta3131 != null ||
                        evaluar.puntajeNoTiene3131 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="5"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoAdecMeta3132"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeNoAdecMeta3132, 12)
                      "
                      (onInput)="onInputMaquinaria($event, 12)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeAdecMeta3132 != null ||
                        evaluar.puntajeNoTiene3132 != null ||
                        evaluar.puntajeAdecMeta3131 != null ||
                        evaluar.puntajeNoAdecMeta3131 != null ||
                        evaluar.puntajeNoTiene3131 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="3"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoTiene3132"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeAdecMeta3132 != null ||
                        evaluar.puntajeNoAdecMeta3132 != null ||
                        evaluar.puntajeAdecMeta3131 != null ||
                        evaluar.puntajeNoAdecMeta3131 != null ||
                        evaluar.puntajeNoTiene3131 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="text-left">
                  3.1.4 De construcción de caminos/viales
                </td>
                <td>Hasta 5 Pts.</td>
                <td>Hasta 2 Pts.</td>
                <td>----</td>
              </tr>
              <tr>
                <td class="text-left">
                  <div class="fz-11 ml-3">3.1.4.1 Propio</div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeAdecMeta3141"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeAdecMeta3141, 13)
                      "
                      (onInput)="onInputMaquinaria($event, 13)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeNoAdecMeta3141 != null ||
                        evaluar.puntajeNoTiene3141 != null ||
                        evaluar.puntajeAdecMeta3142 != null ||
                        evaluar.puntajeNoAdecMeta3142 != null ||
                        evaluar.puntajeNoTiene3142 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="5"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoAdecMeta3141"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeNoAdecMeta3141, 14)
                      "
                      (onInput)="onInputMaquinaria($event, 14)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeAdecMeta3141 != null ||
                        evaluar.puntajeNoTiene3141 != null ||
                        evaluar.puntajeAdecMeta3142 != null ||
                        evaluar.puntajeNoAdecMeta3142 != null ||
                        evaluar.puntajeNoTiene3142 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="2"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoTiene3141"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeNoAdecMeta3141 != null ||
                        evaluar.puntajeAdecMeta3141 != null ||
                        evaluar.puntajeAdecMeta3142 != null ||
                        evaluar.puntajeNoAdecMeta3142 != null ||
                        evaluar.puntajeNoTiene3142 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  <div class="fz-11 ml-3">3.1.4.2 Alquilado</div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeAdecMeta3142"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeAdecMeta3142, 15)
                      "
                      (onInput)="onInputMaquinaria($event, 15)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeNoAdecMeta3142 != null ||
                        evaluar.puntajeNoTiene3142 != null ||
                        evaluar.puntajeAdecMeta3141 != null ||
                        evaluar.puntajeNoAdecMeta3141 != null ||
                        evaluar.puntajeNoTiene3141 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="5"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoAdecMeta3142"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeNoAdecMeta3142, 16)
                      "
                      (onInput)="onInputMaquinaria($event, 16)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeAdecMeta3142 != null ||
                        evaluar.puntajeNoTiene3142 != null ||
                        evaluar.puntajeAdecMeta3141 != null ||
                        evaluar.puntajeNoAdecMeta3141 != null ||
                        evaluar.puntajeNoTiene3141 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="2"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoTiene3142"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeNoAdecMeta3142 != null ||
                        evaluar.puntajeAdecMeta3142 != null ||
                        evaluar.puntajeAdecMeta3141 != null ||
                        evaluar.puntajeNoAdecMeta3141 != null ||
                        evaluar.puntajeNoTiene3141 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td rowspan="2" class="text-left">
                  <b class="fz-11"
                    >3.2. Maquinaria y Equipos de Transformación</b
                  >
                </td>
                <td colspan="3"><b class="fz-11">Hasta 12 Pts.</b></td>
              </tr>
              <tr>
                <td>Adecuado a las metas de producción</td>
                <td>No es adecuado a las metas de producción</td>
                <td>No tiene</td>
              </tr>

              <tr>
                <td class="text-left">3.2.1 Transformación Primaria</td>
                <td>Hasta 6 Pts.</td>
                <td>Hasta 3 Pts.</td>
                <td>----</td>
              </tr>
              <tr>
                <td class="text-left">
                  <div class="fz-11 ml-3">3.2.1.1 Fijo propio</div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeAdecMeta3211"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeAdecMeta3211, 17)
                      "
                      (onInput)="onInputMaquinaria($event, 17)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeNoAdecMeta3211 != null ||
                        evaluar.puntajeNoTiene3211 != null ||
                        evaluar.puntajeAdecMeta3212 != null ||
                        evaluar.puntajeNoAdecMeta3212 != null ||
                        evaluar.puntajeNoTiene3212 != null ||
                        evaluar.puntajeAdecMeta3213 != null ||
                        evaluar.puntajeNoAdecMeta3213 != null ||
                        evaluar.puntajeNoTiene3213 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="6"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoAdecMeta3211"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeNoAdecMeta3211, 18)
                      "
                      (onInput)="onInputMaquinaria($event, 18)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeAdecMeta3211 != null ||
                        evaluar.puntajeNoTiene3211 != null ||
                        evaluar.puntajeAdecMeta3212 != null ||
                        evaluar.puntajeNoAdecMeta3212 != null ||
                        evaluar.puntajeNoTiene3212 != null ||
                        evaluar.puntajeAdecMeta3213 != null ||
                        evaluar.puntajeNoAdecMeta3213 != null ||
                        evaluar.puntajeNoTiene3213 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="3"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoTiene3211"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeNoAdecMeta3211 != null ||
                        evaluar.puntajeAdecMeta3211 != null ||
                        evaluar.puntajeAdecMeta3212 != null ||
                        evaluar.puntajeNoAdecMeta3212 != null ||
                        evaluar.puntajeNoTiene3212 != null ||
                        evaluar.puntajeAdecMeta3213 != null ||
                        evaluar.puntajeNoAdecMeta3213 != null ||
                        evaluar.puntajeNoTiene3213 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  <div class="fz-11 ml-3">3.2.1.2 Fijo alquilado</div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeAdecMeta3212"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeAdecMeta3212, 19)
                      "
                      (onInput)="onInputMaquinaria($event, 19)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeNoAdecMeta3212 != null ||
                        evaluar.puntajeNoTiene3212 != null ||
                        evaluar.puntajeAdecMeta3211 != null ||
                        evaluar.puntajeNoAdecMeta3211 != null ||
                        evaluar.puntajeNoTiene3211 != null ||
                        evaluar.puntajeAdecMeta3213 != null ||
                        evaluar.puntajeNoAdecMeta3213 != null ||
                        evaluar.puntajeNoTiene3213 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="6"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoAdecMeta3212"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeNoAdecMeta3212, 20)
                      "
                      (onInput)="onInputMaquinaria($event, 20)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeAdecMeta3212 != null ||
                        evaluar.puntajeNoTiene3212 != null ||
                        evaluar.puntajeAdecMeta3211 != null ||
                        evaluar.puntajeNoAdecMeta3211 != null ||
                        evaluar.puntajeNoTiene3211 != null ||
                        evaluar.puntajeAdecMeta3213 != null ||
                        evaluar.puntajeNoAdecMeta3213 != null ||
                        evaluar.puntajeNoTiene3213 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="3"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoTiene3212"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeNoAdecMeta3212 != null ||
                        evaluar.puntajeAdecMeta3212 != null ||
                        evaluar.puntajeAdecMeta3211 != null ||
                        evaluar.puntajeNoAdecMeta3211 != null ||
                        evaluar.puntajeNoTiene3211 != null ||
                        evaluar.puntajeAdecMeta3213 != null ||
                        evaluar.puntajeNoAdecMeta3213 != null ||
                        evaluar.puntajeNoTiene3213 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  <div class="fz-11 ml-3">3.2.1.3 Portátil propio</div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeAdecMeta3213"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeAdecMeta3213, 21)
                      "
                      (onInput)="onInputMaquinaria($event, 21)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeNoAdecMeta3213 != null ||
                        evaluar.puntajeNoTiene3213 != null ||
                        evaluar.puntajeAdecMeta3211 != null ||
                        evaluar.puntajeNoAdecMeta3211 != null ||
                        evaluar.puntajeNoTiene3211 != null ||
                        evaluar.puntajeAdecMeta3212 != null ||
                        evaluar.puntajeNoAdecMeta3212 != null ||
                        evaluar.puntajeNoTiene3212 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="6"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoAdecMeta3213"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeNoAdecMeta3213, 22)
                      "
                      (onInput)="onInputMaquinaria($event, 22)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeAdecMeta3213 != null ||
                        evaluar.puntajeNoTiene3213 != null ||
                        evaluar.puntajeAdecMeta3211 != null ||
                        evaluar.puntajeNoAdecMeta3211 != null ||
                        evaluar.puntajeNoTiene3211 != null ||
                        evaluar.puntajeAdecMeta3212 != null ||
                        evaluar.puntajeNoAdecMeta3212 != null ||
                        evaluar.puntajeNoTiene3212 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="3"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoTiene3213"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeNoAdecMeta3213 != null ||
                        evaluar.puntajeAdecMeta3213 != null ||
                        evaluar.puntajeAdecMeta3211 != null ||
                        evaluar.puntajeNoAdecMeta3211 != null ||
                        evaluar.puntajeNoTiene3211 != null ||
                        evaluar.puntajeAdecMeta3212 != null ||
                        evaluar.puntajeNoAdecMeta3212 != null ||
                        evaluar.puntajeNoTiene3212 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="text-left">3.2.2 Transformación Secundaria</td>
                <td>Hasta 6 Pts.</td>
                <td>Hasta 3 Pts.</td>
                <td>----</td>
              </tr>
              <tr>
                <td class="text-left">
                  <div class="fz-11 ml-3">3.2.2.1 Fijo propio</div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeAdecMeta3221"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeAdecMeta3221, 23)
                      "
                      (onInput)="onInputMaquinaria($event, 23)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeNoAdecMeta3221 != null ||
                        evaluar.puntajeNoTiene3221 != null ||
                        evaluar.puntajeAdecMeta3222 != null ||
                        evaluar.puntajeNoAdecMeta3222 != null ||
                        evaluar.puntajeNoTiene3222 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="6"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoAdecMeta3221"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeNoAdecMeta3221, 24)
                      "
                      (onInput)="onInputMaquinaria($event, 24)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeAdecMeta3221 != null ||
                        evaluar.puntajeNoTiene3221 != null ||
                        evaluar.puntajeAdecMeta3222 != null ||
                        evaluar.puntajeNoAdecMeta3222 != null ||
                        evaluar.puntajeNoTiene3222 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="3"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoTiene3221"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeNoAdecMeta3221 != null ||
                        evaluar.puntajeAdecMeta3221 != null ||
                        evaluar.puntajeAdecMeta3222 != null ||
                        evaluar.puntajeNoAdecMeta3222 != null ||
                        evaluar.puntajeNoTiene3222 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  <div class="fz-11 ml-3">3.2.2.2 Fijo alquilado</div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeAdecMeta3222"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeAdecMeta3222, 25)
                      "
                      (onInput)="onInputMaquinaria($event, 25)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeNoAdecMeta3222 != null ||
                        evaluar.puntajeNoTiene3222 != null ||
                        evaluar.puntajeAdecMeta3221 != null ||
                        evaluar.puntajeNoAdecMeta3221 != null ||
                        evaluar.puntajeNoTiene3221 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="6"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoAdecMeta3222"
                      (onBlur)="
                        onInputMaquinaria(evaluar.puntajeNoAdecMeta3222, 26)
                      "
                      (onInput)="onInputMaquinaria($event, 26)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeAdecMeta3222 != null ||
                        evaluar.puntajeNoTiene3222 != null ||
                        evaluar.puntajeAdecMeta3221 != null ||
                        evaluar.puntajeNoAdecMeta3221 != null ||
                        evaluar.puntajeNoTiene3221 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="3"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoTiene3222"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeNoAdecMeta3222 != null ||
                        evaluar.puntajeAdecMeta3222 != null ||
                        evaluar.puntajeAdecMeta3221 != null ||
                        evaluar.puntajeNoAdecMeta3221 != null ||
                        evaluar.puntajeNoTiene3221 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-12 mt-4 pt-4">
          <h3 class="title2">IV. PLAN DE TRABAJO</h3>
        </div>
        <div class="col-12">
          <table>
            <thead>
              <tr>
                <th>CRITERIO</th>
                <th colspan="3" style="width: 100px">PUNTAJE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td rowspan="2" class="text-left">
                  <b class="fz-11">4.1. Información Técnica</b>
                </td>
                <td colspan="3"><b class="fz-11">Hasta 31 Pts.</b></td>
              </tr>
              <tr>
                <td>Coherente con las metas de producción</td>
                <td>No es coherente con las metas de producción</td>
                <td>No consigna información</td>
              </tr>

              <tr>
                <td class="text-left">4.1.1 Concepción integral</td>
                <td>Hasta 4 Pts.</td>
                <td>Hasta 3 Pts.</td>
                <td>----</td>
              </tr>
              <tr>
                <td class="text-left">
                  <div class="fz-11 ml-3">4.1.1.1 Objetivos</div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeCoherente4111"
                      (onBlur)="
                        onInputInformacionTecnica(
                          evaluar.puntajeCoherente4111,
                          1
                        )
                      "
                      (onInput)="onInputInformacionTecnica($event, 1)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeNoCoherente4111 != null ||
                        evaluar.puntajeNoConsigna4111 != null ||
                        evaluar.puntajeCoherente4112 != null ||
                        evaluar.puntajeNoCoherente4112 != null ||
                        evaluar.puntajeNoConsigna4112 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="4"
                    >
                    </p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoCoherente4111"
                      (onBlur)="
                        onInputInformacionTecnica(
                          evaluar.puntajeNoCoherente4111,
                          2
                        )
                      "
                      (onInput)="onInputInformacionTecnica($event, 2)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeCoherente4111 != null ||
                        evaluar.puntajeNoConsigna4111 != null ||
                        evaluar.puntajeCoherente4112 != null ||
                        evaluar.puntajeNoCoherente4112 != null ||
                        evaluar.puntajeNoConsigna4112 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="3"
                    >
                    </p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoConsigna4111"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeNoCoherente4111 != null ||
                        evaluar.puntajeCoherente4111 != null ||
                        evaluar.puntajeCoherente4112 != null ||
                        evaluar.puntajeNoCoherente4112 != null ||
                        evaluar.puntajeNoConsigna4112 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  <div class="fz-11 ml-3">4.1.1.2 Zonificación</div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeCoherente4112"
                      (onBlur)="
                        onInputInformacionTecnica(
                          evaluar.puntajeCoherente4112,
                          3
                        )
                      "
                      (onInput)="onInputInformacionTecnica($event, 3)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeNoCoherente4112 != null ||
                        evaluar.puntajeNoConsigna4112 != null ||
                        evaluar.puntajeCoherente4111 != null ||
                        evaluar.puntajeNoCoherente4111 != null ||
                        evaluar.puntajeNoConsigna4111 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="4"
                    >
                    </p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoCoherente4112"
                      (onBlur)="
                        onInputInformacionTecnica(
                          evaluar.puntajeNoCoherente4112,
                          4
                        )
                      "
                      (onInput)="onInputInformacionTecnica($event, 4)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeCoherente4112 != null ||
                        evaluar.puntajeNoConsigna4112 != null ||
                        evaluar.puntajeCoherente4111 != null ||
                        evaluar.puntajeNoCoherente4111 != null ||
                        evaluar.puntajeNoConsigna4111 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="3"
                    >
                    </p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoConsigna4112"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeNoCoherente4112 != null ||
                        evaluar.puntajeCoherente4112 != null ||
                        evaluar.puntajeCoherente4111 != null ||
                        evaluar.puntajeNoCoherente4111 != null ||
                        evaluar.puntajeNoConsigna4111 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="text-left">4.1.2 Metas de aprovechamiento</td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeCoherente412"
                      (onBlur)="
                        onInputInformacionTecnica(
                          evaluar.puntajeCoherente412,
                          5
                        )
                      "
                      (onInput)="onInputInformacionTecnica($event, 5)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeNoCoherente412 != null ||
                        evaluar.puntajeNoConsigna412 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="4"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoCoherente412"
                      (onBlur)="
                        onInputInformacionTecnica(
                          evaluar.puntajeNoCoherente412,
                          6
                        )
                      "
                      (onInput)="onInputInformacionTecnica($event, 6)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeCoherente412 != null ||
                        evaluar.puntajeNoConsigna412 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="3"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoConsigna412"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeNoCoherente412 != null ||
                        evaluar.puntajeCoherente412 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  4.1.3 Especies a aprovechar y líneas de producción
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeCoherente413"
                      (onBlur)="
                        onInputInformacionTecnica(
                          evaluar.puntajeCoherente413,
                          7
                        )
                      "
                      (onInput)="onInputInformacionTecnica($event, 7)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeNoCoherente413 != null ||
                        evaluar.puntajeNoConsigna413 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="4"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoCoherente413"
                      (onBlur)="
                        onInputInformacionTecnica(
                          evaluar.puntajeNoCoherente413,
                          8
                        )
                      "
                      (onInput)="onInputInformacionTecnica($event, 8)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeCoherente413 != null ||
                        evaluar.puntajeNoConsigna413 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="3"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoConsigna413"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeNoCoherente413 != null ||
                        evaluar.puntajeCoherente413 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-left">4.1.4 Equipo de aprovechamiento</td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeCoherente414"
                      (onBlur)="
                        onInputInformacionTecnica(
                          evaluar.puntajeCoherente414,
                          9
                        )
                      "
                      (onInput)="onInputInformacionTecnica($event, 9)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeNoCoherente414 != null ||
                        evaluar.puntajeNoConsigna414 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="4"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoCoherente414"
                      (onBlur)="
                        onInputInformacionTecnica(
                          evaluar.puntajeNoCoherente414,
                          10
                        )
                      "
                      (onInput)="onInputInformacionTecnica($event, 10)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeCoherente414 != null ||
                        evaluar.puntajeNoConsigna414 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="3"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoConsigna414"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeNoCoherente414 != null ||
                        evaluar.puntajeCoherente414 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-left">4.1.5 Impacto ambiental</td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeCoherente415"
                      (onBlur)="
                        onInputInformacionTecnica(
                          evaluar.puntajeCoherente415,
                          11
                        )
                      "
                      (onInput)="onInputInformacionTecnica($event, 11)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeNoCoherente415 != null ||
                        evaluar.puntajeNoConsigna415 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="4"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoCoherente415"
                      (onBlur)="
                        onInputInformacionTecnica(
                          evaluar.puntajeNoCoherente415,
                          12
                        )
                      "
                      (onInput)="onInputInformacionTecnica($event, 12)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeCoherente415 != null ||
                        evaluar.puntajeNoConsigna415 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="3"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoConsigna415"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeNoCoherente415 != null ||
                        evaluar.puntajeCoherente415 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-left">4.1.6 Prácticas silviculturales</td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeCoherente416"
                      (onBlur)="
                        onInputInformacionTecnica(
                          evaluar.puntajeCoherente416,
                          13
                        )
                      "
                      (onInput)="onInputInformacionTecnica($event, 13)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeNoCoherente416 != null ||
                        evaluar.puntajeNoConsigna416 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="4"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoCoherente416"
                      (onBlur)="
                        onInputInformacionTecnica(
                          evaluar.puntajeNoCoherente416,
                          14
                        )
                      "
                      (onInput)="onInputInformacionTecnica($event, 14)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeCoherente416 != null ||
                        evaluar.puntajeNoConsigna416 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="3"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoConsigna416"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeNoCoherente416 != null ||
                        evaluar.puntajeCoherente416 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  4.1.7 Aprovechamiento de impacto reducido
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeCoherente417"
                      (onBlur)="
                        onInputInformacionTecnica(
                          evaluar.puntajeCoherente417,
                          15
                        )
                      "
                      (onInput)="onInputInformacionTecnica($event, 15)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeNoCoherente417 != null ||
                        evaluar.puntajeNoConsigna417 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="4"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoCoherente417"
                      (onBlur)="
                        onInputInformacionTecnica(
                          evaluar.puntajeNoCoherente417,
                          16
                        )
                      "
                      (onInput)="onInputInformacionTecnica($event, 16)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeCoherente417 != null ||
                        evaluar.puntajeNoConsigna417 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="3"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoConsigna417"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeNoCoherente417 != null ||
                        evaluar.puntajeCoherente417 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  4.1.8 Integración de la cadena de producción
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeCoherente418"
                      (onBlur)="
                        onInputInformacionTecnica(
                          evaluar.puntajeCoherente418,
                          17
                        )
                      "
                      (onInput)="onInputInformacionTecnica($event, 17)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeNoCoherente418 != null ||
                        evaluar.puntajeNoConsigna418 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="4"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoCoherente418"
                      (onBlur)="
                        onInputInformacionTecnica(
                          evaluar.puntajeNoCoherente418,
                          18
                        )
                      "
                      (onInput)="onInputInformacionTecnica($event, 18)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeCoherente418 != null ||
                        evaluar.puntajeNoConsigna418 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="3"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoConsigna418"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeNoCoherente418 != null ||
                        evaluar.puntajeCoherente418 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-left">4.1.9 Producción no maderable</td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeCoherente419"
                      (onBlur)="
                        onInputInformacionTecnica(
                          evaluar.puntajeCoherente419,
                          19
                        )
                      "
                      (onInput)="onInputInformacionTecnica($event, 19)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeNoCoherente419 != null ||
                        evaluar.puntajeNoConsigna419 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="4"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoCoherente419"
                      (onBlur)="
                        onInputInformacionTecnica(
                          evaluar.puntajeNoCoherente419,
                          20
                        )
                      "
                      (onInput)="onInputInformacionTecnica($event, 20)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeCoherente419 != null ||
                        evaluar.puntajeNoConsigna419 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="3"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoConsigna419"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeNoCoherente419 != null ||
                        evaluar.puntajeCoherente419 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-left">4.1.10 Cronograma Primer año</td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeCoherente4110"
                      (onBlur)="
                        onInputInformacionTecnica(
                          evaluar.puntajeCoherente4110,
                          21
                        )
                      "
                      (onInput)="onInputInformacionTecnica($event, 21)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeNoCoherente4110 != null ||
                        evaluar.puntajeNoConsigna4110 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="4"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoCoherente4110"
                      (onBlur)="
                        onInputInformacionTecnica(
                          evaluar.puntajeNoCoherente4110,
                          22
                        )
                      "
                      (onInput)="onInputInformacionTecnica($event, 22)"
                      [styleClass]="stylesClass.w100px"
                      [disabled]="
                        evaluar.puntajeCoherente4110 != null ||
                        evaluar.puntajeNoConsigna4110 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="3"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoConsigna4110"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeNoCoherente4110 != null ||
                        evaluar.puntajeCoherente4110 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td rowspan="2" class="text-left">
                  <b class="fz-11">4.2 Información sobre negocios</b>
                </td>
                <td colspan="3"><b class="fz-11">Hasta 19 Pts.</b></td>
              </tr>
              <tr>
                <td>Coherente con las metas de producción</td>
                <td>No es coherente con las metas de producción</td>
                <td>No consigna información</td>
              </tr>

              <tr>
                <td class="text-left">
                  4.2.1 Estructura organizacional de la empresa.
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeCoherente421"
                      [styleClass]="stylesClass.w100px"
                      (onBlur)="sumarProyecto(1)"
                      (onInput)="onInputInformacionNegocios($event, 1)"
                      [disabled]="
                        evaluar.puntajeNoCoherente421 != null ||
                        evaluar.puntajeNoConsigna421 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="7"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoCoherente421"
                      [styleClass]="stylesClass.w100px"
                      (onBlur)="sumarProyecto(2)"
                      (onInput)="onInputInformacionNegocios($event, 2)"
                      [disabled]="
                        evaluar.puntajeCoherente421 != null ||
                        evaluar.puntajeNoConsigna421 != null
                      "
                      [maxlength]="2"
                      [min]="0"
                      [max]="13"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoConsigna421"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeNoCoherente421 != null ||
                        evaluar.puntajeCoherente421 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="text-left">4.2.2 Proyección de negocios</td>
                <td>Hasta 12 Pts.</td>
                <td>Hasta 6 Pts.</td>
                <td>----</td>
              </tr>
              <tr>
                <td class="text-left">
                  <div class="fz-11 ml-3">4.2.2.1 Estrategias de mercados</div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeCoherente4221"
                      [styleClass]="stylesClass.w100px"
                      (onBlur)="sumarProyecto(3)"
                      (onInput)="onInputInformacionNegocios($event, 3)"
                      [disabled]="
                        evaluar.puntajeNoCoherente4221 != null ||
                        evaluar.puntajeNoConsigna4221 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="12"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoCoherente4221"
                      [styleClass]="stylesClass.w100px"
                      (onBlur)="sumarProyecto(4)"
                      (onInput)="onInputInformacionNegocios($event, 4)"
                      [disabled]="
                        evaluar.puntajeCoherente4221 != null ||
                        evaluar.puntajeNoConsigna4221 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="6"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoConsigna4221"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeNoCoherente4221 != null ||
                        evaluar.puntajeCoherente4221 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  <div class="fz-11 ml-3">4.2.2.2 Estrategias de ventas</div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeCoherente4222"
                      [styleClass]="stylesClass.w100px"
                      (onBlur)="sumarProyecto(5)"
                      (onInput)="onInputInformacionNegocios($event, 5)"
                      [disabled]="
                        evaluar.puntajeNoCoherente4222 != null ||
                        evaluar.puntajeNoConsigna4222 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="12"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-inputNumber
                      [(ngModel)]="evaluar.puntajeNoCoherente4222"
                      [styleClass]="stylesClass.w100px"
                      (onBlur)="sumarProyecto(6)"
                      (onInput)="onInputInformacionNegocios($event, 6)"
                      [disabled]="
                        evaluar.puntajeCoherente4222 != null ||
                        evaluar.puntajeNoConsigna4222 != null
                      "
                      [maxlength]="1"
                      [min]="0"
                      [max]="6"
                    ></p-inputNumber>
                  </div>
                </td>
                <td>
                  <div class="{{ stylesClass.w100px }}">
                    <p-dropdown
                      [(ngModel)]="evaluar.puntajeNoConsigna4222"
                      [options]="combo__0"
                      optionValue="value"
                      [disabled]="
                        evaluar.puntajeNoCoherente4222 != null ||
                        evaluar.puntajeCoherente4222 != null
                      "
                      optionLabel="text"
                    ></p-dropdown>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row m-0 justify-content-center">
        <div class="col-12 col-sm-8 mt-4 pt-4">
          <table>
            <tbody>
              <tr>
                <td class="text-left">
                  <b class="fz-11">CALIFICACIÓN TOTAL</b>
                </td>
                <td><b class="fz-11">HASTA 100 PUNTOS</b></td>
              </tr>
              <tr *ngIf="adicional">
                <td><b class="fz-11">Primer Solicitante 10% Adicional</b></td>
                <td>
                  <p-inputNumber
                    [disabled]="true"
                    [(ngModel)]="montoAdicional"
                    [styleClass]="stylesClass.w100px"
                    [maxlength]="3"
                    [min]="0"
                    [max]="100"
                  >
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td><b class="fz-11">Calificación Total</b></td>
                <td>
                  <p-inputNumber
                    [(ngModel)]="calificacionTotal"
                    [styleClass]="stylesClass.w100px"
                    [maxlength]="3"
                    [min]="0"
                    [max]="100"
                    [disabled]="isEdit"
                  >
                  </p-inputNumber>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="!isEdit" class="col-12 mt-3 text-center">
          <button (click)="registrarNotas()" class="btn btn-primary2">
            Grabar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast position="bottom-center" key="tl"></p-toast>
