<label class="label fz-11">Ver Pdf &nbsp;</label>
<a type="button" class="pointer" title="Ver" (click)="verPDF()"><i class="pi pi-eye"></i></a>

<p-dialog
  header="Visor PDF" appendTo="body"
  [(visible)]="isShowModal2_2" [modal]="true" [style]="{ width: '60vw' }" [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="true">
  <ng-template pTemplate="content">

    <pdf-viewer [src]="pdfSrc"  [render-text]="true"  [original-size]="false"
                style="width: 800px; height: 500px"></pdf-viewer>

  </ng-template>
  <ng-template pTemplate="footer">
    <button icon="pi pi-times" (click)="isShowModal2_2 = false" pButton pRipple type="button" label="Cancelar" class="p-button-danger p-button-outlined"></button>
  </ng-template>
</p-dialog>
