<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="Formulario" [selected]="true">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12">
                <p-table [value]="listProcesos">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Item</th>
                      <th>Estado</th>
                      <th class="text-center">Conformidad</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data>
                    <tr>
                      <td class="text-left">{{ data.label }}</td>
                      <td
                        [ngClass]="{
                          class1: data.estado == 'Pendiente',
                          class2: data.estado == 'Terminado'
                        }"
                      >
                        {{ data.estado }}
                      </td>
                      <td class="text-center">
                        <p-checkbox
                          [(ngModel)]="data.marcar"
                          [binary]="true" [disabled]="disabled"
                          (onChange)="seleccionarFirma($event, data)"
                        ></p-checkbox>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
            <div class="step__btn mt-4">
              <button
                class="btn-primary2"
                (click)="guardarEstados()"
                [disabled]="disabled||
                  (isSubmittingFormulario$ | async) ||
                  (isLoadingFormulario$ | async)
                "
              >
                Guardar
              </button>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Plan Operativo" [selected]="false">
          <div class="col-12 p-0 mt-4">
            <div class="row m-0">
              <div class="col-12 col-sm-10">
                <div>
                  <label class="label fz-11 m-0"
                    >Descargar Plan Operativo</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-2">
                <button
                  class="btn btn-sm btn-secondary f-w"
                  type="button"
                  (click)="generarPOAC()"
                  [disabled]="verPOAC">
                  Descargar
                </button>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Plan operativo suscrito" [selected]="false">
          <div class="col-12 p-0 mt-4">
            <div class="row m-0">
              <div class="col-12 col-sm-8">
                <div>
                  <label class="label fz-11 m-0"
                    >Cargar Plan operativo suscrito</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <input-buttons-codigo
                  [label]="''"
                  [idPlanManejo]="idPlanManejo" [disabled]="disabled"
                  [idTipoDocumento]="'POACREPOS'"
                  [codigoProceso]="CodigoProceso.PLAN_OPERATIVO"
                  (registrarArchivoId)="registrarArchivoId($event)"
                >
                </input-buttons-codigo>
              </div>
            </div>
          </div>

        </p-accordionTab>

        <p-accordionTab header="Firma digital" [selected]="false">
          <div class="col-12 p-0 mt-4">
            <div class="row m-0 ">
              <div class="col-12 col-sm-8">
                <div>
                  <label class="m-0 mr-5 label"
                    >¿Cuenta con firma digital?</label
                  >
                  <div class="p-field-radiobutton">
                    <p-radioButton
                      name="selectAnexo4_3_2"
                      value="S" [disabled]="disabled"
                      inputId="Si"
                      [(ngModel)]="firma"
                      class="mr-2"
                    >
                    </p-radioButton>
                    <strong for="Si" >SI</strong>
                  </div>
                  <div class="p-field-radiobutton">
                    <p-radioButton
                      name="selectAnexo4_3_2"
                      value="N" [disabled]="disabled"
                      inputId="No"
                      [(ngModel)]="firma"
                      class="mr-2"
                    >
                    </p-radioButton>
                    <strong for="No">NO</strong>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-4" style="display: flex; justify-content: end;">
                <button
                  class="btn-primary2"
                  (click)="guardar()"
                  [disabled]="disabled||(isSubmittingInformacion$ | async)"
                >
                  Guardar
                </button>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Plan de Contingencia" [selected]="false">
          <div class="col-12 p-0 mt-4">
            <div class="row m-0">
              <div class="col-12 col-sm-8">
                <div>
                  <label class="label fz-11 m-0"
                    >Cargar Plan de Contingencia (opcional)</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <input-buttons-codigo
                  [label]="''"
                  [idPlanManejo]="idPlanManejo" [disabled]="disabled"
                  [idTipoDocumento]="'POACRECPC'"
                  [codigoProceso]="CodigoProceso.PLAN_OPERATIVO"
                  (registrarArchivoId)="registrarArchivoId($event)"
                >
                </input-buttons-codigo>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Track" [selected]="false">
          <app-map-custom
          [idPlanManejo]="idPlanManejo"
          [codigoProceso]="'POAC'" [disabled]="disabled"
          [codigoSubSeccion]="'POACREAT'"
          [tipoGeometria]="'Otros'"
          [isAnexo]="false"
          [printPDF]="false"
        ></app-map-custom>

          <!-- <div class="col-12 p-0 mt-4">
            <div class="row m-0">
              <div class="col-12 col-sm-8">
                <div>
                  <label class="label fz-11 m-0">Adjuntar track</label>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <input-buttons-codigo
                  [label]="''"
                  [idPlanManejo]="idPlanManejo"
                  [idTipoDocumento]="'POACREAT'"
                  [codigoProceso]="CodigoProceso.PLAN_OPERATIVO"
                >
                </input-buttons-codigo>
              </div>
            </div>
          </div> -->
        </p-accordionTab>

        <p-accordionTab
          header="Comprobante de Derecho a Trámite"
          [selected]="false"
        >
          <div class="col-12 p-0 mt-4">
            <div class="row m-0">
              <div class="col-12 col-sm-8">
                <div>
                  <label class="label fz-11 m-0"
                    >Adjuntar Comprobante de Derecho a Trámite</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <input-buttons-codigo
                  [label]="''"
                  [idPlanManejo]="idPlanManejo"
                  [idTipoDocumento]="'POACREACDT'" [disabled]="disabled"
                  [codigoProceso]="CodigoProceso.PLAN_OPERATIVO"
                >
                </input-buttons-codigo>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Formato de Solicitud" [selected]="false">
          <div class="col-12 p-0 mt-4">
            <div class="row m-0">
              <div class="col-12 col-sm-8">
                <div>
                  <label class="label fz-11 m-0">
                    Descargar formato de Solicitud</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <a
                  pButton
                  pRipple
                  type="button"
                  class="btn btn-sm btn-secondary f-w"
                  [href]="urlFormatosolicitud"
                  download
                  target="_blank"
                >
                  Descargar
                </a>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab
          header="Solicitud de aprobación del Plan Operativo"
          [selected]="false"
        >
          <div class="col-12 p-0 mt-4">
            <div class="row m-0">
              <div class="col-12 col-sm-8">
                <div>
                  <label class="label fz-11 m-0"
                    >Adjuntar Solicitud de aprobación del Plan Operativo</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <input-buttons-codigo
                  [label]="''" [disabled]="disabled"
                  [idPlanManejo]="idPlanManejo"
                  [idTipoDocumento]="'POACREASAPO'"
                  [codigoProceso]="CodigoProceso.PLAN_OPERATIVO"
                  (registrarArchivoId)="registrarArchivoIdPF($event)"
                >
                </input-buttons-codigo>
              </div>
            </div>
          </div>
        </p-accordionTab>


        <p-accordionTab header="Adjuntar requisitos TUPA" [selected]="false">
          <tab-requisitos-tupa
            [idPlanManejo]="idPlanManejo"
            [tipo]="'TUPA'"
            (longitudTUPA)="longitudTUPA=$event"
            [idTipoDocumento]="'POACTUPA'"
            [codigoProceso]="'POAC'"
            [disabled]="disabledCodigoEstadoPlanPresentado"
            [idTipoDocumentoFirma]="'POACFRTU'"
          ></tab-requisitos-tupa>
        </p-accordionTab>

      </p-accordion>

      <div class="step__btn mt-4 mb-4">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button *ngIf="false"
          type="button"
          class="btn-primary2"
          (click)="enviar()"
          [disabled]="!isTodosPlanesTerminado"
        >
          Enviar a ARFFS
        </button>



        <button
          class="btn-primary2"
          (click)="guardarPlanFormulado()"
          type="button"
          [disabled]="disablePlanFormulado || (isSubmittingPlanFormulado$ | async) || disabledCodigoEstadoPlanBorrador"
        >
          Guardar Plan Formulado
        </button>

        <button
          type="button"
          class="btn-primary2"
          (click)="enviar()"
          [disabled]="(isSubmittingARFFS$ | async) || 
            disabledCodigoEstadoPlanPresentado || 
            longitudTUPA <= 0 || 
            disabledCodigoEstadoPlanEnviado">
          Enviar a ARFFS
        </button>

        <!-- <button
          class="btn-primary2"
          (click)="guardarPlanFormulado()"
          type="button"
        >
          Guardar Plan Formulado
        </button> -->
      </div>
    </div>
  </div>
</div>

<p-toast position="top-right" key="tl"></p-toast>
