

    <div class="col-12 form-group">
      <label for="descripcion">Especie: </label>
      <br>
      <p-dropdown
         appendTo="body"
        class="form-control-selectk"
        [(ngModel)]="nombreCient"
        optionValue="idManejoBosqueDet"
        (onChange)="nombreCientificoSelect()"
        [options]="nombreCientifico"
        optionLabel="especie"
        placeholder="-- Seleccione --"
      >
      </p-dropdown>
    </div>
      <div class="col-12 form-group">
        <label for="descripcion">Justificación: </label>
        <input
          type="text"
          class="form-control contents_form_input"
          [(ngModel)]="obj1.descripcionOtros"
        />
      </div>



<div class="d-flex justify-content-end">
  <button icon="pi pi-save" (click)="agregar()" pButton pRipple type="button" label="Aceptar"
              class="p-button-success p-button-outlined"></button> &nbsp;&nbsp;
  <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
            class="p-button-danger p-button-outlined" ></button>
</div>

<p-toast></p-toast>
