<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12 p-0">
      <p-accordion>
        <p-accordionTab
          header="14.1. Cuadro de Cronograma de Actividades"
          [selected]="true"
        >
          <div class="row m-0 mt-3">
            <div class="col-12 pt-2 text-right">
              <div class="col-12 p-0 text-right">
                <button
                  icon="pi pi-plus"
                  (click)="
                    openModal('Agregar Actividad en el Cronograma', null, 'C')
                  "
                  pButton
                  pRipple
                  type="button"
                  label=""
                  class="p-button-success p-button-text button-more"
                  [disabled]="disabled || isPerfilArffs"
                ></button>
              </div>
            </div>
          </div>
          <div class="row m-0 mt-3">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-boderk" class="table-justify">
                  <thead>
                    <tr>
                      <th class="v-middle" rowspan="2">Acciones</th>
                      <th class="v-middle" rowspan="2">Actividad</th>
                      <th>Año 1</th>
                      <th>Año 2</th>
                      <th>Año 3</th>
                      <th *ngIf="verAnio4" rowspan="2">Año 4</th>
                      <th *ngIf="verAnio5" rowspan="2">Año 5</th>
                      <th *ngIf="verAnio6" rowspan="2">Año 6</th>
                      <th *ngIf="verAnio7" rowspan="2">Año 7</th>
                      <th *ngIf="verAnio8" rowspan="2">Año 8</th>
                      <th *ngIf="verAnio9" rowspan="2">Año 9</th>
                      <th *ngIf="verAnio10" rowspan="2">Año 10</th>
                      <th *ngIf="verAnio11" rowspan="2">Año 11</th>
                      <th *ngIf="verAnio12" rowspan="2">Año 12</th>
                      <th *ngIf="verAnio13" rowspan="2">Año 13</th>
                      <th *ngIf="verAnio14" rowspan="2">Año 14</th>
                      <th *ngIf="verAnio15" rowspan="2">Año 15</th>
                      <th *ngIf="verAnio16" rowspan="2">Año 16</th>
                      <th *ngIf="verAnio17" rowspan="2">Año 17</th>
                      <th *ngIf="verAnio18" rowspan="2">Año 18</th>
                      <th *ngIf="verAnio19" rowspan="2">Año 19</th>
                      <th *ngIf="verAnio20" rowspan="2">Año 20</th>
                      <th>
                        <button
                          icon="pi pi-plus"
                          (click)="agregarColumna()"
                          pButton
                          pRipple
                          [disabled]="disabled||isPerfilArffs"
                          type="button"
                          label=""
                          class="p-button-success p-button-text"
                        ></button>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of lstDetalle">
                      <td>
                        <span
                          (click)="!disabled&&
                            !isPerfilArffs &&
                              openModal(
                                'Editar Actividad del Cronograma',
                                data,
                                'E'
                              )
                          "
                          class="pointer mr-1"
                          title="Editar"
                        >
                          <i class="pi pi-pencil"></i>
                        </span>
                        <span
                          (click)="!disabled&& !isPerfilArffs && openEliminar($event, data)"
                          class="pointer mr-2"
                          title="Eliminar"
                        >
                          <i class="pi pi-trash"></i>
                        </span>
                      </td>
                      <td class="text-left">{{ data.actividad }}</td>

                      <td>{{ data.a1m0 == true ? "X" : "" }}</td>

                      <td>{{ data.a2m0 == true ? "X" : "" }}</td>

                      <td>{{ data.a3m0 == true ? "X" : "" }}</td>

                      <td *ngIf="verAnio4">
                        {{ data.a4m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio5">
                        {{ data.a5m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio6">
                        {{ data.a6m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio7">
                        {{ data.a7m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio8">
                        {{ data.a8m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio9">
                        {{ data.a9m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio10">
                        {{ data.a10m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio11">
                        {{ data.a11m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio12">
                        {{ data.a12m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio13">
                        {{ data.a13m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio14">
                        {{ data.a14m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio15">
                        {{ data.a15m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio16">
                        {{ data.a16m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio17">
                        {{ data.a17m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio18">
                        {{ data.a18m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio19">
                        {{ data.a19m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio20">
                        {{ data.a20m0 == true ? "X" : "" }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="mt-5 ml-3">
            <app-carga-excel
              [disabled]="disabled"
              (cargarArchivo)="cargarFormato($event)"
              [NombrePlantilla]="UrlFormatos.CARGA_PGMFA_CRONOGRAMA"
            ></app-carga-excel>
          </div>

        </p-accordionTab>
        <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon14_1"
            [base]="evaluacion14_1"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <div class="step__btn mt-4">
    <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="registrarEvaluacion()">
      Guardar Evaluación
    </button>
    <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">
      Retornar Flujo Evaluacion
    </button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
  <br />
</div>
<p-toast position="top-right" key="tl"></p-toast>
