<div class="row">
    <div class="form-group col-12">
        <label class="label">Monitoreo</label>
        <input type="text" [(ngModel)]="context.monitoreo" class="form-control" disabled/>
    </div>
    <div class="form-group col-12">
        <label class="label">Descripción</label>
        <input maxlength="150" type="text" [(ngModel)]="context.descripcion" class="form-control" placeholder="Ingrese descripción" maxlength="100" />
    </div>

    <div class="form-group col-12">
        <label maxlength="500" class="label">Operaciones</label>
        <div class="row">
            <div class="col-11">
                <input type="text" [(ngModel)]="operacion" class="form-control" placeholder="Ingrese operación" maxlength="100" />
            </div>
            <div class="col-1 text-center my-auto">
                <i (click)="agregarOperacion()" class="pi pi-plus" title="Agregar Operación"></i>
                
            </div>
        </div>
        <div style="max-height: 150px; overflow: auto; margin: 15px 0px;">
            <ul *ngFor="let oper  of context.lstDetalle; let index = index">
                <li class="text-left">
                    {{oper.operacion}}
                    <i (click)="eliminar($event,oper.idMonitoreoDetalle, index)" class="pi pi-trash pointer"
                        title="Eliminiar Medida"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="d-flex justify-content-end">
    <button icon="pi pi-save" (click)="agregar()" pButton pRipple type="button" label="Aceptar"
        class="p-button-success p-button-outlined"></button>
    &nbsp;&nbsp;
    <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
        class="p-button-danger p-button-outlined"></button>
</div>

<p-confirmPopup></p-confirmPopup>
