<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="3.1 Ordenamiento Interno de la Unidad de Manejo Forestal" [selected]="true">
          <div class="row m-0">
            <div style="display:none">
              <app-mapa #map (isEdited)="isEditedMap = true" (deleteLayer)="deleteLayer($event)"
                (deleteAll)="deleteAllLayers()">
              </app-mapa>
            </div>
            <div class="col-12 mb-2 text-right">
              <button class="btn btn-sm btn-default button-more mb-2" type="button" title="Agregar"
                (click)="openModal('Nuevo Registro', null, 'C')"><i class="pi pi-plus"></i></button>
            </div>
            <div class="col-12">
              <table class="table table-boderk">
                <thead>
                  <tr>
                    <th>Acciones</th>
                    <th>Denominación o Espacios</th>
                    <th>Adjuntar</th>
                    <th>Superficie Aproximada (ha)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listOrdenamiento; index as i">
                    <td>
                      <span (click)="openModal('Editar Registro', item, 'E', i)" class="pointer mr-1" title="Editar">
                        <i class="pi pi-pencil"></i>
                      </span>
                      <span (click)="openEliminar($event, item, i)" class="pointer" title="Eliminar">
                        <i class="pi pi-trash"></i>
                      </span>
                    </td>
                    <td>{{ item.categoria }}</td>
                    <td>
                      <ng-container *ngIf="item?.observacion == RespuestaTipo.SI; else elseBtnTpl">
                        <button type="button" class="btn-secondary off" style="min-width: 40px"
                          (click)="download(item)">
                          <i class="pi pi-download" aria-hidden="true"></i>
                        </button>
                      </ng-container>
                      <ng-template #elseBtnTpl>
                        <upload-button label="" accept=".zip" style="min-width: 40px; width: 40px" icon="upload"
                          (change)="addLayer(item, $event)">
                        </upload-button>
                      </ng-template>
                    </td>
                    <td>
                      {{ item.areaHA | number: "1.2-3" }}
                    </td>
                  </tr>
                </tbody>
                <tbody>
                  <tr style="background: #dfe0ea80">
                    <td class="text-center"><b>Total</b></td>
                    <td></td>
                    <td></td>
                    <td>{{ totalArea | number: "1.2-3" }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12">
              <label class="lbl-info mt-3 mb-3">{{msjGuardarDataLocal}}</label>
            </div>
           
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

  <br/>
  <br/>

  <div class="step__btn mt-4 mb-4">
    
      <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    
      <button class="btn-primary2" (click)="guardar()">Guardar</button>

      <button class="btn-primary2" (click)="siguienteTab()"> Siguiente</button>
    </div>
</div>