<div class="row">
  <div class="col-12 form-group">
    <label for="resumen">Resumen</label>
    <input
      disabled
      type="text"
      id="resumen"
      autocomplete="off"
      class="form-control contents_form_input"
      [(ngModel)]="actividadObjt.resumen"
      placeholder="Ingrese su resumen"
      maxlength="50"
    />
  </div>

  <!-- <div class="col-12 mt-3">
    <button class="btn btn-sm btn-secondary" (click)="agregar()">
      Agregar
    </button>
  </div> -->

  <div class="row col-12 justify-content-end">
    <div class="p-2">
      <button
        icon="pi pi-save"
        pButton
        pRipple
        type="button"
        label="Aceptar"
        (click)="agregar()"
        class="p-button-success p-button-outlined"
      ></button>
    </div>
    <div class="p-2">
      <button
        icon="pi pi-times"
        pButton
        pRipple
        type="button"
        label="Cancelar"
        (click)="cancelar()"
        class="p-button-danger p-button-outlined"
      ></button>
    </div>
  </div>
</div>
<p-toast position="bottom-center" key="tl"></p-toast>
