<div class="row m-0">
  <div class="col-12 col-sm-9">
    <div class="form-group">
      <label class="label">Nombre Científico </label>
      <div class="form-control-selectk">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar..."
          [(ngModel)]="queryFauna"
        />
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-3">
    <div class="form-group">
      <label class="label">&nbsp;&nbsp;</label>
      <div class="text-center">
        <button type="button" class="btn-primary2" (click)="filtrarFauna()">
          Buscar
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row m-0">
  <div class="col-12">
    <p-table [value]="comboListEspeciesFauna">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 50px" [hidden]="invalid"></th>
          <th>Nombre Científico</th>
          <th>Nombre Común</th>
          <th>Familia</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td [hidden]="invalid">
            <p-radioButton
              name="fauna"
              [value]="data"
              [(ngModel)]="selectedValues"
            >
            </p-radioButton>
          </td>
          <td>{{ data.nombreCientifico }}</td>
          <td>{{ data.nombreComun }}</td>
          <th>{{ data.familia }}</th>
        </tr>
      </ng-template>
    </p-table>

    <p-paginator
      [rows]="10"
      [totalRecords]="totalRecords"
      (onPageChange)="loadData($event)"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Total : {totalRecords} registros"
      [rowsPerPageOptions]="[10, 25, 50]"
    >
    </p-paginator>
  </div>
</div>

<div class="d-flex justify-content-end" [hidden]="invalid">
  <button
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
    label="Aceptar"
    class="p-button-success p-button-outlined"
    style="width: 106px"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
    style="width: 106px"
  ></button>
</div>
<p-toast></p-toast>
<p-toast position="top-right" key="tml"></p-toast>
