<div class="col-12 pt-4">
  <div class="row">
    <div class="col-12">
      <p-accordion (onOpen)="onTabOpen($event)">
        <p-accordionTab
          header="7.1. Actividades Principales según Ordenamiento"
          [selected]="true"
        >
          <div class="col-12 mt-2">
            <h3 class="title2">Cuadro de Actividades según Ordenamiento</h3>
          </div>

          <tabla-actividades-ordenamiento
            [idManejoBosque]="idManejoBosqueAco1"
            [idPlanManejo]="idPlanManejo"
            [ordenamientoActList]="ordenamientoActList"
            [disabled]="disabled || isPerfilArffs"
            [sinListado]="sinListado"
            (agregar)="agregar($event)"
          >
          </tabla-actividades-ordenamiento>

          <!-- <label
            *ngIf="pendiente1"
            class="lbl-info mt-3 mb-3"
            style="float: none !important;"
          >
            (Los cambios locales se guardarán pulsando el botón "Guardar".)
          </label>

          <br /> -->
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon71"
            [base]="evaluacion71"
            class="mt-3"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>

          <p-accordion class="mt-3">
            <p-accordionTab header="Detalle">
              <div class="col-12">
                <mat-tab-group animationDuration="0ms">
                  <mat-tab label="7.1.1. Sistema de manejo">
                    <div class="row m-0 pt-4">
                      <div class="col-12 col-sm-6">
                        <div class="p-field-radiobutton">
                          <p-radioButton
                            name="sisMan"
                            [disabled]="disabled||isPerfilArffs"
                            value="0"
                            [(ngModel)]="sistemaManejo.codOpcion"
                            inputId="check1"
                          >
                          </p-radioButton>
                          <label class="pointer" for="check1">
                            Sistema policíclico basado en la regeneración
                            natural</label
                          >
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="p-field-radiobutton">
                          <p-radioButton
                            name="sisMan"
                            value="1"
                            [disabled]="disabled||isPerfilArffs"
                            [(ngModel)]="sistemaManejo.codOpcion"
                            inputId="check2"
                          >
                          </p-radioButton>
                          <label class="pointer" for="check2">
                            Otro sistema (detallar)</label
                          >
                        </div>
                      </div>

                      <div class="col-12 mt-3">
                        <textarea
                          style="resize: none"
                          rows="3"
                          cols="1"
                          [disabled]="disabled||isPerfilArffs"
                          class="form-control"
                          *ngIf="sistemaManejo.codOpcion == 1"
                          [(ngModel)]="sistemaManejo.descripcionOrd"
                        >
                        </textarea>
                      </div>
                    </div>

                    <evaluacion-archivo-shared
                      [idPlanManejo]="idPlanManejo"
                      [cadigoTab]="codigoAcordeon711"
                      [base]="evaluacion711"
                      *ngIf="isPerfilArffs"
                    >
                      <ng-template #conatinertop> </ng-template>
                      <ng-template #conatinerbottom> </ng-template>
                    </evaluacion-archivo-shared>
                    <br />

                    <button
                      class="btn-primary2"
                      (click)="agregarDetalleOrdenamiento()"
                      [disabled]="disabled || isPerfilArffs"
                    >
                      Guardar
                    </button>
                    <!-- <div>
                      <label
                        *ngIf="pendiente2"
                        class="lbl-info mt-3 mb-3"
                        style="float: none !important;"
                      >
                        (Los cambios locales se guardarán pulsando el botón
                        "Guardar".)
                      </label>
                    </div> -->
                  </mat-tab>

                  <mat-tab label="7.1.2. Producción forestal">
                    <div class="row m-0 pt-2">
                      <div class="col-12 col-sm-8 p-0">
                        <div class="f-w mb-2 mapa-content">
                          <div class="mapa" #map></div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-4">
                        <div
                          class="d-grid gap-2 d-md-block mb-2"
                          style="display: flex !important"
                        >
                          <button
                            type="button"
                            (click)="fileInputSHPProdForestal.click()"
                            class="btn btn-sm btn-secondary mb-2 button-more"
                            [disabled]="disabled || isPerfilArffs"
                          >
                            Cargar shape file
                            <input
                              #fileInputSHPProdForestal
                              type="file"
                              (change)="!disabled && onChangeFileProdForestal($event)"
                              style="display: none"
                            />
                          </button>
                          <div class="d-flex pl-2">
                            <div class="form-check">
                              <input
                                class="form-check-input"
                                #chkInComponenteCatastro [disabled]="disabled"
                                type="checkbox"
                                value=""
                                id="flexCheckChecked"
                              />
                              <label
                                class="form-check-label"
                                for="flexCheckChecked"
                              >
                                Componente catastro
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="card gh-layers">
                          <div class="card-header py-0 pt-2 pb-2">
                            Capas
                            <span
                              title="Guardar Capa"
                              class="pointer pr-1 float-right"
                            >
                              <i
                                class="pi pi-save"
                                aria-hidden="true"
                                (click)="!disabled && onGuardarLayer()"
                              ></i>
                            </span>
                          </div>
                          <ul class="list-group">
                            <li
                              *ngFor="let item of _layers"
                              class="list-group-item p-0 d-flex"
                            >
                              <input [disabled]="disabled"
                                class="ml-1 mr-1 pointer"
                                type="checkbox"
                                [checked]="true"
                                (change)="toggleLayer(item.idLayer, $event)"
                              />

                              <label
                                class="m-0 p-0 text-left pointer gh-label"
                                style="flex: 2"
                                [ngStyle]="{ color: item.color }"
                                >{{ item.nombre }}
                                <span
                                  class="pointer pr-1"
                                  title="{{
                                    item.overlap
                                      ? 'Capa Superpuesta'
                                      : 'Capa contenida'
                                  }} "
                                >
                                  <i
                                    class="{{
                                      item.overlap
                                        ? 'pi pi-info-circle color-red'
                                        : 'pi pi-check-circle color-green'
                                    }}"
                                    *ngIf="item.service"
                                    aria-hidden="true"
                                  ></i>
                                </span>
                              </label>

                              <div class="d-flex">
                                <span class="mr-2 pointer">
                                  <i
                                    class="pi pi-download"
                                    *ngIf="
                                      !item.service && item.inServer == true
                                    "
                                    aria-hidden="true"
                                    (click)="onDownloadFileSHP(item?.codigo)"
                                  ></i>
                                </span>
                                <span class="pointer pr-1">
                                  <i
                                    class="pi pi-trash"
                                    aria-hidden="true"
                                    *ngIf="!item.service && item.idLayer"
                                    (click)="!disabled&& onRemoveFileSHP(item)"
                                  ></i>
                                </span>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <tabla-manejo-vertices
                    [usuario]="usuario"
                    [idPlanManejo]="idPlanManejo"
                      [disabled]="disabled"
                    [listCoordinatesAnexo] = "listCoordinatesAnexo"
                    (listaCoordenadas)="listaCoordenadas($event)"
                    >

                    </tabla-manejo-vertices>

                    <!-- <div class="row mt-2">
                      <div class="col-12">
                        <table #tblAcreditacionComunal>
                          <thead>
                            <tr>
                              <th>Número de Bloque</th>
                              <th>Tipo de Bosque</th>
                              <th>Categoría Ordenamiento</th>
                              <th>% Superficie</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Bosque Natural</td>
                              <td>Áreas de Protección</td>
                              <td>100%</td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="3">Total</td>
                              <td class="text-center">100%</td>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div> -->

                    <div class="row m-0 pt-4">
                      <div class="col-12">
                        <label>Duración del ciclo de corta: </label>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="p-field-radiobutton">
                          <p-radioButton
                            name="check2"
                            value="0"
                            [disabled]="disabled||isPerfilArffs"
                            [(ngModel)]="produccionForestal.codOpcion"
                            inputId="check3"
                          >
                          </p-radioButton>
                          <label class="pointer" for="check3"> 20 años</label>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="p-field-radiobutton">
                          <p-radioButton
                            name="check2"
                            [disabled]="disabled||isPerfilArffs"
                            value="1"
                            [(ngModel)]="produccionForestal.codOpcion"
                            inputId="check4"
                          >
                          </p-radioButton>
                          <label class="pointer" for="check4">
                            Otro (justificar)</label
                          >
                        </div>
                      </div>

                      <div class="col-12 mt-3">
                        <textarea
                          style="resize: none"
                          rows="3"
                          cols="1"
                          [disabled]="disabled||isPerfilArffs"
                          class="form-control"
                          *ngIf="produccionForestal.codOpcion == 1"
                          [(ngModel)]="produccionForestal.descripcionOrd"
                        >
                        </textarea>
                      </div>
                    </div>
                    <br />

                    <button
                      class="btn-primary2"
                      style="margin-bottom: 20px"
                      (click)="agregarDetalleProteccion()"
                      [disabled]="disabled || isPerfilArffs"
                    >
                      Guardar
                    </button>

                    <p-accordion>
                      <p-accordionTab
                        header="Especies a Aprovechar y Diámetros Mínimos de Corta"
                      >
                        <tabla-especies-aprovechar
                          [especiesList]="listEspeciesAprovechar"
                          [idManejoBosque]="idManejoBosqueAco1"
                          [disabled]="disabled || isPerfilArffs"
                          (update)="this.listarTodo()"
                          (agregarEsp)="agregarEsp($event)"
                        >
                        </tabla-especies-aprovechar>
                        <div class="mt-5 ml-4">
                          <app-carga-excel
                            [disabled]="disabled"
                            (cargarArchivo)="cargarFormato($event)"
                            [NombrePlantilla]="UrlFormatos.CARGA_PGMFA_7_1_2"
                          ></app-carga-excel>
                        </div>
                      </p-accordionTab>
                      <p-accordionTab header="Corta Anual Permisible (CAP)">
                        <div>
                          <label for="" class="title2">
                            Cuadro de Volumen Comercial promedio (m³)</label
                          >

                          <p-table
                            [value]="listEspeciesVolumen"
                            styleClass="p-datatable-gridlines"
                          >
                            <ng-template pTemplate="header">
                              <tr>
                                <!-- <th rowspan="5">Acciones</th> -->
                                <th
                                  rowspan="2"
                                  colspan="3"
                                  style="text-align: center"
                                >
                                  Área Total de la PC <br />
                                  N° {{ areaTotalPc }}
                                </th>

                                <th
                                  colspan="2"
                                  style="text-align: center"
                                  *ngFor="let item of pcListEspeciesVolumen"
                                >
                                  Área efectiva PC
                                </th>

                                <th colspan="2" style="text-align: center">
                                  Total (ha)
                                </th>
                              </tr>

                              <tr>
                                <th
                                  colspan="2"
                                  style="text-align: center"
                                  *ngFor="
                                    let item of pcListEspeciesVolumen;
                                    let index = index
                                  "
                                >
                                  PC N° 0{{ index + 1 }}: {{ areaTotalPc }}
                                </th>

                                <th colspan="2" style="text-align: center">
                                  {{ areaTotalPc }}
                                </th>
                              </tr>

                              <tr>
                                <th rowspan="2" style="text-align: center">
                                  Nº
                                </th>
                                <th colspan="2" style="text-align: center">
                                  Especie
                                </th>

                                <th
                                  colspan="2"
                                  style="text-align: center"
                                  *ngFor="
                                    let item of pcListEspeciesVolumen;
                                    let index = index
                                  "
                                >
                                  PC Nº 0{{ index + 1 }}
                                </th>

                                <th colspan="2" style="text-align: center">
                                  Total
                                </th>
                              </tr>
                              <tr>
                                <th style="text-align: center">
                                  Nombre <br />Común
                                </th>
                                <th style="text-align: center">
                                  Nombre <br />Cientifíco
                                </th>

                                <div
                                  *ngFor="let item of pcListEspeciesVolumen"
                                  class="content-table"
                                >
                                  <th colspan="1" style="text-align: center">
                                    Nº <br />árbol
                                  </th>
                                  <th colspan="1" style="text-align: center">
                                    Vol <br />(m3)
                                  </th>
                                </div>

                                <div class="content-table">
                                  <th colspan="1" style="text-align: center">
                                    Nº <br />árbol
                                  </th>
                                  <th colspan="1" style="text-align: center">
                                    Vol <br />(m3)
                                  </th>
                                </div>
                              </tr>
                            </ng-template>
                            <ng-template
                              pTemplate="body"
                              let-rowIndex="rowIndex"
                              let-data
                            >
                              <tr>
                                <td>{{ rowIndex + 1 }}</td>
                                <td>{{ data.nombreComun }}</td>
                                <td>{{ data.nombreCientifica }}</td>
                                <td
                                  colspan="2"
                                  *ngFor="let item of data.lstactividadDetSub"
                                >
                                  <div class="row">
                                    <div class="col-12 col-sm-6">
                                      {{ item.nroArbol }}
                                    </div>
                                    <div class="col-12 col-sm-6">
                                      {{ item.volM }}
                                    </div>
                                  </div>
                                </td>
                                <td colspan="2">
                                  <div class="row">
                                    <div class="col-12 col-sm-6">
                                      {{ data.unidad }}
                                    </div>
                                    <div class="col-12 col-sm-6">
                                      {{ data.volumen | number: "1.2-2" }}
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </ng-template>

                            <ng-template pTemplate="footer">
                              <tr>
                                <td class="p-text-right font-weight-bold">
                                  Total
                                </td>
                                <td></td>
                                <td></td>
                                <td colspan="2">
                                  <div class="row">
                                    <div class="col-12 col-sm-6">
                                      {{
                                        totalListEspeciesVolumen.totalsPc1
                                          .numArbolesPC
                                      }}
                                    </div>
                                    <div class="col-12 col-sm-6">
                                      {{
                                        totalListEspeciesVolumen.totalsPc1
                                          .volumenPC | number: "1.2-2"
                                      }}
                                    </div>
                                  </div>
                                </td>
                                <td colspan="2">
                                  <div class="row">
                                    <div class="col-12 col-sm-6">
                                      {{
                                        totalListEspeciesVolumen.totalsPc2
                                          .numArbolesPC
                                      }}
                                    </div>
                                    <div class="col-12 col-sm-6">
                                      {{
                                        totalListEspeciesVolumen.totalsPc2
                                          .volumenPC | number: "1.2-2"
                                      }}
                                    </div>
                                  </div>
                                </td>
                                <td
                                  colspan="2"
                                  *ngIf="pcListEspeciesVolumen.length >= 2"
                                >
                                  <div class="row">
                                    <div class="col-12 col-sm-6">
                                      {{
                                        totalListEspeciesVolumen.totalsPc3
                                          .numArbolesPC
                                      }}
                                    </div>
                                    <div class="col-12 col-sm-6">
                                      {{
                                        totalListEspeciesVolumen.totalsPc3
                                          .volumenPC | number: "1.2-2"
                                      }}
                                    </div>
                                  </div>
                                </td>
                                <td
                                  colspan="2"
                                  *ngIf="pcListEspeciesVolumen.length == 3"
                                >
                                  <div class="row">
                                    <div class="col-12 col-sm-6">
                                      {{
                                        totalListEspeciesVolumen.totalArboles
                                      }}
                                    </div>
                                    <div class="col-12 col-sm-6">
                                      {{
                                        totalListEspeciesVolumen.totalVolumen
                                          | number: "1.2-2"
                                      }}
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </ng-template>
                          </p-table>
                          <!--  <div>
                            <label for="" class="title2">
                              Cuadro de Volumen Comercial promedio (m³)</label
                            >
                            <p-table
                              [value]="listBloque1"
                              styleClass="p-datatable-gridlines"
                              [paginator]="true"
                              [rows]="10"
                              [showCurrentPageReport]="true"
                              currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} "
                              [rowsPerPageOptions]="[10, 25, 50]"
                            >
                              <ng-template pTemplate="header">
                                <tr>
                                  <th colspan="5">Tipo de bloque 1:</th>
                                  <th colspan="2">Área (ha)</th>
                                </tr>
                                <tr>
                                  <th>Especies</th>
                                  <th>DCM</th>
                                  <th colspan="2">N° árboles</th>
                                  <th colspan="2">Vcp(m2)</th>
                                </tr>
                                <tr>
                                  <th></th>
                                  <th>(cm)</th>
                                  <th>ha</th>
                                  <th>Total</th>
                                  <th>ha</th>
                                  <th>Total</th>
                                </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-data>
                                <tr>
                                  <td>{{ data.especie }}</td>
                                  <td></td>
                                  <td></td>
                                </tr>
                              </ng-template>
                            </p-table>
                          </div> -->

                          <!-- <div>
                            <p-table
                              [value]="listBloque2"
                              styleClass="p-datatable-gridlines"
                              [paginator]="true"
                              [rows]="10"
                              [showCurrentPageReport]="true"
                              currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} "
                              [rowsPerPageOptions]="[10, 25, 50]"
                            >
                              <ng-template pTemplate="header">
                                <tr>
                                  <th colspan="5">Tipo de bloque 2:</th>
                                  <th colspan="2">Área (ha)</th>
                                </tr>
                                <tr>
                                  <th>Especies</th>
                                  <th>DCM</th>
                                  <th colspan="2">N° Árboles</th>
                                  <th colspan="2">Vcp(m2)</th>
                                </tr>
                                <tr>
                                  <th></th>
                                  <th>(cm)</th>
                                  <th>ha</th>
                                  <th>Total</th>
                                  <th>ha</th>
                                  <th>Total</th>
                                </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-data>
                                <tr>
                                  <td>{{ data.especie }}</td>
                                  <td></td>
                                  <td></td>
                                </tr>
                              </ng-template>
                            </p-table>
                          </div> -->

                          <!-- <div>
                            <p-table
                              [value]="listBloque3"
                              styleClass="p-datatable-gridlines"
                              [paginator]="true"
                              [rows]="10"
                              [showCurrentPageReport]="true"
                              currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} "
                              [rowsPerPageOptions]="[10, 25, 50]"
                            >
                              <ng-template pTemplate="header">
                                <tr>
                                  <th colspan="5">Tipo de bloque 3:</th>
                                  <th colspan="2">Área (ha)</th>
                                </tr>
                                <tr>
                                  <th>Especies</th>
                                  <th>DCM</th>
                                  <th colspan="2">N° Árboles</th>
                                  <th colspan="2">Vcp(m2)</th>
                                </tr>
                                <tr>
                                  <th></th>
                                  <th>(cm)</th>
                                  <th>ha</th>
                                  <th>Total</th>
                                  <th>ha</th>
                                  <th>Total</th>
                                </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-data>
                                <tr>
                                  <td>{{ data.especie }}</td>
                                  <td></td>
                                  <td></td>
                                </tr>
                              </ng-template>
                            </p-table>
                          </div> -->
                          <br />
                          <br />
                          <!-- <button
                            class="btn-primary2"
                            (click)="agregarBloques()"
                            [disabled]="disabled || isPerfilArffs"
                          >
                            Agregar
                          </button> -->
                        </div>
                      </p-accordionTab>
                    </p-accordion>
                    <br />
                    <br />
                    <evaluacion-archivo-shared
                      [idPlanManejo]="idPlanManejo"
                      [cadigoTab]="codigoAcordeon712"
                      [base]="evaluacion712"
                      *ngIf="isPerfilArffs"
                    >
                      <ng-template #conatinertop> </ng-template>
                      <ng-template #conatinerbottom> </ng-template>
                    </evaluacion-archivo-shared>
                  </mat-tab>
                  <mat-tab label="7.1.3. Bloques Quinquenales(opcional)">
                    <app-bloque-quinquenal
                    [idPGMF]="idPlanManejo"
                    [disabled]="disabled || isPerfilArffs"
                    [isDisbledObjFormu]="disabled"
                    [idUsuario]="idUsuario"
                    [idOrdenamientoProteccion] ="idOrdenamientoProteccion"
                    ></app-bloque-quinquenal>
                  </mat-tab>
                  <mat-tab label="7.1.4. Parcelas de Corta (PC)">
                    <br>
                    <app-parcela-corta
                    [idPGMF]="idPlanManejo"
                    [disabled]="disabled || isPerfilArffs"
                    [isDisbledObjFormu]="disabled"
                    [idUsuario]="idUsuario"
                    [idOrdenamientoProteccion] ="idOrdenamientoProteccion"
                    ></app-parcela-corta>
                  </mat-tab>
                  <mat-tab label="7.1.5. Frentes de Corta">
                    <br>
                    <p class="texto-parrafo">
                      Se debe señalar si el aprovechamiento se realiza a más de un
                      frente de corta de la UMF. Los frentes de corta deben
                      delimitarse en el Mapa 3 del Anexo 1 y proponerse respetando el
                      principio de sostenibilidad del ciclo de corta.</p>
                    <br>
                    <div class="input-group col-sm-6" *ngIf="false">
                      <input type="text" class="form-control" placeholder="" [(ngModel)]="nombrefile" readonly />
                      <div class="input-group-append">
                        <button type="button"
                          id="btnCargaShapeFile1"
                          (click)="fileInput.click()"
                          class="btn btn-sm btn-secondary"
                          [disabled]="disabled || isPerfilArffs">
                          Seleccione archivo
                          <input #fileInput type="file" style="display: none;"
                        />
                        </button>
                      </div>
                    </div>
                    <app-map-custom
                    [idPlanManejo]="idPlanManejo" [disabled]="disabled"
                    [codigoProceso]="CodigosManejoBosque.ACORDEON_7_1"
                    [codigoSubSeccion]="CodigosManejoBosque.ACORDEON_7_1_5"
                    [tipoGeometria]="'TPFCORTA'"
                    [validaSuperposicionAprovechar]="true">
                    </app-map-custom>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </p-accordionTab>
          </p-accordion>
        </p-accordionTab>
        <p-accordionTab header="7.2. Aprovechamiento">
          <div>
            <mat-tab-group
              animationDuration="0ms"
              (selectedIndexChange)="selectedIndexChange($event)"
            >
              <mat-tab label="7.2.1. Método de Aprovechamiento">
                <div class="row m-0 pt-4">
                  <div class="col-12 col-sm-6">
                    <div class="col-12 form-group">
                      <label class="label">Método de Aprovechamiento</label>
                      <div class="form-control-selectk">
                        <p-dropdown
                          [options]="metodoAprovechamientoCombo"
                          optionLabel="label"
                          optionValue="label" [disabled]="disabled"
                          placeholder="Seleccionar"
                          defaultLabel="Seleccionar"
                          [(ngModel)]="metodoAprovechamiento.codOpcion"
                        ></p-dropdown>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 mt-4">
                  <label class="title2"
                    >Infraestructura para Aprovechamiento y Transporte</label
                  >
                </div>

                <div class="row m-0 pt-4">
                  <div class="col-12 col-sm-6">
                    <div class="col-12">
                      <label>Sistema de Transporte de Madera a utilizar</label>
                    </div>
                    <div class="col-12">
                      <div class="form-control-selectk">
                        <p-dropdown
                          [options]="sismenaTransporte"
                          optionLabel="label"
                          optionValue="label" [disabled]="disabled"
                          placeholder="Seleccionar"
                          defaultLabel="Seleccionar"
                          [(ngModel)]="
                            infraEstructuraAprovechamiento.idtipoTransMaderable
                          "
                        ></p-dropdown>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-sm-6">
                    <div class="col-12">
                      <label
                        >Medios de Transporte a utilizar entre el Área de Manejo
                        y el Destino de la madera</label
                      >
                    </div>
                    <div class="col-12">
                      <div class="form-control-selectk">
                        <p-dropdown
                          [options]="mediosTransporte"
                          optionLabel="label"
                          optionValue="label" [disabled]="disabled"
                          placeholder="Seleccionar"
                          defaultLabel="Seleccionar"
                          [(ngModel)]="
                            infraEstructuraAprovechamiento.idtipoTransDestino
                          "
                        ></p-dropdown>
                      </div>
                    </div>

                    <div
                      class="col-12 mt-3"
                      *ngIf="
                        infraEstructuraAprovechamiento.idtipoTransDestino ==
                        'Otros'
                      "
                    >
                      <input
                        type="text"
                        [disabled]="disabled||isPerfilArffs"
                        class="form-control"
                        placeholder="Ingrese detalle del medio de transporte"
                        [(ngModel)]="
                          infraEstructuraAprovechamiento.tipoTransDestino
                        "
                      />
                    </div>
                  </div>
                </div>

                <div class="row m-0" style="padding-top: 25px">
                  <div class="col-12" style="padding-left: 30px">
                    <label
                      >Red de Caminos de Acceso y Principales a Construir
                    </label>
                  </div>
                  <div class="col-12 col-sm-6" style="padding-left: 30px">
                    <div class="row" style="margin-right: 15px">
                      <div class="col-sm-12">
                        <input-buttons
                          [disabled]="disabled||isDisabledInput"
                          [label]="'Caminos de Acceso (KM)'"
                          [idPlanManejo]="idPlanManejo"
                          [idTipoDocumento]="33"
                          [codigoProceso]="codigoAcordeon721_CA"
                          (registrarArchivoId)="
                            registrarEliminarArchivo($event)
                          "
                          (longitud)="longitudCaminoAcceso($event)"
                        >
                        </input-buttons>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="
                            infraEstructuraAprovechamiento.nuCaminoAcceso
                          "
                          disabled="true"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6" style="padding-left: 30px">
                    <div class="row" style="margin-right: 15px">
                      <div class="col-sm-12">
                        <input-buttons
                          [disabled]="disabled||isDisabledInput"
                          [label]="'Caminos Principales (KM)'"
                          [idPlanManejo]="idPlanManejo"
                          [idTipoDocumento]="33"
                          [codigoProceso]="codigoAcordeon721_CP"
                          (registrarArchivoId)="
                            registrarEliminarArchivo2($event)
                          "
                          (longitud)="longitudCaminoPrincipal($event)"
                        >
                        </input-buttons>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="
                            infraEstructuraAprovechamiento.nuCaminoPrincipal
                          "
                          disabled="true"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group col-12">
                      <label class="label">Otros (Especifique)</label>
                      <textarea
                        class="form-control"
                        rows="3"
                        [disabled]="disabled||isPerfilArffs"
                        style="resize: none"
                        [(ngModel)]="
                          infraEstructuraAprovechamiento.descripcionCamino
                        "
                      >
                      </textarea>
                    </div>
                  </div>

                  <br />
                  <br />
                  <div class="p-4">
                    <button
                      class="btn-primary2"
                      (click)="agregarTrasporte()"
                      [disabled]="disabled || isPerfilArffs"
                    >
                      Guardar
                    </button>
                  </div>
                  <evaluacion-archivo-shared
                    [idPlanManejo]="idPlanManejo"
                    [cadigoTab]="codigoAcordeon721"
                    [base]="evaluacion721"
                    *ngIf="isPerfilArffs"
                  >
                    <ng-template #conatinertop> </ng-template>
                    <ng-template #conatinerbottom> </ng-template>
                  </evaluacion-archivo-shared>
                  <br />
                </div>
                <p-accordion>
                  <p-accordionTab header="Especificaciones sobre los Caminos">
                    <tabla-especificaciones-caminos
                      [idManejoBosque]="idManejoBosqueAco2"
                      [comboInfraestructuraVial]="comboInfraestructuraVial"
                      [idManBosqueAprove]="
                        infraEstructuraAprovechamiento.idtipoMetodoAprov
                      "

                      [manBosqueAproveCaminoList]="listCaminos"
                      [disabled]="disabled || isPerfilArffs"
                      [idPlanManejo]="idPlanManejo"
                      (agregar)="agregarCaminos($event)"
                    >
                    </tabla-especificaciones-caminos>
                  </p-accordionTab>
                  <p-accordionTab header="Construcción de caminos principales">
                    <tabla-construccion-caminos> </tabla-construccion-caminos>
                  </p-accordionTab>
                </p-accordion>

                <br />
                <br />
                <evaluacion-archivo-shared
                  [idPlanManejo]="idPlanManejo"
                  [cadigoTab]="codigoAcordeon722"
                  [base]="evaluacion722"
                  *ngIf="isPerfilArffs"
                >
                  <ng-template #conatinertop> </ng-template>
                  <ng-template #conatinerbottom> </ng-template>
                </evaluacion-archivo-shared>

                <br />
              </mat-tab>

              <mat-tab label="7.2.2. Operaciones de Corta y Arrastre">
                <div class="row m-0 pt-4">
                  <div class="col-12">
                    <h3 class="title2">
                      Cuadro de requerimientos de mano de obra y equipos para la
                      corta y el arrastre
                    </h3>
                  </div>

                  <div class="col-2 col-sm-12 text-right">
                    <button
                      (click)="abrirModalCorta()"
                      class="btn btn-sm btn-default button-more mb-2"
                      type="button"
                      title="Agregar"
                      [disabled]="disabled || isPerfilArffs"
                      style="margin-bottom: 5px"
                    >
                      <i class="pi pi-plus"></i>
                    </button>
                  </div>
                  <p-confirmPopup></p-confirmPopup>

                  <div class="col-12">
                    <p-table [value]="operacionesCortaList">
                      <ng-template pTemplate="header">
                        <tr>
                          <th rowspan="2">Acciones</th>
                          <th rowspan="2">Operaciones</th>
                          <th colspan="2" style="text-align: center;">Mano de obra</th>
                          <th colspan="2" style="text-align: center;">Equipos/Maquinaria</th>
                          <th rowspan="2">Descripción</th>
                        </tr>
                        <tr>
                          <th>Tipo</th>
                          <th>Número</th>
                          <th>Tipo</th>
                          <th>Número</th>
                        </tr>
                      </ng-template>
                      <ng-template
                        pTemplate="body"
                        let-data
                        let-rowIndex="rowIndex"
                      >
                        <tr>
                          <td class="text-center">
                            <span
                              class="pointer mr-1"
                              title="Editar"
                              (click)="!disabled&&
                                !isPerfilArffs &&
                                  openEditarCorta(data, rowIndex)
                              "
                            >
                              <i class="pi pi-pencil"></i>
                            </span>
                            <span
                              (click)="!disabled&&
                                !isPerfilArffs &&
                                  openEliminarCorta($event, data, rowIndex)
                              "
                              class="pointer"
                              title="Eliminar"
                            >
                              <i class="pi pi-trash"></i>
                            </span>
                          </td>
                          <td>{{ data.descripcionOrd }}</td>
                          <td>{{ data.manoObra }}</td>
                          <td>{{ data.tipoTransDestino }}</td>
                          <td>{{ data.maquina }}</td>
                          <td>{{ data.nuCaminoPrincipal }}</td>
                          <td>{{ data.descripcionOtro }}</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
                <evaluacion-archivo-shared
                  [idPlanManejo]="idPlanManejo"
                  [cadigoTab]="codigoAcordeon723"
                  [base]="evaluacion723"
                  *ngIf="isPerfilArffs"
                >
                  <ng-template #conatinertop> </ng-template>
                  <ng-template #conatinerbottom> </ng-template>
                </evaluacion-archivo-shared>
                <br />
                <br />
                <button
                  class="btn-primary2"
                  (click)="registrarOperaciones()"
                  [disabled]="
                   disabled || !operacionesCortaList || isPerfilArffs
                  "
                >
                  Guardar
                </button>
                <!-- <div>
                  <label
                    *ngIf="pendiente7"
                    class="lbl-info mt-3 mb-3"
                    style="float: none !important;"
                  >
                    (Los cambios locales se guardarán pulsando el botón
                    "Guardar".)
                  </label>
                </div> -->
                <br />
              </mat-tab>
            </mat-tab-group>
          </div>
        </p-accordionTab>

        <p-accordionTab header="7.3. Especies a Proteger">
          <tabla-especies-proteger
            [idManejoBosque]="idManejoBosqueAco3"
            [usuario]="usuario"
            [planManejo]="planManejo"
            [listEspeciesFlora]="listEspeciesFlora"
            [listEspeciesFauna]="listEspeciesFauna"
            [especiesProtegerList]="especiesProtegerList"
            [disabled]="disabled || isPerfilArffs"
            [savedListEspecies]="savedListEspecies"
            (update)="this.listarTodo()"
            (agregarEspecies)="agregarEspecies($event)"
          ></tabla-especies-proteger>
          <!-- <div>
            <label
              *ngIf="pendiente8"
              class="lbl-info mt-3 mb-3"
              style="float: none !important;"
            >
              (Los cambios locales se guardarán pulsando el botón "Guardar".)
            </label>
          </div> -->

          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon73"
            [base]="evaluacion73"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
        <p-accordionTab header="7.4. Tratamientos Silvicultural">
          <div class="row m-0 pt-4">
            <div class="col-12">
              <h3 class="title2">Tratamientos Previstos a Aplicar</h3>
            </div>

            <div class="col-2 col-sm-12 text-right">
              <button
                (click)="AgregarOtrosTratamientos()"
                class="btn btn-sm btn-default button-more mb-2"
                type="button"
                title="Agregar"
                [disabled]="disabled || isPerfilArffs"
                style="margin-bottom: 5px"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>

            <div class="col-12">
              <p-table [value]="tratamientosList">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 80px">Acciones</th>
                    <th style="width: 30%">Tratamiento Silvicultural</th>
                    <th *ngIf="false"></th>
                    <th style="width: 70%">Descripción del Tratamiento</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td style="width: 80px" class="text-center">
                      <span
                        class="pointer mr-1"
                        title="Editar"
                        (click)="!disabled&& !isPerfilArffs && (data.accion = !data.accion)"
                      >
                        <i class="pi pi-pencil"></i>
                      </span>

                      <span
                        (click)="!disabled&&  !isPerfilArffs &&
                          openEliminarTratamientos($event, rowIndex, data)
                        "
                        class="pointer"
                        title="Eliminar"
                      >
                        <i class="pi pi-trash"></i>
                      </span>
                    </td>
                    <td>
                      <ng-container *ngIf="!data.accion">
                        {{ data.tratamientoSilvicultural }}
                      </ng-container>
                      <ng-container *ngIf="data.accion">
                        <input
                          pInputText
                          [disabled]="disabled||isPerfilArffs"
                          class="form-control"
                          maxlength="50"
                          placeholder="Otros(Especificar)"
                          [(ngModel)]="data.tratamientoSilvicultural"
                        />
                      </ng-container>
                    </td>

                    <td class="text-center" *ngIf="false">
                      <div class="p-field-checkbox">
                        <p-checkbox
                          [disabled]="disabled||isPerfilArffs"
                          (onChange)="
                            data.tratamiento = ''; data.descripcionDetalle = ''
                          "
                          [(ngModel)]="data.accion"
                          [binary]="true"
                        >
                        </p-checkbox>
                      </div>
                    </td>
                    <td>
                      <!-- <input
                        [disabled]="!data.accion || isPerfilArffs"
                        pInputText
                        class="form-control"
                        placeholder="Descripción"
                        [(ngModel)]="data.descripcionTratamiento"
                      /> -->
                      <textarea
                        autocomplete="off"
                        class="form-control"
                        rows="3"
                        maxlength="250"
                        [disabled]="!disabled||data.accion || isPerfilArffs"
                        [(ngModel)]="data.descripcionTratamiento"
                        placeholder="Descripción"
                        style="resize: none;"
                      >
                      </textarea>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <!-- <div class="col-12 mt-2">
              <button
                class="btn-primary2"
                (click)="guardarTratamientoSilvicultural(1)"
                [disabled]="disabled || isPerfilArffs"
              >
                Guardar
              </button>
            </div> -->
          </div>
          <div class="row m-0 pt-4">
            <div class="col-12">
              <h3 class="title2">Reforestación</h3>
            </div>

            <!-- <div class="col-2 col-sm-12 text-right">
              <button
                (click)="AgregarOtrosReforestacion()"
                class="btn btn-sm btn-default button-more mb-2"
                type="button"
                [disabled]="isPerfilArffs"
                title="Agregar"
                style="margin-bottom: 5px;"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div> -->

            <div class="col-12">
              <p-table [value]="reforestacionList">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 80px">Acciones</th>
                    <th style="width: 30%"></th>
                    <th style="width: 70%"></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td>
                      <span
                        class="pointer mr-1"
                        title="Editar"
                        (click)="!disabled&&openModal(data, 'E', rowIndex)"

                      >
                        <i class="pi pi-pencil"></i>
                      </span>

                      <span
                        (click)="!disabled&&
                          openEliminarReforestacion($event, rowIndex, data)
                        "
                        class="pointer"
                        title="Eliminar"
                      >
                        <i class="pi pi-trash"></i>
                      </span>
                    </td>
                    <td>{{ data.tratamientoSilvicultural }}</td>
                    <td>
                      <textarea
                        autocomplete="off"
                        class="form-control"
                        rows="3"
                        maxlength="250"
                        [disabled]="disabled|| isPerfilArffs || isEdit"
                        [(ngModel)]="data.reforestacion"
                        placeholder="Descripción"
                        style="resize: none;"
                      >
                      </textarea>
                      <!-- <input
                        *ngIf="
                          data.idTipoTratamiento != '1' &&
                          data.idTipoTratamiento != '2'
                        "
                        pInputText
                        class="form-control"
                        placeholder="Descripción"
                        [(ngModel)]="data.reforestacion"
                        [disabled]="isPerfilArffs || isEdit"
                      />
                      <ng-container
                        *ngIf="
                          data.idTipoTratamiento == '1' ||
                          data.idTipoTratamiento == '2'
                        "
                      >
                        <div class="input-group">
                          <input
                            type="text"
                            class="form-control"
                            placeholder=""
                            [(ngModel)]="data.reforestacion"
                          />
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <button
                                type="button"
                                [disabled]="isPerfilArffs"
                                id="btnCargaShapeFile"
                                (click)="fileInputReforestacion.click()"
                                class="btn btn-sm btn-secondary"
                              >
                                Cargar shape file
                                <input
                                  #fileInputReforestacion
                                  type="file"
                                  (change)="onFileChangeReforestacion($event)"
                                  style="display: none"
                                />
                              </button>
                            </div>
                          </div>
                        </div>
                      </ng-container> -->
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>

            <div class="col-12 mt-2">
              <button
                class="btn-primary2"
                (click)="Agregar7_4()"
                [disabled]="disabled || isPerfilArffs"
              >
                Guardar
              </button>
              <!-- <div>
                <label
                  *ngIf="pendiente9"
                  class="lbl-info mt-3 mb-3"
                  style="float: none !important;"
                >
                  (Los cambios locales se guardarán pulsando el botón
                  "Guardar".)
                </label>
              </div> -->
            </div>
          </div>
          <br />
          <br />
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon74"
            [base]="evaluacion74"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <div class="step__btn mt-4" *ngIf="!isPerfilArffs">
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <!-- <button class="btn-primary2" (click)="guardar()" [disabled]="disabled">
      Guardar
    </button> -->
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
  <div class="step__btn mt-4" *ngIf="isPerfilArffs">
    <message-evaluation></message-evaluation>
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button class="btn-primary2" (click)="registrarEvaluacion()">
      Guardar Evaluación
    </button>
    <button class="btn-primary2" (click)="retornarFlujoEvaluacion()">
      Retornar Flujo Evaluacion
    </button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
  <br />
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-dialog
  header="{{
    editCorta
      ? 'Editar Requerimiento de Mano de Obra y Equipos para la Corta y Arrastre'
      : 'Registrar Requerimiento de Mano de Obra y Equipos para la Corta y Arrastre'
  }}"
  header="Header"
  [(visible)]="displayModalCorta"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Operaciones</label>
            <div class="form-control-selectk">
              <p-dropdown
                appendTo="body"
                class="fomr-control"
                optionValue="valorSecundario"
                [options]="comboOperaciones"
                optionLabel="valorPrimario"
                placeholder="Selecciona Operación"
                [(ngModel)]="cortaArrastre.tipoOperacion"
                [disabled]="editCorta"
                (onChange)="updateOperaciones($event)"
              >
              </p-dropdown>
            </div>
          </div>
        </div>

        <div *ngIf="cortaArrastre.tipoOperacion == '5'" class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Descripción Otros</label>
            <input
              [(ngModel)]="cortaArrastre.descripcionOtros"
              type="text"
              class="form-control"
              placeholder="Ingrese descripción otros"
            />
          </div>
        </div>
        <div class="col-12 ">
          <div class="form-group">
            <label class="label">Mano de obra</label>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Tipo</label>
            <input
              [(ngModel)]="cortaArrastre.manoObra"
              type="text"
              class="form-control"
              placeholder="Ingrese tipo de mano de obra"
            />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Número</label>
            <input
              numero
              [maxLength]="15"
              [min]="0"
              [(ngModel)]="cortaArrastre.tipoTransDestino"
              class="form-control"
              placeholder="Ingrese número de mano de obra"
            />
          </div>
        </div>

          <div class="col-12">
            <div class="form-group">
              <label class="label">Equpo y Maquinaria</label>
            </div>
          </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Tipo</label>
            <input
              [(ngModel)]="cortaArrastre.maquina"
              type="text"
              class="form-control"
              placeholder="Ingrese tipo de equipo y maquinaria"
            />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Número</label>
            <input
              numero
              [maxLength]="15"
              [min]="0"
              [(ngModel)]="cortaArrastre.nuCaminoPrincipal"
              class="form-control"
              placeholder="Ingrese número de equipo y maquinaria"
            />
          </div>
        </div>


        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Descripción</label>
            <input
              [(ngModel)]="cortaArrastre.descripcion"
              type="text"
              class="form-control"
              placeholder="Ingrese descripción"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="registrarCorta()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModalCorta()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
<p-confirmDialog
  [style]="{ width: '300px' }"
  key="deleteFileSHPPF"
></p-confirmDialog>
<p-confirmDialog [style]="{width: '300px'}" key="eliminarList"> </p-confirmDialog>
