.button-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.input-group-text {
  padding: 0;
  margin: 0;
  height: 30px;
  display: initial;
  background: transparent;
  border: none;
}

.input-group-text button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.gh-layers {
  height: 340px;
  overflow: auto;
  scroll-behavior: smooth;
}
.color-green {
  color: #4caf50;
}

.color-red {
  color: #f11616;
}
.gh-label {
  float: right;
  display: flex;
  align-items: center;
  word-break: break-all;
  margin: 0 0 1em 1em;
  font-size: 10px;
}

.content-table {
  display: contents;
  background: #f8f9fa !important;
}

.content-table th {
  background: #f8f9fa !important;
  border: 1px solid #e9ecef;
  color: #495057;
  padding-top: 15px;
}
