<div class="container-fluit  pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="Formato para la Publicación" [selected]="true">
          <div class="row m-0">
            <div class="col-12 mt-3">
              <p class="font-normal fz-12">
                Se pone de conocimiento al público en general que se ha recibido una solicitud para el otorgamiento de
                una
                concesión para <i class="fz-12" style="text-decoration: underline;">{{informacionSolicitante.descripcionModalidad || ' '}}</i>, según lo siguiente:
              </p>
            </div>
            <div class="col-12 mt-2">
              <div class="form-group">
                <label class="label">Nombre del Solicitante:</label>
                <input type="text" autocomplete="off" class="form-control"  [(ngModel)]="informacionSolicitante.nombreSolicitanteUnico" disabled />
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label">Vigencia de la Concesión (años):</label>
                <input type="text" autocomplete="off" value="40" class="form-control" [(ngModel)]="informacionSolicitante.vigenciaAnio" disabled />
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label">Superficie (ha):</label>
                <input type="text" autocomplete="off" class="form-control" [(ngModel)]="informacionAreaSolicitada.superficieHa" disabled />
              </div>
            </div>
          </div>
          
          <div class="row m-0">
            <div class="col-12 col-sm-3">
              <div class="form-group">
                <label class="label">Departamento:</label>
                <input type="text" autocomplete="off" class="form-control" [(ngModel)]="informacionSolicitante.nombreDepartamentoSolicitante" disabled />
              </div>
            </div>
            <div class="col-12 col-sm-3">
              <label class="label">Provincia:</label>
              <input type="text" autocomplete="off" class="form-control" [(ngModel)]="informacionSolicitante.nombreProvinciaSolicitante" disabled />
            </div>
            <div class="col-12 col-sm-3">
              <label class="label">Distrito:</label>
              <input type="text" autocomplete="off" class="form-control" [(ngModel)]="informacionSolicitante.nombreDistritoSolicitante" disabled />
            </div>
            <div class="col-12 col-sm-3">
              <div class="form-group">
                <label class="label">Sector:</label>
                <input type="text" autocomplete="off" class="form-control" [(ngModel)]="informacionSolicitante.sectorCaserio" disabled />
              </div>
            </div>
          </div>
    
          <div class="row m-0 mt-3">
            <div class="col-12">
              <h3 class="title2 fz-12">Mapa de Ubicación:</h3>
            </div>
          </div>
    
          <app-map-custom-pfdm [idPFDM]="idPFDM" [codigoProceso]="codProceso" [codigoSubSeccion]="codigoSubSeccion" [showBotonGuardar]="false" [showBotonCargarGeneral]="false"
            [tipoGeometria]="'Otros'" [isAnexo]="true">
          </app-map-custom-pfdm>
    
          <div class="row m-0 mt-3">
            <div class="col-12 form-group">
              <label class="label">Objetivo de la Concesión <small>(máx. 250 caract.)</small>:</label>
              <textarea autocomplete="off" class="form-control" cols="3" rows="4" [(ngModel)]="informacionSolicitante.objetivo" disabled maxlength="250"></textarea>
            </div>
            <div class="col-12 form-group">
              <label class="label">Breve Descripción del Proyecto a Desarrollar <small>(máx. 250 caract.)</small>:</label>
              <textarea autocomplete="off" class="form-control" cols="3" rows="4" [(ngModel)]="informacionSolicitante.descripcionProyecto" disabled maxlength="250"></textarea>
            </div>
          </div>

          <div class="row m-0 mt-3" *ngIf="isShowEval">
            <div class="col-12">
              <app-evaluar-solicitud 
                [disabled]="isDisbledEval"
                [idPFDM]="idPFDM"
                [codSeccion]="codigosPFDM.TAB_5" 
                [codSubSeccion]="codigosPFDM.TAB_5_1"
              ></app-evaluar-solicitud>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>