  <div class="row m-0 pt-2">
    <div class="col-12 col-sm-8 p-0">
      <div class="f-w mb-2 mapa-content">
        <div class="mapa" #map2></div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="d-grid gap-2 d-md-block mb-2" style="display: flex !important;">
        <button type="button" (click)="fileInputSHP.click()" [disabled]="isDisbledObjFormu"
          class="btn-secondary width-full">
          Cargar shape file
          <input #fileInputSHP type="file" (change)="onChangeFile($event)"
            style="display: none;" />
        </button>
      </div>
      <div class="card gh-layers">
        <div class="card-header py-0 pt-2 pb-2">
          Capas
          <span
            title="Guardar Capa"
            class="pointer pr-1 float-right"
          >
            <i
              class="pi pi-save"
              aria-hidden="true"
              (click)="onGuardarLayer()"
            ></i>
          </span>
        </div>
        <ul class="list-group">
          <li *ngFor="let item of _layers" class="list-group-item p-0 d-flex">
            <input class="ml-1 mr-1 pointer" type="checkbox" [checked]="true" [disabled]="isDisbledObjFormu"
              (change)="toggleLayer(item.idLayer, $event)" />

            <label class="m-0 p-0 text-left pointer gh-label" style="flex: 2;"
              [ngStyle]="{'color': item.color}">{{item.nombre}}
              <span class="pointer pr-1"
                title="{{ item.overlap ? 'Capa Superpuesta' : 'Capa contenida'}} ">
                <i class="{{ item.overlap? 'pi pi-info-circle color-red' : 'pi pi-check-circle color-green'}}"
                  *ngIf="item.service" aria-hidden="true"></i>
              </span>
            </label>

            <div class="d-flex">
              <span class="mr-2 pointer">
                <i class="pi pi-download" *ngIf="!item.service && item.inServer == true"
                  aria-hidden="true" (click)="onDownloadFileSHP(item?.codigo)"></i>
              </span>
              <span class="pointer pr-1" >
                <i class="pi pi-trash"
                  aria-hidden="true" *ngIf="!item.service && item.idLayer"
                  (click)="onRemoveFileSHP_v2(item)" 
                ></i>
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div class="col-12 text-right">
        <button icon="pi pi-plus" (click)="openModal('Nuevo Registro', null, 'C')" pButton pRipple type="button"
                label="" class="p-button-success p-button-text" [disabled]="isDisbledObjFormu"></button><!--[disabled]="disabled"-->
      </div>

      <table class="table table-boderk">
        <thead>
        <tr>
          <th>Acciones</th>
          <th>Denominación o Espacios</th>
          <th>Adjuntar</th>
          <th>Capa</th>
          <th>Superficie Aproximada (ha)</th>
          <th>(%)</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of listOrdenInterno; index as i">
          <td>
            <div *ngIf="item.categoria != 'Con cobertura boscosa' && item.categoria != 'Sin cobertura boscosa'">
              <span (click)="openModal('Editar Registro', item, 'E', i)" class="pointer mr-1"
                title="Editar" [ngClass]="isDisbledObjFormu?'disabled-pointer':''">
                <i class="pi pi-pencil"></i>
              </span>
              <span  (click)="openEliminar($event, item, i)" class="pointer"
                title="Eliminar" [ngClass]="isDisbledObjFormu?'disabled-pointer':''">
                <i class="pi pi-trash"></i></span>
            </div>
          </td>
          <td class="text-left">
            <div
              *ngIf="item.categoria == 'Con cobertura boscosa' ||item.categoria == 'Sin cobertura boscosa';else elseCategoria"
              style="font-size: 1.5em" class="font-weight-bold">
              {{ item.categoria }}
            </div>
            <ng-template #elseCategoria>
              <div>{{ item.categoria }}</div>
            </ng-template>
          </td>
          <td>
            <div
              *ngIf="item.categoria != 'Con cobertura boscosa' && item.categoria != 'Sin cobertura boscosa'">
              <ng-container *ngIf="item?.observacion == RespuestaTipo.SI; else elseBtnTpl">
                <button (click)="download(item)" type="button" class="btn-secondary off" style="min-width: 40px">
                  <i class="pi pi-download" aria-hidden="true"></i>
                 <!-- (click)="download(item)"-->
                </button>
              </ng-container>

              <ng-template #elseBtnTpl>
                <button type="button" (click)="fileInputSHP.click()" style="min-width: 40px; width: 40px"
                        class="btn-secondary width-full" [disabled]="isDisbledObjFormu">
                  <i class="pi pi-upload" aria-hidden="true"></i>
                  <input #fileInputSHP type="file" (change)="onChangeFileOrdenameinto(item, $event)" style="display: none;" />
                </button>
                <!--<upload-button *ngIf="false" label="" accept=".zip" style="min-width: 40px; width: 40px" icon="upload"
                               (change)="addLayer(item, $event)" [disabled]="disabled">
                </upload-button>-->
              </ng-template>
            </div>
          </td>
          <td>
            <div
              *ngIf="item.categoria != 'Con cobertura boscosa' && item.categoria != 'Sin cobertura boscosa'"
              class="d-flex justify-content-center align-items-center w-100">
              <div class="point-layer" [ngStyle]="{ 'background-color': item?.observacionDetalle }"></div>
            </div>
          </td>
          <td>
            {{ item.areaHA | number: "1.2-3" }}
          </td>
          <td>
            {{ item.areaHAPorcentaje | number: "1.2-3" }}
          </td>
        </tr>
        </tbody>
        <tbody>
        <tr style="background: #dfe0ea80">
          <td class="text-center"><b>Total</b></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{ totalArea | number: "1.2-3" }}</td>
          <td>{{ totalAreaPorcentaje * 100 | number: "1.2-3" }} %</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-12">
      <label class="m-0 mr-5 label">Se amplía información en el Anexo 4:</label>
      <div class="row">
        <div class="col-12 col-md-12">
          <div class="p-field-radiobutton">
            <strong for="Si">SI</strong>
            <p-radioButton name="informacionAnexo4" value="S" inputId="Si" [(ngModel)]="selectAnexo" [disabled]="isDisbledObjFormu">
            </p-radioButton>
          </div>
          <div class="p-field-radiobutton">
            <strong for="No">NO</strong>
            <p-radioButton name="informacionAnexo4" value="N" inputId="No" [(ngModel)]="selectAnexo" (onClick)="anexoN()" [disabled]="isDisbledObjFormu">
            </p-radioButton>
          </div>
        </div>
        <div class="col-12 p-0" [hidden]="selectAnexo == 'N'">
          <div *ngIf="selectAnexo == 'S'">
            <app-anexo-upload-file
              [fileInfGenreal]="fileAnexo4_1"
              [label]="'Adjuntar Evidencia:'"
              [idPlanManejo]="idPGMF"
              [idTipoDocumento]="CodigosPGMF.PGMF_TAB_4_1"
              [codigoProceso]="CodigosPGMF.PGMF_TAB_4_1"
              (registrarArchivoId)="cargarIdArchivo($event)"
              [isDisbledObjFormu]="isDisbledObjFormu"
            >
            </app-anexo-upload-file>
          </div>
        </div>
      </div>

    </div>


    <div class="step__btn mt-4">
      <button class="btn-primary2" (click)="guardarOrdenamiento()" [disabled]="isDisbledObjFormu">Guardar</button>
    </div>
  </div>
