<p-fieldset legend="Datos Generales" [toggleable]="true">
  <div class="row m-0">
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Tipo de persona</label>
        <div class="form-control-selectk">
          <p-dropdown [(ngModel)]="solicitudAcceso.codigoTipoPersona" [options]="lstTipoPersona"
            optionLabel="valor1" optionValue="codigo" placeholder="Seleccione"></p-dropdown>
        </div>
      </div>
      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="tipoPersona1" class="mr-2">Aprobado</label>
                <p-radioButton [(ngModel)]="solicitudAcceso.tipoPersonaAprobado" name="tipoPersona" [value]="true" inputId="tipoPersona1"></p-radioButton>
              </div>
              
            </div>
          </div>

        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="tipoPersona2" class="mr-2">Observado</label>
                <p-radioButton [(ngModel)]="solicitudAcceso.tipoPersonaAprobado" name="tipoPersona" [value]="solicitudAcceso.tipoPersonaAprobado" inputId="tipoPersona2">
                </p-radioButton>
              </div>
            </div>
          </div>

        </li>
      </ul>

    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Tipo de Actor</label>
        <div class="form-control-selectk">
          <p-dropdown [(ngModel)]="solicitudAcceso.codigoTipoActor" [options]="lstTipoActor"
            optionLabel="valor1" optionValue="codigo" placeholder="Seleccione"></p-dropdown>
        </div>
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="tipoActor1" class="mr-2">Aprobado</label>
                <p-radioButton [(ngModel)]="solicitudAcceso.tipoActorAprobado" name="tipoActor" [value]="true" inputId="tipoActor1"></p-radioButton>
              </div>
            </div>
          </div>

        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="tipoActor2" class="mr-2">Observado</label>
                <p-radioButton [(ngModel)]="solicitudAcceso.tipoActorAprobado" name="tipoActor" [value]="solicitudAcceso.tipoActorAprobado" inputId="tipoActor2">
                </p-radioButton>
              </div>
            </div>
          </div>

        </li>
      </ul>

    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group" *ngIf="solicitudAcceso.codigoTipoActor=='TACTTCNC'">
        <label class="label">Tipo de CNCC</label>
        <div class="form-control-selectk">
          <p-dropdown [(ngModel)]="solicitudAcceso.codigoTipoCncc" [options]="lstTipoCNCC"
            optionLabel="valor1" optionValue="codigo" placeholder="Seleccione"></p-dropdown>
        </div>
      </div>

      <ul *ngIf="solicitudAcceso.codigoTipoActor=='TACTTCNC'">
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="tipoCncc1" class="mr-2">Aprobado</label>
                <p-radioButton [(ngModel)]="solicitudAcceso.tipoCnccAprobado" name="tipoCncc" [value]="true" inputId="tipoCncc1"></p-radioButton>
              </div>
            </div>
          </div>

        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="tipoCncc2" class="mr-2">Observado</label>
                <p-radioButton [(ngModel)]="solicitudAcceso.tipoCnccAprobado" name="tipoCncc" [value]="solicitudAcceso.tipoCnccAprobado" inputId="tipoCncc2">
                </p-radioButton>
              </div>
            </div>
          </div>

        </li>
      </ul>

    </div>
  </div>
  <!-- select listado GUARDAR-->
<!--   <div class="row m-0" *ngIf="solicitudAcceso.codigoEstadoSolicitud ==  null">
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Departamento</label>
        <div class="form-control-selectk">
          <p-dropdown [options]="listDepartamento" [(ngModel)]="solicitudAcceso.idDepartamentoPersona"
            optionLabel="nombreDepartamento" optionValue="idDepartamento" (onChange)="onSelectedProvincia($event)"
            placeholder="Seleccione"></p-dropdown>
        </div>
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="departamento1" class="mr-2">Aprobado</label>
                <p-radioButton [(ngModel)]="solicitudAcceso.departamentoAprobado" name="departamento" [value]="true" inputId="departamento1"></p-radioButton>
              </div>
            </div>
          </div>

        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="departamento2" class="mr-2">Observado</label>
                <p-radioButton [(ngModel)]="solicitudAcceso.departamentoAprobado" name="departamento" [value]="false" inputId="departamento2">
                </p-radioButton>
              </div>
            </div>
          </div>

        </li>
      </ul>

    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Provincia</label>
        <div class="form-control-selectk">
          <p-dropdown [disabled]="true" [options]="listProvincia" [(ngModel)]="solicitudAcceso.idProvinciaPersona"
            optionLabel="nombreProvincia" optionValue="idProvincia" (onChange)="onSelectedDistrito($event)"
            placeholder="Seleccione"></p-dropdown>
        </div>
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="provincia1" class="mr-2">Aprobado</label>
                <p-radioButton [(ngModel)]="solicitudAcceso.provinciaAprobado" name="provincia" [value]="true" inputId="provincia1"></p-radioButton>
              </div>
            </div>
          </div>

        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="provincia2" class="mr-2">Observado</label>
                <p-radioButton [(ngModel)]="solicitudAcceso.provinciaAprobado" name="provincia" [value]="false" inputId="provincia2">
                </p-radioButton>
              </div>
            </div>
          </div>

        </li>
      </ul>

    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Distrito</label>
        <div class="form-control-selectk">
          <p-dropdown [disabled]="true" [options]="listDistrito" [(ngModel)]="solicitudAcceso.idDistritoPersona"
            optionLabel="nombreDistrito" optionValue="idDistrito" placeholder="Seleccione"></p-dropdown>
        </div>
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="distrito1" class="mr-2">Aprobado</label>
                <p-radioButton [(ngModel)]="solicitudAcceso.distritoAprobado" name="distrito" [value]="true" inputId="distrito1"></p-radioButton>
              </div>
            </div>
          </div>

        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="distrito2" class="mr-2">Observado</label>
                <p-radioButton [(ngModel)]="solicitudAcceso.distritoAprobado" name="distrito" [value]="false" inputId="distrito2">
                </p-radioButton>
              </div>
            </div>
          </div>

        </li>
      </ul>

    </div>
  </div> -->

  <div class="row m-0" *ngIf="solicitudAcceso.codigoEstadoSolicitud != null">
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Departamento</label>
        <input type="text" [disabled]="true" [(ngModel)]="solicitudAcceso.nombreDepartamento" class="form-control"
          autocomplete="off" />
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="departamento1" class="mr-2">Aprobado</label>
                  <p-radioButton [(ngModel)]="solicitudAcceso.departamentoAprobado" name="departamento" [value]="solicitudAcceso.departamentoAprobado" inputId="departamento1"></p-radioButton>
              </div>
              
            </div>
          </div>

        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="departamento2" class="mr-2">Observado</label>
                <p-radioButton [(ngModel)]="solicitudAcceso.departamentoAprobado" name="departamento" [value]="false" inputId="departamento2">
                </p-radioButton>
              </div>
            </div>
          </div>

        </li>
      </ul>

    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Provincia</label>
        <input type="text" [disabled]="true" [(ngModel)]="solicitudAcceso.nombreProvincia" class="form-control"
          autocomplete="off" />
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="provincia1" class="mr-2">Aprobado</label>
                <p-radioButton [(ngModel)]="solicitudAcceso.provinciaAprobado" name="provincia" [value]="solicitudAcceso.provinciaAprobado" inputId="provincia1"></p-radioButton>
              </div>
            </div>
          </div>

        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="provincia2" class="mr-2">Observado</label>
                <p-radioButton [(ngModel)]="solicitudAcceso.provinciaAprobado" name="provincia" [value]="false" inputId="provincia2">
                </p-radioButton>
              </div>
            </div>
          </div>

        </li>
      </ul>

    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Distrito</label>
        <input type="text" [disabled]="true" [(ngModel)]="solicitudAcceso.nombreDistrito" class="form-control"
          autocomplete="off" />
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="distrito1" class="mr-2">Aprobado</label>
                <p-radioButton [(ngModel)]="solicitudAcceso.distritoAprobado" name="distrito" [value]="solicitudAcceso.distritoAprobado" inputId="distrito1"></p-radioButton>
              </div>
            </div>
          </div>

        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="distrito2" class="mr-2">Observado</label>
                <p-radioButton [(ngModel)]="solicitudAcceso.distritoAprobado" name="distrito" [value]="false" inputId="distrito2">
                </p-radioButton>
              </div>
            </div>
          </div>

        </li>
      </ul>

    </div>
  </div>


  <div class="row m-0">
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Descargar sustento</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" [(ngModel)]="fileName" [disabled]="true">
          <div class="input-group-append">
            <button type="button" id="btnDescargarFile" (click)="onDescargarArchivo()" class="btn btn-sm btn-secondary"
              [disabled]="this.fileName == ''">
              Descargue archivo<input type="button" style="display:none;" />
            </button>
          </div>
        </div>
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="sustento1" class="mr-2">Aprobado</label>
                <p-radioButton [(ngModel)]="solicitudAcceso.sustentoAprobado" name="sustento" [value]="solicitudAcceso.sustentoAprobado" inputId="sustento1"></p-radioButton>
              </div>
            </div>
          </div>

        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="sustento2" class="mr-2">Observado</label>
                <p-radioButton [(ngModel)]="solicitudAcceso.sustentoAprobado" name="sustento" [value]="false" inputId="sustento2">
                </p-radioButton>
              </div>
            </div>
          </div>

        </li>
      </ul>

    </div>

    <div class="col-12 col-sm-8"
    *ngIf="solicitudAcceso.tipoPersonaAprobado == false ||
    solicitudAcceso.tipoActorAprobado == false ||
    solicitudAcceso.tipoCnccAprobado == false ||
    solicitudAcceso.departamentoAprobado == false ||
    solicitudAcceso.provinciaAprobado == false ||
    solicitudAcceso.distritoAprobado == false ||
    solicitudAcceso.sustentoAprobado == false">
      <div class="form-group">
        <label class="label">Descripción de observados</label>
        <input type="text" class="form-control">
      </div>
    </div>

  </div>

</p-fieldset>
