<div class="container-fluit">
    <div class="row m-0">
      <!-- TITULO -->
      <div class="col-12">
        <h3 class="title">Ep:2.3.2.3 Bandeja de Calificación de Evaluación PFDM</h3>
      </div>
      <!-- FILTROS -->
      <div class="col-12 form-group">
        <div class="panelk br10 p-3">
          <div class="row">
            <!-- Inputs -->
            <div class="col-12 col-sm-6 col-md-3 form-group">
              <label class="label">ID Solicitud Concesión</label>
              <input class="form-control" type="text" numero [maxlength]="5" [(ngModel)]="requestFiltro.idConcesion"
                autocomplete="off" placeholder="Ingresar ID" />
            </div>
            <div class="col-12 col-sm-6 col-md-3 form-group">
              <label class="label">Tipo Modalidad</label>
              <div class="form-control-selectk">
                <p-dropdown appendTo="body" [options]="comboTipoMod" placeholder="Seleccione"
                  optionLabel="valorPrimario" optionValue="codigo" [(ngModel)]="requestFiltro.codigoModalidad">
                </p-dropdown>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 form-group">
              <label class="label">Solicitante</label>
              <input class="form-control" type="text" maxlength="100" [(ngModel)]="requestFiltro.solicitante"
                autocomplete="off" placeholder="Ingresar nombre o razón social" />
            </div>
            <div class="col-12 col-sm-6 col-md-3 form-group">
              <label class="label">N° Doc. Solicitante</label>
              <input class="form-control" type="text" numero [maxlength]="11" [(ngModel)]="requestFiltro.nroDocumento"
                autocomplete="off" placeholder="Ingresar N° de Doc." />
            </div>
            <!-- Botones -->
            <div class="col-sm-12 my-2 form-group text-center">
              <button class="btn btn-sm btn-secondary mr-2" (click)="btnLimpiar()">Limpiar</button>
              <button class="btn btn-sm btn-secondary mr-2" (click)="btnBuscar()">Buscar</button>
              <button *ngIf="isPerTitularTH" class="btn btn-sm btn-secondary" >Nuevo</button>
              <button class="btn btn-sm btn-primary2" (click)="btnRegistrarOposicion()">Registrar Oposición</button>

            </div>
          </div>
          <br>
        </div>
      </div>

      <!-- TABLA -->
      <div class="col-12 mt-4 mb-3">
        <p-table [value]="listaBandeja">
          <ng-template pTemplate="header">
            <tr>
              <th>ID Sol.</th>
              <th>Tipo Modalidad</th>
              <th>Solicitante</th>
              <th>N° Doc. Solicitante</th>

              <th>Estado Solicitud</th>
              <!-- <th>Registrar Oposición</th> -->

              <!-- Perfil ARFFS -->
              <ng-container *ngIf="isPerARFFS">
                <th>Eval. Propuesta</th>
                <th>Días para Evaluación</th>
              </ng-container>
              <ng-container *ngIf="isPerARFFS ||isPerTitularTH">
                <th>Resolución</th>
              </ng-container>
              <ng-container *ngIf="isPerARFFS">
                <th>Notificación</th>
              </ng-container>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.idConcesion}}</td>
              <td>{{data.descripcionModalidad}}</td>
              <td>{{data.nombreSolicitanteUnico}}</td>
              <td>{{data.numeroDocumentoSolicitante}}</td>

              <td class="{{data.auxColor}}">{{data.estadoSolicitudTexto}}</td>
              <!-- <td >---</td> -->
              <!-- Perfil ARFFS -->

              <ng-container *ngIf="isPerARFFS">
                <td *ngIf="data.cantidadHijos > 0">
                    <span class="pointer">{{data.cantidadHijos}} prop <i class="pi pi-file" title="Evaluar Propuesta"
                        (click)="btnEvalPropuesta(data.idConcesion)"></i></span>
                </td>
                <td *ngIf="data.cantidadHijos == 0">
                  <span class="pointer">0 prop</span>
                </td>

                <td> {{data.diaEvaluacion}} </td>



              </ng-container>
              <ng-container *ngIf="isPerARFFS || isPerTitularTH">

                <td >
                  <span  *ngIf="data.ganador==1" class="pointer mr-2"> <i class="pi pi-book" title="Generar resolución"
                    (click)="btnResolucion(data)" ></i></span>
                </td>

              </ng-container>
              <ng-container *ngIf="isPerARFFS">

                <td>
                  <span class="pointer mr-2"> <i class="pi pi-send" title="Notificar"
                     ></i></span>
                </td>

              </ng-container>
            </tr>
          </ng-template>
        </p-table>
        <p-paginator [rows]="10" [totalRecords]="optionPage.totalRecords" (onPageChange)="loadData($event)"
          [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
          currentPageReportTemplate="Total : {totalRecords} registros">
        </p-paginator>
      </div>

    </div>
  </div>
  <p-confirmPopup></p-confirmPopup>
