<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">
            <h3 class="title" *ngIf="idBPF && !isAnexo3">REVISIÓN DE INSCRIPCIÓN EN EL REGISTRO NACIONAL DE PLANTACIONES
                FORESTALES
            </h3>
            <h3 class="title" *ngIf="!idBPF && !isAnexo3">FORMATO PARA LA INSCRIPCIÓN EN EL REGISTRO NACIONAL DE
                PLANTACIONES
                FORESTALES</h3>
            <h3 class="title" *ngIf="idBPF && isAnexo3">FORMATO PARA LA ACTUALIZACIÓN DEL REGISTRO NACIONAL DE
                PLANTACIONES
                FORESTALES</h3>
        </div>
    </div>
    <p-confirmPopup></p-confirmPopup>
    <div class="row m-0 pt-4">
        <div class="col-12 p-0">
            <mat-tab-group animationDuration="0ms" (selectedIndexChange)="tabChange($event)" [selectedIndex]="tabIndex">
                <mat-tab label="1. Información del Solicitante">
                    <ng-template matTabContent>
                        <app-informacion-solicitante [idBPF]="idBPF" [isDisbledFormu]="isDisbledFormu"
                            [isDisbledEval]="isDisbledEval" [isShowEval]="isShowEval"
                            [solPlantacionForestal]="solicitud.solPlantacionForestal" [isTM_Dominio]="isTM_Dominio"
                            [isTM_TH]="isTM_TH" [isTM_Predio]="isTM_Predio" [ListaDistrito]="ListaDistritoInformacion"
                            [ListaProvincia]="ListaProvinciaInformacion" [ListaDepartamento]="ListaDepartamento"
                            [ListaProvinciaRepr]="ListaProvinciaRepr"
                            [isSolicitudHija]="isSolicitudHija">
                        </app-informacion-solicitante>
                    </ng-template>
                </mat-tab>

                <mat-tab label="2. Información del Área">
                    <ng-template matTabContent>
                        <app-informacion-del-area [idBPF]="idBPF" [isDisbledFormu]="isDisbledFormu"
                            [isDisbledEval]="isDisbledEval" [isShowEval]="isShowEval" [isTM_Predio]="isTM_Predio"
                            [isTM_TH]="isTM_TH" [isTM_Dominio]="isTM_Dominio"
                            [isSolicitudHija]="isSolicitudHija"></app-informacion-del-area>
                    </ng-template>
                </mat-tab>

                <mat-tab label="3. Información General del Área Plantada">
                    <ng-template matTabContent>
                        <app-informacion-general-area-plantada [idBPF]="idBPF" [isDisbledFormu]="isDisbledFormu"
                            [isDisbledEval]="isDisbledEval" [isShowEval]="isShowEval"
                            [isSolicitudHija]="isSolicitudHija">
                        </app-informacion-general-area-plantada>
                    </ng-template>
                </mat-tab>

                <mat-tab label="4. Detalle de Plantación Forestal">
                    <ng-template matTabContent>
                        <app-detalle-plantacion-forestal [idBPF]="idBPF" [isDisbledFormu]="isDisbledFormu"
                            [isDisbledEval]="isDisbledEval" [isShowEval]="isShowEval"
                            [isSolicitudHija]="isSolicitudHija"></app-detalle-plantacion-forestal>
                    </ng-template>
                </mat-tab>

                <mat-tab label="5. Anexos">
                    <ng-template matTabContent>
                        <app-anexo [idBPF]="idBPF" [isDisbledFormu]="isDisbledFormu" [isDisbledEval]="isDisbledEval"
                            [isShowEval]="isShowEval" [isTM_Predio]="isTM_Predio" [isTM_TH]="isTM_TH"
                            [isTM_Dominio]="isTM_Dominio" [isSolicitudHija]="isSolicitudHija"></app-anexo>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Carga y Envio de Documentación">
                    <ng-template matTabContent>
                        <app-observaciones [idBPF]="idBPF" [isDisbledFormu]="isDisbledFormu"
                            [isDisbledEval]="isDisbledEval" [isShowEval]="isShowEval"
                            [isSolicitudHija]="isSolicitudHija"></app-observaciones>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Resultados de Evaluación" *ngIf="isShowEval">
                    <ng-template matTabContent>
                        <app-resultados-evaluacion [idBPF]="idBPF" [isDisbledFormu]="isDisbledFormu"
                            [isDisbledEval]="isDisbledEval" [isShowEval]="isShowEval"
                            [isSolicitudHija]="isSolicitudHija"></app-resultados-evaluacion>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="row m-0 mt-4 mb-4">
        <div class="col-12">
            <!-- <button (click)="cancelar()" class="btn-primary2">Regresar</button> -->
            <button *ngIf="tabIndex > 0" (click)="tabAnterior()" class="btn-primary2">Anterior</button>
            <button class="btn-primary2" (click)="tabSiguiente()">Siguiente</button>
        </div>
    </div>
</div>