<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 pt-3 mb-2">
      <p-breadcrumb [model]="listItems" [home]="homes"></p-breadcrumb>
    </div>
    <div class="col-12 pt-3">
      <h3 class="title">Postulaciones PFDM Pendientes de Generación de Contrato</h3>
    </div>
    <div class="col-12">

      <!-- <div class="panelk br10 p-3">
        <div class="row">


        </div>
      </div> -->

    </div>
    <div class="col-12 mt-4 mb-3">
      <div class="tablek">

        <p-table [value]="listaResultadoPP" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
          currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
          <ng-template pTemplate="header">
            <tr>
              <th>Id Proceso Postulación</th>
              <th>Id de unidades Ofertables</th>
              <th>Estado</th>
              <th>Usuario Postulación</th>
              <th>Fecha Postulación</th>
              <th>Nota Total</th>
              <th>Estado</th>
              <th>Ver</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-obj>
            <tr>
              <td>{{obj.idProcesoPostulacion}}</td>
              <td>{{obj.idProcesoOferta}}</td>
              <td>{{obj.nombreStatusProcesoPostulacion}}</td>
              <td>{{obj.nombreUsuarioPostulacion}}</td>
              <td>{{obj.fechaPostulacionString}}</td>
              <td>{{obj.notaTotal}}</td>
              <td>{{obj.ganador == null ? "Pendiente envió resolución" :obj.ganador == true ? "Ganador" : "Perdedor" }}
              </td>
              <td>
                <a style="cursor: pointer;" (click)="modalGenerarContrato(obj)"> <i class="pi pi-eye"></i> </a>
              </td>
            </tr>
          </ng-template>
        </p-table>

      </div>

    </div>
  </div>
</div>

<p-toast position="bottom-center" key="tl"></p-toast>
