<div class="row m-0">
    <div class="col-12 col-sm-6 form-group">
      <app-carga-archivo-general accept=".pdf" [idArchivo]="adjunto3_8_1.idArchivo"
        [tipoDoc]="adjunto3_8_1.tipoArchivo" label="Reporte de Dirección Regional Agraria: *"
        (registrarArchivo)="registrarArchivo($event, adjunto3_8_1)"
        (eliminarArchivo)="eliminarArchivo($event, adjunto3_8_1)" [disabled]="true">
      </app-carga-archivo-general>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-12"><label class="label">Visor de Superposición</label></div>
  </div>
  <app-map-custom-sol-bosque-local #map [idPlanManejo]="idPlan" [showBotonCargarGeneral]="false"
    [codigoProceso]="codProceso" [codigoSubSeccion]="codTab3_8" [tipoArchivoArea]="codDocMapa2"
     [isDisbledFormu]="true" [isAnexo]="true"
    [showBotonGuardar]="false">
  </app-map-custom-sol-bosque-local>

  <div class="row m-0 mt-3" *ngIf="showEvalComiteTec">
    <div class="col-12">
      <app-evaluar-comite-tecnico-bl [idPlan]="idPlan" [disabled]="disabledEvalComiteTec"
        [codSeccion]="codSeccion" [codSubSeccion]="codigoSOLBL.TAB_3_8">
      </app-evaluar-comite-tecnico-bl>
    </div>
  </div>
