<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 form-group">
      <label class="label">Tipo de Documento</label>
      <div class="form-control-selectk">
        <p-dropdown appendTo="body" [options]="comboTiposDocumento" [disabled]="false"
          placeholder="Seleccione" optionLabel="valorPrimario" optionValue="codigo"
          [(ngModel)]="requestModal.tipoArchivo"></p-dropdown>
      </div>
    </div>

    <div class="col-12 form-group">
      <app-carga-archivo-general accept=".pdf" [idArchivo]="requestModal.idArchivo" [tipoDoc]="requestModal.tipoArchivo"
        label="Documento: *" (registrarArchivoFile)="registrarArchivoFile($event, requestModal)"
        (eliminarArchivo)="eliminarArchivo($event, requestModal)" [disabled]="false">
      </app-carga-archivo-general>
    </div>

    <div class="col-12 mt-4 text-right">
      <button class="p-button-success p-button-outlined mr-2" type="button" icon="pi pi-save" pButton pRipple
        label="Aceptar" (click)="btnAgregar()"></button>

      <button class="p-button-danger p-button-outlined" type="button" icon="pi pi-times" pButton pRipple
        label="Cancelar" (click)="btnCancelar()"></button>
    </div>
  </div>
</div>