<div class="container-fluit pt-4">
  <p-confirmPopup></p-confirmPopup>
  <div class="row m-0">
    <div class="col-12 form-group">
      <p-accordion>
        <p-accordionTab header="12.1. Flujo de Caja" [selected]="true">

          <div class="row m-0 justify-content-between pt-4">
            <h3 class="title2">Ingreso</h3>
            <button (click)="openModalAgregar()" class="btn btn-sm btn-default mb-2" type="button" title="Agregar"
              [disabled]="isDisbledObjFormu">
              <i class="pi pi-plus"></i>
            </button>
          </div>

          <p-table [value]="ingresos" [columns]="colsIngreso" class="table-justify" [scrollable]="true"
            [style]="{width:'100%'}">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 80px; min-width: 80px;">Acciones</th>
                <th style="width: 400px; min-width: 120px;">Rubro</th>
                <th *ngIf="verIngDescripcion" style="width: 400px; min-width: 120px;"> Descripción </th>
                <th *ngFor="let col of columns" style="min-width: 120px;"> {{col.header}} </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowData let-columns="columns" let-rowIndex="rowIndex">
              <tr>
                <td class="text-center" style="width: 80px; min-width: 80px;">
                  <span class="pointer mr-2" title="Editar" (click)="openEditarRentabilidadManejoIngreso(data)"
                    [ngClass]="isDisbledObjFormu?'disabled-pointer':''">
                    <i class="pi pi-pencil"></i>
                  </span>
                  <span class="pointer" title="Eliminar" (click)="eliminarRentabilidadIngreso($event,rowIndex,data)"
                    [ngClass]="isDisbledObjFormu?'disabled-pointer':''">
                    <i class="pi pi-trash"></i>
                  </span>
                </td>
                <td style="width: 400px; min-width: 120px;">{{data.rubro}}</td>
                <td *ngIf="verIngDescripcion" style="width: 400px; min-width: 120px;"> {{data.descripcion}} </td>
                <td *ngFor="let col of columns" style="min-width: 120px;">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr class="font11-td">
                <td style="width: 40px; min-width: 80px;"> Total Ingresos </td>
                <td style="width: 400px; min-width: 120px;"></td>
                <td style="min-width: 120px;" *ngIf="verIngDescripcion"></td>
                <td style="min-width: 120px;" *ngIf="verAnio1"> {{monto1 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnio2"> {{monto2 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnio3"> {{monto3 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnio4"> {{monto4 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnio5"> {{monto5 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnio6"> {{monto6 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnio7"> {{monto7 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnio8"> {{monto8 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnio9"> {{monto9 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnio10"> {{monto10 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnio11"> {{monto11 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnio12"> {{monto12 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnio13"> {{monto13 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnio14"> {{monto14 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnio15"> {{monto15 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnio16"> {{monto16 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnio17"> {{monto17 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnio18"> {{monto18 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnio19"> {{monto19 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnio20"> {{monto20 | number : '1.2-2'}} </td>
              </tr>
            </ng-template>
          </p-table>
          <br><br>

          <h3 class="title2">Egresos</h3>
          <p-table class="table-justify" [columns]="colsEgresos" [value]="egresos" [scrollable]="true"
            [style]="{width:'100%'}">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 80px; min-width: 80px;">Acciones</th>
                <th style="width: 400px; min-width: 120px;">Rubro</th>
                <th *ngIf="verEgreDescripcion" style="width: 400px; min-width: 120px;">
                  Descripción
                </th>
                <th *ngFor="let col of columns" style="min-width: 120px;">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-data let-rowIndex="rowIndex">
              <tr>
                <td class="text-center" style="width: 80px; min-width: 80px;">
                  <span class="pointer mr-2" title="Editar" (click)="openEditarRentabilidadManejoIngreso(data)"
                    [ngClass]="isDisbledObjFormu?'disabled-pointer':''">
                    <i class="pi pi-pencil"></i>
                  </span>
                  <span class="pointer" title="Eliminar" (click)="eliminarRentabilidadEgreso($event,rowIndex,data)"
                    [ngClass]="isDisbledObjFormu?'disabled-pointer':''">
                    <i class="pi pi-trash"></i>
                  </span>
                </td>
                <td style="width: 400px; min-width: 120px;">{{data.rubro}}</td>
                <td *ngIf="verEgreDescripcion" style="width: 400px; min-width: 120px;">
                  {{data.descripcion}}
                </td>
                <td *ngFor="let col of columns" style="min-width: 120px;">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr class="font11-td">
                <td style="width: 40px; min-width: 80px;">
                  Total Egresos
                </td>
                <td style="width: 400px; min-width: 120px;"></td>
                <td style="min-width: 120px;" *ngIf="verEgreDescripcion"></td>
                <td style="min-width: 120px;" *ngIf="verAnioE1"> {{montoE1 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnioE2"> {{montoE2 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnioE3"> {{montoE3 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnioE4"> {{montoE4 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnioE5"> {{montoE5 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnioE6"> {{montoE6 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnioE7"> {{montoE7 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnioE8"> {{montoE8 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnioE9"> {{montoE9 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnioE10"> {{montoE10 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnioE11"> {{montoE11 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnioE12"> {{montoE12 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnioE13"> {{montoE13 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnioE14"> {{montoE14 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnioE15"> {{montoE15 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnioE16"> {{montoE16 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnioE17"> {{montoE17 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnioE18"> {{montoE18 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnioE19"> {{montoE19 | number : '1.2-2'}} </td>
                <td style="min-width: 120px;" *ngIf="verAnioE20"> {{montoE20 | number : '1.2-2'}} </td>
              </tr>
            </ng-template>
          </p-table>
          <br><br>
          <h3 class="title2">Cargar Información</h3>
          <div class="row">
            
            <div class="col-sm-4">
              <label class="label"></label><br />
              <button class="btn-secondary" (click)="btnDescargarFormato()" [disabled]="isDisbledObjFormu">
                Descargar Formato
              </button>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label"></label><br />
              <upload-input-button [(ngModel)]="archivoCargado" [disabled]="isDisbledObjFormu" label="Seleccione Archivo"></upload-input-button>
              </div>
            </div>
            <div class="col-sm-4">
              <label class="label"></label><br />
              <button
                class="btn-secondary"
                (click)="btncargarFormato()"
                [disabled]="isDisbledObjFormu"
              >
                Cargar
              </button>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="12.2. Necesidades de Financiamiento">
          <div *ngIf="!nuevoIngresoEgresoNecesidades" class="text-right">
            <button (click)="nuevoIngresoEgresoNecesidades = !nuevoIngresoEgresoNecesidades" type="button"
              class="btn btn-sm btn-default mb-2" title="Agregar" [disabled]="isDisbledObjFormu">
              <i class="pi pi-plus"></i>
            </button>
          </div>

          <div class="row pb-2" *ngIf="nuevoIngresoEgresoNecesidades">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label">Necesidad</label>
                <input type="text" class="form-control" placeholder="Ingrese la Necesidad" [(ngModel)]="necesidad"
                  maxlength="50" [disabled]="isDisbledObjFormu"/>
              </div>
            </div>
            <div class="col-12 col-sm-2 text-center">
              <div class="form-group">
                <div><label class="label">&nbsp;</label></div>
                <button (click)="guardarNecesidad()" class="btn btn-sm btn-secondary button-more" [disabled]="isDisbledObjFormu">
                  Aceptar
                </button>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label class="label">Lista de Necesidades</label>
            </div>
          </div>
          <div class="row">
            <ul>
              <li *ngFor="let item of listaNecesidades; let i=index">
                {{item.descripcion}} &nbsp;
                <i (click)=" eliminarNecesidad($event, i, item)" class="pi pi-trash pointer" [ngClass]="isDisbledObjFormu?'disabled-pointer':''"></i>
              </li>
            </ul>
          </div>
        </p-accordionTab>
      </p-accordion>

      

      
    </div>
  </div>

  <div class="row m-0 mt-4 h-100 justify-content-center align-items-center">
    <div class="col-12 col-sm-12">
      <lineamiento-inner [base]="lineamiento"
        [titulo]="'Evaluación de Lineamiento 17. Revisión del programa de inversiones/rentabilidad del manejo'"
        [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval">
        <ng-template #descripcion>
          <div class="row m-0">
            <div class="col-12">
              <p class="fz-11 m-0 mb-3"></p>
              <p class="fz-11 m-0 mb-1 ml-4">1. Revisar que se haya presentado el flujo de caja o balance de
                ingresos y costos proyectados como mínimo para los primeros cinco (05) años, así como una estructura
                de costos en función a las actividades previstas.</p>
            </div>
          </div>
        </ng-template>
      </lineamiento-inner>
    </div>
  </div>

  <div class="row m.0 mt-3">
    <div class="step__btn mt-4">
      <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
      <button class="btn-primary2" (click)="registrarManejoRentabilidad()" [disabled]="isDisbledObjFormu"> Guardar </button>
      <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
    </div>
  </div>

</div>

<p-dialog header="{{edit ? 'Editar Rentabilidad Manejo Forestal' : 'Registrar Rentabilidad Manejo Forestal'}}"
  header="Header" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6" *ngIf="!edit">
          <div class="form-group">
            <label class="label">Rubros</label>
            <div class="form-control-selectk">
              <p-dropdown [options]="rubrosList" placeholder="Selecciona Rubro" [group]="true"
                (onChange)="rubrosChange($event)">
                <ng-template let-group pTemplate="group">
                  <div class="p-d-flex p-ai-center">
                    <span>{{group.label}}</span>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6" *ngIf="edit">
          <div class="form-group">
            <label class="label">Rubros</label>
            <input disabled type="text" class="form-control" placeholder="Ingrese ingresos"
              [(ngModel)]="rentabilidadManejo.rubro" />
          </div>
        </div>

        <div class="col-12 col-sm-6" *ngIf="rentabilidadManejo.id == 5">
          <div class="form-group">
            <label class="label">Otros Ingresos</label>
            <input type="text" maxlength="100" class="form-control" placeholder="Ingrese ingresos"
              [(ngModel)]="rentabilidadManejo.descripcion" />
          </div>
        </div>

        <div class="col-12 col-sm-6" *ngIf="rentabilidadManejo.id == 14">
          <div class="form-group">
            <label class="label">Otros Gastos</label>
            <input type="text" maxlength="100" class="form-control" placeholder="Ingrese otros gastos"
              [(ngModel)]="rentabilidadManejo.descripcion" />
          </div>
        </div>
      </div>

      <div class="row" style="overflow: auto; height: 200px;">
        <div class="col-12">
          <p-table [value]="years">
            <ng-template pTemplate="header">
              <tr>
                <th>Año</th>
                <th>Monto</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-year let-index>
              <tr>
                <td>
                  <div class="p-field-checkbox" style="margin: 20px;">
                    <label class="m-0 pl-3 pointer" for="numero">{{year.valorPrimario}}</label>
                    <p-checkbox for="numero" [style]="{'margin-left': '10px'}" [binary]="true"
                      [(ngModel)]="year.checked">
                    </p-checkbox>
                  </div>
                </td>
                <td>
                  <div class="form-group" *ngIf="year.checked == true">
                    <label class="label">Monto</label>
                    <input type="number" class="form-control" placeholder="Ingrese monto" [(ngModel)]="year.monto"
                      numero [min]="0" [maxLength]="12" />
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button icon="pi pi-save" (click)="agregarRentabilidad()" pButton pRipple type="button"
      [label]="'Aceptar'" class="p-button-success p-button-outlined"></button>
    <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
      class="p-button-danger p-button-outlined"></button>
  </ng-template>
</p-dialog>

<p-toast></p-toast>
<p-toast position="top-right" key="tr"></p-toast>