<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="1.1. De los datos generales de la Comunidad / del permiso" [selected]="true">
          <div class="p-4">
            <div class="row">
              <div class="form-group col-sm-4">
                <label class="label">Nº de Permiso</label>
                <input
                  class="form-control"
                  numero
                  [(ngModel)]="form.idPermisoForestal"
                  [maxLength]="10"
                  disabled
                />
              </div>
              <div class="form-group col-sm-6"></div>
              <div class="form-group col-sm-2 text-center">
                <div><label class="label">&nbsp;</label></div>
                <button (click)="openModal()" [disabled]="disabled" class="btn btn-sm btn-secondary">Buscar</button>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="label">Nombre de la comunidad</label>
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="nombreComunidad"
                  maxlength="250"
                  disabled
                />
              </div>
              <div class="form-group col-sm-6">
                <label class="label">Nombre del jefe de la comunidad</label>
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="nombreJefeComunidad"
                  maxlength="250"
                  disabled
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4">
                <label class="label">Nº DNI del jefe de la comunidad</label>
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="documentoJefeComunidad"
                  maxlength="250"
                  disabled
                />
              </div>
              <div class="form-group col-sm-8">
                <label class="label">Federación u organización a la que pertenece la comunidad</label>
                <input
                  class="form-control"
                  type="text" [disabled]="disabled"
                  [(ngModel)]="form.federacionComunidad"
                  maxlength="250"
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4">
                <label class="label">Departamento</label>
                <div class="form-control-selectk">
                  <p-dropdown
                    [disabled]="true"
                    [options]="listDepartamento"
                    [(ngModel)]="departamento.idDepartamento"
                    optionLabel="nombreDepartamento"
                    optionValue="idDepartamento"
                    (onChange)="onSelectedProvincia($event)"
                    placeholder="Seleccione"
                  ></p-dropdown>
                </div>
              </div>
              <div class="form-group col-sm-4">
                <label class="label">Provincia</label>
                <div class="form-control-selectk">
                  <p-dropdown
                    [disabled]="true"
                    [options]="listProvincia"
                    [(ngModel)]="provincia.idProvincia"
                    optionLabel="nombreProvincia"
                    optionValue="idProvincia"
                    (onChange)="onSelectedDistrito($event)"
                    placeholder="Seleccione"
                  ></p-dropdown>
                </div>
              </div>
              <div class="form-group col-sm-4">
                <label class="label">Distrito</label>
                <div class="form-control-selectk">
                  <p-dropdown
                    [disabled]="true"
                    [options]="listDistrito"
                    [(ngModel)]="distrito.idDistrito"
                    optionLabel="nombreDistrito"
                    optionValue="idDistrito"
                    placeholder="Seleccione"
                    (onChange)="Distrito($event)"
                  ></p-dropdown>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4">
                <label class="label">Cuenca</label>
                <div class="form-control-selectk">
                  <p-dropdown
                    [options]="listCuenca"
                    [(ngModel)]="idCuenca" [disabled]="disabled"
                    optionLabel="cuenca"
                    optionValue="idCuenca"
                    (onChange)="onSelectedCuenca($event)"
                    placeholder="Seleccione"
                  ></p-dropdown>
                </div>
              </div>
              <div class="form-group col-sm-4">
                <label class="label">Subcuenca</label>
                <div class="form-control-selectk">
                  <p-dropdown
                    [options]="listSubcuenca"
                    [(ngModel)]="idSubcuenca"
                    optionLabel="subCuenca"
                    optionValue="idSubCuenca"
                    placeholder="Seleccione"
                    [disabled]="disabled||!listSubcuenca.length"
                  ></p-dropdown>
                </div>
              </div>
              <div class="form-group col-sm-2">
                <label class="label">Área Total (Ha)</label>
                <input
                  class="form-control"
                  decimal
                  [(ngModel)]="form.areaTotal"
                  [min]="0"
                  [maxLength]="12"
                  [decimalPlaces]="2"
                  disabled
                />
              </div>
              <div class="form-group col-sm-2 text-center">
                <div><label class="label">&nbsp;</label></div>
                <button class="btn btn-sm btn-secondary"  [disabled]=disabled (click)="cargarShapefile1()">Cargar shapefile</button>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4">
                <label class="label">Nº de anexos de la comunidad</label>
                <input
                  class="form-control"
                  numero [disabled]=disabled
                  [(ngModel)]="form.nroAnexosComunidad"
                  [maxLength]="10"
                />
              </div>
              <div class="form-group col-sm-8">
                <label class="label">Nº de resolución de reconocimiento de la comunidad (si aplica)</label>
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="form.nroResolucionComunidad"
                  maxlength="100"
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4">
                <label class="label">Nº de título de propiedad de la comunidad (si aplica)</label>
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="form.nroTituloPropiedadComunidad"
                  [maxLength]="250"
                  disabled
                />
              </div>
              <div class="form-group col-sm-4">
                <label class="label">Nº de RUC de la comunidad (si aplica)</label>
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="form.nroRucComunidad"
                  [maxLength]="250"
                  disabled
                />
              </div>
              <div class="col-4 form-group">
                <label class="label">Nº total de familias de la comunidad</label>
                <input
                  class="form-control"
                  numero
                  [(ngModel)]="form.nroTotalFamiliasComunidad"
                  [maxLength]="10"
                />
              </div>
            </div>
          </div>




          <div *ngIf="isPerfilArffs">
            <br />
            <br />
            <evaluacion-archivo-shared
              [idPlanManejo]="idPlanManejo"
              [cadigoTab]="codigoAcordeon_1_1"
              [base]="detEvaluacion_1_1"
            >
            </evaluacion-archivo-shared>
          </div>



        </p-accordionTab>

        <p-accordionTab header="1.2. Datos del PMFI">
          <div class="p-4">
            <div class="row">
              <div class="form-group col-sm-4">
                <label class="label">Período de vigencia del PMFI (de mes/año a mes/año)</label>
                <input
                  class="form-control"
                  numero [disabled]=disabled
                  [(ngModel)]="form.vigencia"
                  [maxLength]="10"
                />
              </div>
              <div class="form-group col-sm-4">
                <label class="label">Fecha inicio</label>
                <div class="content-date">
                  <input
                    class="form-control"
                    type="text"
                    autocomplete="off"
                    matInput
                    [matDatepicker]="fechaInicio"
                    [min]="minDate"
                    readonly="true" [disabled]=disabled
                    [(ngModel)]="form.fechaInicioDema"
                    (ngModelChange)="validarInformacion()"
                  />
                  <i class="pi pi-calendar pointer" (click)="!disabled&&fechaInicio.open()"></i>
                  <mat-datepicker #fechaInicio></mat-datepicker>
                </div>
              </div>
              <div class="form-group col-sm-4">
                <label class="label">Fecha fin</label>
                <div class="content-date">
                  <input
                    class="form-control"
                    type="text"
                    autocomplete="off"
                    matInput [disabled]=disabled
                    [matDatepicker]="fechaFin"
                    readonly="true"
                    [min]="minDateFinal"
                    [(ngModel)]="form.fechaFinDema"
                    (ngModelChange)="handleAdmDateChange()"
                  >
                  <i class="pi pi-calendar pointer" (click)="!disabled&&fechaFin.open()"></i>
                  <mat-datepicker #fechaFin></mat-datepicker>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4">
                <label class="label">Área Total de la UMF</label>
                <input
                  class="form-control"
                  numero
                  [(ngModel)]="form.areaBosqueProduccionForestal"
                  [maxLength]="10"
                  disabled
                />
              </div>
              <div class="form-group col-sm-1 text-center">
                <div><label class="label">&nbsp;</label></div>
                <button class="btn btn-sm btn-secondary" [disabled]=disabled (click)="cargarShapefile2()">Cargar shapefile</button>
              </div>
            </div>
          </div>


          <div *ngIf="isPerfilArffs">
            <br />
            <br />
            <evaluacion-archivo-shared
              [idPlanManejo]="idPlanManejo"
              [cadigoTab]="codigoAcordeon_1_2"
              [base]="detEvaluacion_1_2"
            >
            </evaluacion-archivo-shared>
          </div>
        </p-accordionTab>

        <p-accordionTab header="1.3. Datos del Regente">
          <div class="p-4">
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="label">Nombre y Apellido</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="nombreCompleto"
                  maxlength="220"
                  disabled
                />
              </div>
              <div class="form-group col-sm-1 text-center">
                <div class="form-group">
                  <div><label class="label">&nbsp;</label></div>
                  <button [disabled]=disabled
                    (click)="abrirModalRegentes()"
                    class="btn btn-sm btn-secondary button-more"
                  >
                    Buscar
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="label">Nº DNI</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="form.regente?.numeroDocumento!"
                  maxlength="20"
                  disabled
                />
              </div>
              <div class="form-group col-sm-6">
                <label class="label">Domicilio Legal</label>
                <input
                  type="text"
                  class="form-control" [disabled]=disabled
                  [(ngModel)]="domicilioLegal"
                  maxlength="250"
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <input-buttons-codigo
                  [label]="'Certificado de habilitación profesional'"
                  [idPlanManejo]="idPlanManejo" [disabled]=disabled
                  [idTipoDocumento]="'PMFICINFGCHP'"
                  [codigoProceso]="codigoProceso"
                >
                </input-buttons-codigo>
              </div>
              <div class="form-group col-sm-6">
                <label class="label">N° de Inscripción en el aprovechamiento Forestal</label>
                <input
                  type="text"
                  class="form-control evaluacion"
                  [(ngModel)]="form.regente?.numeroLicencia!"
                  maxlength="50"
                  disabled
                />
              </div>
            </div>
          </div>


          <div *ngIf="isPerfilArffs">

            <br />
            <br />

            <evaluacion-archivo-shared
              [idPlanManejo]="idPlanManejo"
              [cadigoTab]="codigoAcordeon_1_2"
              [base]="detEvaluacion_1_3"
            >
            </evaluacion-archivo-shared>
          </div>
        </p-accordionTab>

        <p-accordionTab header="1.4. Información del Aprovechamiento Maderable">
          <div class="p-4">
            <div class="row">
              <div class="form-group col-sm-8">
                <label class="label">Nº de familias involucradas en el aprovechamiento forestal</label>
              </div>
              <div class="form-group col-sm-4">
                <input
                  class="form-control"
                  numero [disabled]=disabled
                  [(ngModel)]="form.nroPersonasInvolucradas"
                  maxlength="10"
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-8">
                <label class="label">Nº total de árboles maderables para aprovechar</label>
              </div>
              <div class="form-group col-sm-4">
                <input
                  class="form-control"
                  numero
                  [(ngModel)]="nroArbolesMaderables"
                  maxlength="10"
                  disabled>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-8">
                <label class="label">Nº total de árboles maderables semilleros</label>
              </div>
              <div class="form-group col-sm-4">
                <input
                  class="form-control"
                  numero
                  [(ngModel)]="nroArbolesMaderablesSemilleros"
                  maxlength="10"
                  disabled
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4">
                <label class="label">Superficie para el aprovechamiento maderable (ha)</label>
              </div>
              <div class="form-group col-sm-4">
                <button class="btn btn-sm btn-secondary" [disabled]=disabled (click)="cargarShapefile3()">Cargar shapefile</button>
              </div>
              <div class="form-group col-sm-4">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="form.superficieHaMaderables"
                  maxlength="250"
                  disabled
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-8">
                <label class="label">Volumen maderable total para aprovechar [m<sup>3</sup>(r)]</label>
              </div>
              <div class="form-group col-sm-4">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="volumenM3rMaderables"
                  maxlength="250"
                  disabled
                />
              </div>
            </div>
          </div>



          <div *ngIf="isPerfilArffs">
            <br />
            <br />
            <evaluacion-archivo-shared
              [idPlanManejo]="idPlanManejo"
              [cadigoTab]="codigoAcordeon_1_4"
              [base]="detEvaluacion_1_4"
            >
            </evaluacion-archivo-shared>
          </div>
        </p-accordionTab>

        <p-accordionTab header="1.5. Información del Aprovechamiento no maderable">
          <div class="p-4">
            <div class="row">
              <div class="form-group col-sm-8">
                <label class="label">Nº total de árboles no maderables para aprovechar</label>
              </div>
              <div class="form-group col-sm-4">
                <input
                  class="form-control"
                  numero
                  [(ngModel)]="nroArbolesNoMaderables"
                  maxlength="10"
                  disabled
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-8">
                <label class="label">Nº total de árboles no maderables semilleros</label>
              </div>
              <div class="form-group col-sm-4">
                <input
                  class="form-control"
                  numero
                  [(ngModel)]="nroArbolesNoMaderablesSemilleros"
                  maxlength="10"
                  disabled
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-8">
                <label class="label">Superficie para el aprovechamiento no maderable (ha)</label>
              </div>
              <div class="form-group col-sm-4">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="superficieHaNoMaderables"
                  maxlength="250"
                  disabled
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-8">
                <label class="label">Volumen no maderable total para aprovechar (kg,lt,unidad,etc.)</label>
              </div>
              <div class="form-group col-sm-4">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="volumenM3rNoMaderables"
                  maxlength="250"
                  disabled
                />
              </div>
            </div>
          </div>


          <div *ngIf="isPerfilArffs">
            <br />
            <br />
            <evaluacion-archivo-shared
              [idPlanManejo]="idPlanManejo"
              [cadigoTab]="codigoAcordeon_1_5"
              [base]="detEvaluacion_1_5"
            >
            </evaluacion-archivo-shared>
          </div>
        </p-accordionTab>

        <p-accordionTab header="1.6. De los regímenes promocionales para el aprovechamiento forestal">
          <div class="p-4">
            <label class="label">(Marcar donde corresponda)</label>
            <p-table
              [value]="form.lstUmf"
              styleClass="p-datatable-gridlines"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th></th>
                  <th>SI</th>
                  <th>NO</th>
                  <th>No aplica</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td> {{ item?.descripcion }}</td>
                  <td>
                    <p-radioButton
                      name="regimen_{{ item.codigo }}"
                      value="SI" [disabled]=disabled
                      inputId="SI_{{item.codigo}}"
                      [(ngModel)]="item.detalle">
                    </p-radioButton>
                  </td>
                  <td>
                    <p-radioButton
                      name="regimen_{{ item.codigo }}"
                      value="NO" [disabled]=disabled
                      inputId="NO_{{item.codigo}}"
                      [(ngModel)]="item.detalle"
                    >
                    </p-radioButton>
                  </td>
                  <td>
                    <p-radioButton
                      name="regimen_{{ item.codigo }}"
                      value="No Aplica" [disabled]=disabled
                      inputId="NOA_{{item.codigo}}"
                      [(ngModel)]="item.detalle"
                    >
                    </p-radioButton>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>


          <div *ngIf="isPerfilArffs">
            <br />
            <br />
            <evaluacion-archivo-shared
              [idPlanManejo]="idPlanManejo"
              [cadigoTab]="codigoAcordeon_1_6"
              [base]="detEvaluacion_1_6"
            >
            </evaluacion-archivo-shared>
          </div>

        </p-accordionTab>

        <p-accordionTab header="1.7. Del contrato con terceros para el aprovechamiento forestal">
          <div class="p-4">
            <div class="row">
              <div class="form-group col-sm-8">
                <label class="label">Nombre de la empresa</label>
              </div>
              <div class="form-group col-sm-4">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="nombreComunidad"
                  maxlength="250"
                  disabled>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-8">
                <label class="label">Domicilio fiscal de la empresa</label>
              </div>
              <div class="form-group col-sm-4">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="form.direccionLegalTitular"
                  maxlength="250"
                  disabled>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-8">
                <label class="label">Nombre del representante legal de la empresa</label>
              </div>
              <div class="form-group col-sm-4">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="representanteLegal"
                  maxlength="250"
                  disabled
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-8">
                <label class="label">Domicilio del representante legal de la empresa</label>
              </div>
              <div class="form-group col-sm-4">
                <input
                  class="form-control"
                  type="text" [disabled]="disabled"
                  [(ngModel)]="form.direccionLegalRepresentante"
                  maxlength="250"
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-8">
                <label class="label">DNI del representante legal de la empresa</label>
              </div>
              <div class="form-group col-sm-4">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="form.documentoRepresentante"
                  maxlength="250"
                  disabled>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-8">
                <label class="label">RUC de la empresa</label>
              </div>
              <div class="form-group col-sm-4">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="form.nroRucComunidad"
                  maxlength="250"
                  disabled
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-8">
                <label class="label">Copia del contrato para el aprovechamiento forestal</label>
              </div>
              <div class="form-group col-sm-4">
                <input-buttons-codigo [disabled]=disabled
                  [idPlanManejo]="idPlanManejo"
                  [idTipoDocumento]="'PMFICINFGCAF'"
                  [codigoProceso]="codigoProceso"
                >
                </input-buttons-codigo>
              </div>
            </div>
          </div>



          <div *ngIf="isPerfilArffs">
            <br />
            <br />
            <evaluacion-archivo-shared
              [idPlanManejo]="idPlanManejo"
              [cadigoTab]="codigoAcordeon_1_7"
              [base]="detEvaluacion_1_7"
            >
            </evaluacion-archivo-shared>
          </div>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4 mb-4">
        <!-- <button class="btn-primary2" (click)="regresarTab()"> Anterior</button> -->
        <message-evaluation *ngIf="isPerfilArffs">>"></message-evaluation>
        <button class="btn-primary2"  [routerLink]="['/planificacion/bandeja-pmfic']">Anterior</button>
        <span *ngIf="!isPerfilArffs">
           <button *ngIf="!edit" type="submit" class="btn-primary2" (click)="guardarInformacionGeneral()" [disabled]="disabled||disabledDate">
            Guardar
           </button>
          <button *ngIf="edit" type="submit" class="btn-primary2" (click)="editarInformacionGeneral()" [disabled]="disabled||disabledDate">
              Guardar
          </button>
        </span>
        <button class="btn-primary2" (click)="registrarEvaluacion()" *ngIf="isPerfilArffs">
          Guardar Evaluación
        </button>
        <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">
          Retornar Flujo Evaluacion
        </button>

        <button class="btn-primary2" (click)="siguienteTab()"> Siguiente</button>
      </div>
    </div>
  </div>
</div>

<p-confirmPopup></p-confirmPopup>

<p-dialog
  appendTo="body"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{width: '40vw'}"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <p-header>
    <div class="d-flex justify-content-start">
      <span>
        <i class="pi pi-exclamation-triangle color"></i>
      </span>
    </div>
  </p-header>
  <div class="pl-4">
    <span>
      Se autocompletará con información de la solicitud de permiso forestal seleccionada.
    </span>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="closeModal()"
      label="Aceptar"
      class="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Buscar Regente"
  appendTo="body"
  [(visible)]="verModalRegente"
  [modal]="true"
  [style]="{ width: '60vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row m-0">
      <div class="col-12 col-sm-9">
        <div class="form-group">
          <label class="label">Buscar por DNI</label>
          <div class="form-control-selectk">
            <input
              type="text"
              class="form-control"
              placeholder="Ingresa N° DNI"
              [(ngModel)]="queryRegente"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="form-group">
          <label class="label">&nbsp;&nbsp;</label>
          <div class="text-center">
            <button
              type="button"
              class="btn-primary2"
              (click)="filtrarRegente()"
            >
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12">
        <p-table [value]="regentes">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 50px"></th>
              <th>Regente</th>
              <th>DNI</th>
              <th>Estado</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>
                <p-radioButton
                  name="regente"
                  [(ngModel)]="selectRegente"
                  [value]="data"
                >
                </p-radioButton>
              </td>
              <td>{{ data.nombres }} {{ data.apellidos }}</td>
              <td>{{ data.numeroDocumento }}</td>
              <th>{{ data.estado == "V" ? "Vigente" : "No Vigente" }}</th>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="guardarRegente()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    >
    </button>
    <button
      icon="pi pi-times"
      (click)="verModalRegente = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    >
    </button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Adjuntar Shapefile"
  appendTo="body"
  [(visible)]="displayModalSP1"
  [modal]="true"
  [style]="{width: '70vw'}"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row" style="border: 1px solid #dee2e6;">
      <div class="form-group col-sm-8 mt-4">
        <label class="label">Se calculará Área Total (Ha).</label>
      </div>
      <div class="form-group col-sm-4 mt-4">
        <input
          class="form-control"
          decimal
          [(ngModel)]="form.areaTotal"
          [min]="0"
          [maxLength]="12"
          [decimalPlaces]="2"
          disabled
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="border: 1px solid #dee2e6;">
        <app-map-custom
          [idPlanManejo]="idPlanManejo"
          [codigoProceso]="CodigoPMFIC.TAB_1"
          [codigoSubSeccion]="CodigoPMFIC.TAB_1_1"
          [tipoGeometria]="'TPAREA'"
          (areaTotal)="calcularArea($event, CodigoPMFIC.TAB_1_1)"
        ></app-map-custom>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displayModalSP1=false"
      label="Aceptar"
      class="p-button-text"
    >
    </p-button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Adjuntar Shapefile"
  appendTo="body"
  [(visible)]="displayModalSP2"
  [modal]="true"
  [style]="{width: '70vw'}"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row" style="border: 1px solid #dee2e6;">
      <div class="form-group col-sm-8 mt-4">
        <label class="label">Se calculará Área total de la UMF.</label>
      </div>
      <div class="form-group col-sm-4 mt-4">
        <input
          class="form-control"
          decimal
          [(ngModel)]="form.areaBosqueProduccionForestal"
          [min]="0"
          [maxLength]="12"
          [decimalPlaces]="2"
          disabled
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="border: 1px solid #dee2e6;">
        <app-map-custom
          [idPlanManejo]="idPlanManejo"
          [codigoProceso]="CodigoPMFIC.TAB_1"
          [codigoSubSeccion]="CodigoPMFIC.TAB_1_2"
          [tipoGeometria]="'TPAREA'"
          (areaTotal)="calcularArea($event, CodigoPMFIC.TAB_1_2)"
        ></app-map-custom>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displayModalSP2=false"
      label="Aceptar"
      class="p-button-text"
    >
    </p-button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Adjuntar Shapefile"
  appendTo="body"
  [(visible)]="displayModalSP3"
  [modal]="true"
  [style]="{width: '70vw'}"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row" style="border: 1px solid #dee2e6;">
      <div class="form-group col-sm-8 mt-4">
        <label class="label">Se calculará Superficie para el aprovechamiento maderable (ha).</label>
      </div>
      <div class="form-group col-sm-4 mt-4">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="form.superficieHaMaderables"
          maxlength="250"
          disabled
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="border: 1px solid #dee2e6;">
        <app-map-custom
          [idPlanManejo]="idPlanManejo"
          [codigoProceso]="CodigoPMFIC.TAB_1"
          [codigoSubSeccion]="CodigoPMFIC.TAB_1_4"
          [tipoGeometria]="'TPAREA'"
          (areaTotal)="calcularArea($event, CodigoPMFIC.TAB_1_4)"
        ></app-map-custom>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displayModalSP3=false"
      label="Aceptar"
      class="p-button-text"
    >
    </p-button>
  </ng-template>
</p-dialog>
