<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-12">
            <h3 class="title">Mantenimiento de Opciones</h3>

            <div class="panelk br10 p-3">
                <div class="row">
                    <div class="col-12 col-sm-6 form-group">
                        <label class="label">Criterio de Búsqueda:</label>
                        <input class="form-control" placeholder="Ingresar opción o descripción" [(ngModel)]="objbuscar.dato" type="text" autocomplete="off"/>
                    </div>
                    <div class="col-12 col-sm-6 form-group">
                        <label class="label">Estado:</label>
                        <div class="form-control-selectk ">
                            <p-dropdown [options]="estados" [(ngModel)]="objbuscar.idestado" optionValue="code"  optionLabel="name"  (onChange)="objbuscar.indice=1"></p-dropdown>
                        </div>                        
                    </div>

                    <div class="col-sm-12 my-2 form-group text-center">
                        <button class="btn btn-sm btn-secondary mr-2" (click)="btnLimpiar()">Limpiar</button>
                        <button class="btn btn-sm btn-secondary mr-2" (click)="listarBandeja(objbuscar)">Buscar</button>
                        <button class="btn btn-sm btn-secondary" (click)="openModalMantenimiento('C',null)">Nuevo</button>
                    </div>
                </div>
            </div>

            <p-confirmPopup></p-confirmPopup>
            <div class="mt-4">
                <div class="tablek">
                    <p-table [value]="listaBandejaOpcion">
                      <ng-template pTemplate="header">
                          <tr>
                            <th style="width: 80px;">Acciones</th>
                            <th >Aplicación</th>
                            <th>Código Opción</th>
                            <th >Opción</th>
                            <th >Descripción</th>
                            <th >Jerarquía</th>
                            <th >Url</th>
                            <th >Orden</th>
                            <th >Estado</th>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-data>
                          <tr>
                            <td class="text-center">
                                <span class="pointer mr-1" title="Editar" (click)="openModalMantenimiento('E',data)">
                                    <i class="pi pi-pencil"></i>
                                </span>
                                <span class="pointer mr-1" title="Visualizar" (click)="openModalMantenimiento('R',data)">
                                    <i class="pi pi-eye"></i>
                                </span>
                               
                                <span class="pointer" title="Eliminar" (click)="openEliminarRegistro($event,data)">
                                    <i class="pi pi-trash"></i>
                                </span>
                              </td>     
                              <td>{{data.aplicacion}}</td>
                              <td>{{data.codigoOpcion}}</td>
                              <td>{{data.opcion}}</td>
                              <td>{{data.descripcion}}</td>
                              <td>{{(data.gerarquia==1?'Menu':(data.gerarquia==2?'Menu/Opcion':'Opcion'))}}</td>
                              <td>{{data.url}}</td>
                              <td>{{data.orden}}</td>
                              <td>{{ (data.estado=='1'?'Activo':'Inactivo') }}</td>
                          </tr>
                      </ng-template>
                  </p-table>                    
                  <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10, 25, 50, 100]"></p-paginator>
               
                  </div>

        </div>
    </div>



<p-dialog header="{{tituloModalMantenimiento}}" [(visible)]="verModalMantenimiento" [modal]="true" [style]="{width: '50vw'}" [maximizable]="false" [baseZIndex]="10000"
    [draggable]="false" [resizable]="true">
    <ng-template pTemplate="content">
        <form [formGroup]='MantenedorFormulario' novalidate>
            <div class="form-group">
                <label class="label">Aplicación: *</label>
                <div class="form-control-selectk">
                    <p-dropdown formControlName="idaplicacion" [disabled]="accionMantenimiento == 'R'" [options]="listaComboAplicacion" (onChange)="listarOcpcionPadre($event)" optionLabel="text"  optionValue="value"></p-dropdown>
                    <mensaje-error-control [control]="MantenedorFormulario.controls['idaplicacion']"></mensaje-error-control>
                </div> 
            </div>
            <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="form-group">
                        <label class="label">Código Opción: *</label>
                        <input formControlName="codigoOpcion" [readonly]="true" type="text" class="form-control"
                         placeholder="Ingrese código de opción">
                    </div>
                </div>
                <div class="col-12 col-sm-8">
                    <div class="form-group">
                        <label class="label">Jerarquía: *</label>
                        <div>
                            <div class="p-field-radiobutton">
                                <p-radioButton formControlName="gerarquia" [disabled]="accionMantenimiento == 'R'" name="gerarquia" [value]="1" inputId="menu" (click)="selecinarJeranquia('M')" ></p-radioButton>
                                <label class="pointer" for="menu">Menú 1</label>
                            </div>
                            <div class="p-field-radiobutton">
                                <p-radioButton formControlName="gerarquia" [disabled]="accionMantenimiento == 'R'" name="gerarquia" [value]="2" inputId="menuop" (click)="selecinarJeranquia('MO')" ></p-radioButton>
                                <label class="pointer" for="menuop">Menú 2 / Opción</label>
                            </div>
                            <div class="p-field-radiobutton">
                                <p-radioButton formControlName="gerarquia" [disabled]="accionMantenimiento == 'R'" name="gerarquia" [value]="3" inputId="opci" (click)="selecinarJeranquia('O')" ></p-radioButton>
                                <label class="pointer" for="opci">Opción </label>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="form-group">
                <label class="label">Opción Padre:</label>
                <div class="form-control-selectk">
                    <p-dropdown 
                    [disabled]="accionMantenimiento == 'R' || disableOpcionPadre"  formControlName="idopcionPadre"
                    [options]="listaComboOpcion" optionLabel="text" optionValue="value" [filter]="true" 
                    filterBy="text"   
                    [showClear]="true" placeholder="Select a Menu|Opción"
                    ></p-dropdown>
                    <mensaje-error-control [control]="MantenedorFormulario.controls['idopcionPadre']"></mensaje-error-control>
                </div> 
            </div>      
            <div class="row">
                <div class="col-12 col-sm-7">                    
                    <div class="form-group">
                        <label class="label">Opción: *</label>
                        <input type="number" formControlName="opcion" [readonly]="accionMantenimiento == 'R'" maxlength="45" type="text" class="form-control" placeholder="Ingrese nombre de opción">
                        <mensaje-error-control [control]="MantenedorFormulario.controls['opcion']"></mensaje-error-control>
                    </div> 
            </div>
                <!-- <div class="col-12 col-sm-2">                    
                        <div class="form-group">
                            <label class="label">Orden: *</label>
                            <input type="number" formControlName="orden" [readonly]="accionMantenimiento == 'R'" type="text" class="form-control"  placeholder="orden">
                        </div> 
                </div> -->
                <div class="col-12 col-sm-5">
                    <div class="form-group">
                        <label class="label">Estado: *</label>
                        <div>
                            <div class="p-field-radiobutton">
                                <p-radioButton formControlName="estado" [disabled]="accionMantenimiento == 'R'" name="estado" value="1" inputId="activo"></p-radioButton>
                                <label class="pointer" for="activo">Activo</label>
                            </div>
                            <div class="p-field-radiobutton">
                                <p-radioButton formControlName="estado" [disabled]="accionMantenimiento == 'R'" name="estado" value="0" inputId="inactivo"></p-radioButton>
                                <label class="pointer" for="inactivo">Inactivo</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="form-group">
                <label class="label">Descripción: *</label>
                <input formControlName="descripcion" [readonly]="accionMantenimiento == 'R'" maxlength="190" type="text" class="form-control" placeholder="Ingrese descripción de opción">
                <mensaje-error-control [control]="MantenedorFormulario.controls['descripcion']"></mensaje-error-control>
            </div>
            <div class="form-group">
                <label class="label">Url:</label>
                <input formControlName="url" [readonly]="(accionMantenimiento == 'R' || disableOpcionPadre)" maxlength="190" type="text" class="form-control" placeholder="Ingrese Url (ej.: /opcion/item)">
            </div>
            <div class="form-group">
                <label class="label">Ícono:</label>
                <input formControlName="icono" [readonly]="accionMantenimiento == 'R'" type="text" maxlength="25" class="form-control"  [(ngModel)]="opcionContext.icono"  placeholder="Ingrese ícono (ej.: pi-icono)">
            </div>      
        </form>
    </ng-template>
    <ng-template pTemplate="footer" >            
        <button icon="pi pi-save" *ngIf="accionMantenimiento != 'R'"  (click)="registrarOpcion(opcionContext)" pButton pRipple type="button" label="Guardar" class="p-button-success p-button-outlined"></button>
        <button icon="pi pi-times" *ngIf="accionMantenimiento != 'R'" (click)="verModalMantenimiento=false" pButton pRipple type="button" label="Cancelar" class="p-button-danger p-button-outlined"></button>
    </ng-template>
</p-dialog>

</div>
<p-toast></p-toast>
