<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-12">
      <h3 class="title">Permisos Por Perfil</h3>

      <div class="panelk br10 p-3">
        <div class="row">
          <div class="col-12 col-sm-6 form-group">
            <label class="label">Perfil:</label>
            <div class="form-control-selectk">
              <p-dropdown [options]="comboPerfil" optionLabel="text" optionValue="value" [filter]="true" filterBy="text"
                [showClear]="false" placeholder="Seleccione" [(ngModel)]="objbuscar.idPerfilOpcionAccion"></p-dropdown>
            </div>
          </div>
          <div class="col-12 col-sm-6 form-group">
            <label class="label">Nombre Opción:</label>
            <input class="form-control" placeholder="Ingrese el nombre opción" type="text" [(ngModel)]="objbuscar.opcion"
              autocomplete="off" />
          </div>

          <div class="col-12 my-2 form-group text-center">
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnLimpiar()">Limpiar</button>
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnBuscar()">Buscar</button>
            <button class="btn-primary2" (click)="btnGuardar()" type="button">Guardar</button>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <div class="tablek">
          <p-table [value]="listaBandeja" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
              <tr>
                <th>Nombre Perfil</th>
                <th>Nombre Opción</th>
                <th>Nombre Acción</th>
                <th>Permiso</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td>{{ data.perfil }}</td>
                <td>{{ data.opcion }}</td>
                <td>{{ data.accion }}</td>
                <td>
                  <p-checkbox [binary]="true" [(ngModel)]="data.permitir" (click)="data.isChange = true"></p-checkbox>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <!-- <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)"
              [showCurrentPageReport]="true" currentPageReportTemplate="Total : {totalRecords} registros"
              [rowsPerPageOptions]="[10, 25, 50, 100]"></p-paginator> -->
        </div>
      </div>
    </div>
  </div>
</div>