.class1::before {
  content: "Pendiente";
  color: rgb(226, 226, 37);
  font-weight: bold;
}
.class2::before {
  content: "Observado";
  color: red;
  font-weight: bold;
}
.class3::before {
  content: "Evaluado";
  color: #4a962c;
  font-weight: bold;
}

.container-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.btn-file {
  background: #fff !important;
  min-height: 32px;
  font-family: "Montserrat";
  font-size: 11px;
  color: #4a962c !important;
  border: 2px solid #4a962c !important;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important;
  min-width: 50px;
}

.btn-secondary {
  min-width: 120px !important;
}

.container-map {
  display: none;
}

.layers-box {
  height: 284px;
  overflow: auto;
  scroll-behavior: smooth;

  li label {
    font-size: 11px;
  }
}
.btn-save-layer {
  display: inline-block;
  padding: 7px 11px;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #c3c1c1;
  cursor: pointer;
  float: right;
  background-color: rgb(74, 150, 44);
  color: white;
}

.rat {
  font-size: 13px;
  font-weight: bold;
  color: #788292;
}
