<div
  class="row col-12 justify-content-end p-2"
  *ngIf="accion == 'evaluar' && dataBase.disabled"
>
  <span
    [ngClass]="{
      class1: isPending == true,
      class2: isObserved == true,
      class3: isValid == true
    }"
  ></span>
  <button class="btn btn-sm btn-primary2" (click)="openModalAnexos()">
    Evaluar
  </button>
</div>
<div class="row m-0">
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">ID Solicitud</label>
      <input
        [disabled]="true"
        [(ngModel)]="solicitud.idSolicitud"
        type="text"
        autocomplete="off"
        class="form-control"
      />
    </div>
  </div>

  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Estado Solicitud</label>
      <div class="form-control-selectk">
        <p-dropdown
          [disabled]="true"
          [(ngModel)]="solicitud.estadoSolicitud"
          [options]="lstEstado"
          optionLabel="valor1"
          optionValue="codigo"
        ></p-dropdown>
      </div>
    </div>
  </div>
</div>

<div class="row m-0">
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Número de RUC</label>
      <div class="input-group">
        <input
          maxlength="11"
          type="text"
          class="form-control"
          [disabled]="
            dataBase.disabled ||
            enabledControlOtorgamiento == 'true' ||
            usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL ||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES
          "
          [(ngModel)]="solicitud.nroRucEmpresa"
          placeholder="Ingresar Nro. de RUC"
        />
        <div class="input-group-append">
          <button
            type="button"
            [ngClass]="validaSunatClass"
            (click)="validaRuc()"
            [disabled]="
              dataBase.disabled ||
              enabledControlOtorgamiento == 'true' ||
              usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES
            "
          >
            Validar Sunat<input type="button" style="display: none" />
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Número de Título de Propiedad</label>
      <input
        maxlength ="18"
        autocomplete="off"
        class="form-control"
        [(ngModel)]="solicitud.nroPropiedad"
        [disabled]="
          dataBase.disabled ||
          enabledControlOtorgamiento == 'true' ||
          usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES
        "
        placeholder="Ingresar Nro. Título de Propiedad"
        numero
      />
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <buttons-file-permiso-forestal-shared
      [label]="'Título de Propiedad'"
      [idPermisoForestal]="idPermisoForestal"
      [codigoTipoDocumento]="CodigosPF.TITULO_PROPIEDAD"
      [codigoProceso]="codigoProceso"
      [disabled]="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES || dataBase.disabled"
    >
    </buttons-file-permiso-forestal-shared>
  </div>
</div>
<div class="row m-0">
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Número de Partida Registral</label>
      <div class="input-group">
        <input
          type="text"
          maxlength ="18"
          class="form-control"
          [disabled]="
            dataBase.disabled ||
            enabledControlOtorgamiento == 'true' ||
            usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES
          "
          [(ngModel)]="solicitud.nroPartidaRegistral"
          placeholder="Ingrese Nro. de Partida Registral"
          numero
        />
        <div class="input-group-append">
          <button
            type="button"
            [ngClass]="validaSunarpClass"
            (click)="validaSunarp()"
            [disabled]="
              dataBase.disabled ||
              enabledControlOtorgamiento == 'true' ||
              usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES
            "
          >
            Validar Sunarp<input type="button" style="display: none" />
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Número de Acta de Asamblea RRLL</label>
      <input
        type="text"
        maxlength ="18"
        autocomplete="off"
        class="form-control"
        [(ngModel)]="solicitud.nroActaAsambleaRrll"
        [disabled]="
          dataBase.disabled ||
          enabledControlOtorgamiento == 'true' ||
          usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES
        "
        placeholder="Ingrese Nro. Acta"
        numero
      />
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <buttons-file-permiso-forestal-shared
      [label]="'Acta de Asamblea RRLL'"
      [idPermisoForestal]="idPermisoForestal"
      [codigoTipoDocumento]="CodigosPF.ACTA_ASAMBLEA_RRLL"
      [codigoProceso]="codigoProceso"
      [disabled]="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL ||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES || dataBase.disabled"
    >
    </buttons-file-permiso-forestal-shared>
  </div>
</div>

<div class="row m-0">
  <div class="col-12 col-sm-4">
    <buttons-file-permiso-forestal-shared
      [label]="'Límites y Colindancias'"
      [idPermisoForestal]="idPermisoForestal"
      [codigoTipoDocumento]="CodigosPF.LIMITES_COLINDANCIAS"
      [codigoProceso]="codigoProceso"
      [disabled]="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES || dataBase.disabled"
    >
    </buttons-file-permiso-forestal-shared>
  </div>

  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Número de Operación del Comprobante de Pago</label>
      <input
        type="text"
        maxlength ="18"
        autocomplete="off"
        class="form-control"
        [(ngModel)]="solicitud.nroComprobantePago"
        [disabled]="
          dataBase.disabled ||
          enabledControlOtorgamiento == 'true' ||
          usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES
        "
        placeholder="Ingrese Nro. de Operación"
        numero
      />
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <buttons-file-permiso-forestal-shared
      [label]="'Comprobante de Pago'"
      [idPermisoForestal]="idPermisoForestal"
      [codigoTipoDocumento]="CodigosPF.COMROBANTE_PAGO"
      [codigoProceso]="codigoProceso"
      [disabled]="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES || dataBase.disabled"
    >
    </buttons-file-permiso-forestal-shared>
  </div>
</div>

<div class="row m-0">
  <div class="col-12 col-sm-4">
    <!-- <buttons-file-permiso-forestal-shared
      [label]="'Área Comunidad'"
      [idPermisoForestal]="idPermisoForestal"
      [codigoTipoDocumento]="CodigosPF.AREA_COMUNIDAD"
      [codigoProceso]="codigoProceso"
      [disabled]="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL"
    >
    </buttons-file-permiso-forestal-shared> -->
    <!-- <div class="form-group">
      <label class="label">Área Comunidad (Ha)</label>
      <input
        numero
        class="form-control"
        autocomplete="off"
        placeholder="Ingrese Área Comunidad"
        decimal
        [maxLength]="12"
        [decimalPlaces]="2"
        [(ngModel)]="solicitud.areaComunidad"
        [disabled]="
          dataBase.disabled ||
          enabledControlOtorgamiento == 'true' ||
          usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES
        "
      />
    </div> -->
    <div class="form-group">
      <label class="label">Área Comunidad (Ha)</label>&nbsp;
      <label style="font-size: x-small; font-weight: 100; color: #007bff;">(Autocompletado carga shape file)</label>
      <input
        numero
        class="form-control"
        autocomplete="off"
        decimal
        [maxLength]="12"
        [decimalPlaces]="4"
        [(ngModel)]="solicitud.areaComunidad"
        [disabled]="true"
      />
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Número de Acta de Acuerdo de Asamblea</label>
      <input
        type="text"
        maxlength ="18"
        autocomplete="off"
        class="form-control"
        [(ngModel)]="solicitud.nroActaAsambleaAcuerdo"
        [disabled]="
          dataBase.disabled ||
          enabledControlOtorgamiento == 'true' ||
          usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES
        "
        placeholder="Ingrese Nro. Acta"
        numero
      />
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <buttons-file-permiso-forestal-shared
      [label]="'Acta de Asamblea Acuerdo'"
      [idPermisoForestal]="idPermisoForestal"
      [codigoTipoDocumento]="CodigosPF.ACTA_ASAMBLEA_ACUERDO"
      [codigoProceso]="codigoProceso"
      [disabled]="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES || dataBase.disabled"
    >
    </buttons-file-permiso-forestal-shared>
  </div>
</div>

<div class="row m-0">
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Seleccionar Regente Forestal</label>
      <p-autoComplete
        [(ngModel)]="solicitud.nombreRegenteForestal"
        [disabled]="
          dataBase.disabled ||
          enabledControlOtorgamiento == 'true' ||
          usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES
        "
        styleClass="w-100"
        inputStyleClass="form-control form-control-sm"
        placeholder="Buscar..."
        emptyMessage="No se encontró Regente."
        [forceSelection]="true"
        [delay]="200"
        [suggestions]="regentesFiltrados"
        (onClear)="clearRegente()"
        (onSelect)="selectDocumentoRegente($event)"
        (completeMethod)="filtrarRegente($event.query)"
      >
        <ng-template let-regente pTemplate="item">
          {{ regente.nombresNroDocumento }}
        </ng-template>
      </p-autoComplete>
    </div>
  </div>

  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Número de Contrato con Regente Forestal</label>
      <input
        type="text"
        maxlength ="18"
        autocomplete="off"
        class="form-control"
        [(ngModel)]="solicitud.nroContratoRegente"
        [disabled]="
          dataBase.disabled ||
          enabledControlOtorgamiento == 'true' ||
          usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES
        "
        placeholder="Ingrese Nro. Contrato"
      />
    </div>
  </div>

  <div class="col-12 col-sm-4">
    <buttons-file-permiso-forestal-shared
      [label]="'Contrato con regente forestal'"
      [idPermisoForestal]="idPermisoForestal"
      [codigoTipoDocumento]="CodigosPF.CONTRATO_REGENTE_FORESTAL"
      [codigoProceso]="codigoProceso"
      [disabled]="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES || dataBase.disabled"
    >
    </buttons-file-permiso-forestal-shared>
  </div>
</div>

<div class="row m-0">
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Seleccionar Tipo de Aprovechamiento</label>
      <div class="form-control-selectk">
        <p-dropdown
          class="fomr-control"
          placeholder="Seleccione"
          (onChange)="habilitarTercero($event)"
          optionValue="id"
          [(ngModel)]="solicitud.codigoTipoAprovechamiento"
          [disabled]="
            dataBase.disabled ||
            enabledControlOtorgamiento == 'true' ||
            usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES
          "
          [options]="lstAprovechamiento"
          optionLabel="nAprov"
        >
        </p-dropdown>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-4">
    <buttons-file-permiso-forestal-shared
      [label]="'Adjuntar ARRF'"
      [idPermisoForestal]="idPermisoForestal"
      [codigoTipoDocumento]="CodigosPF.ADJUNTAR_ARRF"
      [codigoProceso]="codigoProceso"
      [disabled]="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES || dataBase.disabled"
    >
    </buttons-file-permiso-forestal-shared>
  </div>

  <div class="col-12 col-sm-4">
    <buttons-file-permiso-forestal-shared
      [label]="'Declaración Jurada'"
      [idPermisoForestal]="idPermisoForestal"
      [codigoTipoDocumento]="CodigosPF.DECLARACION_JURADA"
      [codigoProceso]="codigoProceso"
      [disabled]="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES || dataBase.disabled"
    >
    </buttons-file-permiso-forestal-shared>
  </div>
</div>
<div class="row m-0" *ngIf="solicitud.codigoTipoAprovechamiento == 2">
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Número de Contrato con Terceros</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control"
        maxlength ="18"
        [(ngModel)]="solicitud.nroContratoTercero"
        [disabled]="
          dataBase.disabled ||
          enabledControlOtorgamiento == 'true' ||
          usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES
        "
        placeholder="Ingresar Nro. Contrato"
      />
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <buttons-file-permiso-forestal-shared
      [label]="'Contrato con Terceros'"
      [idPermisoForestal]="idPermisoForestal"
      [codigoTipoDocumento]="CodigosPF.CONTRATO_TERCEROS"
      [codigoProceso]="codigoProceso"
      [disabled]="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES || dataBase.disabled"
    >
    </buttons-file-permiso-forestal-shared>
  </div>
</div>
<div class="row m-0" *ngIf="solicitud.tipoAprovechamiento == 2">
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Número de Acta de Asamblea</label>
      <input
        type="text"
        maxlength ="18"
        autocomplete="off"
        class="form-control"
        [(ngModel)]="solicitud.nroActaAprovechamiento"
        [disabled]="
          dataBase.disabled ||
          enabledControlOtorgamiento == 'true' ||
          usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES
        "
        placeholder="Ingresar Nro. Acta"
        numero
      />
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <buttons-file-permiso-forestal-shared
      [label]="'Acta de Asamblea'"
      [idPermisoForestal]="idPermisoForestal"
      [codigoTipoDocumento]="CodigosPF.ACTA_ASAMBLEA"
      [codigoProceso]="codigoProceso"
      [disabled]="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES || dataBase.disabled"
    >
    </buttons-file-permiso-forestal-shared>
  </div>
</div>

<div class="row m-0">
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label"
        >1.- Descripción del recibo de luz, agua o constancia que acredite
        residencia</label
      >
      <input
        type="text"
        maxlength="100"
        autocomplete="off"
        class="form-control"
        [(ngModel)]="descripcion.solicitudRecibo"
        [disabled]="
          dataBase.disabled ||
          enabledControlOtorgamiento == 'true' ||
          usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES
        "
      />
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <buttons-file-permiso-forestal-shared
      [label]="'2.- Recibo de luz, agua o constancia que acredite residencia'"
      [idPermisoForestal]="idPermisoForestal"
      [codigoTipoDocumento]="CodigosPF.RECIBO_RESIDENCIA"
      [codigoProceso]="codigoProceso"
      [disabled]="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES || dataBase.disabled"
      [descripcionArchivo]="descripcion.solicitudRecibo"
      (descripcionArc)="descripcion.solicitudRecibo = $event"
    >
    </buttons-file-permiso-forestal-shared>
  </div>
</div>

<div class="row m-0" *ngIf="comunidad == 'TPRAT'">
  <h5 class="col-12 rat mb-3 mt-3">Comunidades en RAT</h5>

  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Descripción de solicitud de reconocimiento</label>
      <input
        type="text"
        maxlength="100"
        autocomplete="off"
        class="form-control"
        [(ngModel)]="descripcion.solicitudReconocimiento"
        [disabled]="
          dataBase.disabled ||
          enabledControlOtorgamiento == 'true' ||
          usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES
        "
      />
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <buttons-file-permiso-forestal-shared
      [label]="'Solicitud de reconocimiento'"
      [idPermisoForestal]="idPermisoForestal"
      [codigoTipoDocumento]="CodigosPF.SOLICITUD_RECONOCIMIENTO"
      [codigoProceso]="codigoProceso"
      [disabled]="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES || dataBase.disabled"
      [descripcionArchivo]="descripcion.solicitudReconocimiento"
      (descripcionArc)="descripcion.solicitudReconocimiento = $event"
    >
    </buttons-file-permiso-forestal-shared>
  </div>

  <div class="col-12 col-sm-4">
    <buttons-file-permiso-forestal-shared
      [label]="'Adjuntar opinion técnico legal'"
      [idPermisoForestal]="idPermisoForestal"
      [codigoTipoDocumento]="CodigosPF.OPINION_TECNICO_SOL_RECONOCIMEINTO"
      [codigoProceso]="codigoProceso"
      [disabled]="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES || dataBase.disabled"
    >
    </buttons-file-permiso-forestal-shared>
  </div>
</div>

<div class="row m-0" *ngIf="comunidad == 'TPRAT'">
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Descripción de Solicitud de ampliación</label>
      <input
        type="text"
        maxlength="100"
        autocomplete="off"
        class="form-control"
        [(ngModel)]="descripcion.solicitudAmpliacion"
        [disabled]="
          dataBase.disabled ||
          enabledControlOtorgamiento == 'true' ||
          usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES
        "
      />
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <buttons-file-permiso-forestal-shared
      [label]="'Solicitud de ampliación'"
      [idPermisoForestal]="idPermisoForestal"
      [codigoTipoDocumento]="CodigosPF.SOLICITUD_AMPLIACION"
      [codigoProceso]="codigoProceso"
      [disabled]="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES || dataBase.disabled"
      [descripcionArchivo]="descripcion.solicitudAmpliacion"
      (descripcionArc)="descripcion.solicitudAmpliacion = $event"
    >
    </buttons-file-permiso-forestal-shared>
  </div>
  <div class="col-12 col-sm-4">
    <buttons-file-permiso-forestal-shared
      [label]="'Adjuntar opinion técnico legal'"
      [idPermisoForestal]="idPermisoForestal"
      [codigoTipoDocumento]="CodigosPF.OPINION_TECNICO_SOL_AMPLIACION"
      [codigoProceso]="codigoProceso"
      [disabled]="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES || dataBase.disabled"
    >
    </buttons-file-permiso-forestal-shared>
  </div>
</div>

<div class="row m-0" *ngIf="comunidad == 'TPRAT'">
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Descripción de Solicitud de titulación</label>
      <input
        type="text"
        maxlength="100"
        autocomplete="off"
        class="form-control"
        [(ngModel)]="descripcion.solicitudTitulacion"
        [disabled]="
          dataBase.disabled ||
          enabledControlOtorgamiento == 'true' ||
          usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES
        "
      />
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <buttons-file-permiso-forestal-shared
      [label]="'Solicitud de titulación'"
      [idPermisoForestal]="idPermisoForestal"
      [codigoTipoDocumento]="CodigosPF.SOLICITUD_TITULACION"
      [codigoProceso]="codigoProceso"
      [disabled]="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES || dataBase.disabled"
      [descripcionArchivo]="descripcion.solicitudTitulacion"
      (descripcionArc)="descripcion.solicitudTitulacion = $event"
    >
    </buttons-file-permiso-forestal-shared>
  </div>

  <div class="col-12 col-sm-4">
    <buttons-file-permiso-forestal-shared
      [label]="'Adjuntar opinion técnico legal'"
      [idPermisoForestal]="idPermisoForestal"
      [codigoTipoDocumento]="CodigosPF.OPINION_TECNICO_SOL_TITULACION"
      [codigoProceso]="codigoProceso"
      [disabled]="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL||
            usuario.sirperfil == Perfiles.MESA_DE_PARTES || dataBase.disabled"
    >
    </buttons-file-permiso-forestal-shared>
  </div>
</div>

<div class="row m-0 col-12" *ngIf="usuario.sirperfil != Perfiles.AUTORIDAD_REGIONAL
&& usuario.sirperfil != Perfiles.MESA_DE_PARTES">
  <label class="lbl-info mt-3 mb-3">
    (Los cambios locales se guardarán pulsando el botón
    {{ isEdit ? "Guardar" : "Guardar" }}.)
  </label>
</div>
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
