<div class="container-fluid">
  <p-toast></p-toast>
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title">
        Ep3.2.1: Evaluación de PGMF
        <span class="ml-4 nro-plan">N° {{ idPlanManejo }}</span>
      </h3>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="A) Requisitos TUPA (*)" [selected]="true">
          <div class="row m-0 mb-3">
            <div class="col-12">
              <p class="fz-12">
                Revisar que el expediente cuente con todos los requisitos
                establecidos en el TUPA de la entidad para el procedimiento de
                aprobación del PGMF.
              </p>
            </div>
            <div class="col-12 col-sm-3">
              <div class="form-group">
                <label class="label">Código de Trámite</label>
                <input
                  autocomplete="off"
                  class="form-control"
                  type="text"
                  [(ngModel)]="consideracionA.codigoTramite"
                  [disabled]="disabled"
                  [maxlength]="50"
                />
              </div>
            </div>
            <div class="col-12 col-sm-3">
              <div class="form-group">
                <label class="label">Fecha de Recepción </label>
                <div class="content-date" aling="right">
                  <input
                    autocomplete="off"
                    type="text"
                    class="form-control"
                    matInput
                    [matDatepicker]="fi"
                    readonly="true"
                    [(ngModel)]="consideracionA.fechaRecepcion"
                    [disabled]="disabled"
                    [min]="minDate"
                  />
                  <i class="pi pi-calendar pointer" (click)="fi.open()"></i>
                  <mat-datepicker #fi></mat-datepicker>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="table">
                <p-table [value]="fileList">
                  <ng-template pTemplate="header">
                    <tr>
                      <th class="text-center" style="width: 120px">Acciones</th>
                      <th>Tipo Documento</th>
                      <th>Nombre de documento</th>
                      <th>Conforme</th>
                      <th>Observación</th>
                    </tr>
                  </ng-template>
                  <ng-template
                    pTemplate="body"
                    let-data
                    let-rowIndex="rowIndex"
                  >
                    <tr>
                      <td class="text-center">
                        <span
                          class="pointer"
                          style="margin: 0 10px"
                          title="Descargar"
                          (click)="verArchivo(data)"
                        >
                          <i class="pi pi-download"></i>
                        </span>

                        <span
                          *ngIf="guardarArchivoDeshabilitado"
                          class="pointer"
                          style="margin: 0 10px"
                          title="Editar"
                          (click)="verRequisito(data)"
                        >
                          <i class="pi pi-eye"></i>
                        </span>

                        <span
                          *ngIf="!guardarArchivoDeshabilitado"
                          class="pointer"
                          style="margin: 0 10px"
                          title="Editar"
                          (click)="verRequisito(data)"
                        >
                          <i class="pi pi-pencil"></i>
                        </span>
                      </td>
                      <td>{{ data.tipoDocumento }}</td>
                      <td>{{ data.nombre }}</td>
                      <td>
                        {{
                          data.conforme === null
                            ? ""
                            : data.conforme === undefined
                            ? ""
                            : data.conforme
                            ? "SI"
                            : "NO"
                        }}
                      </td>
                      <td>{{ data.observacion }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab
          *ngIf="visibleTab"
          header="B) Validar Firma del PGMF (*)"
          [selected]="false"
        >
          <div class="row m-0 mb-3">
            <div class="col-12">
              <p class="fz-12">
                Revisar que el PGMF se encuentre suscrito por el titular de la
                concesión y el regente forestal. Asimismo, ambos deben visar
                cada página del PGMF.
              </p>
            </div>
            <div class="col-12 col-md-6">
              <app-carga-archivo-general
                accept=".pdf"
                [idArchivo]="idArchivoB"
                [tipoDoc]="''"
                label=""
                [disabled]="true"
              >
              </app-carga-archivo-general>
            </div>
          </div>
          <ng-container
            [ngTemplateOutlet]="observacion"
            [ngTemplateOutletContext]="{ base: consideracionB }"
          >
          </ng-container>
        </p-accordionTab>
        <p-accordionTab
          *ngIf="visibleTab"
          header="C) Conformidad con LFFS (*)"
          [selected]="false"
        >
          <div class="row m-0 mb-3">
            <div class="col-12">
              <p class="fz-12">
                Revisar que el PGMF se haya elaborado de conformidad con las
                disposiciones previstas en la LFFS y sus Reglamentos, y contenga
                la información contemplada en los Lineamientos para la
                formulación del Plan General de Manejo Forestal para Concesiones
                Forestales con Fines Maderables.
              </p>
            </div>
            <div class="col-12">
              <button (click)="verPGMF()" class="btn btn-sm btn-primary2 ml-0">
                Ver PGMF
              </button>
            </div>
          </div>
          <ng-container
            [ngTemplateOutlet]="observacion"
            [ngTemplateOutletContext]="{ base: consideracionC }"
          >
          </ng-container>
        </p-accordionTab>
        <p-accordionTab
          *ngIf="visibleTab"
          header="D) Verificar Medidas Cautelares (*)"
          [selected]="false"
        >
          <div class="row m-0 mb-3">
            <div class="col-12">
              <p class="fz-12">
                Verificar la existencia de medidas cautelares sobre los títulos
                habilitantes, dictadas por el OSINFOR, y si estas contienen
                restricciones sobre la aprobación de planes de manejo forestal
              </p>
              <p class="fz-12 mt-2">
                Asimismo, revisar si se ha dictado alguna medida correctiva
                sobre anteriores planes de manejo en la UMF, en este caso, se
                hace la verificación requiriendo a la autoridad que impuso la
                medida correctiva, el documento que confirme su implementación.
                Cuando la medida haya conllevado a la reformulación del plan de
                manejo forestal, se debe contar con la resolución administrativa
                que apruebe dicha reformulación.
              </p>
            </div>
          </div>
          <div class="row m-0 mb-3">
            <div class="col-12 col-sm-6">
              <label class="label">Título Habilitante</label>
              <input
                type="text"
                class="form-control form-control-sm"
                [(ngModel)]="consideracionD.tituloHabilitante"
                [disabled]="true"
              />
            </div>
            <div class="col-12 col-sm-3">
              <div><label class="label">&nbsp;&nbsp;</label></div>
              <button
                (click)="validarOsinfor(consideracionD)"
                class="btn btn-sm btn-primary2"
                [disabled]="disabled"
              >
                Validar OSINFOR
              </button>
            </div>
            <div class="col-12 col-sm-3 text-center">
              <div><label class="label">&nbsp;&nbsp;</label></div>
              <label class="label"
                ><span
                  class="textValidarOsinfor {{
                    consideracionD.respuestaEstadoValidacionOSINFOR == 1
                      ? 'text-success'
                      : consideracionD.respuestaEstadoValidacionOSINFOR == 0
                      ? 'text-danger'
                      : ''
                  }}"
                  >{{ consideracionD.respuestaValidacionOSINFOR }}</span
                ></label
              >
            </div>
          </div>
          <ng-container
            [ngTemplateOutlet]="observacion"
            [ngTemplateOutletContext]="{ base: consideracionD }"
          >
          </ng-container>
        </p-accordionTab>
        <p-accordionTab
          *ngIf="visibleTab"
          header="E) Corroborar Cartografía"
          [selected]="false"
        >
          <div class="row m-0 mb-3">
            <div class="col-12">
              <p class="fz-12">
                Corroborar que la información cartográfica se encuentre en el
                datum WGS 84 e incluya la zona UTM.
              </p>
            </div>
            <div class="col-12">
              <!--<button class="btn btn-sm btn-primary2">Descargar</button>-->
            </div>
          </div>
          <ng-container
            [ngTemplateOutlet]="observacion"
            [ngTemplateOutletContext]="{ base: consideracionE }"
          >
          </ng-container>
        </p-accordionTab>
        <p-accordionTab
          *ngIf="visibleTab"
          header="F) Verificar con Autoridades"
          [selected]="false"
        >
          <div class="row m-0 mb-3">
            <div class="col-12">
              <p class="fz-12">
                Verificar a través de bases de datos de las ARFFS, portales
                instituciones, sistemas informáticos de las entidades públicas o
                a través de los mecanismos de interoperabilidad, la información
                relacionada a la vigencia de poderes, habilitaciones
                profesionales, catastros2, etc., en caso corresponda.
              </p>
            </div>
            <div class="col-12">
              <!--<button class="btn btn-sm btn-primary2">Descargar</button>-->
            </div>
          </div>
          <ng-container
            [ngTemplateOutlet]="observacion"
            [ngTemplateOutletContext]="{ base: consideracionF }"
          >
          </ng-container>
        </p-accordionTab>
        <p-accordionTab
          *ngIf="visibleTab"
          header="G) Corroborar Coherencia"
          [selected]="false"
        >
          <div class="row m-0 mb-3">
            <div class="col-12">
              <p class="fz-12">
                Corroborar que exista coherencia entre la información presentada
                en los ítems que comprende el PGMF con los datos de los anexos y
                las cifras tabuladas; así como, con el correcto cálculo de los
                valores cuando se hayan utilizado fórmulas matemáticas.
              </p>
            </div>
            <div class="col-12">
              <!--<button class="btn btn-sm btn-primary2">Descargar</button>-->
            </div>
          </div>
          <ng-container
            [ngTemplateOutlet]="observacion"
            [ngTemplateOutletContext]="{ base: consideracionG }"
          >
          </ng-container>
        </p-accordionTab>
        <p-accordionTab
          *ngIf="visibleTab"
          header="H) Verificar Consideraciones Especiales (*)"
          [selected]="false"
        >
          <div class="row m-0 mb-3">
            <div class="col-12">
              <p class="fz-12">
                Verificar que el PGMF incluya las consideraciones especiales
                aprobadas por el SERFOR, cuando se trate de concesiones ubicadas
                en ZA de un ANP.
              </p>
            </div>

            <div class="col-12">
              <p-table
                [value]="lstConsEspecial"
                [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registros"
                [rowsPerPageOptions]="[10, 25, 50]"
                [totalRecords]="lstConsEspecial.length"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th>Consideraciones especiales</th>
                    <th style="width: 100px">Conforme</th>
                    <th style="width: 100px">Observado</th>
                    <th style="width: 350px">Observación</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                  <tr>
                    <td class="text-left">
                      {{ data.consideracionDescripcion }}
                    </td>
                    <td>
                      <p-radioButton
                        (onClick)="observacionConsEspecial($event, data)"
                        [(ngModel)]="data.conforme"
                        name="esObservadoCE"
                        [value]="true"
                        [disabled]="disabledRadio"
                      >
                      </p-radioButton>
                    </td>
                    <td>
                      <p-radioButton
                        (onClick)="observacionConsEspecial($event, data)"
                        [(ngModel)]="data.conforme"
                        name="esObservadoCE"
                        [value]="false"
                        [disabled]="disabledRadio"
                      >
                      </p-radioButton>
                    </td>
                    <td>
                      <input
                        *ngIf="data.conforme === false"
                        placeholder="Ingrese observación..."
                        type="text"
                        [(ngModel)]="data.observacion"
                        class="form-control form-control-sm"
                        [disabled]="disabledRadio"
                        maxlength="250"
                        sinSpacioInit
                      />
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab
          *ngIf="visibleTab"
          header="I) Verificar Especies Inventariadas (*)"
          [selected]="false"
        >
          <div class="row m-0 mb-3">
            <div class="col-12">
              <p class="fz-12">
                Verificar que las especies inventariadas sean citadas de acuerdo
                con la Lista Oficial de Especies Forestales3.
              </p>
            </div>
            <div class="col-12">
              <p-table
                [value]="lstEspciePresente"
                [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registros"
                [rowsPerPageOptions]="[10, 25, 50]"
                [totalRecords]="lstEspciePresente.length"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th>Id Especie</th>
                    <th>Nombre Científico</th>
                    <th>Nombre Común</th>
                    <th style="width: 100px">Conforme</th>
                    <th style="width: 100px">Observado</th>
                    <th style="width: 350px">Observación</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                  <tr>
                    <td class="text-left">
                      {{ data.idEspecie }}
                    </td>
                    <td>
                      {{ data.nombreCientifico }}
                    </td>
                    <td>
                      {{ data.nombreComun }}
                    </td>
                    <td>
                      <p-radioButton
                        (onClick)="observacionEspecPresentes($event, data)"
                        [(ngModel)]="data.conforme"
                        name="esObservadoCE"
                        [value]="true"
                        [disabled]="disabledRadio"
                      >
                      </p-radioButton>
                    </td>
                    <td>
                      <p-radioButton
                        (onClick)="observacionEspecPresentes($event, data)"
                        [(ngModel)]="data.conforme"
                        name="esObservadoCE"
                        [value]="false"
                        [disabled]="disabledRadio"
                      >
                      </p-radioButton>
                    </td>
                    <td>
                      <input
                        *ngIf="data.conforme === false"
                        placeholder="Ingrese observación..."
                        type="text"
                        [(ngModel)]="data.observacion"
                        class="form-control form-control-sm"
                        [disabled]="disabledRadio"
                        maxlength="100"
                        sinSpacioInit
                      />
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <!--
    <div class="row m-0" style="margin: 20px 0 !important" *ngIf="informacion.estadoPlanManejoEvaluacion == 'EEVAEVAL'">
        <div class="col-12 col-sm-5">

            <div class="p-field-radiobutton d-inline-full">
                <p-radioButton name="conforme" id="obserNo" [value]="true">
                </p-radioButton>
                <label class="mr-2 pl-1 pointer" for="obserNo">Aprobado</label>
            </div>
            <div class="p-field-radiobutton d-inline-full">
                <p-radioButton name="conforme" id="obserSI" [value]="false">
                </p-radioButton>
                <label class="mr-2 pl-1 pointer" for="obserSI">Denegado</label>
            </div>
        </div>

    </div> -->

  <div class="row mt-3 mb-4">
    <div class="col-12">
      <button class="btn btn-sm btn-primary2" (click)="regresar()">
        Regresar
      </button>
      <button
        class="btn btn-sm btn-primary2"
        (click)="guardar()"
        [disabled]="guardarConsideracionDeshabilitado"
      >
        Guardar
      </button>
      <button
        class="btn btn-sm btn-primary2"
        (click)="enviar()"
        [disabled]="disabledSend"
        *ngIf="!botonLineamientos"
      >
        Enviar
      </button>
      <button
        class="btn btn-sm btn-primary2"
        (click)="irLineamientos()"
        *ngIf="botonLineamientos"
      >
        Ir Lineamientos
      </button>
    </div>
  </div>
</div>

<ng-template #observacion let-base="base">
  <div class="panelk br10 mt-3 p-2">
    <div
      class="row m-0"
      *ngIf="
        (usuario.sirperfil == 'TITULARTH' && base.conforme != null) ||
        usuario.sirperfil != 'TITULARTH'
      "
    >
      <div class="col-12">
        <label class="title2">Evaluación</label>
      </div>
      <div class="col-12 mt-3 form-group">
        <div class="p-field-radiobutton d-inline-full">
          <p-radioButton
            [disabled]="base.disabledRadio"
            (onClick)="observacionClick($event, base)"
            [(ngModel)]="base.conforme"
            name="conforme"
            id="obserNo"
            [value]="true"
          ></p-radioButton>
          <label class="mr-2 pl-1 pointer" for="obserNo">Conforme</label>
        </div>
        <div class="p-field-radiobutton d-inline-full">
          <p-radioButton
            [disabled]="base.disabledRadio"
            (onClick)="observacionClick($event, base)"
            [(ngModel)]="base.conforme"
            name="conforme"
            id="obserSI"
            [value]="false"
          ></p-radioButton>
          <label class="mr-2 pl-1 pointer" for="obserSI">Observado</label>
        </div>
      </div>
      <div class="col-12 form-group" *ngIf="base.conforme === false">
        <label class="label"
          >Descripción de Observaciones <small>(máx. 250 caract.)</small>:
          *</label
        >
        <textarea
          rows="4"
          class="form-control form-control-sm"
          placeholder="Ingrese observación..."
          [(ngModel)]="base.observacion"
          [disabled]="base.disabledRadio"
          maxlength="250"
          sinSpacioInit
        ></textarea>
      </div>
    </div>
  </div>
</ng-template>

<p-dialog
  header="Requisito TUPA"
  [(visible)]="mostrarRequisitoModal"
  appendTo="body"
  [modal]="true"
>
  <ng-template pTemplate="content">
    <div class="row">
      <div class="col-12">
        <label class="label">Tipo Documento</label>
        <div class="form-control-selectk" *ngIf="showComboList">
          <p-dropdown
            class="fomr-control"
            placeholder="-- Seleccione --"
            [options]="listaTipoDocumento"
            optionValue="codigo"
            optionLabel="valorPrimario"
            [(ngModel)]="archivoObtenido.idTipoDocumento"
            [disabled]="true"
          >
          </p-dropdown>
        </div>

        <div *ngIf="!showComboList">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="archivoObtenido.tipoDocumento"
            [disabled]="true"
          />
        </div>
      </div>

      <div class="col-12 mb-2">
        <div class="form-group">
          <label class="label">Nombre de Documento</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="archivoObtenido.nombre"
            [disabled]="true"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="p-field-radiobutton d-inline-full">
          <p-radioButton
            name="esReqObs"
            id="obserNo"
            value="C"
            [value]="true"
            [(ngModel)]="archivoObtenido.conforme"
            [disabled]="disabled"
          >
          </p-radioButton>
          <label class="mr-2 pl-1 pointer" for="obserNo">Conforme</label>
        </div>
        <div class="p-field-radiobutton d-inline-full">
          <p-radioButton
            name="esReqObs"
            id="obserSI"
            value="O"
            [value]="false"
            [(ngModel)]="archivoObtenido.conforme"
            [disabled]="disabled"
          >
          </p-radioButton>
          <label class="mr-2 pl-1 pointer" for="obserSI">Observado</label>
        </div>
      </div>
      <div class="col-12 mt-2">
        <div class="form-group" *ngIf="archivoObtenido.conforme == false">
          <label class="label"
            >Descripción de Observaciones <small>(máx. 250 caract.)</small>:
            *</label
          >
          <input
            type="text"
            class="form-control"
            [(ngModel)]="archivoObtenido.observacion"
            [disabled]="disabled"
            [maxlength]="250"
          />
        </div>
      </div>
    </div>

    <br /><br />
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      pButton
      pRipple
      type="button"
      label="Guardar"
      class="p-button-success p-button-outlined"
      (click)="guardarArchivo()"
      [disabled]="guardarArchivoDeshabilitado"
    ></button>
    <button
      icon="pi pi-times"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
      (click)="mostrarRequisitoModal = false"
    ></button>
  </ng-template>
</p-dialog>
