<div class="col-12 pt-4">
  <div class="row m-0">
    <div class="col-2 col-sm-12 text-right">
      <button
        (click)="openDialog()"
        class="btn btn-sm btn-default button-more mb-2"
        type="button"
        title="Agregar"
        [disabled]="disabled"
      >
        <i class="pi pi-plus"></i>
      </button>
    </div>
    <p-confirmPopup></p-confirmPopup>
    <div class="col-12">
      <p-table
        [value]="listBosques"
        dataKey="tipoBosque"
        [paginator]="true"
        [rows]="10"
        [totalRecords]="totalRecords"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros"
        [rowsPerPageOptions]="[10,25,50]"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem;"></th>
            <th style="width: 80px;">Acciones</th>
            <th>Tipo Bosque</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-maderable
          let-expanded="expanded"
          let-rowIndex="rowIndex"
        >
          <tr>
            <td>
              <button
                type="button"
                pButton
                pRipple
                [pRowToggler]="maderable"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
              ></button>
            </td>
            <td class="text-center">
              <a
                type="button"
                class="pointer"
                title="Eliminar"
                (click)="!disabled && eliminarMaderables($event,rowIndex,maderable)"
              >
                <i class="pi pi-trash"></i>
              </a>
            </td>
            <td>{{maderable.tipoBosque}}</td>
            <td>
              <button [disabled]="disabled"
                (click)="buscarEspecie(maderable,rowIndex)"
                class="btn btn-sm btn-secondary button-more"
              >
                Agregar Especie
              </button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-maderable>
          <tr>
            <td colspan="7">
              <div class="p-p-3">
                <p-table
                  [value]="maderable.listPotencialProduccion"
                  dataKey="idEspecie"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Acciones</th>
                      <th>Especie</th>
                      <th>Variable</th>
                      <th>Total en el tipo de bosque</th>
                      <th>Total por HA</th>
                      <th style="width: 4rem;"></th>
                    </tr>
                  </ng-template>
                  <ng-template
                    pTemplate="body"
                    let-rowIndex="rowIndex"
                    let-especie
                  >
                    <tr>
                      <td [attr.rowspan]="especie.listPotencialProduccionVariable.length + 1">
                        <a
                          type="button"
                          class="pointer"
                          title="Eliminar"
                          (click)="!disabled && eliminarEspecie($event,rowIndex,especie)"
                        >
                          <i class="pi pi-trash"></i>
                        </a>
                      </td>
                      <td [attr.rowspan]="especie.listPotencialProduccionVariable.length + 1">
                        {{especie.especie}}
                      </td>
                    </tr>
                    <tr
                      *ngFor="let item of especie.listPotencialProduccionVariable"
                    >
                      <td>{{item.variable}}</td>
                      <td>
                        <input
                          type="number"
                          min="0" [disabled]="disabled"
                          class="form-control"
                          placeholder="Ingrese total por tipo de bosque"
                          [(ngModel)]="item.nuTotalTipoBosque"
                        />
                      </td>
                      <td>
                        <input
                          type="number"
                          min="0"  [disabled]="disabled"
                          class="form-control"
                          placeholder="Ingrese total por Ha"
                          [(ngModel)]="item.totalHa"
                        />
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="step__btn mt-4">
    <button
      class="btn-primary2"
      (click)="GuardarEvaluacionInventarioEspecies()"
      [disabled]="disabled ||  listBosques.length === 0"
    >
      Guardar
    </button>
  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
