<div class="row m-0">
    <div class="col-12">
      <h3 class="title">Solicitar recurso de impugnación</h3>
      <h3 class="title2">Lista de información de la solicitud</h3>
    </div>
    <div class="col-12 mt-3">
        <div class="tablek">
            <!--
            [value]="listaOposicion"
            -->
            <p-table [value]="lista" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
              currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
              <ng-template pTemplate="header">
                <tr>
                  <th>Selección</th>
                  <th>Resolución</th>
                  <th>Fecha de presentación</th>
                  <th>Estado</th>
                  <th>Adjuntar recurso de inpugnación</th>
                  <th>Acciones</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-obj>
                <tr>
                  <td>
                    <p-radioButton name="groupname" value="val1" ></p-radioButton>

                  </td>
                  <td>{{obj.a}}</td>
                  <td>{{obj.b}}</td>
                  <td>
                    <button class="btn btn-sm btn-primary2" (click)="display = !display" >Aprobado</button>
                    <button class="btn btn-sm btn-danger" >Desaprobado</button>
                  </td>
                  <td>
                    <i class="pi pi-cloud-upload pointer" ></i>
                  </td>
                  <td>
                    <button class="btn btn-sm btn-secondary" >Remitir a ARFFS</button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
        </div>
    </div>
  </div>

<p-dialog [(visible)]="display" [style]="{width: '20vw'}" >
    <ng-template pTemplate="header"  >
        <i class="pi pi-check-circle" style="color: #4a962c;" ></i>
    </ng-template>
      <p>Mensaje enviado correctamente</p>
    <p-footer>
      <button class="btn btn-sm btn-primary2" (click)="display = !display" >Aceptar</button>
    </p-footer>
</p-dialog>