<div class="container-fluid">
  <p-confirmPopup></p-confirmPopup>
  <div class="row mt-3">
    <div class="col-12 p-0">
      <div class="row m-0 mt-3">
        <div class="col-12 pt-2 text-right">
          <div class="col-12 p-0 text-right">
            <button
              (click)="openModal('Nuevo Registro', null, 'C')"
              type="button"
              class="btn btn-sm btn-default mb-2"
              title="Agregar" [disabled]="isDisbledObjFormu">
              <i class="pi pi-plus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="row m-0 mt-3">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-boderk no-desbor-table">
              <thead>
                <tr>
                  <th class="v-middle" rowspan="3">Acciones</th>
                  <th class="v-middle mincellactividad" rowspan="3" >Actividad</th>
                  <th colspan="12">AÑO 1</th>
                  <th colspan="19">AÑOS</th>
                </tr>
                <tr>
                  <th colspan="12">Meses</th>
                  <th rowspan="2" colspan="1">2</th>
                  <th rowspan="2" colspan="1">3</th>
                  <th rowspan="2" colspan="1">4</th>
                  <th rowspan="2" colspan="1">5</th>
                  <th rowspan="2" colspan="1">6</th>
                  <th rowspan="2" colspan="1">7</th>
                  <th rowspan="2" colspan="1">8</th>
                  <th rowspan="2" colspan="1">9</th>
                  <th rowspan="2" colspan="1">10</th>
                  <th rowspan="2" colspan="1">11</th>
                  <th rowspan="2" colspan="1">12</th>
                  <th rowspan="2" colspan="1">13</th>
                  <th rowspan="2" colspan="1">14</th>
                  <th rowspan="2" colspan="1">15</th>
                  <th rowspan="2" colspan="1">16</th>
                  <th rowspan="2" colspan="1">17</th>
                  <th rowspan="2" colspan="1">18</th>
                  <th rowspan="2" colspan="1">19</th>
                  <th rowspan="2" colspan="1">20</th>
                </tr>
                <tr>
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                  <th>4</th>
                  <th>5</th>
                  <th>6</th>
                  <th>7</th>
                  <th>8</th>
                  <th>9</th>
                  <th>10</th>
                  <th>11</th>
                  <th>12</th>
                </tr>
              </thead>
              <tbody>
                <tr >
                  <td colspan="31" class="text-left">
                    <b>Fase de Planificación</b>
                  </td>
                </tr>
                <tr *ngFor="let data of lstDetalle">
                  <td>
                    <span
                      (click)="openModal('Editar Registro', data, 'E')"
                      class="pointer mr-1"
                      title="Editar"
                      [ngClass]="isDisbledObjFormu?'disabled-pointer':''"
                    >
                      <i class="pi pi-pencil"></i>
                    </span>
                    <span
                      (click)="openEliminar($event, data)"
                      class="pointer mr-2"
                      title="Eliminar"
                      [ngClass]="isDisbledObjFormu?'disabled-pointer':''"
                    >
                      <i class="pi pi-trash"></i>
                    </span>
                  </td>
                  <td class="text-left">{{ data.actividad }}</td>

                  <td>
                    {{ data.a1m1 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data.a1m2 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data.a1m3 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data.a1m4 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data.a1m5 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data.a1m6 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data.a1m7 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data.a1m8 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data.a1m9 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data.a1m10 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data.a1m11 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data.a1m12 == true ? "X" : "" }}
                  </td>

                  <td>
                    {{ data.a2m1 == true ? "X" : "" }}
                  </td>

                  <td>
                    {{ data.a3m1 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data.a4m1 == true ? "X" : "" }}
                  </td>

                  <td>
                    {{ data.a5m1 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data.a6m1 == true ? "X" : "" }}
                  </td>

                  <td>
                    {{ data.a7m1 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data.a8m1 == true ? "X" : "" }}
                  </td>

                  <td>
                    {{ data.a9m1 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data.a10m1 == true ? "X" : "" }}
                  </td>

                  <td>
                    {{ data.a11m1 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data.a12m1 == true ? "X" : "" }}
                  </td>

                  <td>
                    {{ data.a13m1 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data.a14m1 == true ? "X" : "" }}
                  </td>

                  <td>
                    {{ data.a15m1 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data.a16m1 == true ? "X" : "" }}
                  </td>

                  <td>
                    {{ data.a17m1 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data.a18m1 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data.a19m1 == true ? "X" : "" }}
                  </td>

                  <td>
                    {{ data.a20m1 == true ? "X" : "" }}
                  </td>
                </tr>
                <tr >
                  <td colspan="31" class="text-left">
                    <b>Fase de Aprovechamiento</b>
                  </td>
                </tr>
                <tr *ngFor="let data2 of lstDetalle2">
                  <td>
                    <span
                      (click)="openModal('Editar Registro', data2, 'E')"
                      class="pointer mr-1"
                      title="Editar"
                      [ngClass]="isDisbledObjFormu?'disabled-pointer':''"
                    >
                      <i class="pi pi-pencil"></i>
                    </span>
                    <span
                      (click)="openEliminar($event, data2)"
                      class="pointer mr-2"
                      title="Eliminar"
                      [ngClass]="isDisbledObjFormu?'disabled-pointer':''"
                    >
                      <i class="pi pi-trash"></i>
                    </span>
                  </td>
                  <td class="text-left">{{ data2.actividad }}</td>

                  <td>
                    {{ data2.a1m1 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data2.a1m2 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data2.a1m3 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data2.a1m4 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data2.a1m5 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data2.a1m6 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data2.a1m7 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data2.a1m8 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data2.a1m9 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data2.a1m10 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data2.a1m11 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data2.a1m12 == true ? "X" : "" }}
                  </td>

                  <td>
                    {{ data2.a2m1 == true ? "X" : "" }}
                  </td>

                  <td>
                    {{ data2.a3m1 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data2.a4m1 == true ? "X" : "" }}
                  </td>

                  <td>
                    {{ data2.a5m1 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data2.a6m1 == true ? "X" : "" }}
                  </td>

                  <td>
                    {{ data2.a7m1 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data2.a8m1 == true ? "X" : "" }}
                  </td>

                  <td>
                    {{ data2.a9m1 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data2.a10m1 == true ? "X" : "" }}
                  </td>

                  <td>
                    {{ data2.a11m1 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data2.a12m1 == true ? "X" : "" }}
                  </td>

                  <td>
                    {{ data2.a13m1 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data2.a14m1 == true ? "X" : "" }}
                  </td>

                  <td>
                    {{ data2.a15m1 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data2.a16m1 == true ? "X" : "" }}
                  </td>

                  <td>
                    {{ data2.a17m1 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data2.a18m1 == true ? "X" : "" }}
                  </td>
                  <td>
                    {{ data2.a19m1 == true ? "X" : "" }}
                  </td>

                  <td>
                    {{ data2.a20m1 == true ? "X" : "" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-0 mt-4 h-100 justify-content-center align-items-center">
    <div class="col-12 col-sm-12">
      <lineamiento-inner [base]="lineamiento"
        [titulo]="'Evaluación de Lineamiento 18. Revisión del cronograma de actividades'" [isShowObjEval]="isShowObjEval"
        [isDisabledObjEval]="isDisabledObjEval">
        <ng-template #descripcion>
          <div class="row m-0">
            <div class="col-12">
              <p class="fz-11 m-0 mb-3"></p>
              <p class="fz-11 m-0 mb-1 ml-4">► Verificar que el cronograma contemple a las actividades descritas para la
                implemantación del PGMFy se encuentren calendarizadas mensualmente para los primeros cinco años y
                quinquenalmente para los siguientes años.</p>
            </div>
          </div>
        </ng-template>
      </lineamiento-inner>
    </div>
  </div>

  <div class="step__btn mt-4">
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
  <br />
</div>
<p-toast position="top-right" key="tl"></p-toast>
