<div class="container-fluid">
  <p-confirmPopup></p-confirmPopup>
  <div class="row mt-3">
    <div class="col-12 p-0">
      <p-accordion>
        <p-accordionTab
          header="13.1. Cronograma de Actividades para el Primer Período de Ejecución"
          [selected]="true"
        >
          <div class="row m-0 mt-3">
            <div class="col-12 pt-2 text-right">
              <div class="col-12 p-0 text-right">
                <button
                  icon="pi pi-plus" [disabled]="disabled"
                  (click)="openModal('Nuevo Registro', null, 'C')"
                  pButton
                  pRipple
                  type="button"
                  label=""
                  class="p-button-success p-button-text"
                ></button>
              </div>
            </div>
          </div>
          <div class="row m-0 mt-3">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-boderk">
                  <thead>
                    <tr>
                      <th class="v-middle" rowspan="3">Acciones</th>
                      <th class="v-middle" rowspan="3">Actividad</th>
                      <th colspan="12">AÑO 1</th>
                      <th colspan="2">AÑOS</th>
                    </tr>
                    <tr>
                      <th colspan="12">Meses</th>
                      <th rowspan="2" colspan="1">2</th>
                      <th rowspan="2" colspan="1">3</th>
                    </tr>
                    <tr>
                      <th>1</th>
                      <th>2</th>
                      <th>3</th>
                      <th>4</th>
                      <th>5</th>
                      <th>6</th>
                      <th>7</th>
                      <th>8</th>
                      <th>9</th>
                      <th>10</th>
                      <th>11</th>
                      <th>12</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of lstDetalle">
                      <td>
                        <span
                          (click)="!disabled&&openModal('Editar Registro', data, 'E')"
                          class="pointer mr-1"
                          title="Editar"
                        >
                          <i class="pi pi-pencil"></i>
                        </span>
                        <span
                          (click)="!disabled&&openEliminar($event, data)"
                          class="pointer mr-2"
                          title="Eliminar"
                        >
                          <i class="pi pi-trash"></i>
                        </span>
                      </td>
                      <td class="text-left">{{ data.actividad }}</td>

                      <td>
                        {{ data.a1m1 == true ? "X" : "" }}
                      </td>
                      <td>
                        {{ data.a1m2 == true ? "X" : "" }}
                      </td>
                      <td>
                        {{ data.a1m3 == true ? "X" : "" }}
                      </td>
                      <td>
                        {{ data.a1m4 == true ? "X" : "" }}
                      </td>
                      <td>
                        {{ data.a1m5 == true ? "X" : "" }}
                      </td>
                      <td>
                        {{ data.a1m6 == true ? "X" : "" }}
                      </td>
                      <td>
                        {{ data.a1m7 == true ? "X" : "" }}
                      </td>
                      <td>
                        {{ data.a1m8 == true ? "X" : "" }}
                      </td>
                      <td>
                        {{ data.a1m9 == true ? "X" : "" }}
                      </td>
                      <td>
                        {{ data.a1m10 == true ? "X" : "" }}
                      </td>
                      <td>
                        {{ data.a1m11 == true ? "X" : "" }}
                      </td>
                      <td>
                        {{ data.a1m12 == true ? "X" : "" }}
                      </td>

                      <td>
                        {{ data.a2m1 == true ? "X" : "" }}
                      </td>

                      <td>
                        {{ data.a3m1 == true ? "X" : "" }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <br />
          <br />
          <div>
            <app-carga-excel [disabled]="disabled"
              (cargarArchivo)="cargarFormato($event)"
              [NombrePlantilla]="UrlFormatos.CARGA_POCC_CRONOGRAMA"
            ></app-carga-excel>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <div class="step__btn mt-4">
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
  <br />
</div>
<p-toast position="top-right" key="tl"></p-toast>
