<div class="row m-0 pt-3">
    <div class="col-12">
        <!-- <button
            type="button"
            (click)="fileSHPInput.click()"
            class="btn btn-sm btn-secondary button-more mb-2"
            [disabled]="disabled"
        >
            Cargar shape file
            <input
                #fileSHPInput
                type="file"
                (change)="onChangeFileSHP($event)"
                style="display: none;"
            />
        </button> -->
        <div class="row mb-2">
            <div class="col-12 col-sm-12 text-right" *ngIf="listCoordinatesAnexo.length > 0">
                <button
                    (click)="eliminarLista($event)"
                    pButton
                    pRipple
                    type="button"
                    title=""
                    class="p-button-success p-button-text button-more"
                    [disabled]="disabled"
                >
                    <i class="pi pi-times" style="font-size: 1.2rem"></i>
                </button>
            </div>
        </div>
        <p-table [value]="listCoordinatesAnexo">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 15%">Vértice</th>
                    <th style="width: 20%">Este (E)</th>
                    <th style="width: 20%">Norte (N)</th>
                    <th style="width: 45%;">Observaciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
                <tr>
                    <td>{{ data.vertice }}</td>
                    <td>{{ data.este }}</td>
                    <td>{{ data.norte }}</td>
                    <td>
                        <input
                            type="text"
                            class="form-control"
                            placeholder=""  [disabled]="disabled"
                            maxlength="50"
                            [(ngModel)]="data.referencia"
                        />
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="step__btn mt-4 mb_2">
            <button
                type="submit"
                class="btn-primary2"
                (click)="registrar()"
                [disabled]="disabled || listCoordinatesAnexo.length == 0"
            >
                Guardar
            </button>
        </div>
    </div>
</div>
