<div class="container-fluit py-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="Lista de Ordenes de Producción o Transformación" [selected]="true">
          <div class="row m-0">
            <div class="col-12 col-sm-6 form-group">
              <label class="label">Plan Manejo:</label>
              <div class="form-control-selectk">
                <p-dropdown appendTo="body" [options]="comboPlanManejo" placeholder="Seleccione"
                  [(ngModel)]="requestTabla.idPlanManejo" optionLabel="nombrePlan" optionValue="idPlanManejo"
                  (ngModelChange)="changePlanManejo()">
                </p-dropdown>
              </div>
            </div>
            <!-- Tabla Transformación -->
            <div class="col-12 form-group mt-3" style="overflow-x: auto;">
              <label class="label">Lista de Ordenes de Producción</label>
              <p-table [value]="listaOrdenProd" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
              currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]" (onPageChange)="loadDataOrdProd($event)" [totalRecords]="listaOrdenProd.length" >
                <ng-template pTemplate="header">
                  <tr>
                    <th>N°</th>
                    <th>Fecha Consumo</th>
                    <!--<th>Parcela</th>-->
                    <th>N° Resolución</th>
                    <th>N° Trozas</th>
                    <th>Volumen de Trozas</th>
                    <th>Cantidad Transformado</th>
                    <th>Volumen Transformado</th>
                    <th>Rendimiento</th>
                    <th>Observaciones</th>
                    <th>Ver Detalle</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-fila>
                  <tr>
                    <td>{{fila.idOrdenProduc}}</td>
                    <td>{{fila.fechaConsumo | date: "dd/MM/YYYY" : 'UTC'}}</td>
                    <!--<td>{{fila.parcela}}</td>-->
                    <td>{{fila.resolucion}}</td>
                    <td>{{fila.nroTrozas}}</td>
                    <td>{{fila.volumen}}</td>
                    <td>{{fila.cantidad}}</td>
                    <td>{{fila.volumenTrans}}</td>
                    <td>{{fila.rendimiento}} %</td>
                    <td>{{fila.observacion}}</td>
                    <td>
                      <span class="pointer"><i class="pi pi-eye" title="Ver Detalle"
                          (click)="btnDetalle(fila.idOrdenProduc)"></i></span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <!--<p-paginator [rows]="10" [totalRecords]="totalRecordsOrdProd" (onPageChange)="loadDataOrdProd($event)"
                [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registros">
              </p-paginator>-->
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>