<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12 p-0">
      <p-accordion>
        <p-accordionTab header="10 Anexos" [selected]="true">
          <div class="row m-0">
            <div class="col-12 col-sm-8 p-0">
              <div class="f-w mb-2 mapa-content">
                <div class="mapa" #map></div>
              </div>
            </div>
            <div class="col-12 col-sm-4 pl-4">
              <div class="mb-4 text-center">
                <button
                  type="button"
                  id="btnCargaShapeFile" [disabled]="disabled"
                  (click)="fileInput.click()"
                  class="btn btn-sm btn-secondary"
                >
                  Cargar shape file
                  <input
                    #fileInput
                    type="file"
                    style="display: none"
                    (change)="onChangeFileSHP($event)"
                  />
                </button>
              </div>
              <div class="card gh-layers">
                <div class="card-header py-0 pt-2 pb-2">Capas</div>
                <ul id="ulResult" #ulResult class="list-group"></ul>
                <ul class="list-group">
                  <li
                    *ngFor="let item of _filesSHP"
                    class="list-group-item p-0 d-flex"
                  >
                    <input
                      class="ml-1 mr-1 pointer" [disabled]="disabled"
                      type="checkbox"
                      [checked]="true"
                      (change)="toggleLayer(item.idLayer, $event)"
                    />

                    <label
                      class="m-0 p-0 text-left pointer"
                      style="flex: 2"
                      [ngStyle]="{ color: item.color }"
                      >{{ item.nombreFile }}</label
                    >

                    <div class="d-flex">
                      <span class="mr-2 pointer">
                        <i
                          class="pi pi-download"
                          aria-hidden="true"
                          (click)="onDownloadFileSHP(item)"
                        ></i>
                      </span>
                      <span class="pointer pr-1">
                        <i
                          class="pi pi-trash"
                          aria-hidden="true"
                          *ngIf="!item.annex && item.file"
                          (click)="!disabled&& onRemoveFileSHP(item)"
                        ></i>
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 pt-2">
              <table  class="table table-boderk">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th></th>
                    <th>Adjuntar documentos firmados</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of listDocuments">
                    <td class="text-left">{{ data.descripcion }}</td>
                    <td>
                      <button
                        *ngIf="data.id === 5"
                        type="button"
                        class="btn-primary2" [disabled]="disabled"
                        title="Generar Inventario"
                        (click)="onGenerateInventory()"
                      >
                        Generar Inventario
                      </button>
                    </td>
                    <td class="text-center">
                      <input-buttons-codigo
                      [label]="''"
                      [idPlanManejo]="idPlanManejo"
                      [idTipoDocumento]="data.codigo"
                      [codigoProceso]="'PMFI'"
                      [disabled]="disabled"
                    >
                    </input-buttons-codigo>
                      <!-- <div class="input-group col-sm-8">
                        <input
                          type="text"
                          [disabled]="true"
                          class="form-control"
                          placeholder=""
                          [(ngModel)]="data.nombreFile"
                        />
                        <div class="input-group-append">
                          <button
                            type="button"
                            *ngIf="data.inServer == false"
                            id="btnCargaShapeFile"
                            (click)="filePDFInput.click()"
                            class="btn btn-sm btn-file"
                            pButton [disabled]="disabled"
                            icon="pi pi-upload"
                            pButton
                            title="Cargar Archivo"
                          >
                            <input
                              #filePDFInput
                              (change)="onChangeFilePDF($event, data)"
                              type="file"
                              style="display: none"
                              accept=".pdf"
                            />
                          </button>
                          <button
                            type="button"
                            class="btn btn-sm btn-file"
                            (click)="onDownloadFilePDF(data)"
                            [disabled]="data.nombreFile == ''"
                            *ngIf="data.nombreFile && data.inServer == true"
                            pButton
                            title="Descargar Archivo"
                            icon="pi pi-download"
                          ></button>
                          <button
                            *ngIf="data.file && data.inServer === true"
                            type="button"
                            class="btn btn-sm btn-file"
                            title="Eliminar"
                            icon="pi pi-trash" [disabled]="disabled"
                            (click)="onDeleteFilePDF(data)"
                            pButton
                          ></button>
                        </div>
                      </div> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </p-accordionTab>



        <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon"
            [base]="detEvaluacion"
          ></evaluacion-archivo-shared>
        </p-accordionTab>

      </p-accordion>
    </div>
  </div>
  <div class="step__btn mt-4">
    <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
   <!--  <button *ngIf="!isPerfilArffs" class="btn-primary2" type="button" (click)="guardar()" [disabled]="disabled">
      Guardar
    </button> -->
    <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="registrarEvaluacion()">Guardar Evaluación</button>
    <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">Retornar Flujo Evaluacion</button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
</div>
<p-toast [style]="{ marginTop: '80px' }" key="tl"></p-toast>
<p-confirmDialog
  [style]="{ width: '300px' }"
  key="deleteFilePDF"
></p-confirmDialog>
<p-confirmDialog
  [style]="{ width: '300px' }"
  key="deleteFileSHP"
></p-confirmDialog>
