::ng-deep.p-toast-top-right {
    right: 20px;
    top: 20px;
    white-space: pre-wrap;
}

::ng-deep .mat-datepicker-content .mat-calendar {
    width: 229px!important;
    height: 300px!important;
}


.btn-file {
    background: #fff !important;
    min-height: 32px;
    font-family: "Montserrat";
    font-size: 11px;
    color: #4a962c !important;
    border: 2px solid #4a962c !important;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important;
    min-width: 50px;
}
  
.btn-secondary {
    min-width: 120px !important;
}

.container-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
  
.btn-file {
    background: #fff !important;
    min-height: 32px;
    font-family: "Montserrat";
    font-size: 11px;
    color: #4a962c !important;
    border: 2px solid #4a962c !important;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important;
    min-width: 50px;
}
  
.btn-secondary {
    min-width: 120px !important;
}
  
.container-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.p-dialog .p-dialog-header .p-dialog-title {
    display: contents !important;
}

.color {
    color: rgb(230, 191, 20);
    font-size: 20px;
}
