<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="1.1. Del Titular del Permiso" [selected]="true">
          <div class="p-4">
            <div class="row">
              <div class="form-group col-sm-8">
                <label class="label">Nombre de la Comunidad</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="nombreComunidad"
                  maxlength="250"
                  disabled
                />
              </div>
              <div class="form-group col-sm-4 text-center">
                  <div><label class="label">&nbsp;</label></div>
                  <button (click)="openModal()" [disabled]="disabled" class="btn btn-sm btn-secondary">Buscar</button>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <div class="form-group">
                  <label class="label">
                    Nombre del Jefe comunal o representante legal
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="nombreJefeComunidad"
                    maxlength="250"
                    disabled
                  />
                </div>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="1.2. Del Aprovechamiento">
          <div class="row col-12 p-2">
            <div class="col-12">
              <div class="form-group">
                <label class="label">Nombre de la empresa o extractor</label>
                <input
                  name="campo1"
                  type="text"
                  class="form-control"
                  autocomplete="off"
                  [disabled]="isPerfilArffs || disabled"
                  placeholder="Ingrese nombre de la empresa"
                  [(ngModel)]="form.observacion"
                  maxlength="100"
                />
              </div>
            </div>
          </div>

          <div class="row col-12 p-2">
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Departamento</label>
                <div class="form-control-selectk">
                  <p-dropdown
                    [disabled]="true"
                    [options]="listDepartamento"
                    [(ngModel)]="departamento.idDepartamento"
                    optionLabel="nombreDepartamento"
                    optionValue="idDepartamento"
                    (onChange)="onSelectedProvincia($event)"
                    placeholder="Seleccione"
                  ></p-dropdown>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Provincia</label>
                <div class="form-control-selectk">
                  <p-dropdown
                    [disabled]="true"
                    [options]="listProvincia"
                    [(ngModel)]="provincia.idProvincia"
                    optionLabel="nombreProvincia"
                    optionValue="idProvincia"
                    (onChange)="onSelectedDistrito($event)"
                    placeholder="Seleccione"
                  ></p-dropdown>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Distrito</label>
                <div class="form-control-selectk">
                  <p-dropdown
                    [disabled]="true"
                    [options]="listDistrito"
                    [(ngModel)]="distrito.idDistrito"
                    optionLabel="nombreDistrito"
                    optionValue="idDistrito"
                    placeholder="Seleccione"
                    (onChange)="Distrito($event)"
                  ></p-dropdown>
                </div>
              </div>
            </div>
          </div>
          <div class="row col-12 p-2">
            <div class="col-sm-6">
              <label class="label">Ing. Forestal que elaboró el POA</label>
              <input
                type="text"
                disabled
                class="form-control"
                [(ngModel)]="nombreCompleto"
              />
            </div>
            <div class="col-sm-2 text-center">
              <div class="form-group">
                <div><label class="label">&nbsp;</label></div>
                <button
                  [disabled]="isPerfilArffs || disabled"
                  (click)="abrirModalRegentes()" class="btn btn-sm btn-secondary">
                  Buscar
                </button>
              </div>
            </div>
          </div>

          <div class="row col-12 p-2">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label">N° de Incripción en el registro de Regentes que conduce el SERFOR</label>
                <input
                  type="text"
                  [disabled]="isPerfilArffs || disabled"
                  class="form-control"
                  [(ngModel)]="form.regente?.numeroLicencia!"
                  maxlength="250"
                  disabled
                />
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">Área de Aprovechamiento del PO</label>
                <input
                  name="campo1"
                  type="number"
                  class="form-control"
                  autocomplete="off"
                  [(ngModel)]="form.areaTotal"
                  numero
                  [min]="0"
                  [maxLength]="4"
                  disabled
                />
              </div>
            </div>
          </div>

          <div class="row col-12 p-2">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label">Año del PO</label>
                <input
                  name="campo1"
                  [disabled]="isPerfilArffs || disabled"
                  class="form-control"
                  autocomplete="off"
                  numero
                  [min]="0"
                  [max]="4"
                  [maxLength]="1"
                  placeholder="Ingrese año del POA"
                  [(ngModel)]="form.vigencia"
                />
              </div>
            </div>

            <div class="col-sm-6 form-group">
              <label class="label">Fecha de presentación del POA</label>
              <div class="content-date">
                <input
                  autocomplete="off"
                  [disabled]="isPerfilArffs"
                  type="text"
                  class="form-control"
                  matInput
                  [matDatepicker]="fpPGMF"
                  readonly="true"
                  [min]="minDate"
                  [(ngModel)]="form.fechaElaboracionPmfi"
                />
                <i class="pi pi-calendar pointer" (click)="(!isPerfilArffs && !disabled) && fpPGMF.open()"></i>
                <mat-datepicker #fpPGMF></mat-datepicker>
              </div>
            </div>
          </div>
          <div class="p-2">
            <input-buttons-codigo
              [label]="'Certificado de habilitación del Ing. Forestal'"
              [idPlanManejo]="idPlanManejo" [disabled]="disabled ||isPerfilArffs"
              [idTipoDocumento]="'POACIGCH'"
              [codigoProceso]="codigoProceso"
            >
            </input-buttons-codigo>
          </div>

          <br />
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeonAprovechamiento"
            [base]="evaluacionDelAprovechamiento"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>

        <div class="step__btn mt-4" *ngIf="!isPerfilArffs">
          <button class="btn-primary2"  [routerLink]="['/planificacion/bandeja-poac']">Anterior</button>
          <button
            type="submit" [disabled]="disabled"
            class="btn-primary2"
            (click)="registrarInformacionGeneral()"
          >
            Guardar
          </button>
          <button class="btn-primary2" (click)="siguienteTab()">
            Siguiente
          </button>
        </div>
      </p-accordion>

      <div class="step__btn mt-4" *ngIf="isPerfilArffs">
        <message-evaluation></message-evaluation>
        <button class="btn-primary2"  [routerLink]="['/planificacion/evaluacion/plan-operativo-ccnn']">Anterior</button>
        <button class="btn-primary2" (click)="registrarEvaluacion()">
          Guardar Evaluación
        </button>
        <button class="btn-primary2" (click)="retornarFlujoEvaluacion()">
          Retornar Flujo Evaluacion
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
      <br />
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-dialog
  header="Buscar Regente"
  appendTo="body"
  [(visible)]="verModalRegente"
  [modal]="true"
  [style]="{ width: '60vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row m-0">
      <div class="col-12 col-sm-9">
        <div class="form-group">
          <label class="label">Buscar por DNI</label>
          <div class="form-control-selectk">
            <input
              type="text"
              class="form-control"
              placeholder="Ingresa N° DNI"
              [(ngModel)]="queryRegente"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="form-group">
          <label class="label">&nbsp;&nbsp;</label>
          <div class="text-center">
            <button
              type="button"
              class="btn-primary2"
              (click)="filtrarRegente()"
            >
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12">
        <p-table [value]="regentes">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 50px;"></th>
              <th>Regente</th>
              <th>DNI</th>
              <th>Estado</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>
                <p-radioButton
                  name="regente"
                  [(ngModel)]="selectRegente"
                  [value]="data"
                >
                </p-radioButton>
              </td>
              <td>{{ data.nombres }} {{ data.apellidos }}</td>
              <td>{{ data.numeroDocumento }}</td>
              <th>{{ data.estado == "V" ? "Vigente" : "No Vigente" }}</th>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="guardarRegente()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verModalRegente = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  appendTo="body"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{width: '40vw'}"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <p-header>
    <div class="d-flex justify-content-start">
      <span>
        <i class="pi pi-exclamation-triangle color"></i>
      </span>
    </div>
  </p-header>
  <div class="pl-4">
    <span>
      Se autocompletará con información del plan previo.
    </span>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="closeModal()"
      label="Aceptar"
      class="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
