<div class="row m-0">
    <div class="col-12 text-right mb-2">
        <button *ngIf="data.readonly == false" (click)="openModal(null,'C')" class="btn btn-sm btn-default mb-2"
            type="button" title="Agregar">
            <i class="pi pi-plus"></i>
        </button>
    </div>
    <p-confirmPopup></p-confirmPopup>
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th>Tipo Archivo</th>
                    <th>Nombre Archivo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of data.lsDetalleAnexo; index as i">
                    <td>
                        <span *ngIf="data.readonly == false" (click)="verArchivo(d)" class="pointer mr-1" title="ver">
                            <i class="pi pi-eye"></i>
                        </span>
                        <span *ngIf="data.readonly == false" class="pointer" title="Eliminar"
                            (click)="openEliminarRegistro($event,i)">
                            <i class="pi pi-trash"></i>
                        </span>
                    </td>
                    <td>{{d.tipodetalleanexo}}</td>
                    <td>{{d.descripcion}}</td>
                </tr>

            </tbody>
        </table>
    </div>

    <br>

    <div class="col-12">

        <p>  Anexo 1: Mapa o croquis: Será formado con los shapefiles adjuntado (poligonos, vertices y shapefile de
            polilineas) y se mostrará como imagen con el botón "Descargar mapa y sus elementos."</p>
        <p>
            Anexo 2: Tendrá botón "Adjuntar título de propiedad o documento que acredite derecho a propiedad" en caso
            no
            lo haya ingresado en Bloque 2 al momento de seleccionar si es "Inversionista" o "propietario"
        </p>
        <p>
            Anexo 3: Botón "Adjuntar Carta poder" (pdf o img) del apoderado en caso sea un tercero el que hace el
            tramite.
        </p>

    </div>

</div>


<p-dialog header="{{tituloArchivo}}" [(visible)]="verModalArchivos" [modal]="true" [style]="{width: '40vw'}"
    [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="true">
    <ng-template pTemplate="content">
        <div>
            <div class="form-group">
                <label class="label">Tipo Archivo</label>
                <div class="form-control-selectk">
                    <p-dropdown [disabled]="data.readonly" [options]="tipoDocumentoCombo" class="fomr-control"
                        [(ngModel)]="file.tipodetalleanexo" optionLabel="valor" optionValue="index"
                        placeholder="Selecciona sistema plantación">
                    </p-dropdown>
                </div>
            </div>
            <div class="form-group">
                <label class="label">Archivo</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="" [(ngModel)]="file.descripcion">
                    <div class="input-group-append">
                        <button type="button" id="btnCargaShapeFile" (click)="fileInput.click()"
                            class="btn btn-sm btn-secondary">
                            Seleccione archivo<input #fileInput type="file" (change)="onFileChange($event)"
                                style="display:none;" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button icon="pi pi-save" (click)="guardar(file)" pButton pRipple type="button" label="Guardar"
            class="p-button-success p-button-outlined"></button>
        <button icon="pi pi-times" (click)="verModalArchivos=false" pButton pRipple type="button" label="Cancelar"
            class="p-button-danger p-button-outlined"></button>
    </ng-template>
</p-dialog>