<div class="col-12 p-0">
    <table class="table">
        <thead>
            <tr>
                <th>Actividades</th>
                <th>Descripción</th>
                <th>Equipos</th>
                <th>Insumos</th>
                <th>Personal</th>
                <th>Observaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="ui-widget-header">
                <td colspan="6" class="text-left"><span style="font-weight:bold; color: grey;">Obligatorias</span></td>
            </tr>
            <tr *ngFor="let data of lstObligatorio">
                <td class="text-left">{{data.actividad}}</td>
                <td>{{data.descripcion}}</td>
                <td>{{data.equipos}}</td>
                <td>{{data.insumos}}</td>
                <td>{{data.personal}}</td>
                <td>{{data.observaciones}}</td>
            </tr>
            <tr>
                <td colspan="6" class="text-left"><span style="font-weight:bold; color: grey;">Opcionales</span></td>
            </tr>
            <tr *ngFor="let data of lstOpcional">

                <td class="text-left">{{data.actividad}}</td>
                <td>{{data.descripcion}}</td>
                <td>{{data.equipos}}</td>
                <td>{{data.insumos}}</td>
                <td>{{data.personal}}</td>
                <td>{{data.observaciones}}</td>
            </tr>
        </tbody>
    </table>
</div>
