
    <div class="row">
        <!-- <div class="form-group col-12">
            <label class="label">Zona Padre</label>
            <div class="form-control-selectk">
                <p-dropdown appendTo="body" [disabled]="context.nombre" [(ngModel)]="context.ordenPadre"  [options]="cmbZonPadre" optionValue="code" optionLabel="name"></p-dropdown>
            </div> 
        </div>   -->          
        <div class="form-group col-12">
            <label class="label">Nombre de Zona</label>
            <input  type="text"  [(ngModel)]="context.nombre" class="form-control" placeholder="" maxlength="50" >                 
        </div>
    </div>

<div class="d-flex justify-content-end">
    <button icon="pi pi-save" (click)="agregar()" pButton pRipple type="button" label="Agregar"
                class="p-button-success p-button-outlined"></button> &nbsp;&nbsp;
    <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
              class="p-button-danger p-button-outlined" ></button>
  </div>
