<div class="content_login d-flex flex-column bd-highlight h-100 flex-grow">
  <div class="h-100 flex-grow mb-3">
    <div class="row h-100 flex-grow">
      <div class="col-md-7 d-flex justify-content-center align-items-center flex-column">
        <div>
          <div class="">
            <img src="./assets/img/logo-sniffs.png" alt="Logo SNIFFS" class="img-fluid" width="330">
          </div>
          <div class="p-2">
            <img src="./assets/img/logo_MINAGRI.png" alt="Logo MINAGRI" class="img-fluid" width="220">
          </div>
          <div class="p-2">
            <img src="./assets/img/serfor_blanco.png" alt="logo SERFOR" class="img-fluid" width="202">
          </div>
        </div>
      </div>
      <div class="col-md-5 mb-3"  [formGroup]="paramsLogin">
        <div class="row contents  mt-3 mb-3 mr-3 ml-3 h-100 flex-grow">
          <div class="" style="margin: auto 0; width: 100%;">
            <div class="col-md-12  align-items-center">
              <div class=" contents_header" style="padding-bottom: 5rem;">
                <h3 class="contents_header_title text-sm-center text-lg-left">Iniciar Sesión</h3>
              </div>
              <div class="contents_form ">
                <div class="content-email" *ngIf="!verPassword">
                  <div class="form-group  m-0" style="padding-bottom: 5rem;">
                    <label for="username" class="contents_form_label text-lg-left">Correo electrónico</label>
                    <input type="text" autocomplete="off" class="form-control contents_form_input" formControlName="username" placeholder="Ingrese su correo electrónico">
                  </div>
                  <div class="row">
                    <div class="col-1"></div>
                    <div class="col-5 d-flex align-items-center">
                      <div class="d-flex align-items-center">
                        <span class="ml-left pointer"><a [routerLink]="['/registrar-solicitud-acceso']" class="contents_form_label--link">Solicitar acceso</a></span>
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="p-2 w-100">
                        <input type="submit" (click)="validarUsuario();" value="Siguiente" class="btn text-white w-100 contents_form_btn">
                      </div>
                    </div>
                    <div class="col-1"></div>
                  </div>
                </div>
                <div class="content-password" *ngIf="requiereCambioContrasenia">
                  <div class="form-group  m-0" style="padding-bottom: 5rem;">
                    <label for="username" class="contents_form_label text-lg-left">Nueva Contraseña</label>
                    <p-password class="form-control-autocompletek" formControlName="passwordNew"
                      (input)="paramsLogin.get('passwordNew')?.setValue(paramsLogin.get('passwordNew')?.value.trim())"
                       [toggleMask]="true" placeholder="Ingrese su nueva contraseña">
                    </p-password>

                    <div class="col-12" *ngIf="paramsLogin.hasError('passwordValid','passwordNew')">
                      <div class="m-0 p-0 col-12 error-message">El password debe tener: </div>

                      <div class="col-12">
                        <mat-error class="error-message col-12">
                          (*) al menos una minúscula, una mayúscula y un número 
                        </mat-error>
                      </div>
                      <div class="col-12" *ngIf="paramsLogin.hasError('passwordValidReverseSame','passwordNew')">
                        <mat-error class="error-message col-12" >
                          (*) la contraseña ingresada no cumple con algunos de los criterios indicados, por favor intente nuevamente.
                        </mat-error>
                      </div>
                      <div class="col-12" *ngIf="paramsLogin.hasError('minlength','passwordNew')">
                        <mat-error class="error-message col-12" >
                          (*) mínimo 8 caracteres 
                        </mat-error>

                      </div>
                    </div>
                  </div>
                  <div class="form-group  m-0" style="padding-bottom: 5rem;">
                    <label for="username" class="contents_form_label text-lg-left">Confirme Nueva Contraseña</label>
                    <span class="col-12 m-0 p-0 p-input-icon-right">
                      <i (click)="hide = !hide" [class]="hide ? 'pi pi-eye-slash' : 'pi pi-eye'" style="font-size: 1.2em;"></i>
                      <input type="text" pInputText autocomplete="off" [type]="hide ? 'text' : 'password'" formControlName="confirmPasswordNew"
                        class="form-control contents_form_input" placeholder="Ingrese la confirmación de su nueva contraseña">
                            
                  </span>
                  </div>
                  <div class="row">
                    <div class="col-1"></div>
                    <div class="col-5 d-flex align-items-center">
                      <!--div class="d-flex align-items-center"-->
                        <div class="p-2 w-100">
                          <input type="submit"
                           (click)="(requiereCambioContrasenia=false);"
                            value="Regresar"
                           class="btn text-white w-100 contents_form_btn_regresar">
                        </div>
                      <!--/div-->
                    </div>
                    <div class="col-5">
                      <div class="p-2 w-100">
                        <input type="submit"
                         (click)="guardarCambioContrasenialogin();"
                          value="Siguiente"
                          [class.spinner]="btnShowverLogin"
                          [disabled]="btnShowverLogin ||!paramsLogin.valid "
                         class="btn text-white w-100 contents_form_btn">
                      </div>
                    </div>
                    <div class="col-1"></div>
                  </div>
                </div>
                <div class="content-password" *ngIf="verPassword && !requiereCambioContrasenia">
                  <div class="form-group  m-0" style="padding-bottom: 5rem;">
                    <label for="username" class="contents_form_label text-lg-left">Contraseña</label>
                    <input id="p" name="nombre" type="password" autocomplete="off"  class="form-control contents_form_input" formControlName="password" placeholder="Ingrese su contraseña">
                    <div style=" text-align: center;padding-top:2em;"><span class="ml-left pointer "><a [routerLink]="['/recuperar-contrasena']" class="contents_form_label--link">¿Olvidaste tu contraseña?</a></span></div>
                  </div>
                  <div class="row">
                    <div class="col-1"></div>
                    <div class="col-5 d-flex align-items-center">
                      <!--div class="d-flex align-items-center"-->
                        <div class="p-2 w-100">
                          <input type="submit"
                           (click)="(verPassword=false);"
                            value="Regresar"

                           class="btn text-white w-100 contents_form_btn_regresar">
                        </div>
                      <!--/div-->
                    </div>
                    <div class="col-5">
                      <div class="p-2 w-100">
                        <input type="submit"
                         (click)="login();"
                          value="Siguiente"
                          [class.spinner]="btnShowverLogin"
                          [disabled]="btnShowverLogin"
                         class="btn text-white w-100 contents_form_btn">
                      </div>
                    </div>
                    <div class="col-1"></div>
                  </div>
                </div>

                 <!-- <div class="form-group last mb-4">
                    <label for="password" class="contents_form_label p-2">Contraseña :</label>
                    <input type="password" class="form-control contents_form_input" id="password" placeholder="Ingrese su contraseña">
                  </div>
                  <div class="d-flex mb-3 align-items-center">
                    <span class="ml-left"><a href="#" class="contents_form_label--link">¿Olvidaste tu contraseña?</a></span>
                  </div>-->
                  <div class="d-flex justify-content-center align-items-center flex-column">


                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>




