<div class="container-fluit">
    <div class="row m-0">
<!-- [iformacionSolicitante]="data.informacionSolicitante" -->
        <div class="col-12 mb-3">
            <app-rpf-informacion-solicitante 
            
           
          
                [ListaDistrito]="ListaDistritoInformacion" 
                [ListaProvincia]="ListaProvinciaInformacion"
                [ListaDepartamento]="ListaDepartamento" 
                [idSolicitante]="idSolicitante">
            </app-rpf-informacion-solicitante>
        </div>

        <div class="col-12 mb-3">
            <!-- [area]="data.area"  -->
            <app-rpf-area [ListaDistrito]="ListaDistritoArea" [ListaProvincia]="ListaProvinciaArea"
                [idSolicitante]="idSolicitante" [ListaDepartamento]="ListaDepartamento"></app-rpf-area>
        </div>

        <div class="col-12 mb-3">
            <app-rpf-area-plantada [areaPlantada]="data.areaPlantada" [usuario]="usuario"
                [id_solplantforest]="id_solplantforest" [idSolicitante]="idSolicitante"></app-rpf-area-plantada>
        </div>

        <div class="col-12">
            <p-fieldset [collapsed]="true" legend="4. Detalle de plantación forestal" [toggleable]="true">
                <app-rpf-detalle-plantacion1 [detalleAreaPlanteada1]="data.detalleAreaPlanteada1" [usuario]="usuario"
                    [id_solplantforest]="id_solplantforest">
                </app-rpf-detalle-plantacion1>
                <br />
                <app-rpf-detalle-plantacion2 [detalleAreaPlanteada2]="data.detalleAreaPlanteada2"
                    [idSolicitante]="idSolicitante">
                </app-rpf-detalle-plantacion2>
                <br /><br />
                <br />

                <observaciones-plantacion *ngIf="idSolicitante == 4"></observaciones-plantacion>

            </p-fieldset>
        </div>

        <div class="col-12">
            <p-fieldset [collapsed]="true" legend="5. Anexo" [toggleable]="true">
                <app-rpf-anexo [usuario]="usuario" [id_solplantforest]="id_solplantforest">
                </app-rpf-anexo>
                <br />

            </p-fieldset>
        </div>

    </div>
</div>