<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12 p-0">
            <p-accordion>
                <p-accordionTab header="6. Medidas de Protección de la Unidad de Manejo Forestal" [selected]="true">
                    <div class="mt-0">
                        <div class="col-12 p-0 text-right">
                            <button icon="pi pi-plus" [disabled]="disabled" (click)="abrirModal(AccionTipo.REGISTRAR)"
                                    pButton pRipple type="button"
                                    label="" class="p-button-success p-button-text">
                            </button>
                        </div>
                    </div>
                    <div class="col-12 p-0">
                        <p-table [value]="actividades" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                                 currentPageReportTemplate="Total : {totalRecords} registros"
                                 [rowsPerPageOptions]="[10,25,50]" (onPage)="loadData()">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th scope="col" class="text-center">Acciones</th>
                                    <th scope="col" style="width: 35%;">Medidas</th>
                                    <th scope="col">Descripción</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                                <tr>
                                    <td class="text-center">
                                        <span class="pointer mr-1" title="Editar"
                                              (click)="!disabled&&abrirModal(AccionTipo.EDITAR ,item,rowIndex)">
                                            <i class="pi pi-pencil" aria-hidden="true"></i>
                                        </span>
                                        <span class="pointer" title="Eliminar"
                                              (click)="!disabled&&eliminar($event.target,item?.idSistemaManejoForestalDetalle,rowIndex)">
                                            <i class="pi pi-trash" aria-hidden="true"></i>
                                        </span>
                                        <p-confirmPopup></p-confirmPopup>
                                    </td>
                                    <td class="text-left">{{item.actividades}}</td>
                                    <td class="text-left"> {{item.descripcionSistema}} </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <label *ngIf="pendiente" class="lbl-info mt-3 mb-3">
                        (Los cambios locales se guardarán pulsando el botón "Guardar".)
                    </label>
                </p-accordionTab>

              <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
                <evaluacion-archivo-shared
                  [idPlanManejo]="idPlanManejo"
                  [cadigoTab]="codigoAcordeon1"
                  [base]="evaluacion_1">
                  <ng-template #conatinertop> </ng-template>
                  <ng-template #conatinerbottom> </ng-template>
                </evaluacion-archivo-shared>
              </p-accordionTab>
            </p-accordion>
        </div>
    </div>
    <div class="step__btn mt-4">
        <message-evaluation *ngIf="isPerfilArffs" ></message-evaluation>
        <button class="btn-primary2" (click)="regresar.emit()">Anterior</button>
        <button *ngIf="!isPerfilArffs" class="btn-primary2" [disabled]="disabled" (click)="guardar()">Guardar</button>
        <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="registrarEvaluacion()">Guardar Evaluación</button>
      <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">Retornar Flujo Evaluacion</button>
        <button class="btn-primary2" (click)="siguiente.emit()">Siguiente</button>
    </div>
    <br />
</div>
