<p-table #tblTipoBosque [value]="listaBosque">
  <ng-template pTemplate="header">
    <tr>
      <th colspan="4" class="text-center">Tipos de bosque de la UMF</th>
    </tr>
    <tr>
      <th>Tipo Bosque</th>
      <th>Área (ha)</th>
      <th>%</th>
      <th *ngIf="!isVisible"></th>
      <th *ngIf="isVisible">Observaciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
    <tr>
      <td>{{ data.vertice }}. {{data.nombre }}</td>
      <td>{{ data.areaHa | number: "1.2-2"}}</td>
      <td>{{ data.areaHaPorcentaje }} %</td>
      <td *ngIf="isVisible">
        <textarea
          maxlength="250"
          rows="1" [disabled]="disabled"
          class="form-control"
          [(ngModel)]="data.descripcion"
        ></textarea>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
      <td class="p-text-right">Total</td>
      <td>{{ totalAreaBosque }}</td>
      <td>{{ totalPorcentajeBosque }} %</td>
      <td></td>
    </tr>
  </ng-template>
</p-table>
