<div class="row">

  <div class="form-group col-12">
    <label class="label">Tipo de registro</label>
    <div class="form-control-selectk">
      <p-dropdown
        appendTo="body"
        [(ngModel)]="context.tipo"
        [options]="cmbActividad"
        optionValue="label"
        optionLabel="label"
        placeholder="Seleccione"
      ></p-dropdown>
    </div>
  </div>

  <div class="form-group col-12" *ngIf="context.tipo == 'Actividades principales'">
    <label class="label">Tipo Actividad</label>
    <div class="form-control-selectk">
      <p-dropdown
        appendTo="body"
        [(ngModel)]="context.tipoPoblacion"
        [options]="cmbTipoActividad"
        optionValue="comunidad"
        optionLabel="comunidad"
        placeholder="Seleccione"
      ></p-dropdown>
    </div>
  </div>
  <div class="form-group col-12" *ngIf="context.tipo == 'Actividades principales'">
    <label class="label">Actividad Principal</label>
    <input
      type="text"
      [(ngModel)]="context.actividad"
      class="form-control"
      placeholder=""
      maxlength="100"
    />
  </div>

  <div class="form-group col-12"  *ngIf="context.tipo == 'Tipo de población'">
    <label class="label">Tipo Población</label>
    <input
      type="text"
      [(ngModel)]="context.poblacion"
      class="form-control"
      placeholder=""
      maxlength="100"
    />
  </div>
  
</div>

<div class="d-flex justify-content-end">
  <button
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
   label="Aceptar"
    class="p-button-success p-button-outlined"
    style="width: 106px"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
    style="width: 106px"
  ></button>
</div>
<p-toast></p-toast>
<p-toast position="top-right" key="tl"></p-toast>
