<form [formGroup]="f">
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">Temas o actividades</label>
        <input type="text" class="form-control" formControlName="actividad" placeholder="Ingrese tema o actividad" />
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">Personal</label>
        <input type="text" class="form-control" formControlName="personal" placeholder="Ingrese personal" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">Modalidad Capacitación</label>
        <input type="text" class="form-control" formControlName="modalidad" placeholder="Ingrese modalidad" />
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">Lugar Capacitación</label>
        <input type="text" class="form-control" formControlName="lugar" placeholder="Ingrese lugar capacitacion" />
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label class="label">Periodo</label>
          <input type="text" class="form-control" formControlName="perido" placeholder="Ingrese el perido" />
        </div>
      </div>

    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">Responsable</label>
        <input type="text" class="form-control" formControlName="responsable" placeholder="Ingrese al responsable" />
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">Periodo</label>
        <p-inputMask formControlName="periodo" mask="9999-99" [autoClear]="false"
          placeholder="Ingrese periodo" [style]="{'width': '100%', 'display': 'block', 'border-radius': '20px'}"></p-inputMask>
        <!-- <input type="text"
               class="form-control"
               formControlName="periodo"
               placeholder="Ingrese periodo" /> -->
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">Responsable</label>
        <input type="text" class="form-control" formControlName="responsable" placeholder="Ingrese responsable" />
      </div>
    </div>
  </div>


  <div class="p-dialog-footer" style="padding-bottom:0px;padding-right:0px;">
    <button icon="pi pi-save" pButton (click)="guardar()" pRipple type="button" label="Aceptar"
      class="p-button-success p-button-outlined"></button>
    <button icon="pi pi-times" (click)="cancelar()" pButton pRipple type="button" label="Cancelar"
      class="p-button-danger p-button-outlined"></button>
  </div>
</form>
<p-toast key="gm_01"></p-toast>
