<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12 p-0">
      <p-accordion>
        <p-accordionTab header="Formulario" [selected]="true">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12">
                <p-table [value]="listProcesos">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Item</th>
                      <th>Estado</th>
                      <th class="text-center">Conformidad</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data>
                    <tr>
                      <td class="text-left">{{data.label}}</td>
                      <td
                        [ngClass]="{ 'class1': data.estado == 'Pendiente','class2': data.estado == 'Terminado'}"
                      >
                        {{data.estado}}
                      </td>
                      <td class="text-center">
                        <p-checkbox
                          [(ngModel)]="data.marcar"
                          [binary]="true" [disabled]="disabled"
                          (onChange)="seleccionarFirma($event,data)"
                        ></p-checkbox>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
            <div class="step__btn mt-4">
              <button class="btn-primary2" (click)="guardarEstados()">
                Guardar
              </button>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Generar" [selected]="false">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-10">
                <div>
                  <label class="label fz-11 m-0"
                    >Generar Formato Compilado - PGMFA</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-2">
                <button
                  class="btn btn-sm btn-secondary f-w"
                  type="button"
                  (click)="generarPGMFA()"
                  [disabled]="disabled||verPGMFA"
                >
                  Generar PGMFA
                </button>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Descargar" [selected]="false">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-10">
                <div>
                  <label class="label fz-11 m-0"
                    >Descargar Plan de Manejo Forestal - PGMFA.</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-2">
                <button
                  class="btn btn-sm btn-secondary f-w"
                  type="button"
                  (click)="descargarPGMFA()"
                  [disabled]="disabled||verDescargaPGMFA"
                >
                  Descargar
                </button>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Adjuntar" [selected]="false">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-8">
                <div>
                  <label class="label fz-11 m-0"
                    >Adjuntar Plan de Manejo Forestal firmado</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <input-buttons-codigo
                  [label]="''"
                  [idPlanManejo]="idPlanManejo" 
                  [idTipoDocumento]="'PGMFACONS'"
                  [codigoProceso]="CodigoProceso.PLAN_GENERAL"
                  (registrarArchivoId)="registrarArchivoIdPF($event)"
                  [disabled]="disabled"
                >
                </input-buttons-codigo>
              </div>
            </div>
          </div>

          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-8">
                <div>
                  <label class="label fz-11 m-0"
                    >Adjuntar Plan de Contingencia (opcional)</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <input-buttons-codigo
                  [label]="''"
                  [idPlanManejo]="idPlanManejo" [disabled]="disabled"
                  [idTipoDocumento]="'PGMFADOCCONTIN'"
                  [codigoProceso]="CodigoProceso.PLAN_GENERAL"
                  (registrarArchivoId)="registrarArchivoId($event)"
                >
                </input-buttons-codigo>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Adjuntar requisitos TUPA" [selected]="false">
          <tab-requisitos-tupa
            [idPlanManejo]="idPlanManejo"
            [tipo]="'TUPA'"
            (longitudTUPA)="longitudTUPA=$event"
            [idTipoDocumento]="'PGMFATUPA'"
            [codigoProceso]="'PGMFA'"
            [disabled]="disabledCodigoEstadoPlanPresentado"
            [idTipoDocumentoFirma]="'PGMFAFRTU'"
          ></tab-requisitos-tupa>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <div class="step__btn mt-4">
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button class="btn-primary2" (click)="guardarBorrador()" type="button" [disabled]="disabled" *ngIf="false">
      Guardar en Borrador
    </button>
    <button class="btn-primary2" (click)="guardarPlanFormulado()" [disabled]="!isTodosPlanesTerminado" type="button" *ngIf="false">
      Guardar Plan Formulado
    </button>

    <button
      class="btn-primary2"
      (click)="guardarPlanFormulado()"
      type="button"
      [disabled]="disablePlanFormulado || (isSubmittingPlanFormulado$ | async) || disabledCodigoEstadoPlanBorrador"
    >
      Guardar Plan Formulado
    </button>

    <button
      type="button"
      class="btn-primary2"
      (click)="enviar()"
      [disabled]="(isSubmittingARFFS$ | async) ||   disabledCodigoEstadoPlanPresentado || longitudTUPA <= 0">
      Enviar a ARFFS
    </button>
  </div>
  <br />
</div>
<p-toast position="top-right" key="tl"></p-toast>
