<div class="modal-lg">
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">Actividades</label>
        <div class="form-control-selectk">
          <input
            [(ngModel)]="form.actividad"
            type="text"
            class="form-control"
            maxlength="50"
          />
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">Indicadores</label>
        <input [(ngModel)]="form.indicador" type="text" class="form-control"  maxlength="50"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">Programado</label>
        <input type="text" class="form-control" [(ngModel)]="form.programado" maxlength="50"/>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">Realizado</label>
        <input [(ngModel)]="form.realizado" type="text" class="form-control"  maxlength="50"/>
      </div>
    </div>
  </div>


  <div class="d-flex justify-content-end">
    <button
      icon="pi pi-save"
      (click)="agregar()"
      pButton
      pRipple
      type="button"
      [label]="'Aceptar'"
      class="p-button-success p-button-outlined"
      style="width: 106px"
    ></button>
    &nbsp;&nbsp;
    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
      style="width: 106px"
    ></button>
  </div>

  <div style="float: right" *ngIf="false">
    <button
      icon="pi pi-save"
      (click)="agregar()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>

    <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
            class="p-button-danger p-button-outlined"></button>

  </div>
</div>
