
  <div class="col-12 p-0">
    <div class="table-responsive">
      <table class="table table-boderk">
        <thead>
          <tr>
            <th rowspan="3" style="min-width: 250px" class="v-middle">
              Actividades
            </th>
            <th colspan="12">AÑO 1</th>
            <th colspan="2">AÑOS</th>
          </tr>
          <tr>
            <th colspan="12">Meses</th>
            <th rowspan="2" colspan="1">2</th>
            <th rowspan="2" colspan="1">3</th>
          </tr>
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left" style="background-color: #efeff5">
              <label class="label fz-10 title2"
                >Aprovechamiento Maderable</label
              >
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr *ngFor="let data of lstMaderable">
            <td class="text-left">

              {{ data.actividad }}
            </td>
            <td>{{ data.a1m1 == true ? "X" : "" }}</td>
            <td>{{ data.a1m2 == true ? "X" : "" }}</td>
            <td>{{ data.a1m3 == true ? "X" : "" }}</td>
            <td>{{ data.a1m4 == true ? "X" : "" }}</td>
            <td>{{ data.a1m5 == true ? "X" : "" }}</td>
            <td>{{ data.a1m6 == true ? "X" : "" }}</td>
            <td>{{ data.a1m7 == true ? "X" : "" }}</td>
            <td>{{ data.a1m8 == true ? "X" : "" }}</td>
            <td>{{ data.a1m9 == true ? "X" : "" }}</td>
            <td>{{ data.a1m10 == true ? "X" : "" }}</td>
            <td>{{ data.a1m11 == true ? "X" : "" }}</td>
            <td>{{ data.a1m12 == true ? "X" : "" }}</td>

            <td>{{ data.a2m1 == true ? "X" : "" }}</td>

            <td>{{ data.a3m1 == true ? "X" : "" }}</td>
          </tr>

          <tr>
            <td class="text-left" style="background-color: #efeff5">
              <label class="label fz-10 title2"
                >Aprovechamiento No Maderable</label
              >
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr *ngFor="let data of lstNoMaderable">
            <td class="text-left">

              {{ data.actividad }}
            </td>
            <td>{{ data.a1m1 == true ? "X" : "" }}</td>
            <td>{{ data.a1m2 == true ? "X" : "" }}</td>
            <td>{{ data.a1m3 == true ? "X" : "" }}</td>
            <td>{{ data.a1m4 == true ? "X" : "" }}</td>
            <td>{{ data.a1m5 == true ? "X" : "" }}</td>
            <td>{{ data.a1m6 == true ? "X" : "" }}</td>
            <td>{{ data.a1m7 == true ? "X" : "" }}</td>
            <td>{{ data.a1m8 == true ? "X" : "" }}</td>
            <td>{{ data.a1m9 == true ? "X" : "" }}</td>
            <td>{{ data.a1m10 == true ? "X" : "" }}</td>
            <td>{{ data.a1m11 == true ? "X" : "" }}</td>
            <td>{{ data.a1m12 == true ? "X" : "" }}</td>

            <td>{{ data.a2m1 == true ? "X" : "" }}</td>

            <td>{{ data.a3m1 == true ? "X" : "" }}</td>
          </tr>

          <tr>
            <td class="text-left" style="background-color: #efeff5">
              <label class="label fz-10 title2">Otros</label>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr *ngFor="let data of lstOtros">
            <td class="text-left">

              {{ data.actividad }}
            </td>
            <td>{{ data.a1m1 == true ? "X" : "" }}</td>
            <td>{{ data.a1m2 == true ? "X" : "" }}</td>
            <td>{{ data.a1m3 == true ? "X" : "" }}</td>
            <td>{{ data.a1m4 == true ? "X" : "" }}</td>
            <td>{{ data.a1m5 == true ? "X" : "" }}</td>
            <td>{{ data.a1m6 == true ? "X" : "" }}</td>
            <td>{{ data.a1m7 == true ? "X" : "" }}</td>
            <td>{{ data.a1m8 == true ? "X" : "" }}</td>
            <td>{{ data.a1m9 == true ? "X" : "" }}</td>
            <td>{{ data.a1m10 == true ? "X" : "" }}</td>
            <td>{{ data.a1m11 == true ? "X" : "" }}</td>
            <td>{{ data.a1m12 == true ? "X" : "" }}</td>

            <td>{{ data.a2m1 == true ? "X" : "" }}</td>

            <td>{{ data.a3m1 == true ? "X" : "" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

