<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="13.1. Flujo de caja" [selected]="true">
          <div class="col-12">
            <div class="col-2 col-sm-12 text-right" *ngIf="vigencia > 0">
              <button [disabled]="disabled"
                (click)="openModalAgregar(1)"
                class="btn btn-sm btn-default button-more mb-2"
                type="button"
                title="Agregar"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
            <p-confirmPopup></p-confirmPopup>
            <b>I. Ingresos</b>
            <p-table
              class="table-justify"
              [columns]="colsMesN"
              [value]="ingresoN"
              [scrollable]="true"
              [style]="{width:'100%'}"
            >
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th rowspan="2" style="min-width: 80px; text-align: center;">
                    Acciones
                  </th>
                  <th rowspan="2" style="min-width: 240px; text-align: center;">
                    Rubro
                  </th>
                  <th
                    colspan="12"
                    style="min-width: 120px; text-align: center;"
                    *ngFor="let anio of colsAnioN"
                  >
                    {{ anio.header }}
                  </th>
                </tr>
                <tr>
                  <th
                    *ngFor="let col of columns"
                    style="min-width: 120px; text-align: center;"
                  >
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template
                pTemplate="body"
                let-rowData
                let-columns="columns"
                let-data
                let-rowIndex="rowIndex"
              >
                <tr>
                  <td class="text-center" style="min-width: 80px;">
                    <span
                      class="pointer mr-1"
                      title="Editar"
                      (click)="!disabled&& (data.edit = !data.edit)"
                    >
                      <i class="pi pi-pencil"></i>
                    </span>
                    <span
                      class="pointer"
                      title="Eliminar"
                      (click)="!disabled&& eliminarRentabilidadN($event, rowIndex, data)"
                    >
                      <i class="pi pi-trash"></i>
                    </span>
                  </td>
                  <td style="min-width: 240px;">
                    <ng-container *ngIf="!data.edit || !data.otros">
                      {{ data.rubro }}
                    </ng-container>
                    <ng-container *ngIf="data.edit && data.otros">
                      <input
                        pInputText
                        maxlength="50" [disabled]="disabled"
                        class="form-control"
                        [(ngModel)]="data.rubro"
                      />
                    </ng-container>
                  </td>
                  <td
                    *ngFor="let col of columns"
                    style="min-width: 120px; text-align: center;"
                  >
                    <ng-container *ngIf="!data.edit">
                      {{ rowData[col.field] }}
                    </ng-container>
                    <ng-container *ngIf="data.edit">
                      <input
                        pInputText
                        class="form-control"
                        [(ngModel)]="rowData[col.field]"
                        decimal [disabled]="disabled"
                        [maxLength]="15"
                        [decimalPlaces]="2"
                        style="text-align: right;"
                        (change)="calcularTotalIngresoN(true)"
                      />
                    </ng-container>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td
                    colspan="2"
                    style="min-width: 320px; text-align: center;"
                    class="containerTotal"
                  >
                    Total Ingresos
                  </td>
                  <td
                    *ngFor="let foo of totalIngresoN"
                    style="min-width: 120px; text-align: center;"
                    class="containerTotal"
                  >
                    {{foo.total | number : '1.2-2'}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <br />
            <br />
            <div class="col-2 col-sm-12 text-right" *ngIf="vigencia > 0">
              <button [disabled]="disabled"
                (click)="openModalAgregar(2)"
                class="btn btn-sm btn-default button-more mb-2"
                type="button"
                title="Agregar"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
            <b>II. Egresos</b>
            <p-table
              class="table-justify"
              [columns]="colsMesN"
              [value]="egresoN"
              [scrollable]="true"
              [style]="{width:'100%'}"
            >
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th rowspan="2" style="min-width: 80px; text-align: center;">
                    Acciones
                  </th>
                  <th rowspan="2" style="min-width: 240px; text-align: center;">
                    Rubro
                  </th>
                  <th
                    colspan="12"
                    style="min-width: 120px; text-align: center;"
                    *ngFor="let anio of colsAnioN"
                  >
                    {{ anio.header }}
                  </th>
                </tr>
                <tr>
                  <th
                    *ngFor="let col of columns"
                    style="min-width: 120px; text-align: center;"
                  >
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template
                pTemplate="body"
                let-rowData
                let-columns="columns"
                let-data
                let-rowIndex="rowIndex"
              >
                <tr>
                  <td class="text-center" style="min-width: 80px;">
                    <span
                      class="pointer mr-1"
                      title="Editar"
                      (click)="!disabled&& (data.edit = !data.edit)"
                    >
                      <i class="pi pi-pencil"></i>
                    </span>
                    <span
                      class="pointer"
                      title="Eliminar"
                      (click)="!disabled&& eliminarRentabilidadN($event, rowIndex, data)"
                    >
                      <i class="pi pi-trash"></i>
                    </span>
                  </td>
                  <td style="min-width: 240px;">
                    <ng-container *ngIf="!data.edit || !data.otros">
                      {{ data.rubro }}
                    </ng-container>
                    <ng-container *ngIf="data.edit && data.otros">
                      <input
                        pInputText
                        maxlength="50" [disabled]="disabled"
                        class="form-control"
                        [(ngModel)]="data.rubro"
                      />
                    </ng-container>
                  </td>
                  <td
                    *ngFor="let col of columns"
                    style="min-width: 120px; text-align: center;"
                  >
                    <ng-container *ngIf="!data.edit">
                      {{ rowData[col.field] }}
                    </ng-container>
                    <ng-container *ngIf="data.edit">
                      <input
                        pInputText
                        class="form-control"
                        [(ngModel)]="rowData[col.field]"
                        decimal
                        [maxLength]="15"
                        [decimalPlaces]="2" [disabled]="disabled"
                        style="text-align: right;"
                        (change)="calcularTotalEgresoN(true)"
                      />
                    </ng-container>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td
                    colspan="2"
                    style="min-width: 320px; text-align: center;"
                    class="containerTotal"
                  >
                    Total Egresos
                  </td>
                  <td
                    *ngFor="let foo of totalEgresoN"
                    style="min-width: 120px; text-align: center;"
                    class="containerTotal"
                  >
                    {{foo.total | number : '1.2-2'}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <br />
            <br />
            <b>Utilidad Total</b>
            <p-table
              class="table-justify"
              [columns]="colsMesN"
              [value]="saldoTotalN"
              [scrollable]="true"
              [style]="{width:'100%'}"
            >
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th
                    rowspan="2"
                    style="min-width: 80px; text-align: center;"
                  ></th>
                  <th
                    rowspan="2"
                    style="min-width: 240px; text-align: center;"
                  ></th>
                  <th
                    colspan="12"
                    style="min-width: 120px; text-align: center;"
                    *ngFor="let anio of colsAnioN"
                  >
                    {{ anio.header }}
                  </th>
                </tr>
                <tr>
                  <th
                    *ngFor="let col of columns"
                    style="min-width: 120px; text-align: center;"
                  >
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template
                pTemplate="body"
                let-rowData
                let-columns="columns"
                let-data
                let-rowIndex="rowIndex"
              >
                <tr>
                  <td
                    colspan="2"
                    style="min-width: 320px; text-align: center;"
                    class="footer"
                  >
                    Utilidad total: (Ingresos - Egresos)
                  </td>
                  <td
                    *ngFor="let col of columns"
                    style="min-width: 120px; text-align: center;"
                    class="footer"
                  >
                    <ng-container>
                      {{ rowData[col.field] | number : '1.2-2' }}
                    </ng-container>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <br />
            <br />
            <b>Rentabilidad Total</b>
            <p-table
              class="table-justify"
              [columns]="colsMesN"
              [value]="utilidadTotal"
              [scrollable]="true"
              [style]="{width:'100%'}"
            >
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th
                    rowspan="2"
                    style="min-width: 80px; text-align: center;"
                  ></th>
                  <th
                    rowspan="2"
                    style="min-width: 240px; text-align: center;"
                  ></th>
                  <th
                    colspan="12"
                    style="min-width: 120px; text-align: center;"
                    *ngFor="let anio of colsAnioN"
                  >
                    {{ anio.header }}
                  </th>
                </tr>
                <tr>
                  <th
                    *ngFor="let col of columns"
                    style="min-width: 120px; text-align: center;"
                  >
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template
                pTemplate="body"
                let-rowData
                let-columns="columns"
                let-data
                let-rowIndex="rowIndex"
              >
                <tr>
                  <td
                    colspan="2"
                    style="min-width: 320px; text-align: center;"
                    class="footer"
                  >
                    Rentabilidad (%): (Utilidad total /Egresos) X 100
                  </td>
                  <td
                    *ngFor="let col of columns"
                    style="min-width: 120px; text-align: center;"
                    class="footer"
                  >
                    <ng-container>
                      {{ rowData[col.field] | number : '1.2-2' }} %
                    </ng-container>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <br />
            <br />
          </div>
        </p-accordionTab>

        <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon_13"
            [base]="detEvaluacion_13"
          >
          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4 mb-4">
        <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button
          class="btn-primary2" *ngIf="!isPerfilArffs"
          (click)="registrarManejoRentabilidadN()" [disabled]="disabled||(ingresoN.length == 0 && egresoN.length == 0)">
          Guardar
        </button>
        <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="registrarEvaluacion()">
          Guardar Evaluación
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
      <br />
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-dialog
  header="{{ tipoRubro == 1 ? 'Agregar Ingreso' : 'Agregar Egreso' }}"
  [(visible)]="displayBasic"
  [style]="{width: '35vw'}"
  [baseZIndex]="10000"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-sm-12 mr-1 ml-1">
          <div class="form-group col-sm-12">
            <label class="label">Rubros</label>
            <div class="form-control-selectk">
              <p-dropdown
                [options]="tipoRubro == 1 ? listRubrosI : listRubrosE"
                (onChange)="rubrosChange($event, tipoRubro)"
                placeholder="Seleccione Rubro"
                appendTo="body"
                [style]="{width: '100%'}"
              >
              </p-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarRubro(tipoRubro)"
      pButton
      pRipple
      type="button"
      [label]="'Aceptar'"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
