<div class="form-group">
    <label class="label" *ngIf="!!label">{{label}}</label>
    <div class="input-group">
      <input [hidden]="ocultarNombre" type="text" class="form-control text-upload" placeholder="" [(ngModel)]="fileOut.nombre" readonly>
      <div class="input-group-append">
  
        <button *ngIf="!fileOut.idArchivo" [class.btn-secondary]="!fileOut.idArchivo" type="button" (click)="fileInput.click()"
          class="btn btn-sm btn-file" icon="pi pi-upload" pButton title="Cargar Archivo"
          [disabled]="disabled">
          <input #fileInput type="file" [attr.data-tipo]="tipoGeometria" [attr.data-tipo-archivo]="tipoArchivoGeneral" (change)="onFileChange($event)" style="display:none;" [accept]="accept" />
        </button>
  
        <button *ngIf="fileOut.idArchivo" type="button" class="btn btn-sm btn-file"
          (click)="descargar()" pButton title="Descargar Archivo" icon="pi pi-download" [disabled]="disabledDescargar">
        </button>
  
        <button *ngIf="fileOut.idArchivo" type="button" class="btn btn-sm btn-file" (click)="confirmarEliminar($event)" title="Eliminar Archivo"
          icon="pi pi-trash" pButton [disabled]="disabled">
        </button>
        
      </div>
    </div>
  </div>
  <p-confirmPopup key="cargaDelete"></p-confirmPopup>
