<p-fieldset legend="Datos Empresa" [toggleable]="true">
  <div class="row m-0">
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Tipo Documento</label>
        <div class="form-control-selectk">
          <input
            type="text"
            [disabled]="true"
            class="form-control"
            autocomplete="off"
            value="RUC"
          />
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Número Documento</label>
        <input
          type="text"
          minlength="11"
          maxlength="11"
          [disabled]="dataBase.disabled"
          [(ngModel)]="solicitudAcceso.numeroRucEmpresa"
          class="form-control"
          autocomplete="off"
        />
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">&nbsp;&nbsp;&nbsp;</label>
        <div>
          <button pButton pRipple type="button" label="Validar PIDE" [ngClass]="validaPIDEClass ? 'p-button-success': 'p-button-danger'" class="p-button-rounded p-button-outlined" (click)="validarPide()"></button>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12">
      <div class="form-group">
        <label class="label">Razón Social</label>
        <input
          type="text"
          maxlength="100"
          [disabled]="dataBase.disabled"
          [(ngModel)]="solicitudAcceso.razonSocialEmpresa"
          class="form-control"
          autocomplete="off"
        />
      </div>
    </div>
    <div class="col-12 col-sm-12">
      <div class="form-group">
        <label class="label">Dirección Empresa</label>
        <input
          type="text"
          maxlength="200"
          [disabled]="dataBase.disabled"
          [(ngModel)]="solicitudAcceso.direccionEmpresa"
          class="form-control"
          autocomplete="off"
        />
      </div>
    </div>
    <div class="col-12 col-sm-8">
      <div class="form-group">
        <label class="label">Email Empresa</label>
        <input
          type="text"
          maxlength="100"
          [disabled]="dataBase.disabled"
          [(ngModel)]="solicitudAcceso.emailEmpresa"
          class="form-control"
          autocomplete="off"
        />
      </div>
    </div>
  </div>
</p-fieldset>
