<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12 p-0">
      <p-accordion
        >´
        <!--  <p-accordionTab header="Anexo 4: Acta de Asamblea Comunal" [selected]="true">

                    <div class="col-12 p-0">
                        <div class="row m-0">
                            <div class="col-12 col-sm-8 ">
                                <div>
                                    <label class="title2">Acta</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-8 ">
                                <div>
                                    <label class="label fz-11 m-0">Asamblea Comunal</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4 ">
                                <div class="input-group">
                                    <div class="form-control"></div>
                                    <div class="input-group-append">
                                      <button type="button" style="border-width: 1px !important; box-shadow: none !important;"
                                        class="btn btn-sm btn-secondary">
                                        Seleccionar archivo
                                      </button>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>

                </p-accordionTab> -->

        <p-accordionTab header="Formulario" [selected]="true">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12">
                <p-table [value]="listProcesos">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Item</th>
                      <th>Estado</th>
                      <th class="text-center">Conformidad</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data>
                    <tr>
                      <td class="text-left">{{ data.label }}</td>
                      <td
                        [ngClass]="{
                          class1: data.estado == 'Pendiente',
                          class2: data.estado == 'Terminado'
                        }"
                      >
                        {{ data.estado }}
                      </td>
                      <td class="text-center">
                        <p-checkbox [disabled]="disabled"
                          [(ngModel)]="data.marcar"
                          [binary]="true"
                          (onChange)="seleccionarFirma($event, data)"
                        ></p-checkbox>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
            <div class="step__btn mt-4">
              <button class="btn-primary2" (click)="guardarEstados()" [disabled]="disabled">
                Guardar
              </button>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Generar" [selected]="true">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-10">
                <div>
                  <label class="label fz-11 m-0"
                    >Generar Formato Compilado - POCC</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-2">
                <button class="btn btn-sm btn-secondary f-w" type="button" (click)="generarPocc()" [disabled]="verPOCC">
                  <!--[disabled]="verPOCC"-->
                  Generar POCC
                </button>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Descargar" [selected]="true">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-10">
                <div>
                  <label class="label fz-11 m-0">Descargar Declaración de Manejo - POCC</label>
                </div>
              </div>
              <div class="col-12 col-sm-2">
                <button
                  class="btn btn-sm btn-secondary f-w"
                  type="button"
                  (click)="descargarPOCC()"
                  [disabled]="verDescargaPOCC">
                  Descargar
                </button>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Adjuntar" [selected]="true">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-8">
                <div>
                  <label class="label fz-11 m-0"
                    >Adjuntar Plan Operativo para Concesiones Maderables </label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <input-buttons-codigo
                [label]="''"
                [idPlanManejo]="idPlanManejo"
                [idTipoDocumento]="'POCCCONS'" [disabled]="disabled"
                [codigoProceso]="CodigoProceso.PLAN_OPERATIVO_CONCESIONES"
                (registrarArchivoId)="registrarArchivoId($event)"
              >
              </input-buttons-codigo>
              </div>
            </div>
          </div>
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-8">
                <div>
                  <label class="label fz-11 m-0"
                    >Adjuntar Plan de Contingencia (opcional)</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <input-buttons-codigo
                  [label]="''"
                  [idPlanManejo]="idPlanManejo"
                  [idTipoDocumento]="'POCCDOCCONTIN'" [disabled]="disabled"
                  [codigoProceso]="CodigoProceso.PLAN_OPERATIVO_CONCESIONES"
                  (registrarArchivoId)="registrarArchivoId($event)"
                >
                </input-buttons-codigo>
              </div>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <div class="step__btn mt-4">
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
 <!--    <button class="btn-primary2" (click)="guardarBorrador()" type="button">
      Guardar en Borrador
    </button> -->
    <button  [disabled]="!isTodosPlanesTerminado" class="btn-primary2" (click)="enviar()" type="button">
      Enviar a ARRFS
    </button>
  </div>
  <br />
</div>
<p-toast position="top-right" key="tl"></p-toast>
