


div.input-group-k.file{
    cursor: pointer;
}
div.input-group-k.file .input-group .input-group-text{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #4A962C;
    font-weight: bold;
    background: #4a962c40;
}
div.input-group-k.file .input-group input{
    box-shadow: none !important;
    outline: none !important;
    border-color: #ced4da !important;
    cursor: pointer;
}