<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="title">Gestión, evaluación y aprobación del plan de manejo</h3>
        </div>
        <div class="col-sm-12">

          <div class="stepk-EvalAproPM">
          <mat-horizontal-stepper [linear]="true" #stepperV>
            <mat-step label="Registro">   
            
                <div class="panelk br10 p-3">
                  <div class="row">
                    <div class="col-sm-12 col-md-10">
                      <label class="label">Buscar titulos habilitantes</label>
                      <input type="text" autocomplete="off" class="form-control form-control-sm bg-gray" placeholder="Aqui podras realizar una busqueda por N° de RUC, Razon social del titular o N° de TH ...">
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <label class="label">&nbsp;&nbsp;</label>
                        <button class="btn btn-sm btn-secondary f-w">Buscar</button>
                    </div>
                  </div>
                </div>
                <br/>
                  <mat-vertical-stepper [linear]="true" #stepper>
                    <mat-step label="Títulos habilitantes">
                      <div class="tablek">
                        <p-table [value]="dataDemo">
                          <ng-template pTemplate="header">
                              <tr>
                                  <th>Tipo de contrato</th>
                                  <th>N° de contrato</th>
                                  <th>Titular</th>
                                  <th>Representante legal</th>
                                  <th>Fecha de contrato</th>
                                  <th>Área (has)</th>
                                  <th>ARFFS</th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-product>
                              <tr>
                                  <td>{{product.tipoContrato}}</td>
                                  <td>{{product.nroContrato}}</td>
                                  <td>{{product.titular}}</td>
                                  <td>{{product.representanteLegal}}</td>
                                  <td>{{product.fechaContrato}}</td>
                                  <td>{{product.area}}</td>
                                  <td>{{product.arffs}}</td>
                              </tr>
                          </ng-template>
                      </p-table>                    
                      <p-paginator [rows]="10" [totalRecords]="100" [rowsPerPageOptions]="[10,25,50,100]"></p-paginator>
                        
                      </div>
                      
                    <br/>
                    <div>
                      <button matStepperNext class="btn-primary2 btn btn-sm">Continuar</button>
                    </div>
                    <br/>
                    </mat-step>
                    <mat-step label="Plan de manejo">

                      <div class="tablek">
                        <p-table [value]="dataDemo">
                          <ng-template pTemplate="header">
                              <tr>
                                  <th>Tipo de contrato</th>
                                  <th>N° de contrato</th>
                                  <th>Titular</th>
                                  <th>Representante legal</th>
                                  <th>Fecha de contrato</th>
                                  <th>Área (has)</th>
                                  <th>ARFFS</th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-product>
                              <tr>
                                  <td>{{product.tipoContrato}}</td>
                                  <td>{{product.nroContrato}}</td>
                                  <td>{{product.titular}}</td>
                                  <td>{{product.representanteLegal}}</td>
                                  <td>{{product.fechaContrato}}</td>
                                  <td>{{product.area}}</td>
                                  <td>{{product.arffs}}</td>
                              </tr>
                          </ng-template>
                      </p-table>                    
                      <p-paginator [rows]="10" [totalRecords]="100" [rowsPerPageOptions]="[10,25,50,100]"></p-paginator>
                        
                      </div>

                      <div>
                        <button matStepperPrevious class="btn btn-sm btn-secondary">Cancelar</button> &nbsp;&nbsp;
                        <button matStepperNext class="btn-primary2 btn btn-sm">Continuar</button>
                      </div>
                    </mat-step>
                    <mat-step label="Recepción de documentación">     
                      <div class="panelk br10 p-3">
                        <div>
                          <div class="p-field-radiobutton">
                            <p-radioButton name="opcion" value="pgmf" inputId="pgmf"></p-radioButton>
                            <label for="pgmf">PGMF</label>
                          </div>
                          <div class="p-field-radiobutton">
                            <p-radioButton name="opcion" value="pmfi" inputId="pmfi"></p-radioButton>
                            <label for="pmfi">PMFI</label>
                          </div>
                          <div class="p-field-radiobutton">
                            <p-radioButton name="opcion" value="po" inputId="po"></p-radioButton>
                            <label for="po">PO</label>
                          </div>
                          <div class="p-field-radiobutton">
                            <p-radioButton name="opcion" value="dema" inputId="dema"></p-radioButton>
                            <label for="dema">DEMA</label>
                          </div>
                        </div>
                        <br/>  
                        <div class="row">
                          <div class="col-sm-12 col-md-5">
                            <label class="label">Adjuntar documento </label>
                            <div class="input-group-k file">
                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="pi pi-upload"></i>
                                  </span>
                                </div>
                                <input type="text" readonly="readonly" class="form-control form-control-sm bg-gray" placeholder="Click aqui para adjuntar documento">
                              </div>
                            </div>
                          </div>
                        </div>
                        
                      </div>  
                      <br/>                           
                      <div>
                        <button matStepperPrevious class="btn btn-sm btn-secondary" >Cancelar</button> &nbsp;&nbsp;
                        <button (click)="stepperV.next()" class="btn-primary2 btn btn-sm">Derivar a evaluación y aprobación</button>
                      </div>
                    </mat-step>
                  </mat-vertical-stepper>
  
            </mat-step>
            <mat-step  label="Evaluación y aprobación">   
              
              <div class="panelk br10 p-5">
                <div class="row pt-4">
                  <div class="colsm-12 col-md-5 mx-auto">
                    <label class="label"><b>Para su aprobación, por favor ingrese nuevamente su contraseña.</b></label>
                    <input type="password" class="form-control form-control-sm bg-gray" autocomplete="off" placeholder="Ingrese su contraseña">
                  </div>
                </div>
                <div class="row pt-5">
                 
                  <div class="colsm-12 col-md-5 mx-auto">
                    <div class="text-center">
                      <button matStepperPrevious class="btn btn-sm btn-secondary">Rechazar solicitud</button> &nbsp;&nbsp;
                      <button matStepperNext class="btn-primary2 btn btn-sm">Aprobar solicitud </button>
                    </div>
                  </div>
                </div>
               

              


              </div>
              
            
            </mat-step>          
          </mat-horizontal-stepper>
          </div>

        </div>
    </div>
</div>


