<div class="row">
  <div class="form-group col-12">
    <label class="label">Actividad</label>
    <input
      type="text"
      [(ngModel)]="impactoAmbiental.actividad"
      class="form-control"
      placeholder=""
      maxlength="100"
    />
  </div>
  <div class="form-group col-12">
    <label class="label">Descripción de impacto</label>
    <textarea
      [(ngModel)]="impactoAmbiental.descripcion"
      rows="3"
      cols="4"
      class="form-control"
      placeholder=""
      maxlength="250"
    ></textarea>
  </div>

  <div class="form-group col-12">
    <label class="label"
      >Medidas de prevención y/o mitigación, incluido el manejo de residuos
      sólidos</label
    >
    &nbsp;
    <div class="row m-0">
      <div class="col-11">
        <input
          type="text"
          [(ngModel)]="medida"
          class="form-control"
          placeholder=""
          maxlength="100"
        />
      </div>
      <div class="col-1 text-center">
        <i
          (click)="agregarMedida()"
          class="pi pi-check pointer"
          title="Agregar Medida"
        ></i>
      </div>
    </div>
    <div style="max-height: 150px; overflow: auto; margin: 15px 0px">
      <ul *ngFor="let medida of arrayDetalle">
        <li class="text-left">
          {{ medida.medidasprevencion }}
          <i
            (click)="
              eliminar(
                $event,
                medida.medidasprevencion,
                medida.idImpactoambientaldetalle
              )
            "
            class="pi pi-trash pointer"
            title="Eliminiar Medida"
          ></i>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="d-flex justify-content-end">
  <button
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
    label="Aceptar"
    class="p-button-success p-button-outlined"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
  ></button>
</div>
