.gh-layers{
    height: 340px;
    overflow: auto;
    scroll-behavior: smooth; 
  }
  .gh-label {
    float: right;
    display: flex;
    align-items: center;
    word-break:break-all;
    margin: 0 0 1em 1em;
    font-size: 10px;
  }
  .color-green {
    color: #4caf50;
  }
  
  .color-red {
    color: #f11616;
  }