<div class="container-fluit">
  <div class="row m-0">

    <div class="col-12 form-group">
      <label class="label">DNI</label>
      <input class="form-control" type="text" autocomplete="off" placeholder="" [(ngModel)]="request.dni" numero
        [maxLength]="8" />
    </div>
    <div class="col-12 form-group">
      <label class="label">Nombres</label>
      <input class="form-control" type="text" autocomplete="off" placeholder="" [(ngModel)]="request.nombres" maxlength="50" sinSpacioInit/>
    </div>
    <div class="col-12 form-group">
      <label class="label">Apellido Paterno</label>
      <input class="form-control" type="text" autocomplete="off" placeholder="" [(ngModel)]="request.apellidoPaterno" maxlength="50" sinSpacioInit/>
    </div>
    <div class="col-12 form-group">
      <label class="label">Apellido Materno</label>
      <input class="form-control" type="text" autocomplete="off" placeholder="" [(ngModel)]="request.apellidoMaterno" maxlength="50" sinSpacioInit/>
    </div>

    <div class="col-12 mt-4 text-right">
      <button class="p-button-success p-button-outlined mr-2" type="button" icon="pi pi-save" pButton pRipple
        label="Aceptar" (click)="btnAgregar()"></button>

      <button class="p-button-danger p-button-outlined" type="button" icon="pi pi-times" pButton pRipple
        label="Cancelar" (click)="btnCancelar()"></button>
    </div>
  </div>
</div>