<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="2.1. Objetivos" [selected]="true">
          <div class="row m-0 col-12">
            <div class="form-group" class="col-8">
              <textarea
                class="form-control"
                rows="2" [disabled]="disabled"
                [(ngModel)]="objetivo"
                style="resize: none;"
                minlength="3"
                maxlength="250"
                placeholder="Ingerese el Objetivo"
              ></textarea>
            </div>
            <div class="col-2 text-center" *ngIf="!isEdit">
              <button
                type="submit" [disabled]="disabled"
                class="btn btn-sm btn-secondary ml-4"
                (click)="crearObjetivos()"
              >
                Guardar
              </button>
            </div>
            <div class="col-4 text-center" *ngIf="isEdit">
              <button
                type="submit" [disabled]="disabled"
                class="btn btn-sm btn-secondary ml-4"
                (click)="editarObjetivos()"
              >
                Editar
              </button>
            </div>
          </div>
          <div class="col-12 p-4">
            <ul>
              <li *ngFor="let item of listaObjetivos" class="p-2">
                {{item.general}}
                <span
                  (click)="!disabled&&editarObj(item)"
                  class="pointer mr-1"
                  title="Editar"
                >
                  <i class="pi pi-pencil"></i>
                </span>
                <span
                  (click)="!disabled&&eliminarObjetivo($event.target, item.idObjManejo)"
                  class="pointer"
                  title="Eliminar"
                >
                  <i class="pi pi-trash"></i>
                </span>
              </li>
            </ul>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon"
            [base]="detEvaluacion"
          >

          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>

<div class="step__btn mt-4">
  <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>
  <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
  <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="registrarEvaluacion()">Guardar Evaluación</button>
  <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">Retornar Flujo Evaluacion</button>
  <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
