<div class="container-fluid">
  <div class="row m-0" *ngIf="false">
    <div class="col-12 pt-4">
      <button
        (click)="consultarServicio()"
        [disabled]="disabled||isConsultoCenso"
        class="btn btn-sm btn-secondary fz-12 pl-5 pr-5"
        type="button"
      >
        Cargar Recursos Censo
      </button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 p-0">
      <p-accordion>
        <p-accordionTab header="5.0 Carga Masiva" [selected]="true">
          <div class="row">
            <div
              class="col-12 mt-4 mb-3 mr-2"
              style="overflow: auto; width: 100%; height: 100%;"
            >
              <h3 class="title2">Cargar Información</h3>
              <div class="row">
                <div class="col-sm-4">
                  <label class="label"></label><br />
                  <button class="btn-secondary" (click)="btnDescargarFormato()">
                    Descargar Formato
                  </button>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="label"></label><br />
                    <upload-input-button
                      [(ngModel)]="archivo.file"
                      [disabled]="disabled"
                      label="Seleccione Archivo"
                    >
                    </upload-input-button>
                  </div>
                </div>
                <div class="col-sm-4">
                  <label class="label"></label><br />
                  <button
                    class="btn-secondary"
                    [disabled]="disabled"
                    (click)="btnCargar()"
                  >
                    Cargar Formato
                  </button>
                </div>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab
          header="5.1 Identificación de la Especie a Aprovechar"
          [selected]="false"
        >
          <mat-tab-group animationDuration="0ms">
            <mat-tab label="Para maderables">
              <!-- <div class="row m-0">
                                <div class="col-12 pt-2 text-right">
                                    <button icon="pi pi-plus" [disabled]="disabled" (click)="abrirModal('C','1')" pButton pRipple type="button" abel="" class="p-button-success p-button-text">
                                    </button>
                                </div>
                            </div> -->
              <div class="row m-0">
                <div class="col-12 pt-3">
                  <!-- <table class="table table-boderk">
                                        <thead>
                                            <tr>
                                                <th style="width: 100px;" class="v-middle" rowspan="2">Acciones</th>
                                                <th style="width: 40px;" class="v-middle" rowspan="2">N°</th>
                                                <th colspan="2">Especies</th>
                                                <th class="v-middle" rowspan="2">Productos</th>
                                            </tr>
                                            <tr>
                                                <th>Nombre Científico</th>
                                                <th>Nomre Común</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of lstEspecies; let i = index">
                                                <td>
                                                    <span (click)="!disabled&&abrirModalE('E', data,i,'1')" class="pointer mr-3"
                                                        title="Editar">
                                                        <i class="pi pi-pencil"></i>
                                                    </span>
                                                    <span class="ml-2" (click)="!disabled&&openEliminar($event,data, i,'1')" class="pointer" title="Eliminar">
                                                        <i class="pi pi-trash"></i>
                                                    </span>
                                                </td>
                                                <td class="text-center">{{i+1}}</td>
                                                <td>{{data.nombreCientifico}}</td>
                                                <td>{{data.nombreComun}}</td>
                                                <td>{{data.producto}}</td>
                                            </tr>
                                        </tbody>
                                    </table> -->

                  <div class="row m-0 mt-3">
                    <div class="col-12 pt-2 text-right">
                      <button
                        icon="pi pi-plus"
                        [disabled]="disabled"
                        (click)="openModalEditarArbol('Agregar resultados del censo forestal con fines maderables.',1, 'C', null)"
                        pButton
                        pRipple
                        type="button"
                        abel=""
                        class="p-button-success p-button-text"
                      ></button>
                    </div>
                  </div>
                  <p-table [value]="listAnexo2Maderable">
                    <ng-template pTemplate="header">
                      <tr>
                        <th rowspan="2" class="text-center">Acciones</th>
                        <th rowspan="2">N°</th>
                        <th colspan="2">Especies</th>
                        <th rowspan="2">Producto</th>
                      </tr>
                      <tr>
                        <th>Nombre científico</th>
                        <th>Nombre común</th>
                      </tr>
                    </ng-template>
                    <ng-template
                      pTemplate="body"
                      let-data
                      let-rowIndex="rowIndex"
                    >
                      <tr>
                        <td class="text-center">
                          <span
                            class="pointer mr-1"
                            title="Editar"
                            (click)="openModalEditarArbol('Editar resultados del censo forestal con fines maderables.',1, 'E', rowIndex, data )"
                          >
                            <i class="pi pi-pencil"></i>
                          </span>
                          <!-- <span
                            class="ml-2"
                            (click)="openEliminar($event,data, rowIndex,'1')"
                            class="pointer"
                            title="Eliminar"
                          >
                            <i class="pi pi-trash"></i>
                          </span> -->
                        </td>
                        <td>{{ data.idCodigoEspecie }}</td>
                        <td>{{ data.nombreCientifico }}</td>
                        <td>{{ data.nombreComun }}</td>
                        <td>{{ data.productoDescr }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
              <!-- <label *ngIf="pendiente" class="lbl-info mt-3 mb-3">
                (Los cambios locales se guardarán pulsando el botón "Guardar".)
              </label> -->
              <div class="step__btn mt-4">
                <button
                  class="btn-primary2"
                  [disabled]="disabled"
                  (click)="registrarMaderable()"
                >
                  Guardar
                </button>
              </div>
            </mat-tab>

            <mat-tab label="Para no maderables">
              <!-- <div class="row m-0">
                                <div class="col-12 pt-2 text-right">
                                    <button icon="pi pi-plus" [disabled]="disabled" (click)="abrirModal('C','2')" pButton pRipple type="button" abel="" class="p-button-success p-button-text">
                                    </button>
                                </div>
                            </div> -->
              <div class="row m-0">
                <div class="col-12 pt-3">
                  <!-- <table class="table table-boderk">
                                        <thead>
                                            <tr>
                                                <th style="width: 100px;" class="v-middle" rowspan="2">Acciones</th>
                                                <th style="width: 40px;" class="v-middle" rowspan="2">N°</th>
                                                <th colspan="2">Especies</th>
                                                <th class="v-middle" rowspan="2">Productos</th>
                                            </tr>
                                            <tr>
                                                <th>Nombre Científico</th>
                                                <th>Nomre Común</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of lstEspeciesNoMade; let i = index">
                                                <td>
                                                    <span (click)="!disabled&&abrirModalE('E', data, i,'2')" class="pointer mr-3"
                                                        title="Editar">
                                                        <i class="pi pi-pencil"></i>
                                                    </span>
                                                    <span class="ml-2" (click)="!disabled&&openEliminar($event,data,i,'2')" class="pointer" title="Eliminar">
                                                        <i class="pi pi-trash"></i>
                                                    </span>
                                                </td>
                                                <td class="text-center">{{i+1}}</td>
                                                <td>{{data.nombreCientifico}}</td>
                                                <td>{{data.nombreComun}}</td>
                                                <td>{{data.producto}}</td>
                                            </tr>
                                        </tbody>
                                    </table> -->
                  <div class="row m-0 mt-3">
                    <div class="col-12 pt-2 text-right">
                      <button
                        icon="pi pi-plus"
                        [disabled]="disabled"
                        (click)="openModalEditarArbol('Agregar resultados del censo forestal comercial con fines no maderables.',2, 'C', null)"
                        pButton
                        pRipple
                        type="button"
                        abel=""
                        class="p-button-success p-button-text"
                      ></button>
                    </div>
                  </div>
                  <p-table [value]="listAnexo2NoMaderable">
                    <ng-template pTemplate="header">
                      <tr>
                        <th rowspan="2" class="text-center">Acciones</th>
                        <th rowspan="2">N°</th>
                        <th colspan="2">Especies</th>
                        <th rowspan="2">Producto</th>
                      </tr>
                      <tr>
                        <th>Nombre científico</th>
                        <th>Nombre común</th>
                      </tr>
                    </ng-template>
                    <ng-template
                      pTemplate="body"
                      let-data
                      let-rowIndex="rowIndex"
                    >
                      <tr>
                        <td class="text-center">
                          <span
                            class="pointer mr-1"
                            title="Editar"
                            (click)="openModalEditarArbol('Editar resultados del censo forestal comercial con fines no maderables.',2, 'E', rowIndex, data )"
                          >
                            <i class="pi pi-pencil"></i>
                          </span>
                          <!-- <span
                            class="ml-2"
                            (click)="openEliminar($event,data, rowIndex,'2')"
                            class="pointer"
                            title="Eliminar"
                          >
                            <i class="pi pi-trash"></i>
                          </span> -->
                        </td>
                        <td>{{ data.idCodigoEspecie }}</td>
                        <td>{{ data.nombreCientifico }}</td>
                        <td>{{ data.nombreComun }}</td>
                        <td>{{ data.productoDescr }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                  <div class="step__btn mt-4">
                    <button
                      class="btn-primary2"
                      [disabled]="disabled"
                      (click)="registraNoMaderable()"
                    >
                      Guardar
                    </button>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </p-accordionTab>
        <p-accordionTab header="5.2 Inventario" [selected]="false">
          <div class="row m-0">
            <div
              class="row col-12 m-0"
              style="padding-bottom: 50px; padding-top: 20px;"
            >
              <div class="form-group row m-0 mb-6 col-sm-6">
                <label
                  for="inputPassword"
                  class="col-12 col-sm-6 pl-0 col-form-label label"
                  >Fecha de realización de inventario</label
                >

                <div class="col-12 col-sm-6">
                  <div class="content-date">
                    <input
                      readonly
                      autocomplete="off"
                      [(ngModel)]="fechaRealizacion"
                      class="form-control"
                      matInput
                      [matDatepicker]="fechaInicioInspeccion"
                      [min]="minDateInicio"
                    />
                    <i
                      class="pi pi-calendar pointer"
                      (click)="fechaInicioInspeccion.open()"
                    ></i>
                    <mat-datepicker #fechaInicioInspeccion></mat-datepicker>
                  </div>
                </div>
              </div>
              <div class="step__btn mt-6 col-sm-6">
                <button
                  class="btn-primary2"
                  [disabled]="disabled"
                  (click)="registrarFecha()"
                >
                  Guardar
                </button>
              </div>
            </div>
            <div class="col-12">
              <mat-tab-group animationDuration="0ms">
                <mat-tab label="Para maderables">
                  <!-- <form class="col-12 p-0" [formGroup]="f">
                                        <div class="row m-0"> -->
                  <!-- <div class="col-12">
                                                <h3 class="title2 fz-13 ">5.2.1 Descripción del inventario</h3>
                                            </div> -->
                  <!-- <div class="col-12 col-sm-5 mt-2">
                                                <div class="form-group">
                                                    <label class="label  fz-12">Fecha de realización de inventario</label>
                                                    <div class="content-date">
                                                        <input autocomplete="off" [disabled]="disabled" (click)="fechaI.open()" class="form-control"
                                                        matInput
                                                        [matDatepicker]="fechaI" formControlName="fechaInventario"
                                                        >
                                                        <i class="pi pi-calendar pointer" (click)="!disabled&&fechaI.open()"></i>
                                                        <mat-datepicker #fechaI></mat-datepicker>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="cdol-12 col-sm-12 mt-2">
                                                <div class="form-group">
                                                    <label class="label  fz-12">Descripción</label>
                                                    <textarea class="form-control" [readOnly]="disabled"  formControlName="descripcionInventario"  rows="3" cols="4"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </form> -->

                  <div class="row m-0">
                    <div class="col-12 mt-4">
                      <h3 class="title fz-11">
                        a. Resultados del inventario por parcela o estrada:
                      </h3>
                    </div>
                    <div class="col-12">
                      <!-- <table class="table table-boderk">
                                                <thead>
                                                    <tr>
                                                        <th class="v-middle" rowspan="2">N° de parcela o estrada</th>
                                                        <th colspan="2">N° de individuos</th>
                                                        <th class="v-middle" rowspan="2">Producto a obtener</th>
                                                        <th colspan="3">Producción</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Aprov.</th>
                                                        <th>Sem.</th>
                                                        <th>Unidad de medida</th>
                                                        <th>Total</th>
                                                        <th>Aprov.</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of lstResultadosInventarios; let i = index">
                                                        <td>{{data.estrada}}</td>
                                                        <td>{{data.indivAprov}}</td>
                                                        <td>{{data.indivSem}}</td>
                                                        <td>{{data.productoObtener}}</td>
                                                        <td>{{data.unidadMedida}}</td>
                                                        <td>{{data.total}}</td>
                                                        <td>{{data.volumenComercial | number : '1.2-2'}}</td>
                                                    </tr>
                                                </tbody>

                                                <tbody>
                                                    <tr style="background: #dfe0ea80;">
                                                        <td class="text-left"><b>Total</b></td>
                                                        <td>{{totalAprovMade}}</td>
                                                        <td>{{totalSemiMade}}</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>{{totalProdBarricasMade}}</td>
                                                        <td>{{totalProdAprovMade| number : '1.2-2'}}</td>
                                                    </tr>
                                                    <tr style="background: #dfe0ea80;">
                                                        <td class="text-left"><b>Promedio/ha</b></td>
                                                        <td>{{totalPromedioHaMade| number : '1.2-2'}}</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>

                                            </table> -->
                      <p-table [value]="listResultadosInventarioMaderableA">
                        <ng-template pTemplate="header">
                          <tr>
                            <th class="text-center" rowspan="2">
                              N° de parcela o estrada
                            </th>
                            <th class="text-center" colspan="2">
                              N° de individuos
                            </th>
                            <th class="text-center" rowspan="2">
                              Producto a obtener
                            </th>
                            <th class="text-center" colspan="3">Producción</th>
                          </tr>
                          <tr>
                            <th class="text-center">Aprov.</th>
                            <th class="text-center">Sem.</th>
                            <th class="text-center">Unidad de medida</th>
                            <th class="text-center">Total</th>
                            <th class="text-center">Aprov.</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data>
                          <tr>
                            <td colspan="7">
                              <span class="tdTitle">Especie:</span> {{
                              data.nombreEspecie }}
                            </td>
                          </tr>
                          <tr *ngFor="let item of data.listaAnexo2Dto">
                            <td class="text-center">
                              {{ item.nombreParcelaCorta }}
                            </td>
                            <td class="text-center">
                              {{ item.nArbolesAprovechables }}
                            </td>
                            <td class="text-center">
                              {{ item.nArbolesSemilleros }}
                            </td>
                            <td class="text-center">{{ item.producto }}</td>
                            <td class="text-center">{{ item.unidadMedida }}</td>
                            <td class="text-center">
                              {{ item.nTotalArboles }}
                            </td>
                            <td class="text-center">{{ item.aprov }}</td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                    <div class="col-12 mt-3">
                      <h3 class="title fz-11">
                        b. Resumen de resultado del inventario y proyección de
                        la cantidad a aprovechar anualmente:
                      </h3>
                    </div>
                    <div class="col-12">
                      <!-- <table class="table table-boderk">
                                                <thead>
                                                    <tr>
                                                        <th class="v-middle" rowspan="2">Especie</th>
                                                        <th class="v-middle" rowspan="2">N° parcelas o estradas</th>
                                                        <th colspan="4">N° de individuos</th>
                                                        <th colspan="2">Estimación de la producción</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Total</th>
                                                        <th>Aprov.</th>
                                                        <th>No Product.</th>
                                                        <th>Sem.</th>
                                                        <th>Unidad de medida</th>
                                                        <th>Cantidad</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of lstResumenInventarios; let i = index">
                                                        <td>{{data.especie}}</td>
                                                        <td>{{data.estrada}}</td>
                                                        <td>{{data.indivTotal}}</td>
                                                        <td>{{data.indivAprov}}</td>
                                                        <td>{{data.cantidad}}</td>
                                                        <td>{{data.indivSem}}</td>
                                                        <td>{{data.unidadMedida}}</td>
                                                        <td>{{data.volumenAprovechable |number : '1.2-2' }}</td>
                                                    </tr>
                                                </tbody>
                                            </table> -->
                      <p-table [value]="listAnexo2InventarioMaderableB">
                        <ng-template pTemplate="header">
                          <tr>
                            <th class="text-center" rowspan="2">Especie</th>
                            <th class="text-center" rowspan="2">
                              N° de Parcela o Estrada
                            </th>
                            <th class="text-center" colspan="3">
                              N° de individuos
                            </th>
                            <th class="text-center" colspan="2">
                              Estimación de la producción
                            </th>
                          </tr>
                          <tr>
                            <th class="text-center">Total</th>
                            <th class="text-center">Aprov.</th>
                            <th class="text-center">Sem.</th>
                            <th class="text-center">Unidad de Medida</th>
                            <th class="text-center">Cantidad</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data let-rowIndex="i">
                          <tr>
                            <td>{{ data.nombreEspecies }}</td>
                            <td class="text-center">
                              {{ data.numeroDeParcelas }}
                            </td>
                            <td class="text-center">
                              {{ data.nTotalArboles }}
                            </td>
                            <td class="text-center">
                              {{ data.nArbolesAprovechables }}
                            </td>
                            <td class="text-center">
                              {{ data.nArbolesSemilleros }}
                            </td>
                            <td class="text-center">{{ data.unidadMedida }}</td>
                            <td class="text-center">
                              {{ data.cantidadDeEspecies }}
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Para no maderables">
                  <!-- <form class="col-12 p-0" [formGroup]="f">
                                        <div class="row m-0">

                                            <div class="col-12 col-sm-5 mt-2">
                                                <div class="form-group">
                                                    <label class="label  fz-12">Fecha de realización de inventario</label>
                                                    <div class="content-date">
                                                        <input autocomplete="off" [disabled]="disabled" (click)="fechaINM.open()" class="form-control"
                                                        matInput
                                                        [matDatepicker]="fechaINM" formControlName="fechaInventarioNoMaderable"
                                                        >
                                                        <i class="pi pi-calendar pointer" (click)="!disabled&&fechaINM.open()"></i>
                                                        <mat-datepicker #fechaINM></mat-datepicker>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="cdol-12 col-sm-12 mt-2">
                                                <div class="form-group">
                                                    <label class="label  fz-12">Descripción</label>
                                                    <textarea class="form-control"  formControlName="descripcionInventarioNoMaderable"  rows="3" cols="4"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </form> -->

                  <div class="row m-0">
                    <div class="col-12 mt-4">
                      <h3 class="title fz-11">
                        a. Resultados del inventario por parcela o estrada:
                      </h3>
                    </div>
                    <div class="col-12">
                      <!-- <table class="table table-boderk">
                                                <thead>
                                                    <tr>
                                                        <th class="v-middle" rowspan="2">N° de parcela o estrada</th>
                                                        <th colspan="2">N° de individuos</th>
                                                        <th class="v-middle" rowspan="2">Producto a obtener</th>
                                                        <th colspan="3">Producción</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Aprov.</th>
                                                        <th>Sem.</th>
                                                        <th>Unidad de medida</th>
                                                        <th>Total</th>
                                                        <th>Aprov.</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of lstResultadosInventariosNoMade; let i = index">
                                                        <td>{{data.estrada}}</td>
                                                        <td>{{data.indivAprov}}</td>
                                                        <td>{{data.indivSem}}</td>
                                                        <td>{{data.productoObtener}}</td>
                                                        <td>{{data.unidadMedida}}</td>
                                                        <td>{{data.total}}</td>
                                                        <td>{{data.volumenComercial | number : '1.2-2'}}</td>
                                                    </tr>
                                                </tbody>

                                                <tbody>
                                                    <tr style="background: #dfe0ea80;">
                                                        <td class="text-left"><b>Total</b></td>
                                                        <td>{{totalAprovNoMade}}</td>
                                                        <td>{{totalSemiNoMade}}</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>{{totalProdBarricasNoMade}}</td>
                                                        <td>{{totalProdAprovNoMade| number : '1.2-2'}}</td>
                                                    </tr>
                                                    <tr style="background: #dfe0ea80;">
                                                        <td class="text-left"><b>Promedio/ha</b></td>
                                                        <td>{{totalPromedioHaNoMade| number : '1.2-2'}}</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>

                                            </table> -->
                      <p-table [value]="listResultadosInventarioNoMaderableA">
                        <ng-template pTemplate="header">
                          <tr>
                            <th class="text-center" rowspan="2">
                              N° de parcela o estrada
                            </th>
                            <th class="text-center" colspan="2">
                              N° de individuos
                            </th>
                            <th class="text-center" rowspan="2">
                              Producto a obtener
                            </th>
                            <th class="text-center" colspan="3">Producción</th>
                          </tr>
                          <tr>
                            <th class="text-center">Aprov.</th>
                            <th class="text-center">Sem.</th>
                            <th class="text-center">Unidad de medida</th>
                            <th class="text-center">Total</th>
                            <th class="text-center">Aprov.</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data>
                          <tr>
                            <td colspan="7">
                              <span class="tdTitle">Especie:</span> {{
                              data.nombreEspecie }}
                            </td>
                          </tr>
                          <tr *ngFor="let item of data.listaAnexo2Dto">
                            <td class="text-center">
                              {{ item.nombreParcelaCorta }}
                            </td>
                            <td class="text-center">
                              {{ item.nArbolesAprovechables }}
                            </td>
                            <td class="text-center">
                              {{ item.nArbolesSemilleros }}
                            </td>
                            <td class="text-center">{{ item.producto }}</td>
                            <td class="text-center">{{ item.unidadMedida }}</td>
                            <td class="text-center">
                              {{ item.nTotalArboles }}
                            </td>
                            <td class="text-center">{{ item.aprov }}</td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                    <div class="col-12 mt-3">
                      <h3 class="title fz-11">
                        b. Resumen de resultado del inventario y proyección de
                        la cantidad a aprovechar anualmente:
                      </h3>
                    </div>
                    <div class="col-12">
                      <!-- <table class="table table-boderk">
                                                <thead>
                                                    <tr>
                                                        <th class="v-middle" rowspan="2">Especie</th>
                                                        <th class="v-middle" rowspan="2">N° parcelas o estradas</th>
                                                        <th colspan="4">N° de individuos</th>
                                                        <th colspan="2">Estimación de la producción</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Total</th>
                                                        <th>Aprov.</th>
                                                        <th>No Product.</th>
                                                        <th>Sem.</th>
                                                        <th>Unidad de medida</th>
                                                        <th>Cantidad</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of lstResumenInventariosNoMade; let i = index">
                                                        <td>{{data.especie}}</td>
                                                        <td>{{data.estrada}}</td>
                                                        <td>{{data.indivTotal}}</td>
                                                        <td>{{data.indivAprov}}</td>
                                                        <td>{{data.cantidad}}</td>
                                                        <td>{{data.indivSem}}</td>
                                                        <td>{{data.unidadMedida}}</td>
                                                        <td>{{data.volumenAprovechable |number : '1.2-2' }}</td>
                                                    </tr>
                                                </tbody>
                                            </table> -->
                      <p-table [value]="listAnexo2InventarioNoMaderableB">
                        <ng-template pTemplate="header">
                          <tr>
                            <th class="text-center" rowspan="2">Especie</th>
                            <th class="text-center" rowspan="2">
                              N° de Parcela o Estrada
                            </th>
                            <th class="text-center" colspan="3">
                              N° de individuos
                            </th>
                            <th class="text-center" colspan="2">
                              Estimación de la producción
                            </th>
                          </tr>
                          <tr>
                            <th class="text-center">Total</th>
                            <th class="text-center">Aprov.</th>
                            <th class="text-center">Sem.</th>
                            <th class="text-center">Unidad de Medida</th>
                            <th class="text-center">Cantidad</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data let-rowIndex="i">
                          <tr>
                            <td>{{ data.nombreEspecies }}</td>
                            <td class="text-center">
                              {{ data.numeroDeParcelas }}
                            </td>
                            <td class="text-center">
                              {{ data.nTotalArboles }}
                            </td>
                            <td class="text-center">
                              {{ data.nArbolesAprovechables }}
                            </td>
                            <td class="text-center">
                              {{ data.nArbolesSemilleros }}
                            </td>
                            <td class="text-center">{{ data.unidadMedida }}</td>
                            <td class="text-center">
                              {{ data.cantidadDeEspecies }}
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon"
            [base]="detEvaluacion"
          ></evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <div class="step__btn mt-4">
    <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <!-- <button class="btn-primary2" (click)="guardarTodo()" [disabled]="disabled" type="button">Guardar</button> -->
    <button
      *ngIf="isPerfilArffs"
      class="btn-primary2"
      (click)="registrarEvaluacion()"
    >
      Guardar Evaluación
    </button>
    <button
      *ngIf="isPerfilArffs"
      class="btn-primary2"
      (click)="retornarFlujoEvaluacion()"
    >
      Retornar Flujo Evaluacion
    </button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
  <br />
</div>

<!--  modal especie aprovechar  -->

<p-dialog
  header="{{tituloModalMantenimiento1}}"
  appendTo="body"
  [(visible)]="verModalMantenimiento1"
  [modal]="true"
  [style]="{width: '40vw'}"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label class="label">Nombre científico</label>
          <input
            type="text"
            class="form-control"
            required
            [(ngModel)]="especieModal.nombreCientifico"
            placeholder="Ingresa nombre científico"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="label">Nombre común</label>
          <input
            type="text"
            class="form-control"
            required
            [(ngModel)]="especieModal.nombreComun"
            placeholder="Ingresa nombre cómun"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="label">Producto</label>
          <input
            type="text"
            class="form-control"
            required
            [(ngModel)]="especieModal.producto"
            placeholder="Ingresa producto"
          />
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="registrar()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verModalMantenimiento1 = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>

<p-toast position="top-right" key="tr"></p-toast>
