<div class="row">
  <div class="form-group col-12">
    <label class="label">Sector</label>
    <input
      type="text"
      [(ngModel)]="context.sector"
      class="form-control"
      placeholder=""
      maxlength="100"
    />
  </div>
  <div class="form-group col-12">
    <label class="label">Área (ha)</label>
    <input
      [(ngModel)]="context.area"
      class="form-control"
      placeholder=""
      decimal
      [maxLength]="9"
      [decimalPlaces]="2"
    />
  </div>
  <div class="form-group col-12">
    <label class="label">N° total individuos</label>
    <input
      [(ngModel)]="context.totalIndividuos"
      class="form-control"
      placeholder=""
      numero
      [min]="0"
      [maxLength]="9"
    />
  </div>
  <div class="form-group col-12">
    <label class="label">Individuos / ha</label>
    <input
      [(ngModel)]="context.individuosHA"
      class="form-control"
      placeholder=""
      numero
      [min]="0"
      [maxLength]="9"
    />
  </div>
  <div class="form-group col-12">
    <label class="label">Volumen, peso o número aprovechable</label>
    <input
      [(ngModel)]="context.volumen"
      class="form-control"
      placeholder=""
      numero
      [min]="0"
      [maxLength]="9"
    />
  </div>
</div>
<div class="d-flex justify-content-end">
  <button
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
    label="Aceptar"
    class="p-button-success p-button-outlined"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
  ></button>
</div>
<p-toast></p-toast>
<p-toast position="top-right" key="tml"></p-toast>
<p-confirmPopup></p-confirmPopup>
