<div class="container-fluit" style="overflow: auto;height: 100%;">
    <div class="container pt-4" style="background-color: #fff; margin-top: 10px;">
        <div class="row m-0 ">
            <div class="title mt-2 mb-4">REGISTRO DE SOLICITUD DE ACCESO</div>
            <div class="col-12">
                <solicitud-acceso-general (asignarArchivo)="obtenerArchivo($event)" [dataBase]="dataBase"
                    [solicitudAcceso]="solicitudAcceso"></solicitud-acceso-general>
            </div>

            <div class="col-12 p-0" *ngIf="solicitudAcceso.codigoTipoPersona=='TPERNATU'">
                <ng-container *ngTemplateOutlet="solicitudNatural"></ng-container>
            </div>
            <div class="col-12 p-0" *ngIf="solicitudAcceso.codigoTipoPersona=='TPERJURI'">
                <ng-container *ngTemplateOutlet="solicitudJuridica"></ng-container>
            </div>


        </div>

        <div class="row m-0 mb-2 justify-content-center mt-4 mb-2">
            <div class="col-12 col-sm-4 text-center">

                <!-- <button pButton pRipple type="button" label="Validar PIDE" class="p-button-info p-button-outlined mr-2"
                    (click)="validarPide()"></button> -->

              <button pButton pRipple type="button" label="Enviar"
                      class="p-button-info p-button-outlined mr-2" (click)="enviarSolicitudAcceso()"></button>
              <!--
                <button pButton pRipple type="button" label="Enviar" [disabled]="!this.solicitudAcceso.isValidPIDE"
                    class="p-button-info p-button-outlined mr-2" (click)="enviarSolicitudAcceso()"></button>-->
                <!-- <button pButton pRipple type="button" label="Guardar" class="p-button-success p-button-outlined mr-2"></button> -->
                <button [routerLink]="['/login']" pButton pRipple type="button" label="Cancelar"
                    class="p-button-secondary p-button-outlined "></button>
            </div>

        </div>

        <ng-template #solicitudNatural>
            <div class="col-12 mt-4">
                <solicitud-acceso-natural [dataBase]="dataBase" [solicitudAcceso]="solicitudAcceso">
                </solicitud-acceso-natural>
            </div>
        </ng-template>

        <ng-template #solicitudJuridica>
            <div class="col-12 pt-4">
                <solicitud-acceso-juridica [dataBase]="dataBase" [solicitudAcceso]="solicitudAcceso">
                </solicitud-acceso-juridica>
            </div>
            <div class="col-12 mt-4">
                <solicitud-acceso-natural [dataBase]="dataBase" [solicitudAcceso]="solicitudAcceso">
                </solicitud-acceso-natural>
            </div>
        </ng-template>
        <br />
    </div>
</div>
<p-toast></p-toast>
