<div class="panelk br10 mt-3 p-2">
  <div class="row m-0 mt-4">
    <div class="col-12">
      <label class="label fz-12 font-weight-bold">Evaluación</label>
    </div>
    <div class="col-12 col-sm-6">
      <div class="p-field-radiobutton d-inline-full">
        <p-radioButton
          (onClick)="evaluacionDet.limpiarObservacion()"
          [(ngModel)]="evaluacionDet.conforme"
          name="esObservado"
          id="obserNo"
          [value]="codigoConforme"
          [disabled]="disabled"
        ></p-radioButton>
        <label class="mr-2 pl-1 pointer" for="obserNo">Favorable</label>
      </div>
      <div class="p-field-radiobutton d-inline-full">
        <p-radioButton
          (onClick)="evaluacionDet.limpiarObservacion()"
          [(ngModel)]="evaluacionDet.conforme"
          name="esObservado"
          id="obserSI"
          [value]="codigoObservado"
          [disabled]="disabled"
        ></p-radioButton>
        <label class="mr-2 pl-1 pointer" for="obserSI">Desfavorable</label>
      </div>
    </div>
    <div
      class="col-12 mt-3"
      *ngIf="
        evaluacionDet.conforme !== codigoConforme &&
        evaluacionDet.conforme !== null &&
        evaluacionDet.conforme !== undefined
      "
    >
      <label class="label fz-12">Observación</label>
      <textarea
        cols="3"
        rows="2"
        [(ngModel)]="evaluacionDet.observacion"
        class="form-control form-control-sm"
        placeholder="Ingrese observación..."
        [disabled]="disabled"
      ></textarea>
    </div>
    <div class="col-12 mt-3">
      <label class="label fz-12">Adjuntar Evidencia</label>
      <buttons-file-permiso-forestal-shared
        [idPermisoForestal]="idPermisoForestal"
        [codigoTipoDocumento]="'PERMISO'"
        [codigoProceso]="codigoProceso"
        [disabled]="disabled"
        [subCodigoArchivo]="codigoAcordeon"
        (registrarArchivoId)="cargarIdArchivo($event)"
        (eliminarArchivoEmit)="eliminarArchivo($event)"
      >
      </buttons-file-permiso-forestal-shared>
    </div>
  </div>
  <!--<button (click)="registrarEvaluacion()">Guardar</button>-->
</div>

<div class="row m-0 mt-1">
  <button
    class="btn-primary2"
    (click)="registrarEvaluacion()"
    [disabled]="disabled"
  >
    Guardar Evaluación
  </button>
</div>

<p-toast></p-toast>
