.form-container{
    border: 1px solid #dee2e6;
    background: #ffffff;
    color: #495057;
    border-radius: 8px;
}

.button-cointainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.check-icon{
    border: #4A962C solid 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    color: green;
}

.modal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.text-modal{
    margin-left: 20px;
    color:  #4A962C;
}

.icon-size{
    font-size: 1.5em;font-weight: bold;}