<form class="container-fluit" [formGroup]="f">

  <h3 class="title"> Ep3.1.1 Seleccionar Contratos para Elaboración PGMF </h3>
  
  <div class="row m-0">
    <div class="col-sm-12 col-md-6 form-container">
      <br>
      <div class="row">
        <div class="col-12">
          <h3 class="title2">DATOS DEL PGMF</h3>
        </div>

        <div class="col-12 formGroup my-2">
          <div>
            <label class="label mr-4">Clase de Plan PGMF: </label>
          </div>
          <div class="p-field-radiobutton">
            <p-radioButton [value]="true" inputId="check1" (onClick)="clickRadio()" name="consolidado"
              formControlName="consolidado" [disabled]="isDisabled">
            </p-radioButton>
            <label class="pointer" for="check1"> Consolidado</label>
          </div>

          <div class="p-field-radiobutton">
            <p-radioButton [value]="false" inputId="check2" (onClick)="clickRadio()" name="consolidado"
              formControlName="consolidado" [disabled]="isDisabled">
            </p-radioButton>
            <label class="pointer" for="check2"> No Consolidado </label>
          </div>
        </div>

        <div class="col-12 formGroup" *ngIf="!isContratoDisabled">
          <div class="form-group" *ngIf="f.get('consolidado')?.value; else elseTpl">
            <label class="label">Contratos Asociados al PGMF</label>
            <div class="form-control-multi">
              <p-multiSelect [options]="contratos" optionLabel="descripcionContrato" placeholder="Seleccione contrato"
                styleClass="bg-gray" formControlName="listaPlanManejoContrato" [disabled]="isContratoDisabled"
                (onChange)="changeContratos($event.value, false)">
              </p-multiSelect>
            </div>
          </div>
          <ng-template #elseTpl>
            <div class="form-group">
              <label class="label">Contratos Asociados al PGMF</label>
              <div class="form-control-selectk">
                <p-dropdown [options]="contratos" optionLabel="descripcionContrato" placeholder="Seleccione contrato"
                (onChange)="changeContratos([$event.value], true)"
                  [disabled] = "isContratoDisabled">
                <!-- [disabled]="isContratoDisabled || formConsolidado?.value===false"-->
                </p-dropdown>
              </div>
            </div>
          </ng-template>
        </div>

        <div class="col-12">
          <label class="label">Contratos Seleccionados</label>
        </div>
        <div class="col-12">
          <p-table [value]="contratosSeleccionados" selectionMode="single" dataKey="idContrato"
            responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr>
                <th>Contrato</th>
                <th>UA</th>
                <th>Área</th>
                <th>Región</th>
                <th>Seleccionar Principal</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr [pSelectableRow]="data">
                <td>{{data.descripcionContrato}}</td>
                <td>{{data.descripcionUnidadAprovechamiento}}</td>
                <td>{{data.areaTotal}}</td>
                <td>{{data.descripcionRegion}}</td>
                <td><p-checkbox id="chk-contrato" formControlName="contratoPrincipal" [(ngModel)]="contratosPrincipalesSeleccionados" [value]="data" (onChange)="seleccionarContrato($event, data, this)" [disabled]="isDisabled" ></p-checkbox></td>
              </tr>
            </ng-template>
          </p-table>
        </div>

      </div>
    </div>

    <div class="col-12 col-sm-6 ">
      <div class="col-12">
        <label class="title2">VISOR</label>
      </div>
      <div class="f-w mb-2 mapa-content col-12">
        <div class="mapa" #map></div>
      </div>
    </div>

  </div>

  <div formGroupName="infoGeneral">
    <!-- DATOS TITULAR -->
    <div class="row m-0 form-container mt-4">

      <div class="col-12 my-4 formGroup">
        <h3 class="title2">DATOS DEL TITULAR</h3>
      </div>

      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Tipo de Persona</label>
        <input class="form-control form-control-sm " type="text" formControlName ="descripcionTipoPersonaTitular" autocomplete="off"/>
      </div>
      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Tipo de Documento</label>
        <input class="form-control form-control-sm " type="text" formControlName ="descripcionTipoDocIdentidadTitular" autocomplete="off" [disabled]="isDisabled" />
      </div>
      
      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Número de Documento</label>
        <input class="form-control form-control-sm " type="text" autocomplete="off" formControlName="numeroDocumentoTitular" [disabled]="isDisabled" />
      </div>

      <ng-container *ngIf="isPerNaturalTitular">
        <div class="col-sm-12 col-md-4 form-group">
          <label class="label">Nombres</label>
          <input class="form-control form-control-sm " type="text" autocomplete="off" formControlName="nombreTitular" [disabled]="isDisabled" />
        </div>
        <div class="col-sm-12 col-md-4 form-group">
          <label class="label">Apellido Paterno</label>
          <input class="form-control form-control-sm " type="text" autocomplete="off" formControlName="apePaternoTitular" [disabled]="isDisabled" />
        </div>
        <div class="col-sm-12 col-md-4 form-group">
          <label class="label">Apellido Materno</label>
          <input class="form-control form-control-sm " type="tetx" autocomplete="off" formControlName="apeMaternoTitular" [disabled]="isDisabled" />
        </div>

        <div class="col-sm-12 col-md-12 form-group">
          <label class="label">Email</label>
          <input class="form-control form-control-sm " type="text" autocomplete="off" formControlName="correoTitular" [disabled]="isDisabled" />
        </div>
      </ng-container>

      <ng-container *ngIf="!isPerNaturalTitular">
        <div class="col-sm-12 col-md-6 form-group">
          <label class="label">Razón Social</label>
          <input class="form-control form-control-sm " type="tetx" autocomplete="off" formControlName="razonSocialTitular" [disabled]="isDisabled" />
        </div>
        <div class="col-sm-12 col-md-6 form-group">
          <label class="label">Dirección Empresa</label>
          <input class="form-control form-control-sm " type="tetx" autocomplete="off" formControlName="domicilioLegalTitular" [disabled]="isDisabled" />
        </div>
        <div class="col-sm-12 col-md-12 form-group">
          <label class="label">Email Empresa</label>
          <input class="form-control form-control-sm " type="tetx" autocomplete="off" formControlName="correoTitular" [disabled]="isDisabled" />
        </div>
      </ng-container>

    </div>
    <!-- DATOS REPRESENTANTE -->
    <ng-container *ngIf="!isPerNaturalTitular">
    <div class="row m-0 form-container mt-4">
      <div class="col-12 my-4 formGroup">
        <h3 class="title2">REPRESENTANTE LEGAL</h3>
      </div>

      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Tipo de Documento</label>
        <input class="form-control form-control-sm " type="text" formControlName ="descripcionTipoDocIdentidadRepLegal" autocomplete="off" [disabled]="isDisabled" />
        <!--div class="form-control-selectk">
          <p-dropdown [options]="lstTipoPersona" optionLabel="valor1" optionValue="codigo"
          formControlName="tipoPersonaRepre" [disabled]="isDisabled"></p-dropdown>
        </div-->
      </div>
      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Número de Documento</label>
        <input class="form-control form-control-sm " type="text" autocomplete="off" formControlName="numeroDocumentoRepLegal" [disabled]="isDisabled" />
      </div>
      <div class="col-sm-12 col-md-12"></div>
      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Nombres</label>
        <input class="form-control form-control-sm " type="tetx" autocomplete="off" formControlName="nombreRepresentanteLegal" [disabled]="isDisabled" />
      </div>

      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Apellido Paterno</label>
        <input class="form-control form-control-sm " type="tetx" autocomplete="off" formControlName="apePaternoRepLegal" [disabled]="isDisabled" />
      </div>
      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Apellido Materno</label>
        <input class="form-control form-control-sm " type="tetx" autocomplete="off" formControlName="apeMaternoRepLegal" [disabled]="isDisabled" />
      </div>
      <div class="col-sm-12 col-md-12 form-group">
        <label class="label">Email</label>
        <input class="form-control form-control-sm " type="tetx" autocomplete="off" formControlName="correoRepLegal" [disabled]="isDisabled" />
      </div>

      <div class="col-sm-12 col-md-8" formGroupName="constanciaRepLegal">
        <div class="form-group" *ngIf="isContratoDisabled">
          <label class="label">Descargar Constancia de Representatividad</label>
          <div class="input-group">
            <input type="text" class="form-control form-control-sm" placeholder="" [value]="fileNombre" disabled>
            <div class="input-group-append">
              <button type="button" id="btnDescargarFile" (click)="onDescargarArchivo()"  class="btn btn-sm btn-secondary">
                Descargue archivo<input type="button" style="display:none;"/>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="!isContratoDisabled">
          <label class="label">Adjuntar Constancia de Representatividad</label>
          <upload-input-button formControlName="archivo"></upload-input-button>
        </div>
        
      </div>

    </div>
  </ng-container>
  </div>
  <br>
  <br>
  <br>
  <hr>

  <div class="col-12 my-4">
    <button class="btn-primary2" [disabled]="isDisabled" (click)="validar()"> Validar datos ingresados</button>
    <button class="btn-primary2" [disabled]="!isValid || isDisabled" (click)="btnCrear($event)">Crear PGMF</button>
    <button class="btn-primary2" (click)="btnCancelar()"> Cancelar</button>
    <button class="btn-primary2" (click)="verPlan()" [disabled]="!isContratoDisabled"> Ir a Plan</button>
  </div>

</form>


<p-dialog header=" " [(visible)]="display">

  <div class="modal-container">

    <div class="row">
      <div class="check-icon">
        <i class="pi pi-check pointer icon-size" aria-hidden="true"></i>
      </div>
      <p class="text-modal"> Se Registró Correctamente </p>
    </div>

    <h3 class="title fz-17">ID de Plan General Consolidado N° 123</h3>

    <button class="btn-primary2" style="margin: 20px 0;" (click)="guardar()"> Guardar</button>

  </div>
</p-dialog>

<p-confirmPopup ></p-confirmPopup>
<p-confirmDialog
[style]="{ width: '300px' }"
key="confirmColindancia"
></p-confirmDialog>
<p-confirmDialog
[style]="{ width: '300px' }"
key="confirmGuardado"
></p-confirmDialog>