<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="9.1. Participación Comunal" [selected]="true">
          <div class="col-2 col-sm-12 text-right">
            <button
              (click)="abrirModal('C', 0)"
              class="btn btn-sm btn-default button-more mb-2"
              type="button"
              title="Agregar"
              [disabled]="disabled || isPerfilArffs"
            >
              <i class="pi pi-plus"></i>
            </button>
          </div>
          <div class="col-12">
            <p-table [value]="listParticipacion" class="table-justify" [scrollable]="true" [style]="{width:'100%'}">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 80px">Acciones</th>
                  <th style="width: 200px; max-width: 800px;">Actividades</th>
                  <th style="width: 200px; max-width: 800px;">Responsable</th>
                  <th style="min-width: 200px; max-width: 800px;">Seguimiento Actividades</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr>
                  <td style="width: 80px" class="text-center">
                    <span
                      class="pointer mr-1"
                      title="Editar"
                      (click)="!disabled&&!isPerfilArffs && abrirModal('E', rowIndex, data)"
                    >
                      <i class="pi pi-pencil"></i>
                    </span>
                    <a
                      type="button"
                      class="pointer"
                      title="Eliminar"
                      (click)="!disabled&&
                        !isPerfilArffs &&
                          openEliminarParticipacion($event, rowIndex, data)
                      "
                    >
                      <i class="pi pi-trash"></i>
                    </a>
                    <p-confirmPopup></p-confirmPopup>
                  </td>
                  <td style="width: 200px; max-width: 800px;">{{ data.actividad }}</td>
                  <td style="width: 200px; max-width: 800px;">{{ data.responsable }}</td>
                  <td style="min-width: 200px; max-width: 800px;">{{ data.seguimientoActividad }}</td>
                </tr>
              </ng-template>
            </p-table>
            <label
              *ngIf="pendiente"
              class="lbl-info mt-3 mb-3"
              style="float: none !important"
            >
              (Los cambios locales se guardarán pulsando el botón "Guardar".)
            </label>
          </div>
          <br />
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon9_91"
            [base]="evaluacion9_91"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4" *ngIf="!isPerfilArffs">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button
          class="btn-primary2"
          (click)="guardarParticipacionComunal()"
          [disabled]="disabled"
        >
          Guardar
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>

      <div class="step__btn mt-4" *ngIf="isPerfilArffs">
        <message-evaluation></message-evaluation>
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button class="btn-primary2" (click)="registrarEvaluacion()">
          Guardar Evaluación
        </button>
        <button class="btn-primary2" (click)="retornarFlujoEvaluacion()">
          Retornar Flujo Evaluacion
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
      <br />
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-dialog
  header="{{ tituloModalMantenimiento }}"
  header="Header"
  [(visible)]="verModalMantenimiento"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Actividades</label>
            <input
              [(ngModel)]="participacion.actividad"
              type="text"
              class="form-control"
              placeholder="Ingrese actividad"
              maxlength="100"
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Responsable</label>
            <input
              [(ngModel)]="participacion.responsable"
              type="text"
              class="form-control"
              placeholder="Ingrese responsable"
              maxlength="100"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Seguimiento de actividades</label>
            <input
              [(ngModel)]="participacion.seguimientoActividad"
              type="text"
              class="form-control"
              placeholder="Ingrese seguimiento de actividades"
              maxlength="100"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarParticipacion(participacion)"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verModalMantenimiento = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
