<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12 form-group">
      <p-accordion>
        <p-accordionTab
          header="9.1. En la Formulación del Plan de Manejo Forestal"
          [selected]="true"
        >
          <div class="col-2 col-sm-12 text-right">
            <button
              (click)="
                abrirModal('Registrar', ParticipacionTipoPGMF.FORMULACION)
              "
              class="btn btn-sm btn-default mb-2"
              type="button"
              title="Agregar"
              [disabled]="isDisbledObjFormu"
            >
              <i class="pi pi-plus" aria-hidden="true"></i>
            </button>
            <p-confirmPopup></p-confirmPopup>
          </div>
          <div class="col-12">
            <p-table
              [value]="formulaciones"
              class="no-desbor-table"
              [paginator]="true"
              [rows]="10"
              [showCurrentPageReport]="true"
              currentPageReportTemplate="Total : {totalRecords} registros"
              [rowsPerPageOptions]="[10, 25, 50]"
              [totalRecords]="formulaciones.length"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 80px">Acciones</th>
                  <th>Actividades</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data let-index="rowIndex">
                <tr>
                  <td class="text-center">
                    <span
                      class="pointer mr-2"
                      title="Editar"
                      [ngClass]="isDisbledObjFormu ? 'disabled-pointer' : ''"
                      (click)="
                        abrirModal(
                          'Editar',
                          ParticipacionTipoPGMF.FORMULACION,
                          data,
                          index
                        )
                      "
                    >
                      <i class="pi pi-pencil" aria-hidden="true"></i>
                    </span>
                    <span
                      class="pointer"
                      title="Eliminar"
                      [ngClass]="isDisbledObjFormu ? 'disabled-pointer' : ''"
                      (click)="
                        eliminar(
                          $event,
                          ParticipacionTipoPGMF.FORMULACION,
                          data?.idPartComunalDet,
                          index
                        )
                      "
                    >
                      <i class="pi pi-trash" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>{{ data.actividad }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>

          <!-- <div class="row m-0 mt-4 h-100 justify-content-center align-items-center">
            <div class="col-12 col-sm-12">
              <lineamiento-inner [base]="lineamiento"
                [titulo]="'Evaluación de Lineamiento 14. Revisión de las acciones del participación ciudadana'"
                [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval">
                <ng-template #descripcion>
                  <div class="row m-0">
                    <div class="col-12">
                      <p class="fz-11 m-0 mb-3"></p>
                      <p class="fz-11 m-0 mb-1 ml-4">► Verificar que se haya previsto la participación de la comunidad o
                        los pobladores locales y las formas en la que se realizará.</p>

                    </div>
                  </div>
                </ng-template>
              </lineamiento-inner>
            </div>
          </div> -->
        </p-accordionTab>

        <p-accordionTab
          header="9.2. En la Implementación del Plan de Manejo Forestal"
        >
          <div class="col-2 col-sm-12 text-right">
            <button
              (click)="
                abrirModal('Registrar', ParticipacionTipoPGMF.IMPLEMENTACION)
              "
              class="btn btn-sm btn-default mb-2"
              type="button"
              title="Agregar"
              [disabled]="isDisbledObjFormu"
            >
              <i class="pi pi-plus" aria-hidden="true"></i>
            </button>
            <p-confirmPopup></p-confirmPopup>
          </div>
          <div class="col-12">
            <p-table [value]="implementaciones" class="no-desbor-table"  [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Total : {totalRecords} registros"
            [rowsPerPageOptions]="[10, 25, 50]"
            [totalRecords]="implementaciones.length">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 80px">Acciones</th>
                  <th>Actividades</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data let-index="rowIndex">
                <tr>
                  <td class="text-center">
                    <span
                      class="pointer mr-2"
                      title="Editar"
                      [ngClass]="isDisbledObjFormu ? 'disabled-pointer' : ''"
                      (click)="
                        abrirModal(
                          'Editar',
                          ParticipacionTipoPGMF.IMPLEMENTACION,
                          data,
                          index
                        )
                      "
                    >
                      <i class="pi pi-pencil" aria-hidden="true"></i>
                    </span>
                    <span
                      class="pointer"
                      title="Eliminar"
                      [ngClass]="isDisbledObjFormu ? 'disabled-pointer' : ''"
                      (click)="
                        eliminar(
                          $event,
                          ParticipacionTipoPGMF.IMPLEMENTACION,
                          data?.idPartComunalDet,
                          index
                        )
                      "
                    >
                      <i class="pi pi-trash" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>{{ data.actividad }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>

          <!-- <div class="row m-0 mt-4 h-100 justify-content-center align-items-center">
            <div class="col-12 col-sm-12">
              <lineamiento-inner [base]="lineamiento2"
                [titulo]="'Evaluación de Lineamiento 14. Revisión de las acciones del participación ciudadana'"
                [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval">
                <ng-template #descripcion>
                  <div class="row m-0">
                    <div class="col-12">
                      <p class="fz-11 m-0 mb-3"></p>
                      <p class="fz-11 m-0 mb-1 ml-4">► Verificar que se haya previsto la participación de la comunidad o
                        los pobladores locales y las formas en la que se realizará.</p>

                    </div>
                  </div>
                </ng-template>
              </lineamiento-inner>
            </div>
          </div> -->
        </p-accordionTab>

        <p-accordionTab header="9.3. En los Comités de Gestión de Bosques">
          <div class="col-2 col-sm-12 text-right">
            <button
              (click)="abrirModal('Registrar', ParticipacionTipoPGMF.COMITE)"
              class="btn btn-sm btn-default mb-2"
              type="button"
              title="Agregar"
              [disabled]="isDisbledObjFormu"
            >
              <i class="pi pi-plus" aria-hidden="true"></i>
            </button>
            <p-confirmPopup></p-confirmPopup>
          </div>
          <div class="col-12">
            <p-table [value]="comites" class="no-desbor-table" [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Total : {totalRecords} registros"
            [rowsPerPageOptions]="[10, 25, 50]"
            [totalRecords]="comites.length">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 80px">Acciones</th>
                  <th>Actividades</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data let-index="rowIndex">
                <tr>
                  <td class="text-center">
                    <span
                      class="pointer mr-2"
                      title="Editar"
                      [ngClass]="isDisbledObjFormu ? 'disabled-pointer' : ''"
                      (click)="
                        abrirModal(
                          'Editar',
                          ParticipacionTipoPGMF.COMITE,
                          data,
                          index
                        )
                      "
                    >
                      <i class="pi pi-pencil" aria-hidden="true"></i>
                    </span>
                    <span
                      class="pointer"
                      title="Eliminar"
                      [ngClass]="isDisbledObjFormu ? 'disabled-pointer' : ''"
                      (click)="
                        eliminar(
                          $event,
                          ParticipacionTipoPGMF.COMITE,
                          data?.idPartComunalDet,
                          index
                        )
                      "
                    >
                      <i class="pi pi-trash" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>{{ data.actividad }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>

          <!-- <div class="row m-0 mt-4 h-100 justify-content-center align-items-center">
            <div class="col-12 col-sm-12">
              <lineamiento-inner [base]="lineamiento3"
                [titulo]="'Evaluación de Lineamiento 14. Revisión de las acciones del participación ciudadana'"
                [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval">
                <ng-template #descripcion>
                  <div class="row m-0">
                    <div class="col-12">
                      <p class="fz-11 m-0 mb-3"></p>
                      <p class="fz-11 m-0 mb-1 ml-4">► Verificar que se haya previsto la participación de la comunidad o
                        los pobladores locales y las formas en la que se realizará.</p>

                    </div>
                  </div>
                </ng-template>
              </lineamiento-inner>
            </div>
          </div> -->
        </p-accordionTab>

        <p-accordionTab header="9.4. Plan de Reconocimiento Comunitario">
          <div class="col-2 col-sm-12 text-right">
            <button
              (click)="abrirModal('Registrar', ParticipacionTipoPGMF.PLAN)"
              class="btn btn-sm btn-default mb-2"
              type="button"
              title="Agregar"
              [disabled]="isDisbledObjFormu"
            >
              <i class="pi pi-plus" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-12">
            <p-table [value]="planes" class="no-desbor-table" [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Total : {totalRecords} registros"
            [rowsPerPageOptions]="[10, 25, 50]"
            [totalRecords]="planes.length">
              <ng-template pTemplate="header">
                <tr>
                  <th>Acciones</th>
                  <th>Mecanismos de participación</th>
                  <th>Metodología</th>
                  <th>Lugar</th>
                  <th>Fecha</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data let-index="rowIndex">
                <tr>
                  <td class="text-center acciones">
                    <span
                      class="pointer mr-2"
                      title="Editar"
                      [ngClass]="isDisbledObjFormu ? 'disabled-pointer' : ''"
                      (click)="
                        abrirModal(
                          'Editar',
                          ParticipacionTipoPGMF.PLAN,
                          data,
                          index
                        )
                      "
                    >
                      <i class="pi pi-pencil" aria-hidden="true"></i>
                    </span>
                    <span
                      class="pointer"
                      title="Eliminar"
                      [ngClass]="isDisbledObjFormu ? 'disabled-pointer' : ''"
                      (click)="
                        eliminar(
                          $event,
                          ParticipacionTipoPGMF.PLAN,
                          data?.idPartComunalDet,
                          index
                        )
                      "
                    >
                      <i class="pi pi-trash" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td class="table-body">{{ data.actividad }}</td>
                  <td class="table-body">{{ data.metodologia }}</td>
                  <td class="table-body">{{ data.lugar }}</td>
                  <td class="table-body">
                    {{ data.fecha | date: "dd/MM/yyyy" }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>

          <!-- <div class="row m-0 mt-4 h-100 justify-content-center align-items-center">
            <div class="col-12 col-sm-12">
              <lineamiento-inner [base]="lineamiento4"
                [titulo]="'Evaluación de Lineamiento 14. Revisión de las acciones del participación ciudadana'"
                [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval">
                <ng-template #descripcion>
                  <div class="row m-0">
                    <div class="col-12">
                      <p class="fz-11 m-0 mb-3"></p>
                      <p class="fz-11 m-0 mb-1 ml-4">► Verificar que se haya previsto la participación de la comunidad o
                        los pobladores locales y las formas en la que se realizará.</p>

                    </div>
                  </div>
                </ng-template>
              </lineamiento-inner>
            </div>
          </div> -->
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

  <div class="row m-0 mt-4 h-100 justify-content-center align-items-center">
    <div class="col-12 col-sm-11">
      <lineamiento-inner
        [base]="lineamiento5"
        [titulo]="
          'Evaluación de Lineamiento 14. Revisión de las acciones de participación ciudadana'
        "
        [isShowObjEval]="isShowObjEval"
        [isDisabledObjEval]="isDisabledObjEval"
      >
        <ng-template #descripcion>
          <div class="row m-0">
            <div class="col-12">
              <p class="fz-11 m-0 mb-3"></p>
              <p class="fz-11 m-0 mb-1 ml-4">
                1. Verificar que se haya previsto la participación de la
                comunidad o los pobladores locales y las formas en la que se
                realizará.
              </p>
            </div>
          </div>
        </ng-template>
      </lineamiento-inner>
    </div>
  </div>

  <div class="row m-0 mt-4">
    <div class="col-12">
      <div class="step__btn">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button
          *ngIf="!isDisbledObjFormu"
          class="btn-primary2"
          (click)="guardarParticipacionComunal()"
        >
          Guardar
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
      <br />
    </div>
  </div>
</div>
