<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 col-sm-6 col-md-4">
      <button class="btn-primary2" (click)="btnVerInpsOcular()" type="button" [disabled]="!idEvaluacionCampo">Ver
        Inspección Ocular</button>
    </div>

    <div class="col-12 mt-3">
      <p-table [value]="listaDocumentos" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center">Acciones</th>
            <th>Nro. Anexo</th>
            <th>Nombre Documento</th>
            <th>Conforme</th>
            <th>Observado</th>
            <th style="width: 200px;">Observación</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td class="text-center">
              <span class="pointer mr-3" pTooltip="Descargar" (click)="btnDescargar(data.idArchivo)">
                <i class="pi pi-download"></i>
              </span>
            </td>
            <td>{{ data.descripcionSeccion }}</td>
            <td>{{ data.nombreArchivo }}</td>
            <td class="text-center">
              <p-radioButton [(ngModel)]="data.conformeFiscalizacion" name="rbObser" [value]="true"
                [disabled]="disabledIN || showFormatofiscal" (click)="clickValidarRadio(data)"></p-radioButton>
            </td>
            <td class="text-center">
              <p-radioButton [(ngModel)]="data.conformeFiscalizacion" name="rbObser" [value]="false"
                [disabled]="disabledIN || showFormatofiscal" (click)="clickValidarRadio(data)"></p-radioButton>
            </td>
            <td>
              <input *ngIf="data.conformeFiscalizacion === false" placeholder="Ingrese observación..." type="text"
                [(ngModel)]="data.obsFiscalizacion" class="form-control form-control-sm"
                [disabled]="disabledIN || showFormatofiscal" />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <!-- PLANTILLAS DE INFORME -->
    <ng-container *ngIf="showFormatofiscal">
      <div class="col-12 mt-3">
        <div class="panelk br10 p-3">
          <div class="row m-0">
            <div class="col-12 form-group">
              <label class="label mr-2">Plantilla Formato Fiscalización</label>
              <button class="btn btn-secondary" (click)="btnDescargarPlant()"
                [disabled]="disabledIN || disabledPlantilla">Descargar</button>
            </div>
            <div class="col-12 col-sm-6 form-group">
              <app-carga-archivo-general label="Informe de Fiscalización:" [disabled]="disabledIN || disabledPlantilla"
                accept=".pdf" [idArchivo]="fileInfoFisca.idArchivo" [tipoDoc]="fileInfoFisca.tipoArchivo"
                (registrarArchivo)="registrarArchivo($event)" (eliminarArchivo)="eliminarArchivo($event)">
              </app-carga-archivo-general>
            </div>
            <div class="col-12 mt-3 form-group">
              <div class="p-field-radiobutton">
                <p-radioButton name="evaluado" inputId="favorable" [value]="true"
                  [disabled]="disabledIN || disabledPlantilla" [(ngModel)]="evaluaFav">
                </p-radioButton>
                <strong for="favorable" class="label ml-2">Favorable</strong>
              </div>
              <div class="p-field-radiobutton">
                <p-radioButton name="evaluado" inputId="desfavorable" [value]="false"
                  [disabled]="disabledIN || disabledPlantilla" [(ngModel)]="evaluaFav">
                </p-radioButton>
                <strong for="desfavorable" class="label ml-2">Desfavorable</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="col-12 mt-3 text-right">
      <ng-container *ngIf="!disabledIN">
        <button *ngIf="!showFormatofiscal" class="p-button-success p-button-outlined mr-2" type="button"
          icon="pi pi-save" pButton pRipple label="Guardar" (click)="btnGuardar()"
          [disabled]="listaDocumentos.length === 0"></button>

        <ng-container *ngIf="!disabledPlantilla">
          <button *ngIf="showFormatofiscal" class="p-button-success p-button-outlined mr-2" type="button"
            icon="pi pi-save" pButton pRipple label="Enviar Respuesta" (click)="btnEnviarResp()"></button>
        </ng-container>

      </ng-container>

      <button class="p-button-danger p-button-outlined" icon="pi pi-times" type="button" pButton pRipple
        label="Cancelar" (click)="btnCancelar()"></button>
    </div>

  </div>
</div>