<div class="container-fluit py-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="Establecimiento de Bosque Local" [selected]="true">
          <div class="row m-0">
            <div class="col-12">
              <label class="label">Generar Código de TH:</label>
            </div>
            <div class="col-12 col-sm-6 form-group" style="display: flex;">
              <input class="form-control" type="text" autocomplete="off" [(ngModel)]="requestEnviar.codigoTH"
                disabled />
              <button class="btn btn-secondary ml-4" [disabled]="disabledEstableciBL || isCodigoTH"
                (click)="btnGenerarTH()">Generar</button>
            </div>

            <div class="col-12 mt-3 form-group">
              <button class="btn btn-secondary" [disabled]="disabledEstableciBL || !!isEnvioGeometria || !requestEnviar.codigoTH"
                (click)="btnEnviarGeometria()">Enviar Geometría</button>
            </div>

            <div class="col-12 form-group">
              <div class="mb-2 text-right">
                <button class="btn btn-sm btn-default button-more" [disabled]="disabledEstableciBL" type="button"
                  title="Agregar" (click)="btnModalDocumento()"><i class="pi pi-plus"></i></button>
              </div>
              <p-table [value]="listaDocumentos">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Acciones</th>
                    <th>Tipo Documento</th>
                    <th>Nombre Documento</th>
                    <th>Descargar</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-fila let-rowIndex="rowIndex">
                  <tr>
                    <td>
                      <span *ngIf="!disabledEstableciBL" class="pointer" title="Eliminar"
                        (click)="btnEliminarDoc($event, fila.idSolBosqueLocalArchivo, rowIndex)"><i
                          class="pi pi-trash"></i></span>
                    </td>
                    <td>{{fila.tipoDocumento}}</td>
                    <td>{{fila.nombreArchivo}}</td>
                    <td>
                      <span class="pointer" title="Descargar" (click)="btnDescargarDoc(fila.idArchivo)"><i
                          class="pi pi-download"></i></span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>

          <div class="row m-0 mt-3">
            <div class="col-12" *ngIf="!disabledEstableciBL">
              <button type="button" class="btn-primary2 ml-0" [disabled]="disabledEstableciBL" (click)="btnGuardar(false)">
                Guardar
              </button>

              <button type="button" class="btn-primary2" [disabled]="disabledEstableciBL" (click)="btnEnviar($event)">
                Enviar Notificación de Creación de TH del Bosque Local
              </button>
            </div>
          </div>
        </p-accordionTab>

      </p-accordion>
    </div>
  </div>
</div>