<div *ngIf="codigo == 'COD9'">
  <tabla-tipo-bosque [listaBosque]="listaBosque" [totalAreaBosque]="totalAreaBosque"
    [totalPorcentajeBosque]="totalPorcentajeBosque" [isVisible]="false">
  </tabla-tipo-bosque>
</div>
<div class="row" *ngIf="codigo == 'COD7'">
  <div class="col-12">
    <tabla-aspectos-fisicos [idPGMF]="idPGMF" [listInfoBasicaDet_F]="config.data.data" [totalValues]="config.data.data">
    </tabla-aspectos-fisicos>
  </div>
</div>
<div *ngIf="codigo == 'COD6'">
  <app-tabla-hidrografia [idPGMF]="idPGMF" [listInfoBasicaDet_H]="config.data.data" [listInfoBasicaDet_H2]="config.data.data2" [isModal]="true">
  </app-tabla-hidrografia>
</div>
<div class="d-flex justify-content-end mt-4">
  <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cerrar"
    class="p-button-danger p-button-outlined" style="width: 106px"></button>
</div>