<div class="row m-0 pt-2">
  <div class="col-12 col-sm-8 p-0">
    <div class="f-w mb-2 mapa-content">
      <div class="mapa" #map></div>
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <div class="d-grid gap-2 d-md-block mb-2" style="display: flex !important">
      <button type="button" (click)="fileInputSHP.click()" class="btn-secondary width-full">
        Cargar shapefile (Área)
        <input
          #fileInputSHP
          type="file"
          (change)="onChangeFileSHP($event, false, 'PMFIC', 'PMFICOPUMFSUP', 'TPPARC')"
          style="display: none" />
      </button>
    </div>
    <div class="card gh-layers">
      <div class="card-header py-0 pt-2 pb-2">
        Capas
        <span title="Guardar Capa" class="pointer pr-1 float-right">
          <i class="pi pi-save" aria-hidden="true" (click)="onGuardarLayer()"></i>
        </span>
      </div>
      <ul class="list-group">
        <li *ngFor="let item of _layers" class="list-group-item p-0 d-flex">
          <input class="ml-1 mr-1 pointer" type="checkbox" [checked]="true" (change)="toggleLayer(item.idLayer, $event)" />
          <label class="m-0 p-0 text-left pointer gh-label" style="flex: 2;" [ngStyle]="{ color: item.color }">
            {{ item.nombre }}
            <span class="pointer pr-1" title="{{ item.overlap ? 'Capa Superpuesta' : 'Capa contenida' }} ">
              <i
                class="{{ item.overlap ? 'pi pi-info-circle color-red' : 'pi pi-check-circle color-green' }}"
                *ngIf="item.service"
                aria-hidden="true"
              ></i>
            </span>
          </label>
          <div class="d-flex">
            <span class="mr-2 pointer">
              <i
                class="pi pi-download"
                *ngIf="!item.service && item.inServer == true"
                aria-hidden="true"
                (click)="onDownloadFileSHP(item?.codigo)"
              ></i>
            </span>
            <span class="pointer pr-1">
              <i
                class="pi pi-trash"
                aria-hidden="true"
                *ngIf="!item.service && item.idLayer"
                (click)="onRemoveFileSHP(item)"
              ></i>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row m-0 pt-3">
  <div class="col-12">
    <div class="mb-2">
      <button
        type="button"
        (click)="fileInputSHPV.click()"
        class="btn btn-sm btn-secondary button-more"
        [disabled]="disabled"
      >
        Cargar shapefile (Vértices)
        <input
          #fileInputSHPV
          type="file"
          (change)="onChangeFileSHP($event, true, 'PMFIC', 'PMFICOPUMFSUP', 'TPPUNTO')" 
          style="display: none;"
        />
      </button>
    </div>
    <p-table [value]="listCoordinatesAnexo">
      <ng-template pTemplate="header">
        <tr>
          <th colspan="6" class="text-center">
            Superficie y ubicación de los bloques
          </th>
        </tr>
        <tr>
          <th rowspan="2">Anexo o sector</th>
          <th rowspan="2">Punto</th>
          <th colspan="2" class="text-center">
            Coordenadas UTM del área de aprovechamiento en el primer bloque
          </th>
          <th rowspan="2">Observaciones</th>
        </tr>
        <tr>
          <th colspan="1">Este (E)</th>
          <th colspan="1">Norte (N)</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td [attr.rowspan]="data.value.length + 1">
            {{ data.key }}
          </td>
        </tr>

        <tr *ngFor="let item of data.value">
          <td>{{ item.vertice }}</td>
          <td>{{ item.este }}</td>
          <td>{{ item.norte }}</td>
          <td>
            <input
              type="text"
              class="form-control bg-gray"
              placeholder="Observaciones"
              [(ngModel)]="item.referencia"
              (change)="onChangeObservacion()" 
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
