<a type="button" class="pointer" title="Resolver" (click)="verPDF()"
  ><i class="pi pi-arrow-circle-right"></i
></a>

<p-dialog
  header="Aprobar o Rechazar Solicitud"
  appendTo="body"
  [(visible)]="isShowModal2_2"
  [modal]="true"
  [style]="{ width: '60vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div>
      <h4 class="font-weight-bold">
        Permiso Forestal
        <label class="nro-plan-forestal">N° {{ idPermisoForestal }}</label
        >&nbsp;&nbsp;&nbsp;
        <label style="color: red; font-weight: bold; font-size: 12px"
          >Usted tiene {{ impugnacionSan.diasRestantes }} días para resolver la
          impugnación.</label
        >
      </h4>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 form-group">
        <label>Tipo Solicitud</label>
        <div class="form-control-selectk">
          <input
            class="form-control form-control-sm"
            [maxlength]="20"
            type="text"
            autocomplete="off"
            placeholder="Ingrese ID"
            [disabled]="true"
            [(ngModel)]="impugnacionSan.tipoSolicitud"
          />
          <!--
          <p-dropdown class="fomr-control" optionValue="descripcion" [(ngModel)]="impugnacionSan.subCodSolicitudSAN" [disabled]="true"
                      [options]="tipoSolicitud" optionLabel="descripcion" placeholder="-- Seleccione --">
          </p-dropdown>-->
        </div>
      </div>
      <div class="col-12 col-md-6 form-group">
        <label>Proceso Postulación</label>
        <input
          class="form-control form-control-sm"
          type="text"
          autocomplete="off"
          placeholder="Ingrese ID proceso postulación"
          [disabled]="true"
          [(ngModel)]="impugnacionSan.procesoPostulacion"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-4 form-group justify-content-center">
        <div>
          <a
            pButton
            pRipple
            style="margin-top: 22px"
            type="button"
            class="btn btn-sm btn-secondary f-w"
            href="/assets/permisoForestal/Plantilla%20Permisos%20formato%201.docx"
            download
            target="_blank"
          >
            Descargar formato de Resolución
          </a>
        </div>

        <!--se oculta-->
        <buttons-file-permiso-forestal-shared
          *ngIf="false"
          [label]="'Cargar Formato SAN'"
          [idPermisoForestal]="idPermisoForestal"
          [codigoTipoDocumento]="CodigosTiposSolicitud.IMPUGNACION_SAN"
          [codigoProceso]="codigoProceso"
          [subCodigoArchivo]="codigoArchivoSan"
          (registrarArchivoId)="cargarIdArchivo($event)"
          [disabled]="true"
        >
        </buttons-file-permiso-forestal-shared>
      </div>
      <div class="col-4 form-group justify-content-center">
        <buttons-file-permiso-forestal-shared
          *ngIf="showFormatoSan"
          [label]="'Formato de Resolución Firmado'"
          [idPermisoForestal]="idPermisoForestal"
          [codigoTipoDocumento]="'TSISANIS'"
          [codigoProceso]="codigoProceso"
          [subCodigoArchivo]="codigoArchivoSanFirmado"
          (registrarArchivoId)="cargarIdArchivo2($event)"
        >
        </buttons-file-permiso-forestal-shared>
      </div>
      <div class="col-4 form-group justify-content-center">
        <buttons-file-permiso-forestal-shared
          *ngIf="showFormatoSan"
          [label]="'Cargar Informe'"
          [accept]="'application/msword, .word,.docx, .pdf, application/pdf'"
          [fileDescripcion]="'WORD'"
          [idPermisoForestal]="idPermisoForestal"
          [codigoTipoDocumento]="'INFO'"
          [codigoProceso]="codigoProceso"
          [subCodigoArchivo]="codigoArchivoInforme"
          (registrarArchivoId)="cargarIdArchivo3($event)"
        >
        </buttons-file-permiso-forestal-shared>
      </div>
    </div>

    <div class="row">
      <div class="col-12 form-group">
        <label>Asunto</label>
        <textarea
          [(ngModel)]="impugnacionSan.asunto"
          name="asuntoSAN"
          autocomplete="off"
          [disabled]="true"
          class="form-control form-control-sm"
          rows="1"
          [maxlength]="250"
          [autoResize]="autoResize"
          pInputTextarea
        ></textarea>
      </div>

      <div class="col-12 form-group">
        <label for="descrSAN">Descripción</label>
        <textarea
          [(ngModel)]="impugnacionSan.descripcion"
          name="descripcionSAN"
          autocomplete="off"
          [disabled]="true"
          id="descrSAN"
          class="form-control form-control-sm"
          rows="5"
          [maxlength]="250"
          [autoResize]="autoResize"
          pInputTextarea
        ></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-12 form-group">
        <label>Observación</label>
        <textarea
          [(ngModel)]="impugnacionSan.observacion"
          name="asuntoSAN"
          autocomplete="off"
          id="asuntSAN"
          class="form-control form-control-sm"
          rows="5"
          [autoResize]="autoResize"
          pInputTextarea
        ></textarea>
      </div>
    </div>
    <div class="row" *ngIf="false">
      <div class="col-12 col-sm-6">
        <div class="p-field-radiobutton d-inline-full">
          <p-radioButton
            [(ngModel)]="impugnacionSan.motivoSolicitud"
            name="esObservado"
            [value]="'HABILITADO'"
          ></p-radioButton>
          <label class="mr-2 pl-1 pointer" for="obserNo"
            >Habilitar Impugnación</label
          >
        </div>
        <div class="p-field-radiobutton d-inline-full">
          <p-radioButton
            [(ngModel)]="impugnacionSan.motivoSolicitud"
            name="esObservado"
            [value]="'INHABILITADO'"
          ></p-radioButton>
          <label class="mr-2 pl-1 pointer">Deshabilitar Impugnación</label>
        </div>
      </div>
    </div>
    <br /><br />
    <div class="row">
      <div class="col-12 col-sm-6">
        <div>
          <label>Resultado:</label>
        </div>
        <div class="p-field-radiobutton d-inline-full">
          <p-radioButton
            [(ngModel)]="impugnacionSan.detalle"
            name="esObservado"
            id="obserNo"
            [value]="'PROCEDE'"
          ></p-radioButton>
          <label class="mr-2 pl-1 pointer" for="obserNo">Procede</label>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="p-field-radiobutton d-inline-full">
          <p-radioButton
            [(ngModel)]="impugnacionSan.detalle"
            name="esObservado"
            [value]="'NO PROCEDE'"
          ></p-radioButton>
          <label class="mr-2 pl-1 pointer">No procede</label>
        </div>
      </div>
    </div>
    <br />

    <button
      icon="pi pi-save"
      (click)="guardarImpugnacion()"
      type="button"
      class="btn btn-sm btn-primary2"
    >
      Enviar Resultado a Solicitante</button
    >&nbsp;
    <button
      icon="pi pi-times"
      (click)="isShowModal2_2 = false"
      type="button"
      class="btn btn-sm btn-danger"
    >
      Cancelar
    </button>
  </ng-template>
  <ng-template pTemplate="footer"> </ng-template>
</p-dialog>
<!--<p-toast></p-toast>-->
