<div class="container-fluit">
    <div class="row m-0">
        <div class="col-12 pt-3">
            <h3 class="title">Épica 2.3.2.3 Bandeja de Procesos de Postulación de Contrato de Concesion PFDM</h3>
        </div>
        <div class="col-12">
            <p-fieldset [collapsed]="true" legend="Filtros" [toggleable]="true" >
                <div class="row m-0">
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label class="label">Proceso Postulación</label>
                                <div class="form-control-selectk">
                                <p-dropdown  [options]="[]"  optionLabel="valor1" optionValue="codigo" ></p-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label class="label">Proceso Oferta</label>
                            <div class="form-control-selectk">
                                <p-dropdown  [options]="[]" optionLabel="valor1" optionValue="codigo" ></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row m-0 mb-2 justify-content-center">
                    <div class="col-12 col-sm-11 text-center">
                        <button pButton pRipple type="button" label="Limpiar" class="p-button-secondary p-button-outlined mr-1"></button>
                        <button pButton pRipple type="button" label="Buscar" class="p-button-success p-button-outlined ml-1"  ></button>
                    </div>
                </div>
              </p-fieldset>
        </div>

        <div class="col-12 mt-4 mb-3">
            <div>
                <p-table [value]="data" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Id Proceso Oferta</th>
                            <th>Id de unidades Ofertables</th>
                            <th>Fecha Publicación</th>
                            <th>Estado Publicación</th>
                            <th>Ver</th>
                            <th>Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                        <tr>
                            <td>10011</td>
                            <td>Zona 69</td>
                            <td>{{hoy | date: 'dd/MM/yyyy h:mm:ss a' }}</td>
                            <td>Pulicado</td>
                            <td class="text-center">
                                <div (click)="verZona()" class="pointer mr-2 borde-accion">
                                    <i class="pi pi-eye" title="Visualizar Zona"></i>
                                    <div  class="fz-9">Ver zona</div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div (click)="pruebasPublicacion()" class="pointer mr-2 borde-accion">
                                    <i class="pi pi-upload" title="Pruebas"></i>
                                    <div  class="fz-9">Pruebas de Publicacion</div>
                                </div><div (click)="validacionPublicacion()" class="pointer mr-2 borde-accion">
                                    <i class="pi pi-check" title="Postular"></i>
                                    <div  class="fz-9">Validar</div>
                                </div>
                                <div (click)="postular()" class="pointer mr-2 borde-accion">
                                    <i class="pi pi-send" title="Postular"></i>
                                    <div  class="fz-9">Postular</div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </div>
    </div>
</div>



<p-dialog appendTo="body" header="Zona" (onShow)="demo()" [(visible)]="verModalZona" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="true">
    <ng-template pTemplate="content">
        <div class="row">
            <div class="col-12">
                <div class="f-w mb-2 mapa-content">
                    <div class="map" #map></div>
                 </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer" >
        <button icon="pi pi-times" (click)="verModalZona=false" pButton pRipple type="button" label="Cerrar" class="p-button-danger p-button-outlined"></button>
    </ng-template>
</p-dialog>

