<div class="row-fluid">
  <div class="row m-0">
    <div class="col-12 col-sm-6 form-group">
      <label class="label">Tipo Documento de Gestión:</label>
      <input class="form-control form-control-sm " type="text" [(ngModel)]="contrato.tipoDocumentoGestionDescripcion" disabled autocomplete="off" />
    </div>
    <div class="col-12 col-sm-6 form-group">
      <label for="procesoPostulacion">Proceso Postulación</label>
      <input class="form-control form-control-sm " type="text" [(ngModel)]="contrato.documentoGestion" disabled autocomplete="off"/>
    </div>
  </div>

  <p-fieldset legend="Datos del Postulante" [toggleable]="true">
    <div class="row m-0">
      <div class="col-sm-12 col-md-4 form-group">
        <label>Tipo Documento</label>
        <div class="form-control-selectk">
          <p-dropdown [disabled]="true" [(ngModel)]="titular.tipoDocumento"
            [options]="lstTipoDocumento" optionLabel="valor1" optionValue="codigo" placeholder="Seleccione">
          </p-dropdown>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 form-group">
        <label>Número Documento</label>
        <input disabled type="text" class="form-control" [(ngModel)]="titular.numeroDocumento">
      </div>

      <div class="col-sm-12 col-md-12 form-group">
        <label>Razón Social</label>
        <input disabled type="text" class="form-control" [(ngModel)]="titular.nombreCompleto">
      </div>

    </div>
  </p-fieldset>
  <br>

  <p-fieldset legend="Datos del Representante Legal" [toggleable]="true" *ngIf="isPerJuridica">
    <div class="row m-0">
      <div class="col-sm-12 col-md-4 form-group">
        <label>Tipo Documento</label>
        <div class="form-control-selectk">
          <p-dropdown [disabled]="true" [(ngModel)]="representante.tipoDocumento"
            [options]="lstTipoDocumento" optionLabel="valor1" optionValue="codigo" placeholder="Seleccione">
          </p-dropdown>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 form-group">
        <label>Número Documento</label>
        <input disabled type="text" class="form-control" [(ngModel)]="representante.numeroDocumento">
      </div>



      <div class="col-sm-12 col-md-12 form-group">
        <label>Nombre o Razón Social</label>
        <input disabled type="text" class="form-control" [(ngModel)]="representante.nombreCompleto">
      </div>

    </div>
    <br>


  </p-fieldset>




  <br>

  <ng-container *ngIf="!config.data.isNew">
    <p-fieldset legend="Adjuntar documentos" [toggleable]="true">
      <div class="col-sm-12 col-md-12 form-group">
        <label>Código Partida Registral</label>
        <input [disabled]="!config.data.isNew" type="text" class="form-control" [(ngModel)]="contrato.codigoPartidaRegistral">
      </div>
      <div class="row m-0">
        <div class="col-sm-12 col-md-12 form-group">
          <label>Copia literal de la inscripción registral del poder del representante legal</label>
        </div>
        <div class="col-sm-12 col-md-9 form-group">
          <upload-input-buttons [file]="fileLegal" [disabled]="config.data.isNew ||(!!fileLegal?.nombre && contrato.tipoDocumentoGestion=='TPMPFDM')"
            (registrarArchivo)="registrarArchivo($event, TipoArchivo.LEGAL, auxTipoArchivo.LEGAL)"
            (eliminarArchivo)="eliminarArchivo(this.contratoRequestEntity.archivoLegal, auxTipoArchivo.LEGAL)">
          </upload-input-buttons>
        </div>

        <div class="col-sm-12 col-md-12 form-group">
          <label>Documento de garantía de fiel cumplimiento</label>
        </div>
        <div class="col-sm-12 col-md-9 form-group">
          <upload-input-buttons [file]="fileGarantia" [disabled]="!isInputArffs ||(!!fileGarantia?.nombre &&contrato.tipoDocumentoGestion=='TPMPFDM')"
            (registrarArchivo)="registrarArchivo($event, TipoArchivo.GARANTIA, auxTipoArchivo.GARANTIA)"
            (eliminarArchivo)="eliminarArchivo(this.contratoRequestEntity.archivoGarantia, auxTipoArchivo.GARANTIA)">
          </upload-input-buttons>
        </div>

      </div>

      <div class="row m-0">
        <div class="col-sm-12 col-md-9 form-group">
          <label>Informe favorable de bienes, equipo y materiales</label>
          <upload-input-buttons [file]="fileBienes" [disabled]="!isInputArffs ||(!!fileBienes?.nombre && contrato.tipoDocumentoGestion=='TPMPFDM')"
            (registrarArchivo)="registrarArchivo($event, 'TDOCBIEM', auxTipoArchivo.BIENES)"
            (eliminarArchivo)="eliminarArchivo(this.contratoRequestEntity.archivoBienes, auxTipoArchivo.BIENES)">
          </upload-input-buttons>
        </div>
      </div>
    </p-fieldset>
    <br>

    <p-fieldset legend="Generar Contrato" [toggleable]="true">
      <div class="row m-0">
        <div class="col-sm-6 form-group">
          <label>Generar código De TH</label>
          <input type="text" [(ngModel)]="contrato.codigoTituloH" class="form-control" disabled>
        </div>
        <div class="col-sm-6 form-group">
          <label>&nbsp;</label>
          <div>
            <button type="button" [disabled]="seGenero" (click)="generarCodigo()" class="btn btn-sm btn-primary2">Generar</button>
          </div>
        </div>
      </div>

      <div class="row m-0">
        <div class="col-12">
          <label>Vigencia del contrato</label>
        </div>
        <div class="col-sm-12 col-md-6 form-group">
          <label>Desde</label>
          <div class="content-date">
            <input [(ngModel)]="contrato.fechaInicioContrato" name="fechaDesde" autocomplete="off" class="form-control" matInput
              [matDatepicker]="fechaDesde" [min]="minDate" readonly [disabled]="!isInputArffs">
            <i class="pi pi-calendar pointer" (click)="fechaDesde.open()"></i>
            <mat-datepicker #fechaDesde></mat-datepicker>
          </div>

        </div>
        <div class="col-sm-12 col-md-6 form-group">
          <label>Hasta</label>
          <div class="content-date">
            <input [(ngModel)]="contrato.fechaFinContrato" name="fechaHasta" autocomplete="off" class="form-control" matInput
              [matDatepicker]="fechaHasta" [min]="minDate" readonly [disabled]="!isInputArffs">
            <i class="pi pi-calendar pointer" (click)="fechaHasta.open()"></i>
            <mat-datepicker #fechaHasta></mat-datepicker>
          </div>
        </div>
      </div>
      <br>

      <div  class="row m-0 my-4">
        <div class="col-sm-12 col-md-12">
          <label class="mr-2">Información para Generar Contrato</label>
          <button (click)="descargarContrato()" [disabled]="!isInputArffs" type="button" class="btn btn-secondary">Descargar</button>
        </div>
      </div>

      <div class="row m-0">
        <div class="col-sm-12 col-md-6 form-group">
          <label>Cargar documento firmado</label>
          <upload-input-buttons [file]="fileContrato" [disabled]="!isInputArffs" [accept]="'.pdf'"
            (registrarArchivo)="registrarArchivo($event, TipoArchivo.FIRMA_ARFFS, auxTipoArchivo.CONTRATO)"
            (eliminarArchivo)="eliminarArchivo(this.contratoRequestEntity.archivoContrato, auxTipoArchivo.CONTRATO)">
          </upload-input-buttons>
        </div>

        <div *ngIf="mostrarDocPostulante" class="col-sm-12 col-md-6 form-group">
          <label>Cargar documento postulante</label>
          <upload-input-buttons [file]="fileContratoTitular" [disabled]="!isPostulanteSesion" [accept]="'.pdf'"
            (registrarArchivo)="registrarArchivo($event, TipoArchivo.FIRMA_POSTULANTE, auxTipoArchivo.FIRMAPOS)"
            (eliminarArchivo)="eliminarArchivo(this.contratoRequestEntity.archivoContrato, auxTipoArchivo.FIRMAPOS)">
          </upload-input-buttons>
        </div>
      </div>
    </p-fieldset>
  </ng-container>

  <div *ngIf="isBtnGuardar" class="col-12 mt-4 mb-3 text-right">
    <button icon="pi pi-save" (click)="guardarInformacionValida()" pButton pRipple type="button" label="Guardar" class="p-button-success p-button-outlined"></button>
  </div>

</div>


