<!-- <div
  class="row m-0 justify-content-center"
  *ngIf="enabledHabilitarContinuar || dataBase.disabled"
>
  <div class="row col-12">
    <h5>Otros Documentos Adjuntos</h5>
    <p>&nbsp;</p>
  </div>
</div>
<div
  class="row m-0 justify-content-center"
  *ngIf="!dataBase.disabled && enabledHabilitarContinuar"
  id="adjunto"
>
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Descripción de Documento</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control"
        [(ngModel)]="solArchivoAdjuntoc.descripcionArchivo"
        [disabled]="
          dataBase.disabled ||
          enabledControlOtorgamiento == 'true' ||
          isPerfilArffs
        "
        placeholder="Ingrese Descripción del Documento"
      />
    </div>
  </div>

  <div class="col-12 col-sm-4">
    <input-buttons
      [label]="'Otro Documento'"
      [idPlanManejo]="idPlanManejo"
      [idTipoDocumento]="77"
      [codigoProceso]="'PFCR'"
      (registrarArchivoId)="asignarDocumento($event, 77)"
    >
    </input-buttons>
  </div>

  <div
    class="col-12 col-sm-4 justify-content-center"
    *ngIf="!dataBase.disabled"
  >
    <div class="form-group">
      <label class="label"></label>
      <div class="input-group justify-content-center">
        <button
          pButton
          pRipple
          type="button"
          label="Grabar"
          [disabled]="isPerfilArffs"
          class="p-button-success p-button-outlined mr-2"
          (click)="grabarArchivo()"
        ></button>
      </div>
      <p>&nbsp;</p>
    </div>
  </div>
</div>

<div class="row m-0" *ngIf="enabledHabilitarContinuar">
  <div class="col-12">
    <p-table [value]="solicitud.listArchivo">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 120px">Acción</th>
          <th style="width: 60%">Descripción Archivo</th>
          <th style="width: 80%">Nombre Archivo</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
          <td class="text-center">
            <i
              (click)="
                !isPerfilArffs && openEliminarArchivo($event, rowIndex, data)
              "
              class="pi pi-trash pointer"
              title="Eliminar"
              style="margin-right: 5px"
            ></i>
            <span style="font-size: 8px"></span>
            <i
              (click)="descargarArchivoAdjunto(data)"
              class="pi pi-download pointer"
              title="Descargar"
            ></i>
            <span style="font-size: 8px"></span>
          </td>
          <td>
            <label>{{ data.descripcion }}</label>
          </td>
          <td>
            <label>{{ data.observacion }}</label>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<br />
<br />

<div class="row m-0">
  <div class="col-12 col-sm-3"></div>
  <div class="col-12 col-sm-6">
    <div class="form-group">
      <label class="col-12 label d-flex justify-content-center m-0"
        >Escala de Manejo</label
      >
      <div class="row input-group d-flex justify-content-center m-0">
        <div class="form-check form-check-inline">
          <div class="p-field-radiobutton">
            <label for="categoriaEscalaManejoAlta">Alta</label>
            &nbsp;
            <p-radioButton
              name="categoriaEscalaManejoAlta"
              value="Alta"
              inputId="categoriaEscalaManejoAlta"
              [(ngModel)]="solicitud.escalaManejo"
              [disabled]="
                dataBase.disabled ||
                enabledControlOtorgamiento == 'true' ||
                isPerfilArffs
              "
              (click)="habilitarAlta()"
            >
            </p-radioButton>
          </div>
        </div>
        <div class="form-check form-check-inline">
          <div class="p-field-radiobutton">
            <label for="categoriaEscalaManejoMedia">Media</label>
            &nbsp;
            <p-radioButton
              name="categoriaEscalaManejoMedia"
              value="Media"
              inputId="categoriaEscalaManejoMedia"
              [(ngModel)]="solicitud.escalaManejo"
              [disabled]="
                dataBase.disabled ||
                enabledControlOtorgamiento == 'true' ||
                isPerfilArffs
              "
              (click)="habilitaMedia()"
            >
            </p-radioButton>
          </div>
        </div>
        <div class="form-check form-check-inline">
          <div class="p-field-radiobutton">
            <label for="categoriaEscalaManejoBaja">Baja</label>
            &nbsp;
            <p-radioButton
              name="categoriaEscalaManejoBaja"
              value="Baja"
              inputId="categoriaEscalaManejoBaja"
              [(ngModel)]="solicitud.escalaManejo"
              [disabled]="
                dataBase.disabled ||
                enabledControlOtorgamiento == 'true' ||
                isPerfilArffs
              "
              (click)="habilitaBaja()"
            >
            </p-radioButton>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-3"></div>
</div>

<div
  class="row m-0 text-center"
  *ngIf="enabledHabilitarContinuar || dataBase.disabled"
>
  <div class="col-12 col-sm-12">
    <div class="form-group">
      <button
        pButton
        pRipple
        type="button"
        [disabled]="isPerfilArffs"
        label="Generar Declaración Jurada"
        class="p-button-success p-button-outlined mr-2 mb-2"
        (click)="declaracionJurada()"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        [disabled]="isPerfilArffs"
        label="Cargar Declaración Jurada"
        *ngIf="!dataBase.disabled"
        class="p-button-success p-button-outlined mr-2 mb-2"
        (click)="abrirModal()"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Descargar Declaración Jurada"
        [disabled]="
          solicitudCargaArchivo.solArchivoDecJur.nombreArchivo == '' ||
          isPerfilArffs
        "
        *ngIf="enabledControlGeneral || dataBase.disabled"
        class="p-button-success p-button-outlined mr-2 mb-2"
        (click)="onFileDowlandDC()"
      ></button>

      <button
        pButton
        pRipple
        type="button"
        [disabled]="isPerfilArffs"
        label="Plan General"
        class="p-button-success p-button-outlined mr-2 mb-2"
        *ngIf="enabledControlGeneral || solicitud.escalaManejo == 'Alta'"
        (click)="redireccionarGeneral()"
      ></button>
      <button
        pButton
        pRipple
        [disabled]="isPerfilArffs"
        type="button"
        label="Plan Operativo"
        class="p-button-success p-button-outlined mr-2 mb-2"
        *ngIf="enabledControlOperativo || solicitud.escalaManejo == 'Media'"
        (click)="redireccionarOperativo()"
      ></button>
      <button
        pButton
        pRipple
        [disabled]="isPerfilArffs"
        type="button"
        label="Formato de Declaracion"
        class="p-button-success p-button-outlined mr-2 mb-2"
        *ngIf="enabledControlDema || solicitud.escalaManejo == 'Baja'"
        (click)="redireccionarDema()"
      ></button>
    </div>
  </div>
</div>

<div
  class="row col-12 justify-content-end p-2"
  *ngIf="accion == 'evaluar' && dataBase.disabled"
>
  <span
    [ngClass]="{
      class1: isPendingPlan == true,
      class2: isObservedPlan == true,
      class3: isValidPlan == true
    }"
  ></span>
  <button
    class="btn btn-sm btn-primary2"
    (click)="openModalPlanManejo()"
    [disabled]="isPerfilArffs"
  >
    Evaluar Plan de Manejo
  </button>
</div>
<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup> -->
-->
