<div class="container-fluit  pt-4">
    <div class="row m-0">
        <div class="col-12">
            <p-accordion>
                <p-accordionTab header="2.1. Objetivo General" [selected]="true">
                    <div class="col-12">
                        <div class="form-group">
                            <textarea class="form-control" rows="4" [(ngModel)]="objetoManejo.general"
                                style="resize: none;" [disabled]="isDisbledObjFormu"></textarea>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="2.2. Objetivos Específicos" [selected]="false">
                    <div class="col-12">
                        <p-listbox [options]="lstObjetoEspecifico" [(ngModel)]="listObjeto"
                            (onChange)="tableListBoxSelectEvent($event)" [group]="true" [metaKeySelection]="false"
                            [checkbox]="true" [filter]="true" [multiple]="true" [listStyle]="{'max-height':'250px'}"
                            [style]="{'width':'100%'}" [disabled]="isDisbledObjFormu">
                            <ng-template let-group pTemplate="group">
                                <div class="p-d-flex p-ai-center">
                                    <span>{{group.label}}</span>
                                </div>
                            </ng-template>
                        </p-listbox>
                    </div>
                    <div *ngIf="checked == 1">
                        <div class="col-12">
                            <h3 class="title2">Otros:</h3>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <textarea class="form-control" rows="4" [(ngModel)]="valorOtro" style="resize: none;"
                                    [disabled]="isDisbledObjFormu"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row m-0 mt-4">
                        <div class="col-12">
                            <label class="m-0 mr-5 label">Se amplía información en el Anexo 4:</label>
                            <div class="p-field-radiobutton">
                                <strong for="Si">SI</strong>
                                <p-radioButton name="informacionAnexo3" value="S" inputId="Si"
                                    [(ngModel)]="valorAnexoAdjunto" [disabled]="isDisbledObjFormu">
                                </p-radioButton>
                            </div>
                            <div class="p-field-radiobutton">
                                <strong for="No">NO</strong>
                                <p-radioButton name="informacionAnexo3" value="N" inputId="No"
                                    [(ngModel)]="valorAnexoAdjunto" (onClick)="anexoN($event)" [disabled]="isDisbledObjFormu">
                                </p-radioButton>
                            </div>
                        </div>
                        <div class="col-12 p-0" [hidden]="valorAnexoAdjunto == 'N'">
                            <div *ngIf="valorAnexoAdjunto == 'S'">
                                <app-anexo-upload-file
                                [fileInfGenreal]="fileAnexo4"
                                [label]="'Adjuntar Evidencia:'"
                                [idPlanManejo]="idPGMF"
                                [idTipoDocumento]="codigo_anexo4"
                                [codigoProceso]="codigo_anexo4"
                                (registrarArchivoId)="cargarIdArchivo($event)"
                                [isDisbledObjFormu]="isDisbledObjFormu"
                                >
                                </app-anexo-upload-file>
                            </div>
                          </div>
                    </div>

                </p-accordionTab>

            </p-accordion>
        </div>
    </div>
    <div class="row m-0 mt-4 h-100 justify-content-center align-items-center">
        <div class="col-12 col-sm-10">
            <lineamiento-inner [base]="lineamiento" [titulo]="'Evaluación Lineamiento 4'" [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval">
                <ng-template #descripcion>
                    <div class="row m-0">
                        <div class="col-12">
                            <p class="fz-11 m-0 mb-1">Verificar que los objetivos propuestos guarden relación con las
                                actividades de aprovechamiento del plan a desarrollar.</p>
                            <p class="fz-11 m-0 mb-1 ml-4">Adicionalmente, si se hubiese planteado el aprovechamiento
                                complementario de productos forestales diferentes a la madera, ecoturismo, etc., revisar
                                que exista
                                coherencia con las actividades específicas que ello implica.</p>
                        </div>
                    </div>
                </ng-template>
            </lineamiento-inner>
        </div>
    </div>
    <div class="row m-0 mt-4">
        <div class="col-12">
            <div class="step__btn ">
                <button class="btn-primary2" (click)="regresarTab()"> Anterior</button>
                <button type="submit" class="btn-primary2" (click)="GuardarObjetoManejo()" [disabled]="isDisbledObjFormu"> Guardar</button>
                <button class="btn-primary2" (click)="siguienteTab()"> Siguiente</button>
            </div>
            <br />
        </div>
    </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem;"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem;"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>