<p-dialog
  appendTo="body"
  header="Solicitar Opinión"
  [(visible)]="verModalSolicitud"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
  (onHide)="close()"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label class="label">Entidad</label>
            <div class="form-control-selectk">
              <p-dropdown
                appendTo="body"
                [options]="comboEntidad"
                placeholder="Seleccionar Entidad"
                optionLabel="text"
                optionValue="text"
                [(ngModel)]="opinion.siglaEntidad"
                [disabled]="disabledComboEntidad || disabled"
              >
              </p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label class="label">Tipo de Documento</label>
            <div class="form-control-selectk">
              <p-dropdown
                appendTo="body"
                [options]="comboTipoDocumento"
                [disabled]="disabled"
                placeholder="Seleccionar Tipo Documento"
                optionLabel="valorPrimario"
                optionValue="codigo"
                [(ngModel)]="opinion.tipoDocumento"
              ></p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label class="label">Número de Documento</label>
            <input
              type="text"
              class="form-control form-control-sm"
              [(ngModel)]="opinion.numeroDocumento"
              placeholder="Ingrese Número de Documento"
              [maxlength]="100"
              autocomplete="off"
            />
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label class="label">Fecha de Documento</label>
            <div class="content-date">
              <input
                autocomplete="off"
                class="form-control"
                [min]="minDate"
                matInput
                [matDatepicker]="fecha"
                placeholder="Seleccione Fecha"
                readonly
                [(ngModel)]="opinion.fechaDocGestion"
              />
              <i class="pi pi-calendar pointer" (click)="fecha.open()"></i>
              <mat-datepicker #fecha [disabled]="disabled"></mat-datepicker>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label class="label">Asunto</label>
            <input
              type="text"
              class="form-control form-control-sm"
              placeholder="Ingrese Asunto"
              [(ngModel)]="opinion.asunto"
              [disabled]="disabled"
            />
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <app-carga-archivo-general
              accept=".pdf"
              [showMsjEliminar]="false"
              [tipoDoc]="''"
              label="Adjunto"
              [disabled]="disabled"
              (eliminarArchivo)="eliminarArchivoAdjunto()"
              (registrarArchivoFile)="registrarArchivoAdjunto($event)"
            >
            </app-carga-archivo-general>

            <!-- <upload-input-buttons
              (registrarArchivo)="registrarArchivoAdjunto($event)"
              (eliminarArchivo)="eliminarArchivoAdjunto()"
              [file]="archivoAdjunto"
              [label]="'Adjunto'"
              [disabled]="disabled"
              style="height: 32px"
            >
            </upload-input-buttons> -->
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <ng-container [ngTemplateOutlet]="accionesRef"> </ng-container>
  </ng-template>
</p-dialog>
