.icon {
  color: #4a962c;
}

.tr-no-bb {
  border-bottom: none !important;
}
.tr-no-bt {
  border-top: none !important;
}

.td-txt-area {
  min-width: 160px;
  border-radius: 7px;
}

.padding-8 {
  padding: 8px;
}

.display-row {
  display: flex;
  align-items: center;
}

.display-row-center {
  display: flex;
  justify-content: center;
}
.display-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
