<div class="row">
  <div class="col-12 form-group">
    <label for="contingencia">Contingencia:</label>
    <div *ngIf="isDisabled">
      <input
        type="text"
        id="contingencia"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="contingenciaObjt.contingencia"
        placeholder="Ingrese la medida de contingencia"
        [disabled]="isDisabled"
      />
    </div>
    <div *ngIf="!isDisabled">
      <p-dropdown
        [options]="listaContingencia"
        optionLabel="contingencia"
        optionValue="contingencia"
        placeholder="Selecciona la medida de contingencia"
        [(ngModel)]="contingenciaObjt.contingencia"
      ></p-dropdown>
    </div>
  </div>
  <div class="col-12 form-group">
    <label for="accionesRealizar">Acciones a realizar:</label>
    <input
      type="text"
      id="accionesRealizar"
      autocomplete="off"
      class="form-control contents_form_input"
      [(ngModel)]="contingenciaObjt.accionesRealizar"
      placeholder="Ingrese la accion a realizar"
      maxlength="250"
    />
  </div>

  <div class="col-12 form-group">
    <label for="responsable">Responsable:</label>
    <input
      type="text"
      id="responsable"
      autocomplete="off"
      class="form-control contents_form_input"
      [(ngModel)]="contingenciaObjt.responsable"
      placeholder="Ingrese al responsable"
      maxlength="250"
    />
  </div>
    <div class="col-12 mt-3 text-right">
      <button class="p-button-success p-button-outlined mr-2" type="button" icon="pi pi-save"
      pButton pRipple label="Guardar" (click)="agregar()"></button>
    <button class="p-button-danger p-button-outlined" type="button" icon="pi pi-times" pButton pRipple
      label="Cancelar" (click)="cerrarModal()"></button>
  </div>
</div>
