<div class="col-12">
  <div class="row col-12">
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Operaciones</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="especificacionesObjt.tratamientoSilvicultural"
        [disabled]="config.data.edit"
      />
    </div>
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Método y Diseño</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="especificacionesObjt.metodoConstruccion"
      />
    </div>
  </div>

  <div class="row col-12">
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Personal (tipo y número)</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="especificacionesObjt.manoObra"
      />
    </div>
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Maquina y Equipos (tipo y número)</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="especificacionesObjt.maquina"
      />
    </div>
  </div>
</div>

<div class="d-flex justify-content-end">
  <button
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
    label="Aceptar"
    class="p-button-success p-button-outlined"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
  ></button>
</div>
<p-toast></p-toast>
