<div class="container-fluid">
  <div class="row mt-3">
    <form class="col-12 p-0" [formGroup]="f">
      <p-accordion>
        <p-accordionTab header="1.1. De la Comunidad" [selected]="true">
          <div class="row m-0">
            <div class="col-10 pt-3">
              <div class="form-group">
                <label class="label fz-11">Nombre de la comunidad</label>
                <input
                  type="text"
                  readonly
                  placeholder="Ingrese datos..."
                  class="form-control"
                  formControlName="nombreComunidad"
                />
              </div>
            </div>
            <div class="col-sm-2 text-center">
              <div class="form-group">
                <div class="mb-4"><label class="label">&nbsp;</label></div>
                <button (click)="openModal()" [disabled]="disabled" class="btn btn-sm btn-secondary">Buscar</button>
              </div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 col-sm-3">
              <div class="form-group">
                <label class="label fz-11">DNI del Jefe de la Comunidad</label>
                <input
                  type="number"
                  [min]="0"
                  maxlength="8"
                  readonly
                  placeholder="Ingrese número de documento"
                  class="form-control"
                  formControlName="dniJefeComunidad"
                />
              </div>
            </div>
            <div class="col-12 col-sm-3">
              <div class="form-group">
                <label class="label fz-11">Nombres</label>
                <input
                  type="text"
                  readonly
                  placeholder="Ingrese nombres"
                  class="form-control"
                  formControlName="nombresJefeComunidad"
                />
              </div>
            </div>
            <div class="col-12 col-sm-3">
              <div class="form-group">
                <label class="label fz-11">Apellido Paterno</label>
                <input
                  type="text"
                  readonly
                  placeholder="Ingrese apellido paterno"
                  class="form-control"
                  formControlName="apellidoPaternoJefeComunidad"
                />
              </div>
            </div>
            <div class="col-12 col-sm-3">
              <div class="form-group">
                <label class="label fz-11">Apellido Materno</label>
                <input
                  type="text"
                  readonly
                  placeholder="Ingrese apellido materno"
                  class="form-control"
                  formControlName="apellidoMaternoJefeComunidad"
                />
              </div>
            </div>
          </div>

          <div class="row m-0">
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label fz-11">Departamento</label>
                <div class="form-control-selectk">
                  <p-dropdown
                    appendTo="body"
                    placeholder="Seleccione"
                    [options]="listDepartamento"
                    optionValue="idDepartamento"
                    optionLabel="nombreDepartamento"
                    [readonly]="true"
                    styleClass="bg-gray"
                    formControlName="idDepartamento"
                  >
                  </p-dropdown>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label fz-11">Provincia</label>
                <div class="form-control-selectk">
                  <p-dropdown
                    appendTo="body"
                    placeholder="Seleccione"
                    [options]="listProvincia"
                    optionValue="idProvincia"
                    optionLabel="nombreProvincia"
                    [readonly]="true"
                    styleClass="bg-gray"
                    formControlName="idProvincia"
                  >
                  </p-dropdown>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label fz-11">Distrito</label>
                <div class="form-control-selectk">
                  <p-dropdown
                    appendTo="body"
                    placeholder="Seleccione"
                    [options]="listDistrito"
                    optionValue="idDistrito"
                    optionLabel="nombreDistrito"
                    [readonly]="true"
                    styleClass="bg-gray"
                    formControlName="idDistrito"
                  >
                  </p-dropdown>
                </div>
              </div>
            </div>
          </div>

          <div class="row m-0">
            <div class="col-12">
              <div class="form-group">
                <label class="label fz-11"
                  >Federación u Organización a la que Pertenece la
                  Comunidad</label
                >
                <input
                  type="text"
                  placeholder="Ingrese datos..."
                  class="form-control"
                  maxlength="250" [readOnly]="disabled"
                  formControlName="federacionComunidad"
                />
              </div>
            </div>
          </div>

          <div class="row m-0">
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label fz-11">RUC</label>
                <input
                  type="text"
                  readonly
                  placeholder="Ingrese datos..."
                  class="form-control"
                  formControlName="nroRucComunidad"
                />
              </div>
            </div>
            <!-- <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label fz-11">Cuenca</label>
                <div class="form-control-selectk">
                  <p-dropdown
                    appendTo="body"
                    placeholder="Seleccionar"
                    [options]="cuencas" [disabled]="disabled"
                    optionValue="code"
                    optionLabel="name"
                    formControlName="cuenca"
                  >
                  </p-dropdown>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label fz-11">SubCuenca</label>
                <div class="form-control-selectk">
                  <p-dropdown
                    appendTo="body"
                    placeholder="Seleccionar"
                    [options]="subCuenca"
                    optionValue="code" [disabled]="disabled"
                    optionLabel="name"
                    formControlName="subCuenca"
                  >
                  </p-dropdown>
                </div>
              </div>
            </div> -->
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label fz-11">Cuenca</label>
                <div class="form-control-selectk">
                  <p-dropdown
                    appendTo="body"
                    formControlName="cuenca"
                    placeholder="Seleccione"
                    optionLabel="cuenca"
                    optionValue="idCuenca"
                    [options]="listCuenca"
                    [disabled]="disabled"
                    (onChange)="onSelectedCuenca($event)"
                  >
                  </p-dropdown>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label fz-11">SubCuenca</label>
                <div class="form-control-selectk">
                  <p-dropdown
                    appendTo="body"
                    formControlName="subCuenca"
                    placeholder="Seleccione"
                    optionLabel="subCuenca"
                    optionValue="idSubCuenca"
                    [options]="listSubcuenca"
                    [disabled]="disabled || !listSubcuenca.length"
                  >
                  </p-dropdown>
                </div>
              </div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label fz-11">N° Anexos </label>
                <input
                  placeholder="Ingrese datos..."
                  class="form-control"
                  [readOnly]="disabled"
                  decimal
                  [min]="0"
                  [maxLength]="5"
                  formControlName="nroAnexosComunidad"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label fz-11"
                  >N° de Resolución de Reconocimiento
                </label>
                <input
                  type="text"
                  placeholder="Ingrese datos..."
                  class="form-control" [readOnly]="disabled"
                  formControlName="nroResolucionComunidad"
                  maxlength="50"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label fz-11">N° de Título de la Propiedad </label>
                <input
                  type="text"
                  placeholder="Ingrese datos..." [readOnly]="disabled"
                  class="form-control"
                  formControlName="nroTituloPropiedadComunidad"
                  maxlength="50"
                />
              </div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label fz-11">N° Total de Familias </label>
                <input
                  placeholder="Ingrese datos..." [readOnly]="disabled"
                  class="form-control"
                  decimal
                  [min]="0"
                  [maxLength]="4"
                  formControlName="nroTotalFamiliasComunidad"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label fz-11">Área Concesión (ha)</label>
                <input
                  readonly
                  placeholder="Ingrese datos..."
                  class="form-control"
                  decimal
                  [min]="0"
                  [maxLength]="12"
                  [decimalPlaces]="2"
                  formControlName="areaTotal"
                />
              </div>
            </div>
            <div class="col-12  col-sm-4">
              <visor-pdf-shared [idArchivo]="2139"></visor-pdf-shared>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="1.2. De la DEMA">
          <div class="row m-0">
            <div class="col-12 col-sm-4 pt-3">
              <div class="form-group">
                <label class="label fz-11">Fecha Inicio</label>
                <div class="content-date">
                  <input
                    autocomplete="off"
                    (click)="fechaI.open()"
                    class="form-control"
                    matInput [disabled]="disabled"
                    [matDatepicker]="fechaI"
                    formControlName="fechaInicioDema"
                  />
                  <i class="pi pi-calendar pointer" (click)="!disabled&&fechaI.open()"></i>
                  <mat-datepicker #fechaI></mat-datepicker>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4 pt-3">
              <div class="form-group">
                <label class="label fz-11">Fecha Final</label>
                <div class="content-date">
                  <input
                    autocomplete="off"
                    (click)="fechaF.open()"
                    class="form-control" [disabled]="disabled"
                    matInput
                    [matDatepicker]="fechaF"
                    formControlName="fechaFinDema"
                  />
                  <i class="pi pi-calendar pointer" (click)="!disabled&&fechaF.open()"></i>
                  <mat-datepicker #fechaF></mat-datepicker>
                </div>
              </div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 col-sm-8">
              <div class="form-group">
                <label class="label fz-11">DNI Elaborador</label>
                <input
                  *ngIf="codTipoPersona === 'TPERJURI'"
                  [min]="0"
                  [maxLength]="8"
                  numero [readOnly]="disabled"
                  placeholder="Ingrese número de documento"
                  class="form-control"
                  formControlName="documentoRepresentante"
                />
                <input
                  *ngIf="codTipoPersona !== 'TPERJURI'"
                  [min]="0"
                  [maxLength]="8"
                  numero [readOnly]="disabled"
                  placeholder="Ingrese número de documento"
                  class="form-control"
                  formControlName="dniElaboraDema"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div><label>&nbsp;&nbsp;</label></div>
              <button (click)="validarTitular()"  [disabled]="disabled"  class="btn btn-secondary mb-3">
                Validar
              </button>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label fz-11">Nombres Elaborador</label>
                <input
                  *ngIf="codTipoPersona === 'TPERJURI'"
                  type="text"
                  placeholder="Ingrese nombres"
                  class="form-control"
                  maxlength="50"
                  formControlName="nombreRepresentante"
                  lettersAndSpace
                  [readOnly]="true"
                />
                <input
                  *ngIf="codTipoPersona !== 'TPERJURI'"
                  type="text"
                  placeholder="Ingrese nombres"
                  class="form-control"
                  maxlength="50"
                  formControlName="nombreElaboraDema"
                  lettersAndSpace
                  [readOnly]="true"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label fz-11">Apellido Paterno Elaborador</label>
                <input
                  *ngIf="codTipoPersona === 'TPERJURI'"
                  type="text"
                  placeholder="Ingrese apellido paterno"
                  class="form-control"
                  formControlName="apellidoPaternoRepresentante"
                  maxlength="50"
                  lettersAndSpace
                  [readOnly]="true"
                />
                <input
                  *ngIf="codTipoPersona !== 'TPERJURI'"
                  type="text"
                  placeholder="Ingrese apellido paterno"
                  class="form-control"
                  formControlName="apellidoPaternoElaboraDema"
                  maxlength="50"
                  lettersAndSpace
                  [readOnly]="true"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label fz-11">Apellido Materno Elaborador</label>
                <input
                  *ngIf="codTipoPersona === 'TPERJURI'"
                  type="text"
                  placeholder="Ingrese apellido materno"
                  class="form-control"
                  formControlName="apellidoMaternoRepresentante"
                  maxlength="50"
                  lettersAndSpace
                  [readOnly]="true"
                />
                <input
                  *ngIf="codTipoPersona !== 'TPERJURI'"
                  type="text"
                  placeholder="Ingrese apellido materno"
                  class="form-control"
                  formControlName="apellidoMaternoElaboraDema"
                  maxlength="50"
                  lettersAndSpace
                  [readOnly]="true"
                />
              </div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label fz-11"
                  >N° Familias Involucradas en el Aprovechamiento Forestal
                </label>
                <input
                  placeholder="Ingrese N° Familias"
                  class="form-control"
                 [readOnly]="disabled"
                 decimal
                  [min]="0"
                  [maxLength]="4"
                  formControlName="nroPersonasInvolucradas"
                />
              </div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12">
              <label class="label title2 fz-12"
                >Aprovechamiento Maderable</label
              >
            </div>
            <div class="col-12">
              <div class="container-border pt-2">
                <div class="row m-0">
                  <div class="col-12 col-sm-3">
                    <div class="form-group">
                      <label class="label fz-11"
                        >N° Total de Arboles Maderables para Aprovechar</label
                      >
                      <input
                        readonly
                        placeholder="Ingrese N° Total"
                        type="number"
                        class="form-control"
                        formControlName="nroArbolesMaderables"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-3">
                    <div class="form-group">
                      <label class="label fz-11"
                        >N° Total de Arboles Maderables Semilleros</label
                      >
                      <input
                        readonly
                        placeholder="Ingrese N° Total"
                        type="number"
                        class="form-control"
                        formControlName="nroArbolesMaderablesSemilleros"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-3">
                    <div class="form-group">
                      <label class="label fz-11"
                        >Superficie para el Aprovechamiento Maderable
                        (ha)</label
                      >
                      <input
                        placeholder="Ingrese Superficie"
                        class="form-control"
                        formControlName="superficieHaMaderables"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-3">
                    <div class="form-group">
                      <label class="label fz-11"
                        >Volumen Maderable Total para Aprovechar(m3 etc.)</label
                      >
                      <input
                        readonly
                        placeholder="Ingrese Volumen"
                        decimal
                        class="form-control"
                        formControlName="volumenM3rMaderables"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 pt-2 pb-2">
              <div class="p-field-checkbox">
                <!-- <p-checkbox
                  [binary]="true" [disabled]="disabled"
                  formControlName="aprovechamientoNoMaderable"
                  inputId="check"
                  (onChange)="changeAprovechamiento($event.checked)"
                >
                </p-checkbox> -->
                <p-checkbox
                [binary]="true"
                formControlName="aprovechamientoNoMaderable"
                inputId="check"
                (onChange)="changeAprovechamiento($event.checked)"
                [disabled]="true"
              >
              </p-checkbox>
                <label class="m-0 pl-2 pointe label fz-11r" for="check">
                  ¿Existe Aprovechamiento no Maderable?
                </label>
              </div>
            </div>

            <div
              class="col-12"
              *ngIf="f.controls.aprovechamientoNoMaderable.value"
            >
              <div class="container-border pt-2">
                <div class="row m-0">
                  <div class="col-12 col-sm-3">
                    <div class="form-group">
                      <label class="label fz-11"
                        >N° Total de Arboles No Maderables para
                        Aprovechar</label
                      >
                      <input
                        placeholder="Ingrese N° Total"
                        class="form-control"
                        readonly
                        type="number"
                        numero
                        formControlName="nroArbolesNoMaderables"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-3">
                    <div class="form-group">
                      <label class="label fz-11"
                        >N° Total de Arboles No Maderables Semilleros</label
                      >
                      <input
                        placeholder="Ingrese N° Total"
                        class="form-control"
                        readonly
                        type="number"
                        numero
                        formControlName="nroArbolesNoMaderablesSemilleros"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-3">
                    <div class="form-group">
                      <label class="label fz-11"
                        >Superficie para el Aprovechamiento No Maderable
                        (ha)</label
                      >
                      <input
                        placeholder="Ingrese Superficie"
                        class="form-control"
                        readonly
                        decimal
                        formControlName="superficieHaNoMaderables"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-3">
                    <div class="form-group">
                      <label class="label fz-11"
                        >Volumen No Maderable Total para Aprovechar(m3
                        etc.)</label
                      >
                      <input
                        placeholder="Ingrese Volumen"
                        class="form-control"
                        readonly
                        decimal
                        formControlName="volumenM3rNoMaderables"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row m-0 mt-4">
            <div class="col-12">
              <label class="label title2 fz-12">Utilidades</label>
            </div>
            <div class="col-12">
              <div class="container-border pt-2">
                <div class="row m-0">
                  <div class="col-12 col-sm-4">
                    <div class="form-group">
                      <label class="label fz-11"
                        >Total de ingresos estimado (S/)</label
                      >
                      <input
                        placeholder="Ingrese Total de ingresos"
                        class="form-control"
                        decimal [disabled]="disabled"
                        [min]="0"
                        [maxLength]="15"
                        [decimalPlaces]="2"
                        (change)="onChangeEvent($event)"
                        formControlName="totalIngresosEstimado"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-4">
                    <div class="form-group">
                      <label class="label fz-11"
                        >Total de costos estimado (S/)</label
                      >
                      <input
                        placeholder="Ingrese Total de costos"
                        class="form-control"
                        decimal [readOnly]="disabled"
                        [min]="0"
                        [maxLength]="15"
                        [decimalPlaces]="2"
                        (change)="onChangeEventCosto($event)"
                        formControlName="totalCostoEstimado"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-4">
                    <div class="form-group">
                      <label class="label fz-11"
                        >Total de utilidades estimado (S/)</label
                      >
                      <input type="number"
                        placeholder="Ingrese Total de utilidades"
                        class="form-control"
                        decimal
                        [min]="0"
                        [maxLength]="15"
                        [decimalPlaces]="2"
                        readonly
                        (change)="onChangeEventUtilidad($event)"
                        formControlName="totalUtilidadesEstimado"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab
          header="1.3. De los Regímenes Promocionales Aplicables al Aprovechamiento Forestal"
        >
          <div class="row m-0">
            <div class="col-12 p-0 pt-3">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Detalle de consultas</th>
                    <th scope="col">Respuesta</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <ng-container formArrayName="lstUmf"> -->
                  <!-- <ng-container *ngFor="let itemForm of detalle.controls; let i=index" [formGroupName]="i"> -->
                  <tr *ngFor="let item of detalle; let i=index">
                    <td class="text-left">{{item?.descripcion}}</td>
                    <td>
                      <div class="p-field-radiobutton">
                        <label class="label title2 fz-11 mr-1" for="SI{{i}}"
                          >SI</label
                        >
                        <p-radioButton
                          [(ngModel)]="item.detalle"
                          name="r{{i}}" [disabled]="disabled"
                          value="SI"
                          inputId="SI{{i}}"
                          [ngModelOptions]="{standalone: true}"
                        >
                        </p-radioButton>
                      </div>
                      <div class="p-field-radiobutton">
                        <label class="label title2 fz-11 mr-1" for="NO{{i}}"
                          >NO</label
                        >
                        <p-radioButton
                          [(ngModel)]="item.detalle"
                          name="r{{i}}"
                          value="NO" [disabled]="disabled"
                          inputId="NO{{i}}"
                          [ngModelOptions]="{standalone: true}"
                        >
                        </p-radioButton>
                      </div>
                    </td>
                  </tr>
                  <!-- </ng-container> -->
                  <!-- </ng-container> -->
                </tbody>
              </table>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">

          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon1"
            [base]="evaluacion_1">
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>


      </p-accordion>
    </form>
  </div>
  <div class="step__btn mt-4" *ngIf="!isPerfilArffs">
    <button class="btn-primary2" type="button" (click)="guardar()" [disabled]="disabled">
      Guardar
    </button>
    <button class="btn-primary2" (click)="siguiente.emit()">Siguiente</button>
  </div>

  <div class="step__btn mt-4" *ngIf="isPerfilArffs">
    <message-evaluation ></message-evaluation>
    <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="registrarEvaluacion()">
      Guardar Evaluación
    </button>
    <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">Retornar Flujo Evaluacion</button>
    <button class="btn-primary2" (click)="siguiente.emit()">Siguiente</button>
  </div>
  <br />
</div>

<p-dialog
  appendTo="body"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{width: '40vw'}"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <p-header>
    <div class="d-flex justify-content-start">
      <span>
        <i class="pi pi-exclamation-triangle color"></i>
      </span>
    </div>
  </p-header>
  <div class="pl-4">
    <span>
      Se autocompletará con información de la solicitud de permiso forestal seleccionada.
    </span>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="closeModal()"
      label="Aceptar"
      class="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
