<div class="container-fluid">
  <!-- <app-mapa #map2 (loadFile)="loadShape($event)" [disabled]="disabled" (isEdited)="fieldMap.isEditedMap = true"
    (deleteLayer)="deleteLayer($event)" (deleteAll)="deleteAllLayers()">
  </app-mapa> -->
  <app-map-custom-pmfi #map
    [idPlanManejo]="idPlanManejo"
    [codigoProceso]="codigoProceso"
    [codigoSubSeccion]="codigoSubSeccion"
    [showBotonCargarCustom]="false"
    [showBotonCargarGeneral]="true"
    [tipoGeometria]="'TPAREA'"
    (listVerticesAreaPredio)="listarVerticesAreaPredio($event)"
    (areaTotalPredio)="areaTotalPredio($event)"
    (listVerticesAreaManejo)="listarVerticesAreaManejo($event)"
    (areaTotalManejo)="areaTotalManejo($event)"
    (listFisiografia)="listarFisiografiaE($event)">

  </app-map-custom-pmfi>

  <!-- <button type="button" [disabled]="disabled" class="btn btn-sm btn-secondary mr-4" style="width: 200px" (click)="guardarShapes()">
    Guardar Shapefiles
  </button> -->
  <button type="button" [disabled]="disabled" class="btn btn-sm btn-primary2 mr-4" style="width: 200px"
    (click)="abrirUrlMapa()">
    Mapa de Cobertura Vegetal
  </button>
  <label *ngIf="fieldMap.isEditedMap" class="lbl-local-change mt-3 mb-3">
    (Los cambios locales se guardarán pulsando el botón "Guardar Shapefiles".)
  </label>

  <div class="row mt-3">
    <div class="col-12 p-0">
      <p-accordion>
        <p-accordionTab header="Parcelas de corta (PC)" [selected]="false">
          <app-parcela-corta
            [idPGMF]="idPlanManejo"
            [disabled]="disabled || isPerfilArffs"
            [isDisbledObjFormu]="disabled"
            [idUsuario]="idUsuario"
            [idOrdenamientoProteccion] ="idOrdenamientoProteccion"
          ></app-parcela-corta>
        </p-accordionTab>
        <p-accordionTab header="3.1 Ubicación" [selected]="false">
          <div class="row m-0 mt-3">
            <div class="col-12">
              <h3 class="title2 fz-12 pb-1 bb-title">
                3.1.1 Ubicación Política
              </h3>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Departamento</label>
                <div class="form-control-selectk">
                  <input type="text" [(ngModel)]="departamento" class="form-control" placeholder="" disabled />
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Provincia</label>
                <div class="form-control-selectk">
                  <input type="text" [(ngModel)]="provincia" class="form-control" placeholder="" disabled />
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Distrito</label>
                <div class="form-control-selectk">
                  <input type="text" [(ngModel)]="distrito" class="form-control" placeholder="" disabled />
                </div>
              </div>
            </div>
            <!-- <div class="col-12 col-sm-3">
              <div class="form-group">
                <label class="label">Sector/Cuenca</label>
                <input type="text" class="form-control" [(ngModel)]="cuenca" [disabled]="disabled" />
              </div>
            </div> -->
          </div>
          <div class="row m-0">
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Cuenca</label>
                <div class="form-control-selectk">
                  <p-dropdown
                    [options]="listCuenca"
                    [(ngModel)]="idCuenca"
                    optionLabel="cuenca"
                    optionValue="idCuenca"
                    (onChange)="onSelectedCuenca($event)"
                    placeholder="Seleccione"
                    [disabled]="disabled"
                  ></p-dropdown>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Subcuenca</label>
                <div class="form-control-selectk">
                  <p-dropdown
                    [options]="listSubcuenca"
                    [(ngModel)]="idSubcuenca"
                    optionLabel="subCuenca"
                    optionValue="idSubCuenca"
                    placeholder="Seleccione"
                    [disabled]="disabled || !listSubcuenca.length"
                  ></p-dropdown>
                </div>
              </div>
            </div>
          </div>
          <div class="step__btn mt-2 mb-4">
            <button
              type="submit"
              class="btn-primary2"
              (click)="registrarUbicacionPolitica()"
              [disabled]="disabled"
            >
              Guardar
            </button>
          </div>
          <div class="row m-0 mt-3">
            <div class="col-12">
              <h3 class="title2 fz-12 pb-1 bb-title">
                3.1.2 Ubicación Geográfica del Área del Predio, Comunidad o Área
                Concedida por el estado
              </h3>
              <upload-button label="Cargar Shapefile de puntos" accept=".zip" style="width: 200px" [disabled]="disabled"
                icon="upload" (change)="cargarAreaPredio($event)">
              </upload-button>
            </div>
            <div class="col-12">
              <table class="table">
                <thead>
                  <tr>
                    <th class="p-0" colspan="3">
                      <span>Coordenada UTM (Zona, Datum WGS84)</span>
                      <div class="control-title-table">
                        <div class="form-control-selectk"></div>
                      </div>
                    </th>
                  </tr>
                  <tr>
                    <th style="width: 200px">Vértice</th>
                    <th>Este (E)</th>
                    <th>Norte (N)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of lstUbicacionGeografica">
                    <td>{{ data.vertice }}</td>
                    <td>{{ data.este }}</td>
                    <td>{{ data.norte }}</td>
                  </tr>
                  <tr>
                    <th class="total">Superficie (ha)</th>
                    <td></td>
                    <td>{{ fieldMap?.totalAreaPredio | number: "1.2-3" }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="step__btn mt-4 mb-2">
              <button
                type="submit"
                class="btn-primary2"
                (click)="registrarUbicacionGeografica()"
                [disabled]="disabled || lstUbicacionGeografica.length == 0"
              >
                Guardar
              </button>
            </div>
          </div>
          <div class="row m-0 mt-3">
            <div class="col-12">
              <h3 class="title2 fz-12 pb-1 bb-title">
                3.1.3 Ubicación del Área de Manejo
              </h3>
              <upload-button label="Cargar Shapefile de puntos" accept=".zip" [disabled]="disabled" style="width: 200px"
                icon="upload" (change)="cargarAreaManejo($event)">
              </upload-button>
            </div>
            <div class="col-12">
              <table class="table">
                <thead>
                  <tr>
                    <th class="p-0" colspan="3">
                      <span>Coordenada UTM (Zona, Datum WGS84) </span>
                      <div class="control-title-table">
                        <div class="form-control-selectk"></div>
                      </div>
                    </th>
                  </tr>
                  <tr>
                    <th style="width: 200px">Vértice</th>
                    <th>Este (E)</th>
                    <th>Norte (N)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of lstUbicacionAreaManejo">
                    <td>{{ data.vertice }}</td>
                    <td>{{ data.este }}</td>
                    <td>{{ data.norte }}</td>
                  </tr>
                  <tr>
                    <th class="total">Superficie (ha)</th>
                    <td></td>
                    <td>{{ fieldMap?.totalAreaManejo | number: "1.2-3" }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="step__btn mt-4 mb-2">
              <button
                type="submit"
                class="btn-primary2"
                (click)="registrarUbicacionArea()"
                [disabled]="disabled || lstUbicacionAreaManejo.length == 0"
              >
                Guardar
              </button>
            </div>
          </div>

          <br><br>
          <evaluacion-archivo-shared *ngIf="isPerfilArffs"
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon_3_1"
            [base]="detEvaluacion_3_1"
          ></evaluacion-archivo-shared>
        </p-accordionTab>

        <p-accordionTab header="3.2 Accesibilidad" [selected]="false">
          <div class="row m-0 mt-3">
            <div class="col-12">
              <h3 class="title2 fz-12 pb-1 bb-title">
                3.2.1 Rutas o Vías Terrestres o Fluviales al Predio, Comunidad o
                Área Concedida por el Estado
              </h3>
            </div>
          </div>
          <div class="row m-0 mt-3">
            <div class="col-12 pt-2 text-right">
              <button icon="pi pi-plus" [disabled]="disabled" (click)="abrirModal('C', '1', 0)" pButton pRipple
                type="button" abel="" class="p-button-success p-button-text"></button>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 pt-2">
              <table class="table table-boderk">
                <thead>
                  <tr>
                    <th>Acciones</th>
                    <th>Punto de Referencia</th>
                    <th>Distancia aproximada (Km)</th>
                    <th>Tiempo (Horas)</th>
                    <th>Medio Transporte</th>
                    <th>Época/Periodo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of lstAccesibilidad1; let i = index">
                    <td>
                      <span (click)="!disabled&&abrirModal('E', '1', i, data)" class="pointer mr-3" title="Editar">
                        <i class="pi pi-pencil"></i>
                      </span>
                      <span class="ml-2" (click)="!disabled&&openEliminar($event, '1', i, data)" class="pointer"
                        title="Eliminar">
                        <i class="pi pi-trash"></i>
                      </span>
                    </td>
                    <td>{{ data.referencia }}</td>
                    <td>{{ data.distanciaKm }}</td>
                    <td>{{ data.tiempo }}</td>
                    <td>{{ data.medioTransporte }}</td>
                    <td>{{ data.epoca }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row m-0 mt-3">
            <div class="col-12">
              <h3 class="title2 fz-12 pb-1 bb-title">
                3.2.2 Rutas o Vías de Acceso al Área de la UMF
              </h3>
            </div>
          </div>
          <div class="row m-0 mt-3">
            <div class="col-12 pt-2 text-right">
              <button icon="pi pi-plus" [disabled]="disabled" (click)="abrirModal('C', '2', 0)" pButton pRipple
                type="button" abel="" class="p-button-success p-button-text"></button>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 pt-2">
              <table class="table table-boderk">
                <thead>
                  <tr>
                    <th>Acciones</th>
                    <th>Punto de Referencia</th>
                    <th>Distancia aproximada (Km)</th>
                    <th>Tiempo (Horas)</th>
                    <th>Medio Transporte</th>
                    <th>Época/Periodo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of lstAccesibilidad2; let i = index">
                    <td>
                      <span (click)="!disabled&&abrirModal('E', '2', i, data)" class="pointer mr-3" title="Editar">
                        <i class="pi pi-pencil"></i>
                      </span>
                      <span class="ml-2" (click)="!disabled&&openEliminar($event, '2', i, data)" class="pointer"
                        title="Eliminar">
                        <i class="pi pi-trash"></i>
                      </span>
                    </td>
                    <td>{{ data.referencia }}</td>
                    <td>{{ data.distanciaKm }}</td>
                    <td>{{ data.tiempo }}</td>
                    <td>{{ data.medioTransporte }}</td>
                    <td>{{ data.epoca }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row m-0 mt-3">
            <div class="col-12 pt-2">
              <button 
                type="submit" 
                class="btn btn-sm btn-primary2 ml-4"
                (click)="guardarAccesibilidad()" 
                type="button"
                [disabled]="disabled"
              >
                Guardar
              </button>
            </div>
          </div>

          <br><br>
          <evaluacion-archivo-shared *ngIf="isPerfilArffs"
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon_3_2"
            [base]="detEvaluacion_3_2"
          ></evaluacion-archivo-shared>

        </p-accordionTab>

        <p-accordionTab header="3.3 Aspectos Físicos (Hidrografía y Fisiografía)" [selected]="false">
          <div class="row m-0 mt-3">
            <div class="col-12">
              <h3 class="title2 fz-12 pb-1 bb-title">3.3.1 Cuerpos de Agua</h3>
            </div>
          </div>
          <div class="row m-0 mt-3">
            <div class="col-12 pt-2 text-right">
              <button icon="pi pi-plus" [disabled]="disabled" (click)="abrirModalCuerposAgua('C', 0)" pButton pRipple
                type="button" abel="" class="p-button-success p-button-text"></button>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 pt-2">
              <table class="table table-boderk">
                <thead>
                  <tr>
                    <th>Acciones</th>
                    <th>Ríos (principales y secundarios)</th>
                    <th>Quebradas</th>
                    <th>Lagunas (cochas)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="
                      let data of lstAspectoFisicoHidrografia;
                      let i = index
                    ">
                    <td>
                      <span (click)="!disabled&&abrirModalCuerposAgua('E', i, data)" class="pointer mr-3"
                        title="Editar">
                        <i class="pi pi-pencil"></i>
                      </span>
                      <span class="ml-2" (click)="!disabled&&
                          openEliminarCuerposAgua($event, 'PMFRIO', i, data)
                        " class="pointer" title="Eliminar">
                        <i class="pi pi-trash"></i>
                      </span>
                    </td>
                    <td>{{ data.nombreRio }}</td>
                    <td>{{ data.nombreQuebrada }}</td>
                    <td>{{ data.nombreLaguna }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row m-0 mt-3">
            <div class="col-12 pt-2">
              <button 
                type="submit" 
                class="btn btn-sm btn-primary2 ml-4"
                (click)="registrarAspectosFisicos()" 
                type="button"
                [disabled]="disabled"
              >
                Guardar
              </button>
            </div>
          </div>

          <div class="row m-0 mt-3">
            <div class="col-12">
              <h3 class="title2 fz-12 pb-1 bb-title">
                3.3.2 Principales Unidades Fisiográficas en el Área
              </h3>
            </div>
            <upload-button label="Cargar Shapefile Área" accept=".zip" style="width: 200px" [disabled]="disabled"
              icon="upload" (change)="cargarUnidadFisiografica($event)">
            </upload-button>
          </div>
          <div class="row m-0 mt-3">
            <!-- <div class="col-12 pt-2 text-right">
                            <button icon="pi pi-plus" (click)="abrirModal3('C')" pButton pRipple type="button" abel="" class="p-button-success p-button-text">
                            </button>
                        </div> -->
          </div>
          <div class="row m-0">
            <div class="col-12 pt-2">
              <table class="table table-boderk">
                <thead>
                  <tr>
                    <!-- <th>Acciones</th> -->
                    <th>Unidades fisiográficas</th>
                    <th>Area (ha)</th>
                    <th>%</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="
                      let data of listaFisiografiaUMF;
                      let i = index
                    ">
                    <!-- <td>
                                            <span (click)="abrirModal3('E', data)" class="pointer mr-3"
                                            title="Editar">
                                            <i class="pi pi-pencil"></i>
                                            </span>
                                            <span class="ml-2" (click) = "openEliminar2($event, 'PMFIUF', i, data)"  class="pointer" title="Eliminar">
                                                <i class="pi pi-trash"></i>
                                            </span>
                                        </td> -->
                    <td>{{ data.descripcion }}</td>
                    <td>{{ data.areaHa | number: "1.2-3" }}</td>
                    <td>{{ data.areaHaPorcentaje | number: "1.2-2" }}</td>
                  </tr>
                  <tr>
                    <th class="total">Superficie (ha)</th>
                    <td>
                      {{ totalSumaUF | number: "1.2-3" }}
                    </td>
                    <td>
                      {{ totalPorcentajeUF }} %
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="step__btn mt-4 mb-2">
                <button
                  type="submit"
                  class="btn-primary2"
                  (click)="registrarFisiografia()"
                  [disabled]="disabled || listaFisiografiaUMF.length == 0"
                >
                  Guardar
                </button>
              </div>
            </div>
          </div>

          <br><br>
          <evaluacion-archivo-shared *ngIf="isPerfilArffs"
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon_3_3"
            [base]="detEvaluacion_3_3"
          ></evaluacion-archivo-shared>
        </p-accordionTab>

        <p-accordionTab header="3.4 Zonas de Vida" [selected]="false">
          <div class="row m-0 mt-3 col-12">
            <div class="col-10">
              <textarea class="form-control" rows="4" [disabled]="disabled" cols="5" [(ngModel)]="ZonaModel.zonaVida"
                placeholder="" maxlength="250" placeholder="Ingrese dato"></textarea>
            </div>
            <div class="col-2 text-center">
              <button 
                class="btn btn-sm btn-primary2" 
                (click)="registrarZonas()" 
                type="button"
                [disabled]="disabled">
                Guardar
              </button>
            </div>
          </div>

          <br><br>
          <evaluacion-archivo-shared *ngIf="isPerfilArffs"
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon_3_4"
            [base]="detEvaluacion_3_4"
          ></evaluacion-archivo-shared>
        </p-accordionTab>

        <p-accordionTab header="3.5 Aspectos Biológicos" [selected]="false">
          <div class="row m-0 mt-3 pt-4">
            <div class="col-12">
              <h3 class="title2 fz-12 pb-1 bb-title">Nuevas Especies</h3>
            </div>
          </div>
          <!-- <div class="col-12 col-sm-6 pt-2 text-left">
                        <button (click)="openModalEspecies('Solicitar Agregar Nueva Especie', false)"  pButton pRipple type="button" label="" class="p-button-success btn-sm">
                            <i class="pi pi-plus fz-11"></i> <span class="fz-11">Agregar Especie</span>
                        </button>
                    </div> -->

          <div class="row m-0 mt-3">
            <div class="col-12 pt-2 text-right">
              <button 
                icon="pi pi-plus" 
                (click)="openModalEspecies('Solicitar Agregar Nueva Especie', false)" 
                pButton 
                pRipple 
                type="button" label="" 
                class="p-button-success p-button-text"
                [disabled]="disabled"
              ></button>
            </div>
          </div>

          <div class="col-12 p-4">
            <app-list-especies 
              [listAspectosBiologicos]="listAspectosBiologicos" 
              (indexEditar)="indexEditar($event)"
              (dataEditar)="editar($event)" 
              (indexEliminar)="indexEliminar($event)"
              (dataEliminar)="eliminar($event)"
              [disabled]="disabled"
            ></app-list-especies>
          </div>

          <!-- <div class="row m-0 mt-3">
                        <div class="col-12 pt-2 text-right">
                            <button  type="submit"
                            class="btn btn-sm btn-secondary ml-4" (click)="guardarNuevasespecies()"  type="button">Guardar</button>
                        </div>
                    </div> -->

          <div class="row m-0 mt-3">
            <div class="col-12">
              <h3 class="title2 fz-12 pb-1 bb-title">
                3.5.1 Fauna Silvestre Representativa
              </h3>
            </div>
          </div>
          <div class="row m-0 mt-3">
            <div class="col-12 pt-2 text-right">
              <button 
                icon="pi pi-plus" 
                (click)="abrirModalEspecieFauna()" 
                pButton 
                pRipple
                type="button" 
                label="" 
                class="p-button-success p-button-text"
                [disabled]="disabled" 
              ></button>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 pt-2">
              <p-table 
                [value]="selectFauna" 
                [paginator]="true" 
                [rows]="10" 
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {{ totalRecordsFA }} registro(s)"
                [rowsPerPageOptions]="[10, 25, 50]"
                [totalRecords]="selectFauna.length"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th>Nombre común</th>
                    <th>Nombre científico</th>
                    <th>Familia</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                  <tr>
                    <td>{{ data.nombreComun }}</td>
                    <td>{{ data.nombreCientifico }}</td>
                    <td>{{ data.familia }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>

          <div class="row m-0 mt-3">
            <div class="col-12">
              <h3 class="title2 fz-12 pb-1 bb-title">
                3.5.2 Flora Silvestre Representativa
              </h3>
            </div>
          </div>
          <div class="row m-0 mt-3">
            <div class="col-12 pt-2 text-right">
              <button icon="pi pi-plus" [disabled]="disabled" (click)="abrirModalEspecieForestal()" pButton pRipple
                type="button" abel="" class="p-button-success p-button-text"></button>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 pt-2">
              <p-table 
                [value]="selectForestal" 
                [paginator]="true" 
                [rows]="10" 
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {{ totalRecordsFL }} registro(s)"
                [rowsPerPageOptions]="[10, 25, 50]">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Nombre común</th>
                    <th>Nombre Científico</th>
                    <th>Familia</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                  <tr>
                    <td>{{ data.nombreComun }}</td>
                    <td>{{ data.nombreCientifico }}</td>
                    <td>{{ data.familia }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>

          <div class="row m-0 mt-3">
            <div class="col-12">
              <div class="p-field-radiobutton d-inline-full">
                <label class="mr-2 pl-1 pointer" for="comunSi">Es comunidad nativa</label>
                <p-radioButton name="rcomunidad" [disabled]="disabled" inputId="comunSi" [(ngModel)]="escomunidad"
                  value="1"></p-radioButton>
              </div>
              <div class="p-field-radiobutton d-inline-full">
                <label class="mr-2 pl-1 pointer" for="comunNo">No es comunidad nativa</label>
                <p-radioButton name="rcomunidad" [disabled]="disabled" inputId="comunNo" [(ngModel)]="escomunidad"
                  value="0"></p-radioButton>
              </div>
            </div>
          </div>
          <div class="row m-0 mt-3">
            <div class="col-12 pt-2">
              <button 
                type="submit" 
                class="btn btn-sm btn-primary2 ml-4"
                (click)="guardarAspectosBiologicos()" 
                type="button"
                [disabled]="disabled"
              >
                Guardar
              </button>
            </div>
          </div>

          <br><br>
          <evaluacion-archivo-shared *ngIf="isPerfilArffs"
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon_3_5"
            [base]="detEvaluacion_3_5"
          ></evaluacion-archivo-shared>


        </p-accordionTab>

        <p-accordionTab *ngIf="escomunidad == 1" header="3.6 Aspectos Sociales para el Aprovechamiento"
          [selected]="false">
          <div class="row m-0 mt-3">
            <div class="col-12 pt-2 text-right">
              <button [disabled]="disabled" icon="pi pi-plus" (click)="abrirModal5('C', 0)" pButton pRipple
                type="button" abel="" class="p-button-success p-button-text"></button>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 pt-2">
              <p-table [value]="lstDetalle5" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} "
                [rowsPerPageOptions]="[10, 25, 50]">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Acciones</th>
                    <th>Organización para el aprovechamiento</th>
                    <th>
                      N° de familias o personas involucradas en la actividad
                    </th>
                    <th>Especie a aprovechar</th>
                    <th>Tipo de producto a aprovechar</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td>
                      <span (click)="!disabled&&abrirModal5('E', rowIndex, data)" class="pointer mr-3" title="Editar">
                        <i class="pi pi-pencil"></i>
                      </span>
                      <span class="ml-2" (click)="!disabled&&openEliminar5($event, rowIndex, data)" class="pointer"
                        title="Eliminar">
                        <i class="pi pi-trash"></i>
                      </span>
                    </td>
                    <td>{{ data.descripcion }}</td>
                    <td>{{ data.puntoVertice }}</td>
                    <td>{{ data.zonaVida }}</td>
                    <td>{{ data.referencia }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <div class="row m-0 mt-3">
            <div class="col-12 pt-2">
              <button 
                type="submit" 
                class="btn btn-sm btn-primary2 ml-4"
                (click)="guardarAspectosSociales()" 
                type="button"
                [disabled]="disabled"
              >
                Guardar
              </button>
            </div>
          </div>

          <br><br>
          <evaluacion-archivo-shared *ngIf="isPerfilArffs"
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon_3_6"
            [base]="detEvaluacion_3_6"
          ></evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

  <div class="step__btn mt-4">
    <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>
    <button class="btn-primary2" (click)="regresar.emit()">Anterior</button>
    <!-- <button class="btn-primary2" (click)="guardarTodo()" type="button">Guardar</button> -->
    <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="registrarEvaluacion()">Guardar Evaluación</button>
    <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">Retornar Flujo Evaluacion</button>
    <button class="btn-primary2" (click)="siguiente.emit()">Siguiente</button>
  </div>

  <br />
</div>

<p-dialog header="{{ tituloModalMantenimiento }}" appendTo="body" [(visible)]="verModalMantenimiento" [modal]="true"
  [style]="{ width: '40vw' }" [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="true">
  <ng-template pTemplate="content">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label class="label">Punto de Referencia</label>
          <input [(ngModel)]="accesibilidadModel.referencia" type="text" class="form-control" placeholder="Ingrese dato"
            maxlength="50" />
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="label">Distancia aproximada (Km)</label>
          <input 
            decimal 
            [min]="0" 
            [maxLength]="10" 
            [decimalPlaces]="2"
            [(ngModel)]="accesibilidadModel.distanciaKm" 
            class="form-control"
            placeholder="Ingrese dato" />
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="label">Tiempo (Horas)</label>
          <input 
            numero 
            [min]="0" 
            [maxLength]="2"
            [(ngModel)]="accesibilidadModel.tiempo" 
            class="form-control" 
            placeholder="Ingrese dato" />
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="label">Medio Transporte</label>
          <div class="form-control-selectk">
            <p-dropdown 
              appendTo="body" 
              [(ngModel)]="accesibilidadModel.medioTransporte" 
              [options]="transporte"
              optionLabel="label" 
              optionValue="value" 
              placeholder="Seleccione"></p-dropdown>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="label">Época/Periodo</label>
          <input [(ngModel)]="accesibilidadModel.epoca" type="text" class="form-control" placeholder="Ingrese dato"
            maxlength="50" />
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button icon="pi pi-save" (click)="registrar()" pButton pRipple type="button" label="Aceptar"
      class="p-button-success p-button-outlined"></button>
    <button icon="pi pi-times" (click)="verModalMantenimiento = false" pButton pRipple type="button" label="Cancelar"
      class="p-button-danger p-button-outlined"></button>
  </ng-template>
</p-dialog>

<p-dialog header="{{ tituloModalCuerposAgua }}" appendTo="body" [(visible)]="verModalCuerposAgua" [modal]="true"
  [style]="{ width: '40vw' }" [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="true">
  <ng-template pTemplate="content">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label class="label">Ríos (principales y secundarios)</label>
          <div class="form-control-selectk">
            <p-dropdown appendTo="body" [(ngModel)]="cuerposAgua.idRios" [options]="cmbRios" optionLabel="descripcion"
              optionValue="idHidrografia" placeholder="Seleccionar"></p-dropdown>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="label">Quebradas</label>
          <input [(ngModel)]="cuerposAgua.nombreQuebrada" type="text" class="form-control" placeholder="Ingrese dato"
            maxlength="50" />
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="label">Lagunas (cochas)</label>
          <input [(ngModel)]="cuerposAgua.nombreLaguna" type="text" class="form-control" placeholder="Ingrese dato"
            maxlength="50" />
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button icon="pi pi-save" (click)="registrar2()" pButton pRipple type="button" label="Aceptar"
      class="p-button-success p-button-outlined"></button>
    <button icon="pi pi-times" (click)="verModalCuerposAgua = false" pButton pRipple type="button" label="Cancelar"
      class="p-button-danger p-button-outlined"></button>
  </ng-template>
</p-dialog>

<p-dialog header="{{ tituloModalMantenimiento3 }}" appendTo="body" [(visible)]="verModalMantenimiento3" [modal]="true"
  [style]="{ width: '40vw' }" [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="true">
  <ng-template pTemplate="content">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label class="label">Unidades fisiográficas</label>
          <div class="form-control-selectk">
            <input [(ngModel)]="context3.descripcion" type="text" class="form-control" placeholder="Ingresae dato" />
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="label">Area (ha)</label>
          <input [(ngModel)]="context3.areaHa" type="text" class="form-control" placeholder="Ingrese dato" />
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button icon="pi pi-save" (click)="registrar3()" pButton pRipple type="button" label="Aceptar"
      class="p-button-success p-button-outlined"></button>
    <button icon="pi pi-times" (click)="verModalMantenimiento3 = false" pButton pRipple type="button" label="Cancelar"
      class="p-button-danger p-button-outlined"></button>
  </ng-template>
</p-dialog>

<p-dialog header="{{ tituloModalMantenimiento5 }}" appendTo="body" [(visible)]="verModalMantenimiento5" [modal]="true"
  [style]="{ width: '40vw' }" [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="true">
  <ng-template pTemplate="content">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label class="label">Organización para el aprovechamiento</label>
          <input [(ngModel)]="context5.descripcion" type="text" class="form-control" placeholder="Ingrese dato"
            maxlength="50" />
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="label">N° de familias o personas involucradas en la actividad</label>
          <input 
            numero 
            [min]="0" 
            [maxLength]="10"
            [(ngModel)]="context5.puntoVertice" 
            class="form-control" 
            placeholder="Ingrese dato"
            maxlength="50" />
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="label">Especie a aprovechar</label>
          <input [(ngModel)]="context5.zonaVida" type="text" class="form-control" placeholder="Ingrese dato"
            maxlength="50" />
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="label">Tipo de producto a aprovechar</label>
          <input [(ngModel)]="context5.referencia" type="text" class="form-control" placeholder="Ingrese dato"
            maxlength="50" />
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button icon="pi pi-save" (click)="registrar5()" pButton pRipple type="button" label="Aceptar"
      class="p-button-success p-button-outlined"></button>
    <button icon="pi pi-times" (click)="verModalMantenimiento5 = false" pButton pRipple type="button" label="Cancelar"
      class="p-button-danger p-button-outlined"></button>
  </ng-template>
</p-dialog>

<p-dialog 
  header="Especies Fauna" 
  appendTo="body" 
  [(visible)]="verModalFauna" 
  [modal]="true" 
  [style]="{ width: '60vw' }"
  [maximizable]="true" 
  [baseZIndex]="10000" 
  [draggable]="false" 
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row m-0">
      <div class="col-12 col-sm-9">
        <div class="form-group">
          <label class="label">Nombre Científico o Nombre Común</label>
          <div class="form-control-selectk">
            <input 
              type="text" 
              class="form-control" 
              placeholder="Buscar..." 
              [(ngModel)]="queryFauna" 
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="form-group">
          <label class="label">&nbsp;&nbsp;</label>
          <div class="text-center">
            <button type="button" class="btn-primary2" (click)="filtrarFauna()">
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12">
        <p-table [value]="comboListEspeciesFauna">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 50px"></th>
              <th>Nombre Científico</th>
              <th>Nombre Común</th>
              <th>Familia</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>
                <p-checkbox 
                  name="fauna" 
                  [value]="data" 
                  [(ngModel)]="selectedValues"
                  (onChange)="onChangeFauna($event, data)"
                >
                </p-checkbox>
              </td>
              <td>{{ data.nombreCientifico }}</td>
              <td>{{ data.nombreComun }}</td>
              <th>{{ data.familia }}</th>
            </tr>
          </ng-template>
        </p-table>
        <p-paginator 
          [rows]="10" 
          [totalRecords]="totalRecords" 
          (onPageChange)="loadData($event)"
          [showCurrentPageReport]="true" 
          currentPageReportTemplate="Total : {totalRecords} registros"
          [rowsPerPageOptions]="[10, 25, 50]"
        >
        </p-paginator>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button 
      icon="pi pi-save" 
      (click)="guardarFauna()" 
      pButton 
      pRipple 
      type="button" 
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button 
      icon="pi pi-times" 
      (click)="verModalFauna = false" 
      pButton 
      pRipple 
      type="button" 
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog header="Especies de Flora Silvestre" appendTo="body" [(visible)]="verModalForestal" [modal]="true"
  [style]="{ width: '60vw' }" [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="true">
  <ng-template pTemplate="content">
    <div class="row m-0">
      <div class="col-12 col-sm-9">
        <div class="form-group">
          <label class="label">Nombre Científico </label>
          <div class="form-control-selectk">
            <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="queryFauna" />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="form-group">
          <label class="label">&nbsp;&nbsp;</label>
          <div class="text-center">
            <button type="button" class="btn-primary2" (click)="filtrarFauna()">
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12">
        <p-table [value]="comboListEspeciesForestal" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} " [rowsPerPageOptions]="[10, 25, 50]">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 50px"></th>
              <th>Nombre Científico</th>
              <th>Nombre Común</th>
              <th>Familia</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>
                <p-checkbox name="forestal" [value]="data" [(ngModel)]="selectedValuesForestal"
                  (onChange)="onChange($event, data)">
                </p-checkbox>
              </td>
              <td>{{ data.nombreCientifico }}</td>
              <td>{{ data.nombreComun }}</td>
              <th>{{ data.familia }}</th>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button icon="pi pi-save" (click)="guardarForestal()" pButton pRipple type="button" label="Aceptar"
      class="p-button-success p-button-outlined"></button>
    <button icon="pi pi-times" (click)="verModalForestal = false" pButton pRipple type="button" label="Cancelar"
      class="p-button-danger p-button-outlined"></button>
  </ng-template>
</p-dialog>

<p-toast position="top-right" key="tr"></p-toast>

<p-confirmDialog [style]="{width: '300px'}" key="eliminarList"> </p-confirmDialog>