<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-12">
            <h3 class="title">Mantenimiento de Usuarios</h3>

            <div class="panelk br10 p-3">
                <div class="row">
                    <div class="col-12 col-sm-6 form-group">
                        <label class="label">Criterio de Búsqueda:</label>
                        <input class="form-control" placeholder="Ingresar código, nombre, N° documento o usuario" [(ngModel)]="objbuscar.dato" type="text" autocomplete="off" />
                    </div>
                    <div class="col-12 col-sm-6 form-group">
                        <label class="label">Estado:</label>
                        <div class="form-control-selectk ">
                            <p-dropdown [options]="estados" [(ngModel)]="objbuscar.idestado" optionLabel="name" optionValue="code" (onChange)="objbuscar.indice=1"></p-dropdown>
                        </div>
                    </div>

                    <div class="col-sm-12 my-2 form-group text-center">
                        <button class="btn btn-sm btn-secondary mr-2" (click)="btnLimpiar()">Limpiar</button>
                        <button class="btn btn-sm btn-secondary mr-2" (click)="listarBandeja(objbuscar)">Buscar</button>
                        <button class="btn btn-sm btn-secondary" (click)="openModalMantenimiento(null,'C')">Nuevo</button>
                        <button class="btn btn-sm btn-secondary" (click)="btnDescargarExcel()">Descargar Excel</button>
                    </div>
                </div>
            </div>

            <p-confirmPopup></p-confirmPopup>
            <div class="mt-4">
                <div class="tablek">
                    <p-table [value]="listaBandejaUsuario">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 80px;">Acciones</th>
                                <th>Código Usuario</th>
                                <th>Nombre Completo</th>
                                <th>Usuario</th>
                                <th>Número Documento</th>
                                <th>Tipo Documento</th>
                                <th>Estado</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data>
                            <tr>
                                <td class="text-center">
                                    <span class="pointer mr-1" title="Editar"
                                        (click)="openModalMantenimiento(data,'E')">
                                        <i class="pi pi-pencil"></i>
                                    </span>
                                    <span class="pointer mr-1" title="Visualizar"
                                        (click)="openModalMantenimiento(data,'R')">
                                        <i class="pi pi-eye"></i>
                                    </span>

                                    <span class="pointer" title="Eliminar" (click)="openEliminarRegistro($event,data)">
                                        <i class="pi pi-trash"></i>
                                    </span>
                                </td>
                                <td>{{data.codigoUsuario}}</td>
                                <td>{{data.nombres || data.apellidoPaterno}}</td>
                                <td>{{data.usuarioDescripcion}}</td>
                                <td>{{data.numeroDocumento}}</td>
                                <td>{{data.tipoDocumento}}</td>
                                <td>{{ (data.estado=='1'? 'Activo':'Inactivo') }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10, 25, 50, 100]"></p-paginator>
                </div>

            </div>
        </div>



        <p-dialog header="{{tituloModalMantenimiento}}" [(visible)]="verModalMantenimiento" [modal]="true"
            [style]="{width: '40vw'}" [maximizable]="false" [baseZIndex]="10000" [draggable]="false" [resizable]="true">
            <ng-template pTemplate="content">
                <form [formGroup]='MantenedorFormulario' novalidate>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label class="label">Código Usuario:</label>
                                <input formControlName="codigoUsuario" [readonly]="true" type="text"
                                    class="form-control" placeholder="Ingrese código de usuario">

                            </div>
                        </div>
                            <!-- (input)="MantenedorFormulario.get('usuario')?.setValue(MantenedorFormulario.get('usuario')?.value.toUpperCase().trim())" -->
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label class="label">Usuario:</label>
                                <input formControlName="usuario"
                                (input)="MantenedorFormulario.get('usuario')?.setValue(MantenedorFormulario.get('usuario')?.value.trim())"
                                    [readonly]="accionMantenimiento != 'C'"
                                    [maxLength]="100" type="text" class="form-control" placeholder="Ingrese nombre de usuario">
                                <mensaje-error-control [control]="MantenedorFormulario.controls['usuario']">
                                </mensaje-error-control>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label class="label">Tipo de Documento: *</label>
                                <div class="form-control-selectk">
                                    <p-dropdown appendTo="body" formControlName="idtipoDocumento"
                                        [disabled]="true" [options]="ListaDocumento"
                                        optionLabel="text" optionValue="value"></p-dropdown>
                                    <mensaje-error-control [control]="MantenedorFormulario.controls['idtipoDocumento']">
                                    </mensaje-error-control>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label class="label">Número de Documento: *</label>
                                <input #numeroDocumento maxlength="11" mask="0*" formControlName="numeroDocumento"
                                    [readonly]="accionMantenimiento == 'R'" type="text" class="form-control"
                                    placeholder="Ingrese número de documento" />
                                <mensaje-error-control [control]="MantenedorFormulario.controls['numeroDocumento']">
                                </mensaje-error-control>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label class="label">Estado: *</label>
                                <div>
                                    <div class="p-field-radiobutton">
                                        <p-radioButton formControlName="estado" [disabled]="accionMantenimiento == 'R'"
                                            name="estado" value="1" inputId="activo"></p-radioButton>
                                        <label class="pointer" for="activo">Activo</label>
                                    </div>
                                    <div class="p-field-radiobutton">
                                        <p-radioButton formControlName="estado" [disabled]="accionMantenimiento == 'R'"
                                            name="estado" value="0" inputId="inactivo"></p-radioButton>
                                        <label class="pointer" for="inactivo">Inactivo</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <!-- (input)="MantenedorFormulario.get('nombres')?.setValue(MantenedorFormulario.get('nombres')?.value.toUpperCase().trim())" -->
                            <div class="form-group">
                                <label class="label">Nombres: *</label>
                                <input formControlName="nombres" [readonly]="accionMantenimiento == 'R'" type="text"
                                (input)="MantenedorFormulario.get('nombres')?.setValue(MantenedorFormulario.get('nombres')?.value.trim())"
                                    lettersAndSpace
                                    [maxLength]="50"
                                    class="form-control" placeholder="Ingrese Nombres">
                                <mensaje-error-control [control]="MantenedorFormulario.controls['nombres']">
                                </mensaje-error-control>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                          <!-- (input)="MantenedorFormulario.get('apellidoPaterno')?.setValue(MantenedorFormulario.get('apellidoPaterno')?.value.toUpperCase().trim())" -->
                            <div class="form-group">
                                <label class="label">Apellido Paterno: *</label>
                                <input formControlName="apellidoPaterno" [readonly]="accionMantenimiento == 'R'"
                                (input)="MantenedorFormulario.get('apellidoPaterno')?.setValue(MantenedorFormulario.get('apellidoPaterno')?.value.trim())"
                                lettersAndSpace
                                [maxLength]="50"
                                type="text" class="form-control" placeholder="Ingrese apellido paterno">
                                <mensaje-error-control [control]="MantenedorFormulario.controls['apellidoPaterno']">
                                </mensaje-error-control>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <!-- (input)="MantenedorFormulario.get('apellidoMaterno')?.setValue(MantenedorFormulario.get('apellidoMaterno')?.value.toUpperCase().trim())" -->
                            <div class="form-group">
                                <label class="label">Apellido Materno: *</label>
                                <input formControlName="apellidoMaterno" [(ngModel)]="usuarioContext.apellidoMaterno"
                                (input)="MantenedorFormulario.get('apellidoMaterno')?.setValue(MantenedorFormulario.get('apellidoMaterno')?.value.trim())"
                                    [readonly]="accionMantenimiento == 'R'" type="text" class="form-control"
                                    lettersAndSpace
                                    [maxLength]="50"
                                    placeholder="Ingrese apellido materno">
                                <mensaje-error-control [control]="MantenedorFormulario.controls['apellidoMaterno']">
                                </mensaje-error-control>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="label">Correo Electrónico: *</label>
                                <input formControlName="correoElectronico"
                                    [(ngModel)]="usuarioContext.correoElectronico"
                                    [readonly]="accionMantenimiento == 'R'"
                                    (input)="MantenedorFormulario.get('correoElectronico')?.setValue(MantenedorFormulario.get('correoElectronico')?.value.trim())"
                                    maxlength="100"
                                    type="text" class="form-control" placeholder="Ingrese correo electrónico">
                                <mensaje-error-control [control]="MantenedorFormulario.controls['correoElectronico']">
                                </mensaje-error-control>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group" style="display: flex; flex-direction: column;">
                                <label class="label">Contraseña: *</label>
                                <p-password class="form-control-autocompletek" formControlName="contrasenia"
                                    [(ngModel)]="usuarioContext.contrasenia"
                                    (input)="MantenedorFormulario.get('contrasenia')?.setValue(MantenedorFormulario.get('contrasenia')?.value.trim())"
                                    [disabled]="accionMantenimiento == 'R'" [toggleMask]="true" placeholder="Ingrese contraseña"
                                    ></p-password>

                                <!-- <input formControlName="contrasenia" [readonly]="accionMantenimiento == 'R'" type="password" class="form-control"  placeholder="***********"> -->
                                <!-- <mensaje-error-control [control]="MantenedorFormulario.controls['contrasenia']"> -->
                                <!-- </mensaje-error-control> -->

                                <div class="col-12" *ngIf="MantenedorFormulario.hasError('passwordValid','contrasenia')">
                                    <div class="m-0 p-0 col-12 error-message">El password debe tener: </div>
              
                                    <div class="col-12">
                                      <mat-error class="error-message col-12">
                                        (*) al menos una minúscula, una mayúscula y un número 
                                      </mat-error>
                                    </div>
                                    <div class="col-12" *ngIf="MantenedorFormulario.hasError('passwordValidReverseSame','contrasenia')">
                                      <mat-error class="error-message col-12" >
                                        (*) la contraseña ingresada no cumple con algunos de los criterios indicados, por favor intente nuevamente.
                                      </mat-error>
                                    </div>
                                    <div class="col-12" *ngIf="MantenedorFormulario.hasError('minlength','contrasenia')">
                                      <mat-error class="error-message col-12" >
                                        (*) mínimo 8 caracteres 
                                      </mat-error>
              
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label class="label">Entidad: *</label>
                                <div class="form-control-selectk">
                                    <p-dropdown appendTo="body" formControlName="identidad"
                                        [disabled]="accionMantenimiento == 'R'" [options]="comboEntidad"
                                        placeholder="Selecciona Entidad" [group]="true" (onChange)="entidadChange($event)">
                                        <ng-template let-group pTemplate="group">
                                            <div class="p-d-flex p-ai-center">
                                              <span>{{group.label}}</span>
                                            </div>
                                          </ng-template></p-dropdown>
                                    <mensaje-error-control [control]="MantenedorFormulario.controls['identidad']">
                                    </mensaje-error-control>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label class="label">Empresa: *</label>
                                <div class="form-control-selectk">
                                    <p-dropdown appendTo="body" formControlName="idempresa"
                                        [disabled]="accionMantenimiento == 'R'" [options]="ListaEmpresa"
                                        optionLabel="text" optionValue="value"></p-dropdown>
                                    <mensaje-error-control [control]="MantenedorFormulario.controls['idempresa']">
                                    </mensaje-error-control>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label class="label">Autoridad: *</label>
                                <div class="form-control-selectk">
                                    <p-dropdown appendTo="body" formControlName="idautoridad"
                                        [disabled]="accionMantenimiento == 'R'" [options]="ListaAutoridad"
                                        optionLabel="text" optionValue="value"></p-dropdown>
                                    <mensaje-error-control [control]="MantenedorFormulario.controls['idautoridad']">
                                    </mensaje-error-control>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label class="label">Región: *</label>
                                <div class="form-control-selectk">
                                    <p-dropdown appendTo="body" formControlName="region"
                                        [disabled]="accionMantenimiento == 'R'" [options]="lstDepartamentos"
                                        optionLabel="name" optionValue="code"></p-dropdown>
                                    <mensaje-error-control [control]="MantenedorFormulario.controls['region']">
                                    </mensaje-error-control>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </ng-template>
            <ng-template pTemplate="footer">
                <button icon="pi pi-save" *ngIf="accionMantenimiento != 'R'" (click)="registrarUsuario(usuarioContext)"
                    pButton pRipple type="button" label="Guardar" class="p-button-success p-button-outlined"
                    style="width: 106px;"></button>
                <button icon="pi pi-times" *ngIf="accionMantenimiento != 'R'" (click)="verModalMantenimiento=false"
                    pButton pRipple type="button" label="Cancelar" class="p-button-danger p-button-outlined"
                    style="width: 106px;"></button>
            </ng-template>
        </p-dialog>

    </div>
    <p-toast></p-toast>


    <p-dialog header="Confirmación" [(visible)]="displayConfirm" [draggable]="false" [baseZIndex]="10000">

        <ng-template pTemplate="content">
            <i class="pi pi-question-circle" style="font-size: 2rem;"></i>¿Está seguro de guardar los cambios?

        </ng-template>

        <ng-template pTemplate="footer">
            <button type="button" pButton label="No" (click)="displayConfirm = false"></button>

            <button type="button" pButton label="Sí" (click)="confirmarEnvioRegistro()"></button>
        </ng-template>
    </p-dialog>
