<div class="col-12 p-0" class="container-table">
    <p-table
      [value]="actividades"
      sortField="codigoTipoDetalle"
      sortMode="single"
      (onSort)="onSort()"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      (onPage)="loadData()"
      currentPageReportTemplate="Total : {totalRecords} registros"
    >
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">Actividades</th>
          <th scope="col">Descripción</th>
          <th scope="col">Equipos e Insumos a Utilizar</th>
          <th scope="col">Personal Requerido</th>
          <th scope="col">Observaciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index="rowIndex">
        <tr
          class="ui-widget-header"
          *ngIf="rowGroup[item.codigoTipoDetalle]?.index === index"
        >
          <td colspan="3">
            <span style="font-weight: bold">{{
              tipoAAE[item.codigoTipoDetalle]
            }}</span>
          </td>
        </tr>
        <tr>
          <td class="text-left">{{ item.actividades }}</td>
          <td class="text-left">{{ item.descripcionSistema }}</td>
          <td class="text-left">{{ item.maquinariasInsumos }}</td>
          <td class="text-left">{{ item.personalRequerido }}</td>
          <td class="text-left">{{ item.observacion }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
