<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 pt-3">
      <h3 class="title">BANDEJA DE SOLICITUDES DE PERMISOS FORESTALES</h3>
    </div>
    <div class="col-12">
      <p-fieldset legend="Filtros" [toggleable]="true" [collapsed]="false">
        <div class="row m-0">
          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label class="label">Estado Solicitud</label>
              <div class="form-control-selectk">
                <p-dropdown
                  [options]="lstEstado"
                  [(ngModel)]="solicitudAcceso.idestadoSolicitud"
                  optionLabel="valor1"
                  optionValue="codigo"
                  placeholder="Seleccione"
                ></p-dropdown>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label class="label">Tipo Persona</label>
              <div class="form-control-selectk">
                <p-dropdown
                  [options]="lstTipoPersona"
                  [(ngModel)]="solicitudAcceso.codigoTipoPersona"
                  optionLabel="valor1"
                  optionValue="codigo"
                  placeholder="Seleccione"
                >
                </p-dropdown>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label class="label">Tipo de Actor</label>
              <div class="form-control-selectk">
                <p-dropdown
                  [options]="lstTipoActor"
                  [(ngModel)]="solicitudAcceso.codigoTipoActor"
                  optionLabel="valor1"
                  optionValue="codigo"
                  placeholder="Seleccione"
                  (onChange)="validar($event.value)"
                ></p-dropdown>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label class="label">Tipo de CNCC</label>
              <div class="form-control-selectk">
                <p-dropdown
                  [options]="lstTipoCNCC"
                  [(ngModel)]="solicitudAcceso.codigoTipoCncc"
                  optionLabel="valor1"
                  optionValue="codigo"
                  placeholder="Seleccione"
                ></p-dropdown>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-12">
            <div class="form-group">
              <label class="label">Número Documento</label>
              <input
                type="text"
                autocomplete="off"
                [(ngModel)]="solicitudAcceso.numeroDocumento"
                class="form-control"
                maxLength="9"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="form-group">
              <label class="label">Nombres</label>
              <input
                type="text"
                autocomplete="off"
                [(ngModel)]="solicitudAcceso.nombres"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label class="label">Razón Social</label>
              <input
                type="text"
                autocomplete="off"
                [(ngModel)]="solicitudAcceso.razonSocialEmpresa"
                class="form-control"
              />
            </div>
          </div>

          <div class="col-sm-12 mt-3 mb-3 form-group text-center">
            <button class="btn btn-sm btn-secondary mr-2" (click)="limpiar()">
              Limpiar
            </button>
            <button
              class="btn btn-sm btn-secondary mr-2"
              (click)="ListarPermisosForestales(true)"
            >
              Buscar
            </button>
            <button
              class="btn btn-sm btn-secondary mr-2"
              (click)="nuevaSolicitud()"
            >
              Nuevo
            </button>
          </div>
        </div>
      </p-fieldset>
    </div>
    <div class="col-12 mt-4 mb-3">
      <div>
        <p-table [value]="lstSolicituAcceso">
          <ng-template pTemplate="header">
            <tr>
              <th>N°</th>
              <th>N° PFCR</th>
              <th scope="row"  *ngIf="usuario.sirperfil == Perfiles.TITULARTH">Código único</th>
              <th>Estado</th>
              <th>Fecha Solicitud</th>
              <th scope="row" *ngIf="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL || usuario.sirperfil == Perfiles.TITULARTH">Fecha Fin</th>
              <th scope="row" *ngIf="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL || usuario.sirperfil == Perfiles.TITULARTH">Días Restantes</th>
              <th>Tipo Persona</th>
              <th>Nombre Persona / Repr. Legal</th>
              <th>Razón Social</th>
              <th>Tipo Actor</th>
              <th>Tipo de CNCC</th>
              <th class="text-center">Impugnación</th>
              <th class="text-center">Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data let-rowIndex="rowIndex+1">
            <tr>
              <td>{{ rowIndex }}</td>

              <td>{{ data.idPermisoForestal }}</td>
              <td *ngIf="usuario.sirperfil == Perfiles.TITULARTH">{{ data?.codigoUnico }}</td>
              <td>
                <span [ngSwitch]="data.codigoEstado">
                  <label
                    *ngSwitchCase="CodigoPermisoForestal.ESTADO_PRESENTADO"
                    class="eval-blue">
                    {{ data.estado }}
                  </label>
                  <label
                    *ngSwitchCase="CodigoPermisoForestal.ESTADO_IMPUGNADO"
                    class="estado-impugnado">
                    {{ data.estado }}
                  </label>
                  <label
                    *ngSwitchCase="CodigoPermisoForestal.ESTADO_VAL_EN_EVALUACION"
                    class="eval-amarillo"
                    >En Evaluación</label
                  >
                  <label
                    *ngSwitchCase="CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE"
                    class="eval-verde">
                    {{ data.estado }}
                  </label>
                  <label
                    *ngSwitchCase="CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
                    class="eval-rojo">
                    {{ data.estado }}
                  </label>
                  <label
                    *ngSwitchCase="CodigoPermisoForestal.ESTADO_BORRADOR"
                    class="borrador">
                    {{ data.estado }}
                  </label>
                  <label *ngSwitchDefault>{{ data.estado }}</label>
                </span>
              </td>
              <td>{{ data.fechaRegistro | date: "dd/MM/yyyy" }}</td>
              <td *ngIf="usuario.sirperfil  == Perfiles.AUTORIDAD_REGIONAL || usuario.sirperfil  == Perfiles.TITULARTH">{{ (data?.fechaSolicitudFinal) | date: "dd/MM/yyyy" }}</td>
              <td *ngIf="usuario.sirperfil  == Perfiles.AUTORIDAD_REGIONAL || usuario.sirperfil  == Perfiles.TITULARTH">
                <div style="color:red;font-weight: bold" *ngIf="data?.diasRestantes<=10;else other_content">
                  {{ (data?.diasRestantes) }}
                </div>
                <ng-template #other_content>
                  <div>{{ (data?.diasRestantes) }}</div>
                </ng-template>
              </td>
              <td>{{ data.informacionGeneral.tipoPersona }}</td>
              <td>
                {{ data.informacionGeneral.nombreElaborador }}
                {{ data.informacionGeneral.apellidosElaborador }}
              </td>
              <td>{{ data.informacionGeneral.federacionComunidad }}</td>
              <td>{{ data.informacionGeneral.tipoActor }}</td>
              <td>{{ data.informacionGeneral.tipoCncc }}</td>
              <td class="text-center">
                <button-impugnacion-shared
                  [estado]="data.codigoEstado"
                  [idPermisoForestal]="data.idPermisoForestal"
                  [disabled]="data.codigoEstado == CodigoPermisoForestal.ESTADO_IMPUGNADO"
                  (registroImpugnacionEmiter)="registroImpugnacionEmiter($event)"
                ></button-impugnacion-shared>
              </td>
              <td class="text-center">
                <span>
                  <i
                    (click)="verPlan(data.idPermisoForestal)"
                    s
                    class="pi pi-eye pointer"
                    title="Revisión"
                  ></i
                ></span>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-paginator
          [rows]="10"
          [totalRecords]="totalRecords"
          (onPageChange)="loadData($event)"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Total : {totalRecords} registros"
          [rowsPerPageOptions]="[10, 25, 50]"
        >
        </p-paginator>
      </div>
    </div>
  </div>
</div>

<br />
<br />

<p-toast></p-toast>
