.estado-impugnado {
  color: red;
  font-weight: bold;
}

.eval-rojo {
  color:red;
  font-weight: bold;
}

.eval-verde {
  color:#4caf50;
  font-weight: bold;
}

.eval-blue {
  color: #057EBF;
  font-weight: bold;
}

.eval-amarillo {
  color: #dedb49;
  font-weight: bold;
}

.borrador {
  color      : #ec7921;
  font-weight: bold;
}