<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="4.1. Hidrografía de la UMF" [selected]="true">
          <div class="col-12 mt-4" class="title">
            <div class="row mb-2 mr-2 text-right" style="justify-content: flex-end;">
              <div>
                <button
                  (click)="openModalHidrografia()"
                  pButton
                  pRipple
                  type="button"
                  label=""
                  class="p-button-success p-button-text button-more"
                  [disabled]="disabled"
                >
                  <i class="pi pi-plus" style="font-size: 1.2rem"></i>
                </button>
              </div>
              <div *ngIf="listInfoBasicaDet_H2.length > 0">
                <button
                  (click)="eliminarHidrografia($event)"
                  pButton
                  pRipple
                  type="button"
                  title=""
                  class="p-button-success p-button-text button-more"
                  [disabled]="disabled"
                >
                  <i class="pi pi-times" style="font-size: 1.2rem"></i>
                </button>
              </div>
            </div>
            <app-tabla-hidrografia
              [idPGMF]="idPGMF"
              [listInfoBasicaDet_H]="listInfoBasicaDet_H"
              [listInfoBasicaDet_H2]="listInfoBasicaDet_H2"
              [isModal]="false" [disabled]="disabled"
              (listEliminar)="listarEliminarH($event)"
            >
            </app-tabla-hidrografia>
            <div class="step__btn mt-4 mb-2">
              <button
                type="submit"
                class="btn-primary2"
                (click)="registrarAspectosFisicos4_1()"
                [disabled]="!disabled&&
                  (isSubmitting4_1$ | async) || listInfoBasicaDet_H.length == 0
                "
              >
                Guardar
              </button>
            </div>
          </div>
          <!-- <div class="col-12 mt-4" class="title">
            <div class="col-2 col-sm-12 text-right mt-4 mb-2">
              <button
                class="btn btn-sm btn-default button-more mb-2"
                type="button"
                title="Agregar"
                (click)="agregarDetalle(codigoAcordeon1)"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
            <p-table
              [value]="listInfoBasicaDet_H"
              class="table-justify"
              [scrollable]="true"
              [style]="{width:'100%'}">
              <ng-template pTemplate="header">
                <tr>
                  <th style="min-width: 80px; text-align: center;">Acciones</th>
                  <th style="min-width: 250px; text-align: left;">Ríos (Principales y Secundarios)</th>
                  <th style="min-width: 680px; text-align: left;">Quebradas</th>
                  <th style="min-width: 680px; text-align: left;">Lagunas (cochas)</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr>
                  <td style="min-width: 80px; text-align: center;">
                    <span
                      class="pointer mr-1"
                      title="Eliminar"
                      (click)="eliminarItemInformacionAreaManejo($event, data, rowIndex, codigoAcordeon1)"
                    >
                      <i class="pi pi-trash"></i>
                    </span>
                  </td>
                  <td style="min-width: 250px; max-width: 250px;">
                    <div class="form-control-selectk">
                      <p-dropdown
                        appendTo="body"
                        [(ngModel)]="data.idRios"
                        [options]="cmbRios"
                        optionLabel="descripcion"
                        optionValue="idHidrografia"
                        placeholder="Seleccionar"
                      ></p-dropdown>
                    </div>
                  </td>
                  <td style="min-width: 680px;">
                    <input
                      [(ngModel)]="data.nombreQuebrada"
                      type="text"
                      class="form-control"
                      placeholder="Ingrese quebrada"
                      maxlength="100"
                    />
                  </td>
                  <td style="min-width: 680px;">
                    <input
                      [(ngModel)]="data.nombreLaguna"
                      type="text"
                      class="form-control"
                      placeholder="Ingrese laguna"
                      maxlength="100"
                    />
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="step__btn mt-4 mb-2">
              <button
                type="submit"
                class="btn-primary2"
                (click)="registrarAspectosFisicos4_1()"
                [disabled]="(isSubmitting4_1$ | async) || listInfoBasicaDet_H.length == 0"
              >
                Guardar
              </button>
            </div>
          </div> -->
        </p-accordionTab>

        <p-accordionTab header="4.2 Fisiografía de la UMF">
          <!-- <app-map-custom-uf
          [idPlanManejo]="idPGMF"
          [codigoProceso]="'PFMIC'"
          [codigoSubSeccion]="'POPACAFFUMF'"
          [tipoGeometria]="'TPUNF'"
          (listUF)="mostrarlistaFisiografia($event)"
          (registrarArchivoId)="registroArchivo($event)"
          >
          </app-map-custom-uf> -->
          <div class="col-12 mt-4" class="title">
            <div class="row mb-2">
              <div class="col-12 col-sm-12 text-right" *ngIf="listInfoBasicaDet_F.length > 0">
                <button
                  (click)="eliminarFisiografia($event)"
                  pButton
                  pRipple
                  type="button"
                  title=""
                  class="p-button-success p-button-text button-more"
                  [disabled]="disabled"
                >
                  <i class="pi pi-times" style="font-size: 1.2rem"></i>
                </button>
              </div>
            </div>
            <p-table [value]="listInfoBasicaDet_F" styleClass="p-datatable-gridlines">
              <ng-template pTemplate="caption">
                <tr><td class="text-center">Fisiografía de la UMF</td></tr>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th>Unidad Fisiográfica</th>
                  <th>Área (ha)</th>
                  <th>%</th>
                  <th>Observaciones</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr>
                  <td>{{ data.descripcion }}</td>
                  <td>{{ data.areaHa | number: "1.2-3"}}</td>
                  <td>{{ data.areaHaPorcentaje | number: "1.2-3"}} % </td>
                  <td>
                    <textarea
                      maxlength="200"
                      rows="1" [disabled]="disabled"
                      class="form-control"
                      [(ngModel)]="data.observaciones"
                    >
                    </textarea>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td colspan="1" class="p-text-right">Total</td>
                  <td>{{ totalSumaUF | number: "1.2-3"}}</td>
                  <td>{{ totalPorcentajeUF }} %</td>
                  <td></td>
                </tr>
              </ng-template>
            </p-table>
            <div class="step__btn mt-4 mb-2">
              <button
                type="submit"
                class="btn-primary2"
                (click)="registrarAspectosFisicos4_2()"
                [disabled]="disabled || (isSubmitting4_2$ | async) || listInfoBasicaDet_F.length == 0"
              >
                Guardar
              </button>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4 mb-4">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>

<p-dialog
  header="{{ tituloModal }}"
  header="Header"
  [(visible)]="displayBasic"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Tipo</label>
            <div class="form-control-selectk">
              <p-dropdown
                [options]="listTipo"
                optionLabel="tipoLabel"
                optionValue="tipoValue"
                placeholder="Seleccione"
                [(ngModel)]="hidrografia.descripcion"
                appendTo="body"
                [style]="{width: '100%'}"
              ></p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Nombre</label>
            <input
              [(ngModel)]="hidrografia.nombre"
              type="text"
              class="form-control"
              placeholder="Ingrese Nombre"
              maxlength="50"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarHidrografia()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
