<div class="container-fluit pt-4">
    <div class="row m-0">
        <div class="col-12">
            <p-accordion>
                <p-accordionTab header="6.1 Sistema de Manejo y Labores Silviculturales" [selected]="true">
                    <div class="row m-0">
                        <div class="col-12 text-right">
                            <button (click)="openModal(null,'C')"class="btn btn-sm btn-default button-more mb-2" type="button" title="Agregar">
                                <i class="pi pi-plus"></i>
                            </button>
                        </div>
                        <div class="col-12 mt-3">
                            <p-table [value]="lstData" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                            currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[5,10, 25, 50]"
                            [totalRecords]="lstData.length">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Acciones</th>
                                        <th>Actividades</th>
                                        <th>Descripción</th>
                                        <th>Equipos</th>
                                        <th>Insumos</th>
                                        <th>Personal</th>
                                        <th>Observaciones</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-data>
                                    <tr>
                                        <td>
                                            <span class="pointer mr-1" title="Editar" (click)="openModal(data,'E')">
                                                <i class="pi pi-pencil"></i>
                                            </span>
                                            <span *ngIf="!data.accion" class="pointer" title="Eliminar" (click)="openEliminar($event, data)">
                                                <i class="pi pi-trash"></i>
                                            </span>
                                        </td>
                                        <td>{{data.actividad}}</td>
                                        <td>{{data.descripcion}}</td>
                                        <td>{{data.equipos}}</td>
                                        <td>{{data.insumos}}</td>
                                        <td>{{data.personal}}</td>
                                        <td>{{data.observacion}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-12">
                            <br/>
                            <button (click)="registrar()" class="btn btn-sm btn-primary2">Guardar</button>
                            <br/>
                        </div>
                    </div> -->
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
    <br/>
    <br/>
  
    <div class="step__btn mt-4 mb-4">
      
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
      
        <button class="btn-primary2" (click)="registrar()">Guardar</button>
  
        <button class="btn-primary2" (click)="siguienteTab()"> Siguiente</button>
      </div>
</div>


<p-dialog appendTo="body" header="{{tituloModalMantenimiento}}" [(visible)]="verModalMantenimiento" [modal]="true" [style]="{width: '40vw'}" [maximizable]="false" [baseZIndex]="10000"
    [draggable]="false" [resizable]="true">
    <ng-template pTemplate="content">
        <form [formGroup]='MantenedorFormulario' novalidate>

            <div class="form-group">
                <label class="label">Actividad: *</label>
                <input formControlName="actividad"  type="text" class="form-control"  placeholder="" maxlength="250">
                <mensaje-error-control [control]="MantenedorFormulario.controls['actividad']"></mensaje-error-control>
            </div>
            <div class="form-group" >
                <label class="label">Descripción: *</label>
                <input formControlName="descripcion"  type="text" class="form-control"  placeholder="" maxlength="250">
                <mensaje-error-control [control]="MantenedorFormulario.controls['descripcion']"></mensaje-error-control>
            </div>
            <div class="form-group">
                <label class="label">Equipos: *</label>
                <input formControlName="equipos"  type="text" class="form-control"  placeholder="" maxlength="200">
                <mensaje-error-control [control]="MantenedorFormulario.controls['equipos']"></mensaje-error-control>
            </div>
            <div class="form-group">
                <label class="label">Insumos: *</label>
                <input formControlName="insumos"  type="text" class="form-control"  placeholder="" maxlength="200">
                <mensaje-error-control [control]="MantenedorFormulario.controls['insumos']"></mensaje-error-control>
            </div>
            <div class="form-group">
                <label class="label">Personal: *</label>
                <input formControlName="personal"  type="text" class="form-control"  placeholder="" maxlength="200">
                <mensaje-error-control [control]="MantenedorFormulario.controls['personal']"></mensaje-error-control>
            </div>
            <div class="form-group">
                <label class="label">Observaciones:</label>
                <textarea cols="3" rows="4" class="form-control" formControlName="observacion" maxlength="200"></textarea>
                <!--<mensaje-error-control [control]="MantenedorFormulario.controls['observacion']"></mensaje-error-control>-->
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer" >
        <button icon="pi pi-save" (click)="guardarRegistro()"  pButton pRipple type="button" label="Aceptar" class="p-button-success p-button-outlined"></button>
        <button icon="pi pi-times" (click)="verModalMantenimiento=false" pButton pRipple type="button" label="Cancelar" class="p-button-danger p-button-outlined"></button>
    </ng-template>
</p-dialog>
