<div class="panelk br10 mt-3 p-2">
  <!-- SECCION1 -->
  <div class="row m-0">
    <div class="col-12 my-3">
      <label class="title2">Evaluación (Según lineamiento 7.2.1)</label>
    </div>

    <div class="col-12 col-sm-4 form-group">
      <button type="button" class="btn btn-secondary" (click)="validarSuperposicion()" [disabled]="disabled">
        Validar Superposición en Mapa
      </button>
    </div>
    <div class="col-12 col-sm-8 form-group">
      <div class="nota">
        <b>Nota:</b>
        <p>1-Los resultados de la superposición se verán en el mapa superior.</p>
        <p>2-Los resultados de la superposición no se guardan, se validan en el momento.</p>
        <p>3-El único polígono que se valida será el principal, el cual cargado mediante el botón "Cargar Área".</p>
      </div>
    </div>

    <div class="col-12 col-sm-4 form-group">
      <label class="label">Categoría de Zonificación:</label>
      <div class="form-control-selectk">
        <p-dropdown appendTo="body" [options]="comboCategoria" placeholder="Seleccione" [(ngModel)]="modelCategoria"
          optionLabel="valor1" optionValue="codigo" [disabled]="disabled || modelCheckCateg">
        </p-dropdown>
      </div>
    </div>

    <div class="col-12 col-sm-4 form-group">
      <label class="label">&nbsp;&nbsp;&nbsp;</label>
      <div>
        <p-checkbox [(ngModel)]="modelCheckCateg" (ngModelChange)="changeCheckCat()" inputId="binary" [binary]="true"
          [disabled]="disabled"></p-checkbox>
        <label for="binary" class="label my-auto ml-2">No se encuentra categoría</label>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <app-carga-archivo-general [disabled]="disabled || !modelCheckCateg" label="Adjuntar Sustento:" accept=".png, .jpg, .pdf"
        [idArchivo]="idArchivoSustentoEvaluacion" [tipoDoc]="'PFDMA1_SS3_EVAL_1'" (registrarArchivo)="registrarArchivo($event)"
        (eliminarArchivo)="eliminarArchivo($event)">
      </app-carga-archivo-general>
    </div>
  </div>

  <!-- SECCION2 -->
  <div class="row m-0 mt-3">
    <div class="col-12">
      <p-table [value]="listaEvaluacion">
        <ng-template pTemplate="header">
          <tr>
            <th>Item</th>
            <th>Descripción</th>
            <th>Conforme</th>
            <th>Observado</th>
            <th style="width: 250px;">Observación</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>{{ data.item | lowercase }}</td>
            <td>{{ data.descripcion }}</td>
            <td class="text-center">
              <p-radioButton [(ngModel)]="data.conforme" name="rbObser" [value]="true" [disabled]="disabled"
                (click)="clickValidarRadio(data)"></p-radioButton>
            </td>
            <td class="text-center">
              <p-radioButton [(ngModel)]="data.conforme" name="rbObser" [value]="false" [disabled]="disabled"
                (click)="clickValidarRadio(data)"></p-radioButton>
            </td>
            <td>
              <input *ngIf="data.conforme === false" placeholder="Ingrese observación..." type="text"
                [(ngModel)]="data.observacion" class="form-control form-control-sm" [disabled]="disabled" />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="col-sm-12 col-md-6 mt-3 form-group">
      <div style="display: flex;">
        <p-checkbox [(ngModel)]="modelCheckSer" inputId="binary2" [binary]="true" [disabled]="disabled || isDisabledSer"></p-checkbox>
        <label for="binary2" class="label my-auto ml-2">Reporte de catastro indica que está superpuesto a un área
          natural o zona de amortiguamiento:</label>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-secondary" (click)="abrirModalSolicitud('SERNANP')"
          [disabled]="disabled || isDisabledSer || !modelCheckSer">
          Enviar a SERNAMP
        </button>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-3 form-group">
      <div style="display: flex;">
        <p-checkbox [(ngModel)]="modelCheckAna" inputId="binary3" [binary]="true" [disabled]="disabled || isDisabledAna"></p-checkbox>
        <label for="binary3" class="label my-auto ml-2">Reporte de catastro indica que está superpuesto a una zona
          húmedad, río, lagos, lagunas:</label>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-secondary" (click)="abrirModalSolicitud('ANA')"
          [disabled]="disabled || isDisabledAna || !modelCheckAna">
          Enviar a ANA
        </button>
      </div>
    </div>

    <div class="col-12 mt-3 form-group">
      <button type="button" class="btn-primary2" (click)="btnGuardarEval()" [disabled]="disabled">
        Guardar Evaluación
      </button>
    </div>

    <div class="col-12 mt-3 form-group">
      <label class="label">Realizar Evaluación de Condiciones Mínimas Asociadas al Solicitante:</label>
      <div>
        <button type="button" class="btn btn-secondary" (click)="btnValidarCM()" [disabled]="disabled">
          Validar Condiciones Mínimas
        </button>
      </div>
    </div>
  </div>
</div>

<app-solicitud-opinion-lineamiento
  [verModalSolicitud]="verModalSolicitud"
  [comboEntidad]="comboEntidad"
  [comboTipoDocumento]="comboTipoDocumento"
  [opinion]="opinion"
  [archivoAdjunto]="archivoAdjunto"
  (registrarAdjunto)="registrarAdjunto($event)"
  (eliminarAdjunto)="eliminarAdjunto()"
  (closeModal)="cerrarModal()"
>
  <ng-template #footer>
    <button
      icon="pi pi-save"
      (click)="enviarSolcitud()"
      pButton
      pRipple
      type="button"
      label="Enviar"
      class="p-button-success p-button-outlined"
      style="width: 106px"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
      style="width: 106px"
    ></button>
  </ng-template>
</app-solicitud-opinion-lineamiento>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<!-- MODAL PARA SERNAN Y ANA -->
<!-- <app-solicitud-opinion-lineamiento [verModalSolicitud]="verModalSolicitud" [comboEntidad]="comboEntidad"
    [comboTipoDocumento]="comboTipoDocumento" (registrarAdjunto)="registrarAdjunto($event)" (eliminarAdjunto)="eliminarAdjunto()" [opinion]="opinion"
    [archivoAdjunto]="archivoAdjunto" [disabledComboEntidad]="false" (closeModal)="cerrarModal()" [disabled]="isVerModalSolicitud">
    <ng-template #footer>
        <button icon="pi pi-save" (click)="enviarSolcitud()" pButton pRipple type="button" label="Enviar"
            class="p-button-success p-button-outlined" style="width: 106px;" *ngIf="!isVerModalSolicitud"></button>
        <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
            class="p-button-danger p-button-outlined" style="width: 106px;"></button>
    </ng-template>
</app-solicitud-opinion-lineamiento> -->
