<div class="container-fluit mb-4">
  <div class="row m-0 mt-3">
    <div class="col-12">
      <h3 class="title fz-17 text-center">CRITERIOS PARA LA CALIFICACIÓN DE LAS PROPUESTAS</h3>
    </div>
  </div>

  <div class="row m-0 mt-4 justify-content-center">
    <div class="col-12 col-sm-8">
      <div class="row m-0">

        <!-- SECCION 1 -->
        <div class="col-12">
          <table>
            <thead>
              <tr>
                <th colspan="2" class="text-left ">OBJETIVOS Y METAS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left"><b class="fz-11">Objetivos</b></td>
                <td><b class="fz-11">Puntaje</b></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left">
                  Objetivos bien definidos, combinando criterios de aprovechamiento/conservación, desarrollo comunal, y
                  que demuestran una activa participación local.
                </td>
                <td>
                  <p-inputNumber [maxlength]="1"  (onBlur)="sumaTotal()" (onInput)="onInputOM($event, 1)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje11" [styleClass]="stylesClass.w100px" [min]="0"
                    [max]="5">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Objetivos que combinan criterios de conservación/aprovechamiento y algunos aspectos de desarrollo
                  comunal.
                </td>
                <td>
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputOM($event, 2)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje12" [styleClass]="stylesClass.w100px" [maxlength]="1"
                    [min]="0" [max]="5"></p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Objetivos con un enfoque exclusivo respecto a conservación/aprovechamiento.
                </td>
                <td>
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputOM($event, 3)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje13" [styleClass]="stylesClass.w100px" [maxlength]="1"
                    [min]="0" [max]="5"></p-inputNumber>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left"><b class="fz-11">Metas</b></td>
                <td><b class="fz-11">Puntaje</b></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left">
                  Factibles y coherentes con la extensión de la concesión, los objetivos de la propuesta de concesión,
                  la zona de influencia y la participación local.
                </td>
                <td>
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputOM($event, 4)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje14" [styleClass]="stylesClass.w100px" [min]="0"
                    [max]="5">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Factibles y coherentes con los objetos de conservación/aprovechamiento.
                </td>
                <td>
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputOM($event, 5)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje15" [styleClass]="stylesClass.w100px" [min]="0"
                    [max]="5">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Poco factibles y poco coherentes con los objetivos planteados.
                </td>
                <td>
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputOM($event, 6)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje16" [styleClass]="stylesClass.w100px" [min]="0"
                    [max]="5">
                  </p-inputNumber>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- SECCION 2 -->
        <div class="col-12">
          <table>
            <thead>
              <tr>
                <th colspan="2" class="text-left ">CARACTERIZACIÓN BIOFÍSICA</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left"><b class="fz-11">Caracterización Física</b></td>
                <td><b class="fz-11">Puntaje</b></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left">
                  Presenta información basada en estudios realizado en el ámbito y en revisiones bibliográficas
                  actualizadas, citando la fuente, la cual debe ser verificable.
                </td>
                <td>
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputOM($event, 1)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje21" [styleClass]="stylesClass.w100px" [min]="0"
                    [max]="5">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Presenta información básica, basada sólo en una revisión bibliográfica.
                </td>
                <td>
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputOM($event, 2)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje22" [styleClass]="stylesClass.w100px" [maxlength]="1"
                    [min]="0" [max]="5"></p-inputNumber>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left"><b class="fz-11">Caracterización Biológica</b></td>
                <td><b class="fz-11">Puntaje</b></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left">
                  Presenta la descripción detallada de los ecosistemas del lugar y una lista de la flora y fauna que se
                  haya registrado in situ, indicando si se encuentran en la lista de categorización de especies
                  amenazadas, citando las publicaciones científicas, u otros documentos consultados.
                </td>
                <td>
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputOM($event, 3)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje23" [styleClass]="stylesClass.w100px" [min]="0"
                    [max]="5">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Presenta la descripción general de las características biológicas y/o una lista de flora y fauna
                  basada en extrapolaciones y revisiones bibliográficas de zonas similares.
                </td>
                <td>
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputOM($event, 4)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje24" [styleClass]="stylesClass.w100px" [maxlength]="1"
                    [min]="0" [max]="5"></p-inputNumber>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left"><b class="fz-11">Caracterización Socioeconómica</b></td>
                <td><b class="fz-11">Puntaje</b></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left">
                  Describe detalladamente las características socioeconómicas (población, actividades económicas,
                  tenencia de tierras, servicios básicos) de un manera cualitativa y cuantitativa en las zonas de
                  influencia (citar fuentes de consulta) y/o basados en encuestas realizadas por el solicitante.
                </td>
                <td>
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputOM($event, 5)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje25" [styleClass]="stylesClass.w100px" [min]="0"
                    [max]="5">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Describe de manera general las características socioeconómicas de las zonas de influencia.
                </td>
                <td>
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputOM($event, 6)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje26" [styleClass]="stylesClass.w100px" [min]="0"
                    [max]="5">
                  </p-inputNumber>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- SECCION 3 -->
        <div class="col-12">
          <table>
            <thead>
              <tr>
                <th colspan="2" class="text-left ">JUSTIFICACIÓN DE LA IMPORTANCIA DEL OTORGAMIENTO DE LA CONCESIÓN</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left"><b class="fz-11">Factores ambientales y biológicos</b></td>
                <td><b class="fz-11">Puntaje</b></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left">
                  Justifica detalladamente las principales razones ambientales y biológicas que determinan la necesidad
                  del aprovechamiento y/o conservación del área, y las relaciona con el tamaño del área a concesionar.
                </td>
                <td>
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputJI($event, 1)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje31" [styleClass]="stylesClass.w100px" [min]="0"
                    [max]="5">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Justifica de manera general las principales razones ambientales y biológicas que determinan la
                  necesidad de aprovechamiento y/o conservación del área, y las relaciona con el tamaño del área a
                  concesionar.
                </td>
                <td>
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputJI($event, 2)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje32" [styleClass]="stylesClass.w100px" [maxlength]="1"
                    [min]="0" [max]="5"></p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Justifica referencialmente las razones ambientales y biológicas que determinen la necesidad de
                  aprovechamiento y/o conservación del área.
                </td>
                <td>
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputJI($event, 3)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje33" [styleClass]="stylesClass.w100px" [maxlength]="1"
                    [min]="0" [max]="5"></p-inputNumber>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left"><b class="fz-11">Factores Sociales, económicos y culturales</b></td>
                <td><b class="fz-11">Puntaje</b></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left">
                  Justifica con precisión las principales razones sociales, económicas y culturales que determinan la
                  necesidad de aprovechamiento y/o conservación del área y los beneficios directos e indirectos que
                  brindará a las poblaciones colindantes. Además proporciona información sobre las amenazas al área
                  solicitada.
                </td>
                <td>
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputJI($event, 4)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje34" [styleClass]="stylesClass.w100px" [min]="0"
                    [max]="5">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Justifica referencialmente las razones sociales, económicas y culturales que determinan la necesidad
                  de aprovechamiento y/o conservación del área.
                </td>
                <td>
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputJI($event, 5)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje35" [styleClass]="stylesClass.w100px" [maxlength]="1"
                    [min]="0" [max]="5"></p-inputNumber>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left"><b class="fz-11">Manejo de la Concesión</b></td>
                <td><b class="fz-11">Puntaje</b></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left">
                  Describe actividades y cronograma para el manejo y/o aprovechamiento sostenible de acuerdo al tipo de
                  concesión solicitada, para los primeros cinco años. Además propone como actividad complementaria el
                  aprovechamiento de otros recursos forestales y de fauna silvestre compatible con el tipo de concesión,
                  o actividades productivas sostenibles en la zona de influencia del área solicitada.
                </td>
                <td>
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputJI($event, 6)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje36" [styleClass]="stylesClass.w100px" [min]="0"
                    [max]="5">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Describe actividades y cronograma para el manejo y/o aprovechamiento sostenible de acuerdo al tipo de
                  concesión solicitada, para los primeros cinco años.
                </td>
                <td>
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputJI($event, 7)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje37" [styleClass]="stylesClass.w100px" [min]="0"
                    [max]="5">
                  </p-inputNumber>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- SECCION 4 -->
        <div class="col-12">
          <table>
            <thead>
              <tr>
                <th colspan="2" class="text-left ">SUSTENTO FINANCIERO</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left"><b class="fz-11">Presupuesto</b></td>
                <td><b class="fz-11">Puntaje</b></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left">
                  Presenta un presupuesto para los primeros cinco años de ejecución de la iniciativa, señalando las
                  fuentes de financiamiento y adjuntando la documentación de respaldo.
                </td>
                <td>
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputSF($event, 1)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje41" [styleClass]="stylesClass.w100px" [min]="0"
                    [max]="5">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Presenta un presupuesto para los primeros cinco años de la iniciativa, señalando las fuentes de
                  financiamiento.
                </td>
                <td>
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputSF($event, 2)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje42" [styleClass]="stylesClass.w100px" [maxlength]="1"
                    [min]="0" [max]="5"></p-inputNumber>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left"><b class="fz-11">Análisis Financiero</b></td>
                <td><b class="fz-11">Puntaje</b></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left">
                  Presentar los valores correspondientes al punto de equilibrio, TIR y VAN con la finalidad de
                  determinar la viabilidad del proyecto.
                </td>
                <td>
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputSF($event, 3)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje43" [styleClass]="stylesClass.w100px" [min]="0"
                    [max]="5">
                  </p-inputNumber>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- SECCION 5 -->
        <div class="col-12">
          <table>
            <thead>
              <tr>
                <th class="text-left">EXPERIENCIA DEL POSTOR EN EL TEMA</th>
                <th>Puntaje</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left">
                  Acredita que ha trabajado e investigado en temas relacionados al tipo de concesión propuesto.
                </td>
                <td class="text-right">
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputEP($event, 1)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje51" [styleClass]="stylesClass.w100px" [min]="0"
                    [max]="5">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Acredita que ha trabajado o investigado temas relacionados al tipo de concesión propuesto.
                </td>
                <td class="text-right">
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputEP($event, 2)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje52" [styleClass]="stylesClass.w100px" [maxlength]="1"
                    [min]="0" [max]="5"></p-inputNumber>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- SECCION 6 -->
        <div class="col-12">
          <table>
            <thead>
              <tr>
                <th class="text-left">EQUIPO TÉCNICO (DATOS DE LA ACREDITACIÓN DE LA CAPACIDAD FINANCIERA)</th>
                <th>Puntaje</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left">
                  Respalda su capacidad técnica con profesionales, instituciones privadas reconocidas y/o instituciones
                  públicas.
                </td>
                <td class="text-right">
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputEQ($event, 1)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje61" [styleClass]="stylesClass.w100px" [min]="0"
                    [max]="5">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Respalda su capacidad técnica con por lo menos un ingeniero forestal, biólogo o profesional afín.
                </td>
                <td class="text-right">
                  <p-inputNumber [maxlength]="1" (onBlur)="sumaTotal()" (onInput)="onInputEQ($event, 2)"
                    [disabled]="isCalificacionFinalizada" [(ngModel)]="evaluar.puntaje62" [styleClass]="stylesClass.w100px" [maxlength]="1"
                    [min]="0" [max]="5"></p-inputNumber>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

  <div class="row m-0 mt-4 mb-4 justify-content-center">
    <div class="col-12 col-sm-8">
      <div class="row m-0">
        <div class="col-12 mb-3">
          <table>
            <tbody>
              <tr>
                <td><b class="fz-11">CALIFICACIÓN TOTAL</b></td>
                <td><b class="fz-11">HASTA 100 PUNTOS</b></td>
              </tr>
              <tr *ngIf="adicional">
                <td><b class="fz-11">Puntaje Total Obtenido</b></td>
                <td>
                  <p-inputNumber [disabled]="true" [(ngModel)]="puntajeObtenido"
                    [styleClass]="stylesClass.w100px" [maxlength]="3" [min]="0" [max]="100">
                  </p-inputNumber>
                </td>
              </tr>

              <tr *ngIf="isPrimerPostulante">
                <td><b class="fz-11">Puntaje Extra(10%)</b></td>
                <td>
                  <p-inputNumber [disabled]="true" [(ngModel)]="puntajeExtra" [styleClass]="stylesClass.w100px"
                    [maxlength]="3" [min]="0" [max]="100">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td><b class="fz-11">Calificación Total</b></td>
                <td>
                  <p-inputNumber [(ngModel)]="puntajeTotal" [styleClass]="stylesClass.w100px" [maxlength]="3"
                    [min]="0" [max]="100" [disabled]="true">
                  </p-inputNumber>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-12 col-sm-4 form-group">
          <label class="label">Descargar Plantilla</label>
          <div>
            <button class="btn btn-secondary" [disabled]="isCalificacionFinalizada" (click)="btnDescargarPlant()" [disabled]="false">Descargar</button>
          </div>
        </div>
        <div class="col-12 col-sm-8">
          <app-carga-archivo-general label="Adjuntar:" accept=".pdf, .png .jpg" [tipoDoc]="'CambiarEvalPro'" [idArchivo]="propuestasRequestEntity.idArchivo"
          [disabled]="isCalificacionFinalizada" (registrarArchivo)="registrarArchivo($event)"
            (eliminarArchivo)="eliminarArchivo($event)">
          </app-carga-archivo-general>
        </div>

        <div class="col-12 mt-3 text-center">
          <button (click)="btnGrabar()" [disabled]="isCalificacionFinalizada"  class="btn btn-primary2">Guardar</button>

          <button (click)="btnCancelar()" class="btn btn-primary2">Salir</button>
        </div>
      </div>
    </div>
  </div>

</div>