<p-fieldset [collapsed]="true" legend="2. Del Area" [toggleable]="true">
  <div class="row m-0">
    <div class="col-12">
      <h3 class="title2 fz-12">2.1 Del Predio</h3>
    </div>
  </div>

  <div class="button-container">
    <div class="form-group">
      <label class="label">&nbsp;&nbsp;</label>
      <div class="text-center">
        <button
          type="button"
          id="btnCargaShapeFile"
          (click)="fileInput.click()"
          class="btn btn-sm btn-secondary"
        >
          Cargar shape file
          <input
            #fileInput
            type="file"
            (change)="onFileShapeChange($event)"
            style="display: none"
          />
        </button>
      </div>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-12 col-sm-8">
      <div class="form-group">
        <label class="label"
          >Nombre del Predio<span class="required_">*</span>
        </label>
        <div class="form-control-selectk">
          <input
            [disabled]="data.readonly"
            [(ngModel)]="data.predio"
            type="text"
            autocomplete="off"
            class="form-control"
          />
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Área (ha)</label>
        <input
          [disabled]="data.readonly"
          [(ngModel)]="data.area"
          type="number"
          autocomplete="off"
          class="form-control"
          disabled="true"
        />
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Nombre del Propietario del Predio </label>
        <input
          [disabled]="data.readonly"
          [(ngModel)]="data.propietario_predio"
          type="text"
          autocomplete="off"
          class="form-control"
        />
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">DNI </label>
        <input
          [disabled]="data.readonly"
          [(ngModel)]="data.num_documento"
          type="text"
          autocomplete="off"
          class="form-control"
        />
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">RUC<span class="required_">*</span></label>
        <input
          maxlength="50"
          [disabled]="data.readonly"
          [(ngModel)]="data.ruc"
          type="text"
          autocomplete="off"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 col-sm-8">
      <div class="form-group">
        <label class="label">Ubicación geográfica </label>
        <div class="form-control-selectk">
          <input
            [disabled]="data.readonly"
            [(ngModel)]="data.ubi_geografica"
            type="text"
            placeholder="(Señalar centroide en coordenadas UTM, indicando la Zona y el Datum en el sistema WGS84)"
            autocomplete="off"
            class="form-control"
          />
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Caserio/Comunidad</label>
        <input
          [disabled]="data.readonly"
          [(ngModel)]="data.caserio_comunidad"
          type="text"
          autocomplete="off"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Departamento</label>
        <div class="form-control-selectk">
          <p-dropdown
            [disabled]="data.readonly"
            [(ngModel)]="data.id_departamento"
            [options]="ListaDepartamento"
            [filter]="true"
            filterBy="nombreDepartamento"
            [showClear]="true"
            placeholder="Select a Departamento"
            optionLabel="nombreDepartamento"
            optionValue="idDepartamento"
            (onChange)="listarPorFilroProvincia($event)"
          ></p-dropdown>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <label class="label">Provincia</label>
      <div class="form-control-selectk">
        <p-dropdown
          [disabled]="data.readonly"
          [(ngModel)]="data.id_provincia"
          [options]="ListaProvincia"
          [filter]="true"
          filterBy="nombreProvincia"
          [showClear]="true"
          placeholder="Select a Provincia"
          optionLabel="nombreProvincia"
          optionValue="idProvincia"
          (onChange)="listarPorFilroDistrito($event)"
        >
        </p-dropdown>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <label class="label">Distrito</label>
      <div class="form-control-selectk">
        <p-dropdown
          [disabled]="data.readonly"
          [(ngModel)]="data.id_distrito"
          [options]="ListaDistrito"
          [filter]="true"
          filterBy="nombreDistrito"
          [showClear]="true"
          placeholder="Select a Distrito"
          optionLabel="nombreDistrito"
          optionValue="idDistrito"
        ></p-dropdown>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12">
      <div class="f-w mb-2 mapa-content">
        <div class="mapa" #map></div>
      </div>
    </div>
  </div>
  <div class="row m-0" *ngIf="idSolicitante == 2">
    <div class="col-12 col-sm-12">
      <div class="form-group">
        <label class="label">Condición</label>
      </div>
    </div>

    <div class="col-12 col-md-12">
      <div class="row" style="align-items: center">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <p-checkbox
              name="condicion"
              [disabled]="data.readonly"
              value="cond_propietario"
              [(ngModel)]="data.condicionPropietario"
              [binary]="true"
            ></p-checkbox>
            <label class="m-0 pl-1 pointer" for="cond_propietario"
              >Propietario</label
            >
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Tipo/Número de Documento que acredita</label>
            <input
              [disabled]="data.readonly || !data.condicionPropietario"
              [(ngModel)]="data.pro_doc_acredita"
              type="text"
              autocomplete="off"
              class="form-control"
            />
          </div>
        </div>
      </div>

      <div class="fz-10" style="margin: 20px 0">
        En caso de contratos donde haya un acuerdo de beneficios entre el
        propietario y el inversionista, éste deberá especificar a nombre de
        quien se registrara la plantación
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label class="label"
              >Especificar el documento que autorice el uso del área para el
              establecimiento de plantación</label
            >
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder=""
                [disabled]="data.readonly || !data.condicionPropietario"
                readonly="true"
                [(ngModel)]="data.fileNamePropietario"
              />
              <div class="input-group-append">
                <button
                  type="button"
                  id="btnCargaShapeFile"
                  (click)="fileInput.click()"
                  class="btn btn-sm btn-secondary"
                  [disabled]="data.readonly || !data.condicionPropietario"
                >
                  Cargar Archivo<input
                    #fileInput
                    type="file"
                    style="display: none"
                    (change)="onFilePropietarioChange($event)"
                  />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <textarea
              class="form-control"
              rows="4"
              style="resize: none"
              [disabled]="data.readonly || !data.condicionPropietario"
            ></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12">
      <div class="row" style="align-items: center">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <p-checkbox
              name="condicion"
              [disabled]="data.readonly"
              value="cond_inversionista"
              [(ngModel)]="data.condicionInversionista"
              [binary]="true"
            ></p-checkbox>
            <label class="m-0 pl-1 pointer" for="cond_inversionista"
              >Inversionista</label
            >
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Tipo/Número de Documento que acredita</label>
            <input
              [disabled]="data.readonly || !data.condicionInversionista"
              [(ngModel)]="data.inv_doc_acredita"
              type="text"
              autocomplete="off"
              class="form-control"
            />
          </div>
        </div>
      </div>

      <div class="fz-10" style="margin: 20px 0">
        En caso de contratos donde haya un acuerdo de beneficios entre el
        propietario y el inversionista, éste deberá especificar a nombre de
        quien se registrara la plantación
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label class="label"
              >Especificar el documento que autorice el uso del área para el
              establecimiento de plantación</label
            >
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder=""
                [disabled]="data.readonly || !data.condicionInversionista"
                [(ngModel)]="data.fileNameInversionista"
                readonly="true"
              />
              <div class="input-group-append">
                <button
                  type="button"
                  id="btnCargaShapeFile"
                  (click)="fileInput2.click()"
                  [disabled]="data.readonly || !data.condicionInversionista"
                  class="btn btn-sm btn-secondary"
                >
                  Cargar Archivo<input
                    #fileInput2
                    type="file"
                    style="display: none"
                    (change)="onFileInversionistaChange($event)"
                  />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <textarea
              class="form-control"
              rows="4"
              style="resize: none"
              [disabled]="data.readonly || !data.condicionInversionista"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="idSolicitante != 2">
    <div class="row m-0 mt-2">
      <div class="col-12">
        <h3 class="title2 fz-12">
          2.2 Del Título Habilitante - Contrato (De Corresponder)
        </h3>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12 col-sm-8">
        <div class="form-group">
          <label class="label">Tipo</label>
          <div>
            <div class="p-field-radiobutton d-inline-full">
              <p-radioButton
                [disabled]="data.readonly"
                [(ngModel)]="data.tipo"
                name="tipo"
                value="P"
                inputId="tipo_cesion"
              ></p-radioButton>
              <label class="m-0 pl-1 pointer" for="tipo_cesion"
                >Cesión en uso para sistemas agroforestales</label
              >
            </div>
            <div class="p-field-radiobutton d-inline-full ml-3">
              <p-radioButton
                [disabled]="data.readonly"
                [(ngModel)]="data.tipo"
                name="tipo"
                value="I"
                inputId="tipo_concesion"
              ></p-radioButton>
              <label class="m-0 pl-1 pointer" for="tipo_concesion"
                >Concesión para plantaciones forestales</label
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <label class="label">Número</label>
        <input
          [disabled]="data.tipo == '' || data.readonly"
          [(ngModel)]="data.tipoNumero"
          type="text"
          autocomplete="off"
          class="form-control"
        />
      </div>
    </div>
  </div>

  <observaciones-plantacion
    *ngIf="idSolicitante == 4"
  ></observaciones-plantacion>
</p-fieldset>
