<div class="container-fluit py-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="Trozado" [selected]="true">
          <div class="row m-0">
            <div class="col-12 col-sm-6 form-group">
              <label class="label">Plan Manejo:</label>
              <div class="form-control-selectk">
                <p-dropdown appendTo="body" [options]="comboPlanManejo" placeholder="Seleccione"
                  [(ngModel)]="requestTabla.idPlanManejo" optionLabel="nombrePlan" optionValue="idPlanManejo"
                  (ngModelChange)="changePlanManejo()">
                </p-dropdown>
              </div>
            </div>
            <!-- Tabla Trozado -->
            <div class="col-12 form-group mt-3" style="overflow-x: auto;">
              <label class="label">Lista Trozado</label>
              <p-table [value]="listaTrozado" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
              currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]" (onPageChange)="loadDataTrozado($event)" [totalRecords]="listaTrozado.length">
                <ng-template pTemplate="header">
                  <tr>
                    <th>N°</th>
                    <th>Código Árbol</th>
                    <th>Parcela</th>
                    <th>N. Científico</th>
                    <th>N. Común</th>
                    <th>Coord. Este</th>
                    <th>Coord. Norte</th>
                    <th>DAP</th>
                    <th>Altura</th>
                    <th>Volumen</th>
                    <th>Tipo</th>
                    <th>Fecha Tala</th>
                    <th>Volumen Tala</th>
                    <th>Fecha Trozado</th>
                    <th>Volumen Trozado</th>
                    <th>Estado</th>
                    <th>Ver Detalle</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-fila>
                  <tr>
                    <td>{{fila.idTala}}</td>
                    <td>{{fila.codigoArbol}}</td>
                    <td>{{fila.parcelaCorta}}</td>
                    <td>{{fila.nombreCientifico}}</td>
                    <td>{{fila.nombreComun}}</td>
                    <td>{{fila.este}}</td>
                    <td>{{fila.norte}}</td>
                    <td>{{fila.dap}}</td>
                    <td>{{fila.altura}}</td>
                    <td>{{fila.volumen}}</td>
                    <td>{{fila.tipo}}</td>
                    <td>{{fila.fechaTala | date: "dd/MM/YYYY" : 'UTC'}}</td>
                    <td>{{fila.volumenTala}}</td>
                    <td>{{fila.fechaTrozado | date: "dd/MM/YYYY" : 'UTC'}}</td>
                    <td>{{fila.volumenTrozado}}</td>
                    <td>{{fila.estadoTala}}</td>
                    <td>
                      <span class="pointer"><i class="pi pi-eye" title="Ver Detalle"
                          (click)="btnDetalle(fila)"></i></span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <!--<p-paginator [rows]="10" [totalRecords]="totalRecordsTrozado" (onPageChange)="loadDataTrozado($event)"
                [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registros">
              </p-paginator>-->
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>