
<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 pt-3">
      <h3 class="title">{{tituloBandeja}} </h3>
    </div>
  </div>

  <bandeja-eval-pmfi-dema
    [evaluacionRequest]="evaluacionRequest"
    [planes]="planes"
    [perfil]="usuario.sirperfil"
    [totalRecords]="totalRecords"
    [descripcionPlan]="PLAN.descripcion"
    (limpiar)="limpiar()"
    (nuevo)="nuevoPlan()"
    (load)="load($event)"
    (buscar)="buscar()"
    (evaluacionPlan)="evaluarPlan($event)"
    (visualizarPlan)="verPlan($event)"
    (visualizarRequisitosPrevios)="verRequisitosPrevios($event)"
    (visualizarRequisitosMesaPartes)="verRequisitosMesaPartes($event)"
    (remitirPlan)="remitirPlan($event)"
  >
  </bandeja-eval-pmfi-dema>
</div>
