<div class="container-fluit  mt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="Resultado de Evaluación" [selected]="true">
          <div class="row m-0 mt-3">
            <div class="col-12 form-group">
              <div class="p-field-radiobutton">
                <p-radioButton name="evaluado" inputId="favorable" [value]="codRadio.FAV" [disabled]="isDisbledEval || isSolicitudHija" [(ngModel)]="evaluado">
                </p-radioButton>
                <strong for="conforme" class="label ml-2">Favorable</strong>
              </div>
              <div class="p-field-radiobutton">
                <p-radioButton name="evaluado" inputId="desfavorable" [value]="codRadio.DESF" [disabled]="isDisbledEval || isSolicitudHija" [(ngModel)]="evaluado">
                </p-radioButton>
                <strong for="conforme" class="label ml-2">Desfavorable</strong>
              </div>
              <div class="p-field-radiobutton">
                <p-radioButton name="evaluado" inputId="observado" [value]="codRadio.SUB" [disabled]="isDisbledEval || isSolicitudHija" [(ngModel)]="evaluado">
                </p-radioButton>
                <strong for="observado" class="label ml-2">Observado Subsanable</strong>
              </div>
            </div>
          </div>
          <ng-container *ngIf="evaluado === codRadio.SUB">
            <div class="row m-0 mt-3">
              <div class="col-12 form-group">
                <label class="label">Observaciones <small>(máx. 250 caract.)</small>: *</label>
                <textarea autocomplete="off" class="form-control" cols="3" rows="4" maxlength="250" [disabled]="isDisbledEval || isSolicitudHija" [(ngModel)]="requestEntity.observaciones"
                  pInputTextarea></textarea>
              </div>
            </div>
          </ng-container>

          <div *ngIf="evaluado === codRadio.SUB" class="col-12 form-group">
            <button class="btn-primary2 ml-0" (click)="validarGuardarEval()" [disabled]="isDisbledEval || isSolicitudHija"
              >Enviar Observaciones a Solitante</button>
          </div>

          <ng-container>
            <div class="row m-0 mt-3">
              <ng-container *ngIf="evaluado === codRadio.FAV">
                <div class="col-12 form-group">
                  <button class="btn-primary2 ml-0" (click)="btnAprobarSolicitud()" [disabled]="isDisbledEval || isSolicitudHija"
                    >Aprobar Solicitud</button>
                </div>
              </ng-container>

              <div *ngIf="evaluado === codRadio.DESF" class="col-12 form-group">
                <button class="btn-primary2 ml-0" (click)="btnDenegarSolicitud()" [disabled]="isDisbledEval || isSolicitudHija">Denegar Solicitud</button>
              </div>

            </div>
          </ng-container>

          <ng-container *ngIf="isSolicitudHija">
            <div class="row m-0 mt-3">
              <div class="col-12">
                <button class="btn-primary2 ml-0 ml-3" (click)="btnActualizarInfo($event)" [disabled]="false">Actualizar Información</button>
                <button class="btn-primary2" (click)="btnRechazarInfo($event)" [disabled]="false">Rechazar Información</button>
              </div>
            </div>
          </ng-container>

        </p-accordionTab >

        <p-accordionTab *ngIf = "isMostrar" header="Certificación de Inscripción"  >

          <ng-container >
            <div class="row m-0 mt-3">
              <div class="col-12 col-sm-6 form-group">
                <label class="label">Generar número de registro</label>

              </div>
              <div class="col-12 col-sm-3">
                <input type="text" [disabled]="true" [(ngModel)]="nroRegistro"
                autocomplete="off" class="form-control" />

              </div>
              <div class="col-12 col-sm-3">

                <button class="btn btn-primary2" (click)="btnGenerarRegistro()" [disabled]="isDisbledGenReg">Generar</button>
              </div>
            </div>
            <div class="row m-0 mt-3">
              <div class="col-12 col-sm-6 form-group">
                <label class="label">Generar Anexo 2 -  Certificado de registro de plantaciones</label>

              </div>
              <div class="col-12 col-sm-3">

              </div>
              <div class="col-12 col-sm-3">
                <button class="btn btn-primary2" (click)="btnGenerarCertificado()" >Generar</button>
              </div>
            </div>
            <div class="row m-0 mt-3">
              <div class="col-12 col-sm-6 form-group">
                <label class="label">Descargar Certificado de Registro de Plantaciones</label>

              </div>
              <div class="col-12 col-sm-3">

              </div>
              <div class="col-12 col-sm-3">
                <button class="btn btn-primary2" (click)="btnDescargarCertificado()" >Descargar</button>
              </div>
            </div>
            <div class="row m-0 mt-3">
              <div class="col-12 col-sm-6 form-group">
                <label class="label">Cargar certficado de registro de plantaciones firmado</label>

              </div>
              <div class="col-12 col-sm-5">
                <app-carga-archivo-general label="" accept=".pdf" [tipoDoc]="'CambiarTab8_1'"
                [idArchivo]="idArchivoCertificado"  (registrarArchivo)="registrarArchivo($event)"
                  (eliminarArchivo)="eliminarArchivo($event)">
                </app-carga-archivo-general>
              </div>
            </div>


          </ng-container>


          <div  class="col-12 form-group">
            <button class="btn-primary2 ml-0" (click)="btnGuardarCertificado()" >Guardar</button>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>
