<p-panel header="{{ titulo }}" [toggleable]="true">
  <div class="row m-0">
    <div class="col-12">
      <div *ngIf="resolucion == 'OBSE'">
        <ng-container *ngTemplateOutlet="noresolucionArchivo"></ng-container>
      </div>
      <div *ngIf="resolucion == 'FAVO'">
        <ng-container
          *ngTemplateOutlet="siresolucionFavorableArchivo"
        ></ng-container>
      </div>
      <div *ngIf="resolucion == 'DESF'">
        <ng-container
          *ngTemplateOutlet="siresolucionDesfavorableArchivo"
        ></ng-container>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Tipo documento</label>
        <div class="form-control-selectk">
          <p-dropdown
            [options]="listDocumentos"
            optionLabel="valor1"
            optionValue="codigo" [disabled]="disabled"
            placeholder="Seleccione"
            [(ngModel)]="informeEvaluacionObj.tipoDocumento"
          ></p-dropdown>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group"></div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">N° documento</label>
        <input
          type="number" [disabled]="disabled"
          class="form-control form-control-sm"
          [(ngModel)]="informeEvaluacionObj.nuDocumento"
          maxlength="15"
        />
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12">
      <label class="label" style="font-weight: bold;">Datos del Firmante</label>
    </div>

    <div class="row m-0 col-12">
      <div class="col-12 col-sm-6 p-0">
        <div class="form-group">
          <label class="label">DNI</label>
          <input
            class="form-control form-control-sm" [disabled]="disabled"
            [(ngModel)]="informeEvaluacionObj.nuDocumentoFirmante"
            maxlength="15"
          />
        </div>
      </div>
      <div class="col-12 col-sm-2">
        <div><label>&nbsp;&nbsp;</label></div>
        <button (click)="validarTitular()" [disabled]="disabled"  class="btn btn-secondary mb-3">
          Validar
        </button>
      </div>
    </div>

    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Nombres</label>
        <input
          type="text" [disabled]="disabled"
          class="form-control form-control-sm"
          [(ngModel)]="informeEvaluacionObj.nombreFirmante"
        />
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Apellido Paterno</label>
        <input
          type="text" [disabled]="disabled"
          class="form-control form-control-sm"
          [(ngModel)]="informeEvaluacionObj.paternoFirmante"
        />
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Apellido Materno</label>
        <input
          type="text" [disabled]="disabled"
          class="form-control form-control-sm"
          [(ngModel)]="informeEvaluacionObj.maternoFirmante"
        />
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Cargo</label>
        <input
          type="text" [disabled]="disabled"
          class="form-control form-control-sm"
          [(ngModel)]="informeEvaluacionObj.cargoFirmante"
          maxlength="25"
        />
      </div>
    </div>
  </div>

  <div *ngIf="resolucion == 'OBSE'">
    <ng-container *ngTemplateOutlet="noresolucion"></ng-container>
  </div>
  <div *ngIf="resolucion == 'FAVO'">
    <ng-container *ngTemplateOutlet="siresolucionFavorable"></ng-container>
  </div>
  <div *ngIf="resolucion == 'DESF'">
    <ng-container *ngTemplateOutlet="siresolucionDesfavorable"></ng-container>
  </div>
</p-panel>

<ng-template #noresolucionArchivo>
  <div class="col-12">
    <label class="label" style="font-weight: bold;"
      >Carga de Documento de Subsanación</label
    >
  </div>
  <div class="col-12">
    <!-- <input-buttons
      [file]="archivoDocSubsanacion"
      [label]="''"
      [idPlanManejo]="idPlanManejo"
      [idTipoDocumento]="43"
      [codigoProceso]="codigoPlan"
    >
    </input-buttons> -->
    <input-buttons-codigo
      [idPlanManejo]="idPlanManejo"
      [idTipoDocumento]="43" [disabled]="disabled"
      [codigoProceso]="codigoPlan"
    >
    </input-buttons-codigo>
  </div>
</ng-template>

<ng-template #siresolucionFavorableArchivo>
  <div class="col-12">
    <label class="label" style="font-weight: bold;"
      >Carga Resolución Administrativa de Aprobación</label
    >
  </div>
  <div class="col-12">
    <!-- <input-buttons
      [file]="archivoDocAprueba"
      [label]="''"
      [idPlanManejo]="idPlanManejo"
      [idTipoDocumento]="46"
      [codigoProceso]="codigoPlan"
    >
    </input-buttons> -->
    <input-buttons-codigo
      [idPlanManejo]="idPlanManejo"
      [idTipoDocumento]="46" [disabled]="disabled"
      [codigoProceso]="codigoPlan"
    >
    </input-buttons-codigo>
  </div>
</ng-template>

<ng-template #siresolucionDesfavorableArchivo>
  <div class="col-12">
    <label class="label" style="font-weight: bold;"
      >Carga Resolución Administrativa de Desaprobación</label
    >
  </div>
  <div class="col-12">
    <!-- <input-buttons
      [file]="archivoDocDesaprueba"
      [label]="''"
      [idPlanManejo]="idPlanManejo"
      [idTipoDocumento]="47"
      [codigoProceso]="codigoPlan"
    >
    </input-buttons> -->
    <input-buttons-codigo
      [idPlanManejo]="idPlanManejo"
      [idTipoDocumento]="47"
      [codigoProceso]="codigoPlan" [disabled]="disabled"
    >
    </input-buttons-codigo>
  </div>
</ng-template>

<ng-template #noresolucion>
  <div class="row m-0">
    <div class="col-12">
      <label class="label" style="font-weight: bold;"
        >Datos de Notificación</label
      >
    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Fecha de documento</label>
        <div class="content-date">
          <input
            readonly="true"
            autocomplete="off"
            class="form-control" [disabled]="disabled"
            matInput
            [matDatepicker]="fechaDocumento"
            [min]="minDate"
            [(ngModel)]="fechaNotificacion"
          />
          <i class="pi pi-calendar pointer" (click)="fechaDocumento.open()"></i>
          <mat-datepicker #fechaDocumento></mat-datepicker>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Asunto</label>
        <input
          type="text" [disabled]="disabled"
          class="form-control form-control-sm"
          [(ngModel)]="informeEvaluacionObj.asunto"
          maxlength="25"
        />
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <!-- <input-buttons
        [file]="archivoNotificacion"
        [label]="'Carga de Documento de Notificación'"
        [idPlanManejo]="idPlanManejo"
        [idTipoDocumento]="53"
        [codigoProceso]="codigoPlan"
      >
      </input-buttons> -->
      <input-buttons-codigo
        [label]="'Carga de Documento de Notificación'"
        [idPlanManejo]="idPlanManejo" [disabled]="disabled"
        [idTipoDocumento]="53"
        [codigoProceso]="codigoPlan"
      >
      </input-buttons-codigo>
    </div>
    <div class="col-12 text-right" *ngIf="resolucion == 'OBSE'">
      <button
        type="button"
        class="btn btn-primary2 pl-3 pr-3" [disabled]="disabled"
        (click)="guardarNotificar('OBSE')"
      >
        Remitir
      </button>
    </div>
  </div>
</ng-template>

<ng-template #siresolucionFavorable>
  <div>
    <div class="row m-0">
      <div class="col-12">
        <label class="label" style="font-weight: bold;"
          >Datos de Resolución</label
        >
      </div>
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="label">Fecha de documento</label>
          <div class="content-date">
            <input
              readonly
              autocomplete="off"
              class="form-control"
              matInput [disabled]="disabled"
              [matDatepicker]="fechaDocumento"
              [min]="minDate"
              [(ngModel)]="fechaNotificacion"
            />
            <i
              class="pi pi-calendar pointer"
              (click)="!disabled && fechaDocumento.open()"
            ></i>
            <mat-datepicker #fechaDocumento></mat-datepicker>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="label">Asunto</label>
          <input
            type="text" [disabled]="disabled"
            class="form-control form-control-sm"
            [(ngModel)]="informeEvaluacionObj.asunto"
            maxlength="25"
          />
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <!-- <input-buttons
          [file]="archivoResolucion"
          [label]="'Carga de Resolución Firmada'"
          [idPlanManejo]="idPlanManejo"
          [idTipoDocumento]="48"
          [codigoProceso]="codigoPlan"
        >
        </input-buttons> -->
        <input-buttons-codigo
          [label]="'Carga de Resolución Firmada'"
          [idPlanManejo]="idPlanManejo"  [disabled]="disabled"
          [idTipoDocumento]="48"
          [codigoProceso]="codigoPlan"
        >
        </input-buttons-codigo>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12">
        <label class="label" style="font-weight: bold;"
          >Datos de Notificación</label
        >
      </div>
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="label">Fecha</label>
          <div class="content-date">
            <input
              readonly
              autocomplete="off"
              class="form-control" [disabled]="disabled"
              matInput
              [matDatepicker]="fecha"
              [min]="minDate"
              [(ngModel)]="fechaResolucion"
            />
            <i class="pi pi-calendar pointer" (click)="!disabled  && fecha.open()"></i>
            <mat-datepicker #fecha></mat-datepicker>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-8">
        <!-- <input-buttons
          [file]="archivoNotificacion"
          [label]="'Carga de Documento de Notificación'"
          [idPlanManejo]="idPlanManejo"
          [idTipoDocumento]="44"
          [codigoProceso]="codigoPlan"
        >
        </input-buttons> -->
        <input-buttons-codigo
          [label]="'Carga de Documento de Notificación'"
          [idPlanManejo]="idPlanManejo"
          [idTipoDocumento]="44" [disabled]="disabled"
          [codigoProceso]="codigoPlan"
        >
        </input-buttons-codigo>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12">
        <label class="label" style="font-weight: bold;"
        >Datos de Consentimiento</label>
      </div>
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="label">Fecha</label>
          <div class="content-date">
            <input
              readonly
              autocomplete="off"
              class="form-control"
              matInput
              [matDatepicker]="fechacf" [disabled]="disabled"
              [min]="minDate"
              [(ngModel)]="fechaConsentimiento"
            />
            <i class="pi pi-calendar pointer" (click)="!disabled && fechacf.open()"></i>
            <mat-datepicker #fechacf></mat-datepicker>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-8">
        <input-buttons-codigo
          [label]="'Adjuntar datos de consentimiento'"
          [idPlanManejo]="idPlanManejo"
          [codigoProceso]="codigoPlan"  [disabled]="disabled"
          [idTipoDocumento]="'CADCONSEN'"
        >
        </input-buttons-codigo>
      </div>
    </div>
    <div class="col-12 text-right">
      <button
        type="button"
        class="btn btn-primary2 pl-3 pr-3" [disabled]="disabled"
        (click)="guardarNotificar('FAVO')"
      >
        Remitir
      </button>
    </div>
  </div>
</ng-template>

<ng-template #siresolucionDesfavorable>
  <div>
    <div class="row m-0">
      <div class="col-12">
        <label class="label" style="font-weight: bold;"
          >Datos de Resolución</label
        >
      </div>
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="label">Fecha de documento</label>
          <div class="content-date">
            <input
              readonly
              autocomplete="off" [disabled]="disabled"
              class="form-control"
              matInput
              [matDatepicker]="fechaDocumento"
              [min]="minDate"
              [(ngModel)]="fechaNotificacion"
            />
            <i
              class="pi pi-calendar pointer"
              (click)="!disabled && fechaDocumento.open()"
            ></i>
            <mat-datepicker #fechaDocumento></mat-datepicker>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="label">Asunto</label>
          <input
            type="text"
            class="form-control form-control-sm"
            [(ngModel)]="informeEvaluacionObj.asunto" [disabled]="disabled"
            maxlength="25"
          />
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <!-- <input-buttons
          [file]="archivoResolucionDesaprueba"
          [label]="'Carga de Resolución Firmada'"
          [idPlanManejo]="idPlanManejo"
          [idTipoDocumento]="49"
          [codigoProceso]="codigoPlan"
        >
        </input-buttons> -->
        <input-buttons-codigo
          [label]="'Carga de Resolución Firmada'" [disabled]="disabled"
          [idPlanManejo]="idPlanManejo"
          [idTipoDocumento]="49"
          [codigoProceso]="codigoPlan"
        >
        </input-buttons-codigo>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12">
        <label class="label" style="font-weight: bold;"
          >Datos de Notificación</label
        >
      </div>
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="label">Fecha</label>
          <div class="content-date">
            <input
              readonly
              autocomplete="off"
              class="form-control"
              matInput [disabled]="disabled"
              [matDatepicker]="fecha"
              [min]="minDate"
              [(ngModel)]="fechaResolucion"
            />
            <i class="pi pi-calendar pointer" (click)="!disabled && fecha.open()"></i>
            <mat-datepicker #fecha></mat-datepicker>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-8">
        <!-- <input-buttons
          [file]="archivoNotificacionDesaprueba"
          [label]="'Carga de Documento de Notificación'"
          [idPlanManejo]="idPlanManejo"
          [idTipoDocumento]="45"
          [codigoProceso]="codigoPlan"
        >
        </input-buttons> -->
        <input-buttons-codigo
          [label]="'Carga de Documento de Notificación'"
          [idPlanManejo]="idPlanManejo"
          [idTipoDocumento]="45" [disabled]="disabled"
          [codigoProceso]="codigoPlan"
        >
        </input-buttons-codigo>
      </div>
    </div>

    <div class="row m-0">
      <div class="col-12">
        <label class="label" style="font-weight: bold;"
        >Datos de Consentimiento</label
        >
      </div>
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="label">Fecha</label>
          <div class="content-date">
            <input
              readonly
              autocomplete="off"
              class="form-control" [disabled]="disabled"
              matInput
              [matDatepicker]="fechac"
              [min]="minDate"
              [(ngModel)]="fechaConsentimiento"
            />
            <i class="pi pi-calendar pointer" (click)="!disabled && fechac.open()"></i>
            <mat-datepicker #fechac></mat-datepicker>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-8">
        <input-buttons-codigo
          [label]="'Adjuntar datos de consentimiento'"
          [idPlanManejo]="idPlanManejo" [disabled]="disabled"
          [codigoProceso]="codigoPlan"
          [idTipoDocumento]="'CADCONSEN'"
        >
        </input-buttons-codigo>
      </div>
    </div>

    <div class="col-12 text-right">

      <button
        type="button"
        class="btn btn-primary2 pl-3 pr-3" [disabled]="disabled"
        (click)="guardarNotificar(resolucion)">
        Remitir
      </button>

    </div>
  </div>
</ng-template>
