<div class="col-12">
  <label for="">Datos Personales</label>
  <div class="row col-12 p-4">
    <div class="col-6 text-center">
      <label for="">Descarga de Documentos</label>
    </div>
    <div class="col-6 text-center">
      <button class="btn btn-sm btn-secondary">Descargar Plantilla</button>
    </div>
  </div>

  <mat-divider class="p-3"></mat-divider>
  <div class="col-12">
    <label for=""> ¿Anexo con observaciones?</label>
  </div>
  <div class="col-12">
    <div class="p-field-radiobutton d-inline-full">
      <label class="m-0 pl-1 pointer" for="si">Si</label>
      <p-radioButton name="tipoUsuario" [value]="true" inputId="si"></p-radioButton>
    </div>

    <div class="p-field-radiobutton d-inline-full">
      <label class="m-0 pl-1 pointer" for="no">No</label>
      <p-radioButton name="tipoUsuario" [value]="false" inputId="no"></p-radioButton>
    </div>
  </div>
  <div class="row col-12 p-4">
    <input type="text" class="form-control" placeholder="" />
  </div>

  <div class="row col-12 justify-content-end">
    <div class="p-2">
      <button
              icon="pi pi-save"
              pButton
              pRipple
              type="button"
              label="Guardar"
              (click)="agregar()"
              class="p-button-success p-button-outlined"></button>
    </div>
    <div class="p-2">
      <button
              icon="pi pi-times"
              pButton
              pRipple
              type="button"
              label="Cancelar"
              (click)="cancelar()"
              class="p-button-danger p-button-outlined"></button>
    </div>
  </div>
</div>
<p-toast position="bottom-center" key="tl"></p-toast>