<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 form-group">
      <label class="label">Nombre de archivo:</label>
      <input type="text" class="form-control" placeholder="" maxlength="50" [(ngModel)]="evidencia.nombreEvidencia"
        [disabled]="isDisabled">
    </div>
    <div class="col-12 form-group">
      <label class="label">Descripción:</label>
      <input type="text" class="form-control" placeholder="" maxlength="100"
        [(ngModel)]="evidencia.descripcionEvidencia" [disabled]="isDisabled">
    </div>
    <div class="col-12 form-group">
      <app-carga-archivo-general [disabled]="isDisabled" label="Cargar archivo:" accept=".png, .jpg, .pdf"
        [tipoDoc]="'CAMBIAR_EVIDENCIA'" [idArchivo]="evidencia.idArchivoEvidencia"
        (registrarArchivo)="registrarArchivo($event)" (eliminarArchivo)="eliminarArchivo($event)">
      </app-carga-archivo-general>
    </div>

    <ng-container *ngIf="isPerArrf">
      <div class="col-12 form-group">
        <div class="p-field-radiobutton d-inline-full">
          <p-radioButton [(ngModel)]="evidencia.verificadoAcreditaEvidencia" name="verificado" [value]="1">
          </p-radioButton>
          <label class="mr-2 pl-1 pointer" for="obserNo">Verificado</label>
        </div>
        <div class="p-field-radiobutton d-inline-full">
          <p-radioButton [(ngModel)]="evidencia.verificadoAcreditaEvidencia" name="verificado" [value]="0">
          </p-radioButton>
          <label class="mr-2 pl-1 pointer">Observado</label>
        </div>
      </div>

      <div class="col-12 form-group" *ngIf="evidencia.verificadoAcreditaEvidencia == 0">
        <label class="label">Observaciones <small>(máx. 250 caract.)</small>:</label>
        <textarea class="form-control" maxlength="250" rows="4" [(ngModel)]="evidencia.observacionAcreditaEvidencia"></textarea>
      </div>
    </ng-container>

  </div>
  <div class="row m-0">
    <div class="col-12 text-right">
      <button icon="pi pi-save" *ngIf="mostrarBtnGuardar" pButton pRipple type="button" [label]="labelBtnguardar" (click)="btnGuardar($event)"
        class="p-button-success p-button-outlined mr-2"></button>
      <button icon="pi pi-times" (click)="btnCerrar()" pButton pRipple type="button" label="Cancelar"
        class="p-button-danger p-button-outlined"></button>
    </div>
  </div>
</div>