<div class="panelk br10 mt-3 p-2">
  <div class="row m-0">
    <div class="col-12">
      <label class="title2">Evaluación</label>
    </div>
    <div class="col-12 form-group">
      <div class="p-field-radiobutton">
        <strong for="conformeid" class="label mr-2">Conforme</strong>
        <p-radioButton name="conforme" inputId="conformeid" [value]="true" [disabled]="disabled" [(ngModel)]="requestEvaluar.conforme">
        </p-radioButton>
      </div>
      <div class="p-field-radiobutton">
        <strong for="observadoid" class="label mr-2">Observado</strong>
        <p-radioButton name="conforme" inputId="observadoid" [value]="false" [disabled]="disabled" [(ngModel)]="requestEvaluar.conforme">
        </p-radioButton>
      </div>
    </div>
    <div *ngIf="requestEvaluar.conforme === false" class="col-12 form-group">
      <label class="label">Descripción de Observaciones <small>(máx. 250 caract.)</small>: *</label>
      <textarea autocomplete="off" class="form-control" cols="3" rows="4" maxlength="250" [(ngModel)]="requestEvaluar.observacion"
        [disabled]="disabled" pInputTextarea>
      </textarea>
    </div>
    <div class="col-12 form-group mt-3">
      <button type="button" class="btn-primary2" (click)="btnGuardar()" [disabled]="disabled">
        Guardar Evaluación
      </button>
    </div>
  </div>
</div>