<div class="col-12" *ngIf="!comboListEspeciesFauna.length">
  <label class="lbl-info mt-3 mb-3" style="float: none !important">
   No se han registrado especies en este Plan Operativo.
  </label>
</div>

<div class="row m-0 mb-4">
  <div class="col-12">
    <p-table
      [value]="comboListEspeciesFauna"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Total : {totalRecords} registros"
      [rowsPerPageOptions]="[10, 25, 50]"
      [totalRecords]="comboListEspeciesFauna.length"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 50px"></th>
          <th>Nombre Científico</th>
          <th>Nombre Común</th>
          <th>Familia</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td>
            <p-checkbox
              name="fauna"
              [value]="data"
              [(ngModel)]="selectedValues"
              [disabled]="!isPerfilARFFS"
            >
            </p-checkbox>
          </td>
          <td>{{ data.textNombreCientifico }}</td>
          <td>{{ data.textNombreComun }}</td>
          <th>{{ data.familia }}</th>
        </tr>
      </ng-template>
    </p-table>
    <!-- <p-paginator
      [rows]="10"
      [totalRecords]="totalRecords"
      (onPageChange)="loadData($event)"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Total : {totalRecords} registros"
      [rowsPerPageOptions]="[10, 25, 50]"
    >
    </p-paginator> -->
  </div>
</div>

<div class="d-flex justify-content-end">
  <button
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
    label="Aceptar"
    class="p-button-success p-button-outlined"
    style="width: 106px"
    [disabled]="!comboListEspeciesFauna.length || !isPerfilARFFS"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
    style="width: 106px"
  ></button>
</div>
<p-toast></p-toast>
<p-toast position="top-right" key="tml"></p-toast>
