
      <div class="row m-0">
        <div class="col-12">
          <h3 class="title">Elaboración del Plan General de Manejo Forestal</h3>
          <h3 class="title2"> Plan general de manejo forestal para concesiones forestales con fines maderables</h3>
        </div>
        <div class="col-12 mt-3">
            <p-panel header="Informacion General"  styleClass="panel-header-show-xs" [toggleable]="true">
                <ng-template pTemplate="icons"> </ng-template>
                <div>
                    <div class="row m-0">
                        <div class="col-12 col-sm-6">
                            <b class="fz-12 color-default">Aurtoridad forestal: </b>
                            <label class="label">Aurtoridad forestal</label>
                        </div>
                        <div class="col-12 col-sm-6">
                            <b class="fz-12 color-default">Número PGMF: </b>
                            <label class="label">006</label>
                        </div>

                        <div class="col-12 col-sm-6">
                            <b class="fz-12 color-default">Tipo de contrato: </b>
                            <label class="label">Concesión</label>
                        </div>
                        <div class="col-12 col-sm-6">
                            <b class="fz-12 color-default">Departamento: </b>
                            <label class="label">Loreto</label>
                        </div>

                        <div class="col-12 col-sm-6">
                            <b class="fz-12 color-default">Titular: </b>
                            <label class="label">FORESTAL INDUSTRIAS S.A. 342577689879</label>
                        </div>
                        <div class="col-12 col-sm-6">
                            <b class="fz-12 color-default">Provincia: </b>
                            <label class="label">Loreto</label>
                        </div>

                        <div class="col-12 col-sm-6">
                            <b class="fz-12 color-default">Número de contrato: </b>
                            <label class="label">16-REQ/C-J-076-03</label>
                        </div>
                        <div class="col-12 col-sm-6">
                            <b class="fz-12 color-default">Estado de flujo de trabajo: </b>
                            <label class="label">Borrador</label>
                        </div>
                        
                        <div class="col-12 col-sm-6">
                            <b class="fz-12 color-default">Número de referencia del contrato: </b>
                            <label class="label">0006</label>
                        </div>

                    </div>
                </div>
            </p-panel>            
        </div>
        <div class="col-12 mt-4">
          <div class="stepk-EvalAproPM">
            <app-stepper></app-stepper>
          </div>          
        </div>
      </div>


