<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab
          header="6.1. Caracterización de la comunidad"
          [selected]="true"
        >
          <div class="col-12 mt-4 mb-3" class="title">
            <div class="col-12 text-right mb-2">
              <button
                (click)="openModal()"
                icon="pi pi-plus"
                pButton
                pRipple
                [disabled]="disabled"
                type="button"
                label=""
                class="p-button-success p-button-text"
              ></button>
            </div>
            <p-table
              [value]="listCaracterizacionComunidad"
              styleClass="p-datatable-gridlines"
              class="table-justify"
            >
              <ng-template pTemplate="caption" style="justify-content: center;">
                Caracterización de la población de la UMF y su entorno
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 60px; max-width: 60px; min-width: 60px;">
                    Acciones
                  </th>
                  <th style="width: 100px; max-width: 200px; min-width: 100px;">
                    Tipos de población
                  </th>
                  <th style="width: 100px; max-width: 200px; min-width: 100px;">
                    Actividades principales
                  </th>
                  <th style="width: 100px; max-width: 200px; min-width: 100px;">
                    Principales productos comercializados
                  </th>
                  <th style="min-width: 100px; width: 100px;">Ubicación</th>
                </tr>
              </ng-template>
              <ng-template
                pTemplate="body"
                let-comunidad
                let-rowIndex="rowIndex"
              >
                <tr style="width: 100px; max-width: 200px; min-width: 100px;">
                  <td
                    class="text-center"
                    style="width: 60px; max-width: 60px; min-width: 60px;"
                    [attr.rowspan]="
                  comunidad.listInformacionBasicaDet.length + 1
                "
                  >
                    <span
                      class="pointer mr-2"
                      title="Editar"
                      (click)="openModalEditar(comunidad)"
                      ><i class="pi pi-pencil"></i
                    ></span>
                    <span
                      class="pointer"
                      title="Eliminar"
                      (click)="
                    eliminarItemCaracterizacion(
                      $event,
                      comunidad,
                      rowIndex
                    )
                  "
                      ><i class="pi pi-trash"></i
                    ></span>
                  </td>
                  <th
                    [attr.rowspan]="
                      comunidad.listInformacionBasicaDet.length + 1
                    "
                    class="ml-2"
                    style="width: 100px; max-width: 200px; min-width: 100px;"
                  >
                    {{ comunidad.comunidad }}
                  </th>
                </tr>
                <tr
                  *ngFor="
                    let item of comunidad.listInformacionBasicaDet;
                    let index = index
                  "
                  class="mb-2"
                >
                  <td style="width: 100px; max-width: 200px; min-width: 100px;">
                    <div>
                      <p-checkbox
                        [binary]="true"
                        [disabled]="disabled"
                        [label]="item.actividad"
                        [(ngModel)]="item.solucion"
                      >
                      </p-checkbox>
                    </div>
                  </td>
                  <td style="width: 100px; max-width: 200px; min-width: 100px;">
                    <textarea
                      maxlength="100"
                      rows="1"
                      class="form-control"
                      [disabled]="disabled"
                      [(ngModel)]="item.observaciones"
                    ></textarea>
                  </td>

                  <td style="min-width: 100px; width: 100px;">
                    <div class="col-12 mb-2">
                      <p-radioButton
                        value="DUMF"
                        label="dentro de la UMF"
                        [(ngModel)]="item.descripcion"
                        [disabled]="disabled"
                      >
                      </p-radioButton>
                    </div>

                    <div class="col-12">
                      <p-radioButton
                        value="EUMF"
                        label="en el entorno de la UMF"
                        [(ngModel)]="item.descripcion"
                        [disabled]="disabled"
                      >
                      </p-radioButton>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-accordionTab>

        <p-accordionTab header="6.2. Infraestructura de servicios">
          <div class="col-12 text-right mb-2">
            <button
              [disabled]="disabled"
              (click)="crearOtraInfraestructura()"
              icon="pi pi-plus"
              pButton
              pRipple
              type="button"
              label=""
              class="p-button-success p-button-text"
            ></button>
          </div>

          <div class="col-12 mt-4 mb-3" class="title">
            <p-table
              [value]="listInfraestructuraServicios"
              styleClass="p-datatable-gridlines"
              class="table-justify"
            >
              <ng-template pTemplate="caption">
                Infraestructura de la UMF y su entorno
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th
                    rowspan="2"
                    class="text-center"
                    style="width: 68px; max-width: 80px; min-width: 80px;"
                  >
                    Acciones
                  </th>
                  <th
                    rowspan="2"
                    style="width: 100px; max-width: 200px; min-width: 100px;"
                  >
                    Infraestructura
                  </th>
                  <th
                    rowspan="2"
                    style="width: 100px; max-width: 200px; min-width: 100px;"
                  >
                    Nombre
                  </th>
                  <th
                    colspan="2"
                    style="width: 100px; max-width: 200px; min-width: 100px;"
                  >
                    Coordenadas UTM
                  </th>
                  <th
                    rowspan="2"
                    style="width: 100px; max-width: 200px; min-width: 100px;"
                  >
                    Observaciones
                  </th>
                </tr>
                <tr>
                  <th
                    colspan="1"
                    style="width: 100px; max-width: 200px; min-width: 100px;"
                  >
                    Este (E)
                  </th>
                  <th
                    colspan="1"
                    style="width: 100px; max-width: 200px; min-width: 100px;"
                  >
                    Norte (N)
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr
                  *ngFor="
                    let infraestructura of data.listInformacionBasicaDet;
                    let index = index
                  "
                >
                  <td
                    class="text-center"
                    style="width: 80px; max-width: 80px; min-width: 80px;"
                  >
                    <button
                      mat-button
                      class="col-3 col-sm-2"
                      style="padding: 0px; min-width: 40px;"
                      (click)="
                      eliminarInfraestructura($event, infraestructura, index)
                    "
                    >
                      <i class="pi pi-trash pointer" title="Eliminar"></i>
                    </button>
                  </td>

                  <td style="width: 100px; max-width: 200px; min-width: 100px;">
                    <div *ngIf="infraestructura.codInfBasicaDet">
                      <p-checkbox
                        [binary]="true"
                        [disabled]="disabled"
                        [label]="infraestructura.actividad"
                        [(ngModel)]="infraestructura.solucion"
                      >
                      </p-checkbox>
                    </div>

                    <div
                      *ngIf="
                        infraestructura.idInfBasica == 0 &&
                        infraestructura.codInfBasicaDet == ''
                      "
                      class="row"
                    >
                      <p-checkbox
                        class="col-2 mr-2"
                        [binary]="true"
                        [disabled]="disabled"
                        [(ngModel)]="infraestructura.solucion"
                      >
                      </p-checkbox>

                      <input
                        type="text"
                        class="form-control col-8"
                        placeholder="Otra (especificar)"
                        maxlength="100"
                        pInputText
                        [disabled]="disabled"
                        [(ngModel)]="infraestructura.actividad"
                      />
                    </div>
                  </td>
                  <td style="width: 100px; max-width: 200px; min-width: 100px;">
                    <textarea
                      class="col-12 form-control"
                      maxlength="100"
                      [rows]="4"
                      [disabled]="disabled"
                      [(ngModel)]="infraestructura.descripcion"
                    ></textarea>
                  </td>
                  <td style="width: 100px; max-width: 200px; min-width: 100px;">
                    <input
                      class="form-control"
                      pInputText
                      [disabled]="disabled"
                      [(ngModel)]="infraestructura.coordenadaEsteIni"
                      decimal
                      [maxLength]="12"
                      [decimalPlaces]="2"
                    />
                  </td>
                  <td style="width: 100px; max-width: 200px; min-width: 100px;">
                    <input
                      class="form-control"
                      pInputText
                      [disabled]="disabled"
                      [(ngModel)]="infraestructura.coordenadaNorteIni"
                      decimal
                      [maxLength]="12"
                      [decimalPlaces]="2"
                    />
                  </td>
                  <td style="width: 100px; max-width: 200px; min-width: 100px;">
                    <textarea
                      class="col-12 form-control"
                      maxlength="100"
                      [rows]="4"
                      [disabled]="disabled"
                      [(ngModel)]="infraestructura.observaciones"
                    ></textarea>
                  </td>

                  <!-- <td class="text-center" style="width: 150px; padding: 0px;">
                    <button
                      mat-button
                      class="col-6 col-sm-4"
                      style="padding: 0px; min-width: 40px;"
                      [disabled]="disabled"
                      (click)="
                        eliminarInfraestructura($event, infraestructura, index)
                      "
                    >
                      <i class="pi pi-trash pointer" title="Eliminar"></i>
                    </button>
                  </td> -->
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-accordionTab>

        <p-accordionTab
          header="6.3. Antecedentes de uso e identificación de conflictos"
        >
          <ng-template pTemplate="content">
            <div class="col-12 text-right">
              <button
                (click)="modalFormAntecedentes('Crear registro', '', 'false')"
                icon="pi pi-plus"
                pButton
                pRipple
                type="button"
                label=""
                class="p-button-success p-button-text"
              ></button>
            </div>
            <div
              class="col-12 mt-4 mb-6"
              class="title"
              style="margin-bottom: 100px;"
            >
              <p-table
                [value]="listAntecentesUsoIdentificacionConflictos"
                styleClass="p-datatable-gridlines"
              >
                <ng-template pTemplate="caption">
                  Antecedentes de uso anterior e identificación de conflictos y
                  propuestas de solución
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th class="text-center">Acciones</th>
                    <th>Actividad</th>
                    <th>Especies más extraídas</th>
                    <th>Observaciones</th>
                    <th>Identificación de conflicto</th>
                    <th>Propuestas de soluciones al conflicto</th>
                  </tr>
                </ng-template>
                <ng-template
                  pTemplate="body"
                  let-antecedentes
                  let-rowIndex="rowIndex"
                >
                  <tr>
                    <td class="text-center" style="width: 150px; padding: 0px;">
                      <button
                        mat-button
                        class="col-6 col-sm-4"
                        style="padding: 0px; min-width: 40px;"
                        [disabled]="disabled"
                        (click)="
                          modalFormAntecedentes(
                            'Editar registro',
                            antecedentes,
                            'true',
                            rowIndex
                          )
                        "
                      >
                        <i class="pi pi-pencil pointer" title="Editar"></i>
                      </button>

                      <button
                        mat-button
                        class="col-6 col-sm-4"
                        style="padding: 0px; min-width: 40px;"
                        [disabled]="disabled"
                        (click)="
                          eliminarAntecedentes($event, antecedentes, rowIndex)
                        "
                      >
                        <i class="pi pi-trash pointer" title="Eliminar"></i>
                      </button>
                    </td>
                    <td>{{ antecedentes.comunidad }}</td>
                    <td>
                      <div *ngIf="antecedentes?.listInformacionBasicaDet">
                        <div
                          *ngFor="
                            let especie of antecedentes?.listInformacionBasicaDet;
                            let i = index
                          "
                          class="col-12 mb-2"
                        >
                          <p-checkbox
                            [binary]="true"
                            [label]="especie.actividad"
                            [disabled]="disabled"
                            [(ngModel)]="especie.solucion"
                            (ngModelChange)="
                              eliminarEspecie($event, rowIndex, i)
                            "
                          >
                          </p-checkbox>
                        </div>
                      </div>
                    </td>
                    <td>
                      <textarea
                        class="col-12 form-control"
                        maxlength="100"
                        [rows]="4"
                        [(ngModel)]="antecedentes.provincia"
                      ></textarea>
                    </td>
                    <td>
                      <textarea
                        class="col-12 form-control"
                        maxlength="100"
                        [rows]="4"
                        [(ngModel)]="antecedentes.distrito"
                      ></textarea>
                    </td>
                    <td>
                      <textarea
                        class="col-12 form-control"
                        maxlength="100"
                        [rows]="4"
                        [(ngModel)]="antecedentes.departamento"
                      ></textarea>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </ng-template>
        </p-accordionTab>


        <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon_6"
            [base]="detEvaluacion_6"
          >
          </evaluacion-archivo-shared>
        </p-accordionTab>

      </p-accordion>

      <div class="step__btn mt-4 mb-4">
        <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button *ngIf="!isPerfilArffs"
          class="btn-primary2"
          (click)="registratInformacionSocioeconomica()"
          [disabled]="disabled || (isSubmitting$ | async)"
        >
          Guardar
        </button>
        <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="registrarEvaluacion()">
          Guardar Evaluación
        </button>
        <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">
          Retornar Flujo Evaluacion
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
    </div>
  </div>
</div>

<p-confirmPopup></p-confirmPopup>
