<div class="row">

    <div class="col-12">
        <label for="descripcion">Descripción</label>
        <textarea id="descripcion" autocomplete="off" class="form-control form-control-sm" rows="4"
            [autoResize]="autoResize" [(ngModel)]="descripcion" pInputTextarea></textarea>
    </div>

    <div class="col-12">
        <label for="file">Adjuntar archivo</label>
        <input id="file" class="form-control from-control-sm" type="file" (change)="cargarAchivo($event)" />
    </div>

    <div class="col-12 mt-3">
        <button class="btn btn-sm btn-secondary" (click)="enviar()" >Enviar</button>
    </div>
</div>

<p-toast position="bottom-center" key="tl"></p-toast>