<div class="container-fluid">
  <div class="row mt-3">
    
    <div class="col-12 p-0">
      <p-accordion>
        <p-accordionTab header="9. Cronograma de Actividades" [selected]="true">
          <div class="col-12 p-3">
            <label  *ngIf="warning" class="lbl-info mt-3 mb-3">
              Considerar que para que este cuadro tenga elementos tendrá que haber completado los del Item 7.
            </label>
          </div>
          <div class="mt-0">
            <div class="col-12 p-0 text-right">
              <button [disabled]="disabled || warning"
                icon="pi pi-plus"
                (click)="openModal('Nuevo Registro', null, 'C')"
                pButton
                pRipple
                type="button"
                label=""
                class="p-button-success p-button-text"
              ></button>
            </div>
            <!-- <div class="col-12 p-0 text-left">
                            <button class="btn btn-sm btn-secondary" type="button" (click)="modalTipoAct('Agregar Tipo de Actividad')">Crear Tipo de Actividad</button>

                        </div> -->
          </div>
          <br />
          <div class="col-12 p-0">
            <div class="table-responsive">
              <table class="table table-boderk">
                <thead>
                  <tr>
                    <th rowspan="3" style="min-width: 250px" class="v-middle">
                      Actividades
                    </th>
                    <th colspan="12">AÑO 1</th>
                    <th colspan="2">AÑOS</th>
                  </tr>
                  <tr>
                    <th colspan="12">Meses</th>
                    <th rowspan="2" colspan="1">2</th>
                    <th rowspan="2" colspan="1">3</th>
                  </tr>
                  <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-left" style="background-color: #efeff5">
                      <label class="label fz-10 title2"
                        >Aprovechamiento Maderable</label
                      >
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr *ngFor="let data of lstMaderable">
                    <td class="text-left">
                      <span
                        (click)="!disabled&&openModal('Editar Registro', data, 'E')"
                        class="pointer mr-1"
                        title="Editar"
                      >
                        <i class="pi pi-pencil"></i>
                      </span>
                      <span
                        (click)="!disabled&&openEliminar($event, data)"
                        class="pointer mr-2"
                        title="Eliminar"
                      >
                        <i class="pi pi-trash"></i>
                      </span>
                      {{ data.actividad }}
                    </td>
                    <td>{{ data.a1m1 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m2 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m3 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m4 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m5 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m6 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m7 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m8 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m9 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m10 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m11 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m12 == true ? "X" : "" }}</td>

                    <td>{{ data.a2m1 == true ? "X" : "" }}</td>

                    <td>{{ data.a3m1 == true ? "X" : "" }}</td>
                  </tr>

                  <tr>
                    <td class="text-left" style="background-color: #efeff5">
                      <label class="label fz-10 title2"
                        >Aprovechamiento No Maderable</label
                      >
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr *ngFor="let data of lstNoMaderable">
                    <td class="text-left">
                      <span
                        (click)="!disabled&&openModal('Editar Registro', data, 'E')"
                        class="pointer mr-1"
                        title="Editar"
                      >
                        <i class="pi pi-pencil"></i>
                      </span>
                      <span
                        (click)="!disabled&&openEliminar($event, data)"
                        class="pointer mr-2"
                        title="Eliminar"
                      >
                        <i class="pi pi-trash"></i>
                      </span>
                      {{ data.actividad }}
                    </td>
                    <td>{{ data.a1m1 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m2 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m3 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m4 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m5 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m6 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m7 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m8 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m9 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m10 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m11 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m12 == true ? "X" : "" }}</td>

                    <td>{{ data.a2m1 == true ? "X" : "" }}</td>

                    <td>{{ data.a3m1 == true ? "X" : "" }}</td>
                  </tr>
                  <tr *ngFor="let data of lstOtros">
                    <td class="text-left">
                      <span
                        (click)="!disabled&&openModal('Editar Registro', data, 'E')"
                        class="pointer mr-1"
                        title="Editar"
                      >
                        <i class="pi pi-pencil"></i>
                      </span>
                      <span
                        (click)="!disabled&&openEliminar($event, data)"
                        class="pointer mr-2"
                        title="Eliminar"
                      >
                        <i class="pi pi-trash"></i>
                      </span>
                      {{ data.actividad }}
                    </td>
                    <td>{{ data.a1m1 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m2 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m3 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m4 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m5 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m6 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m7 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m8 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m9 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m10 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m11 == true ? "X" : "" }}</td>
                    <td>{{ data.a1m12 == true ? "X" : "" }}</td>

                    <td>{{ data.a2m1 == true ? "X" : "" }}</td>

                    <td>{{ data.a3m1 == true ? "X" : "" }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon1"
            [base]="evaluacion_1">
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <div class="step__btn mt-4">
    <message-evaluation *ngIf="isPerfilArffs" ></message-evaluation>
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="registrarEvaluacion()">Guardar Evaluación</button>
    <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">Retornar Flujo Evaluacion</button>
    <!--  <button class="btn-primary2" type="button">Guardar</button> -->
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
  <br />
</div>

<p-toast position="top-right" key="tl"></p-toast>
