<p-fieldset legend="Datos Empresa" [toggleable]="true">
  <div class="row m-0">
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Tipo Documento</label>
        <div class="form-control-selectk">
          <input
            maxlength="50"
            type="text"
            [disabled]="true"
            class="form-control"
            autocomplete="off"
            value="RUC"
          />
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Número Documento</label>
        <input
          numero 
          [min] = "0"
          [maxLength]="11"
          [disabled]="true"
          [(ngModel)]="solicitudAcceso.numeroRucEmpresa"
          class="form-control"
          autocomplete="off"
        />
      </div>
    </div>
    <div class="col-12 col-sm-8">
      <div class="form-group">
        <label class="label">Razón Social</label>
        <input
          type="text"
          maxlength="100"
          [disabled]="true"
          [(ngModel)]="solicitudAcceso.razonSocialEmpresa"
          class="form-control"
          autocomplete="off"
        />
      </div>
    </div>
    <div class="col-12 col-sm-8">
      <div class="form-group">
        <label class="label">Dirección Empresa</label>
        <input
          type="text"
          maxlength="200"
          [disabled]="true"
          [(ngModel)]="solicitudAcceso.direccionEmpresa"
          class="form-control"
          autocomplete="off"
        />
      </div>
    </div>
    <div class="col-12 col-sm-8">
      <div class="form-group">
        <label class="label">Email Empresa</label>
        <input
          type="text"
          maxlength="100"
          [disabled]="true"
          [(ngModel)]="solicitudAcceso.emailEmpresa"
          class="form-control"
          autocomplete="off"
        />
      </div>
    </div>
  </div>
</p-fieldset>
