<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="Formulario" [selected]="true">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12">
                <p-table [value]="listProcesos">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Item</th>
                      <th>Estado</th>
                      <th class="text-center">Conformidad</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data>
                    <tr>
                      <td class="text-left">{{ data.label }}</td>
                      <td
                        [ngClass]="{
                          class1: data.estado == 'Pendiente',
                          class2: data.estado == 'Terminado'
                        }"
                      >
                        {{ data.estado }}
                      </td>
                      <td class="text-center">
                        <p-checkbox
                          [(ngModel)]="data.marcar"
                          [binary]="true"
                          [disabled]="disabled"
                          (onChange)="seleccionarFirma($event, data)"
                        ></p-checkbox>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
            <div class="step__btn mt-4">
              <button
                class="btn-primary2"
                (click)="guardarEstados()"
                [disabled]="!masterSelected || 
                  disabled || 
                  ((isSubmittingFormulario$|async) || (isLoadingFormulario$|async))"
              >
                Guardar
              </button>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Generar" [selected]="false">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-10">
                <div>
                  <label class="label fz-11 m-0"
                    >Generar Formato Compilado - POPAC</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-2">
                <button
                  class="btn btn-sm btn-secondary f-w"
                  type="button"
                  (click)="generarPOPAC()"
                >
                  Generar POPAC
                </button>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Descargar" [selected]="false">
          <div class="col-12 p-0 mb-2">
            <div class="row m-0">
              <div class="col-12 col-sm-10">
                <div>
                  <label class="label fz-11 m-0">Descargar POPAC</label>
                </div>
              </div>
              <div class="col-12 col-sm-2">
                <button
                  class="btn btn-sm btn-secondary f-w"
                  type="button"
                  (click)="descargarPOPAC()"
                >
                  Descargar
                </button>
              </div>
            </div>
          </div>
          <!-- <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-10">
                <div>
                  <label class="label fz-11 m-0">Descargar Anexos</label>
                </div>
              </div>
              <div class="col-12 col-sm-2">
                <button
                  class="btn btn-sm btn-secondary f-w"
                  type="button"
                  (click)="descargarPOPAC()"
                  [disabled]="disabled || verDescargaAnexoPOPAC"
                >
                  Descargar
                </button>
              </div>
            </div>
          </div> -->
        </p-accordionTab>

        <p-accordionTab header="Track" [selected]="false">
          <app-map-custom
            [idPlanManejo]="idPlanManejo"
            [codigoProceso]="'POAC'"
            [disabled]="disabled"
            [codigoSubSeccion]="'POACREAT'"
            [tipoGeometria]="'Otros'"
            [isAnexo]="false"
            [printPDF]="false"
          ></app-map-custom>
        </p-accordionTab>

        <p-accordionTab header="Recorrido del censo" [selected]="false">
          <app-map-custom
            [idPlanManejo]="idPlanManejo"
            [codigoProceso]="'POAC'"
            [disabled]="disabled"
            [codigoSubSeccion]="'POACRERCDCENSO'"
            [tipoGeometria]="'Otros'"
            [isAnexo]="false"
            [printPDF]="false"
          ></app-map-custom>
        </p-accordionTab>

        <p-accordionTab header="Adjuntar" [selected]="false">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-8">
                <div>
                  <label class="label fz-11 m-0">PO firmado </label>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <input-buttons-codigo
                  [label]="''"
                  [idPlanManejo]="idPlanManejo"
                  [disabled]="disabled"
                  [idTipoDocumento]="'POPACF'"
                  [codigoProceso]="CodigoProceso.PLAN_OPERATIVO_PMFI_CNCC"
                  (registrarArchivoId)="registrarArchivoId($event)"
                >
                </input-buttons-codigo>
              </div>
            </div>
          </div>
          <div class="col-12 p-0">
            `
            <div class="col-12 mb-3">
              <label class="label fz-11 m-0">
                Si la proximidad esta en área de aislamiento voluntario, adjuntar
                de manera obligatoria
              </label>
            </div>
            <div class="row m-0">
              <div class="col-12 col-sm-8">
                <div>
                  <label class="label fz-11 m-0"
                    >Plan de Contingencia (opcional)</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <input-buttons-codigo
                  [label]="''"
                  [idPlanManejo]="idPlanManejo"
                  [disabled]="disabled"
                  [idTipoDocumento]="'POPACDOCCONTIN'"
                  [codigoProceso]="CodigoProceso.PLAN_OPERATIVO_PMFI_CNCC"
                  (registrarArchivoId)="registrarArchivoId($event)"
                >
                </input-buttons-codigo>
              </div>
            </div>
          </div>
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-8">
                <div>
                  <label class="label fz-11 m-0">Comprobante de pago</label>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <input-button-type-codigo
                  [label]="''"
                  [idPlanManejo]="idPlanManejo"
                  [disabled]="disabled"
                  [idTipoDocumento]="'POPACREACPAGO'"
                  [codigoProceso]="CodigoProceso.PLAN_OPERATIVO_PMFI_CNCC"
                  (registrarArchivoId)="registrarArchivoId($event)"
                  [accept]="accept"
                ></input-button-type-codigo>
              </div>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4 mb-4">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button> 
        <button class="btn-primary2" (click)="guardarPlanFormulado()" type="button" [disabled]="verPOPAC || (isSubmittingPlanFormulado$|async)">
          Guardar Plan Formulado
        </button>
        <button
          type="button"
          class="btn-primary2"
          (click)="enviar()"
          [disabled]="!enviarARFFS || (isSubmittingARFFS$|async)"
        >
          Enviar a ARFFS
        </button>
      </div>
    </div>
  </div>
</div>

<p-toast position="top-right" key="tl"></p-toast>
