<div class="col-12">
  <div class="row col-12 p-4">
    <div class="col-6">
      <label style="padding: 10px;">Nombre Científico</label>
      <p-dropdown
        class="fomr-control"
        [(ngModel)]="nombreCient"
        optionValue="label"
        (onChange)="nombreCientificoSelect()"
        [options]="nombreCientifico"
        optionLabel="label"
        placeholder="-- Seleccione --"
      >
      </p-dropdown>
    </div>
    <div class="col-6">
      <label style="padding: 10px;">Nombre Común</label>
      <p-dropdown
      class="fomr-control"
      [(ngModel)]="nombreCom"
      optionValue="label"
      (onChange)="nombreComunSelect()"
      [options]="nombreComun"
      optionLabel="label"
      placeholder="-- Seleccione --"
    >
    </p-dropdown>
    </div>
  </div>

  <div class="row col-12 p-4">
    <div class="col-6">
      <label for="descripcion">Justificación</label>
      <input type="text" pInputText [(ngModel)]="obj.justificacion" />
    </div>
  </div>
</div>

<div class="d-flex justify-content-end">
  <button icon="pi pi-save" (click)="agregar()" pButton pRipple type="button" label="Agregar"
              class="p-button-success p-button-outlined"></button> &nbsp;&nbsp;
  <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
            class="p-button-danger p-button-outlined" ></button>
</div>

<p-toast></p-toast>
