<div class="col-12">
  <div class="row m-0">
    <div class="col-12 col-sm-5">
      <p-table [value]="[{},{}]" styleClass="p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr>
            <th colspan="4">Cuadro de Coordenadas UTM del Área Solicitada</th>
          </tr>
          <tr>
            <th colspan="4" class="text-center">Zona</th>
          </tr>
          <tr>
            <th>Vértice</th>
            <th>Este</th>
            <th>Norte</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </ng-template>
      </p-table>

      <div style="margin-top: 100px;">
        <button class="btn btn-sm btn-primary2" (click)="consulta()">
          Consultar con Entidades
        </button>
      </div>
    </div>

    <div class="col-12 col-sm-7">
      <div class="f-w mb-2 mapa-content">
        <div class="mapa" #map></div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="isConsulting">
    <div class="col-12">
      <div class="form-group">
        <label class="label">Entidad Consultar</label>
        <div class="form-control-selectk">
          <p-dropdown
            appendTo="body"
            [options]="entidades"
            optionValue="entidad"
            optionLabel="entidad"
          ></p-dropdown>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label class="label">Asunto</label>
        <input type="text" class="form-control" placeholder="" />
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label class="label">Descripción</label>
        <textarea
          cols="3"
          rows="4"
          class="form-control"
          placeholder=""
        ></textarea>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">N° de Documento</label>
        <input type="text" class="form-control" placeholder="" />
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">&nbsp;&nbsp;</label>
        <div class="input-group">
          <div class="form-control"></div>
          <div class="input-group-append">
            <button
              class="btn btn-sm btn-secondary"
              type="button"
              style="border-width: 1px !important; box-shadow: none !important;"
            >
              Adjuntar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-divider class="p-3"></mat-divider>

  <div class="col-12">
    <label for=""> ¿Anexo tiene observaciones?</label>
  </div>
  <div class="col-12">
    <div class="p-field-radiobutton d-inline-full">
      <label class="m-0 pl-1 pointer" for="si">Si</label>
      <p-radioButton
        name="tipoUsuario"
        [value]="true"
        inputId="si"
      ></p-radioButton>
    </div>

    <div class="p-field-radiobutton d-inline-full">
      <label class="m-0 pl-1 pointer" for="no">No</label>
      <p-radioButton
        name="tipoUsuario"
        [value]="false"
        inputId="no"
      ></p-radioButton>
    </div>
  </div>
  <div class="row col-12 p-4">
    <input type="text" class="form-control" placeholder="" />
  </div>

  <div class="row col-12 justify-content-end">
    <div class="p-2">
      <button
        icon="pi pi-save"
        pButton
        pRipple
        type="button"
        label="Guardar"
        (click)="agregar()"
        class="p-button-success p-button-outlined"
      ></button>
    </div>
    <div class="p-2">
      <button
        icon="pi pi-times"
        pButton
        pRipple
        type="button"
        label="Cancelar"
        (click)="cancelar()"
        class="p-button-danger p-button-outlined"
      ></button>
    </div>
  </div>
</div>
<p-toast position="bottom-center" key="tl"></p-toast>
