<div class="col-12">
    <div class="col-12 form-group">
      <label for="medidasMonitoreo">Denominación o Espacios</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="anydata.categoria"
        disabled="true"
      />
    </div>

  <div class="row col-12">
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Uso potencial</label>
      <input
        type="text"
        maxlength="150"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="anydata.usoPotencial"
      />
    </div>
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Actividades</label>
      <input
        type="text"
        maxlength="100"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="anydata.actRealizar"
      />
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button
      icon="pi pi-save"
      (click)="agregar()"
      pButton
      pRipple
      type="button"
      label="aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    &nbsp;&nbsp;
    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </div>
  <p-toast></p-toast>
</div>
