<p-panel header="Cargar Resolución">
  <div class="row">
    <div class="col-12 col-md-6 form-group">
      <label for="tipoSolicitud">Número</label>
      <input type="text" class="form-control" [(ngModel)]="numeroResolucion" />
    </div>

    <div class="col-12 col-md-6 form-group">
      <label for="procesoPostulacion">Fecha</label>
      <div class="content-date">
        <input
          [(ngModel)]="fechaResolucion"
          name="fechaDesde"
          autocomplete="off"
          class="form-control"
          [min]="minDate"
          matInput
          [matDatepicker]="fechaDesde"
          readonly
        />
        <i class="pi pi-calendar pointer" (click)="fechaDesde.open()"></i>
        <mat-datepicker #fechaDesde></mat-datepicker>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <label class="label">&nbsp;</label><br />
        <anexo-upload-input-buttons
          [file]="archivoAdjunto"
          (registrarArchivo)="enviarArchivo($event)"
          (eliminarArchivo)="eliminarDocumentoAdjunto()"
          [disabled]="!isArffs"
          style="height: 32px"
        >
        </anexo-upload-input-buttons>
      </div>
    </div>
    <div class="col-sm-4">
      <label class="label">&nbsp;</label><br />
      <button
        class="btn btn-sm btn-primary2"
        (click)="guardarArchivo()"
        [disabled]="!isArffs"
      >
        Guardar Resolución
      </button>
    </div>
  </div>
</p-panel>
