<button
  type="button"
  class="btn-primary2"
  (click)="verInspeccion()"
  [disabled]="disabled"
>
  Realizar inspección ocular
</button>

<p-dialog
  header="Realizar inspección ocular"
  appendTo="body"
  [(visible)]="isShowModalInspeccion"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row">
      <div class="col-12 form-group">
        <label class="label">Inspector</label>
        <input
          class="form-control form-control-sm"
          type="text"
          autocomplete="off"
          placeholder="Ingrese inspector"
          [(ngModel)]="inspeccion.observacion"
        />
      </div>
      <div class="col-12 form-group">
        <label class="label">Asunto</label>
        <input
          class="form-control form-control-sm"
          type="text"
          autocomplete="off"
          placeholder="Ingrese Asunto"
          [(ngModel)]="inspeccion.detalle"
        />
      </div>
      <div class="col-12">
        <buttons-file-permiso-forestal-shared
          [label]="'Adjuntar archivo'"
          [idPermisoForestal]="idPermisoForestal"
          [codigoTipoDocumento]="'PFCRDI'"
          [loadFile]="false" (registrarArchivoId)="registroArchivo($event)"
        >
        </buttons-file-permiso-forestal-shared>
      </div>
    </div>
    <button
      icon="pi pi-save"
      (click)="guardar()"
      type="button"
      guardar
      class="btn btn-sm btn-primary2"
    >
      Enviar solicitud
    </button>

    <button
      icon="pi pi-times"
      (click)="isShowModalInspeccion = false"
      type="button"
      class="btn btn-sm btn-danger"
    >
      Cancelar
    </button>
  </ng-template>
</p-dialog>
<p-toast></p-toast>
