<div class="row m-0 pt-4">
  <div class="col-12">
    <div class="col-12 pt-2">
      <div class="mt-0">
        <div class="col-2 col-sm-12 text-right">
          <button [disabled]="disabled"
            (click)="openModal('Registrar Monitoreo', null,'C', null)"
            class="btn btn-sm btn-default button-more mb-2"
            type="button"
            label=""
          >
            <i class="pi pi-plus"></i>
          </button>
        </div>
      </div>
      <p-table [value]="listMonitoreo" class="table-justify" [scrollable]="true"
      [style]="{width:'100%'}">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 100px; min-width: 80px;">Acciones</th>
            <th style="min-width: 120px;"> Monitoreo</th>
            <th style="min-width: 200px; width: 400px;">Operaciones</th>
            <th style="min-width: 120px;">Descripción</th>
            <th style="min-width: 120px;">Indicador</th>
            <th style="min-width: 120px;">Frecuencia</th>
            <th style="min-width: 120px;">Responsable</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
          <tr>
            <td style="width: 100px; min-width: 80px;">
              <span
                (click)="!disabled&&openModal('Editar Registro', data,'E',rowIndex )"
                class="pointer mr-1"
                title="Editar"
              >
                <i class="pi pi-pencil"></i>
              </span>
              <span
                (click)="!disabled&&openEliminar($event,data,rowIndex )"
                class="pointer"
                title="Eliminar"
              >
                <i class="pi pi-trash"></i>
              </span>
            </td>
            <td style="min-width: 120px;">
              {{data.monitoreo}}
            </td>
            <td style="min-width: 200px; width: 400px;">
              <div *ngFor="let item of data.lstDetalle" style="min-width: 120px;">
                <ul>
                  <li>
                    {{item.operacion}}
                  </li>
                </ul>
              </div>
            </td>
            <td style="min-width: 120px;">
              {{data.descripcion}}
            </td>
            <td style="min-width: 120px;">
              {{data.indicador}}
            </td>
            <td style="min-width: 120px;">
              {{data.frecuencia}}
            </td>
            <td style="min-width: 120px;">
              {{data.responsable}}
            </td>

          </tr>
        </ng-template>
      </p-table>

      <div class="row mt-4">
        <div class="col-12 ml-3 mr-3">
          <label class="m-0 mr-4 label">Se amplía información en el Anexo 3:</label>
          <div class="p-field-radiobutton">
            <strong for="Si" class="mr-2">SI</strong>
            <p-radioButton [disabled]="disabled" name="monitoreo" value="S" inputId="Si" [(ngModel)]="selectAnexo">
            </p-radioButton>
          </div>
          <div class="p-field-radiobutton">
            <strong for="No" class="mr-2">NO</strong>
            <p-radioButton [disabled]="disabled" name="monitoreo" value="N" inputId="No" [(ngModel)]="selectAnexo"  (onClick)="anexoN($event)" >
            </p-radioButton>
          </div>
        </div>

        <div class="col-12" *ngIf="selectAnexo == 'S'">
          <div class="col-12 mt-4 ml-1 mr-5">
            <app-anexo-upload-file
              [label]="'Adjuntar Evidencia:'"
              [idPlanManejo]="idPlanManejo" [disabled]="disabled"
              [idTipoDocumento]="CodigoPOCC.TAB_9"
              [codigoProceso]="CodigoPOCC.TAB_9"
              (registrarArchivoId)="cargarIdArchivo($event)"
            >
            </app-anexo-upload-file>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />

    <div class="step__btn mt-4">
      <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
      <button
        *ngIf="!actualizar"
        type="submit"
        class="btn-primary2"
        (click)="guardarMonitoreo()"
        [disabled]="disabled"
      >
        Guardar
      </button>
      <button
        *ngIf="actualizar"
        type="submit"
        class="btn-primary2"
        (click)="guardarMonitoreo()"
        [disabled]="disabled"
      >
        Guardar
      </button>

      <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
    </div>
  </div>
</div>
<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
