<ng-container >
    <div class="row m-0 pt-2">
      <div class="col-12 col-sm-8 p-0">
        <div class="f-w mb-2 mapa-content">
          <div class="mapa" #map></div>
        </div>
      </div>
      <div class="col-12 col-sm-4" >
        <div class="d-grid gap-2 d-md-block mb-2" style="display: flex !important;">
          <button type="button" (click)="enviarComponenteCatastro()" [disabled]="disabled"
            class="btn-secondary width-full">
            Enviar la información espacial
          </button>
          </div>
        <div class="card">
          <div class="card-header py-0 pt-2 pb-2">
            Capas Local
          </div>
          <ul class="list-group gh-layers">
            <li *ngFor="let item of _layers" class="list-group-item p-0 d-flex">
              <input class="ml-1 mr-1 pointer" type="checkbox" [checked]="true" [disabled]="disabled"
                (change)="toggleLayer(item.idLayer, $event)" />

              <label class="m-0 p-0 text-left pointer gh-label" style="flex: 2;"
                [ngStyle]="{'color': item.color}">{{item.nombre}}
              </label>
              <div class="d-flex">
                <span class="pointer pr-1"
                  title="{{ item.idsCatastro ? 'Capa ya registrada en Componente Catastro' : 'Capa no registrada en Componente Catastro'}} ">
                  <i class="{{ item.idsCatastro? 'pi pi-circle-on color-green' : 'pi pi-check-circle color-red'}}"
                    *ngIf="item.idsCatastro" aria-hidden="true"></i>
                </span>
              </div>
              <div class="d-flex">
                <span class="mr-2 pointer">
                  <i class="pi pi-download" *ngIf="!item.service && item.inServer == true"
                    aria-hidden="true" (click)="onDownloadFileSHP(item?.codigo)"></i>
                </span>
              </div>
            </li>
          </ul>
        </div>
        <div class="card">
            <div class="card-header py-0 pt-2 pb-2">
              Capas Catastro
              <span
              title="Analizar Superposición"
              class="pointer pr-1 float-right"
            >
              <i
                class="pi pi-cog"
                aria-hidden="true"
                (click)="!disabled && validarSuperposicion()"
              ></i>
            </span>
            </div>
            <div class="row" *ngIf="showMensajeSuperposicion" >
              <marquee > <small class="color-green">Validando superposición</small></marquee>
              </div>
            <ul class="list-group gh-layers-catastro">
              <li *ngFor="let item of _layersCatastro" class="list-group-item p-0 d-flex">
                <input class="ml-1 mr-1 pointer" type="checkbox" [checked]="true" [disabled]="disabled"
                  (change)="toggleLayer(item.idLayer, $event)" />

                <label class="m-0 p-0 text-left pointer gh-label" style="flex: 2;"
                  [ngStyle]="{'color': item.color}">{{item.nombre}}
                  <span class="pointer pr-1"
                    title="{{ item.overlap ? 'Capa Superpuesta' : 'Capa contenida'}} ">
                    <i class="{{ item.overlap? 'pi pi-info-circle color-red' : 'pi pi-check-circle color-green'}}"
                      *ngIf="item.service" aria-hidden="true"></i>
                  </span>
                </label>

                <div class="d-flex">
                  <span class="mr-2 pointer">
                    <i class="pi pi-download" *ngIf="!item.service && item.inServer == true"
                      aria-hidden="true" (click)="onDownloadFileSHP(item?.codigo)"></i>
                  </span>
                </div>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </ng-container>
