<div class="row m-0 pt-3">
    <div class="col-12">
        <button type="button" (click)="fileSHPInput.click()" class="btn btn-sm btn-secondary button-more mb-2" [disabled]="disabled">
            Cargar shape file
            <input #fileSHPInput type="file" (change)="onChangeFileSHP($event)" style="display:none;" />
        </button>
        <p-table [value]="listCoordinatesAnexo">
            <ng-template pTemplate="header">
                <tr>
                    <th>Anexos</th>
                    <th>Vértice</th>
                    <th>Este (E) </th>
                    <th>Norte (N) </th>
                    <th style="width: 180px;">Referencia</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
                <tr>
                    <td [attr.rowspan]="data.value.length + 1">
                        {{data.key}}
                    </td>
                </tr>

                <tr *ngFor="let item of data.value">
                    <td>{{item.vertice}}</td>
                    <td>{{item.este}}</td>
                    <td>{{item.norte}}</td>
                    <td><input type="text" class="form-control bg-gray" placeholder="Referencia" maxlength="50"
                            [(ngModel)]="item.referencia" /></td>
                </tr>

            </ng-template>
        </p-table>

        <br>
        <br>
        <button type="submit" class="btn-primary2" (click)="registrar()" [disabled]="disabled"> Guardar</button>

    </div>
</div>