<div class="row">
    
    <ng-container>

        <div class="col-12 form-group">
            <label for="poblacion">Población Aledaña o al interior de la concesión</label>
            <input type="text" id="poblacion" autocomplete="off" class="form-control contents_form_input"
                [(ngModel)]="params_insetar_detalle.poblacionAledania" placeholder="Escriba la Población Aledaña " [disabled]="isDisabled">
        </div>
        
        <div class="col-12 form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" autocomplete="off" class="form-control contents_form_input"
                [(ngModel)]="params_insetar_detalle.nombre" placeholder="Escriba el Nombre">
        </div>

        <div class="col-12 form-group">
            <label for="ubicacion">Ubicación</label>
            <input type="text" id="ubicacion" autocomplete="off" class="form-control contents_form_input"
                [(ngModel)]="params_insetar_detalle.ubicacion" placeholder="Escriba la Ubicación">
        </div>

        <div class="col-12 form-group">
            <label for="area">Área</label>
            <input type="number" id="area" autocomplete="off" class="form-control contents_form_input"
                [(ngModel)]="params_insetar_detalle.area" placeholder="Escriba el Área">
        </div>

        <div class="col-12 form-group">
            <label for="familias">N° de Familias</label>
            <input type="text" id="familias" autocomplete="off" class="form-control contents_form_input"
                [(ngModel)]="params_insetar_detalle.NoFamilias" placeholder="Escriba el Numero de Familias">
        </div>

        <!-- <div class="col-12 form-group">
            <label for="descripcion">Descripción de actividades</label>
            <input type="text" id="descripcion" autocomplete="off" class="form-control contents_form_input"
                [(ngModel)]="params_insetar_detalle.descripcion" placeholder="">
        </div> -->

    </ng-container>
</div>

<div class="d-flex justify-content-end">
    <button icon="pi pi-save" (click)="agregar()" pButton pRipple type="button" label="Agregar"
                class="p-button-success p-button-outlined"></button> &nbsp;&nbsp;
    <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
              class="p-button-danger p-button-outlined" ></button>
</div>