<div>
    <div>
        <ng-container [ngTemplateOutlet]="conatinertopRef"></ng-container>
    </div>

    <!-- <div>
      <label  class="label fz-12 font-weight-bold ml-2">Validar Requisitos</label>
    </div>
    <div class="row m-0">
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="label">Descarga de Documentos</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder=""

              [disabled]="true"
            />
            <div class="input-group-append">
              <button
                type="button"
                id="btnDescargarFile"
                class="btn btn-sm btn-secondary"
              >
                <i class="pi pi-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div> -->

  <div class="row m-0 mt-4">
    <div class="col-12 ">
      <label class="label">¿Anexo con Observaciones?</label>
    </div>
    <div class="col-12 col-sm-6">

      <div class="p-field-radiobutton d-inline-full">
        <p-radioButton (onClick)="emitirEvaluacion() ; evaluacionDet.limpiarObservacion()" [(ngModel)]="evaluacionDet.conforme" name="esObservado"
                       id="obserNo" [value]="codigoValObs" ></p-radioButton>
        <label class="mr-2 pl-1 pointer" for="obserNo">Si</label>
      </div>

      <div class="p-field-radiobutton d-inline-full">
        <p-radioButton (onClick)="emitirEvaluacion();evaluacionDet.limpiarObservacion()" [(ngModel)]="evaluacionDet.conforme" name="esObservado"
                       id="obserSI" [value]="codigoValidado" ></p-radioButton>
        <label class="mr-2 pl-1 pointer" for="obserSI">No</label>
      </div>
    </div>
    <div class="col-12 mt-3" *ngIf="evaluacionDet.conforme!==codigoValidado && evaluacionDet.conforme!==null && evaluacionDet.conforme!==undefined">
      <label class="label fz-12">Observación</label>
      <textarea cols="3" rows="2" [(ngModel)]="evaluacionDet.observacion" class="form-control form-control-sm"
                placeholder="Ingrese Observación..."></textarea>
    </div>


  </div>

  <div class="row m-0 mt-4">
    <button class="btn-primary2" (click)="registrarEvaluacion()" [disabled]="evaluacionDet.conforme == null">
      Guardar Validación
    </button>
  </div>

  <div class="mt-4">
        <ng-container [ngTemplateOutlet]="conatinerbottomRef"></ng-container>
    </div>
</div>
