<div class="col-12">
  <div>
    <label>
      Para la construcción de caminos principales, secundarios y patios de
      trozas se deberá tomar en cuenta las especificaciones que se señalan en el
      cuadro a continuación:
    </label>
  </div>
  <p-table [value]="tablaInformativa" class="mt-4">
    <ng-template pTemplate="header">
      <tr>
        <th>Infraestructura</th>
        <th>Espesificaciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
      <tr>
        <td>{{data.infraestructura}}</td>
        <td>{{data.espesificaciones}}</td>
      </tr></ng-template
    >
  </p-table>
</div>
