<div *ngIf="usuario.sirperfil == 'TITULARTH' && oposiciones.length > 0">
    <h3 class="title2">Oposiciones</h3>

    <ul>
        <li *ngFor="let item of oposiciones">
            <div style="margin: 10px 0">
                <span> Se informa que la solicitud PFDM N°: {{item.documentoGestion}} ha recibido una oposición</span>
                <button (click)="verOposicion(item)" class="btn btn-sm btn-primary2">Ver</button>
            </div>
        </li>
    </ul>

</div>

<!-- notificarActualizadoArffs -->
<div *ngIf="usuario.sirperfil == 'ARFFS' && solicitudImpugnacion.length > 0">
    <h3 class="title2">Solicitud Impugnación</h3>
    <ul>
        <li *ngFor="let item of solicitudImpugnacion">
            <div style="margin: 10px 0">
                <span> Solicitud Impugnacion N° {{item.idImpugnacion}} </span>
                <button (click)="verImpugnacion(item)" class="btn btn-sm btn-primary2">Ver</button>
            </div>
        </li>
    </ul>

</div>



<div *ngIf="(isPerfilARFFS || isPerfilTitularTH) && listaNotificaPlantFor.length > 0">
    <h3 class="title2">{{isPerfilARFFS ? 'Solicitud Plantación Forestal Actualizada' : 'Se solicitó actualización de información RNPF'}}</h3>
    <ul>
        <li *ngFor="let item of listaNotificaPlantFor">
            <div style="margin: 10px 0">
                <span> Solicitud Plantación Forestal N° {{item.idSolicitudPlantacion}} </span>
                <button (click)="verInfoSolPlantForestal(item)" class="btn btn-sm btn-primary2">Ver</button>
            </div>
        </li>
    </ul>

</div>

<div *ngIf="usuario.sirperfil == 'ARFFS' && impugnaciones.length > 0">
    <h3 class="title2">Solicitud Evaluacion</h3>
    <ul>
        <li *ngFor="let item of impugnaciones">
            <div style="margin: 10px 0">
                <span> Impugnacion N° Resolución: {{item.idResolucion}} </span>
                <button (click)="verImpugnacion(item)" class="btn btn-sm btn-primary2">Ver</button>
            </div>
        </li>
    </ul>

</div>

<div *ngIf="usuario.sirperfil == 'ARFFS' && evidencias.length > 0">
  <h3 class="title2">Solicitud Evaluaci&oacute;n Evidencia</h3>
  <ul>
    <li *ngFor="let item of evidencias">
        <div style="margin: 10px 0">
            <span> Solicitud Concesion de evidencia N°: {{item.idConcesion}} </span>
            <button (click)="verEvidencia(item)" class="btn btn-sm btn-primary2">Ver</button>
        </div>
    </li>
</ul>

</div>



<div *ngIf="solicitudes.length > 0">
    <h3 class="title2">{{ usuario.sirperfil == 'ARFFS' ? 'Respuestas de solicitudes de opinión' : 'Solicitudes de
        evaluaciones externas'}}</h3>

    <ul>
        <li *ngFor="let item of solicitudes">
            <div style="margin: 10px 0">
                <span> Documento: {{item.tipoDocGestionTexto}} N° {{item.nroDocGestion}} Fecha:
                    {{item.fechaDocGestion | date: 'dd/MM/yyyy' }} Asunto: {{item.asunto}} </span>
                <button (click)="descargarArchivoGestion(item)" class="btn btn-sm btn-primary2">Ver</button>
            </div>
        </li>
    </ul>

</div>

<h3 class="title2">Lista de procesos de postulación aprobados</h3>

<ul>
    <li *ngFor="let item of autorizacion">
        <label>
            Código postulación {{item.idProcesoPostulacion}} : <br> {{item.contenidoEmail}}
        </label>
        <button (click)="obtenerArchivo(item)" class="btn btn-sm btn-primary2">Descargar</button>
    </li>
</ul>
