// colores principales
$primary-green: #4a962c;
$primary-red: #df2323;
$primary-yellow: #f6e530;

.eval-rojo {
  color: $primary-red;
  font-weight: bold;
  font-size: 1.3em;
}

.eval-verde {
  color: $primary-green;
  font-weight: bold;
  font-size: 1.3em;
}

.eval-amarillo {
  color: $primary-yellow;
  font-weight: bold;
  font-size: 1.3em;
}

.txt-validaciones {
  color: #7d8a9e;
  font-weight: normal;
  font-size: 0.85em;
}

:host ::ng-deep .p-chip.custom-green {
  background: $primary-green;
  color: #ffffff;
  font-size: 0.85em !important;
}

:host ::ng-deep {
  .p-chip {
    &.custom-green {
      background: $primary-green;
      color: #ffffff;

      & .p-chip-text {
        font-size: 1em !important;
      }
    }

    &.custom-red {
      background: $primary-red;
      color: #ffffff;

      & .p-chip-text {
        font-size: 0.85em !important;
      }
    }
  }
}
