<div class="mt-4 mb-4">
  <div class="col-12 mb-4 ml-0 pl-0">
    <p-panel header="Resultados">
      <div class="row pl-0 mb-2">
        <div class="col-4 txt-validaciones">SUNARP</div>
        <div class="col-8 txt-validaciones d-flex align-items-center">
          <p-chip
            [label]="sunarp ? 'VÁLIDO' : 'NO VÁLIDO'"
            [styleClass]="sunarp ? 'custom-green' : 'custom-red'"
          ></p-chip>
        </div>
      </div>
      <div class="row pl-0 mb-2">
        <div class="col-4 txt-validaciones">SUNAT</div>
        <div class="col-8 txt-validaciones d-flex align-items-center">
          <p-chip
            [label]="sunat ? 'VÁLIDO' : 'NO VÁLIDO'"
            [styleClass]="sunat ? 'custom-green' : 'custom-red'"
          ></p-chip>
        </div>
      </div>
      <div class="row pl-0">
        <div class="col-4 txt-validaciones">Registro Nacional de Infractores</div>
        <div class="col-8 txt-validaciones d-flex align-items-center">
          <p-chip
            [label]="
              condiciones.resultadoInfractor == 'CONFORME'
                ? 'CONFORME'
                : 'NO CONFORME'
            "
            [styleClass]="
              condiciones.resultadoInfractor == 'CONFORME'
                ? 'custom-green'
                : 'custom-red'
            "
          ></p-chip>
        </div>
      </div>
    </p-panel>
  </div>

  <p-table [value]="listaRequisitos">
    <ng-template pTemplate="header">
      <tr>
        <th>Requisito</th>
        <th>Sub Requisito</th>
        <th>Observación</th>
        <th>Resultado</th>
        <!-- <th class="text-center">Acceso a Solicitud</th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
      <tr>
        <td>{{ data.descripcion }}</td>
        <td>{{ data.detalle }}</td>
        <td>{{ data.observacion }}</td>
        <td>
          <span [ngSwitch]="data.conforme">
            <label
              *ngSwitchCase="CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE"
              class="eval-verde"
              >Favorable</label
            >
            <label
              *ngSwitchCase="CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
              class="eval-rojo"
              >Desfavorable</label
            >
            <label *ngSwitchDefault class="eval-amarillo">Pendiente</label>
          </span>
        </td>
        <!-- <td class="text-center">
          <button-evaluar-solicitud-otorgamiento
            [idPermisoForestal]="idPermisoForestal"
            [estado]="data.conforme"
          ></button-evaluar-solicitud-otorgamiento>
        </td> -->
      </tr>
    </ng-template>
  </p-table>

  <br /><br />
  <div *ngIf="!(usuario.sirperfil == Perfiles.TITULARTH && codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE)">
    <div class="row m-0">
      <!-- <div class="col-12 pt-2 pl-0">
        <a
          pButton
          pRipple
          type="button"
          class="btn btn-primary2 pr-3"
          href="/assets/permisoForestal/Propuesta%20de%20Informe.docx"
          download
          target="_blank"
        >
          Generar y Descargar Reporte de Evaluación
        </a>
      </div> -->
        <div class="col-12">
          <button
            class="btn btn-primary2"
            type="button"
            (click)="generarPFCR()"
          >
            Generar y Descargar Reporte de Evaluación
          </button>
        </div>
    </div>
    <br />
    <br />
    <div class="row m-0">
      <div class="col-12">
        <label class="label" style="font-weight: bold"
          >Reporte de Evaluación Firmado</label
        >
      </div>
      <div class="col-12 col-sm-8">
        <buttons-file-permiso-forestal-shared
          [idPermisoForestal]="idPermisoForestal"
          [codigoTipoDocumento]="'EVALFIRM'"
          [codigoProceso]="codigoProceso" [disabled]="codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE || codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
          [subCodigoArchivo]="codigoAcordeonVal"
          (registrarArchivoId)="cargarIdArchivo($event)"
          (eliminarArchivoEmit)="eliminarArchivo($event)"
        >
        </buttons-file-permiso-forestal-shared>
      </div>
      <div class="col-12 col-sm-8 mb-3">
        <div class="p-field-radiobutton d-inline-full">
          <p-radioButton
            name="statusInforme1" [disabled]="codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE || codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
            [(ngModel)]="estadoResultadoEvaluacion"
            [value]="CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE"
          ></p-radioButton>
          <label class="m-0 pl-1 pointer">Favorable</label>
        </div>
        <div class="p-field-radiobutton d-inline-full">
          <p-radioButton [disabled]="codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE || codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
            name="statusInforme2"
            [(ngModel)]="estadoResultadoEvaluacion"
            [value]="CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
          ></p-radioButton>
          <label class="m-0 pl-1 pointer">Desfavorable</label>
        </div>


        <div class="col-12 mt-3" *ngIf="estadoResultadoEvaluacion===CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE">
           <label class="label fz-12">Observación</label>
           <textarea cols="3" rows="2" [(ngModel)]="justificacionResultadoEvaluacion" class="form-control form-control-sm"
                     placeholder="Ingrese observación..." [disabled]="codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE || codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"></textarea>
       </div>
      </div>
    </div>
  </div>

  <div class="step__btn mt-4">
    <button class="btn-primary2" (click)="regresarTab()">Regresar</button>
    <button *ngIf="!(usuario.sirperfil == Perfiles.TITULARTH && codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE)"
      type="button" [disabled]="codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE || codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
      class="btn btn-primary2 pl-3 pr-3"
      (click)="enviarResultados()"
    >
      Enviar Resultados
    </button>
    <button *ngIf="false" class="btn-primary2">Finalizar</button>
  </div>
</div>
<p-toast></p-toast>
