<div class="container-fluid">
  <div class="row">
    <div class="col-12 pt-3 mb-2">
      <p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>
    </div>
    <div class="col-sm-12">
      <h3 class="title">
        Notificar el otorgamiento del permiso a las entidades competentes
      </h3>
      <label class="mt-3">Remisión a SERFOR</label>
    </div>

    <div class="col-sm-12">
      <div class="table">
        <p-table [value]="[{}]">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Código Único Solicitudes</th>
              <th scope="col">Resolución</th>
              <th scope="col">Permiso</th>
              <th scope="col">Plan de manejo Foresta (PMF)</th>
              <th scope="col">Informes generados del Doc. de Gestión</th>
              <th scope="col" colspan="3" class="text-center">Remitir</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>16-LOR-S001</td>
              <td>RDE N° D11212-S001</td>
              <td></td>
              <td>
                <button class="btn-primary2 chip-green">Adjuntar</button>
              </td>
              <td>
                <button class="btn-primary2 chip-green">Adjuntar</button>
              </td>
              <td>
                <button class="btn-primary2">SERFOR</button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <label class="mt-3">Remisión a OSINFOR</label>
    </div>
    <div class="col-sm-12">
      <p-card>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="label">Código Único Solicitudes</label>
              <input
                class="form-control form-control-sm bg-gray"
                disabled
                type="text"
                value="16-LOR-S001"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label class="label">Código TH</label>
              <input
                class="form-control form-control-sm bg-gray"
                disabled
                type="text"
                value="16-LOR-S001"
                autocomplete="off"
              />
            </div>
          </div>
        </div>

        <label class="label">Coordenadas UTM</label>
        <div class="row">
          <div class="col-3">
            <div class="form-group">
              <label class="label">Vertice</label>
              <input
                class="form-control form-control-sm bg-gray"
                disabled
                type="text"
                value="Vertice 0001"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label class="label">Este (E)</label>
              <input
                class="form-control form-control-sm bg-gray"
                disabled
                type="text"
                value="23.232322"
                autocomplete="off"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label class="label">Norte (N)</label>
              <input
                class="form-control form-control-sm bg-gray"
                disabled
                type="text"
                value="234.2343"
                autocomplete="off"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label class="label">Referencia</label>
              <input
                class="form-control form-control-sm bg-gray"
                disabled
                type="text"
                value="16-LOR-S001"
                autocomplete="off"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-9">
            <div class="form-group">
              <label class="label">Nombre del Representante</label>
              <input
                class="form-control form-control-sm bg-gray"
                disabled
                type="text"
                value="Juan Carlos Alberto Rivera Castillo"
                autocomplete="off"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label class="label">Departamento</label>
              <input
                class="form-control form-control-sm bg-gray"
                disabled
                type="text"
                value="Cusco"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="label">Provincia</label>
              <input
                class="form-control form-control-sm bg-gray"
                disabled
                type="text"
                value="Cusco"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="label">Distrito</label>
              <input
                class="form-control form-control-sm bg-gray"
                disabled
                type="text"
                value="Cusco"
                autocomplete="off"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label class="label">Nombre de Comunidad</label>
              <input
                class="form-control form-control-sm bg-gray"
                disabled
                type="text"
                value="Pampa Galeras Dummy"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="label">RUC</label>
              <input
                class="form-control form-control-sm bg-gray"
                disabled
                type="text"
                value="1234567778"
                autocomplete="off"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label class="label">Área de manejo ha.</label>
              <input
                class="form-control form-control-sm"
                type="text"
                value="01/12/2020"
                placeholder="Ingrese la información"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="label">Vigencia del TH</label>
              <input
                class="form-control form-control-sm bg-gray"
                disabled
                type="text"
                value="12/12/2020"
                placeholder="Fecha de entrega del permiso"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="label"> </label>
              <input
                class="form-control form-control-sm bg-gray"
                disabled
                type="text"
                value="Cusco"
                placeholder="Fecha fin del permiso"
                autocomplete="off"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="label">Nombre del regente</label>
              <input
                class="form-control form-control-sm bg-gray"
                disabled
                type="text"
                value="Joaquin Sabina"
                autocomplete="off"
              />
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label class="label">Número de Licencia</label>
              <input
                class="form-control form-control-sm bg-gray"
                disabled
                type="text"
                value="1243323-23434-343"
                autocomplete="off"
              />
            </div>
          </div>
        </div>
      </p-card>

      <div class="w-100 text-right mt-3 mb-5">
        <button class="btn-primary2" (click)="guardar()">GUARDAR</button>
      </div>
    </div>
  </div>
</div>

<p-toast position="bottom-center"></p-toast>
