<div class="row m-0 pt-3">
  <div class="col-12">
    <button
      type="button"
      (click)="fileSHPInput.click()"
      class="btn btn-sm btn-secondary button-more mb-2"
      [disabled]="disabled"
    >
      Cargar shape file
      <input
        #fileSHPInput
        type="file"
        (change)="onChangeFileSHP($event)"
        style="display: none"
      />
    </button>

    <p-table [value]="listCoordinatesAnexo">
      <ng-template pTemplate="header">
        <tr>
          <th>Vértice</th>
          <th>Este (E)</th>
          <th>Norte (N)</th>
          <th>Referencia</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
          <td>{{ data.vertice }}</td>
          <td>{{ data.este }}</td>
          <td>{{ data.norte }}</td>
          <td>
            <input
              type="text"
              class="form-control bg-gray"
              placeholder="Referencia" [disabled]="disabled"
              [(ngModel)]="data.referencia"
              (change)="onChangeReference(data, rowIndex)"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
