<div class="row m-0">
    <div class="col-12">
        <br>

        <div class="row">
            <div class="col-12 col-md-12">
                <div class="p-field-radiobutton">
                    <p-radioButton name="informacionAnexo3" [value]="true" inputId="Si" [(ngModel)]="evaluacion.cites"
                        [disabled]="disabled">
                    </p-radioButton>
                    <strong for="Si" style="margin-left: 5px;">CITES (OSINFOR/ARFFS)</strong>
                </div>
                <div class="p-field-radiobutton">
                    <p-radioButton name="informacionAnexo3" [value]="false" inputId="No" [(ngModel)]="evaluacion.cites"
                        [disabled]="disabled">
                    </p-radioButton>
                    <strong for="No" style="margin-left: 5px;">NO CITES (OSINFOR/SERFOR)</strong>
                </div>
            </div>
        </div>

        <br>


        <div class="row">

            <div class="col-12 col-sm-4">
                <div class="form-group">
                    <label class="label">Fecha de Inicio </label>
                    <div class="content-date">
                        <input autocomplete="off" type="text" class="form-control" matInput [matDatepicker]="fi"
                            [min]="minDate" readonly="true" [(ngModel)]="evaluacion.fechaInicioEvaluacion">
                        <i class="pi pi-calendar pointer" (click)="fi.open()"></i>
                        <mat-datepicker #fi [disabled]="disabled"></mat-datepicker>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">
                <div class="form-group">
                    <label class="label">Fecha de Fin </label>
                    <div class="content-date">
                        <input autocomplete="off" type="text" class="form-control" matInput [matDatepicker]="ff"
                            [min]="minDate" readonly="true" [(ngModel)]="evaluacion.fechaFinEvaluacion">
                        <i class="pi pi-calendar pointer" (click)="ff.open()"></i>
                        <mat-datepicker #ff [disabled]="disabled"></mat-datepicker>
                    </div>
                </div>
            </div>

        </div>

        <br>

        <div class="row">
            <div class="col-12  col-md-4">
                <upload-input-buttons [label]="'Adjuntar Sustento de Comunicación de Autoridad que Interviene'" [disabled]="disabled"
                    (registrarArchivo)="adjuntarSustentoComunicacion($event)"
                    (eliminarArchivo)="eliminarArchivoComunicacion($event)" [file]="archivoComunicacion"
                    [accept]="'.pdf,image/*'">
                </upload-input-buttons>
            </div>


            <div class="col-12  col-md-4">
                <upload-input-buttons [label]="'Adjuntar Sustento de Comunicación de Autoridad de Observación'" [disabled]="disabled"
                    (registrarArchivo)="adjuntarSustento($event)" [file]="archivoSustento"
                    (eliminarArchivo)="eliminarArchivoSustento($event)"></upload-input-buttons>
            </div>

        </div>


        <div class="row">
            <div class="col-12">
                <button class="btn btn-sm btn-primary2" *ngIf="!evaluacion.notificacion" (click)="notificar()"
                    [disabled]="disabled">Notificar
                    a Titular
                    Solicitante</button>
                <button class="btn btn-sm btn-primary2" *ngIf="evaluacion.notificacion" [disabled]="true">Notificación
                    enviada</button>
            </div>
        </div>



        <br>


    </div>

</div>