<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="float-left">
        <h3 class="title2">Anexo N° 04</h3>
      </div>
      <div class="float-right">

        <button class="btn btn-sm btn-primary2" *ngIf="usuario.sirperfil === perfil.AUTORIDAD_REGIONAL" (click)="enviar_validarAnexo()">Validar anexos</button>
        <button *ngIf="lstObservacion.length > 0" class="btn btn-sm btn-primary2 mr-2" (click)="verObservaciones()">Ver
          observaciones</button>
      </div>
    </div>
  </div>

  <br>

  <ng-container>
    <div class="row">
      <div class="col-sm-8">
        <label class="label mr-2">Guía anexo 4: </label>
        <button class="btn btn-sm btn-primary2" (click)="descargarGuia()">Descargar guía</button>
        <br>
      </div>
    </div>
    <br>
    <label class="label">Cargar archivo firmado:</label>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <anexo-upload-input-buttons [file]="archivoAdjunto"  (registrarArchivo)="enviarArchivo($event)" (eliminarArchivo)="eliminarDocumentoAdjunto()" [disabled]="!isTitular" style="height: 32px;">
          </anexo-upload-input-buttons>
        </div>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-sm btn-primary2"  (click)="guardarArchivo()" [disabled]="!isTitular" >Guardar</button>
      </div>
      
    </div>

  </ng-container>
<!--
  <ng-container>
    <mat-divider></mat-divider><br>
    <div class="col-md-12">
      <button class="btn btn-sm btn-primary2 mr-2" (click)="obtenerAdjuntos(true)">Ver Archivos</button>
      <button class="btn btn-sm btn-primary2 mr-2" [disabled]="!isTitular" (click)="eliminarDocumentoAdjunto()">Eliminar Anexo</button>
    </div>
  </ng-container>
-->
</div>

<!--position="top-left"  right -->
<p-toast position="top-right" key="an4"></p-toast>
