<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12">
      <div class="float-left">
        <h3 class="title2">Anexo N° 01 </h3>
      </div>
      <div class="float-right">

        <button class="btn btn-sm btn-primary2" *ngIf="usuario.sirperfil === perfil.AUTORIDAD_REGIONAL" (click)="enviar_validarAnexo()" >Validar anexos</button>
        <button *ngIf="lstObservacion.length > 0" class="btn btn-sm btn-primary2 mr-2" (click)="verObservaciones()">Ver
          observaciones</button>
      </div>

    </div>


    <div class="col-12 mt-3">
      <h3 class="title2 centro">FORMATO DEL RESUMEN DE LA SOLICITUD DE CONCESIÓN FORESTAL CON FINES MADERABLES</h3>
    </div>

    <div class="col-sm-6">
      <label class="label">Nombre de ARFFS:</label>
      <span class="required" *ngIf="params_guardar.autoridadForestal == '-- Seleccione --' ">&nbsp;{{valido}}</span>
      <div class="form-control-selectk"
        [ngClass]="{'select-required anexo1_required': params_guardar.autoridadForestal == '-- Seleccione --'}">
        <p-dropdown [(ngModel)]="params_guardar.autoridadForestal" [options]="autoridadForestal" optionValue="nombre"
          optionLabel="nombre" [disabled]="!isTitular"></p-dropdown>
      </div>
      <!-- <input [disabled]='isDisabled' [(ngModel)]="params_guardar.autoridadForestal" type="text"
      [className]="params_guardar.autoridadForestal == '' ? 'form-control form-control-sm input-required anexo1_required' : 'form-control form-control-sm'" /> -->
    </div>
    <br><br><br><br>
    <div class="col-sm-12">
      <div class="panelk br10 p-3">
        <p class="texto">Se hace de conocimiento al público en general, que con fecha <strong>{{fecha | date:
            'dd/MM/yyyy'}}</strong> la ARFFS: <strong>{{params_guardar.autoridadForestal == '-- Seleccione --' ? '' :
            params_guardar.autoridadForestal}}</strong>, ha recibido una
          solicitud para el otorgamiento de una concesión forestal con fines maderables mediante el procedimiento
          abreviado, según el detalle siguiente: </p>
      </div>
    </div>
  </div>

  <br>
  <mat-divider></mat-divider><br>
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title2">I. INFORMACION GENERAL</h3>
    </div>
    <div class="col-sm-6">
      <label class="label">Solicitante:</label>
      <span class="required" *ngIf="params_guardar.solicitante == '' ">&nbsp;{{valido}}</span>
      <input type="text" style="height: 34.2px;"
        [className]="params_guardar.solicitante == '' ? 'form-control form-control-sm input-required anexo1_required' : 'form-control form-control-sm'"
        [(ngModel)]="params_guardar.solicitante" [disabled]="isTitular"/>

      <label class="label">Representante legal:</label>
      <span class="required" *ngIf="params_guardar.representanteLegal == '' ">&nbsp;{{valido}}</span>
      <input type="text" style="height: 34.2px;"
         class="form-control form-control-sm"
        [(ngModel)]="params_guardar.representanteLegal" [disabled]="isTitular"/>


      <label class="label">Superficie solicitada (ha):</label>
      <span class="required" *ngIf="params_guardar.superficieSolicitada == '' || params_guardar.superficieSolicitada == null">&nbsp;{{valido}}</span>
      <input type="number" style="height: 34.2px;"
        [className]="params_guardar.superficieSolicitada == null || params_guardar.superficieSolicitada == '' ? 'form-control form-control-sm input-required anexo1_required' : 'form-control form-control-sm'"
        [(ngModel)]="params_guardar.superficieSolicitada" [disabled]="isTitular" numero/>

      <label class="label">Plazo de la concesión (años):</label>
      <span class="required" *ngIf="params_guardar.plazoConcesion == '' ">&nbsp;{{valido}}</span>
      <input disabled [className]="params_guardar.plazoConcesion == null || params_guardar.plazoConcesion == '' ? 'form-control form-control-sm input-required anexo1_required' : 'form-control form-control-sm'" type="number" max="40" [(ngModel)]="params_guardar.plazoConcesion" />

      <label class="label">Sector/Anexo/Caserio:</label>
      <span class="required" *ngIf="params_guardar.sectorAnexoCaserio == '' ">&nbsp;{{valido}}</span>
      <input [className]="params_guardar.sectorAnexoCaserio == null || params_guardar.sectorAnexoCaserio == '' ? 'form-control form-control-sm input-required anexo1_required' : 'form-control form-control-sm'"
        type="text" [(ngModel)]="params_guardar.sectorAnexoCaserio" [disabled]="!isTitular"/>

    </div>
    <div class="col-sm-6">
      <label class="label">Tipo Documento:</label>
      <input type="text" style="height: 34.2px;"
        [className]="params_guardar.tipoDocumento == '' ? 'form-control form-control-sm input-required anexo1_required' : 'form-control form-control-sm'"
        [(ngModel)]="params_guardar.tipoDocumento" [disabled]="true"/>

      <label class="label">Nro. Documento:</label>
      <input type="text" style="height: 34.2px;"
        [className]="params_guardar.numeroDocumento == '' ? 'form-control form-control-sm input-required anexo1_required' : 'form-control form-control-sm'"
        [(ngModel)]="params_guardar.numeroDocumento" [disabled]="true"/>

      <label class="label">Departamento:</label>
      <!-- <input type="text" class="form-control form-control-sm" [(ngModel)]="departamento" /> -->
      <div class="form-control-selectk">
        <p-dropdown [(ngModel)]="departamentoSelect" [options]="departamentos" optionValue="idDepartamento"
          optionLabel="nombreDepartamento" (onChange)="selectDPD($event.value,'d')" [disabled]="isTitular"></p-dropdown>
      </div>

      <label class="label">Provincia:</label>
      <!-- <input type="text" class="form-control form-control-sm" [(ngModel)]="provincia" /> -->
      <div class="form-control-selectk">
        <p-dropdown [(ngModel)]="provinciaSelect" [options]="provincias" optionValue="idProvincia"
          optionLabel="nombreProvincia" (onChange)="selectDPD($event.value,'p')" [disabled]="isTitular"></p-dropdown>
      </div>

      <label class="label">Distrito:</label>
      <!-- <input type="text" class="form-control form-control-sm" [(ngModel)]="distrito" /> -->
      <div class="form-control-selectk">
        <p-dropdown [(ngModel)]="distritoSelect" [options]="distritos" optionValue="idDistrito"
          optionLabel="nombreDistrito" (onChange)="selectDPD($event.value,'dd')" [disabled]="isTitular"></p-dropdown>
      </div>
    </div>

    <div class="col-12 mt-3">
      <mat-divider></mat-divider><br>
      <!--<button class="btn btn-sm btn-secondary mr-2" [disabled]="!isTitular">Validar PIDE</button>
      <button class="btn btn-sm btn-secondary mr-2" [disabled]="!isTitular">Validar OSCE</button>
      <button class="btn btn-sm btn-secondary mr-2" [disabled]="!isTitular">Validar OSINFOR</button>
      <button class="btn btn-sm btn-secondary mr-2" [disabled]="!isTitular">Validar Registro Nacional de Infractores</button> -->
      <button class="btn btn-sm btn-primary2 " (click)="validarCondiciones()">Validar Condiciones M&iacute;nimas</button>

    </div>
  </div>

  <br>
  <mat-divider></mat-divider><br>
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title2">II. MAPA DE UBICACIÓN</h3>
      <!-- <img class="mapa-ubicacion" /> -->
      <div #mapUbication>

      </div>
      <div> <img #imagenMap src="{{srcImagenMap}}" />
        <input type="hidden" name="filename">
      </div>
    </div>
  </div>

  <br><br><br>
  <mat-divider></mat-divider><br>
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title2">III. OBJETIVO DE LA CONCESIÓN</h3>
      <span class="required" *ngIf="params_guardar.objetivo == '' ">&nbsp;{{valido}}</span>
      <textarea [className]="params_guardar.objetivo == null || params_guardar.objetivo == '' ? 'form-control form-control-sm input-required anexo1_required' : 'form-control form-control-sm'"
        rows="4" [(ngModel)]="params_guardar.objetivo" [disabled]="!isTitular"></textarea>
    </div>
  </div>
  <br>
  <ng-container *ngIf="anexoActual == null && !archivoEnviado">
    <mat-divider></mat-divider><br>
    <div class="row mb-3">
      <div class="col-sm-12">
        <button class="btn btn-sm btn-secondary mr-2" [disabled]="!isTitular" (click)="guardaranexo()">Guardar</button>
        <button class="btn btn-sm btn-secondary mr-2" [disabled]="!isTitular || !isGuardarOK" (click)="generaranexo()">Generar</button>
      </div>

    </div>
  </ng-container>

  <ng-container *ngIf="generar && anexoActual == null">
    <mat-divider></mat-divider><br><br><br>
    <div class="row">
      <div class="col-sm-6">
        <upload-input-buttons (registrarArchivo)="cargarAchivoAnexo1($event)" (eliminarArchivo)="eliminarArchivoAnexo1()"
          [file]="file" [label]="'Adjuntar Anexo1'" [disabled]="false">
        </upload-input-buttons>
      </div>
      <div class="col-sm-6 my-auto">
        <button class="btn btn-sm btn-primary2" (click)="enviarArchivo()">Guardar</button>
      </div>
    </div>

  </ng-container>

  <br>

  <ng-container *ngIf="archivoEnviado">
    <mat-divider></mat-divider><br>
    <div class="col-md-12" [ngStyle]="{display: listaProcOferta == undefined ? 'block' : 'none'}">
      <button class="btn btn-sm btn-primary2 mr-2" (click)="obtenerAdjuntos(true)">Descargar Archivos</button>
      <button class="btn btn-sm btn-primary2 mr-2" [disabled]="!isTitular" (click)="eliminarDocumentoAdjunto()">Eliminar Anexo</button>
    </div>
  </ng-container>
</div>


<!--position="top-left"  right-->
<p-toast position="top-right" key="an1"></p-toast>
