<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <div class="float-left">
        <h3 class="title2">Anexo N° 02</h3>
      </div>
      <div class="float-right">

        <button class="btn btn-sm btn-primary2" *ngIf="usuario.sirperfil === perfil.AUTORIDAD_REGIONAL" (click)="enviar_validarAnexo()">Validar anexos</button>
        <button *ngIf="lstObservacion.length > 0" class="btn btn-sm btn-primary2 mr-2" (click)="verObservaciones()">Ver
          observaciones</button>
      </div>

    </div>

    <div class="col-12">
      <h3 class="title2 centro">DOCUMENTO DE ACREDITACIÓN DE LA CAPACIDAD TÉCNICA</h3>
      <h4 class="title2 centro">(Hoja de vida del profesional)</h4>
    </div>

  </div>


  <div class="row">
    <div class="col-sm-12">
      <h3 class="title2">I. DATOS GENERALES</h3>
    </div>
    <div class="col-sm-6">
      <label class="label">Número de documento de regente:</label>
      <span class="required" *ngIf="params_guardar.dni == '' ">&nbsp;{{valido}}</span>
      <div class="input-group"  style="height: 34.2px;">
        <input type="text" class="form-control" numero [maxLength]="8" [(ngModel)]="params_guardar.dni"  style="height: 34.2px;"
          [className]="params_guardar.dni == '' || params_guardar.dni == null  ? 'form-control form-control-sm input-required anexo2_required' : 'form-control form-control-sm'"
          aria-describedby="dni" type="number" [disabled]="!isTitular" (ngModelChange)="isValidDocRegente = false">
        <div class="input-group-append"  style="height: 34.2px;">
          <span class="input-group-text" id="dni" style="padding: 0;" >
            <button type="button" (click)="buscarRegente()" class="btn btn-sm"  style="height: 34.2px;" [disabled]="!isTitular">Buscar</button>
          </span>
        </div>
      </div>

      <label class="label">Nombres y apellidos del regente:</label>
      <span class="required" *ngIf="params_guardar.nombreapellidos == '' ">&nbsp;{{valido}}</span>
      <input [className]="params_guardar.nombreapellidos == '' || params_guardar.nombreapellidos == null  ? 'form-control form-control-sm input-required anexo2_required' : 'form-control form-control-sm'"
        type="text" [(ngModel)]="params_guardar.nombreapellidos" style="height: 34.2px;"  [disabled]="true"/>


      <label class="label">Dirección:</label>
      <span class="required" *ngIf="params_guardar.direccion == '' ">&nbsp;{{valido}}</span>
      <input type="text" [(ngModel)]="params_guardar.direccion"  style="height: 34.2px;"
        [className]="params_guardar.direccion == '' || params_guardar.direccion == null  ? 'form-control form-control-sm input-required anexo2_required' : 'form-control form-control-sm'"
        [disabled]="!isTitular"/>

      <label class="label">Sector:</label>
      <span class="required" *ngIf="params_guardar.sector == '' ">&nbsp;{{valido}}</span>
      <input type="text"  style="height: 34.2px;"
        [className]="params_guardar.sector == '' || params_guardar.sector == null  ? 'form-control form-control-sm input-required anexo2_required' : 'form-control form-control-sm'"
        [(ngModel)]="params_guardar.sector" [disabled]="!isTitular"/>
    </div>

    <div class="col-sm-6">
      <label class="label">Departamento:</label>
      <div class="form-control-selectk">
        <p-dropdown [(ngModel)]="departamentoSelect" [options]="departamentos" optionValue="idDepartamento"
          optionLabel="nombreDepartamento" (onChange)="selectDPD($event.value,'d')" [disabled]="!isTitular"></p-dropdown>
      </div>

      <label class="label">Provincia:</label>
      <div class="form-control-selectk">
        <p-dropdown [(ngModel)]="provinciaSelect" [options]="provincias" optionValue="idProvincia"
          optionLabel="nombreProvincia" (onChange)="selectDPD($event.value,'p')" [disabled]="!isTitular"></p-dropdown>
      </div>

      <label class="label">Distrito:</label>
      <div class="form-control-selectk">
        <p-dropdown [(ngModel)]="distritoSelect" [options]="distritos" optionValue="idDistrito"
          optionLabel="nombreDistrito" (onChange)="selectDPD($event.value,'dd')" [disabled]="!isTitular"></p-dropdown>
      </div>
    </div>


    <div class="col-sm-4">
      <label class="label">Tfno. Fijo:</label>
      <span class="required" *ngIf="params_guardar.telefono == '' || params_guardar.telefono == null ">&nbsp;{{valido}}</span>
      <input type="number" numero [maxLength]="9"
        [className]="params_guardar.telefono == '' || params_guardar.telefono == null  ? 'form-control form-control-sm input-required anexo2_required' : 'form-control form-control-sm'"
        [(ngModel)]="params_guardar.telefono" [disabled]="!isTitular"/>
    </div>
    <div class="col-sm-4">
      <label class="label">Tfno. celular:</label>
      <span class="required" *ngIf="params_guardar.celular == '' || params_guardar.celular == null">&nbsp;{{valido}}</span>
      <input type="number" numero [maxLength]="9"
        [className]="params_guardar.celular == '' || params_guardar.celular == null  ? 'form-control form-control-sm input-required anexo2_required' : 'form-control form-control-sm'"
        [(ngModel)]="params_guardar.celular" [disabled]="!isTitular"/>
    </div>
    <div class="col-sm-4">
      <label class="label">Correo electrónico:</label>
      <span class="required" *ngIf="params_guardar.correo == '' ">&nbsp;{{valido}}</span>
      <input type="email"
        (input)="validarCorreo()"
        [className]="params_guardar.correo == '' || params_guardar.correo == null || !mailValido ? 'form-control form-control-sm input-required anexo2_required' : 'form-control form-control-sm'"
        [(ngModel)]="params_guardar.correo" [disabled]="!isTitular"/>
    </div>

    <div class="col-sm-12">
      <label class="label">Razón social del solicitante de la concesión:</label>
      <span class="required" *ngIf="params_guardar.razonsocialsolicitante == '' ">&nbsp;{{valido}}</span>
      <input type="text"
        [className]="params_guardar.razonsocialsolicitante == '' || params_guardar.razonsocialsolicitante == null  ? 'form-control form-control-sm input-required anexo2_required' : 'form-control form-control-sm'"
        [(ngModel)]="params_guardar.razonsocialsolicitante" [disabled]="!isTitular"/>
    </div>

  </div>

  <p-divider></p-divider>

  <div class="row">
    <div class="col-sm-12">
      <h3 class="title2">II. INFORMACIÓN PROFESIONAL</h3>
    </div>
    <div class="col-sm-12">
      <label class="label">Profesión:</label>
      <span class="required" *ngIf="params_guardar.profesion == '' ">&nbsp;{{valido}}</span>
      <input type="text"
        [className]="params_guardar.profesion == '' || params_guardar.profesion == null  ? 'form-control form-control-sm input-required anexo2_required' : 'form-control form-control-sm'"
        [(ngModel)]="params_guardar.profesion" [disabled]="!isTitular"/>

      <label class="label">N° de registro en el colegio profesional:</label>
      <span class="required" *ngIf="params_guardar.nroregistrocolegioprofesional == '' || params_guardar.nroregistrocolegioprofesional == null">&nbsp;{{valido}}</span>
      <input type="number"
        [className]="params_guardar.nroregistrocolegioprofesional == '' || params_guardar.nroregistrocolegioprofesional == null  ? 'form-control form-control-sm input-required anexo2_required' : 'form-control form-control-sm'"
        [(ngModel)]="params_guardar.nroregistrocolegioprofesional" [disabled]="!isTitular"/>

      <label class="label">N° de registro de regente en el SERFOR:</label>
      <span class="required" *ngIf="params_guardar.nroregistroserfor == '' || params_guardar.nroregistroserfor == null">&nbsp;{{valido}}</span>
      <input type="number"
        [className]="params_guardar.nroregistroserfor== '' || params_guardar.nroregistroserfor == null  ? 'form-control form-control-sm input-required anexo2_required' : 'form-control form-control-sm'"
        [(ngModel)]="params_guardar.nroregistroserfor" [disabled]="!isTitular"/>
    </div>
  </div>

  <p-divider></p-divider>

  <div class="row">
    <div class="col-sm-12">
      <h3 class="title2">III. INFORMACIÓN DEL EQUIPO TÉCNICO (Opcional)</h3>
    </div>
    <div class="col-sm-12">
      <label class="label">Detalles de los miembros del equipo:</label>
      <span class="required" *ngIf="params_guardar.equipotecnico == '' ">&nbsp;{{valido}}</span>
      <textarea [(ngModel)]="params_guardar.equipotecnico" [className]="params_guardar.equipotecnico== '' || params_guardar.equipotecnico == null  ? 'form-control form-control-sm input-required anexo2_required' : 'form-control form-control-sm'"
        type="text" class="form-control form-control-sm" rows="3" [disabled]="!isTitular"></textarea>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-12">
      <p class="texto">
        Los firmantes declaran bajo juramento que el regente forestal, cuyos datos se consignan en el presente
        documento, brindará servicios como tal en el área que requiere el solicitante, en caso la ARFFS le otorgue la
        concesión forestal con fines maderables correspondientes.
      </p>


    </div>
    <!-- <div class="col-sm-4">
      <label class="label">Lugar:</label>
      <span class="required">&nbsp;</span>
      <input type="text"
        [(ngModel)]="binding"
        [className]="'form-control form-control-sm input-required'"/>
    </div> -->
    <div class="col-sm-4">
      <label class="label">Lugar:</label>
      <span class="required" *ngIf="params_guardar.lugarfirma == '' ">&nbsp;{{valido}}</span>
      <input type="text"
        [className]="params_guardar.lugarfirma == '' || params_guardar.lugarfirma== null  ? 'form-control form-control-sm input-required anexo2_required' : 'form-control form-control-sm'"
        [(ngModel)]="params_guardar.lugarfirma" [disabled]="!isTitular"/>
    </div>
  </div>
  <br>
  <ng-container *ngIf="anexoActual == null && !archivoEnviado">
    <mat-divider></mat-divider><br>
    <div class="row mb-3">
      <div class="col-sm-12">
        <button class="btn btn-sm btn-secondary mr-2" [disabled]="!isTitular" (click)="guardaranexo()">Guardar</button>
        <button class="btn btn-sm btn-secondary mr-2" [disabled]="!isTitular || !isGuardarOK" (click)="generaranexo()">Generar</button>
      </div>

    </div>
  </ng-container>

  <ng-container *ngIf="generar && anexoActual == null">
    <mat-divider></mat-divider><br><br><br>
    <div class="row">
      <div class="col-sm-6">
        <upload-input-buttons (registrarArchivo)="cargarAchivoAnexo2($event)" (eliminarArchivo)="eliminarArchivoAnexo2()" 
          [file]="file" [label]="'Adjuntar Anexo2'" [disabled]="false">
        </upload-input-buttons>
      </div>
      <div class="col-sm-6 my-auto">
        <button class="btn btn-sm btn-primary2" (click)="enviarArchivo()">Guardar</button>
      </div>
    </div>

  </ng-container>

  <br>

  <ng-container *ngIf="archivoEnviado">
    <mat-divider></mat-divider><br>
    <div class="col-md-12" [ngStyle]="{display: listaProcOferta == undefined ? 'block' : 'none'}">
      <button class="btn btn-sm btn-primary2 mr-2" (click)="obtenerAdjuntos(true)">Descargar Archivos</button>
      <button class="btn btn-sm btn-primary2 mr-2" (click)="eliminarDocumentoAdjunto()">Eliminar Anexo</button>
    </div>
  </ng-container>

</div>

<!--position="top-left"  right

-->
<p-toast position="top-right" key="an2"></p-toast>
