<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="float-left">
        <h3 class="title2">Anexo N° 03</h3>
      </div>
      <div class="float-right">

        <button class="btn btn-sm btn-primary2" *ngIf="usuario.sirperfil === perfil.AUTORIDAD_REGIONAL" (click)="enviar_validarAnexo()">Validar anexos</button>
        <button *ngIf="lstObservacion.length > 0" class="btn btn-sm btn-primary2 mr-2" (click)="verObservaciones()">Ver
          observaciones</button>
      </div>

    </div>
    <div class="col-12">
      <h3 class="title2 centro">Declaración jurada de ingresos, cuentas, bienes, y capacidad de acceso al mercado e
        inserción a cadena productiva o de servicios</h3>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6 form-group">
      <label class="label">Señor:</label>
      <span class="required" *ngIf="params_guardar.nomapellfuncionrespon == '' ">&nbsp;{{valido}}</span>
      <input type="text"
        [className]="params_guardar.nomapellfuncionrespon == '' || params_guardar.nomapellfuncionrespon == null ? 'form-control form-control-sm input-required anexo3_required' : 'form-control form-control-sm'"
        [(ngModel)]="params_guardar.nomapellfuncionrespon" [disabled]="!isTitular" 
        placeholder="Nombres y apellidos del funcionario responsable de otorgar la concesión"/>
      <!-- <p class="texto">(Señalar los nombres y apellidos del funcionario responsable de otorgar la concesión)</p> -->
    </div>

    <div class="col-sm-6 form-group">

      <label class="label">Cargo:</label>
      <span class="required" *ngIf="params_guardar.cargoFuncioArffssRespo == '' ">&nbsp;{{valido}}</span>
      <input type="text"
        [className]="params_guardar.cargoFuncioArffssRespo == ''  ? 'form-control form-control-sm input-required anexo3_required' : 'form-control form-control-sm'"
        [(ngModel)]="params_guardar.cargoFuncioArffssRespo" [disabled]="!isTitular"
        placeholder="Cargo del funcionario de la ARFFS responsable de otorgar la concesión"/>
    </div>

    <div class="col-6 form-group">

      <label class="label">Yo:</label>
      <span class="required" *ngIf="params_guardar.nomapellreprelegal == '' ">&nbsp;{{valido}}</span>
      <input type="text"
        [className]="params_guardar.nomapellreprelegal == ''  ? 'form-control form-control-sm input-required anexo3_required' : 'form-control form-control-sm'"
        [(ngModel)]="params_guardar.nomapellreprelegal" [disabled]="!isTitular"
        placeholder="Indicar nombres y apellidos"/>
    </div>

    <div class="col-6 form-group">
      <label class="label">identificado con DNI:</label>
      <span class="required" *ngIf="params_guardar.dnireprelegal== '' ">&nbsp;{{valido}}</span>
      <input type="text" numero [maxLength]="8"
        [className]="params_guardar.dnireprelegal== ''  ? 'form-control form-control-sm input-required anexo3_required' : 'form-control form-control-sm'"
        [(ngModel)]="params_guardar.dnireprelegal" [disabled]="!isTitular"
        placeholder="Indicar número de DNI"/>
    </div>

    <div class="col-sm-6 form-group">
      <label class="label">Representante de:</label>
      <span class="required" *ngIf="params_guardar.denomipersojuridica == '' ">&nbsp;{{valido}}</span>
      <input type="text"
        [className]="params_guardar.denomipersojuridica== ''  ? 'form-control form-control-sm input-required anexo3_required' : 'form-control form-control-sm'"
        [(ngModel)]="params_guardar.denomipersojuridica" [disabled]="!isTitular"
        placeholder="Indicar denominación de quien se representa"/>
    </div>

    <div class="col-6 form-group">
      <label class="label">Identificado con:</label>
      <span class="required" *ngIf="params_guardar.rucpersojuridica == '' ">&nbsp;{{valido}}</span>
      <input type="text"
        [className]="params_guardar.rucpersojuridica == ''  ? 'form-control form-control-sm input-required anexo3_required' : 'form-control form-control-sm'"
        [(ngModel)]="params_guardar.rucpersojuridica" [disabled]="!isTitular"
        placeholder="Indicar número de RUC"/>
    </div>

    <div class="col-6 form-group">
      <label class="label">Domiciliado en:</label>
      <span class="required" *ngIf="params_guardar.direccpersojuridica == '' ">&nbsp;{{valido}}</span>
      <input type="text" [(ngModel)]="params_guardar.direccpersojuridica"
        [className]="params_guardar.direccpersojuridica == ''  ? 'form-control form-control-sm input-required anexo3_required' : 'form-control form-control-sm'"
        [disabled]="!isTitular"
        placeholder="Indicar domicilio legal"/>
    </div>

    <div class="col-sm-12">
      <h4 class="title2">Ingresos, cuentas y bienes</h4>

      <table>
        <thead>
          <tr>
            <th width="50px">N°</th>
            <th>Tipo y número/código de documento que sustenta la declaración</th>
            <th>Descripción</th>
            <th>Monto (S/.) (De corresponder)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Estados financieros</td>
            <td>Demuestran facturaciones anuales superiores a las 700 UIT y que el activo corriente entre el pasivo
              corriente es mayor a 1.</td>
            <td>
              <input type="text" decimal [decimalPlaces]="2"
              [className]="params_guardar.monto1 == ''  ? 'text-right form-control form-control-sm input-required anexo3_required' : 'text-right form-control form-control-sm'"
              [(ngModel)]="params_guardar.monto1" [disabled]="!isTitular"/>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Reporte sobre situación crediticia emitida por la central de riesgos de la SBS/central privada</td>
            <td>Demuestran que no se tiene deudas impagas.</td>
            <td>
              <input type="text" decimal [decimalPlaces]="2"
              [className]="params_guardar.monto2 == ''  ? 'text-right form-control form-control-sm input-required anexo3_required' : 'text-right form-control form-control-sm'"
              [(ngModel)]="params_guardar.monto2" [disabled]="!isTitular"/>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>(Documentos que acreditan propiedad de bienes)</td>
            <td></td>
            <td>
              <input type="text" decimal [decimalPlaces]="2"
              [className]="params_guardar.monto3 == ''  ? 'text-right form-control form-control-sm input-required anexo3_required' : 'text-right form-control form-control-sm'"
              [(ngModel)]="params_guardar.monto3" [disabled]="!isTitular"/>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="col-sm-12 mt-4">
      <label class="label">Descripción de Documentos:</label>
      <span class="required" *ngIf="params_guardar.descdocumentos == '' ">&nbsp;{{valido}}</span>
      <textarea
        [className]="params_guardar.descdocumentos == ''  ? 'form-control form-control-sm input-required anexo3_required' : 'form-control form-control-sm'"
        [(ngModel)]="params_guardar.descdocumentos" type="text" rows="3" [disabled]="!isTitular" placeholder="Ingresar descripción de los documentos"></textarea>
    </div>

    <div class="col-sm-6">
      <label class="label">Lugar:</label>
      <span class="required" *ngIf="params_guardar.lugarfirma == '' ">&nbsp;{{valido}}</span>
      <input type="text"
        [className]="params_guardar.lugarfirma == ''  ? 'form-control form-control-sm input-required anexo3_required' : 'form-control form-control-sm'"
        [(ngModel)]="params_guardar.lugarfirma" [disabled]="!isTitular" placeholder="Ingresar lugar"/>
    </div>

  </div>


  <br>
  <ng-container *ngIf="anexoActual == null && !archivoEnviado">
    <mat-divider></mat-divider><br>
    <div class="row mb-3">
      <div class="col-sm-12">
        <button class="btn btn-sm btn-secondary mr-2" [disabled]="!isTitular" (click)="guardaranexo()">Guardar</button>
        <button class="btn btn-sm btn-secondary mr-2" [disabled]="!isTitular || !isGuardarOK" (click)="generaranexo()">Generar</button>
      </div>

    </div>
  </ng-container>

  <ng-container *ngIf="generar && anexoActual == null">
    <mat-divider></mat-divider><br>
    <div class="row">
      <div class="col-sm-6">
        <upload-input-buttons (registrarArchivo)="cargarAchivoAnexo3($event)" (eliminarArchivo)="eliminarArchivoAnexo3()" 
          [file]="file" [label]="'Adjuntar Anexo3'" [disabled]="false">
        </upload-input-buttons>
      </div>
      <div class="col-sm-6 my-auto">
        <button class="btn btn-sm btn-primary2" (click)="enviarArchivo()">Guardar</button>
      </div>
    </div>
  </ng-container>

  <br>

  <ng-container *ngIf="archivoEnviado">
    <mat-divider></mat-divider><br>
    <div class="col-md-12" [ngStyle]="{display: listaProcOferta == undefined ? 'block' : 'none'}">
      <button class="btn btn-sm btn-primary2 mr-2" (click)="obtenerAdjuntos(true)">Descargar Archivos</button>
      <button class="btn btn-sm btn-primary2 mr-2" (click)="eliminarDocumentoAdjunto()">Eliminar Anexo</button>
    </div>
  </ng-container>

</div>

<!--position="top-left"  right

-->
<p-toast position="top-right" key="an3"></p-toast>
