<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-sm-12">
      <div class="float-left">
        
      </div>
      <div class="float-right">

        <button class="btn btn-sm btn-primary2" *ngIf="usuario.sirperfil === perfil.AUTORIDAD_REGIONAL" (click)="enviar_validarAnexo()">Validar anexos</button>
        <button *ngIf="lstObservacion.length > 0" class="btn btn-sm btn-primary2 mr-2" (click)="verObservaciones()">Ver
          observaciones</button>
      </div>
    </div>

  </div>

  <!--<ng-container *ngIf="anexoActual == null">-->
  <ng-container>
    <label class="label">Cargar Declaración Jurada Firmada:</label>
    <div class="row">
      <!-- <div class="col-sm-6">
        <input #fileInput class="form-control from-control-sm" type="file" (change)="cargarAchivo($event)" />
      </div> -->
      <div class="col-6">
        <div class="form-group">
          <anexo-upload-input-buttons [file]="archivoAdjunto"  (registrarArchivo)="enviarArchivo($event)" (eliminarArchivo)="eliminarDocumentoAdjunto()" [disabled]="!isTitular" style="height: 32px;">
          </anexo-upload-input-buttons>
        </div>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-sm btn-primary2"  (click)="guardarArchivo()" [disabled]="!isTitular" >Guardar</button>
      </div>
    </div>

    
  </ng-container>
<!--
  <ng-container >
    <mat-divider></mat-divider><br>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-sm btn-primary2 mr-2" (click)="obtenerAdjuntos(true)">Ver Archivos</button>
        <button class="btn btn-sm btn-primary2 mr-2" [disabled]="!isTitular" (click)="eliminarDocumentoAdjunto()">Eliminar Anexo</button>
      </div>
    </div>
  </ng-container>
-->
</div>

<p-toast position="top-right" key="dc"></p-toast>
