<div class="container-fluid">

  <div class="row form-group mb-4">
    <div class="col-sm-12">
      <div class="float-left">
        <h3 class="title2">Otros Documentos</h3>
      </div>
      <div class="float-right">

        <button class="btn btn-sm btn-primary2" *ngIf="usuario.sirperfil === perfil.AUTORIDAD_REGIONAL" (click)="enviar_validarAnexo()">Validar anexos</button>
        <button *ngIf="lstObservacion.length > 0" class="btn btn-sm btn-primary2 mr-2" (click)="verObservaciones()">Ver
          observaciones</button>
      </div>
    </div>

    <div class="col-12 col-sm-4">
      <label class="label">Descripción</label>
      <input type="text" class="form-control" maxlength="150" [(ngModel)]="descripcion" [disabled]="!isTitular">
    </div>
    <div class="col-12 col-sm-4">
      <label class="label">Adjuntar archivo</label>
      <upload-input-buttons [file]="archivoAdjunto" (eliminarArchivo)="eliminarArchivoPrevio()" [disabled]="!isTitular" style="height: 32px;">
      </upload-input-buttons>
    </div>
    <div class="col-12 col-sm-4 pt-4">
      <button class="btn btn-sm btn-primary2" (click)="agregar()" [disabled]="!isTitular"> Agregar</button>
    </div>

  </div>

  <div *ngIf="listadoArchivos.length > 0" class="row">
    <div class="col-12">

      <p-table [value]="listadoArchivos" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
          <tr>
            <th>N°</th>
            <th style="min-width: 200px;" class="td-word-break">Descripción</th>
            <th>Nombre Archivo</th>
            <th>Eliminar</th>
            <th>Descargar</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-obj>
          <tr>
            <td>{{obj.idArchivo}}</td>
            <td style="min-width: 200px;" class="td-word-break">{{obj.descripcion}}</td>
            <td>{{obj.nombreArchivo}}</td>
            <td>
              <a style="cursor: pointer;" [style]="isTitular ? '' : 'pointer-events: none'">
                <i class="pi pi-trash" (click)="eliminarArchivo(obj)"></i> </a>
            </td>
            <td>
              <span style="cursor: pointer;">
                <i class="pi pi-download" (click)="descargarArchivo(obj)"></i> </span>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>
    <div class="col-12 mt-4">
      <button class="btn btn-sm btn-primary2"  (click)="enviarArchivo()" [disabled]="inHabilitar">Guardar Archivos</button>
    </div>
  </div>

</div>

<p-toast position="top-right" key="other"></p-toast>
