.centro {
    text-align: center;
}

.mapa-ubicacion{
    background-color: beige;
    width: 100%;
    height: 100%;
}

.texto{
    font-size: 11px;
    margin-left: 12px;
    min-width: 135px;
    font-weight: normal;
    font-family: "Montserrat";
}

.required{
    color: #D32F2F;
}

.input-required{
    border: 1px solid #D32F2F;
}
.form-control-selectk.select-required{
  border: 1px solid #D32F2F;
  border-radius: 25px ;
}

 td{
    text-align: justify;
}
.centro{
    text-align: center;
}

.td-word-break{
    word-break: break-all;
    min-width: 200px;
}
