<div class="container-fluit">
  <div class="row m-0 mb-3">
    <!-- TITULO -->
    <div class="col-12">
      <h3 class="title">Ep: 4.2.3 Evaluación de Libro de Operaciones (LO)</h3>
    </div>
    <!-- FILTROS -->
    <div class="col-12">
      <div class="panelk br10 p-3">
        <div class="row">
          <!-- Inputs -->
          <div class="col-12 col-sm-3 form-group">
            <label class="label">ID Solicitud LO:</label>
            <input class="form-control" type="text" autocomplete="off" [(ngModel)]="objbuscar.idLibroOperaciones"
              placeholder="Ingrese ID solicitud" numero [maxLength]="8" />
          </div>
          <div class="col-12 col-sm-3 form-group">
            <label class="label">Estado Solicitud:</label>
            <div class="form-control-selectk">
              <p-dropdown [options]="comboEstado" placeholder="Seleccione" optionLabel="valorPrimario"
                optionValue="codigo" [(ngModel)]="objbuscar.estadoLO">
              </p-dropdown>
            </div>
          </div>
          <div class="col-12 col-sm-3 form-group">
            <label class="label">Código de TH:</label>
            <input class="form-control" type="text" autocomplete="off" [(ngModel)]="objbuscar.codigoTH"
              placeholder="Ingrese código TH" maxlength="50" />
          </div>
          <div class="col-12 col-sm-3 form-group">
            <label class="label">Titular:</label>
            <input class="form-control" type="text" autocomplete="off" [(ngModel)]="objbuscar.nombreSolicitanteUnico"
              placeholder="Ingrese titular" maxlength="50" />
          </div>
          <div class="col-12 col-sm-3 form-group">
            <label class="label">Número de Resolución:</label>
            <input class="form-control" type="text" autocomplete="off" [(ngModel)]="objbuscar.idResolucion"
              placeholder="Ingrese número de resolución" maxlength="50" />
          </div>
          <div class="col-12 col-sm-3 form-group">
            <label class="label">Número Plan Manejo:</label>
            <input class="form-control" type="text" autocomplete="off" [(ngModel)]="objbuscar.idPlanManejo"
              placeholder="Ingrese número de plan manejo" maxlength="50" />
          </div>
          <div class="col-12 col-sm-3 form-group">
            <label class="label">Número Registro LO:</label>
            <input class="form-control" type="text" autocomplete="off" [(ngModel)]="objbuscar.nroRegistro"
              placeholder="Ingrese número de registro" maxlength="50" />
          </div>
          <div class="col-12 col-sm-3 form-group">
            <label class="label">Vigencia:</label>

          <br/>
            <p-checkbox

            [(ngModel)]="objbuscar.vigente"
            [binary]="true"
            (onChange)="check()"
          ></p-checkbox>
          </div>
          <!-- Botones -->
          <div class="col-sm-12 my-2 form-group text-center">
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnLimpiar()">Limpiar</button>
            <button class="btn btn-sm btn-secondary" (click)="btnBuscar()">Buscar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- TABLA -->
    <div class="col-12 mt-4">
      <p-table [value]="listaBandeja">
        <ng-template pTemplate="header">
          <tr>
            <th>ID Sol.</th>
            <th>Estado Solicitud</th>

            <th>Solicitante</th>


            <th>N° Registro LO</th>
            <th>Vigencia</th>
            <th>Eval. Solicitud</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fila>
          <tr>
            <td>{{fila.idLibroOperaciones}}</td>
            <td>{{fila.descripcionEstadoLO}}</td>

            <td>{{fila.nombreSolicitanteUnico}}</td>

            <td>{{fila.nroRegistro}}</td>
            <td *ngIf="fila.vigente">Si</td>
            <td *ngIf="!fila.vigente">No</td>
            <td>
              <span *ngIf="fila.estadoLO === codEstLO.PENDIENTE && permisos.isPerRegistrar" class="pointer"><i
                  class="pi pi-pencil" title="Editar Reg. solicitud" (click)="btnModal(fila, false)"></i></span>

              <span *ngIf="fila.estadoLO === codEstLO.COMPLETADO && permisos.isPerVisualizar" class="pointer"><i
                  class="pi pi-eye" title="Ver Reg. solicitud" (click)="btnModal(fila, false)"></i></span>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)"
        [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros">
      </p-paginator>
    </div>
  </div>
</div>
<p-confirmPopup></p-confirmPopup>
