<div class="col-12">
  <div class="row col-12">
    <div class="col-12 form-group">
      <label for="medidasMonitoreo">Infraestructura</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="InfraestructuraObjt.label"
        [disabled] = "isDisabled"
      />
    </div>
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Nombre</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="InfraestructuraObjt.nombre"
      />
    </div>
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Este</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="InfraestructuraObjt.este"
      />
    </div>
  </div>

  <div class="row col-12">
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Norte</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="InfraestructuraObjt.norte"
      />
    </div>
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Observaciones</label>
      <textarea
        maxlength="200"
        rows="4"
        class="form-control"
        [(ngModel)]="InfraestructuraObjt.observaciones"
      >
      </textarea>
    </div>
  </div>

  <div class="col-12">
    <button class="btn btn-sm btn-secondary" (click)="agregar()">Enviar</button>
  </div>
</div>
<p-toast position="bottom-center" key="tl"></p-toast>
