<div class="row col-12">
  <div class="col-6 form-group">
    <label for="medidasMonitoreo">Actividad</label>
    <input type="text"
           [disabled]="uso.editable==false"
           autocomplete="off"
           class="form-control form-control-sm"
           [(ngModel)]="uso.categoriaZona" />
  </div>
  <div class="col-6 form-group">
    <label for="medidasMonitoreo">Uso potencial</label>
    <input type="text"
           autocomplete="off"
           class="form-control form-control-sm"
           [(ngModel)]="uso.usoPotencialNumerico" />
  </div>
</div>

<div class="row col-12">
  <div class="col-12 form-group">
    <label for="medidasMonitoreo">Actividades</label>
    <input
           type="text"
           autocomplete="off"
           class="form-control form-control-sm"
           [(ngModel)]="uso.actividadRealizar" />
  </div>
</div>


<div class="col-12">
  <button class="btn btn-sm btn-secondary" (click)="guardar()">
    <i class="pi pi-pencil pointer" title="Editar" aria-hidden="true"></i>
    Guardar</button>
</div>

<p-toast position="bottom-center" key="smf-uso01"></p-toast>