<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab
          header="6.1. Aplicación de tratamientos silviculturales"
          [selected]="true"
        >
          <div class="row m-0 pt-2">
            <div class="col-2 col-sm-12 text-right mb-2">
              <button
                (click)="agregarActividad()"
                class="btn btn-sm btn-default mb-2"
                type="button"
                title="Agregar"
                [disabled]="disabled || isPerfilArffs"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
            <div class="col-12">
              <p-table [value]="tratamientoSilvicultural">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 10%;">Acciones</th>
                    <th style="width: 20%;">Tratamiento silvicultural</th>
                    <th style="width: 10%;"></th>
                    <th style="width: 60%;">Descripción del tratamiento</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td>
                      <span
                        (click)="!disabled&&
                          eliminar(
                            $event,
                            rowIndex,
                            data.idActividadSilviculturalDet
                          )
                        "
                        class="pointer pl-3"
                        title="Eliminar"
                      >
                        <i class="pi pi-trash"></i>
                      </span>
                    </td>
                    <td>
                      <span *ngIf="!data.nuevo == true">
                        {{ data.actividad }}
                      </span>
                      <span *ngIf="data.nuevo && data.observacionDetalle !== '' && !data.checked">
                        {{ data.actividad }}
                      </span>
                      <input
                        type="text"
                        [disabled]="disabled||isPerfilArffs"
                        class="form-control"
                        placeholder="Otros (especificar)"
                        maxlength="100"
                        [(ngModel)]="data.actividad"
                        *ngIf="data.checked && data.nuevo && data.observacionDetalle !== ''"
                      />
                    </td>
                    <td>
                      <div class="p-field-checkbox" style="margin: 20px;">
                        <p-checkbox
                          [disabled]="disabled||isPerfilArffs"
                          for="numero"
                          [style]="{ 'margin-left': '10px' }"
                          [binary]="true"
                          [(ngModel)]="data.checked"
                        >
                        </p-checkbox>
                      </div>
                    </td>
                    <td>
                      <span *ngIf="data.checked != true">
                        {{ data.descripcionDetalle }}
                      </span>
                      <div *ngIf="data.checked == true">
                        <textarea
                          class="form-control"
                          rows="2"
                          maxlength="100"
                          placeholder="Ingrese descripción"
                          [disabled]="disabled||isPerfilArffs"
                          [(ngModel)]="data.descripcionDetalle"
                          style="resize: none;"
                        >
                        </textarea>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon6_61"
            [base]="evaluacion6_61"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>

        <p-accordionTab header="6.2. Reforestación">
          <div class="row m-0 pt-2">
            <div class="col-2 col-sm-12 text-right mb-2">
              <button [disabled]="disabled"
                (click)="abrirModalReforestacion()"
                class="btn btn-sm btn-default mb-2"
                type="button"
                title="Agregar"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
            <p-confirmPopup></p-confirmPopup>
            <div class="col-12">
              <p-table [value]="reforestacion">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 80px;">Acciones</th>
                    <th style="width: 35%;">Reforestación</th>
                    <th style="width: 65%;">Descripción</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td class="text-center">
                      <span
                        class="pointer mr-1"
                        title="Editar"
                        (click)="!disabled && openEditarEspecie(data, rowIndex)"
                      >
                        <i class="pi pi-pencil"></i>
                      </span>
                      <a
                        type="button"
                        class="pointer"
                        title="Eliminar"
                        (click)="!disabled && openEliminarEspecie($event,rowIndex,data)"
                      >
                        <i class="pi pi-trash"></i>
                      </a>
                    </td>
                    <td>{{ data.actividad }}</td>
                    <td>
                      {{data.descripcionDetalle}}
                      <!-- <div>
                        <textarea
                          class="form-control"
                          rows="2"
                          maxlength="100"
                          [disabled]="isPerfilArffs"
                          [(ngModel)]="data.descripcionDetalle"
                          style="resize: none;"
                        >
                        </textarea>
                      </div> -->
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon6_62"
            [base]="evaluacion6_62"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4" *ngIf="!isPerfilArffs">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button
          class="btn-primary2"
          (click)="registrar()"
          [disabled]="disabled || (isSubmitting$ | async)"
        >
          Guardar
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>

      <div class="step__btn mt-4" *ngIf="isPerfilArffs">
        <message-evaluation></message-evaluation>
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button class="btn-primary2" (click)="registrarEvaluacion()">
          Guardar Evaluación
        </button>
        <button class="btn-primary2" (click)="retornarFlujoEvaluacion()">
          Retornar Flujo Evaluacion
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
      <br />
    </div>
  </div>
</div>

<p-dialog
  header="{{
    !editReforestacion ? 'Registrar Reforestacion' : 'Editar Reforestacion'
  }}"
  header="Header"
  [(visible)]="displayReforestacion"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div class="row">
      <div class="col-12">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Reforestación</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese reforestación"
              maxlength="100"
              [(ngModel)]="context.actividad"
              [disabled]="editReforestacion"
            />
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <label class="label">Descripción</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese descripción"
              maxlength="100"
              [(ngModel)]="context.descripcionDetalle"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarActividadReforestacion()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="displayReforestacion = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
