<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="2.1. Objetivo General" [selected]="true">
          <div>
            <div class="col-12">
              <div class="form-group">
                <textarea
                  [disabled]="disabled||isPerfilArffs"
                  class="form-control"
                  maxlength="250"
                  rows="2"
                  [(ngModel)]="objetoManejo.general"
                  style="resize: none;"
                  (input)="onChange($event)"
                ></textarea>
              </div>
            </div>
            <div class="col-12">
              <label
                *ngIf="pendiente"
                class="lbl-info mt-3 mb-3"
                style="float: none !important;"
              >
                (Los cambios locales se guardarán pulsando el botón "Guardar".)
              </label>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="2.2. Objetivos Específicos">
          <div class="col-12">
            <h3 class="title2">Productos a Obtener del Manejo</h3>
          </div>
          <div class="col-2 col-sm-12 text-right mb-1">
            <button
              (click)="abrirModal()" [disabled]="disabled"
              class="btn btn-sm btn-default button-more mb-2"
              type="button"
              title="Agregar"
            >
              <i class="pi pi-plus"></i>
            </button>
          </div>
          <!-- <div *ngIf="(isSubmitting$ | async)">
            <p-progressBar mode="indeterminate"></p-progressBar>
          </div> -->
          <div class="col-12">
            <p-listbox
              [options]="groupedOjetivos"
              [metaKeySelection]="false"
              [(ngModel)]="listObjeto"
              [disabled]="disabled||isPerfilArffs"
              [group]="true"
              optionDisabled="inactive"
              [checkbox]="true"
              [filter]="true"
              [multiple]="true"
              [listStyle]="{ 'max-height': '250px' }"
              [style]="{ width: '100%' }"
            >
              <ng-template let-group pTemplate="group">
                <div class="p-d-flex p-ai-center">
                  <span>{{ group.label }}</span>
                </div>
              </ng-template>
            </p-listbox>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeonObjetivos"
            [base]="evaluacionObjetivos"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>

        <div class="step__btn mt-4" *ngIf="!isPerfilArffs">
          <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
          <button
            type="submit"
            class="btn-primary2"
            (click)="GuardarObjetoManejo()"
            [disabled]="disabled || (isSubmitting$ | async)"
          >
            Guardar
          </button>
          <button class="btn-primary2" (click)="siguienteTab()">
            Siguiente
          </button>
        </div>

        <div class="step__btn mt-4" *ngIf="isPerfilArffs">
          <message-evaluation></message-evaluation>
          <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
          <button class="btn-primary2" (click)="registrarEvaluacion()">
            Guardar Evaluación
          </button>
          <button class="btn-primary2" (click)="retornarFlujoEvaluacion()">
            Retornar Flujo Evaluacion
          </button>
          <button class="btn-primary2" (click)="siguienteTab()">
            Siguiente
          </button>
        </div>

        <br />
      </p-accordion>
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-dialog
  header="{{ tituloModal }}"
  header="Header"
  [(visible)]="displayBasic"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Tipo</label>
            <div class="form-control-selectk">
              <p-dropdown
                [options]="listParametro"
                optionLabel="tipoLabel"
                optionValue="tipoValue"
                placeholder="Seleccione"
                [(ngModel)]="parametro.detalle"
                appendTo="body"
                [style]="{width: '100%'}"
              ></p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Objetivo</label>
            <input
              [(ngModel)]="parametro.descripcionDetalle"
              type="text"
              class="form-control"
              placeholder="Ingrese Objetivo"
              maxlength="50"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarObjetivo()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
