<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12 p-0">
      <p-accordion>
        <p-accordionTab
          header="9.1. Cronograma de Actividades para el Primer Periodo de Ejecución"
          [selected]="true"
        >
          <div class="row m-0 mt-3">
            <div class="col-12 pt-2 text-right">
              <div class="col-12 p-0 text-right">
                <button
                  icon="pi pi-plus" [disabled]="disabled"
                  (click)="openModal('Nuevo Registro', null, 'C')"
                  pButton
                  pRipple
                  type="button"
                  label=""
                  class="p-button-success p-button-text"
                ></button>
              </div>
            </div>
          </div>
          <div class="row m-0 mt-3">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-boderk">
                  <thead>
                    <tr>
                      <th class="v-middle" rowspan="2">Acciones</th>
                      <th class="v-middle" rowspan="2">Actividad</th>
                      <th
                        class="v-middle"
                        [attr.colspan]="verAnio1 ? 12 : 1"
                        [attr.rowspan]="verAnio1 ? 1 : 2"
                      >
                        Año 1
                        <!-- <i
                          (click)="verAnio1 = !verAnio1"
                          class="ml-3 pointer pi {{
                            verAnio1 ? 'pi-eye' : 'pi-eye-slash'
                          }}"
                        ></i> -->
                      </th>
                      <th
                        class="v-middle"
                        [attr.colspan]="verAnio2 ? 12 : 1"
                        [attr.rowspan]="verAnio2 ? 1 : 2"
                      >
                        Año 2
                        <i
                          (click)="verAnio2 = !verAnio2"
                          class="ml-3 pointer pi {{
                            verAnio2 ? 'pi-eye' : 'pi-eye-slash'
                          }}"
                        ></i>
                      </th>
                      <th
                        class="v-middle"
                        [attr.colspan]="verAnio3 ? 12 : 1"
                        [attr.rowspan]="verAnio3 ? 1 : 2"
                      >
                        Año 3
                        <i
                          (click)="verAnio3 = !verAnio3"
                          class="ml-3 pointer pi {{
                            verAnio3 ? 'pi-eye' : 'pi-eye-slash'
                          }}"
                        ></i>
                      </th>
                      <th *ngIf="verAnio4" rowspan="2">Año 4</th>
                      <th *ngIf="verAnio5" rowspan="2">Año 5</th>
                      <th *ngIf="verAnio6" rowspan="2">Año 6</th>
                      <th *ngIf="verAnio7" rowspan="2">Año 7</th>
                      <th *ngIf="verAnio8" rowspan="2">Año 8</th>
                      <th *ngIf="verAnio9" rowspan="2">Año 9</th>
                      <th *ngIf="verAnio10" rowspan="2">Año 10</th>
                      <th *ngIf="verAnio11" rowspan="2">Año 11</th>
                      <th *ngIf="verAnio12" rowspan="2">Año 12</th>
                      <th *ngIf="verAnio13" rowspan="2">Año 13</th>
                      <th *ngIf="verAnio14" rowspan="2">Año 14</th>
                      <th *ngIf="verAnio15" rowspan="2">Año 15</th>
                      <th *ngIf="verAnio16" rowspan="2">Año 16</th>
                      <th *ngIf="verAnio17" rowspan="2">Año 17</th>
                      <th *ngIf="verAnio18" rowspan="2">Año 18</th>
                      <th *ngIf="verAnio19" rowspan="2">Año 19</th>
                      <th *ngIf="verAnio20" rowspan="2">Año 20</th>
                      <th rowspan="2">
                        <button
                          icon="pi pi-plus"
                          (click)="agregarColumna()"
                          pButton
                          pRipple
                          [disabled]="disabled||isPerfilArffs"
                          type="button"
                          label=""
                          class="p-button-success p-button-text"
                        ></button>
                      </th>
                    </tr>
                    <tr>
                      <th *ngIf="verAnio1">1</th>
                      <th *ngIf="verAnio1">2</th>
                      <th *ngIf="verAnio1">3</th>
                      <th *ngIf="verAnio1">4</th>
                      <th *ngIf="verAnio1">5</th>
                      <th *ngIf="verAnio1">6</th>
                      <th *ngIf="verAnio1">7</th>
                      <th *ngIf="verAnio1">8</th>
                      <th *ngIf="verAnio1">9</th>
                      <th *ngIf="verAnio1">10</th>
                      <th *ngIf="verAnio1">11</th>
                      <th *ngIf="verAnio1">12</th>

                      <th *ngIf="verAnio2">1</th>
                      <th *ngIf="verAnio2">2</th>
                      <th *ngIf="verAnio2">3</th>
                      <th *ngIf="verAnio2">4</th>
                      <th *ngIf="verAnio2">5</th>
                      <th *ngIf="verAnio2">6</th>
                      <th *ngIf="verAnio2">7</th>
                      <th *ngIf="verAnio2">8</th>
                      <th *ngIf="verAnio2">9</th>
                      <th *ngIf="verAnio2">10</th>
                      <th *ngIf="verAnio2">11</th>
                      <th *ngIf="verAnio2">12</th>

                      <th *ngIf="verAnio3">1</th>
                      <th *ngIf="verAnio3">2</th>
                      <th *ngIf="verAnio3">3</th>
                      <th *ngIf="verAnio3">4</th>
                      <th *ngIf="verAnio3">5</th>
                      <th *ngIf="verAnio3">6</th>
                      <th *ngIf="verAnio3">7</th>
                      <th *ngIf="verAnio3">8</th>
                      <th *ngIf="verAnio3">9</th>
                      <th *ngIf="verAnio3">10</th>
                      <th *ngIf="verAnio3">11</th>
                      <th *ngIf="verAnio3">12</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of lstDetalle">
                      <td>
                        <span
                          (click)="!disabled&& openModal('Editar Registro', data, 'E')"
                          class="pointer mr-1"
                          title="Editar"
                        >
                          <i class="pi pi-pencil"></i>
                        </span>
                        <span
                          (click)="!disabled&& openEliminar($event, data)"
                          class="pointer mr-2"
                          title="Eliminar"
                        >
                          <i class="pi pi-trash"></i>
                        </span>
                      </td>
                      <td class="text-left">{{ data.actividad }}</td>

                      <td *ngIf="verAnio1">
                        {{ data.a1m1 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio1">
                        {{ data.a1m2 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio1">
                        {{ data.a1m3 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio1">
                        {{ data.a1m4 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio1">
                        {{ data.a1m5 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio1">
                        {{ data.a1m6 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio1">
                        {{ data.a1m7 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio1">
                        {{ data.a1m8 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio1">
                        {{ data.a1m9 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio1">
                        {{ data.a1m10 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio1">
                        {{ data.a1m11 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio1">
                        {{ data.a1m12 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio1 == false">
                        <span
                          *ngIf="
                            data.a1m1 &&
                            data.a1m2 &&
                            data.a1m3 &&
                            data.a1m4 &&
                            data.a1m5 &&
                            data.a1m6 &&
                            data.a1m7 &&
                            data.a1m8 &&
                            data.a1m9 &&
                            data.a1m10 &&
                            data.a1m11 &&
                            data.a1m12
                          "
                          >X</span
                        >
                      </td>

                      <td *ngIf="verAnio2">
                        {{ data.a2m1 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio2">
                        {{ data.a2m2 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio2">
                        {{ data.a2m3 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio2">
                        {{ data.a2m4 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio2">
                        {{ data.a2m5 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio2">
                        {{ data.a2m6 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio2">
                        {{ data.a2m7 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio2">
                        {{ data.a2m8 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio2">
                        {{ data.a2m9 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio2">
                        {{ data.a2m10 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio2">
                        {{ data.a2m11 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio2">
                        {{ data.a2m12 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio2 == false">
                        <span
                          *ngIf="
                            data.a2m1 &&
                            data.a2m2 &&
                            data.a2m3 &&
                            data.a2m4 &&
                            data.a2m5 &&
                            data.a2m6 &&
                            data.a2m7 &&
                            data.a2m8 &&
                            data.a2m9 &&
                            data.a2m10 &&
                            data.a2m11 &&
                            data.a2m12
                          "
                          >X</span
                        >
                      </td>

                      <td *ngIf="verAnio3">
                        {{ data.a3m1 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio3">
                        {{ data.a3m2 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio3">
                        {{ data.a3m3 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio3">
                        {{ data.a3m4 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio3">
                        {{ data.a3m5 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio3">
                        {{ data.a3m6 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio3">
                        {{ data.a3m7 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio3">
                        {{ data.a3m8 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio3">
                        {{ data.a3m9 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio3">
                        {{ data.a3m10 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio3">
                        {{ data.a3m11 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio3">
                        {{ data.a3m12 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio3 == false">
                        <span
                          *ngIf="
                            data.a3m1 &&
                            data.a3m2 &&
                            data.a3m3 &&
                            data.a3m4 &&
                            data.a3m5 &&
                            data.a3m6 &&
                            data.a3m7 &&
                            data.a3m8 &&
                            data.a3m9 &&
                            data.a3m10 &&
                            data.a3m11 &&
                            data.a3m12
                          "
                          >X</span
                        >
                      </td>

                      <td *ngIf="verAnio4">
                        {{ data.a4m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio5">
                        {{ data.a5m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio6">
                        {{ data.a6m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio7">
                        {{ data.a7m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio8">
                        {{ data.a8m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio9">
                        {{ data.a9m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio10">
                        {{ data.a10m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio11">
                        {{ data.a11m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio12">
                        {{ data.a12m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio13">
                        {{ data.a13m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio14">
                        {{ data.a14m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio15">
                        {{ data.a15m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio16">
                        {{ data.a16m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio17">
                        {{ data.a17m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio18">
                        {{ data.a18m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio19">
                        {{ data.a19m0 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verAnio20">
                        {{ data.a20m0 == true ? "X" : "" }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon"
            [base]="detEvaluacion"
          ></evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <div class="step__btn mt-4">
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="registrarEvaluacion()">Guardar Evaluación</button>
    <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">Retornar Flujo Evaluacion</button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
  <br />
</div>
<p-toast position="top-right" key="tl"></p-toast>
<p-toast></p-toast>
