<div class="row m-0">
  <div class="col-12 col-sm-12">
    <div class="form-group">
      <label class="label" style="font-weight: 600;">Plan: {{ tipoPlan }} <span class="nro-plan">N° {{ idPlanManejo }}</span></label>
      <br>
      <label class="label" style="font-weight: 600;">TH: <span class="nro-plan">{{ codigoUnico }}</span></label>
      <br>
      <label class="label" style="font-weight: 600;">Fecha: <span class="nro-plan">{{ item.fechaRegistro | date: "dd/MM/yyyy h:mm:ss a" : "UTC"  }}</span></label>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-12">
    <p-table
            [value]="listDocumentos"
            [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Total : {totalRecords} registros"
            [rowsPerPageOptions]="[10, 25, 50]"
            [totalRecords]="listDocumentos.length"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>No.</th>
                <!-- <th>Tipo Documento</th> -->
                <th>Nombre Documento</th>
                <th>Número</th>
                <th>Fecha</th>
                <th>Código Único</th>
                <th class="text-center">Archivo</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td>{{ rowIndex + 1}}</td>
                <!-- <td>{{ data.descripcion }}</td> -->
                <td>{{ data.nombre }}</td>
                <td>{{ data.idArchivo }}</td>
                <td>{{ data.fechaRegistro | date: "dd/MM/yyyy h:mm:ss a" : "UTC" }}</td>
                <td>{{ data.codigoUnico }}</td>
                <td class="text-center">
                  <a
                    download
                    target="_blank"
                    *ngIf="data.idArchivo > 0"
                    (click)="descargarArchivo(data.idArchivo)"
                    class="pointer"
                  >
                    <i class="pi pi-download"></i>
                  </a>
                </td>
              </tr>
            </ng-template>
          </p-table>
  </div>
</div>
<div class="d-flex justify-content-end">
  <button
    icon="pi pi-check"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Aceptar"
    class="p-button-success p-button-outlined"
    style="width: 106px;"
  ></button>
</div>
