<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="6.0 Carga Masiva" [selected]="true">
          <div class="row">
            <div
            class="col-12 mt-4 mb-3 mr-2"
            style="overflow: auto; width: 100%; height: 100%;"
          >
            <h3 class="title2">Cargar Información</h3>
            <div class="row">
              <div class="col-sm-4">
                <label class="label"></label><br />
                <button
                  class="btn-secondary" [disabled]="disabled"
                  (click)="btnDescargarFormato()"
                >
                  Descargar Formato
                </button>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="label"></label><br />
                  <upload-input-button [disabled]="disabled"
                    [(ngModel)]="archivo.file"
                    label="Seleccione Archivo"
                  ></upload-input-button>
                </div>
              </div>
              <div class="col-sm-4">
                <label class="label"></label><br />
                <button class="btn-secondary" [disabled]="disabled" (click)="btnCargar()">
                  Cargar Formato
                </button>
              </div>
            </div>
          </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="6.1 Censo comercial">
          <div class="row m-0 pt-4">
            <div class="col-12 p-0">
              <mat-tab-group animationDuration="0ms">
                <mat-tab label="6.1.1 Metodología">
                  <div class="form-group row col-12 mt-4 mr-2 mb-3 ml-2">
                    <h3 class="title2">
                      De acuerdo a <u>la metodología</u> que se haya utilizado
                      describir aspectos realacionados con: tamaño y número de
                      fajas, distanciamiento entre fajas, otros.
                    </h3>
                  </div>
                  <div class="form-group row col-12 mb-2 ml-1">
                    <textarea
                      class="form-control"
                      rows="3" [disabled]="disabled"
                      style="resize: none"
                      [(ngModel)]="censoComercial.metodologia"
                      maxlength="250"
                    ></textarea>
                  </div>
                  <div class="message">
                    <label *ngIf="pendiente" class="lbl-info mt-3 mb-3">
                      (Los cambios locales se guardarán pulsando el botón
                      "Guardar".)
                    </label>
                  </div>
                </mat-tab>

                <mat-tab
                  label="6.1.2 Delimitación y división interna de la(s) parcela de corta (PC)"
                >
                  <div class="form-group row col-12 mt-4 mr-2 mb-3 ml-2">
                    <h3 class="title2">Se delimitaron los linderos de la PC</h3>
                  </div>
                  <div class="form-group row col-12 mb-2 ml-1">
                    <div class="col-sm-4 pl-0 p-field-checkbox">
                      <label class="label m-0" for="tro">Trochas</label>
                      <p-checkbox
                        for="tro"
                        [style]="{ 'margin-left': '20px' }"
                        name="groupname" [disabled]="disabled"
                        [binary]="true"
                        [(ngModel)]="censoComercial.trochas"
                      ></p-checkbox>
                    </div>
                    <div class="col-sm-4 pl-0 p-field-checkbox">
                      <label class="label m-0" for="pos"
                        >Postes de madera</label
                      >
                      <p-checkbox
                        for="pos"
                        [style]="{ 'margin-left': '20px' }"
                        name="groupname" [disabled]="disabled"
                        [binary]="true"
                        [(ngModel)]="censoComercial.postes"
                      ></p-checkbox>
                    </div>
                    <div class="col-sm-4 pl-0 p-field-checkbox">
                      <label class="label m-0" for="lim"
                        >Límites naturales</label
                      >
                      <p-checkbox
                        for="lim"
                        [style]="{ 'margin-left': '20px' }"
                        name="groupname" [disabled]="disabled"
                        [binary]="true"
                        [(ngModel)]="censoComercial.limites"
                      ></p-checkbox>
                    </div>
                  </div>

                  <div class="form-group row col-12 mb-2 ml-1">
                    <div class="row col-sm-12">
                      <label class="col-form-label label" for="dis"
                        >Distancia entre trochas de orientación (m)</label
                      >
                      <input
                        class="col-sm-3 form-control ml-3"
                        [(ngModel)]="censoComercial.distancia"
                        decimal [disabled]="disabled"
                        [maxLength]="15"
                        [decimalPlaces]="2"
                      />
                    </div>
                  </div>

                  <div class="form-group row col-12 mb-2 ml-1">
                    <label class="col-form-label label"
                      >Subdivisión de la PC en unidades de trabajo (UTM):</label
                    >
                    <div class="ml-3 mt-1 p-field-radiobutton">
                      <label for="Si" class="label mr-2">SI</label>
                      <p-radioButton
                        name="subdivision"
                        value="S" [disabled]="disabled"
                        inputId="Si"
                        [(ngModel)]="censoComercial.subdivision"
                      >
                      </p-radioButton>
                    </div>
                    <div class="ml-3 mt-1 p-field-radiobutton">
                      <label for="No" class="label mr-2">NO</label>
                      <p-radioButton
                        name="subdivision"
                        value="N" [disabled]="disabled"
                        inputId="No"
                        [(ngModel)]="censoComercial.subdivision"
                      >
                      </p-radioButton>
                    </div>
                  </div>

                  <div
                    class="form-group row col-12 mb-2 ml-1"
                    *ngIf="censoComercial.subdivision == 'S'"
                  >
                    <div class="col-12">
                      <!-- <app-mapa #map (loadFile)="loadShape($event)" (isEdited)="fieldMap.isEditedMap=true"
                        (deleteLayer)="deleteLayer($event)" (deleteAll)="deleteAllLayers()">
                      </app-mapa> -->
                      <app-map-custom
                        [idPlanManejo]="idPlanManejo"
                        [codigoProceso]="'POCCIBPC'" [disabled]="disabled"
                        [codigoSubSeccion]="'POCCAAPROCCDD'"
                        [tipoGeometria]="'TPFCORTA'"
                        [identificarBosque]="false"
                      ></app-map-custom>
                    </div>
                  </div>

                  <div class="form-group row col-12 mb-2 ml-1">
                    <div class="col-sm-12 pl-0 p-field-checkbox">
                      <label class="label m-0" for="map">Mapa 2</label>
                      <p-checkbox
                        for="map"
                        [style]="{ 'margin-left': '20px' }"
                        name="groupname" [disabled]="disabled"
                        [binary]="true"
                        [(ngModel)]="censoComercial.anexo"
                        (onChange)="valCheck($event)"
                      ></p-checkbox>
                      <label class="label m-0 pl-3" for="map">(Anexo 1)</label>
                    </div>
                    <div *ngIf="censoComercial.anexo != ''" class="col-12 mt-4">
                      <app-anexo-upload-file
                        [label]="'Adjuntar Evidencia:'"
                        [idPlanManejo]="idPlanManejo" [disabled]="disabled"
                        [idTipoDocumento]="62"
                        [codigoProceso]="CodigoPOCCTabs.CODIGO_TAB6_1"
                        (registrarArchivoId)="cargarIdArchivo($event)"
                      >
                      </app-anexo-upload-file>
                    </div>
                  </div>

                  <div class="form-group row col-12 mb-2 ml-1">
                    <div class="col-3 pl-0">
                      <label class="label">Si se delimitaron UT:</label>
                    </div>
                    <div class="col-3">
                      <label class="label" for="dim">Dimensiones (m):</label>
                      <input [disabled]="disabled"
                        name="dim"
                        class="form-control"
                        autocomplete="off"
                        [(ngModel)]="censoComercial.dimension"
                        decimal
                        [maxLength]="15"
                        [decimalPlaces]="2"
                      />
                    </div>
                    <div class="col-3">
                      <label class="label" for="sup">Superficie:</label>
                      <input
                        name="sup" [disabled]="disabled"
                        class="form-control"
                        autocomplete="off"
                        [(ngModel)]="censoComercial.superficie"
                        decimal
                        [maxLength]="15"
                        [decimalPlaces]="2"
                      />
                    </div>
                    <div class="col-3">
                      <label class="label" for="num">Número:</label>
                      <input
                        name="num"
                        class="form-control" [disabled]="disabled"
                        autocomplete="off"
                        [(ngModel)]="censoComercial.numero"
                        decimal
                        [maxLength]="15"
                        [decimalPlaces]="2"
                      />
                    </div>
                  </div>

                  <div class="message">
                    <label *ngIf="pendiente" class="lbl-info mt-3 mb-3">
                      (Los cambios locales se guardarán pulsando el botón
                      "Guardar".)
                    </label>
                  </div>
                </mat-tab>

                <mat-tab label="6.1.3 Lista de especies">
                  <div class="form-group row col-12 mt-4 mr-2 mb-3 ml-2">
                    <h3 class="title2">
                      Especies incluidas para el censo, con sus DMC y líneas de
                      producción
                    </h3>
                  </div>
                  <div style="padding: 15px">
                    <div class="col-12 mt-4 mb-3" class="title">
                      <!-- <div class="mt-0">
                        <div class="col-12 p-0 text-right">
                          <button
                            icon="pi pi-plus"
                            (click)="
                              openModalEspecies(
                                'Nuevo Registro',
                                null,
                                'C',
                                null
                              )
                            "
                            pButton
                            pRipple
                            type="button"
                            label=""
                            class="p-button-success p-button-text"
                          ></button>
                        </div>
                      </div> -->
                      <p-table [value]="listEspecies">
                        <ng-template pTemplate="header">
                          <tr>
                            <th style="text-align: center">Nº</th>

                            <th style="text-align: center">Nombre común</th>
                            <th style="text-align: center">
                              Nombre <br />científico
                            </th>
                            <th style="text-align: center">Familia</th>
                            <th style="text-align: center">
                              Línea de producción
                            </th>
                            <th style="text-align: center">DMC <br />(cm)</th>
                          </tr>
                        </ng-template>
                        <ng-template
                          pTemplate="body"
                          let-data
                          let-rowIndex="rowIndex"
                        >
                          <tr>
                            <td style="text-align: center">
                              {{ rowIndex + 1 }}
                            </td>

                            <td style="text-align: center">
                              {{ data.nombreComun }}
                            </td>
                            <td style="text-align: center">
                              {{ data.nombreCientifica }}
                            </td>
                            <td style="text-align: center">
                              {{ data.familia }}
                            </td>
                            <td style="text-align: center">
                              <input
                                type="text"
                                [(ngModel)]="data.lineaProduccion"
                                class="form-control"
                                placeholder="" [disabled]="disabled"
                                maxlength="100"
                              />
                            </td>
                            <td style="text-align: center">
                              {{ data.dcm }}
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                  <div class="row col-12">
                    <div class="message col-12">
                      <label *ngIf="pendiente" class="lbl-info mt-3 mb-3">
                        (Los cambios locales se guardarán pulsando el botón
                        "Guardar".)
                      </label>
                    </div>
                  </div>
                  <div class="mt-5 ml-3">
                    <app-carga-excel [disabled]="disabled"
                      (cargarArchivo)="cargarFormato($event)"
                      [NombrePlantilla]="UrlFormatos.CARGA_POCC_6_2_3"
                    ></app-carga-excel>
                  </div>
                </mat-tab>

                <mat-tab label="6.1.4 Variables e información registrada">
                  <div class="col-12 mt-2">
                    <h3 style="padding-top: 15px" class="title2">
                      Las variables e información que se registren durante el
                      censo forestal deben incluirse en el cuadro del Anexo 2.
                    </h3>
                  </div>
                </mat-tab>

                <mat-tab label="6.1.5 Marcado y limpieza de árboles">
                  <div class="col-12 mt-2">
                    <h3 style="padding-top: 15px" class="title2">
                      El marcado de los árboles se reporta según lo indicado en
                      el cuadro del Anexo2. Cuando se realice la corta de lianas
                      de algún árbol (aprovechable, semillero o futura cosecha)
                      se debe registrar en la última columna del cuadro del
                      Anexo 2.
                    </h3>
                  </div>
                </mat-tab>

                <mat-tab
                  label="6.1.6 Resultados de recursos forestales maderables"
                >
                  <div class="m-3">
                    <div class="row col-12">
                      <div class="col-4 form-group">
                        <label for="area" class="label pl-3"
                          >Área total censada (ha)</label
                        >
                        <input
                          id="area"
                          autocomplete="off"
                          class="form-control contents_form_input"
                          [(ngModel)]="censoComercial.areaTotal"
                          decimal [disabled]="disabled"
                          [maxLength]="15"
                          [decimalPlaces]="2"
                        />
                      </div>
                      <div class="col-4 form-group">
                        <label for="especies" class="label pl-3"
                          >Nº especies censadas</label
                        >
                        <input
                          id="especies"
                          autocomplete="off"
                          class="form-control contents_form_input"
                          [(ngModel)]="censoComercial.nroEspecies"
                          numero
                          [min]="0" [disabled]="disabled"
                          [maxLength]="9"
                        />
                      </div>
                      <div class="col-4 form-group">
                        <label for="arboles" class="label pl-3"
                          >Nº árboles censados</label
                        >
                        <input
                          id="arboles"
                          autocomplete="off"
                          class="form-control contents_form_input"
                          [(ngModel)]="censoComercial.nroArboles"
                          numero
                          [min]="0" [disabled]="disabled"
                          [maxLength]="9"
                        />
                      </div>
                    </div>
                    <div class="col-12">
                      <h3 style="padding: 15px" class="title2">
                        Consignar el número de árboles aprovechables (N) y
                        volumen comercial (Vc) por especie y clase diamétrica;
                        así como los totales por hectárea y totales en la PC.
                        Dicha información será el resultado de procesar los
                        datos colectados durante el censo comercial que deben
                        ser consignados en el formato del Anexo 2.
                      </h3>
                    </div>
                    <div class="col-12 mt-2 mb-2">
                      <p-table
                        [value]="listEspeciesResultados"
                      >
                        <ng-template pTemplate="header">
                          <tr>
                            <th rowspan="2" style="text-align: center">
                              Nombre <br />común
                            </th>
                            <th rowspan="2" style="text-align: center">Var.</th>
                            <th colspan="7" style="text-align: center">
                              DAP (cm)
                            </th>
                            <th rowspan="2" style="text-align: center">
                              Total en PC
                            </th>
                            <th rowspan="2" style="text-align: center">
                              Total por ha
                            </th>
                          </tr>
                          <tr>
                            <th class="text-right">30-40</th>
                            <th class="text-right">40-50</th>
                            <th class="text-right">50-60</th>
                            <th class="text-right">60-70</th>
                            <th class="text-right">70-80</th>
                            <th class="text-right">80-90</th>
                            <th class="text-right">90+</th>
                          </tr>
                        </ng-template>
                        <ng-template
                          pTemplate="body"
                          let-data
                          let-rowIndex="rowIndex"
                        >
                          <tr>
                            <td [attr.rowspan]="3">
                              {{ data.nombreEspecie }}
                            </td>
                          </tr>
                          <tr>
                            <td>N</td>
                            <td class="text-right">{{ data.dap30a39 }}</td>
                            <td class="text-right">{{ data.dap40a49 }}</td>
                            <td class="text-right">{{ data.dap50a59 }}</td>
                            <td class="text-right">{{ data.dap60a69 }}</td>
                            <td class="text-right">{{ data.dap70a79 }}</td>
                            <td class="text-right">{{ data.dap80a89 }}</td>
                            <td class="text-right">{{ data.dap90aMas }}</td>
                            <td class="text-right">{{ data.dapTotalPc }}</td>
                            <td class="text-right">{{ data.dapTotalporHa }}</td>
                          </tr>
                          <tr>
                            <td>Vc (m3)</td>
                            <td class="text-right">{{ data.vol30a39 }}</td>
                            <td class="text-right">{{ data.vol40a49 }}</td>
                            <td class="text-right">{{ data.vol50a59 }}</td>
                            <td class="text-right">{{ data.vol60a69 }}</td>
                            <td class="text-right">{{ data.vol70a79 }}</td>
                            <td class="text-right">{{ data.vol80a89 }}</td>
                            <td class="text-right">{{ data.vol90aMas }}</td>
                            <td class="text-right">{{ data.volTotalPc }}</td>
                            <td class="text-right">{{ data.volTotalporHa }}</td>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                          <tr>
                            <td><b>Total</b></td>
                            <td colspan="1"></td>
                            <td class="text-right">
                              {{ totalListEspeciesResultados.total30a39 }}
                            </td>
                            <td class="text-right">
                              {{ totalListEspeciesResultados.total40a49 }}
                            </td>
                            <td class="text-right">
                              {{ totalListEspeciesResultados.total50a59 }}
                            </td>
                            <td class="text-right">
                              {{ totalListEspeciesResultados.total60a69 }}
                            </td>
                            <td class="text-right">
                              {{ totalListEspeciesResultados.total70a79 }}
                            </td>
                            <td class="text-right">
                              {{ totalListEspeciesResultados.total80a89 }}
                            </td>
                            <td class="text-right">
                              {{ totalListEspeciesResultados.total90aMas }}
                            </td>

                            <td class="text-right">
                              {{ totalListEspeciesResultados.totalPc | number: "1.2-2"}}
                            </td>
                            <td class="text-right">
                              {{ totalListEspeciesResultados.totalHa | number: "1.2-2" }}
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                    <div class="row col-12 mt-4 mb-2 ml-1">
                      <label class="label">
                        Opcionalmente, las especies se pueden agrupar por grupo
                        comercial.
                      </label>
                    </div>
                    <div class="form-group row col-12 mb-2 ml-1">
                      <label class="col-form-label label"
                        >Se amplía información en el Anexo 3:</label
                      >
                      <div class="ml-3 mt-1 p-field-radiobutton">
                        <label for="SiRes" class="label mr-2">SI</label>
                        <p-radioButton
                          name="res"
                          value="S" [disabled]="disabled"
                          inputId="SiRes"
                          [(ngModel)]="censoComercial.descripcion"
                        >
                        </p-radioButton>
                      </div>
                      <div class="ml-3 mt-1 p-field-radiobutton">
                        <label for="NoRes" class="label mr-2">NO</label>
                        <p-radioButton
                          name="res" [disabled]="disabled"
                          value="N"
                          inputId="NoRes"
                          [(ngModel)]="censoComercial.descripcion"
                          (onClick)="anexoN($event)"
                        >
                        </p-radioButton>
                      </div>
                    </div>
                    <div
                      *ngIf="censoComercial.descripcion == 'S'"
                      class="col-12 mt-4"
                    >
                      <app-anexo-upload-file
                        [label]="'Adjuntar Evidencia:'"
                        [idPlanManejo]="idPlanManejo" [disabled]="disabled"
                        [idTipoDocumento]="CodigoPOCC.ACORDEON_6_1_6"
                        [codigoProceso]="CodigoPOCC.ACORDEON_6_1_6"
                        (registrarArchivoId)="cargarIdArchivo6_1_6($event)"
                        (justificacionEmiter)="justificacionEmiter6_1_6($event)"
                      >
                      </app-anexo-upload-file>
                    </div>


                  </div>
                  <div class="message">
                    <label *ngIf="pendiente" class="lbl-info mt-3 mb-3">
                      (Los cambios locales se guardarán pulsando el botón
                      "Guardar".)
                    </label>
                  </div>
                </mat-tab>

                <mat-tab
                  label="6.1.7 Aprovechamiento de recursos forestales no maderables o fauna silvestre (de ser el caso)"
                >
                  <div class="col-12 mt-2 mb-2">
                    <div class="mt-0">
                      <div class="col-12 p-0 text-right">
                        <button
                          icon="pi pi-plus"
                          (click)="!disabled&&
                            openModalAprovechamiento(
                              'Nuevo Registro',
                              null,
                              'C',
                              null
                            )
                          "
                          pButton
                          pRipple
                          type="button"
                          label=""
                          class="p-button-success p-button-text"
                        ></button>
                      </div>
                    </div>
                    <p-table
                      [value]="listAprovechamiento"
                      class="table-justify"
                    >
                      <ng-template pTemplate="header">
                        <tr>
                          <th class="acciones" class="text-center" rowspan="2">
                            Acciones
                          </th>
                          <th colspan="2">Especies</th>
                          <th colspan="3">Productos a aprovechar</th>
                        </tr>
                        <tr>
                          <th>Sector</th>
                          <th>Área (ha)</th>
                          <th>Nº total <br />individuos</th>
                          <th>Individuos/ha</th>
                          <th>Volumen, pesos o número <br />aprovechable</th>
                        </tr>
                      </ng-template>
                      <ng-template
                        pTemplate="body"
                        let-data
                        let-rowIndex="rowIndex"
                      >
                        <tr>
                          <td class="text-center acciones">
                            <span
                              (click)="!disabled&&
                                openModalAprovechamiento(
                                  'Editar Registro',
                                  data,
                                  'E',
                                  rowIndex
                                )
                              "
                              class="pointer mr-2"
                              title="Editar"
                            >
                              <i class="pi pi-pencil"></i>
                            </span>
                            <span
                              (click)="!disabled&&
                                openEliminarAprovechamiento(
                                  $event,
                                  data,
                                  rowIndex
                                )
                              "
                              class="pointer"
                              title="Eliminar"
                            >
                              <i class="pi pi-trash"></i>
                            </span>
                          </td>
                          <td>
                            {{ data.sector }}
                          </td>
                          <td>
                            {{ data.area }}
                          </td>
                          <td>{{ data.totalIndividuos }}</td>
                          <td>{{ data.individuosHA }}</td>
                          <td>{{ data.volumen }}</td>
                        </tr>
                        <!-- <tr>
                          <td style="text-align: center; font-weight: bold;">
                            Total
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr> -->
                      </ng-template>
                    </p-table>
                  </div>
                  <div class="form-group row col-12 mb-2 ml-1">
                    <label class="col-form-label label"
                      >Se amplía información en el Anexo 3:</label
                    >
                    <div class="ml-3 mt-1 p-field-radiobutton">
                      <label for="SiApr" class="label mr-2">SI</label>
                      <p-radioButton
                        name="apr"
                        value="S" [disabled]="disabled"
                        inputId="SiApr"
                        [(ngModel)]="censoComercial.detalle"
                      >
                      </p-radioButton>
                    </div>
                    <div class="ml-3 mt-1 p-field-radiobutton">
                      <label for="NoApr" class="label mr-2">NO</label>
                      <p-radioButton
                        name="apr"
                        value="N" [disabled]="disabled"
                        inputId="NoApr"
                        [(ngModel)]="censoComercial.detalle"
                        (onClick)="anexoN($event)"
                      >
                      </p-radioButton>
                    </div>
                  </div>
                  <div
                    *ngIf="censoComercial.detalle == 'S'"
                    class="col-12 mt-4 mb-4"
                  >
                    <app-anexo-upload-file
                      [label]="'Adjuntar Evidencia:'"
                      [idPlanManejo]="idPlanManejo"
                      [idTipoDocumento]="CodigoPOCC.ACORDEON_6_1_7" [disabled]="disabled"
                      [codigoProceso]="CodigoPOCC.ACORDEON_6_1_7"
                      (registrarArchivoId)="cargarIdArchivo6_1_7($event)"
                      (justificacionEmiter)="justificacionEmiter6_1_7($event)"
                    >
                    </app-anexo-upload-file>
                  </div>
                  <div class="message lbl-info">
                    <label *ngIf="pendiente" class="mt-3 mb-3">
                      (Los cambios locales se guardarán pulsando el botón
                      "Guardar".)
                    </label>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="6.2 Volumen de corta">
          <div class="col-12 mt-2">
            <h3 style="padding-top: 15px" class="title2">
              Área efectiva, número de árboles a cortar y volumen de corta (VC)
              por especia a extraer en el periodo operativo del PO*
            </h3>
          </div>
          <div class="col-12 mt-4 mb-3">
            <!-- <div class="mt-0">
              <div class="col-12 p-0 text-right">
                <button
                  icon="pi pi-plus"
                  (click)="
                    openModalEspeciesVolumen('Nuevo Registro', null, 'C', null)
                  "
                  pButton
                  pRipple
                  type="button"
                  label=""
                  class="p-button-success p-button-text"
                ></button>
              </div>
            </div> -->
            <p-table
              [value]="listEspeciesVolumen"
              styleClass="p-datatable-gridlines"
            >
              <ng-template pTemplate="header">
                <tr>
                  <!-- <th rowspan="5">Acciones</th> -->
                  <th rowspan="2" colspan="3" style="text-align: center">
                    Área Total de la PC <br />
                    N° {{ areaTotalPc }}
                  </th>

                  <th
                    colspan="2"
                    style="text-align: center"
                    *ngFor="let item of pcListEspeciesVolumen"
                  >
                    Área efectiva PC
                  </th>

                  <th colspan="2" style="text-align: center">Total (ha)</th>
                </tr>

                <tr>
                  <th
                    colspan="2"
                    style="text-align: center"
                    *ngFor="
                      let item of pcListEspeciesVolumen;
                      let index = index
                    "
                  >
                    PC N° 0{{ index + 1 }}: {{ areaTotalPc }}
                  </th>

                  <th colspan="2" style="text-align: center">
                    {{ areaTotalPc }}
                  </th>
                </tr>

                <tr>
                  <th rowspan="2" style="text-align: center">Nº</th>
                  <th colspan="2" style="text-align: center">Especie</th>

                  <th
                    colspan="2"
                    style="text-align: center"
                    *ngFor="
                      let item of pcListEspeciesVolumen;
                      let index = index
                    "
                  >
                    PC Nº 0{{ index + 1 }}
                  </th>

                  <th colspan="2" style="text-align: center">Total</th>
                </tr>
                <tr>
                  <th style="text-align: center">Nombre <br />Común</th>
                  <th style="text-align: center">Nombre <br />Cientifíco</th>

                  <div
                    *ngFor="let item of pcListEspeciesVolumen"
                    class="content-table"
                  >
                    <th colspan="1" style="text-align: center">
                      Nº <br />árbol
                    </th>
                    <th colspan="1" style="text-align: center">
                      Vol <br />(m3)
                    </th>
                  </div>

                  <div class="content-table">
                    <th colspan="1" style="text-align: center">
                      Nº <br />árbol
                    </th>
                    <th colspan="1" style="text-align: center">
                      Vol <br />(m3)
                    </th>
                  </div>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowIndex="rowIndex" let-data>
                <tr>
                  <td>{{ rowIndex + 1 }}</td>
                  <td>{{ data.nombreComun }}</td>
                  <td>{{ data.nombreCientifica }}</td>
                  <td colspan="2" *ngFor="let item of data.lstactividadDetSub">
                    <div class="row">
                      <div class="col-12 col-sm-6">
                        {{ item.nroArbol }}
                      </div>
                      <div class="col-12 col-sm-6">
                        {{ item.volM }}
                      </div>
                    </div>
                  </td>
                  <td colspan="2">
                    <div class="row">
                      <div class="col-12 col-sm-6">
                        {{ data.unidad }}
                      </div>
                      <div class="col-12 col-sm-6">
                        {{ data.volumen | number: "1.2-2" }}
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="footer">
                <tr>
                  <td class="p-text-right font-weight-bold">Total</td>
                  <td></td>
                  <td></td>
                  <td colspan="2">
                    <div class="row">
                      <div class="col-12 col-sm-6">
                        {{ totalListEspeciesVolumen.totalsPc1.numArbolesPC }}
                      </div>
                      <div class="col-12 col-sm-6">
                        {{
                          totalListEspeciesVolumen.totalsPc1.volumenPC
                            | number: "1.2-2"
                        }}
                      </div>
                    </div>
                  </td>
                  <td colspan="2">
                    <div class="row">
                      <div class="col-12 col-sm-6">
                        {{ totalListEspeciesVolumen.totalsPc2.numArbolesPC }}
                      </div>
                      <div class="col-12 col-sm-6">
                        {{
                          totalListEspeciesVolumen.totalsPc2.volumenPC
                            | number: "1.2-2"
                        }}
                      </div>
                    </div>
                  </td>
                  <!-- <pre>
                    {{pcListEspeciesVolumen | json}}
                  </pre> -->
                  <td colspan="2" *ngIf="pcListEspeciesVolumen.length >= 2">
                    <div class="row">
                      <div class="col-12 col-sm-6">
                        {{ totalListEspeciesVolumen.totalsPc3.numArbolesPC }}
                      </div>
                      <div class="col-12 col-sm-6">
                        {{
                          totalListEspeciesVolumen.totalsPc3.volumenPC
                            | number: "1.2-2"
                        }}
                      </div>
                    </div>
                  </td>
                  <td colspan="2" *ngIf="pcListEspeciesVolumen.length >= 3">
                    <div class="row">
                      <div class="col-12 col-sm-6">
                        {{ totalListEspeciesVolumen.totalsPc4.numArbolesPC }}
                      </div>
                      <div class="col-12 col-sm-6">
                        {{
                          totalListEspeciesVolumen.totalsPc4.volumenPC
                            | number: "1.2-2"
                        }}
                      </div>
                    </div>
                  </td>
                  <td colspan="2" *ngIf="pcListEspeciesVolumen.length == 4">
                    <div class="row">
                      <div class="col-12 col-sm-6">
                        {{ totalListEspeciesVolumen.totalArboles }}
                      </div>
                      <div class="col-12 col-sm-6">
                        {{
                          totalListEspeciesVolumen.totalVolumen
                            | number: "1.2-2"
                        }}
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="row col-12 ml-3">
            <label class="label">
              * Se incluyen los casos de aprovechamiento de más de una PC o más
              de un frente de corta.
            </label>
          </div>
          <div class="row col-12 ml-3">
            <label *ngIf="pendiente" class="lbl-info mt-3 mb-3">
              (Los cambios locales se guardarán pulsando el botón "Guardar".)
            </label>
          </div>
        </p-accordionTab>

        <p-accordionTab header="6.3 Operaciones de aprovechamiento">
          <div class="col-12 mt-2">
            <h3 style="padding-top: 15px" class="title2">
              Consignar información de las operaciones vinculadas con el
              aprovechamiento. Además, se debe mostrar el trazado de camino
              principal y de acceso en el Mapa 1 y Mapa 2. En el Mapa 2, además
              debe incluirse el trazado de caminos secundarios, patios e acopio
              y principales viales de arrastre.
            </h3>
          </div>
          <div class="col-2 col-sm-12 text-right">
            <div class="text-right mb-1 p-0">
              <button
                class="btn btn-sm btn-default pt-2"
                type="button"
                title="Aceptar" [disabled]="disabled"
                (click)="openModalOperaciones('Nuevo Registro', null, 'C', null)"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
          </div>
          <div class="col-12 mt-2 mb-2">
            <p-table [value]="operacionesAprovechamiento" class="table-justify">
              <ng-template pTemplate="header">
                <tr>
                  <th class="text-center acciones">Acciones</th>
                  <th>Operaciones</th>
                  <th>Unidad</th>
                  <th>Características <br />técnicas y <br />planificación</th>
                  <th>Personal <br />(por función)</th>
                  <th>Maquinaria, <br />equipos y <br />materiales</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr>
                  <td class="tex-center acciones">
                    <span
                      (click)="!disabled&&
                        openModalOperaciones(
                          'Editar Registro',
                          data,
                          'E',
                          rowIndex
                        )
                      "
                      class="pointer mr-2"
                      title="Editar"
                    >
                      <i class="pi pi-pencil"></i>
                    </span>
                    <span
                      (click)="openEliminarOperaciones($event, data, rowIndex)"
                      class="pointer"
                      title="Eliminar"
                    >
                      <i class="pi pi-trash"></i>
                    </span>
                  </td>
                  <td>{{ data.operaciones }}</td>
                  <td>{{ data.unidad }}</td>
                  <td>
                    {{ data.carcteristicaTec }}
                  </td>
                  <td>
                    {{ data.personal }}
                  </td>
                  <td>
                    {{ data.maquinariaMaterial }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="form-group row col-12 mb-2 ml-1">
            <label class="col-form-label label"
              >Se amplía información en el Anexo 3:</label
            >
            <div class="ml-3 mt-1 p-field-radiobutton">
              <label for="SiOpe" class="label mr-2">SI</label>
              <p-radioButton
                name="ope"
                value="S" [disabled]="disabled"
                inputId="SiOpe"
                [(ngModel)]="censoComercialOperaciones.anexo"
              >
              </p-radioButton>
            </div>
            <div class="ml-3 mt-1 p-field-radiobutton">
              <label for="NoOpe" class="label mr-2">NO</label>
              <p-radioButton
                name="ope"
                value="N" [disabled]="disabled"
                inputId="NoOpe"
                [(ngModel)]="censoComercialOperaciones.anexo"
                (onClick)="anexoN($event)"
              >
              </p-radioButton>
            </div>
          </div>
          <div
            *ngIf="censoComercialOperaciones.anexo == 'S'"
            class="col-12 mt-4"
          >
            <app-anexo-upload-file
              [label]="'Adjuntar Evidencia:'"
              [idPlanManejo]="idPlanManejo"
              [idTipoDocumento]="CodigoPOCC.ACORDEON_6_3" [disabled]=disabled
              [codigoProceso]="CodigoPOCC.ACORDEON_6_3"
              (registrarArchivoId)="cargarIdArchivo($event)"
              (justificacionEmiter)="justificacionEmiter($event)"
            >
            </app-anexo-upload-file>
          </div>
          <div class="row col-12">
            <label *ngIf="pendiente" class="lbl-info mt-3 mb-3">
              (Los cambios locales se guardarán pulsando el botón "Guardar".)
            </label>
          </div>
          <!-- <div class="step__btn mt-4 mb-4 ml-2">
            <button class="btn-primary2" (click)="registrarOperacion()">
              Guardar
            </button>
          </div> -->
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

  <div class="step__btn mt-4">
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button class="btn-primary2" (click)="guardar()">Guardar</button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
  <br />
</div>

<p-confirmPopup></p-confirmPopup>
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
