.content {
  padding: 15px 0px;
}
.message {
  padding-left: 15px;
}
.acciones {
  width: 100px;
  min-width: 80px;
}

.table-body {
  min-width: 120px;
}

.content-table {
  display: contents;
  background: #f8f9fa !important;
}

.content-table th {
  background: #f8f9fa !important;
  border: 1px solid #e9ecef;
  color: #495057;
  padding-top: 15px;
}
