<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="Objetivos Específicos" [selected]="true">
          <div class="col-2 col-sm-12 text-right mb-1">
            <button
              (click)="abrirModal()" [disabled]="disabled"
              class="btn btn-sm btn-default button-more mb-2"
              type="button"
              title="Agregar"
            >
              <i class="pi pi-plus"></i>
            </button>
          </div>
          <div class="col-12">
            <p-listbox
              [options]="groupedOjetivos"
              [(ngModel)]="listObjeto"
              [group]="true"
              [metaKeySelection]="false"
              [checkbox]="true" [disabled]="disabled"
              [filter]="true"
              [multiple]="true"
              [listStyle]="{ 'max-height': '250px' }"
              [style]="{ width: '100%' }"
            >
              <ng-template let-group pTemplate="group">
                <div class="p-d-flex p-ai-center">
                  <span>{{ group.label }}</span>
                </div>
              </ng-template>
            </p-listbox>
          </div>

          <div class="row mt-4">
            <div class="col-12 ml-3 mr-3">
              <label class="m-0 mr-4 label"
                >Se amplía información en el Anexo 3:</label
              >
              <div class="p-field-radiobutton">
                <strong for="Si" class="mr-2">SI</strong>
                <p-radioButton
                  name="amplia"
                  value="S" [disabled]="disabled"
                  inputId="Si"
                  [(ngModel)]="selectAnexo"
                >
                </p-radioButton>
              </div>
              <div class="p-field-radiobutton">
                <strong for="No" class="mr-2">NO</strong>
                <p-radioButton
                  name="amplia"
                  value="N" [disabled]="disabled"
                  inputId="No"
                  [(ngModel)]="selectAnexo"
                  (onClick)="anexoN($event)"
                >
                </p-radioButton>
              </div>
            </div>

            <div class="col-12" *ngIf="selectAnexo == 'S'">
              <div class="col-12 mt-3 ml-1 mr-5">
                <app-anexo-upload-file
                  [label]="'Adjuntar Evidencia:'"
                  [idPlanManejo]="idPGMF" [disabled]="disabled"
                  [idTipoDocumento]="CodigoPOCC.ACORDEON_3_1"
                  [codigoProceso]="CodigoPOCC.ACORDEON_3_1"
                  (registrarArchivoId)="cargarIdArchivo($event)"
                >
                </app-anexo-upload-file>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <div class="step__btn mt-4">
          <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
          <button
            type="submit"
            class="btn-primary2" [disabled]="disabled"
            (click)="GuardarObjetoManejo()"
          >
            Guardar
          </button>
          <button class="btn-primary2" (click)="siguienteTab()">
            Siguiente
          </button>
        </div>
        <br />
      </p-accordion>
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-dialog
  header="{{ tituloModal }}"
  header="Header"
  [(visible)]="displayBasic"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Tipo</label>
            <div class="form-control-selectk">
              <p-dropdown
                [options]="listParametro"
                optionLabel="tipoLabel"
                optionValue="tipoValue"
                placeholder="Seleccione"
                [(ngModel)]="parametro.detalle"
                appendTo="body"
                [style]="{width: '100%'}"
              ></p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Objetivo</label>
            <input
              [(ngModel)]="parametro.descripcionDetalle"
              type="text"
              class="form-control"
              placeholder="Ingrese Objetivo"
              maxlength="50"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarObjetivo()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
