<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12 p-0">
      <app-opiniones  [disabled]="disabled"
        [codigoEpica]="codigoEpica"
        [idPlanManejo]="idPlanManejo"
      ></app-opiniones>
    </div>
  </div>
</div>

<div class="step__btn mt-4">
  <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
  <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
</div>

<p-toast></p-toast>
