<div class="col-12 mt-4 mb-3">
  <p-table [value]="listRegente">
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Número de Licencia</th>
        <th>Número de Documento</th>
        <th>Domicilio</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
      <tr>
        <td>{{ data.nombres }} {{data.apellidos }}</td>
        <td>{{ data.numeroLicencia }}</td>
        <td>{{ data.numeroDocumento }}</td>
        <td>{{ data.domicilioLegal }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="col-12 mt-4 mb-3">
  <p-table [value]="listArchivos">
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre de Archivo</th>
        <th>Descripción</th>
        <th>Ver</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
      <tr>
        <td>{{ data.nombre }}</td>
        <td>{{data.descripcion}}</td>
        <td>
          <span
            class="pointer"
            style="margin: 0 10px;"
            title="Descargar"
            (click)="verArchivo(data)"
          >
            <i class="pi pi-download"></i>
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
