.form-container{
    border: 1px solid #dee2e6;
    background: #ffffff;
    color: #495057;
    border-radius: 8px;
}

.space-between{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-button{
    display: flex;
    align-items: center;
    justify-content: center;
}