<p-fieldset class="customFieldset" legend="DATOS EVALUADOS">
    <div class="row m-0">
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <label class="label">Tipo Documento:</label>
                <div class="form-control-selectk">
                    <input type="text" autocomplete="off" class="form-control"
                        [(ngModel)]="condiciones.tipoDocumento" readonly="true" />
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <label class="label">Nro. Documento</label>
                <input type="text" autocomplete="off" class="form-control" [(ngModel)]="condiciones.numeroDocumento"
                    readonly="true" />
            </div>
        </div>
    </div>

    <div class="row m-0">
        <div class="col-12 col-sm-12">
            <div class="form-group">
                <label class="label">Nombre o Razon Social:</label>
                <div class="form-control-selectk">
                    <input type="text" autocomplete="off" class="form-control" [(ngModel)]="condiciones.descripcion"
                        readonly="true" />
                </div>
            </div>
        </div>
    </div>

    <div class="row m-0">
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <label class="label">Resultado Evaluación</label>
                <div class="form-control-selectk">
                    <input type="text" autocomplete="off" class="form-control"
                        [(ngModel)]="condiciones.resultadoEvaluacion" readonly="true" />
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <label class="label">Fecha Evaluación</label>
                <input type="text" autocomplete="off" class="form-control" [(ngModel)]="condiciones.fechaEvaluacion"
                    readonly="true" />
            </div>
        </div>
    </div>


</p-fieldset>

<p-fieldset class="customFieldset" legend="Registro Nacional de Infractores">
    <div class="row m-0">
        <div class="col-12">
            <div class="space-between">
                <span> *No figura en el Registro Nacional de Infractores:</span>
                <span> {{condiciones.resultadoInfractor}}</span>
            </div>
        </div>
    </div>
</p-fieldset>

<p-fieldset class="customFieldset" legend="Condenas Vigentes">
    <div class="row m-0">
        <div class="col-12">
            <div class="space-between">
                <span> *No cuenta con condenas Vigentes (Antecedentes Penales):</span>
                <span> {{condiciones.resultadoAntecedentePenal}}</span>
            </div>

            <div class="space-between">
                <span> *No cuenta con condenas Vigentes (Antecedentes Judiciales):</span>
                <span> {{condiciones.resultadoAntecedenteJudicial}}</span>
            </div>

            <div class="space-between">
                <span> *No cuenta con condenas Vigentes (Antecedentes Policiales PNP):</span>
                <span> {{condiciones.resultadoAntecedentePolicial}}</span>
            </div>
        </div>
    </div>
</p-fieldset>
<!--
<p-fieldset class="customFieldset" legend="TH Caducado">
    <div class="row m-0">
        <div class="col-12">
            <div class="space-between">
                <span> *No cuenta con PAU caducado hace menos de 5 años:</span>
                <span> NO IMPLEMENTADO</span>
            </div>
        </div>
    </div>
</p-fieldset>
-->

<p-fieldset class="customFieldset" legend="Impedimento de Contrato con el Estado">
    <div class="row m-0">
        <div class="col-12">
            <div class="space-between">
                <span> *No cuenta con impedimento para contrata con el Estado:</span>
                <span> {{condiciones.resultadoSancionVigenteOsce}}</span>
            </div>
        </div>
    </div>
</p-fieldset>

<br>
<br>

<div class="col-12 mt-4 container-button">
    <button class="btn btn-sm btn-primary2" (click)="guardarValidacion()">Guardar Validación</button>

    <button class="btn btn-sm btn-primary2" (click)="validar()">Volver a Validar</button>

    <button class="btn btn-sm btn-primary2" (click)="cerrar()">Cancelar</button>
</div>