<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title">
        Bandeja PGMF
      </h3>
    </div>
  </div>

  <div class="col-12">
    <p-fieldset [collapsed]="true" legend="Filtros" [toggleable]="true">
      <div class="row m-0 mb-2 justify-content-center"></div>
    </p-fieldset>
  </div>

  <div class="col-12 mb-2 mt-3 text-right">
    <button
      pButton
      pRipple
      type="button"
      label="Nuevo"
      class="p-button-success p-button-outlined ml-1"
      [routerLink]="['/planificacion/bandeja-pgmf-consolidado/nuevo']"
    ></button>
  </div>
</div>
