<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12 p-0">
      <p-accordion #acordion>
        <p-accordionTab header="Consideraciones generales">
          <p-accordion #acordion_1>
            <p-accordionTab
              header="Consideraciones generales para la evaluación"
            >
              <p-table [value]="acordeon_body.listNivel3">
                <ng-template pTemplate="header">
                  <tr>
                    <th class="col-6">Descripción</th>
                    <th
                      colspan="2"
                      style="max-width: 250px; text-align: center;"
                    >
                      Conformidad
                    </th>
                    <th>Observación</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                  <tr>
                    <td
                      style="width: 40%;"
                      style="width: 15%; border-left: 1px solid #eee;"
                    >
                      <label class="label">{{ data.valorSecundario }}</label>
                    </td>
                    <td style="width: 15%; border-left: 1px solid #eee;">
                      <p-radioButton
                        name="resultado_{{ data.codigo }}"
                        [value]="codigoConforme" [disabled]="disabled"
                        inputId="SI_{{data.codigo}}"
                        [(ngModel)]="data.codigoSniffsDescripcion"
                      >
                      </p-radioButton>
                      <label class="ml-2 pointer">Conforme</label>
                    </td>
                    <td style="width: 15%; border-left: 1px solid #eee;">
                      <p-radioButton
                        name="resultado_{{ data.codigo }}"
                        [value]="codigoObservado" [disabled]="disabled"
                        inputId="NO_{{ data.codigo }}"
                        [(ngModel)]="data.codigoSniffsDescripcion"
                      >
                      </p-radioButton>
                      <label class="ml-2 pointer">Observado</label>
                    </td>
                    <td style="width: 15%; border-left: 1px solid #eee;">
                      <div
                        *ngIf="data.codigoSniffsDescripcion == codigoObservado"
                      >
                        <label class="label">(máx. 250 caracteres):*</label>
                        <textarea
                          maxlength="250" [disabled]="disabled"
                          rows="3"
                          class="form-control"
                          [(ngModel)]="data.observacion"
                        >
                        </textarea>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="data.codigo == 'GENEDP53216'">
                    <td
                      colspan="4"
                      style="width: 15%; border-left: 1px solid #eee;"
                    >
                      <app-vertices-geograficos
                        [listCoordinatesAnexo]="listCoordinatesAnexo"
                        [listAnexoArea]="listAnexoArea"
                        [totalAnexoArea]="totalAnexoArea" [disabled]="disabled"
                        [codigoEpica]="codigoEpica"
                      ></app-vertices-geograficos>
                    </td>
                  </tr>

                  <tr *ngIf="data.codigo == 'GENEDP53214'">
                    <td
                      colspan="4"
                      style="width: 15%; border-left: 1px solid #eee;"
                    >
                      <osinfor-shared
                        [idPlanManejo]="idPlanManejo"
                        [codigoProceso]="codigoEpica"
                        [evaluacion]="evaluacion" [disabled]="disabled"
                        [listarEvaluacionDetalle]="evaluacion.listarEvaluacionDetalle"
                        (updateList)="listarEvaluacion()"
                      ></osinfor-shared>
                    </td>
                  </tr>

                  <tr *ngIf="data.codigo == 'GENEDP53215'">
                    <td
                      colspan="4"
                      style="width: 15%; border-left: 1px solid #eee;"
                    >
                      <consulta-sunarp
                        [idPlanManejo]="idPlanManejo" [disabled]="disabled"
                        [codigoEpica]="codigoEpica"
                      ></consulta-sunarp>
                    </td>
                  </tr>

                  <tr *ngIf="data.codigo == 'GENEDP53218'">
                    <td
                      colspan="4"
                      style="width: 15%; border-left: 1px solid #eee;"
                    >
                      <div>
                        <label class="label">Especies Censadas </label>
                        <especies-censadas
                          [idPlanManejo]="idPlanManejo"
                          [codigoEpica]="codigoEpica"
                        ></especies-censadas>
                      </div>
                      <div>
                        <label class="label">Listado de Especies Oficial</label>
                        <div class="col-12 mt-4 mb-3">
                          <div class="col-12">
                            <button
                              [disabled]="disabled"
                              (click)="mostrarEspecie()"
                              class="btn btn-sm btn-secondary button-more"
                            >
                              Mostrar Especies
                            </button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="col-12 mt-4">
                <div>
                  <button
                    type="submit"
                    class="btn-primary2 mt-4" [disabled]="disabled"
                    (click)="guardarEvaluacion()"
                  >
                    Guardar evaluación
                  </button>
                </div>
              </div>
            </p-accordionTab>
          </p-accordion>
        </p-accordionTab>
        <!-- <p-accordionTab header="Mapas">
          <p-accordion *ngIf="codigoEpica == 'PMFIC'">
            <p-accordionTab header="Mapa base" [selected]="false">
              <app-map-custom-anexo
                [idPlanManejo]="idPlanManejo"
                [codigoProceso]="codigoEpica"
                [codigoSubSeccion]="codigoSubSeccion1"
                [tipoGeometria]="'Otros'"
                [isAnexo]="true"
                [printPDF]="true"
                [ShowBotonCargar]="false"
                [disabled]="disabled"
              ></app-map-custom-anexo>
            </p-accordionTab>

            <p-accordionTab
              header="Mapa de ordenamiento y división administrativa"
            >
              <app-map-custom-anexo
                [idPlanManejo]="idPlanManejo"
                [codigoProceso]="codigoEpica"
                [codigoSubSeccion]="codigoSubSeccion2"
                [tipoGeometria]="'Otros'"
                [isAnexo]="true"
                [printPDF]="true"
                [ShowBotonCargar]="false"
                [disabled]="disabled"
              ></app-map-custom-anexo>
            </p-accordionTab>
          </p-accordion>
          <div *ngIf="codigoEpica != 'PMFIC'">
            <app-map-custom-anexo
              [idPlanManejo]="idPlanManejo"
              [tipoGeometria]="'Otros'"
              [isAnexo]="true"
              [printPDF]="true"
              [ShowBotonCargar]="false"
              [disabled]="disabled"
            ></app-map-custom-anexo>
          </div>
        </p-accordionTab> -->
      <!--   <p-accordionTab header="Información del Censo">
          <p-accordion>
            <p-accordionTab
              header="Potencial con fines de aprovechamiento forestal maderable"
            >
              <div class="col-12 p-0">
                <mat-tab-group animationDuration="0ms">
                  <mat-tab
                    label="Inventario con fines de aprovechamiento forestal maderable"
                  >
                    <p-accordion>
                      <br />
                      <p-accordionTab
                        header="Árboles aprovechables"
                        [selected]="true"
                      >
                        <app-arboles-aprovechables
                          [idPlanManejo]="idPlanManejo"
                          [codigoEpica]="codigoEpica"
                        ></app-arboles-aprovechables>
                      </p-accordionTab>

                      <p-accordionTab header="Fustales">
                        <app-fustales
                          [idPlanManejo]="idPlanManejo"
                          [codigoEpica]="codigoEpica"
                        ></app-fustales>
                      </p-accordionTab>
                    </p-accordion>
                  </mat-tab>

                  <mat-tab
                    label="Censo comercial con fines de aprovechamiento forestal maderable"
                  >
                    <app-censo-forestal-maderable
                      [idPlanManejo]="idPlanManejo"
                      [codigoEpica]="codigoEpica"
                    ></app-censo-forestal-maderable>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </p-accordionTab>
            <p-accordionTab
              header="Potencial con fines de aprovechamiento forestal no maderable"
            >
              <div class="col-12 p-0">
                <mat-tab-group animationDuration="0ms">
                  <mat-tab
                    label="Inventario con fines de aprovechamiento forestal no maderables"
                  >
                    <app-inventario-no-maderable
                      [idPlanManejo]="idPlanManejo"
                      [codigoEpica]="codigoEpica"
                    ></app-inventario-no-maderable>
                  </mat-tab>

                  <mat-tab
                    label="Censo comercial con fines de aprovechamiento forestal no maderable"
                  >
                    <app-censo-comercial-no-maderable
                      [idPlanManejo]="idPlanManejo"
                      [codigoEpica]="codigoEpica"
                    ></app-censo-comercial-no-maderable>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Resultados Censo / Inventario">
              <app-anexos
                [idPlanManejo]="idPlanManejo"
                [codigoEpica]="codigoEpica"
              >
              </app-anexos>
            </p-accordionTab>
          </p-accordion>
        </p-accordionTab>
        <p-accordionTab header="Track" [selected]="false">
          <app-map-custom-anexo
            [idPlanManejo]="idPlanManejo"
            [codigoProceso]="codigoEpica"
            [codigoSubSeccion]="codigoSubSeccionTrack"
            [tipoGeometria]="'Otros'"
            [isAnexo]="true"
            [printPDF]="true"
            [ShowBotonCargar]="false"
            [disabled]="disabled"
          ></app-map-custom-anexo>
        </p-accordionTab>
        <p-accordionTab header="Regente" [selected]="false">
          <lista-regente
            [idPlanManejo]="idPlanManejo"
            [codigoEpica]="codigoEpica"
          >
          </lista-regente>
        </p-accordionTab> -->
      </p-accordion>
    </div>
  </div>
</div>

<div class="step__btn mt-4">
  <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
  <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
</div>
<br />
