<div class="col-12">
  <form class="col-12" [formGroup]="f">
    <div class="row m-0">
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="label">Nombre común</label>
          <input
            type="text"
            autocomplete="off"
            [disabled]="disabled"
            class="form-control"
            placeholder="Ingrese nombre común"
            formControlName="nombreComun"
          />
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="label">Código</label>
          <input
            type="number"
            autocomplete="off"
            [disabled]="disabled"
            class="form-control"
            placeholder="Ingrese código"
            formControlName="codigo"
          />
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="label">Coordenada Norte</label>
          <input
            type="number"
            autocomplete="off"
            [disabled]="disabled"
            class="form-control"
            placeholder="Ingrese coordenada norte"
            formControlName="coordenadaN"
          />
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="label">Coordenada Este</label>
          <input
            type="number"
            autocomplete="off"
            [disabled]="disabled"
            class="form-control"
            placeholder="Ingrese coordenada este"
            formControlName="coordenadaE"
          />
        </div>
      </div>
    </div>
    <div class="row m-0 mb-2 justify-content-center">
      <div class="col-12 my-2 form-group text-center">
        <button
          class="btn btn-sm btn-secondary mr-2"
          style="width: 79px;"
          [disabled]="disabled"
          (click)="limpiar()"
        >
          Limpiar
        </button>
        <button
          class="btn btn-sm btn-secondary mr-2"
          style="width: 79px;"
          [disabled]="disabled"
          (click)="buscarAnexo7NoMaderable()"
        >
          Buscar
        </button>
      </div>
    </div>
  </form>
</div>

<div class="col-12 mt-4 mb-3">
  <p-table styleClass="p-datatable-gridlines" [value]="listAnexo7NoMaderables">
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="2" class="text-center">Acciones</th>
        <th rowspan="2">N° faja</th>
        <th rowspan="2">N° Árbol o individuo</th>
        <th rowspan="2">Especie</th>
        <th colspan="2">Coordenadas UTM</th>
        <th rowspan="2">C*</th>
        <th rowspan="2">Árbol o individuo semillero</th>
      </tr>
      <tr>
        <th>E</th>
        <th>N</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
      <tr>
        <td class="text-center">
          <span
            class="pointer mr-1"
            title="Editar"
            (click)="!disabled&& openModalConfirmationGuardar(data)"
          >
            <i class="pi pi-pencil"></i>
          </span>
        </td>
        <td>{{ data.numeroFaja }}</td>
        <td>{{ data.nArbol }}</td>
        <td>{{ data.nombreEspecies }}</td>
        <td>{{ data.este }}</td>
        <td>{{ data.norte }}</td>
        <td>{{ data.c == 'null' ? '' : data.c }}</td>
        <td>{{ data.categoria }}</td>
      </tr>
    </ng-template>
  </p-table>
  <div class="row pt-4">
    <div class="col-sm-6" style="align-self: center !important;">
      <div class="text-center">
        <button
          type="submit"
          class="btn-secondary"
          title="Descargar Anexo"
          (click)="descargarListadoAnexo7()"
        >
          Descargar Anexo
        </button>
      </div>
    </div>
    <div class="col-sm-6">
      <input-buttons-maps-codigo
        [label]="'Adjuntar Anexo firmado'"
        [idPlanManejo]="idPlanManejo"
        [disabled]="disabled"
        [idTipoDocumento]="'POPACAAnexo7'"
        [codigoProceso]="'POPAC'"
      >
      </input-buttons-maps-codigo>
    </div>
  </div>
</div>
