<div class="row">
  <div class="col-12 form-group">
    <label for="nombreActividad">Nombre del Factor Ambiental</label>
    <input
      type="text"
      id="nombreActividad"
      autocomplete="off"
      class="form-control contents_form_input"
      [(ngModel)]="nombreActividad"
      placeholder="Ingrese Factor Ambiental"
      maxlength="100"
    />
  </div>

 <!--  <div class="col-12 mt-3">
    <button class="btn btn-sm btn-secondary" (click)="agregar()">
      Aceptar
    </button>
  </div> -->
</div>
<div class="d-flex justify-content-end">
  <button
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
    [label]="'Aceptar'"
    class="p-button-success p-button-outlined"
    style="width: 106px;"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
    style="width: 106px;"
  ></button>
</div>
<p-toast key="toast"></p-toast>
