<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="Anexo 1: Mapa base" [selected]="true">
          <map-custom-anexo
            [idPlanManejo]="idPGMF"
            [codigoProceso]="'POPAC'"
            [codigoSubSeccion]="'POPACANAN1SHAPE'"
            [tipoGeometria]="'Otros'" [disabled]="disabled"
            [isAnexo]="true"
            [printPDF]="true"
          ></map-custom-anexo>
          <div class="row">
            <div class="col-sm-12">
              <input-buttons-maps-codigo
                [label]="'Adjuntar mapa firmado'" [disabled]="disabled"
                [idPlanManejo]="idPGMF"
                [idTipoDocumento]="'POPACAAnexo1'"
                [codigoProceso]="'POPAC'"
              >
              </input-buttons-maps-codigo>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab
          header="Anexo 2: Mapa de ordenamiento y división administrativa"
          [selected]="false"
        >
          <map-custom-anexo
            [idPlanManejo]="idPGMF"
            [codigoProceso]="'POPAC'" [disabled]="disabled"
            [codigoSubSeccion]="'POACANAN2SHAPE'"
            [tipoGeometria]="'Otros'"
            [isAnexo]="true"
            [printPDF]="true"
          ></map-custom-anexo>


          <div class="row">
            <div class="col-sm-12">
              <input-buttons-maps-codigo
                [label]="'Adjuntar mapa firmado'"
                [idPlanManejo]="idPGMF" [disabled]="disabled"
                [idTipoDocumento]="'POPACAAnexo2'"
                [codigoProceso]="'POPAC'"
              >
              </input-buttons-maps-codigo>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab
          header="Anexo 5: Resultados del censo forestal comercial con fines maderables"
          [selected]="false"
        >
          <anexo5 [idPlanManejo]="idPGMF" [disabled]="disabled"> </anexo5>
        </p-accordionTab>

        <p-accordionTab
          header="Anexo 7: Resultados del censo forestal comercial con fines no maderables"
          [selected]="false"
        >
          <anexo7 [idPlanManejo]="idPGMF" [disabled]="disabled"></anexo7>
        </p-accordionTab>

        <p-accordionTab
          header="Anexo 8: Lista de especies mencionadas"
          [selected]="false"
        >
          <anexo8 [idPlanManejo]="idPGMF" [disabled]="disabled"></anexo8>
        </p-accordionTab>

        <p-accordionTab
          header="Anexo 9: Acta de asamblea comunal"
          [selected]="false"
        >
          <div class="col-12 mt-4 mb-3">
            <h3 class="title2">Acta de asamblea comunal</h3>
            <div>
              <p>
                En el que conste el acuerdo para el ordenamiento interno, la
                zonificación interna comunal, la decisión del aprovechamiento
                del recurso y el compromiso de implementar el PMFI
              </p>
            </div>

            <div class="col-sm-12">
              <input-buttons-codigo
                [label]="''"
                [idPlanManejo]="idPGMF" [disabled]="disabled"
                [idTipoDocumento]="'POPACAAnexo9'"
                [codigoProceso]="'POPAC'"
              >
              </input-buttons-codigo>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4 mb-4">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <!-- <button class="btn-primary2">Descargar Compilado</button> -->
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
    </div>
  </div>
</div>
