<div class="container-fluit">
    <div class="row m-0">
      <div class="col-12 mt-3">
        <div class="form-group">
          <label class="label">Número de Certificado: *</label>
          <input [(ngModel)]="certificado" type="text" sinSpacioInit class="form-control" placeholder="" [disabled]="true" >
        </div>
        <app-carga-archivo-general label="Descargar certificado de registro de plantaciones firmado:"
          [disabled]="true" [idArchivo]="idArchivoCertif" [tipoDoc]="tipodocArchivoCertif"
          (registrarArchivo)="registrarArchivo($event)">
        </app-carga-archivo-general>
      </div>
  
      <div class="col-12 mt-4 text-right">  
        <button class="p-button-danger p-button-outlined" type="button" icon="pi pi-times" pButton pRipple
          label="Cancelar" (click)="btnCancelar()"></button>
      </div>
    </div>
  </div>