 <div class="row m-0 mt-2">
            <div class="col-12">
                <p-table [value]="lstDetalle2">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Actividad que genera impacto</th>
                            <th>Descripción del impacto</th>
                            <th>Medidas de prevención</th>
                            <th>Medidas de mitigación</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                        <tr>
                            <td class="text-left">{{data.actividad}}</td>
                            <td class="text-left">{{data.descripcion}}</td>
                            <td class="text-left">{{data.medidasProteccion}}</td>
                            <td class="text-left">{{data.medidasMitigacion}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
