<br />

<p-accordion class="mt-3" *ngFor="let listado of accordeon_6">
  <p-accordionTab
    [selected]="tab_6"
    [header]="listado.title"
    *ngIf="listado.codigo != 'LINEADP61'"
  >
    <div class="container-fluid">
      <div class="row mt-3">
        <div class="col-5 p-0">
          <div style="padding-left: 20px; padding-top: 15px;">
            <span class="title">
              Plan de manejo forestal &nbsp; &nbsp;
            </span>
            <span class="nro-plan">N° {{ idPlanManejo }}</span>
          </div>
        </div>
        <div class="col-7">
          <button class="my-3 btn-primary2" (click)="evaluarPlan()" [disabled]="disabled">
            Evaluar Plan
          </button>
        </div>
      </div>
    </div>
    <!-- <p-accordion #accordion_1>
      <div *ngFor="let data of listado.array">
        <div *ngIf="data.codigo != 'LINEADP621' && data.codigo != 'LINEADP622'">
          <p-accordionTab [header]="data.title" [selected]="data.acordion">
            <div *ngIf="data.parrafo != ''" class="text-justify">
              {{ data.parrafo }}
            </div>

            <div *ngIf="data.titleTabla != ''" class="text-justify">
              <p-table [value]="[data]">
                <ng-template pTemplate="header">
                  <tr>
                    <th class="col-6">Descripción</th>
                    <th
                      colspan="2"
                      style="max-width: 250px; text-align: center;"
                    >
                      Conformidad
                    </th>
                    <th>Observación</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-expanded="expanded">
                  <tr>
                    <td
                      style="width: 15%; border-left: 1px solid #eee;"
                      style="width: 40%;"
                    >
                      {{ data.titleTabla }}

                      <div
                        class="mt-3"
                        *ngIf="
                        data.codigo == 'LINEADP626' && codigoEpica == 'PMFI'
                      "
                      >
                        <textarea
                          class="form-control"
                          disabled
                          cols="5"
                          rows="4"
                          [(ngModel)]="objDivisionAdministrativa.observacion"
                          maxlength="250"
                        ></textarea>
                      </div>

                      <div
                        style="margin-top: 40px;"
                        *ngIf="
                        data.codigo == 'LINEADP628' && codigoEpica == 'DEMA'
                      "
                      >
                        <p *ngIf="false" class="my-3 font-weight-bold">
                          Labores silviculturales
                        </p>
                        <app-tab-sistema-manejo-laborales-silviculturales
                          [idPlanManejo]="idPlanManejo"
                          [disabled]="true"
                        ></app-tab-sistema-manejo-laborales-silviculturales>
                      </div>

                      <div
                        style="margin-top: 40px;"
                        *ngIf="
                        data.codigo == 'LINEADP628' && codigoEpica == 'PMFI'
                      "
                      >
                        <p *ngIf="false" class="my-3 font-weight-bold">
                          Labores sivilculturales
                        </p>
                        <app-pmfi-manejo-aprovechamiento
                          [idPlanManejo]="idPlanManejo"
                          [disabled]="true"
                        ></app-pmfi-manejo-aprovechamiento>
                      </div>

                      <div
                        style="margin-top: 40px;"
                        *ngIf="
                        data.codigo == 'LINEADP629' && codigoEpica == 'DEMA'
                      "
                      >

                        <p *ngIf="false" class="my-3 font-weight-bold">
                          Revisión de las medidas de protección
                        </p>
                        <app-tab-medidas-proteccion-unidad-manejo-forestal
                          [idPlanManejo]="idPlanManejo"
                          [disabled]="true"
                        ></app-tab-medidas-proteccion-unidad-manejo-forestal>
                      </div>

                      <div
                        style="margin-top: 40px;"
                        *ngIf="
                        data.codigo == 'LINEADP6210' && codigoEpica == 'DEMA'
                      "
                      >
                        <p *ngIf="false" class="my-3 font-weight-bold">
                          Labores sivilculturales
                        </p>
                        <app-tab-impactos-ambientales-negativos
                          [idPlanManejo]="idPlanManejo"
                          [disabled]="true"
                        ></app-tab-impactos-ambientales-negativos>
                      </div>

                      <div
                        style="margin-top: 40px;"
                        *ngIf="
                        data.codigo == 'LINEADP6210' && codigoEpica == 'PMFI'
                      "
                      >
                        <p *ngIf="false" class="my-3 font-weight-bold">
                          Labores sivilculturales
                        </p>
                        <app-pmfi-impacto-ambiental-negativo
                          [idPlanManejo]="idPlanManejo"
                          [disabled]="true"
                        ></app-pmfi-impacto-ambiental-negativo>
                      </div>

                      <div
                        style="margin-top: 40px;"
                        *ngIf="
                        data.codigo == 'LINEADP6211' && codigoEpica == 'DEMA'
                      "
                      >
                        <p *ngIf="false" class="my-3 font-weight-bold">
                          Cronograma
                        </p>
                        <app-tab-cronograma-actividades
                          [idPlanManejo]="idPlanManejo"
                        ></app-tab-cronograma-actividades>
                      </div>

                      <div
                        style="margin-top: 40px;"
                        *ngIf="
                        data.codigo == 'LINEADP6211' && codigoEpica == 'PMFI'
                      "
                      >
                        <p *ngIf="false" class="my-3 font-weight-bold">
                          Cronograma
                        </p>
                        <app-pmfi-cronograma
                          [idPlanManejo]="idPlanManejo"
                        ></app-pmfi-cronograma>
                      </div>
                    </td>
                    <td style="width: 15%; border-left: 1px solid #eee;">
                      <div class="p-field-radiobutton d-inline-full">
                        <p-radioButton
                          [(ngModel)]="data.codigoSniffsDescripcion"
                          [value]="codigoConforme"
                          (onClick)="cambioDetalle(data)"
                        ></p-radioButton>
                        <label class="mr-2 pl-1 pointer">Conforme</label>
                      </div>
                    </td>
                    <td style="width: 15%; border-left: 1px solid #eee;">
                      <div class="p-field-radiobutton d-inline-full">
                        <p-radioButton
                          [(ngModel)]="data.codigoSniffsDescripcion"
                          [value]="codigoObservado"
                        ></p-radioButton>
                        <label class="mr-2 pl-1 pointer">Observado</label>
                      </div>
                    </td>
                    <td style="width: 15%; border-left: 1px solid #eee;">
                      <div
                        *ngIf="data.codigoSniffsDescripcion == codigoObservado"
                      >
                        <label class="label">(máx. 250 caracteres):*</label>
                        <textarea
                          maxlength="250"
                          rows="3"
                          class="form-control"
                          [(ngModel)]="data.observacion"
                        >
                        </textarea>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>

            <div *ngIf="data.array.length" class="mt-2 mb-2">
              <p-table [value]="data.array" dataKey="name">
                <ng-template pTemplate="header">
                  <tr>
                    <th class="col-6">Descripción</th>
                    <th
                      colspan="2"
                      style="max-width: 250px; text-align: center;"
                    >
                      Conformidad
                    </th>
                    <th>Observación</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-expanded="expanded" let-data>
                  <tr>
                    <td
                      style="width: 40%;"
                      style="width: 15%; border-left: 1px solid #eee;"
                    >
                      <div class="mb-4" *ngIf="data.valorPrimario != ''">
                        {{ data.valorPrimario }}
                      </div>

                      <div class="mb-4" *ngIf="data.valorSecundario != ''">
                        {{ data.valorSecundario }}

                        <div *ngIf="data.codigo == 'LINEADP6231'">
                          <p *ngIf="false" class="my-5 font-weight-bold">
                            a. Datos del Titular
                          </p>

                          <div class="row mt-4">
                            <div class="col-2">
                              <label>Nombre / Razón</label>
                            </div>
                            <div class="col-10">
                              <input
                                type="text"
                                disabled
                                class="form-control"
                                autocomplete="off"
                                [(ngModel)]="nombre_o_razonSocialTitular"
                              />
                            </div>
                          </div>

                          <div class="row mt-3">
                            <div class="col-2">
                              <label>Dirección</label>
                            </div>
                            <div class="col-10">
                              <input
                                type="text"
                                disabled
                                class="form-control"
                                autocomplete="off"
                                [(ngModel)]="direccionTitular"
                              />
                            </div>
                          </div>

                          <div class="row mt-3">
                            <div class="col-2">
                              <label>DNI</label>
                            </div>
                            <div class="col-5">
                              <input
                                type="text"
                                disabled
                                class="form-control"
                                autocomplete="off"
                                [(ngModel)]="dniTitular"
                              />
                            </div>
                            <div class="col-5">
                              <button
                                pButton
                                pRipple
                                type="button"
                                label="Validar con RENIEC"
                                [ngClass]="
                                validaPIDEReniecClass
                                  ? 'p-button-success'
                                  : 'p-button-danger'
                              "
                                class="p-button-rounded p-button-outlined"
                                (click)="validarPideReniec()"
                              ></button>
                            </div>
                          </div>

                          <div class="row mt-3">
                            <div class="col-2">
                              <label>RUC</label>
                            </div>
                            <div class="col-5">
                              <input
                                type="text"
                                disabled
                                class="form-control"
                                autocomplete="off"
                                [(ngModel)]="rucTitular"
                              />
                            </div>
                            <div class="col-5">
                              <button
                                pButton
                                pRipple
                                type="button"
                                label="Validar con SUNAT"
                                [ngClass]="
                                validaPIDESunatClass
                                  ? 'p-button-success'
                                  : 'p-button-danger'
                              "
                                class="p-button-rounded p-button-outlined"
                                (click)="validarPideSunat()"
                              ></button
                              >&nbsp;&nbsp;
                            </div>
                          </div>

                          <div class="row mt-3">
                            <div class="col-2" *ngIf="false">
                              <label>N° Partida</label>
                            </div>
                            <div class="col-5" *ngIf="false">
                              <input
                                type="text"
                                class="form-control"
                                autocomplete="off"
                                [(ngModel)]="nroPartidaRegistral"
                              />
                            </div>
                            <div class="col-5">
                              <button
                                pButton
                                pRipple
                                type="button"
                                label="Validar con SUNARP"
                                [ngClass]="
                                validaPIDESunarpClass
                                  ? 'p-button-success'
                                  : 'p-button-danger'
                              "
                                class="p-button-rounded p-button-outlined"
                                (click)="validarPideSunarp()"
                              ></button>
                            </div>
                          </div>

                          <div class="row mt-5">
                            <button
                              class="btn btn-sm btn-primary2"
                              (click)="validarCondiciones()"
                            >
                              Validar Condiciones M&iacute;nimas
                            </button>
                          </div>
                        </div>

                        <div
                          style="margin-top: 40px;"
                          *ngIf="
                          data.codigo == 'LINEADP6231' && esReprLegal == 'S'
                        "
                        >
                          <p class="my-3 font-weight-bold">
                            Datos del Representante Legal
                          </p>
                          <div
                            class="row"
                            *ngIf="tipoDocumentoRepresentante == 'DNI'"
                          >
                            <div class="col-2">
                              <label>DNI</label>
                            </div>
                            <div class="col-5">
                              <input
                                type="text"
                                disabled
                                class="form-control"
                                autocomplete="off"
                                [(ngModel)]="dniRucRepresentante"
                              />
                            </div>
                            <div class="col-5">
                              <button
                                pButton
                                pRipple
                                type="button"
                                label="Validar con RENIEC"
                                [ngClass]="
                                validaPIDEReniecClassRepre
                                  ? 'p-button-success'
                                  : 'p-button-danger'
                              "
                                class="p-button-rounded p-button-outlined"
                                (click)="validarPideReniecRepresentanteLegal()"
                              ></button>
                            </div>
                          </div>

                          <div class="row mt-3">
                            <div class="col-2">
                              <label>Nombre / Razón</label>
                            </div>
                            <div class="col-10">
                              <input
                                type="text"
                                disabled
                                class="form-control"
                                autocomplete="off"
                                [(ngModel)]="nombre_o_razonSocialRepresentante"
                              />
                            </div>
                          </div>

                          <div
                            class="row mt-3"
                            *ngIf="tipoDocumentoRepresentante == 'RUC'"
                          >
                            <div class="col-1">
                              <label>RUC</label>
                            </div>
                            <div class="col-5">
                              <input
                                type="text"
                                disabled
                                class="form-control"
                                autocomplete="off"
                                [(ngModel)]="dniRucRepresentante"
                              />
                            </div>
                            <div class="col-6">
                              <button
                                pButton
                                pRipple
                                type="button"
                                label="Validar con SUNAT"
                                [ngClass]="
                                validaPIDESunatClassRepre
                                  ? 'p-button-success'
                                  : 'p-button-danger'
                              "
                                class="p-button-rounded p-button-outlined"
                                (click)="validarPideSunat()"
                              ></button
                              >&nbsp;&nbsp;
                            </div>
                          </div>

                          <div class="row mt-3">
                            <div class="col-2">
                              <label>Dirección</label>
                            </div>
                            <div class="col-10">
                              <input
                                type="text"
                                disabled
                                class="form-control"
                                autocomplete="off"
                                [(ngModel)]="direccionRepresentante"
                              />
                            </div>
                          </div>
                        </div>

                        <div
                          style="margin-top: 40px;"
                          *ngIf="
                          data.codigo == 'LINEADP6232'
                        "
                        >
                          <p *ngIf="false" class="my-3 font-weight-bold">
                            b. Revisión de los datos del regente forestal
                          </p>
                          <div>
                            <div class="my-1">
                              <label class="contents_form_label text-lg-left"
                                >DNI</label
                              >
                              <input
                                type="text"
                                disabled
                                autocomplete="off"
                                class="form-control contents_form_input"
                                [(ngModel)]="numeroDocumentoRegente"
                              />
                            </div>
                            <div class="my-1">
                              <label class="contents_form_label text-lg-left"
                                >Nombres</label
                              >
                              <input
                                type="text"
                                disabled
                                autocomplete="off"
                                class="form-control"
                                [(ngModel)]="nombreCompleto"
                              />
                            </div>
                            <div class="my-1">
                              <label class="contents_form_label text-lg-left"
                                >Número de licencia</label
                              >
                              <input
                                type="text"
                                disabled
                                autocomplete="off"
                                class="form-control"
                                [(ngModel)]="numeroLicenciaRegente"
                              />
                            </div>
                          </div>

                          <div>
                            <lista-regente
                              [idPlanManejo]="idPlanManejo"
                              [codigoEpica]="codigoEpica"
                            >
                            </lista-regente>
                          </div>

                          <div class="mt-3">
                            <button
                              pButton
                              pRipple
                              type="button"
                              label="Servicio Nacional de Regentes"
                              [ngClass]="
                              validaRegente
                                ? 'p-button-success'
                                : 'p-button-danger'
                            "
                              class="p-button-rounded p-button-outlined"
                              (click)="validarInformacionRegente()"
                            ></button>
                          </div>
                        </div>

                        <div
                          style="margin-top: 40px;"
                          *ngIf="
                          data.codigo == 'LINEADP6233' &&
                          (codigoEpica == 'DEMA' ||
                            codigoEpica == 'PMFI' ||
                            codigoEpica == 'PMFIC')
                        "
                        >
                          <p *ngIf="false" class="my-3 font-weight-bold">
                            c. De la vigencia del plan de manejo forestal
                          </p>
                          <div>
                            <div class="my-1">
                              <label class="contents_form_label text-lg-left"
                                >Fecha Inicial</label
                              >
                              <input
                                disabled
                                utocomplete="off"
                                [matDatepicker]="fechaI"
                                matInput
                                class="form-control contents_form_input"
                                [(ngModel)]="informacionGeneral.fechaInicioDema"
                              />
                              <mat-datepicker
                                #fechaI
                                startView="multi-year"
                                panelClass="example-month-picker"
                              >
                              </mat-datepicker>
                            </div>
                            <div class="my-1">
                              <label class="contents_form_label text-lg-left"
                                >Fecha Final</label
                              >
                              <input
                                disabled
                                utocomplete="off"
                                [matDatepicker]="fechaF"
                                matInput
                                class="form-control contents_form_input"
                                [(ngModel)]="informacionGeneral.fechaFinDema"
                              />
                              <mat-datepicker
                                #fechaF
                                startView="multi-year"
                                panelClass="example-month-picker"
                              >
                              </mat-datepicker>
                            </div>
                            <div class="my-1">
                              <label class="contents_form_label text-lg-left"
                                >Años</label
                              >
                              <input
                                disabled
                                type="text"
                                autocomplete="off"
                                class="form-control"
                                [(ngModel)]="informacionGeneral.vigencia"
                              />
                            </div>
                          </div>
                        </div>

                        <div
                          style="margin-top: 40px;"
                          *ngIf="
                          data.codigo == 'LINEADP6251' && codigoEpica == 'DEMA'
                        "
                        >
                          <p class="my-3 font-weight-bold">
                            Validar Información del ordenamiento interno de la
                            UMF
                          </p>
                          <app-tab-zonificacion-ordenamiento-interno-area
                            [idPlanManejo]="idPlanManejo"
                            [disabled]="true"
                          ></app-tab-zonificacion-ordenamiento-interno-area>
                        </div>

                        <div
                          style="margin-top: 40px;"
                          *ngIf="
                          data.codigo == 'LINEADP6251' && codigoEpica == 'PMFI'
                        "
                        >
                          <p class="my-3 font-weight-bold">
                            Validar Información del ordenamiento interno de la
                            UMF
                          </p>
                          <app-pmfi-ordenamiento-interno
                            [idPlanManejo]="idPlanManejo"
                            [disabled]="true"
                          ></app-pmfi-ordenamiento-interno>
                        </div>

                        <div
                          style="margin-top: 40px;"
                          *ngIf="data.codigo == 'LINEADP6241'"
                        >
                          <p *ngIf="false" class="my-3 font-weight-bold">
                            Revisión de la info básica
                          </p>
                          <div>
                            <table class="table table-boder">
                              <thead>
                                <tr>
                                  <th>Descripción</th>
                                  <th>Vértice</th>
                                  <th>Coordenada Este</th>
                                  <th>Coordenada Norte</th>
                                  <th>Referencia</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr
                                  *ngFor="
                                  let item of listCoordinatesAnexo;
                                  index as i
                                "
                                >
                                  <td>{{ item.anexo }}</td>
                                  <td>{{ item.vertice }}</td>
                                  <td>{{ item.este }}</td>
                                  <td>{{ item.norte }}</td>
                                  <td>{{ item.referencia }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>

                        <div
                          style="margin-top: 40px;"
                          *ngIf="
                          data.codigo == 'LINEADP6277' && codigoEpica == 'DEMA'
                        "
                        >
                          <p *ngIf="false" class="my-3 font-weight-bold">
                            Coordenadas UTM de los árboles declarados como
                            aprovechables y semilleros
                          </p>
                          <app-tab-recursos-forestales-maderables
                            [idPlanManejo]="idPlanManejo"
                            [disabled]="true"
                          ></app-tab-recursos-forestales-maderables>
                        </div>

                        <div
                          style="margin-top: 40px;"
                          *ngIf="
                          data.codigo == 'LINEADP6278' && codigoEpica == 'DEMA'
                        "
                        >
                          <p *ngIf="false" class="my-3 font-weight-bold">
                            Actividades de aprovechamiento
                          </p>
                          <app-tab-actividades-aprovechamiento-equipos
                            [idPlanManejo]="idPlanManejo"
                            [disabled]="true"
                          ></app-tab-actividades-aprovechamiento-equipos>
                        </div>

                        <div
                          style="margin-top: 40px;"
                          *ngIf="
                          data.codigo == 'LINEADP6278' && codigoEpica == 'PMFI'
                        "
                        >
                          <p *ngIf="false" class="my-3 font-weight-bold">
                            Actividades de aprovechamiento
                          </p>
                          <app-pmfi2-manejo-aprovechamiento
                            [idPlanManejo]="idPlanManejo"
                            [disabled]="true"
                          ></app-pmfi2-manejo-aprovechamiento>
                        </div>
                      </div>
                    </td>

                    <td style="width: 15%; border-left: 1px solid #eee;">
                      <div class="p-field-radiobutton d-inline-full">
                        <p-radioButton
                          [(ngModel)]="data.codigoSniffsDescripcion"
                          [value]="codigoConforme"
                          (onClick)="cambioDetalle(data)"
                        ></p-radioButton>
                        <label class="mr-2 pl-1 pointer">Conforme</label>
                      </div>
                    </td>
                    <td style="width: 15%; border-left: 1px solid #eee;">
                      <div class="p-field-radiobutton d-inline-full">
                        <p-radioButton
                          [(ngModel)]="data.codigoSniffsDescripcion"
                          [value]="codigoObservado"
                        ></p-radioButton>
                        <label class="mr-2 pl-1 pointer">Observado</label>
                      </div>
                    </td>
                    <td style="width: 15%; border-left: 1px solid #eee;">
                      <div
                        *ngIf="data.codigoSniffsDescripcion == codigoObservado"
                      >
                        <label class="label">(máx. 250 caracteres):*</label>
                        <textarea
                          maxlength="250"
                          rows="3"
                          class="form-control"
                          [(ngModel)]="data.observacion"
                        >
                        </textarea>
                      </div>
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="rowexpansion" let-data>
                  <div class="col-12" *ngIf="data.listNivel4.length">

                    <div class="col-12">
                      <p-table [value]="data.listNivel4" dataKey="id">
                        <ng-template pTemplate="header">
                          <tr>
                            <th class="col-6">Descripción</th>
                            <th rowspan="2" style="max-width: 250px;">
                              Conformidad
                            </th>
                            <th style="max-width: 250px;"></th>
                            <th>Observación</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data>
                          <tr>
                            <td
                              style="width: 40%;"
                              style="width: 15%; border-left: 1px solid #eee;"
                            >
                              {{ data.valorSecundario }}
                            </td>
                            <td
                              style="width: 15%; border-left: 1px solid #eee;"
                            >
                              <div class="p-field-radiobutton d-inline-full">
                                <p-radioButton
                                  [(ngModel)]="data.codigoSniffsDescripcion"
                                  [value]="codigoConforme"
                                  (onClick)="cambioDetalle(data)"
                                ></p-radioButton>
                                <label class="mr-2 pl-1 pointer"
                                  >Conforme</label
                                >
                              </div>
                            </td>
                            <td
                              style="width: 15%; border-left: 1px solid #eee;"
                            >
                              <div class="p-field-radiobutton d-inline-full">
                                <p-radioButton
                                  [(ngModel)]="data.codigoSniffsDescripcion"
                                  [value]="codigoObservado"
                                ></p-radioButton>
                                <label class="mr-2 pl-1 pointer"
                                  >Observado</label
                                >
                              </div>
                            </td>
                            <td
                              style="width: 15%; border-left: 1px solid #eee;"
                            >
                              <div
                                *ngIf="
                                data.codigoSniffsDescripcion == codigoObservado
                              "
                              >
                                <label class="label"
                                  >(máx. 250 caracteres):*</label
                                >
                                <textarea
                                  maxlength="250"
                                  rows="3"
                                  class="form-control"
                                  [(ngModel)]="data.observacion"
                                >
                                </textarea>
                              </div>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                </ng-template>
              </p-table>
            </div>

            <div *ngIf="data.lastbody1">
              {{ data.lastbody1 }}
            </div>

            <button
              class="my-3 btn-primary2"
              (click)="registrarEvaluacion(data.codigo)"
            >
              Guardar Evaluación
            </button>
          </p-accordionTab>
        </div>
      </div>
    </p-accordion> -->
  </p-accordionTab>
</p-accordion>

<div class="step__btn mt-4">
  <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
  <button class="btn-primary2" (click)="mostrarLista()" *ngIf="false">
    Guardar Evaluación
  </button>
  <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
</div>
<br />
