<div class="container-fluid p-0">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title">REGISTRO DE CALIFICACIONES POR SOLICITUD</h3>
    </div>
  </div>
  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <div class="container-fluit mt-4">
        <div class="row m-0">
          <div class="col-12">
            <p-accordion>
              
              
              <p-accordionTab header="Listado de Nuevas Solicitudes a la Solicitud N° {{idPFDM}}" [selected]="true">

                <div class="col-12 mt-4 mb-3">
                  <p-table [value]="listaPropuesta">
                    <ng-template pTemplate="header">
                      <tr>
                        <th>ID</th>
                        <th>Tipo Modalidad</th>
                        <th>Solicitante</th>
                        <th>N. Doc. Solicitante</th>
                        <th>Estado Solicitud</th>
                        <th>Registrar Calificación</th>
                        <th>Puntaje Obtenido</th>
                        <th *ngIf="isCalificacionFinalizada">Puntaje Final</th>
                        <th>Orden Puntaje</th>
                        

          
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                      <tr>
                        
                        <td>{{data.idConcesion}}</td>
                        <td>{{data.descripcionModalidad}}</td>
                        <td>{{data.nombreSolicitanteUnico}}</td>
                        <td>{{data.numeroDocumentoSolicitante}}</td>
                        <td>{{data.estadoSolicitudTexto}}</td>
                        <td class="text-center mr-1">
                          <span class="pointer"><i class="pi pi-file" title="Evaluar Propuesta"
                              (click)="btnEvalPropuesta(data.idConcesion,2)"></i></span>
                        </td>
                        <td>{{data.puntajeObtenido}}</td>
                        <td *ngIf="isCalificacionFinalizada">{{data.puntajeTotal}}</td>

                        <td>{{data.ordenPuntaje}}</td>
                        
                      </tr>
                    </ng-template>
                  </p-table>


                  





                  <!-- <p-paginator [rows]="10" [totalRecords]="optionPage.totalRecords" (onPageChange)="loadData($event)"
                    [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Total : {totalRecords} registros">
                  </p-paginator> -->
                </div>
                
                <div *ngIf="hayEmpate || !isCalificacionFinalizada " class="col-sm-6 my-2 form-group text-left">
                  <button [disabled]= "isCalificacionFinalizada" class="btn btn-sm btn-primary2" (click)="btnEvaluarEmpate()">Validar Empate</button>
                </div>
                <div>
                  <p-table  *ngIf="mostrarListaEmpate" 
                   [value]="listaEmpate">
                    <ng-template pTemplate="header">
                      <tr>
                        <th>ID</th>
                        <th>Puntaje Obtenido</th>
                        <th>Nro. Actividades Complementarias</th>
                        <th>Capacidad Financiera (S/.)</th>
                        <th>Puntaje Final</th>


                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                      <tr>
                        <td>{{data.idConcesion}}</td>
                        <td>{{data.puntajeObtenido}}</td>
                        <td>{{data.actividadComplementaria}}</td>
                        <td>{{data.capacidadFinanciera}}</td>
                        <td>{{data.puntajeFinalObtenido}}</td>


                      </tr>
                    </ng-template>
                  </p-table>

                </div>

                <div class="col-sm-6 my-2 form-group text-left">
                  <button class="btn-primary2 ml-0" (click)="btnFinalizarCalificacion()" 
                    [disabled]="isCalificacionFinalizada">Finalizar Calificación
                  </button>
                </div>


                <div class="panelk br10 mt-3 p-2" *ngIf="mostrarCargaInforme">
                  <div class="row m-0">
                    <div class="col-12">
                      <label class="title2">Generar informe de resultados de evaluación de propuestas</label>
                    </div>
                    <div class="col-12 col-sm-3 form-group">
                      <label class="label">Descargar Plantilla</label>
                      <div>
                        <button class="btn btn-secondary" [disabled]="isCalificacionFinalizada" (click)="btnDescargarPlant()" [disabled]="false">Descargar</button>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <app-carga-archivo-general label="Adjuntar" accept=".pdf, .png .jpg" [tipoDoc]="'EvalProFinal'" [idArchivo]="idArchivoInformeFinal"
                      [disabled]="isCalificacionFinalizada" (registrarArchivo)="registrarArchivo($event)"
                        (eliminarArchivo)="eliminarArchivo($event)">
                      </app-carga-archivo-general>
                    </div>
                    <div class="col-12 col-sm-3">
                      <label class="label">&nbsp;</label>
                      <div>
                        <button (click)="btnGuardarInforme()" [disabled]="isCalificacionFinalizada"  class="btn btn-primary2">Guardar Informe</button>
                      </div>
                    </div>

                  </div>
                </div>

              </p-accordionTab>
              
            </p-accordion>
          </div>
        </div>
      </div>
      
      
      
      
      
      
      <p-toast position="bottom-center" key="an1"></p-toast>
      

    </div>
  </div>
</div>
<p-confirmPopup></p-confirmPopup>
