<div class="row pt-3">
  <div class="col-12 p-0 pt-2 text-right">
    <button (click)="openModalFauna()" class="btn btn-sm btn-default mb-2" type="button" title="Agregar"
      [disabled]="disabled">
      <i class="pi pi-plus"></i>
    </button>
  </div>

  <div class="col-12 p-0 pt-2">
    <p-table [value]="selecFaunas">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre común</th>
          <th>Nombre científico</th>
          <th>Familia</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td>{{data.nombreComun}}</td>
          <td>{{data.nombreCientifico}}</td>
          <td>{{data.familia}}</td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)"
      [showCurrentPageReport]="true" currentPageReportTemplate="Total : {totalRecords} registros"
      [rowsPerPageOptions]="[10, 25, 50]">
    </p-paginator>
  </div>
</div>
