<div class="mt-4 mb-4 ml-2">
  <p-accordion>

    <div *ngFor="let listado of observaciones; let index= index">
      <p-accordionTab [selected]="false" [header]="listado.title">
        
          <p-table [value]="listado.list" responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr>
                <th  style="max-width: 50px;">Acciones</th>
                <th>Listado de observaciones</th>
                <th>Revisar</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td  style="max-width: 50px;">
                  <span class="pointer mr-3" 
                    ><i class="pi pi-eye" title="Editar"></i
                  >
                  <!-- (click)="editarObservacion(data, rowIndex, index)" -->
                </span>
                </td>
                <td>{{ data.observaciones }}</td>
                <td>
                  <div class="mb-2">
                    <div class="p-field-radiobutton d-inline-full">
                      <p-radioButton
                        [(ngModel)]="data.revisar"
                        [value]="'S'"
                      ></p-radioButton>
                      <label class="mr-2 pl-1 pointer">Si</label>
                    </div>
                    <div class="p-field-radiobutton d-inline-full">
                      <p-radioButton
                        [(ngModel)]="data.revisar"
                        [value]="'N'"
                      ></p-radioButton>
                      <label class="mr-2 pl-1 pointer">No</label>
                    </div>
          
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        
  
        <div class="step__btn mt-4 mb-4">
          <button class="btn btn-sm btn-primary2 mr-2">Registrar observación</button>
          
        </div>

        <div  class="form-group">
          <label class="label">Anotaciones</label>
        
          <div>
            <textarea
              type="text"
              class="form-control form-control-sm"
              cols="3"
              rows="4"
              [(ngModel)]="listado.anotacion"
              maxlength="250"
            ></textarea>
          </div>
        </div>

        <div class="step__btn mt-4">
          <button class="btn btn-sm btn-primary2 mr-2">Guardar</button>
        </div>


      </p-accordionTab>

    </div>
  </p-accordion>
</div>

<div class="step__btn mt-4">
  <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
  <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
</div>


<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>


<p-dialog
  header="¿Está seguro de seguro de Remitir la solicitud sobre el levantamiento de observaciones?"
  appendTo="body"
  [(visible)]="verRemitir"
  [modal]="true"
  [style]="{ width: '25vw' }"
  [maximizable]="false"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      pButton
      pRipple
      type="button"
      label="Si"
      class="p-button-success p-button-outlined"
      style="width: 106px"
      
    ></button>
    <button
      icon="pi pi-times"
      (click)="verRemitir = false"
      pButton
      pRipple
      type="button"
      label="No"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Editar observación"
  appendTo="body"
  [(visible)]="verEditarObservacion"
  [modal]="true"
  [style]="{ width: '25vw' }"
  [maximizable]="false"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
>

<ng-template pTemplate="content">

  <div  class="form-group">
  <label class="label">Observación:*</label>

  <div>
    <textarea
      type="text"
      class="form-control form-control-sm"
      cols="3"
      rows="4"
      [(ngModel)]="observacion"
      maxlength="250"
    ></textarea>
  </div>
</div>

</ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
      style="width: 106px"
      
    ></button>
    <button
      icon="pi pi-times"
      (click)="verEditarObservacion = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>