<div class="container-fluit pt-4">
    <div class="row m-0">
        <div class="col-12">
            <p-accordion>
                <p-accordionTab header="5.1 Aprovechamiento de Recursos Forestales Diferentes a la Madera" [selected]="true">
                    <!--div class="row">
                        <div class="col-12 text-right">
                            <button (click)="openModal(null,'C')"class="btn btn-sm btn-default button-more mb-2" type="button" title="Agregar">
                                <i class="pi pi-plus"></i>
                            </button>                            
                        </div>
                    </div-->
                    <div class="row">
                        <div class="col-12 mt-3">
                            <p-table [value]="lstData" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                            currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[5,10, 25, 50]" 
                            [totalRecords]="lstData.length">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <!--th rowspan="2">Acciones</th-->
                                        <th class="text-center" colspan="2">Especie</th>
                                        <th rowspan="2">N° de individuos</th>
                                        <th rowspan="2">Área productiva (m2)</th>
                                        <th rowspan="2">Producto a extraer (Nombre)</th>
                                        <th colspan="2" class="text-center">Producción aprovechable</th>
                                    </tr>
                                    <tr>
                                        <th style="min-width: 130px;">Nombre común</th>
                                        <th style="min-width: 130px;">Nombre Científico</th>
                                        <th>Unidad de medida</th>
                                        <th>Cantidad de producto</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-data>
                                    <tr>
                                        <!--td>
                                            <span class="pointer mr-1" title="Editar" (click)="openModal(data,'E')">
                                                <i class="pi pi-pencil"></i>
                                            </span>
                                            <span class="pointer" title="Eliminar" (click)="openEliminar($event,data)">
                                                <i class="pi pi-trash"></i>
                                            </span>
                                        </td-->
                                        <td>{{data.nombreComun}}</td>
                                        <td>{{data.nombreCientifico}}</td>
                                        <td>{{data.nroIndividuo}}</td>
                                        <td>{{data.areaProductiva}}</td>
                                        <td>{{data.productoExtraer}}</td>
                                        <td>{{data.unidadMedida}}</td>
                                        <td>{{data.cantidadProducto}}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr>
                                        <td colspan="2" class="text-left">TOTAL</td>
                                        <td>{{individuosTotal}}</td>
                                        <td>{{areaTotal}}</td>
                                        <td></td>
                                        <td></td>
                                        <td>{{productosTotal}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>

                        <div class="col-12 mt-3">
                            <label class="lbl-info mt-3 mb-3">{{msjListaDemac}}</label>
                        </div>
                    </div>
                    
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
    <br>
</div>

<p-dialog appendTo="body" header="{{tituloModalMantenimiento}}" [(visible)]="verModalMantenimiento" [modal]="true" [style]="{width: '40vw'}" [maximizable]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="true">
    <ng-template pTemplate="content">
        <form [formGroup]='MantenedorFormulario' novalidate>
            <div class="form-group">
                <label class="label">Nombre común</label>
                <input formControlName="nombreComun"  type="text" class="form-control"  placeholder="" > 
                <mensaje-error-control [control]="MantenedorFormulario.controls['nombreComun']"></mensaje-error-control>
            </div>
            <div class="form-group">
                <label class="label">Nombre Científico</label>
                <input formControlName="nombreCientifico"  type="text" class="form-control"  placeholder="" > 
                <mensaje-error-control [control]="MantenedorFormulario.controls['nombreCientifico']"></mensaje-error-control>
            </div>
            <div class="form-group">
                <label class="label">N° de individuos</label>
                <input mask="0*" formControlName="nroIndividuo"  type="text" class="form-control"  placeholder="000" > 
                <mensaje-error-control [control]="MantenedorFormulario.controls['nroIndividuo']"></mensaje-error-control>
            </div>
            <div class="form-group">
                <label class="label">Área productiva (m2)</label>
                <input mask="0*" formControlName="areaProductiva"  type="text" class="form-control"  placeholder="000" > 
                <mensaje-error-control [control]="MantenedorFormulario.controls['areaProductiva']"></mensaje-error-control>
            </div>
            <div class="form-group">
                <label class="label">Producto a extraer (Nombre)</label>
                <input formControlName="productoExtraer"  type="text" class="form-control"  placeholder="" > 
                <mensaje-error-control [control]="MantenedorFormulario.controls['productoExtraer']"></mensaje-error-control>
            </div>
            <div class="form-group">
                <label class="label">Unidad de medida</label>
                <input formControlName="unidadMedida"  type="text" class="form-control"  placeholder="000" > 
                <mensaje-error-control [control]="MantenedorFormulario.controls['unidadMedida']"></mensaje-error-control>
            </div>
            <div class="form-group">
                <label class="label">Cantidad de producto</label>
                <input mask="0*" formControlName="cantidadProducto"  type="text" class="form-control"  placeholder="" > 
                <mensaje-error-control [control]="MantenedorFormulario.controls['cantidadProducto']"></mensaje-error-control>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer" >            
        <button icon="pi pi-save" (click)="guardarRegistro()"  pButton pRipple type="button" label="Guardar" class="p-button-success p-button-outlined"></button>
        <button icon="pi pi-times" (click)="verModalMantenimiento=false" pButton pRipple type="button" label="Cancelar" class="p-button-danger p-button-outlined"></button>
    </ng-template>
</p-dialog>


