<div class="col-12">
  <div class="row col-12">
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Actividad</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="categoriaZonificacionObjt.categoria"
      />
    </div>
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Uso potencial</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="categoriaZonificacionObjt.usoPotencial"
      />
    </div>
  </div>

  <div class="row col-12">
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Actividades</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="categoriaZonificacionObjt.actividades"
      />
    </div>
  </div>


  <div class="col-12">
    <button class="btn btn-sm btn-secondary" (click)="agregar()">Enviar</button>
  </div>
</div>
<p-toast position="bottom-center" key="tl"></p-toast>
