.container {
  color: green;
  text-align: center;
}
.containerError {
  color: red;
  text-align: center;
}
.disabled-button {
  background: #92c57e;
  color: white;
  border-radius: 10px;
  border: 0;
  padding: 4px 14px;
  font-size: 11px;
  min-width: 120px;
  min-height: 32px;
  border-radius: 20px;
  margin: 0 10px;
}


.class1 {
  color: rgb(236, 108, 85);
}
.class2 {
  color: rgb(39, 151, 39);
}
