<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="Formulario" [selected]="true">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12">
                <p-table [value]="listProcesos">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Item</th>
                      <th>Estado</th>
                      <th class="text-center">Conformidad</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data>
                    <tr>
                      <td class="text-left">{{data.label}}</td>
                      <td
                        [ngClass]="{ class1: data.estado == 'Pendiente',class2: data.estado == 'Terminado'}"
                      >
                        {{data.estado}}
                      </td>
                      <td class="text-center">
                        <p-checkbox
                          [(ngModel)]="data.marcar"
                          [binary]="true"
                          (onChange)="seleccionarFirma($event,data)"
                          [disabled]="isDisbledObjFormu"
                        ></p-checkbox>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
            <div class="step__btn mt-4">
              <button class="btn-primary2" (click)="guardarEstados()" [disabled]="isDisbledObjFormu">
                Guardar
              </button>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Generar" [selected]="true">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-10">
                <div>
                  <label class="label fz-11 m-0"
                    >Generar Formato Compilado - PGMF</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-2">
                <button
                  class="btn btn-sm btn-secondary f-w"
                  type="button"
                  (click)="consolidadoPGMF_PDF()"
                  [disabled]="verPGMF || isDisbledObjFormu"
                >
                  Generar PGMF
                </button>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Descargar" [selected]="true">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-10">
                <div>
                  <label class="label fz-11 m-0"
                    >Descargar Plan de Manejo Forestal -
                    PGMF.</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-2">
                <button
                  class="btn btn-sm btn-secondary f-w"
                  type="button"
                  (click)="descargarPGMF()"
                  [disabled]="verDescargaPGMF || isDisbledObjFormu"
                >
                  Descargar
                </button>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Adjuntar" [selected]="true">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-8">
                <div>
                  <label class="label fz-11 m-0"
                    >Adjuntar Plan de Manejo Forestal firmado ( Solo archivos pdf )</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <input-buttons-codigo
                  [label]="''"
                  accept=".pdf"
                  [idPlanManejo]="idPGMF"
                  [idTipoDocumento]="'PGMFCONS'"
                  [codigoProceso]="CodigoProceso.PLAN_GENERAL_MANEJO_FORESTAL"
                  (registrarArchivoId)="registrarArchivoId($event, 1)"
                  (eliminarArchivoId)="eliminarArchivoId($event, 1)"
                >
                </input-buttons-codigo>
              </div>
            </div>
          </div>

          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-8">
                <div>
                  <label class="label fz-11 m-0"
                    >Adjuntar Plan de Contingencia (opcional) ( Solo archivos pdf )</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <input-buttons-codigo
                  [label]="''"
                  accept=".pdf"
                  [idPlanManejo]="idPGMF"
                  [idTipoDocumento]="'PGMFDOCCONTIN'"
                  [codigoProceso]="CodigoProceso.PLAN_GENERAL_MANEJO_FORESTAL"
                  (registrarArchivoId)="registrarArchivoId($event, 2)"
                  [disabled]="isDisbledObjFormu"
                >
                </input-buttons-codigo>
              </div>
            </div>
          </div>
        </p-accordionTab>
       <!-- Se comenta temporalmente a pedido de julio-->
       <p-accordionTab header="Adjuntar Requisitos TUPA" [selected]="true">
          <div class="col-12 mt-4 mb-3">

            <tabla-documentos [canLoad]="!isDisbledObjFormu" [edit]="!isDisbledObjFormu" [fileList]="fileList" [idPlanManejo]="idPGMF" [label]="'Requisito TUPA'" [descripcion]="false"
              (registrarArchivo)="registrarArchivo($event)" (actualizarArchivo)="actualizarArchivo($event)"
              (elimArchivo)="listarArchivosPlan()" [verObservacion]="isVerObservacion"
              ></tabla-documentos>

          </div>
        </p-accordionTab>
     
      </p-accordion>
      <p>&nbsp;</p>
      <button [ngClass]="bloquearBtnEnviar ? 'disabled-button': 'btn-primary2'"
       (click)="enviarSolicitud()" [disabled]="bloquearBtnEnviar || isDisbledObjFormu">Enviar</button>
      <p>&nbsp;</p>
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-right" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<p-toast position="top-right" key="tr"></p-toast>
