<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 mt-3">
      <h3 class="title">Procesos de Postulación Pendientes de Generación de Contrato</h3>
    </div>

    <div class="col-12 mt-4 mb-3">
      <div class="panelk br10 p-3">
        <div class="row">
          <div class="col-12 col-sm-6 form-group">
            <label class="label">Tipo Documento de Gestión:</label>
            <div class="form-control-selectk">
              <p-dropdown class="fomr-control" placeholder="Seleccione" optionValue="codigo" optionLabel="valorPrimario"
                [options]="comboDocGestion" [(ngModel)]="selectTipoDocGestion">
              </p-dropdown>
            </div>
          </div>
          <div class="col-12 col-sm-6 mb-2 form-group">
            <label class="label">N° Documento Gestión:</label>
            <div class="form-control-selectk">
              <input class="form-control" type="number" numero [(ngModel)]="selectedIdProceso" autocomplete="off"
                placeholder="Ingrese N° de Documento Gestión" />
            </div>
          </div>
          <!-- <div class="col-sm-12 col-md-4 mb-2 form-group">
            <label class="label">Estado Postulación:</label>
            <div class="form-control-selectk">
              <p-dropdown class="fomr-control" [options]="listEstadoPostu" optionLabel="descripcion" placeholder="Seleccione"
                optionValue="idStatusProceso" [(ngModel)]="selectedEstadoPostu"></p-dropdown>
            </div>
          </div> -->
          <div class="col-sm-12 mt-3 mb-2 form-group text-center">
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnLmipiar()">Limpiar</button>
            <button class="btn btn-sm btn-secondary" (click)="btnBuscar()">Buscar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 mt-3">
      <p-table [value]="listaResultadoPP">
        <ng-template pTemplate="header">
          <tr>
            <th>Acciones</th>
            <th>Tipo Doc. Gestión</th>
            <th>N° Doc. Gestión</th>
            <th>Estado Postulación</th>
            <th>Usuario Postulación</th>
            <th>Fecha Postulación</th>
            <th>Estado</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-obj>
          <tr>
            <td class="text-center">
              <a style="cursor: pointer;" (click)="modalGenerarContrato(obj)" title="Editar"> <i
                  class="pi pi-pencil"></i> </a>
            </td>
            <td>{{obj.tipoDocumentoGestionDescripcion}}</td>
            <td>{{obj.documentoGestion}}</td>
            <td>{{obj.estadoTexto}}</td>
            <td>{{obj.nombreUsuarioPostulacion}}</td>
            <td>{{obj.fechaPostulacionString}}</td>
            <td>{{obj.ganador == null ? "Pendiente envió resolución" :obj.ganador == true ? "Ganador" : "Perdedor" }}
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)"
        [showCurrentPageReport]="true" currentPageReportTemplate="Total : {totalRecords} registros"
        [rowsPerPageOptions]="[10,25,50]"></p-paginator>

    </div>

    <div class="col-12 mt-3 mb-3">
      <button class="btn btn-sm btn-primary2" (click)="btnRegresar()" type="button">Regresar</button>
    </div>

  </div>
</div>

<p-toast position="top-right" key="tr"></p-toast>
