<div class="mt-4 mb-4">
  <p-panel
    header="Validación de Requisitos Presentados y TUPA"
    [toggleable]="false"
  >
    <div class="form-group row m-0 mb-2">
      <label
        for="inputPassword"
        class="col-sm-10 pl-0 col-form-label label fz-15"
        >Lista de requisitos TUPA</label
      >
      <div class="col-sm-2 text-center" *ngIf="false">
        <span (click)="verModalMantenimiento = true" class="pointer btn-plus-x"
          ><i class="pi pi-plus-circle"></i
        ></span>
      </div>
    </div>

    <div class="row m-0">
      <div class="col-12">
        <div class="table">
          <p-table
            [value]="listadoTupa"
            [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Total : {totalRecords} registros"
            [rowsPerPageOptions]="[10, 25, 50]"
            [lazy]="true"
            (onLazyLoad)="loadMesaPartes($event)"
            [totalRecords]="listadoTupa.length"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Accion</th>
                <th>Requisito</th>
                <th>Adjunto</th>
                <th>Archivo</th>
                <th>Conforme</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td>
                  <span class="mr-1" disabled="true"
                    ><i class="pi pi-trash"></i
                  ></span>
                  <span class="ml-1" disabled="true"
                    ><i class="pi pi-pencil"></i
                  ></span>
                </td>
                <td>{{ data.requisito }}</td>
                <td>{{ data.descripcion }}</td>
                <td>
                  <a href="/assets/sample.pdf" download target="_blank"
                    ><i class="pi pi-download"></i
                  ></a>
                  <!--<span class="pointer text-center" (click)="descargaArchivo(400)"
                    ><i class="pi pi-download"></i
                  ></span>-->
                </td>
                <td>
                  <div class="p-field-radiobutton d-inline-full">
                    <p-radioButton
                      [(ngModel)]="data.conforme"
                      name="esObservado_{{ rowIndex }}"
                      id="obserSI_{{ rowIndex }}"
                      [value]="'true'"
                      (onClick)="changeConforme('SI')"
                      [disabled]="
                        codEstadoConforme ==
                          codigoEdoMesaPartesEvaluacion.COMPLETADO ||
                        codEstadoConforme ==
                          codigoEdoMesaPartesEvaluacion.NO_PRESENTADO ||
                        codEstadoConforme ==
                          codigoEdoMesaPartesEvaluacion.OBSERVADO
                      "
                    ></p-radioButton>
                    <label
                      class="mr-2 pl-1 pointer"
                      for="obserSI_{{ rowIndex }}"
                      >SI</label
                    >
                  </div>
                  <div class="p-field-radiobutton d-inline-full">
                    <p-radioButton
                      [(ngModel)]="data.conforme"
                      name="esObservado_{{ rowIndex }}"
                      id="obserNO_{{ rowIndex }}"
                      [value]="'false'"
                      (onClick)="changeConforme('NO')"
                      [disabled]="
                        codEstadoConforme ==
                          codigoEdoMesaPartesEvaluacion.COMPLETADO ||
                        codEstadoConforme ==
                          codigoEdoMesaPartesEvaluacion.NO_PRESENTADO ||
                        codEstadoConforme ==
                          codigoEdoMesaPartesEvaluacion.OBSERVADO
                      "
                    ></p-radioButton>
                    <label
                      class="mr-2 pl-1 pointer"
                      for="obserNO_{{ rowIndex }}"
                      >NO</label
                    >
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <div class="col-12">
      <label
        *ngIf="pendiente"
        class="lbl-info mt-3 mb-3"
        style="float: none !important"
      >
        (Los cambios locales se guardarán pulsando el botón "Guardar".)
      </label>
    </div>
  </p-panel>

  <p-panel header="Evaluación" [toggleable]="false">
    <div class="col-12 m-0">
      <div class="row m-0">
        <div class="col-12">
          <label class="label fz-12">Evaluación</label>
        </div>
        <div class="col-4">
          <div class="col-12">
            <div class="row m-0 mt-4">
              <div
                class="p-field-radiobutton col-4 aling-items-center"
                style="display: flex; align-items: center"
              >
                <p-radioButton
                  [(ngModel)]="evaluacion.conforme"
                  name="esObservado"
                  id="obserNo"
                  [value]="true"
                  [disabled]="
                    true ||
                    codEstadoConforme ==
                      codigoEdoMesaPartesEvaluacion.COMPLETADO ||
                    codEstadoConforme ==
                      codigoEdoMesaPartesEvaluacion.NO_PRESENTADO ||
                    codEstadoConforme == codigoEdoMesaPartesEvaluacion.OBSERVADO
                  "
                ></p-radioButton>
                <label class="mr-2 pl-1 pointer" for="obserNo">Conforme</label>
              </div>
              <div class="col-6 justify-content-start">
                <button
                  [disabled]="
                    evaluacion.conforme == undefined ||
                    evaluacion.conforme == false ||
                    codEstadoConforme ==
                      codigoEdoMesaPartesEvaluacion.COMPLETADO ||
                    codEstadoConforme ==
                      codigoEdoMesaPartesEvaluacion.NO_PRESENTADO ||
                    codEstadoConforme == codigoEdoMesaPartesEvaluacion.OBSERVADO
                  "
                  class="btn-primary2"
                  (click)="guardarMesaPartes()"
                  style="margin: 0"
                >
                  Enviar a evaluación
                </button>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row m-0 mt-4">
              <div
                class="p-field-radiobutton col-4 aling-items-center"
                style="display: flex; align-items: center"
              >
                <p-radioButton
                  [(ngModel)]="evaluacion.conforme"
                  name="esObservado"
                  id="obserSI"
                  [value]="false"
                  [disabled]="
                    true ||
                    codEstadoConforme ==
                      codigoEdoMesaPartesEvaluacion.NO_PRESENTADO ||
                    codEstadoConforme == codigoEdoMesaPartesEvaluacion.OBSERVADO
                  "
                ></p-radioButton>
                <label class="mr-2 pl-1 pointer" for="obserSI">Observado</label>
              </div>

              <div class="col-6 justify-content-start">
                <button
                  [disabled]="
                    evaluacion.conforme == undefined ||
                    evaluacion.conforme == true ||
                    codEstadoConforme ==
                      codigoEdoMesaPartesEvaluacion.NO_PRESENTADO ||
                    codEstadoConforme == codigoEdoMesaPartesEvaluacion.OBSERVADO
                  "
                  class="btn-danger"
                  (click)="guardarMesaPartes()"
                >
                  Solicitar Subsanación
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-8">
          <div
            class="col-12 mt-3"
            *ngIf="
              !evaluacion.conforme &&
              evaluacion.conforme !== null &&
              evaluacion.conforme !== undefined
            "
          >
            <label class="label fz-12">Observación</label>
            <textarea
              cols="3"
              rows="2"
              class="form-control form-control-sm"
              placeholder="Ingrese observación."
              [(ngModel)]="evaluacion.observacion"
              [value]="evaluacion.observacion"
              [disabled]="
                codEstadoConforme ==
                  codigoEdoMesaPartesEvaluacion.NO_PRESENTADO ||
                codEstadoConforme == codigoEdoMesaPartesEvaluacion.OBSERVADO
              "
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </p-panel>
</div>
<p-toast></p-toast>
<p-dialog
  appendTo="body"
  header="Agregar requisitos TUPA"
  [(visible)]="verModalMantenimiento"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div>
      <div class="form-group">
        <label class="label">Requisito</label>
        <div class="row">
          <div class="col-sm-10">
            <input
              type="text"
              disabled
              class="form-control"
              placeholder=""
              [(ngModel)]="queryFauna"
            />
          </div>
          <div class="col-sm-2">
            <div class="form-control-selectk">
              <button
                (click)="abrirModalEspecieFauna()"
                pButton
                pRipple
                type="button"
                abel=""
                class="p-button-success"
              >
                Buscar
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="label">Conforme</label>
        <div>
          <div class="p-field-radiobutton">
            <p-radioButton
              name="conforme"
              value="true"
              inputId="conformeSI"
            ></p-radioButton>
            <label class="pointer" for="conformeSI">Si</label>
          </div>
          <div class="p-field-radiobutton">
            <p-radioButton
              name="conforme"
              value="fale"
              inputId="conformeNO"
            ></p-radioButton>
            <label class="pointer" for="conformeNO">No</label>
          </div>
        </div>
      </div>
      <upload-input-buttons
        [file]="archivoAdjunto"
        [label]="'Adjuntar sustento'"
        [disabled]="false"
        style="height: 32px"
      >
      </upload-input-buttons>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
      style="width: 106px"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verModalMantenimiento = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
      style="width: 106px"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Seleccionar Requisito"
  appendTo="body"
  [(visible)]="verModalFauna"
  [modal]="true"
  [style]="{ width: '60vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row m-0">
      <div class="col-12 col-sm-9">
        <div class="form-group">
          <label class="label">Nombre Requisito </label>
          <div class="form-control-selectk">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar..."
              [(ngModel)]="queryFauna"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="form-group">
          <label class="label">&nbsp;&nbsp;</label>
          <div class="text-center">
            <button type="button" class="btn-primary2" (click)="filtrarFauna()">
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12">
        <p-table
          [value]="listProcedimientosAdministrativos"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} "
          [lazy]="true"
          (onLazyLoad)="lazyLoadProcedimiento($event)"
          [totalRecords]="listProcedimientosAdministrativos.length"
          [rowsPerPageOptions]="[10, 25, 50]"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Código</th>
              <th>Procedimiento Administrativo</th>
              <th>Ubigeo</th>
              <th>Seleccionar</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{ data.codigoProcedimiento }}</td>
              <td>{{ data.procedimientoAdministrativo }}</td>
              <td>{{ data.ubigeo }}</td>
              <td class="text-center">
                <i
                  class="pi pi-arrow-circle-right pointer"
                  title="Seleccionar"
                  aria-hidden="true"
                  (click)="seleccionarProcedimiento(data)"
                >
                </i>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <br />
      <br />
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-times"
      (click)="verModalFauna = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
