<div class="row">
  <div class="form-group col-12">
    <label class="label">Operaciones</label>
    <input
      type="text"
      [(ngModel)]="context.operaciones"
      class="form-control"
      placeholder=""
      maxlength="100"
    />
  </div>
  <div class="form-group col-12">
    <label class="label">Unidad</label>
    <input
      type="text"
      [(ngModel)]="context.unidad"
      class="form-control"
      placeholder=""
      maxlength="100"
    />
  </div>
  <div class="form-group col-12">
    <label class="label">Características técnicas y planificación </label>
    <input
      type="text"
      [(ngModel)]="context.carcteristicaTec"
      class="form-control"
      placeholder=""
      maxlength="100"
    />
  </div>
  <div class="form-group col-12">
    <label class="label">Personal</label>
    <input
      type="text"
      [(ngModel)]="context.personal"
      class="form-control"
      placeholder=""
      maxlength="100"
    />
  </div>
  <div class="form-group col-12">
    <label class="label">Maquinaria, equipos y materiales</label>
    <input
      type="text"
      [(ngModel)]="context.maquinariaMaterial"
      class="form-control"
      placeholder=""
      maxlength="100"
    />
  </div>
</div>
<div class="d-flex justify-content-end">
  <button
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
    label="Aceptar"
    class="p-button-success p-button-outlined"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
  ></button>
</div>
<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
