<div class="panelk br10 mt-3 p-2">
  <div class="row m-0">
    <div class="col-12">
      <label class="title2">Evaluación</label>
    </div>

    <ng-container *ngIf="isLayout2">
      <div class="col-12 col-sm-4 mt-3 form-group">
        <button class="btn btn-secondary" (click)="btnValidarSuperPos()" [disabled]="disabled">Validar Superposición en Mapa</button>

      </div>
      <div class="col-12 col-sm-8 form-group">
        <div class="nota">
          <b>Nota:</b>
          <p>1-Los resultados de la superposición se verán en el mapa superior.</p>
          <p>2-Los resultados de la superposición no se guardan, se validan en el momento.</p>
          <p>3-El único polígono que se valida será el principal, el cual cargado mediante el botón "Cargar Área".</p>
        </div>
      </div>

      <div class="col-12 form-group" *ngIf="isTM_Dominio">
        <button class="btn btn-secondary" (click)="btnSolInspOcular()" [disabled]="disabled || isEvaluacionCampo">Solicitar Inspección Ocular</button>
      </div>
    </ng-container>

    <div class="col-12 mt-3 form-group">
      <div class="p-field-radiobutton">
        <strong for="conformeid" class="label mr-2">Conforme</strong>
        <p-radioButton name="conforme" inputId="conformeid" [value]="true" [disabled]="disabled"
          [(ngModel)]="requestEvaluar.conforme">
        </p-radioButton>
      </div>
      <div class="p-field-radiobutton">
        <strong for="observadoid" class="label mr-2">Observado</strong>
        <p-radioButton name="conforme" inputId="observadoid" [value]="false" [disabled]="disabled"
          [(ngModel)]="requestEvaluar.conforme">
        </p-radioButton>
      </div>
    </div>
    <div *ngIf="requestEvaluar.conforme === false" class="col-12 form-group">
      <label class="label">Descripción de Observaciones <small>(máx. 250 caract.)</small>: *</label>
      <textarea autocomplete="off" class="form-control" cols="3" rows="4" maxlength="250"
        [(ngModel)]="requestEvaluar.observacion" [disabled]="disabled" sinSpacioInit pInputTextarea>
        </textarea>
        <div class="col-12 form-group mt-3">
          <button type="button" class="btn-primary2 ml-0" (click)="btnGuardar()" [disabled]="disabled">
            Guardar Evaluación
          </button>
        </div>
    </div>
    <div *ngIf="requestEvaluar.conforme === true" class="col-12 form-group">
        <div class="col-12 form-group mt-3">
          <button type="button" class="btn-primary2 ml-0" (click)="btnGuardar()" [disabled]="disabled">
            Guardar Evaluación
          </button>
        </div>
    </div>
    <div *ngIf="(isAparecer === true && requestEvaluar.conforme === false) || isSuperposicion === true ">
      <button class="btn btn-secondary" (click)="btnAlerta()" >
    Guardar Como Alerta
  </button>
</div>
  </div>
</div>
