.nota {
    padding: 5px 15px 15px 15px;
    border-radius: 5px;
    font-size: 11px;
    color: #4a962c;
    background-color: #dbf1d3;
  }
  
  .nota p {
    margin: 0;
    color: #287e04;
    font-size: 11px;
  }

  textarea {
    resize: none;
  }