<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="1.1. Nombre del propietario del predio" [selected]="true">
          <div class="row">
            <div class="col-12 pt-3">
              <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="requestPropietario.nombreCompleto " disabled>
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-12 pt-2">
              <button class="btn-primary2" (click)="btnGuardarPropietario()">Guardar</button>
            </div>
          </div> -->
        </p-accordionTab>

        <p-accordionTab header="1.2. Ubicación del predio">
          <div class="row m-0">
            <div class="col-12 col-sm-3" form-group>
              <label class="label">Departamento:</label>
              <div class="form-control-selectk">
                <p-dropdown appendTo="body" [options]="listDepartamento" optionValue="idDepartamento" placeholder="Seleccione"
                  optionLabel="nombreDepartamento" (onChange)="onSelectedProvincia($event)" [(ngModel)]="requestUbicacion.idDepartamentoTitular" [disabled]="disabledUbigeo">
                </p-dropdown>
              </div>
            </div>
            <div class="col-12 col-sm-3 form-group">
              <label class="label">Provincia:</label>
              <div class="form-control-selectk">
                <p-dropdown appendTo="body" [options]="listProvincia" optionLabel="nombreProvincia" placeholder="Seleccione"
                  optionValue="idProvincia" (onChange)="onSelectedDistrito($event)" [(ngModel)]="requestUbicacion.idProvinciaTitular" [disabled]="disabledUbigeo"></p-dropdown>
              </div>
            </div>
            <div class="col-12 col-sm-3 form-group">
              <label class="label">Distrito:</label>
              <div class="form-control-selectk">
                <p-dropdown appendTo="body" [options]="listDistrito" optionLabel="nombreDistrito" placeholder="Seleccione"
                  optionValue="idDistrito" [(ngModel)]="requestUbicacion.idDistritoTitular" [disabled]="disabledUbigeo"></p-dropdown>
              </div>
            </div>
            <div class="col-12 col-sm-3 form-group">
              <label class="label">Caserío, centro poblado o sector:</label>
              <input type="text" class="form-control" autocomplete="off" [(ngModel)]="requestUbicacion.cuenca" 
                sinSpacioInit maxlength="50"/>
            </div>
          </div>

          <div class="row m-0">
            <div class="col-12 mt-3">
              <button class="btn-primary2 ml-0" (click)="btnGuardarUbicacion()">Guardar</button>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab
          header="1.3. Puntos de ubicación en coordenadas UTM del predio (Zona..., Datum .., Horizontal...)">
          <app-map-custom-mpafpp #map [idPlanManejo]="idPlan" [codigoProceso]="codigoProceso"
            [codigoSubSeccion]="codigoSubSeccion" [tipoArchivoPunto]="codigoSubSeccion" [isShowBotonCargar]="false"
            [showBotonCargarCustom]="false" [showBotonCargarGeneral]="false" [showOnlyVertice]="true" (listVertices)="listarVertices($event)"
            (eliminarDetalleVertice)="eliminarDetalleVertice($event)" (areaTotal) ="calcularAreaTotal($event)">
          </app-map-custom-mpafpp>

          <div class="row m-0">
            <div class="col-12 col-sm-3 form-group">
              <label class="label">Zona:</label>
              <input type="text" class="form-control" autocomplete="off"  [(ngModel)]="requestUbicacion.zona"/>
            </div>
            <div class="col-12 col-sm-3 form-group">
              <label class="label">Datum:</label>
              <input type="text" class="form-control" autocomplete="off"  [(ngModel)]="requestUbicacion.datum"/>
            </div>
            <div class="col-12 col-sm-3 form-group">
              <label class="label">Horizontal:</label>
              <input type="text" class="form-control" autocomplete="off"  [(ngModel)]="requestUbicacion.horizontal"/>
            </div>
          </div>

          <div class="row m-0">
            <!-- <div class="col-12 mt-3">
              <button type="button" (click)="fileSHPInput.click()" class="btn btn-sm btn-secondary button-more">
                Cargar shape file
                <input #fileSHPInput type="file" [attr.data-zone]="'TPPUNTO'" (change)="onChangeFileSHP($event)"
                  style="display:none;" />
              </button>
            </div> -->
            <div class="col-12 mt-3">
              <p-table [value]="listVertices" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Punto</th>
                    <th>Este (E)</th>
                    <th>Norte (N)</th>
                    <th style="width: 180px;">Referencia</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-list>
                  <tr>
                    <td class="text-center">{{list.vertice}}</td>
                    <td>{{list.este}}</td>
                    <td>{{list.norte}}</td>
                    <td>
                      <input type="text" class="form-control bg-gray" [(ngModel)]="list.referencia" sinSpacioInit maxlength="50"/>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <div class="row">
            <div class="col-12 pt-2">
              <button type="button" class="btn-primary2" (click)="btnGuardarUbicacionUTM()">
                Guardar</button>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="1.4. Colindancia y límites del predio">
          <div class="row m-0">
            <div class="col-12">
              <p-table [value]="listaColindancia">
                <ng-template pTemplate="header">
                  <tr>
                    <th></th>
                    <th>Colindantes (precisar el nombre de las personas propietarias de predios con las que colinda)
                    </th>
                    <th>Limites (precisar el nombre del río, quebrada, camino u otros con los que limita) </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-fila>
                  <tr>
                    <td>{{fila.tipoColindancia}}</td>
                    <td>
                      <input class="form-control" type="text" autocomplete="off" placeholder="" sinSpacioInit maxlength="50" [(ngModel)]="fila.descripcionColindante"/>
                    </td>
                    <td>
                      <input class="form-control" type="text" autocomplete="off" placeholder="" sinSpacioInit maxlength="50" [(ngModel)]="fila.descripcionLimite"/>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>

          <div class="row m-0">
            <div class="col-12 mt-3">
              <button class="btn-primary2 ml-0" (click)="btnGuardarColindancia()">Guardar</button>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

  <br />
  <br />
</div>
