<div class="row m-0">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th>#</th>
                    <th>Creado</th>
                    <th>Estado</th>
                    <th>Observacion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of observacionesList; index as i">
                    <td>
                        <span (click)="OpenEditarRegistro(d)" class="pointer mr-1" title="ver">
                            <i class="pi pi-pencil"></i>
                        </span>
                        <span class="pointer" title="Eliminar" (click)="openEliminarRegistro($event,i)">
                            <i class="pi pi-trash"></i>
                        </span>
                    </td>
                    <td>{{d.tipodetalleanexo}}</td>
                    <td>{{d.descripcion}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>