.title__table {
  padding: 13px;
  font-size: 10px;
}

th.edit--th {
  padding: 0 !important;
  border: 0 !important;
  border-width: none;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.aling-container {
  display: flex;
  justify-content: space-between;
}

.titulo {
  font-size: 10px;
  font-family: "Montserrat";
}

.acciones {
  width: 100px;
  min-width: 80px;
}

.table-body {
  min-width: 120px;
}
