<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="2.1 Resumen de Actividades operativas en el PO">
          <div class="row">
            <div class="col-12 mt-4 mb-3">
              <p-table [value]="[{}]" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                  <tr>
                    <th colspan="2">
                      Resumen de actividades operativas en el PO
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-resumen>
                  <tr>
                    <td style="width: 40%; font-weight: bold">
                      N° Resolución que aprueba el PO
                    </td>
                    <td style="width: 60%">
                      <input
                        [(ngModel)]="resumeActividad_2_1.nroResolucion"
                        class="form-control"
                        placeholder="Ingrese n° resolución"
                        numero [disabled]="disabled"
                        [min]="0"
                        [maxLength]="9"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 40%; font-weight: bold">
                      Número de PC(s)
                    </td>
                    <td style="width: 60%">
                      <input
                        [(ngModel)]="resumeActividad_2_1.nroPcs"
                        class="form-control"
                        placeholder="Ingrese número de PC(s)"
                        numero
                        [min]="0" [disabled]="disabled"
                        [maxLength]="9"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 40%; font-weight: bold">Área (ha)</td>
                    <td style="width: 60%">
                      <input
                        [(ngModel)]="resumeActividad_2_1.areaHa"
                        class="form-control" [disabled]="disabled"
                        placeholder="Ingrese área (ha)"
                        numero
                        [min]="0"
                        [maxLength]="12"
                      />
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>

            <div class="col-12">
              <p-table [value]="listado_2" class="table-justify" [scrollable]="true"
              [style]="{width:'100%'}">
                <ng-template pTemplate="header">
                  <tr>
                    <th class="acciones">Acciones</th>
                    <th class="table-body">Actividad</th>
                    <th style="min-width: 500px;">
                      <div class="row">
                        <div class="col-4 titulo " style="width: 33%;"  >Indicadores</div>
                        <div class="col-4 titulo " style="width: 33%;">Programado</div>
                        <div class="col-4 titulo " style="width: 33%;">Realizado</div>
                      </div>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td class="pl-2 text-center" class="acciones">
                      <a
                        type="button"
                        class="pointer"
                        (click)="!disabled&& editarModal2_1(rowIndex, data)"
                        style="margin: 0 10px"
                        title="Editar Actividad"
                        ><i class="pi pi-pencil"></i
                      ></a>
                    </td>
                    <td class="table-body">
                      <label>{{ data.actividad }}</label>
                    </td>
                    <td style="min-width: 500px;">
                      <div class="row mb-2" *ngFor="let items of data.listResumenEvaluacion">
                        <div class="col-4 ">
                          <label
                            ><span
                              class="font-weight-bold"
                              style="font-size: 2em"
                              >.</span
                            >
                            {{ items.indicador }}</label
                          >
                        </div>
                        <div class="col-4 mt-1 mb-1 ">
                          <label>{{ items.programado }}</label>
                        </div>
                        <div class="col-4 mt-1 mb-1 ">
                          <label>{{ items.realizado }}</label>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <!--
            <div class="col-12">
              <p-table [value]="[{}]">
                <ng-template pTemplate="header">
                  <tr>
                    <th>
                      <span class="title__table"> Actividades </span>
                    </th>
                    <th class="edit--th">
                      <span class="title__table">Indicadores</span>
                      <span class="title__table">Programado</span>
                      <span class="title__table">Realizado</span>
                      <span class="title__table">Acciones</span>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td class="pl-2">Censo comercial</td>
                    <td>
                      <div
                        *ngFor="let data of censoIndicador"
                        class="row aling-container"
                        style="padding-bottom: 5px"
                      >
                        <div
                          class="col-3"
                          style="display: flex; align-items: center"
                        >
                          {{ data.indicador }}
                        </div>
                        <div class="col-3">
                          <input
                            [(ngModel)]="data.programado"
                            type="text"
                            class="form-control"
                            [maxLength]="100"
                          />
                        </div>
                        <div class="col-3">
                          <input
                            [(ngModel)]="data.realizado"
                            type="text"
                            class="form-control"
                            [maxLength]="100"
                          />
                        </div>
                        <div
                          class="col-1"
                          style="
                            display: flex;
                            justify-content: center;
                            align-items: center;
                          "
                        >
                          <a
                            type="button"
                            class="pointer"
                            title="Eliminar"
                            (click)="eliminar($event, rowIndex, data, 1)"
                          >
                            <i class="pi pi-trash"></i>
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="pl-2">Construcción de infraestructura</td>
                    <td>
                      <div
                        *ngFor="let data of infraIndicador"
                        class="row aling-container"
                        style="padding-bottom: 5px"
                      >
                        <div
                          class="col-3"
                          style="display: flex; align-items: center"
                        >
                          {{ data.indicador }}
                        </div>
                        <div class="col-3">
                          <input
                            [(ngModel)]="data.programado"
                            type="text"
                            class="form-control"
                            [maxLength]="100"
                          />
                        </div>
                        <div class="col-3">
                          <input
                            [(ngModel)]="data.realizado"
                            type="text"
                            class="form-control"
                            [maxLength]="100"
                          />
                        </div>
                        <div
                          class="col-1"
                          style="
                            display: flex;
                            justify-content: center;
                            align-items: center;
                          "
                        >
                          <a
                            type="button"
                            class="pointer"
                            title="Eliminar"
                            (click)="eliminar($event, rowIndex, data, 2)"
                          >
                            <i class="pi pi-trash"></i>
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="pl-2">Aprovechamiento</td>
                    <td>
                      <div
                        *ngFor="let data of aprovIndicador"
                        class="row aling-container"
                        style="padding-bottom: 5px"
                      >
                        <div
                          class="col-3"
                          style="display: flex; align-items: center"
                        >
                          {{ data.indicador }}
                        </div>
                        <div class="col-3">
                          <input
                            [(ngModel)]="data.programado"
                            type="text"
                            class="form-control"
                            [maxLength]="100"
                          />
                        </div>
                        <div class="col-3">
                          <input
                            [(ngModel)]="data.realizado"
                            type="text"
                            class="form-control"
                            [maxLength]="100"
                          />
                        </div>
                        <div
                          class="col-1"
                          style="
                            display: flex;
                            justify-content: center;
                            align-items: center;
                          "
                        >
                          <a
                            type="button"
                            class="pointer"
                            title="Eliminar"
                            (click)="eliminar($event, rowIndex, data, 3)"
                          >
                            <i class="pi pi-trash"></i>
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="pl-2">Silvicultura</td>
                    <td>
                      <div
                        *ngFor="let data of silvIndicador"
                        class="row aling-container"
                        style="padding-bottom: 5px"
                      >
                        <div
                          class="col-3"
                          style="display: flex; align-items: center"
                        >
                          {{ data.indicador }}
                        </div>
                        <div class="col-3">
                          <input
                            [(ngModel)]="data.programado"
                            type="text"
                            class="form-control"
                            [maxLength]="100"
                          />
                        </div>
                        <div class="col-3">
                          <input
                            [(ngModel)]="data.realizado"
                            type="text"
                            class="form-control"
                            [maxLength]="100"
                          />
                        </div>
                        <div
                          class="col-1"
                          style="
                            display: flex;
                            justify-content: center;
                            align-items: center;
                          "
                        >
                          <a
                            type="button"
                            class="pointer"
                            title="Eliminar"
                            (click)="eliminar($event, rowIndex, data, 4)"
                          >
                            <i class="pi pi-trash"></i>
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="pl-2">Protección</td>
                    <td>
                      <div
                        *ngFor="let data of protIndicador"
                        class="row aling-container"
                        style="padding-bottom: 5px"
                      >
                        <div
                          class="col-3"
                          style="display: flex; align-items: center"
                        >
                          {{ data.indicador }}
                        </div>
                        <div class="col-3">
                          <input
                            [(ngModel)]="data.programado"
                            type="text"
                            class="form-control"
                            [maxLength]="100"
                          />
                        </div>
                        <div class="col-3">
                          <input
                            [(ngModel)]="data.realizado"
                            type="text"
                            class="form-control"
                            [maxLength]="100"
                          />
                        </div>
                        <div
                          class="col-1"
                          style="
                            display: flex;
                            justify-content: center;
                            align-items: center;
                          "
                        >
                          <a
                            type="button"
                            class="pointer"
                            title="Eliminar"
                            (click)="eliminar($event, rowIndex, data, 5)"
                          >
                            <i class="pi pi-trash"></i>
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="pl-2">Monitoreo</td>
                    <td>
                      <div
                        *ngFor="let data of monitIndicador"
                        class="row aling-container"
                        style="padding-bottom: 5px"
                      >
                        <div
                          class="col-3"
                          style="display: flex; align-items: center"
                        >
                          {{ data.indicador }}
                        </div>
                        <div class="col-3">
                          <input
                            [(ngModel)]="data.programado"
                            type="text"
                            class="form-control"
                            [maxLength]="100"
                          />
                        </div>
                        <div class="col-3">
                          <input
                            [(ngModel)]="data.realizado"
                            type="text"
                            class="form-control"
                            [maxLength]="100"
                          />
                        </div>
                        <div
                          class="col-1"
                          style="
                            display: flex;
                            justify-content: center;
                            align-items: center;
                          "
                        >
                          <a
                            type="button"
                            class="pointer"
                            title="Eliminar"
                            (click)="eliminar($event, rowIndex, data, 6)"
                          >
                            <i class="pi pi-trash"></i>
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="pl-2">Capacitación</td>
                    <td>
                      <div
                        *ngFor="let data of captIndicador"
                        class="row aling-container"
                        style="padding-bottom: 5px"
                      >
                        <div
                          class="col-3"
                          style="display: flex; align-items: center"
                        >
                          {{ data.indicador }}
                        </div>
                        <div class="col-3">
                          <input
                            [(ngModel)]="data.programado"
                            type="text"
                            class="form-control"
                            [maxLength]="100"
                          />
                        </div>
                        <div class="col-3">
                          <input
                            [(ngModel)]="data.realizado"
                            type="text"
                            class="form-control"
                            [maxLength]="100"
                          />
                        </div>
                        <div
                          class="col-1"
                          style="
                            display: flex;
                            justify-content: center;
                            align-items: center;
                          "
                        >
                          <a
                            type="button"
                            class="pointer"
                            title="Eliminar"
                            (click)="eliminar($event, rowIndex, data, 7)"
                          >
                            <i class="pi pi-trash"></i>
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <!-->
          </div>
        </p-accordionTab>

        <p-accordionTab header="2.2 Resumen de los Resultados del PO Ejecutado">
          <div class="m-0 pt-3">
            <div class="text-right">
              <button
                (click)="abrirModal()" [disabled]="disabled"
                class="btn btn-sm btn-default mb-2"
                type="button"
                title="Agregar"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
            <div class="row">
              <div class="col-12">
                <p-table [value]="listResumenActividad_2_2">
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 80px">Acciones</th>
                      <th>Resultados</th>
                    </tr>
                  </ng-template>
                  <ng-template
                    pTemplate="body"
                    let-data
                    let-rowIndex="rowIndex"
                  >
                    <tr>
                      <td class="pl-2 text-center">
                        <a
                          type="button"
                          class="pointer"
                          title="Eliminar Resumen"
                          (click)="!disabled&& eliminar($event, rowIndex, data, 8)"
                          ><i class="pi pi-trash"></i
                        ></a>
                        <a
                          type="button"
                          class="pointer"
                          (click)="!disabled&& editarModal(rowIndex, data)"
                          style="margin: 0 10px"
                          title="Editar Resumen"
                          ><i class="pi pi-pencil"></i
                        ></a>
                      </td>
                      <td>
                        {{ data.resumen }}
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

  <p-dialog
    header="Editar Resumen de Actividades operativas en el PO"
    appendTo="body"
    [(visible)]="isShowModal2_1"
    [modal]="true"
    [style]="{ width: '60vw' }"
    [maximizable]="true"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="true"
  >
    <ng-template pTemplate="content">
      <div class="row m-0">
        <div class="col-12 form-group">
          <label>Actividad</label>
          <input
            type="text"
            autocomplete="off"
            class="form-control contents_form_input"
            [(ngModel)]="actividadModal"
            placeholder="Ingrese su actividad"
            maxlength="50"
            disabled = "true"
          />
        </div>

        <div class="col-12">
          <p-table [value]="listResumenActividadDetModal">
            <ng-template pTemplate="header">
              <tr>
                <!-- <th style="width: 80px">Acciones</th> -->
                <th>Indicadores</th>
                <th>Programado</th>
                <th>Realizado</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <!-- <td class="pl-2 text-center">
                  <a
                    type="button"
                    class="pointer"
                    title="Eliminar Indicador"
                    (click)="eliminarIndicador($event, rowIndex, data, 8)"
                  >
                    <i class="pi pi-trash"></i>
                  </a>
                </td> -->
                <td>
                  {{ data.indicador }}
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control contents_form_input"
                    [(ngModel)]="data.programado"
                    placeholder="Ingrese programado"
                    maxlength="50"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control contents_form_input"
                    [(ngModel)]="data.realizado"
                    placeholder="Ingrese realizado"
                    maxlength="50"
                  />
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <button
        icon="pi pi-save"
        (click)="agregarResumen_2_1()"
        pButton
        pRipple
        type="button"
        label="Aceptar"
        class="p-button-success p-button-outlined"
      ></button>
      <button
        icon="pi pi-times"
        (click)="isShowModal2_1 = false"
        pButton
        pRipple
        type="button"
        label="Cancelar"
        class="p-button-danger p-button-outlined"
      ></button>
    </ng-template>
  </p-dialog>

  <p-dialog
    header="Agregar Resumen de los Resultados del PO Ejecutado"
    appendTo="body"
    [(visible)]="isShowModal2_2"
    [modal]="true"
    [style]="{ width: '60vw' }"
    [maximizable]="true"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="true"
  >
    <ng-template pTemplate="content">
      <div class="row m-0">
        <div class="col-12 form-group">
          <label for="resumen">Resumen</label>
          <input
            type="text"
            id="resumen"
            autocomplete="off"
            class="form-control contents_form_input"
            [(ngModel)]="resultadosModal"
            placeholder="Ingrese su resumen"
            maxlength="50"
          />
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <button
        icon="pi pi-save"
        (click)="agregarResumen()"
        pButton
        pRipple
        type="button"
        label="Aceptar"
        class="p-button-success p-button-outlined"
      ></button>
      <button
        icon="pi pi-times"
        (click)="isShowModal2_2 = false"
        pButton
        pRipple
        type="button"
        label="Cancelar"
        class="p-button-danger p-button-outlined"
      ></button>
    </ng-template>
  </p-dialog>

  <p-toast></p-toast>
  <p-toast key="toast"></p-toast>
  <p-confirmPopup></p-confirmPopup>

  <div class="step__btn mt-4">
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button class="btn-primary2" (click)="registrarResumenActividades()">
      Guardar
    </button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
  <br />
</div>
