<div class="container-fluid">
  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <h3 class="title">
        Ep:4.2.1: Registrar Mecanismo de Pago por DA 
        <span style="font-size: 0.8em;">{{ codigoTH ? '- TH: ' : ''}} </span>
        <span class="nro-plan" style="font-size: 0.8em;">{{ codigoTH ? codigoTH : ''}}</span>
        <span class="nro-plan" style="font-size: 0.8em;">{{ idPlanManejo ? ' - N° ' + idPlanManejo : '' }}</span>
      </h3>
    </div>
  </div>

  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <mat-tab-group
        animationDuration="0ms"
        [selectedIndex]="tabIndex"
        (selectedIndexChange)="informChange($event)"
      >
        <mat-tab>
          <ng-template mat-tab-label>
            <span>1. Información General</span>
          </ng-template>
          <ng-template matTabContent>
            <app-tab-informacion-general-rda 
              [idPago]="idPago" 
              (siguiente)="siguienteTab()"
            >
            </app-tab-informacion-general-rda>
          </ng-template>
        </mat-tab>
        <!-- <mat-tab>
          <ng-template mat-tab-label>
            <span>2. Pagos</span>
          </ng-template>
          <ng-template matTabContent>
            <app-tab-registro-pago-da 
              [idPago]="idPago" 
              (regresar)="regresarTab()"
            >
            </app-tab-registro-pago-da>
          </ng-template>
        </mat-tab> -->
      </mat-tab-group>
    </div>
  </div>

</div>

<!--
<div class="container-fluit">
  <div class="row m-0 mb-4">
    
    
    
    <div class="col-12">
    
    <div class="col-12">
      <h4>Mecanismos de Pago</h4>
      <div class="p-py-3">
        <p-button [icon]="activeState[0] ? 'pi pi-minus' : 'pi pi-plus'" (click)="toggle(0)" label="Por Superficie"
          class="mr-2"></p-button>
        <p-button [icon]="activeState[1] ? 'pi pi-minus' : 'pi pi-plus'" (click)="toggle(1)"
          label="Por Valor de Estado Natural y Volumen Movilizado"></p-button>
      </div>
      <p-accordion>
       
        <p-accordionTab header="Por Superficie" [selected]="activeState[0]" [disabled]="!activeState[0]">
          <div class="col-12">
            <div class="row m-0">
              <div class="col-sm-12 col-md-3 form-group">
                <label class="label">Área de TH (ha)</label>
                <input class="form-control form-control-sm " type="text" autocomplete="off" />
                <div>&nbsp;</div>
              </div>
              <div class="col-sm-12 col-md-3 form-group">
                <label class="label">Monto de Pago por ha</label>
                <input class="form-control form-control-sm " type="text" autocomplete="off" />
                <div>
                  <p-radioButton name="groupname" value="val1" label="Soles" class="mr-2"></p-radioButton>
                  <p-radioButton name="groupname" value="val2" label="Dolares"></p-radioButton>
                </div>
              </div>
              <div class="col-sm-12 col-md-3 form-group">
                <label class="label">Monto de Pago por DA Anual</label>
                <input class="form-control form-control-sm " type="text" autocomplete="off" />
                <label class="label">T.C. Referencial: S/. 4,275.00</label>
              </div>
              <div class="col-sm-12 col-md-3 form-group">
                <label class="label">Calculado en Moneda Nacional</label>
                <input class="form-control form-control-sm " type="text" autocomplete="off" />
                <div>&nbsp;</div>
              </div>
            </div>
          </div>
          
          <div class="col-12">
            <h6>Cronograma de Pago</h6>
            <p-table [value]="listaAux">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 100px; ">Acciones</th>
                  <th>Año</th>
                  <th>Fecha Inicio</th>
                  <th>Fecha Fin</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr>
                  <td class="text-center">
                    <span><i class="pi pi-eye pointer" title="Ver periodos" (click)="btnVer(data)"></i></span>
                  </td>
                  <td>{{data.anio}}</td>
                  <td>{{data.fechainicial}}</td>
                  <td>{{data.fechafin}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-accordionTab>
        
        <p-accordionTab header="Por Valor de Estado Natural y Volumen Movilizado" [selected]="activeState[1]"
          [disabled]="!activeState[1]">
          
          <div class="col-12">
            <h6>Lista de Plan de Manejo</h6>
            <p-table [value]="listaAux2">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 100px; "> </th>
                  <th>Nro. de Resolución</th>
                  <th>Descripción del Plan de Manejo</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr>
                  <td class="text-center">
                    <p-radioButton name="groupname3" value="val3"></p-radioButton>
                  </td>
                  <td>{{data.numResol}}</td>
                  <td>{{data.descPlan}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <br>
          
          <div class="col-12">
            <p-table [value]="listaAux3">
              <ng-template pTemplate="header">
                <tr>
                  <th>Especies</th>
                  <th>Volumen (m3)</th>
                  <th>Valor Estado Natural</th>
                  <th>Pago por DA</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr>
                  <td>{{data.prueba3}}</td>
                  <td>{{data.prueba3}}</td>
                  <td>{{data.prueba3}}</td>
                  <td>{{data.prueba3}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
    
    <div class="col-12 mt-4 text-center">
      <button class="btn btn-sm btn-primary2" (click)="btnGuardar()" type="button">Guardar</button>
    </div>
  </div>
</div>-->
