<div class="row">
  <div class="col-sm-12">
    <div class="form-group" *ngIf="params_validar_anexo.tipodoc == 'anexo1'">
      <p-checkbox inputId="chk-titulo-anexo" [(ngModel)]="params_validar_anexo.titulo" [binary]="true"></p-checkbox>
      <label class="ml-4 pointer label" style="display: initial;" for="chk-titulo-anexo">Título ubicado a menos de 50KM de la frontera.</label>
    </div>

    <div class="form-group">
      <div class="p-field-radiobutton">
        <label for="devolucion1" class="mr-2">Conforme</label>
        <p-radioButton name="devolucion" [value]="false" [(ngModel)]="params_validar_anexo.devolucion"
          inputId="devolucion1"  [disabled]="isSolCancel"></p-radioButton>
      </div>

      <div class="p-field-radiobutton">
        <label for="devolucion2" class="mr-2">Observado</label>
        <p-radioButton name="devolucion" [value]="true" [(ngModel)]="params_validar_anexo.devolucion"
          inputId="devolucion2"  [disabled]="isSolCancel"></p-radioButton>
      </div>

    </div>

    <ng-container *ngIf="params_validar_anexo.devolucion">
      <!--<div class="form-group">
        <label class="label">Fecha fin plazo:</label>-->
        <!-- <input [(ngModel)]="params_validar_anexo.fechaFinPlazo" type="date" class="form-control" /> -->
        <!-- <p-calendar [(ngModel)]="params_validar_anexo.fechaFinPlazo" [minDate]="minDate" [readonlyInput]="true" inputId="min-max"></p-calendar> -->
        <!--<div class="content-date">
          <input [(ngModel)]="params_validar_anexo.fechaFinPlazo" [min]="minDate" name="fechaFinPlazo" autocomplete="off" class="form-control" matInput
            [matDatepicker]="fechaFinPlazo">
          <i class="pi pi-calendar pointer" (click)="fechaFinPlazo.open()"></i>
          <mat-datepicker min #fechaFinPlazo></mat-datepicker>
        </div>
      </div>-->
      <div class="form-group">
        <label class="label">Observación:</label>
        <textarea [(ngModel)]="params_validar_anexo.observacion" class="form-control" rows="3"></textarea>
      </div>
    </ng-container>

  </div>


  <div class="col-12">
    <button type="button" class="btn btn-sm btn-primary2" (click)="enviar_validarAnexo()" 
    [disabled]="isSolCancel">Guardar</button>
  </div>

</div>
