<div class="row pb-2">
  <div class="col-12">
    <label for="necesidades"></label>
    <textarea
      sinSpacioInit
      id="necesidades"
      autocomplete="off"
      class="form-control form-control-sm"
      rows="4"
      maxlength="200"
      [(ngModel)]="descripcion"
      pInputTextarea
    >
    {{ descripcion }}
  </textarea
    >
  </div>
</div>

<div class="d-flex justify-content-end">
  <button icon="pi pi-save" (click)="enviar()" pButton pRipple type="button" label="Aceptar"
              class="p-button-success p-button-outlined"></button> &nbsp;&nbsp;
  <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
            class="p-button-danger p-button-outlined" ></button>
</div>

<p-toast position="bottom-center" key="tl"></p-toast>
