<div class="container-fluit">
  <div class="row m-0 mb-3">
    <!-- TITULO -->
    <div class="col-12">
      <h3 class="title">Ep:N2.1 Bandeja de Establecimiento de Bosque Local</h3>
    </div>
    <!-- FILTROS -->
    <div class="col-12">
      <div class="panelk br10 p-3">
        <div class="row">
          <!-- Inputs -->
          <div class="col-12 col-sm-3 form-group">
            <label class="label">N° Solicitud:</label>
            <input type="text" class="form-control" [(ngModel)]="objbuscar.idSolicitud" autocomplete="off"
              placeholder="Ingresar N° solicitud" numero [maxLength]="8" />
          </div>
          <div class="col-12 col-sm-3 form-group">
            <label class="label">Solicitante:</label>
            <input class="form-control" type="text" [(ngModel)]="objbuscar.solicitante" autocomplete="off"
              placeholder="Ingresar nombre o razón social" />
          </div>
          <div class="col-12 col-sm-3 form-group">
            <label class="label">N° Doc. Solicitante:</label>
            <input class="form-control" type="text" [(ngModel)]="objbuscar.documento" autocomplete="off"
              placeholder="Ingresar número de documento" numero maxlength="9"/>
          </div>
          <div class="col-12 col-sm-3 form-group">
            <label class="label">Estado Solicitud:</label>
            <div class="form-control-selectk">
              <p-dropdown [options]="comboEstado" placeholder="Seleccione" optionLabel="valorPrimario"
                optionValue="codigo" [(ngModel)]="objbuscar.estado">
              </p-dropdown>
            </div>
          </div>
          <!-- Botones -->
          <div class="col-sm-12 my-2 form-group text-center">
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnLimpiar()">Limpiar</button>
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnBuscar()">Buscar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- TABLA -->
    <div class="col-12 mt-4">
      <p-table [value]="listaBandeja">
        <ng-template pTemplate="header">
          <tr>
            <th>N° Solicitud</th>
            <th>Solicitante</th>
            <th>N° Doc. Solicitante</th>
            <th>Estado Solicitud</th>
            <!-- PERFIL ARFFS -->
            <ng-container *ngIf="isPerArffs">
              <th>Eval. Comité Técnico</th>
            </ng-container>
            <!-- PERFIL SERFOR -->
            <ng-container *ngIf="isPerSerfor">
              <th>Eval. Comité Técnico</th>
              <th>Ver Expediente Final</th>
            </ng-container>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>{{data.idSolBosqueLocal}}</td>
            <td>{{data.nombreSolicitante}}</td>
            <td>{{data.numeroDocumentoSolicitante}}</td>
            <td>{{data.estadoSolicitudTexto}}</td>
            <!-- ******************PERFIL ARFFS****************** -->
            <ng-container *ngIf="isPerArffs">
              <td class="text-center">
                <!-- Eval Comité Técnico -->
                <span *ngIf="data.estadoSolicitud === codEstado.EVAL_EXPED_TEC && permisos.isPerRegistrar"
                  class="pointer">
                  <i class="pi pi-pencil" title="Evaluar comité técnico"
                    (click)="btnEvalComite(data.idSolBosqueLocal, data.estadoSolicitud, true, false, !!data.evaluacionGabinete, !!data.evaluacionCampo, false, false, false, false)">
                  </i></span>
                <!-- Evaluar envio Resultados -->
                <span
                  *ngIf="(data.estadoSolicitud === codEstado.FAV_EXPED_TEC || data.estadoSolicitud === codEstado.DESFAV_EXPED_TEC) && permisos.isPerRegistrar"
                  class="pointer">
                  <i class="pi pi-send" title="Enviar Resultados"
                    (click)="btnEvalComite(data.idSolBosqueLocal, data.estadoSolicitud, true, true, !!data.evaluacionGabinete, !!data.evaluacionCampo, true, false, false, false)">
                  </i></span>
                <!-- Ver envio Resultados -->
                <span
                  *ngIf="(data.estadoSolicitud === codEstado.APROBADA || data.estadoSolicitud === codEstado.DENEGADA) && permisos.isPerVisualizar"
                  class="pointer">
                  <i class="pi pi-eye" title="Ver Resultados"
                    (click)="btnEvalComite(data.idSolBosqueLocal, data.estadoSolicitud, true, true, !!data.evaluacionGabinete, !!data.evaluacionCampo, true, true, false, false)">
                  </i></span>
                <!-- Ver envio Resultados final -->
                <span
                  *ngIf="(data.estadoSolicitud === codEstado.SOL_TH) && permisos.isPerVisualizar"
                  class="pointer">
                  <i class="pi pi-eye" title="Ver Resultados"
                    (click)="btnEvalComite(data.idSolBosqueLocal, data.estadoSolicitud, true, true, !!data.evaluacionGabinete, !!data.evaluacionCampo, true, true, false, false)">
                  </i></span>
              </td>
            </ng-container>
            <!-- PERFIL SERFOR -->
            <ng-container *ngIf="isPerSerfor">
              <td class="text-center">
                <!-- Eval Comité Técnico -->
                <span *ngIf="data.estadoSolicitud === codEstado.EVAL_EXPED_TEC && permisos.isPerRegistrar"
                  class="pointer"><i class="pi pi-pencil" title="Evaluar comité técnico"
                    (click)="btnEvalComite(data.idSolBosqueLocal, data.estadoSolicitud, true, false, !!data.evaluacionGabinete, !!data.evaluacionCampo, false, false, false, false)"></i></span>
                <!-- Ver Evaluacion Comité Técnico -->
                <span
                  *ngIf="(data.estadoSolicitud === codEstado.FAV_EXPED_TEC || data.estadoSolicitud === codEstado.DESFAV_EXPED_TEC || 
                    data.estadoSolicitud === codEstado.APROBADA || data.estadoSolicitud === codEstado.DENEGADA || 
                    data.estadoSolicitud === codEstado.SOL_TH) && permisos.isPerVisualizar"
                  class="pointer"><i class="pi pi-eye" title="Ver evaluación comité técnico"
                    (click)="btnEvalComite(data.idSolBosqueLocal, data.estadoSolicitud, true, true, !!data.evaluacionGabinete, !!data.evaluacionCampo, false, false, false, false)"></i></span>
              </td>
              <td class="text-center">
                <!-- Ver Expediente final aprobada -->
                <span *ngIf="(data.estadoSolicitud === codEstado.APROBADA) && permisos.isPerRegistrar" class="pointer"><i
                    class="pi pi-pencil" title="Ver Expediente Final Aprobada"
                    (click)="btnEvalComite(data.idSolBosqueLocal, data.estadoSolicitud, true, true, !!data.evaluacionGabinete, !!data.evaluacionCampo, true, true, true, false)"></i></span>
                <!-- Ver Expediente final denegada -->
                <span *ngIf="(data.estadoSolicitud === codEstado.DENEGADA) && permisos.isPerVisualizar" class="pointer"><i
                    class="pi pi-eye" title="Ver Expediente Final Denegada"
                    (click)="btnEvalComite(data.idSolBosqueLocal, data.estadoSolicitud, true, true, !!data.evaluacionGabinete, !!data.evaluacionCampo, true, true, false, false)"></i></span>
                <!-- Ver Expediente final TH -->
                <span *ngIf="(data.estadoSolicitud === codEstado.SOL_TH) && permisos.isPerVisualizar" class="pointer"><i
                  class="pi pi-eye" title="Ver Expediente Final Denegada"
                  (click)="btnEvalComite(data.idSolBosqueLocal, data.estadoSolicitud, true, true, !!data.evaluacionGabinete, !!data.evaluacionCampo, true, true, true, true)"></i></span>
              </td>
            </ng-container>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)"
        [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros">
      </p-paginator>
    </div>
  </div>
  <p-confirmPopup></p-confirmPopup>
</div>