<form [formGroup]="f">
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">
          {{codigoPartComunal==ParticipacionTipoPGMF.PLAN?'Mecanismos de Participación:':'Actividad:'}}
        </label>
        <input type="text" class="form-control" formControlName="actividad" maxlength="50"
          placeholder="Ingrese {{codigoPartComunal==ParticipacionTipoPGMF.PLAN?'Mecanismo':'Actividad'}}" />
      </div>
    </div>

    <div class="col-12 col-sm-6" *ngIf="codigoPartComunal==ParticipacionTipoPGMF.PLAN">
      <div class="form-group">
        <label class="label">Metodología:</label>
        <input type="text" class="form-control" formControlName="metodologia" placeholder="Ingrese Metodología"
          maxlength="50" />
      </div>
    </div>
  </div>

  <div *ngIf="codigoPartComunal==ParticipacionTipoPGMF.PLAN">
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label class="label">Lugar:</label>
          <input type="text" class="form-control" formControlName="lugar" placeholder="Ingrese lugar capacitación"
            maxlength="50" />
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label class="label" for="fechaPart">Fecha:</label>
          <div class="content-date">
            <input class="form-control" matInput [matDatepicker]="fechaPart" name="fechaPart" [min]="minDate"
              placeholder="Seleccione fecha" formControlName="fecha" readonly/>
            <i class="pi pi-calendar pointer" (click)="fechaPart.open()" aria-hidden="true"></i>
            <mat-datepicker #fechaPart></mat-datepicker>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button icon="pi pi-save" (click)="guardar()" pButton pRipple type="button" label="Aceptar"
      class="p-button-success p-button-outlined" style="width: 106px;"></button>
    &nbsp;&nbsp;
    <button icon="pi pi-times" (click)="cancelar()" pButton pRipple type="button" label="Cancelar"
      class="p-button-danger p-button-outlined" style="width: 106px;"></button>
  </div>
</form>
<p-toast key="gpc_02"></p-toast>