<div>
    <div>
        <ng-container [ngTemplateOutlet]="conatinerinnerRef"></ng-container>
    </div>
    <evaluacion-simple-shared [base]="base.evaluacion" (onChange)="evaluation($event)" [default]="default">
        <ng-template #conatinertop>   

        </ng-template>
        <ng-template #conatinerbottom>     

        </ng-template>
    </evaluacion-simple-shared>
</div>
        
        

    
