<div class="container-fluid">
  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <h3 class="title">
        Ep3.2.4: Evaluación &nbsp; &nbsp;<span class="nro-dema"
          >N° {{ idPlanManejo }}</span
        >
        <span class="codigo"> ({{ codigoEpica }})</span>
      </h3>
    </div>
  </div>

  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <mat-tab-group
        animationDuration="0ms"
        [selectedIndex]="tabIndex"
        (selectedIndexChange)="informChange($event)"
      >
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">1. Presentar</span>
            <span class="tab-text">PGMFA</span>
          </ng-template>
          <ng-template matTabContent>
            <app-tab-presentacion
              [disabled]="disabled"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [idPlanManejo]="idPlanManejo"
            ></app-tab-presentacion>
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">Requisitos del Plan</span>
            <span class="tab-text">PGMFA</span>
          </ng-template>
          <ng-template matTabContent>
            <tab-requisitos-pgmfa
            [idPlanManejo]="idPlanManejo"
            (siguiente)="siguienteTab()"
            [disabled]="disabled"
            (regresar)="regresarTab()"
          ></tab-requisitos-pgmfa>
          </ng-template>
        </mat-tab>

        <!-- <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center"
              >2. Evaluar la información y documentos</span
            >
            <span class="tab-text"
              >presentados con la formulación del plan de manejo</span
            >
          </ng-template>
          <ng-template matTabContent>
            <app-tab-evaluacion-info-doc
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [idPlanManejo]="idPlanManejo"
              [codigoEpica]="codigoEpica"
            ></app-tab-evaluacion-info-doc>
          </ng-template>
        </mat-tab> -->

        <!-- <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">3. Verificar la ubicación espacial</span>
            <span class="tab-text">de la unidad de manejo forestal</span>
          </ng-template>
          <ng-template matTabContent>
            <app-tab-verificar-ubicacion-espacial
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [idPlanManejo]="idPlanManejo"
              [codigoEpica]="codigoEpica"
            >
            </app-tab-verificar-ubicacion-espacial>
          </ng-template>
        </mat-tab> -->

        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">2. Verificar la información consignada en los items</span>
            <span class="tab-text">del plan de manejo forestal formulado</span>
          </ng-template>
          <ng-template matTabContent>
            <app-tab-verificar-informacion-pmff
              [disabled]="disabled"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [idPlanManejo]="idPlanManejo"
              [codigoEpica]="codigoEpica"
            >
            </app-tab-verificar-informacion-pmff>
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">3. Saber si se requiere la opinión </span>
            <span class="tab-text">de otra entidad</span>
          </ng-template>
          <ng-template matTabContent>
            <app-tab-opiniones [disabled]="disabled"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [idPlanManejo]="idPlanManejo"
              [codigoEpica]="codigoEpica"
            ></app-tab-opiniones>
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">4. Gestionar inspección ocular</span>
            <span class="tab-text"> en campo</span>
          </ng-template>
          <ng-template matTabContent>
            <app-tab-gestionar-inspeccion
              (siguiente)="siguienteTab()" [disabled]="disabled"
              (regresar)="regresarTab()"
              [idPlanManejo]="idPlanManejo"
              [codigoEpica]="codigoEpica"
            ></app-tab-gestionar-inspeccion>
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">5. Registrar los resultados</span>
            <span class="tab-text"> de la evaluación</span>
          </ng-template>
          <ng-template matTabContent>
            <app-tab-registrar-resultados [disabled]="disabled"
              [idPlanManejo]="idPlanManejo"
              [codigoEpica]="codigoEpica"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            >
            </app-tab-registrar-resultados>
          </ng-template>
        </mat-tab>

        <mat-tab *ngIf="false">
          <ng-template mat-tab-label>
            <span class="text-center">6. Silencio administrativo&nbsp;</span>
            <span class="tab-text"
              >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
            >
            <span *ngIf="false" class="tab-text">
              y documentos relacionados al silencio administrativo</span
            >
          </ng-template>
          <ng-template matTabContent>
            <app-tab-registrar-informacion
              [disabled]="disabled"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [idPlanManejo]="idPlanManejo"
              [codigoEpica]="codigoEpica"
            ></app-tab-registrar-informacion>
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">8. Resolver la Solicitud</span>
            <span class="tab-text">de aprobación del PGMFA</span>
          </ng-template>
          <ng-template matTabContent>
            <app-tab-resolver-solicitud
              (siguiente)="siguienteTab()"
              [disabled]="disabled"
              (regresar)="regresarTab()"
              [idPlanManejo]="idPlanManejo"
              [codigoEpica]="codigoEpica"
            ></app-tab-resolver-solicitud>
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">9. Remitir información</span>
            <span class="tab-text">tabular, espacial y documental </span>
          </ng-template>
          <ng-template matTabContent>
            <app-tab-remitir-informacion
              [disabled]="disabled"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [idPlanManejo]="idPlanManejo"
              [codigoEpica]="codigoEpica"
            ></app-tab-remitir-informacion>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
