<div class="row">
  <div class="col-12 form-group">
    <label for="asunto">Asunto</label>
    <input
      autocomplete="off"
      class="form-control"
      [disabled]="config.data.isView"
      type="text"
      id="asunto"
      name="asunto"
      [(ngModel)]="asunto"
    />
  </div>

  <div class="col-12 form-group">
    <label for="contenidoEmail">Conclusiones y recomendaciones</label>
    <textarea
      id="contenidoEmail"
      autocomplete="off"
      [disabled]="config.data.isView"
      class="form-control form-control-sm"
      rows="4"
      [autoResize]="autoResize"
      [(ngModel)]="contenidoEmail"
      pInputTextarea
    ></textarea>
  </div>

  <div class="col-12 form-group" *ngIf="!config.data.isView">
    <label for="file">Adjuntar archivo</label>
    <input
      class="form-control from-control-sm"
      type="file"
      (change)="cargarArchivo($event)"
    />
  </div>

  <div class="col-12 form-group" *ngIf="config.data.isView">
    <button (click)="descargarArchivo()" class="btn btn-sm btn-primary2">
      Descargar resolución
    </button>
  </div>

  <div *ngIf="!config.data.isView" class="col-12 mt-4">
    <button (click)="enviar()" class="btn btn-sm btn-primary2">Enviar</button>
  </div>
</div>
