<div class="container-fluit pt-4">

  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="3.1. Información General del Área Plantada" [selected]="true">
          <!-- MAPA -->
          <app-map-custom-sol-plantacion #map [idPFDM]="idBPF" [codigoProceso]="codigoProceso"
            [codigoSubSeccion]="codigoSubSeccion" [tipoGeometria]="'Otros'" [validaSuperposicionAprovechar]="true"
            [calcularArea]="true" [showBotonCargarGeneral]="false" [showBotonCargarCustom]="true"
            [tipoArchivoArea]="tipoArchivoArea" [tipoArchivoPunto]="tipoArchivoPunto"
            (areaTotal)="calcularAreaTotal($event)" (listVertices)="listarVertices($event)"
            [isDisbledFormu]="isDisbledFormu || isSolicitudHija" [showBotonGuardar]="!(isDisbledFormu || isSolicitudHija)">

          </app-map-custom-sol-plantacion>

          <div class="row m-0 mt-3">
            <div class="col-12 col-sm-4 form-group">
              <label class="label">Superficie (ha):</label>
              <input [disabled]="isDisbledFormu" [(ngModel)]="requestAreaPlan.superficieHa" type="text"
                autocomplete="off" class="form-control" />
            </div>
            <div class="col-12 col-sm-4 form-group">
              <label class="label">Mes y Año de Plantación:</label>
              <div class="content-date">
                <input name="fechaaniomes" autocomplete="off" class="form-control form-control-sm"
                  [(ngModel)]="requestAreaPlan.aniomes" matInput [matDatepicker]="fechaaniomes" readonly
                  [disabled]="isDisbledFormu" [min]="minDate">
                <i class="pi pi-calendar pointer" (click)="fechaaniomes.open()"></i>
                <mat-datepicker #fechaaniomes startView="multi-year" 
                  (yearSelected)="chosenYearHandler($event)"
                  (monthSelected)="chosenMonthHandler($event, fechaaniomes)"
                ></mat-datepicker>
              </div>
            </div>
          </div>

          <div class="row m-0">
            <div class="col-12 text-right mb-2">
              <button (click)="openModal(0,'C')" class="btn btn-sm btn-default button-more mb-2" type="button" title="Agregar"
                [disabled]="isDisbledFormu"><i class="pi pi-plus"></i></button>
            </div>
            <!-- TABLA -->
            <div class="col-12">
              <p-table [value]="listaAreaSp" [totalRecords]="listaAreaSp.length" [paginator]="true" [rows]="10"
                [showCurrentPageReport]="true" currentPageReportTemplate="Total : {totalRecords} registros"
                [rowsPerPageOptions]="[5,10,25,50]">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Acciones</th>
                    <th>Sistema de Plantación</th>
                    <th>Unidad Médida</th>
                    <th>Cantidad</th>
                    <th>Fines</th>
                    <th>Especies Establecidas</th>
                    <th>Nuevas Especies</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td>
                      <span *ngIf="!isDisbledFormu" class="pointer mr-2" title="Editar" (click)="openModal(rowIndex, 'E')">
                        <i class="pi pi-pencil"></i></span>
                      <span *ngIf="!isDisbledFormu" class="pointer" title="Eliminar" (click)="btnEliminar($event, data, rowIndex)">
                        <i class="pi pi-trash"></i> </span>
                    </td>
                    <td>{{data.nombre}} </td>
                    <td>{{data.codigoUm}}</td>
                    <td>{{data.cantidad}}</td>
                    <td>{{data.fines}}</td>
                    <td class="text-center">
                      <span *ngIf="data.idAreaSistemaPlantacion" class="pointer" (click)="btnModalEspecies(data,'Seleccione Especies Forestales',false)"><i class="pi pi-list"></i></span>
                    </td>
                    <td class="text-center">
                      <span *ngIf="data.idAreaSistemaPlantacion" class="pointer" (click)="btnModalEspecies(data,'Seleccione Nuevas Especies Forestales',true)"><i class="pi pi-list"></i></span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>

          <div class="row m-0 mt-3">
            <div class="col-12" *ngIf="!isDisbledFormu">
              <button type="button" class="btn-primary2 ml-0" (click)="btnRegAreaPlan()" [disabled]="isDisbledFormu">
                Guardar
              </button>
            </div>
          </div>

          <div class="row m-0 mt-3" *ngIf="isShowEval">
            <div class="col-12">
              <app-evaluar-solicitud-bpf [disabled]="isDisbledEval" [idBPF]="idBPF" [codSeccion]="codigoPLFOR.TAB_3"
                [codSubSeccion]="codigoPLFOR.TAB_3_1"></app-evaluar-solicitud-bpf>
            </div>
          </div>

        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>

<p-dialog header="{{tituloModalMantenimiento}}" [(visible)]="verModalMantenimiento" [modal]="true" appendTo="body"
  [style]="{width: '40vw'}" [maximizable]="false" [baseZIndex]="10000" [draggable]="false" [resizable]="true">
  <ng-template pTemplate="content">
    <div>
      <div class="form-group">
        <label class="label">Sistema de Plantación: *</label>
        <input [(ngModel)]="areaPlantadaContext.nombre" type="text" sinSpacioInit class="form-control" placeholder="">
      </div>
      <div class="form-group">
        <label class="label">Unid. Medida (ha/m2/otros): *</label>
        <div class="form-control-selectk">
          <p-dropdown [options]="comboUnidadMedida" class="fomr-control" [(ngModel)]="areaPlantadaContext.codigoUm"
            optionLabel="valor" optionValue="valor" placeholder="Seleccione">
          </p-dropdown>
        </div>
      </div>
      <div class="form-group">
        <label class="label">Cantidad: *</label>
        <input [(ngModel)]="areaPlantadaContext.cantidad" type="text" class="form-control" decimal [decimalPlaces]="2" [max]="1000000000000" placeholder="">
      </div>
      <div class="form-group">
        <label class="label">Fines: *</label>
        <input [(ngModel)]="areaPlantadaContext.fines" type="text" class="form-control" sinSpacioInit maxlength="150" placeholder="">
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button icon="pi pi-save" (click)="guardar()" pButton pRipple type="button" label="Aceptar"
      class="p-button-success p-button-outlined"></button>
    <button icon="pi pi-times" (click)="verModalMantenimiento=false" pButton pRipple type="button" label="Cancelar"
      class="p-button-danger p-button-outlined"></button>
  </ng-template>
</p-dialog>