<div class="row m-0">
    <div class="col-12">
        <p-table [value]="listAspectosBiologicos" class="table-justify"
             [scrollable]="true" [style]="{width: '100%'}"
            >
            <ng-template pTemplate="header">
                <tr>
                    <th class="acciones" style="width: 80px">Acciones</th>
                    <th style="width: 400px">Nombre Científico</th>
                    <th style="width: 400px">Nombre Común</th>
                    <th style="width: 400px">Familia</th>
                    <th style="width: 400px">Adjunto</th>
                    <th class="text-center"  style="min-width: 200px">Archivo</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex" >
                <tr>
                    <td class="acciones" style="width: 80px">
                        <span (click)="!disabled &&editar(rowIndex, data)" class="pointer mr-2"
                        title="Editar">
                        <i class="pi pi-pencil"></i>
                        </span>
                        <span class="ml-2" (click)="!disabled && eliminar($event, rowIndex, data)" class="pointer" title="Eliminar">
                            <i class="pi pi-trash"></i>
                        </span>
                    </td>
                    <td style="width: 400px">{{data.nombreCientifico}}</td>
                    <td style="width: 400px">{{data.nombre}}</td>
                    <th style="width: 400px">{{data.familia }}</th>
                    <th style="width: 400px">{{data.adjunto }}</th>
                    <th class="text-center" style="min-width: 200px">
                        {{ data.nombreArchivo }} <span *ngIf="data.idArchivo" class="pointer" title="Descargar" (click)="descargarArchivo(data.idArchivo)"><i class="pi pi-download"></i>
                      </span>
                    </th>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
