<div class="row">

  <div class="col-12 col-md-6 form-group">
    <label for="tipoSolicitud">Tipo Solicitud</label>
    <div class="form-control-selectk">
      <p-dropdown class="fomr-control"
        [(ngModel)]="solicitudRequestEntity.idTipoSolicitud"
        [disabled]="!config.data.isNew || solicitudRequestEntity.aprobado" optionValue="idTipoSolicitud"
        [options]="tipoSolicitud" optionLabel="descripcion" placeholder="-- Seleccione --" (ngModelChange)="changeTipoDoc()">
      </p-dropdown>
    </div>
  </div>

  <div class="col-12 col-md-6 form-group">
    <label for="procesoPostulacion">Proceso Postulación</label>
    <input class="form-control form-control-sm " type="text"  numero  maxlength="10" autocomplete="off" placeholder="Ingrese ID proceso postulación"
      [(ngModel)]="solicitudRequestEntity.idProcesoPostulacion" [disabled]="!config.data.isNew || solicitudRequestEntity.aprobado" />
    <!-- <div class="form-control-selectk">
      <p-dropdown class="fomr-control" [(ngModel)]="solicitudRequestEntity.idProcesoPostulacion"
        [disabled]="!config.data.isNew || solicitudRequestEntity.aprobado" optionValue="idProcesoPostulacion"
        [options]="procesoPostulacion" optionLabel="idProcesoPostulacion">
      </p-dropdown>
    </div> -->
  </div>

  <div class="col-12 col-md-6 form-group" *ngIf="solicitudRequestEntity.idTipoSolicitud == constTipoSolicitud.ampliacionPlazoPublicacion">
    <label for="procesoPostulacion">Dias Ampliación</label>
    <input class="form-control form-control-sm " type="text"  placeholder="Ingrese días Ampliación" numero  maxlength="3"
      [(ngModel)]="solicitudRequestEntity.diaAmpliacion" [disabled]="!config.data.isNew || solicitudRequestEntity.aprobado" />
  </div>

  <div *ngIf="!config.data.isNew && solicitudRequestEntity.idTipoSolicitud == constTipoSolicitud.impugnacion"
    class="col-12 form-group">
    <label for="declaracionJurada">Archivo de inpugnación</label>
    <button (click)="descargarImpugnacion()" class="btn btn-secondary ml-2">Descargar</button>
  </div>

  <div class="col-12 form-group justify-content-center"
    *ngIf="solicitudRequestEntity.idTipoSolicitud == constTipoSolicitud.impSAN">
    <div class="row-0 justify-content-center">
      <button class="btn btn-sm btn-secondary" (click)="descargarImpSAN()">Descargar formato SAN</button>&nbsp;
      <button class="btn btn-sm btn-secondary" id="btnCargarFile" (click)="fileInput.click()">
        <input #fileInput type="file" (change)="cargarArchivoImpSAN($event)" style="display:none;">
        Cargar formato SAN</button>&nbsp;
      <button class="btn btn-sm btn-secondary" (click)="cargarInforme($event)" *ngIf="impugnacionSAN">Cragar
        Informe</button>
    </div>
  </div>

  <div class="col-12 form-group"
    *ngIf="(solicitudRequestEntity.idTipoSolicitud == constTipoSolicitud.impSAN) && !impugnacionSAN">
    <label for="asuntoSolicitud">Asunto</label>
    <textarea [(ngModel)]="solicitudRequestEntity.asunto" name="asuntoSAN" autocomplete="off"
      [disabled]="!config.data.isNew || !fileImpSAN " id="asuntSAN" class="form-control form-control-sm" rows="1"
      [autoResize]="autoResize" pInputTextarea></textarea>
  </div>


  <div class="col-12 form-group"
    *ngIf="(solicitudRequestEntity.idTipoSolicitud === constTipoSolicitud.autorizacionExpliracion) && !impugnacionSAN">
    <label for="asuntoSolicitud">Asunto</label>
    <textarea [(ngModel)]="solicitudRequestEntity.asunto" name="asuntoAuth" autocomplete="off" maxlength="100"
      [disabled]="!config.data.isNew" id="asuntoAuth" class="form-control form-control-sm" rows="1"
      [autoResize]="autoResize" pInputTextarea></textarea>
  </div>

  <div class="col-12 form-group"
    *ngIf="solicitudRequestEntity.idTipoSolicitud == constTipoSolicitud.impSAN && !impugnacionSAN">
    <label for="descrSAN">Descripción</label>
    <textarea [(ngModel)]="solicitudRequestEntity.descripcion" name="descripcionSAN" autocomplete="off"
      [disabled]="!config.data.isNew || !fileImpSAN" id="descrSAN" class="form-control form-control-sm" rows="4"
      [autoResize]="autoResize" pInputTextarea></textarea>
  </div>

  <div class="col-12 form-group" *ngIf="solicitudRequestEntity.idTipoSolicitud != constTipoSolicitud.impSAN && solicitudRequestEntity.idTipoSolicitud != constTipoSolicitud.autorizacionExpliracion">
    <label for="motivoSolicitud">Motivo Solicitud</label>
    <textarea name="motivoSolicitud" [(ngModel)]="solicitudRequestEntity.motivoSolicitud" autocomplete="off" maxlength="100"
      [disabled]="!config.data.isNew" id="motivoSolicitud" class="form-control form-control-sm" rows="4"
      [autoResize]="autoResize" pInputTextarea></textarea>
  </div>

  <ng-container *ngIf="impugnacionSAN">
    <div class="col-12 form-group">
      <label for="observacion">Observacion</label>
      <textarea name="observacion" [(ngModel)]="solicitudRequestEntity.observaciones" autocomplete="off"
        [disabled]="config.data.isInforme" class="form-control form-control-sm" rows="4" [autoResize]="autoResize"
        pInputTextarea></textarea>
    </div>
  </ng-container>

  <div class="col-12 form-group" *ngIf="impugnacionSAN">
    <div class="p-field-radiobutton d-inline-full">
      <label class="mr-2 pl-1 pointer" for="habilitar">Habilitar impugnacion</label>
      <p-radioButton name="habilitar" [(ngModel)]="solicitudRequestEntity.habilidata" value="true"></p-radioButton>
    </div>
    <div class="p-field-radiobutton d-inline-full">
      <label class="mr-2 pl-1 pointer" for="deshabilitar">Deshabilitar impugnacion</label>
      <p-radioButton name="deshabilitar" [(ngModel)]="solicitudRequestEntity.habilidata" value="false"></p-radioButton>
    </div>
  </div>
  <div class="col-12" *ngIf="solicitudRequestEntity.habilidata == 'true'">
    <div class="col-12 m-4">
      <label class="m-0 mr-5 label">Resultados:</label>
    </div>
    <div class=" row col-12 m-2">
      <div class="p-2 text-center">
        <label class="mr-4 pointer label" style="display: initial;" for="chk-mapa-anexo">Procede</label>
        <p-checkbox id="chk-mapa-anexo" [(ngModel)]="solicitudRequestEntity.procede" value="true"></p-checkbox>
      </div>
      <div class="p-2 text-center">
        <label class="mr-4 pl-3 pointer label" style="display: initial;" for="chk-mapa-anexo">No Procede</label>
        <p-checkbox id="chk-mapa-anexo" [(ngModel)]="solicitudRequestEntity.procede" value="false"></p-checkbox>
      </div>
    </div>
  </div>


  <div *ngIf="!config.data.isNew && solicitudRequestEntity.idTipoSolicitud == constTipoSolicitud.impugnacion"
    class="col-12 col-md-6 form-group">
    <br>
    <label for="fechaInicio">Fecha Recepción Documentos Fisicos</label>
    <div class="content-date">
      <input name="fechaInicio" [(ngModel)]="solicitudRequestEntity.fechaRecepcionDocsFisicos" autocomplete="off"
        [disabled]="!config.data.isNew && aprobado != null" class="form-control" matInput
        [matDatepicker]="fechaRecepcionDocsFisicos">
      <i class="pi pi-calendar pointer" (click)="fechaRecepcionDocsFisicos.open()"></i>
      <mat-datepicker #fechaRecepcionDocsFisicos></mat-datepicker>
    </div>
  </div>

  <div *ngIf="!config.data.isNew && solicitudRequestEntity.idTipoSolicitud == constTipoSolicitud.impugnacion"
    class="col-12 col-md-6 form-group">
    <br>
    <label>Archivo de Respuesta</label>
    <input *ngIf="aprobado == null" class="form-control from-control-sm margintop5px" type="file"
      (change)="cargarAchivoImpugnacion($event)" />
    <button *ngIf="aprobado != null" (click)="descargarInfundada()" class="btn btn-secondary ml-2">Descargar</button>
  </div>


  <!-- <ng-container
    *ngIf="!config.data.isNew && solicitudRequestEntity.aprobado == null && !config.data.isInforme && solicitudRequestEntity.idTipoSolicitud != constTipoSolicitud.impugnacion">
    <div class="col-12 form-group">
      <button (click)="aprobar()" class="btn btn-sm btn-secondary mr-2" *ngIf="!config.data.isNew">Aprobar</button>
      <button (click)="rechazar()" class="btn btn-sm btn-secondary" *ngIf="!config.data.isNew">Rechazar</button>
    </div>
  </ng-container> -->

  <ng-container *ngIf="isAmpliacionPlazo">
    <div class="col-12 form-group">
      <label class="label" >Cargar archivo de solicitud</label>
      <anexo-upload-input-buttons (eliminarArchivo)="eliminarFileAmpliacion()"
      [file]="fileAmpliacion" [label]="'&nbsp;'" [disabled]="!config.data.isNew">
    </anexo-upload-input-buttons>
    </div>

    <ng-container *ngIf="isPerfilARFFS || aprobado!==null">
      <div class="col-12 my-4 form-group">
        <div class="p-field-radiobutton mr-3">
          <p-radioButton [value]="true" name="aprobado" [(ngModel)]="solicitudRequestEntity.aprobado"
            [disabled]="!isBtnEnviarAmpliacionAprobar">
          </p-radioButton>
          <label class="pointer ml-2">Autorizar Ampliaci&oacute;n de plazo de publicaci&oacute;n</label>
        </div>
        <div class="p-field-radiobutton">
          <p-radioButton [value]="false" name="aprobado" [(ngModel)]="solicitudRequestEntity.aprobado"
            [disabled]="!isBtnEnviarAmpliacionAprobar">
          </p-radioButton>
          <label class="pointer ml-2">No Autorizar Ampliaci&oacute;n de plazo de publicaci&oacute;n</label>
        </div>
      </div>

    </ng-container>

  </ng-container>

  <ng-container *ngIf="!config.data.isNew && aprobado || config.data.isInforme || solicitudRequestEntity.idTipoSolicitud == constTipoSolicitud.autorizacionExpliracion">
    <div
      *ngIf="solicitudRequestEntity.idTipoSolicitud == constTipoSolicitud.autorizacionExpliracion || config.data.isInforme"
      class="col-sm-12 col-md-6 form-group">
      <label for="fechaInicio" class="label">Fecha Inicio</label>
      <div class="content-date">
        <input name="fechaInicio" [(ngModel)]="solicitudRequestEntity.fechaInicioSolicitud" autocomplete="off" readonly
          [disabled]="config.data.isInforme || !config.data.isNew" class="form-control" matInput [matDatepicker]="fchinicio" [min]="minDate">
        <i class="pi pi-calendar pointer" (click)="fchinicio.open()"></i>
        <mat-datepicker #fchinicio></mat-datepicker>
      </div>
    </div>

    <div
      *ngIf="solicitudRequestEntity.idTipoSolicitud == constTipoSolicitud.autorizacionExpliracion || (solicitudRequestEntity.idTipoSolicitud != (constTipoSolicitud.impugnacion && constTipoSolicitud.impSAN && constTipoSolicitud.ampliacionPlazoPublicacion))"
      class="col-12 col-md-6 mb-4 form-group">
      <label for="fechaFin" class="label">Fecha Fin</label>
      <div class="content-date">
        <input name="fechaFin" [(ngModel)]="solicitudRequestEntity.fechaFinSolicitud" autocomplete="off" readonly
          [disabled]="config.data.isInforme || !config.data.isNew" class="form-control" matInput [matDatepicker]="fchfin" [min]="minDate">
        <i class="pi pi-calendar pointer" (click)="fchfin.open()"></i>
        <mat-datepicker #fchfin></mat-datepicker>
      </div>
    </div>

  </ng-container>

  <!--INICIO TIPO AUTH EXPLORACION -->
  <ng-container *ngIf="isAuthExploracion">
    <div class="col-12 mt-3"></div>

    <div class="col-sm-12 col-md-6">
      <div class="row">
        <div class="col-12 form-group">
          <label class="label">Declaración Jurada</label>
          <button *ngIf="config.data.isNew" (click)="descargarDeclaracionJuradaPlant()" class="btn btn-secondary ml-2">Descargar Plantilla</button>
          <anexo-upload-input-buttons (eliminarArchivo)="eliminarFileDeclaracionJurada()"
            [file]="fileDeclaracionJurada" [label]="'&nbsp;'" [disabled]="!config.data.isNew">
          </anexo-upload-input-buttons>
        </div>

        <ng-container *ngIf="isPerfilARFFS || aprobado!==null">
          <div class="col-12 form-group">
            <div class="p-field-radiobutton">
              <p-radioButton [value]="true" name="conformeDeclaracion" [(ngModel)]="fileDeclaracionJurada.conforme" [disabled]="!isBtnEnviarAuthExploAprobar"></p-radioButton>
              <label class="pointer ml-2">Conforme</label>
            </div>
            <div class="p-field-radiobutton">
              <p-radioButton [value]="false" name="conformeDeclaracion" [(ngModel)]="fileDeclaracionJurada.conforme" [disabled]="!isBtnEnviarAuthExploAprobar"></p-radioButton>
              <label class="pointer ml-2">Observado</label>
            </div>
          </div>

          <div *ngIf="fileDeclaracionJurada.conforme === false" class="col-12 form-group">
            <textarea name="obsDeclaracion" [(ngModel)]="fileDeclaracionJurada.observacion" autocomplete="off" [disabled]="!isBtnEnviarAuthExploAprobar"
              class="form-control form-control-sm" rows="4" [autoResize]="autoResize" pInputTextarea maxlength="255">
            </textarea>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="row">
        <div class="col-12 form-group">
          <label class="label">Propuesta de Exploración</label>
          <button *ngIf="config.data.isNew" (click)="descargarPropuestaExploracionPlant()" class="btn btn-secondary ml-2">Descargar Plantilla</button>
          <anexo-upload-input-buttons (eliminarArchivo)="eliminarFilePropuestaExploracion()"
            [file]="filePropuestaExploracion" [label]="'&nbsp;'" [disabled]="!config.data.isNew">
          </anexo-upload-input-buttons>
        </div>

        <ng-container *ngIf="isPerfilARFFS || aprobado!==null">
          <div class="col-12 form-group">
            <div class="p-field-radiobutton">
              <p-radioButton [value]="true" name="conformePropuesta" [(ngModel)]="filePropuestaExploracion.conforme"
                [disabled]="!isBtnEnviarAuthExploAprobar">
              </p-radioButton>
              <label class="pointer ml-2" >Conforme</label>
            </div>
            <div class="p-field-radiobutton">
              <p-radioButton [value]="false" name="conformePropuesta" [(ngModel)]="filePropuestaExploracion.conforme"
                [disabled]="!isBtnEnviarAuthExploAprobar">
              </p-radioButton>
              <label class="pointer ml-2">Observado</label>
            </div>
          </div>

          <div *ngIf="filePropuestaExploracion.conforme === false" class="col-12 form-group">
            <textarea name="obsPropuesta" [(ngModel)]="filePropuestaExploracion.observacion" autocomplete="off" [disabled]="!isBtnEnviarAuthExploAprobar"
              class="form-control form-control-sm" rows="4" [autoResize]="autoResize" pInputTextarea maxlength="255">
            </textarea>
          </div>
        </ng-container>
      </div>
    </div>

    <div *ngIf="isAuthInformeExploracion"
      class="col-sm-12 col-md-6 mt-3 form-group">
      <label class="label">Adjuntar Informe de Exploración</label>
      <anexo-upload-input-buttons (eliminarArchivo)="eliminarFileInformeExploracion()"
        [file]="fileInformeExploracion" [disabled]="!isBtnEnviarAuthExploracion">
      </anexo-upload-input-buttons>
    </div>
    <div class="col-12"></div>

    <!-- <div *ngIf="solicitudRequestEntity.idTipoSolicitud == constTipoSolicitud.autorizacionExpliracion"
      class="col-12 form-group">
      <label for="declaracionJurada">Descargar Formato</label>
      <button (click)="descargarFormatoAprobacion()" class="btn btn-secondary ml-2">Descargar</button>
      <input *ngIf="!config.data.isInforme" class="form-control from-control-sm" type="file"
        (change)="cargarAchivoFormato($event)" />
    </div> -->

    <ng-container *ngIf="isPerfilARFFS || aprobado!==null">
      <div class="col-12 my-4 form-group">
        <div class="p-field-radiobutton mr-3">
          <p-radioButton [value]="true" name="aprobado" [(ngModel)]="solicitudRequestEntity.aprobado"
            [disabled]="!isBtnEnviarAuthExploAprobar">
          </p-radioButton>
          <label class="pointer ml-2">Autorizar Estudio de Exploración y Evaluación</label>
        </div>
        <div class="p-field-radiobutton">
          <p-radioButton [value]="false" name="aprobado" [(ngModel)]="solicitudRequestEntity.aprobado"
            [disabled]="!isBtnEnviarAuthExploAprobar">
          </p-radioButton>
          <label class="pointer ml-2">No Autorizar Estudio de Exploración y Evaluación</label>
        </div>
      </div>

      <div class="col-6 form-group">
        <label class="label">Resolución y Resumen</label>
        <button *ngIf="!aprobado" (click)="descargarResolucionResumenPlant()" class="btn btn-secondary ml-2">Descargar Plantilla</button>
        <anexo-upload-input-buttons (eliminarArchivo)="eliminarFileResolucionResumen()"
          [file]="fileResolucionResumen" [label]="'&nbsp;'" [disabled]="!isBtnEnviarAuthExploAprobar">
        </anexo-upload-input-buttons>
      </div>
    </ng-container>

    <div class="col-12"></div>
  </ng-container>
  <!-- FIN TIPO AUTH EXPLORACION -->


  <!-- <ng-container
    *ngIf="!config.data.isNew && (aprobado || rechazada) && solicitudRequestEntity.idTipoSolicitud != (constTipoSolicitud.impugnacion && constTipoSolicitud.impSAN && constTipoSolicitud.autorizacionExpliracion && constTipoSolicitud.ampliacionPlazoPublicacion)">
    <div class="col-12 form-group">
      <label for="observacion">Comentario</label>
      <textarea name="observacion" [(ngModel)]="solicitudRequestEntity.observacion" autocomplete="off"
        [disabled]="config.data.isInforme" class="form-control form-control-sm" rows="4" [autoResize]="autoResize"
        pInputTextarea></textarea>
    </div>
  </ng-container> -->

  <ng-container *ngIf="config.data.isInforme">
    <label for="observacion">Adjuntar Informe</label>
    <input class="form-control from-control-sm" type="file" (change)="cargarAchivoInforme($event)" />
  </ng-container>

  <ng-container *ngIf="solicitudRequestEntity.idTipoSolicitud == 1">
    <div *ngIf="config.data.isNew" class="col-12 col-md-6 form-group">
      <label for="declaracionJurada">Recurso de Impugnación</label>

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Seleccione un archivo" [(ngModel)]="fileImpugnacion.name">
        <div class="input-group-append">
          <button type="button" id="btnCargaShapeFile" (click)="fileInput.click()" class="btn btn-sm btn-secondary">
            Seleccione archivo<input #fileInput type="file" (change)="cargarAchivoImpugnacion($event)"
              style="display:none;" />
          </button>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="solicitudRequestEntity.idTipoSolicitud == 7">
    <div *ngIf="config.data.isNew" class="col-12 col-md-6 form-group">
      <label for="declaracionJurada">Recurso de impugnacion</label>

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Seleccione un archivo" [(ngModel)]="fileImpugnacion.name">
        <div class="input-group-append">
          <button type="button" id="btnCargaShapeFile" (click)="fileInput.click()" class="btn btn-sm btn-secondary">
            Seleccione archivo<input #fileInput type="file" (change)="cargarAchivoImpugnacion($event)"
              style="display:none;" />
          </button>
        </div>
      </div>
    </div>
  </ng-container>


  <ng-container *ngIf="solicitudRequestEntity.idTipoSolicitud == constTipoSolicitud.impugnacion">
    <div *ngIf="config.data.isNew" class="col-12 col-md-6 form-group">
      <label for="declaracionJurada">Cargar archivo de inpugnación</label>

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Seleccione un archivo" [(ngModel)]="fileImpugnacion.name">
        <div class="input-group-append">
          <button type="button" id="btnCargaShapeFile" (click)="fileInput.click()" class="btn btn-sm btn-secondary">
            Seleccione archivo<input #fileInput type="file" (change)="cargarAchivoImpugnacion($event)"
              style="display:none;" />
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="!config.data.isNew" class="col-12 form-group">

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="p-field-radiobutton">
                <label for="fundada1" class="mr-2">Fundada</label>
                <p-radioButton name="fundada" [value]="true" [(ngModel)]="solicitudRequestEntity.aprobado"
                  inputId="fundada1"></p-radioButton>
              </div>
            </div>
          </div>

          <div
            *ngIf="!config.data.isNew && solicitudRequestEntity.idTipoSolicitud == constTipoSolicitud.impugnacion && aprobado == null && solicitudRequestEntity.aprobado"
            class="col-8">
            <label>Editar resultados: *Seleccione el nuevo proceso de postulación ganador</label>
            <div class="form-control-selectk">
              <p-dropdown class="fomr-control" [(ngModel)]="idProcesoPostulacion" optionValue="idProcesoPostulacion"
                (onChange)="seleccionarNuevoProceso()" [options]="procesoPostulacionNuevo"
                optionLabel="idProcesoPostulacion">
              </p-dropdown>
            </div>
          </div>

          <div *ngIf="aprobado || solicitudRequestEntity.aprobado" class="row mt-4">

            <div class="col-12">
              <table>
                <thead>
                  <tr>
                    <th>Postulante</th>
                    <th>Proceso Postulacion</th>
                    <th>Proceso Oferta</th>
                    <th>Nota Evaluación Técnica</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{nombreUsuarioPostulante}}</td>
                    <td>{{idProcesoPostulacion}}</td>
                    <td>{{idProcesoOferta}}</td>
                    <td>{{notaTotal}}</td>
                  </tr>
                </tbody>

              </table>
            </div>

          </div>

        </li>

        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="fundada2" class="mr-2">Infundada</label>
                <p-radioButton name="fundada" [value]="false" [(ngModel)]="solicitudRequestEntity.aprobado"
                  inputId="fundada2">
                </p-radioButton>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>

  </ng-container>

  <div class="col-12 mt-4 text-right">

    <button icon="pi pi-save" pButton pRipple type="button" *ngIf="impugnacionSAN"
      class="p-button-success p-button-outlined mr-2" label="Enviar Resultados a Solicitante">
    </button>

    <!-- Boton para registrar la solicitud -->
    <button icon="pi pi-save" pButton pRipple type="button" *ngIf="config.data.isNew" (click)="registrarSolicitudAmpliacion()"
      class="p-button-success p-button-outlined mr-2" label="Enviar">
    </button>

    <!-- Boton para actualizar la solicitud luego de ser aprobada por ARFFS (Tipo: Autorizacion Exploracion)-->
    <button icon="pi pi-save" pButton pRipple type="button" *ngIf="isBtnEnviarAuthExploracion"
      (click)="registrarInformeExploracion()" class="p-button-success p-button-outlined mr-2" label="Enviar">
    </button>

    <!-- Boton para aprobar la solicitud (ARFFS) (Tipo: Autorizacion Exploracion)-->
    <button icon="pi pi-save" pButton pRipple type="button" *ngIf="isBtnEnviarAuthExploAprobar"
      (click)="enviarSolicitudAprobar()" class="p-button-success p-button-outlined mr-2" label="Enviar">
    </button>

    <!-- Boton para aprobar la solicitud (ARFFS) (Tipo: Ampliacion de plazo publicacion)-->
    <button icon="pi pi-save" pButton pRipple type="button" *ngIf="isBtnEnviarAmpliacionAprobar"
      (click)="enviarSolicitudAmpliacionAprobar()" class="p-button-success p-button-outlined mr-2" label="Enviar">
    </button>

    <!-- <button icon="pi pi-save" pButton pRipple type="button"
      *ngIf="!config.data.isNew && solicitudRequestEntity.aprobado == null && (solicitudRequestEntity.idTipoSolicitud == constTipoSolicitud.autorizacionExpliracion || solicitudRequestEntity.idTipoSolicitud == constTipoSolicitud.ampliacionPlazoPublicacion)"
      (click)="aprobarRechazarSolicitud()" class="p-button-success p-button-outlined mr-2" label="Enviar2">
    </button> -->

    <button icon="pi pi-save" pButton pRipple type="button" *ngIf="config.data.isInforme"
      (click)="enviarInforme()" class="p-button-success p-button-outlined mr-2" label="Enviar3">
    </button>

    <button icon="pi pi-save" pButton pRipple type="button"
      *ngIf="!config.data.isNew && solicitudRequestEntity.idTipoSolicitud == constTipoSolicitud.impugnacion && aprobado == null"
      (click)="enviarRespuestaImpugnacion()" class="p-button-success p-button-outlined mr-2" label="Enviar4">
    </button>

    <button icon="pi pi-save" pButton pRipple type="button"
      *ngIf="!config.data.isNew && solicitudRequestEntity.idTipoSolicitud == constTipoSolicitud.impSAN && aprobado == null"
      (click)="enviarRespuestaImpSAN()" class="p-button-success p-button-outlined mr-2" label="Enviar5">
    </button>

    <button icon="pi pi-times" (click)="btnCerrarModal()" pButton pRipple type="button" label="Cancelar"
      class="p-button-danger p-button-outlined"></button>

  </div>
</div>
