<div class="container-fluit">
    <div class="row m-0">
        <div class="col-12 pt-4">
            <h3 class="title fz-17">REVISIÓN DE INSCRIPCION EN EL REGISTRO NACIONAL DE PLANTACIONES FORESTALES</h3>
        </div>
        <div class="col-12 mb-3">
            <!-- [solPlantacionForestal]="data.solPlantacionForestal" -->
            <app-rpf-informacion-solicitante ></app-rpf-informacion-solicitante>
        </div>

        <div class="col-12 mb-3">
            <!-- <app-rpf-area [area]="data.area"></app-rpf-area> -->
        </div>

        <div class="col-12 mb-3">
           <app-rpf-area-plantada [areaPlantada]="data.areaPlantada"></app-rpf-area-plantada>
        </div>
        <div class="col-12">
            <p-fieldset [collapsed]="true" legend="4. Detalle de plantación forestal" [toggleable]="true">
               <app-rpf-detalle-plantacion1 [detalleAreaPlanteada1]="data.detalleAreaPlanteada1"></app-rpf-detalle-plantacion1>
                <br/>
                <app-rpf-detalle-plantacion2 [detalleAreaPlanteada2]="data.detalleAreaPlanteada2"></app-rpf-detalle-plantacion2>
                <br/>
            </p-fieldset>
        </div>
    </div>
    <br/>
    <div class="row m-0">
        <div class="col-12">
            <p-fieldset [collapsed]="true" legend="Observaciones" [toggleable]="true">
                <div class="row m-0">
                    <div class="col-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Creado</th>
                                    <th>Estado</th>
                                    <th>Observación</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let o of data.observaciones;let indice=index">
                                    <td>{{indice+1}}</td>
                                    <td>{{o.creado | date: 'dd/MM/yyyy h:mm:ss a' }}</td>
                                    <td>{{o.estado}}</td>
                                    <td>{{o.observacion}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>
    <br/>

    <div class="row m-0">
        <div class="col-12">
            <div class="form-group">
                <label class="label">Observación</label>
                <textarea class="form-control" rows="4" cols="3" [(ngModel)]="data.observacion"  autocomplete="off"></textarea>
            </div>
        </div>
    </div>

    <div class="row m-0 mb-2 justify-content-center mt-4 mb-2">
        <div class="col-12 col-sm-4 text-center">
            <button pButton (click)="guardar('Aprobado')"  pRipple type="button" label="Aprobar" class="p-button-success p-button-outlined mr-2" ></button>
            <button pButton (click)="guardar('Rechazado')"  pRipple type="button" label="Rechazar" class="p-button-danger p-button-outlined mr-2" ></button>
            <button [routerLink]="['/planificacion/bandeja-plantacion-forestal']" pButton pRipple type="button" label="Cancelar" class="p-button-secondary p-button-outlined "></button>
        </div>
    </div>
    <br/>
</div>





