<div class="container-fluid">

  <label class="mb-1">PAS</label>

  <p-card>
    <button class="btn btn-sm btn-secondary mb-3">
      Registrar una resolución pra declarar Nulidad de inscripción
    </button>

    <div class="row">

      <div class="col-sm-12">
        <div class="table">
          <p-table [value]="[{}]">
            <ng-template pTemplate="header">
              <tr>
                <th scope="col" class="text-center">Nombre de documento </th>
                <th scope="col" class="text-center">Fecha </th>
              </tr>

            </ng-template>
            <ng-template pTemplate="body">
              <tr>
                <td class="text-center">Documento 0001 </td>
                <td class="text-center"> 20/12/2021 </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

    </div>
  </p-card>

  <div class="row mt-4 mb-4">
    <div class="col-12">
      <button class="btn btn-sm btn-secondary mr-3" (click)="notificar('Se ha notificado al usuario')">
        Notificar al usuario
      </button>
      <button class="btn btn-sm btn-secondary" (click)="notificar('Se ha notificado a SERFOR')">
        Notificar a SERFOR
      </button>

    </div>
  </div>
</div>

<p-toast position="bottom-center"></p-toast>