<div class="row m-0">
  <div class="col-12 pt-2 text-right">
    <button
      icon="pi pi-plus"
      [disabled]="disabled"
      (click)="abrirModal(AccionTipo.REGISTRAR)"
      pButton
      pRipple
      type="button"
      abel=""
      class="p-button-success p-button-text"
    ></button>
  </div>
</div>
<div class="row m-0">
  <div class="col-12">
    <table class="table table-boderk">
      <thead>
        <tr>
          <th>Acciones</th>
          <th>Labores</th>
          <th>Marcar</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of lstLaboresSilviculturales">
          <td>
            <span
              (click)="!disabled&& abrirModal(AccionTipo.EDITAR, data)"
              class="pointer mr-3"
              title="Editar"
            >
              <i class="pi pi-pencil"></i>
            </span>
            <span
              class="ml-2"
              (click)="!disabled&& openEliminar($event,data)"
              class="pointer"
              title="Eliminar"
            >
              <i class="pi pi-trash"></i>
            </span>
          </td>
          <td class="text-left">{{data.actividad}}</td>
          <td>
            <p-checkbox
              name="labor[]"
              [(ngModel)]="data.marca"
              [binary]="true"
              [disabled]="disabled"
              (onChange)="comprobarDiferencia($event, data)"
            >
            </p-checkbox>
          </td>
          <td>
            <div *ngIf="data.marca">
              <textarea
                sinSpacioInit
                class="form-control"
                rows="4"
                style="resize: none;"
                [(ngModel)]="data.descripcion"
                maxlength="250"
                (change)="comprobarDiferencia($event, data)"
                [disabled]="disabled"
              >
              </textarea>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <label *ngIf="pendiente" class="lbl-info mt-3 mb-3">
      (Los cambios locales se guardarán pulsando el botón "Guardar".)
    </label>
  </div>
</div>
