<div>
  <div class="row mt-3 mb-4">
    <div class="col-12">
      <h4 class="title2" style="border-bottom: 1px solid #ccc;">
        Modalidad de Pago
      </h4>
    </div>
    <div class="col-12 col-sm-4">
      <div class="form-control-selectk">
        <p-dropdown
          [options]="listSelectMecaPago"
          [(ngModel)]="form.modalidadTH"
          optionLabel="valorPrimario"
          optionValue="codigo"
          appendTo="body"
          [style]="{ width: '100%' }"
          [disabled]="true"
        >
        </p-dropdown>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="form.modalidadTH">
    <div class="col-12">
      <mat-tab-group [(selectedIndex)]="mecanismoTabIndex">
        <mat-tab [disabled]="disableTab1">
          <ng-template mat-tab-label>
            <span>Por superficie / Vigencia</span>
          </ng-template>
          <ng-template matTabContent>
            <div class="row pt-3 mb-4">
              <div class="col-12 col-sm-4">
                <label class="label">Área de TH (ha)</label>
                <input
                  decimal
                  [decimalPlaces]="2"
                  [min]="0"
                  [maxLength]="15"
                  [ngModel]="form.areHA | number: '1.2-2'"
                  class="form-control form-control-sm"
                  autocomplete="off"
                  disabled
                />
              </div>
              <div class="col-12 col-sm-4">
                <label class="label">Monto de pago por hectárea</label>
                <div class="p-inputgroup ig-left">
                  <p-dropdown
                    appendTo="body"
                    [options]="cboMonedas" 
                    optionValue="value"
                    (onChange)="onChangeMoneda($event)"
                    [(ngModel)]="form.tipoMoneda"
                    optionLabel="text"
                    [disabled]="perfil == perfiles.TITULARTH || perfil == perfiles.AUTORIDAD_REGIONAL_CAJA"
                  ></p-dropdown>
                  <input
                    decimal
                    [decimalPlaces]="2"
                    [min]="0"
                    [maxLength]="15"
                    class="form-control form-control-sm"
                    autocomplete="off"
                    (change)="changeMontoXha($event);"
                    [ngModel]="form.montoPagoHA | number: '1.2-2'"
                    [disabled]="form.detalle == '2' || perfil == perfiles.TITULARTH || perfil == perfiles.AUTORIDAD_REGIONAL_CAJA"
                  />
                  <p-dropdown
                    appendTo="body"
                    [options]="cboTipoMontoPA" 
                    optionValue="value"
                    (onChange)="onChangeTipo($event)"
                    [(ngModel)]="form.detalle"
                    optionLabel="text"
                    [disabled]="perfil == perfiles.TITULARTH || perfil == perfiles.AUTORIDAD_REGIONAL_CAJA"
                  ></p-dropdown>
                </div>
                <label class="label">T.C. Referencial: S/. {{ tipoCambio }}</label>
              </div>
              <div class="col-12 col-sm-4">
                <label class="label">Monto de pago por DA anual</label>
                <input
                  decimal
                  [decimalPlaces]="2"
                  [min]="0"
                  [maxLength]="15"
                  class="form-control form-control-sm"
                  autocomplete="off"
                  [ngModel]="form.montoPagoAnual | number: '1.2-2'"
                  disabled
                />
              </div>
            </div>
            <div class="row mb-4" *ngIf="form.tipoMoneda == 'DOLARES'">
              <div class="col-12 col-sm-4">
                <label class="label">Cálculo en moneda nacional</label>
                <input
                  decimal
                  [decimalPlaces]="2"
                  [min]="0"
                  [maxLength]="15"
                  class="form-control form-control-sm"
                  autocomplete="off"
                  [ngModel]="form.montoPagoAnualCalculado | number: '1.2-2'"
                  disabled
                />
              </div>
            </div>
  
            <div class="row" class="mt-4 mb-4">
              <div class="col-12">
                <h4 class="title2" style="border-bottom: 1px solid #ccc">
                  Cronograma de pago Anual
                </h4>
              </div>
              <tabla-cronograma-pagos-anio
                [idPago]="idPago"
                [cronogramaPagos]="cronogramaPagos"
                [pagoForm]="form"
                (nuevoAnio)="agregarAnhio($event)"
                (listCronograma)="form.listaCronograma=$event"
              ></tabla-cronograma-pagos-anio>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab [disabled]="disableTab2">
          <ng-template mat-tab-label>
            <span>Por valor de estado natural y volumen movilizado</span>
          </ng-template>
          <ng-template matTabContent>
            <div class="row mt-3 mb-2">
              <div class="col-12 form-group">
                <label class="label">Plan Operativo / Dema</label>
                <button
                  type="button"
                  class="btn btn-sm btn-default ml-2 mb-2"
                  title="Agregar"
                  [disabled]="cabeceraEspecies.descripcion || perfil == perfiles.TITULARTH || perfil == perfiles.AUTORIDAD_REGIONAL_CAJA"
                >
                  <i class="pi pi-plus"></i>
                </button>
              </div>
              <div class="col-12">
                <p-table [value]="listPO" responsiveLayout="scroll">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>N° Plan</th>
                      <th>Tipo Plan</th>
                      <th>Descripción</th>
                      <th>N° Resolución</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                    <tr>
                      <td>{{ data.nrDocumentoGestion }}</td>
                      <td>{{ data.tipoDocumentoGestion }}</td>
                      <td>{{ data.descripcion }}</td>
                      <td>{{ data.detalle }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
            <tabla-especies-DA
              [idPago]="idPago"
              [especies]="listaEspecies"
              [montoTotal]="montoTotal"
              [nrDocumentoGestion]="cabeceraEspecies.nrDocumentoGestion"
              [tipoPlan]="cabeceraEspecies.tipoDocumentoGestion"
              (editEspecie)="editarEspecie($event)"
              (nuevaEspecie)="nuevaEspecie($event)"
              (eliminaEspecie)="eliminarEspecie($event)"
              [defaultT]="true"
              [estadoPago]="estadoPago"
              [pagoForm]="form"
            ></tabla-especies-DA>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div
      class="col-12 step__btn mt-3"
      style="display: flex; justify-content: end;"
    >
      <button
        class="btn-primary2"
        (click)="guardarMecanismo2()"
        [disabled]="listaEspecies.length == 0 || disabledGuiaPago || estadoPago == CodigoEstadoPagos.PAGO_VALIDO || estadoPago == CodigoEstadoPagos.PAGO_OBSERVADO "
      >
        Registrar Pago
      </button>
    </div>
  </div>
  <div>
    <transporte-forestal *ngIf="!isRegisterByArffs"></transporte-forestal>
  </div>
</div>
