<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="title">Descuentos por Regímenes Promocionales</h3>
        </div>
        <div class="col-sm-12">
            <div class="panelk br10 p-3">


                <div class="row m-0">
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label class="label">Título Habilitante </label>
                            <input type="text" disabled class="form-control" [(ngModel)]="codigoTituloHabilitante"
                                maxlength="150" />
                        </div>
                    </div>
                    <div class="col-12 col-sm-2">
                        <div class="form-group">
                            <div><label class="label">&nbsp;</label></div>
                            <button (click)="abrirModalBuscarTH()" class="btn btn-sm btn-secondary">Buscar</button>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">

                    </div>
                </div>

                <div class="row m-0 mb-2 justify-content-center">
                  <div class="col-sm-12 mt-3 mb-2 form-group text-center">
                    <button class="btn btn-sm btn-secondary mr-2" (click)="limpiarFiltro()">Limpiar</button>
                    <button class="btn btn-sm btn-secondary mr-2" (click)="listarnumeroTH()">Buscar</button>
                    <button class="btn btn-sm btn-secondary" (click)="nuevoBeneficio()">Nuevo</button>
                  </div>
                </div>
            </div>
            <br>
            <!--{first} al {last} of {totalRecords}  propiedades de paginado -->
        
            <!-- <p-confirmPopup></p-confirmPopup>     -->
            <div class="tablek">  
                <p-table [value]="lstNumeroTH">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Cod. de TH</th>
                            <th>Titular de TH</th>
                            <th>ID Unid. Aprovechamiento</th>
                            <th>Descrip. de Beneficio</th>
                            <th>Porcentaje de Beneficio</th>
                            <th>Nro. de Resolución</th>
                            <th>Vigencia de Beneficio</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Estado</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-obj let-rowIndex="rowIndex" >
                        <tr>
                            <td>
                                <!-- <a style="cursor: pointer;" title="Eliminar" (click)="openEliminarRegistro($event,rowIndex)"> <i class="pi pi-trash" ></i> </a>
                                &nbsp; -->
                                <a style="cursor: pointer;" title="Solicitar opiniones"> <i class="pi pi-send"></i> </a>                      
                            </td>
                            <td>{{obj.idTH}}</td>
                            <td>{{obj.titularTH}}</td>
                            <td>{{obj.idAprovechamiento}}</td>
                            <td>{{obj.descripcion}}</td>
                            <td>{{obj.porcentaje}}</td>
                            <td>{{obj.numeroResolucion}}</td>
                            <td>{{obj.vigenciaBeneficio}}</td>
                            <td>{{obj.fechaInicio}}</td>
                            <td>{{obj.fechaFin}}</td>
                            <td>{{obj.estado}}</td>
                        </tr>
                    </ng-template>
                </p-table>
                <!--<p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)" [showCurrentPageReport]="true" currentPageReportTemplate="Total : {totalRecords} registros" 
                [rowsPerPageOptions]="[10,25,50]"></p-paginator> -->
            </div>

        </div>

    </div>
</div>
<!--
<p-toast position="bottom-center" key="toast"></p-toast>
<p-toast position="top-right" key="toast-tr"></p-toast>-->

<app-buscar-th  [verModalBuscarTH]="mostrarModalBuscarTH" (seleccionadoTH)="seleccionadoTH($event)" (closeModal)="closeModalTH()"></app-buscar-th>