  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title">Solicitudes</h3>
    </div>
    <div class="col-sm-12">

      <div class="panelk br10 p-3">
        <div class="row">
          <div class="col-sm-6 col-md-6 mb-2 form-group">
            <label class="label">Tipo de Solicitud:</label>
            <div class="form-control-selectk">
              <p-dropdown class="fomr-control" [(ngModel)]="this.objParamIni.idTipoSolicitud"
                  optionValue="idTipoSolicitud" [options]="tipoSolicitud" optionLabel="descripcion">
              </p-dropdown>
          </div>
          </div>
          <div class="col-sm-6 col-md-6 mb-2 form-group">
            <label class="label">Proceso Postulación:</label>
            <div class="form-control-selectk">
              <p-dropdown class="fomr-control" [(ngModel)]="this.objParamIni.idSolicitud"
                  optionValue="idProcesoPostulacion" [options]="procesoPostulacion" optionLabel="idProcesoPostulacion">
              </p-dropdown>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 mb-2 form-group">
            <label class="label">Estado:</label>
            <div class="form-control-selectk">
              <p-dropdown class="fomr-control" [options]="estadosolicitudes"   [(ngModel)]="this.objParamIni.idEtapaImpugnacionTx"></p-dropdown>
            </div>
          </div>

          <div class="col-sm-4 col-md-4 mt-3 mb-2 form-group">
            <button class="btn btn-sm btn-secondary mr-2" (click)="ListarImpugnacion(this.objParamIni)">Buscar</button>
            <button class="btn btn-sm btn-secondary" (click)="nuevaAmpliacion()" *ngIf="!esEvaluador">Nuevo</button>
          </div>
        </div>
      </div>
      <br>

      <!--{first} al {last} of {totalRecords}  propiedades de paginado -->
      <div class="mt-2">
        <div class="tablek">
          <p-table [value]="lstProcesosOferta"   >
            <ng-template pTemplate="header">
              <tr>
                <th>ID Proceso Postulación</th>
                <th>Motivo Solicitud</th>
                <th>Observación</th>
                <th>Tipo Solicitud</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Estado</th>
                <th>Ver</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-obj>
              <tr>
                <td>{{obj.idSolicitud}}</td>
                <td>{{obj.asunto}}</td>
                <td>{{obj.descripcion}}</td>
                <td>{{obj.tipoSolicitud}}</td>
                <td>{{obj.fechaInicio | date:"dd/MM/YYYY"}}</td>
                <td>{{obj.fechaFin | date:"dd/MM/YYYY"}}</td>
                <td>{{obj.idEtapaImpugnacionTx}}</td>
                <td>
                  <a style="cursor: pointer;" (click)="verDetalle(obj)"> <i class="pi pi-eye"></i> </a>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)" [rowsPerPageOptions]="[10,25,50,100]"></p-paginator>
          <span style="position: absolute; top:3px; right:5px; margin: 5px;">Total Registros: {{totalRecords}} </span>
        </div>
      </div>
     

    </div>

  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
