@import url('../../../styles/color-estado.scss');

.columna-content {
    display        : flex;
    flex-direction : column;
    justify-content: center;
}

.fila-content {
    display        : inline-flex;
    flex-direction : row;
    justify-content: center;
}

.codigoUnico {
    color      : #4A962C;
    font-weight: bold;
}