<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 pt-3">
      <h3 class="title">
        Bandeja de Entrada {{ CodigoProceso.PLAN_MANEJO_FORESTAL_INTERMEDIO }}
      </h3>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12">
      <div class="panelk br10 p-3">
        <div class="row">
          <div class="col-sm-12 col-md-4 form-group">
            <label class="label">DNI o RUC del Titular </label>
            <input
              type="number"
              numero
              autocomplete="off"
              class="form-control"
              placeholder="Ingrese Nro. DNI o RUC"
              maxlength="50"
              [(ngModel)]="evaluacionRequest.dniElaborador"
            />
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <label class="label">Nombre del Titular</label>
            <input
              type="text"
              autocomplete="off"
              class="form-control"
              placeholder="Ingrese Nombre del Titular"
              [(ngModel)]="evaluacionRequest.nombreElaborador"
            />
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <label class="label"
              >N° {{ CodigoProceso.PLAN_MANEJO_FORESTAL_INTERMEDIO }}</label
            >
            <input
              type="number"
              numero
              autocomplete="off"
              class="form-control"
              placeholder="Ingrese Nro. {{
                CodigoProceso.PLAN_MANEJO_FORESTAL_INTERMEDIO
              }}"
              [(ngModel)]="evaluacionRequest.idPlanManejo"
            />
          </div>
        </div>
        <div class="col-12 my-2 form-group text-center">
          <button class="btn btn-sm btn-secondary mr-2" (click)="limpiar()">
            Limpiar
          </button>
          <button class="btn btn-sm btn-secondary mr-2" (click)="buscar()">
            Buscar
          </button>
          <button class="btn btn-sm btn-secondary" (click)="nuevoPlan()">
            Nuevo
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-12 mt-4 mb-3">
      <div>
        <p-table
          [value]="planes"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Total : {totalRecords} registros"
          [rowsPerPageOptions]="[10, 25, 50]"
          [lazy]="true"
          [loading]="loading"
          (onLazyLoad)="load($event)"
          [totalRecords]="totalRecords"
          [first]="first"
        >
          <ng-template pTemplate="header">
            <tr>
              <th scope="row" style="min-width: 50px">N°</th>
              <th scope="row" style="min-width: 80px">ID PMFI de Comunidades</th>
              <th scope="row" style="min-width: 100px">DNI o RUC</th>
              <th scope="row" style="min-width: 250px">Nombre del Titular</th>
              <th scope="row" style="min-width: 270px">Permiso Forestal</th>
              <th scope="row" style="min-width: 100px">Estado</th>
              <th scope="row" style="min-width: 150px">Fecha de Registro</th>
              <th
                class="text-center"
                *ngIf="usuario.sirperfil == Perfiles.TITULARTH"
              >
                Impugnación
              </th>
              <th scope="row" style="min-width: 70px" class="text-center">
                Ver plan
              </th>
              <th
                class="text-center"
                class="text-center"
                *ngIf="usuario.sirperfil === Perfiles.TITULARTH"
              >
                Resultados Obs
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-rowIndex="rowIndex+1">
            <tr>
              <td>{{ rowIndex }}</td>
              <td>{{ item?.idPlanManejo }}</td>
              <td>{{ item?.infoGeneral.dniElaborador }}</td>
              <td>
                {{
                  item.infoGeneral.dniElaborador != null
                    ? item.infoGeneral.dniElaborador ==
                      item.infoGeneral.ruccomunidad
                      ? item?.infoGeneral.nombreElaborador
                      : item?.infoGeneral.nombreElaborador +
                        " " +
                        item?.infoGeneral.apellidosElaborador
                    : ""
                }}
              </td>
              <td>
                <div *ngIf="item.codigoUnico" class="fila-content">
                  <div>
                    <b>TH: </b>
                    <label class="codigoUnico mr-2">{{
                      item.codigoUnico
                    }}</label>
                    <i
                      class="pi pi-window-maximize pointer"
                      title="Permiso Forestal"
                      aria-hidden="true"
                      (click)="openModal(item)"
                    >
                    </i>
                  </div>
                </div>
              </td>
              <td>
                <span
                  *ngIf="
                    item?.codEstado != CodigoEstadoEvaluacion.FINALIZADO;
                    else temfinalizado
                  "
                >
                  <text-color-estado
                    [codEstado]="item?.codEstado"
                    [codigoEstado]="item?.codigoEstado"
                  >
                  </text-color-estado>
                </span>
                <ng-template #temfinalizado>
                  <span class="font-weight-bold color-green">{{
                    item?.codigoEstado
                  }}</span>
                </ng-template>
              </td>
              <td>
                {{ item?.fechaRegistro | date: "dd/MM/yyyy h:mm:ss a":"UTC" }}
              </td>

              <td
                class="text-center"
                *ngIf="usuario.sirperfil == Perfiles.TITULARTH && permisos.isPerRegistrar"
              >
                <solicitud-san-shared
                  [idPlanManejo]="item?.idPlanManejo"
                  [estadoPlanManejo]="item.codEstado"
                  [codigoPlan]="'PMFIC'"
                  (registroImpugnacionEmiter)="
                    registroImpugnacionEmiter($event)
                  "
                  [disabled]="false"
                ></solicitud-san-shared>
              </td>

              <td class="text-center">
                <i
                  class="pi pi-eye pointer"
                  title="Revision"
                  aria-hidden="true"
                  (click)="verPlan(item?.idPlanManejo)"
                  *ngIf="permisos.isPerVisualizar"
                >
                </i>
              </td>
              <td
                class="text-center"
                *ngIf="usuario.sirperfil === Perfiles.TITULARTH && permisos.isPerVisualizar"
              >
                <i
                  class="pi pi-list pointer"
                  title="Revision"
                  aria-hidden="true"
                  (click)="verDetalle(item)"
                  
                >
                </i>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
