<div class="mt-4 mb-4">
  <p-accordion>
    <p-accordionTab
      class="{{ evaluacionSuscripcion.classEstado }}"
      [selected]="true"
    >
      <ng-template pTemplate="header">
        <label class="m-0">
          <i class="pi {{ evaluacionSuscripcion.icon }} fz-14"></i>
          {{ evaluacionSuscripcion.titulo }}
        </label>
      </ng-template>
      <div>
        <requisito-pgmfa
          [base]="evaluacionSuscripcion"
          (onChange)="evaluacion($event, 'suscription')"
        >

        <ng-template #conatinerinner>
          <div class="row m-0">
              <div class="col-12 col-sm-2">
                <div class="form-group">
                  <label class="label">Documento Titular</label>
                  <input
                    class="form-control form-control-sm" [disabled]="disabled"
                    type="number"
                    [(ngModel)]="requisitoSuscripcion.numeroDocumentoTitular"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <div class="form-group">
                  <label class="label">Titular</label>
                  <input
                    disabled
                    class="form-control form-control-sm"
                    [(ngModel)]="requisitoSuscripcion.titular"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-2">
                <div><label>&nbsp;&nbsp;</label></div>
                <button [disabled]="disabled"
                  (click)="validarTitular()"
                  class="btn btn-secondary mb-3"
                >
                  Validar
                </button>
              </div>
              <div class="col-12 col-sm-4">
                <div class="mb-2"><label>&nbsp;&nbsp;</label></div>
                <div class="p-field-radiobutton d-inline-full">
                  <p-radioButton
                    name="req1_1Habilitado" [disabled]="disabled"
                    [(ngModel)]="requisitoSuscripcion.isTitularHabilitado"
                    id="req1_1HabilitadoSI"
                    [value]="true"
                  ></p-radioButton>
                  <label class="mr-2 pl-1 pointer" for="req1_1HabilitadoSI"
                    >Habilitado</label
                  >
                </div>
                <div class="p-field-radiobutton d-inline-full">
                  <p-radioButton
                    name="req1_1Habilitado"
                    [(ngModel)]="requisitoSuscripcion.isTitularHabilitado"
                    id="req1_1HabilitadoNO" [disabled]="disabled"
                    [value]="false"
                  ></p-radioButton>
                  <label class="mr-2 pl-1 pointer" for="req1_1HabilitadoNO"
                    >Inhabilitado</label
                  >
                </div>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12 col-sm-2">
                <div class="form-group">
                  <label class="label">Documento Regente</label>
                  <input [disabled]="disabled"
                    class="form-control form-control-sm"
                    [(ngModel)]="requisitoSuscripcion.numeroDocumentoRegente"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <div class="form-group">
                  <label class="label">Regente</label>
                  <input
                    disabled
                    class="form-control form-control-sm"
                    [(ngModel)]="requisitoSuscripcion.regente"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-2">
                <div><label>&nbsp;&nbsp;</label></div>
                <button
                  (click)="validarRegente()" [disabled]="disabled"
                  class="btn btn-secondary mb-3"
                >
                  Validar
                </button>
              </div>
              <div class="col-12 col-sm-4">
                <div class="mb-2"><label>&nbsp;&nbsp;</label></div>
                <div class="p-field-radiobutton d-inline-full">
                  <p-radioButton
                    name="req1_2Habilitado" [disabled]="disabled"
                    [(ngModel)]="requisitoSuscripcion.isRegenteHabilitado"
                    id="req1_2HabilitadoSI"
                    [value]="true"
                  ></p-radioButton>
                  <label class="mr-2 pl-1 pointer" for="req1_2HabilitadoSI"
                    >Habilitado</label
                  >
                </div>
                <div class="p-field-radiobutton d-inline-full">
                  <p-radioButton
                    name="req1_2Habilitado" [disabled]="disabled"
                    [(ngModel)]="requisitoSuscripcion.isRegenteHabilitado"
                    id="req1_2HabilitadoNO"
                    [value]="false"
                  ></p-radioButton>
                  <label class="mr-2 pl-1 pointer" for="req1_2HabilitadoNO"
                    >Inhabilitado</label
                  >
                </div>
              </div>
            </div>
          </ng-template>
        </requisito-pgmfa>
      </div>
    </p-accordionTab>
    <p-accordionTab class="{{ evaluacionMedidasCautelares.classEstado }}">
      <ng-template pTemplate="header">
        <label class="m-0">
          <i class="pi {{ evaluacionMedidasCautelares.icon }} fz-14"></i>
          {{ evaluacionMedidasCautelares.titulo }}
        </label>
      </ng-template>
      <div>
        <requisito-pgmfa
          [base]="evaluacionMedidasCautelares"
          (onChange)="evaluacion($event, 'medidasCautelares')"
        >
          <ng-template #conatinerinner>
            <div class="row m-0">
              <div class="col-12 mb-2">
                <div class="form-group">
                  <label class="label">Nombre de la Comunidad</label>
                  <input
                    class="form-control form-control-sm" [disabled]="disabled"
                    [(ngModel)]="requisitoMedidasCautelares.comunidad"
                    maxlength="50"
                  />
                </div>
              </div>
              <div class="col-12 mb-2">
                <div class="form-group">
                  <label class="label">Nombre de Titular de Concesión</label>
                  <input
                    class="form-control form-control-sm" [disabled]="disabled"
                    [(ngModel)]="requisitoMedidasCautelares.titularConsecion"
                    maxlength="50"
                  />
                </div>
              </div>
              <div class="col-12 mb-2">
                <div class="form-group">
                  <label class="label">Número de Titulo Habilitante</label>
                  <input [disabled]="disabled"
                    class="form-control form-control-sm"
                    [(ngModel)]="requisitoMedidasCautelares.tituloHabilitante"
                    maxlength="50"
                  />
                </div>
              </div>
            </div>
            <div class="row m-0 mb-2">
              <div class="col-sm-9">
                <label class="label fz-13">Lista de Medidas Cautelares</label>
              </div>
              <div class="col-sm-3 text-cemter" *ngIf="false">
                <button class="btn btn-primary2" >Validar</button>
              </div>
            </div>

            <div class="form-group row m-0 mb-2">
              <label class="col-sm-10 pl-0 col-form-label label fz-15"
                >&nbsp;</label
              >
              <div class="col-sm-2 text-center">
                <span (click)="!disabled && verModal('MEDCAUTE')" class="pointer btn-plus-x"
                  ><i class="pi pi-plus-circle"></i
                ></span>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12">
                <div class="table">
                  <p-table
                    [value]="requisitoMedidasCautelares.evaluacionDetalle"
                  >
                    <ng-template pTemplate="header">
                      <tr>
                        <th>Acciones</th>
                        <th>Medida Cautelar</th>
                        <th style="width: 200px;">Conforme</th>
                      </tr>
                    </ng-template>
                    <ng-template
                      pTemplate="body"
                      let-data
                      let-rowIndex="rowIndex"
                    >
                      <tr>
                        <td style="width: 120px;">
                          <span
                            class="pointer ml-2"
                            title="Eliminar"
                            (click)="!disabled &&
                              openEliminar($event, data, 'MEDCAUTE', rowIndex)
                            "
                            ><i class="pi pi-trash"></i
                          ></span>
                          <span
                            class="pointer ml-1"
                            (click)=" !disabled &&
                              verModalV2('U', 'MEDCAUTE', data, rowIndex)
                            "
                            ><i class="pi pi-pencil"></i
                          ></span>
                        </td>
                        <td>{{ data.medida }}</td>
                        <td>
                          <div class="p-field-radiobutton d-inline-full">
                            <p-radioButton
                              [disabled]="true"
                              name="req2Conforme_{{ rowIndex }}"
                              [(ngModel)]="data.isConformidad"
                              id="req2ConformeSI_{{ rowIndex }}"
                              [value]="true"
                            ></p-radioButton>
                            <label
                              class="mr-2 pl-1 pointer"
                              for="req2ConformeSI_{{ rowIndex }}"
                              >SI</label
                            >
                          </div>
                          <div class="p-field-radiobutton d-inline-full">
                            <p-radioButton
                              [disabled]="true"
                              name="req2Conforme_{{ rowIndex }}"
                              [(ngModel)]="data.isConformidad"
                              id="req2ConformeNO_{{ rowIndex }}"
                              [value]="false"
                            ></p-radioButton>
                            <label
                              class="mr-2 pl-1 pointer"
                              for="req2ConformeNO_{{ rowIndex }}"
                              >NO</label
                            >
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </ng-template>
        </requisito-pgmfa>
      </div>
    </p-accordionTab>

    <p-accordionTab class="{{ evaluacionRestricciones.classEstado }}">
      <ng-template pTemplate="header">
        <label class="m-0">
          <i class="pi {{ evaluacionRestricciones.icon }} fz-14"></i>
          {{ evaluacionRestricciones.titulo }}
        </label>
      </ng-template>
      <div>
        <requisito-pgmfa
          [base]="evaluacionRestricciones"
          (onChange)="evaluacion($event, 'restricciones')"
        >
          <ng-template #conatinerinner>
            <div class="row m-0">
              <div class="col-12 mb-2">
                <div class="form-group">
                  <label class="label">Nombre de la Comunidad</label>
                  <input
                    class="form-control form-control-sm" [disabled]="disabled"
                    [(ngModel)]="requisitoRestricciones.comunidad"
                    maxlength="50"
                  />
                </div>
              </div>
              <div class="col-12 mb-2">
                <div class="form-group">
                  <label class="label">Nombre de Titular de Concesión</label>
                  <input
                    class="form-control form-control-sm" [disabled]="disabled"
                    [(ngModel)]="requisitoRestricciones.titularConsecion"
                    maxlength="50"
                  />
                </div>
              </div>
              <div class="col-12 mb-2">
                <div class="form-group">
                  <label class="label">Número del Titular Habilitante</label>
                  <input
                    class="form-control form-control-sm" [disabled]="disabled"
                    [(ngModel)]="requisitoRestricciones.tituloHabilitante"
                    maxlength="50"
                  />
                </div>
              </div>
            </div>
            <div class="row m-0 mb-2">
              <div class="col-sm-9">
                <label class="label fz-13">Lista de Restricciones</label>
              </div>
              <div class="col-sm-3 text-cemter" *ngIf="false">
                <button class="btn btn-primary2">Validar</button>
              </div>
            </div>
            <div class="form-group row m-0 mb-2">
              <label class="col-sm-10 pl-0 col-form-label label fz-15"
                >&nbsp;</label
              >
              <div class="col-sm-2 text-center">
                <span (click)="!disabled && verModal('RESTRIC')" class="pointer btn-plus-x"
                  ><i class="pi pi-plus-circle"></i
                ></span>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12">
                <div class="table">
                  <p-table [value]="requisitoRestricciones.evaluacionDetalle">
                    <ng-template pTemplate="header">
                      <tr>
                        <th>Acciones</th>
                        <th>Restricciones</th>
                        <th style="width: 200px;">Conforme</th>
                      </tr>
                    </ng-template>
                    <ng-template
                      pTemplate="body"
                      let-data
                      let-rowIndex="rowIndex"
                    >
                      <tr>
                        <td style="width: 120px;">
                          <span
                            class="pointer ml-2"
                            title="Eliminar"
                            (click)="!disabled &&
                              openEliminar($event, data, 'RESTRIC', rowIndex)
                            "
                            ><i class="pi pi-trash"></i
                          ></span>
                          <span
                            class="pointer ml-1"
                            (click)="verModalV2('U', 'RESTRIC', data, rowIndex)"
                            ><i class="pi pi-pencil"></i
                          ></span>
                        </td>
                        <td>{{ data.medida }}</td>
                        <td>
                          <div class="p-field-radiobutton d-inline-full">
                            <p-radioButton
                              [disabled]="true"
                              name="req2Conforme_{{ rowIndex }}"
                              [(ngModel)]="data.isConformidad"
                              id="req3ConformeSI_{{ rowIndex }}"
                              [value]="true"
                            ></p-radioButton>
                            <label
                              class="mr-2 pl-1 pointer"
                              for="req2ConformeSI_{{ rowIndex }}"
                              >SI</label
                            >
                          </div>
                          <div class="p-field-radiobutton d-inline-full">
                            <p-radioButton
                              [disabled]="true"
                              name="req2Conforme_{{ rowIndex }}"
                              [(ngModel)]="data.isConformidad"
                              id="req3ConformeNO_{{ rowIndex }}"
                              [value]="false"
                            ></p-radioButton>
                            <label
                              class="mr-2 pl-1 pointer"
                              for="req2ConformeNO_{{ rowIndex }}"
                              >NO</label
                            >
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </ng-template>
        </requisito-pgmfa>
      </div>
    </p-accordionTab>
    <p-accordionTab class="{{ evaluacionMedidasCorrectivas.classEstado }}">
      <ng-template pTemplate="header">
        <label class="m-0">
          <i class="pi {{ evaluacionMedidasCorrectivas.icon }} fz-14"></i>
          {{ evaluacionMedidasCorrectivas.titulo }}
        </label>
      </ng-template>
      <div>
        <requisito-pgmfa
          [base]="evaluacionMedidasCorrectivas"
          (onChange)="evaluacion($event, 'medidasCorrectivas')"
        >
          <ng-template #conatinerinner>
            <div class="row m-0">
              <div class="col-12 mb-2">
                <div class="form-group">
                  <label class="label">Nombre de la Comunidad</label>
                  <input [disabled]="disabled"
                    class="form-control form-control-sm"
                    [(ngModel)]="requisitoMedidasCorrectivas.comunidad"
                    maxlength="50"
                  />
                </div>
              </div>
            </div>
            <div class="row m-0 mb-2">
              <div class="col-sm-9">
                <label class="label fz-13">Lista de Medidas Correctivas</label>
              </div>
              <div class="col-sm-3 text-cemter" *ngIf="false">
                <button class="btn btn-primary2">Validar</button>
              </div>
            </div>
            <div class="form-group row m-0 mb-2">
              <label class="col-sm-10 pl-0 col-form-label label fz-15"
                >&nbsp;</label
              >
              <div class="col-sm-2 text-center">
                <span (click)="!disabled && verModal('MEDCORRE')" class="pointer btn-plus-x"
                  ><i class="pi pi-plus-circle"></i
                ></span>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12">
                <div class="table">
                  <p-table
                    [value]="requisitoMedidasCorrectivas.evaluacionDetalle"
                  >
                    <ng-template pTemplate="header">
                      <tr>
                        <th>Acciones</th>
                        <th>Medida Correctiva</th>
                        <th style="width: 200px;">Conforme</th>
                      </tr>
                    </ng-template>
                    <ng-template
                      pTemplate="body"
                      let-data
                      let-rowIndex="rowIndex"
                    >
                      <tr>
                        <td style="width: 120px;">
                          <span
                            class="pointer ml-2"
                            title="Eliminar"
                            (click)="!disabled &&
                              openEliminar($event, data, 'MEDCORRE', rowIndex)
                            "
                            ><i class="pi pi-trash"></i
                          ></span>
                          <span
                            class="pointer ml-1"
                            (click)="!disabled &&
                              verModalV2('U', 'MEDCORRE', data, rowIndex)
                            "
                            ><i class="pi pi-pencil"></i
                          ></span>
                        </td>
                        <td>{{ data.medida }}</td>
                        <td>
                          <div class="p-field-radiobutton d-inline-full">
                            <p-radioButton
                              [disabled]="true"
                              name="req3Conforme_{{ rowIndex }}"
                              [(ngModel)]="data.isConformidad"
                              id="req4ConformeSI_{{ rowIndex }}"
                              [value]="true"
                            ></p-radioButton>
                            <label
                              class="mr-2 pl-1 pointer"
                              for="req3ConformeSI_{{ rowIndex }}"
                              >SI</label
                            >
                          </div>
                          <div class="p-field-radiobutton d-inline-full">
                            <p-radioButton
                              [disabled]="true"
                              name="req3Conforme_{{ rowIndex }}"
                              [(ngModel)]="data.isConformidad"
                              id="req4ConformeNO_{{ rowIndex }}"
                              [value]="false"
                            ></p-radioButton>
                            <label
                              class="mr-2 pl-1 pointer"
                              for="req3ConformeNO_{{ rowIndex }}"
                              >NO</label
                            >
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </ng-template>
        </requisito-pgmfa>
      </div>
    </p-accordionTab>

    <p-accordionTab class="{{ evaluacionVigenciaDePoder.classEstado }}">
      <ng-template pTemplate="header">
        <label class="m-0">
          <i class="pi {{ evaluacionVigenciaDePoder.icon }} fz-14"></i>
          {{ evaluacionVigenciaDePoder.titulo }}
        </label>
      </ng-template>
      <div>
        <requisito-pgmfa
          [base]="evaluacionVigenciaDePoder"
          (onChange)="evaluacion($event, 'vigenciaDePoder')"
        >
          <ng-template #conatinerinner>
            <div class="row m-0">
              <div class="col-12 col-sm-3">
                <div class="form-group">
                  <label class="label">RUC</label>
                  <input
                    maxlength="11" [disabled]="disabled"
                    class="form-control form-control-sm"
                    [(ngModel)]="requisitoVigenciaDePoder.ruc"
                    maxlength="50"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="label">Nombre de la Comunidad</label>
                  <input
                    class="form-control form-control-sm" [disabled]="disabled"
                    [(ngModel)]="requisitoVigenciaDePoder.comunidad"
                    maxlength="50"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <div class="form-group">
                  <label class="label">Partida Registral</label>
                  <input
                    class="form-control form-control-sm" [disabled]="disabled"
                    [(ngModel)]="requisitoVigenciaDePoder.partidaRegistral"
                    maxlength="50"
                  />
                </div>
              </div>
            </div>
            <div class="row m-0 mb-2">
              <div class="col-sm-9">
                <label class="label fz-13"></label>
              </div>
              <div class="col-sm-3 text-cemter" *ngIf="false">
                <button class="btn btn-primary2">Validar</button>
              </div>
            </div>
            <div class="form-group row m-0 mb-2">
              <label class="col-sm-10 pl-0 col-form-label label fz-15"
                >&nbsp;</label
              >
              <div class="col-sm-2 text-center">
                <span
                  (click)="!disabled && verModalRepresentante('VIGENPOD')"
                  class="pointer btn-plus-x"
                  ><i class="pi pi-plus-circle"></i
                ></span>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12">
                <div class="table">
                  <p-table [value]="requisitoVigenciaDePoder.evaluacionDetalle">
                    <ng-template pTemplate="header">
                      <tr>
                        <th>Acciones</th>
                        <th>Representante Legal</th>
                        <th style="width: 200px;">Fecha Inicial</th>
                        <th style="width: 200px;">Fecha Final</th>
                      </tr>
                    </ng-template>
                    <ng-template
                      pTemplate="body"
                      let-data
                      let-rowIndex="rowIndex"
                    >
                      <tr>
                        <td style="width: 120px;">
                          <span
                            class="pointer ml-2"
                            title="Eliminar"
                            (click)="!disabled && openEliminar($event, data, 'VIGENPOD', rowIndex)"
                            ><i class="pi pi-trash"></i
                          ></span>
                          <span
                            class="pointer ml-1"
                            (click)="!disabled &&
                              verModalRepresentanteEditar(
                                'E',
                                'VIGENPOD',
                                data,
                                rowIndex
                              )
                            "
                            ><i class="pi pi-pencil"></i
                          ></span>
                        </td>
                        <td>{{ data.medida }}</td>
                        <td>{{ data.fechaIni | date: "dd/MM/yyyy":"UTC" }}</td>
                        <td>{{ data.fechaFin | date: "dd/MM/yyyy":"UTC" }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </ng-template>
        </requisito-pgmfa>
      </div>
    </p-accordionTab>
    <p-accordionTab class="{{ evaluacionVigenciaJuntaDirectiva.classEstado }}">
      <ng-template pTemplate="header">
        <label class="m-0">
          <i class="pi {{ evaluacionVigenciaJuntaDirectiva.icon }} fz-14"></i>
          {{ evaluacionVigenciaJuntaDirectiva.titulo }}
        </label>
      </ng-template>
      <requisito-pgmfa
        [base]="evaluacionVigenciaJuntaDirectiva"
        (onChange)="evaluacion($event, 'VigenciaJuntaDirectiva')"
      >
        <ng-template #conatinerinner>
          <div class="row m-0">
            <div class="col-12 col-sm-3">
              <div class="form-group">
                <label class="label">RUC</label>
                <input
                  class="form-control form-control-sm" [disabled]="disabled"
                  [(ngModel)]="requisitoVigenciaJuntaDirectiva.ruc"
                  maxlength="11"
                />
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label">Nombre de la Comunidad</label>
                <input
                  class="form-control form-control-sm" [disabled]="disabled"
                  [(ngModel)]="requisitoVigenciaJuntaDirectiva.comunidad"
                  maxlength="50"
                />
              </div>
            </div>
            <div class="col-12 col-sm-3">
              <div class="form-group">
                <label class="label">Partida Registral</label>
                <input
                  class="form-control form-control-sm" [disabled]="disabled"
                  [(ngModel)]="requisitoVigenciaJuntaDirectiva.partidaRegistral"
                  maxlength="50"
                />
              </div>
            </div>
          </div>
          <div class="row m-0 mb-2">
            <div class="col-sm-9">
              <label class="label fz-13"></label>
            </div>
            <div class="col-sm-3 text-cemter" *ngIf="false">
              <button class="btn btn-primary2">Validar</button>
            </div>
          </div>
          <div class="form-group row m-0 mb-2">
            <label class="col-sm-10 pl-0 col-form-label label fz-15"
              >&nbsp;</label
            >
            <div class="col-sm-2 text-center">
              <span
                (click)="!disabled && verModalRepresentante('VIGENDIR')"
                class="pointer btn-plus-x"
                ><i class="pi pi-plus-circle"></i
              ></span>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12">
              <div class="table">
                <p-table [value]="requisitoVigenciaJuntaDirectiva.evaluacionDetalle">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Acciones</th>
                      <th>Representante Legal</th>
                      <th style="width: 200px;">Fecha Inicial</th>
                      <th style="width: 200px;">Fecha Final</th>
                    </tr>
                  </ng-template>
                  <ng-template
                    pTemplate="body"
                    let-data
                    let-rowIndex="rowIndex"
                  >
                    <tr>
                      <td style="width: 120px;">
                        <span
                          class="pointer ml-2"
                          title="Eliminar"
                          (click)="!disabled &&
                            openEliminar($event, data, 'VIGENDIR', rowIndex)
                          "
                          ><i class="pi pi-trash"></i
                        ></span>
                        <span
                          class="pointer ml-1"
                          (click)="!disabled &&
                            verModalRepresentanteEditar(
                              'E',
                              'VIGENDIR',
                              data,
                              rowIndex
                            )
                          "
                          ><i class="pi pi-pencil"></i
                        ></span>
                      </td>
                      <td>{{ data.medida }}</td>
                      <td>{{ data.fechaIni | date: "dd/MM/yyyy":"UTC" }}</td>
                      <td>{{ data.fechaFin | date: "dd/MM/yyyy":"UTC" }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </ng-template>
      </requisito-pgmfa>
    </p-accordionTab>
    <p-accordionTab class="{{ evaluacionSuperficieDelArea.classEstado }}">
      <ng-template pTemplate="header">
        <label class="m-0">
          <i class="pi {{ evaluacionSuperficieDelArea.icon }} fz-14"></i>
          {{ evaluacionSuperficieDelArea.titulo }}
        </label>
      </ng-template>
      <div>
        <requisito-pgmfa
          [base]="evaluacionSuperficieDelArea"
          (onChange)="evaluacion($event, 'area')"
        >
          <ng-template #conatinerinner>
            <div class="row m-0">
              <div class="col-12 col-sm-5">
                <div class="form-group">
                  <label class="label">Área (ha)</label>
                  <input
                    type="number" [disabled]="disabled"
                    class="form-control form-control-sm"
                    [(ngModel)]="requisitoSuperficieDelArea.area"
                    (change)="onChangeEvent($event)"
                    maxlength="50"
                  />
                </div>
              </div>
            </div>
          </ng-template>
        </requisito-pgmfa>
      </div>
    </p-accordionTab>
  </p-accordion>

  <div class="step__btn mt-4">
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button
      class="btn-primary2"
      (click)="guardarRequisitosPlan()"
      [disabled]="noValido || isDisabledRequisitos || disabled"
    >
      Guardar
    </button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
  <br />
</div>
<p-confirmPopup></p-confirmPopup>
<p-dialog
  appendTo="body"
  header="{{ dialogTitulo }} {{ dialogSubtitulo }}"
  [(visible)]="verModalMantenimiento"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div>
      <div class="form-group">
        <label class="label">{{ dialogSubtitulo }}</label>
        <div class="row">
          <div class="col-sm-12">
            <input
              type="text"
              class="form-control"
              placeholder=""
              [(ngModel)]="dialogMedida"
              maxlength="50"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="label">Conforme</label>
        <div>
          <div class="p-field-radiobutton">
            <p-radioButton
              name="conforme"
              [(ngModel)]="dialogConforme"
              [value]="true"
              inputId="conformeSI"
            ></p-radioButton>
            <label class="pointer" for="conformeSI">Si</label>
          </div>
          <div class="p-field-radiobutton">
            <p-radioButton
              name="conforme"
              [(ngModel)]="dialogConforme"
              [value]="false"
              inputId="conformeNO"
            ></p-radioButton>
            <label class="pointer" for="conformeNO">No</label>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      pButton
      pRipple
      type="button"
      (click)="agregarDetalle()"
      label="Aceptar"
      class="p-button-success p-button-outlined"
      style="width: 106px;"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verModalMantenimiento = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
      style="width: 106px;"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  appendTo="body"
  header="{{ dialogTitulo }} Representante"
  [(visible)]="verModalMantenimientoRepre"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div>
      <div class="form-group">
        <label class="label">Representante</label>
        <div class="row">
          <div class="col-sm-12">
            <input
              type="text"
              class="form-control"
              placeholder=""
              [(ngModel)]="dialogRepresentante"
              maxlength="50"
            />
          </div>
        </div>
      </div>
      <div class="col-sm-12 form-group">
        <label class="label">Fecha Inicial</label>
        <div class="content-date">
          <input
            autocomplete="off"
            type="text"
            class="form-control"
            matInput
            [matDatepicker]="fechaInicial"
            readonly="true"
            [min]="minDate"
            [(ngModel)]="dialogFechaInicial"
          />
          <i class="pi pi-calendar pointer" (click)="fechaInicial.open()"></i>
          <mat-datepicker #fechaInicial></mat-datepicker>
        </div>
      </div>

      <div class="col-sm-12 form-group">
        <label class="label">Fecha Final</label>
        <div class="content-date">
          <input
            autocomplete="off"
            type="text"
            class="form-control"
            matInput
            [matDatepicker]="fechaFinal"
            readonly="true"
            [min]="minDate"
            [(ngModel)]="dialogFechaFinal"
          />
          <i class="pi pi-calendar pointer" (click)="fechaFinal.open()"></i>
          <mat-datepicker #fechaFinal></mat-datepicker>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      pButton
      pRipple
      type="button"
      (click)="agregarDetalleRepresentante()"
      label="Aceptar"
      class="p-button-success p-button-outlined"
      style="width: 106px;"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verModalMantenimientoRepre = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
      style="width: 106px;"
    ></button>
  </ng-template>
</p-dialog>
<p-toast></p-toast>
