<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 form-group">
      <app-carga-archivo-general accept="" [idArchivo]="adjunto.idArchivo" [tipoDoc]="adjunto.tipoArchivo"
        label="Adjuntar Archivo de Sincronización:" (registrarArchivoFile)="registrarArchivoFile($event)"
        (eliminarArchivo)="eliminarArchivo($event)">
      </app-carga-archivo-general>
    </div>

    <div class="col-12 mt-4 text-right">
      <button class="p-button-success p-button-outlined mr-2" type="button" icon="pi pi-save" pButton pRipple
        label="Sincronizar" (click)="btnGuardar($event)"></button>

      <button class="p-button-danger p-button-outlined" type="button" icon="pi pi-times" pButton pRipple
        label="Cancelar" (click)="btnCancelar()"></button>
    </div>
  </div>
</div>