<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 col-sm-4 form-group">
      <label class="label">N° Plan Manejo:</label>
      <input class="form-control" type="text" autocomplete="off" placeholder="" [(ngModel)]="objbuscarPlan.idPlanManejo"
        numero [maxLength]="8" />
    </div>

    <div class="col-12 col-sm-4 form-group">
      <label class="label">Tipo Plan Manejo:</label>
      <div class="form-control-selectk">
        <p-dropdown appendTo="body" [options]="comboPlanManejo" placeholder="Seleccione" optionLabel="codigo"
          optionValue="codigo" [(ngModel)]="objbuscarPlan.codigoTipoPlan">
        </p-dropdown>
      </div>
    </div>
    
    <div class="col-12 col-sm-4 form-group text-center">
      <div><label class="label">&nbsp;</label></div>
      <button class="btn btn-sm btn-secondary mr-2" (click)="btnLimpiar()">Limpiar</button>
      <button class="btn btn-sm btn-secondary" (click)="btnBuscar()">Buscar</button>
    </div>

    <div class="col-12 mt-4">
      <p-table [value]="listaPlanesTotal">
        <ng-template pTemplate="header">
          <tr>
            <th>N° Plan</th>
            <th>Tipo Plan</th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fila>
          <tr>
            <td>{{fila.idPlanManejo}}</td>
            <td>{{fila.tipoPlanDesripcion}}</td>
            <td>
              <p-checkbox [binary]="true" [(ngModel)]="fila.check"></p-checkbox>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)"
        [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros">
      </p-paginator>
    </div>

    <div class="col-12 mt-4 text-right">
      <button class="p-button-success p-button-outlined mr-2" type="button" icon="pi pi-save" pButton pRipple
        label="Guardar" (click)="btnGuardar()"></button>

      <button class="p-button-danger p-button-outlined" type="button" icon="pi pi-times" pButton pRipple
        label="Cancelar" (click)="btnCancelar()"></button>
    </div>
  </div>
</div>