<div class="col-12 mt-4 mb-3">
  <p-table styleClass="p-datatable-gridlines" [value]="listAnexo5Maderables">
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="2" class="text-center">Acciones</th>
        <th rowspan="2">N° faja</th>
        <th rowspan="2">N° Árbol (Código)</th>
        <th rowspan="2">Especie</th>
        <th rowspan="2">DAP (cm)</th>
        <th rowspan="2">Altura comercial (m)</th>
        <th rowspan="2">Calidad fuste</th>
        <th colspan="2">Coordenadas UTM</th>
        <th rowspan="2">Vc (m<sup>3</sup>)</th>
        <th rowspan="2">Árbol Aprovechable/ Semillero</th>
      </tr>
      <tr>
        <th>E</th>
        <th>N</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
      <tr>
        <td class="text-center">
          <span
            class="pointer mr-1"
            title="Editar"
            (click)="!disabled&& openModalEditarArbol(data)"
          >
            <i class="pi pi-pencil"></i>
          </span>
        </td>
        <td>{{ data.numeroFaja }}</td>
        <td>{{ data.nArbol }}</td>
        <td>{{ data.nombreEspecies }}</td>
        <td>{{ data.dap }}</td>
        <td>{{ data.alturaComercial }}</td>
        <td>{{ data.calidadFuste }}</td>
        <td>{{ data.este }}</td>
        <td>{{ data.norte }}</td>
        <td>{{ data.volumen }}</td>
        <td>{{ data.categoria }}</td>
      </tr>
    </ng-template>
  </p-table>

  <div class="row pt-4">
    <div class="col-sm-6" style="align-self: center !important;">
      <div class="text-center">
        <button
          type="submit"
          title="Descargar Anexo"
          class="btn-secondary"
          (click)="descargarListadoAnexo5()"
        >
          Descargar Anexo
        </button>
      </div>
    </div>
    <div class="col-sm-6">
      <input-buttons-maps-codigo
        [label]="'Adjuntar Anexo firmado'"
        [idPlanManejo]="idPlanManejo"
        [disabled]="disabled"
        [idTipoDocumento]="'POPACAAnexo5'"
        [codigoProceso]="'POPAC'"
      >
      </input-buttons-maps-codigo>
    </div>
  </div>
</div>
