<div class="panelk br10 mt-3 p-2">
  <div>
    <ng-container [ngTemplateOutlet]="conatinertopRef"></ng-container>
  </div>
  <div class="row m-0 mt-4">
    <div class="col-12">
      <label class="label fz-12 font-weight-bold">Evaluación</label>
    </div>
    <div class="col-12 col-sm-6">
      <div class="p-field-radiobutton d-inline-full">
        <p-radioButton
          (onClick)="base.limpiarObservacion()"
          [(ngModel)]="base.conforme"
          name="esObservado"
          id="obserNo"
          [value]="codigoConforme"
        ></p-radioButton>
        <label class="mr-2 pl-1 pointer" for="obserNo">Conforme</label>
      </div>
      <div class="p-field-radiobutton d-inline-full">
        <p-radioButton
          (onClick)="base.limpiarObservacion()"
          [(ngModel)]="base.conforme"
          name="esObservado"
          id="obserSI"
          [value]="codigoObservado"
        ></p-radioButton>
        <label class="mr-2 pl-1 pointer" for="obserSI">Observado</label>
      </div>
    </div>
    <div
      class="col-12 mt-3"
      *ngIf="
        base.conforme !== codigoConforme &&
        base.conforme !== null &&
        base.conforme !== undefined
      "
    >
      <label class="label fz-12"
        >Observación &nbsp;&nbsp;<small>(máx. 250 caracteres)</small></label
      >
      <textarea
        cols="3"
        rows="3"
        [(ngModel)]="base.observacion"
        class="form-control form-control-sm"
        maxlength="250"
        placeholder="Ingrese observación..."
      ></textarea>
    </div>
    <div class="col-12 mt-3">
      <label class="label fz-12">Adjuntar Evidencia</label>
      <!-- <input-buttons
        [label]="''"
        [idPlanManejo]="idPlanManejo"
        [idTipoDocumento]="50"
        [codigoProceso]="cadigoTab"
        (registrarArchivoId)="cargarIdArchivo($event)"
      >
      </input-buttons> -->
      <input-buttons-codigo
        [idPlanManejo]="idPlanManejo"
        [idTipoDocumento]="50"
        [codigoProceso]="cadigoTab"
        (registrarArchivoId)="cargarIdArchivo($event)"
      >
      </input-buttons-codigo>
    </div>
  </div>
  <div class="mt-4">
    <ng-container [ngTemplateOutlet]="conatinerbottomRef"></ng-container>
  </div>
</div>
