<div class="container-fluid p-0">
  <div class="row m-0">
    <div class="col-12 p-0">
      <h3 class="title">
        Ep3.1.2: Plan Operativo para Concesiones &nbsp; &nbsp;<span
          class="nro-plan"
          >N° {{ idPlanManejo }}</span
        >
      </h3>
    </div>
    <div *ngIf="false" class="col-12 p-0">
      <p-panel
        header="Informacion General"
        styleClass="panel-header-show-xs"
        [toggleable]="true"
      >
        <ng-template pTemplate="icons"> </ng-template>
        <div>
          <div class="row m-0">
            <div class="col-12 col-sm-6">
              <b class="fz-12">Autoridad forestal: </b>
              <label class="label">Autoridad forestal</label>
            </div>
            <div class="col-12 col-sm-6">
              <b class="fz-12">Número PGMF: </b>
              <label class="label">006</label>
            </div>

            <div class="col-12 col-sm-6">
              <b class="fz-12">Tipo de contrato: </b>
              <label class="label">Concesión</label>
            </div>
            <div class="col-12 col-sm-6">
              <b class="fz-12">Departamento: </b>
              <label class="label">Loreto</label>
            </div>

            <div class="col-12 col-sm-6">
              <b class="fz-12">Titular: </b>
              <label class="label">FORESTAL INDUSTRIAS S.A. 342577689879</label>
            </div>
            <div class="col-12 col-sm-6">
              <b class="fz-12">Provincia: </b>
              <label class="label">Loreto</label>
            </div>

            <div class="col-12 col-sm-6">
              <b class="fz-12">Número de contrato: </b>
              <label class="label">16-REQ/C-J-076-03</label>
            </div>
            <div class="col-12 col-sm-6">
              <b class="fz-12">Estado de flujo de trabajo: </b>
              <label class="label">Borrador</label>
            </div>

            <div class="col-12 col-sm-6">
              <b class="fz-12">Número de referencia del contrato: </b>
              <label class="label">0006</label>
            </div>
          </div>
        </div>
      </p-panel>
    </div>
  </div>
  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <mat-tab-group
        animationDuration="0ms"
        [selectedIndex]="tabIndex"
        (selectedIndexChange)="informChange($event)"
      >
        <mat-tab label="1. Información General">
          <ng-template matTabContent>
            <app-tab-informacion-general
              [idPlanManejo]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
            ></app-tab-informacion-general>
          </ng-template>
        </mat-tab>
        <mat-tab
          label="2. Resumen Actividades y Recomendaciones del PO Anterior"
        >
          <ng-template matTabContent>
            <app-resumen-actividades
              [idPlanManejo]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            >
            </app-resumen-actividades>
          </ng-template>
        </mat-tab>
        <mat-tab label="3. Objetivos">
          <ng-template matTabContent>
            <app-tab-objetivos-manejo
              [idPGMF]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            >
            </app-tab-objetivos-manejo>
          </ng-template>
        </mat-tab>
        <mat-tab label="4. Información básica de la(s) parcela de corta (PC)">
          <ng-template matTabContent>
            <tab-informacion-basica-parcela-corta
              [idPGMF]="idPlanManejo"
              (siguiente)="siguienteTab()" [disabled]=disabled
              (regresar)="regresarTab()"
            >
            </tab-informacion-basica-parcela-corta>
          </ng-template>
        </mat-tab>
        <mat-tab
          label="5. Ordenamiento de la(s) parcela(s) de corta y protección de la UMF"
        >
          <ng-template matTabContent>
            <app-tab-ordenamiento-parcela-proteccion
              [idPlanManejo]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            >
            </app-tab-ordenamiento-parcela-proteccion>
          </ng-template>
        </mat-tab>

        <mat-tab label="6. Actividades de Aprovechamiento">
          <ng-template matTabContent>
            <app-tab-actividades-aprovechamiento
              [idPlanManejo]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            >
            </app-tab-actividades-aprovechamiento>
          </ng-template>
        </mat-tab>

        <mat-tab label="7. Actividades Silviculturales">
          <ng-template matTabContent>
            <app-tab-actividades-silviculturales
              [idPGMF]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            >
            </app-tab-actividades-silviculturales>
          </ng-template>
        </mat-tab>

        <mat-tab label="8. Evaluación de Impactos Ambientales">
          <ng-template matTabContent>
            <app-tab-evaluacion-ambiental
              [idPGMF]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            >
            </app-tab-evaluacion-ambiental>
          </ng-template>
        </mat-tab>
        <mat-tab label="9. Monitoreo">
          <ng-template matTabContent>
            <app-tab-monitoreo
              [idPlanManejo]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            ></app-tab-monitoreo>
          </ng-template>
        </mat-tab>
        <mat-tab label="10. Participación Ciudadana">
          <ng-template matTabContent>
            <app-tab-participacion-ciudadana
              [idPlanManejo]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            >
            </app-tab-participacion-ciudadana>
          </ng-template>
        </mat-tab>
        <mat-tab label="11. Capacitación">
          <ng-template matTabContent>
            <app-tab-capacitacion
              [idPlanManejo]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            >
            </app-tab-capacitacion>
          </ng-template>
        </mat-tab>
        <mat-tab label="12 .Programa de Inversiones">
          <ng-template matTabContent>
            <app-tab-programa-inversiones
              [idPlanManejo]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            >
            </app-tab-programa-inversiones>
          </ng-template>
        </mat-tab>
        <mat-tab label="13. Cronograma de Actividades">
          <ng-template matTabContent>
            <app-tab-cronograma
              (siguiente)="siguienteTab()" [disabled]=disabled
              (regresar)="regresarTab()"
              [idPGMF]="idPlanManejo"
            >
            </app-tab-cronograma>
          </ng-template>
        </mat-tab>
        <mat-tab label="14. Anexos">
          <ng-template matTabContent>
            <app-tab-anexos [idPlanManejo]="idPlanManejo" [disabled]=disabled
                             (siguiente)="siguienteTab()" (regresar)="regresarTab()"></app-tab-anexos>
          </ng-template>
        </mat-tab>
        <mat-tab label="15. Carga y Envío de Documentación">
          <ng-template matTabContent>
            <app-tab-carga-envio-documentos [disabled]=disabled [idPlanManejo]="idPlanManejo" (regresar)="regresarTab()"></app-tab-carga-envio-documentos>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
