<div class="col-12 pt-4">
  <div class="row">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="6.0 Carga Masiva" [selected]="true">
          <div class="row">
            <div
            class="col-12 mt-4 mb-3 mr-2"
            style="overflow: auto; width: 100%; height: 100%;"
          >
            <h3 class="title2">Cargar Información</h3>
            <div class="row">
              <div class="col-sm-4">
                <label class="label"></label><br />
                <button
                  class="btn-secondary"
                  (click)="btnDescargarFormato()"
                  [disabled]="disabled"
                >
                  Descargar Formato
                </button>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="label"></label><br />
                  <upload-input-button 
                    [(ngModel)]="archivo.file"
                    label="Seleccione Archivo"
                    [disabled]="disabled"
                  ></upload-input-button>
                </div>
              </div>
              <div class="col-sm-4">
                <label class="label"></label><br />
                <button class="btn-secondary" (click)="btnCargar()" [disabled]="disabled">
                  Cargar Formato
                </button>
              </div>
            </div>
          </div>
          </div>
        </p-accordionTab>
        <p-accordionTab
          header="6.1.1 Cuadro de Resultados de Inventario de Especies Maderables por Muestreo"

        >
          <div class="col-12">
            <tabla-potencial-produccion-rf
              [comboListVariables]="comboListVariables"
              [tipo]="1"
              [title]="'Especies Maderables por Muestreo'"
              [disabled]="disabled || isPerfilArffs"
              [idPlanManejo]="idPlanManejo"
              [codigoSubTipoPotencialProdForestal]="codigoSubTipoPotencialProdForestalA"
              [listBosques]="listBosquesA"
              (onChange)="onChange()"
              [totalRecords]="totalRecordsA"
            >
            </tabla-potencial-produccion-rf>
          </div>
          <div class="mt-5 ml-4">
            <app-carga-excel [disabled]="disabled"
              (cargarArchivo)="cargarFormato($event, 'A')"
              [NombrePlantilla]="UrlFormatos.CARGA_PGMFA_INVENTARIO_ESPECIES"
            ></app-carga-excel>
          </div>
          <br />
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeonEspeciesMaderables"
            [base]="evaluacionEspeciesMaderables"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
        <p-accordionTab
          header="6.1.2 Cuadro de Resultado de Inventario de Fustales"
        >
          <div class="col-12">
            <tabla-potencial-produccion-rf
              [comboListVariables]="comboListVariables"
              [tipo]="2"
              [title]="'Inventario de Fustales'"
              [disabled]="disabled || isPerfilArffs"
              [idPlanManejo]="idPlanManejo"
              [codigoSubTipoPotencialProdForestal]="codigoSubTipoPotencialProdForestalB"
              [listBosques]="listBosquesB"
              (onChange)="onChange()"
              [totalRecords]="totalRecordsB"
            >
            </tabla-potencial-produccion-rf>
          </div>
          <div class="mt-5 ml-4">
            <app-carga-excel
              (cargarArchivo)="cargarFormato($event, 'B')"
              [NombrePlantilla]="UrlFormatos.CARGA_PGMFA_INVENTARIO_FUSTALES"
            ></app-carga-excel>
          </div>
          <br />
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeonEspeciesFrutales"
            [base]="evaluacionEspeciesFrutales"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>
<br />

<div class="step__btn mt-4 mb-4">
  <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>
  <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
  <button
    class="btn-primary2"
    (click)="registrarEvaluacion()"
    *ngIf="isPerfilArffs"
  >
    Guardar Evaluación
  </button>
  
  <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">
    Retornar Flujo Evaluacion
  </button>
  <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
</div>
