.inner-addon {
  position: relative;
  .icon {
    position: absolute;
    padding: 8px 16px;
    top: 0;
    pointer-events: none;
    font-size: 16px;
  }
}

.left-addon {
  .icon {
    left: 0;
  }
  input {
    padding-left: 30px !important;
  }
}

.right-addon {
  .icon {
    right: 0;
  }
  input {
    padding-right: 30px !important;
  }
}
