<div>
    <div class="form-group">
        <label for="rio">Rio</label>
        <div class="inner-addon right-addon w-input p-fluid">
            <p-autoComplete autcomplete="off"
                            [autofocus]="true"
                            [formControl]="rio"
                            styleClass="w-100"
                            inputStyleClass="form-control contents_form_input"
                            placeholder="Buscar..."
                            [suggestions]="rios"
                            field="nombre"
                            [minLength]="2"
                            [forceSelection]="true"
                            [delay]="300"
                            (completeMethod)="buscarHidrografia(HidrografiaTipo.RIO , $event.query)"
                            emptyMessage="No se encontraron resultados.">
            </p-autoComplete>
            <i *ngIf="buscandoRios" class="icon pi pi-spin pi-spinner" aria-hidden="true"></i>
        </div>

    </div>

    <div class="form-group">
        <label for="quebrada">Quebrada</label>
        <div class="inner-addon right-addon w-input p-fluid">
            <p-autoComplete autcomplete="off"
                            [autofocus]="true"
                            [formControl]="quebrada"
                            styleClass="w-100"
                            inputStyleClass="form-control contents_form_input"
                            placeholder="Buscar..."
                            [suggestions]="quebradas"
                            field="nombre"
                            [minLength]="2"
                            [forceSelection]="true"
                            [delay]="300"
                            (completeMethod)="buscarHidrografia(HidrografiaTipo.QUEBRADA , $event.query)"
                            emptyMessage="No se encontraron resultados.">
            </p-autoComplete>
            <i *ngIf="buscandoQuebradas" class="icon pi pi-spin pi-spinner" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-group">
        <label for="laguna">Laguna</label>
        <div class="inner-addon right-addon w-input p-fluid">
            <p-autoComplete autcomplete="off"
                            [autofocus]="true"
                            [formControl]="laguna"
                            styleClass="w-100"
                            inputStyleClass="form-control contents_form_input"
                            placeholder="Buscar..."
                            [suggestions]="lagunas"
                            field="nombre"
                            [minLength]="2"
                            [forceSelection]="true"
                            [delay]="300"
                            (completeMethod)="buscarHidrografia(HidrografiaTipo.LAGUNA , $event.query)"
                            emptyMessage="No se encontraron resultados.">
            </p-autoComplete>
            <i *ngIf="buscandoLagunas" class="icon pi pi-spin pi-spinner" aria-hidden="true"></i>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end">
    <button icon="pi pi-save" (click)="agregar()" pButton pRipple type="button" label="Agregar"
                class="p-button-success p-button-outlined"></button> &nbsp;&nbsp;
    <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
              class="p-button-danger p-button-outlined" ></button>
</div>