<div class="container-fluit pt-4">
  <div class="row m-0 pt-4">
    <div class="col-2 col-sm-12">
      <p-accordion>
        <p-accordionTab
          header="5.1 Categoria de ordenamiento"
          [selected]="true"
        >
          <app-map-por-acordeon
            [codigoProceso]="'POCCOPCPUMF'"
            [codigoSubSeccion]="'POCCOPCPUMFCO'" [disabled]="disabled"
            [tipoGeometria]="'TPAREA'"
            [isShow]="categoriaOrdenamiento"
          >
          </app-map-por-acordeon>

          <div class="row">
            <div class="col-12 mt-4 mb-3">
              <p-table
                #tablaCatOrdenamiento
                [value]="listOrdenamientoProdDet_2_1"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 80px">Acciones</th>
                    <th>Categoría de ordenamiento</th>
                    <th style="text-align: right;"></th>
                    <th style="text-align: right;">Área (ha)</th>
                    <th style="text-align: right;">Porcentaje (%)</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td class="pl-2 text-center">
                      <div
                        *ngIf="
                          data.categoria != 'Con cobertura boscosa' &&
                          data.categoria != 'Sin cobertura boscosa'
                        "
                      >
                        <a
                          type="button"
                          class="pointer"
                          title="Eliminar Resumen"
                          (click)="!disabled&&
                            eliminar(
                              $event,
                              rowIndex,
                              data,
                              CodigoPOCC.ACORDEON_5_1
                            )
                          "
                          ><i class="pi pi-trash"></i
                        ></a>
                      </div>
                    </td>
                    <td>
                      <div
                        *ngIf="
                          data.categoria == 'Con cobertura boscosa' ||
                            data.categoria == 'Sin cobertura boscosa';
                          else loggedOut
                        "
                        style="font-size: 1.5em"
                        class="font-weight-bold"
                      >
                        {{ data.categoria }}
                      </div>
                      <ng-template #loggedOut>
                        <div>{{ data.categoria }}</div>
                      </ng-template>
                    </td>
                    <td class="text-center">
                      <div
                        class="p-field-checkbox"
                        *ngIf="
                          data.categoria != 'Con cobertura boscosa' &&
                          data.categoria != 'Sin cobertura boscosa'
                        "
                      >
                        <p-checkbox
                          for="numero"
                          [binary]="true" [disabled]="disabled"
                          [(ngModel)]="data.accion"
                          (onChange)="seleccionar($event, data, rowIndex)"
                        >
                        </p-checkbox>
                      </div>
                    </td>
                    <td class="text-center">
                      <div *ngIf="data.accion">
                        <input
                          *ngIf="
                            data.categoria != 'Con cobertura boscosa' &&
                            data.categoria != 'Sin cobertura boscosa'
                          "
                          maxlength="15"
                          (focusout)="calcularTotal_5_1()"
                          style="text-align: right;"
                          decimal [disabled]="disabled"
                          [decimalPlaces]="2"
                          [(ngModel)]="data.areaHA"
                          on
                          type="number"
                          class="form-control"
                          placeholder="Ingresar área"
                        />
                      </div>
                    </td>
                    <td class="text-center">
                      <div *ngIf="data.accion">
                        <input
                          *ngIf="
                            data.categoria != 'Con cobertura boscosa' &&
                            data.categoria != 'Sin cobertura boscosa'
                          "
                          maxlength="15"
                          (focusout)="calcularTotal_5_1()"
                          style="text-align: right;" [disabled]="disabled"
                          [(ngModel)]="data.areaHAPorcentaje"
                          type="number"
                          class="form-control"
                          placeholder="Ingresar porcentaje (%)"
                        />
                      </div>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                  <tr>
                    <td></td>
                    <td><b>Total</b></td>
                    <td></td>
                    <td class="text-right">
                      {{ totalArea | number: "1.2-3" }}
                    </td>
                    <td class="text-right">
                      {{ totalPorcentaje | number: "1.2-3" }}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p>Especificar cada una por separado en el Mapa 2 del Anexo 1</p>
            </div>
            <div class="col-12 col-md-12">
              <span>Se amplía información en el Anexo 3:</span>
              &nbsp; &nbsp; &nbsp;
              <div class="p-field-radiobutton">
                <strong for="Si">SI &nbsp;</strong>
                <p-radioButton
                  name="monitoreo"
                  value="SI" [disabled]="disabled"
                  inputId="Si"
                  [(ngModel)]="ampliacionAnexo.categoria"
                >
                </p-radioButton>
              </div>
              <div class="p-field-radiobutton">
                <strong for="No">NO &nbsp;</strong>
                <p-radioButton
                  name="monitoreo"
                  value="NO"  [disabled]="disabled"
                  inputId="No"
                  [(ngModel)]="ampliacionAnexo.categoria"
                  (onClick)="anexoN($event)"
                >
                </p-radioButton>
              </div>
            </div>

            <div class="col-12" *ngIf="ampliacionAnexo.categoria == 'SI'">
              <div class="col-12 mt-3 ml-1 mr-5">
                <app-anexo-upload-file
                  [label]="'Adjuntar Evidencia:'"
                  [idPlanManejo]="idPlanManejo" [disabled]="disabled"
                  [idTipoDocumento]="CodigoPOCC.ACORDEON_5_1"
                  [codigoProceso]="CodigoPOCC.ACORDEON_5_1"
                  (registrarArchivoId)="cargarIdArchivo($event)"
                >
                </app-anexo-upload-file>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="5.2 Frentes de corta">
          <div class="row">
            <div class="col-12 mt-4 mb-3">
              <p style="text-align: left">
                Se debe señalar si el aprovechamiento se realiza en uno o más
                frentes de corta.
              </p>
              <p style="text-align: left">
                Los frentes de corta deben de delimitarse en el Mapa 3 del Anexo
                1 y deberá proponerse respetando el principio de sostenibilidad
                del ciclo de corta.
              </p>
              <p>&nbsp;</p>
              <app-map-por-acordeon
                [codigoProceso]="'POCCOPCPUMF'"
                [codigoSubSeccion]="'POCCOPCPUMFFC'" [disabled]="disabled"
                [tipoGeometria]="'TPAREA'"
                [isShow]="frenteCorta"
              >
              </app-map-por-acordeon>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="5.3 Protección y vigilancia de la UMF">
          <div class="row">
            <div class="col-12 mt-4 mb-3">
              <p-table [value]="listOrdenamientoProdDet_2_3">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 80px">Acciones</th>
                    <th>Actividades propuestas en el PGMF</th>
                    <th>Metas durante la ejecución del presente PO</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td class="pl-2 text-center">
                      <a
                        type="button"
                        class="pointer"
                        title="Eliminar Resumen"
                        (click)="!disabled&&
                          eliminar(
                            $event,
                            rowIndex,
                            data,
                            CodigoPOCC.ACORDEON_5_3
                          )
                        "
                        ><i class="pi pi-trash"></i
                      ></a>
                      <a
                        type="button"
                        class="pointer"
                        style="margin: 0 10px"
                        title="Editar Resumen"
                        (click)="!disabled&&(data.isEdit = !data.isEdit)"
                        ><i class="pi pi-pencil"></i
                      ></a>
                    </td>
                    <td>{{ data.categoria }}</td>
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        rows="1"
                        maxlength="250"
                        [(ngModel)]="data.descripcion"
                        [disabled]="disabled||!data.isEdit"
                      />
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>

    <div class="step__btn mt-4">
      <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
      <button class="btn-primary2" (click)="guardar()">Guardar</button>
      <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
    </div>
    <br />
  </div>
</div>

<p-toast position="top-right" key="tl"></p-toast>
<p-confirmPopup></p-confirmPopup>
