<a type="button" class="pointer" title="Ver" (click)="verPDF()"
  ><i class="pi pi-check-circle"></i
></a>

<p-dialog
  header="Registrar Impugnación al SAN"
  appendTo="body"
  [(visible)]="isShowModal2_2"
  [modal]="true"
  [style]="{ width: '60vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div>
      <h4 class="font-weight-bold">
        Solicitud Permiso Forestal
        <label class="nro-plan-forestal">N° {{ idPermisoForestal }}</label>
      </h4>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 form-group">
        <label>Tipo Solicitud</label>
        <input
          class="form-control form-control-sm"
          [maxlength]="20"
          type="text"
          autocomplete="off"
          placeholder="Ingrese ID"
          [disabled]="true"
          [(ngModel)]="impugnacionSan.tipoSolicitud"
        />

        <!--<div class="form-control-selectk">
          <p-dropdown class="fomr-control" optionValue="descripcion" [(ngModel)]="impugnacionSan.subCodSolicitudSAN" [disabled]="false"
                      [options]="tipoSolicitud" optionLabel="descripcion" placeholder="-- Seleccione --">
          </p-dropdown>
        </div>-->
      </div>
      <div class="col-12 col-md-6 form-group">
        <label>Código Único</label>
        <input
          class="form-control form-control-sm"
          [maxlength]="20"
          type="text"
          autocomplete="off"
          placeholder="Ingrese código único"
          [disabled]="disabled"
          [(ngModel)]="impugnacionSan.procesoPostulacion"
        />
      </div>
    </div>
    <div class="row">
      <!--<div class="col-6 form-group justify-content-center">
        <a  class="btn btn-sm btn-secondary" href="/assets/sample.pdf" download target="_blank"><i class="pi pi-download"></i>&nbsp;&nbsp;Descargar formato SAN</a>
      </div>-->
      <div class="col-12 form-group justify-content-center">
        <buttons-file-permiso-forestal-shared *ngIf="showFormatoSan"
          [label]="'Cargar Formato SAN'"
          [idPermisoForestal]="idPermisoForestal"
          [codigoTipoDocumento]="CodigosTiposSolicitud.IMPUGNACION_SAN"
          [codigoProceso]="codigoProceso"
          [subCodigoArchivo]="codigoArchivoSan"
          (registrarArchivoId)="cargarIdArchivo($event)" [disabled]="disabled"
        (eliminarArchivoEmit)="eliminarArchivo($event)"
        >
        </buttons-file-permiso-forestal-shared>
      </div>
    </div>
    <div class="row">
      <div class="col-12 form-group">
        <label>Asunto</label>
        <textarea
          [(ngModel)]="impugnacionSan.asunto"
          name="asuntoSAN"
          autocomplete="off"
          [disabled]="disabled"
          id="asuntSAN"
          class="form-control form-control-sm"
          rows="1"
          [maxlength]="250"
          [autoResize]="autoResize"
          pInputTextarea
        ></textarea>
      </div>

      <div class="col-12 form-group">
        <label for="descrSAN">Descripción</label>
        <textarea
          [(ngModel)]="impugnacionSan.descripcion"
          name="descripcionSAN"
          autocomplete="off"
          [disabled]="disabled"
          id="descrSAN"
          class="form-control form-control-sm"
          rows="5"
          [maxlength]="250"
          [autoResize]="autoResize"
          pInputTextarea
        ></textarea>
      </div>
    </div>
    <br />
    <div class="text-right">
      <button
        icon="pi pi-save"
        (click)="guardarImpugnacion()"
        type="button"
        class="btn btn-sm btn-primary2"
        [disabled]="disabled"
      >
        Guardar</button
      >&nbsp;
      <button
        icon="pi pi-times"
        (click)="isShowModal2_2 = false"
        type="button"
        class="btn btn-sm btn-danger"
      >
        Cancelar
      </button>
    </div>
  </ng-template>
  <ng-template pTemplate="footer"> </ng-template>
</p-dialog>
<!--<p-toast></p-toast>-->
