<form>
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="form-group">
              <label class="label">Declaracion Jurada</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="" [disabled]="true">
                <div class="input-group-append">
                  <button type="button" id="btnCargarFile" (click)="fileInput.click()" class="btn btn-sm btn-secondary">
                    Cargar archivo<input #fileInput type="file" (change)="onFileSelectedDC($event)" style="display:none;"/>
                  </button>
                </div>
              </div>
            </div>
        </div>
    </div>
  
  
    <div class="p-dialog-footer" style="padding-bottom:0px;padding-right:0px;">
      <button
              (click)="cancelar()"
              pButton
              pRipple
              type="button"
              label="Cancelar"
              class="p-button-danger p-button-outlined"></button>
    </div>
</form>