.estado-impugnado{
  color: red;
  font-weight: bold;
}


.eval-rojo{
  color:red;
  font-weight: bold;
  //font-size: 1.3em;
}

.eval-naranja{
  color: #ef7728;
  font-weight: bold;
  //font-size: 1.3em;
}

.eval-no-procede{
  color: #864444;
  font-weight: bold;
  //font-size: 1.3em;
}

.eval-verde{
  color:#4caf50;
  font-weight: bold;
  //font-size: 1.3em;
}

.eval-azul{
  color: #7181d7;
  font-weight: bold;
  //font-size: 1.3em;
}

.eval-amarillo{
  color: #dedb49;
  font-weight: bold;
  //font-size: 1.3em;
}

.eval-celeste{
  color: #5ce0d5;
  font-weight: bold;
  //font-size: 1.3em;
}

.eval-blue {
  color: #057EBF;
  font-weight: bold;
}

.borrador {
  color      : #ec7921;
  font-weight: bold;
}