<div>
  <div class="row m-0">
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Nro. {{ descripcionPlan }}</label>
        <input
          type="text"
          pattern="\d*"
          maxlength="9"
          autocomplete="off"
          class="form-control"
          placeholder="Ingrese Nro de Solicitud"
          placeholder="Ingrese Nro. {{ descripcionPlan }}"
          [(ngModel)]="evaluacionRequest.idPermisoForestal"
        />
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Fecha de presentación </label>
        <div class="content-date">
          <input
            autocomplete="off"
            type="text"
            class="form-control"
            matInput
            [matDatepicker]="fechaPre"
            [(ngModel)]="evaluacionRequest.fechaRegistro"
            readonly="true"
          />
          <i class="pi pi-calendar pointer" (click)="fechaPre.open()"></i>
          <mat-datepicker #fechaPre></mat-datepicker>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Estado</label>
        <div class="form-control-multi">
          <p-multiSelect
            appendTo="body"
            [options]="estados"
            optionLabel="estado"
            optionValue="codEstado"
            [(ngModel)]="evaluacionRequest.filtroEstado"
            defaultLabel="Seleccionar"
            display="chip"
          >
          </p-multiSelect>

          <!--<p-dropdown optionValue="codEstado" [options]="estados"
                      [(ngModel)]="evaluacionRequest.codigoEstado"
                      optionLabel="estado" class="fomr-control" placeholder="-- Seleccione --">
          </p-dropdown>-->
        </div>
      </div>
    </div>
  </div>
  <div class="row m-0 mb-2 justify-content-center">
    <div class="col-12 col-sm-12 text-center">
      <button
        class="btn btn-sm btn-secondary mr-2"
        (click)="limpiarEvaluacion()"
      >
        Limpiar
      </button>
      <button
        class="btn btn-sm btn-secondary mr-2"
        (click)="buscarEvaluacion()"
      >
        Buscar
      </button>
      <!--<button class="btn btn-sm btn-secondary" (click)="nuevaEvaluacion()">Nuevo</button>-->
    </div>
  </div>
</div>

<div class="row m-0">
  <div class="col-12 mt-4 mb-3">
    <div>
      <p-table
        [value]="planes"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros"
        [rowsPerPageOptions]="[10, 25, 50]"
        [lazy]="true"
        [loading]="loading"
        (onLazyLoad)="loadEvaluacion($event)"
        [totalRecords]="totalRecords"
      >
        <ng-template pTemplate="header">
          <tr>
            <th scope="row">N°</th>
            <th scope="row">N° Solicitud</th>
            <th
              scope="row"
              *ngIf="
                perfil == Perfiles.AUTORIDAD_REGIONAL ||
                perfil == Perfiles.MESA_DE_PARTES
              "
            >
              Código único
            </th>
            <th scope="row">Fecha de Solicitud</th>
            <th
              scope="row"
              *ngIf="
                perfil == Perfiles.AUTORIDAD_REGIONAL ||
                perfil == Perfiles.TITULARTH
              "
            >
              Fecha Fin
            </th>
            <th
              scope="row"
              *ngIf="
                perfil == Perfiles.AUTORIDAD_REGIONAL ||
                perfil == Perfiles.TITULARTH
              "
            >
              Días Restantes
            </th>
            <th scope="row">Tipo de Persona</th>
            <th scope="row">Nombre Persona / Repr. Legal</th>
            <th scope="row">Razón social</th>
            <th scope="row">Tipo Actor</th>
            <th scope="row">Tipo de CNCC</th>
            <th scope="row">Estado</th>
            <th scope="row">Remitido</th>
            <th scope="row" *ngIf="isPerfilArffs">Info. Espacial</th>
            <th
              scope="row"
              class="text-center"
              *ngIf="
                perfil != Perfiles.MESA_DE_PARTES && !isPerOSinforAndCompEstad
              "
            >
              1. Impugnación
            </th>
            <th scope="row" class="text-center" *ngIf="isShowColumnAcciones">
              2. Acciones
            </th>
            <th
              scope="row"
              class="text-center"
              *ngIf="
                isShowColumnValidacion && perfil == Perfiles.MESA_DE_PARTES
              "
            >
              1. Validar
            </th>
            <th
              scope="row"
              class="text-center"
              *ngIf="
                isShowColumnValidacion && perfil != Perfiles.MESA_DE_PARTES
              "
            >
              2. Validar
            </th>
            <th scope="row" class="text-center" *ngIf="isShowColumnEvaluacion">
              2. Evaluación
            </th>
            <th
              scope="row"
              class="text-center"
              *ngIf="isPerfilArffs || isPerOSinforAndCompEstad"
            >
              3. Resolución
            </th>
            <th scope="row" class="text-center" *ngIf="isPerfilArffs">
              4. Remitido
            </th>
            <th
              scope="row"
              class="text-center"
              *ngIf="isPerOSinforAndCompEstad"
            >
              Revisión
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex+1">
          <tr>
            <td>{{ rowIndex }}</td>
            <td>{{ item?.idPermisoForestal }}</td>
            <td
              *ngIf="
                perfil == Perfiles.AUTORIDAD_REGIONAL ||
                perfil == Perfiles.MESA_DE_PARTES
              "
            >
              {{ item?.codigoUnico }}
            </td>
            <td>{{ item?.fechaRegistro | date: "dd/MM/yyyy" }}</td>
            <td
              *ngIf="
                perfil == Perfiles.AUTORIDAD_REGIONAL ||
                perfil == Perfiles.TITULARTH
              "
            >
              {{ item?.fechaSolicitudFinal | date: "dd/MM/yyyy" }}
            </td>
            <td
              *ngIf="
                perfil == Perfiles.AUTORIDAD_REGIONAL ||
                perfil == Perfiles.TITULARTH
              "
            >
              {{ item?.diasRestantes }}
            </td>
            <td>{{ item?.informacionGeneral.tipoPersona }}</td>
            <td>
              {{
                (item.informacionGeneral.nombreElaborador == null
                  ? ""
                  : item.informacionGeneral.nombreElaborador) +
                  " " +
                  (item.informacionGeneral.apellidosElaborador == null
                    ? ""
                    : item.informacionGeneral.apellidosElaborador)
              }}
            </td>
            <td>{{ item?.informacionGeneral.federacionComunidad }}</td>
            <td>{{ item?.informacionGeneral.tipoActor }}</td>
            <td>{{ item?.informacionGeneral.tipoCncc }}</td>
            <td>
              <span [ngSwitch]="item.codigoEstado">
                <label
                  *ngSwitchCase="CodigoPermisoForestal.ESTADO_PRESENTADO"
                  class="eval-blue"
                >
                  {{ item.estado }}
                </label>
                <label
                  *ngSwitchCase="CodigoPermisoForestal.ESTADO_IMPUGNADO"
                  class="estado-impugnado"
                  >{{ item.estado }}</label
                >
                <label
                  *ngSwitchCase="CodigoPermisoForestal.ESTADO_VAL_PROCEDE"
                  class="eval-verde"
                  >Procede</label
                >
                <label
                  *ngSwitchCase="CodigoPermisoForestal.ESTADO_VAL_NOPROCEDE"
                  class="eval-no-procede"
                  >No Procede</label
                >
                <label
                  *ngSwitchCase="CodigoPermisoForestal.ESTADO_VAL_EN_EVALUACION"
                  class="eval-amarillo"
                  >En Evaluación</label
                >
                <label
                  *ngSwitchCase="
                    CodigoPermisoForestal.ESTADO_VAL_VALIDADO_OBSERVADO
                  "
                  class="eval-naranja"
                  >Validado Obs</label
                >
                <label
                  *ngSwitchCase="CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE"
                  class="eval-verde"
                  >Favorable</label
                >
                <label
                  *ngSwitchCase="CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
                  class="eval-rojo"
                  >Desfavorable</label
                >
                <label
                  *ngSwitchCase="CodigoPermisoForestal.ESTADO_EVAL_APROBADO"
                  class="eval-azul"
                  >Aprobado</label
                >
                <label
                  *ngSwitchCase="CodigoPermisoForestal.ESTADO_EVAL_EMITIDO"
                  class="eval-amarillo"
                  >Emitido</label
                >
                <label
                  *ngSwitchCase="CodigoPermisoForestal.ESTADO_EVAL_FIRME"
                  class="eval-celeste"
                  >Firme</label
                >
                <label
                  *ngSwitchCase="CodigoPermisoForestal.ESTADO_BORRADOR"
                  class="borrador"
                  >Borrador</label
                >
                <label *ngSwitchDefault>{{ item.estado }}</label>
              </span>
            </td>
            <td>{{ item.remitido ? "Si" : "Pendiente" }}</td>
            <td class="text-center" *ngIf="isPerfilArffs">
              <ng-container
                *ngIf="
                  item.codigoEstado ===
                    CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE &&
                  !item?.idGeometria
                "
                [ngTemplateOutlet]="infoEspacialRef"
                [ngTemplateOutletContext]="{ data: item }"
              >
              </ng-container>
              <ng-container *ngIf="item?.idGeometria"> Enviado </ng-container>
            </td>
            <td
              class="text-center"
              *ngIf="
                perfil != Perfiles.MESA_DE_PARTES && !isPerOSinforAndCompEstad
              "
            >
              <button-evaluar-impugnacion-shared
                [estado]="item.codigoEstado"
                [idPermisoForestal]="item.idPermisoForestal"
                (registroImpugnacionEmiter)="registroNotificacionEmit($event)"
              >
              </button-evaluar-impugnacion-shared>
            </td>
            <td class="text-center" *ngIf="isShowColumnAcciones">
              <ng-container
                [ngTemplateOutlet]="accionesRef"
                [ngTemplateOutletContext]="{ data: item }"
              >
              </ng-container>
            </td>
            <td class="text-center" *ngIf="isShowColumnValidacion">
              <ng-container
                [ngTemplateOutlet]="validacionRef"
                [ngTemplateOutletContext]="{ data: item }"
              >
              </ng-container>
            </td>
            <td class="text-center" *ngIf="isShowColumnEvaluacion">
              <ng-container
                [ngTemplateOutlet]="evaluacionRef"
                [ngTemplateOutletContext]="{ data: item }"
              >
              </ng-container>
            </td>
            <td
              class="text-center"
              *ngIf="isPerfilArffs || isPerOSinforAndCompEstad"
            >
              <button-evaluar-solicitud-otorgamiento
                [estado]="item.codigoEstado"
                [idPermisoForestal]="item.idPermisoForestal"
                [codigoUnico]="item?.idPermisoForestal + 'LOR-S001'"
                [idUsuarioRegistro]="item?.idUsuarioRegistro"
                [idSolicitud]="item?.idPermisoForestal"
                (registroNotificacionEmit)="registroNotificacionEmit($event)"
              ></button-evaluar-solicitud-otorgamiento>
            </td>
            <td
              class="text-center"
              *ngIf="
                isPerfilArffs &&
                (item.codigoEstado ==
                  CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE ||
                  item.codigoEstado ==
                    CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE)
              "
            >
              <ng-container
                *ngIf="!item.remitido"
                [ngTemplateOutlet]="remitiendoRef"
                [ngTemplateOutletContext]="{ data: item }"
              >
              </ng-container>
            </td>
            <td class="text-center" *ngIf="isPerOSinforAndCompEstad">
              <ng-container
                [ngTemplateOutlet]="verdetalleRef"
                [ngTemplateOutletContext]="{ data: item }"
              >
              </ng-container>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
