<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 col-sm-6 form-group">
      <label class="label">Condición: *</label>
      <div class="form-control-selectk">
        <p-dropdown appendTo="body" [options]="comboCondicion" placeholder="Seleccione" optionLabel="valorPrimario"
          optionValue="codigo" [(ngModel)]="requestModal.condicion" (ngModelChange)="changeCondicion()">
        </p-dropdown>
      </div>
    </div>
    <div class="col-12"></div>

    <ng-container *ngIf="requestModal.condicion">
      <div class="col-12 col-sm-6 form-group">
        <label class="label">DNI: *</label>
        <input class="form-control" type="text" autocomplete="off" placeholder="" numero [maxLength]="8"
          [(ngModel)]="requestModal.numeroDocumento" (ngModelChange)="changeNumDoc()"/>
      </div>
      <div class="col-12 col-sm-6 form-group">
        <label class="label">&nbsp;</label>
        <div>
          <button pButton pRipple type="button" label="Validar RENIEC"
            [ngClass]="isValidarPide ? 'p-button-success': 'p-button-danger'" class="p-button-rounded p-button-outlined"
            (click)="btnValidarPIDE()"></button>
        </div>
      </div>
      <div class="col-12 form-group">
        <label class="label">Nombres y Apellidos: *</label>
        <input class="form-control" type="text" autocomplete="off" sinSpacioInit disabled
          [(ngModel)]="requestModal.nombreCompleto" />
      </div>
      <div class="col-12 form-group">
        <label class="label">Ubigeo: *</label>
        <input class="form-control" type="text" autocomplete="off" sinSpacioInit placeholder="" maxlength="150"
          [(ngModel)]="requestModal.ubigeoTexto" disabled/>
      </div>
      <div class="col-12 form-group">
        <label class="label">Residencia Actual: *</label>
        <input class="form-control" type="text" autocomplete="off" sinSpacioInit placeholder="" maxlength="150"
          [(ngModel)]="requestModal.residencia" [disabled]="!requestModal.flagActualizarResidencia"/>
      </div>

      <ng-container *ngIf="requestModal.condicion === PARAM_CONDICION.POB">
        <div class="col-12 form-group">
          <p-checkbox label="Actualizar Residencia" [(ngModel)]="requestModal.flagActualizarResidencia" [binary]="true"
          (ngModelChange)="changeActResid()"></p-checkbox>
        </div>
        <div class="col-12 col-sm-12 form-group" *ngIf="requestModal.flagActualizarResidencia">
          <app-carga-archivo-general accept=".pdf" [idArchivo]="adjuntoResid.idArchivo" [tipoDoc]="adjuntoResid.tipoArchivo"
            label="Certificado de Residencia: *" (registrarArchivo)="registrarArchivo($event, adjuntoResid)"
            (eliminarArchivo)="eliminarArchivo($event, adjuntoResid)">
          </app-carga-archivo-general>
        </div>
      </ng-container>

      <div class="col-12"></div>
      <div class="col-12 col-sm-4 form-group">
        <label class="label">Teléfono: *</label>
        <input class="form-control" type="text" autocomplete="off" placeholder="" telefono [maxLength]="15"
          [(ngModel)]="requestModal.telefono" />
      </div>
      <div class="col-12 col-sm-8 form-group">
        <label class="label">Email: *</label>
        <input class="form-control" type="text" autocomplete="off" sinSpacioInit placeholder="" maxlength="50"
          [(ngModel)]="requestModal.email" />
      </div>
      <div class="col-12 form-group">
        <label class="label">Carga Familiar: *</label>
        <input class="form-control" type="text" autocomplete="off" placeholder="" maxlength="100" sinSpacioInit
          [(ngModel)]="requestModal.cargaFamiliar" />
      </div>
    </ng-container>

    <ng-container *ngIf="requestModal.condicion === PARAM_CONDICION.EXT">
      <div class="col-12 col-sm-4 form-group">
        <label class="label">Descargar Plantilla D.J:</label> <br>
        <button class="btn btn-secondary" (click)="btnDescargarPlantillaDJ()">Descargar</button>
      </div>
      <div class="col-12 col-sm-8 form-group">
        <app-carga-archivo-general accept=".pdf" [idArchivo]="adjuntoDJ.idArchivo" [tipoDoc]="adjuntoDJ.tipoArchivo"
          label="Cargar Declaración Jurada (D.J.): *" (registrarArchivo)="registrarArchivo($event, adjuntoDJ)"
          (eliminarArchivo)="eliminarArchivo($event, adjuntoDJ)">
        </app-carga-archivo-general>
      </div>
    </ng-container>


    <div class="col-12 mt-4 text-right">
      <button class="p-button-success p-button-outlined mr-2" type="button" icon="pi pi-save" pButton pRipple
        label="Aceptar" (click)="btnAgregar()"></button>

      <button class="p-button-danger p-button-outlined" type="button" icon="pi pi-times" pButton pRipple
        label="Cancelar" (click)="btnCancelar()"></button>
    </div>
  </div>
</div>