<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab
          header="10.1 En la implementación del Plan Operativo"
          [selected]="true"
        >
          <div class="col-2 col-sm-12 text-right mb-2">
            <button [disabled]="disabled"
              (click)="
              abrirNuevoModal(
                  AccionTipo.REGISTRAR,
                  ParticipacionTipo.IMPLEMENTACION
                )
              "
              class="btn btn-sm btn-default mb-2"
              type="button"
              title="Agregar"
            >
              <i class="pi pi-plus" aria-hidden="true"></i>
            </button>
            <p-confirmPopup></p-confirmPopup>
          </div>
          <div class="col-12">
            <p-table [value]="implementaciones" class="table-justify">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 80px">Acciones</th>
                  <th>Actividades</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data let-index="rowIndex">
                <tr>
                  <td class="text-center">
                    <span
                      class="pointer mr-1"
                      title="Editar"
                      (click)="!disabled&&
                        abrirModal(
                          AccionTipo.EDITAR,
                          ParticipacionTipo.IMPLEMENTACION,
                          data,
                          index
                        )
                      "
                    >
                      <i class="pi pi-pencil" aria-hidden="true"></i>
                    </span>
                    <span
                      class="pointer"
                      title="Eliminar"
                      (click)="!disabled&&
                        eliminar(
                          $event,
                          ParticipacionTipo.IMPLEMENTACION,
                          data,
                          data?.idPartComunalDet,
                          index
                        )
                      "
                    >
                      <i class="pi pi-trash" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>{{ data.actividad }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-accordionTab>

        <p-accordionTab
          header="10.2 En los Comités de Gestión Forestal y de Fauna Silvestre"
        >
          <div class="col-2 col-sm-12 text-right mb-2">
            <button [disabled]="disabled"
              (click)="
              abrirNuevoModal(AccionTipo.REGISTRAR, ParticipacionTipo.COMITE)
              "
              class="btn btn-sm btn-default mb-2"
              type="button"
              title="Agregar"
            >
              <i class="pi pi-plus" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-12">
            <p-table [value]="comites" class="table-justify">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 80px">Acciones</th>
                  <th>Actividades</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data let-index="rowIndex">
                <tr>
                  <td class="text-center">
                    <span
                      class="pointer mr-1"
                      title="Editar"
                      (click)="!disabled&&
                        abrirModal(
                          AccionTipo.EDITAR,
                          ParticipacionTipo.COMITE,
                          data,
                          index
                        )
                      "
                    >
                      <i class="pi pi-pencil" aria-hidden="true"></i>
                    </span>
                    <span
                      class="pointer"
                      title="Eliminar"
                      (click)="!disabled&&
                        eliminar(
                          $event,
                          ParticipacionTipo.COMITE,
                          data,
                          data?.idPartComunalDet,
                          index
                        )
                      "
                    >
                      <i class="pi pi-trash" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>{{ data.actividad }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-accordionTab>

        <p-accordionTab header="10.3 Del Plan Operativo">
          <div class="col-2 col-sm-12 text-right mb-2">
            <button [disabled]="disabled"
              (click)="
                abrirNuevoModal(
                  AccionTipo.REGISTRAR,
                  ParticipacionTipo.PLAN_OPERATIVO
                )
              "
              class="btn btn-sm btn-default mb-2"
              type="button"
              title="Agregar"
            >
              <i class="pi pi-plus" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-12">
            <p-table
              [value]="planes"
              class="table-justify"
              [scrollable]="true"
              [style]="{ width: '100%' }"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th class="acciones">Acciones</th>
                  <th class="table-body">Mecanismos de participación</th>
                  <th class="table-body">Metodología</th>
                  <th class="table-body">Lugar</th>
                  <th class="table-body">Fecha</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data let-index="rowIndex">
                <tr>
                  <td class="text-center acciones">
                    <span
                      class="pointer mr-1"
                      title="Editar"
                      (click)="!disabled&&
                        abrirModal(
                          AccionTipo.EDITAR,
                          ParticipacionTipo.PLAN_OPERATIVO,
                          data,
                          index
                        )
                      "
                    >
                      <i class="pi pi-pencil" aria-hidden="true"></i>
                    </span>
                    <span
                      class="pointer"
                      title="Eliminar"
                      (click)="!disabled&&
                        eliminar(
                          $event,
                          ParticipacionTipo.PLAN_OPERATIVO,
                          data,
                          data?.idPartComunalDet,
                          index
                        )
                      "
                    >
                      <i class="pi pi-trash" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td class="table-body">{{ data.actividad }}</td>
                  <td class="table-body">{{ data.metodologia }}</td>
                  <td class="table-body">{{ data.lugar }}</td>
                  <td class="table-body">
                    {{ data.fecha | date: "dd/MM/yyyy" }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-accordionTab>

        <div class="step__btn mt-4">
          <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
          <button class="btn-primary2" [disabled]="disabled" (click)="guardarParticipacionComunal()">
            Guardar
          </button>
          <button class="btn-primary2" (click)="siguienteTab()">
            Siguiente
          </button>
        </div>
      </p-accordion>
      <br />
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
