
<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12 p-0">
      <p-accordion>
        <p-accordionTab header="Anexo 1: Mapas" [selected]="true">
          <div class="row mt-3">
            <div class="col-12 col-sm-12 p-1">

              <app-map-custom-anexo
              
              [idPlanManejo]="idPlanManejo"
              [codigoProceso]="codigoProceso"
              [codigoSubSeccion]="'ZOIAREA'"
              [tipoGeometria]="'Otros'"
              [isAnexo]="true"
              [printPDF]="true"
              [ShowBotonCargar]="false"
              [disabled]="disabled"
              [showDownload]="true"
              
              
            ></app-map-custom-anexo>
              <!-- <div class="f-w mb-2 mapa-content">
                <div class="mapa" #map></div>
              </div> -->
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 col-sm-4" *ngIf="!dataBase.disabled">
              <div class="form-group">
                <label class="label">Adjuntar Mapa Firmado (.pdf)</label>
                <div class="row col-12">
                  <div class="input-group col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      [disabled]="disabled"
                      placeholder=""
                      [(ngModel)]="archivoMapPDF.nombreFile"
                    />
                    <div class="input-group-append">
                      <button
                        type="button"
                        [disabled]="disabled"
                        *ngIf="!cargarAnexo1 && archivoMapPDF.inServer == false"
                        id="btnCargaShapeFile"
                        (click)="fileInputAnexo1.click()"
                        class="btn btn-sm btn-file"
                        pButton
                        icon="pi pi-upload"
                        pButton
                        title="Cargar Archivo"
                      >
                        <input
                          #fileInputAnexo1
                          type="file"
                          (change)="onFileChange($event, 'Anexo1')"
                          style="display: none"
                          accept=".pdf"
                          [attr.data-type]="archivoMapPDF.descripcion"
                        />
                      </button>

                      <button
                        *ngIf="!eliminarAnexo1"
                        type="button"
                        [disabled]="disabled"
                        class="btn btn-sm btn-file"
                        (click)="eliminarA1()"
                        title="Eliminar"
                        icon="pi pi-trash"
                        pButton
                      ></button>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <button
                      class="btn btn-sm btn-secondary f-w"
                      type="button"
                      (click)="guardarAnexo1()"
                      [disabled]="disabled || !verEnviar1"
                    >
                      Guardar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab
          header="Anexo 2: Detalle de los Volúmenes Comerciales Maderables"
          [selected]="false"
        >
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12">
                <h3 class="title fz-12 text-center">
                  Detalle de los Volúmenes Comerciales Maderables
                </h3>
                <h3 class="title fz-10 text-center label">
                  (Resultado del mateo por anexo o sector)
                </h3>
              </div>
            </div>
            <div class="row m-0 justify-content-center">
              <!--  pendiente aun no hay servicio -->
              <div class="col-12 col-sm-3">
                <button
                  class="btn btn-sm btn-secondary f-w"
                  type="button"
                  (click)="generarAnexo2()"
                >
                  Descargar Anexo 2
                </button>
              </div>

              <div class="col-12 col-sm-5">
                <div class="row col-12">
                  <div class="input-group col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      [disabled]="disabled"
                      placeholder=""
                      [(ngModel)]="fileAnexo2.nombreFile"
                    />
                    <div class="input-group-append">
                      <button
                        type="button"
                        [disabled]="disabled"
                        *ngIf="!cargarAnexo2 && fileAnexo2.inServer == false"
                        id="btnCargaShapeFile"
                        (click)="fileInputAnexo2.click()"
                        class="btn btn-sm btn-file"
                        pButton
                        icon="pi pi-upload"
                        pButton
                        title="Cargar Archivo"
                      >
                        <input
                          #fileInputAnexo2
                          type="file"
                          (change)="onFileChange($event, 'Anexo2')"
                          style="display: none"
                          accept=".pdf"
                          [attr.data-type]="fileAnexo2.descripcion"
                        />
                      </button>

                      <button
                        *ngIf="!eliminarAnexo2"
                        type="button"
                        [disabled]="disabled"
                        class="btn btn-sm btn-file"
                        (click)="eliminarA2()"
                        title="Eliminar"
                        icon="pi pi-trash"
                        pButton
                      ></button>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <button
                      class="btn btn-sm btn-secondary f-w"
                      type="button"
                      (click)="guardarAnexo2()"
                      [disabled]="disabled || !verEnviar2"
                    >
                      Guardar
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row m-0 mt-3">
              <div class="col-12">
                <p-table [value]="listAnexo2Maderables">
                  <ng-template pTemplate="header">
                    <tr>
                      <th class="text-center" rowspan="2">N° Árbol (Código)</th>
                      <th class="text-center" rowspan="2">
                        Especie (nombre común en español)
                      </th>
                      <th class="text-center" rowspan="2">Diámetro (m)</th>
                      <th class="text-center" rowspan="2">
                        Altura comercial (m)
                      </th>
                      <th class="text-center" rowspan="2">
                        Volumen comercial m³(r)
                      </th>
                      <th class="text-center" colspan="2">Coordenadas UTM</th>
                      <th class="text-center" rowspan="2">Condición</th>
                      <th class="text-center" rowspan="2">Observaciones</th>
                    </tr>
                    <tr>
                      <th>Este</th>
                      <th>Norte</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data>
                    <tr>
                      <td colspan="8">
                        <span class="tdTitle">Anexo o sector:</span>
                        {{ data.key }}
                      </td>
                    </tr>
                    <tr *ngFor="let item of data.value">
                      <td>{{ item.codigo }}</td>
                      <td>{{ item.nombreComun }}</td>
                      <td>{{ item.dap }}</td>
                      <td>{{ item.alturaComercial }}</td>
                      <td class="text-center">{{ item.volumen }}</td>
                      <td>{{ item.este }}</td>
                      <td>{{ item.norte }}</td>
                      <td>{{ item.condicion }}</td>
                      <td class="text-left">{{ item.observaciones }}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <tr>
                      <td class="tdTotal">Total</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="tdTotal text-center">
                        {{ totalVolumen | number: "1.4-4" }}
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab
          header="Anexo 3: Detalle de los Volúmenes Comerciales no Maderables"
          [selected]="false"
        >
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12">
                <h3 class="title fz-12 text-center">
                  Detalle de los volúmenes comerciales no maderables
                </h3>
                <h3 class="title fz-10 text-center label">
                  (Resultado del mateo por anexo o sector)
                </h3>
              </div>
            </div>

            <div class="row m-0 justify-content-center">
              <div class="col-12 col-sm-3">
                <button
                  class="btn btn-sm btn-secondary f-w"
                  type="button"
                  (click)="generarAnexo3()"
                >
                  Descargar Anexo 3
                </button>
              </div>

              <div class="col-12 col-sm-5">
                <div class="row col-12">
                  <div class="input-group col-sm-8">
                    <input
                      type="text"
                      [disabled]="disabled"
                      class="form-control"
                      placeholder=""
                      [(ngModel)]="fileAnexo3.nombreFile"
                    />
                    <div class="input-group-append">
                      <button
                        type="button"
                        *ngIf="!cargarAnexo3 && fileAnexo3.inServer == false"
                        id="btnCargaShapeFile"
                        [disabled]="disabled"
                        (click)="fileInputAnexo3.click()"
                        class="btn btn-sm btn-file"
                        pButton
                        icon="pi pi-upload"
                        pButton
                        title="Cargar Archivo"
                      >
                        <input
                          #fileInputAnexo3
                          type="file"
                          (change)="onFileChange($event, 'Anexo3')"
                          style="display: none"
                          accept=".pdf"
                          [attr.data-type]="fileAnexo3.descripcion"
                        />
                      </button>

                      <button
                        *ngIf="!eliminarAnexo3"
                        type="button"
                        [disabled]="disabled"
                        class="btn btn-sm btn-file"
                        (click)="eliminarA3()"
                        title="Eliminar"
                        icon="pi pi-trash"
                        pButton
                      ></button>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <button
                      class="btn btn-sm btn-secondary f-w"
                      type="button"
                      (click)="guardarAnexo3()"
                      [disabled]="disabled || !verEnviar3"
                    >
                      Guardar
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row m-0 mt-3">
              <div class="col-12">
                <p-table [value]="listAnexo3NoMaderables">
                  <ng-template pTemplate="header">
                    <tr>
                      <th rowspan="2" class="v-middle">
                        N° Individuo (Código)
                      </th>
                      <th rowspan="2" class="v-middle">Nombre español</th>
                      <th rowspan="2" class="v-middle">Nombre científico</th>
                      <th rowspan="2" class="v-middle">Nombre nativo</th>
                      <th colspan="2" class="v-middle">Coordenadas UTM</th>
                      <!-- <th rowspan="2" class="v-middle" style="padding: 12px;">
                                                <div class="fz-10 th-rotate-270">N° de arboles</div>
                                            </th> -->
                      <th rowspan="2" class="v-middle">Producto</th>
                      <th rowspan="2" class="v-middle">Volumen</th>
                      <th rowspan="2" class="v-middle">Observaciones</th>
                    </tr>
                    <tr>
                      <th>Este</th>
                      <th>Norte</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data>
                    <tr>
                      <td>{{ data.codigo }}</td>
                      <td>{{ data.nombreComun }}</td>
                      <td>{{ data.nombreCientifico }}</td>
                      <td>{{ data.nombreNativo }}</td>
                      <td>{{ data.este }}</td>
                      <td>{{ data.norte }}</td>
                      <!--  <td>{{data.titulo}}</td> -->
                      <td>{{ data.producto }}</td>
                      <td>{{ data.volumen }}</td>
                      <td>{{ data.observaciones }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab
          header="Anexo 4: Acta de Asamblea Comunal"
          [selected]="false"
        >
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-6">
                <div>
                  <label class="label fz-13 title2 m-0">Acta</label>
                </div>
                <div>
                  <label class="label fz-11 m-0">Asamblea Comunal</label>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="row col-12">
                  <div class="input-group col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      placeholder=""
                      [disabled]="disabled"
                      [(ngModel)]="fileAsambleaComunal.nombreFile"
                    />
                    <div class="input-group-append">
                      <button
                        type="button"
                        [disabled]="disabled"
                        *ngIf="
                          !cargarAnexo4 && fileAsambleaComunal.inServer == false
                        "
                        id="btnCargaShapeFile"
                        (click)="fileInput.click()"
                        class="btn btn-sm btn-file"
                        pButton
                        icon="pi pi-upload"
                        pButton
                        title="Cargar Archivo"
                      >
                        <input
                          #fileInput
                          type="file"
                          (change)="onFileChange($event, 'Anexo4')"
                          style="display: none"
                          accept=".pdf"
                          [attr.data-type]="fileAsambleaComunal.descripcion"
                        />
                      </button>

                      <button
                        *ngIf="!eliminarAnexo4"
                        type="button"
                        [disabled]="disabled"
                        class="btn btn-sm btn-file"
                        (click)="eliminarArchivoLimites()"
                        title="Eliminar"
                        icon="pi pi-trash"
                        pButton
                      ></button>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <button
                      class="btn btn-sm btn-secondary f-w"
                      type="button"
                      (click)="guardarArchivoAsambleaComunal()"
                      [disabled]="disabled || !verEnviar4"
                    >
                      Guardar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon1"
            [base]="evaluacion_1"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <div class="step__btn mt-4">
    <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button
      *ngIf="isPerfilArffs"
      class="btn-primary2"
      (click)="registrarEvaluacion()"
    >
      Guardar Evaluación
    </button>
    <button
      *ngIf="isPerfilArffs"
      class="btn-primary2"
      (click)="retornarFlujoEvaluacion()"
    >
      Retornar Flujo Evaluacion
    </button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
  <br />
</div>
<p-confirmDialog
  [style]="{ width: '300px' }"
  key="deleteAnexo1"
></p-confirmDialog>

<p-toast position="top-right" key="tl"></p-toast>
