<div class="container-fluid pt-3">
  <div class="row m-0">
    <div class="col-12 text-right">
      <button class="btn btn-sm btn-default button-more mb-2" type="button" title="Agregar"
        (click)="btnAgregar('Nuevo Registro', null, false)"><i class="pi pi-plus"></i></button>
    </div>
    <div class="col-12 mt-2">

      <div class="table-responsive">
        <table class="table table-boderk no-desbor-table">
          <thead>
            <tr>
              <th colspan="2">
                <button class="btn btn-sm btn-default button-more mb-2" type="button" title="Agregar"
                  (click)="btnAgregarColum()"><i class="pi pi-plus"></i></button>
              </th>
              <th *ngFor="let item of numAnios;let indice=index" colspan="12">AÑO {{indice+1}}</th>
            </tr>
            <tr>
              <th class="v-middle" rowspan="2">Acciones</th>
              <th class="v-middle mincellactividad" style="min-width: 120px;" rowspan="2">Actividad</th>
              <th *ngFor="let item of numAnios" colspan="12">Meses</th>
            </tr>
            <tr>
              <ng-container *ngFor="let item of numAnios">
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="31" class="text-left">
                <b>Aprovechamiento Maderables</b>
              </td>
            </tr>
            <tr *ngFor="let data of listaAproMad">
              <td class="text-left">
                <span (click)="btnAgregar('Editar Registro', data, true)" class="pointer mr-1" title="Editar">
                  <i class="pi pi-pencil"></i>
                </span>
                <span *ngIf="data.accion" (click)="openEliminar($event, data.idCronogramaActividad)"
                  class="pointer mr-2" title="Eliminar">
                  <i class="pi pi-trash"></i>
                </span>
              </td>
              <td class="text-left">{{ data.actividad }}</td>
              <ng-container *ngFor="let mes of data.listaValues">
                <td> {{ mes.mes1 }} </td>
                <td> {{ mes.mes2 }} </td>
                <td> {{ mes.mes3 }} </td>
                <td> {{ mes.mes4 }} </td>
                <td> {{ mes.mes5 }} </td>
                <td> {{ mes.mes6 }} </td>
                <td> {{ mes.mes7 }} </td>
                <td> {{ mes.mes8 }} </td>
                <td> {{ mes.mes9 }} </td>
                <td> {{ mes.mes10 }} </td>
                <td> {{ mes.mes11 }} </td>
                <td> {{ mes.mes12 }} </td>
              </ng-container>
            </tr>
            <tr>
              <td colspan="31" class="text-left">
                <b>Aprovechamiento de productos forestales diferentes a la madera</b>
              </td>
            </tr>
            <tr *ngFor="let data2 of listaAproNoMad">
              <td class="text-left">
                <span (click)="btnAgregar('Editar Registro', data2, true)" class="pointer mr-1" title="Editar">
                  <i class="pi pi-pencil"></i>
                </span>
                <span *ngIf="data2.accion" (click)="openEliminar($event, data2.idCronogramaActividad)"
                  class="pointer mr-2" title="Eliminar">
                  <i class="pi pi-trash"></i>
                </span>
              </td>
              <td class="text-left">{{ data2.actividad }}</td>
              <ng-container *ngFor="let mes of data2.listaValues">
                <td> {{ mes.mes1 }} </td>
                <td> {{ mes.mes2 }} </td>
                <td> {{ mes.mes3 }} </td>
                <td> {{ mes.mes4 }} </td>
                <td> {{ mes.mes5 }} </td>
                <td> {{ mes.mes6 }} </td>
                <td> {{ mes.mes7 }} </td>
                <td> {{ mes.mes8 }} </td>
                <td> {{ mes.mes9 }} </td>
                <td> {{ mes.mes10 }} </td>
                <td> {{ mes.mes11 }} </td>
                <td> {{ mes.mes12 }} </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br />
  <br />
</div>