<div class="row mt-4">
  <div class="col-12">
    <h4 class="title2" style="border-bottom: 1px solid #ccc">
      Descuentos de pago por DA
    </h4>
  </div>
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>N°</th>
          <th>Descripción</th>
          <th>Descuento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listDescuento; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ data.descDescuento }}</td>
          <td>{{ data.porcentaje | number: '1.2-2' }}%</td>
        </tr>
      </tbody>
      <tbody>
        <tr style="background: #e7e7e7">
          <td colspan="2"><b>Total Descuento</b></td>
          <td><b>{{ totalDescuento | number: '1.2-2' }}%</b></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>