<div class="row">
    <div class="form-group col-12">
        <label class="label">Tipo Actividad</label>
        <input [(ngModel)]="actividad"  type="text" class="form-control" placeholder="Ingrese Tipo de Actividad" maxlength="100">                 
    </div> 
</div>
<div class="d-flex justify-content-end">
    <button icon="pi pi-save" (click)="agregar()" pButton pRipple type="button" label="Aceptar"
                class="p-button-success p-button-outlined" style="width: 106px;"></button> &nbsp;&nbsp;
    <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
              class="p-button-danger p-button-outlined" style="width: 106px;"></button>
</div>
<p-toast position="top-right" key="tr"></p-toast>