<ng-container >
    <div class="row m-0 pt-2">
      <div class="col-12 col-sm-8 p-0">
        <div class="f-w mb-2 mapa-content">
          <div class="mapa" #map2></div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="d-grid gap-2 d-md-block mb-2" style="display: flex !important;" *ngIf="ShowBotonCargar">
          <button type="button" (click)="fileInputSHP.click()"
            class="btn-secondary width-full" [disabled]="disabled">
            Cargar shape file
            <input #fileInputSHP type="file" (change)="onChangeFile($event)"
              style="display: none;" />
          </button>
        </div>
        <div class="card gh-layers">
          <div class="card-header py-0 pt-2 pb-2">
            Capas
            <span *ngIf="ShowBotonGuardar"
              title="Guardar Capa"
              class="pointer pr-1 float-right"
            >
              <i
                class="pi pi-save"
                aria-hidden="true"
                (click)="!disabled&&onGuardarLayer()"
              ></i>
            </span>
          </div>
          <ul class="list-group">
            <li *ngFor="let item of _layers" class="list-group-item p-0 d-flex">
              <input class="ml-1 mr-1 pointer" type="checkbox" [checked]="true" [disabled]="disabled"
                (change)="toggleLayer(item.idLayer, $event)" />

              <label class="m-0 p-0 text-left pointer gh-label" style="flex: 2;"
                [ngStyle]="{'color': item.color}">{{item.nombre}}
                <span class="pointer pr-1"
                  title="{{ item.overlap ? 'Capa Superpuesta' : 'Capa contenida'}} ">
                  <i class="{{ item.overlap? 'pi pi-info-circle color-red' : 'pi pi-check-circle color-green'}}"
                    *ngIf="item.service" aria-hidden="true"></i>
                </span>
              </label>

              <div class="d-flex">
                <span class="mr-2 pointer">
                  <i class="pi pi-download" *ngIf="!item.service && item.inServer == true"
                    aria-hidden="true" (click)="onDownloadFileSHP(item?.codigo)"></i>
                </span>
                <span class="pointer pr-1">
                  <i
                    class="pi pi-trash"
                    aria-hidden="true"
                    *ngIf="!item.service && item.idLayer"
                    (click)="!disabled&&onRemoveFileSHP(item)"
                  ></i>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="pl-3 row" *ngIf="mostrarBotonCapturarMapa" >
      <button type="menu" class="btn-secondary" [disabled]="disabled" (click)="capturarMapa()">Guardar una imagen del Mapa</button>
    </div>
    <p-confirmDialog
    [style]="{ width: '300px' }"
    key="deleteFileSHP"
  ></p-confirmDialog>
  </ng-container>

