<div class="row m-0">
    <div class="col-12 pt-2">
        <table class="table table-boderk">
            <thead>
                <tr>
                    <th>Etapa</th>
                    <th>Descripción</th>
                    <th>Equipos, herramientas e insumos utilizados</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of lstAprovechamiento">
                    <td class="text-left">{{data.actividad}}</td>
                    <td>{{data.descripcion}}</td>
                    <td>{{data.equipos}}</td>
                </tr>
            </tbody>
        </table>

        <label *ngIf="pendiente" class="lbl-info mt-3 mb-3">
            (Los cambios locales se guardarán pulsando el botón "Guardar".)
        </label>
    </div>
</div>
