<form [formGroup]="f">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label class="label">Tipo Actividad</label>
                <div class="form-control-selectk">
                    <p-dropdown appendTo="body" formControlName="tipoActividad" 
                        [options]="cmbTipoActividad"
                        optionValue="code" optionLabel="name"></p-dropdown>
                </div>
            </div>
            <div class="form-group">
                <label class="label">Actividad</label>
                <input type="text" formControlName="actividad" class="form-control" placeholder="" maxlength="100">
            </div>
            <div class="form-group">
                <label class="label">Descripción</label>
                <input type="text" formControlName="descripcion" class="form-control" placeholder="" maxlength="100">
            </div>
            <div class="form-group">
                <label class="label">Equipos</label>
                <input type="text" formControlName="equipos" class="form-control" placeholder="" maxlength="100">
            </div>
            <div class="form-group">
                <label class="label">Insumos</label>
                <input type="text" formControlName="insumos" class="form-control" placeholder="" maxlength="100">
            </div>
            <div class="form-group">
                <label class="label">Personal</label>
                <input type="text" formControlName="personal" class="form-control" placeholder="" maxlength="100">
            </div>
            <div class="form-group">
                <label class="label">Observaciones</label>
                <textarea formControlName="observaciones" cols="4" class="form-control" placeholder="" maxlength="250"
                    rows="3"></textarea>
            </div>
        </div>

    </div>

    <div class="p-dialog-footer" style="padding-bottom:0px;padding-right:0px;">
        <button icon="pi pi-save" pButton (click)="guardar()" pRipple type="button" label="Aceptar"
            class="p-button-success p-button-outlined" style="width: 106px;"></button>
        <button icon="pi pi-times" (click)="cancelar()" pButton pRipple type="button" label="Cancelar"
            class="p-button-danger p-button-outlined" style="width: 106px;"></button>
    </div>
</form>


<p-toast key="gpc_02"></p-toast>