// @import url('../../../../styles/color-estado.scss');

.validado {
  color: #4caf50;
  font-size: 1.3em;
}

.observado {
  color: red;
  font-size: 1.3em;
}

.p-chip {
  color: #ffffff;
  max-width: 110px;
  padding: 4px;
  display: flex;
  justify-content: center;
  font-size: 0.85em ;

  &.aprobado {
    background: #4caf50 ;
  }

  &.observado {
    background: #cb4141 ;
  }

  &.en_evaluacion {
    background: #e5c93c ;
  }
}
