<a class="pointer" title="Validar Acta" (click)="verPDF()"
  ><i class="pi pi-check-circle"></i
></a>

<p-dialog
  header="Validar Pago"
  appendTo="body"
  [(visible)]="isShowModal2_2"
  [modal]="true"
  [style]="{ width: '75vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="container-fluid">
      <div class="row mt-3">
        <!-- TITULO -->
        <div class="col-12">
          <ver-pago
            [nrDocumentoGestion]="nrDocumentoGestion"
            [tipoPlan]="tipoPlan"
            [idPago]="idPago"
            [isRegisterByArffs]="isRegisterByArffs"
            [estadoPago]="estadoPago"
          ></ver-pago>
        </div>

        <!-- ACORDION -->
        <div class="col-12" style="display: flex; flex-direction: row">
          <p-checkbox
            label="Validar Pago"
            [disabled]=" codigoEstado == 'PAGOVALD'|| codigoEstado == 'PAGOOBS'"
            [(ngModel)]="checkValidado"
            id="chk-validar"
            [binary]="true"
            [value]="codigoConforme"
          ></p-checkbox>

          <div class="col-4">
            <div
              class="p-chip"
              [class.aprobado]="codigoEstado == 'PAGOVALD'"
              [class.observado]="codigoEstado == 'PAGOOBS'"
              [class.en_evaluacion]="codigoEstado == 'PAGOPEND'"
            >
              {{ codigoEstadoText }}
            </div>
          </div>

          <!-- <span *ngIf="checkValidado" class=" font-weight-bold validado">&nbsp;&nbsp;&nbsp;Pago Validado</span>
          <span *ngIf="!checkValidado" class=" font-weight-bold observado">&nbsp;&nbsp;&nbsp; Pago Observado</span> -->
        </div>
        <div class="col-12 mt-3">
          <label class="label fz-12"
            >Comentarios &nbsp;&nbsp;<small>(máx. 250 caracteres)</small></label
          >
          <textarea
            [disabled]=" codigoEstado == 'PAGOVALD'|| codigoEstado == 'PAGOOBS'"
            cols="3"
            rows="4"
            class="form-control form-control-sm"
            [(ngModel)]="observacion"
            [maxLength]="250"
            placeholder="Ingrese Comentarios..."
          ></textarea>
        </div>
      </div>
    </div>

    <br />
    <button
      icon="pi pi-save"
      [disabled]="codigoEstado == 'PAGOVALD'|| codigoEstado == 'PAGOOBS'"
      (click)="btnGuardar()"
      type="button"
      class="btn btn-sm btn-primary2"
    >
      Guardar Validación</button
    >&nbsp;
    <button
      icon="pi pi-times"
      (click)="isShowModal2_2 = false"
      type="button"
      class="btn btn-sm btn-danger"
    >
      Cancelar
    </button>
  </ng-template>
  <ng-template pTemplate="footer"> </ng-template>
  <p-confirmDialog
    [style]="{ width: '300px' }"
    key="confirmvalidaPago"
  ></p-confirmDialog>
</p-dialog>

<p-toast></p-toast>
