<div class="row-fluid">
  <div class="row m-0">
    <div class="col-12 col-sm-6 form-group">
      <label class="label">Tipo de Documento de Gestión</label>
      <div class="form-control-selectk">
        <p-dropdown
          class="fomr-control"
          placeholder="Seleccione"
          optionValue="codigo"
          optionLabel="valorPrimario"
          (onChange)="seleccionarTipoDocumentoGestion()"
          [options]="comboTipodoc"
          [(ngModel)]="oposicionRequestEntity.tipoDocumentoGestion"
          [disabled]="isDisabledEdit"
        >
        </p-dropdown>
      </div>
    </div>
    <div class="col-12 col-sm-6 form-group">
      <label class="label">{{ txtDocumento }}</label>
      <input
        class="form-control"
        type="text"
        numero
        [maxlength]="8"
        autocomplete="off"
        [disabled]="isDisabledEdit"
        [(ngModel)]="oposicionRequestEntity.idProcesoPostulacion"
        placeholder="Ingrese {{ txtDocumento }}"
      />
    </div>
  </div>

  <p-fieldset legend="Datos de Oposición" [toggleable]="true">
    <div class="row m-0">
      <ng-container *ngIf="!config.data.isRespuesta">
        <div class="col-12 col-md-4 form-group">
          <label for="tipoDocumento">Tipo Documento:</label>
          <div class="form-control-selectk">
            <p-dropdown
              [disabled]="isDisabledEdit"
              [(ngModel)]="codigoTipoDocumento"
              (onChange)="seleccionarTipoDocumento()"
              [options]="lstTipoDocumento"
              optionLabel="valor1"
              optionValue="codigo"
              placeholder="--Seleccione--"
            >
            </p-dropdown>
          </div>
        </div>

        <ng-container *ngIf="isRuc">
          <div class="col-12 col-md-4 form-group">
            <label for="ruc">RUC:</label>
            <input
              [disabled]="isDisabledEdit"
              autocomplete="off"
              class="form-control form-control-sm"
              maxlength="11"
              numero
              type="text"
              id="ruc"
              name="ruc"
              placeholder="Ingrese RUC"
              [(ngModel)]="usuarioOpositor.ruc"
              (ngModelChange)="changeTipoDoc()"
            />
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <label class="label">&nbsp;&nbsp;&nbsp;</label>
            <div>
              <button
                pButton
                pRipple
                type="button"
                label="Validar SUNAT"
                [ngClass]="
                  validaPIDEClass ? 'p-button-success' : 'p-button-danger'
                "
                class="p-button-rounded p-button-outlined"
                (click)="validarPide(1)"
              ></button>
            </div>
          </div>
          <div class="col-12 col-md-6 form-group">
            <label for="razonSocial">Razón Social:</label>
            <input
              disabled
              autocomplete="off"
              class="form-control form-control-sm"
              type="text"
              id="razonSocial"
              name="razonSocial"
              placeholder="Ingrese razón social"
              [(ngModel)]="usuarioOpositor.razonSocial"
            />
          </div>
        </ng-container>

        <ng-container *ngIf="isDni">
          <div class="col-12 col-md-4 form-group">
            <label for="numeroDocumento">DNI:</label>
            <input
              [disabled]="isDisabledEdit"
              autocomplete="off"
              class="form-control form-control-sm"
              maxlength="8"
              numero
              type="text"
              id="numeroDocumento"
              name="numeroDocumento"
              placeholder="Ingrese DNI"
              [(ngModel)]="usuarioOpositor.numeroDocumento"
              (ngModelChange)="changeTipoDoc()"
            />
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <label class="label">&nbsp;&nbsp;&nbsp;</label>
            <div>
              <button
                pButton
                pRipple
                type="button"
                label="Validar RENIEC"
                [disabled]="isDisabledEdit"
                [ngClass]="
                  validaPIDEClass ? 'p-button-success' : 'p-button-danger'
                "
                class="p-button-rounded p-button-outlined"
                (click)="validarPide(2)"
              ></button>
            </div>
          </div>
          <div class="col-12 col-md-6 form-group">
            <label for="nombre">Nombres:</label>
            <input
              disabled
              autocomplete="off"
              class="form-control form-control-sm"
              type="text"
              id="nombre"
              name="nombre"
              placeholder="Ingrese nombres"
              [(ngModel)]="usuarioOpositor.nombres"
            />
          </div>

          <div class="col-12 col-md-6 form-group">
            <label for="apellidoPaterno">Apellido Paterno:</label>
            <input
              disabled
              autocomplete="off"
              class="form-control form-control-sm"
              type="text"
              id="apellidoPaterno"
              name="apellidoPaterno"
              placeholder="Ingrese apellido paterno"
              [(ngModel)]="usuarioOpositor.apellidoPaterno"
            />
          </div>

          <div class="col-12 col-md-6 form-group">
            <label for="apellidoMaterno">Apellido Materno:</label>
            <input
              disabled
              autocomplete="off"
              class="form-control form-control-sm"
              type="text"
              id="apellidoMaterno"
              name="apellidoMaterno"
              placeholder="Ingrese apellido materno"
              [(ngModel)]="usuarioOpositor.apellidoMaterno"
            />
          </div>
        </ng-container>

        <div class="col-12 col-md-6 form-group">
          <label for="celular">Celular:</label>
          <input
            [disabled]="isDisabledEdit"
            autocomplete="off"
            class="form-control form-control-sm"
            type="text"
            numero
            maxlength="9"
            id="celular"
            name="celular"
            placeholder="Ingrese número de celular"
            [(ngModel)]="usuarioOpositor.telefono"
          />
        </div>

        <div class="col-12 col-md-12 form-group">
          <label for="correo">Correo:</label>
          <input
            [disabled]="isDisabledEdit"
            autocomplete="off"
            class="form-control form-control-sm"
            type="text"
            id="correo"
            name="correoElectronico"
            placeholder="Ingrese correo electrónico"
            maxlength="100"
            [(ngModel)]="usuarioOpositor.correo"
          />
        </div>
      </ng-container>

      <div class="col-12 form-group">
        <label for="descripcion" class="label">Motivo de oposición:</label>
        <textarea
          [disabled]="isDisabledEdit"
          id="descripcion"
          autocomplete="off"
          class="form-control form-control-sm"
          rows="4"
          [autoResize]="autoResize"
          [(ngModel)]="oposicionRequestEntity.descripcion"
          maxlength="255"
          placeholder="Ingrese el motivo de oposición"
          pInputTextarea
        >
        </textarea>
      </div>
    </div>

    <ng-container *ngIf="!config.data.isRespuesta">
      <ng-container *ngIf="isTH">
        <div class="col-12 col-md-12 form-group">
          <label class="label">TH:</label>
          <input
            [disabled]="isDisabledEdit"
            autocomplete="off"
            class="form-control form-control-sm"
            maxlength="49"
            type="text"
            id="tituloHabilitante"
            name="tituloHabilitante"
            placeholder="Ingrese título habilitante"
            [(ngModel)]="tituloHabilitante"
          />
        </div>

        <div class="col-12 col-md-6 form-group">
          <label class="label">Fecha</label>
          <div class="content-date">
            <input
              [(ngModel)]="fechaDocumentoTH"
              name="fechaDesde"
              autocomplete="off"
              class="form-control"
              [min]="minDate"
              matInput
              [matDatepicker]="fechaDesde"
              readonly
            />
            <i class="pi pi-calendar pointer" (click)="fechaDesde.open()"></i>
            <mat-datepicker #fechaDesde></mat-datepicker>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </p-fieldset>
  <br />

  <p-fieldset legend="Adjuntar documentos" [toggleable]="true">
    <div class="row m-0" *ngIf="!isDisabledEdit">
      <div class="col-12 col-sm-8">
        <app-carga-archivo-general
          label="Adjuntar Sustento de Oposición:"
          accept=""
          [tipoDoc]="tiposArchivos.OPOSICION"
          [idArchivo]="objDocuemnto.idFile"
          [disabled]="isDisabledEdit"
          (registrarArchivoFile)="registrarArchivoFilePFDM($event)"
        >
        </app-carga-archivo-general>
      </div>
    </div>
    <ng-container *ngIf="!config.data.isRespuesta && !isDisabledEdit">
      <ng-container>
        <div class="col-12 col-md-12 form-group">
          <label class="label">Nombre de Documento:</label>
          <input
            [disabled]="isDisabledEdit"
            autocomplete="off"
            class="form-control form-control-sm"
            maxlength="49"
            type="text"
            id="nombreDocumentoTH"
            name="nombreDocumentoTH"
            placeholder="Ingrese el nombre del documento"
            [(ngModel)]="nombreDocumentoTH"
          />
        </div>
      </ng-container>
    </ng-container>

    <div class="row m-0" *ngIf="!isDisabledEdit">
      <div class="col-12 col-sm-8">
        <label class="label">Descripción</label>
        <input
          class="form-control form-control-sm"
          type="text"
          autocomplete="off"
          placeholder=""
          [(ngModel)]="objDocuemnto.descripcion"
          [disabled]="isDisabledEdit"
        />
      </div>
      <div class="col-12 col-sm-4">
        <label class="label">&nbsp;</label>
        <div>
          <button class="btn btn-secondary" (click)="btnAgregarDocSustento()">
            Agregar
          </button>
        </div>
      </div>
    </div>
    <div class="row m-0 mt-3 mb-3">
      <div class="col-12">
        <p-table [value]="listaTablaDocumentos">
          <ng-template pTemplate="header">
            <tr>
              <th>Acción</th>
              <th>Nombre Documento</th>
              <th>Descripción</th>
              <th *ngIf="isDisabledEdit">Conformidad</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data let-rowIndex="rowIndex+1">
            <tr>
              <td>
                <span
                  class="pointer mr-2"
                  title="titulo"
                  (click)="btnDescargarDocSustento(data)"
                  ><i class="pi pi-download"></i
                ></span>
                <span
                  *ngIf="!isDisabledEdit"
                  class="pointer"
                  title="titulo"
                  (click)="btnEliminarDocSustento(data)"
                  ><i class="pi pi-trash"></i
                ></span>
              </td>
              <td>{{ data.nombre }}</td>
              <td>{{ data.descripcion }}</td>
              <td *ngIf="isDisabledEdit && isShowBtnConformidad">
                <p-checkbox
                  [disabled]="false"
                  [(ngModel)]="data.conformidad"
                  [binary]="true"
                ></p-checkbox>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div *ngIf="isDisabledEdit && isShowBtnConformidad" class="col-12 mt-3">
        <button class="btn btn-secondary" (click)="btnGuadarConformidad()">
          Guardar Conformidad
        </button>
      </div>
    </div>
  </p-fieldset>

  <!-- PUEDE EDITAR TITTULARTH -->
  <ng-container *ngIf="isShowDataResp">
    <p-fieldset legend="Datos de Descargo" [toggleable]="true">
      <div class="row m-0">
        <div class="col-sm-12 col-md-6 form-group">
          <label class="label">Fecha Respuesta:</label>
          <div class="content-date">
            <input
              name="fechaResp"
              autocomplete="off"
              class="form-control form-control-sm"
              [min]="minDate"
              matInput
              [(ngModel)]="oposicionRequestEntity.fechaResp"
              [matDatepicker]="fechaResp"
              readonly
              [disabled]="!isEnviarTitularTH"
            />
            <i class="pi pi-calendar pointer" (click)="fechaResp.open()"></i>
            <mat-datepicker #fechaResp></mat-datepicker>
          </div>
        </div>

        <div class="col-sm-12 col-md-12 form-group">
          <label class="label">Asunto Respuesta:</label>
          <textarea
            [disabled]="!isEnviarTitularTH"
            autocomplete="off"
            class="form-control form-control-sm"
            rows="4"
            [autoResize]="autoResize"
            [(ngModel)]="oposicionRequestEntity.asuntoResp"
            placeholder="Ingrese respuesta"
            pInputTextarea
          >
          </textarea>
        </div>

        <div class="col-sm-12 col-md-12 form-group">
          <upload-input-buttons
            [file]="fileRespuesta"
            [label]="'Documento Respuesta:'"
            [disabled]="!isEnviarTitularTH"
            (registrarArchivo)="
              registrarArchivoAdjunto($event, tiposArchivos.RESP_OPOSICION)
            "
            (eliminarArchivo)="
              eliminarArchivoAdjunto(
                fileResolucion.idArchivo,
                tiposArchivos.RESP_OPOSICION
              )
            "
          >
          </upload-input-buttons>
        </div>
      </div>
    </p-fieldset>
  </ng-container>

  <!-- PUEDE EDITAR ARFFS -->
  <ng-container *ngIf="isShowDataResol">
    <p-fieldset
      legend="Datos de Resultados de Evaluación de Oposición"
      [toggleable]="true"
    >
      <div class="row m-0">
        <div class="col-12 form-group">
          <div class="p-field-radiobutton">
            <label for="fundada1" class="label mr-2">Fundada</label>
            <p-radioButton
              name="fundada"
              [value]="true"
              [(ngModel)]="oposicionRequestEntity.fundada"
              inputId="fundada1"
              [disabled]="!isEnviarArrfs"
            >
            </p-radioButton>
          </div>
          <div class="p-field-radiobutton">
            <label for="fundada2" class="label mr-2">Infundada</label>
            <p-radioButton
              name="fundada"
              [value]="false"
              [(ngModel)]="oposicionRequestEntity.fundada"
              inputId="fundada2"
              [disabled]="!isEnviarArrfs"
            >
            </p-radioButton>
          </div>
        </div>

        <!-- *************************************************************************** -->
        <!-- *************************************************************************** -->
        <div class="col-12 form-group" style="display: none;">
          <!-- SE OCULTA ESTA DESCARGA POR PEDIDO DE USUARIO EN OBS DE USUARIO DE ÉPICA 2.4-->
          <label class="label"
            >Descargar Plantilla de Resolución de Oposición y
            Concurrencia:</label
          >
          <button
            (click)="descargarPlantillaResolucion()"
            class="btn btn-secondary"
          >
            Descargar
          </button>
        </div>
        <!-- *************************************************************************** -->
        <!-- *************************************************************************** -->

        <div class="col-12 col-md-12 form-group">
          <label class="label">Nombre de Documento:</label>
          <input
            [disabled]="!isEnviarArrfs"
            autocomplete="off"
            class="form-control form-control-sm"
            type="text"
            id="nombre"
            name="nombreDocumentoOposicion"
            placeholder="Ingrese nombre del documento"
            maxlength="49"
            [(ngModel)]="nombreDocumentoOposicion"
          />
        </div>

        <div class="col-12 form-group">
          <label class="label">Tipo de Documento:</label>
          <div class="form-control-selectk">
            <p-dropdown
              class="fomr-control"
              placeholder="Seleccione Tipo de Documento de Gestión"
              optionValue="codigo"
              optionLabel="valorPrimario"
              [options]="comboTipoDocumento"
              [(ngModel)]="oposicionRequestEntity.tipoDocArchivo"
              [disabled]="!isEnviarArrfs"
            >
            </p-dropdown>
          </div>
        </div>

        <div class="col-12 col-md-12 form-group">
          <label class="label">Número de Documento:</label>
          <input
            [disabled]="!isEnviarArrfs"
            autocomplete="off"
            class="form-control form-control-sm"
            type="text"
            [maxLength]="25"
            id="numero"
            name="nombreDocumentoOposicion"
            placeholder="Ingrese número del documento"
            [(ngModel)]="numeroDocumentoOposicion"
          />
        </div>

        <div class="col-sm-12 col-md-6 form-group">
          <label class="label">Fecha Resolución:</label>
          <div class="content-date">
            <input
              name="fechaEmision"
              autocomplete="off"
              class="form-control form-control-sm"
              [min]="minDate"
              matInput
              [(ngModel)]="oposicionRequestEntity.fechaEmision"
              [matDatepicker]="fechaEmision"
              readonly
              [disabled]="!isEnviarArrfs"
            />
            <i class="pi pi-calendar pointer" (click)="fechaEmision.open()"></i>
            <mat-datepicker #fechaEmision></mat-datepicker>
          </div>
        </div>

        <div class="col-12 form-group">
          <label class="label">Asunto:</label>
          <textarea
            [disabled]="!isEnviarArrfs"
            autocomplete="off"
            class="form-control form-control-sm"
            rows="4"
            [autoResize]="autoResize"
            [(ngModel)]="oposicionRequestEntity.asunto"
            placeholder="Ingrese asunto"
            pInputTextarea
          >
          </textarea>
        </div>

        <div class="col-12 form-group">
          <upload-input-buttons
            [file]="fileResolucion"
            [label]="'Cargar Resolución:'"
            [disabled]="!isEnviarArrfs"
            (registrarArchivo)="
              registrarArchivoAdjunto($event, tiposArchivos.OPOS_TIPO_DOC)
            "
            (eliminarArchivo)="
              eliminarArchivoAdjunto(
                fileResolucion.idArchivo,
                tiposArchivos.OPOS_TIPO_DOC
              )
            "
          >
          </upload-input-buttons>
        </div>
      </div> </p-fieldset
    ><br />
  </ng-container>

  <div class="row m-0 mt-3">
    <div class="col-12 text-right">
      <button
        *ngIf="config.data.isNew"
        class="p-button-success p-button-outlined mr-2"
        type="button"
        icon="pi pi-save"
        pButton
        pRipple
        label="Presentar Oposición"
        (click)="btnRegistrarOposicion()"
      ></button>

      <button
        *ngIf="isEnviarArrfs"
        class="p-button-success p-button-outlined mr-2"
        type="button"
        icon="pi pi-save"
        pButton
        pRipple
        label="Guardar y Enviar"
        (click)="btnRegistrarResolucion()"
      ></button>

      <button
        *ngIf="isEnviarTitularTH"
        class="p-button-success p-button-outlined mr-2"
        type="button"
        icon="pi pi-save"
        pButton
        pRipple
        label="Guardar y Enviar"
        (click)="btnRegistrarRespuesta()"
      ></button>

      <button
        class="p-button-danger p-button-outlined"
        type="button"
        icon="pi pi-times"
        pButton
        pRipple
        label="Cancelar"
        (click)="cerrarModal()"
      ></button>
    </div>
  </div>
</div>
