<div class="container-fluit pt-4">
    <div class="row m-0">
        <div class="col-12 text-right mb-2">
            <button class="btn btn-sm btn-default button-more mb-2" type="button" title="Agregar" (click)="openModal(AccionTipo.REGISTRAR)"><i class="pi pi-plus"></i></button>
        </div>
        <div class="col-12">
            <p-table [value]="lstData" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]" [totalRecords]="lstData.length"
                class="no-desbor-table">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Acciones</th>
                        <th>Actividades que Generan Impacto</th>
                        <th>Descripción del Impacto </th>
                        <th>Medidas de Prevención y/o Mitigación, Incluido el Manejo de Residuos Sólidos</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td>
                            <span class="pointer mr-1" title="Editar" (click)="openModal(AccionTipo.EDITAR, data)">
                                <i class="pi pi-pencil"></i>
                            </span>
                            <span class="pointer" title="Eliminar" (click)="openEliminar($event,data)">
                                <i class="pi pi-trash"></i>
                            </span>
                        </td>
                        <td>{{data.nombreAprovechamiento}}</td>
                        <td>{{data.impacto}}</td>
                        <td>{{data.medidasControl}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    
    <!-- <div class="row">
        <div class="col-12">
            <br />
            <button class="btn btn-sm btn-primary2" (click)="grabarActividades()">Guardar</button>
            <br />
        </div>
    </div> -->
   

    <br/>
    <br/>
  
    <div class="step__btn mt-4 mb-4">
      
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
      
        <button class="btn-primary2" (click)="grabarActividades()">Guardar</button>
  
        <button class="btn-primary2" (click)="siguienteTab()"> Siguiente</button>
      </div>
</div>