<div class="container-fluit">
  <div class="row m-0">
    <!-- TITULO -->
    <div class="col-12 pt-3">
      <h3 class="title">Ep:4.2.1 Mecanismo de Pago por DA</h3>
    </div>
  </div>
  <!-- FILTROS -->
  <div class="row m-0">
    <div class="col-12">
      <div class="panelk br10 p-3">
        <!-- <p-fieldset legend="Filtros" [toggleable]="true" [collapsed]="false"> -->
        <div class="row">
          <!-- Inputs de filtros -->
          <div class="col-sm-12 col-md-4 form-group">
            <label class="label">N° de Título Habilitante</label>
            <input
              type="text"
              autocomplete="off"
              class="form-control"
              placeholder="Ingrese N° de Título Habilitante"
              maxlength="50"
              [(ngModel)]="mecanismoPago.codigoTH"
            />
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <label class="label">Modalidad de Pago</label>
            <div class="form-control-selectk">
              <p-dropdown
                [options]="listSelectMecaPago"
                [(ngModel)]="mecanismoPago.mecanismoPago"
                optionLabel="valorPrimario"
                optionValue="codigo"
                placeholder="Seleccione"
              >
              </p-dropdown>
            </div>
          </div>
          <!--<div class="col-sm-12 col-md-3 form-group">
            <label class="label">Titular del Tít. Habilitante</label>
            <input class="form-control form-control-sm " type="text" [(ngModel)]="mecanismoPago.nombreTitular" autocomplete="off"/>
          </div>-->
          <div class="col-sm-12 col-md-4 form-group">
            <label class="label">N° de RUC/DNI</label>
            <input
              numero
              autocomplete="off"
              class="form-control"
              placeholder="Ingrese N° de RUC/DNI"
              maxlength="50"
              [(ngModel)]="mecanismoPago.nroDocumento"
            />
          </div>
          <!-- <div class="col-sm-12 col-md-4 form-group">
            <label class="label">N° Plan</label>
            <input
              numero
              [maxlength]="9"
              autocomplete="off"
              class="form-control"
              placeholder="Ingrese N° Plan"
              [(ngModel)]="mecanismoPago.nrDocumentoGestion"
            />
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <label class="label">N° Mecanismo de Pago</label>
            <input
              numero
              autocomplete="off"
              class="form-control"
              placeholder="Ingrese N° Mecanismo de Pago"
              [(ngModel)]="mecanismoPago.idPago"
            />
          </div> -->
        </div>
        <!-- Botones de filtros -->
        <div class="col-12 my-2 form-group text-center">
          <button class="btn btn-sm btn-secondary mr-2" (click)="limpiar()">
            Limpiar
          </button>
          <button class="btn btn-sm btn-secondary mr-2" (click)="buscar()">
            Buscar
          </button>
          <button
            class="btn btn-sm btn-secondary"
            (click)="nuevo()"
            *ngIf="perfil == perfiles.AUTORIDAD_REGIONAL"
          >
            Registro
          </button>
        </div>
        <!-- <br>
        </p-fieldset> -->
      </div>
    </div>
  </div>
  <!-- TABLA -->
  <div class="row m-0">
    <div class="col-12 mt-4 mb-3">
      <div>
        <p-table
          [value]="listMecanismoPago"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Total : {totalRecords} registro(s)"
          [rowsPerPageOptions]="[10, 25, 50]"
          [lazy]="true"
          [loading]="loading"
          (onLazyLoad)="load($event)"
          [totalRecords]="totalRecords"
          [first]="first"
        >
          <ng-template pTemplate="header">
            <tr>
              <th scope="row" style="min-width: 50px;" class="text-center">
                N°
              </th>
              <!-- <th scope="row" style="min-width: 70px;" class="text-center">
                N° Mecanismo de Pago
              </th>
              <th scope="row" style="min-width: 70px;" class="text-center">
                N° Plan
              </th> -->
              <th scope="row" style="min-width: 200px;">
                N° Título Habilitante
              </th>
              <th scope="row" style="min-width: 70px;" class="text-center">
                Vigencia
              </th>
              <th scope="row" style="min-width: 165px;">Modalidad de Pago</th>
              <th scope="row" style="min-width: 250px;">
                Titular de Título Habilitante
              </th>
              <th scope="row" style="min-width: 100px;">RUC/DNI</th>
              <th scope="row" style="min-width: 100px;">Estado</th>
              <th scope="row" style="min-width: 150px;" class="text-center">
                Fecha Mecanismo de Pago
              </th>
              <th
                scope="row"
                class="text-center"
                style="min-width: 75px;"
                *ngIf="perfil == perfiles.AUTORIDAD_REGIONAL || perfil == perfiles.AUTORIDAD_REGIONAL_CAJA"
              >
                Mecanismo de Pago
              </th>
              <th
                scope="row"
                class="text-center"
                style="min-width: 95px;"
                *ngIf="perfil == perfiles.AUTORIDAD_REGIONAL"
              >
                Ver Pago
              </th>
              <th
                scope="row"
                class="text-center"
                style="min-width: 95px;"
                *ngIf="perfil == perfiles.TITULARTH"
              >
                Registrar Pago
              </th>
              <th
                scope="row"
                class="text-center"
                style="min-width: 95px;"
                *ngIf="perfil == perfiles.AUTORIDAD_REGIONAL_CAJA"
              >
                Registrar / Validar Pago
              </th>
              <!-- <th scope="row" class="text-center" style="min-width: 75px">Acciones</th> -->
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data let-rowIndex="rowIndex+1">
            <tr>
              <td class="text-center">{{ rowIndex }}</td>
              <!-- <td class="text-center">{{ data.idPago }}</td> -->
              <!-- <td class="text-center">{{ data.nrDocumentoGestion }}</td> -->
              <td>{{ data.codigoTH }}</td>
              <td class="text-center">{{ data.fechaInicio| date: "dd/MM/YYYY" : 'UTC' }} - {{data.fechaFin| date: "dd/MM/YYYY" : 'UTC'}}</td>
              <td>
                {{ data.mecanismoPago == 'MECPAGOMOD1' ? 'Por superficie /
                Vigencia' : data.mecanismoPago == 'MECPAGOMOD2' ? 'Por valor de
                estado natural y volumen movilizado' : data.mecanismoPago ==
                'MECPAGOMOD3' ? 'Ambas' : '' }}
              </td>
              <td>
                {{ data.paternoTitular != null && data.maternoTitular != null ?
                data.nombreTitular + " " + data.paternoTitular + " " +
                data.maternoTitular : data.nombreTitular }}
              </td>
              <!-- <td>
                {{
                  data.descripcion == "PGMFA"
                    ? data.infoGeneral.dniElaborador != null
                      ? data.infoGeneral.dniElaborador ==
                        data.infoGeneral.ruccomunidad
                        ? data?.infoGeneral.nombreElaborador
                        : data?.infoGeneral.nombreElaborador +
                          " " +
                          data?.infoGeneral.apellidosElaborador
                      : ""
                    : data?.infoGeneral.nombreElaborador
                }}
              </td> -->
              <td>{{ data.nroDocumento }}</td>
              <td>
                <span
                  *ngIf="data.codigoEstado != CodigoEstadoEvaluacion.FINALIZADO; else temfinalizado"
                >
                  <text-color-estado
                    [codEstado]="data.codigoEstado"
                    [codigoEstado]="data.codigoEstadoText"
                  >
                  </text-color-estado>
                </span>
                <ng-template #temfinalizado>
                  <span class="font-weight-bold color-green">
                    {{ data.codigoEstadoText }}
                  </span>
                </ng-template>
              </td>
              <td>
                {{ data.fechaRegistro | date: "dd/MM/yyyy h:mm:ss a" : "UTC" }}
              </td>
              <td
                class="text-center"
                *ngIf="perfil == perfiles.AUTORIDAD_REGIONAL || perfil == perfiles.AUTORIDAD_REGIONAL_CAJA"
              >
                <span class="mr-2" *ngIf="perfil == perfiles.AUTORIDAD_REGIONAL"
                  ><i
                    class="pi pi-eye pointer"
                    title="Ver"
                    (click)="btnVer(data)"
                  ></i
                ></span>
                <span
                  class="mr-2"
                  *ngIf="perfil == perfiles.AUTORIDAD_REGIONAL_CAJA"
                  ><i
                    class="pi pi-eye pointer"
                    title="Ver"
                    (click)="btnVer(data)"
                  ></i
                ></span>
              </td>

              <td class="text-center" *ngIf="perfil ==perfiles.TITULARTH">
                <span
                  ><i
                    [ngClass]="data.codigoTH ? 'pi pi-check-circle pointer' : 'pi pi-check-circle'"
                    title="Registrar Pago"
                    (click)="btnVRegistrar(data)"
                  ></i
                ></span>
              </td>
              <td
                class="text-center"
                *ngIf="perfil == perfiles.AUTORIDAD_REGIONAL"
              >
                <span
                  ><i
                    [ngClass]="data.codigoTH ? 'pi pi-eye pointer' : 'pi pi-eye'"
                    title="Ver Pago"
                    (click)="btnVerPorarffs(data)"
                  ></i
                ></span>
              </td>
              <td
                class="text-center"
                *ngIf="perfil ==perfiles.AUTORIDAD_REGIONAL_CAJA"
              >
                <app-validar-pago-da
                  [idPago]="data.idPago"
                  [estadoPago]="data.codigoEstado"
                  [nrDocumentoGestion]="data.nrDocumentoGestion"
                  [tipoPlan]="data.tipoDocumentoGestion"
                  (actualizarValidacion)="actualizarValidacion($event)"
                ></app-validar-pago-da>

                <!-- <span><i class="pi pi-check-circle pointer" title="Validar Pago" (click)="btnValidar(data)"></i></span>-->
              </td>
              <!-- <td class="text-center">
                <span class="mr-2"><i class="pi pi-eye pointer" title="Ver" (click)="btnVer(data)"></i></span>
              </td> -->
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
