<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="8.0 Carga Masiva" [selected]="true">
          <div class="row">
            <div
              class="col-12 mt-4 mb-3 mr-2"
              style="overflow: auto; width: 100%; height: 100%"
            >
              <h3 class="title2">Cargar Información</h3>
              <div class="row">
                <div class="col-sm-4">
                  <label class="label"></label><br />
                  <button class="btn-secondary" (click)="btnDescargarFormato()">
                    Descargar Formato
                  </button>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="label"></label><br />
                    <upload-input-button [disabled]="disabled"
                      [(ngModel)]="archivo.file"
                      label="Seleccione Archivo"
                    ></upload-input-button>
                  </div>
                </div>
                <div class="col-sm-4">
                  <label class="label"></label><br />
                  <button class="btn-secondary" [disabled]="disabled" (click)="btnCargar()">
                    Cargar Formato
                  </button>
                </div>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab
          header="8.1. Potencial con fines de aprovechamiento forestal maderable"
        >
          <div class="col-12 p-0">
            <mat-tab-group animationDuration="0ms">
              <mat-tab
                label="8.1.1. Inventario con fines de aprovechamiento forestal maderable"
              >
                <div class="mt-4">
                  <p-accordion>
                    <p-accordionTab
                      header="Árboles aprovechables"
                      [selected]="true"
                    >
                      <tabla-arboles-aprovechables
                        [cargarServicio]="cargarServicios"
                        [idPlanManejo]="idPGMF" [disabled]=disabled
                      ></tabla-arboles-aprovechables>
                    </p-accordionTab>

                    <p-accordionTab header="Fustales">
                      <tabla-fustales
                        [idPlanManejo]="idPGMF" [disabled]=disabled
                        [cargarServicio]="cargarServicios"
                      ></tabla-fustales>
                    </p-accordionTab>
                  </p-accordion>
                </div>
              </mat-tab>

              <mat-tab
                label="8.1.2. Censo comercial con fines de aprovechamiento forestal maderable"
              >
                <div class="mt-4">
                  <tabla-censo-forestal-maderable
                    [cargarServicio]="cargarServicios"
                    [idPlanManejo]="idPGMF" [disabled]=disabled
                  ></tabla-censo-forestal-maderable>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </p-accordionTab>

        <p-accordionTab
          header="8.2 Potencial con fines de aprovechamiento forestal no maderable"
        >
          <div class="col-12 p-0">
            <mat-tab-group animationDuration="0ms">
              <mat-tab
                label="8.2.1. Inventario con fines de aprovechamiento forestal no maderables"
              >
                <div class="mt-4">
                  <tabla-inventario-no-maderable
                    [idPlanManejo]="idPGMF" [disabled]=disabled
                    [cargarServicio]="cargarServicios"
                  ></tabla-inventario-no-maderable>
                </div>
              </mat-tab>

              <mat-tab
                label="8.2.2. Censo comercial con fines de aprovechamiento forestal no maderable"
              >
                <div class="mt-4">
                  <tabla-censo-comercial-no-maderable
                    [idPlanManejo]="idPGMF" [disabled]=disabled
                    [cargarServicio]="cargarServicios"
                  ></tabla-censo-comercial-no-maderable>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4 mb-4">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
    </div>
  </div>
</div>
