<div class="row m-0 pt-3">
  <div class="col-12">
    <h3 class="title2 fz-12 pb-1 bb-title">Nuevas Especies</h3>
  </div>

  <div class="col-12 pt-2 text-right">
    <button
      icon="pi pi-plus"
      (click)="openModalEspecies('Solicitar Agregar Nueva Especie', false)"
      pButton
      pRipple
      type="button"
      abel=""
      class="p-button-success p-button-text button-more"
      [disabled]="disabled"
    ></button>
  </div>

  <div class="col-12 p-4">
    <app-list-especies [disabled]="disabled"
      [listAspectosBiologicos]="listAspectosBiologicos"
      (indexEditar)="indexEditar($event)"
      (dataEditar)="editar($event)"
      (indexEliminar)="indexEliminar($event)"
      (dataEliminar)="eliminar($event)"
    ></app-list-especies>
  </div>

  <div class="col-12">
    <h3 class="title2">
      4.6.1. Fauna Silvestre
    </h3>
  </div>

  <div class="col-12 pt-2 text-right">
    <button
      icon="pi pi-plus"
      (click)="abrirModalEspecieFauna()"
      pButton
      pRipple
      type="button"
      abel=""
      class="p-button-success p-button-text button-more"
      [disabled]="disabled"
    ></button>
  </div>

  <div class="col-12 pt-2">
    <p-table
      [value]="selecFaunas">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre común</th>
          <th>Nombre científico</th>
          <th>Familia</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td>{{data.nombreComun}}</td>
          <td>{{data.nombreCientifico}}</td>
          <td>{{data.familia}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="row m-0 mt-3">
  <div class="col-12 pt-2">
    <button
      type="submit"
      class="btn btn-sm btn-primary2 ml-4"
      (click)="guardarAspectosBiologicos()"
      [disabled]="disabled"
      type="button"
    >
      Guardar
    </button>
  </div>
</div>

<p-dialog
  header="Especies Fauna"
  appendTo="body"
  [(visible)]="verModalFauna"
  [modal]="true"
  [style]="{width: '60vw'}"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row m-0">
      <div class="col-12 col-sm-9">
        <div class="form-group">
          <label class="label">Nombre Científico </label>
          <div class="form-control-selectk">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar..."
              [(ngModel)]="queryFauna"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="form-group">
          <label class="label">&nbsp;&nbsp;</label>
          <div class="text-center">
            <button type="button" class="btn-primary2" (click)="filtrarFauna()">
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12">
        <p-table
          [value]="comboListEspeciesFauna"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 50px;"></th>
              <th>Nombre Científico</th>
              <th>Nombre Común</th>
              <th>Familia</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>
                <p-checkbox
                  name="fauna"
                  [value]="data"
                  [(ngModel)]="selectedValues"
                  (onChange)="onChangeFauna($event, data)"
                >
                </p-checkbox>
              </td>
              <td>{{data.nombreCientifico}}</td>
              <td>{{data.nombreComun}}</td>
              <th>{{data.familia }}</th>
            </tr>
          </ng-template>
        </p-table>
        <p-paginator
      [rows]="10"
      [totalRecords]="totalRecords"
      (onPageChange)="loadData($event)"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Total : {totalRecords} registros"
      [rowsPerPageOptions]="[10, 25, 50]"
    >
    </p-paginator>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="guardarFauna()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verModalFauna = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
