<div class="col-12 pt-4">
  <p-accordion>
    <p-accordionTab header="Información Titulo Habilitante" [selected]="true">
      <div class="row">
        <div class="col-12">
          <h4 class="title2" style="border-bottom: 1px solid #ccc">Datos TH</h4>
        </div>
        <div class="col-sm-12 col-md-4 form-group">
          <label class="label">Número de TH</label>
          <input
            [(ngModel)]="form.codigoTH"
            class="form-control form-control-sm"
            type="text"
            autocomplete="off"
            disabled
          />
        </div>
        <div class="col-sm-12 col-md-6 form-group">
          <label class="label">Titular de TH</label>
          <input
            [(ngModel)]="nombreTitularCompleto"
            class="form-control form-control-sm"
            type="text"
            autocomplete="off"
            disabled
          />
        </div>
        <div class="col-sm-12 col-md-2 form-group text-center">
          <label style="display: block" class="label">&nbsp;</label>
          <button [disabled]="perfil==Perfiles.AUTORIDAD_REGIONAL_CAJA"
            (click)="abrirModalBuscarTH()"
            class="btn btn-sm btn-secondary"
          >
            Buscar
          </button>
        </div>
        <div class="col-sm-12 col-md-6 form-group">
          <label class="label">Modalidad de TH o AAD</label>
          <input
            [(ngModel)]="form.modalidadTH"
            class="form-control form-control-sm"
            type="text"
            autocomplete="off"
            disabled
          />
        </div>
        <div class="col-sm-12 col-md-6 form-group">
          <label class="label">Vigencia</label>
          <input
            [(ngModel)]="form.vigencia"
            class="form-control form-control-sm"
            type="text"
            autocomplete="off"
            disabled
          />
        </div>
        <div class="col-sm-12 col-md-6 form-group">
          <label class="label">Fecha Inicio vigencia de TH o AAD</label>
          <input
            value="{{ form.fechaInicio | date: 'dd/MM/yyyy' }}"
            class="form-control form-control-sm"
            type="text"
            autocomplete="off"
            disabled
          />
        </div>
        <div class="col-sm-12 col-md-6 form-group">
          <label class="label">Fecha Fin vigencia de TH o AAD</label>
          <input
            value="{{ form.fechaFin | date: 'dd/MM/yyyy' }}"
            class="form-control form-control-sm"
            type="text"
            autocomplete="off"
            disabled
          />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4 class="title2" style="border-bottom: 1px solid #ccc">
            Datos del titular
          </h4>
        </div>
        <div class="col-sm-12 col-md-4 form-group">
          <label class="label">
            {{ form.tipoPersona == "TPERJURI" ? "RUC" : "DNI" }}
          </label>
          <input
            [(ngModel)]="form.nroDocumento"
            class="form-control form-control-sm"
            type="text"
            autocomplete="off"
            disabled
          />
        </div>
        <div class="col-sm-12 col-md-4 form-group">
          <label class="label">
            {{
              form.tipoPersona == "TPERJURI"
                ? "Razón Social"
                : "Nombres y Apellidos"
            }}
          </label>
          <input
            [(ngModel)]="nombreTitularCompleto"
            class="form-control form-control-sm"
            type="text"
            autocomplete="off"
            disabled
          />
        </div>
        <div class="col-sm-12 col-md-4 form-group">
          <label class="label">Ubigeo</label>
          <input
            [(ngModel)]="form.ubigeo"
            class="form-control form-control-sm"
            type="text"
            autocomplete="off"
            disabled
          />
        </div>

        <div class="col-sm-12 col-md-4 form-group">
          <label class="label">Departamento:</label>
          <div class="form-control-selectk">
            <p-dropdown
              [(ngModel)]="idDepartamento"
              [options]="lstDepartamentos"
              optionValue="idDepartamento"
              optionLabel="nombreDepartamento"
              [disabled]="true"
              placeholder="Seleccione"
              autocomplete="off"
            >
            </p-dropdown>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 form-group">
          <label class="label">Provincia:</label>
          <div class="form-control-selectk">
            <p-dropdown
              [(ngModel)]="idProvincia"
              [options]="lstProvincias"
              optionValue="idProvincia"
              optionLabel="nombreProvincia"
              [disabled]="true"
              placeholder="Seleccione"
              autocomplete="off"
            >
            </p-dropdown>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 form-group">
          <label class="label">Distrito:</label>
          <div class="form-control-selectk">
            <p-dropdown
              [(ngModel)]="idDistrito"
              [options]="lstDistritos"
              optionValue="idDistrito"
              optionLabel="nombreDistrito"
              [disabled]="true"
              autocomplete="off"
              placeholder="Seleccione"
            >
            </p-dropdown>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="form.tipoPersona == 'TPERJURI'">
        <div class="col-12">
          <h4 class="title2" style="border-bottom: 1px solid #ccc">
            Representante Legal
          </h4>
        </div>
        <div class="col-sm-12 col-md-4 form-group">
          <label class="label">Nombres y Apellidos</label>
          <input
            [(ngModel)]="nombreRepresentanteCompleto"
            class="form-control form-control-sm"
            type="text"
            autocomplete="off"
            disabled
          />
        </div>
        <div class="col-sm-12 col-md-4 form-group">
          <label class="label">DNI</label>
          <input
            [(ngModel)]="form.nroDocumentoRepresentante"
            class="form-control form-control-sm"
            type="text"
            autocomplete="off"
            disabled
          />
        </div>
      </div>
    </p-accordionTab>

  </p-accordion>
  <div class="col-12" *ngIf="!isRegistrado">
    <label class="lbl-info mt-3 mb-3" style="float: none !important">
      (Debe guardar información del Título Habilitante.)
    </label>
  </div>
  <div class="step__btn mt-4 mb-4">
    <button class="btn-primary2" [routerLink]="['/DerechoAprovechamiento/BandejaDA']">
      Anterior
    </button>
    <button type="submit" class="btn-primary2" (click)="guardarPago()" [disabled]="perfil==Perfiles.AUTORIDAD_REGIONAL_CAJA">
      Guardar
    </button>
    <!-- <button class="btn-primary2" (click)="siguienteTab()">
      Siguiente
    </button> -->
  </div>
</div>

<!-- <ng-template #descuentosPagosDA>
  <div class="row mt-4">
    <div class="col-12">
      <h4 class="title2" style="border-bottom: 1px solid #ccc">
        Descuentos de pago por DA
      </h4>
    </div>
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th>N°</th>
            <th>Descripción</th>
            <th>Descuento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of [{}, {}, {}, {}, {}]; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ "Descripción de descuento de pago DA " + (i + 1) }}</td>
            <td>{{ 3 * (i + 1) }}%</td>
          </tr>
        </tbody>
        <tbody>
          <tr style="background: #e7e7e7">
            <td colspan="2"><b>Total Descuento</b></td>
            <td><b>44%</b></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template> -->

<!-- <p-dialog
  header="{{ tituloPeriodoModal }}"
  appendTo="body"
  [(visible)]="verModalPeriodo"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row m-0">
      <div class="col-12 form-group">
        <label class="label">Periodo</label>
        <div class="form-control-selectk">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="periodoContext.periodo"
          />
        </div>
      </div>
      <div class="col-12 form-group">
        <label class="label">Fecha Limite</label>
        <div class="content-date">
          <input
            autocomplete="off"
            class="form-control"
            [(ngModel)]="periodoContext.fechaLimite"
            matInput
            [matDatepicker]="fechaLimite"
            [min] = "cronogramaContext.fechaInicio"
            [max] = "cronogramaContext.fechaFin"
          />
          <i class="pi pi-calendar pointer" (click)="fechaLimite.open()"></i>
          <mat-datepicker #fechaLimite></mat-datepicker>
        </div>
      </div>
      <div class="col-12 form-group">
        <label class="label">Monto</label>
        <div class="form-control-selectk">
          <input
            type="text"
            mask="0*.00"
            class="form-control"
            [(ngModel)]="periodoContext.monto"
          />
        </div>
      </div>
      <div class="col-12 form-group">
        <label class="label">Monto Final</label>
        <div class="form-control-selectk">
          <input
            type="text"
            mask="0*.00"
            class="form-control"
            [(ngModel)]="periodoContext.montoFinal"
          />
        </div>
      </div>

      <div class="col-12 form-group" *ngIf="perfil == perfiles.TITULARTH">
        <label class="label">Fecha de Comprobante</label>
        <div class="content-date">
          <input
            autocomplete="off"
            class="form-control"
            [(ngModel)]="periodoContext.fechaComprobante"
            matInput
            [matDatepicker]="fechaComprobante"
          />
          <i
            class="pi pi-calendar pointer"
            (click)="fechaComprobante.open()"
          ></i>
          <mat-datepicker #fechaComprobante></mat-datepicker>
        </div>
      </div>

      <div class="col-12 form-group" *ngIf="perfil == perfiles.TITULARTH">
        <label class="label">Comentarios (máx. caracteres 250):*</label>
        <textarea
          autocomplete="off"
          class="form-control form-control-sm"
          rows="4"
          maxlength="250"
          [(ngModel)]="periodoContext.observacion"
          pInputTextarea
        >
        </textarea>
      </div>

      <div class="col-12 form-group" *ngIf="perfil == perfiles.TITULARTH">
        <buttons-file-pago-shared
          label="Adjuntar comprobante"
          [codigoTipoDocumento]="'PAGOCOMPRO'"
          [idPago]="periodoContext.idPagoPeriodo"
        ></buttons-file-pago-shared>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      *ngIf="perfil != perfiles.TITULARTH"
      icon="pi pi-save"
      (click)="agregarPeriodo()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      *ngIf="perfil == perfiles.TITULARTH"
      icon="pi pi-save"
      (click)="agregarPeriodo()"
      pButton
      pRipple
      type="button"
      label="Registrar pago"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verModalPeriodo = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog> -->

<p-dialog
  header="Buscar Título Habilitante"
  appendTo="body"
  [(visible)]="verModalBuscarTH"
  [modal]="true"
  [style]="{ width: '70vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row m-0" *ngIf="!isRegistrado">
      <div class="col-12 col-sm-9">
        <div class="form-group">
          <label class="label">Buscar por N° de Título Habilitante</label>
          <div class="form-control-selectk">
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese N° de Título Habilitante"
              [(ngModel)]="queryTH"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="form-group">
          <label class="label">&nbsp;&nbsp;</label>
          <div class="text-center">
            <button
              type="button"
              class="btn-primary2"
              (click)="filtrarTH()"
            >
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12">
        <p-table
          [value]="lstTitular"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Total : {totalRecords} registros"
          [rowsPerPageOptions]="[10, 25, 50]"
          [lazy]="true"
          (onLazyLoad)="load($event)"
          [totalRecords]="totalRecords"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="min-width: 50px" *ngIf="!isRegistrado"></th>
              <th style="min-width: 210px">N° TH</th>
              <th style="min-width: 220px">Titular TH</th>
              <th style="min-width: 120px">Modalidad TH</th>
              <th style="min-width: 115px">Tipo Persona</th>
              <th style="min-width: 105px">Inicio Vigencia</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td *ngIf="!isRegistrado">
                <p-checkbox
                  name="btnselected"
                  [(ngModel)]="selectedValues"
                  [value]="data"
                  (onChange)="onChangeTH($event, data)"
                >
                </p-checkbox>
              </td>
              <td>{{ data.codigoTH }}</td>
              <td>{{ data.nombreTH }}</td>
              <td>{{ data.modalidadTH }}</td>
              <td>
                {{
                  data.tipoTH == "TPERJURI"
                    ? "Persona Juridica"
                    : "Persona Natutal"
                }}
              </td>
              <td>{{ data.fechaInicio | date: "dd/MM/yyyy":"UTC" }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      *ngIf="isRegistrado"
      icon="pi pi-save"
      (click)="verModalBuscarTH = false"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      *ngIf="!isRegistrado"
      icon="pi pi-save"
      (click)="seleccionarTH()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      *ngIf="!isRegistrado"
      icon="pi pi-times"
      (click)="verModalBuscarTH = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
