<div class="row">
    <div class="col-12 form-group">
        <label for="puntoReferencia">Punto de referencia: *</label>
        <input type="text" id="puntoReferencia" autocomplete="off" class="form-control contents_form_input"
            [(ngModel)]="params_insetar_detalle.referencia" placeholder="" sinSpacioInit>
    </div>
    <div class="col-12 form-group">
        <p-fieldset legend="Punto de inicio" [toggleable]="true">

            <div class="row">
                <div class="col-6 form-group">
                    <label for="inicioEste">Este: *</label>
                    <input type="text" id="inicioEste" autocomplete="off" maxlength="30" class="form-control contents_form_input"
                        [(ngModel)]="params_insetar_detalle.coordenadaEsteIni" placeholder="" sinSpacioInit>
                </div>
                <div class="col-6 form-group">
                    <label for="inicioNorte">Norte: *</label>
                    <input type="text" id="inicioNorte" autocomplete="off" maxlength="30" class="form-control contents_form_input"
                        [(ngModel)]="params_insetar_detalle.coordenadaNorteIni" placeholder="" sinSpacioInit>
                </div>
            </div>

        </p-fieldset>
    </div>
    <div class="col-12 form-group">
        <p-fieldset legend="Punto de llegada" [toggleable]="true">

            <div class="row">
                <div class="col-6 form-group">
                    <label for="llegadaEste">Este: *</label>
                    <input type="text" id="llegadaEste" autocomplete="off" maxlength="30" class="form-control contents_form_input"
                        [(ngModel)]="params_insetar_detalle.coordenadaEsteFin" placeholder="" sinSpacioInit>
                </div>
                <div class="col-6 form-group">
                    <label for="llegadaNorte">Norte: *</label>
                    <input type="text" id="llegadaNorte" autocomplete="off" maxlength="30" class="form-control contents_form_input"
                        [(ngModel)]="params_insetar_detalle.coordenadaNorteFin" placeholder="" sinSpacioInit>
                </div>
            </div>

        </p-fieldset>
    </div>

    <div class="col-4 form-group">
        <label for="distancia">Distancia (Km): *</label>
        <input type="text" decimal [decimalPlaces]="2" [max]="1000000000000" id="distancia" autocomplete="off" class="form-control contents_form_input"
            [(ngModel)]="params_insetar_detalle.distanciaKm" placeholder="" sinSpacioInit>
    </div>
    <div class="col-4 form-group">
        <label for="tiempo">Tiempo (horas): *</label>
        <input type="number" id="tiempo" autocomplete="off" class="form-control contents_form_input"
            [(ngModel)]="params_insetar_detalle.tiempo" placeholder="" sinSpacioInit>
    </div>
    <div class="col-4 form-group">
        <label for="medioTransporte">Medio de transporte: *</label>
        <input type="text" id="medioTransporte" autocomplete="off" class="form-control contents_form_input"
            [(ngModel)]="params_insetar_detalle.medioTransporte" placeholder="" sinSpacioInit>
    </div>
</div>
<div class="d-flex justify-content-end">
    <button icon="pi pi-save" (click)="agregar()" pButton pRipple type="button" label="Aceptar"
                class="p-button-success p-button-outlined"></button> &nbsp;&nbsp;
    <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
              class="p-button-danger p-button-outlined" ></button>
  </div>
