<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="1.1. Finalidad de Bosque Local" [selected]="true">
          <div class="row m-0">
            <div class="col-12 form-group">
              <p-table [value]="listaDominio">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Tipo Finalidad</th>
                    <th>Seleccionar</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-fila>
                  <tr>
                    <td>{{fila.descripcion}}</td>
                    <td>
                      <p-checkbox [binary]="true" [(ngModel)]="fila.seleccionado" [disabled]="isDisbledFormu">
                      </p-checkbox>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>

          <div class="row m-0 mt-3" *ngIf="!isDisbledFormu">
            <div class="col-12">
              <button type="button" class="btn-primary2 ml-0" (click)="btnGuardarFinalidad()"
                [disabled]="isDisbledFormu">
                Guardar
              </button>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="1.2 Datos Del Representante">
          <div class="row m-0">
            <div class="col-12 col-sm-4 form-group">
              <label class="label">Departamento: *</label>
              <div class="form-control-selectk">
                <p-dropdown appendTo="body" [options]="comboDepart" placeholder="Seleccione"
                  optionLabel="nombreDepartamento" optionValue="idDepartamento"
                  [(ngModel)]="requestDatosRep.idDepartamento" [disabled]="isDisbledFormu"
                  (onChange)="listaComboProvincia(true)">
                </p-dropdown>
              </div>
            </div>
            <div class="col-12 col-sm-4 form-group">
              <label class="label">Provincia: *</label>
              <div class="form-control-selectk">
                <p-dropdown appendTo="body" [options]="comboProvincia" placeholder="Seleccione"
                  optionLabel="nombreProvincia" optionValue="idProvincia"
                  [(ngModel)]="requestDatosRep.idProvincia" [disabled]="isDisbledFormu"
                  (onChange)="listaComboDistrito(true)">
                </p-dropdown>
              </div>
            </div>
            <div class="col-12 col-sm-4 form-group">
              <label class="label">Distrito: *</label>
              <div class="form-control-selectk">
                <p-dropdown appendTo="body" [options]="comboDistrito" placeholder="Seleccione"
                  optionLabel="nombreDistrito" optionValue="codDistrito"
                  [(ngModel)]="requestDatosRep.gobiernoLocal" [disabled]="isDisbledFormu"
                  (onChange)="obtenerDatosMunicipio()">
                </p-dropdown>
              </div>
            </div>

            <div class="col-12 col-sm-4 form-group">
              <label class="label">DNI:</label>
              <input class="form-control" type="text" autocomplete="off"
                [(ngModel)]="requestDatosRep.numeroDocumento" disabled />
            </div>
            <div class="col-12 col-sm-8 form-group">
              <label class="label">Nombre Completo:</label>
              <input class="form-control" type="text" autocomplete="off" [(ngModel)]="requestDatosRep.nombresRepresentante"
                disabled />
            </div>
          </div>

          <div class="row m-0 mt-3">
            <div class="col-12" *ngIf="!isDisbledFormu">
              <button type="button" class="btn-primary2 ml-0" (click)="btnGuardarDatosRep()"
                [disabled]="isDisbledFormu">
                Guardar
              </button>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="1.3 Croquis del Área a Establecerse como Bosque Local">
          <app-map-custom-sol-bosque-local #map [idPlanManejo]="idPlan" [showBotonCargarGeneral]="false"
            [codigoProceso]="codigoProceso" [codigoSubSeccion]="codigoSubSeccion" [tipoArchivoArea]="tipoArchivoArea"
            [tipoArchivoPunto]="tipoArchivoPunto" [showOnlyArea]="!isDisbledFormu" [showOnlyVertice]="!isDisbledFormu"
            [validaSuperposicionPlanificar]="false" [isDisbledFormu]="isDisbledFormu" [showBotonGuardar]="!isDisbledFormu"
            [isLeyenda]="true" [leyenda]="'probando Leyenda'">
          </app-map-custom-sol-bosque-local>
          <br />
          <div class="row m-0">
            <div class="col-12 col-sm-2 for">
              <label class="label">Croquis del Área (PDF o JPG):</label>
            </div>
            <div class="col-12 col-sm-6 form-group">
              <app-carga-archivo-general [disabled]="isDisbledFormu" accept=".jpg, .jepg, .pdf"
                [idArchivo]="adjunto1_3.idArchivo" [tipoDoc]="adjunto1_3.tipoArchivo"
                (registrarArchivo)="registrarArchivo($event, 3)"
                (eliminarArchivo)="eliminarArchivo($event, 3)">
              </app-carga-archivo-general>
            </div>
          </div>
          <div class="row m-0 mt-3" *ngIf="!isDisbledFormu">
            <div class="col-12">
              <button type="button" class="btn-primary2 ml-0" (click)="btnGuardarArea()"
                [disabled]="isDisbledFormu || adjunto1_3.idSolBosqueLocalArchivo > 0">
                Guardar
              </button>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="1.4 Tipos de Beneficiarios">
          <div class="row m-0">
            <div class="col-12 form-group">
              <div class="text-right mb-2">
                <button class="btn btn-sm btn-default button-more" type="button" title="Agregar"
                  (click)="btnModalBeneficiario(null, 0)" [disabled]="isDisbledFormu"><i
                    class="pi pi-plus"></i></button>
              </div>
              <p-table [value]="listaBeneficiarios" class="no-desbor-table" [paginator]="true" [rows]="10"
                [showCurrentPageReport]="true" currentPageReportTemplate="Total : {totalRecords} registros"
                [rowsPerPageOptions]="[10,25,50]" [totalRecords]="listaBeneficiarios.length">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Acciones</th>
                    <th>DNI</th>
                    <th>Nombres y Apellidos</th>
                    <th>Ubigeo</th>
                    <th>Residencia Actual</th>
                    <th>Condición</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Carga Familiar</th>
                    <th>Actualiza Resid. Reniec</th>
                    <th>Certificado Residencia</th>
                    <th>Declar. Jurada (D.J.)</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-fila let-rowIndex="rowIndex">
                  <tr>
                    <td>
                      <ng-container *ngIf="!isDisbledFormu">
                        <span class="pointer mr-2" title="Editar" (click)="btnModalBeneficiario(fila, rowIndex)"><i
                            class="pi pi-pencil"></i></span>
                        <span class="pointer" title="Eliminar"
                          (click)="btnEliminar($event, fila.idBosqueLocalBeneficiario, rowIndex)"><i
                            class="pi pi-trash"></i></span>
                      </ng-container>
                    </td>
                    <td>{{fila.numeroDocumento}}</td>
                    <td>{{fila.nombreCompleto}}</td>
                    <td>{{fila.ubigeoTexto}}</td>
                    <td>{{fila.residencia}}</td>
                    <td>{{fila.condicionDescripcion}}</td>
                    <td>{{fila.telefono}}</td>
                    <td>{{fila.email}}</td>
                    <td>{{fila.cargaFamiliar}}</td>
                    <td>{{fila.flagActualizarResidencia ? 'SI': 'NO'}}</td>
                    <td>
                      <span *ngIf="fila.idCertificado" class="pointer mr-2" title="Descargar"
                        (click)="btnDescargarArchivoTabla(fila.idCertificado)"><i class="pi pi-download"></i></span>
                    </td>
                    <td>
                      <span *ngIf="fila.declaracionJurada" class="pointer mr-2" title="Descargar"
                        (click)="btnDescargarArchivoTabla(fila.declaracionJurada)"><i class="pi pi-download"></i></span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>

          <div class="row m-0 mt-3" *ngIf="!isDisbledFormu">
            <div class="col-12">
              <button type="button" class="btn-primary2 ml-0" (click)="btnGuardarBeneficiarios()"
                [disabled]="isDisbledFormu">
                Guardar
              </button>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="1.5 Iniciativa del Bosque Local">
          <div class="row m-0">
            <div class="col-12 col-sm-4 form-group">
              <label class="label">Descargar Plantilla de Iniciativa del Bosque Local</label> <br>
              <button class="btn btn-secondary" (click)="btnDescargarPlantillaIniciativa()" [disabled]="isDisbledFormu">Descargar</button>
            </div>
            <div class="col-12 col-sm-6 form-group">
              <app-carga-archivo-general [disabled]="isDisbledFormu" accept=".pdf" [idArchivo]="adjunto1_5.idArchivo"
                [tipoDoc]="adjunto1_5.tipoArchivo" label="Cargar Documento Firmado: *"
                (registrarArchivo)="registrarArchivo($event, 5)" (eliminarArchivo)="eliminarArchivo($event, 5)">
              </app-carga-archivo-general>
            </div>
          </div>

          <div class="row m-0 mt-3" *ngIf="!isDisbledFormu">
            <div class="col-12">
              <button type="button" class="btn-primary2 ml-0" (click)="btnGuardarIniciativa()"
                [disabled]="isDisbledFormu || adjunto1_5.idSolBosqueLocalArchivo > 0">
                Guardar
              </button>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <div class="row m-0 mt-4 mb-4">
    <div class="col-12" *ngIf="!isDisbledFormu">
      <button class="btn-primary2" (click)="actualizarEstado($event)">Enviar</button>
    </div>
  </div>
</div>


