<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="1. Evaluación" *ngIf="perfil == 'ARFFS'">
          <listado-observaciones
            [listaEvaluacion]="listaEvaluacion"
            (btnRedirigir)="btnRedirigir($event, 'EVAL')"
            [item]="item"
          >
          </listado-observaciones>
        </mat-tab>
        <mat-tab label="2. Evaluación del plan">
          <listado-observaciones
            [listaEvaluacion]="listaEvaluacionTabs"
            (btnRedirigir)="btnRedirigir($event, 'PLAN')"
            [item]="item"
          >
          </listado-observaciones>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="col-12 mt-3 text-right">
      <ng-container>
        <!-- <button class="p-button-success p-button-outlined mr-2" type="button" icon="pi pi-save" pButton pRipple
          label="Guardar" (click)="btnGuardar()" [disabled]="listaDocumentos.length === 0"></button> -->
      </ng-container>

      <button
        *ngIf="usuario.sirperfil === Perfiles.TITULARTH"
        class="p-button-success p-button-outlined"
        style="margin-right: 0.5rem;"
        icon="pi pi-send"
        type="button"
        pButton
        pRipple
        label="Remitir"
        (click)="btnRemitir()"
      ></button>

      <button
        class="p-button-danger p-button-outlined"
        icon="pi pi-times"
        type="button"
        pButton
        pRipple
        label="Cancelar"
        (click)="btnCancelar()"
      ></button>
    </div>
  </div>
</div>

<p-confirmDialog [style]="{ width: '300px' }"></p-confirmDialog>

<p-dialog
  header="AVISO"
  [(visible)]="geeks"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <p class="p-m-0">
    <li class="pi pi-exclamation-triangle"></li>
    &nbsp; La no presentación de subsanaciones dentro del plazo hará considerar
    el documento de gestión (PMFI/DEMA) como "No presentado" conforme al literal
    4 del articulo 136 del TUO de la LGPA ley 27444.
  </p>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="geeks=false"
      label="Aceptar"
      class="p-button-text"
    >
    </p-button>
  </ng-template>
</p-dialog>
