<div class="container-fluid">

  <div class="button-container">

    <div class="form-group ">
      <label class="label">&nbsp;&nbsp;</label>
      <div class="text-center">
        <button type="button" id="btnCargaShapeFile" (click)="fileInput.click()" class="btn btn-sm btn-secondary">
          Registrar una resolución pra declarar Nulidad de inscripción
          <input #fileInput type="file" (change)="onFileChange($event)" style="display: none;" />
        </button>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-12">
      <div class="table">
        <p-table [value]="fileList">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col" class="text-center" style="width: 80px;">Acciones </th>
              <th scope="col" class="text-center">Nombre de documento </th>
              <th scope="col" class="text-center">Fecha </th>
            </tr>

          </ng-template>
          <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <tr>
              <td class="text-center">
                <span (click)="verArchivo(data)" class="pointer mr-1" title="ver">
                  <i class="pi pi-eye"></i>
                </span>
                <span class="pointer" title="Eliminar" (click)="openEliminarRegistro($event,rowIndex)">
                  <i class="pi pi-trash"></i>
                </span>
              </td>
              <td class="text-center"> {{data.descripcion}}</td>
              <td class="text-center"> {{data.date | date: 'dd/MM/yyyy' }} </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

  </div>

  <div class="row mt-4 mb-4">
    <div class="col-12">
      <button class="btn btn-sm btn-secondary mr-3" (click)="notificar('Se ha notificado al usuario')">
        Notificar al usuario
      </button>
      <button class="btn btn-sm btn-secondary" (click)="notificar('Se ha notificado a SERFOR')">
        Notificar a SERFOR
      </button>

    </div>
  </div>
</div>