<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="title">Ep3.1.8: Plan Operativo de PMFI en Comunidades Nativas y Campesinas</h3>
        </div>
        <div class="col-sm-12">

            <div class="tablek">
                <p-table [value]="listPlanManejoForestalIntermedio" [paginator]="true" [rows]="10"
                    [showCurrentPageReport]="true" currentPageReportTemplate="Total : {totalRecords} registros"
                    [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>ID Proceso Postulación</th>
                            <th>Motivo Oposición</th>
                            <th>Ver</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-obj>
                        <tr>
                            <td>{{obj.idProcesoPostulacion}}</td>
                            <td>{{obj.descripcion}}</td>
                            <td>
                                <a style="cursor: pointer;" (click)="verDetalle(obj)"> <i class="pi pi-eye"></i> </a>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </div>

    </div>
</div>