<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 pt-3">
      <h3 class="title">{{ tituloBandeja }}</h3>
    </div>
  </div>

  <bandeja-evaluacion-otorgamiento-permiso
    [evaluacionRequest]="evaluacionRequest"
    [loading]="loading"
    [planes]="planes"
    (buscar)="buscar()"
    (limpiar)="limpiar()"
    [descripcionPlan]="PLAN.descripcion"
    (nuevo)="nuevoPlan()"
    [perfil]="usuario.sirperfil"
    (load)="load($event)"
    [totalRecords]="totalRecords"
    [isBandejaEvaluacion]="true"
  >
    <ng-template #validacion let-data="data">
      <!--      *ngIf="usuario.sirperfil === Perfiles.MESA_DE_PARTES"-->
      <i
        class="pi pi-check-circle pointer"
        title="Validar"
        aria-hidden="true"
        disabled
        (click)="validarPlan(data?.idPermisoForestal, data?.codigoEstado)"
      >
      </i>
    </ng-template>

    <ng-template #evaluacion let-data="data">
      <!--      *ngIf="usuario.sirperfil === Perfiles.AUTORIDAD_REGIONAL"-->
      <i
        class="pi pi-send pointer"
        title="Evaluar"
        aria-hidden="true"
        (click)="evaluarPlan(data?.idPermisoForestal, data?.codigoEstado)"
      >
      </i>
    </ng-template>

    <ng-template #remitiendo let-data="data">
      <i
        class="pi pi-folder-open pointer"
        title="Remitir"
        aria-hidden="true"
        (click)="remitirPlan($event, data?.idPermisoForestal, data?.codigoEstado)"
      >
      </i>
    </ng-template>

    <ng-template #verdetalle let-data="data">
      <i
        class="pi pi-eye pointer"
        title="Ver Revisión"
        aria-hidden="true"
        (click)="verDetalle(data?.idPermisoForestal, data?.codigoEstado)"
      >
      </i>
    </ng-template>

    <ng-template #acciones let-data="data">
      <!--      *ngIf="usuario.sirperfil != Perfiles.AUTORIDAD_REGIONAL && usuario.sirperfil != Perfiles.MESA_DE_PARTES"-->
      <i
        class="pi pi-eye pointer"
        title="Revisión"
        aria-hidden="true"
        (click)="verPlan(data?.idPermisoForestal)"
      ></i>
    </ng-template>
    <!-- INFORMACION ESPACIAL -->
    <ng-template #infoEspacial let-data="data">
      <i
        class="pi pi-send pointer"
        title="Enviar información espacial"
        aria-hidden="true"
        (click)="btnEviarInfoEspacial(data)"
      ></i>
    </ng-template>
  </bandeja-evaluacion-otorgamiento-permiso>

  <p-confirmPopup></p-confirmPopup>
</div>
