<div class="col-12 mt-3">
    <p-table
      [value]="listaEvaluacion"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Total : {totalRecords} registros"
      [rowsPerPageOptions]="[10, 25, 50]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">Id Plan</th>
          <th class="text-center">Tipo Plan</th>
          <th class="text-center">Item</th>
          <th class="text-center">Resultado</th>
          <th class="text-center">Detalle</th>
          <th class="text-center">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr [ngClass]="data.conforme === 'Observado' ? 'observado' : ''">
          <td class="text-center">{{ item.idPlanManejo }}</td>
          <td>{{ data.codigoEvaluacionDet }}</td>
          <td>{{ data.codigoEvaluacionDetSub }}</td>
          <td class="text-center">{{ data.conforme }}</td>
          <td class="text-center">{{ data.codigoEvaluacionDetPost }}</td>
          <td class="text-center">
            <span class="pointer" title="Ver Plan" (click)="btnDireccion(data)"
              ><i class="pi pi-eye"></i
            ></span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>