<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12 form-group">
      <p-accordion (onOpen)="onTabOpen($event)">
        <p-accordionTab header="6.1. Uso Potencial por Categoría de Ordenamiento" [selected]="true">
          <div class="row">
            <div class="col-12">

              <table class="table table-boderk">
                <thead>
                <tr>
                  <th>Acciones</th>
                  <th>Denominación o Espacios</th>
                  <th>Uso Potencial</th>
                  <th>Actvidades a realizar</th>
                </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let item of listOrdenInterno; index as i">
                <tr>
                  <td *ngIf="!!item.actividad">
                    <div *ngIf="item.categoria != 'Con cobertura boscosa' && item.categoria != 'Sin cobertura boscosa'">
                      <span (click)="openModal('Editar Registro', item, 'E')" class="pointer mr-1"
                        title="Editar" [ngClass]="isDisbledObjFormu?'disabled-pointer':''">
                        <i class="pi pi-pencil"></i>
                      </span>
                    </div>
                  </td>
                  <td class="text-left" *ngIf="item.categoria == 'Con cobertura boscosa' || item.categoria == 'Sin cobertura boscosa';">
                  </td>
                  <td class="text-left" *ngIf="item.categoria == 'Con cobertura boscosa' || item.categoria == 'Sin cobertura boscosa';">
                    <div
                      style="font-size: 1.5em" class="font-weight-bold">
                      {{ item.categoria }}
                    </div>
                  </td>
                  <td class="text-left" *ngIf="!!item.actividad">
                    <div>{{ item.categoria }}</div>
                  </td>
                  <td *ngIf="!!item.actividad ">
                    {{item.usoPotencial}}
                  </td>
                  <td *ngIf="!!item.actividad ">
                    {{item.actRealizar}}
                  </td>
                </tr>
              </ng-container>
              </table>
            </div>
            <div class="step__btn mt-4">
              <button class="btn-primary2" (click)="guardarOrdenamiento()" [disabled]="isDisbledObjFormu">Guardar</button>
            </div>
          </div>

          <div
            class="row m-0 mt-4 h-100 justify-content-center align-items-center"
          >
            <div class="col-12 col-sm-12">
              <lineamiento-inner
                [base]="lineamiento"
                [titulo]="
                  'Evaluación de Lineamiento 10.1 Uso, sistema manejo y ciclo de corta'
                "
                [isShowObjEval]="isShowObjEval"
                [isDisabledObjEval]="isDisabledObjEval"
              >
                <ng-template #descripcion>
                  <div class="row m-0">
                    <div class="col-12">
                      <p class="fz-11 m-0 mb-3">
                        Verificar que se haya incorporado la información
                        siguiente:
                      </p>
                      <p class="fz-11 m-0 mb-1 ml-4">
                        1 Descripción de las actividades a realizar en las áreas establecidas para el
                        aprovechamiento maderable y en las otras categorías de ordenamiento.
                      </p>
                      <p class="fz-11 m-0 mb-1 ml-4">
                        2 El sistema de manejo seleccionado.
                      </p>
                      <p class="fz-11 m-0 mb-1 ml-4">
                        3 Ciclo de corta de 20 años. En caso se haya propuesto un ciclo diferente, verificar que
                        se haya sustentado adecuadamente.
                      </p>
                      <p class="fz-11 m-0 mb-1 ml-4">
                        4 La relación de especies a manejar y sus respectivos diámetros mínimos de corta.
                      </p>
                      <p class="fz-11 m-0 mb-1 ml-4">
                        5 Aplicación de prácticas de impacto reducido (AIR), tales como la adecuada
                        planificación de la red vial y patios de acopio, empleo de técnicas de tala dirigida, etc.
                      </p>
                      <p class="fz-11 m-0 mb-1 ml-4">
                        6 Agrupamiento de las especies forestales según los objetivos de manejo y el valor o
                        aceptación de las especies en el mercado.
                      </p>
                      <p class="fz-11 m-0 mb-1 ml-4">
                        7 Categorización de especies de acuerdo con la lista oficial de especies amenazadas de
                        flora silvestre.
                      </p>
                    </div>
                  </div>
                </ng-template>
              </lineamiento-inner>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="6.2. Sistema de Manejo">
          <div class="row mt-4">
            <div class="col-12 p-2">
              <span class="pl-3 mr-2"></span>
              <p-radioButton
                name="asisTec"
                [value]="'S'"
                class="mr-2"
                [(ngModel)]="sistemaPiliciclico.codOpcion"
                [disabled]="isDisbledObjFormu"
                (click)="deleteDescripcionOtros()"
              >
              </p-radioButton>
              <label class="m-0 mr-2 pointer label"
                >Sistema Policíclico Basado en la Regeneración Natural</label
              >

              <p-radioButton
                name="asisTec"
                [value]="'N'"
                class="mr-2"
                [(ngModel)]="sistemaPiliciclico.codOpcion"
                [disabled]="isDisbledObjFormu"
                (click)="deleteDescripcionOtros()"
              >
              </p-radioButton>
              <label class="m-0 mr-2 pointer label" for="chk-mapa-anexo"
                >Otro Sistema</label
              >
            </div>
            <!--div
              class="col-12 pl-4 pr-4 pt-2"
              *ngIf="sistemaPiliciclico.codOpcion == 'N'"
          -->
            <div class="col-12 pl-4 pr-4 pt-2" *ngIf="sistemaPiliciclico.codOpcion== 'N' ">
              <label class="m-0 mr-2 pointer label">Especificar</label>
              <textarea
                id="descripcion"
                autocomplete="off"
                class="form-control form-control-sm"
                rows="4"
                pInputTextarea
                [(ngModel)]="sistemaPiliciclico.descripcionOrd"
                [disabled]="isDisbledObjFormu"
              ></textarea>
            </div>

          </div>

          <div class="row mt-4" *ngIf="Anexo_6_2.show">
            <div class="col-12">
              <label class="m-0 mr-4 label">Se amplía información en el Anexo 4:</label>
              <div class="p-field-radiobutton">
                <strong for="Si" class="mr-2">SI</strong>
                <p-radioButton name="Anexo_6_2" value="S" inputId="Si"
                  [(ngModel)]="Anexo_6_2.selectModel" [disabled]="isDisbledObjFormu">
                </p-radioButton>
              </div>
              <div class="p-field-radiobutton">
                <strong for="No" class="mr-2">NO</strong>
                <p-radioButton name="Anexo_6_2" value="N" inputId="No" (onClick)="anexoN(Anexo_6_2.id, fileAnexo6_2)"
                  [(ngModel)]="Anexo_6_2.selectModel" [disabled]="isDisbledObjFormu">
                </p-radioButton>
              </div>
            </div>

            <div class="col-12 p-0" [hidden]="Anexo_6_2.selectModel == 'N'">
              <div *ngIf="Anexo_6_2.selectModel == 'S'">
                <app-anexo-upload-file
                  [fileInfGenreal]="fileAnexo6_2"
                  [label]="'Adjuntar Evidencia:'"
                  [idPlanManejo]="idPlanManejo"
                  [idTipoDocumento]="Anexo_6_2.codigo"
                  [codigoProceso]="Anexo_6_2.codigo"
                  (registrarArchivoId)="cargarIdArchivo($event, Anexo_6_2.codigo)"
                  [isDisbledObjFormu]="isDisbledObjFormu"
                  >
                </app-anexo-upload-file>
              </div>
            </div>
          </div>
          <!-- <div
            class="row m-0 mt-4 h-100 justify-content-center align-items-center"
          >
            <div class="col-12 col-sm-12">
              <lineamiento-inner
                [base]="lineamiento2"
                [titulo]="
                  'Evaluación de Lineamiento 10.1 Uso, sistema manejo y ciclo de corta'
                "
                [isShowObjEval]="isShowObjEval"
                [isDisabledObjEval]="isDisabledObjEval"
              >
                <ng-template #descripcion>
                  <div class="row m-0">
                    <div class="col-12">
                      <p class="fz-11 m-0 mb-3">
                        Verificar que se haya incorporado la información
                        siguiente:
                      </p>
                      <p class="fz-11 m-0 mb-1 ml-4">
                        ► El sistema de manejo seleccionado.
                      </p>
                    </div>
                  </div>
                </ng-template>
              </lineamiento-inner>
            </div>
          </div> -->

          <div class="row m-0 mt-4">
            <div class="col-12">
              <div class="step__btn">
                <button
                  class="btn-primary2"
                  (click)="guardarManejoForestal(codigoManejo.ACORDEON_6_2)"
                  [disabled]="isDisbledObjFormu"
                >
                  Guardar
                </button>
              </div>
              <br />
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="6.3. Ciclo de Corta">
          <div class="row m-0 pt-4">
            <div class="col-12">
              <label class="title2">Duración Mínima: </label>
            </div>
            <div class="col-12 col-sm-12">
              <div class="p-field-radiobutton">
                <p-radioButton
                  name="check2"
                  value="S"
                  [(ngModel)]="selectDuracionMinima6_3.opcion"
                  inputId="check3"
                  [disabled]="isDisbledObjFormu"
                  (click)="selectDuracionMinima6_3.anio = 20"
                >
                </p-radioButton>
                <label class="pointer" for="check3"> 20 años</label>
              </div>
              <div class="p-field-radiobutton">
                <p-radioButton
                  name="check2"
                  value="N"
                  [(ngModel)]="selectDuracionMinima6_3.opcion"
                  inputId="check4"
                  [disabled]="isDisbledObjFormu"
                  (click)="selectDuracionMinima6_3.anio = null"
                >
                </p-radioButton>
                <label class="pointer" for="check4"> Otro (justificar)</label>
              </div>
              <label class="m-0 mr-2 pointer label">(año)</label>
              <div class="p-field-radiobutton">
                <input id="anioha" numero [min]="0" [maxLength]="15" [decimalPlaces]="0" [(ngModel)]="selectDuracionMinima6_3.anio" decimal
                  autocomplete="off" class="form-control form-control-sm float-left" placeholder="Ingresar año"
                  [disabled]="selectDuracionMinima6_3.opcion != 'N' || isDisbledObjFormu" />
              </div>
            </div>

            <div
              class="col-12 mt-3"
              *ngIf="selectDuracionMinima6_3.opcion == 'N'"
            >
              <label class="m-0 mr-2 pointer label">Justificar</label>
              <textarea
                style="resize: none"
                rows="3"
                cols="1"
                class="form-control"
                [(ngModel)]="selectDuracionMinima6_3.descripcion"
                [disabled]="isDisbledObjFormu"
              >
              </textarea>
            </div>
          </div>

          <div class="row mt-4" *ngIf="Anexo_6_3.show">
            <div class="col-12">
              <label class="m-0 mr-4 label">Se amplía información en el Anexo 4:</label>
              <div class="p-field-radiobutton">
                <strong for="Si" class="mr-2">SI</strong>
                <p-radioButton name="Anexo_6_3" value="S" inputId="Si"
                  [(ngModel)]="Anexo_6_3.selectModel" [disabled]="isDisbledObjFormu">
                </p-radioButton>
              </div>
              <div class="p-field-radiobutton">
                <strong for="No" class="mr-2">NO</strong>
                <p-radioButton name="Anexo_6_3" value="N" inputId="No" (onClick)="anexoN(Anexo_6_3.id, fileAnexo6_3)"
                  [(ngModel)]="Anexo_6_3.selectModel" [disabled]="isDisbledObjFormu">
                </p-radioButton>
              </div>
            </div>

            <div class="col-12 p-0" [hidden]="Anexo_6_3.selectModel == 'N'">
              <div *ngIf="Anexo_6_3.selectModel == 'S'">
                <app-anexo-upload-file
                  [fileInfGenreal]="fileAnexo6_3"
                  [label]="'Adjuntar Evidencia:'"
                  [idPlanManejo]="idPlanManejo"
                  [idTipoDocumento]="Anexo_6_3.codigo"
                  [codigoProceso]="Anexo_6_3.codigo"
                  (registrarArchivoId)="cargarIdArchivo($event, Anexo_6_3.codigo)"
                  [isDisbledObjFormu]="isDisbledObjFormu"
                  >
                </app-anexo-upload-file>
              </div>
            </div>
          </div>
          <!-- <div
            class="row m-0 mt-4 h-100 justify-content-center align-items-center"
          >
            <div class="col-12 col-sm-12">
              <lineamiento-inner
                [base]="lineamiento3"
                [titulo]="
                  'Evaluación de Lineamiento 10.1 Uso, sistema manejo y ciclo de corta'
                "
                [isShowObjEval]="isShowObjEval"
                [isDisabledObjEval]="isDisabledObjEval"
              >
                <ng-template #descripcion>
                  <div class="row m-0">
                    <div class="col-12">
                      <p class="fz-11 m-0 mb-3">
                        Verificar que se haya incorporado la información
                        siguiente:
                      </p>
                      <p class="fz-11 m-0 mb-1 ml-4">
                        ► Ciclo de corta de 20 años. En caso se haya propuesto
                        un ciclo diferente, verificar que se haya sustentado
                        adecuadamente.
                      </p>
                    </div>
                  </div>
                </ng-template>
              </lineamiento-inner>
            </div>
          </div> -->

          <div class="row m-0 mt-4">
            <div class="col-12">
              <div class="step__btn">
                <button
                  class="btn-primary2"
                  (click)="guardarManejoForestal(codigoManejo.ACORDEON_6_3)"
                  [disabled]="isDisbledObjFormu"
                >
                  Guardar
                </button>
              </div>
              <br />
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="6.4. Especies a Manejar y Diámetros Mínimos de Corta">
          <div class="col-12 mt-4 mb-3">
            <!-- <div class="d-flex justify-content-end mb-2">
              <button
                class="btn btn-sm btn-default mb-2"
                type="button"
                title="Agregar"
                [disabled]="disabled"
                (click)="
                  openModalEspecies('Cargar Información', especies, 'false')
                "
              >
                <i class="pi pi-plus"></i>
              </button>
            </div> -->
            <p-table [value]="especies" styleClass="p-datatable-gridlines">
              <ng-template pTemplate="header">
                <tr>
                  <!-- <th>Acciones</th> -->
                  <th>Nombre científico</th>
                  <th>Nombre Común</th>
                  <th>Línea de producción</th>
                  <th>DMC Normado (cm)</th>
                  <th>DMC propuesto (cm2)</th>
                  <th *ngIf="agrupacion6_4 == 'S'">Grupo comercial</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-especies>
                <tr>
                  <!-- <td class="text-center" style="width: 150px; padding: 0px">
                    <button
                      mat-button
                      class="col-6 col-sm-4"
                      style="padding: 0px; min-width: 40px"
                      (click)="
                        openModalEspecies(
                          'Editar Información',
                          especies,
                          'true'
                        )
                      "
                    >
                      <i class="pi pi-pencil pointer" title="Editar"></i>
                    </button>
                    <button
                      mat-button
                      class="col-6 col-sm-4"
                      style="padding: 0px; min-width: 40px"
                      (click)="eliminarEspecies(especies)"
                    >
                      <i class="pi pi-trash pointer" title="Eliminar"></i>
                    </button>
                  </td> -->
                  <td>{{ especies.descripcionOtro }}</td>
                  <td>{{ especies.especie }}</td>
                  <td>
                    <input
                      type="text"
                      autocomplete="off"
                      class="form-control"
                      [(ngModel)]="especies.lineaProduccion"
                      maxlength="100"
                      [disabled]="isDisbledObjFormu"
                    />
                  </td>
                  <td>{{ especies.nuDiametro }}</td>
                  <td>
                    <input
                      numero
                      [maxLength]="16"
                      [minlength]="0"
                      class="form-control"
                      [(ngModel)]="especies.nuCaminoAcceso"
                      [disabled]="isDisbledObjFormu"
                    />
                  </td>
                  <td *ngIf="agrupacion6_4 == 'S'">
                    <input
                      numero
                      autocomplete="off"
                      class="form-control"
                      [(ngModel)]="especies.descripcionOrd"
                      [maxlength]="100"
                      [minlength]="0"
                      [disabled]="isDisbledObjFormu"
                    />
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>

          <div class="col-12 col-md-12 p-2">
            <span>Deseas agrupar:</span>
            &nbsp; &nbsp; &nbsp;
            <div class="p-field-radiobutton">
              <strong for="Si" class="mr-2">SI</strong>
              <p-radioButton
                value="S"
                inputId="Si"
                [(ngModel)]="agrupacion6_4"
                [disabled]="isDisbledObjFormu"
              >
              </p-radioButton>
            </div>
            <div class="p-field-radiobutton">
              <strong for="No" class="mr-2">NO</strong>
              <p-radioButton
                value="N"
                inputId="No"
                [(ngModel)]="agrupacion6_4"
                [disabled]="isDisbledObjFormu"
              >
              </p-radioButton>
            </div>
          </div>

          <div class="row mt-4" *ngIf="Anexo_6_4.show">
            <div class="col-12">
              <label class="m-0 mr-4 label">Se amplía información en el Anexo 4:</label>
              <div class="p-field-radiobutton">
                <strong for="Si" class="mr-2">SI</strong>
                <p-radioButton name="Anexo_6_4" value="S" inputId="Si"
                  [(ngModel)]="Anexo_6_4.selectModel" [disabled]="isDisbledObjFormu">
                </p-radioButton>
              </div>
              <div class="p-field-radiobutton">
                <strong for="No" class="mr-2">NO</strong>
                <p-radioButton name="Anexo_6_4" value="N" inputId="No" (onClick)="anexoN(Anexo_6_4.id, fileAnexo6_4)"
                  [(ngModel)]="Anexo_6_4.selectModel" [disabled]="isDisbledObjFormu">
                </p-radioButton>
              </div>
            </div>

            <div class="col-12 p-0" [hidden]="Anexo_6_4.selectModel == 'N'">
              <div *ngIf="Anexo_6_4.selectModel == 'S'">
                <app-anexo-upload-file
                  [fileInfGenreal]="fileAnexo6_4"
                  [label]="'Adjuntar Evidencia:'"
                  [idPlanManejo]="idPlanManejo"
                  [idTipoDocumento]="Anexo_6_4.codigo"
                  [codigoProceso]="Anexo_6_4.codigo"
                  (registrarArchivoId)="cargarIdArchivo($event, Anexo_6_4.codigo)"
                  [isDisbledObjFormu]="isDisbledObjFormu"
                  >
                </app-anexo-upload-file>
              </div>
            </div>
          </div>

          <!-- <div
            class="row m-0 mt-4 h-100 justify-content-center align-items-center"
          >
            <div class="col-12 col-sm-12">
              <lineamiento-inner
                [base]="lineamiento4"
                [titulo]="
                  'Evaluación de Lineamiento 10.1 Uso, sistema manejo y ciclo de corta'
                "
                [isShowObjEval]="isShowObjEval"
                [isDisabledObjEval]="isDisabledObjEval"
              >
                <ng-template #descripcion>
                  <div class="row m-0">
                    <div class="col-12">
                      <p class="fz-11 m-0 mb-3">
                        Verificar que se haya incorporado la información
                        siguiente:
                      </p>
                      <p class="fz-11 m-0 mb-1 ml-4">
                        1. La relación de especies a manejar y sus respectivos
                        diámetros mínimos de corta.
                      </p>
                      <p class="fz-11 m-0 mb-1 ml-4">
                        2. Aplicación de prócticas de impacto reducido (AIR),
                        tales como la adecuada planificación de la red vial y
                        patios de acopio, empleo de técnicos de tala dirigida,
                        etc.
                      </p>
                      <p class="fz-11 m-0 mb-1 ml-4">
                        3. Agrupamiento de las especies forestales según los
                        objetivos de manejo y el valor o aceptación de las
                        especies en el mercado.
                      </p>
                    </div>
                  </div>
                </ng-template>
              </lineamiento-inner>
            </div>
          </div> -->

          <div class="row m-0 mt-4">
            <div class="col-12">
              <div class="step__btn">
                <button
                  class="btn-primary2"
                  (click)="guardarManejoForestal(codigoManejo.ACORDEON_6_4)"
                  [disabled]="isDisbledObjFormu"
                >
                  Guardar
                </button>
              </div>
              <br />
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="6.5. Especies de Flora a Proteger">
          <div class="col-12 mt-4 mb-3">
            <div class="d-flex justify-content-end mb-2">
              <button
                class="btn btn-sm btn-default mb-2"
                type="button"
                title="Agregar"
                [disabled]="isDisbledObjFormu"
                (click)="
                  openModalFloraProteger(
                    'Nueva Especie a Proteger',
                    llenarCombo,
                    'false'
                  )
                "
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>

            <p-table [value]="llenartabla" styleClass="p-datatable-gridlines">
              <ng-template pTemplate="header">
                <tr>
                  <!-- <th>Acciones</th> -->
                  <th>Nombre común</th>
                  <th>Nombre científico</th>
                  <th>Justificación</th>
                  <th>Acciones</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-especiesFlora
              let-rowIndex="rowIndex">
                <tr>
                  <td>{{ especiesFlora.descripcionOtro }}</td>
                  <td>{{ especiesFlora.especie }}</td>
                  <td>
                    <input
                      type="text"
                      autocomplete="off"
                      class="form-control"
                      [(ngModel)]="especiesFlora.descripcionOtros"
                      maxlength="100"
                      [disabled]="isDisbledObjFormu"
                    />
                  </td>
                  <td>
                    <span
                    (click)="btnEliminar($event, especiesFlora,rowIndex)"
                    class="pointer mr-1"
                    title="Eliminar"

                  >
                    <i class="pi pi-trash"></i>
                  </span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>

          <div class="row mt-4" *ngIf="Anexo_6_5.show">
            <div class="col-12">
              <label class="m-0 mr-4 label">Se amplía información en el Anexo 4:</label>
              <div class="p-field-radiobutton">
                <strong for="Si" class="mr-2">SI</strong>
                <p-radioButton name="Anexo_6_5" value="S" inputId="Si"
                  [(ngModel)]="Anexo_6_5.selectModel" [disabled]="isDisbledObjFormu">
                </p-radioButton>
              </div>
              <div class="p-field-radiobutton">
                <strong for="No" class="mr-2">NO</strong>
                <p-radioButton name="Anexo_6_5" value="N" inputId="No" (onClick)="anexoN(Anexo_6_5.id, fileAnexo6_5)"
                  [(ngModel)]="Anexo_6_5.selectModel" [disabled]="isDisbledObjFormu">
                </p-radioButton>
              </div>
            </div>

            <div class="col-12 p-0" [hidden]="Anexo_6_5.selectModel == 'N'">
              <div *ngIf="Anexo_6_5.selectModel == 'S'">
                <app-anexo-upload-file
                  [fileInfGenreal]="fileAnexo6_5"
                  [label]="'Adjuntar Evidencia:'"
                  [idPlanManejo]="idPlanManejo"
                  [idTipoDocumento]="Anexo_6_5.codigo"
                  [codigoProceso]="Anexo_6_5.codigo"
                  (registrarArchivoId)="cargarIdArchivo($event, Anexo_6_5.codigo)"
                  [isDisbledObjFormu]="isDisbledObjFormu"
                  >
                </app-anexo-upload-file>
              </div>
            </div>
          </div>

          <!-- <div
            class="row m-0 mt-4 h-100 justify-content-center align-items-center"
          >
            <div class="col-12 col-sm-12">
              <lineamiento-inner
                [base]="lineamiento5"
                [titulo]="
                  'Evaluación de Lineamiento 10.1 Uso, sistema manejo y ciclo de corta'
                "
                [isShowObjEval]="isShowObjEval"
                [isDisabledObjEval]="isDisabledObjEval"
              >
                <ng-template #descripcion>
                  <div class="row m-0">
                    <div class="col-12">
                      <p class="fz-11 m-0 mb-3">
                        Verificar que se haya incorporado la información
                        siguiente:
                      </p>
                      <p class="fz-11 m-0 mb-1 ml-4">
                        ► Categorización de especies de acuerdo con la lista
                        oficial de especies amenazadas de flora silvestre.
                      </p>
                    </div>
                  </div>
                </ng-template>
              </lineamiento-inner>
            </div>
          </div> -->

          <div class="row m-0 mt-4">
            <div class="col-12">
              <div class="step__btn">
                <button
                  class="btn-primary2"
                  (click)="guardarManejoForestal(codigoManejo.ACORDEON_6_5)"
                  [disabled]="isDisbledObjFormu"
                >
                  Guardar
                </button>
              </div>
              <br />
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="6.6. Corta Anual Permisible (CAP)">
          <div class="p-4">
            <mat-tab-group animationDuration="0ms">
              <mat-tab
                label="6.6.1. Volumen Comercial Promedio por Hectárea (Vcp)"
              >
                <div class="row m-0 mt-3">
                  <div class="col-12">
                    <label class="title2" for="bloque">Por bloque</label>
                  </div>

                  <div class="col-12 col-sm-3">
                    <label class="label">Bloque</label>
                    <div class="form-control-selectk">
                      <p-dropdown appendTo="body" [options]="auxComboBloque" placeholder="Seleccione"
                        optionLabel="valorPrimario" optionValue="codigo" (onChange)="auxChangeBloque($event)">
                      </p-dropdown>
                    </div>
                  </div>
                  <div class="col-12 col-sm-3">
                    <label class="label">Area efectiva(ha):</label>
                    <input
                    type="text"
                    class="form-control col-12"
                    [(ngModel)]="toTalAreaHa"
                    maxlength="100"
                    [disabled]="true"
                  />
                  </div>
                  <div class="col-12 col-sm-3">
                    <label class="label">Periodo de Aprovechamiento</label>
                    <input class="form-control col-12" type="text" maxlength="50" [(ngModel)]="aprovechamiento"/>

                  </div>
                    <div class="col-12 col-sm-3">
                      <label class="label"></label>
                      <div class="step__btn">


                      <button
                      class="btn-primary2 col-8"
                      (click)="guardarAprovechamiento()"
                      [disabled]="isDisbledObjFormu"
                    >
                      Guardar
                    </button>
                  </div>
                    </div>
                  <div class="col-12 mt-4 mb-3">
                    <p-table
                      [value]="listaEspecieBloque"
                      styleClass="p-datatable-gridlines"
                    >
                      <ng-template pTemplate="header">
                        <tr *ngIf="listaCabeceraBloque.length === 0">
                          <th colspan="5">Tipo de bosque: ------------</th>
                          <th colspan="2">Área (ha): --------</th>
                        </tr>
                        <tr *ngFor="let item of listaCabeceraBloque">
                          <th colspan="5">Tipo de bosque: <span class="ml-2">{{item.tipoBosque}}</span></th>
                          <th colspan="2">Área (ha): <span class="ml-2">{{ item.areaHa }}</span></th>
                        </tr>

                        <tr>
                          <th colspan="2">Especies</th>
                          <th>DMC</th>
                          <th colspan="2">N° árboles</th>
                          <th colspan="2">Vcp(m2)</th>
                        </tr>
                        <tr>
                          <th>N. Común</th>
                          <th>N. Cientificos</th>
                          <th>(cm)</th>
                          <th>ha</th>
                          <th>Total</th>
                          <th>ha</th>
                          <th>Total</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-data>
                        <tr>
                          <td>{{ data.nombreComun }}</td>
                          <td>{{ data.nombreCientifico }}</td>
                          <td>{{ data.dmc }}</td>
                          <td>{{ data.cantidadArb }}</td>
                          <td>{{ data.totalArb }}</td>
                          <td>{{ data.volumenComercialPromedio }}</td>
                          <td>{{ data.volumenComercialPromedioTotal }}</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>

                <div class="row m-0 mt-3">
                  <label class="title2" for="bloque">Total UMF</label>
                  <div class="col-12 mt-4 mb-3">
                    <p-table
                      [value]="listaTotalEspecieBloque"
                      styleClass="p-datatable-gridlines"
                    >
                      <ng-template pTemplate="header">
                        <tr *ngIf="listaTotalBloque.length === 0">
                          <th colspan="5">Tipo de bloque: ------------</th>
                          <th colspan="2">Área (ha): --------</th>
                        </tr>
                        <tr *ngFor="let item of listaTotalBloque">
                          <th colspan="5">Tipo de bloque: <span class="ml-2">{{item.bloquequinquenal}}</span></th>
                          <th colspan="2">Área (ha): <span class="ml-2">{{item.toTalAreaHa}}</span></th>
                        </tr>

                        <tr>
                          <th colspan="2">Especies</th>
                          <th>DMC</th>
                          <th colspan="2">N° árboles</th>
                          <th colspan="2">Vcp(m2)</th>
                        </tr>
                        <tr>
                          <th>N. Común</th>
                          <th>N. Cientificos</th>
                          <th>(cm)</th>
                          <th>ha</th>
                          <th>Total</th>
                          <th>ha</th>
                          <th>Total</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-obj>
                        <tr>
                          <td>{{ obj.nombreComun }}</td>
                          <td>{{ obj.nombreCientifico }}</td>
                          <td>{{ obj.dmc }}</td>
                          <td>{{ obj.cantidadArb }}</td>
                          <td>{{ obj.totalArb }}</td>
                          <td>{{ obj.volumenComercialPromedio }}</td>
                          <td>{{ obj.volumenComercialPromedioTotal }}</td>
                        </tr>
                      </ng-template>

                    </p-table>
                  </div>
                </div>
              </mat-tab>

              <mat-tab
                label="6.6.2. Volumen de Corta Anual Permisible (VCAP) para la UMF"
              >
                <div class="col-12 mt-4 mb-3">
                  <p-table
                    [value]="listaEspecieVolumenAnualPermisible"
                    styleClass="p-datatable-gridlines"
                  >
                    <ng-template pTemplate="header">
                      <tr>
                        <th rowspan="2">Tipo de Bosque</th>
                        <th colspan="2">AFP</th>
                        <th rowspan="2">Vcp m3/ha</th>
                        <th rowspan="2">Vcp prod. m3</th>
                        <th rowspan="2">VCAP m3</th>
                      </tr>
                      <tr>
                        <th>Ha</th>
                        <th>%</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                      <tr>
                        <td>{{ data.nombreComun }}</td>
                        <td>{{ data.cantidadArb }}</td>
                        <td>{{ data.porcentajeArb }}</td>
                        <td>{{ data.volumenComercialPromedio }}</td>
                        <td>{{ data.volumenComercialPromedioPonderado }}</td>
                        <td>{{ data.volumenCortaAnualPermisible }}</td>

                      </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                      <tr>
                        <td>Total UMF</td>
                        <ng-container *ngFor="let suma of listaTotalCortaAnual">
                          <td>{{suma}}</td>
                        </ng-container>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>

                <div class="row mt-4" *ngIf="Anexo_6_6_2.show">
                  <div class="col-12">
                    <label class="m-0 mr-4 label">Se amplía información en el Anexo 4:</label>
                    <div class="p-field-radiobutton">
                      <strong for="Si" class="mr-2">SI</strong>
                      <p-radioButton name="Anexo_6_6_2" value="S" inputId="Si"
                        [(ngModel)]="Anexo_6_6_2.selectModel" [disabled]="isDisbledObjFormu">
                      </p-radioButton>
                    </div>
                    <div class="p-field-radiobutton">
                      <strong for="No" class="mr-2">NO</strong>
                      <p-radioButton name="Anexo_6_6_2" value="N" inputId="No" (onClick)="anexoN(Anexo_6_6_2.id, fileAnexo6_6_2)"
                        [(ngModel)]="Anexo_6_6_2.selectModel" [disabled]="isDisbledObjFormu">
                      </p-radioButton>
                    </div>
                  </div>

                  <div class="col-12 p-0" [hidden]="Anexo_6_6_2.selectModel == 'N'">
                    <div *ngIf="Anexo_6_6_2.selectModel == 'S'">
                      <app-anexo-upload-file
                        [fileInfGenreal]="fileAnexo6_6_2"
                        [label]="'Adjuntar Evidencia:'"
                        [idPlanManejo]="idPlanManejo"
                        [idTipoDocumento]="Anexo_6_6_2.codigo"
                        [codigoProceso]="Anexo_6_6_2.codigo"
                        (registrarArchivoId)="cargarIdArchivo($event, Anexo_6_6_2.codigo)"
                        [isDisbledObjFormu]="isDisbledObjFormu"
                        >
                      </app-anexo-upload-file>
                    </div>
                  </div>
                </div>

                <div class="row m-0 mt-4">
                  <div class="col-12">
                    <div class="step__btn">
                      <button
                        class="btn-primary2"
                        (click)="guardarManejoForestal(codigoManejo.ACORDEON_6_6_2)"
                        [disabled]="isDisbledObjFormu"
                      >
                        Guardar
                      </button>
                    </div>
                    <br />
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>

            <div
              class="row m-0 mt-4 h-100 justify-content-center align-items-center"
            >
              <div class="col-12 col-sm-12">
                <lineamiento-inner
                  [base]="lineamiento2"
                  [titulo]="
                    'Evaluación de Lineamiento 10.2 Corta anual permisible, proyección de cosecha y especificaciones para el aprovechamiento'
                  "
                  [isShowObjEval]="isShowObjEval"
                  [isDisabledObjEval]="isDisabledObjEval"
                >
                  <ng-template #descripcion>
                    <div class="row m-0">
                      <div class="col-12">
                        <p class="fz-11 m-0 mb-3">
                          Verificar que se haya incorporado la información
                          siguiente:
                        </p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          1. Volumen comercial promedio, calculado por estratos
                          o tipos de bosque y que no considere los árboles
                          semilleros.
                        </p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          2. Volumen de corta anual permisible.
                        </p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          3. Proyección de la cosecha para los años que
                          comprende el ciclo de corta.
                        </p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          4. Descripción de las actividades para las tres fases
                          del sistema de aprovechamiento (preaprovechamiento,
                          aprovechamiento y post-aprovechamiento). los recursos
                          necesarios para su ejecución y los costos.
                        </p>
                      </div>
                    </div>
                  </ng-template>
                </lineamiento-inner>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="6.7 Proyeccción de Cosecha ">
          <div class="col-12 mt-4 mb-3">
            <!-- <p-table
              [value]="proyeccionCosecha"
              styleClass="p-datatable-gridlines"
            > -->
            <div style="overflow-x: auto;">
              <p-table
                [value]="listaCosecha"
                styleClass="p-datatable-gridlines"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th rowspan="2">Clase diamétrica</th>
                    <th rowspan="2">N°/Arb/ha</th>
                    <th colspan="20">Cosechas</th>
                  </tr>
                  <tr>
                    <ng-container *ngFor="let item of listaCosechaCols">
                      <th >Año {{item?.anio}}</th>
                    </ng-container>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                  <tr>
                    <td>{{ data.claseDiametrica }}</td>
                    <td>{{ data.valor || '-' }}</td>
                    <td *ngFor="let item of data?.detalle">
                      {{ item.valor || '-' }}
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                  <tr>
                    <td colspan="2">Árboles a cortar (%)</td>
                    <ng-container *ngFor="let suma of listaCosechaTotal">
                      <td>{{suma*0.80}}</td>
                    </ng-container>
                  </tr>
                  <tr>
                    <td colspan="2">Árboles semilleros (%)</td>
                    <ng-container *ngFor="let suma of listaCosechaTotal">
                      <td>{{suma*0.20}}</td>
                    </ng-container>
                </tr>
              </ng-template>
              </p-table>
            </div>
          </div>

          <!-- <div
            class="row m-0 mt-4 h-100 justify-content-center align-items-center"
          >
            <div class="col-12 col-sm-12">
              <lineamiento-inner
                [base]="lineamiento7"
                [titulo]="
                  'Evaluación de Lineamiento 10.2 Corta anual permisible, proyección de cosecha y especificaciones para el aprovechamiento'
                "
                [isShowObjEval]="isShowObjEval"
                [isDisabledObjEval]="isDisabledObjEval"
              >
                <ng-template #descripcion>
                  <div class="row m-0">
                    <div class="col-12">
                      <p class="fz-11 m-0 mb-3">
                        Verificar que se haya incorporado la información
                        siguiente:
                      </p>
                      <p class="fz-11 m-0 mb-1 ml-4">
                        ► Proyeccción de la cosecha para los años que comprende
                        el ciclo de corta.
                      </p>
                    </div>
                  </div>
                </ng-template>
              </lineamiento-inner>
            </div>
          </div> -->

          <!-- <div class="row m-0 mt-4">
            <div class="col-12">
              <div class="step__btn">
                <button
                  class="btn-primary2"
                  (click)="guardarManejoForestal(codigoManejo.ACORDEON_6_7)"
                  [disabled]="isDisbledObjFormu || !proyeccionCosecha"
                >
                  Guardar
                </button>
              </div>
              <br />
            </div>
          </div> -->
        </p-accordionTab>

        <p-accordionTab header="6.8 Especificaciones sobre el Sistema de Aprovechamiento">
          <div class="col-12 mt-4 mb-3">
            <div class="d-flex justify-content-end mb-2">
              <button
                class="btn btn-sm btn-default mb-2"
                type="button"
                title="Agregar"
                [disabled]="isDisbledObjFormu"
                (click)="
                  openModalEspecificaciones(
                    'Registrar sistema de aprovechamiento',
                    especificaciones,
                    'false'
                  )
                "
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>

            <p-table
              [value]="especificaciones"
              styleClass="p-datatable-gridlines"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>Acciones</th>
                  <th>Operaciones</th>
                  <th>Método y diseño</th>
                  <th>Personal (tipo y número)</th>
                  <th>Maquinaria y equipos(tipo y número)</th>
                </tr>
              </ng-template>
              <ng-template
                pTemplate="body"
                let-especificaciones
                let-rowIndex="rowIndex"
              >
                <tr>
                  <td class="text-center" style="width: 150px; padding: 0px">
                    <button
                      mat-button
                      class="col-6 col-sm-4"
                      style="padding: 0px; min-width: 40px"
                      [disabled]="isDisbledObjFormu"
                      (click)="
                        openModalEspecificaciones(
                          'Editar Información',
                          especificaciones,
                          'true'
                        )
                      "
                    >
                      <i class="pi pi-pencil pointer" title="Editar"></i>
                    </button>
                    <button
                      mat-button
                      class="col-6 col-sm-4"
                      style="padding: 0px; min-width: 40px"
                      [disabled]="isDisbledObjFormu"
                      (click)="
                        eliminarEspecificaciones(
                          $event,
                          especificaciones,
                          rowIndex
                        )
                      "
                    >
                      <i class="pi pi-trash pointer" title="Eliminar"></i>
                    </button>
                  </td>
                  <td>{{ especificaciones.tratamientoSilvicultural }}</td>
                  <td>
                    {{ especificaciones.metodoConstruccion }}
                    <!-- <input
                      type="text"
                      autocomplete="off"
                      class="form-control"
                      [(ngModel)]=""
                      maxlength="100"
                    /> -->
                  </td>
                  <td>
                    {{ especificaciones.manoObra }}
                    <!-- <input
                      type="text"
                      autocomplete="off"
                      class="form-control"
                      [(ngModel)]="especificaciones.manoObra"
                      maxlength="100"
                    /> -->
                  </td>
                  <td>
                    {{ especificaciones.maquina }}
                    <!-- <input
                      type="text"
                      autocomplete="off"
                      class="form-control"
                      [(ngModel)]=""
                      maxlength="100"
                    /> -->
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>

          <div class="row mt-4" *ngIf="Anexo_6_8.show">
            <div class="col-12">
              <label class="m-0 mr-4 label">Se amplía información en el Anexo 4:</label>
              <div class="p-field-radiobutton">
                <strong for="Si" class="mr-2">SI</strong>
                <p-radioButton name="Anexo_6_8" value="S" inputId="Si"
                  [(ngModel)]="Anexo_6_8.selectModel" [disabled]="isDisbledObjFormu">
                </p-radioButton>
              </div>
              <div class="p-field-radiobutton">
                <strong for="No" class="mr-2">NO</strong>
                <p-radioButton name="Anexo_6_8" value="N" inputId="No" (onClick)="anexoN(Anexo_6_8.id, fileAnexo6_8)"
                  [(ngModel)]="Anexo_6_8.selectModel" [disabled]="isDisbledObjFormu">
                </p-radioButton>
              </div>
            </div>

            <div class="col-12 p-0" [hidden]="Anexo_6_8.selectModel == 'N'">
              <div *ngIf="Anexo_6_8.selectModel == 'S'">
                <app-anexo-upload-file
                  [fileInfGenreal]="fileAnexo6_8"
                  [label]="'Adjuntar Evidencia:'"
                  [idPlanManejo]="idPlanManejo"
                  [idTipoDocumento]="Anexo_6_8.codigo"
                  [codigoProceso]="Anexo_6_8.codigo"
                  (registrarArchivoId)="cargarIdArchivo($event, Anexo_6_8.codigo)"
                  [isDisbledObjFormu]="isDisbledObjFormu"
                  >
                </app-anexo-upload-file>
              </div>
            </div>
          </div>


          <div
            class="row m-0 mt-4 h-100 justify-content-center align-items-center"
          >
            <div class="col-12 col-sm-12">
              <lineamiento-inner
                [base]="lineamiento3"
                [titulo]="
                  'Evaluación de Lineamiento 10.3 Infraestructura para el aprovechamiento y transporte y 10.4 Operaciones de corta y arrastre'
                "
                [isShowObjEval]="isShowObjEval"
                [isDisabledObjEval]="isDisabledObjEval"
              >
                <ng-template #descripcion>
                  <div class="row m-0">
                    <div class="col-12">
                      <div class="pl-3">
                        <p class="fz-11 m-0 mb-3">
                          10.3. Infraestructura para el aprovechamiento y
                          transporte
                        </p>
                        <div class="pl-3">
                          <p class="fz-11 m-0 mb-3">
                            Verificar que se haya incorporado la información
                            siguiente:
                          </p>
                          <p class="fz-11 m-0 mb-1 ml-4">
                            1. Descripción de las acciones a desarrollar para la
                            construcción de los caminos y el método de
                            construcción, inluyendo información sobre la mano de
                            obra necesaria, la maquinaria, herramientas y
                            equipos a utilizar en cada operación
                          </p>
                          <p class="fz-11 m-0 mb-1 ml-4">
                            2. Sistema de drenaje de las aguas de lluvia para
                            los caminos principales y vías de acceso: con un
                            ancho de superficie de rodaje entre 4 y 7 m (según
                            volumen de transporte programado), salvo sectores
                            críticos que requieran tratamientos especiales:
                            pendientes menores al 20%.
                          </p>
                          <p class="fz-11 m-0 mb-1 ml-4">
                            3. Sistema de drenaje para la construcción de
                            caminos secundarios, anchura de superficie de rodaje
                            de 4 a 5 m -salvo sectores críticos que requieran
                            tratamientos especiales-. pendientes menores a 30% y
                            se evite obstruir o cruzar los cursos de agua.
                          </p>
                          <p class="fz-11 m-0 mb-3 ml-4">
                            4. Patios de acopio localizados próximos a las
                            márgenes de los caminos y en lo posible a un radio
                            de distancia de operación del tractor forestal de
                            hasta 1 km, dentro de lo posible, la pendiente en el
                            patio no deberá superar el 10% y no drenarán
                            directamente a los caminos ni a los arroyos
                            circundantes, deben estar ubicados a más de 30
                            metros de ríos o quebrados.
                          </p>
                          <p class="fz-11 m-0 mb-3">
                            Asimismo, se debe analizar si es que los métodos
                            sugeridos para las operaciones de carguío y
                            tronsporte son coherentes con la realidad del
                            aprovechamiento del área en cuanto a fisiografía,
                            hidrografía y nivel de manejo
                          </p>
                        </div>
                        <p class="fz-11 m-0 mb-3">
                          10.4. Operaciones de corta y arrastre
                        </p>
                        <div>
                          <p class="fz-11 m-0 mb-1 ml-4">
                            1 Verificar que se haya realizado una breve
                            descripción de cada operación con respecto a las
                            fases y métodos a emplear, sean estos manuales o
                            mecánicos.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </lineamiento-inner>
            </div>
          </div>

          <div class="row m-0 mt-4">
            <div class="col-12">
              <div class="step__btn">
                <button
                  class="btn-primary2"
                  (click)="guardarManejoForestal(codigoManejo.ACORDEON_6_8)"
                  [disabled]="isDisbledObjFormu"
                >
                  Guardar
                </button>
              </div>
              <br />
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="6.9. Especificaciones sobre Prácticas Silviculturales">
          <div class="p-4">
            <mat-tab-group animationDuration="0ms">
              <mat-tab
                label="6.9.1. Necesidad y Diseño de Inversiones Silviculturales"
              >
                <div class="row m-0 pt-4">
                  <div class="p-field-radiobutton">
                    <strong for="Si" class="mr-2"
                      >Hacer marcación y protección de semileros</strong
                    >

                    <p-checkbox
                      name="groupname"
                      [binary]="true"
                      [(ngModel)]="selectMarcacionProteccionSemillas.opcion"
                      [disabled]="isDisbledObjFormu"
                    ></p-checkbox>
                  </div>

                  <div
                    class="col-12 mt-3"
                    *ngIf="selectMarcacionProteccionSemillas.opcion"
                  >
                    <textarea
                      style="resize: none"
                      rows="3"
                      cols="1"
                      class="form-control"
                      [disabled]="isDisbledObjFormu"
                      [(ngModel)]="
                        selectMarcacionProteccionSemillas.descripcion
                      "
                    >
                    </textarea>
                  </div>
                </div>

                <div class="row m-0 mt-4">
                  <div class="col-12">
                    <div class="step__btn">
                      <button
                        class="btn-primary2"
                        (click)="
                          guardarManejoForestal(codigoManejo.ACORDEON_6_9_1)
                        "
                        [disabled]="isDisbledObjFormu"
                      >
                        Guardar
                      </button>
                    </div>
                    <br />
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="6.9.2. Tratamientos Silviculturales a Aplicar">
                <div class="col-12 mt-6">
                  <div class="col-12 p-2">
                    <label class="m-0 mr-8 title2">Escala:</label>
                    <br/>
                    <!-- <p-checkbox id="chk-mapa-anexo"></p-checkbox> -->

                    <div class="p-field-radiobutton">
                      <label
                      class="m-0  mr-2 pointer label"
                      >Piloto</label
                      >
                      <p-radioButton
                        value="1"
                        inputId="Si"
                        [(ngModel)]="select6_9_2.opcion"
                        [disabled]="isDisbledObjFormu"
                      >
                      </p-radioButton>
                    </div>
                    <div class="p-field-radiobutton">
                      <label
                      class="m-0  mr-2 pointer label"
                      >Operacional</label
                      >
                      <p-radioButton
                        value="2"
                        inputId="No"
                        [(ngModel)]="select6_9_2.opcion"
                        [disabled]="isDisbledObjFormu"
                      >
                      </p-radioButton>
                    </div>
                    <label class="m-0 mr-2 pointer label">(año)</label>
                    <div class="p-field-radiobutton">
                      <input
                          id="anioha"
                          numero
                          [min]="0"
                          [maxLength]="15"
                          [(ngModel)]="select6_9_2.anio"
                          autocomplete="off"
                          class="form-control form-control-sm float-left"
                          placeholder="Ingresar año"
                          [disabled]="select6_9_2.opcion != '2' || isDisbledObjFormu"
                        />
                    </div>
                  </div>
                </div>

                <div class="col-12 mt-3">
                  <textarea
                    style="resize: none"
                    rows="3"
                    cols="1"
                    class="form-control"
                    *ngIf="checked2 == 1"
                    [disabled]="isDisbledObjFormu"
                  >
                  </textarea>
                </div>

                <div lass="col-12 mt-3">
                  <label class="title2"
                    >Sobre la Superficie de las PC Aprovechadas</label
                  >
                </div>
                <div lass="col-12 mt-3">
                  <label class="title2"
                    >Especies más Importantes a Favorecer:</label
                  >
                </div>

                <div class="col-12 mt-4 mb-3">
                  <div
                    class="d-flex justify-content-end mb-2"
                  >
                    <button
                      class="btn btn-sm btn-default mb-2"
                      type="button"
                      title="Agregar"
                      [disabled]="isDisbledObjFormu"
                      (click)="openModalMultiEspeciesFlora('Registrar Especie Flora')"
                    >
                      <i class="pi pi-plus"></i>
                    </button>
                  </div>

                  <p-table [value]="especiesImportantes">
                    <ng-template pTemplate="header">
                      <tr>
                        <th>Acciones</th>
                        <th>No</th>
                        <th>Nombre científico</th>
                        <th>Nombre común</th>
                        <th>adjuntar</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex+1"
                    >
                      <tr>
                        <td>
                          <button
                            mat-button
                            class="col-6 col-sm-4"
                            style="padding: 0px; min-width: 40px"
                            (click)="eliminarEspeciesImportantes(data)"
                            [disabled]="isDisbledObjFormu"
                          >
                            <i class="pi pi-trash pointer" title="Eliminar"></i>
                          </button>
                        </td>
                        <td>{{ rowIndex }}</td>
                        <td>{{ data.especie }}</td>
                        <td>{{ data.descripcionOtro }}</td>
                        <td>
                          <ng-container *ngIf="data?.idArchivo; else elseBtnTpl">
                            <button type="button" class="btn-secondary off" style="min-width: 40px"
                              (click)="descargarArchivoTabla(data.idArchivo)" [disabled]="isDisbledObjFormu">
                              <i class="pi pi-download" aria-hidden="true"></i>
                            </button>
                          </ng-container>
                          <ng-template #elseBtnTpl>
                            <upload-button
                              label=""
                              style="min-width: 40px; width: 40px"
                              icon="upload"
                              [disabled]="isDisbledObjFormu"
                              [accept]="aceptTabla"
                              (change)="addArchivoTabla(data, $event)"
                            >
                            </upload-button>
                          </ng-template>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
                <div lass="col-12 mt-3">
                  <label class="title2"
                    >Las Especies Declaradas Deberán estar Identificadas (a
                    través de muestras botánicas) por el Regente.</label
                  >
                </div>

                <div class="col-6 mt-3">
                  <p-table [value]="tratamientos" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                      <tr>
                        <th>
                          Tratamientos silviculturales posibles de aplicar
                        </th>
                        <th></th>
                      </tr>
                    </ng-template>
                    <ng-template
                      pTemplate="body"
                      let-data
                      let-rowIndex="rowIndex"
                    >
                      <tr>
                        <td>{{ data.tratamientoSilvicultural }}</td>
                        <td>
                          <p-checkbox
                            [binary]="true"
                            [(ngModel)]="data.accion"
                            (ngModelChange)="updateOtros(rowIndex)"
                            [disabled]="isDisbledObjFormu"
                          ></p-checkbox>

                          {{ data.action }}
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>

                <div class="col-12 mt-3" *ngIf="otrosTratamientos">
                  <textarea
                    style="resize: none"
                    rows="3"
                    cols="1"
                    class="form-control" sinSpacioInit
                    (ngModelChange)="updateDescripcionOtro()"
                    [(ngModel)]="otroTratamiento6_9_2.descripcionOtro"
                    [disabled]="isDisbledObjFormu"
                    placeholder="Ingrese la Descripción"
                  >
                  </textarea>
                </div>

                <div class="row mt-4" *ngIf="Anexo_6_9_2.show">
                  <div class="col-12">
                    <label class="m-0 mr-4 label">Se amplía información en el Anexo 4:</label>
                    <div class="p-field-radiobutton">
                      <strong for="Si" class="mr-2">SI</strong>
                      <p-radioButton name="Anexo_6_9_2" value="S" inputId="Si"
                        [(ngModel)]="Anexo_6_9_2.selectModel" [disabled]="isDisbledObjFormu">
                      </p-radioButton>
                    </div>
                    <div class="p-field-radiobutton">
                      <strong for="No" class="mr-2">NO</strong>
                      <p-radioButton name="Anexo_6_9_2" value="N" inputId="No" (onClick)="anexoN(Anexo_6_9_2.id, fileAnexo6_9_2)"
                        [(ngModel)]="Anexo_6_9_2.selectModel" [disabled]="isDisbledObjFormu">
                      </p-radioButton>
                    </div>
                  </div>

                  <div class="col-12 p-0" [hidden]="Anexo_6_9_2.selectModel == 'N'">
                    <div *ngIf="Anexo_6_9_2.selectModel == 'S'">
                      <app-anexo-upload-file
                        [fileInfGenreal]="fileAnexo6_9_2"
                        [label]="'Adjuntar Evidencia:'"
                        [idPlanManejo]="idPlanManejo"
                        [idTipoDocumento]="Anexo_6_9_2.codigo"
                        [codigoProceso]="Anexo_6_9_2.codigo"
                        (registrarArchivoId)="cargarIdArchivo($event, Anexo_6_9_2.codigo)"
                        [isDisbledObjFormu]="isDisbledObjFormu"
                        >
                      </app-anexo-upload-file>
                    </div>
                  </div>
                </div>

                <div class="row m-0 mt-4">
                  <div class="col-12">
                    <div class="step__btn">
                      <button
                        class="btn-primary2"
                        (click)="
                          guardarManejoForestal(codigoManejo.ACORDEON_6_9_2)
                        "
                        [disabled]="isDisbledObjFormu"
                      >
                        Guardar
                      </button>
                    </div>
                    <br />
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="6.9.3. Manejo o Enriquecimiento en Áreas Degradadas">
                <div class="col-12 mt-4 mb-3">
                  <div class="d-flex justify-content-end mb-2">
                    <button
                      class="btn btn-sm btn-default mb-2"
                      type="button"
                      title="Agregar"
                      [disabled]="isDisbledObjFormu"
                      (click)="
                      openModalAreasDegradadas(
                          'Nuevo Objetivo',
                          objetivo,
                          false
                        )
                      "
                    >
                      <i class="pi pi-plus"></i>
                    </button>
                  </div>
                  <p-table
                    [value]="objetivo"
                    styleClass="p-datatable-gridlines"
                  >
                    <ng-template pTemplate="header">
                      <tr>
                        <th>
                          El objetivo principal es la recuperacion del bosque a
                          través de las siguientes acciones:
                        </th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-objetivo1
                    let-rowIndex="rowIndex">
                      <tr>
                        <td *ngIf="!objetivo1.btnElim">

                          {{ objetivo1.tratamientoSilvicultural }}
                        </td>
                        <td *ngIf="objetivo1.btnElim">
                          <input
                            autocomplete="off"
                            
                            class="form-control form-control-lg"
                            type="text"
                            maxlength="150"
                            [(ngModel)]="objetivo1.tratamientoSilvicultural"
                          />
                        </td>
                        <td>
                          <input
                            autocomplete="off"
                            class="form-control form-control-lg"
                            type="text"
                            maxlength="100"
                            [(ngModel)]="objetivo1.descripcionOtro"
                            [disabled]="isDisbledObjFormu"
                          />
                        </td>
                        <td *ngIf="objetivo1.btnElim">
                          <span
                          (click)="btnEliminarAreaDeg($event, objetivo1,rowIndex)"
                          class="pointer mr-1"
                          title="Eliminar"
                          
                        >
                          <i class="pi pi-trash"></i>
                        </span>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>

                <div class="row mt-4" *ngIf="Anexo_6_9_3.show">
                  <div class="col-12">
                    <label class="m-0 mr-4 label">Se amplía información en el Anexo 4:</label>
                    <div class="p-field-radiobutton">
                      <strong for="Si" class="mr-2">SI</strong>
                      <p-radioButton name="Anexo_6_9_3" value="S" inputId="Si"
                        [(ngModel)]="Anexo_6_9_3.selectModel" [disabled]="isDisbledObjFormu">
                      </p-radioButton>
                    </div>
                    <div class="p-field-radiobutton">
                      <strong for="No" class="mr-2">NO</strong>
                      <p-radioButton name="Anexo_6_9_3" value="N" inputId="No" (onClick)="anexoN(Anexo_6_9_3.id, fileAnexo6_9_3)"
                        [(ngModel)]="Anexo_6_9_3.selectModel" [disabled]="isDisbledObjFormu">
                      </p-radioButton>
                    </div>
                  </div>

                  <div class="col-12 p-0" [hidden]="Anexo_6_9_3.selectModel == 'N'">
                    <div *ngIf="Anexo_6_9_3.selectModel == 'S'">
                      <app-anexo-upload-file
                        [fileInfGenreal]="fileAnexo6_9_3"
                        [label]="'Adjuntar Evidencia:'"
                        [idPlanManejo]="idPlanManejo"
                        [idTipoDocumento]="Anexo_6_9_3.codigo"
                        [codigoProceso]="Anexo_6_9_3.codigo"
                        (registrarArchivoId)="cargarIdArchivo($event, Anexo_6_9_3.codigo)"
                        [isDisbledObjFormu]="isDisbledObjFormu"
                        >
                      </app-anexo-upload-file>
                    </div>
                  </div>
                </div>

                <div class="row m-0 mt-4">
                  <div class="col-12">
                    <div class="step__btn">
                      <button
                        class="btn-primary2"
                        (click)="
                          guardarManejoForestal(codigoManejo.ACORDEON_6_9_3)
                        "
                        [disabled]="isDisbledObjFormu"
                      >
                        Guardar
                      </button>
                    </div>
                    <br />
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>

            <div
              class="row m-0 mt-4 h-100 justify-content-center align-items-center"
            >
              <div class="col-12 col-sm-12">
                <lineamiento-inner
                  [base]="lineamiento11"
                  [titulo]="
                    'Evaluación de Lineamiento 11. Revisión de las prácticas silviculturales'
                  "
                  [isShowObjEval]="isShowObjEval"
                  [isDisabledObjEval]="isDisabledObjEval"
                >
                  <ng-template #descripcion>
                    <div class="row m-0">
                      <div class="col-12">
                        <p class="fz-11 m-0 mb-3"></p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          1. Verificar que se haya incluido la lista de las
                          especies de interés pora el manejo, la que incluye a
                          las especies comerciales y los que tienen potencial
                          comercial, como aspectos claves para definir los
                          tratamientos silviculturales y mejorar las condiciones
                          para favorecer la regeneración natural e incremento de
                          la masa remanente.
                        </p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          2. Señalar los tratamientos silviculturales que
                          obligatoriamente se aplicarán durante la
                          implementación del plan de manejo forestal, tales
                          como: el aprovechamiento a partir del DMC, reservar
                          árboles semilleros, corte de lianos y bejucos,
                          aprovechamiento de impacto reducido.
                        </p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          3. Asimismo, debe haberse incluido los tratamientos
                          silviculturales recomendables para su aplicación en la
                          etapa de post aprovechamiento, señaladas en los
                          Lineamientos para la formulación del Plan General de
                          Manejo Forestal para Concesiones Forestales con Fines
                          Maderables.
                        </p>
                      </div>
                    </div>
                  </ng-template>
                </lineamiento-inner>
              </div>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <!-- <div class="row m-0 mt-4 h-100 justify-content-center align-items-center">
    <div class="col-12 col-sm-12">
      <lineamiento-inner
        [base]="lineamiento10"
        [titulo]="'Evaluación de Lineamiento 10. Revisión del manejo forestal'"
        [isShowObjEval]="isShowObjEval"
        [isDisabledObjEval]="isDisabledObjEval"
      >
        <ng-template #descripcion>
          <div class="row m-0">
            <div class="col-12">
              <p class="fz-11 m-0 mb-3">
                Verificar que se haya incorporado la información siguiente:
              </p>
              <p class="fz-11 m-0 mb-1 ml-4">
                1. Descripción de los actividades a realizar en las áreas
                establecidas para el aprovechamiento maderable y en las otras
                categorías de ordenamiento.
              </p>
              <p class="fz-11 m-0 mb-1 ml-4">
                2. El sistema de manejo seleccionado.
              </p>
              <p class="fz-11 m-0 mb-1 ml-4">
                3. Ciclo de corta de 20 años. En caso se haya propuesto un ciclo
                diferente, verificar que se haya sustentado adecuadamente.
              </p>
              <p class="fz-11 m-0 mb-1 ml-4">
                4. La relación de especies a manejar y sus respectivos diámetros
                mínimos de corta.
              </p>
              <p class="fz-11 m-0 mb-1 ml-4">
                5. Aplicación de prócticas de impacto reducido (AIR), tales como
                la adecuada planificación de la red vial y patios de acopio,
                empleo de técnicos de tala dirigida, etc.
              </p>
              <p class="fz-11 m-0 mb-1 ml-4">
                6. Agrupamiento de las especies forestales según los objetivos
                de manejo y el valor o aceptación de las especies en el mercado.
              </p>
              <p class="fz-11 m-0 mb-1 ml-4">
                7. Categorización de especies de acuerdo con la lista oficial de
                especies amenazadas de flora silvestre.
              </p>
            </div>
          </div>
        </ng-template>
      </lineamiento-inner>
    </div>
  </div> -->
  <div class="row m-0 mt-4">
    <div class="col-12">
      <div class="step__btn">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
      <br />
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
