<div class="col-12 pt-4">
  <div class="col-12" *ngIf="!isRegistrado">
    <label class="lbl-info mt-3 mb-3" style="float: none !important;">
      (Debe guardar información del Título Habilitante.)
    </label>
  </div>
  <p-accordion>
    <!-- <p-accordionTab header="Pagos" [disabled]="!(form.areHA != null && form.areHA > 0)"> -->
    <p-accordionTab header="Pagos" [selected]="true" [disabled]="!isRegistrado">
      <div class="mt-3 mb-4">
        <div class="col-12">
          <div class="col-12">
            <label class="title2">{{ tipoPlanDescripcion ? tipoPlanDescripcion : '' }} <span class="nro-plan">{{ idPlanManejo ? 'N° ' + idPlanManejo : '' }}</span></label>
          </div>
          <!-- <p-table 
            [value]="listDocumentos" 
            [paginator]="true" 
            [rows]="10" 
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Total : {{ totalRecordsID }} registro(s)" 
            [rowsPerPageOptions]="[10,25,50]"
            [loading]="loading"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>No.</th>
                <th>Nombre Documento</th>
                <th>Fecha</th>
                <th class="text-center">Archivo</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td>{{ rowIndex + 1}}</td>
                <td>{{ data.nombre }}</td>
                <td>{{ data.fechaRegistro | date: "dd/MM/yyyy h:mm:ss a" : "UTC" }}</td>
                <td class="text-center">
                  <a
                    download
                    target="_blank"
                    *ngIf="data.idArchivo > 0"
                    (click)="descargarArchivo(data.idArchivo)"
                    class="pointer"
                  >
                    <i class="pi pi-download"></i>
                  </a>
                </td>
              </tr>
            </ng-template>
          </p-table> -->
        </div>
      </div>
      <div class="row mt-3 mb-4">
        <div class="col-12">
          <h4 class="title2" style="border-bottom: 1px solid #ccc">
            Modalidad de Pago
          </h4>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-around; width: 100%;" class="mt-4">
          <div style="display: flex; flex-direction: row;">
            <p-radioButton
              name="resultado_MECPAGOMOD1"
              [value]="'MECPAGOMOD1'"
              inputId="SI_MECPAGOMOD1"
              [(ngModel)]="form.mecanismoPago"
              [disabled]="disableR1"
              >
              <!-- (click)="clickMP($event)" -->
            </p-radioButton>
            <label class="ml-2 mt-2 pointer">Por superficie / Vigencia</label>
          </div>
          <div style="display: flex; flex-direction: row;">
            <p-radioButton
              name="resultado_MECPAGOMOD2"
              [value]="'MECPAGOMOD2'"
              inputId="SI_MECPAGOMOD2"
              [(ngModel)]="form.mecanismoPago"
              [disabled]="disableR2"
              >
              <!-- (click)="clickMP($event)" -->
            </p-radioButton>
            <label class="ml-2 mt-2 pointer">Por valor de estado natural y volumen movilizado</label>
          </div>
          <div style="display: flex; flex-direction: row;">
            <p-radioButton
              name="resultado_MECPAGOMOD3"
              [value]="'MECPAGOMOD3'"
              inputId="SI_MECPAGOMOD3"
              [(ngModel)]="form.mecanismoPago"
              [disabled]="disableR3"
              >
              <!-- (click)="clickMP($event)" -->
            </p-radioButton>
            <label class="ml-2 mt-2 pointer">Ambas</label>
          </div>

        </div>
      </div>
      <div class="row" *ngIf="form.mecanismoPago">
        <div class="col-12">
          <mat-tab-group [(selectedIndex)]="mecanismoTabIndex">
            <mat-tab [disabled]="disableTab1">
              <ng-template mat-tab-label>
                <span>Por superficie / Vigencia</span>
              </ng-template>
              <ng-template matTabContent>
                <div class="row pt-3 mb-4">
                  <div class="col-12 col-sm-4">
                    <label class="label">Área de TH (ha)</label>
                    <input
                      decimal
                      [decimalPlaces]="2"
                      [min]="0"
                      [maxLength]="15"
                      [(ngModel)]="form.areHA"
                      class="form-control form-control-sm"
                      autocomplete="off"
                      disabled
                    />
                  </div>
                  <div class="col-12 col-sm-4">
                    <label class="label">Monto de pago por hectárea</label>
                    <div class="p-inputgroup ig-left">
                      <p-dropdown
                        appendTo="body"
                        [options]="cboMonedas"
                        optionValue="value"
                        (onChange)="onChangeMoneda($event)"
                        [(ngModel)]="form.tipoMoneda"
                        optionLabel="text"
                      ></p-dropdown>
                      <input
                        decimal
                        [decimalPlaces]="2"
                        [min]="0"
                        [maxLength]="15"
                        class="form-control form-control-sm"
                        autocomplete="off"
                        (change)="changeMontoXha($event);"
                        [(ngModel)]="form.montoPagoHA"
                        [disabled]="form.detalle == '2'"
                      />
                      <p-dropdown
                        appendTo="body"
                        [options]="cboTipoMontoPA"
                        optionValue="value"
                        (onChange)="onChangeTipo($event)"
                        [(ngModel)]="form.detalle"
                        optionLabel="text"
                      ></p-dropdown>
                    </div>
                    <label class="label">T.C. Referencial: S/. 3.82</label>
                  </div>
                  <div class="col-12 col-sm-4">
                    <label class="label">Monto de pago por DA anual</label>
                    <input
                      decimal
                      [decimalPlaces]="2"
                      [min]="0"
                      [maxLength]="15"
                      class="form-control form-control-sm"
                      autocomplete="off"
                      [(ngModel)]="form.montoPagoAnual"
                      disabled
                    />
                  </div>
                </div>
                <div class="row mb-4" *ngIf="form.tipoMoneda == 'DOLARES'">
                  <div class="col-12 col-sm-4">
                    <label class="label">Cálculo en moneda nacional</label>
                    <input
                      decimal
                      [decimalPlaces]="2"
                      [min]="0"
                      [maxLength]="15"
                      class="form-control form-control-sm"
                      autocomplete="off"
                      [(ngModel)]="form.montoPagoAnualCalculado"
                      disabled
                    />
                  </div>
                </div>
                <div class="row" class="mt-4 mb-4">
                  <div class="col-12">
                    <h4 class="title2" style="border-bottom: 1px solid #ccc">
                      Cronograma de pago Anual
                    </h4>
                  </div>
                  <div class="col-12 text-right">
                  </div>
                  <div class="col-12">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>N°</th>
                          <th>Año</th>
                          <th>Fecha Inicio</th>
                          <th>Fecha fin</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let data of form.listaCronograma; let i = index">
                          <tr>
                            <td>{{ i + 1 }}</td>
                            <td>Año {{ data.anio }}</td>
                            <td>{{ data.fechaInicio | date: "dd/MM/yyyy" }}</td>
                            <td>{{ data.fechaFin | date: "dd/MM/yyyy" }}</td>
                            <td>                             
                              <span class="pointer" (click)="verPeriodosPago(data)">
                                <i
                                  class="{{
                                    !data.verPeriodo == true
                                      ? 'pi pi-arrow-circle-down'
                                      : 'pi pi-arrow-circle-up'
                                  }}"
                                ></i>
                              </span>
                            </td>
                          </tr>
                          <tr [hidden]="!data.verPeriodo">
                            <td></td>
                            <td colspan="3">
                              <table>
                                <tr>
                                  <td class="p-0 pt-4" colspan="5">
                                    <div class="row m-0 ml-4">
                                      <label class="label">Adjuntar Documento</label>
                                    </div>
                                    <div class="row m-0">
                                      <div class="col-4 m-0">
                                        <buttons-file-pago-shared
                                          [idPago]="form.idPago" 
                                          [loadFile]="true" 
                                          [codigoProceso]="'MECPAGODAPAG'" 
                                          [subCodigoArchivo]="'ANIO' + (i + 1)" 
                                          [codigoTipoDocumento]="'MECPAGODAVIG'" 
                                        >
                                        </buttons-file-pago-shared>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="p-0 pt-4" colspan="5">
                                    <div class="row m-0">
                                      <div class="col-12 m-0">
                                        <h4
                                          class="title2 mb-1 text-left"
                                          style="border-bottom: 1px solid #ccc"
                                        >
                                          Fechas Límite de Pago
                                        </h4>
                                      </div>
                                      <div class="col-12 text-right">
                                        <button
                                          type="button"
                                          class="btn btn-sm btn-default mb-2"
                                          title="Agregar"
                                          (click)="abrirModalPeriodo('N', data, null, null)"
                                        >
                                          <i class="pi pi-plus"></i>
                                        </button>
                                      </div>
                                      <div class="col-12">
                                        <table class="table">
                                          <thead>
                                            <tr>
                                              <th>N°</th>
                                              <th>Periodo</th>
                                              <th>Fecha Límite</th>
                                              <th>Monto</th>
                                              <th>Monto Final</th>
                                              <th>Balance de Pago</th>
                                              <th
                                                *ngIf="perfil == perfiles.TITULARTH"
                                              >
                                                Fecha de Comprobante
                                              </th>
                                              <th
                                                *ngIf="perfil == perfiles.TITULARTH"
                                              >
                                                Comentarios
                                              </th>
                                              <th></th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr *ngFor="let p of data.listaPeriodo; let i = index">
                                              <td>{{ i + 1 }}</td>
                                              <td>{{ p.descripcion }}</td>
                                              <td>{{ p.fechaLimite | date: "dd/MM/yyyy" }}</td>
                                              <td>{{ p.monto | number: "1.2-2" }}</td>
                                              <td>{{ p.montoFinal | number: "1.2-2" }}</td>
                                              <td>{{ p.balancePago | number: "1.2-2" }}</td>
                                              <td *ngIf="perfil == perfiles.TITULARTH">
                                                {{ p.fechaComprobante }}
                                              </td>
                                              <td *ngIf="perfil == perfiles.TITULARTH">
                                                {{ p.observacion }}
                                              </td>
                                              <td>
                                                <span
                                                  class="pointer mr-1"
                                                  (click)="abrirModalPeriodo('E', data, p, i)"
                                                >
                                                  <i class="pi pi-pencil"></i>
                                                </span>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <td></td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </div>
                <ng-container
                  *ngTemplateOutlet="descuentosPagosDA"
                ></ng-container>
              </ng-template>
            </mat-tab>
            <mat-tab [disabled]="disableTab2">
              <ng-template mat-tab-label>
                <span>Por valor de estado natural y volumen movilizado</span>
              </ng-template>
              <ng-template matTabContent>
               
                <tabla-especies-DA
                  [especies]="listaEspecies"
                  [nrDocumentoGestion]="idPlanManejo"
                  [idPago]="idPago"
                  [cabeceraEspecies]="cabeceraEspecies"
                  (updateGuiaPago)="listarGuiaPago()"
                ></tabla-especies-DA>
                <ng-container
                  *ngTemplateOutlet="descuentosPagosDA"
                ></ng-container>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
  <div class="step__btn mt-4 mb-4">
    <button class="btn-primary2" (click)="regresarTab()">
      Anterior
    </button>
    <button type="submit" class="btn-primary2" (click)="guardarPago()" [disabled]="!isRegistrado">
      Guardar
    </button>
  </div>
</div>

<ng-template #descuentosPagosDA>
  <div class="row mt-4">
    <div class="col-12">
      <h4 class="title2" style="border-bottom: 1px solid #ccc">
        Descuentos de pago por DA
      </h4>
    </div>
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th>N°</th>
            <th>Descripción</th>
            <th>Descuento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listDescuento; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ data.descDescuento }}</td>
            <td>{{ data.porcentaje | number: '1.2-2' }}%</td>
          </tr>
        </tbody>
        <tbody>
          <tr style="background: #e7e7e7">
            <td colspan="2"><b>Total Descuento</b></td>
            <td><b>{{ totalDescuento | number: '1.2-2' }}%</b></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<p-dialog
  header="{{ tituloPeriodoModal }}"
  appendTo="body"
  [(visible)]="verModalPeriodo"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row m-0">
      <div class="col-12 form-group">
        <label class="label">Periodo</label>
        <div class="form-control-selectk">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="periodoContext.descripcion"
          />
        </div>
      </div>
      <div class="col-12 form-group">
        <label class="label">Fecha Límite</label>
        <div class="content-date">
          <input
            autocomplete="off"
            class="form-control"
            [(ngModel)]="periodoContext.fechaLimite"
            matInput
            [matDatepicker]="fechaLimite"
            [min] = "cronogramaContext.fechaInicio"
            [max] = "cronogramaContext.fechaFin"
          />
          <i class="pi pi-calendar pointer" (click)="fechaLimite.open()"></i>
          <mat-datepicker #fechaLimite></mat-datepicker>
        </div>
      </div>
      <div class="col-12 form-group">
        <label class="label">Monto</label>
        <div class="form-control-selectk">
          <input
            decimal
            [decimalPlaces]="2"
            [min]="0"
            [maxLength]="15"
            class="form-control"
            [(ngModel)]="periodoContext.monto"
          />
        </div>
      </div>
      <div class="col-12 form-group">
        <label class="label">Monto Final</label>
        <div class="form-control-selectk">
          <input
            decimal
            [decimalPlaces]="2"
            [min]="0"
            [maxLength]="15"
            class="form-control"
            [(ngModel)]="periodoContext.montoFinal"
          />
        </div>
      </div>
      <div class="col-12 form-group">
        <label class="label">Balance de Pago</label>
        <div class="form-control-selectk">
          <input
            decimal
            [decimalPlaces]="2"
            [min]="0"
            [maxLength]="15"
            class="form-control"
            [(ngModel)]="periodoContext.balancePago"
          />
        </div>
      </div>
      <div class="col-12 form-group" *ngIf="perfil == perfiles.TITULARTH">
        <label class="label">Fecha de Comprobante</label>
        <div class="content-date">
          <input
            autocomplete="off"
            class="form-control"
            [(ngModel)]="periodoContext.fechaComprobante"
            matInput
            [matDatepicker]="fechaComprobante"
          />
          <i
            class="pi pi-calendar pointer"
            (click)="fechaComprobante.open()"
          ></i>
          <mat-datepicker #fechaComprobante></mat-datepicker>
        </div>
      </div>

      <div class="col-12 form-group" *ngIf="perfil == perfiles.TITULARTH">
        <label class="label">Comentarios (máx. caracteres 250):*</label>
        <textarea
          autocomplete="off"
          class="form-control form-control-sm"
          rows="4"
          maxlength="250"
          [(ngModel)]="periodoContext.observacion"
          pInputTextarea
        >
        </textarea>
      </div>

      <div class="col-12 form-group" *ngIf="perfil == perfiles.TITULARTH">
        <buttons-file-pago-shared
          label="Adjuntar comprobante"
          [codigoTipoDocumento]="'PAGOCOMPRO'"
          [idPago]="periodoContext.idPagoPeriodo"
        ></buttons-file-pago-shared>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      *ngIf="perfil != perfiles.TITULARTH"
      icon="pi pi-save"
      (click)="agregarPeriodo()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      *ngIf="perfil == perfiles.TITULARTH"
      icon="pi pi-save"
      (click)="agregarPeriodo()"
      pButton
      pRipple
      type="button"
      label="Registrar pago"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verModalPeriodo = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
