<div class="row m-0 pt-4">
  <div class="col-12">
    <h3 class="title2">Actividades de capacitación previstas para el año operativo:</h3>
  </div>
  <div class="col-2 col-sm-12 text-right">
    <button [disabled]="disabled"
      (click)="abrirModal()"
      class="btn btn-sm btn-default button-more mb-2"
      type="button"
      title="Agregar"
    >
      <i class="pi pi-plus"></i>
    </button>
  </div>
  <p-confirmPopup></p-confirmPopup>
  <div class="col-12">
    <p-table [value]="capacitaciones" class="table-justify" [scrollable]="true"
    [style]="{width:'100%'}">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 100px; min-width: 80px;">Acciones</th>
          <th style="min-width: 200px;" class="pl-0">Tema o Actividad</th>
          <th style="min-width: 120px;">Personal a capacitar</th>
          <th style="min-width: 120px;">Modalidad de capacitación</th>
          <th style="min-width: 120px;">Lugar</th>
          <th style="min-width: 120px;">Período</th>
          <th style="min-width: 120px;">Responsable</th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
          <td class="text-center" style="width: 100px; min-width: 80px;">
            <span
              class="pointer mr-1"
              title="Editar"
              (click)="!disabled&&openEditarCapacitacion(data, rowIndex)"
            >
              <i class="pi pi-pencil"></i>
            </span>
            <span
              class="pointer"
              title="Eliminar"
              (click)="!disabled&&openEliminarCapacitacion($event,rowIndex,data)"
            >
              <i class="pi pi-trash"></i>
            </span>
          </td>
          <td style="min-width: 200px;">
            <ul class="pl-0" *ngFor="let item of data.listCapacitacionDetalle">
              <li class="pl-2">
                <label>{{item.actividad}} </label>
              </li>
            </ul>
          </td>
          <td style="min-width: 120px;">{{data.personaCapacitar}}</td>
          <td style="min-width: 120px;">{{data.idTipoModalidad}}</td>
          <td style="min-width: 120px;">{{data.lugar}}</td>
          <td style="min-width: 120px;">{{data.periodo}}</td>
          <td style="min-width: 120px;">{{data.responsable}}</td>

        </tr>
      </ng-template>
    </p-table>


    <div class="row mt-4">
      <div class="col-12 ml-3 mr-3">
        <label class="m-0 mr-4 label"
          >Se amplía información en el Anexo 3:</label
        >
        <div class="p-field-radiobutton">
          <strong for="Si" class="mr-2">SI</strong>
          <p-radioButton
            name="monitoreo" [disabled]="disabled"
            value="S"
            inputId="Si"
            [(ngModel)]="selectAnexo"
          >
          </p-radioButton>
        </div>
        <div class="p-field-radiobutton">
          <strong for="No" class="mr-2">NO</strong>
          <p-radioButton
            name="monitoreo"
            value="N" [disabled]="disabled"
            inputId="No"
            [(ngModel)]="selectAnexo"
            (onClick)="anexoN($event)"
          >
          </p-radioButton>
        </div>
      </div>

      <div class="col-12" *ngIf="selectAnexo == 'S'">
        <div class="col-12 mt-4 ml-1 mr-5">
          <app-anexo-upload-file
            [label]="'Adjuntar Evidencia:'"
            [idPlanManejo]="idPlanManejo" [disabled]="disabled"
            [idTipoDocumento]="CodigoPOCC.TAB_11"
            [codigoProceso]="CodigoPOCC.TAB_11"
            (registrarArchivoId)="cargarIdArchivo($event)"
            (justificacionEmiter)="justificacionEmiter($event)"
          >
          </app-anexo-upload-file>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="step__btn mt-4">
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button class="btn-primary2" (click)="guardarCapacitacion()" [disabled]="disabled">
      Guardar
    </button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
  <br />
</div>
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-dialog
  header="{{tituloModal}}"
  header="Header"
  [(visible)]="displayBasic"
  [style]="{width: '50vw'}"
  [draggable]="false"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Personal</label>
            <input
              [(ngModel)]="capacitacion.personaCapacitar"
              type="text"
              class="form-control"
              placeholder="Ingrese Personal"
              maxlength="100"
            />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Modalidad</label>
            <div class="form-control-selectk">
              <p-dropdown
                [options]="listParametro"
                optionLabel="valorPrimario"
                optionValue="valorSecundario"
                placeholder="Seleccione Modalidad"
                [(ngModel)]="parametro.valorSecundario"
              ></p-dropdown>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Periodo</label>
            <input
              [(ngModel)]="capacitacion.periodo"
              type="text"
              class="form-control"
              placeholder="Ingrese el periodo"
              maxlength="100"
            />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Responsable</label>
            <input
              [(ngModel)]="capacitacion.responsable"
              type="text"
              class="form-control"
              placeholder="Ingrese al responsable"
              maxlength="100"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Lugar/Plataforma de Capacitación</label>
            <input
              [(ngModel)]="capacitacion.lugar"
              type="text"
              class="form-control"
              placeholder="Ingrese Lugar de Capacitación"
              maxlength="100"
            />
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label class="label">Tema o Actividad</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder=""
              [(ngModel)]="tema"
            />
            <div class="input-group-append">
              <button
                type="button"
                id="btnCargaShapeFile"
                (click)="agregarActividad()"
                class="btn btn-sm btn-secondary"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p-table [value]="temas">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 80px;">Acciones</th>
                <th>Tema o Actividad</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td class="text-center">
                  <span
                    class="pointer"
                    title="Eliminar"
                    (click)="eliminarTema($event,rowIndex,data)"
                  >
                    <i class="pi pi-trash"></i>
                  </span>
                </td>
                <td>{{data.actividad}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarParticipacion()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
