

<div class="container-fluit">
    <div class="row m-0">
        <div class="col-12 pt-4">
            <h3 class="title">REVISIÓN DE SOLICITUDES DE ACCESO</h3>
        </div>
        <div class="col-12 pt-4">
            <solicitud-acceso-general [dataBase]="dataBase" [solicitudAcceso]="solicitudAcceso"></solicitud-acceso-general>
        </div>
        <div class="col-12 p-0" *ngIf="solicitudAcceso.codigoTipoPersona=='TPERNATU'">
            <ng-container *ngTemplateOutlet="solicitudNatural" ></ng-container>
        </div>
       <div class="col-12 p-0" *ngIf="solicitudAcceso.codigoTipoPersona=='TPERJURI'">
        <ng-container *ngTemplateOutlet="solicitudJuridica" ></ng-container>
       </div>

        <div class="col-12 mt-4">
            <p-fieldset legend="Datos de la Revisión" [toggleable]="true">
                <div class="row m-0">
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label class="label">Usuario Revisor</label>
                            <input  [disabled]="dataBase.disabled" [(ngModel)]="solicitudAcceso.nombreUsuarioRevision" type="text" autocomplete="off" class="form-control"  />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="label">Observaciones</label>
                            <textarea maxlength="1000" [disabled]="solicitudAcceso.codigoEstadoSolicitud != 'ESACREGI'" [(ngModel)]="solicitudAcceso.observacion" rows="4" class="form-control"></textarea>
                        </div>
                    </div>
                </div>

            </p-fieldset>
        </div>

    </div>
    <div class="row m-0 mb-2 justify-content-center mt-4 mb-2">
        <div class="col-12 col-sm-4 text-center">
            <button pButton pRipple type="button" *ngIf="solicitudAcceso.codigoEstadoSolicitud == 'ESACREGI'" label="Aprobar" class="p-button-success p-button-outlined mr-2" (click) = "actualizarRevisionSolicitudAcceso('Aprobar')"></button>
            <button pButton pRipple type="button" *ngIf="solicitudAcceso.codigoEstadoSolicitud == 'ESACREGI'" label="Denegar" class="p-button-danger p-button-outlined mr-2" (click) = "actualizarRevisionSolicitudAcceso('Denegar')"></button>
            <button [routerLink]="['/planificacion/bandeja-solicitud-acceso']"  pButton pRipple type="button" label="Cancelar" class="p-button-secondary p-button-outlined "></button>
        </div>
    </div>
    <ng-template #solicitudNatural >
        <div class="col-12 mt-4">
            <solicitud-acceso-natural [dataBase]="dataBase" [solicitudAcceso]="solicitudAcceso"></solicitud-acceso-natural>
        </div>
    </ng-template>

    <ng-template #solicitudJuridica >
        <div class="col-12 pt-4">
            <solicitud-acceso-juridica [dataBase]="dataBase" [solicitudAcceso]="solicitudAcceso"></solicitud-acceso-juridica>
        </div>
        <div class="col-12 mt-4">
            <solicitud-acceso-natural [dataBase]="dataBase" [solicitudAcceso]="solicitudAcceso"></solicitud-acceso-natural>
        </div>
    </ng-template>
  <p-toast></p-toast>
</div>








