<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-12">
            <h3 class="title">Mantenimiento de Perfiles</h3>

            <div class="panelk br10 p-3">
                <div class="row">
                    <div class="col-12 col-sm-6 form-group">
                        <label class="label">Criterio de Búsqueda:</label>
                        <input class="form-control" placeholder="Ingresar código, perfil o descripción" [(ngModel)]="objbuscar.dato" type="text"
                            autocomplete="off" />
                    </div>
                    <div class="col-12 col-sm-6 form-group">
                        <label class="label">Estado:</label>
                        <div class="form-control-selectk ">
                            <p-dropdown [options]="estados" optionLabel="name" [(ngModel)]="objbuscar.idestado"
                                optionValue="code" (onChange)="objbuscar.indice=1"></p-dropdown>
                        </div>
                    </div>
                    <div class="col-12 my-2 form-group text-center">
                        <button class="btn btn-sm btn-secondary mr-2" (click)="btnLimpiar()">Limpiar</button>
                        <button class="btn btn-sm btn-secondary mr-2" (click)="listarBandeja(objbuscar)">Buscar</button>
                        <button class="btn btn-sm btn-secondary" (click)="openModalMantenimiento('C',null)">Nuevo</button>
                    </div>
                </div>
            </div>

            <p-confirmPopup></p-confirmPopup>
            <div class="mt-4">
                <div class="tablek">
                    <p-table [value]="listaBandejaPerfil">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 80px;">Acciones</th>
                                <th>Código Perfil</th>
                                <th>Perfil</th>
                                <th>Descripción</th>
                                <th>Estado</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data>
                            <tr>
                                <td class="text-center">
                                    <span class="pointer mr-1" title="Editar"
                                        (click)="openModalMantenimiento('E',data)">
                                        <i class="pi pi-pencil"></i>
                                    </span>
                                    <span class="pointer mr-1" title="Visualizar"
                                        (click)="openModalMantenimiento('R',data)">
                                        <i class="pi pi-eye"></i>
                                    </span>

                                    <span class="pointer" title="Eliminar" (click)="openEliminarRegistro($event,data)">
                                        <i class="pi pi-trash"></i>
                                    </span>
                                </td>
                                <td>{{data.codigoPerfil}}</td>
                                <td>{{data.perfil}}</td>
                                <td>{{data.descripcion}}</td>
                                <td>{{ (data.estado=="1"?'Activo':'Inactivo') }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10, 25, 50, 100]"></p-paginator>

                </div>

            </div>
        </div>



        <p-dialog header="{{tituloModalMantenimiento}}" [(visible)]="verModalMantenimiento" [modal]="true"
            [style]="{width: '40vw'}" [maximizable]="false" [baseZIndex]="10000" [draggable]="false" [resizable]="true">
            <ng-template pTemplate="content">
                <form [formGroup]='MantenedorFormulario' novalidate>
                    <div class="form-group">
                        <label class="label">Código Perfil:</label>
                        <input formControlName="codigoPerfil"
                            (input)="MantenedorFormulario.get('codigoPerfil')?.setValue(MantenedorFormulario.get('codigoPerfil')?.value.toUpperCase())"
                            [readonly]="accionMantenimiento == 'R'" type="text" class="form-control" placeholder="Ingrese código del perfil">

                    </div>
                    <div class="form-group">
                        <label class="label">Perfil: *</label>
                        <input formControlName="perfil" [readonly]="accionMantenimiento == 'R'" maxlength="45"
                            type="text" class="form-control" placeholder="Ingrese nombre de perfil">
                        <mensaje-error-control [control]="MantenedorFormulario.controls['perfil']">
                        </mensaje-error-control>
                    </div>
                    <div class="form-group">
                        <label class="label">Tipo Contrato: *</label>
                        <div class="form-control-selectk">
                            <p-dropdown formControlName="idtipoContacto" [disabled]="accionMantenimiento == 'R'"
                                [options]="listacontacto" optionValue="value" optionLabel="text"></p-dropdown>
                        </div>
                        <mensaje-error-control [control]="MantenedorFormulario.controls['idtipoContacto']">
                        </mensaje-error-control>
                    </div>
                    <div class="form-group">
                        <label class="label">Descripción: *</label>
                        <input formControlName="descripcion" [readonly]="accionMantenimiento == 'R'" maxlength="190"
                            type="text" class="form-control" placeholder="Ingrese descripción">
                        <mensaje-error-control [control]="MantenedorFormulario.controls['descripcion']">
                        </mensaje-error-control>
                    </div>

                    <div class="form-group">
                        <label class="label">Estado: *</label>
                        <div>
                            <div class="p-field-radiobutton">
                                <p-radioButton formControlName="estado" [disabled]="accionMantenimiento == 'R'"
                                    name="estado" value="1" inputId="activo"></p-radioButton>
                                <label class="pointer" for="activo">Activo</label>
                            </div>
                            <div class="p-field-radiobutton">
                                <p-radioButton formControlName="estado" [disabled]="accionMantenimiento == 'R'"
                                    name="estado" value="0" inputId="inactivo"></p-radioButton>
                                <label class="pointer" for="inactivo">Inactivo</label>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-template>
            <ng-template pTemplate="footer">
                <button icon="pi pi-save" *ngIf="accionMantenimiento != 'R'" (click)="registrarPerfil(perfilContext)"
                    pButton pRipple type="button" label="Guardar" class="p-button-success p-button-outlined"></button>
                <button icon="pi pi-times" *ngIf="accionMantenimiento != 'R'" (click)="verModalMantenimiento=false"
                    pButton pRipple type="button" label="Cancelar" class="p-button-danger p-button-outlined"></button>
            </ng-template>
        </p-dialog>
    </div>

    <p-toast></p-toast>