<div class="container-fluit">
  <div class="row">
    <div class="col-12">
      <h3 class="title">
        Otorgamiento de contrato de concesión forestal por Procedimiento
        Abreviado - Postulación : {{ IdProcesoPostulacion }}
      </h3>
    </div>
    <div class="col-12">
      <br />
      <div>
        <label
          >Debes completar los primeros 5 requisitos de manera obligatoria para
          postular en el proceso</label
        >
      </div>
      <div>
        <label>( * ) Campos obligatorios.</label>
      </div>
      <div class="float-right">
        <!--<button *ngIf="idEstatusProceso != 3 && usuario.sirperfil === perfil.AUTORIDAD_REGIONAL"
          class="btn btn-sm btn-primary2 mr-2 mb-3" (click)="recepcionDocumento()" type="button">Recepción de
          documentos</button>-->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab [selected]="false">
          <ng-template pTemplate="header">
            Declaración Jurada
            <span style="position: absolute; right: 5%; top: 25%">
              Estado: {{ declaraJuradaStatus }}
            </span>
          </ng-template>

          <div class="panelk br10 p-3">
            <div class="col-md-12">
              <app-declaracion-jurada
                [idAnexoStatus]="idDeclaraJuradaStatus"
                [isSolCancel]="disabledValidarAnexo"
                (validarAnexo)="validar($event)"
              >
              </app-declaracion-jurada>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab [selected]="false">
          <ng-template pTemplate="header">
            Resumen de la Solicitud de Concesión Forestal con Fines Maderables
            <span style="position: absolute; right: 5%; top: 25%">
              Estado: {{ anexo1Status }}
            </span>
          </ng-template>

          <div class="panelk br10 p-3">
            <div class="col-md-12">
              <app-anexo1
                [idAnexoStatus]="idAnexo1Status"
                [isSolCancel]="disabledValidarAnexo"
                (validarAnexo)="validar($event)"
              ></app-anexo1>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab [selected]="false">
          <ng-template pTemplate="header">
            Acreditación de la Capacidad Técnica
            <span style="position: absolute; right: 5%; top: 25%">
              Estado: {{ anexo2Status }}
            </span>
          </ng-template>
          <div class="panelk br10 p-3">
            <div class="col-md-12">
              <app-anexo2
                [idAnexoStatus]="idAnexo2Status"
                [isSolCancel]="disabledValidarAnexo"
                (validarAnexo)="validar($event)"
              ></app-anexo2>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab [selected]="false">
          <ng-template pTemplate="header">
            Declaración Jurada de Ingresos, Cuentas, Bienes, y Capacidad
            <br />de Acceso al Mercado e Inserción a Cadena Productiva o de
            Servicios
            <span style="position: absolute; right: 5%; top: 25%">
              Estado: {{ anexo3Status }}
            </span>
          </ng-template>
          <div class="panelk br10 p-3">
            <div class="col-md-12">
              <app-anexo3
                [idAnexoStatus]="idAnexo3Status"
                [isSolCancel]="disabledValidarAnexo"
                (validarAnexo)="validar($event)"
              ></app-anexo3>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab [selected]="false">
          <ng-template pTemplate="header">
            Propuesta Técnica para el Manejo del Área
            <span style="position: absolute; right: 5%; top: 25%">
              Estado: {{ anexo4Status }}
            </span>
          </ng-template>
          <div class="panelk br10 p-3">
            <div class="col-md-12">
              <app-anexo4
                [idAnexoStatus]="idAnexo4Status"
                [isSolCancel]="disabledValidarAnexo"
                (validarAnexo)="validar($event)"
              ></app-anexo4>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab [selected]="false">
          <ng-template pTemplate="header">
            Otros Documentos
            <span style="position: absolute; right: 5%; top: 25%">
              Estado: {{ otrosAnexoStatus }}
            </span>
          </ng-template>
          <div class="panelk br10 p-3">
            <div class="col-md-12">
              <app-anexo-otros
                [idAnexoStatus]="idOtrosAnexoStatus"
                [isSolCancel]="disabledValidarAnexo"
                (validarAnexo)="validar($event)"
              ></app-anexo-otros>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-12">
      <app-datos-cancelacion
        *ngIf="idEstatusProceso == 32 || idEstatusProceso == 33"
        [disabledDatosCancelacion]="disabledDatosCancelacion"
      ></app-datos-cancelacion>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-cargar-resolucion
        [idAnexoStatus]="idCargarResolucion"
        (validarAnexo)="validarGuardar($event)"
        *ngIf="isArffs"
      ></app-cargar-resolucion>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <button
        [disabled]="
          idStatusAnexo == 5 && idEstatusProceso == 3 ? '' : 'disabled'
        "
        class="btn btn-sm btn-primary2"
        (click)="postular()"
      >
        Postular
      </button>

      <!-- <button [disabled]="idStatusAnexoTerminado == 5 && (idEstatusProceso == 14 || idEstatusProceso == 2 || idEstatusProceso == 4) ? '' : 'disabled'" class="btn btn-sm btn-primary2 "
      (click)="enviarValidacion()">Enviar Primera Validación</button>-->

      <!--
      <button [disabled]="habilitaBtnObservar ? '' : 'disabled'" class="btn btn-sm btn-primary2 "
        (click)="btObservar()">Observar Solicitud</button>
      <button
        [disabled]="idStatusAnexoTerminado == 5 && (idEstatusProceso === 5 || idEstatusProceso === 4) ? '' : 'disabled'"
        class="btn btn-sm btn-primary2 " (click)="publicar()">Aprobar Solicitud</button>
      -->
      <button
        *ngIf="isArffs"
        [disabled]="habilitarObservarSol ? '' : 'disabled'"
        class="btn btn-sm btn-primary2"
        (click)="btObservar()"
      >
        Observar Solicitud
      </button>

      <button
        *ngIf="isArffs"
        [disabled]="habilitarAprobarSol ? '' : 'disabled'"
        class="btn btn-sm btn-primary2"
        (click)="openAprobarSolicitud($event)"
      >
        Aprobar Solicitud
      </button>

      <button
        *ngIf="isArffs"
        [disabled]="habilitarRechazarSol ? '' : 'disabled'"
        class="btn btn-sm btn-primary2"
        (click)="openRechazarSolicitud($event)"
      >
        Rechazar Solicitud
      </button>

      <button
        [disabled]="(idEstatusProceso == 4 || idEstatusProceso == 30) && isTitular ? '' : 'disabled'"
        class="btn btn-sm btn-primary2"
        (click)="enviarSubsanacion()"
      >
        Enviar Subsanación
      </button>

      <button
        class="btn btn-sm btn-primary2"
        (click)="generarDocumentoCompilado()"
      >
        Generar Documento
      </button>

      <div>
        <br />
        <h3 class="title2">Comentario</h3>
      </div>
      <span class="required"></span>
      <textarea
        [className]="
          habilitarTextArea
            ? 'form-control form-control-sm bg-gray'
            : 'form-control form-control-sm bg-gray'
        "
        rows="4"
        [(ngModel)]="observacionARFFS"
        [disabled]="habilitarTextArea && !isTitular ? false : true"
      ></textarea>

      <!-- <button class="btn btn-sm btn-primary2 " (click)="validarCondiciones()">Validar Condiciones M&iacute;nimas</button> -->
    </div>
  </div>
  <br />

  <p-toast position="bottom-center" key="tl"></p-toast>

  <!-- MODAL DE CONFIRMACION -->
  <p-dialog
    header="Postular"
    [(visible)]="showConfirm"
    [style]="{ width: '50vw' }"
    [modal]="true"
    [baseZIndex]="10000"
  >
    <div>
      Se realizó con éxito el envío de documentos del proceso de postulación N°
      {{ IdProcesoPostulacion }}. Por favor, presentar los documentos físicos
      para su evaluación
    </div>
    <ng-template pTemplate="footer">
      <p-button
        icon="pi pi-check"
        (click)="enviarCerrarConfim()"
        label="Aceptar"
        class="p-button-text"
      ></p-button>
      <!-- <p-button icon="pi pi-times" (click)="showConfirm=false" label="No"></p-button> -->
    </ng-template>
  </p-dialog>

  <!-- MODAL DE AVISO -->
  <p-dialog
    header="Enviar Subsanación"
    [(visible)]="showConfirmObservado"
    [style]="{ width: '40vw' }"
    [modal]="true"
    [baseZIndex]="10000"
  >
    <div>
      Se realizó con éxito el envío de los documentos observados del proceso
      {{ IdProcesoPostulacion }}.
    </div>
    <ng-template pTemplate="footer">
      <p-button
        icon="pi pi-check"
        (click)="enviarCerrarConfimObservado()"
        label="Entendido"
        class="p-button-text"
      ></p-button>
    </ng-template>
  </p-dialog>
</div>
