<div class="mt-4 mb-4">

  <p-table [value]="listaRequisitos">
    <ng-template pTemplate="header">
      <tr>
        <th>Requisito</th>
        <th>Observación</th>
        <th>Resultado</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
      <tr>
        <td>{{ data.detalle }}</td>
        <td>{{ data.observacion }}</td>
        <td>
          <span [ngSwitch]="data.conforme">
                <label *ngSwitchCase="CodigoPermisoForestal.ESTADO_VAL_VALIDADO_OBSERVADO" class="eval-rojo">Observado</label>
                <label *ngSwitchCase="CodigoPermisoForestal.ESTADO_VAL_VALIDADO" class="eval-verde">Validado</label>
                <label *ngSwitchDefault class="eval-amarillo">Pendiente</label>
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <br>
  <br>
  <br>

  <div class="row m-0">
    <div class="col-12 col-sm-3">
      <div class="form-group">
        <label class="label">Número de Trámite</label>
        <input type="text" maxlength="100" autocomplete="off" [(ngModel)]="evaluacionDet.descripcion" class="form-control" placeholder="Ingresar Nro. de Trámite"/>
      </div>
    </div>


    <div class="col-12 col-md-3">
      <div class="label">Fecha</div>
      <div class="content-date">
        <input autocomplete="off" class="form-control" [matDatepicker]="fpPGMF" [(ngModel)]="fecha" [min]="minDate"/>
        <i class="pi pi-calendar pointer" (click)="fpPGMF.open()" ></i>
        <mat-datepicker #fpPGMF></mat-datepicker>
      </div>
    </div>


  </div>

  <div class="row m-0">
    <div class="col-12 col-sm-6">
      <buttons-file-permiso-forestal-shared [label]="'Archivos'"
                                            [idPermisoForestal]="idPermisoForestal"
                                            [codigoProceso]="codigoProceso"
                                            [codigoTipoDocumento]="'DOC'"
                                            [subCodigoArchivo]="codigoAcordeonVal"
                                            (registrarArchivoId)="registroArchivo($event)"
      ></buttons-file-permiso-forestal-shared>
    </div>
  </div>

  <div class="step__btn mt-4">
    <button class="btn-primary2" (click)="regresarTab()">Regresar</button>
    <button type="button" class="btn btn-primary2 pl-3 pr-3" (click)="guardarValidacion()">Guardar</button>
    <button class="btn-primary2" (click)="enviarValidacion()"  [disabled]="isDisabledEnviar">
      Enviar
    </button>
  </div>
</div>
<p-toast></p-toast>
