.eval-rojo{
  color:red;
  font-weight: bold;
  font-size: 1.3em;
}

.eval-verde{;
  color:#4caf50;
  font-weight: bold;
  font-size: 1.3em;
}

.eval-amarillo{;
  color: #f6e530;
  font-weight: bold;
  font-size: 1.3em;
}

