<div class="row">
    <div class="col-12 form-group">
        <label for="descripcionImpacto">Descripción de impacto</label>
        <textarea id="descripcionImpacto" autocomplete="off" class="form-control form-control-sm" rows="4" maxlength="100"
            [autoResize]="autoResize" [(ngModel)]="impactoObjt.descripcionImpacto" disabled pInputTextarea></textarea>
    </div>

    <div class="col-12 form-group">
        <label for="medidasControl">Medida de control ambiental</label>
        <input type="text" id="medidasControl" autocomplete="off" class="form-control contents_form_input" maxlength="100"
            [(ngModel)]="impactoObjt.medidasControl" disabled>
    </div>

    <div class="col-12 form-group">
        <label for="medidasMonitoreo">Medida de Monitoreo</label>
        <input type="text" id="medidasMonitoreo" autocomplete="off" class="form-control contents_form_input" maxlength="100"
            [(ngModel)]="impactoObjt.medidasMonitoreo" placeholder="Ingrese su medida de monitoreo">
    </div>

    <div class="col-12 form-group">
        <label for="frecuencia">Frecuencia</label>
        <input type="text" id="frecuencia" autocomplete="off" class="form-control contents_form_input" maxlength="100"
            [(ngModel)]="impactoObjt.frecuencia" placeholder="Ingrese la frecuencia">
    </div>

    <div class="col-12 form-group">
        <label for="responsable">Responsable</label>
        <input type="text" id="responsable" autocomplete="off" class="form-control contents_form_input" maxlength="100"
            [(ngModel)]="impactoObjt.responsable" placeholder="Ingrese al responsable ">
    </div>

</div>
<div class="d-flex justify-content-end">
    <button
      icon="pi pi-save"
      (click)="agregar()"
      pButton
      pRipple
      type="button"
      [label]="'Aceptar'"
      class="p-button-success p-button-outlined"
      style="width: 106px"
    ></button>
    &nbsp;&nbsp;
    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
      style="width: 106px"
    ></button>
  </div>
  <p-toast  key="toast"></p-toast>