<div class="col-12">
  <div class="row m-0">
    <div class="col-12 p-4 p-field-radiobutton d-inline-full">
      <p-radioButton
        name="tipoUsuario"
        [value]="true"
        inputId="si"
      ></p-radioButton>
      <label class="m-0 pl-1 pointer" for="si">Favorable</label>
    </div>

    <div class="col-12  p-4 p-field-radiobutton d-inline-full">
      <p-radioButton
        name="tipoUsuario"
        [value]="false"
        inputId="no"
      ></p-radioButton>
      <label class="m-0 pl-1 pointer" for="no">Desfavorable</label>
    </div>
  </div>
  <mat-divider class="p-3"></mat-divider>
  <div class="row">
    <div class=" col-6 justify-content-end">
      <button class="btn btn-sm btn-primary2" >
        Solicitar Inspección Oculta
      </button>
    </div>
    <div class="row col-6 justify-content-end">
      <div class="p-2">
        <button
          icon="pi pi-save"
          pButton
          pRipple
          type="button"
          label="Guardar"
          (click)="agregar()"
          class="p-button-success p-button-outlined"
        ></button>
      </div>
      <div class="p-2">
        <button
          icon="pi pi-times"
          pButton
          pRipple
          type="button"
          label="Cancelar"
          (click)="cancelar()"
          class="p-button-danger p-button-outlined"
        ></button>
      </div>
    </div>
  </div>
</div>
<p-toast position="bottom-center" key="tl"></p-toast>
