<div class="mt-2">
    <p class="texto-parrafo">
      Área forestal productiva (AFP) en las PC por cada bloque
      quinquenal (primera opción) y/o parcelas de corta establecidas
      indistintamente en el área de la UMF (segunda opción)</p>
  </div>
  <app-map-custom #map [idPlanManejo]="idPGMF" [codigoProceso]="'PGMFCFFMOPUMF'" [codigoSubSeccion]="'PGMFCFFMOPUMFDABPC'"
    [tipoGeometria]="'TPPARC'" [identificarBosque]="true" [validaSuperposicionAprovechar]="true"
    [opcionCheckParcela]="opcionCheckParcela" [valueCheckParcela]="valueCheckParcela"
    (listTipoBosqueParcelaOpcion2)="listarTipoBosquePorBQuinquenalParcelaOpcion2($event)"
    (listTipoBosqueParcelaOpcion1)="listarTipoBosquePorBQuinquenalParcelaOpcion1($event)"
    (deleteRegisterTable)="deleteRegisterTable($event)"
    [ShowBotonCargar]="false"
    (registrarArchivoId)="registroArchivo($event)"
    [disabled]="isDisbledObjFormu"
    >
  </app-map-custom>
  <!-- <h3 class="title2 p-4">Primer Opción</h3> -->
  <div class="mt-4">
    <label class="label">Primera Opción</label>
    <button type="button" (click)="fileInputSHPPrimerOpcion.click()"
            class="btn-secondary ml-2" [disabled]="isDisbledObjFormu">
            Cargar shape file
            <input #fileInputSHPPrimerOpcion [attr.data-zone]="'OPCION1'" type="file" (change)="onChangeFileSHP($event)"
              style="display: none;" />
          </button>
  </div>
  <div class="col-12 col-sm-12 text-right">
    <br />
    <button (click)="eliminarParcelaCortaOnly(bloqueQuinquenalOpcion1)" class="btn btn-sm btn-default mb-2" type="button"
      title="Eliminar Parcela Opcion 1" [disabled]="isDisbledObjFormu">
      <i class="pi pi-times"></i>
    </button>
    <br />
  </div>
  <p-table id="porBloque" [value]="bloqueQuinquenalOpcion1">
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="2" style="text-align: center; width: 10%;">
          Bloque
        </th >
        <th rowspan="2" style="text-align: center; width: 5%;">
          PC
        </th>
        <th rowspan="2" style="text-align: center; width: 50%;">
          Tipo de bosque
        </th>
        <th colspan="2" style="text-align: center; width: 30%;">
          AFP
        </th>
      </tr>
      <tr>
        <th style="text-align: center;">Ha</th>
        <th style="text-align: center;">%</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <th rowspan="2" style="text-align: center;">
          {{data.label}}
        </th>
        <th rowspan="2" style="text-align: center;">
          {{data.parcela}}
        </th>
      </tr>
      <tr *ngFor="let d of data.tipoBosque">
        <td style="text-align: center;">
          {{d.descripcion}}
        </td>
        <td style="text-align: center;">
          {{d.areaHA}}
        </td>
        <td style="text-align: center;">
          {{d.areaHAPorcentaje}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="3">Total</td>
        <td>{{totalAreaQuinquenalOpcion1}}</td>
        <td>{{totalPorcentajeQuinquenalOpcion1}} %</td>
      </tr>
    </ng-template>
  </p-table>

  <!-- <h3 class="title2 p-4">Segunda Opción</h3> -->
  <div class="mt-4">
   <label class="label">Segunda Opción</label>
   <button type="button" (click)="fileInputSHPSegundaOpcion.click()"
            class="btn-secondary ml-2" [disabled]="isDisbledObjFormu">
            Cargar shape file
            <input #fileInputSHPSegundaOpcion [attr.data-zone]="'OPCION2'" type="file" (change)="onChangeFileSHP($event)"
              style="display: none;" />
          </button>
  </div>
  <div class="col-12 col-sm-12 text-right">
    <br />
    <button (click)="eliminarParcelaCortaOnly(bloqueQuinquenalOpcion2)" class="btn btn-sm btn-default mb-2" type="button"
      title="Eliminar Parcela Opcion 2" [disabled]="isDisbledObjFormu">
      <i class="pi pi-times"></i>
    </button>
    <br />
  </div>
  <p-table id="indistinto" [value]="bloqueQuinquenalOpcion2">
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="2" style="text-align: center; width: 20%;">
          PC
        </th>
        <th rowspan="2" style="text-align: center; width: 50%;">
          Tipo de bosque
        </th>
        <th colspan="2" style="text-align: center; width: 30%;">
          AFP
        </th>
      </tr>
      <tr>
        <th style="text-align: center;">Ha</th>
        <th style="text-align: center;">%</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <th rowspan="2" style="text-align: center;">
          {{data.label}}
        </th>
      </tr>
      <tr *ngFor="let d of data.tipoBosque">
        <td style="text-align: center;">
          {{d.descripcion}}
        </td>
        <td style="text-align: center;">
          {{d.areaHA}}
        </td>
        <td style="text-align: center;">
          {{d.areaHAPorcentaje}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="2">Total</td>
        <td>{{totalAreaQuinquenalOpcion2}}</td>
        <td>{{totalPorcentajeQuinquenalOpcion2}} %</td>
      </tr>
    </ng-template>
  </p-table>

  <div class="row mt-4">
    <div class="col-12">
      <label class="m-0 mr-5 label">Se amplía información en el Anexo 4:</label>
      <div class="row">
        <div class="col-12 col-md-12">
          <div class="p-field-radiobutton">
            <strong for="Si">SI</strong>
            <p-radioButton name="informacionAnexo4" value="S" inputId="Si" [disabled]="isDisbledObjFormu" [(ngModel)]="selectAnexo">
            </p-radioButton>
          </div>
          <div class="p-field-radiobutton">
            <strong for="No">NO</strong>
            <p-radioButton name="informacionAnexo4" value="N" inputId="No" (onClick)="anexoN()" [disabled]="isDisbledObjFormu" [(ngModel)]="selectAnexo">
            </p-radioButton>
          </div>
        </div>
        <div class="col-12 p-0" [hidden]="selectAnexo == 'N'">
          <div *ngIf="selectAnexo == 'S'">
            <app-anexo-upload-file
              [fileInfGenreal]="fileAnexo4_2_2"
              [label]="'Adjuntar Evidencia:'"
              [idPlanManejo]="idPGMF"
              [idTipoDocumento]="CodigosPGMF.PGMF_TAB_4_2_2"
              [codigoProceso]="CodigosPGMF.PGMF_TAB_4_2_2"
              (registrarArchivoId)="cargarIdArchivo($event)"
              [isDisbledObjFormu]="isDisbledObjFormu"
            >
            </app-anexo-upload-file>
          </div>
        </div>
      </div>

    </div>
    <br>
    <br>
    <div class="col-12 mt-2">
      <button
        class="btn-primary2"
        (click)="guardar()"
        [disabled]="isDisbledObjFormu || (bloqueQuinquenalOpcion1.length == 0 && bloqueQuinquenalOpcion2.length == 0)"
      >
        Guardar
      </button>
  </div>
  </div>
