<div style="padding: 20px 0px">
  <span class="texto-parrafo">(Incluir en el Mapa 3 del Anexo 1)</span>
</div>
<app-map-custom
  [idPlanManejo]="idPGMF"
  [codigoProceso]="'PGMFCFFMOPUMF'"
  [codigoSubSeccion]="'PGMFCFFMOPUMFDABBQ'"
  [tipoGeometria]="'TPQUIN'"
  [identificarBosque]="true"
  [validaSuperposicionAprovechar]="true"
  (listTipoBosque)="listarTipoBosquePorBQuinquenal($event)"
  [listBloqueQuinquenal]="bloques"
  [idOrdenamientoProteccion] ="idOrdenamientoProteccion"
  (deleteRegisterTable)="deleteRegisterTable($event)"
  (registrarArchivoId)="registroArchivo($event)"
  [disabled]="isDisbledObjFormu"
>
</app-map-custom>
<div class="col-12 mt-4 mb-3">
  <div class="row">
    <div class="col-sm-4">
      <span>Número de Bloques:</span>
      <input
        numero
        [minlength]="1"
        [maxlength]="2"
        class="form-control"
        [(ngModel)]="objBosque.noBloques"
        [disabled]="isDisbledObjFormu"
      />
    </div>

    <div class="col-sm-4">
      <span style="padding-right: 15px">
        Período de aprovechamiento (años):</span
      >
      <input
        numero
        [minlength]="1"
        [maxlength]="2"
        class="form-control"
        [(ngModel)]="objBosque.anios"
        [disabled]="isDisbledObjFormu"
      />
    </div>
  </div>
  <br />
  <!-- <div class="col-12 col-sm-12 text-right">
    <br />
    <button
      (click)="eliminarBloque(bloques)"
      class="btn btn-sm btn-default mb-2"
      type="button"
      title="Eliminar Bloque"
      [disabled]="isDisbledObjFormu"
    >
      <i class="pi pi-times"></i>
    </button>
    <br />
  </div> -->
  <p-table [value]="bloques">
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="2" style="width: 20%">Bloque</th>
        <th rowspan="2" style="width: 50%">Tipo de bosque</th>
        <th colspan="2" style="width: 30%">AFP</th>
      </tr>
      <tr>
        <th>Ha</th>
        <th>%</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <th rowspan="2" style="text-align: center">
          {{ data.label }}
        </th>
      </tr>
      <tr *ngFor="let d of data.tipoBosque">
        <td>
          {{ d.descripcion }}
        </td>
        <td>
          {{ d.areaHA }}
        </td>
        <td>
          {{ d.areaHAPorcentaje }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td rowspan="4">Total</td>
      </tr>
      <tr>
        <td>Total AFP de los Bosques</td>
        <td>{{ totalAreaQuinquenal }}</td>
        <td>{{ totalPorcentajeQuinquenal }} %</td>
      </tr>
      <tr>
        <td>Total áreas no productivas</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Área total de la concesión</td>
        <td></td>
        <td></td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="row mt-4">
  <div class="col-12">
    <label class="m-0 mr-5 label">Se amplía información en el Anexo 4:</label>
    <div class="row">
      <div class="col-12 col-md-12">
        <div class="p-field-radiobutton">
          <strong for="Si">SI</strong>
          <p-radioButton
            name="informacionAnexo4"
            value="S"
            inputId="Si"
            [(ngModel)]="selectAnexo"
            [disabled]="isDisbledObjFormu"
          >
          </p-radioButton>
        </div>
        <div class="p-field-radiobutton">
          <strong for="No">NO</strong>
          <p-radioButton
            name="informacionAnexo4"
            value="N"
            inputId="No"
            [(ngModel)]="selectAnexo"
            [disabled]="isDisbledObjFormu"
            (onClick)="anexoN()"
          >
          </p-radioButton>
        </div>
      </div>
      <div class="col-12 p-0" [hidden]="selectAnexo == 'N'">
        <div *ngIf="selectAnexo == 'S'">
          <app-anexo-upload-file
            [fileInfGenreal]="fileAnexo4_2_1"
            [label]="'Adjuntar Evidencia:'"
            [idPlanManejo]="idPGMF"
            [idTipoDocumento]="CodigosPGMF.PGMF_TAB_4_2_1"
            [codigoProceso]="CodigosPGMF.PGMF_TAB_4_2_1"
            (registrarArchivoId)="cargarIdArchivo($event)"
            [isDisbledObjFormu]="isDisbledObjFormu"
          >
          </app-anexo-upload-file>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="col-12 mt-3">
    <button
      class="btn-primary2"
      (click)="guardar()"
      [disabled]="isDisbledObjFormu || bloques.length == 0"
    >
      Guardar
    </button>
  </div>
</div>
