<div class="mt-4 mb-4">
  <p-accordion>
    <p-accordionTab [selected]="true" header="Evaluar Requisitos Presentados TUPA">
      <!-- <div class="row">
        <div class="col-3">
          <label>Nro. de Trámite</label>
          <input
            type="text"
            class="form-control"
            placeholder=""
            [(ngModel)]="evaluacionRequisitos.detalle"
          />
        </div>
        <div class="col-3">
          <label class="label">Fecha de Documento</label>
          <div class="content-date">
            <input
              class="form-control"
              type="text"
              autocomplete="off"
              matInput
              [matDatepicker]="fechaTramite"
              readonly="true"
              [(ngModel)]="evaluacionRequisitos.fechaTramite"
            />
            <i class="pi pi-calendar pointer" (click)="fechaTramite.open()"></i>
            <mat-datepicker #fechaTramite></mat-datepicker>
          </div>
        </div>


        <div  class="col-6 my-2 form-group  botones-mdp">
          <button
          class="btn btn-sm btn-secondary mr-2"
          (click)="filtroRequisitosTUPA()"
          
        >
          Buscar
        </button>
          <button
          class="btn btn-sm btn-secondary mr-2"
          (click)="limpiarFiltroRequisitosTUPA()"
          
        >
          Limpiar
        </button>
        </div>
      </div> -->

      <div class="row m-0 pt-4">
        <div class="col-12 p-0">
          <mat-tab-group
            animationDuration="0ms"
            [selectedIndex]="tabIndex"
            (selectedIndexChange)="informChange($event)"
          >
            <!-- <mat-tab>
              <ng-template mat-tab-label>
                <span class="text-center">Requisitos generales</span>
              </ng-template>
              <ng-template matTabContent>
                <tab-requisitos-tupa
                  [idPlanManejo]="idPlanManejo"
                  [tipo]="'generales'"
                ></tab-requisitos-tupa>
              </ng-template>
            </mat-tab> -->

            <mat-tab>
              <ng-template mat-tab-label>
                <span class="text-center">Requisitos TUPA</span>
              </ng-template>
              <ng-template matTabContent>
                <tab-requisitos-tupa
                  [idPlanManejo]="idPlanManejo"
                  (idMesaPartes)="idMesaPartes= $event"
                  [tipo]="'TUPA'"
                  [idTipoDocumento]="tipoPlan +'TUPA'"
                  [codigoProceso]="tipoPlan"
                  [idTipoDocumentoFirma]=" tipoPlan+'FRTU'"
                  (longitudTUPA)="longitudTupa = $event"
                  (haveInfoMesaPartes)="infoMesaPartes = $event"
                ></tab-requisitos-tupa>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

      <div
        class="row"
        style="display: flex; justify-content: end; margin: 10px"
      >
        <button
          icon="pi pi-save"
          pButton
          pRipple
          type="button"
          label="Enviar a Subsanar"
          class="p-button-success p-button-outlined mr-2"
          (click)="cambiarEstadoMdp('EMDOBS')"
          [disabled]="idMesaPartes==0 || longitudTupa==0 || (isLoadingSubsanar$|async) || disabledCodigoEstadoPlanPresentado || !infoMesaPartes"
        ></button>
        <button
          icon="pi pi-save"
          pButton
          pRipple
          type="button"
          label="Enviar a Evaluador"
          class="p-button-success p-button-outlined mr-2"
          (click)="cambiarEstadoMdp('EMDCOMP')"
          [disabled]="idMesaPartes==0 ||  longitudTupa ==0|| (isLoadingEvaluador$|async)||disabledCodigoEstadoPlanPresentado|| !infoMesaPartes"
        ></button>
     
      </div>
    </p-accordionTab>
    
  </p-accordion>
</div>