<div class="row m-0">

    <div class="col-12">

        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label class="label">Nº Solicitud Inspección</label>
                    <input type="text" class="form-control" disabled="true"
                        [(ngModel)]="evaluacion.idEvaluacionCampo">
                </div>
            </div>

            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label class="label">Estado</label>
                    <input type="text" class="form-control" disabled="true"
                        [(ngModel)]="evaluacion.evaluacionCampoEstado">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label class="label">Tipo Documento</label>
                    <input type="text" class="form-control" disabled="true"
                        [(ngModel)]="evaluacion.tipoDocumentoGestionTexto">
                </div>
            </div>

            <div class="col-12 col-sm-3 col-md-4">
                <div class="form-group">
                    <label class="label">Nro. Documento Gestión</label>
                    <input type="text" class="form-control" disabled="true" [(ngModel)]="evaluacion.documentoGestion">
                </div>
            </div>

            <div class="col-12 col-sm-3 col-md-2">
                <button class="btn btn-sm btn-primary2 button-view-more" (click)="verPlan()">Ver más</button>
            </div>


        </div>

        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label class="label">Titular</label>
                    <input type="text" class="form-control" disabled="true" [(ngModel)]="evaluacion.titular">
                </div>
            </div>

            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label class="label">Nº TH / Acto Admin.</label>
                    <input type="text" class="form-control" disabled="true" [(ngModel)]="evaluacion.numThActoAdmin">
                </div>
            </div>
        </div>

    </div>


</div>
