.title {
  text-align: center;
}
tr, td, th {
  padding: 5px 10px !important;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  line-height: 0px;
}

.icon {
  padding: 5px 10px;
}
textarea {
  resize: none;
}
