<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <!-- <app-map-custom #map
      [idPlanManejo]="idPGMF"
      [codigoProceso]="'POPACINFBA'"
      [codigoSubSeccion]="'POPACINFBATIM'"
      [tipoGeometria]="'TPOtros'">
      </app-map-custom> -->
      <div class="row m-0 pt-2">
        <div class="col-12 col-sm-12 p-0">
          <div class="f-w mb-2 mapa-content">
            <div class="mapa" #map></div>
          </div>
        </div>
      </div>

      <p-accordion>
        <p-accordionTab header="Tabla informativa mapas" [selected]="true">
          <app-tabla-informativa-mapa
            [idPGMF]="idPGMF"
            [idPlanManejoPadre]="idPlanManejoPadre"
            [disabled]="disabled"
            [idInfBasicaU]="idInfBasicaU"
            [idInfBasicaS]="idInfBasicaS"
            (listUbicacion)="listarUbicacion($event)"
            (listSuperficie)="listarSuperficie($event)"
            (listArea)="listarArea($event)"
            (totalArea)="listarTotalArea($event)"
            (listAccesibilidad)="listarAccesibilidad($event)"
            (totalAreaZonitificacion)="listarTotalAreaZonificacion($event)"
          >
          </app-tabla-informativa-mapa>
        </p-accordionTab>

        <p-accordionTab header="3.1. Ubicación de la comunidad">
          <tabla-area-manejo-continua
          [listCoordinatesAnexo]="listCoordinatesAnexo"
          [usuario]="usuario"
          [idPlanManejo]="idPGMF"
          [idInfBasica]="idInfBasica"
          [disabled]=disabled
          (idInfBasicaU)="listarIdInfBasicaU($event)"
          (eliminaU)="eliminarU($event)"
        >
        </tabla-area-manejo-continua>
        </p-accordionTab>

        <p-accordionTab header="3.2. Superficie y ubicación de la UMF">
          <tabla-area-manejo-dividida
          [listCoordinatesAnexo]="listCoordinatesAnexo2"
          [usuario]="usuario"
          [idPlanManejo]="idPGMF"
          [idInfBasica] ="idInfBasica"
          [disabled]=disabled
          (idInfBasicaS)="listarIdInfBasicaS($event)"
          (eliminaS)="eliminarS($event)"
        >
        </tabla-area-manejo-dividida>
        </p-accordionTab>

        <p-accordionTab header="3.3. Zonificación interna de la UMF">
          <tabla-area-zonificacion
            [usuario]="usuario"
            [idPlanManejo]="idPGMF"
            [idPlanManejoPadre]="idPlanManejoPadre"
            [idInfBasica]="idInfBasica"
            [totalAreaZonificacion]="totalAreaZonificacion"
            [disabled]=disabled
          >
          </tabla-area-zonificacion>
        </p-accordionTab>

        <p-accordionTab header="3.4. Accesibilidad de la UMF">
          <div class="col-12 mt-4 mb-3" style="padding-bottom: 160px">
            <p-table [value]="informacionBasicaDet3_4" styleClass="p-datatable-gridlines">
              <ng-template pTemplate="header">
                <tr *ngIf="!isSubDet">
                  <th style="width: 20%;">Ruta principal</th>
                  <th style="width: 20%;">Medio de transporte</th>
                  <th style="width: 20%;">Distancia (km)</th>
                  <th style="width: 20%;">Tiempo (h)</th>
                  <th style="width: 20%;">Tipo de vehículo</th>
                </tr>
                <tr *ngIf="isSubDet">
                  <th style="width: 17%;">Ruta principal</th>
                  <th style="width: 23%;">Detalle Ruta</th>
                  <th style="width: 15%;">Medio de transporte</th>
                  <th style="width: 15%;">Distancia (km)</th>
                  <th style="width: 15%;">Tiempo (h)</th>
                  <th style="width: 15%;">Tipo de vehículo</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr>
                  <td>{{ data.actividad }}</td>
                  <td *ngIf="isSubDet">
                    <div *ngFor="let d of data.listInformacionBasicaDetSub" style="padding: 0px; margin: 0px;">
                      <table style="border: hidden;">
                        <tr style="border: hidden;">
                          <td style="border: hidden; text-align: initial;">
                            {{ d.descripcion }}
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td>
                  <td>
                    <div class="form-control-selectk">
                      <p-dropdown
                        [autoDisplayFirst]="false"
                        [options]="transporte"
                        optionLabel="label"
                        optionValue="value"
                        placeholder="Seleccione"
                        [(ngModel)]="data.descripcion"
                        [disabled]="disabled || data.observaciones == 'S'"
                      >
                      </p-dropdown>
                    </div>
                  </td>
                  <td>
                    <input
                      decimal
                      [min]="0"
                      [maxLength]="10"
                      [decimalPlaces]="2"
                      class="form-control"
                      pInputText
                      [(ngModel)]="data.distanciaKm"
                      [disabled]=disabled />
                  </td>
                  <td>
                    <input
                      decimal
                      [min]="0"
                      [maxLength]="10"
                      [decimalPlaces]="2"
                      class="form-control"
                      pInputText
                      [(ngModel)]="data.tiempo"
                      [disabled]=disabled />
                  </td>
                  <td>
                    <div class="form-control-selectk">
                      <p-dropdown
                        [autoDisplayFirst]="false"
                        [options]="vehiculo"
                        optionLabel="label"
                        optionValue="value"
                        placeholder="Seleccione"
                        [(ngModel)]="data.medioTransporte"
                        [disabled]=disabled
                      >
                      </p-dropdown>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="step__btn mt-4 mb_2">
              <button
                type="submit"
                class="btn-primary2"
                (click)="registrarInformacionBasica3_4()"
                [disabled]=disabled
              >
                Guardar
              </button>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4 mb-4">
          <button class="btn-primary2" (click)="regresarTab()"> Anterior</button>
          <button class="btn-primary2" (click)="siguienteTab()"> Siguiente</button>
      </div>
    </div>
  </div>
</div>
