<div class="container-fluit">
  <div class="row m-0 mb-3">
    <!-- TITULO -->
    <div class="col-12">
      <h3 class="title">Épica 2.4 Solicitudes de Plantaciones Forestales</h3>
    </div>
    <!-- FILTROS -->
    <div class="col-12">
      <div class="panelk br10 p-3">
        <div class="row">
          <!-- INPUTS FILTRO -->
          <div class="col-12 col-sm-6 col-md-3 form-group">
            <label class="label">ID Solicitud Plantación:</label>
            <input
              type="text"
              autocomplete="off"
              class="form-control"
              numero
              [maxlength]="8"
              [(ngModel)]="objbuscar.idSolicitudPlantacion"
              placeholder="Ingresar N° ID"
            />
          </div>
          <div class="col-12 col-sm-6 col-md-2 form-group">
            <label class="label">Tipo Modalidad:</label>
            <div class="form-control-selectk">
              <p-dropdown
                appendTo="body"
                [options]="comboTipoMod"
                placeholder="Seleccione"
                optionLabel="valorPrimario"
                optionValue="codigo"
                [(ngModel)]="objbuscar.tipoModalidad"
              >
              </p-dropdown>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 form-group">
            <label class="label">Solicitante:</label>
            <input
              type="text"
              autocomplete="off"
              class="form-control"
              [(ngModel)]="objbuscar.nombreSolicitante"
              placeholder="Ingresar nombre o razón social"
            />
          </div>
          <div class="col-12 col-sm-6 col-md-2 form-group">
            <label class="label">N° Doc. Solicitante:</label>
            <input
              type="text"
              autocomplete="off"
              class="form-control"
              maxlength="11"
              numero
              [(ngModel)]="objbuscar.numeroDocumentoSolicitante"
              placeholder="Ingresar N° Doc."
            />
          </div>
          <div class="col-12 col-sm-6 col-md-2 form-group">
            <label class="label">Estado Solicitud:</label>
            <div class="form-control-selectk">
              <p-dropdown
                [options]="comboEstados"
                optionLabel="valorPrimario"
                optionValue="codigo"
                placeholder="Seleccione"
                [(ngModel)]="objbuscar.estadoSolicitud"
              >
              </p-dropdown>
            </div>
          </div>
          <!-- BOTONES FILTRO -->
          <div class="col-12 my-2 form-group text-center">
            <button
              class="btn btn-sm btn-secondary mr-2"
              (click)="btnLimpiar()"
            >
              Limpiar
            </button>
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnBuscar()">
              Buscar
            </button>
            <button
              *ngIf="isPerTitularTH && permisos.isPerRegistrar"
              class="btn btn-sm btn-secondary mr-2"
              (click)="btnNuevo()"
            >
              Nuevo
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- TABLA -->
    <div class="col-12 mt-4">
      <p-table [value]="ListaBandeja">
        <ng-template pTemplate="header">
          <tr>
            <th>ID Sol.</th>
            <th>Tipo Modalidad</th>
            <th>Solicitante</th>
            <th>N° Doc. Solicitante</th>
            <th>Fecha Registro</th>
            <th>Estado Solicitud</th>
            <!-- PERFIL TITULARTH -->
            <ng-container *ngIf="isPerTitularTH">
              <th>Ver Solicitud</th>
              <th>Eval. Requisitos</th>
              <th>Eval. Solicitud</th>
              <th>Ver Certificado</th>
            </ng-container>
            <!-- PERFIL MDP -->
            <ng-container *ngIf="isPerMDP">
              <th>Eval. Requisitos</th>
            </ng-container>
            <!-- PERFIL ARFFS -->
            <ng-container *ngIf="isPerARFFS">
              <th>Eval. Requisitos</th>
              <th>Eval. Solicitud</th>
              <th>Remitir</th>
              <th>Notificar</th>
              <th>Generar Certificado</th>
              <th>Nulidad</th>
            </ng-container>
            <!-- PERFIL SERFOR -->
            <ng-container *ngIf="isPerSERFOR">
              <th>Ver Solicitud</th>
            </ng-container>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>{{ data.idSolicitudPlantacion }}</td>
            <td>{{ data.tipoModalidadTexto }}</td>
            <td>{{ data.nombreSolicitante }}</td>
            <td>{{ data.numeroDocumentoSolicitante }}</td>
            <td>{{ data.fechaRegistroTexto }}</td>
            <td>{{ data.estadoSolicitudTexto }}</td>

            <!-- PERFIL TITULARTH -->
            <ng-container *ngIf="isPerTitularTH">
              <td>
                <!-- Editar solicitud -->
                <span
                  *ngIf="
                    (data.estadoSolicitud === codEstado.BORRADOR ||
                      data.estadoSolicitud === codEstado.OBSERVADO_REQ) &&
                    permisos.isPerEditar
                  "
                  class="pointer mr-2"
                  ><i
                    class="pi pi-pencil"
                    title="Editar solicitud"
                    (click)="
                      btnVer(
                        data.idSolicitudPlantacion,
                        data.tipoModalidad,
                        false,
                        true,
                        false,
                        data.estadoSolicitud,
                        '',
                        false
                      )
                    "
                  ></i
                ></span>
                <!-- Ver solicitud -->
                <span
                  *ngIf="
                    !(
                      data.estadoSolicitud === codEstado.BORRADOR ||
                      data.estadoSolicitud === codEstado.OBSERVADO_REQ
                    ) && permisos.isPerVisualizar
                  "
                  class="pointer mr-2"
                  ><i
                    class="pi pi-eye"
                    title="Ver solicitud"
                    (click)="
                      btnVer(
                        data.idSolicitudPlantacion,
                        data.tipoModalidad,
                        true,
                        true,
                        false,
                        data.estadoSolicitud,
                        '',
                        false
                      )
                    "
                  ></i
                ></span>
                <!-- Registrar clon -->
                <span
                  *ngIf="
                    data.idSolicitudPlantacionHijo &&
                    !data.notificarActualizadoARFFS &&
                    data.estadoSolicitud === codEstado.APROBADA_SOL &&
                    permisos.isPerOtros
                  "
                  class="pointer mr-2"
                  ><i
                    class="pi pi-file-o"
                    title="Información adicional"
                    (click)="
                      btnInfoOpcional(
                        data.idSolicitudPlantacionHijo,
                        data.tipoModalidad,
                        false,
                        true,
                        false,
                        data.estadoSolicitud
                      )
                    "
                  ></i
                ></span>
                <span
                  *ngIf="
                    !data.idSolicitudPlantacionHijo &&
                    data.estadoSolicitud === codEstado.APROBADA_SOL &&
                    permisos.isPerOtros
                  "
                  class="pointer mr-2"
                  ><i
                    class="pi pi-clone"
                    title="Registrar Información opcional"
                    (click)="btnClonar($event, data)"
                  ></i
                ></span>
                <!-- Eliminar solicitud -->
                <span
                  *ngIf="
                    data.estadoSolicitud === codEstado.BORRADOR &&
                    permisos.isPerEliminar
                  "
                  class="pointer"
                  ><i
                    class="pi pi-trash"
                    title="Eliminar solicitud"
                    (click)="btnEliminar($event, data.idSolicitudPlantacion)"
                  ></i
                ></span>
              </td>
              <td>
                <!-- Ver requisitos -->
                <span
                  *ngIf="
                    data.estadoSolicitud !== codEstado.BORRADOR &&
                    permisos.isPerOtros
                  "
                  class="pointer"
                  ><i
                    class="pi pi-eye"
                    title="Ver requisitos"
                    (click)="
                      btnEvalRequisitos(data.idSolicitudPlantacion, true)
                    "
                  ></i
                ></span>
              </td>
              <td>
                <!-- Ver evaluación -->
                <span
                  *ngIf="
                    !(
                      data.estadoSolicitud === codEstado.OBSERVADO_SOL ||
                      data.estadoSolicitud === codEstado.BORRADOR ||
                      data.estadoSolicitud === codEstado.OBSERVADO_REQ ||
                      data.estadoSolicitud === codEstado.PRESENTADA
                    ) && permisos.isPerVisualizar
                  "
                  class="pointer"
                  ><i
                    class="pi pi-eye"
                    title="Ver solicitud"
                    (click)="
                      btnVer(
                        data.idSolicitudPlantacion,
                        data.tipoModalidad,
                        true,
                        true,
                        true,
                        data.estadoSolicitud,
                        '',
                        false
                      )
                    "
                  ></i
                ></span>
                <!-- Editar evaluación -->
                <span
                  *ngIf="
                    data.estadoSolicitud === codEstado.OBSERVADO_SOL &&
                    permisos.isPerEditar
                  "
                  title="Evaluar evaluación"
                  class="pointer"
                  ><i
                    class="pi pi-pencil"
                    (click)="
                      btnVer(
                        data.idSolicitudPlantacion,
                        data.tipoModalidad,
                        false,
                        true,
                        true,
                        data.estadoSolicitud,
                        '',
                        false
                      )
                    "
                  ></i
                ></span>
              </td>
              <td>
                <span
                  *ngIf="data.notificarSolicitante && permisos.isPerOtros"
                  class="pointer"
                  ><i
                    class="pi pi-folder"
                    title="Ver certificado"
                    (click)="btnGenerarCertif(data)"
                  ></i
                ></span>
              </td>
            </ng-container>

            <!-- PERFIL MDP -->
            <ng-container *ngIf="isPerMDP">
              <td class="text-center">
                <!-- Evaluar requisitos -->
                <span
                  *ngIf="
                    data.estadoSolicitud === codEstado.PRESENTADA &&
                    permisos.isPerOtros
                  "
                  class="pointer"
                  ><i
                    class="pi pi-check-square"
                    title="Evaluar requisitos"
                    (click)="
                      btnEvalRequisitos(data.idSolicitudPlantacion, false)
                    "
                  ></i
                ></span>
                <!-- Ver requisitos -->
                <span
                  *ngIf="
                    !(data.estadoSolicitud === codEstado.PRESENTADA) &&
                    permisos.isPerOtros
                  "
                  class="pointer"
                  ><i
                    class="pi pi-eye"
                    title="Ver requisitos"
                    (click)="
                      btnEvalRequisitos(data.idSolicitudPlantacion, true)
                    "
                  ></i
                ></span>
              </td>
            </ng-container>

            <!-- PERFIL ARFFS -->
            <ng-container *ngIf="isPerARFFS">
              <td>
                <!-- Ver requisitos -->
                <span *ngIf="true && permisos.isPerOtros" class="pointer"
                  ><i
                    class="pi pi-eye"
                    title="Ver requisitos"
                    (click)="
                      btnEvalRequisitos(data.idSolicitudPlantacion, true)
                    "
                  ></i
                ></span>
              </td>
              <td>
                <!-- Editar evaluación -->
                <span
                  *ngIf="
                    data.estadoSolicitud === codEstado.EVALUACION &&
                    permisos.isPerOtros
                  "
                  class="pointer mr-2"
                  ><i
                    class="pi pi-pencil"
                    title="Evaluar solicitud"
                    (click)="
                      btnVer(
                        data.idSolicitudPlantacion,
                        data.tipoModalidad,
                        true,
                        false,
                        true,
                        data.estadoSolicitud,
                        '',
                        false
                      )
                    "
                  ></i
                ></span>
                <!-- Ver evaluación -->
                <span
                  *ngIf="
                    data.estadoSolicitud !== codEstado.EVALUACION &&
                    permisos.isPerOtros
                  "
                  class="pointer mr-2"
                  ><i
                    class="pi pi-eye"
                    title="Ver evaluación"
                    (click)="
                      btnVer(
                        data.idSolicitudPlantacion,
                        data.tipoModalidad,
                        true,
                        true,
                        true,
                        data.estadoSolicitud,
                        '',
                        false
                      )
                    "
                  ></i
                ></span>
                <!-- Informacion adicional -->
                <span
                  *ngIf="
                    !data.idSolicitudPlantacionHijo &&
                    !data.actualizarInformacionRNPF &&
                    data.estadoSolicitud === codEstado.APROBADA_SOL &&
                    permisos.isPerOtros
                  "
                  class="pointer mr-2"
                  ><i
                    class="pi pi-bookmark"
                    title="Solicitar actualizar información"
                    (click)="btnNotificarRegInfoTitular($event, data)"
                  ></i
                ></span>
                <span
                  *ngIf="
                    data.idSolicitudPlantacionHijo &&
                    data.estadoSolicitud === codEstado.APROBADA_SOL &&
                    permisos.isPerOtros
                  "
                  class="pointer mr-2"
                  ><i
                    class="pi pi-file-o"
                    title="Información adicional"
                    (click)="
                      btnInfoOpcional(
                        data.idSolicitudPlantacionHijo,
                        data.tipoModalidad,
                        true,
                        false,
                        true,
                        data.estadoSolicitud
                      )
                    "
                  ></i
                ></span>
              </td>
              <td>
                <!-- Remitir -->
                <span
                  class="pointer"
                  *ngIf="!data.remitir && permisos.isPerOtros && data.estadoSolicitud === codEstado.APROBADA_SOL"
                  (click)="btnRemitir($event, data)"
                  title="Remitir a SERFOR"
                  ><i class="pi pi-send"></i>
                </span>
              </td>
              <td>
                <!-- Notificar solicitante -->
                <span
                  class="pointer"
                  *ngIf="!data.notificarSolicitante && permisos.isPerOtros"
                  (click)="btnNotificar($event, data)"
                  title="Notificar al Solicitante"
                  ><i class="pi pi-send"></i
                ></span>
              </td>
              <td>
                <!-- Certificado -->
                <span
                  *ngIf="
                    data.estadoSolicitud !== codEstado.EVALUACION &&
                    permisos.isPerOtros
                  "
                  class="pointer mr-2"
                  ><i
                    class="pi pi-eye"
                    title="Ver Certificado"
                    (click)="
                      btnVer(
                        data.idSolicitudPlantacion,
                        data.tipoModalidad,
                        true,
                        true,
                        true,
                        data.estadoSolicitud,
                        'CERTIFICADO',
                        false
                      )
                    "
                  ></i
                ></span>
              </td>
              <td>
                <!-- PAS -->
                <span
                  class="pointer"
                  *ngIf="data.favorable == false && permisos.isPerOtros"
                  (click)="btnNotificarPAS(data)"
                  title="Notificar Nulidad"
                  ><i class="pi pi-bell"></i
                ></span>
              </td>
            </ng-container>

            <!-- PERFIL SERFOR -->
            <ng-container *ngIf="isPerSERFOR">
              <td>
                <!-- Ver solicitud y evaluación -->
                <span class="pointer mr-2" *ngIf="permisos.isPerOtros"
                  ><i
                    class="pi pi-eye"
                    title="Ver solicitud"
                    (click)="
                      btnVer(
                        data.idSolicitudPlantacion,
                        data.tipoModalidad,
                        true,
                        true,
                        true,
                        data.estadoSolicitud,
                        '',
                        false
                      )
                    "
                  ></i
                ></span>
              </td>
            </ng-container>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator
        [rows]="10"
        [totalRecords]="totalRecords"
        (onPageChange)="loadData($event)"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros"
        [rowsPerPageOptions]="[10, 25, 50, 100]"
      ></p-paginator>
    </div>
  </div>
</div>
<p-confirmPopup></p-confirmPopup>

<p-toast></p-toast>

<p-dialog
  header="{{ titulocheck }}"
  [(visible)]="verModalCheck"
  [modal]="true"
  [style]="{ width: '75vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row">
      <div class="col-12">
        <p-table [value]="tabList">
          <ng-template pTemplate="header">
            <tr>
              <th>ITEM</th>
              <th>Aprobado</th>
              <th>Observado</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{ data.valor }}</td>
              <td>
                <p-checkbox name="alerta" [binary]="true"></p-checkbox>
              </td>
              <td>
                <p-checkbox name="alerta" [binary]="true"></p-checkbox>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <span *ngIf="idSolicitante == 5" style="font-weight: bold"
          >Pendiente Sprint 3</span
        >
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="guardar()"
      pButton
      pRipple
      type="button"
      label="Guardar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verModalCheck = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
