<div class="row">
    <div class="col-12 form-group">
        <label for="descripcionImpacto">Descripción de impacto:</label>
        <div *ngIf="isDisabled">
            <input
              type="textarea"
              id="descripcionImpacto"
              autocomplete="off"
              class="form-control form-control-sm"
              rows="4" 
              [(ngModel)]="impactoObjt.descripcionImpacto" 
              placeholder="Ingrese la descripcion de impacto"
              [disabled]="isDisabled"
            />
          </div>
          <div *ngIf="!isDisabled">
            <input
            type="textarea"
            id="descripcionImpacto"
            autocomplete="off"
            class="form-control form-control-sm"
            rows="4" 
            [(ngModel)]="impactoObjt.descripcionImpacto" 
            placeholder="Ingrese la descripcion de impacto"
          />
          </div>
    </div>

    <div class="col-12 form-group">
        <label for="medidasControl">Medida de control ambiental:</label>
        <div *ngIf="isDisabled">
            <input
              type="text"
              id="medidasControl"
              autocomplete="off"
              class="form-control contents_form_input"
              [(ngModel)]="impactoObjt.medidasControl" 
              placeholder="Ingrese la medida de control"
              [disabled]="isDisabled"
            />
          </div>
          <div *ngIf="!isDisabled">
        <input type="text" id="medidasControl" autocomplete="off" class="form-control contents_form_input"
        placeholder="Ingrese la medida de control"
            [(ngModel)]="impactoObjt.medidasControl">
        </div>
    </div>

    <div class="col-12 form-group">
        <label for="medidasMonitoreo">Medida de Monitoreo:</label>
        <input maxlength="250" type="text" id="medidasMonitoreo" autocomplete="off" class="form-control contents_form_input"
            [(ngModel)]="impactoObjt.medidasMonitoreo" placeholder="Ingrese su medida de monitoreo">
    </div>

    <div class="col-12 form-group">
        <label for="frecuencia">Frecuencia:</label>
        <input maxlength="40" type="text" id="frecuencia" autocomplete="off" class="form-control contents_form_input"
            [(ngModel)]="impactoObjt.frecuencia" placeholder="Ingrese la frecuencia">
    </div>

    <div class="col-12 form-group">
        <label for="responsable">Responsable:</label>
        <input maxlength="40" type="text" id="responsable" autocomplete="off" class="form-control contents_form_input"
            [(ngModel)]="impactoObjt.responsable" placeholder="Ingrese al responsable ">
    </div>
    <div class="col-12 mt-3 text-right">
        <button class="p-button-success p-button-outlined mr-2" type="button" icon="pi pi-save"
        pButton pRipple label="Guardar" (click)="agregar()"></button>
      <button class="p-button-danger p-button-outlined" type="button" icon="pi pi-times" pButton pRipple
        label="Cancelar" (click)="cerrarModal()"></button>
    </div>
</div>