<div class="container-fluit">
  <div class="row m-0">
    <div class="col-md-12">
      <h3 class="title">
        Bandeja de Procesos de Contratos de Concesión Forestal - Postulaciones
      </h3>
    </div>
    <br /><br />
    <div class="col-sm-12 mb-4">
      <div class="panelk br10 p-3">
        <div class="row">
          <div class="col-sm-4 mb-2 form-group">
            <label class="label">Proceso Oferta:</label>
            <input
              type="number"
              autocomplete="off"
              [(ngModel)]="procesoOfertaSelect"
              class="form-control"
              numero
              [maxLength]="9"
            />
          </div>
          <div class="col-sm-4 mb-2 form-group">
            <label class="label">Proceso Postulación:</label>
            <input
              type="number"
              autocomplete="off"
              [(ngModel)]="procesoPostulacionSelect"
              class="form-control"
              numero
              [maxLength]="9"
            />
          </div>

          <div class="col-sm-4 mb-2 form-group">
            <label class="label">Estado:</label>
            <div class="form-control-selectk">
              <p-dropdown
                class="fomr-control"
                [options]="listEstadoPostu"
                optionLabel="descripcion"
                optionValue="idStatusProceso"
                [(ngModel)]="selectedEstadoContrato"
              ></p-dropdown>
            </div>
          </div>

          <div class="col-sm-12 mt-3 mb-2 form-group text-center">
            <button
              class="btn btn-sm btn-secondary mr-2"
              (click)="limpiarFiltro()"
            >
              Limpiar
            </button>
            <button
              class="btn btn-sm btn-secondary mr-2"
              (click)="listarProcesoPostulacion()"
            >
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="tablek">
        <p-table [value]="lista_postulaciones">
          <ng-template pTemplate="header">
            <tr>
              <th>ID Proceso Postulación</th>
              <th>ID Proceso Oferta</th>
              <th>Nombre Postulante</th>
              <th>Nombre Regente</th>
              <th>Unidad Aprovechamiento</th>
              <th>Estado Proceso</th>
              <th>Completar Perfil</th>
              <th>Validar Requisitos</th>
              <th>Evidencia Publicación</th>
              <th>Resolución</th>
              <th>Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-obj>
            <tr>
              <td>{{ obj.idProcesoPostulacion }}</td>
              <td>{{ obj.idProcesoOferta }}</td>
              <td>{{ obj.nombrePostulante }}</td>
              <td>{{ obj.nombreRegente }}</td>
              <td>{{ obj.unidadAProvechamiento }}</td>
              <td>{{ obj.statusProceso }}</td>
              <td class="text-center">
                <span *ngIf="permisos.isPerRegistrar" (click)="verDetalle(obj)" pTooltip="Ver Detalle">
                  <i class="pi pi-clone"></i>
                </span>
              </td>
              <td class="text-center">
                <span *ngIf="permisos.isPerRegistrar"
                  style="cursor: pointer"
                  [pTooltip]="
                    isPerMesaPartes && obj.idEstatusProceso != estadoProceso.conObservacion ? 'Validar Requisitos' : 'Ver Requisitos'
                  "
                >
                  <i
                    [ngClass]="
                      isPerMesaPartes && obj.idEstatusProceso != estadoProceso.conObservacion ? 'pi pi-check-square' : 'pi pi-eye'
                    "
                    (click)="verModalDocumentos(obj)"
                  ></i>
                </span>
              </td>
              <td class="text-center">
                <ng-container *ngIf="obj.autorizacionpublicacion">
                  <!--
                  <a
                  *ngIf="obj.idEstatusProceso == estadoProceso.enPublicacion && (obj.publicacionPrueba === null || obj.publicacionPrueba === true) && permisos.isPerRegistrar"
                    class="mr-2"
                    style="color: #707c97 !important"
                    (click)="
                      cargarModalFileList('Pruebas de publicación', 1, obj)
                    "
                    pTooltip="Pruebas de publicación"
                  >
                    <i class="pi pi-briefcase"></i>
                  </a>

                  <a
                    *ngIf="obj.envioPrueba && permisos.isPerVisualizar"
                    class="mr-2"
                    style="color: #707c97 !important"
                    (click)="
                      cargarModalFileList('Ver Pruebas de publicación', 0, obj)
                    "
                    pTooltip="Ver Pruebas de publicación"
                  >
                    <i class="pi pi-eye"></i>
                  </a>-->
                  <a
                  *ngIf="(obj.idEstatusProceso == estadoProceso.enPublicacion || obj.idEstatusProceso == estadoProceso.enEvaluacionTecnica) && isPostulante && permisos.isPerRegistrar"
                    class="mr-2"
                    style="color: #707c97 !important"
                    (click)="
                      cargarModalFileList('Pruebas de publicación', 1, obj)
                    "
                    pTooltip="Pruebas de publicación"
                  >
                    <i class="pi pi-briefcase"></i>
                  </a>
                  <a
                  *ngIf="obj.envioPrueba && isAutRegional && permisos.isPerVisualizar"
                  class="mr-2"
                  style="color: #707c97 !important"
                  (click)="
                    cargarModalFileList('Ver Pruebas de publicación', 0, obj)
                  "
                  pTooltip="Ver Pruebas de publicación"
                >
                  <i class="pi pi-eye"></i>
                </a>
                </ng-container>
              </td>

              <td class="text-center">
                <a *ngIf="obj.idResolucion!=null && obj.idEstatusProceso === 34 && permisos.isPerVisualizar"
                  style="cursor: pointer"
                  [pTooltip]="'Impugnación'
                  "
                >
                  <i
                    [ngClass]="'pi pi-book'
"
                    (click)="Impugnacion(obj.idResolucion)"
                  ></i>
                </a>
              </td>
              <td class="text-center">
                <ng-container *ngIf="obj.autorizacionpublicacion">
                  <!--<a
                    *ngIf="obj.idEstatusProceso == estadoProceso.enPublicacion"
                    class="mr-2"
                    (click)="
                      cargarModalFile(
                        'Enviar Autorización de publicación',
                        1,
                        obj
                      )
                    "
                    pTooltip="Enviar Autorización de publicación"
                  >
                    <i class="pi pi-external-link"></i>
                  </a>-->
                  <a
                    *ngIf="obj.idEstatusProceso == estadoProceso.enPublicacion"
                    class="mr-2"
                    (click)="cargarModalFile('Enviar Resolución', 2, obj)"
                    pTooltip="Enviar Resolución"
                  >
                    <i class="pi pi-wallet"></i>
                  </a>
                </ng-container>

                <ng-container *ngIf="obj.autorizacionpublicacion">
                  <!--                   <a *ngIf="obj.idEstatusProceso == estadoProceso.enPublicacion" class="mr-2"
                  (click)="cargarModalFile('Pruebas de publicación',3, obj)"
                    pTooltip="Pruebas de publicación"> <i class="pi pi-external-link"></i> </a> -->

                  <a
                    *ngIf="obj.idEstatusProceso == estadoProceso.enPublicacion"
                    class="mr-2"
                    (click)="
                      cargarModalFile('Autorización de publicación', 4, obj)
                    "
                    pTooltip="Ver Autorización de publicación"
                  >
                    <i class="pi pi-external-link"></i>
                  </a>
                </ng-container>

                <ng-container *ngIf="obj.pruebaspublicacion">
                  <a
                    *ngIf="obj.idEstatusProceso == estadoProceso.enPublicacion"
                    class="mr-2"
                    (click)="
                      cargarModalFile('Ver pruebas de publicación', 5, obj)
                    "
                    pTooltip="Ver Pruebas de publicación"
                  >
                    <i class="pi pi-external-link"></i>
                  </a>
                </ng-container>

                <a
                  style="color: red"
                  *ngIf="obj.idEstatusProceso == estadoProceso.ocurrencia"
                  (click)="cargarOposicion(obj)"
                  pTooltip="cargar Oposición"
                >
                  <i class="pi pi-folder"></i>
                </a>

                <a
                  style="color: red"
                  *ngIf="obj.idEstatusProceso == estadoProceso.suspendido"
                  (click)="cargarModalSolicitud(obj)"
                  pTooltip="Cargar Modal Solicitud"
                >
                  <i class="pi pi-check-circle"></i>
                </a>

                <ng-container>
                  <!--<a *ngIf="obj.idEstatusProceso !== estadoProceso.enPublicacion"
                    class="mr-2"
                    (click)="cargarModalAutorizacion('Autorizar Publicación del Resumen de Solicitud',1,obj)"
                    pTooltip="Autorizar Publicación"
                  >
                    <i class="pi pi-key"></i>
                  </a>-->

                  <a *ngIf="isAutRegional && obj.idEstatusProceso == estadoProceso.aprobado"
                  class="mr-2"
                  (click)="cargarModalAutorizacion('Autorizar Publicación del Resumen de Solicitud',1,obj)"
                  pTooltip="Autorizar Publicación">
                  <i class="pi pi-key"></i>
                  </a>
                </ng-container>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-paginator
          [rows]="10"
          [totalRecords]="totalRecords"
          (onPageChange)="loadData($event)"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Total : {totalRecords} registros"
          [rowsPerPageOptions]="[10, 25, 50]"
        ></p-paginator>
      </div>
    </div>
  </div>
  <p-toast position="top-right" key="tr"></p-toast>
</div>
