<div class="row">
  <div class="col-12 col-md-6 form-group">
    <label for="numeroDocumento">Número Documento</label>
    <input
      autocomplete="off"
      class="form-control"
      numero
      type="number"
      [(ngModel)]="numeroDocumento"
      placeholder="Número Documento"
    />
  </div>
  <div class="col-12 col-md-6 form-group">
    <label for="fechaDocumento">Fecha Autorización</label>
    <div class="content-date">
      <input
        autocomplete="off"
        type="text"
        class="form-control"
        matInput
        [matDatepicker]="fi"
        [min]="minDate"
        readonly="true"
        [(ngModel)]="fechaAutorizacion"
      />
      <i class="pi pi-calendar pointer" (click)="fi.open()"></i>
      <mat-datepicker #fi></mat-datepicker>
    </div>
  </div>
</div>
<div class="row m-0">
  <div class="col-12">
    <div class="form-group">
      <label class="label">Plantilla de Carta de Autorización</label>
      <div class="input-group">
        <button
          class="btn btn-secondary"
          (click)="btnDescargarPlantillaCarta()"
        >
          Descargar
        </button>
        <input
          type="text"
          class="form-control"
          placeholder=""
          [(ngModel)]="fileName"
          *ngIf="false"
        />
        <div class="input-group-append" style="display: none;">
          <button
            type="button"
            id="btnDescargarFile"
            (click)="onDescargarArchivo()"
            class="btn btn-sm btn-secondary"
          >
            Descargue archivo<input type="button" style="display: none" />
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <upload-input-buttons
        [label]="'Carta de Autorización'"
        [disabled]="disabled"
        (registrarArchivo)="adjuntarArchivoCarta($event)"
        (eliminarArchivo)="eliminarArchivoCarta($event)"
        [file]="archivoCarta"
        [accept]="'.pdf,image/*'"
      >
      </upload-input-buttons>
      <label class="label" style="display: none">Carta de Autorización</label>
      <div class="input-group" style="display: none">
        <input
          type="text"
          class="form-control"
          placeholder=""
          [(ngModel)]="fileName"
        />
        <div class="input-group-append">
          <button
            type="button"
            id="btnCargarFile"
            (click)="fileInput.click()"
            class="btn btn-sm btn-secondary"
          >
            Seleccione archivo<input
              #fileInput
              type="file"
              (change)="onFileSelected($event)"
              style="display: none"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <upload-input-buttons
        [label]="'Resumen de Solicitud Firmado'"
        [disabled]="disabled"
        (registrarArchivo)="adjuntarSolicitudFirmada($event)"
        [file]="archivoSolicitudFirmada"
        (eliminarArchivo)="eliminarArchivoSolicitudFirmada($event)"
      >
      </upload-input-buttons>
      <label class="label" style="display: none"
        >Resumen de Solicitud Firmado</label
      >
      <div class="input-group" style="display: none">
        <input
          type="text"
          class="form-control"
          placeholder=""
          [(ngModel)]="fileNameResumen"
        />
        <div class="input-group-append">
          <button
            type="button"
            id="btnCargarFileResumen"
            (click)="fileInput2.click()"
            class="btn btn-sm btn-secondary"
          >
            Seleccione archivo<input
              #fileInput2
              type="file"
              (change)="onFileResumenSelected($event)"
              style="display: none"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row">
  <button
    (click)="btnEnviar()"
    icon="pi pi-save"
    pButton
    pRipple
    type="button"
    label="Enviar"
    class="btn btn-sm btn-primary2"
  ></button>

  <button
    (click)="btnGuardar()"
    icon="pi pi-save"
    pButton
    pRipple
    type="button"
    label="Guardar"
    class="btn btn-sm btn-primary2"
  ></button>

  <button
    icon="pi pi-times"
    (click)="btnCancelar()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="btn btn-sm btn-primary2"
  ></button>
</div>
<p-toast position="bottom-center" key="tl"></p-toast>
