<div class="row m-0 pt-4">
  <div class="col-12">
    <div class="col-2 col-sm-12 text-right">
      <button
        (click)="abrirModal('C',0)"
        class="btn btn-sm btn-default button-more mb-2"
        type="button"
        title="Agregar"
        [disabled]="disabled || isPerfilArffs"
      >
        <i class="pi pi-plus"></i>
      </button>
    </div>

    <div class="col-12 pt-2">
      <p-table [value]="lstDetalle1" class="table-justify">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 80px;">Acciones</th>
            <th>Actividades</th>
            <th>Descripción del Monitoreo</th>
            <th>Responsable</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
          <tr>
            <td class="text-center">
              <span
                class="pointer mr-1"
                title="Editar"
                (click)="!disabled&& !isPerfilArffs &&abrirModal('E', rowIndex, data)"
              >
                <i class="pi pi-pencil"></i>
              </span>
              <a
                type="button"
                class="pointer"
                title="Eliminar"
                (click)="!disabled&& !isPerfilArffs &&openEliminarMonitoreo($event,rowIndex,data)"
              >
                <i class="pi pi-trash"></i>
              </a>
            </td>
            <td>{{data.actividad}}</td>
            <td>{{data.descripcion}}</td>
            <td>{{data.responsable}}</td>
          </tr>
        </ng-template>
      </p-table>

      <label
        *ngIf="pendiente"
        class="lbl-info mt-3 mb-3"
        style="float: none !important;"
      >
        (Los cambios locales se guardarán pulsando el botón "Guardar".)
      </label>
    </div>
    <br />
    <br />
    <p-accordion>
      <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
        <evaluacion-archivo-shared
          [idPlanManejo]="idPlanManejo"
          [cadigoTab]="codigoAcordeon91"
          [base]="evaluacion91"
        >
          <ng-template #conatinertop> </ng-template>
          <ng-template #conatinerbottom> </ng-template>
        </evaluacion-archivo-shared>
      </p-accordionTab>
    </p-accordion>

    <div class="step__btn mt-4" *ngIf="!isPerfilArffs">
      <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
      <button
        type="submit"
        class="btn-primary2"
        (click)="guardarMonitoreo()"
        [disabled]="disabled || lstDetalle1.length === 0"
      >
        Guardar
      </button>
      <!-- <button
        *ngIf="editar"
        type="submit"
        class="btn-primary2"
        (click)="editarMonitoreo()"
        [disabled]="disabled"
      >
        Editar
      </button> -->
      <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
    </div>

    <div class="step__btn mt-4" *ngIf="isPerfilArffs">
      <message-evaluation></message-evaluation>
      <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
      <button class="btn-primary2" (click)="registrarEvaluacion()">
        Guardar Evaluación
      </button>
      <button class="btn-primary2" (click)="retornarFlujoEvaluacion()">
        Retornar Flujo Evaluacion
      </button>
      <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
    </div>
  </div>
</div>
<p-dialog
  header="{{tituloModalMantenimiento}}"
  header="Header"
  [(visible)]="verModalMantenimiento"
  [draggable]="false"
  [style]="{width: '50vw'}"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Actividades</label>
            <input
              name="campo1"
              [(ngModel)]="context1.actividad"
              type="text"
              class="form-control"
              autocomplete="off"
              placeholder="Ingrese actividad"
              maxlength="50"
            />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Descripción del monitoreo</label>
            <input
              name="campo2"
              [(ngModel)]="context1.descripcion"
              type="text"
              class="form-control"
              autocomplete="off"
              placeholder="Ingrese descripción"
              maxlength="50"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Responsable</label>
            <input
              name="campo3"
              [(ngModel)]="context1.responsable"
              type="text"
              class="form-control"
              autocomplete="off"
              placeholder="Ingrese responsable"
              maxlength="50"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="AgregarMonitoreo(context1)"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verModalMantenimiento=false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
