<div class="container-fluid">
  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <h3 class="title">
        Ep3.2.2: Evaluación POAC<span class="nro-dema ml-4">N° {{ idPlanManejo }}</span>
      </h3>
    </div>
  </div>

  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">1. Mesa de Partes</span>
          </ng-template>
          
          <ng-template matTabContent>
            <mesa-partes-poac [idPlanManejo]="idPlanManejo" ></mesa-partes-poac>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
