<div class="container-fluid">
  <app-mapa
    #map
    (isEdited)="isEditedMap = true"
    (deleteLayer)="deleteLayer($event)" [disabled]="disabled"
    (deleteAll)="deleteAllLayers()"
  ></app-mapa>

  <div class="row mt-3">
    <div class="col-12">
      <h3 class="title2 fz-13 label">ORDENAMIENTO INTERNO</h3>
    </div>
    <div class="col-12">

      <table class="table table-boderk">
        <thead>
          <tr>
            <th>Denominación o Espacios</th>
            <th>Adjuntar</th>
            <th>Capa</th>
            <th>Superficie Aproximada (ha)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listOrdenInterno; index as i">
            <td>{{ item.categoria }}</td>
            <td>
              <ng-container
                *ngIf="item?.observacion == RespuestaTipo.SI; else elseBtnTpl"
              >
                <button
                  type="button"
                  class="btn-secondary off"
                  style="min-width: 40px"
                  (click)="download(item)"
                >
                  <i class="pi pi-download" aria-hidden="true"></i>
                </button>
              </ng-container>
              <ng-template #elseBtnTpl>
                <upload-button
                  label="" [disabled]="disabled"
                  accept=".zip"
                  style="min-width: 40px; width: 40px"
                  icon="upload"
                  (change)="addLayer(item, $event)"
                >
                </upload-button>
              </ng-template>
            </td>

            <td>
              <div
                class="d-flex justify-content-center align-items-center w-100"
              >
                <div
                  class="point-layer"
                  [ngStyle]="{ 'background-color': item?.observacionDetalle }"
                ></div>
              </div>
            </td>
            <td>
              {{ item.areaHA | number: "1.2-3" }}
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr style="background: #dfe0ea80">
            <td class="text-left"><b>Total</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ totalArea | number: "1.2-3" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<p-toast position="top-right" key="tr"></p-toast>
