<div class="row m-0">
  <div class="col-12">
    <p-table [value]="comboListadoPlanManejo">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 50px;"></th>
          <th>Plan manejo</th>
          <th>Estado</th>
          <th>Descripción</th>
          <th *ngIf="tienePlan">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td>
            <p-checkbox
              *ngIf="tienePlan && selectedValues[0].idPlanManejo == data.idPlanManejo"
              name="idPlanManejo"
              [value]="data"
              [(ngModel)]="selectedValues"
              (onChange)="onChangeFauna($event, data)"
            >
            </p-checkbox>
            <p-checkbox
              *ngIf="!tienePlan"
              name="idPlanManejo"
              [value]="data"
              [(ngModel)]="selectedValues"
              (onChange)="onChangeFauna($event, data)"
            >
            </p-checkbox>
          </td>
          <td>{{ data.idPlanManejo }}</td>
          <td>{{ data.estado }}</td>
          <td>{{ data.descripcion }}</td>
          <td *ngIf="tienePlan">
            <span 
              *ngIf="selectedValues[0].idPlanManejo == data.idPlanManejo"
              class="pointer mr-1"
              title="Ver Plan"
              (click)="redireccionar(data.descripcion, data.idPlanManejo)"
            >
              <i class="pi pi-external-link"></i>
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <!-- <p-paginator
      [rows]="10"
      [totalRecords]="totalRecords"
      (onPageChange)="loadData($event)"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Total : {totalRecords} registros"
      [rowsPerPageOptions]="[10, 25, 50]"
    >
    </p-paginator> -->
  </div>
</div>
<br />

<div class="d-flex justify-content-end">
  <label class="lbl-info mt-3 mb-3 mr-3" *ngIf="tienePlan">
    (La solicitud ya está relacionada con un Plan.)
  </label>
  <button
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
    label="Enviar"
    class="p-button-success p-button-outlined"
    style="width: 106px;"
    [disabled]="tienePlan"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
    style="width: 106px;"
  ></button>
</div>
<p-toast></p-toast>
<p-toast position="top-right" key="tml"></p-toast>
