<!-- <a type="button" class="pointer" title="Resolver">
  <i class="pi pi-eye"></i>
</a> -->

<button
  type="button"
  class="btn-primary2"
  (click)="verPDF()"
  [disabled]="disabled"
>
  Consultar con entidades
</button>

<p-dialog
  header="Consultar entidades"
  appendTo="body"
  [(visible)]="isShowModal2_2"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row">
      <div class="col-12 form-group">
        <label class="label">Entidad consultar</label>
        <div class="form-control-selectk">
          <p-dropdown
            [options]="lstTipoEntidad"
            [(ngModel)]="entidad.entidad"
            optionLabel="valor1"
            optionValue="codigo"
            placeholder="Seleccione"
          >
          </p-dropdown>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 form-group">
        <label class="label">Asunto</label>
        <input
          class="form-control form-control-sm"
          type="text"
          autocomplete="off"
          [(ngModel)]="entidad.asunto"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12 form-group">
        <label class="label">Descripción</label>

        <textarea
          class="form-control"
          rows="4"
          style="resize: none"
          maxlength="250"
          [(ngModel)]="entidad.descripcion"
        >
        </textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6 form-group">
        <label class="label">Número de documento</label>
        <input
          class="form-control form-control-sm"
          numero
          [maxlength]="11"
          autocomplete="off"
          [(ngModel)]="entidad.numDocumento"
        />
      </div>      
      <div class="col-6 form-group">
        <label class="label">Tipo Documento</label>  
        <div class="form-control-selectk">
          <p-dropdown
            [options]="lstTipoDocumento"
            [(ngModel)]="entidad.tipoDocumento"
            optionLabel="valor1"
            optionValue="codigo"
            placeholder="Seleccione"
          >
          </p-dropdown>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6">
        <label class="label">Fecha</label>
        <div class="content-date">
          <input
            class="form-control"
            type="text"
            autocomplete="off"
            matInput
            [matDatepicker]="fechaDocumento"
            [min]="minDate"
            readonly="true"
            [(ngModel)]="entidad.fechaDocumento"
          />
          <i class="pi pi-calendar pointer" (click)="fechaDocumento.open()"></i>
          <mat-datepicker #fechaDocumento></mat-datepicker>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 mt-3">
        <buttons-file-permiso-forestal-shared
          [label]="'Adjuntar documento'"
          [idPermisoForestal]="idPermisoForestal"
          [codigoTipoDocumento]="'PFCRDE'"
          [loadFile]="false"
          (registrarArchivoId)="registroArchivo($event)"
        >
        </buttons-file-permiso-forestal-shared>
      </div>
    </div>



    <button
      icon="pi pi-save"
      (click)="guardar()"
      type="button"
      guardar
      class="btn btn-sm btn-primary2"
    >
      Enviar consulta
    </button>

    <button
      icon="pi pi-times"
      (click)="isShowModal2_2 = false"
      type="button"
      class="btn btn-sm btn-danger"
    >
      Cancelar
    </button>
  </ng-template>
  <ng-template pTemplate="footer"> </ng-template>
</p-dialog>
<p-toast></p-toast>
