<p-fieldset legend="1. Informacion del Solicitante" [toggleable]="true">
  <div class="row m-0">
    <div class="col-12">
      <h3 class="title2 fz-12">1.1 Del titular de planificación</h3>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Tipo Persona</label>
        <div class="form-control-selectk">
          <p-dropdown
            [disabled]="data.readonly"
            [options]="comboTipoPersona"
            [(ngModel)]="data.persona.idTipoPersona"
            optionLabel="text"
            optionValue="value"
          ></p-dropdown>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-8">
      <div class="form-group">
        <label class="label">Nombre y/o Razon Social</label>
        <input
          type="text"
          [disabled]="data.readonly"
          [(ngModel)]="data.persona.nombres"
          autocomplete="off"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">DNI</label>
        <input
          type="text"
          [disabled]="data.readonly"
          [(ngModel)]="data.persona.numero_documento"
          autocomplete="off"
          maxlength="8"
          class="form-control"
        />
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">RUC<span class="required_">*</span></label>
        <input
          maxlength="50"
          type="text"
          [disabled]="data.readonly"
          [(ngModel)]="data.persona.ruc"
          maxlength="11"
          autocomplete="off"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">Dirección</label>
        <input
          type="text"
          [disabled]="data.readonly"
          [(ngModel)]="data.persona.direccion"
          placeholder="(indicar nombre de la calle/Av/Jr./Psje o Comunidad)"
          autocomplete="off"
          class="form-control"
        />
      </div>
    </div>
    <div class="col-12 col-sm-2">
      <div class="form-group">
        <label class="label">Nro</label>
        <input
          type="text"
          [disabled]="data.readonly"
          [(ngModel)]="data.persona.direccion_numero"
          autocomplete="off"
          class="form-control"
        />
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label"> &nbsp; &nbsp;</label>
        <input
          type="text"
          [disabled]="data.readonly"
          [(ngModel)]="data.persona.sector"
          placeholder="(Indicar sector,anexo,quebrada,etc)"
          autocomplete="off"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Departamento</label>
        <div class="form-control-selectk">
          <p-dropdown
            [disabled]="data.readonly"
            [options]="ListaDepartamento"
            optionLabel="nombreDepartamento"
            optionValue="idDepartamento"
            [filter]="true"
            filterBy="nombreDepartamento"
            [showClear]="true"
            placeholder="Select a Departamento"
            (onChange)="listarPorFilroProvincia($event, 1)"
            [(ngModel)]="data.persona.id_departamento"
          ></p-dropdown>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <label class="label">Provincia</label>
      <div class="form-control-selectk">
        <p-dropdown
          [disabled]="data.readonly"
          [options]="ListaProvincia"
          optionLabel="nombreProvincia"
          [filter]="true"
          filterBy="nombreProvincia"
          [showClear]="true"
          placeholder="Select a Provincia"
          optionValue="idProvincia"
          (onChange)="listarPorFilroDistrito($event, 1)"
          [(ngModel)]="data.persona.id_provincia"
        ></p-dropdown>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <label class="label">Distrito</label>
      <div class="form-control-selectk">
        <p-dropdown
          [disabled]="data.readonly"
          [options]="ListaDistrito"
          optionLabel="nombreDistrito"
          [filter]="true"
          filterBy="nombreDistrito"
          [showClear]="true"
          placeholder="Select a Distrito"
          optionValue="idDistrito"
          [(ngModel)]="data.persona.id_distrito"
        ></p-dropdown>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Telf. Fijo<span class="required_">*</span></label>
        <input
          [disabled]="data.readonly"
          type="text"
          [(ngModel)]="data.persona.telefono"
          autocomplete="off"
          class="form-control"
        />
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label"
          >Telf. Celular<span class="required_">*</span></label
        >
        <input
          [disabled]="data.readonly"
          type="text"
          [(ngModel)]="data.persona.celular"
          autocomplete="off"
          class="form-control"
        />
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label"
          >Correo eléctronico<span class="required_">*</span></label
        >
        <input
          [disabled]="data.readonly"
          type="text"
          [(ngModel)]="data.persona.correo"
          autocomplete="off"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <ng-container *ngIf="idSolicitante == 2 || idSolicitante == 1">
    <div class="row m-0 mt-2">
      <div class="col-12">
        <h3 class="title2 fz-12">1.2 Del Representante Legal</h3>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12 col-sm-8">
        <div class="form-group">
          <label class="label">Nombre</label>
          <input
            [disabled]="data.readonly"
            type="text"
            [(ngModel)]="data.persona.razon_social_empresa"
            autocomplete="off"
            class="form-control"
          />
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="label">DNI</label>
          <input
            [disabled]="data.readonly"
            type="text"
            [(ngModel)]="data.persona.numero_documento_empresa"
            maxlength="8"
            autocomplete="off"
            class="form-control"
          />
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label class="label">Dirección</label>
          <input
            [disabled]="data.readonly"
            type="text"
            [(ngModel)]="data.persona.direccion_empresa"
            placeholder="(indicar nombre de la calle/Av/Jr./Psje o Comunidad)"
            autocomplete="off"
            class="form-control"
          />
        </div>
      </div>
      <div class="col-12 col-sm-2">
        <div class="form-group">
          <label class="label">Nro</label>
          <input
            [disabled]="data.readonly"
            type="text"
            [(ngModel)]="data.persona.direccion_numero_empresa"
            autocomplete="off"
            class="form-control"
          />
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="label"> &nbsp; &nbsp;</label>
          <input
            [disabled]="data.readonly"
            type="text"
            [(ngModel)]="data.persona.sector_empresa"
            placeholder="(Indicar sector,anexo,quebrada,etc)"
            autocomplete="off"
            class="form-control"
          />
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="label">Departamento</label>
          <div class="form-control-selectk">
            <p-dropdown
              [disabled]="data.readonly"
              [options]="ListaDepartamentoRepr"
              optionLabel="nombreDepartamento"
              optionValue="idDepartamento"
              [filter]="true"
              filterBy="nombreDepartamento"
              [showClear]="true"
              placeholder="Select a Departamento"
              (onChange)="listarPorFilroProvincia($event, 2)"
              [(ngModel)]="data.persona.id_departamento_empresa"
            ></p-dropdown>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <label class="label">Provincia</label>
        <div class="form-control-selectk">
          <p-dropdown
            [disabled]="data.readonly"
            [options]="ListaProvinciaRepr"
            optionLabel="nombreProvincia"
            [filter]="true"
            filterBy="nombreProvincia"
            [showClear]="true"
            placeholder="Select a Provincia"
            optionValue="idProvincia"
            (onChange)="listarPorFilroDistrito($event, 2)"
            [(ngModel)]="data.persona.id_provincia_empresa"
          ></p-dropdown>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <label class="label">Distrito</label>
        <div class="form-control-selectk">
          <p-dropdown
            [disabled]="data.readonly"
            [options]="ListaDistritoRepr"
            optionLabel="nombreDistrito"
            [filter]="true"
            filterBy="nombreDistrito"
            [showClear]="true"
            placeholder="Select a Distrito"
            optionValue="idDistrito"
            [(ngModel)]="data.persona.id_distrito_empresa"
          ></p-dropdown>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="label"
            >Telf. Fijo<span class="required_">*</span></label
          >
          <input
            [disabled]="data.readonly"
            type="text"
            [(ngModel)]="data.persona.telefono_empresa"
            autocomplete="off"
            class="form-control"
          />
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="label"
            >Telf. Celular<span class="required_">*</span></label
          >
          <input
            [disabled]="data.readonly"
            type="text"
            [(ngModel)]="data.persona.celular_empresa"
            autocomplete="off"
            class="form-control"
          />
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="label"
            >Correo eléctronico<span class="required_">*</span></label
          >
          <input
            [disabled]="data.readonly"
            type="text"
            [(ngModel)]="data.persona.email_empresa"
            autocomplete="off"
            class="form-control"
          />
        </div>
      </div>
    </div>
  </ng-container>

  <observaciones-plantacion
    *ngIf="idSolicitante == 4"
  ></observaciones-plantacion>
</p-fieldset>
