<form [formGroup]="f">

    <div class="form-group">
        <label class="label">Medida de Protección:</label>
        <input formControlName="actividades" type="text" class="form-control"
               placeholder="Ingrese Medida de Protección" maxlength="100">
    </div>
    <div class="form-group">
        <label class="label">Descripción <label class="label">(máx. 250 caracteres):*</label></label>
        <textarea formControlName="descripcionSistema" class="form-control" rows="3" cols="4"
                    placeholder="Ingrese Descripción" maxlength="250">
        </textarea>
    </div>


    <div class="p-dialog-footer" style="padding-bottom:0px;padding-right:0px;">
        <button icon="pi pi-save" pButton (click)="guardar()" pRipple type="button" label="Aceptar"
                class="p-button-success p-button-outlined" style="width: 106px;"></button>
        <button icon="pi pi-times" (click)="cancelar()" pButton pRipple type="button" label="Cancelar"
                class="p-button-danger p-button-outlined" style="width: 106px;"></button>
    </div>
</form>
