<div class="row m-0 mt-3">
    <div class="col-12 pt-2 text-right">
        <button icon="pi pi-plus" (click)="abrirModal(AccionTipo.REGISTRAR)" pButton pRipple type="button" abel=""
            class="p-button-success p-button-text">
        </button>
    </div>
</div>
<div class="row m-0">
    <div class="col-12 pt-2">
        <table class="table table-boderk">
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th>Etapa</th>
                    <th>Descripción</th>
                    <th>Equipos, herramientas e insumos utilizados</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of lstAprovechamiento">
                    <td>
                        <span (click)="abrirModal(AccionTipo.EDITAR, data)" class="pointer mr-3" title="Editar">
                            <i class="pi pi-pencil"></i>
                        </span>
                        <span class="ml-2" (click)="openEliminar($event,data)" class="pointer"
                            title="Eliminar">
                            <i class="pi pi-trash"></i>
                        </span>
                    </td>
                    <td class="text-left">{{data.actividad}}</td>
                    <td>{{data.descripcion}}</td>
                    <td>{{data.equipos}}</td>
                </tr>
            </tbody>
        </table>

        <label *ngIf="pendiente" class="lbl-info mt-3 mb-3">
            (Los cambios locales se guardarán pulsando el botón "Guardar".)
        </label>
    </div>
</div>