<div class="container-fluit  pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="Declaración Jurada" [selected]="true">
          <div class="row m-0">
            <div class="col-12 text-center">
              <h3 class="title fz-18">DECLARACIÓN JURADA DE INGRESOS, CUENTAS Y BIENES</h3>
            </div>
            
            <div class="col-12 mt-3">
              <p class="font-normal fz-12 mb-3">
                Señor:
              </p>
              <p class="font-normal fz-12" style="line-height: 25px;">
                Yo, <b>{{informacionSolicitante.nombreSolicitanteUnico || '.................'}}</b> identificado con DNI/RUC N° <b>{{informacionSolicitante.numeroDocumentoSolicitanteUnico || '.................'}}</b>
                domiciliado en <b>{{informacionSolicitante.direccionSolicitante || '.................'}}</b>
                ante usted con el debido respeto me presento y declaro bajo juramento que poseo la capacidad
                financiera suficiente para cumplir las obligaciones que se derivan de la concesión para
                <b>{{informacionSolicitante.descripcionModalidad || ' '}}</b> sobre una Superficie de <b>{{informacionAreaSolicitada.superficieHa}}</b> ha, ubicada en el
                sector <b>{{informacionSolicitante.sectorCaserio || '.................'}}</b>, distrito <b>{{informacionAreaSolicitada.nombreDistritoArea || '.................'}}</b>, provincia <b>{{informacionAreaSolicitada.nombreProvinciaArea || '.................'}}</b>; departamento <b>{{informacionAreaSolicitada.nombreDepartamentoArea || '.................'}}</b>; según el
                detalle siguiente:
              </p>
            </div>

            <div class="col-12 mb-2 mt-3">
              <label class="fz-12 title2">Ingresos Cuentas y Bienes</label>
            </div>
            <div class="col-12 text-right">
              <button class="btn btn-sm btn-default button-more mb-2" (click)="btnAbrirModal(null,'C')" type="button"
                title="Agregar" [disabled]="isDisbledFormu"><i class="pi pi-plus"></i></button>
            </div>

            <div class="col-12 mt-2">
              <p-table [value]="lstData" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                  currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Acciones</th>
                    <th>N°</th>
                    <th style="width: 350px;">Tipo y número / código de documento que sustenta la declaración</th>
                    <th style="width: 350px;">Descripción</th>
                    <th>Monto S/. <br /> (de corresponder)</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-d let-rowIndex="rowIndex">
                  <tr>
                    <td>
                      <span class="pointer" title="Eliminar" (click)="btnEliminar($event,d)"
                        [ngClass]=" isDisbledFormu ? 'disabled-pointer': '' ">
                        <i class="pi pi-trash"></i>
                      </span>
                    </td>
                    <td>{{rowIndex+1}}</td>
                    <td>{{d.codigoTipoDocumento}}</td>
                    <td>{{d.descripcion}}</td>
                    <td class="text-right">{{d.monto | number:'1.2-2'}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
    
            <div class="col-12 mt-4">
              <p class="font-normal fz-12">
                En caso que se compruebe fraude o falsedad en la declaración, información o documentación
                presentada, me someto a las consecuencias y responsabilidades administrativas y penales que
                correspondan, conforme a lo previsto en el artículo 32* de la Ley N' 27444, Ley del
                Procedimiento Administrativo General, y el Código Penal respecto a los delitos contra la fe
                pública.
              </p>
            </div>
          </div>
          <div class="row m-0" *ngIf="!isDisbledFormu">
            <div class="col-12 mt-3">
              <button type="button" class="btn-primary2" [disabled]="isDisbledFormu" (click)="btnGuardar()">
                Guardar Datos Ingresados
              </button>
            </div>
          </div>

          <div class="row m-0" *ngIf="isShowEval">
            <div class="col-12 mt-3">
              <app-evaluar-solicitud 
                [disabled]="isDisbledEval"
                [idPFDM]="idPFDM"
                [codSeccion]="codigosPFDM.TAB_3" 
                [codSubSeccion]="codigosPFDM.TAB_3_1"
              ></app-evaluar-solicitud>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>

<p-dialog appendTo="body" header="{{tituloModalMantenimiento}}" [(visible)]="verModalMantenimiento" [modal]="true"
  [style]="{width: '40vw'}" [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="true">
  <ng-template pTemplate="content">
    <div>
      <div class="form-group">
        <label class="label">Tipo y número / código de documento que sustenta la declaración:</label>
        <input type="text" [(ngModel)]="context.codigoTipoDocumento" class="form-control" sinSpacioInit maxlength="20" required [ngClass]="touchedAll">
      </div>
      <div class="form-group">
        <label class="label">Descripción:</label>
        <input type="text" [(ngModel)]="context.descripcion" class="form-control" sinSpacioInit maxlength="100" required [ngClass]="touchedAll">
      </div>
      <div class="form-group">
        <label class="label">Monto S/. (de corresponder):</label>
        <input type="text" decimal [decimalPlaces]="2" maxlength="10" [(ngModel)]="context.monto" class="form-control" placeholder="" required [ngClass]="touchedAll">
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button icon="pi pi-save" (click)="guardarModal()" pButton pRipple type="button" label="Guardar"
      class="p-button-success p-button-outlined"></button>
    <button icon="pi pi-times" (click)="verModalMantenimiento=false" pButton pRipple type="button" label="Cancelar"
      class="p-button-danger p-button-outlined"></button>
  </ng-template>
</p-dialog>