<div class="mt-4 mb-4">
  <p-accordion (onOpen)="openTab($event)">
    <p-accordionTab class="{{ evaluacionMedidasCautelares.classEstado }}">
      <ng-template pTemplate="header">
        <label class="m-0">
          <i class="pi {{ evaluacionMedidasCautelares.icon }} fz-14"></i>
          {{ evaluacionMedidasCautelares.titulo }}
        </label>
      </ng-template>
      <div>
        <requisito-pgmf-simple-shared
          [default]="false"  [disabled]="disabled"
          [base]="evaluacionMedidasCautelares"
          (onChange)="evaluacionSeleccionada($event, 'medidasCautelares')"
        >
        </requisito-pgmf-simple-shared>
      </div>
    </p-accordionTab>

    <p-accordionTab class="{{ evaluacionMedidasCorrectivas.classEstado }}">
      <ng-template pTemplate="header">
        <label class="m-0">
          <i class="pi {{ evaluacionMedidasCorrectivas.icon }} fz-14"></i>
          {{ evaluacionMedidasCorrectivas.titulo }}
        </label>
      </ng-template>
      <div>
        <requisito-pgmf-simple-shared
          [default]="false" [disabled]="disabled"
          [base]="evaluacionMedidasCorrectivas"
          (onChange)="evaluacionSeleccionada($event, 'medidasCorrectivas')"
        >
        </requisito-pgmf-simple-shared>
      </div>
    </p-accordionTab>
  </p-accordion>

  <div class="step__btn mt-4">
    <!--  <button class="btn-primary2">Regresar</button> -->
    <button
      class="btn-primary2"
      (click)="registrarRequisitosPlan()"
      [disabled]="noValido || isDisabledRequisitos || disabled"
    >
    Guardar evaluación de Requisitos
    </button>
    <!-- <button class="btn-primary2">Siguiente</button> -->
  </div>
  <br />
</div>
<p-confirmPopup></p-confirmPopup>
<p-toast></p-toast>
