<div class="p-field-checkbox">
    <label class="m-0 pointer" for="terres">Comunidad Nativa o Campesina:</label>
    <p-checkbox for="terres" [style]="{'margin-left': '10px'}" [binary]="true"
        [(ngModel)]="evaluacion.comunidadNatidadCampesina" [disabled]="disabled"></p-checkbox>
</div>

<br>

<div class="row" *ngIf="evaluacion.comunidadNatidadCampesina">
    <div class="col-12  col-md-4">
        <upload-input-buttons [label]="'Acta Asamblea Comunal'" [disabled]="disabled" [file]="archivoAsamblea"
            [accept]="'.pdf,image/*'" (registrarArchivo)="adjuntarArchivoAsamblea($event)"
            (eliminarArchivo)="eliminarArchivoAsamblea($event)">
        </upload-input-buttons>
    </div>
</div>


<br>


<div class="container-fluid form-container">

    <div class="row">

        <div class="col-2 col-sm-12 text-right">
            <button (click)="abrirModal()" class="btn btn-sm btn-default mb-2" type="button" title="Agregar"
                [disabled]="disabled">
                <i class="pi pi-plus"></i>
            </button>
        </div>

        <div class="col-sm-12">
            <span class="title2">Adjuntar Documentos</span>

            <div class="table">
                <p-table [value]="fileList" [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registros"
                [rowsPerPageOptions]="[10, 25, 50]" [totalRecords]="fileList.length">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="text-center" style="width: 120px;">Acciones </th>
                            <th>Tipo Documento</th>
                            <th>Nombre de documento </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                        <tr>
                            <td class="text-center">
                                <span *ngIf="data.idTipoDocumento == 6" class="pointer" title="Eliminar"
                                    (click)="openEliminarRegistro($event,rowIndex ,data)">
                                    <i class="pi pi-trash"></i>
                                </span>

                                <span *ngIf="data.idArchivo" class="pointer" style="margin: 0 10px;" title="Descargar"
                                    (click)="verArchivo(data)">
                                    <i class="pi pi-download"></i>
                                </span>


                                <span *ngIf="data.idTipoDocumento != 6" class="pointer" style="margin: 0 10px;"
                                    [ngClass]=" isPlanFor ? 'disabled-pointer': '' "
                                    title="Descargar" (click)="fileInput.click()">
                                    <i class="pi pi-upload"></i>
                                    <input #fileInput type="file"  [accept]='data.accept'  (change)="updateFile($event,data,rowIndex)"
                                        style="display:none;" />
                                </span>

                            </td>
                            <td> {{data.tipoDocumento }}</td>
                            <td> {{data.nombre ? data.nombre : data.nombreArchivo}}</td>

                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

    </div>

</div>

<p-dialog header="Agregar Documento" [(visible)]="display">

    <ng-template pTemplate="content">
        <div class="row" style="height: 180px;">


            <div class="col-12">
                <label class="label">Tipo Documento</label>
                <div class="form-control-selectk">
                    <p-dropdown class="fomr-control" placeholder="-- Seleccione --" [options]="listaTipoDocumento"
                        optionValue="valorSecundario" optionLabel="valorPrimario" [(ngModel)]="file.idTipoDocumento">
                    </p-dropdown>
                </div>
            </div>


            <div class="col-12">
                <div class="form-group">
                    <label class="label">Documento</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="" [(ngModel)]="file.nombre"
                            readonly="true">
                        <div class="input-group-append">
                            <button type="button" id="btnCargaShapeFile" (click)="fileInput.click()"
                                class="btn btn-sm btn-secondary">
                                Adjuntar<input #fileInput type="file"  accept=".pdf,.jpg,.png" (change)="onFileChange($event)"
                                    style="display:none;" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <br /><br />
    </ng-template>


    <ng-template pTemplate="footer">

        <button icon="pi pi-save" (click)="agregarArchivo()" pButton pRipple type="button" label="Agregar"
            class="p-button-success p-button-outlined"></button>
        <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
            class="p-button-danger p-button-outlined"></button>
    </ng-template>


</p-dialog>
