<div class="mt-4 mb-4 ml-2" >
  <p-accordion>
    <p-accordionTab [selected]="true" header="Evaluar Requisitos Presentados TUPA">
      <!-- <div class="row">
        <div class="col-3">
          <label  class="label">Nro. de Trámite</label>
          <input
            type="text"
            class="form-control"
            placeholder=""
            [(ngModel)]="evaluacionRequisitos.detalle"
          />
        </div>
        <div class="col-3">
          <label class="label">Fecha de Documento</label>
          <div class="content-date">
            <input
              class="form-control"
              type="text"
              autocomplete="off"
              matInput
              [matDatepicker]="fechaTramite"
              readonly="true"
              [(ngModel)]="evaluacionRequisitos.fechaTramite"
            />
            <i class="pi pi-calendar pointer" (click)="fechaTramite.open()"></i>
            <mat-datepicker #fechaTramite></mat-datepicker>
          </div>
        </div>


        <div  class="col-6 my-2 form-group  botones-mdp">
          <button
          class="btn btn-sm btn-secondary mr-2"
          (click)="filtroRequisitosTUPA()"

        >
          Buscar
        </button>
          <button
          class="btn btn-sm btn-secondary mr-2"
          (click)="limpiarFiltroRequisitosTUPA()"

        >
          Limpiar
        </button>
        </div>
      </div> -->

      <div class="row m-0 pt-4">
        <div class="col-12 p-0">
          <mat-tab-group
            animationDuration="0ms"
            [selectedIndex]="tabIndex"
            (selectedIndexChange)="informChange($event)"
          >


            <mat-tab>
              <ng-template mat-tab-label>
                <span class="text-center">Requisitos TUPA</span>
              </ng-template>
              <ng-template matTabContent>
                <tab-requisitos-tupa
                  [idPlanManejo]="idPlanManejo" [disabled]="disabled"
                  [tipo]="'TUPA'"
                  [idTipoDocumento]="tipoPlan +'TUPA'"
                  [codigoProceso]="tipoPlan"
                  [idTipoDocumentoFirma]=" tipoPlan+'FRTU'"
                ></tab-requisitos-tupa>
              </ng-template>
            </mat-tab> -->
          </mat-tab-group>
        </div>
      </div>

    </p-accordionTab>

  </p-accordion>
</div>


<div class="step__btn mt-4">
  <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
</div>
<br>
