<!--

<p-accordion class="mt-2">
 <p-accordionTab
   header="Anexos"
   [selected]="true"
   class="{{ classValidacion }}"
 >
   <ng-template pTemplate="header" class="holaaaaaaaaaaaaa">
     <label class="m-0 text-right">
       &nbsp;&nbsp;&nbsp;<i class="pi {{ iconEvaluacion }} fz-14"></i>&nbsp;{{labelTituloValidacion}}
     </label>
   </ng-template>
-->
<p-panel  [toggleable]="true" class="{{ classValidacion }}">
  <ng-template pTemplate="header" >
    Anexos <label class="m-0 text-right">
              &nbsp;&nbsp;&nbsp;<i class="pi {{ iconEvaluacion }} fz-14"></i>&nbsp;{{labelTituloValidacion}}
            </label>
  </ng-template>
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-12 p-0">
        <p-accordion>
          <p-accordionTab header="Mapas" [selected]="true">
            <!-- <div class="row">
              <div class="col-12 col-sm-12 p-1">
                <div class="f-w mb-2 mapa-content">
                  <download-mapa (isEdited)="isEditedMap = true"></download-mapa>
                </div>
              </div>
            </div> -->

            <!-- <app-mapa #map (isEdited)="isEditedMap = true"> </app-mapa> -->

            <!-- <app-mapa
              #map
              (isEdited)="isEditedMap = true"
              (deleteLayer)="deleteLayer($event)"
              (deleteAll)="deleteAllLayers()"
            >
            </app-mapa>

            <button
              type="button"
              class="btn btn-sm btn-secondary mr-4"
              style="width: 200px"
              (click)="guardarShape()"
            >
              Guardar Shapefile
            </button> -->

            <div class="row m-0 pt-2">
              <div class="col-12 col-sm-8 p-0">
                <div class="f-w mb-2 mapa-content">
                  <div class="mapa" #map></div>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <div
                  class="d-grid gap-2 d-md-block mb-2"
                  style="display: flex !important"
                >
                  <button
                    type="button" [disabled]="usuario.sirperfil == Perfiles.MESA_DE_PARTES || usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL || dataBase.disabled"
                    (click)="fileInputSHP.click()"
                    class="btn-secondary width-full"
                  >
                    Cargar shape file
                    <input
                      #fileInputSHP
                      type="file"
                      (change)="onChangeFileProdForestal($event)"
                      style="display: none"
                    />
                  </button>

                  <div class="d-flex pl-2">
                    <div class="form-check">
                      <input class="form-check-input" #chkInComponenteCatastro type="checkbox" value="" id="flexCheckChecked" [disabled]="usuario.sirperfil == Perfiles.MESA_DE_PARTES || usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL || dataBase.disabled"/>
                      <label class="form-check-label" for="flexCheckChecked">
                        Componente catastro
                      </label>
                    </div>
                  </div>

                </div>

                <div class="card gh-layers">
                  <div class="card-header py-0 pt-2 pb-2">
                    Capas
                    <span title="Guardar Capa" class="pointer pr-1 float-right">
                    <i
                      class="pi pi-save"
                      aria-hidden="true"
                      (click)="usuario.sirperfil != Perfiles.AUTORIDAD_REGIONAL &&
                          usuario.sirperfil != Perfiles.MESA_DE_PARTES &&
                          usuario.sirperfil != Perfiles.OSINFOR &&
                          usuario.sirperfil != Perfiles.SERFOR &&
                          usuario.sirperfil != Perfiles.COMPONENTE_ESTADISTICO &&
                          onGuardarLayer()"
                    ></i>
                  </span>
                  </div>
                  <ul class="list-group">
                    <li
                      *ngFor="let item of _layers"
                      class="list-group-item p-0 d-flex"
                    >
                      <input
                        class="ml-1 mr-1 pointer"
                        type="checkbox"
                        [checked]="true"
                        (change)="toggleLayer(item.idLayer, $event)"
                      />

                      <label
                        class="m-0 p-0 text-left pointer gh-label"
                        style="flex: 2"
                        [ngStyle]="{ color: item.color }"
                      >{{ item.nombre }}
                        <span
                          class="pointer pr-1"
                          title="{{
                          item.overlap ? 'Capa Superpuesta' : 'Capa contenida'
                        }} "
                        >
                        <i
                          class="{{
                            item.overlap
                              ? 'pi pi-info-circle color-red'
                              : 'pi pi-check-circle color-green'
                          }}"
                          *ngIf="item.service"
                          aria-hidden="true"
                        ></i>
                      </span>
                      </label>

                      <div class="d-flex">
                      <span class="mr-2 pointer">
                        <i
                          class="pi pi-download"
                          *ngIf="!item.service && item.inServer == true"
                          aria-hidden="true"
                          (click)="onDownloadFileSHP(item?.codigo)"
                        ></i>
                      </span>
                        <span class="pointer pr-1">
                        <i
                          class="pi pi-trash"
                          aria-hidden="true"
                          *ngIf="!item.service && item.idLayer"
                          (click)=" usuario.sirperfil != Perfiles.AUTORIDAD_REGIONAL &&
                          usuario.sirperfil != Perfiles.MESA_DE_PARTES &&
                          usuario.sirperfil != Perfiles.OSINFOR &&
                          usuario.sirperfil != Perfiles.SERFOR &&
                          usuario.sirperfil != Perfiles.COMPONENTE_ESTADISTICO &&
                          onRemoveFileSHP(item)"
                        ></i>

                          <!-- (click)="!isPerfilArffs && onRemoveFileSHP(item)"-->
                      </span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </p-accordionTab>
          <p-accordionTab header="Documentos de Gestión">
            <!-- <div class="col-12 p-0">
              <div class="row m-0">
                <div class="col-9 col-sm-9">
                  <div>
                    <label class="label fz-11 m-0"
                      >Generar Declaración Jurada</label
                    >
                  </div>
                </div>
                <div class="col-3 col-sm-3">
                  <button
                    pButton
                    pRipple
                    type="button"
                    [disabled]="isPerfilArffs"
                    class="btn btn-sm btn-secondary f-w"
                    (click)="declaracionJurada()"
                  >
                    Generar Declaración Jurada
                  </button>
                </div>
              </div>
            </div> -->
            <div class="row col-12 p-0 mt-2">
              <div class="col-4">
                <div class="row m-0">
                  <div class="col-12 col-sm-12">
                    <div class="form-group">
                      <label class="label fz-11 m0">Escala de Manejo</label>
                      <div class="form-control-selectk">
                        <p-dropdown
                          [options]="listEscala"
                          optionLabel="escalaLabel"
                          optionValue="escalaValue"
                          placeholder="Seleccione Escala"
                          (onChange)="cambiarEscala($event)"
                          [(ngModel)]="solicitud.escalaManejo"
                          [disabled] = "listPermisoPlanManejo.length > 0 || usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL || usuario.sirperfil == Perfiles.MESA_DE_PARTES || dataBase.disabled"
                        ></p-dropdown>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="step__btn mt-4 mb-4" *ngIf="!!solicitud.escalaManejo">
                  <span>
                    {{
                    solicitud.escalaManejo == "Alta"
                      ? "Plan General:"
                      : solicitud.escalaManejo == "Media"
                        ? "Plan Operativo:"
                        : solicitud.escalaManejo == "Baja"
                          ? "Formato de Declaración:"
                          : "Formato de Declaración"
                    }}
                  </span>
                  <button
                    class="btn-primary2"
                    (click)="redireccionarPorTipoEscalaManejo()"
                    [disabled]="
                    solicitud.escalaManejo == 'Media' ||
                    solicitud.escalaManejo == 'predioP' ||
                    listPermisoPlanManejo.length > 0 || usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL || usuario.sirperfil == Perfiles.MESA_DE_PARTES
                  "
                  >
                    {{
                    solicitud.escalaManejo == "Alta"
                      ? "Buscar planes PFM"
                      : solicitud.escalaManejo == "Media"
                        ? "Buscar planes PFMI"
                        : solicitud.escalaManejo == "Baja"
                          ? "Buscar planes Dema"
                          : "Buscar planes PFMI"
                    }}
                  </button>
                </div>
              </div>
              <div class="col-8" *ngIf="listPermisoPlanManejo.length > 0">
                <p-table [value]="listPermisoPlanManejo">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Plan Manejo</th>
                      <th>Estado</th>
                      <th>Descripción</th>
                      <th>Ver Plan</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data>
                    <tr>
                      <td>{{ data.idPlanManejo }}</td>
                      <td>{{ data.estado }}</td>
                      <td>{{ data.descripcion }}</td>
                      <td>
                        <span
                          class="pointer mr-1"
                          title="Ver Plan"
                          (click)="usuario.sirperfil != Perfiles.AUTORIDAD_REGIONAL && usuario.sirperfil != Perfiles.MESA_DE_PARTES &&redireccionar(data.descripcion, data.idPlanManejo)"
                        >
                          <i class="pi pi-external-link"></i>
                        </span>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </p-accordionTab>
          <p-accordionTab header="Otros Documentos">
            <!-- <div class="col-12 p-0" *ngIf="!!enabledControlGeneral"> -->
            <div class="col-12 p-0">
              <div class="row m-0 mt-3">
                <div class="col-4 col-sm-4">
                  <div>
                    <label class="label fz-11 m-0">Otros Documentos</label>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="form-group">
                    <input
                      type="text"
                      autocomplete="off"
                      class="form-control fz-11"
                      [(ngModel)]="solArchivoAdjuntoc.descripcionArchivo"
                      [disabled]="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL || usuario.sirperfil == Perfiles.MESA_DE_PARTES || dataBase.disabled"
                      placeholder="Ingrese Descripción del Documento"
                      maxlength="20"
                    />
                  </div>
                </div>

                <div class="col-12 col-sm-4">
                  <div class="form-group">
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="" [disabled]="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL || usuario.sirperfil == Perfiles.MESA_DE_PARTES || dataBase.disabled"
                        [(ngModel)]="fileInfGenreal.nombreFile"
                      />

                      <div class="input-group-append">
                        <button
                          *ngIf="!fileInfGenreal.nombreFile"
                          type="button"
                          id="btnCargaShapeFile"
                          (click)="fileInput.click()"
                          class="btn btn-sm btn-file btn-secondary"
                          icon="pi pi-upload"
                          pButton
                          [disabled]="disabled || usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL || usuario.sirperfil == Perfiles.MESA_DE_PARTES || dataBase.disabled"
                          title="Cargar Archivo"
                        >
                          <input
                            #fileInput
                            type="file"
                            (change)="onFileChange($event)"
                            style="display: none"
                            [attr.data-type]="fileInfGenreal.descripcion"
                            accept=".pdf"
                          />
                        </button>

                        <button
                          *ngIf="fileInfGenreal.nombreFile"
                          type="button"
                          id="btnCargaShapeFile2"
                          class="btn btn-sm btn-file"
                          icon="pi pi-upload"
                          pButton
                          [disabled]="!verEnviar1 || usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL || usuario.sirperfil == Perfiles.MESA_DE_PARTES || dataBase.disabled"
                          (click)="guardarArchivoGeneral()"
                          title="Cargar Archivo"
                        ></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p-confirmPopup></p-confirmPopup>
              <div class="row m-0 mt-1">
                <p-table [value]="listArchivo" class="table table-boderk">
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 80px">Acciones</th>
                      <th>Descripción Archivo</th>
                      <th>Nombre Archivo</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                    <tr>
                      <td class="text-center">
                      <span
                        class="pointer mr-3"
                        title="Eliminar"
                        (click)="
                          usuario.sirperfil != Perfiles.AUTORIDAD_REGIONAL &&
                          usuario.sirperfil != Perfiles.MESA_DE_PARTES &&
                          usuario.sirperfil != Perfiles.OSINFOR &&
                          usuario.sirperfil != Perfiles.COMPONENTE_ESTADISTICO &&
                            openEliminarArchivo(
                              $event,
                              rowIndex,
                              data.idArchivo
                            )
                        "
                      >
                        <i class="pi pi-trash"></i>
                      </span>
                        <span
                          class="pointer mr-3"
                          title="Descargar"
                          (click)="descargarArchivo(data.idArchivo)"
                        >
                        <i class="pi pi-download"></i>
                      </span>
                      </td>
                      <td>
                        <label>{{ data.descripcion }}</label>
                      </td>
                      <td>
                        <label>{{ data.nombreArchivo }}</label>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </p-accordionTab>
          <p-accordionTab header="Declaración Jurada">
            <div class="row mb-3">
              <div class="col-9 col-sm-9">
                <div>
                  <label class="label fz-11 m-0"
                  >Descargar Declaración Jurada</label
                  >
                </div>
              </div>
              <div class="col-3 col-sm-3">
                <a
                  pButton
                  pRipple
                  type="button"
                  class="btn btn-sm btn-secondary f-w"
                  href="/assets/permisoForestal/Plantilla%20Permisos%20formato%201.docx"
                  download
                  target="_blank"
                  [ngClass]="dataBase.disabled ? 'disabled-pointer': '' "
                >
                  Descargar Declaración Jurada
                </a>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12 col-sm-8">
                <div>
                  <label class="label fz-11 m-0"
                  >Adjuntar Declaración Jurada firmada</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-4 mb-0 pb-0">
                <buttons-file-permiso-forestal-shared
                  [idPermisoForestal]="idPermisoForestal"
                  [codigoTipoDocumento]="CodigosPF.ADJUNTAR_DECLARACION_JURADA_FIRMADA"
                  [disabled]="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL || usuario.sirperfil == Perfiles.MESA_DE_PARTES || dataBase.disabled"
                  [codigoProceso]="codigoProceso"
                >
                </buttons-file-permiso-forestal-shared>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
    <!-- <div *ngIf="!isPerfilArffs"> -->
    <div *ngIf="usuario.sirperfil == Perfiles.MESA_DE_PARTES">
      <div class="my-5" *ngIf="codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_VAL_PROCEDE||
             codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_PRESENTADO">
        <validar-requisitos-permiso-forestal-shared
          [codigoProceso]="codigoProceso"
          [codigoTab]="codigoTab"
          [codigoAcordeon]="codigoAcordeonVal"
          [idPermisoForestal]="idPermisoForestal" [detalle]="'3. Anexos'"
          (seleccionarValidacion)="seleccionarValidacion($event)">
        </validar-requisitos-permiso-forestal-shared>
      </div>
    </div>

    <div *ngIf="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL">
      <div *ngIf="codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_VAL_EN_EVALUACION ||
            codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE ||
            codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE">
        <evaluacion-archivo-permiso-forestal-shared
          [idPermisoForestal]="idPermisoForestal"
          [codigoProceso]="codigoProceso" [disabled]="codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE || codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
          [codigoTab]="codigoTab" [detalle]="'-'" [descripcion]="'3. Anexos'"
          [codigoAcordeon]="codigoAcordeonEval">
        </evaluacion-archivo-permiso-forestal-shared>
      </div>
    </div>

    <div class="step__btn mt-4 mb-4">
      <button *ngIf="showRegresar" class="btn-primary2" (click)="regresarTab()">Anterior</button>
      <button
        *ngIf="usuario.sirperfil == Perfiles.TITULARTH && codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE"
        type="button" class="btn-primary2" (click)="enviar()" [disabled]="codigoEstadoPermiso == 'EPSFPRES'">
        Reenviar solicitud subsanada
      </button>
      <button
        *ngIf="usuario.sirperfil != Perfiles.AUTORIDAD_REGIONAL &&
          usuario.sirperfil != Perfiles.MESA_DE_PARTES &&
          usuario.sirperfil != Perfiles.OSINFOR &&
          usuario.sirperfil != Perfiles.COMPONENTE_ESTADISTICO &&
          !(usuario.sirperfil == Perfiles.TITULARTH && codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE)"
        type="button" class="btn-primary2" (click)="enviar()" [disabled]="codigoEstadoPermiso == 'EPSFPRES'">
        Enviar a Evaluación
      </button>
      <button
      *ngIf="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL || usuario.sirperfil == Perfiles.MESA_DE_PARTES ||
        (usuario.sirperfil == Perfiles.TITULARTH && codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE)"
        class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
    </div>
  </div>
</p-panel>





    <!--
  </p-accordionTab>
</p-accordion>
-->
<br>


<p-confirmDialog
  [style]="{ width: '300px' }"
  key="deleteFileSHP"
></p-confirmDialog>
