.gh-color-loaded,
.gh-color-loaded:hover {
  background-color: lightskyblue;
}
.gh-layers {
  height: 350px;
  overflow: auto;
  scroll-behavior: smooth;
}

.btn-secondary {
  min-width: 120px !important;
}

.btn-file {
  background: #fff !important;
  min-height: 32px;
  font-family: "Montserrat";
  font-size: 11px;
  color: #4a962c !important;
  border: 2px solid #4a962c !important;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important;
  min-width: 50px;
}

.text-upload,
.text-upload:hover,
.text-upload:focus,
.text-upload:active {
  min-height: 37px !important;
  outline: none !important;
  box-shadow: none !important;
}

.pendiente {
  color: rgb(226, 226, 37);
  font-weight: bold;
}
.observado {
  color: #cb4141;
  font-weight: bold;
}
.validado {
  color: #4a962c;
  font-weight: bold;
}

