<div class="container-fluit  pt-4 anexo1Info_required">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="I. Datos Generales" [selected]="true">
          <div class="row m-0">
            <div class="col-12 col-sm-4 form-group">
              <label class="label">Tipo Documento: *</label>
              <div class="form-control-selectk">
                <p-dropdown [(ngModel)]="requestDatosGeneral.codigoTipoDocumento" [options]="lstTipoDocumento" [disabled]="isDisbledFormu"
                  optionLabel="valor1" optionValue="codigo" placeholder="Seleccione" (ngModelChange)="changeTipoDoc()">
                </p-dropdown>
              </div>
            </div>
            <div class="col-12 col-sm-4 form-group">
              <label class="label">Número Documento: *</label>
              <input type="text" [(ngModel)]="requestDatosGeneral.numeroDocumento" class="form-control" numero [maxLength]="11"
                autocomplete="off" (ngModelChange)="changeNumDoc()" [disabled]="isDisbledFormu"
                required [ngClass]="touchedAll_I"/>
            </div>
            <div class="col-12 col-sm-4 form-group">
              <label class="label">&nbsp;&nbsp;&nbsp;</label>
              <div>
                <button pButton pRipple type="button" label="Validar PIDE" [disabled]="isDisbledFormu"
                  [ngClass]="validaPIDEClass ? 'p-button-success': 'p-button-danger'"
                  class="p-button-rounded p-button-outlined" (click)="validarPide()"></button>
              </div>
            </div>

            <div class="col-12 col-sm-12 form-group">
              <label class="label">Nombres y Apellidos del Profesional:</label>
              <input type="text" autocomplete="off" maxlength="200" class="form-control" disabled
                [(ngModel)]="requestDatosGeneral.nombreCompleto" />
            </div>

            <div class="col-12 col-sm-8 form-group">
              <label class="label">Dirección:</label>
              <input type="text" autocomplete="off" maxlength="200" class="form-control" disabled
                [(ngModel)]="requestDatosGeneral.direccion" />
            </div>
            <div class="col-12 col-sm-4 form-group">
              <label class="label">Sector: *</label>
              <input type="text" autocomplete="off" maxlength="20" class="form-control" sinSpacioInit
                [(ngModel)]="requestDatosGeneral.sector" [disabled]="isDisbledFormu"
                 [ngClass]="touchedAll_I"/>
            </div>

          </div>

          <div class="row m-0">
            <div class="col-12 col-sm-4 form-group">
              <label class="label">Departamento:</label>
              <div class="form-control-selectk">
                <p-dropdown [(ngModel)]="requestDatosGeneral.idDepartamento" [options]="departamentos" optionValue="idDepartamento"
                  optionLabel="nombreDepartamento" (onChange)="selectDPD(1, 'd')" [disabled]="isDisbledFormu"></p-dropdown>
              </div>
            </div>
            <div class="col-12 col-sm-4 form-group">
              <label class="label">Provincia:</label>
              <div class="form-control-selectk">
                <p-dropdown [(ngModel)]="requestDatosGeneral.idProvincia" [options]="provincias" optionValue="idProvincia"
                  optionLabel="nombreProvincia" (onChange)="selectDPD(1, 'p')" [disabled]="isDisbledFormu"></p-dropdown>
              </div>
            </div>
            <div class="col-12 col-sm-4 form-group">
              <label class="label">Distrito:</label>
              <div class="form-control-selectk">
                <p-dropdown [(ngModel)]="requestDatosGeneral.idDistrito" [options]="distritos" optionValue="idDistrito"
                  optionLabel="nombreDistrito" (onChange)="selectDPD(1, 'dd')" [disabled]="isDisbledFormu"></p-dropdown>
              </div>
            </div>
          </div>

          <div class="row m-0">
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Telf. Fijo: *</label>
                <input autocomplete="off" class="form-control" [(ngModel)]="requestDatosGeneral.telefonoFijo" [disabled]="isDisbledFormu"
                  required [ngClass]="touchedAll_I" numero [maxLength]="9"/>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Telf. Celular: *</label>
                <input autocomplete="off" class="form-control" [(ngModel)]="requestDatosGeneral.telefonoCelular" [disabled]="isDisbledFormu"
                  required [ngClass]="touchedAll_I" numero [maxLength]="9"/>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Correo eléctronico: *</label>
                <input autocomplete="off" class="form-control" [(ngModel)]="requestDatosGeneral.email" [disabled]="isDisbledFormu"
                  required [ngClass]="touchedAll_I" maxlength="100" sinSpacioInit/>
              </div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label class="label">Nombre o razón social del solicitante de la concesión:</label>
                <input type="text" autocomplete="off" class="form-control" [(ngModel)]="requestDatosGeneral.razonsocial" disabled/>
              </div>
            </div>
          </div>
          <div class="row m-0" *ngIf="!isDisbledFormu">
            <div class="col-12 mt-3">
              <button type="button" class="btn-primary2" (click)="btnRegDatosGeneral()" [disabled]="isDisbledFormu">
                Guardar Datos Ingresados
              </button>
            </div>
          </div>

          <div class="row m-0" *ngIf="isShowEval">
            <div class="col-12 mt-3">
              <app-evaluar-solicitud 
                [disabled]="isDisbledEval"
                [idPFDM]="idPFDM"
                [codSeccion]="codigosPFDM.TAB_2" 
                [codSubSeccion]="codigosPFDM.TAB_2_1"
              ></app-evaluar-solicitud>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="II. Formación Profesional (estudios y especialización en el tema)">
          <div class="row m-0">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label">Profesión <i class="fz-9">(máx 100 caract.): *</i></label>
                <input type="text" autocomplete="off" [disabled]="isDisbledFormu" sinSpacioInit
                  required [ngClass]="touchedAll_II" [(ngModel)]="formacionAcademicaRequest.profesion" maxlength="100" class="form-control" />
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label">N° de registro en el colegio profesional: <i class="fz-9">(en el caso de estar
                    colegiado - máx 50 caract.)</i></label>
                <input type="text" autocomplete="off" [disabled]="isDisbledFormu" sinSpacioInit
                  [(ngModel)]="formacionAcademicaRequest.nroColegiatura" maxlength="50" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 text-right">
              <button class="btn btn-sm btn-default button-more mb-2" type="button" title="Agregar" [disabled]="isDisbledFormu"
                (click)="openModal(null,'C')"><i class="pi pi-plus"></i></button>
            </div>
            <div class="col-12 mt-2">
              <table class="table no-desbor-table">
                <thead>
                  <tr>
                    <th colspan="5">Formación Académica <i class="fz-10 font-normal">(completar de acuerdo a su
                        formación, pudiendo ser doctorados, maestrias, título profesional)</i></th>
                  </tr>
                  <tr>
                    <th>Acciones</th>
                    <th>Grado/Título</th>
                    <th>Especialidad</th>
                    <th>Nombre de la Universidad o Instituto</th>
                    <th>Año de Emisión del Título</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let d of lstData">
                    <td>
                      <span class="pointer mr-1" title="Editar" (click)="openModal(d,'E')"
                        [ngClass]=" isDisbledFormu ? 'disabled-pointer': '' ">
                        <i class="pi pi-pencil"></i>
                      </span>
                      <span class="pointer" title="Eliminar" (click)="openEliminar($event,d)"
                        [ngClass]=" isDisbledFormu ? 'disabled-pointer': '' ">
                        <i class="pi pi-trash"></i>
                      </span>
                    </td>
                    <td>{{d.grado}}</td>
                    <td>{{d.especialidad}}</td>
                    <td>{{d.universidad}}</td>
                    <td>{{d.anhio}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-sm-6 mt-3">
              <app-carga-archivo-general
                [disabled]="isDisbledFormu"
                label="Adjuntar Evidencias Académicas:"
                accept=".png, .jpg, .pdf"
                [tipoDoc]="'PFDMA2_SS2'"
                [idArchivo]="formacionAcademicaRequest.idArchivo"
                (registrarArchivo)="registrarArchivo($event, 1)"
                (eliminarArchivo)="eliminarArchivo($event, 1)">
              </app-carga-archivo-general>
            </div>
          </div>
          <div class="row m-0" *ngIf="!isDisbledFormu">
            <div class="col-12 mt-3">
              <button type="button" class="btn-primary2" (click)="btnRegFormacionAcademica()" [disabled]="isDisbledFormu">
                Guardar Datos Ingresados
              </button>
            </div>
          </div>

          <div class="row m-0" *ngIf="isShowEval">
            <div class="col-12 mt-3">
              <app-evaluar-solicitud 
                [disabled]="isDisbledEval"
                [idPFDM]="idPFDM"
                [codSeccion]="codigosPFDM.TAB_2" 
                [codSubSeccion]="codigosPFDM.TAB_2_2"
              ></app-evaluar-solicitud>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab
          header="III. Experiencia en el Desarrollo de Actividades Vinculadas al Tipo de Concesión Solicitada">
          <div class="row m-0">
            <div class="col-12 text-right">
              <button class="btn btn-sm btn-default button-more mb-2" type="button" title="Agregar" [disabled]="isDisbledFormu"
              (click)="openModal2(null,'C')"><i class="pi pi-plus"></i></button>
            </div>
            <div class="col-12 mt-2">
              <table class="table no-desbor-table">
                <thead>
                  <tr>
                    <th>Acciones</th>
                    <th>N°</th>
                    <th>Entidad, Empresa u Otros</th>
                    <th>Cargo</th>
                    <th>Tiempo <br /> <i class="fz-10 font-normal">(Años)</i></th>
                    <th>Descripción de Actividades Realizadas</th>
                    <th>N° de Teléfono o Datos de Contacto de la Entidad, Empresa u Otros</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let d of lstData2;let indice=index">
                    <td>
                      <span class="pointer mr-1" title="Editar" (click)="openModal2(d,'E')"
                        [ngClass]=" isDisbledFormu ? 'disabled-pointer': '' ">
                        <i class="pi pi-pencil"></i>
                      </span>
                      <span class="pointer" title="Eliminar" (click)="openEliminar2($event,d)"
                        [ngClass]=" isDisbledFormu ? 'disabled-pointer': '' ">
                        <i class="pi pi-trash"></i>
                      </span>
                    </td>
                    <td>{{indice+1}}</td>
                    <td>{{d.entidad}}</td>
                    <td>{{d.cargo}}</td>
                    <td>{{d.tiempo}}</td>
                    <td>{{d.descripcion}}</td>
                    <td>{{d.telefonoContacto}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
          <div class="col-12 col-sm-6 mt-3">
            <app-carga-archivo-general
              [disabled]="isDisbledFormu"
              label="Adjuntar Evidencias Laborales:"
              accept=".pdf, .png .jpg"
              [idArchivo]="experienciaRequestEntity.idArchivo"
              [tipoDoc]="'CAMBIAR2_3'"
              (registrarArchivo)="registrarArchivo($event, 2)"
              (eliminarArchivo)="eliminarArchivo($event, 2)">
            </app-carga-archivo-general>
          </div>
          <div class="row m-0" *ngIf="!isDisbledFormu">
            <div class="col-12 mt-3">
              <button type="button" class="btn-primary2" (click)="btnRegExperiencia()" [disabled]="isDisbledFormu">
                Guardar Datos Ingresados
              </button>
            </div>
          </div>

          <div class="row m-0" *ngIf="isShowEval">
            <div class="col-12 mt-3">
              <app-evaluar-solicitud 
                [disabled]="isDisbledEval"
                [idPFDM]="idPFDM"
                [codSeccion]="codigosPFDM.TAB_2" 
                [codSubSeccion]="codigosPFDM.TAB_2_3"
              ></app-evaluar-solicitud>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>

<p-dialog appendTo="body" header="{{tituloModalMantenimiento}}" [(visible)]="verModalMantenimiento" [modal]="true"
  [style]="{width: '40vw'}" [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="true">
  <ng-template pTemplate="content">
    <div>
      <div class="form-group">
        <label class="label">Grado/Título:</label>
        <input type="text" [(ngModel)]="context.grado" class="form-control" placeholder="" maxlength="100" 
          sinSpacioInit required [ngClass]="touchedAllModal_II">
      </div>
      <div class="form-group">
        <label class="label">Especialidad:</label>
        <input type="text" [(ngModel)]="context.especialidad" class="form-control" placeholder="" maxlength="100" 
          sinSpacioInit required [ngClass]="touchedAllModal_II">
      </div>
      <div class="form-group">
        <label class="label">Nombre de la Universidad o Instituto:</label>
        <input type="text" [(ngModel)]="context.universidad" class="form-control" placeholder="" maxlength="100" 
          sinSpacioInit required [ngClass]="touchedAllModal_II">
      </div>
      <div class="form-group">
        <label class="label">Año de Emisión del Título:</label>
        <input type="text" [(ngModel)]="context.anhio" class="form-control" placeholder="" numero [maxLength]="4"
        required [ngClass]="touchedAllModal_II">
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button icon="pi pi-save" (click)="guardar()" pButton pRipple type="button" label="Guardar"
      class="p-button-success p-button-outlined"></button>
    <button icon="pi pi-times" (click)="verModalMantenimiento=false" pButton pRipple type="button" label="Cancelar"
      class="p-button-danger p-button-outlined"></button>
  </ng-template>
</p-dialog>


<p-dialog appendTo="body" header="{{tituloModalMantenimiento2}}" [(visible)]="verModalMantenimiento2" [modal]="true"
  [style]="{width: '40vw'}" [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="true">
  <ng-template pTemplate="content">
    <div>
      <div class="form-group">
        <label class="label">Entidad, Empresa u Otros: *</label>
        <input type="text" [(ngModel)]="context2.entidad" class="form-control" placeholder="" maxlength="100" 
          sinSpacioInit required [ngClass]="touchedAllModal_III">
      </div>
      <div class="form-group">
        <label class="label">Cargo: *</label>
        <input type="text" [(ngModel)]="context2.cargo" class="form-control" placeholder="" maxlength="100" 
          sinSpacioInit required [ngClass]="touchedAllModal_III">
      </div>
      <div class="form-group">
        <label class="label">Tiempo <i class="fz-10 font-normal">(Años)</i>: *</label>
        <input type="text" numero [maxLength]="2" [(ngModel)]="context2.tiempo" class="form-control" placeholder=""
          required [ngClass]="touchedAllModal_III">
      </div>
      <div class="form-group">
        <label class="label">Descripción de Actividades Realizadas: *</label>
        <input type="text" [(ngModel)]="context2.descripcion" class="form-control" placeholder="" maxlength="100" 
          sinSpacioInit required [ngClass]="touchedAllModal_III">
      </div>
      <div class="form-group">
        <label class="label">N° de Teléfono o Datos de Contacto de la Entidad, Empresa u Otros: *</label>
        <input type="text" [(ngModel)]="context2.telefonoContacto" class="form-control" placeholder="" maxlength="20" 
          sinSpacioInit required [ngClass]="touchedAllModal_III">
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button icon="pi pi-save" (click)="guardar2()" pButton pRipple type="button" label="Guardar"
      class="p-button-success p-button-outlined"></button>
    <button icon="pi pi-times" (click)="verModalMantenimiento2=false" pButton pRipple type="button" label="Cancelar"
      class="p-button-danger p-button-outlined"></button>
  </ng-template>
</p-dialog>