<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12 p-0">
      <p-accordion>
        <p-accordionTab
          header="Inspecciones oculares obligatorias a cargo de la ARFFS"
        >
          <p-table [value]="accordeon_6.listNivel3">
            <ng-template pTemplate="header">
              <tr>
                <th class="col-6">Descripción</th>
                <th colspan="2" style="max-width: 250px; text-align: center;">
                  Conformidad
                </th>
                <th>Observación</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td
                  style="width: 40%;"
                  style="width: 15%; border-left: 1px solid #eee;"
                >
                  <label class="label">{{ data.valorSecundario }}</label>
                </td>
                <td style="width: 15%; border-left: 1px solid #eee;">
                  <p-radioButton
                    name="resultado_{{ data.codigo }}"
                    [value]="codigoConforme" [disabled]="disabled"
                    inputId="SI_{{data.codigo}}"
                    [(ngModel)]="data.codigoSniffsDescripcion"
                  >
                  </p-radioButton>
                  <label class="ml-2 pointer">Conforme</label>
                </td>
                <td style="width: 15%; border-left: 1px solid #eee;">
                  <p-radioButton
                    name="resultado_{{ data.codigo }}" [disabled]="disabled"
                    [value]="codigoObservado"
                    inputId="NO_{{ data.codigo }}"
                    [(ngModel)]="data.codigoSniffsDescripcion"
                  >
                  </p-radioButton>
                  <label class="ml-2 pointer">Observado</label>
                </td>
                <td style="width: 15%; border-left: 1px solid #eee;">
                  <div *ngIf="data.codigoSniffsDescripcion == codigoObservado">
                    <label class="label">(máx. 250 caracteres):*</label>
                    <textarea
                      maxlength="250"
                      rows="3" [disabled]="disabled"
                      class="form-control"
                      [(ngModel)]="data.observacion"
                    >
                    </textarea>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>

          <div class="col-12 mt-4">
            <div>
              <button
                type="submit"
                class="btn-primary2 mt-4" [disabled]="disabled"
                (click)="guardarEvaluacion()"
              >
                Guardar evaluación
              </button>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab
          header="Criterios para la no realización de inspecciones oculares facultativas por parte de las ARFFS"
        >
          <div class="mt-2 mb-2">
            <div class="mt-4 mb-4 text-justify">
              {{ acordeon_body }}
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Solicitar Inspección Ocular">
          <div class="col-12 mt-4">
            <div>
              <button class="btn btn-secondary" (click)="btnSolInspOcular()" [disabled]="disabled">
                Solicitar Inspección Ocular
              </button>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>

<div class="step__btn mt-4">
  <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
  <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
</div>

<p-toast></p-toast>
