<div>
  <p-accordion>
    <app-solicitar-opicion-evaluacion
      [titulo]="'5.1. Solicitar opinión a SERNANP'"
      [idPlanManejo]="idPlanManejo"
      [opinion]="'SERNANP'" [disabled]="disabled"
      [codigoEpica]="codigoEpica"
      [lisTiposArchivo]="lisTiposArchivo"
      [listaSERNANP]="objSERNANP"
      (changeObj)="changeObj($event)"
    ></app-solicitar-opicion-evaluacion>
    <app-solicitar-opicion-evaluacion
      [titulo]="'5.2. Solicitar opinión a ANA'"
      [idPlanManejo]="idPlanManejo"
      [opinion]="'ANA'" [disabled]="disabled"
      [codigoEpica]="codigoEpica"
      [lisTiposArchivo]="lisTiposArchivo"
      [listaANA]="objANA"
      (changeObj)="changeObj($event)"
    ></app-solicitar-opicion-evaluacion>
    <app-solicitar-opicion-evaluacion
      [titulo]="'5.3. Solicitar opinión a MINCUL'"
      [idPlanManejo]="idPlanManejo"
      [opinion]="'MINCUL'" [disabled]="disabled"
      [codigoEpica]="codigoEpica"
      [lisTiposArchivo]="lisTiposArchivo"
      [listaMINCUL]="objMINCUL"
      (changeObj)="changeObj($event)"
    ></app-solicitar-opicion-evaluacion>
    <app-solicitar-opicion-evaluacion
      [titulo]="'5.4. Solicitar opinión a Otra entidad'"
      [idPlanManejo]="idPlanManejo"
      [opinion]="'OTRA'" [disabled]="disabled"
      [listEntidades]="listEntidades"
      [codigoEpica]="codigoEpica"
      [lisTiposArchivo]="lisTiposArchivo"
      [listaOTRA]="objOTRA"
      (changeObj)="changeObj($event)"
    ></app-solicitar-opicion-evaluacion>
  </p-accordion>
</div>
