<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12">
      <h3 class="title">Bandeja de Entrada PGMF</h3>
    </div>
  </div>

  <app-bandeja-evaluacion
    [evaluacionRequest]="evaluacionRequest"
    [loading]="loading"
    [planes]="planes"
    [perfil]="usuario.sirperfil"
    [descripcionPlan]="PLAN.descripcion"
    (buscar)="buscar()"
    (limpiar)="limpiar()"
    [isBandejaEvaluacion]="false"
    (nuevo)="nuevoPlan()"
    (load)="load($event)"
    [totalRecords]="totalRecords"
  >
    <!-- <ng-template #acciones let-data="data" *ngIf="permisos.isPerVisualizar">
      <i
        class="pi pi-pencil pointer"
        title="Revision"
        aria-hidden="true"
        (click)="verPlan(data?.idPlanManejo)"
      ></i>
    </ng-template>
    <ng-template #verContrato let-data="data" *ngIf="permisos.isPerVisualizar">
      <i
        class="pi pi-eye pointer"
        title="Ver contrato"
        aria-hidden="true"
        (click)="btnVerContrato(data?.idPlanManejo)"
      ></i>
    </ng-template> -->
    <ng-template #acciones let-data="data">
      <i
        class="pi pi-pencil pointer"
        title="Revision"
        aria-hidden="true"
        (click)="verPlan(data?.idPlanManejo)"
      ></i>
    </ng-template>
    <ng-template #verContrato let-data="data">
      <i
        class="pi pi-eye pointer"
        title="Ver contrato"
        aria-hidden="true"
        (click)="btnVerContrato(data?.idPlanManejo)"
      ></i>
    </ng-template>
  </app-bandeja-evaluacion>
</div>
