.btn-file {
    background: #fff !important;
    min-height: 32px;
    font-family: "Montserrat";
    font-size: 11px;
    color: #4a962c !important;
    border: 2px solid #4a962c !important;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important;
    min-width: 50px;
  }
  
  .btn-secondary {
    min-width: 120px !important;
  }
  .container-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
  }