<div class="col-12 mt-4 mb-3">
  <p-table
    [value]="listAnexo2Especies"
    styleClass="p-datatable-gridlines"
  >
    <ng-template pTemplate="caption">
      Resumen de resultados del censo comercial con fines de aprovechamiento
      forestal maderables
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="1" colspan="2">
          Área total censada(ha)
        </th>
        <th rowspan="1" colspan="10">{{ areaTotalCensada }}</th>
      </tr>

      <tr>
        <th rowspan="1" colspan="2">
          Nº de especies censadas
        </th>
        <th rowspan="1" colspan="5">{{ especiesCensadas }}</th>
        <th rowspan="1" colspan="3">N° de árboles censados</th>
        <th colspan="2">{{ arbolesCensados }}</th>
      </tr>

      <tr>
        <th rowspan="2">Especie (Nombre común)</th>
        <th rowspan="2">Variables</th>
        <th colspan="7">Da (cm)</th>
        <th rowspan="2">Total (por ha)</th>
        <th rowspan="2">Total para el área censada</th>
        <th rowspan="2">%</th>
      </tr>
      <tr>
        <th>31-40</th>
        <th>41-50</th>
        <th>51-60</th>
        <th>61-70</th>
        <th>71-80</th>
        <th>81-90</th>
        <th>+ 91</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td [attr.rowspan]="3">{{ data.nombreComun }}</td>
      </tr>
      <tr *ngFor="let item of data.array">
        <td>{{ item.var }}</td>
        <td>{{ item.Dap30a39 | number : '1.4-4' }}</td>
        <td>{{ item.Dap40a49 | number : '1.4-4' }}</td>
        <td>{{ item.Dap50a59 | number : '1.4-4' }}</td>
        <td>{{ item.Dap60a69 | number : '1.4-4' }}</td>
        <td>{{ item.Dap70a79 | number : '1.4-4' }}</td>
        <td>{{ item.Dap80a89 | number : '1.4-4' }}</td>
        <td>{{ item.Dap90aMas | number : '1.4-4' }}</td>
        <td>{{ item.TotalTipoBosque | number : '1.4-4' }}</td>
        <td>{{ item.TotalPorArea | number : '1.4-4' }}</td>
        <td>{{ item.porcentaje | number : '1.4-4' }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td rowspan="3" class="tdTotal">Total</td>
      </tr>
      <tr>
        <td class="tdTotal">N(Arb/ha)</td>
        <td class="tdTotal">{{ Dap30a39N | number : '1.4-4' }}</td>
        <td class="tdTotal">{{ Dap40a49N | number : '1.4-4' }}</td>
        <td class="tdTotal">{{ Dap50a59N | number : '1.4-4' }}</td>
        <td class="tdTotal">{{ Dap60a69N | number : '1.4-4' }}</td>
        <td class="tdTotal">{{ Dap70a79N | number : '1.4-4' }}</td>
        <td class="tdTotal">{{ Dap80a89N | number : '1.4-4' }}</td>
        <td class="tdTotal">{{ Dap90aMasN | number : '1.4-4' }}</td>
        <td class="tdTotal">{{ TotalTipoBosqueN | number : '1.4-4' }}</td>
        <td class="tdTotal">{{ TotalPorAreaN | number : '1.4-4' }}</td>
        <td class="tdTotal">{{ porcentajeN | number : '1.4-4' }}</td>
      </tr>
      <tr>
        <td class="tdTotal">Vc(m3/ha)</td>
        <td class="tdTotal">{{ Dap30a39vc | number : '1.4-4' }}</td>
        <td class="tdTotal">{{ Dap40a49vc | number : '1.4-4' }}</td>
        <td class="tdTotal">{{ Dap50a59vc | number : '1.4-4' }}</td>
        <td class="tdTotal">{{ Dap60a69vc | number : '1.4-4' }}</td>
        <td class="tdTotal">{{ Dap70a79vc | number : '1.4-4' }}</td>
        <td class="tdTotal">{{ Dap80a89vc | number : '1.4-4' }}</td>
        <td class="tdTotal">{{ Dap90aMasvc | number : '1.4-4' }}</td>
        <td class="tdTotal">{{ TotalTipoBosquevc | number : '1.4-4' }}</td>
        <td class="tdTotal">{{ TotalPorAreavc | number : '1.4-4' }}</td>
        <td class="tdTotal">{{ porcentajevc | number : '1.4-4' }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
