<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="14.1. Aspectos Complementarios" [selected]="true">
          <div class="col-12">
            <span class="label">
              Indicar cualquier otro aspecto importante.
            </span>
            <textarea
              class="form-control"
              rows="4"
              [(ngModel)]="informacionGeneral.detalle"
              style="resize: none"
              maxlength="250"
              [disabled]="disabled|| !isDisabled || isPerfilArffs"
            ></textarea>
          </div>
          <div class="col-12">
            <label
              *ngIf="!isDisabled"
              class="lbl-info mt-3 mb-3"
              style="float: none !important"
            >
              (Para completar esta sección debe registrar Información General.)
            </label>
          </div>
          <br>
          <div class="col-12">
            <input-button-type-codigo
              [label]="'Adjuntar'"
              [idPlanManejo]="idPlanManejo" [disabled]="disabled"
              [idTipoDocumento]="'POACAC'"
              [codigoProceso]="'POAC'"
              [accept]="accept"
            ></input-button-type-codigo>
          </div>
          <br />
          <evaluacion-archivo-shared
          [idPlanManejo]="idPlanManejo"
          [cadigoTab]="codigoAcordeon14_1"
          [base]="evaluacion14_1"
          *ngIf="isPerfilArffs"
          >
          <ng-template #conatinertop> </ng-template>
          <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4" *ngIf="!isPerfilArffs">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button
          class="btn-primary2"
          (click)="ActualizarAspectosComplementarios()"
          [disabled]="disabled || !isDisabled"
        >
          Guardar
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>

      <div class="step__btn mt-4" *ngIf="isPerfilArffs">
        <message-evaluation></message-evaluation>
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button class="btn-primary2" (click)="registrarEvaluacion()">
          Guardar Evaluación
        </button>
        <button class="btn-primary2" (click)="retornarFlujoEvaluacion()">
          Retornar Flujo Evaluacion
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
      <br />
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
