<div class="row">
  <div class="col-12 form-group">
    <label class="label">Factores</label>
    <div class="form-control-selectk">
      <p-dropdown
        [options]="factor"
        optionLabel="nombreActividad"
        optionValue="idEvalActividad"
        placeholder="Selecciona factor"
        [(ngModel)]="impactoObjt.idEvalActividad"
      ></p-dropdown>
    </div>
  </div>

  <div class="col-12 form-group">
    <label class="label">Actividad</label>
    <div class="form-control-selectk">
      <p-dropdown
        [options]="actividades"
        optionLabel="nombreAprovechamiento"
        optionValue="idEvalAprovechamiento"
        placeholder="Selecciona Actividad"
        [(ngModel)]="impactoObjt.idEvalAprovechamiento"
      ></p-dropdown>
    </div>
  </div>

  <div class="col-12 form-group">
    <label class="label">Caracterización de Impacto</label>
    <div class="form-control-selectk">
      <p-dropdown
        [options]="carImpacto"
        optionLabel="label"
        optionValue="value"
        placeholder="Selecciona Caracterización de Impacto"
        [(ngModel)]="impactoObjt.idCarImpacto"
      ></p-dropdown>
    </div>
  </div>

  <div class="col-12 form-group">
    <label class="label">Medidas de Mitigación</label>
    <input
      type="text"
      class="form-control"
      placeholder="Ingrese mitigación "
      [(ngModel)]="impactoObjt.mitigacion"
      maxlength="100"
    />
  </div>
</div>
<div class="d-flex justify-content-end">
  <button
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
    [label]="'Aceptar'"
    class="p-button-success p-button-outlined"
    style="width: 106px"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
    style="width: 106px"
  ></button>
</div>
<p-toast  key="toast"></p-toast>
