<div class="p-4">
  <div class="row form-group">
    <div class="col-12 col-md-3">
      <label class="label">Número de documento:</label>
    </div>

    <div class="col-12 col-md-9">
      <p-autoComplete [(ngModel)]="documentoRegente" styleClass="w-100" inputStyleClass="form-control form-control-sm"
        placeholder="Buscar..." field="numeroDocumento" [suggestions]="regentesFiltrados"
        emptyMessage="No se encontró Regente." [forceSelection]="true" [delay]="200" (onClear)="clearRegente()"
        (onSelect)="selectDocumentoRegente($event)" (completeMethod)="filtrarRegente($event.query)">
        <ng-template let-regente pTemplate="item">
          {{regente.nombresNroDocumento}}
        </ng-template>
      </p-autoComplete>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-12 col-md-3">
      <label class="label">Número de registro de CIP:</label>
    </div>

    <div class="col-12 col-md-9">
      <!-- <input [(ngModel)]="regenteForestal.numeroLicencia" disabled type="text" autocomplete="off"
        class="form-control form-control-sm" /> -->

      <div class="input-group">
        <input type="text" autocomplete="off" class="form-control form-control-sm" placeholder=""
          [(ngModel)]="regenteForestal.numeroLicencia">
        <div class="input-group-append">
          <button type="button" id="btnCargaShapeFile" (click)="fileInput.click()" class="btn btn-sm btn-secondary">
            Seleccione archivo<input #fileInput type="file" accept="application/pdf, image/*" (change)="onFileChange($event)" style="display:none;" />
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-12 col-md-3">
      <label class="label">Nombre del Regente Forestal del PO:</label>
    </div>
    <div class="col-12 col-md-9">
      <input value="{{regenteForestal?.nombres}}" disabled type="text" autocomplete="off"
        class="form-control form-control-sm" />
    </div>
  </div>

  <div class="row form-group">
    <div class="col-12 col-md-3">
      <label class="label">Domicilio Legal:</label>
    </div>

    <div class="col-12 col-md-9">
      <input [(ngModel)]="regenteForestal.domicilioLegal" type="text" autocomplete="off"
        class="form-control form-control-sm" />
    </div>
  </div>

  <div class="row form-group">
    <div class="col-12 col-md-3">
      <label class="label">Contrato suscrito con el titular del título
        habilitante:</label>
    </div>

    <div class="col-12 col-md-9">
      <!-- <input [(ngModel)]="regenteForestal.contratoSuscrito"
             type="text"
             autocomplete="off"
             class="form-control form-control-sm" /> -->

      <div class="input-group">
        <input type="text" autocomplete="off" class="form-control form-control-sm" placeholder=""
          [(ngModel)]="regenteForestal.contratoSuscrito">
        <div class="input-group-append">
          <button type="button" id="btnCargaShapeFile" (click)="fileInput1.click()" class="btn btn-sm btn-secondary">
            Seleccione archivo<input #fileInput1 type="file" accept="application/pdf" (change)="onFileChangeContrato($event)" style="display:none;" />
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="row form-group">
    <!-- <div class="col-12 col-md-3">
      <label class="label">Certificado de habilitación profesional del Regente
        Forestal:</label>
    </div>

    <div class="col-12 col-md-2">
      <input [(ngModel)]="regenteForestal.certificadoHabilitacion"
             type="text"
             autocomplete="off"
             class="form-control form-control-sm" />
    </div>
 -->
    <div class="col-12 col-md-3">
      <label class="label">N° inscripción en el registro de regentes que conduce el
        SERFOR:</label>
    </div>

    <div class="col-12 col-md-9">
      <input [(ngModel)]="regenteForestal.numeroInscripcion" type="text" autocomplete="off"
        class="form-control form-control-sm" />
    </div>
  </div>
</div>
<p-toast></p-toast>
