<div class="container-fluid">
  
    <div class="row">
        <div class="col-12">
            <h3 class="title">Mis Tramites</h3>
            <div class="panelk br10 p-3">
                <div class="row">
                    <div class="col-sm-4 col-md-5">
                        <label class="label">Solicitante</label>
                        <input class="form-control form-control-sm bg-gray" type="text" autocomplete="off"/>
                    </div>
                    <div class="col-sm-4 col-md-5">
                        <label class="label">Estado</label>
                        <div class="form-control-selectk">
                            <p-dropdown [options]="estados" optionLabel="text"></p-dropdown>
                        </div>                        
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <label class="label">&nbsp;&nbsp;</label>
                        <button class="btn btn-sm btn-secondary f-w">Buscar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pl-3 pr-3 pt-4 pb-4">
                        <div class="container-estados">
                            
                            <div class="item">
                                <div class="icon right"><i class="pi pi-book"></i></div>
                                <div class="number right">1</div>
                                <div class="desc">Otorgamiento derechos</div>
                            </div>
                            <div class="item active">
                                <div class="icon right"><i class="pi pi-cog"></i></div>
                                <div class="number right">2</div>
                                <div class="desc">Planificación</div>
                            </div>
                           
                            <div class="item">
                                <div class="icon right"><i class="pi pi-book"></i></div>
                                <div class="number right">3</div>
                                <div class="desc">Ejecución</div>
                            </div>
                            <div class="item">
                                <div class="icon right"><i class="pi pi-book"></i></div>
                                <div class="number right">5</div>
                                <div class="desc">Transporte GTF</div>
                            </div>
                            <div class="item">
                                <div class="icon right"><i class="pi pi-book"></i></div>
                                <div class="number right">0</div>
                                <div class="desc">Transformación de productos</div>
                            </div>
                            <div class="item">
                                <div class="icon right"><i class="pi pi-book"></i></div>
                                <div class="number right">0</div>
                                <div class="desc">Comercialización</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <br/>
                <br/>

            <h3 class="title2">Lista de información historica y actual de solicitudes</h3>
            <br/>
            <div class="">
                <div class="tablek">
                    <p-table [value]="dataDemo">
                      <ng-template pTemplate="header">
                          <tr>
                            <th style="width: 120px;">Expediente</th>
                            <th style="width: 180px;">Solicitante</th>
                            <th>Tipo de tramite</th>
                            <th>Descripción de tramite</th>
                            <th style="width: 120px;">Estado</th>
                            <th style="width: 70px;">Acciones</th>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-product>
                          <tr>
                              <td>{{product.expediente}}</td>
                              <td>{{product.solictante}}</td>
                              <td>{{product.tipoTramite}}</td>
                              <td>{{product.descripcionTramite}}</td>
                              <td>{{product.estado}}</td>
                              <td class="text-center">
                                <span class="pointer">
                                    <i class="pi pi-eye"></i>
                                </span>
                              </td>                             
                          </tr>
                      </ng-template>
                  </p-table>                    
                  <p-paginator [rows]="10" [totalRecords]="100" [rowsPerPageOptions]="[10,25,50,100]"></p-paginator>
                    
                  </div>
            </div>

            <br/>
            <br/>
        </div>
    </div>
  



</div>

