<div class="row-fluid">

  <p-fieldset legend="Componente de Catastro" [toggleable]="true">

    <div class="row">
      <ul>
        <li>
          <label>Enviar Información al componente de Catastro para actualización de base de datos</label>
          <button type="button" class="btn btn-sm btn-primary2">Enviar</button>
        </li>
      </ul>
    </div>

  </p-fieldset>

  <p-fieldset legend="SERFOR" [toggleable]="true">

    <div class="row">
      <ul>
        <li>
          <label>Adjuntar Oficio</label>
          <button type="button" class="btn btn-sm btn-primary2">Enviar</button>
        </li>
      </ul>
    </div>

  </p-fieldset>

</div>
