<div class="container-fluid">
  <div class="row m-0 mt-3">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="7.1 Medidas de Protección de la Unidad de Manejo Forestal" [selected]="true">
          <div class="row m-0">
            <div class="col-12 mb-2 text-right">
              <button class="btn btn-sm btn-default button-more mb-2" type="button" title="Agregar"
                (click)="abrirModal(AccionTipo.REGISTRAR)"><i class="pi pi-plus"></i></button>
            </div>
            <div class="col-12 ">
              <p-table [value]="actividades" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Acciones</th>
                    <th>Medidas</th>
                    <th>Descripción</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                  <tr>
                    <td class="text-center">
                      <span class="pointer mr-1" title="Editar" (click)="abrirModal(AccionTipo.EDITAR ,item,rowIndex)">
                        <i class="pi pi-pencil" aria-hidden="true"></i>
                      </span>
                      <span class="pointer" title="Eliminar"
                        (click)="eliminar($event.target,item?.idSistemaManejoForestalDetalle,rowIndex)">
                        <i class="pi pi-trash" aria-hidden="true"></i>
                      </span>
                      <p-confirmPopup></p-confirmPopup>
                    </td>
                    <td>{{item.actividades}}</td>
                    <td> {{item.descripcionSistema}} </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            
            <!-- <div class="col-12 mt-2">
              <button class="btn-primary2 mx-0" (click)="guardar()">Guardar</button>
            </div> -->
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

  <br/>
  <br/>

  <div class="step__btn mt-4 mb-4">
    
      <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    
      <button class="btn-primary2" (click)="guardar()">Guardar</button>

      <button class="btn-primary2" (click)="siguienteTab()"> Siguiente</button>
    </div>
</div>