<div class="row m-0" *ngIf="buscar && !related">
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Solicitud de Permiso Forestal</label>
      <div class="form-control-selectk">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar..."
          [(ngModel)]="queryPermiso"
        />
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-3">
    <div class="form-group">
      <label class="label">&nbsp;&nbsp;</label>
      <div class="text-center">
        <button type="button" class="btn-primary2" (click)="filtrarPermiso()">
          Buscar
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-12">
    <p-table [value]="listPermiso">
      <ng-template pTemplate="header">
        <tr>
          <th *ngIf="buscar && !related" style="width: 40px;"></th>
          <th>Permiso Forestal</th>
          <th>Comunidad</th>
          <th>Jefe Comunidad o Representate Legal</th>
          <th>DNI o RUC</th>
          <th *ngIf="!buscar" style="width: 50px;">Ver</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td *ngIf="buscar && !related">
            <p-checkbox
              name="permiso"
              [(ngModel)]="selectedValues"
              [value]="data"
              (onChange)="onChangePermiso($event, data)"
            >
            </p-checkbox>
          </td>
          <td>{{ data.idPermisoForestal }}</td>
          <td>{{ data.nombreComunidad }}</td>
          <td>{{ data.jefeComunidad }}</td>
          <td>{{ data.documento }}</td>
          <td *ngIf="!buscar" style="text-align: center;">
            <span
              class="pointer mr-1"
              title="Ver Permiso Forestal"
              (click)="redireccionar(data.idPermisoForestal)"
            >
              <i class="pi pi-external-link"></i>
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="d-flex justify-content-end">
  <button *ngIf="!buscar || (buscar && related)"
    (click)="cerrarModal()"
    icon="pi pi-check"
    pButton
    pRipple
    type="button"
    label="Aceptar"
    class="p-button-success p-button-outlined"
    style="width: 106px;"
  ></button>
  &nbsp;&nbsp;
  <button *ngIf="buscar && !related"
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
    label="Aceptar"
    class="p-button-success p-button-outlined"
    style="width: 106px;"
  ></button>
  &nbsp;&nbsp;
  <button *ngIf="buscar && !related"
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
    style="width: 106px;"
  ></button>
</div>

<p-toast></p-toast>
<p-toast position="top-right" key="tml"></p-toast>
