<div class="row m-0">
    <div class="col-12 col-sm-6">
        <div class="form-group">
            <label class="label">Título Habilitante</label>
            <div class="form-control-selectk">
                <input type="text" class="form-control" placeholder="Ingresa Título Habilitante"
                    [(ngModel)]="queryHabilitante" />
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3">
        <div class="form-group">
            <label class="label">&nbsp;&nbsp;</label>
            <div class="text-center">
                <button type="button" class="btn-primary2" (click)="filtrarContratoHabilitante()">
                    Buscar
                </button>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3">
        <div class="form-group">
            <label class="label">&nbsp;&nbsp;</label>
            <div class="text-center">
                <button class="btn btn-sm btn-secondary mr-2" (click)="limpiar()">Limpiar</button>
            </div>
        </div>

    </div>
</div>
<div class="row m-0">
    <div class="col-12">
        <p-table [value]="lstModal" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10, 25, 50]"
            [lazy]="true" [loading]="loading" (onLazyLoad)="load($event)" [totalRecords]="totalRecords">
            <ng-template pTemplate="header">
                <tr>
                    <th scope="row"></th>
                    <th scope="row">{{tipoProcesoContratoPermiso == 2 ? 'Número de Solicitud de Prestamo Forestal' : 'Título Habilitante'}}</th>
                    <th scope="row">N° Documento</th>
                    <th scope="row">Titular Vigente</th>
                    <!--th scope="row">Ubigeo</th-->
                    <!--th scope="row">Descripción</th-->
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>
                        <p-radioButton name="valorModal" [(ngModel)]="selectModal" [value]="item">
                        </p-radioButton>
                    </td>
                    <td>{{ item?.codigoContrato }}</td>
                    <td>{{ item?.numeroDocumentoTitularTH }}</td>
                    <td>{{ item?.titularTH }}</td>
                    <!--td>{{item?.ubigeo}}</td-->
                    <!--td>{{item?.tipoPlanManejo}}</td-->
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<br>
<div class="p-dialog-footer" style="padding-bottom:0px;padding-right:0px;">
    <button icon="pi pi-save" (click)="aceptar()" pButton pRipple type="button" label="Guardar"
        class="p-button-success p-button-outlined"></button>
    <button icon="pi pi-times" (click)="cancelar()" pButton pRipple type="button" label="Cancelar"
        class="p-button-danger p-button-outlined"></button>
</div>


<!-- <ng-template pTemplate="content">
    <div>
        <p-table [value]="lstModal">
            <ng-template pTemplate="header">
                <tr>
                    <th scope="row"></th>
                    <th scope="row">{{dataBase.tipo == 'P' ? 'Número de Solicitud de Prestamo Forestal' : 'Título Habilitante'}}</th>
                    <th scope="row">Estado</th>
                    <th scope="row">Descripción</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-rowIndex="rowIndex+1">
                <tr>
                    <td>
                        <p-radioButton name="valorModal" [(ngModel)]="selectModal" [value]="rowIndex">
                        </p-radioButton>
                    </td>
                    <td>{{rowIndex + 'HSD' + rowIndex}}</td>
                    <td>Presentado</td>
                    <td>{{'PGMFA' + rowIndex}}</td>
                </tr>
            </ng-template>
        </p-table>

    </div>
</ng-template> -->

<!-- <ng-template pTemplate="footer">
    <button icon="pi pi-save" (click)="aceptar()" pButton pRipple type="button" label="Aceptar"
        class="p-button-success p-button-outlined"></button>
    <button icon="pi pi-times" (click)="verModal=false" pButton pRipple type="button" label="Cancelar"
        class="p-button-danger p-button-outlined"></button>
</ng-template> -->

<!-- <p-toast key="gpc_02"></p-toast> -->
