<p-toast position="top-right"></p-toast>
<div class="container-fluit">
  <div class="mb-4">
    <div class="row m-0 mb-3">
      <div class="col-12 col-sm-3">
        <div class="form-group">
          <label class="label">Código de Trámite</label>
          <input
            autocomplete="off"
            class="form-control"
            type="text"
            maxlength="15"
            [(ngModel)]="codigoTramite"
            [disabled]="isdisabled"
          />
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="form-group">
          <label class="label">Fecha de Recepción </label>
          <div class="content-date" aling="right">
            <input
              autocomplete="off"
              type="text"
              class="form-control"
              matInput
              [min]="minDate"
              [matDatepicker]="fi"
              readonly="true"
              [(ngModel)]="fechaRecepcion"
              [disabled]="isdisabled"
            />
            <i class="pi pi-calendar pointer" (click)="fi.open()"></i>
            <mat-datepicker #fi></mat-datepicker>
          </div>
        </div>
      </div>
    </div>
    <p-table [value]="listaDocumentos">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">Acciones</th>
          <th>Tipo Documento</th>
          <th>Nombre de documento</th>
          <th>Conforme</th>
          <th>Observado</th>
          <th>Observación</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td class="text-center">
            <span
              class="pointer mr-3"
              pTooltip="Descargar"
              (click)="btnDescargar(data)"
            >
              <i class="pi pi-download"></i>
            </span>
          </td>
          <td>{{ data.tipoDocumento }}</td>
          <td>{{ data.nombreDocumento }}</td>
          <td>
            <p-radioButton
              [(ngModel)]="data.conforme"
              name="rbObser"
              [value]="true"
              [disabled]="isdisabled"
              (click)="clickValidarRadio()"
            ></p-radioButton>
          </td>
          <td>
            <p-radioButton
              [(ngModel)]="data.conforme"
              name="rbObser"
              [value]="false"
              [disabled]="isdisabled"
              (click)="clickValidarRadio()"
            ></p-radioButton>
          </td>
          <td>
            <input
              *ngIf="data.conforme === false"
              placeholder="Ingrese observación..."
              type="text"
              [(ngModel)]="data.observacion"
              class="form-control form-control-sm"
              [disabled]="isdisabled"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="text-right" *ngIf="listaDocumentos.length > 0">
    <button
      *ngIf="!isdisabled"
      icon="pi pi-save"
      (click)="btnSubsanar()"
      pButton
      pRipple
      type="button"
      [disabled]="tieneObs === null || tieneObs === false || (this.config.data.idEstatusProceso === 4 && this.usuario.sirperfil==='MDP') "
      label="Enviar a Subsanar"
      class="p-button-success p-button-outlined mr-2"
    ></button>

    <button
      *ngIf="!isdisabled"
      icon="pi pi-save"
      (click)="btnEvaluador()"
      pButton
      pRipple
      type="button"
      [disabled]="tieneObs === null || tieneObs === true"
      label="Enviar a Evaluador"
      class="p-button-success p-button-outlined mr-2"
    ></button>

    <button
      *ngIf="!isdisabled"
      (click)="btnGuardar()"
      icon="pi pi-save"
      pButton
      pRipple
      type="button"
      label="Guardar"
      class="p-button-success p-button-outlined mr-2"
    ></button>

    <button
      icon="pi pi-times"
      (click)="btnCancelar()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </div>
</div>
