<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 pt-3">
      <h3 class="title text-uppercase">Solicitudes de Permisos Forestales</h3>
    </div>
    <div class="col-12">
      <p-fieldset legend="Filtros" [toggleable]="true" [collapsed]="false">
        <div class="row m-0">
          <div class="col-12 col-sm-3">
            <div class="form-group">
              <label class="label">Permiso Forestal</label>
              <div class="form-control-selectk">
                <p-dropdown [options]="lstEstado" [(ngModel)]="solicitudAcceso.idestadoSolicitud" optionLabel="label"
                            optionValue="valor" placeholder="Seleccione"></p-dropdown>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-3">
            <label for="procesoPostulacion">Fecha de presentación</label>
            <div class="content-date">
              <input [(ngModel)]="solicitudAcceso.fechaPresentacion" name="fechaDesde" autocomplete="off" class="form-control" matInput
                [matDatepicker]="fechaDesde">
              <i class="pi pi-calendar pointer" (click)="fechaDesde.open()"></i>
              <mat-datepicker #fechaDesde></mat-datepicker>
            </div>
          </div>

          <div class="col-12 col-sm-3 form-group">
            <label class="label">Estado:</label>
            <div class="form-control-selectk">
              <p-dropdown class="fomr-control" [options]="estadosolicitudes"   [(ngModel)]="solicitudAcceso.estadoSolicitud"></p-dropdown>
            </div>
          </div>

          <div class="col-12 col-sm-3 mt-4">
            <div class="col-12 col-sm-12 text-center">
              <button pButton pRipple type="button" label="Limpiar" class="p-button-secondary p-button-outlined ml-1"
                      (click)="limpiar()"></button>
              <button pButton pRipple type="button" label="Buscar" class="p-button-success p-button-outlined ml-1"
                      (click)="listarSolicitudAcceso()"></button>
              <button pButton pRipple type="button" label="Nuevo" class="p-button-info p-button-outlined ml-1"
                      (click)="nuevaSolicitud()"></button>
            </div>

          </div>
        </div>
        <div class="row m-0">
          <div class="col-12 col-sm-12">
            <div class="col-12 col-sm-12 text-center">
              <label></label>
            </div>
          </div>
        </div>

      </p-fieldset>
    </div>
    <div class="col-12 mt-4 mb-3">
      <label>Listado de Mis Solicitudes</label>
      <div>
        <p-table [value]="lstSolicituAcceso" [paginator]="true" [rows]="10" (onPage)="loadData()"
                 [totalRecords]="totalRecords" [showCurrentPageReport]="true"
                 currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
          <ng-template pTemplate="header">
            <tr>
              <!-- <th class="text-center" style="width: 60px;">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th> -->
              <th>Código Único</th>
              <th>Estado</th>
              <th>Fecha Solicitud</th>
              <th>Tipo Persona</th>
              <th>Nombre Persona / Repr. Legal</th>
              <th>Razón Social</th>
              <th>Tipo Actor</th>
              <th>Tipo de CNCC</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <!-- <td class="text-center">
                  <p-tableCheckbox [value]="data"></p-tableCheckbox>
              </td> -->
              <td>{{data.idSolicitud}}</td>
              <td>{{data.estadoSolicitudEntity.tx_NOMBRE}}</td>
              <td>{{data.fechaRegistro | date: 'dd/MM/yyyy h:mm:ss a' }}</td>
              <td>{{data.persona.tipoPersona}}</td>
              <td>{{data.persona.nombres + " " + data.persona.apellidoPaterno + " " + (data.persona.apellidoMaterno == null ? '' : data.persona.apellidoMaterno)}}</td>
              <td>{{data.razonSocialEmpresa}}</td>
              <td>{{data.tipoActor}}</td>
              <td>{{data.tipoCncc}}</td>
              <td class="text-center">

                <button *ngIf="data.idEstado == 1" class="btn btn-sm btn-yellow">En evaluacion</button>

                <button *ngIf="data.idEstado == 2" class="btn btn-sm btn-orange">En observación</button>

                <button *ngIf="data.idEstado == 3" class="btn btn-sm btn-blue">Finalizado</button>

              </td>
              <td class="text-center">
                <button (click)="revisarSolicitud(data)" class="btn btn-sm ">
                  <i class="pi pi-eye"></i>
                </button>

              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <!-- <p-paginator [rows]="5" [totalRecords]="23" [rowsPerPageOptions]="[5,10,25,50,100]"></p-paginator> -->
    </div>
  </div>
</div>
