<div class="row">
  <div class="col-12 col-md-6 form-group">
    <label for="procesoPostulacion">Fecha Recepción de Documentos</label>
    <div class="content-date">
      <input
        [(ngModel)]="fechaRecepcionDocumentos"
        name="fechaDesde"
        autocomplete="off"
        class="form-control"
        matInput
        [matDatepicker]="fechaDesde"
      />
      <i class="pi pi-calendar pointer" (click)="fechaDesde.open()"></i>
      <mat-datepicker #fechaDesde></mat-datepicker>
    </div>
  </div>

  <div class="col-12 col-md-6 form-group">
    <label for="tipoSolicitud">Número Trámite</label>
    <input type="text" class="form-control" [(ngModel)]="numeroTramite" />
  </div>

  <div class="col-12 mt-4">
    <button (click)="enviarRecepcion()" class="btn btn-sm btn-primary2">
      Enviar
    </button>
  </div>
</div>
