<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="3.1. Objetivos Específicos" [selected]="true">
         
          <div class="col-2 col-sm-12 text-right mb-1">
            <button
              [disabled]="disabled"
              (click)="abrirModal()"
              class="btn btn-sm btn-default button-more mb-2"
              type="button"
              title="Agregar"
            >
              <i class="pi pi-plus"></i>
            </button>
          </div>
          <div class="col-12">
            <p-table
              [value]="groupedOjetivos"
              responsiveLayout="scroll"
              styleClass="p-datatable-gridlines"
            >
            <ng-template pTemplate="caption" style="justify-content: center;">
              Productos a Obtener del manejo
            </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr>
                  <td [attr.rowspan]="data.items.length + 1">{{ data.label }}</td>
                </tr>
                <tr  *ngFor="
                let item of data.items;
                let index = index
              ">
            
              <td >
                <div>
                  <p-checkbox
                    
                    [value]="item.value"
                    [disabled]="disabled"
                    [(ngModel)]="listObjeto"
                  >
                  </p-checkbox>
                </div>
              </td>
              <td >
                {{item.label}}
              </td>
            </tr>
              </ng-template>
            </p-table>

            <!-- <p-listbox
              [disabled]="disabled"
              [options]="groupedOjetivos"
              [(ngModel)]="listObjeto"
              [group]="true"
              [metaKeySelection]="false"
              [checkbox]="true"
              [filter]="true"
              [multiple]="true"
              [listStyle]="{ 'max-height': '250px' }"
              [style]="{ width: '100%' }"
            >
              <ng-template let-group pTemplate="group">
                <div class="p-d-flex p-ai-center">
                  <span>{{ group.label }}</span>
                </div>
              </ng-template>
            </p-listbox> -->
          </div>
          <br />
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon3_1"
            [base]="evaluacion3_1"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4" *ngIf="!isPerfilArffs">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button
          type="submit"
          class="btn-primary2"
          (click)="GuardarObjetoManejo()"
          [disabled]="disabled || (isSubmitting$ | async)"
        >
          Guardar
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>

      <div class="step__btn mt-4" *ngIf="isPerfilArffs">
        <message-evaluation></message-evaluation>
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button class="btn-primary2" (click)="registrarEvaluacion()">
          Guardar Evaluación
        </button>
        <button class="btn-primary2" (click)="retornarFlujoEvaluacion()">
          Retornar Flujo Evaluacion
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
      <br />
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-dialog
  header="{{ tituloModal }}"
  header="Header"
  [(visible)]="displayBasic"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Tipo</label>
            <div class="form-control-selectk">
              <p-dropdown
                [options]="listParametro"
                optionLabel="tipoLabel"
                optionValue="tipoValue"
                placeholder="Seleccione"
                [(ngModel)]="parametro.detalle"
                appendTo="body"
                [style]="{ width: '100%' }"
              ></p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Objetivo</label>
            <input
              [(ngModel)]="parametro.descripcionDetalle"
              type="text"
              class="form-control"
              placeholder="Ingrese Objetivo"
              maxlength="50"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarObjetivo()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
