<div class="container-fluit pt-4">
    <div class="row m-0">
        <div class="col-12">
            <p-accordion (onOpen)="openTab($event)">
                <p-accordionTab header="4.0 Carga Masiva de Información" [selected]="true">
                    <div class="row mt-3">
                        <div class="col-12 col-sm-4 form-group text-center">
                            <button class="btn btn-secondary" (click)="btnDescargarPlantilla()">Descargar Formato</button>
                        </div>
                        <div class="col-12 col-sm-4 form-group text-center">
                            <upload-input-button [disabled]="false" [(ngModel)]="archivoCarga.file" label="Seleccione Archivo">
                            </upload-input-button>
                        </div>
                        <div class="col-12 col-sm-4 form-group text-center">
                            <button class="btn btn-secondary" (click)="btnCargarPlantilla()">Cargar Formato</button>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="4.1 Aprovechamiento de Recursos Forestales Maderables">
                    <div class="row">
                        <!--<div class="col-12 text-right">
                            <button (click)="openModal(null,'C')" icon="pi pi-plus"  pButton pRipple type="button" label="" class="p-button-success p-button-text"></button>
                        </div> -->
                        <div class="col-3 mt-3">
                            <label class="label">Fecha Inicio Censo Forestal</label>
                            <div class="content-date">
                              <input
                                [(ngModel)]="fechaInicio"
                                autocomplete="off"
                                class="form-control"
                                matInput
                                [matDatepicker]="fInicio"
                                [min]="minDate"
                              />
                              <i class="pi pi-calendar pointer" (click)="fInicio.open()"></i>
                              <mat-datepicker #fInicio></mat-datepicker>
                            </div>
                        </div>


                        <div class="col-3 mt-3">
                            <label class="label">Fecha Fin Censo Forestal</label>
                            <div class="content-date">
                              <input
                              [(ngModel)]="fechaFin"
                                autocomplete="off"
                                class="form-control"
                                matInput
                                [matDatepicker]="fFin"
                                [min]="minDate"
                              />
                              <i class="pi pi-calendar pointer" (click)="fFin.open()"></i>
                              <mat-datepicker #fFin></mat-datepicker>
                            </div>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-3">
                            <p-table [value]="lstData" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                            currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[5,10, 25, 50]" 
                            [totalRecords]="lstData.length">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <!-- <th rowspan="2">Acciones</th> -->
                                        <th class="text-center" colspan="2">Especie</th>
                                        <th rowspan="2">N° de árboles censados</th>
                                        <th class="text-center" colspan="2">Árboles aprovechables</th>
                                        <th rowspan="2">N° de árboles semilleros</th>
                                    </tr>
                                    <tr>
                                        <th>Nombre común</th>
                                        <th>Nombre Científico</th>
                                        <th>N° de árboles</th>
                                        <th>Volumen comercial rn3(r)</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-data>
                                    <tr>
                                        <!-- <td>
                                            <span class="pointer mr-1" title="Editar" (click)="openModal(data,'E')">
                                                <i class="pi pi-pencil"></i>
                                            </span>
                                            <span class="pointer" title="Eliminar" (click)="openEliminar($event,data)">
                                                <i class="pi pi-trash"></i>
                                            </span>
                                        </td> -->
                                        <td>{{data.nombreComun}}</td>
                                        <td>{{data.nombreCientifico}}</td>
                                        <td>{{data.nroArbolesCensados}}</td>
                                        <td>{{data.nroArboles}}</td>
                                        <td>{{data.volumenComercial}}</td>
                                        <td>{{data.nroArbolesSemillero}}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr>
                                        <td colspan="2" class="text-left">TOTAL</td>
                                        <td>{{nroArbolesCensadosTotal}}</td>
                                        <td>{{nroArbolesTotal}}</td>
                                        <td>{{volumenComercialTotal}}</td>
                                        <td>{{nroArbolesSemillerosTotal}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                   
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>

    <br/>
    <br/>
  
    <div class="step__btn mt-4 mb-4">
      
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
      
        <button class="btn-primary2" (click)="guardar()">Guardar</button>
  
        <button class="btn-primary2" (click)="siguienteTab()"> Siguiente</button>
      </div>
</div>


<p-dialog appendTo="body" header="{{tituloModalMantenimiento}}" [(visible)]="verModalMantenimiento" [modal]="true" [style]="{width: '40vw'}" [maximizable]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="true">
    <ng-template pTemplate="content">
        <form [formGroup]='MantenedorFormulario' novalidate>
            <div class="form-group">
                <label class="label">Nombre común</label>
                <input formControlName="nombreComun"  type="text" class="form-control"  placeholder="" >
                <mensaje-error-control [control]="MantenedorFormulario.controls['nombreComun']"></mensaje-error-control>
            </div>
            <div class="form-group">
                <label class="label">Nombre Científico</label>
                <input formControlName="nombreCientifico"  type="text" class="form-control"  placeholder="" >
                <mensaje-error-control [control]="MantenedorFormulario.controls['nombreCientifico']"></mensaje-error-control>
            </div>
            <div class="form-group">
                <label class="label">N° de árboles censados</label>
                <input mask="0*" formControlName="nroArbolesCesados"  type="text" class="form-control"  placeholder="000" >
                <mensaje-error-control [control]="MantenedorFormulario.controls['nroArbolesCesados']"></mensaje-error-control>
            </div>
            <div class="form-group">
                <label class="label">N° de árboles</label>
                <input mask="0*" formControlName="nroArboles"  type="text" class="form-control"  placeholder="000" >
                <mensaje-error-control [control]="MantenedorFormulario.controls['nroArboles']"></mensaje-error-control>
            </div>
            <div class="form-group">
                <label class="label">Volumen comercial rn3( r)</label>
                <input mask="0*" formControlName="volumenComercial"  type="text" class="form-control"  placeholder="000" >
                <mensaje-error-control [control]="MantenedorFormulario.controls['volumenComercial']"></mensaje-error-control>
            </div>
            <div class="form-group">
                <label class="label">N° de árboles semilleros </label>
                <input mask="0*" formControlName="nroArbolesSemillero"  type="text" class="form-control"  placeholder="000" >
                <mensaje-error-control [control]="MantenedorFormulario.controls['nroArbolesSemillero']"></mensaje-error-control>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer" >
        <button icon="pi pi-save" (click)="guardarRegistro()"  pButton pRipple type="button" label="Guardar" class="p-button-success p-button-outlined"></button>
        <button icon="pi pi-times" (click)="verModalMantenimiento=false" pButton pRipple type="button" label="Cancelar" class="p-button-danger p-button-outlined"></button>
    </ng-template>
</p-dialog>
