<div class="row">

  <div class="col-12 col-md-6 form-group">
    <label for="tipoSolicitud">Contrato/TH</label>
    <div class="form-control-selectk">
      <p-dropdown class="fomr-control" [(ngModel)]="solicitudRequestEntity.idContratoTh" optionValue="idTipoSolicitud"
        [options]="listaContratoTh" optionLabel="descripcion" placeholder="-- Seleccione --">
      </p-dropdown>
    </div>
  </div>

  <div class="col-12 col-md-6 form-group">
    <label for="tipoSolicitud">Plan General</label>
    <div class="form-control-selectk">
      <p-dropdown class="fomr-control" [(ngModel)]="solicitudRequestEntity.idPlanGeneral" optionValue="idTipoSolicitud"
        [options]="listaPlanGeneral" optionLabel="descripcion" placeholder="-- Seleccione --">
      </p-dropdown>
    </div>
  </div>

  <div class="col-12 col-md-6 form-group">
    <label for="tipoSolicitud">Nro. Parcelas</label>
    <div class="form-control-selectk">
      <p-dropdown class="fomr-control" [(ngModel)]="solicitudRequestEntity.idParcelas" optionValue="idTipoSolicitud"
        [options]="listaNumeroParcelas" optionLabel="descripcion" placeholder="-- Seleccione --">
      </p-dropdown>
    </div>
  </div>

  <div class="col-12 col-md-6 form-group">
    <label for="tipoSolicitud">Nro. Años </label>
    <div class="form-control-selectk">
      <p-dropdown class="fomr-control" [(ngModel)]="solicitudRequestEntity.idAnios" optionValue="idTipoSolicitud"
        [options]="listaNumeroAnios" optionLabel="descripcion" placeholder="-- Seleccione --">
      </p-dropdown>
    </div>
  </div>

  <div class="col-12 mt-4">
    <button (click)="registrarPlanOperativo()" class="btn btn-sm btn-primary2">Enviar</button>
  </div>

</div>
