<div class="row-fluid">
  <p-confirmPopup></p-confirmPopup>
  <ng-container>
    <p-fieldset legend="Carga Documentos" [toggleable]="true">
      <div class="row m-0">
        <div class="col-sm-12 col-md-4 form-group" *ngIf="editar">
          <label class="label">Tipo Documento</label>
          <div class="form-control-selectk">
            <p-dropdown
              [(ngModel)]="documento.idTipoDocumento"
              class="fomr-control"
              placeholder="Seleccione Tipo de Documento de Gestión"
              optionValue="codigo"
              optionLabel="valorPrimario"
              [options]="comboTipoDocumento"
            >
            </p-dropdown>
          </div>
        </div>

        <div class="col-sm-12 col-md-8 form-group" *ngIf="editar">
          <label class="label">Asunto</label>
          <input
            [disabled]="false"
            type="text"
            class="form-control"
            placeholder="Ingrese Asunto"
            [(ngModel)]="documento.asunto"
            maxlength="200"
          />
        </div>

        <div class="col-sm-12 col-md-12 form-group" *ngIf="editar">
          <label class="label">Descripción</label>
          <input
            [(ngModel)]="documento.descripcion"
            type="text"
            class="form-control"
            [disabled]="false"
            placeholder="Ingrese descripción"
            maxlength="150"
          />
        </div>

        <div class="col-sm-12 col-md-9 form-group" *ngIf="editar">
          <div class="form-group">
            <div class="input-group">
              <input
                type="text"
                class="form-control text-upload"
                placeholder=""
                [(ngModel)]="documento.file.nombre"
                readonly
                placeholder="Adjunte documento"
              />
              <div class="input-group-append">
                <button
                  [class.btn-secondary]="!documento.file.nombre"
                  type="button"
                  id="btnCargarFile"
                  (click)="fileInput.click()"
                  class="btn btn-sm btn-file"
                  icon="pi pi-upload"
                  pButton
                  title="Cargar Archivo"
                >
                  <input
                    #fileInput
                    type="file"
                    (change)="onFileChange($event)"
                    style="display: none"
                  />
                </button>

                <button
                  *ngIf="documento.file.nombre"
                  type="button"
                  id="btnCargarFile2"
                  class="btn btn-sm btn-file"
                  pButton
                  title="Descargar Archivo"
                  icon="pi pi-download"
                  (click)="descargarArchivo()"
                ></button>

                <button
                  *ngIf="documento.file.nombre"
                  type="button"
                  class="btn btn-sm btn-file"
                  title="Eliminar"
                  icon="pi pi-trash"
                  pButton
                  (click)="eliminar($event)"
                ></button>
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-sm-12 col-md-3 my-auto text-center form-group"
          *ngIf="editar"
        >
          <button
            class="btn btn-sm btn-default button-more mb-2"
            type="button"
            title="Agregar"
            (click)="agregar()"
          >
            <i class="pi pi-plus"></i>
          </button>
        </div>

        <!-- TABLA OTROS ARCHIVOS -->
        <div class="col-12 form-group">
          <div class="row">
            <div class="col-12">
              <p-table [value]="listaTablaOtros" class="no-desbor-table">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Acciones</th>
                    <th>Tipo Documento</th>
                    <th>Nombre Documento</th>
                    <th>Asunto</th>
                    <th>Descripción</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-obj>
                  <tr>
                    <td>
                      <a style="cursor: pointer" class="mr-3"
                        ><i  title="Descargar archivo"
                          class="pi pi-download"
                          (click)="descargarArchivoList(obj)"
                          *ngIf="
                            obj.idDocumentoAdjunto === null ||
                            obj.idDocumentoAdjunto === undefined
                          "
                        ></i>
                      </a>
                      <a style="cursor: pointer" class="mr-3"
                        ><i title="Eliminar archivo"
                          class="pi pi-trash"
                          (click)="deleteRow(obj)"
                          *ngIf="
                            obj.idDocumentoAdjunto === null ||
                            obj.idDocumentoAdjunto === undefined
                          "
                        ></i>
                      </a>
                      <a style="cursor: pointer" class="mr-3"
                        ><i title="Descargar archivo"
                          class="pi pi-download"
                          (click)="descargarArchivoDocumento(obj)"
                          *ngIf="
                            obj.idDocumentoAdjunto !== null &&
                            obj.idDocumentoAdjunto !== undefined
                          "
                        ></i>
                      </a>
                    </td>
                    <td>{{ obj.descripcionTipoDocumento }}</td>
                    <td>{{ obj.file.nombre }}</td>
                    <td
                      style="

                        text-overflow: ellipsis;
                        overflow: hidden;
                      "
                    >
                      {{ obj.asunto }}
                    </td>
                    <td
                      style="

                        text-overflow: ellipsis;
                        overflow: hidden;
                      "
                    >
                      {{ obj.descripcion }}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div> </p-fieldset
    ><br />
  </ng-container>

  <div class="col-12 mt-4 text-right">
    <button
      *ngIf="editar"
      icon="pi pi-save"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      (click)="registrar()"
      class="p-button-success p-button-outlined mr-2"
    ></button>

    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </div>
</div>

<p-toast position="bottom-center" key="tl"></p-toast>
