<div>
  <div class="col-2 col-sm-12 text-right mb-1">
    <button
      (click)="openModalEspecies('Registrar Especie')"
      class="btn btn-sm btn-default button-more mb-2"
      type="button"
      title="Agregar"
      [disabled]="disabled"
    >
      <i class="pi pi-plus"></i>
    </button>
  </div>

  <p-table [value]="especiesList" [rows]="10" [showCurrentPageReport]="true">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 80px">Acciones</th>
        <th style="width: 20%">Especie</th>
        <th style="width: 60%">Línea de Producción</th>
        <th style="width: 20%">Diámetros (cm)</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
      <tr>
        <td class="text-center">
          <span
            (click)="openEliminarEspecie($event, rowIndex, data)"
            class="pointer"
            title="Eliminar"
          >
            <i class="pi pi-trash"></i>
          </span>
        </td>
        <td>{{ data.especie }}</td>
        <td>
          <!-- <input
            type="text"
            [(ngModel)]="data.lineaProduccion"
            class="form-control"
            placeholder=""
            maxlength="100"
          /> -->
          <textarea
            autocomplete="off"
            class="form-control"
            rows="2"
            maxlength="100"
            [(ngModel)]="data.lineaProduccion"
            style="resize: none;"
          >
          </textarea>
        </td>
        <td>
          {{ data.nuDiametro }}
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div class="step__btn mt-4" style="margin-top: 20px">
    <button
      class="btn-primary2"
      (click)="registrarEspecies()"
      [disabled]="disabled"
    >
      Guardar
    </button>
  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-dialog
  header="{{ editEspecies ? 'Editar Especie' : 'Registrar Especie' }}"
  header="Header"
  [(visible)]="displayModalEspecies"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <label class="label">Especies</label>
          <div class="form-control-selectk">
            <p-autoComplete
              [(ngModel)]="selectEspecie"
              [showEmptyMessage]="true"
              [style]="{ width: '100%' }"
              [inputStyle]="{ width: '100%' }"
              [placeholder]="'Ingrese especie'"
              [suggestions]="comboListEspecies"
              [virtualScroll]="true"
              (completeMethod)="listaPorFiltroEspecieForestal($event)"
              field="nombreCientifico"
              [minLength]="3"
            >
            </p-autoComplete>
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Línea de producción</label>
            <input
              [(ngModel)]="especie.lineaProduccion"
              type="text"
              class="form-control"
              placeholder="Ingrese linea de producción"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Diámetros (cm)</label>
            <input
              [(ngModel)]="especie.nuDiametro"
              type="number"
              class="form-control"
              placeholder="Ingrese diámetros"
              min="1"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="registrarEspcie()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModalEspecies()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
