<div class="row m-0">
    <div class="col-12 text-right mb-2">
        <button *ngIf="data.readonly == false" (click)="openModal(null,'C')" class="btn btn-sm btn-default mb-2"
            type="button" title="Agregar">
            <i class="pi pi-plus"></i>
        </button>
    </div>
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th rowspan="2">Acciones</th>
                    <th colspan="2" pTooltip="Considerar que se hará una fiscalización posterior de la información ingresada"
                    > <span  title="Considerar que se hará una fiscalización posterior de la información ingresada"> Especie ?</span></th>
                    <th rowspan="2">Total de árboles/matas/cepas existentes</th>
                    <th rowspan="2">Producción estimada (m3, kg, cañas, unidades, otros)</th>
                    <th colspan="2">coordenadas UTM referencial del macizo, lindero, etc.</th>
                </tr>
                <tr>
                    <th>Nombre común</th>
                    <th>Nombre científico</th>
                    <th>Este</th>
                    <th>Norte</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of data.lstDetalle">
                    <td>
                        <span *ngIf="data.readonly == false" (click)="openModal(d,'E')" class="pointer mr-1"
                            title="Editar">
                            <i class="pi pi-pencil"></i>
                        </span>
                        <span *ngIf="data.readonly == false" class="pointer" title="Eliminar" (click)="eliminar(d)">
                            <i class="pi pi-trash"></i>
                        </span>
                    </td>
                    <td>{{d.espcs_nom_comun}}</td>
                    <td>{{d.espcs_nom_cientifico}}</td>
                    <td>{{d.total_arbol_matas_espcs_existentes}}</td>
                    <td>{{d.produccion_estimada}}</td>
                    <td>{{d.coord_este}}</td>
                    <td>{{d.coord_norte}}</td>
                </tr>
                <tr>
                    <td colspan="3" class="text-center"><b>Total</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12 col-sm-10">
        <label class="label">Altura promedio en metros <span class="fz-10">(sólo en caso del bambú o especies cuyas
                unidades de medidas sean cañas o unidades)</span> </label>
    </div>
    <div class="col-12 col-sm-2">
        <input [disabled]="data.readonly" class="form-control" autocomplete="off" />
    </div>
</div>


<p-dialog header="{{tituloModalMantenimiento}}" [(visible)]="verModalMantenimiento" [modal]="true"
    [style]="{width: '40vw'}" [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="true">
    <ng-template pTemplate="content">
        <div>
            <div class="form-group">
                <label class="label" >Nombre Cientifico  <span  title="Considerar que se hará una fiscalización posterior de la información ingresada"> (Especie) ?</span></label>
                <!-- <input [(ngModel)]="detalleAreaPlanteada1Context.espcs_nom_comun" type="text" class="form-control"  placeholder="" > -->

                <p-autoComplete [(ngModel)]="detalleAreaPlanteada1Context.especie" [dropdown]="true"
                [showEmptyMessage]="true" [suggestions]="ResultListaEspecies" 
                (completeMethod)="searchEspecies($event,1)" field="nombreCientifico"  
                [minLength]="1"></p-autoComplete>

            </div>
            <div class="form-group">
                <label class="label" >Nombre común  <span  title="Considerar que se hará una fiscalización posterior de la información ingresada"> (Especie) ?</span></label>
                <!-- <input [(ngModel)]="detalleAreaPlanteada1Context.espcs_nom_comun" type="text" class="form-control"  placeholder="" > -->

                <p-autoComplete [(ngModel)]="detalleAreaPlanteada1Context.especie_cient" [dropdown]="true"
                [showEmptyMessage]="true" [suggestions]="ResultListaEspecies" 
                (completeMethod)="searchEspecies($event,2)" field="nombreComun" 
                [minLength]="1"></p-autoComplete>

            </div>
            
            <!-- <div class="form-group">
                <input [(ngModel)]="detalleAreaPlanteada1Context.espcs_nom_cientifico" type="text" class="form-control"  placeholder="" >
            </div> -->
            <div class="form-group">
                <label class="label">Tipo Arbol</label>
                <div class="form-control-selectk">
                    <p-dropdown [disabled]="data.readonly" [options]="comboTipoArbol" class="fomr-control"
                        [(ngModel)]="detalleAreaPlanteada1Context.total_arbol_matas_espcs_existentes"
                        optionLabel="valor" optionValue="valor" placeholder="Selecciona tipo arbol">
                    </p-dropdown>
                </div>
            </div>

            <div class="form-group">
                <label class="label">Produccion Estimada</label>
                <div class="form-control-selectk">
                    <p-dropdown [disabled]="data.readonly" [options]="comboProduccionEstimada" class="fomr-control"
                        [(ngModel)]="tipoProduccion" optionLabel="valor" optionValue="valor"
                        placeholder="Selecciona produccion estimada">
                    </p-dropdown>
                </div>
            </div>

            <div class="form-group" *ngIf="tipoProduccion == 'Otros'">
                <label class="label">Otros</label>
                <input [(ngModel)]="detalleAreaPlanteada1Context.producion_estimada_und_medida" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="label">Este (coordenadas UTM)</label>
                <input [(ngModel)]="detalleAreaPlanteada1Context.coord_este" type="number" class="form-control"
                    placeholder="###">
            </div>
            <div class="form-group">
                <label class="label">Norte (coordenadas UTM)</label>
                <input [(ngModel)]="detalleAreaPlanteada1Context.coord_norte" type="number" class="form-control"
                    placeholder="###">
            </div>

        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button icon="pi pi-save" (click)="guardar(detalleAreaPlanteada1Context)" pButton pRipple type="button"
            label="Guardar" class="p-button-success p-button-outlined"></button>
        <button icon="pi pi-times" (click)="verModalMantenimiento=false" pButton pRipple type="button" label="Cancelar"
            class="p-button-danger p-button-outlined"></button>
    </ng-template>
</p-dialog>