<div class="row m-0">
  <div class="col-12">
    <p-table [value]="categorias">
      <ng-template pTemplate="header">
        <tr>
          <th>Categoría</th>
          <th>Denominación</th>
          <th class="text-center">
            VEN
            <br />
            S/./m <sup>3</sup>(r)
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td>{{ data.valorPrimario }}</td>
          <td>{{ data.valorSecundario }}</td>
          <th class="text-center">{{ data.valorTerciario }}</th>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div class="d-flex justify-content-end mt-4">
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
    style="width: 106px;"
  ></button>
</div>
