<div class="container-fluid">
    <div class="row m-0 pt-4">
        <div class="col-12 p-0">
            <h3 class="title">Ep3.2.2: Evaluar Plan Operativo para Concesiones Forestales Maderables
              <span class="nro-plan">&nbsp;&nbsp;N° {{idPlanManejo}}</span>
            </h3>
        </div>
    </div>
    <div class="row m-0 pt-4">
        <div class="col-12 p-0">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="1. Mesa de Partes" *ngIf="isShowTabMesaDePartes">
                    <ng-template matTabContent>
                       <tab-mesa-partes [idPlanManejo]="idPlanManejo"></tab-mesa-partes>
                    </ng-template>
                </mat-tab>
                <mat-tab label="2. Requisitos del Plan Operativo" *ngIf="isShowTabRequisitos">
                    <ng-template matTabContent>
                       <tab-requisitos-poac [idPlanManejo]="idPlanManejo"></tab-requisitos-poac>
                    </ng-template>
                </mat-tab>
                <mat-tab label="3. Medidas Correctivas" *ngIf="isShowMedidasCorrectivas">
                    <ng-template matTabContent>
                       <tab-medidas-correctivas [idPlanManejo]="idPlanManejo"></tab-medidas-correctivas>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

</div>
