<div class="row m-0 pt-4">
  <div class="col-12">
    <textarea
      class="form-control"
      rows="4"
      [(ngModel)]="informacionGeneral.detalle"
      style="resize: none"
      maxlength="250"
      [disabled]="disabled||!isDisabled"
    ></textarea>
  </div>

  <div class="col-12">
    <label
      *ngIf="!isDisabled"
      class="lbl-info mt-3 mb-3"
      style="float: none !important"
    >
      (Para completa esta sección debe registrar un Resumen Ejecutivo.)
    </label>
  </div>

  <br />
  <br />
  <div class="col-12">
    <evaluacion-archivo-shared
      [idPlanManejo]="idPlanManejo"
      [cadigoTab]="codigoAcordeon15_1"
      [base]="evaluacion15_1"
      *ngIf="isPerfilArffs"
    >
      <ng-template #conatinertop> </ng-template>
      <ng-template #conatinerbottom> </ng-template>
    </evaluacion-archivo-shared>
  </div>

  <div class="step__btn mt-4" *ngIf="!isPerfilArffs">
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button
      class="btn-primary2"
      (click)="ActualizarAspectosComplementarios()"
      [disabled]="disabled"
    >
      Guardar
    </button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>

  <div class="step__btn mt-4" *ngIf="isPerfilArffs">
    <message-evaluation></message-evaluation>
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button class="btn-primary2" (click)="registrarEvaluacion()">
      Guardar Evaluación
    </button>
    <button class="btn-primary2" (click)="retornarFlujoEvaluacion()">
      Retornar Flujo Evaluacion
    </button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
  <br />
</div>
<br />
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
