<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab
          header="12.1. Cronograma de Actividades"
          [selected]="true"
        >
          <div *ngIf="pendiente" class="col-12 p-3">
            <label class="lbl-info mt-3 mb-3">
              Esta información será autocompletada del plan: N3.1.7: PMFI para
              Permisos de Aprovechamiento Forestal. Dicho plan aún no cuenta con
              información.
            </label>
          </div>

          <div class="mt-0">
            <div class="col-12 p-0 text-right">
              <button
                icon="pi pi-plus"
                (click)="openModal('Nuevo Registro', null, 'C')"
                pButton
                pRipple
                type="button"
                label=""
                class="p-button-success p-button-text"
                [disabled]="disabled    ||pendiente"
              ></button>
            </div>
          </div>
          <br />
          <div class="col-12 p-0">
            <div class="table-responsive">
              <table class="table table-boderk table-justify">
                <thead>
                  <tr>
                    <th
                      rowspan="3"
                      style="width: 350px; max-width: 350;"
                      class="v-middle"
                    >
                      Actividad
                    </th>
                    <th
                      class="v-middle"
                      [attr.colspan]="verAnio1 ? 12 : 1"
                      [attr.rowspan]="verAnio1 ? 1 : 2"
                    >
                      Año 1
                      <i
                        (click)="verAnio1 = !verAnio1"
                        class="ml-3 pointer pi {{
                            verAnio1 ? 'pi-eye' : 'pi-eye-slash'
                          }}"
                      ></i>
                    </th>
                    <th
                      class="v-middle"
                      [attr.colspan]="verAnio2 ? 12 : 1"
                      [attr.rowspan]="verAnio2 ? 1 : 2"
                    >
                      Año 2
                      <i
                        (click)="verAnio2 = !verAnio2"
                        class="ml-3 pointer pi {{
                            verAnio2 ? 'pi-eye' : 'pi-eye-slash'
                          }}"
                      ></i>
                    </th>
                    <th
                      class="v-middle"
                      [attr.colspan]="verAnio3 ? 12 : 1"
                      [attr.rowspan]="verAnio3 ? 1 : 2"
                    >
                      Año 3
                      <i
                        (click)="verAnio3 = !verAnio3"
                        class="ml-3 pointer pi {{
                            verAnio3 ? 'pi-eye' : 'pi-eye-slash'
                          }}"
                      ></i>
                    </th>
                  </tr>
                  <tr>
                    <th *ngIf="verAnio1">1</th>
                    <th *ngIf="verAnio1">2</th>
                    <th *ngIf="verAnio1">3</th>
                    <th *ngIf="verAnio1">4</th>
                    <th *ngIf="verAnio1">5</th>
                    <th *ngIf="verAnio1">6</th>
                    <th *ngIf="verAnio1">7</th>
                    <th *ngIf="verAnio1">8</th>
                    <th *ngIf="verAnio1">9</th>
                    <th *ngIf="verAnio1">10</th>
                    <th *ngIf="verAnio1">11</th>
                    <th *ngIf="verAnio1">12</th>

                    <th *ngIf="verAnio2">1</th>
                    <th *ngIf="verAnio2">2</th>
                    <th *ngIf="verAnio2">3</th>
                    <th *ngIf="verAnio2">4</th>
                    <th *ngIf="verAnio2">5</th>
                    <th *ngIf="verAnio2">6</th>
                    <th *ngIf="verAnio2">7</th>
                    <th *ngIf="verAnio2">8</th>
                    <th *ngIf="verAnio2">9</th>
                    <th *ngIf="verAnio2">10</th>
                    <th *ngIf="verAnio2">11</th>
                    <th *ngIf="verAnio2">12</th>

                    <th *ngIf="verAnio3">1</th>
                    <th *ngIf="verAnio3">2</th>
                    <th *ngIf="verAnio3">3</th>
                    <th *ngIf="verAnio3">4</th>
                    <th *ngIf="verAnio3">5</th>
                    <th *ngIf="verAnio3">6</th>
                    <th *ngIf="verAnio3">7</th>
                    <th *ngIf="verAnio3">8</th>
                    <th *ngIf="verAnio3">9</th>
                    <th *ngIf="verAnio3">10</th>
                    <th *ngIf="verAnio3">11</th>
                    <th *ngIf="verAnio3">12</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td
                      class="text-left"
                      style="
                        background-color: #efeff5;
                        width: 350px;
                        max-width: 350;
                      "
                    >
                      <label class="label fz-10 title2"
                        >Aprovechamiento Maderable</label
                      >
                    </td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>

                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>

                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                  </tr>
                  <tr *ngFor="let data of lstMaderable">
                    <td class="text-left" style="width: 350px; max-width: 350;">
                      <span
                        (click)="!disabled&&openModal('Editar Registro', data, 'E')"
                        class="pointer mr-1"
                        title="Editar"
                      >
                        <i class="pi pi-pencil"></i>
                      </span>
                      <span
                        (click)="!disabled&&openEliminar($event, data)"
                        class="pointer mr-2"
                        title="Eliminar"
                      >
                        <i class="pi pi-trash"></i>
                      </span>
                      {{ data.actividad }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m1 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m2 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m3 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m4 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m5 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m6 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m7 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m8 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m9 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m10 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m11 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m12 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1 == false">
                      <span
                        *ngIf="
                          data.a1m1 &&
                          data.a1m2 &&
                          data.a1m3 &&
                          data.a1m4 &&
                          data.a1m5 &&
                          data.a1m6 &&
                          data.a1m7 &&
                          data.a1m8 &&
                          data.a1m9 &&
                          data.a1m10 &&
                          data.a1m11 &&
                          data.a1m12
                        "
                        >X</span
                      >
                    </td>

                    <td *ngIf="verAnio2">
                      {{ data.a2m1 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m2 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m3 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m4 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m5 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m6 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m7 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m8 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m9 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m10 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m11 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m12 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2 == false">
                      <span
                        *ngIf="
                          data.a2m1 &&
                          data.a2m2 &&
                          data.a2m3 &&
                          data.a2m4 &&
                          data.a2m5 &&
                          data.a2m6 &&
                          data.a2m7 &&
                          data.a2m8 &&
                          data.a2m9 &&
                          data.a2m10 &&
                          data.a2m11 &&
                          data.a2m12
                        "
                        >X</span
                      >
                    </td>

                    <td *ngIf="verAnio3">
                      {{ data.a3m1 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m2 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m3 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m4 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m5 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m6 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m7 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m8 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m9 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m10 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m11 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m12 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3 == false">
                      <span
                        *ngIf="
                          data.a3m1 &&
                          data.a3m2 &&
                          data.a3m3 &&
                          data.a3m4 &&
                          data.a3m5 &&
                          data.a3m6 &&
                          data.a3m7 &&
                          data.a3m8 &&
                          data.a3m9 &&
                          data.a3m10 &&
                          data.a3m11 &&
                          data.a3m12
                        "
                        >X</span
                      >
                    </td>
                  </tr>

                  <tr>
                    <td
                      class="text-left"
                      style="
                        background-color: #efeff5;
                        width: 350px;
                        max-width: 350;
                      "
                    >
                      <label class="label fz-10 title2"
                        >Aprovechamiento No Maderable</label
                      >
                    </td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>

                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>

                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                  </tr>
                  <tr *ngFor="let data of lstNoMaderable">
                    <td class="text-left" style="width: 350px; max-width: 350;">
                      <span
                        (click)="!disabled&&openModal('Editar Registro', data, 'E')"
                        class="pointer mr-1"
                        title="Editar"
                      >
                        <i class="pi pi-pencil"></i>
                      </span>
                      <span
                        (click)="!disabled&&openEliminar($event, data)"
                        class="pointer mr-2"
                        title="Eliminar"
                      >
                        <i class="pi pi-trash"></i>
                      </span>
                      {{ data.actividad }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m1 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m2 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m3 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m4 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m5 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m6 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m7 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m8 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m9 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m10 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m11 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m12 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1 == false">
                      <span
                        *ngIf="
                          data.a1m1 &&
                          data.a1m2 &&
                          data.a1m3 &&
                          data.a1m4 &&
                          data.a1m5 &&
                          data.a1m6 &&
                          data.a1m7 &&
                          data.a1m8 &&
                          data.a1m9 &&
                          data.a1m10 &&
                          data.a1m11 &&
                          data.a1m12
                        "
                        >X</span
                      >
                    </td>

                    <td *ngIf="verAnio2">
                      {{ data.a2m1 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m2 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m3 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m4 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m5 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m6 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m7 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m8 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m9 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m10 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m11 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m12 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2 == false">
                      <span
                        *ngIf="
                          data.a2m1 &&
                          data.a2m2 &&
                          data.a2m3 &&
                          data.a2m4 &&
                          data.a2m5 &&
                          data.a2m6 &&
                          data.a2m7 &&
                          data.a2m8 &&
                          data.a2m9 &&
                          data.a2m10 &&
                          data.a2m11 &&
                          data.a2m12
                        "
                        >X</span
                      >
                    </td>

                    <td *ngIf="verAnio3">
                      {{ data.a3m1 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m2 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m3 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m4 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m5 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m6 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m7 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m8 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m9 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m10 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m11 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m12 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3 == false">
                      <span
                        *ngIf="
                          data.a3m1 &&
                          data.a3m2 &&
                          data.a3m3 &&
                          data.a3m4 &&
                          data.a3m5 &&
                          data.a3m6 &&
                          data.a3m7 &&
                          data.a3m8 &&
                          data.a3m9 &&
                          data.a3m10 &&
                          data.a3m11 &&
                          data.a3m12
                        "
                        >X</span
                      >
                    </td>
                  </tr>

                  <tr>
                    <td
                      class="text-left"
                      style="
                        background-color: #efeff5;
                        width: 350px;
                        max-width: 350;
                      "
                    >
                      <label class="label fz-10 title2">Otros</label>
                    </td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>
                    <td *ngIf="verAnio1"></td>

                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>
                    <td *ngIf="verAnio2"></td>

                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                    <td *ngIf="verAnio3"></td>
                  </tr>
                  <tr *ngFor="let data of lstOtros">
                    <td class="text-left" style="width: 350px; max-width: 350;">
                      <span
                        (click)="!disabled&&openModal('Editar Registro', data, 'E')"
                        class="pointer mr-1"
                        title="Editar"
                      >
                        <i class="pi pi-pencil"></i>
                      </span>
                      <span
                        (click)="!disabled&&openEliminar($event, data)"
                        class="pointer mr-2"
                        title="Eliminar"
                      >
                        <i class="pi pi-trash"></i>
                      </span>
                      {{ data.actividad }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m1 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m2 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m3 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m4 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m5 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m6 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m7 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m8 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m9 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m10 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m11 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1">
                      {{ data.a1m12 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio1 == false">
                      <span
                        *ngIf="
                          data.a1m1 &&
                          data.a1m2 &&
                          data.a1m3 &&
                          data.a1m4 &&
                          data.a1m5 &&
                          data.a1m6 &&
                          data.a1m7 &&
                          data.a1m8 &&
                          data.a1m9 &&
                          data.a1m10 &&
                          data.a1m11 &&
                          data.a1m12
                        "
                        >X</span
                      >
                    </td>

                    <td *ngIf="verAnio2">
                      {{ data.a2m1 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m2 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m3 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m4 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m5 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m6 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m7 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m8 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m9 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m10 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m11 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2">
                      {{ data.a2m12 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio2 == false">
                      <span
                        *ngIf="
                          data.a2m1 &&
                          data.a2m2 &&
                          data.a2m3 &&
                          data.a2m4 &&
                          data.a2m5 &&
                          data.a2m6 &&
                          data.a2m7 &&
                          data.a2m8 &&
                          data.a2m9 &&
                          data.a2m10 &&
                          data.a2m11 &&
                          data.a2m12
                        "
                        >X</span
                      >
                    </td>

                    <td *ngIf="verAnio3">
                      {{ data.a3m1 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m2 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m3 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m4 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m5 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m6 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m7 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m8 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m9 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m10 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m11 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3">
                      {{ data.a3m12 == true ? "X" : "" }}
                    </td>
                    <td *ngIf="verAnio3 == false">
                      <span
                        *ngIf="
                          data.a3m1 &&
                          data.a3m2 &&
                          data.a3m3 &&
                          data.a3m4 &&
                          data.a3m5 &&
                          data.a3m6 &&
                          data.a3m7 &&
                          data.a3m8 &&
                          data.a3m9 &&
                          data.a3m10 &&
                          data.a3m11 &&
                          data.a3m12
                        "
                        >X</span
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4 mb-4">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <!--  <button class="btn-primary2" type="button">Guardar</button> -->
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
    </div>
  </div>
</div>

<p-toast position="top-right" key="tl"></p-toast>
<p-confirmPopup></p-confirmPopup>
