<div class="col-12">
  <div class="col-12">
    <label style="padding: 35px" for="descripcion">Rios</label>
    <p-dropdown
      inputId="dropdown"
      [autoDisplayFirst]="false"
      [options]="rios"
      optionLabel="rio"
      class="ng-dirty"
      [(ngModel)]="selectedRio"
      placeholder="-- Seleccione --"
    >
    </p-dropdown>
  </div>
  <div class="col-12">
    <label style="padding: 15px" for="descripcion">Quebrada</label>
    <input type="text" pInputText [(ngModel)]="quebrada" />
  </div>
  <div class="col-12">
    <label style="padding: 28px" for="descripcion">Cocha</label>
    <input type="text" pInputText [(ngModel)]="cocha" />
  </div>

  <div class="col-12">
    <button class="btn btn-sm btn-secondary" (click)="enviar()">Enviar</button>
  </div>
</div>
<p-toast position="bottom-center" key="tl"></p-toast>
