<div>
    <p-confirmPopup key="fileDelete"></p-confirmPopup>

    <div class="form-group">
        <label class="label" *ngIf="label != ''">{{label}}</label>
        <div class="input-group">
            <input type="text" class="form-control text-upload" placeholder="" [(ngModel)]="file.nombre" readonly>
            <div class="input-group-append">
                <button [class.btn-secondary]="!file.nombre" type="button" id="btnCargarFile"
                    (click)="fileInput.click()" class="btn btn-sm btn-file" icon="pi pi-upload" pButton
                    title="Cargar Archivo" [disabled]="disabled || disableSubir || file.idArchivo">
                    <input #fileInput type="file" (change)="onFileChange($event)" style="display:none;"
                        [accept]="accept" />
                </button>

                <button *ngIf="file.nombre" type="button" id="btnCargarFile2" class="btn btn-sm btn-file"
                    (click)="descargarArchivo()" pButton title="Descargar Archivo" icon="pi pi-download">
                </button>

                <button *ngIf="file.nombre" type="button" class="btn btn-sm btn-file" (click)="eliminar($event)"
                    title="Eliminar" icon="pi pi-trash" pButton [disabled]="disabled">
                </button>

            </div>
        </div>
    </div>

</div>