<div class="row">
  <div class="col-12 form-group">
    <label for="contingencia">Tipo de Actividad</label>

    <div>
      <div class="form-control-selectk">
        <p-dropdown
          [options]="lista"
          optionLabel="tipo"
          optionValue="tipo"
          [(ngModel)]="impactoObjt.tipo"
        ></p-dropdown>
      </div>
    </div>
  </div>
  <div class="col-12 form-group">
    <label for="nombreActividad">Nombre Actividad</label>
    <input
      type="text"
      id="nombreActividad"
      autocomplete="off"
      class="form-control contents_form_input"
      [(ngModel)]="impactoObjt.actividad"
      maxlength="100"
    />
  </div>
  <div class="col-12 form-group">
    <label for="descripcionImpacto">Descripción de impacto</label>
    <textarea
      id="descripcionImpacto"
      autocomplete="off"
      class="form-control form-control-sm"
      rows="4"
      [autoResize]="autoResize"
      [(ngModel)]="impactoObjt.descripcionImpacto"
      pInputTextarea
    ></textarea>
  </div>

  <div class="col-12 form-group">
    <label for="medidasControl">Medida de control ambiental</label>
    <input
      type="text"
      id="medidasControl"
      autocomplete="off"
      class="form-control contents_form_input"
      [(ngModel)]="impactoObjt.medidasControl"
    />
  </div>

  <div class="col-12 form-group">
    <label for="medidasMonitoreo">Medida de Monitoreo</label>
    <input
      type="text"
      id="medidasMonitoreo"
      autocomplete="off"
      class="form-control contents_form_input"
      [(ngModel)]="impactoObjt.medidasMonitoreo"
      placeholder="Ingrese medida de monitoreo"
      maxlength="100"
    />
  </div>

  <div class="col-12 form-group">
    <label for="frecuencia">Frecuencia</label>
    <input
      type="text"
      id="frecuencia"
      autocomplete="off"
      class="form-control contents_form_input"
      [(ngModel)]="impactoObjt.frecuencia"
      placeholder="Ingrese frecuencia"
      maxlength="100"
    />
  </div>

  <div class="col-12 form-group">
    <label for="responsable">Responsable</label>
    <input
      type="text"
      id="responsable"
      autocomplete="off"
      class="form-control contents_form_input"
      [(ngModel)]="impactoObjt.responsable"
      placeholder="Ingrese responsable"
      maxlength="100"
    />
  </div>

  <!-- <div class="col-12 mt-3">
    <button class="btn btn-sm btn-secondary" (click)="agregar()">
      Aceptar
    </button>
  </div> -->
</div>
<div class="d-flex justify-content-end">
  <button
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
    [label]="'Aceptar'"
    class="p-button-success p-button-outlined"
    style="width: 106px;"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
    style="width: 106px;"
  ></button>
</div>
<p-toast key="toast"></p-toast>
