<div class="row">
  <!-- <div class="col-12 col-sm-6">
    <div class="p-field-radiobutton d-inline-full">
      <p-radioButton [(ngModel)]="context.zonaUTM" name="esObservado"
                     id="obserNo" [value]="'PGMFCCB'" ></p-radioButton>
      <label class="mr-2 pl-1 pointer" for="obserNo">Con Cobertura Boscosa</label>
    </div>
    <div class="p-field-radiobutton d-inline-full">
      <p-radioButton  [(ngModel)]="context.zonaUTM" name="esObservado"
                     id="obserSI" [value]="'PGMFSCB'" ></p-radioButton>
      <label class="mr-2 pl-1 pointer" for="obserSI">Sin Cobertura Boscosa</label>
    </div>
  </div> -->
  <br>
  <div class="form-group col-12 mt-3">
      <label class="label">Denominación o Espacios: *</label>
      <input  type="text"  [(ngModel)]="context.categoria" class="form-control" placeholder="" maxlength="50" sinSpacioInit>
  </div>
</div>

<div class="d-flex justify-content-end">
    <button icon="pi pi-save" (click)="agregar()" pButton pRipple type="button" label="Aceptar" class="p-button-success p-button-outlined"></button> &nbsp;&nbsp;
    <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar" class="p-button-danger p-button-outlined" ></button>
</div>
