
<p-table [value]="listaInfoPlan">
  <ng-template pTemplate="header">
    <tr>
      <th>Id Plan Manejo</th>
      <th>Tipo Plan</th>
      <th>Nombre de titular</th>
      <th>Fecha de registro</th>
      <th>Departamento</th>
      <th>Provincia</th>
      <th>Distrito</th>
      <th>Area concesión</th>
      <th>Area aprovechada</th>
      <th>Ver</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
    <tr>
      <td>{{ data.idPlanManejo }}</td>
      <td>{{ data.tipoPlan }}</td>
      <td>{{ data.nombreTitular}}</td>
      <td>{{ data.fechaRegistro | date: 'dd/MM/yyyy'}}</td>
      <td>{{ data.departamento}}</td>
      <td>{{ data.provincia}}</td>
      <td>{{ data.distrito}}</td>
      <td>{{ data.areaConcesion}}</td>
      <td>{{ data.areaAprovechada}}</td>
      <td><span
        class="pointer mr-1"
        title="Ver"
        (click)="verDetalle(data.idPlanManejo, data.tipoPlan )"
      >
        <i class="pi pi-eye"></i>
      </span></td>
    </tr>
  </ng-template>
</p-table>
