<div class="col-12">
  <div class="col-12 form-group">
    <label style="padding: 10px;">Descripción de objetivo:</label>
    <input
      type="text"
      autocomplete="off"
      class="form-control contents_form_input"
      [(ngModel)]="anydata.tratamientoSilvicultural"
      maxlength="150"
    />
  </div>

<div class="row col-12">
  <div class="col-12 form-group">
    <label style="padding: 10px;">Acciones: </label>
    <input
      type="text"
      autocomplete="off"
      class="form-control contents_form_input"
      [(ngModel)]="anydata.descripcionOtro"
      maxlength="100"
    />
  </div>
</div>
<div class="d-flex justify-content-end">
  <button
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
    label="Aceptar"
    class="p-button-success p-button-outlined"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
  ></button>
</div>
<p-toast></p-toast>