<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      
      <div class="content-title-modal">
        <h3 class="title"></h3>
      </div>
      <div #map>

      </div>
    </div>
  </div>

  <br>
  <!--
  <div style="text-align: right;">
    <button class="btn btn-sm btn-secondary" type="button" (click)="cancelar()">Cancelar</button>
  </div>
  -->

</div>