<div class="container-fluid">
  <p-confirmPopup></p-confirmPopup>
    <div class="row">
      <div class="col-sm-10">
        <h3 class="title">Postulación a Procesos en Oferta</h3>
      </div>
      <div class="col-sm-12">
        <div class="panelk br10 p-3">
          <div class="row">
            
            <div class="col-sm-6 col-md-6 mb-2 form-group">
              <label class="label">Proceso Oferta:</label>
              <input type="number" autocomplete="off" numero [(ngModel)]="procesoOfertaSelect" class="form-control"/>
            </div>
            <div class="col-sm-6 col-md-6 mb-2 form-group">
              <label class="label">Estado Proceso Oferta:</label>
              <div class="form-control-selectk">
                <p-dropdown class="fomr-control" [options]="listaEstadoProceso"  [(ngModel)]="estadoProceso.idStatusProceso" optionLabel="descripcion"   optionValue="idStatusProceso"></p-dropdown>
              </div>
            </div>
            
          </div>
          <div class="row m-0 mb-2 justify-content-center">
            <div class="col-sm-12 col-md-12 mt-3 mb-2 form-group text-center">
              <button class="btn btn-sm btn-secondary mr-2" (click)="limpiarFiltro()">Limpiar</button>
              <button class="btn btn-sm btn-secondary mr-2" (click)="listarProcesoOferta()">Buscar</button>
              <button class="btn btn-sm btn-secondary" *ngIf="permisos.isPerRegistrar" (click)="postular()">Postular</button>
            </div>
          </div>
        </div>
        <br>

        <div class="tablek">
          <p-table [value]="lstProcesosOferta">
            <ng-template pTemplate="header">
              <tr>
                <th>ID Proceso Oferta</th>
                <th>Tipo Proceso</th>
                <th>ID Unid. Aprovechamiento</th>
                <th>Ubicación Unid. Aprovechamiento</th>
                <th>Superficie Total (ha)</th>
                <!-- <th>Nombre- 1er Postulante</th>
                <th>Documento- 1er Postulante</th>
                <th>Nombre del Regente- 1er Postulante</th> -->
                <th>Estado Proceso</th>
                <th>Postular</th>
                <th>Fecha Postulación</th>
                <th>Ver Unid. Aprovechamientos</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-obj>
              <tr>
                <td>{{obj.idProcesoOferta}}</td>
                <td>{{obj.nombreTipoProceso}}</td>
                <td>{{obj.idUnidadAprovechamientoTexto}}</td>
                <td>{{obj.ubicacionUnidadAprovechamiento}}</td>
                <td>{{obj.superficieUnidadAprovechamiento}}</td>
                <!-- <td>{{obj.razonSocial}}</td>
                <td>{{obj.nombrePersona}}</td>
                <td>{{obj.numeroDocumento}}</td>
                <td>{{obj.nombreRegente}}</td> -->
                <td>{{obj.nombreStatusProceso}}</td>
                <td *ngIf="(obj.fechaPostulacion == null)">
                  <p-checkbox (click)="seleccionarItem(obj)"></p-checkbox>
                </td>
                <td *ngIf="!(obj.fechaPostulacion == null)">
                  <span > </span>
                </td>
                <td>{{obj.fechaPostulacion | date: 'dd/MM/yyyy h:mm:ss a'}}</td>
                <td>
                  <span *ngIf="permisos.isPerVisualizar" style="cursor: pointer; "> <i class="pi pi-eye" [id]="obj.idProcesoOferta"
                      (click)="openDialog(obj.idProcesoOferta)"></i> </span>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)" [showCurrentPageReport]="true" currentPageReportTemplate="Total : {totalRecords} registros" 
            [rowsPerPageOptions]="[10,25,50]"></p-paginator>
        </div>
      </div>
    </div>
</div>


<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>

<!--position="top-left"  right-->
<p-toast position="top-right" key="tl"></p-toast>
