.content-title-modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;

    .title{
        margin: 0;
    }
  
    .close{
      color: rgba(0, 0, 0, 0.75);
      width: 15px;
      height: 15px;
      cursor: pointer;
      border-radius: 50%;
    }
  }