<div class="row">
    <div class="col-12 mb-2">
        <p-fieldset legend="Filtros" [toggleable]="true">
            <div class="row m-0 mt-2">
                <div class="col-12 col-sm-3">
                    <label class="label">N° Resolución</label>
                    <input numero [maxlength]="9" class="form-control form-control-sm" placeholder="Ingrese N° de Resolución"
                        [(ngModel)]="impugnacionRequest.nroResolucion" />
                </div>
                <div class="col-12 col-sm-3">
                    <label class="label">Estado de Solicitud</label>
                    <div class="form-control-selectk">
                        <p-dropdown appendTo="body" [options]="comboEstado" placeholder="--Seleccionar--"
                            optionLabel="valorPrimario" optionValue="codigo" [(ngModel)]="impugnacionRequest.estadoSolicitud">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <label class="label">N° Doc. Gestión</label>
                    <input numero [maxlength]="9" class="form-control form-control-sm" placeholder="Ingrese N° Doc. Gestión"
                        [(ngModel)]="impugnacionRequest.nroDocGestion" />
                </div>
                <div class="col-12 col-sm-3">
                    <label class="label">Tipo Doc. Gestión</label>
                    <div class="form-control-selectk">
                        <p-dropdown appendTo="body" [options]="comboTipodocGestion" placeholder="--Seleccionar--"
                            optionLabel="valorPrimario" optionValue="codigo" [(ngModel)]="impugnacionRequest.tipoDocGestion">
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <div class="row m-0 mt-2 mb-3">
                <div class="col-12 text-center mt-3">
                    <button class="btn btn-sm btn-secondary mr-2" (click)="limpiarImpugnacion()">Limpiar</button>
                    <button class="btn btn-sm btn-secondary ml-2" (click)="buscarImpugnacion()">Buscar</button>
                    <button *ngIf="verAgregar" class="btn btn-sm btn-secondary ml-2" (click)="agregarImpugnacion()">Nuevo</button>

                </div>
            </div>
        </p-fieldset>
    </div>
    <div class="col-12 mt-4">
        <div>
            <p-table [value]="lstData">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Acciones</th>
                        <th>N° de Sol. Impugnación</th>
                        <th>N° de Resolución</th>
                        <th>Fecha de Solicitud</th>

                      <th>Estado de Solicitud</th>
                        <th>Tipo Documento de Gestión</th>
                        <th>N° Documento de Gestión</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td>
                            <ng-container [ngTemplateOutlet]="accionesRef" [ngTemplateOutletContext]="{data:data}">
                            </ng-container>
                        </td>
                        <td> {{data.idImpugnacion}} </td>
                        <td> {{data.idResolucion}} </td>
                        <td> {{data.fechaImpugnacion | date: 'dd/MM/yyyy' : 'UTC' }} </td>

                      <td> {{data.documentoGestion}} </td>
                        <td> {{data.desEstadoImpugnacion}} </td>
                        <td> {{data.nroDocGestion}} </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)"
            [rowsPerPageOptions]="[5,10,25,50,100]"></p-paginator>
    </div>
</div>
