<div class="row mt-4">
  <div class="col-2">
    <label>Nombre / Razón</label>
  </div>
  <div class="col-10">
    <input
      type="text"
      disabled
      class="form-control"
      autocomplete="off"
      [(ngModel)]="nombre_o_razonSocialTitular"
    />
  </div>
</div>

<div class="row mt-3">
  <div class="col-2">
    <label>Dirección</label>
  </div>
  <div class="col-10">
    <input
      type="text"
      disabled
      class="form-control"
      autocomplete="off"
      [(ngModel)]="direccionTitular"
    />
  </div>
</div>

<div class="row mt-3">
  <div class="col-2">
    <label>DNI</label>
  </div>
  <div class="col-5">
    <input
      type="text"
      disabled
      class="form-control"
      autocomplete="off"
      [(ngModel)]="dniTitular"
    />
  </div>
  <div class="col-5">
    <button
      pButton
      pRipple
      type="button" [disabled]="disabled"
      label="Validar con RENIEC"
      [ngClass]="
          validaPIDEReniecClass
            ? 'p-button-success'
            : 'p-button-danger'
        "
      class="p-button-rounded p-button-outlined"
      (click)="validarPideReniec()"
    ></button>
  </div>
</div>

<div class="row mt-3" >
  <div class="col-2">
    <label>RUC</label>
  </div>
  <div class="col-5">
    <input
      type="text"
      disabled
      class="form-control"
      autocomplete="off"
      [(ngModel)]="rucTitular"
    />
  </div>
  <div class="col-5">
    <button
      pButton
      pRipple
      type="button" [disabled]="disabled"
      label="Validar con SUNAT"
      [ngClass]="
        validaPIDESunatClass
          ? 'p-button-success'
          : 'p-button-danger'
      "
      class="p-button-rounded p-button-outlined"
      (click)="validarPideSunat()"
    ></button
    >&nbsp;&nbsp;
  </div>
</div>

<div class="row mt-3">
  <div class="col-2" *ngIf="false">
    <label>N° Partida</label>
  </div>
  <div class="col-5" *ngIf="false">
    <input
      type="text"
      class="form-control"
      autocomplete="off"
      [(ngModel)]="nroPartidaRegistral"
      disabled
    />
  </div>
  <div class="col-5">
    <button
      pButton
      pRipple [disabled]="disabled"
      type="button"
      label="Validar con SUNARP"
      [ngClass]="
          validaPIDESunarpClass
            ? 'p-button-success'
            : 'p-button-danger'
        "
      class="p-button-rounded p-button-outlined"
      (click)="validarPideSunarp()"
    ></button>
  </div>
</div>


<div class="mt-5">
  <p class="font-weight-bold">Validar con el servicio nacional de regentes</p>
  <div>
    <div class="my-1">
      <label class="contents_form_label text-lg-left"
      >DNI</label
      >
      <input
        type="text"
        disabled
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="numeroDocumentoRegente"
      />
    </div>
    <div class="my-1">
      <label class="contents_form_label text-lg-left"
      >Nombres</label
      >
      <input
        type="text"
        disabled
        autocomplete="off"
        class="form-control"
        [(ngModel)]="nombreCompleto"
      />
    </div>
    <div class="my-1">
      <label class="contents_form_label text-lg-left"
      >Número de licencia</label
      >
      <input
        type="text"
        disabled
        autocomplete="off"
        class="form-control"
        [(ngModel)]="numeroLicenciaRegente"
      />
    </div>
  </div>

  <div>
    <lista-regente
      [idPlanManejo]="idPlanManejo"
      [codigoEpica]="codigoEpica"
    >
    </lista-regente>
  </div>

  <div class="mt-3">
    <button
      pButton
      pRipple [disabled]="disabled"
      type="button"
      label="Servicio Nacional de Regentes"
      [ngClass]="
                              validaRegente
                                ? 'p-button-success'
                                : 'p-button-danger'
                            "
      class="p-button-rounded p-button-outlined"
      (click)="validarInformacionRegente()"
    ></button>
  </div>
</div>
