  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title">Épica 2.3.2.1 Solicitudes</h3>
    </div>
    <div class="col-sm-12">

      <div class="panelk br10 p-3">
        <div class="row m-0">
          <div class="col-sm-6 col-md-4 form-group">
            <label class="label">Tipo de Solicitud:</label>
            <div class="form-control-selectk">
              <p-dropdown class="fomr-control" [(ngModel)]="tipoProcesoSelect"
                  optionValue="idTipoSolicitud" [options]="tipoSolicitud" optionLabel="descripcion">
              </p-dropdown>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 form-group">
            <label class="label">Proceso Postulación:</label>
            <input class="form-control form-control-sm " type="number" numero [(ngModel)]="procesoPostulacionSelect" autocomplete="off" placeholder="Ingrese ID proceso postulación" />
          </div>
          <div class="col-sm-6 col-md-4 form-group">
            <label class="label">Estado:</label>
            <div class="form-control-selectk">
              <p-dropdown class="fomr-control" [options]="estadosolicitudes"   [(ngModel)]="selectedestadosolicitudes"></p-dropdown>
            </div>
          </div>

          <div class="col-sm-12 my-2 text-center form-group">
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnLimpiar()">Limpiar</button>
            <button class="btn btn-sm btn-secondary mr-2" (click)="listarAmpliacionSolicitud()">Buscar</button>
            <button *ngIf="!isPerfilARFFS" class="btn btn-sm btn-secondary" (click)="verAmpliacionSolicitud()">Nuevo</button>
          </div>
        </div>
      </div>
      <br>

      <div class="tablek">
        <p-table [value]="lstProcesosOferta" class="no-desbor-table">
          <ng-template pTemplate="header">
            <tr>
              <th>ID Proceso Postulación</th>
              <th>Motivo Solicitud</th>
              <th>Tipo Solicitud</th>
              <th>Fecha Inicio</th>
              <th>Fecha Fin</th>
              <th>Estado</th>
              <th>Ver</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-obj>
            <tr>
              <td>{{obj.idProcesoPostulacion}}</td>
              <td>{{obj.motivoSolicitud}}</td>
              <td>{{obj.tipoSolicitudDesc}}</td>
              <td>{{obj.fechaInicioSolicitudString}}</td>
              <td>{{obj.fechaFinSolicitudString}}</td>
              <td>{{obj.aprobado == null? "Pendiente de Evaluación" : obj.aprobado == true ? "Aprobado" : "Rechazado"}}</td>
              <td>
                <a style="cursor: pointer;" (click)="verDetalle(obj)"> <i class="pi pi-eye"></i> </a>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)" [showCurrentPageReport]="true" currentPageReportTemplate="Total : {totalRecords} registros"
              [rowsPerPageOptions]="[10,25,50]"></p-paginator>
      </div>

    </div>

  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
