<mat-vertical-stepper ml-0 [linear]="isLinear" class="step">
  <mat-step [stepControl]="formInfoGeneral">
    <form [formGroup]="formInfoGeneral" #formGeneral>
      <ng-template matStepLabel class="step-label"
        >Información general</ng-template
      >
      <div class="container-fluit m-0 pt-3">
        <p-fieldset legend="Número del contrato" [toggleable]="true">
          <div class="row m-0">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label">Número del contrato</label>
                <input
                  type="text"
                  name="ncontrato"
                  id="ncontrato"
                  class="form-control bg-gray"
                  placeholder="Ingrese número de contrato"
                />
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label">Número de referencia del PGMF</label>
                <input
                  type="text"
                  id="npgmf"
                  class="form-control bg-gray"
                  name="npgmf"
                  placeholder="Ingrese número de referencia del PGMF"
                />
              </div>
            </div>
          </div>
        </p-fieldset>

        <div class="mt-3">
          <p-fieldset legend="Titular" [toggleable]="true">
            <div class="row m-0">
              <div class="col-12 col-sm-3">
                <div class="form-group">
                  <label class="label">Nombre</label>
                  <input
                    type="text"
                    id="nombre"
                    class="form-control bg-gray"
                    name="nombre"
                    placeholder="Ingrese nombre"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <div class="form-group">
                  <label class="label">Ruc</label>
                  <input
                    maxlength="50"
                    type="text"
                    id="ruc"
                    class="form-control bg-gray"
                    name="ruc"
                    placeholder="Ingrese Ruc"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <div class="form-group">
                  <label class="label">Tipo de telefono</label>
                  <input
                    type="text"
                    id="ttelefono"
                    class="form-control bg-gray"
                    name="ttelefono"
                    placeholder="Ingrese tipo de telefono"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <div class="form-group">
                  <label class="label">Número de telefono</label>
                  <input
                    type="text"
                    id="ntelefono"
                    class="form-control bg-gray"
                    name="ntelefono"
                    placeholder="Ingrese Número de telefono"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <div class="form-group">
                  <label class="label">Tipo de correo electronico</label>
                  <input
                    type="text"
                    id="tcorreo"
                    class="form-control bg-gray"
                    name="tcorreo"
                    placeholder="Ingrese tipo de correo electronico"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <div class="form-group">
                  <label class="label">Correo electronico</label>
                  <input
                    type="text"
                    id="correo"
                    class="form-control bg-gray"
                    name="correo"
                    placeholder="Ingrese correo electronico"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <div class="form-group">
                  <label class="label">Regente</label>
                  <input
                    type="text"
                    id="regente"
                    class="form-control bg-gray"
                    name="regente"
                    placeholder="Ingrese regente"
                  />
                </div>
              </div>
            </div>
          </p-fieldset>
        </div>

        <div class="mt-3">
          <p-fieldset legend="Fecha de PGMF" [toggleable]="true">
            <div class="row m-0">
              <div class="col-12 col-sm-3">
                <div class="form-group">
                  <label class="label">Fecha de de presentación</label>
                  <input
                    type="text"
                    id="fpresentacion"
                    class="form-control bg-gray"
                    name="fpresentacion"
                    placeholder="Ingrese Fecha de presentación"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <div class="form-group">
                  <label class="label">Fecha de inicio</label>
                  <input
                    type="text"
                    id="finicio"
                    class="form-control bg-gray"
                    name="finicio"
                    placeholder="Ingrese Fecha de incio"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <div class="form-group">
                  <label class="label">Fecha de finalización</label>
                  <input
                    type="text"
                    id="ffin"
                    class="form-control bg-gray"
                    name="ffin"
                    placeholder="Ingrese Fecha de Finalización "
                  />
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <div class="form-group">
                  <label class="label">Duración (años)</label>
                  <input
                    type="text"
                    id="duracion"
                    class="form-control bg-gray"
                    name="duracion"
                    placeholder="Ingrese Duración (años)"
                  />
                </div>
              </div>
            </div>
          </p-fieldset>
        </div>

        <div class="mt-3">
          <p-fieldset
            legend="Administración del área del bosque (ha)"
            [toggleable]="true"
          >
            <div class="row m-0">
              <div class="col-12 col-sm-3">
                <div class="form-group">
                  <label class="label">Tipo de Documento</label>
                  <input
                    type="text"
                    id="fpresentacion"
                    class="form-control bg-gray"
                    name="fpresentacion"
                    placeholder="Ingrese Fecha de presentación"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <div class="form-group">
                  <label class="label">Número</label>
                  <input
                    type="text"
                    id="txtNumero"
                    class="form-control bg-gray"
                    name="txtNumero"
                    placeholder="Ingrese número"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <div class="form-group">
                  <label class="label">Área total (hectárea)</label>
                  <input
                    type="text"
                    id="atotal"
                    #areaTotal
                    class="form-control bg-gray"
                    name="atotal"
                    placeholder="Ingrese área total (hectárea)"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <div class="form-group">
                  <label class="label">&nbsp;&nbsp;</label>
                  <div class="text-center">
                    <button
                      type="button"
                      id="btnCargaShapeFile"
                      (click)="fileInput.click()"
                      class="btn btn-sm btn-secondary"
                    >
                      Cargar shape file
                      <input
                        #fileInput
                        type="file"
                        (change)="onFileChange($event)"
                      />
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12 col-sm-8">
                <div class="f-w mb-2 mapa-content">
                  <div class="mapa" #map></div>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <div class="card mb-3">
                  <div class="card-header py-0 pt-2 pb-2">Capas</div>
                  <ul id="ulResult" #ulResult class="list-group"></ul>
                </div>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12 col-sm-12">
                <p-accordion>
                  <p-accordionTab
                    header="Coordenadas de UTM del área a manejar"
                    [selected]="true"
                  >
                    <div class="">
                      <p-table [value]="listCoordinatesAnexo1">
                        <ng-template pTemplate="header">
                          <tr>
                            <th>Vertice</th>
                            <th>Este (E)</th>
                            <th>Norte (N)</th>
                            <th style="width: 180px">Referencia</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-list>
                          <tr>
                            <td class="text-center">{{ list.vertice }}</td>
                            <td>{{ list.este }}</td>
                            <td>{{ list.norte }}</td>
                            <td>
                              <input
                                type="text"
                                class="form-control bg-gray"
                                placeholder="Referencia"
                              />
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                      <table class="table" #tablaAreaManejoDividido>
                        <thead>
                          <tr class="text-center">
                            <td>Anexos</td>
                            <td>Vertice</td>
                            <td>Este (E)</td>
                            <td>Norte (N)</td>
                            <td>Referencia</td>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </p-accordionTab>
                  <p-accordionTab header="Accebilidad">
                    <div>
                      Anim pariatur cliche reprehenderit, enim eiusmod high life
                      accusamus terry richardson ad squid. 3 wolf moon officia
                      aute, non cupidatat skateboard dolor brunch. Food truck
                      quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin
                      coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                      helvetica, craft beer labore wes anderson cred nesciunt
                      sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw
                      denim aesthetic synth nesciunt you probably haven't heard
                      of them accusamus labore sustainable VHS.
                    </div>
                  </p-accordionTab>
                </p-accordion>
              </div>
            </div>
          </p-fieldset>
        </div>

        <div class="mt-3">
          <p-fieldset legend="Resolución de aprobación" [toggleable]="true">
            <div class="row m-0">
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="label">Número resolución de aprobación</label>
                  <input
                    type="text"
                    id="naprobacion"
                    class="form-control bg-gray"
                    name="naprobacion"
                    placeholder="Ingrese número de aprobación "
                  />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="label">Fecha de aprobación</label>
                  <input
                    type="text"
                    id="faprobacion"
                    class="form-control bg-gray"
                    name="faprobacion"
                    placeholder="Ingrese Fecha de aprobación"
                  />
                </div>
              </div>
            </div>
          </p-fieldset>
        </div>

        <div class="mt-3">
          <button type="submit" class="btn-primary2" matStepperNext>
            Continuar
          </button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="formInfoBascica" class="pr-0">
    <form [formGroup]="formInfoBascica" class="text-fr-text2 fz-14">
      <ng-template matStepLabel class="fielset"
        >Información básica de ubicación</ng-template
      >
      <div class="container-fluit m-0 pt-3">
        <p-fieldset legend="Ubicación" [toggleable]="true">
          <div class="row m-0">
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Departamento</label>
                <div class="form-control-selectk bg-gray">
                  <p-dropdown [options]="[]" optionLabel="text"></p-dropdown>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Provincia</label>
                <div class="form-control-selectk bg-gray">
                  <p-dropdown [options]="[]" optionLabel="text"></p-dropdown>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Distrito</label>
                <div class="form-control-selectk bg-gray">
                  <p-dropdown [options]="[]" optionLabel="text"></p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </p-fieldset>
      </div>
      <div class="step__btn mt-4">
        <button
          type="submit"
          class="btn btn-sm btn-secondary mr-2"
          matStepperPrevious
        >
          Cancelar
        </button>
        <button type="submit" class="btn-primary2" matStepperNext>
          Continuar
        </button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>
