<div class="container-fluit mb-4">
  <div class="row m-0">
    <div class="col-12 pt-3 mb-2">
      <p-breadcrumb [model]="listItems" [home]="homes"></p-breadcrumb>
    </div>
    <div class="col-12 pt-3">
      <h3 class="title fz-17 text-center">
        CRITERIOS PARA LA CALIFICACIÓN DE LAS PROPUESTAS
      </h3>
    </div>
  </div>
  <div class="row m-0 justify-content-center">
    <div class="col-12 col-sm-8">
      <div class="row m-0">
        <div class="col-12 mt-4">
          <table>
            <thead>
              <tr>
                <th class="text-left" colspan="2">OBJETIVOS Y METAS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left"><b class="fz-11">Objetivos</b></td>
                <td><b class="fz-11">Puntaje</b></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left">
                  Objetivos bien definidos, combinando criterios de
                  aprovechamiento/conservación, desarrollo comunal y que
                  demuestre una activa participación local
                </td>
                <td>
                  <p-inputNumber [styleClass]="stylesClass.w100px" [min]="0">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Objetivos que cambian criterios de
                  conservación/aprovechamiento y algunos aspectos de desarrollo
                  comunal.
                </td>
                <td>
                  <p-inputNumber [styleClass]="stylesClass.w100px" [min]="0">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Objetivos con un enfoque exclusivo respecto a la
                  conservación/aprovechamiento.
                </td>
                <td>
                  <p-inputNumber [styleClass]="stylesClass.w100px" [min]="0">
                  </p-inputNumber>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left"><b class="fz-11">Metas</b></td>
                <td><b class="fz-11">Puntaje</b></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left">
                  Factibles y coherentes con la extensión de la concesión, los
                  objetivos de la propuesta de concesión, la zona de influencia
                  y la participación local.
                </td>
                <td>
                  <p-inputNumber [styleClass]="stylesClass.w100px" [min]="0">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Factibles y coherentes con los objetos de
                  conservación/aprovechamiento
                </td>
                <td>
                  <p-inputNumber [styleClass]="stylesClass.w100px" [min]="0">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Poco factibles y poco coherentes con los objetivos planteados
                </td>
                <td>
                  <p-inputNumber [styleClass]="stylesClass.w100px" [min]="0">
                  </p-inputNumber>
                </td>
              </tr>
            </tbody>

            <thead>
              <tr>
                <th class="text-left" colspan="2">CARACTERIZACIÓN BIOFÍSICA</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left">
                  <b class="fz-11">Caracterización Física</b>
                </td>
                <td><b class="fz-11">Puntaje</b></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left">
                  Presente información basada en estudios realizado en el ¿mono
                  y en revisiones bibliográficas actualizadas, Citando la
                  fuente, la cual debe ser verificable.
                </td>
                <td>
                  <p-inputNumber [styleClass]="stylesClass.w100px" [min]="0">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Presenta información básica, basada sólo en una revisión
                  bibliográfica.
                </td>
                <td>
                  <p-inputNumber [styleClass]="stylesClass.w100px" [min]="0">
                  </p-inputNumber>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left">
                  <b class="fz-11">Caracterización Biológica</b>
                </td>
                <td><b class="fz-11">Puntaje</b></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left">
                  Presenta la descripción detallada de los ecosistemas del lugar
                  y una lista de la flora y fauna que se haya registrado ín stu,
                  indicando si se encuentran en la ¡sta de categorización de
                  especies amenazadas, citando las publicaciones cientificas, u
                  otros documentos consulados
                </td>
                <td>
                  <p-inputNumber [styleClass]="stylesClass.w100px" [min]="0">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Presenta la descripción general de las caracteristicas
                  biológicas y/o una lista de flora y fauna basada en
                  extrapolaciones y revisiones bibliográficas de zonas similares
                </td>
                <td>
                  <p-inputNumber [styleClass]="stylesClass.w100px" [min]="0">
                  </p-inputNumber>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left">
                  <b class="fz-11">Caracterización Socioeconómica</b>
                </td>
                <td><b class="fz-11">Puntaje</b></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left">
                  Describe detalladamente las características socioeconómicas
                  (población, actividades económicas, tenencia de letras,
                  servicios básicos) de un manera cualitativa y cuantitativa en
                  las zonas de influencia (ciar fuentes de consulta) y/o basados
                  en encuestas realizadas por el solicitante.
                </td>
                <td>
                  <p-inputNumber [styleClass]="stylesClass.w100px" [min]="0">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Describe de manera general las caracteristicas socioeconómicas
                  de las zonas de influencia.
                </td>
                <td>
                  <p-inputNumber [styleClass]="stylesClass.w100px" [min]="0">
                  </p-inputNumber>
                </td>
              </tr>
            </tbody>

            <thead>
              <tr>
                <th class="text-left" colspan="2">
                  JUSTIFICACIÓN DE LA IMPORTANCIA DEL OTORGAMIENTO DE LA
                  CONCESIÓN
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left">
                  <b class="fz-11">Factores ambientales y biológicos</b>
                </td>
                <td><b class="fz-11">Puntaje</b></td>
              </tr>
              <tr>
                <td class="text-left">
                  Justifica detalladamente las principales razones ambientales y
                  biológicas que determinan la necesidad del aprovechamiento y/o
                  conservación del área, y las relaciona con el tamaño del área
                  a concesionar.
                </td>
                <td>
                  <p-inputNumber [styleClass]="stylesClass.w100px" [min]="0">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Justicia de manera general las principales razones ambientales
                  y biológicas que determinan la necesidad de aprovechamiento
                  y/o conservación del área, y las relaciona con el tamaño del
                  área a concesionar.
                </td>
                <td>
                  <p-inputNumber [styleClass]="stylesClass.w100px" [min]="0">
                  </p-inputNumber>
                </td>
              </tr>
            </tbody>

            <thead>
              <tr>
                <th class="text-left" colspan="2">SUSTENTO FINANCIERO</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left"><b class="fz-11">Presupuesto</b></td>
                <td><b class="fz-11"></b></td>
              </tr>
              <tr>
                <td class="text-left">
                  Presencia un presupuesto para los primeros cinco años de
                  ejecución dela iniciativa, señalando las fuentes de
                  financiamiento y adjuntando la documentación de respaldo.
                </td>
                <td>
                  <p-inputNumber [styleClass]="stylesClass.w100px" [min]="0">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Presenta un presupuesto para los primeros cinco años de la
                  iniciativa, señalando las fuentes de financiamiento
                </td>
                <td>
                  <p-inputNumber [styleClass]="stylesClass.w100px" [min]="0">
                  </p-inputNumber>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="text-left">
                  <b class="fz-11">Análisis Financiero</b>
                </td>
                <td><b class="fz-11"></b></td>
              </tr>
              <tr>
                <td colspan="2" class="text-left">
                  <i class="fz-10">
                    Presentar los valores correspondientes al punto de
                    equilibrio, TIR y VAN con la finalidad de determinar la
                    viabilidad del proyecto</i
                  >
                </td>
              </tr>
            </tbody>

            <thead>
              <tr>
                <th class="text-left" colspan="2">
                  EXPERIENCIA DEL POSTOR EN EL TEMA
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left">
                  Acredita que ha trabajado e investigado en temas relacionados
                  al tipo de concesión propuesto
                </td>
                <td>
                  <p-inputNumber [styleClass]="stylesClass.w100px" [min]="0">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Acredita que ha trabajado e investigado temas relacionados al
                  tipo de concesión propuesto
                </td>
                <td>
                  <p-inputNumber [styleClass]="stylesClass.w100px" [min]="0">
                  </p-inputNumber>
                </td>
              </tr>
            </tbody>

            <thead>
              <tr>
                <th class="text-left" colspan="2">
                  EQUIPO TÉCNICO (datos de la acreditación de la capacidad
                  financiera)
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left">
                  Respalda su capacidad técnica con profesionales, instituciones
                  privadas reconocidas y/o instituciones públicas.
                </td>
                <td>
                  <p-inputNumber [styleClass]="stylesClass.w100px" [min]="0">
                  </p-inputNumber>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  Respalda su capacidad técnica con por lo menos un ingeniero
                  forestal, biologo o profesional afin.
                </td>
                <td>
                  <p-inputNumber [styleClass]="stylesClass.w100px" [min]="0">
                  </p-inputNumber>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-0 justify-content-center">
    <div class="col-12 col-sm-8 mt-4 pt-4">
      <table>
        <tbody>
          <tr>
            <td class="text-left"><b class="fz-11">CALIFICACIÓN TOTAL</b></td>
            <td>
              <p-inputNumber
                [styleClass]="stylesClass.w100px"
                [maxlength]="3"
                [min]="0"
                [max]="100"
              >
              </p-inputNumber>
            </td>
          </tr>
          <tr>
            <td><b class="fz-11">Primer Solicitante 10% Adicional</b></td>
            <td>
              <p-inputNumber
                [styleClass]="stylesClass.w100px"
                [maxlength]="3"
                [min]="0"
                [max]="100"
              >
              </p-inputNumber>
            </td>
          </tr>
          <tr>
            <td><b class="fz-11">Calificación Total</b></td>
            <td>
              <p-inputNumber [min]="0" [max]="100"> </p-inputNumber>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-12 mt-3 text-center">
      <button class="btn btn-primary2">Grabar</button>
    </div>
  </div>
</div>
