
<div class="row">
    <div class="form-group col-12">
        <label class="label">Reforestación</label>
        <input  type="text"  [(ngModel)]="context.tratamientoSilvicultural" required class="form-control" placeholder="" maxlength="50" disabled >
    </div>

    <div class="form-group col-12">
        <label class="label">Descripción</label>
        <!-- <input  type="text" [(ngModel)]="context.reforestacion" required class="form-control" placeholder="" maxlength="50" > -->
        <textarea
            autocomplete="off"
            class="form-control"
            rows="4"
            maxlength="250"
            [(ngModel)]="context.reforestacion"
            required
            placeholder=""
            style="resize: none;"
            >
        </textarea>
    </div>
</div>

<div class="d-flex justify-content-end">
    <button icon="pi pi-save" (click)="agregar()" pButton pRipple type="button" label="Aceptar"
                class="p-button-success p-button-outlined"></button> &nbsp;&nbsp;
    <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
              class="p-button-danger p-button-outlined" ></button>
  </div>
