<div class="col-12 p-0">
      <table class="table">
          <thead>
              <tr>
                  <th style="width: 20%;">Actividades</th>
                  <th>Descripción del Impacto</th>
                  <th style="width: 40%;">Medidas de Prevención y/o Mitigación, incluido el Manejo de Residuos Sólidos</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let data of lstGrilla">
                  <td class="text-left">{{data.actividad}}</td>
                  <td class="text-left">{{data.descripcion}}</td>
                  <td >
                      <ul *ngFor="let medida  of data.detalle">
                          <li class="text-left" style="font-size: 10px;">
                              {{medida.medidasprevencion}}
                          </li>
                      </ul>
                  </td>
              </tr>
          </tbody>
      </table>

      <label *ngIf="pendiente" class="lbl-info mt-3 mb-3">
          (Los cambios locales se guardarán pulsando el botón "Guardar".)
      </label>
  </div>
