<div class="row">
  <div class="col-12 col-md-6 form-group">
    <label for="tipoSolicitud">Tipo Solicitud</label>
    <div class="form-control-selectk">
      <p-dropdown class="fomr-control" [(ngModel)]="impugnacionModel.idTipoSolicitud"
        optionValue="idTipoSolicitud" [options]="tipoSolicitud" optionLabel="descripcion"
        placeholder="-- Seleccione --"
        [disabled]="true"
        >
      </p-dropdown>
    </div>
  </div>

  <div class="col-12 col-md-6 form-group">
    <label for="procesoPostulacion">Proceso Postulación</label>
    <div class="form-control-selectk">
      <p-dropdown class="fomr-control" [(ngModel)]="impugnacionModel.idSolicitud"
        placeholder="-- Seleccione --" optionValue="idProcesoPostulacion" [options]="procesoPostulacion"
        optionLabel="idProcesoPostulacion" placeholder="-- Seleccione --"
        [disabled]="true">
      </p-dropdown>
    </div>
  </div>

  <div class="col-12 form-group">
    <label for="descripcion">Descripción</label>
    <textarea [(ngModel)]="impugnacionModel.descripcion" name="descripcion" autocomplete="off" id="descrip"
      class="form-control form-control-sm" rows="4" [autoResize]="false"
      [disabled]="true"
      pInputTextarea></textarea>
  </div>

  <div class="col-12 form-group">

    <div class="row" style="margin-bottom: 30px;">

      <div class="col-12 col-md-4 form-group">
        <label>Recurso de Impugnación</label>
        <button class="btn btn-sm btn-secondary" [class.spinner]="btnDescargaload"
        [disabled]="btnDescargaload" (click)="descargarImpSAN()">Descargar</button>&nbsp;
      </div>


      <div class="col-12 col-md-4 form-group">
        <label for="tipoSolicitud">Calificar Impugnacion</label>
        <div class="form-control-selectk">
          <p-dropdown class="fomr-control" [(ngModel)]="impugnacionModel.idCalificacionImpugnacion"
            optionValue="valorSecundario"       [disabled]="disablePerfilArFFs"
            [options]="calificar" optionLabel="valorPrimario"
            placeholder="-- Seleccione --" >
          </p-dropdown>
        </div>
      </div>


      <div class="col-12 col-md-4 form-group">
        <label for="fechaInicio">Fecha de Presentación</label>
        <div class="content-date">
          <input name="fechaInicio" [(ngModel)]="impugnacionModel.fechaPresentacion" autocomplete="off"
            class="form-control" matInput [matDatepicker]="fechaRecepcionDocsFisicos"  [disabled]="disablePerfilArFFs" >
          <i class="pi pi-calendar pointer" (click)="fechaRecepcionDocsFisicos.open()"></i>
          <mat-datepicker #fechaRecepcionDocsFisicos></mat-datepicker>
        </div>
      </div>
    </div>


    <div class="row" *ngIf="impugnacionModel.idCalificacionImpugnacion==2">
      <div class="col-12 col-md-4 form-group">
        <label>Resultado Evaluación</label>

        <div class="input-group" *ngIf="disableTipoArchivo.resultadoEvaluacion ==false">
          <input type="text" class="form-control" placeholder="Seleccione un archivo"
            [(ngModel)]="fileEvaluacion.name">
          <div class="input-group-append">
            <button type="button" id="btnCargaShapeFile" (click)="fileInput.click()" class="btn btn-sm btn-secondary">
              Seleccione archivo<input #fileInput type="file" (change)="cargarAchivoEvaluacion($event)"
                style="display:none;" />
            </button>
          </div>
        </div>

        <button *ngIf="disableTipoArchivo.resultadoEvaluacion ==true" (click)="descargarInfundada()"
          class="btn btn-secondary ml-2">Descargar</button>
      </div>

      <div class="col-12 col-md-4 form-group" style="display: flex;flex-direction: column;">
        <label>Generar </label>
        <button class="btn btn-sm btn-secondary" style="max-width: 120px;">Descargar</button>&nbsp;
      </div>
    </div>





      <div class="row" *ngIf="esEvaluador">

        <div class="col-12 col-md-6 form-group">
          <label>Aduntar Evaluación</label>
          <div class="input-group" *ngIf="disableTipoArchivo.adjuntarEvaluacion ==false">
            <input type="text" class="form-control" placeholder="Seleccione un archivo" [(ngModel)]="fileAdjEvaluacion.name">
            <div class="input-group-append">
              <button type="button" id="btnCargaShapeFile" (click)="fileInput.click()" class="btn btn-sm btn-secondary">
                Seleccione archivo<input #fileInput type="file" (change)="cargarAchivoAdjEvaluacion($event)"
                  style="display:none;" />
              </button>
            </div>
          </div>
          <button (click)="descargarEvaluacion()" *ngIf="disableTipoArchivo.adjuntarEvaluacion ==true"
            class="btn btn-secondary ml-2">Descargar</button>
        </div>


        <div class="col-12 col-md-6 form-group">
          <label>Adjuntar Resolución</label>
          <div class="input-group" *ngIf="disableTipoArchivo.adjuntarResolucion ==false">
            <input type="text" class="form-control" placeholder="Seleccione un archivo" [(ngModel)]="fileResolucion.name">
            <div class="input-group-append">
              <button type="button" id="btnCargaShapeFile" (click)="fileInput.click()" class="btn btn-sm btn-secondary">
                Seleccione archivo<input #fileInput type="file" (change)="cargarAchivoResolucion($event)"
                  style="display:none;" />
              </button>
            </div>
          </div>
          <div *ngIf="disableTipoArchivo.adjuntarResolucion ==true">
            <button (click)="descargarResolucion()" class="btn btn-secondary ml-2">Descargar</button>
          </div>
        </div>
      </div>


          <div class="row" *ngIf="esEvaluador">
            <div class="col-12 col-md-6 form-group">
              <label>Adjuntar Resultados de Evaluacion</label>

              <div class="input-group" *ngIf="disableTipoArchivo.adjuntarResultadoEvaluacion ==false">
                <input type="text" class="form-control" placeholder="Seleccione un archivo"
                  [(ngModel)]="fileResultadosEvaluacion.name">
                <div class="input-group-append">
                  <button type="button" id="btnCargaShapeFile" (click)="fileInput.click()" class="btn btn-sm btn-secondary">
                    Seleccione archivo<input #fileInput type="file" (change)="cargarAchivoResolucion($event)"
                      style="display:none;" />
                  </button>
                </div>
              </div>

              <div *ngIf="disableTipoArchivo.adjuntarResultadoEvaluacion ==true">
                <button (click)="descargarResultadoEvaluacion()" class="btn btn-secondary ml-2">Descargar</button>
              </div>

            </div>


            <div class="col-12 col-md-3 form-group" style="display: flex;flex-direction: column;">
              <label>Generar Resolución</label>
              <button class="btn btn-sm btn-secondary" style="max-width: 120px;">Resolución</button>&nbsp;
            </div>

            <div class="col-12 col-md-4 form-group" style="display: flex; flex-direction: column;">
              <label>Impugnación</label>

              <div>
                <div class="p-field-radiobutton">
                  <label for="fundada1" class="mr-2">Fundada</label>
                  <p-radioButton name="fundada" [value]="true" [(ngModel)]="impugnacionModel.fundadoInfundado" inputId="fundada1">
                  </p-radioButton>
                </div>

                <div class="p-field-radiobutton">
                  <label for="fundada2" class="mr-2">Infundada</label>
                  <p-radioButton name="fundada" [value]="false" [(ngModel)]="impugnacionModel.fundadoInfundado"
                    inputId="fundada2">
                  </p-radioButton>
                </div>
              </div>
            </div>

          </div>







    </div>

    <div class="col-12 mt-4 text-right" *ngIf="(disableAprobarPerfilArFFs==true || disableAprobarPerfilEvaluador ==true)">
      <button (click)="enviar(1)" class="btn btn-sm btn-primary2" *ngIf="impugnacionModel.idCalificacionImpugnacion==1 && disableAprobarPerfilEvaluador ==false" [class.spinner]="btnEnviarload" [disabled]="btnEnviarload">Enviar</button>

      <button (click)="enviar(2)" *ngIf="impugnacionModel.idCalificacionImpugnacion==2 || disableAprobarPerfilEvaluador==true" class="btn btn-sm btn-primary2" [class.spinner]="btnEnviarload" [disabled]="btnEnviarload">Aprobar</button>
      <button (click)="enviar(3)" *ngIf="impugnacionModel.idCalificacionImpugnacion==2 || disableAprobarPerfilEvaluador==true" class="btn btn-sm btn-primary2" [class.spinner]="btnEnviarload" [disabled]="btnEnviarload">Desaprobar</button>
    </div>
  </div>
