<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12 form-group">
      <p-accordion>
        <p-accordionTab
          header="11.1. Funciones y Responsabilidades del Personal de la Concesión" [selected]="true"
        >
        
          <p-table
            [value]="listaTipos_fr"
            [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Total : {totalRecords} registros"
            [rowsPerPageOptions]="[10,25,50]"
          >
            <ng-template pTemplate="header">
              <tr>
                
                <th>Nivel</th>
                <th>Acciones</th>
                <th>Función</th>
                <th>Responsabilidades</th>
                <th>Número</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td>
                  {{data.nombreSubTipo}}
                </td>
                <td>
                  
                  <div *ngFor="let item of data.items">
                    
                      <i
                        (click)="eliminarPlantilla(item.i, data, item.f)"
                        class="pi pi-trash pointer mr-2"
                        title="Eliminar"
                        [ngClass]="isDisbledObjFormu?'disabled-pointer':''"
                      ></i>

                      <i
                        (click)="editar('11.1',data.subTipo, item,'Editar')"
                        class="pi pi-pencil"
                        title="Editar"
                        [ngClass]="isDisbledObjFormu?'disabled-pointer':''"
                      ></i>

                    
                  </div>
                  <div>
                      <i 
                          (click)="nuevo('11.1',data.subTipo,'Nuevo')"
                          class="pi pi-plus pointer"
                          title="Agregar"
                          [ngClass]="isDisbledObjFormu?'disabled-pointer':''"
                      ></i>
                  </div>
                
              </td>
                <td>
                  <ul>
                    <li *ngFor="let item of data.items">
                      {{item.f}}
                    </li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li *ngFor="let item of data.items">
                      {{item.d}}
                    </li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li *ngFor="let item of data.items">
                      {{item.n}}
                    </li>
                  </ul>
                </td>
              </tr>
            </ng-template>
          </p-table>


          <!-- <div class="row m-0 mt-4 h-100 justify-content-center align-items-center">
            <div class="col-12 col-sm-12">
              <lineamiento-inner [base]="lineamiento" [titulo]="'Evaluación de Lineamiento 16. Revisión de la organización para el manejo'"
              [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval">
                  <ng-template #descripcion>
                      <div class="row m-0">
                        <div class="col-12">
                          <p class="fz-11 m-0 mb-3"></p>
                          <p class="fz-11 m-0 mb-1 ml-4">► Verificar que se incluya la información de las Responsabilidades del personal que labora en la concesión.</p>
                        </div>
                      </div>
                  </ng-template>
              </lineamiento-inner>
            </div>
          </div> -->



        </p-accordionTab>

        <p-accordionTab
          header="11.2. Requerimientos de Personal por Actividad de Manejo"
        >
        <div class="col-2 col-sm-12 text-right">
          <button  (click)="nuevo('11.2','','Requerimiento de personal')"  class="btn btn-sm btn-default mb-2" type="button"
            title="Agregar" [disabled]="isDisbledObjFormu">
            <i class="pi pi-plus"></i>
          </button>
        </div>
          <p-table
            [value]="listaRequerimientoPersonal"
            [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Total : {totalRecords} registros"
            [rowsPerPageOptions]="[10,25,50]"
          >
            <ng-template pTemplate="header">
              <tr>
                <th rowspan="2" class="text-center">Acciones</th>
                <th rowspan="2">Tipo de actividad</th>
                <th colspan="3" class="text-center">Personal</th>
              </tr>
              <tr>
                <th>Función</th>
                <th>Número</th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td class="text-center">
                  <i
                    (click)="eliminarDetalle('11.2',data.id)"
                    class="pi pi-trash pointer"
                    title="Eliminar"
                    [ngClass]="isDisbledObjFormu?'disabled-pointer':''"
                  ></i>
                </td>
                <td>{{data.tipoActividad}}</td>
                <td>{{data.funcion}}</td>
                <td>{{data.numero}}</td>
              </tr>
            </ng-template>
          </p-table>



          <!-- <div class="row m-0 mt-4 h-100 justify-content-center align-items-center">
            <div class="col-12 col-sm-12">
              <lineamiento-inner [base]="lineamiento2" [titulo]="'Evaluación de Lineamiento 16. Revisión de la organización para el manejo'"
              [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval">
                  <ng-template #descripcion>
                      <div class="row m-0">
                        <div class="col-12">
                          <p class="fz-11 m-0 mb-3"></p>
                          <p class="fz-11 m-0 mb-1 ml-4">► Verificar que se incluya la información de la cantidad de personas requeridas en cada nivel de la organización.</p>
                        </div>
                      </div>
                  </ng-template>
              </lineamiento-inner>
            </div>
          </div> -->



        </p-accordionTab>

        <p-accordionTab header="11.3. Requerimientos de Maquinaria y Equipos">
          <div class="col-2 col-sm-12 text-right">
            <button  (click)="nuevo('11.3','','Nuevo')"  class="btn btn-sm btn-default mb-2" type="button"
              title="Agregar" [disabled]="isDisbledObjFormu">
              <i class="pi pi-plus"></i>
            </button>
          </div>
          <p-table
            [value]="listaRequerimientoMaquinaria"
            [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Total : {totalRecords} registros"
            [rowsPerPageOptions]="[10,25,50]"
          >
            <ng-template pTemplate="header">
              <tr>
                <th class="text-center">Acciones</th>
                <th>Tipo de Actividad</th>
                <th>Maquinaria/Equipo</th>
                <th>Número</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td class="text-center">
                  <i
                    (click)="eliminarDetalle('11.3',data.id)"
                    class="pi pi-trash pointer"
                    title="Eliminar"
                    [ngClass]="isDisbledObjFormu?'disabled-pointer':''"
                  ></i>
                </td>
                <td>{{data.tipoActividad}}</td>
                <td>{{data.maquinaEquipo}}</td>
                <td>{{data.numero}}</td>
              </tr>
            </ng-template>
          </p-table>

          <!-- <div class="row m-0 mt-4 h-100 justify-content-center align-items-center">
            <div class="col-12 col-sm-12">
              <lineamiento-inner [base]="lineamiento3" [titulo]="'Evaluación de Lineamiento 16. Revisión de la organización para el manejo'"
              [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval">
                  <ng-template #descripcion>
                      <div class="row m-0">
                        <div class="col-12">
                          <p class="fz-11 m-0 mb-3"></p>
                          <p class="fz-11 m-0 mb-1 ml-4">► Verificar que se incluya la información de la maquinaria y equipo para la actividad que comprende la implementación del PGMF.</p>
                        </div>
                      </div>
                  </ng-template>
              </lineamiento-inner>
            </div>
          </div> -->



        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

  <div class="row m-0 mt-4">
    <div class="col-12">
      <label class="m-0 mr-4 label"
        >Se amplía información en el Anexo 4:</label
      >
      <div class="p-field-radiobutton">
        <strong for="Si" class="mr-2">SI</strong>
        <p-radioButton
          name="monitoreo"
          value="S"
          inputId="Si"
          [(ngModel)]="selectAnexo"
          (onClick)="anexoS($event)"
          [disabled]="isDisbledObjFormu"
        >
        </p-radioButton>
      </div>
      <div class="p-field-radiobutton">
        <strong for="No" class="mr-2">NO</strong>
        <p-radioButton
          name="monitoreo"
          value="N"
          inputId="No"
          [(ngModel)]="selectAnexo"
          (onClick)="anexoN($event)"
          [disabled]="isDisbledObjFormu"
        >
        </p-radioButton>
      </div>
    </div>

    <div class="col-12" [hidden]="selectAnexo == 'N'">
      <div class="col-12 mt-4 ml-1 mr-5" *ngIf="selectAnexo == 'S'">
        <app-anexo-upload-file
          [fileInfGenreal]="fileAnexo4"
          [label]="'Adjuntar Evidencia:'"
          [idPlanManejo]="idPlanManejo"
          [idTipoDocumento]="codigoAnexo4"
          [codigoProceso]="codigoAnexo4"
          (registrarArchivoId)="cargarIdArchivo($event)"
          [isDisbledObjFormu]="isDisbledObjFormu"
        >
        </app-anexo-upload-file>
      </div>
    </div>
  </div>

  <div class="row m-0 mt-4 h-100 justify-content-center align-items-center">
    <div class="col-12 col-sm-12">
      <lineamiento-inner [base]="lineamiento4"
        [titulo]="'Evaluación de Lineamiento 16. Revisión de la organización para el manejo'" [isShowObjEval]="isShowObjEval"
        [isDisabledObjEval]="isDisabledObjEval">
        <ng-template #descripcion>
          <div class="row m-0">
            <div class="col-12">
              <p class="fz-11 m-0 mb-3"></p>
              <p class="fz-11 m-0 mb-1 ml-4">1. Verificar que se incluya la información de los Responsables del personal que
                labora en la concesión y la cantidad de personas requeridas en cada nivel de la organización, asi como de la
                maquinaria y equipo para la actividad que comprende la implementación del PGMF.</p>
            </div>
          </div>
        </ng-template>
      </lineamiento-inner>
    </div>
  </div>
  <div class="row m-0 mt-4">
    <div class="col-12">
      <div class="step__btn">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button class="btn-primary2" (click)="btnGuardar()" [disabled]="disabled"> Guardar</button>
        <button class="btn-primary2" (click)="siguienteTab()">
          Siguiente
        </button>
      </div>
      <br />
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-right" key="tr"></p-toast>
