<div class="row">
  <div class="col-sm-3">
    <div *ngIf="isNombrePlantilla">
      <button class="btn btn-secondary" (click)="btnDescargarFormato()">Descargar Plantilla</button>
    </div>
    <div *ngIf="!isNombrePlantilla">
      <a
        pButton
        pRipple
        type="button"
        class="btn btn-sm btn-secondary f-w"
        [href]="urlFormatoNew"
        download
        target="_blank"
        [ngClass]="isDisbledObjFormu?'disabled-pointer':''"
      >
        Descargar Plantilla
      </a>
    </div>
  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div class="form-group">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder=""
          [(ngModel)]="file.nombreFile"
          disabled
        />
        <div class="input-group-append">
          <button
            type="button"
            id="btnCargaShapeFile"
            (click)="fileInput.click()"
            class="btn btn-sm btn-file btn-secondary"
            icon="pi pi-upload"
            pButton
            [disabled]="disabled || isDisbledObjFormu"
            title="Cargar Archivo"
          >
            <input
              #fileInput
              type="file"
              (change)="onFileChange($event)"
              style="display: none;"
              accept=".xlsx, .xls, .csv"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <button class="btn btn-sm btn-primary2" (click)="cargarFormato()" [disabled]="disabled ||isDisbledObjFormu">
      Cargar
    </button>
  </div>
</div>
