<div>
  <div>
    <div class="form-group">
      <label class="label" *ngIf="label != ''">{{ label }}</label>
      <div class="input-group">
        <input
          [disabled]="disabled"
          type="text"
          class="form-control"
          placeholder=""
          [(ngModel)]="fileInfGenreal.nombreFile"
          readonly
        />
        <div class="input-group-append">
          <button
            *ngIf="!fileInfGenreal.nombreFile"
            type="button"
            (click)="fileInput.click()"
            class="btn btn-sm btn-file btn-secondary"
            icon="pi pi-upload"
            pButton
            [disabled]="disabled"
            title="Cargar Archivo"
          >
            <input
              #fileInput
              type="file"
              (change)="onFileChange($event)"
              style="display: none"
              [attr.data-type]="fileInfGenreal.descripcion"
              accept="{{accept}}"

            />
           <!-- accept=".pdf"  accept="{{accept}}"-->
          </button>

          <button
            *ngIf="fileInfGenreal.nombreFile"
            type="button"
            class="btn btn-sm btn-file"
            icon="pi pi-upload"
            pButton
            [disabled]="!verEnviar1 || disabled"
            (click)="guardarArchivoGeneral()"
            title="Cargar Archivo"
          ></button>

          <button
            *ngIf="fileInfGenreal.nombreFile"
            type="button"
            id="btnCargarFile2"
            class="btn btn-sm btn-file"
            (click)="descargarArchivo()"
            pButton
            title="Descargar Archivo"
            icon="pi pi-download"
            [disabled]="!isLoaded"
          ></button>

          <button
            type="button"
            *ngIf="fileInfGenreal.nombreFile"
            class="btn btn-sm btn-file"
            title="Eliminar"
            icon="pi pi-trash"
            [disabled]="disabled"
            pButton
            (click)="eliminarArchivoGeneral()"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
