<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12 p-0">
      <p-accordion>
        <p-accordionTab
          header="7. Descripción de las Actividades de Aprovechamiento y Equipos a Utilizar"
          [selected]="true"
        >
          <div class="mt-0">
            <div class="col-12 p-0 text-right">
              <button
                icon="pi pi-plus" [disabled]="disabled"
                (click)="abrirModal(AccionTipo.REGISTRAR)"
                pButton
                pRipple
                type="button"
                label=""
                class="p-button-success p-button-text"
              ></button>
            </div>
            <div class="col-12 p-0" class="container-table">
              <p-table [value]="actividades">
                <ng-template pTemplate="header">
                  <tr>
                    <th scope="col" class="text-center">Acciones</th>
                    <th scope="col">Actividades</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Equipos e insumos a utilizar</th>
                    <th scope="col">Personal requerido</th>
                    <th scope="col">Observaciones</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-index="rowIndex">
                  <tr
                    class="ui-widget-header"
                    *ngIf="index == 0"
                  >
                    <td colspan="3">
                      Aprovechamiento Maderable
                    </td>
                  </tr>
                  <tr *ngIf="item.codigoTipoDetalle == 'AAEAM'">
                    <td class="text-center">
                      <span
                        class="pointer mr-1"
                        title="Editar"
                        (click)="!disabled&&abrirModal(AccionTipo.EDITAR, item, index)"
                      >
                        <i class="pi pi-pencil" aria-hidden="true"></i>
                      </span>
                      <span
                        class="pointer"
                        title="Eliminar"
                        (click)="!disabled&&
                          eliminar(
                            $event.target,
                            item?.idSistemaManejoForestalDetalle,
                            index
                          )
                        "
                      >
                        <i class="pi pi-trash" aria-hidden="true"></i>
                      </span>
                    </td>
                    <td class="text-left">{{ item.actividades }}</td>
                    <td class="text-left">{{ item.descripcionSistema }}</td>
                    <td class="text-left">{{ item.maquinariasInsumos }}</td>
                    <td class="text-left">{{ item.personalRequerido }}</td>
                    <td class="text-left">{{ item.observacion }}</td>
                  </tr>

                  <tr
                    class="ui-widget-header"
                    *ngIf="index == length"
                  >
                    <td colspan="3">
                      Aprovechamiento No Maderable
                    </td>
                  </tr>
                  <tr *ngIf="item.codigoTipoDetalle == 'AAEANM'">
                    <td class="text-center">
                      <span
                        class="pointer mr-1"
                        title="Editar"
                        (click)="!disabled&&abrirModal(AccionTipo.EDITAR, item, index)"
                      >
                        <i class="pi pi-pencil" aria-hidden="true"></i>
                      </span>
                      <span
                        class="pointer"
                        title="Eliminar"
                        (click)="!disabled&&
                          eliminar(
                            $event.target,
                            item?.idSistemaManejoForestalDetalle,
                            index
                          )
                        "
                      >
                        <i class="pi pi-trash" aria-hidden="true"></i>
                      </span>
                    </td>
                    <td class="text-left">{{ item.actividades }}</td>
                    <td class="text-left">{{ item.descripcionSistema }}</td>
                    <td class="text-left">{{ item.maquinariasInsumos }}</td>
                    <td class="text-left">{{ item.personalRequerido }}</td>
                    <td class="text-left">{{ item.observacion }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <label *ngIf="pendiente" class="lbl-info mt-3 mb-3">
              (Los cambios locales se guardarán pulsando el botón "Guardar".)
            </label>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon1"
            [base]="evaluacion_1">
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <div class="step__btn mt-4">
    <message-evaluation *ngIf="isPerfilArffs" ></message-evaluation>
    <button class="btn-primary2" (click)="regresar.emit()">Anterior</button>
    <button *ngIf="!isPerfilArffs" class="btn-primary2" [disabled]="disabled" (click)="guardar()">Guardar</button>
    <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="registrarEvaluacion()">Guardar Evaluación</button>
    <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">Retornar Flujo Evaluacion</button>
    <button class="btn-primary2" (click)="siguiente.emit()">Siguiente</button>
  </div>
  <br>
</div>
