<div *ngIf="config.data.typeModal == 1" class="row-fluid">
  <p-fieldset legend="Componente de Catastro" [toggleable]="true">

    <div class="row" style="padding: 30px;">
      <div class="col-8">
        Enviar información al componente de Catastro para actualización de base de datos
      </div>
      <div class="col-4 mt-3">
        <button (click)="enviarCatastro()" class="btn btn-sm btn-primary2">Enviar</button>
      </div>
    </div>

  </p-fieldset>
</div>

<div *ngIf="config.data.typeModal == 2" class="row-fluid">

  <div class="col-12">
    <p-fieldset legend="Archivos" [collapsed]="true" [toggleable]="true">

      <div class="tablek">
        <p-table [value]="listadoAdjuntos" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
          currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[5,10,25,50]">
          <ng-template pTemplate="header">
            <tr>
              <th>Tipo Documento</th>
              <th>Nombre Documento</th>
              <th>Descargar</th>
            </tr>

          </ng-template>
          <ng-template pTemplate="body" let-obj>
            <tr>
              <td>{{obj.tipoDocumento}}</td>
              <td>{{obj.nombreDocumento}}</td>
              <td>
                <i (click)="descargarArchivo(obj)" style="cursor: pointer;" class="pi pi-cloud-download"></i>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

    </p-fieldset>
  </div>

  <div class="col-12">
    <p-fieldset legend="Contrato" [collapsed]="true" [toggleable]="true">

      <div class="row">
        <div class="col-4">
          <label style="font-weight: bold;">ID Postulación PFDM &nbsp;</label> <br>
          <span>{{lstContrato.idProcesoPostulacion}}</span>
        </div>

        <div class="col-4">
          <label style="font-weight: bold;">Usuario Postulante &nbsp;</label><br>
          <span>{{lstContrato.nombreUsuarioPostulante}}</span>
        </div>

        <div class="col-4">
          <label style="font-weight: bold;">Código titulo H &nbsp;</label><br>
          <span>{{lstContrato.codigoTituloH}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label style="font-weight: bold;">Representante Legal &nbsp;</label>
          <br>
          <span>{{lstContrato.dniRepresentanteLegal}}</span>
          <br>
          <span>{{lstContrato.nombreRepresentanteLegal}}</span>
        </div>

        <div class="col-4">
          <label style="font-weight: bold;">Codigo Partida Registral &nbsp;</label><br>
          <span>{{lstContrato.codigoPartidaRegistral}}</span>
        </div>

        <div class="col-4">
          <label style="font-weight: bold;">ObjectIdUa &nbsp;</label><br>
          <span>{{lstContrato.objectIdUa}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label style="font-weight: bold;">Fecha Inicio Contrato &nbsp;</label><br>
          <span>{{lstContrato.fechaInicioContrato}}</span>
        </div>

        <div class="col-4">
          <label style="font-weight: bold;">Fecha Fin Contrato &nbsp;</label><br>
          <span>{{lstContrato.fechaFinContrato}}</span>
        </div>

        <div class="col-4">
          <label style="font-weight: bold;">Regente &nbsp;</label>
          <br>
          <span>{{lstContrato.nombresApellidosRegente}}</span>
          <br>
          <span>{{lstContrato.numeroDocumentoRegente}}</span>
        </div>
      </div>

    </p-fieldset>
  </div>

  <div class="col-4 mt-3">
    <button (click)="enviarSerfor()" class="btn btn-sm btn-primary2">Enviar</button>
  </div>

</div>
