<div class="row">
  <!-- <div class="col-12 text-right mt-2">
    <button
      type="button"
      class="btn btn-sm btn-default mb-2"
      title="Agregar"
      (click)="abrirModalAnio('A', null)"
    >
      <i class="pi pi-plus"></i>
    </button>
  </div> -->

  <div class="col-12 mt-4">
    <p-table [value]="pagoForm.listaCronograma" dataKey="anio" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>N°</th>
          <th>Año</th>
          <th>Fecha Inicio</th>
          <th>Fecha Fin</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-data
        let-expanded="expanded"
        let-rowIndex="rowIndex"
      >
        <tr>
          <td>{{ rowIndex + 1 }}</td>
          <td>{{ data.anio }}</td>
          <td>{{ data.fechaInicio | date: "dd/MM/yyyy" : "UTC" }}</td>
          <td>{{ data.fechaFin | date: "dd/MM/yyyy" : "UTC" }}</td>
          <td>
            <!-- <span class="pointer mr-1" (click)="abrirModalAnio('A', data)">
              <i class="pi pi-pencil"></i>
            </span> -->
            <span class="pointer" [pRowToggler]="data">
              <i
                class="{{
                  expanded ? 'pi pi-arrow-circle-up' : 'pi pi-arrow-circle-down'
                }}"
              ></i>
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-data let-rowIndex="rowIndex">
        <tr>
          <td colspan="7">
            <div class="col-12">
              <div class="row m-0 ml-4">
                <label class="label">Adjuntar Documento</label>
              </div>
              <div class="row m-0">
                <div class="col-4 m-0">
                  <buttons-file-pago-shared
                    [idPago]="form.idPago"
                    [loadFile]="true"
                    [codigoProceso]="'MECPAGODAPAG'"
                    [subCodigoArchivo]="'ANIO' + (rowIndex + 1)"
                    [codigoTipoDocumento]="'MECPAGODAVIG'"
                  >
                  </buttons-file-pago-shared>
                </div>
              </div>
            </div>
            <div class="p-3">
              <div class="col-12 m-0 p-0">
                <h4
                  class="title2 mb text-left"
                  style="border-bottom: 1px solid #ccc;"
                >
                  Fechas Límite de Pago
                </h4>
              </div>
              <div class="col-12 text-right p-0 mt-2" *ngIf="perfil == perfiles.AUTORIDAD_REGIONAL">
                <button
                  type="button"
                  class="btn btn-sm btn-default mb-2"
                  title="Agregar"
                  (click)="abrirModalPeriodo('N', data, null)"
                >
                  <i class="pi pi-plus"></i>
                </button>
              </div>

              <p-table [value]="data.listaPeriodo" dataKey="descripcion">
                <ng-template pTemplate="header">
                  <tr>
                    <th class="text-center">Acciones</th>
                    <th>N°</th>
                    <th>Periodo</th>
                    <th>Fecha Limite</th>
                    <th>Monto</th>
                    <th>Monto Final</th>
                    <th>Balance de Pago</th>
                    <th>Fecha de Comprobante</th>
                    <th>Comentarios</th>
                    <th class="text-center">Archivo</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-p let-rowIndexP="rowIndex">
                  <tr>
                    <td class="text-center">
                      <span
                        *ngIf="perfil == perfiles.AUTORIDAD_REGIONAL"
                        class="pointer mr-2"
                        title="Eliminar"
                        (click)="eliminarPeriodo($event, rowIndex, rowIndexP, p)"
                      >
                        <i class="pi pi-trash"></i>
                      </span>
                      <span
                        class="pointer ml-2"
                        (click)="editarModalPeriodo(data, p, rowIndexP)"
                      >
                        <i class="pi pi-pencil"></i>
                      </span>
                    </td>
                    <td>{{ rowIndexP + 1 }}</td>
                    <td>Periodo {{ p.descripcion }}</td>
                    <td>{{ p.fechaLimite | date: "dd/MM/yyyy" : "UTC" }}</td>
                    <td>{{ p.monto | number: "1.2-2" }}</td>
                    <td>{{ p.montoFinal | number: "1.2-2" }}</td>
                    <td>{{ p.balancePago | number: "1.2-2" }}</td>
                    <td>
                      {{ p.fechaComprobante | date: "dd/MM/yyyy" : "UTC" }}
                    </td>
                    <td>
                      {{ p.observacion }}
                    </td>
                    <td class="text-center">
                      <a
                        download
                        target="_blank"
                        (click)="descargarArchivo(data.anio, p.descripcion)"
                      >
                        <i class="pi pi-download pointer"></i>
                      </a>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="col-12" style="margin-top: 30px; margin-bottom: 30px;" *ngIf="perfil == perfiles.AUTORIDAD_REGIONAL">
    <div class="col-12 m-0 p-0">
      <h4 class="title2 mb text-left" style="border-bottom: 1px solid #ccc;">
        Nuevas Fechas Límites de Pago (Refinanciamiento).
      </h4>
    </div>
    <div class="col-12 text-right p-0 mt-2">
      <button
        type="button"
        class="btn btn-sm btn-default mb-2"
        title="Agregar"
        disabled
      >
        <i class="pi pi-plus"></i>
      </button>
    </div>

    <p-table [value]="[]" dataKey="descripcion">
      <ng-template pTemplate="header">
        <tr>
          <th>N°</th>
          <th>Periodo</th>
          <th>Fecha Limite</th>
          <th>Monto</th>
          <th>Monto Final</th>
          <th>Fecha de Comprobante</th>
          <th>Comentarios</th>
          <th>Archivo</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-p let-rowIndex="rowIndex">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td>
            <a download target="_blank"><i class="pi pi-download"></i></a>
          </td>
          <td>
            <span class="pointer mr-1">
              <i class="pi pi-pencil"></i>
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  header="{{ tituloAnioModal }}"
  appendTo="body"
  [(visible)]="verModalAnhio"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row m-0">
      <div class="col-12 form-group">
        <label class="label">Año</label>
        <div class="form-control-selectk">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cronogramaContext.anio"
          />
        </div>
      </div>
      <div class="col-12 form-group">
        <label class="label">Fecha Inicio</label>
        <div class="form-control-selectk">
          <input
            type="text"
            class="form-control"
            disabled
            value="{{ cronogramaContext.fechaInicio | date: 'dd/MM/yyyy' }}"
          />
        </div>
      </div>
      <div class="col-12 form-group">
        <label class="label">Fecha Fin</label>
        <div class="content-date">
          <input
            autocomplete="off"
            class="form-control"
            [(ngModel)]="cronogramaContext.fechaFin"
            matInput
            [matDatepicker]="fecha"
          />
          <i class="pi pi-calendar pointer" (click)="fecha.open()"></i>
          <mat-datepicker #fecha></mat-datepicker>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save" [disabled]="isPerfilArffs"
      (click)="agregarAnhio()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verModalAnhio = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="{{ tituloPeriodoModal }}"
  appendTo="body"
  [(visible)]="verModalPeriodo"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row m-0">
      <div class="col-12 form-group">
        <label class="label">Periodo</label>
        <div class="form-control-selectk">
          <input
            type="text"
            class="form-control"
            number
            [(ngModel)]="periodoContext.descripcion"
            [disabled]="perfil == perfiles.TITULARTH || perfil == perfiles.AUTORIDAD_REGIONAL_CAJA"
          />
        </div>
      </div>
      <div class="col-12 form-group">
        <label class="label">Fecha Límite</label>
        <div class="content-date">
          <input
            autocomplete="off"
            class="form-control"
            [(ngModel)]="periodoContext.fechaLimite"
            matInput
            [min]="minDate"
            readonly="true"
            [matDatepicker]="fechaLimite"
            [disabled]="perfil == perfiles.TITULARTH || perfil == perfiles.AUTORIDAD_REGIONAL_CAJA"
          />
          <i class="pi pi-calendar pointer" (click)="fechaLimite.open()"></i>
          <mat-datepicker #fechaLimite></mat-datepicker>
        </div>
      </div>
      <div class="col-12 form-group">
        <label class="label">Monto</label>
        <div class="form-control-selectk">
          <input
            type="text"
            class="form-control"
            decimal
            [decimalPlaces]="2"
            [ngModel]="periodoContext.monto | number: '1.2-2'"
            (change)="onChangeEventMonto($event)"
            [disabled]="perfil == perfiles.TITULARTH || perfil == perfiles.AUTORIDAD_REGIONAL_CAJA"
          />
        </div>
      </div>
      <div class="col-12 form-group">
        <label class="label">Monto Final</label>
        <div class="form-control-selectk">
          <input
            type="text"
            class="form-control"
            decimal
            [decimalPlaces]="2"
            [ngModel]="periodoContext.montoFinal | number: '1.2-2'"
            (change)="onChangeEventMontoFinal($event)"
            [disabled]="perfil == perfiles.TITULARTH || perfil == perfiles.AUTORIDAD_REGIONAL_CAJA"
          />
        </div>
      </div>
      <div class="col-12 form-group">
        <label class="label">Balance de Pago</label>
        <div class="form-control-selectk">
          <input
            decimal
            [decimalPlaces]="2"
            [min]="0"
            [maxLength]="15"
            class="form-control"
            [ngModel]="periodoContext.balancePago | number: '1.2-2'"
            (change)="onChangeEventMontoBalance($event)"
            [disabled]="perfil == perfiles.TITULARTH || perfil == perfiles.AUTORIDAD_REGIONAL_CAJA"
          />
        </div>
      </div>
      <div class="col-12 form-group">
        <label class="label">Fecha de Comprobante</label>
        <div class="content-date">
          <input
            autocomplete="off"
            class="form-control"
            [(ngModel)]="periodoContext.fechaComprobante"
            matInput
            [matDatepicker]="fechaComprobante"
            [min]="minDate"
            readonly="true"
          />
          <i
            class="pi pi-calendar pointer"
            (click)="fechaComprobante.open()"
          ></i>
          <mat-datepicker 
            #fechaComprobante
            [disabled]="perfil == perfiles.AUTORIDAD_REGIONAL"
          ></mat-datepicker>
        </div>
      </div>

      <div class="col-12 form-group">
        <label class="label">Comentarios (máx. caracteres 250):*</label>
        <textarea
          autocomplete="off"
          class="form-control form-control-sm"
          rows="4"
          maxlength="250"
          [(ngModel)]="periodoContext.observacion"
          pInputTextarea
          [disabled]="perfil == perfiles.AUTORIDAD_REGIONAL"
        >
        </textarea>
      </div>

      <div class="col-12 form-group">
        <buttons-file-pago-shared
          label="Adjuntar Comprobante"
          [idPago]="idPago"
          [loadFile]="true" 
          [codigoProceso]="'PAGOCOMPROA'"
          [subCodigoArchivo]="'ANIO' + indexAnio + 'P' + periodoContext.descripcion" 
          [codigoTipoDocumento]="'PAGOCOMPRO'"
          [disabled]="perfil == perfiles.AUTORIDAD_REGIONAL"
          (registrarArchivoId)="registroArchivo($event)"
          (eliminarArchivoEmit)="eliminarArchivo($event)"
        ></buttons-file-pago-shared>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarPeriodo()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>

    <button
      icon="pi pi-times"
      (click)="verModalPeriodo = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmPopup></p-confirmPopup>
