<p-accordion class="mt-2">
  <p-accordionTab
    header="Datos Generales"
    [selected]="true"
    class="{{ classValidacion }}"
  >
    <ng-template pTemplate="header">
      <label class="m-0 text-right">
        &nbsp;&nbsp;&nbsp;<i class="pi {{ iconEvaluacion }} fz-14"></i>&nbsp;{{
          labelTituloValidacion
        }}
      </label>
    </ng-template>
    <div class="">
      <div class="pt-4">
        <solicitud-permiso-forestal-general
          [dataBase]="dataBase"
          [solicitudAcceso]="solicitudAcceso"
          [edo]="edo"
          [isEdit]="isEdit"
          [observado]="observado"
        >
        </solicitud-permiso-forestal-general>
        <!--          [isPerfilArfss]="isPerfilArffs"-->
      </div>
      <div
        class="col-12 p-0"
        *ngIf="
          solicitudAcceso.codigoTipoPersona == 'TPERNATU' ||
          solicitudAcceso.codTipoPersona == 'TPERNATU'
        "
      >
        <ng-container *ngTemplateOutlet="solicitudNatural"></ng-container>
      </div>
      <div
        class="col-12 p-0"
        *ngIf="
          solicitudAcceso.codigoTipoPersona == 'TPERJURI' ||
          solicitudAcceso.codTipoPersona == 'TPERJURI'
        "
      >
        <ng-container *ngTemplateOutlet="solicitudJuridica"></ng-container>
      </div>

      <div *ngIf="usuario.sirperfil == Perfiles.MESA_DE_PARTES">
        <div
          class="my-5"
          *ngIf="
            codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_VAL_PROCEDE ||
             codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_PRESENTADO
          "
        >
          <validar-requisitos-permiso-forestal-shared
            [codigoProceso]="codigoProceso"
            [codigoTab]="codigoTab"
            [codigoAcordeon]="codigoAcordeonInfGeneralValidacion"
            [idPermisoForestal]="idPermisoForestal"
            [detalle]="'1. Información General'"
            (seleccionarValidacion)="seleccionarValidacion($event)"
          >
          </validar-requisitos-permiso-forestal-shared>
        </div>
      </div>


      <div class="row pl-4 mt-4" *ngIf="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL">
        <label class="label fz-12 font-weight-bold">Validar Condiciones</label>
      </div>

      <div
        class="row pl-3 mb-4"
        *ngIf="codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_VAL_EN_EVALUACION"
      >
        <button  class="btn btn-sm btn-primary2 " (click)="validarCondiciones()">Validar Condiciones M&iacute;nimas</button>
      </div>

      <div
        class="row pl-3 "
        *ngIf="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL"
      >
        <consultar-entidades
          [disabled]="
            codigoEstadoPermiso ==
              CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE ||
            codigoEstadoPermiso ==
              CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE
          "
          [idPermisoForestal]="idPermisoForestal"
        ></consultar-entidades>
      </div>

      <div
        class="row pl-3 mt-4"
        *ngIf="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL"
      >
        <inspeccion-ocular
          [disabled]="
            codigoEstadoPermiso ==
              CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE ||
            codigoEstadoPermiso ==
              CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE
          "
          [idPermisoForestal]="idPermisoForestal"
          [tipoEvaluacion]="CodigoPermisoForestal.TIPO_EVALUACION"
          [estadoEvaluacion]="codigoEstadoPermiso"
        ></inspeccion-ocular>
      </div>

      <div *ngIf="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL" class="mt-5">
        <div
          *ngIf="
            codigoEstadoPermiso == CodigoPermisoForestal.ESTADO_VAL_EN_EVALUACION ||
            codigoEstadoPermiso ==
              CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE ||
            codigoEstadoPermiso ==
              CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE
          "
        >
          <evaluacion-archivo-permiso-forestal-shared
            [idPermisoForestal]="idPermisoForestal"
            [codigoProceso]="codigoProceso"
            [codigoTab]="codigoTab"
            [descripcion]="'1. Información General'"
            [detalle]="'-'"
            [disabled]="
              codigoEstadoPermiso ==
                CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE ||
              codigoEstadoPermiso ==
                CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE
            "
            [codigoAcordeon]="codigoAcordeonInfGeneralEval"
          >
          </evaluacion-archivo-permiso-forestal-shared>
        </div>
      </div>

      <div
        class="row pl-3"
        *ngIf="
          usuario.sirperfil != Perfiles.AUTORIDAD_REGIONAL &&
          usuario.sirperfil != Perfiles.MESA_DE_PARTES &&
          usuario.sirperfil != Perfiles.TITULARTH
        "
      >
        <div class="col-sm-12">
          <label class="lbl-info mt-3 mb-3">
            (Debe "Guardar" para continuar.)
          </label>
        </div>
      </div>

      <div class="step__btn mt-4 mb-4">
        <button *ngIf="usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL"
          class="btn-primary2"
          [routerLink]="['/planificacion/evaluacion/otorgamiento-permiso']">
          Regresar
        </button>

        <button *ngIf="usuario.sirperfil != Perfiles.AUTORIDAD_REGIONAL"
                class="btn-primary2"
                [routerLink]="['/planificacion/bandeja-permisos-forestales']">
          Regresar
        </button>

        <button
          *ngIf="
            usuario.sirperfil != Perfiles.AUTORIDAD_REGIONAL &&
            usuario.sirperfil != Perfiles.MESA_DE_PARTES &&
            usuario.sirperfil != Perfiles.OSINFOR &&
            usuario.sirperfil != Perfiles.SERFOR
          "
          type="button"
          class="btn-primary2"
          (click)="registrarInformacionGeneral()"
        >
          {{ isEdit ? "Guardar" : "Guardar" }}
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
    </div>

    <ng-template #solicitudNatural>
      <div class="col-12 mt-4 pl-0 pr-0">
        <solicitud-permiso-forestal-natural
          [dataBase]="dataBase"
          [isEdit]="isEdit"
          [solicitudAcceso]="solicitudAcceso"
          [observado]="observado"
        >
        </solicitud-permiso-forestal-natural>
        <!--[isPerfilArffs]="isPerfilArffs"-->
      </div>
    </ng-template>

    <ng-template #solicitudJuridica>
      <div class="col-12 pt-4 pl-0 pr-0">
        <solicitud-permiso-forestal-juridica
          [dataBase]="dataBase"
          [solicitudAcceso]="solicitudAcceso"
          [isEdit]="isEdit"
          [codigoEstadoPermisoForestal]="codigoEstadoPermiso"
          [observado]="observado"
        >
        </solicitud-permiso-forestal-juridica>
        <!--[isPerfilArffs]="isPerfilArffs"-->
      </div>
      <div class="col-12 pt-4 pl-0 pr-0">
        <solicitud-permiso-forestal-natural
          [dataBase]="dataBase"
          [isEdit]="isEdit"
          [solicitudAcceso]="solicitudAcceso"
          [observado]="observado"
        >
        </solicitud-permiso-forestal-natural>
        <!--[isPerfilArffs]="isPerfilArffs"-->
      </div>
    </ng-template>
  </p-accordionTab>
</p-accordion>
