<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="1.1. Del Titular del Permiso" [selected]="true">
          <div class="p-4">
            <div class="row">
              <div class="form-group col-sm-10">
                <label class="label">Nombre de la Comunidad</label>
                <input
                  type="text"
                  class="form-control evaluacion"
                  [(ngModel)]="nombreComunidad"
                  maxlength="250"
                  [disabled]="true"
                />
              </div>
              <div class="form-group col-sm-2 text-center">
                <div><label class="label">&nbsp;</label></div>
                <button (click)="openModal()" class="btn btn-sm btn-secondary">Buscar</button>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <label class="label"
                  >Nombre del Jefe de la Comunidad o del Representante
                  Legal</label
                >
                <input
                  type="text"
                  class="form-control evaluacion"
                  [(ngModel)]="representanteLegal"
                  maxlength="250"
                  [disabled]="true"
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <label class="label">
                  Federación u Organización a la que pertenece la Comunidad
                </label>
                <input
                  type="text"
                  class="form-control evaluacion" [disabled]="disabled"
                  [(ngModel)]="resumenEjecutivoObj.federacionComunidad"
                  maxlength="50"
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="label">Nº de la Credencial</label>
                <input
                  numero
                  class="form-control evaluacion" [disabled]="disabled"
                  [(ngModel)]="resumenEjecutivoObj.descripcion"
                  [maxlength]="9"
                />
              </div>
              <div class="form-group col-sm-6">
                <label class="label">Nº de RUC</label>
                <input
                  type="text"
                  class="form-control evaluacion"
                  [(ngModel)]="resumenEjecutivoObj.nroRucComunidad"
                  maxlength="11"
                  [disabled]="true"
                />
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="1.2. Del Plan General de Manejo Forestal">
          <div class="row">
            <div class="col-12 col-sm-6">
              <label class="label">Ing. Forestal que elaboró el PGMF</label>
              <input
                type="text"
                disabled
                class="form-control"
                [(ngModel)]="nombreCompleto"
              />
            </div>
            <div class="col-12 col-sm-2 text-center">
              <div class="form-group">
                <div><label class="label">&nbsp;</label></div>
                <button
                  (click)="abrirModalRegentes()"
                  class="btn btn-sm btn-secondary button-more"
                  [disabled]="disabled || isDisabledInput"
                >
                  Buscar
                </button>
              </div>
            </div>
            <div class="row col-12 col-sm-6" style="margin-right: 15px">
              <div class="col-sm-8">
                <input-buttons
                  [disabled]="disabled||isDisabledInput"
                  [label]="'Certificado Ing. Forestal'"
                  [idPlanManejo]="idPlanManejo"
                  [idTipoDocumento]="41"
                  [codigoProceso]="'PGMFA'"
                >
                </input-buttons>
              </div>
            </div>

            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label"
                  >N° Inscripción en el Registro de Consultores de INRENA
                </label>
                <input
                  type="text"
                  class="form-control evaluacion"
                  [(ngModel)]="resumenEjecutivoObj.regente?.numeroLicencia!"
                  maxlength="50"
                  disabled
                />
              </div>
            </div>

            <div class="col-6 col-sm-6">
              <div class="form-group">
                <label class="label">Fecha de Presentación del PGMF</label>
                <div class="content-date">
                  <input
                    autocomplete="off"
                    type="text"
                    class="form-control"
                    matInput [disabled]="disabled"
                    [matDatepicker]="fpPGMF"
                    readonly="true"
                    [min]="minDate"
                    [(ngModel)]="resumenEjecutivoObj.fechaElaboracionPmfi"/>
                  <i class="pi pi-calendar pointer" (click)="!disabled&&!isDisabledInput && fpPGMF.open()"></i>
                  <mat-datepicker #fpPGMF></mat-datepicker>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-6">
              <div class="form-group">
                <label class="label">Duración del PGMF</label>
                <div class="content-date">
                  <input
                    type="number"
                    class="form-control"
                    [(ngModel)]="resumenEjecutivoObj.vigencia"
                    disabled
                  />
                </div>
              </div>
            </div>

            <div class="col-6 col-sm-6">
              <div class="form-group">
                <label class="label">Fecha de Inicio </label>
                <div class="content-date">
                  <input
                    autocomplete="off"
                    type="text"
                    class="form-control"
                    matInput
                    [matDatepicker]="fi"
                    [min]="minDate"
                    readonly="true" [disabled]="disabled"
                    [(ngModel)]="resumenEjecutivoObj.fechaInicioDema"
                    (ngModelChange)="validarFechas()"
                  />
                  <i
                    class="pi pi-calendar pointer"
                    (click)="!disabled&&!isDisabledInput && fi.open()"
                  ></i>
                  <mat-datepicker #fi></mat-datepicker>
                </div>
              </div>
            </div>

            <div class="col-6 col-sm-6">
              <div class="form-group">
                <label class="label">Fecha de Fin </label>
                <div class="content-date">
                  <input
                    autocomplete="off"
                    type="text"
                    class="form-control"
                    matInput [disabled]="disabled"
                    [matDatepicker]="ff"
                    readonly="true"
                    [min]="minDateFinal"
                    [(ngModel)]="resumenEjecutivoObj.fechaFinDema"
                    (ngModelChange)="handleAdmDateChange()"
                  />
                  <i
                    class="pi pi-calendar pointer"
                    (click)="!disabled&&!isDisabledInput && ff.open()"
                  ></i>
                  <mat-datepicker #ff></mat-datepicker>
                </div>
              </div>
            </div>

            <!-- <div class="col-12">
              <div class="form-group">
                <label class="label">Objetivos Específicos </label>
                <textarea
                  class="form-control evaluacion"
                  [(ngModel)]="resumenEjecutivoObj.observacion"
                  rows="4"
                  style="resize: none;"
                  maxlength="250"
                ></textarea>
              </div>
            </div> -->
            <div class="col-12 mt-4 mb-4">
              <div>
                <label class="label"
                  >Potencial maderable <br />
                  (item 6.1 - A Potencial de Producción del Recurso Forestal )
                </label>
              </div>
              <br>
              <div>
                <label class="label"
                  >Objetivos especificos <br />
                  (item 2. Objetivos del Manejo)
                </label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label class="label">Potencial Maderable (m3 totales)</label>
                <input
                  decimal
                  class="form-control evaluacion"
                  [min]="0"
                  [maxLength]="12" [disabled]="disabled"
                  [decimalPlaces]="2"
                  [(ngModel)]="resumenEjecutivoObj.volumenM3rMaderables"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Departamento</label>
                <div *ngIf="!edit" class="form-control-selectk">
                  <p-dropdown
                    [options]="listDepartamento"
                    [(ngModel)]="departamento.idDepartamento"
                    optionLabel="nombreDepartamento"
                    optionValue="idDepartamento"
                    (onChange)="onSelectedProvincia($event)"
                    placeholder="Seleccione"
                    [disabled]="disabled||defaultValues"
                  ></p-dropdown>
                </div>
                <div *ngIf="edit" class="form-control-selectk">
                  <input
                    type="text"
                    [disabled]="disabled||isDisabledInput"
                    class="form-control"
                    [(ngModel)]="departamento1"
                  />
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Provincia</label>
                <div *ngIf="!edit" class="form-control-selectk">
                  <p-dropdown
                    [options]="listProvincia"
                    [(ngModel)]="provincia.idProvincia"
                    optionLabel="nombreProvincia"
                    optionValue="idProvincia"
                    (onChange)="onSelectedDistrito($event)"
                    placeholder="Seleccione"
                    [disabled]="disabled||defaultValues"
                  ></p-dropdown>
                </div>
                <div *ngIf="edit" class="form-control-selectk">
                  <input
                    type="text"
                    [disabled]="disabled||isDisabledInput"
                    class="form-control"
                    [(ngModel)]="provincia1"
                  />
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Distrito</label>
                <div *ngIf="!edit" class="form-control-selectk">
                  <p-dropdown
                    [options]="listDistrito"
                    [(ngModel)]="distrito.idDistrito"
                    optionLabel="nombreDistrito"
                    optionValue="idDistrito"
                    placeholder="Seleccione"
                    (onChange)="Distrito($event)"
                    [disabled]="disabled||defaultValues"
                  ></p-dropdown>
                </div>
                <div *ngIf="edit" class="form-control-selectk">
                  <input
                    type="text"
                    [disabled]="disabled||isDisabledInput"
                    class="evaluacion form-control"
                    [(ngModel)]="distrito1"
                  />
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label class="label">Nº de Sectores o Anexos</label>
                <input
                  numero [disabled]="disabled"
                  class="form-control evaluacion"
                  [(ngModel)]="resumenEjecutivoObj.nroAnexosComunidad"
                  maxlength="2"
                />
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label">Superficie de la Comunidad (ha)</label>
                <input
                  decimal
                  class="form-control evaluacion"
                  [(ngModel)]="resumenEjecutivoObj.areaTotal"
                  [min]="0"
                  [maxLength]="12"
                  [decimalPlaces]="2"
                  [disabled]="true"
                />
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label">Área de Manejo Forestal (ha)</label>
                <input
                  decimal
                  class="form-control evaluacion"
                  [(ngModel)]="resumenEjecutivoObj.superficieHaMaderables"
                  [min]="0" [disabled]="disabled"
                  [maxLength]="12"
                  [decimalPlaces]="2"
                />
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeonResuEjeDelPlan"
            [base]="evaluacionResuEjeDelPlan"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
        <div class="step__btn mt-4" *ngIf="!isPerfilArffs">
          <button class="btn-primary2"  [routerLink]="['/planificacion/bandeja-pgmfa']">Anterior</button>
          <button
            *ngIf="!edit"
            type="submit"
            class="btn-primary2"
            (click)="registrarResumenEjecutivo()"
            [disabled]="disabled"
          >
            Guardar
          </button>
          <button
            *ngIf="edit"
            type="submit"
            class="btn-primary2"
            (click)="editarResumenEjecutivo()"
            [disabled]="disabled"
          >
            Guardar
          </button>
          <button class="btn-primary2" (click)="siguienteTab()">
            Siguiente
          </button>
        </div>

        <div class="step__btn mt-4" *ngIf="isPerfilArffs">
          <message-evaluation></message-evaluation>
          <button class="btn-primary2"  [routerLink]="['/planificacion/evaluacion/plan-general-manejo']">Anterior</button>
          <button class="btn-primary2" (click)="registrarEvaluacion()">
            Guardar Evaluación
          </button>
          <button class="btn-primary2" (click)="retornarFlujoEvaluacion()">
            Retornar Flujo Evaluacion
          </button>
          <button class="btn-primary2" (click)="siguienteTab()">
            Siguiente
          </button>
        </div>
        <br />
      </p-accordion>
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-confirmPopup></p-confirmPopup>

<p-dialog
  appendTo="body"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{width: '40vw'}"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <p-header>
    <div class="d-flex justify-content-start">
      <span>
        <i class="pi pi-exclamation-triangle color"></i>
      </span>
    </div>
  </p-header>
  <div class="pl-4">
    <span>
      Se autocompletará con información de la solicitud de permiso forestal seleccionada.
    </span>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="closeModal()"
      label="Aceptar"
      class="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Buscar Regente"
  appendTo="body"
  [(visible)]="verModalRegente"
  [modal]="true"
  [style]="{ width: '60vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row m-0">
      <div class="col-12 col-sm-9">
        <div class="form-group">
          <label class="label">Buscar por DNI</label>
          <div class="form-control-selectk">
            <input
              type="text"
              class="form-control"
              placeholder="Ingresa N° DNI"
              [(ngModel)]="queryRegente"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="form-group">
          <label class="label">&nbsp;&nbsp;</label>
          <div class="text-center">
            <button
              type="button"
              class="btn-primary2"
              (click)="filtrarRegente()"
            >
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12">
        <p-table [value]="regentes">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 50px"></th>
              <th>Regente</th>
              <th>DNI</th>
              <th>Estado</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>
                <p-radioButton
                  name="regente"
                  [(ngModel)]="selectRegente"
                  [value]="data"
                >
                </p-radioButton>
              </td>
              <td>{{ data.nombres }} {{ data.apellidos }}</td>
              <td>{{ data.numeroDocumento }}</td>
              <th>{{ data.estado == "V" ? "Vigente" : "No Vigente" }}</th>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="guardarRegente()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verModalRegente = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
