<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 pt-3">
      <h3 class="title">BANDEJA PLANES OPERATIVOS</h3>
    </div>
    <div class="col-12">
      <p-fieldset legend="Filtros" [toggleable]="true" [collapsed]="false">
        <div class="row m-0">
          <div class="col-12 col-sm-3">
            <div class="form-group">
              <label class="label">Estado plan</label>
              <div class="form-control-selectk">
                <p-dropdown [options]="lstEstado" [(ngModel)]="solicitudAcceso.estadoSolicitud" optionLabel="valor1"
                  optionValue="codigo" placeholder="Seleccione"></p-dropdown>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-3">
            <div class="form-group">
              <label class="label">Contrato/TH</label>
              <input type="text" autocomplete="off" [(ngModel)]="solicitudAcceso.numeroDocumento"
                class="form-control" />
            </div>
          </div>
          <div class="col-12 col-sm-3">
            <div class="form-group">
              <label class="label">Número Plan General</label>
              <input type="text" autocomplete="off" [(ngModel)]="solicitudAcceso.nombres" class="form-control" />
            </div>
          </div>

        </div>
        <div class="row m-0 mb-2 justify-content-center">
          <div class="col-12 col-sm-4 text-center">
            <button pButton pRipple type="button" label="Limpiar" class="p-button-secondary p-button-outlined mr-1"
              (click)="limpiar()"></button>
            <button pButton pRipple type="button" label="Buscar" class="p-button-success p-button-outlined ml-1"
              (click)="listarPlanOperativo()"></button>
            <button pButton pRipple type="button" label="Nuevo" class="p-button-success p-button-outlined ml-1"
              (click)="modalPlanOperativo(1)"></button>

          </div>
        </div>
      </p-fieldset>
    </div>
    <div class="col-12 mt-4 mb-3">
      <div>
        <p-table [value]="lstSolicituAcceso" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
          currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
          <ng-template pTemplate="header">
            <tr>
              <th>Acciones</th>
              <th>Nro. Plan</th>
              <th>Contrato/TH</th>
              <th>Nro. Plan General</th>
              <th>Nro. Parcelas</th>
              <th>Nro. Años</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <tr>
              <td class="text-center">
                <i (click)="editarPlanOperativo(data)" class="pi pi-eye pointer mr-2" title="Editar"></i>
                <i (click)="eliminarPlanOperativo($event, data)" class="pi pi-trash pointer mr-2" title="Eliminar"></i>
              </td>
              <td>{{data.idSolicitudAcceso}}</td>
              <td>{{data.tipoPersona}}</td>
              <td>{{data.razonSocialEmpresa}}</td>
              <td>{{data.tipoActor}}</td>
              <td>{{data.tipoCncc}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <!-- <p-paginator [rows]="5" [totalRecords]="23" [rowsPerPageOptions]="[5,10,25,50,100]"></p-paginator> -->
    </div>
  </div>
</div>

<p-toast position="top-left" key="tl"></p-toast>
