<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="title">Resultado de la Evaluacion de la solicitud de otorgamiento del permiso</h3>
      </div>
      <div class="col-sm-12">     
        <div class="table">
          <p-table [value]="items" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
              <tr>
                <th>ID Solicitud</th>
                <th>Codigo Unico Solicitudes</th>
                <th>Resultado Evaluacion</th>              
                <th>Acceso a Solicitud</th>
              </tr>
  
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{item.idSolicitud}}</td>
                <td>{{item.codUnicoSol}}</td>  
                <td>                  

                  <p-tag value=" {{item.resultadoEvaluacion}}"
                       severity="{{item.resultadoEvaluacion==EstadoTipo.FAVORABLE?'success':'danger'}}"
                       [rounded]="true">
                </p-tag>
                </td>           
                
                <td>
                  <a class="mr-3" style="cursor: pointer;" (click)="detalle(item)"
                    > <i class="pi pi-eye"></i> </a>                  
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
  
      </div>
  
    </div>
  </div>