<div class="row m-0 mt-3">
  <div class="col-12 pt-2 text-right">
    <button
      icon="pi pi-plus"
      (click)="abrirModalCuerposAgua('C', 0)"
      pButton
      pRipple
      type="button"
      abel=""
      class="p-button-success p-button-text button-more"
      [disabled]="disabled"
    ></button>
  </div>
</div>
<div class="row m-0">
  <div class="col-12 pt-2">
    <table class="table table-boderk">
      <thead>
        <tr>
          <th>Acciones</th>
          <th>Rios (principales y secundarios)</th>
          <th>Quebradas</th>
          <th>Lagunas (cochas)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of lstAspectoFisicoHidrografia; let i = index">
          <td>
            <span
              (click)="abrirModalCuerposAgua('E', i, data)"
              class="pointer mr-3"
              title="Editar"
            >
              <i class="pi pi-pencil"></i>
            </span>
            <span
              class="ml-2"
              (click)="openEliminarCuerposAgua($event, 'PMFRIO', i, data)"
              class="pointer"
              title="Eliminar"
            >
              <i class="pi pi-trash"></i>
            </span>
          </td>
          <td>{{ data.nombreRio }}</td>
          <td>{{ data.nombreQuebrada }}</td>
          <td>{{ data.nombreLaguna }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row m-0 mt-3">
  <div class="col-12 pt-2 text-right">
    <button
      type="submit"
      class="btn btn-sm btn-secondary ml-4 button-more"
      (click)="registrarAspectosFisicos()"
      type="button"
      [disabled]="disabled"
    >
      Guardar
    </button>
  </div>
</div>

<p-dialog
  header="{{ tituloModalCuerposAgua }}"
  appendTo="body"
  [(visible)]="verModalCuerposAgua"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label class="label">Rios (principales y secundarios)</label>
          <div class="form-control-selectk">
            <p-dropdown
              appendTo="body"
              [(ngModel)]="cuerposAgua.idRios"
              [options]="cmbRios"
              optionLabel="descripcion"
              optionValue="idHidrografia"
              placeholder="Seleccionar"
            ></p-dropdown>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="label">Quebradas</label>
          <input
            [(ngModel)]="cuerposAgua.nombreQuebrada"
            type="text"
            class="form-control"
            placeholder="Ingresa dato"
            maxlength="50"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="label">Lagunas (cochas)</label>
          <input
            [(ngModel)]="cuerposAgua.nombreLaguna"
            type="text"
            class="form-control"
            placeholder="Ingresa dato"
            maxlength="50"
          />
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="registrar2()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verModalCuerposAgua = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
