<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="Formulario" [selected]="true">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12">
                <p-table [value]="listProcesos">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Item</th>
                      <th>Estado</th>
                      <th class="text-center">Conformidad</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data>
                    <tr>
                      <td class="text-left">{{ data.label }}</td>
                      <td
                        [ngClass]="{
                          class1: data.estado == 'Pendiente',
                          class2: data.estado == 'Terminado'
                        }"
                      >
                        {{ data.estado }}
                      </td>
                      <td class="text-center">
                        <p-checkbox
                          [(ngModel)]="data.marcar"
                          [binary]="true"
                          (onChange)="seleccionarFirma($event, data)"
                        ></p-checkbox>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
            <div class="step__btn mt-4">
              <button
                class="btn-primary2"
                (click)="guardarEstados()"
                [disabled]="disabled ||
                  (isSubmittingFormulario$ | async) ||
                  (isLoadingFormulario$ | async)"
              >
                Guardar
              </button>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Generar" [selected]="false">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-10">
                <div>
                  <label class="label fz-11 m-0"
                    >Generar Formato Compilado - PMFIC</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-2">
                <button
                  class="btn btn-sm btn-secondary f-w"
                  type="button"
                  (click)="generarPMFIC()"
                  [disabled]="disabled || verPMFIC"
                >
                  <!-- [disabled]="verPMFIC || (isSubmittingGenerar$|async) ||  (isLoadingGenerar$|async)"-->
                  Generar PMFIC
                </button>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Descargar" [selected]="false">
          <div class="col-12 p-0 mb-2">
            <div class="row m-0">
              <div class="col-12 col-sm-10">
                <div>
                  <label class="label fz-11 m-0">Descargar PMFIC</label>
                </div>
              </div>
              <div class="col-12 col-sm-2">
                <button
                  class="btn btn-sm btn-secondary f-w"
                  type="button"
                  (click)="descargarPMFIC()"
                  
                >
                  Descargar
                </button>
              </div>
            </div>
          </div>
          <!-- <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-10">
                <div>
                  <label class="label fz-11 m-0">Descargar Anexos</label>
                </div>
              </div>
              <div class="col-12 col-sm-2">
                <button
                  class="btn btn-sm btn-secondary f-w"
                  type="button"
                  (click)="descargarPMFIC()"
                  [disabled]="verDescargaAnexoPMFIC"
                >
                  Descargar
                </button>
              </div>
            </div>
          </div> -->
        </p-accordionTab>

        <p-accordionTab header="Track" [selected]="false">
          <app-map-custom
            [idPlanManejo]="idPlanManejo"
            [codigoProceso]="'PMFIC'"
            [disabled]="disabled"
            [codigoSubSeccion]="'PMFICREAT'"
            [tipoGeometria]="'Otros'"
            [isAnexo]="false"
            [printPDF]="false"
          ></app-map-custom>
        </p-accordionTab>

        <p-accordionTab header="Adjuntar" [selected]="false">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-8">
                <div>
                  <label class="label fz-11 m-0">Adjuntar PMFIC firmado </label>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <input-buttons-codigo
                  [label]="''"
                  [idPlanManejo]="idPlanManejo"
                  [idTipoDocumento]="'PMFICF'"
                  [disabled]="disabled"
                  [codigoProceso]="CodigoProceso.PLAN_MANEJO_FORESTAL_INTERMEDIO"
                  (registrarArchivoId)="registrarArchivoIdPF($event)"
                >
                </input-buttons-codigo>
              </div>
            </div>
          </div>
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-8">
                <div>
                  <label class="label fz-11 m-0"
                    >Adjuntar Plan de Contingencia (opcional)</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <input-buttons-codigo
                  [label]="''"
                  [idPlanManejo]="idPlanManejo"
                  [idTipoDocumento]="'PMFICDOCCONTIN'"
                  [disabled]="disabled"
                  [codigoProceso]="CodigoProceso.PLAN_MANEJO_FORESTAL_INTERMEDIO"
                  (registrarArchivoId)="registrarArchivoId($event)"
                >
                </input-buttons-codigo>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Adjuntar requisitos TUPA" [selected]="false">
          <tab-requisitos-tupa
            [idPlanManejo]="idPlanManejo"
            [tipo]="'TUPA'"
            (longitudTUPA)="longitudTUPA=$event"
            [idTipoDocumento]="'PMFICTUPA'"
            [codigoProceso]="'PMFIC'"
            [disabled]="disabledCodigoEstadoPlanPresentado"
            [idTipoDocumentoFirma]="'PFMICFRTU'"
          ></tab-requisitos-tupa>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4 mb-4">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button
          class="btn-primary2"
          (click)="guardarPlanFormulado()"
          type="button"
           [disabled]="disablePlanFormulado ||  (isSubmittingPlanFormulado$ | async) || disabledCodigoEstadoPlanBorrador"
        >
          Guardar Plan Formulado
        </button>
        <button
          type="button"
          class="btn-primary2"
          (click)="enviar()"
          [disabled]="(isSubmittingARFFS$ | async) ||   disabledCodigoEstadoPlanPresentado || longitudTUPA <= 0"
        >
          Enviar a ARFFS
        </button>
      </div>
    </div>
  </div>
</div>

<p-toast position="top-right" key="tl"></p-toast>
