<div class="p-d-flex p-ai-center p-jc-between">
  <button
    class="btn btn-secondary mb-3"
    (click)="getData()"
    [disabled]="disabled"
  >
    Actualizar
  </button>
</div>
<p-table
  [value]="factores"
  styleClass="p-datatable-gridlines"
  class="no-desbor-table"
>
  <ng-template pTemplate="header">
    <tr>
      <th rowspan="3">
        <div class="display-col">
          <div class="mb-4">Factores Ambientales</div>
          <div class="display-row-center">
            <i
              (click)="modalFactorAmbiental()"
              class="pi pi-plus pointer icon"
              aria-hidden="true"
              [ngClass]="disabled?'disabled-pointer':''"
            ></i>
          </div>
        </div>
      </th>

      <th rowspan="3">Caracterización de Impactos</th>

      <th [attr.colspan]="sizeColActivities">Actividades</th>

      <th rowspan="3" colspan="4">Medidas de mitigacion</th>
    </tr>
    <tr>
      <th [attr.colspan]="preAprovechamiento.length">
        <div class="display-row">
          <label class="mr-3">Pre aprovechamiento</label>
          <i
            (click)="modalAprovechamiento('Nueva Actividad Pre Aprovechamiento', preAprovechamiento, 'Pre Aprovechamiento')"
            class="pi pi-plus pointer icon"
            aria-hidden="true"
            [ngClass]="disabled?'disabled-pointer':''"
          ></i>
        </div>
      </th>

      <th [attr.colspan]="aprovechamiento.length">
        <div class="display-row">
          <label class="mr-3"> Aprovechamiento </label>
          <i
            (click)="modalAprovechamiento('Nueva Actividad Aprovechamiento', aprovechamiento, 'Aprovechamiento')"
            class="pi pi-plus pointer icon"
            aria-hidden="true"
            [ngClass]="disabled?'disabled-pointer':''"
          ></i>
        </div>
      </th>

      <th [attr.colspan]="postAprovechamiento.length">
        <div class="display-row">
          <label class="mr-3">PostAprovechamiento</label>
          <i
            (click)="modalAprovechamiento('Nueva Actividad Pro Aprovechamiento', postAprovechamiento, 'Post Aprovechamiento')"
            class="pi pi-plus pointer icon"
            aria-hidden="true"
            [ngClass]="disabled?'disabled-pointer':''"
          ></i>
        </div>
      </th>
    </tr>

    <tr>
      <ng-container *ngIf="preAprovechamiento.length>0; else elseTemplate">
        <th *ngFor="let item of preAprovechamiento; let i=index;">
          <span
          [ngClass]="disabled?'disabled-pointer':''"
          (click)="eliminarpre($event, item, 1, i)"
          class="pointer mr-1"
          title="Eliminar">
           <i class="pi pi-trash"></i>
           </span>
           <br>
           {{item. nombreAprovechamiento}}
        </th>
      </ng-container>
      <ng-template #elseTemplate>
        <th></th>
      </ng-template>

      <ng-container *ngIf="aprovechamiento.length>0; else elseTemplate">
        <th *ngFor="let item of aprovechamiento; let i=index;">
          <span
          [ngClass]="disabled?'disabled-pointer':''"
          (click)="eliminarpre($event, item, 2, i)"
          class="pointer mr-1"
          title="Eliminar">
           <i class="pi pi-trash"></i>
           </span>
           <br>
          {{item. nombreAprovechamiento}}
        </th>
      </ng-container>
      <ng-template #elseTemplate>
        <th></th>
      </ng-template>

      <ng-container *ngIf="postAprovechamiento.length>0; else elseTemplate">
        <th *ngFor="let item of postAprovechamiento; let i=index;">
          <span
          [ngClass]="disabled?'disabled-pointer':''"
          (click)="eliminarpre($event, item, 3, i)"
          class="pointer mr-1"
          title="Eliminar">
           <i class="pi pi-trash"></i>
           </span>
           <br>
          {{item. nombreAprovechamiento}}
        </th>
      </ng-container>
      <ng-template #elseTemplate>
        <th></th>
      </ng-template>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-factor let-index="rowIndex">
    <tr [ngClass]="{'tr-no-bb':(index+1)%3!=0, 'tr-no-bt': (index)%3!=0}">
      <td [ngClass]="{'tr-no-bb':(index+1)%3!=0, 'tr-no-bt': (index)%3!=0}">
        {{ ((index%3)-1)==0 ?factor.nombreActividad:''}}<br />
      </td>

      <td>{{factor.medidasControl}}</td>

      <ng-container
        *ngIf="factor?.preAprovechamiento.length>0; else elseTemplate"
      >
        <td *ngFor="let item of factor.preAprovechamiento">
          <p-checkbox
            [(ngModel)]="item.valorEvaluacion"
            [binary]="true"
            [disabled]="disabled"
          ></p-checkbox>
        </td>
      </ng-container>
      <ng-template #elseTemplate>
        <td></td>
      </ng-template>

      <ng-container
        *ngIf="factor?.aprovechamiento?.length>0; else elseTemplate"
      >
        <td *ngFor="let item of factor?.aprovechamiento">
          <p-checkbox
            [(ngModel)]="item.valorEvaluacion"
            [binary]="true"
            [disabled]="disabled"
          ></p-checkbox>
        </td>
      </ng-container>
      <ng-template #elseTemplate>
        <td></td>
      </ng-template>

      <ng-container
        *ngIf="factor?.postAprovechamiento?.length>0; else elseTemplate"
      >
        <td *ngFor="let item of factor?.postAprovechamiento">
          <p-checkbox
            [(ngModel)]="item.valorEvaluacion"
            [binary]="true"
            [disabled]="disabled"
          ></p-checkbox>
        </td>
      </ng-container>
      <ng-template #elseTemplate>
        <td></td>
      </ng-template>

      <td class="padding-8">
        <textarea
          class="form-control td-txt-area"
          cols="15"
          rows="2"
          [(ngModel)]="factor.medidasMonitoreo"
          [disabled]="disabled"
          maxlength="100"
        ></textarea>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      <button
        class="btn btn-secondary mb-3"
        (click)="guardar()"
        [disabled]="disabled"
      >
        Guardar
      </button>
    </div>
  </ng-template>
</p-table>

<p-toast></p-toast>
