<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 pt-3">
      <h3 class="title">Bandeja de Entrada PMFI</h3>
    </div>
  </div>
  <form class="col-12" [formGroup]="f">
    <p-fieldset legend="PMFI" [collapsed]="false" [toggleable]="true">
      <div class="row m-0">
        <div class="col-12 col-sm-4">
          <div class="form-group">
            <label class="label">DNI o RUC del Titular </label>
            <input
              maxlength="50"
              type="number"
              autocomplete="off"
              class="form-control"
              placeholder="Ingrese Nro. DNI o RUC"
              formControlName="dniElaborador"
            />
          </div>
        </div>
        <div class="col-12 col-sm-4">
          <div class="form-group">
            <label class="label">Nombre del Titular</label>
            <input
              type="text"
              autocomplete="off"
              class="form-control"
              placeholder="Ingrese Nombre del Titular"
              formControlName="nombreElaborador"
            />
          </div>
        </div>
        <div class="col-12 col-sm-4">
          <div class="form-group">
            <label class="label">N° PMFI</label>
            <input
              type="number"
              autocomplete="off"
              class="form-control"
              placeholder="Ingrese Nro. PMFI"
              formControlName="idPlanManejo"
            />
          </div>
        </div>
      </div>
      <div class="row m-0 mb-2 justify-content-center">
        <div class="col-12 my-2 form-group text-center">
          <button
            class="btn btn-sm btn-secondary mr-2"
            style="width: 79px"
            (click)="limpiar()"
          >Limpiar</button>
          <button
            class="btn btn-sm btn-secondary mr-2"
            style="width: 79px"
            (click)="buscar()"
          >Buscar</button>
          <button
            class="btn btn-sm btn-secondary"
            style="width: 79px"
            (click)="nuevoPlan()"
          >Nuevo</button>
        </div>
      </div>
    </p-fieldset>
  </form>
  <div class="col-12 mt-4 mb-3">
    <div>
      <p-table
        [value]="planes"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros"
        [rowsPerPageOptions]="[10, 25, 50]"
        [lazy]="true"
        [loading]="loading"
        (onLazyLoad)="load($event)"
        [totalRecords]="totalRecords" [first]="first"
      >
        <ng-template pTemplate="header">
          <tr>
            <th scope="row" style="min-width: 50px;">N°</th>
            <th scope="row" style="min-width: 80px;">N° PMFI</th>
            <th scope="row" style="min-width: 100px;">DNI o RUC</th>
            <th scope="row" style="min-width: 250px;">Nombre del Titular</th>
            <th scope="row" style="min-width: 270px;">Título Habilitante</th>
            <th scope="row" style="min-width: 100px;">Estado</th>
            <th scope="row" style="min-width: 145px;">Fecha de Registro</th>
            <th class="text-center" *ngIf="usuario.sirperfil == Perfiles.TITULARTH">Impugnación</th>
            <th scope="row" style="min-width: 70px;" class="text-center">Ver Plan</th>
            <th scope="row" style="min-width: 70px" class="text-center" *ngIf="usuario.sirperfil===Perfiles.TITULARTH">Resultados Obs</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex+1">
          <tr>
            <td>{{ rowIndex }}</td>
            <td>{{ item?.idPlanManejo }}</td>
            <td>{{ item?.infoGeneral.dniElaborador }}</td>
            <td>{{ item?.infoGeneral.nombreElaborador }}</td>
            <td>
              <div *ngIf="item.codigoUnico" class="fila-content">
                <div>
                  <b>TH: </b>
                  <label class="codigoUnico mr-2">{{ item.codigoUnico }}</label>
                </div>
              </div>
            </td>
            <td>
              <span *ngIf="item?.codEstado != CodigoEstadoEvaluacion.FINALIZADO; else temfinalizado">

                <text-color-estado [codEstado]="item?.codEstado" [codigoEstado]="item?.codigoEstado"> </text-color-estado>
                
              </span>
              <ng-template #temfinalizado>
	              <span class="font-weight-bold color-green">{{ item?.codigoEstado }}</span>
              </ng-template>
            </td>
            <td>{{ item?.fechaRegistro | date: "dd/MM/yyyy h:mm:ss a" : "UTC" }}</td>
            <td class="text-center" *ngIf="usuario.sirperfil == Perfiles.TITULARTH">
              <solicitud-san-shared [idPlanManejo]="item?.idPlanManejo" [estadoPlanManejo]="item.codEstado" (registroImpugnacionEmiter)="registroImpugnacionEmiter($event)"
                                    [codigoPlan]="'PMFI'" [disabled]="false"></solicitud-san-shared>
            </td>
            <td class="text-center">
              <i
                class="pi pi-eye pointer"
                title="Revision"
                aria-hidden="true"
                (click)="verPlan(item?.idPlanManejo)"
              >
              </i>
            </td>
            <td class="text-center" *ngIf="usuario.sirperfil===Perfiles.TITULARTH">
              <i class="pi pi-list pointer"
                title="Revision"
                aria-hidden="true"
                (click)="verDetalle(item)"
              >
              </i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-toast></p-toast>
