@import url('../../../styles/color-estado.scss');

.nro-dema {
  color    : #4CAF50;
  font-size: 1.2em
}


.color-green {
  color    : #4caf50;
  font-size: 1.2em;
}


.columna-content {
  display        : flex;
  flex-direction : column;
  justify-content: center;
}

.fila-content {
  display        : inline-flex;
  flex-direction : row;
  justify-content: center;
}

.codigoUnico {
  color      : #4a962c;
  font-weight: bold;
}

.color_pmfi {
  color      : #318ce7;
  font-weight: bold;
}

.color_dema {
  color      : #4caf50;
  font-weight: bold;
}

.color_pmfic {
  color      : #1a3f1b;
  font-weight: bold;
}

.columna-content {
  display        : flex;
  flex-direction : column;
  justify-content: center;
}

.fila-content {
  display        : inline-flex;
  flex-direction : row;
  justify-content: center;
}

.codigoUnico {
  color      : #4A962C;
  font-weight: bold;
}

