<div class="container-fluid">
  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <h3 class="title">
        Ep3.1.3: Formulación PMFI en Concesión para PFDM &nbsp; &nbsp;<span
          class="nro-dema"
          >N° {{ idPlanManejo }}</span
        >
      </h3>
    </div>
  </div>
  <p-confirmPopup></p-confirmPopup>
  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <mat-tab-group
        animationDuration="0ms"
        [selectedIndex]="tabIndex"
        (selectedIndexChange)="informChange($event)"
      >
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">1. Información</span>
            <span class="tab-text">General</span>
          </ng-template>
          <ng-template matTabContent>
            <app-pmfi-informacion-general
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              [disabled]="disabled"
            ></app-pmfi-informacion-general>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">2. Objetivos </span>
          </ng-template>
          <ng-template matTabContent>
            <app-pmfi-objetivos
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              [disabled]="disabled"
              (regresar)="regresarTab()"
            ></app-pmfi-objetivos>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">3. Información </span>
            <span class="tab-text">del Área</span>
          </ng-template>
          <ng-template matTabContent>
            <app-pmfi-informacion-area
              [idPlanManejo]="idPlanManejo"
              [disabled]="disabled"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            ></app-pmfi-informacion-area>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="tab-text"> 4. Ordenamiento</span>
            <span class="tab-text">Interno</span>
          </ng-template>
          <ng-template matTabContent>
            <app-pmfi-ordenamiento-interno
              [disabled]="disabled"
              [isPerfilArffs]="isPerfilArffs"
              [idPlanManejo]="idPlanManejo"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            ></app-pmfi-ordenamiento-interno>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">5. Información de Especies</span>
            <span class="tab-text">Recursos y Servicios</span>
          </ng-template>
          <ng-template matTabContent>
            <app-pmfi-especies-recursos
              [idPlanManejo]="idPlanManejo"
              [disabled]="disabled"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            ></app-pmfi-especies-recursos>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center"
              >6. Sistema de Manejo, Aprovechamiento y</span
            >
            <span class="tab-text">Labores Silviculturales</span>
          </ng-template>
          <ng-template matTabContent>
            <app-pmfi-manejo-aprovechamiento
              [disabled]="disabled"
              [idPlanManejo]="idPlanManejo"
              (siguiente)="siguienteTab()"
              [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
            >
            </app-pmfi-manejo-aprovechamiento>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center"
              >7. Información de las Medidas de Protección</span
            >
            <span class="tab-text">de la Unidad de Manejo Forestal</span>
          </ng-template>
          <ng-template matTabContent>
            <app-pmfi-medida-proteccion-inpacto-ambiental
              [disabled]="disabled"
              [idPlanManejo]="idPlanManejo"
              (siguiente)="siguienteTab()"
              [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
            >
            </app-pmfi-medida-proteccion-inpacto-ambiental>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center"
              >8. Identificación de Impactos Ambientales Negativos</span
            >
            <span class="tab-text"
              >y Establecimiento de Medidas de Prevención y Mitigación</span
            >
          </ng-template>
          <ng-template matTabContent>
            <app-pmfi-impacto-ambiental-negativo
              [idPlanManejo]="idPlanManejo"
              [disabled]="disabled"
              (siguiente)="siguienteTab()"
              [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
            >
            </app-pmfi-impacto-ambiental-negativo>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">9. Cronograma de</span>
            <span class="tab-text">Actividades</span>
          </ng-template>
          <ng-template matTabContent>
            <app-pmfi-cronograma
              [idPlanManejo]="idPlanManejo"
              [disabled]="disabled"
              (siguiente)="siguienteTab()"
              [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
            ></app-pmfi-cronograma>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">10. Anexos</span>
          </ng-template>
          <ng-template matTabContent>
            <app-pmfi-anexos
              [idPlanManejo]="idPlanManejo"
              (siguiente)="siguienteTab()"
              [disabled]="disabled"
              (regresar)="regresarTab()"
              [isPerfilArffs]="isPerfilArffs"
            ></app-pmfi-anexos>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">11. Carga y Envio</span>
            <span class="tab-text">de Documentación</span>
          </ng-template>
          <ng-template matTabContent>
            <app-pmfi-resumen
              [idPlanManejo]="idPlanManejo"
              (regresar)="regresarTab()"
              [disabled]="disabled"
            ></app-pmfi-resumen>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
