<div class="mt-3">
  <p-accordion>
    <p-accordionTab header="12.1. Flujo de Caja" [selected]="true">
      <div class="col-12">
        <div class="col-2 col-sm-12 text-right" *ngIf="vigenciaIncial > 0">
          <button
            (click)="agregarIngreso()" [disabled]="disabled"
            class="btn btn-sm btn-default button-more mb-2"
            type="button"
            title="Agregar"
          >
            <i class="pi pi-plus"></i>
          </button>
        </div>

        <p-confirmPopup></p-confirmPopup>

        <b>I. Ingresos</b>
        <p-table
          class="table-justify"
          [columns]="colsMesN"
          [value]="ingresoN"
          [scrollable]="true"
          [style]="{width:'100%'}"
        >
          <ng-template
            pTemplate="header"
            let-columns
          >
            <tr>
              <th rowspan="2" style="min-width: 80px; text-align: center;">Acciones</th>
              <th rowspan="2" style="min-width: 240px; text-align: center;">Rubro</th>
              <th colspan="12" style="min-width: 120px; text-align: center;"
                *ngFor="let anio of colsAnioN">
                {{ anio.header }}
              </th>
            </tr>
            <tr>
              <th *ngFor="let col of columns" style="min-width: 120px; text-align: center;">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-rowData
            let-columns="columns"
            let-data
            let-rowIndex="rowIndex"
          >
            <tr>
              <td class="text-center" style="min-width: 80px;">
                <span
                  class="pointer mr-1"
                  title="Editar"
                  (click)="!disabled&&(data.edit = !data.edit)"
                >
                  <i class="pi pi-pencil"></i>
                </span>
                <span
                  class="pointer"
                  title="Eliminar"
                  (click)="!disabled&&eliminarRentabilidadN($event, rowIndex, data)"
                >
                  <i class="pi pi-trash"></i>
                </span>
              </td>
              <td style="min-width: 240px;">
                <ng-container *ngIf="!data.edit">
                  {{ data.rubro }}
                </ng-container>
                <ng-container *ngIf="data.edit">
                  <input
                    pInputText [disabled]="disabled"
                    class="form-control"
                    [(ngModel)]="data.rubro"
                  />
                </ng-container>
              </td>
              <td *ngFor="let col of columns" style="min-width: 120px; text-align: center;">
                <ng-container *ngIf="!data.edit">
                  {{ rowData[col.field] }}
                </ng-container>
                <ng-container *ngIf="data.edit">
                  <input
                    pInputText [disabled]="disabled"
                    class="form-control"
                    [(ngModel)]="rowData[col.field]"
                    decimal
                    [maxLength]="15"
                    [decimalPlaces]="2"
                    style="text-align: right;"
                    (change)="calcularTotalIngresoN()"
                  />
                </ng-container>
              </td>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="footer"
          >
            <tr>
              <td colspan="2" style="min-width: 320px; text-align: center;" class="containerTotal">
                Total Ingresos
              </td>
              <td *ngFor="let foo of totalIngresoN" style="min-width: 120px; text-align: center;" class="containerTotal">
                {{foo.total | number : '1.2-2'}}
              </td>
            </tr>
          </ng-template>
        </p-table>
        <br />
        <br />
        <div class="col-2 col-sm-12 text-right" *ngIf="vigenciaIncial > 0">
          <button
            (click)="agregarEgreso()" [disabled]="disabled"
            class="btn btn-sm btn-default button-more mb-2"
            type="button"
            title="Agregar"
          >
            <i class="pi pi-plus"></i>
          </button>
        </div>
        <b>II. Egresos</b>
        <p-table
          class="table-justify"
          [columns]="colsMesN"
          [value]="egresoN"
          [scrollable]="true"
          [style]="{width:'100%'}"
        >
          <ng-template
            pTemplate="header"
            let-columns
          >
            <tr>
              <th rowspan="2" style="min-width: 80px; text-align: center;">Acciones</th>
              <th rowspan="2" style="min-width: 240px; text-align: center;">Rubro</th>
              <th colspan="12" style="min-width: 120px; text-align: center;"
                *ngFor="let anio of colsAnioN">
                {{ anio.header }}
              </th>
            </tr>
            <tr>
              <th *ngFor="let col of columns" style="min-width: 120px; text-align: center;">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-rowData
            let-columns="columns"
            let-data
            let-rowIndex="rowIndex"
          >
            <tr>
              <td class="text-center" style="min-width: 80px;">
                <span
                  class="pointer mr-1"
                  title="Editar"
                  (click)="!disabled&&(data.edit = !data.edit)"
                >
                  <i class="pi pi-pencil"></i>
                </span>
                <span
                  class="pointer"
                  title="Eliminar"
                  (click)="!disabled&&eliminarRentabilidadN($event, rowIndex, data)"
                >
                  <i class="pi pi-trash"></i>
                </span>
              </td>
              <td style="min-width: 240px;">
                <ng-container *ngIf="!data.edit">
                  {{ data.rubro }}
                </ng-container>
                <ng-container *ngIf="data.edit">
                  <input
                    pInputText [disabled]="disabled"
                    class="form-control"
                    [(ngModel)]="data.rubro"
                  />
                </ng-container>
              </td>
              <td *ngFor="let col of columns" style="min-width: 120px; text-align: center;">
                <ng-container *ngIf="!data.edit">
                  {{ rowData[col.field] }}
                </ng-container>
                <ng-container *ngIf="data.edit">
                  <input
                    pInputText
                    class="form-control"
                    [(ngModel)]="rowData[col.field]"
                    decimal [disabled]="disabled"
                    [maxLength]="15"
                    [decimalPlaces]="2"
                    style="text-align: right;"
                    (change)="calcularTotalIngresoN()"
                  />
                </ng-container>
              </td>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="footer"
          >
            <tr>
              <td colspan="2" style="min-width: 320px; text-align: center;" class="containerTotal">
                Total Egresos
              </td>
              <td *ngFor="let foo of totalEgresoN" style="min-width: 120px; text-align: center;" class="containerTotal">
                {{foo.total | number : '1.2-2'}}
              </td>
            </tr>
          </ng-template>
        </p-table>
        <br />
        <br />
      </div>
      <!-- <div class="col-12">
        <app-carga-excel
          [urlFomato]="UrlFormatos.RENTABILIDAD"
          (cargarArchivo)="cargarFormato($event)"
        ></app-carga-excel>
      </div> -->
    </p-accordionTab>
    <p-accordionTab header="12.2. Necesidades de Financiamiento">
      <div *ngIf="!nuevoIngresoEgresoNecesidades" class="text-right">
        <button
          (click)="nuevoIngresoEgresoNecesidades = !nuevoIngresoEgresoNecesidades"
          type="button" [disabled]="disabled"
          class="btn btn-sm btn-default pointer"
          title="Agregar"
        >
          <i class="pi pi-plus pointer"></i>
        </button>
      </div>

      <div class="row pb-2" *ngIf="nuevoIngresoEgresoNecesidades">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Necesidad</label>
            <input
              type="text" [disabled]="disabled"
              class="form-control"
              placeholder="Ingrese la Necesidad"
              [(ngModel)]="necesidad"
              maxlength="50"
            />
          </div>
        </div>
        <div class="col-12 col-sm-2 text-center">
          <div class="form-group">
            <div><label class="label">&nbsp;</label></div>
            <button [disabled]="disabled"
              (click)="guardarNecesidad()"
              class="btn btn-sm btn-secondary button-more"
            >
              Agregar
            </button>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label class="label">Lista de Necesidades</label>
        </div>
      </div>
      <div class="row">
        <ul>
          <li *ngFor="let item of listaNecesidades; let i=index">
            {{item.descripcion}} &nbsp;
            <i
              (click)=" eliminarNecesidad($event, i, item)"
              class="pi pi-trash pointer"
            ></i>
          </li>
        </ul>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>

<div class="step__btn mt-4 mb-4">
  <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
  <button
    class="btn-primary2"
    (click)="registrarManejoRentabilidadN()"
    [disabled]="disabled|| (ingresoN.length == 0 && egresoN.length == 0 && listaNecesidades.length == 0)"
  >
    Guardar
  </button>
  <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
