<div class="mt-4 mb-4">
  <p-panel
    header="Registro de Ejecución de Medidas Correctivas"
    [toggleable]="false"
  >
    <div class="row m-0">
      <div class="col-12">
        <div class="row col-12 p-2 justify-content-between">
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label class="label">Número de título habilitante</label>
              <input name="campo1" type="text" class="form-control"
                [disabled]="true" placeholder="Ingrese Número de Contrato"
                [(ngModel)]="medidasCorrectivasCabeceraObj.numeroContrato"
              />
            </div>
          </div>
          <div class="form-group row m-0 mb-2">
            <div class="col-sm-2 text-center">
              <span (click)="!disabled && abrirModal('C', 0)" class="pointer btn-plus-x"
              ><i class="pi pi-plus-circle"></i
              ></span>
            </div>
          </div>
        </div>
        <div class="table">
          <p-table
            [value]="lstMedidasCorrectivasDetalle"
            [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Total : {totalRecords} registros"
            [rowsPerPageOptions]="[10, 25, 50]"
            [lazy]="true"
            (onLazyLoad)="loadEvaluacion($event)"
            [totalRecords]="lstMedidasCorrectivasDetalle.length"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Acciones</th>
                <th>Contrato</th>
                <th>Autoridad</th>
                <th>N° Resolución</th>
                <th>Estado</th>
                <th>Detalle</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td>
                  <span class="ml-1 pointer" (click)="!disabled &&abrirModal('E', rowIndex, data)">
                    <i class="pi pi-pencil"></i>
                  </span>
                  &nbsp;
                  <span class="mr-1 pointer" (click)="!disabled &&openEliminarMedida($event, rowIndex, data)">
                    <i class="pi pi-trash"></i>
                  </span>
                </td>
                <td>{{ data.contrato }}</td>
                <td>{{ data.autoridadSancionadora }}</td>
                <td>{{ data.numeroResolucion }}</td>
                <td *ngIf="data.proceso == 1">Implementado</td>
                <td *ngIf="data.proceso == 2">En Proceso</td>
                <td *ngIf="data.proceso == 3">No Implementado</td>
                <td>{{ data.detalle }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </p-panel>
  <p-panel header="Seguimiento de Medida Correctiva" [toggleable]="false">
    <div class="row m-0">
      <div class="col-12">
        <div class="row col-12 p-2">
          <div class="col-12 col-sm-4">
            <div class="form-group">
              <label class="label">Cumplimiento</label>
              <input
                name="campo1"
                type="text"
                class="form-control" [disabled]="disabled"
                autocomplete="off"
                placeholder="Ingrese el Cumplimiento"
                [(ngModel)]="medidasCorrectivasCabeceraObj.cumplimiento"
                maxlength="50"/>
            </div>
          </div>

          <div class="col-12 col-sm-4">

            <input-buttons-codigo
              [label]="'Adjuntar evidencia'"
              [idPlanManejo]="idPlanManejo"
              [idTipoDocumento]="'POACFMC'" [disabled]="disabled"
              [codigoProceso]="'POAC'"
              (registrarArchivoId)="registrarArchivoID($event)">
            </input-buttons-codigo>

            <div>
              <label
                *ngIf="archivoEvidenciaMedidaCorrectiva"
                class="lbl-info mt-3 mb-3"
                style="float: none !important;"
              >
                (Debe cargar su archivo antes de Guardar.)
              </label>
            </div>
          </div>

          <div class="col-sm-4 form-group">
            <label class="label">Fecha de Cumplimiento</label>
            <div class="content-date">
              <input
                autocomplete="off"
                type="text" [disabled]="disabled"
                class="form-control"
                matInput
                [matDatepicker]="fpPGMF"
                readonly="true"
                [min]="minDate"
                [(ngModel)]="medidasCorrectivasCabeceraObj.fechaCumplimiento"
              />
              <i class="pi pi-calendar pointer" (click)="!disabled &&fpPGMF.open()"></i>
              <mat-datepicker #fpPGMF></mat-datepicker>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="col-sm-4 p-field-radiobutton">
          <p-radioButton
            name="conforme"
            [value]="'EMCOCOMP'" [disabled]="disabled"
            [(ngModel)]="medidasCorrectivasCabeceraObj.conforme"
          ></p-radioButton>
          <label class="pointer">Implementado</label>
        </div>

        <div class="col-sm-4 p-field-radiobutton">
          <p-radioButton
            name="conforme"
            [value]="'EMCOEVAL'" [disabled]="disabled"
            [(ngModel)]="medidasCorrectivasCabeceraObj.conforme"
          ></p-radioButton>
          <label class="pointer">En proceso de Implementación</label>
        </div>
        <div class="col-sm-4 p-field-radiobutton">
          <p-radioButton
            name="conforme"
            [value]="'EMCOOBS'" [disabled]="disabled"
            [(ngModel)]="medidasCorrectivasCabeceraObj.conforme"
          ></p-radioButton>
          <label class="pointer">No Implementado</label>
        </div>
      </div>
    </div>
  </p-panel>
  <div class="col-12">
    <label
      *ngIf="pendiente"
      class="lbl-info mt-3 mb-3"
      style="float: none !important;"
    >
      (Los cambios locales se guardarán pulsando el botón "Guardar".)
    </label>
  </div>

  <div class="step__btn mt-4">
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button type="submit" class="btn-primary2" [disabled]="disabled" (click)="guardarMedidasCorrectivas()">
      Guardar
    </button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>

</div>
<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
<p-dialog
  header="{{ tituloModalMedidas }}"
  header="Header"
  [(visible)]="verModalMedidas"
  [draggable]="false"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="form-group">
            <label class="label">Autoridad Sancionadora</label>
            <div class="form-control-selectk">
              <p-dropdown
                class="fomr-control"
                [options]="listadoAutoridasSancionadora"
                [(ngModel)]="medidaCorrectivaObj.autoridadSancionadora"
                optionLabel="valorPrimario"
                optionValue="valorPrimario"
              >
              </p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 form-group">
          <label class="label">Fecha de documento</label>
          <div class="content-date">
            <input
              autocomplete="off"
              type="text"
              class="form-control"
              matInput
              [matDatepicker]="fdoc"
              readonly="true"
              [min]="minDate"
              [(ngModel)]="fechaResolucion"
            />
            <i class="pi pi-calendar pointer" (click)="fdoc.open()"></i>
            <mat-datepicker #fdoc></mat-datepicker>
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">N° Resolución</label>
            <input
              name="campo2"
              [(ngModel)]="medidaCorrectivaObj.numeroResolucion"
              type="text"
              class="form-control"
              autocomplete="off"
              placeholder="Ingrese N° de resolución"
              maxlength="50"
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Contrato</label>
            <input
              name="campo2"
              [(ngModel)]="medidaCorrectivaObj.contrato"
              type="text"
              class="form-control"
              autocomplete="off"
              placeholder="Ingrese Contrato"
              maxlength="50"
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Adjuntar Resolución</label>
            <div class="input-group">
              <input
                type="text"
                class="form-control" [disabled]="true"
                placeholder=""
                [(ngModel)]="filePMFI.nombreFile"
              />
              <div class="input-group-append">
                <button
                  type="button"
                  *ngIf="!filePMFI.nombreFile"
                  id="btnCargaShapeFile"
                  (click)="fileInput.click()"
                  class="btn btn-sm btn-file btn-secondary"
                  pButton
                  icon="pi pi-upload"
                  pButton
                  title="Cargar Archivo"
                >
                  <input
                    #fileInput
                    type="file"
                    (change)="onFileChange($event)"
                    style="display: none;"
                    accept=".pdf"
                    [attr.data-type]="filePMFI.descripcion"
                  />
                </button>
                <button
                  *ngIf="filePMFI.nombreFile"
                  type="button"
                  id="btnCargaShapeFile"
                  class="btn btn-sm btn-file"
                  icon="pi pi-upload"
                  pButton
                  [disabled]="!verEnviar1"
                  (click)="guardarArchivoPMFIFirmado()"
                  title="Cargar Archivo"
                ></button>

                <button
                  type="button"
                  *ngIf="filePMFI.nombreFile"
                  class="btn btn-sm btn-file"
                  title="Eliminar"
                  icon="pi pi-trash"
                  pButton
                  (click)="eliminarArchivoPmfi()"
                ></button>
              </div>
            </div>
          </div>
          <div class="col-12">
            <label
              *ngIf="archivoCargado"
              class="lbl-info mt-3 mb-3"
              style="float: none !important;"
            >
              (Debe cargar su archivo antes de Guardar.)
            </label>
          </div>
        </div>

        <div class="col-12 col-sm-6 form-group">
          <label class="label">Detalle de la medida correctiva</label>
          <input
            name="campo3"
            [(ngModel)]="medidaCorrectivaObj.detalle"
            type="text"
            class="form-control"
            autocomplete="off"
            placeholder="Ingrese detalle"
            maxlength="50"
          />
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Plazo de ejecución</label>
            <input
              name="campo3"
              [(ngModel)]="medidaCorrectivaObj.plazo"
              type="text"
              class="form-control"
              autocomplete="off"
              placeholder="Ingrese plazo"
              maxlength="50"
            />
          </div>
        </div>

        <div class="col-12">
          <div class="col-sm-2.5 p-field-radiobutton">
            <p-radioButton
              name="conforme"
              [value]="1"
              [(ngModel)]="medidaCorrectivaObj.proceso"
            ></p-radioButton>
            <label class="pointer">Implementado</label>
          </div>

          <div class="col-sm-6 p-field-radiobutton">
            <p-radioButton
              name="conforme"
              [value]="2"
              [(ngModel)]="medidaCorrectivaObj.proceso"
            ></p-radioButton>
            <label class="pointer">En proceso de Implementación</label>
          </div>
          <div class="col-sm-3.5 p-field-radiobutton">
            <p-radioButton
              name="conforme"
              [value]="3"
              [(ngModel)]="medidaCorrectivaObj.proceso"
            ></p-radioButton>
            <label class="pointer">No Implementado</label>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="AgregarMedida(medidaCorrectivaObj)"
      pButton
      pRipple
      type="button"
      [label]="'Aceptar'"
      class="p-button-success p-button-outlined"
    ></button>
    <button icon="pi pi-times" (click)="verModalMedidas = false" pButton pRipple type="button" label="Cancelar" class="p-button-danger p-button-outlined"></button>
  </ng-template>
</p-dialog>





