<div class="row">
  <div class="col-12 col-sm-6">
      <div class="form-group">
          <label class="label">Tema o Actividad</label>
          <input 
              [(ngModel)]="texto_tema_actividad" type="text" class="form-control"
              id="lugar" placeholder="Ingrese Personal">
      </div>
  </div>
  <div class="col-12 col-sm-6">
    <div class="form-group">
        <label class="label">Personal</label>
        <input type="text" class="form-control"
            placeholder="Ingrese Personal">
    </div>
</div>
</div>
<div class="row">
  <div class="col-12 col-sm-6">
    <div class="form-group">
      <label class="label">Modalidad</label>
      <input type="text" class="form-control"
              placeholder="Ingrese Modalidad">
    </div>
  </div>
  <div class="col-12 col-sm-6">
      <div class="form-group">
          <label class="label">Lugar de Capacitación</label>
          <input type="text" class="form-control"
              placeholder="Ingrese Lugar de Capacitación">
      </div>
  </div>
</div>
<div class="row">
  <div class="col-12 mt-3" >
    <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
            class="p-button-danger p-button-outlined" style="float: right;"></button>&nbsp;&nbsp;
    <button icon="pi pi-save" (click)="agregar()" pButton pRipple type="button" label="Agregar"
            class="p-button-success p-button-outlined" style="float: right;"></button>
  </div>
</div>