<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 class="title">Mantenimiento de Aplicaciones</h3>

            <div class="panelk br10 p-3">
                <div class="row">
                    <div class="col-sm-4 col-md-5">
                        <label class="label">Buscar</label>
                        <input class="form-control form-control-sm " type="text" [(ngModel)]="objbuscar.dato" autocomplete="off"/>
                    </div>
                    <div class="col-sm-4 col-md-5">
                        <label class="label">Estado</label>
                        <div class="form-control-selectk ">
                            <p-dropdown [options]="estados" optionLabel="name" optionValue="code" [(ngModel)]="objbuscar.idestado" (onChange)="objbuscar.indice=1"></p-dropdown>
                        </div>                        
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <label class="label">&nbsp;&nbsp;</label>
                        <button class="btn btn-sm btn-secondary f-w" (click)="listarBandeja(objbuscar)">Buscar</button>
                    </div>
                </div>
            </div>

            <div class="row align-items-end mt-4">
                <div class="col-10 col-sm-11">
                    <h3 class="title2 m-0">Listado de Aplicaciones</h3>
                </div>
                <div class="col-2 col-sm-1 text-right">
                    <button (click)="openModalMantenimiento('C',null)" class="btn btn-sm btn-default mb-2" type="button" title="Agregar">
                        <i class="pi pi-plus"></i>
                    </button>
                </div>
            </div>
            <p-confirmPopup></p-confirmPopup>
            <div class="mt-2">
                <div class="tablek">
                    <p-table [value]="listaBandejaAplicacion">
                      <ng-template pTemplate="header">
                          <tr>
                            <th style="width: 80px;">Acciones</th>
                            <th >Código Aplicación</th>
                            <th>Aplicación</th>
                            <th>Detalle Aplicación</th>
                            <th >Observacion Aplicación</th>
                            <th >Tipo de Aplicación</th>
                            <th >Estado</th>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-data>
                          <tr>
                            <td class="text-center">
                                <span class="pointer mr-1" title="Editar" (click)="openModalMantenimiento('E',data)">
                                    <i class="pi pi-pencil"></i>
                                </span>
                                <span class="pointer mr-1" title="Visualizar" (click)="openModalMantenimiento('R',data)">
                                    <i class="pi pi-eye"></i>
                                </span>
                               
                                <span class="pointer" title="Eliminar" (click)="openEliminarRegistro($event,data)">
                                    <i class="pi pi-trash"></i>
                                </span>
                              </td>     
                              <td>{{data.codigoAplicacion}}</td>
                              <td>{{data.aplicacion}}</td>
                              <td>{{data.detalleAplicacion}}</td>
                              <td>{{data.observacionAplicacion}}</td>
                              <td>{{data.tipoAplicacion}}</td>
                              <td>{{     (data.estado=='1'?'Activo':'Inactivo')   }}</td>
                          </tr>
                      </ng-template>
                  </p-table>                    
                  <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)" [rowsPerPageOptions]="[10,25,50,100]"></p-paginator>
                  <span style="position: absolute; top:3px; right:5px; margin: 5px;">Total Registros: {{totalRecords}} </span>  
                  </div>

        </div>
    </div>



<p-dialog header="{{tituloModalMantenimiento}}" [(visible)]="verModalMantenimiento" [modal]="true" [style]="{width: '40vw'}" [maximizable]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="true">
    <ng-template pTemplate="content">
        <form [formGroup]='MantenedorFormulario' novalidate>
            <div class="form-group">
                <label class="label">Código Aplicación<span class="required_">*</span></label>
                <input formControlName="codigoAplicacion" [readonly]="true" type="text" class="form-control"  placeholder="PAS">
                <!-- <mensaje-error-control [control]="MantenedorFormulario.controls['codigoAplicacion']"></mensaje-error-control> -->
            </div>
            <div class="form-group">
                <label class="label">Aplicación<span class="required_">*</span></label>
                <input formControlName="aplicacion" [readonly]="accionMantenimiento == 'R'" maxlength="50" type="text" class="form-control" placeholder="Proceso Administrativo Sancionador">
                <mensaje-error-control [control]="MantenedorFormulario.controls['aplicacion']"></mensaje-error-control>
            </div>
            <div class="form-group">
                <label class="label">Detalle Aplicación<span class="required_">*</span></label>
                <input formControlName="detalleAplicacion" [readonly]="accionMantenimiento == 'R'" maxlength="200" type="text" class="form-control" placeholder="Sin Detalles">
                <mensaje-error-control [control]="MantenedorFormulario.controls['detalleAplicacion']"></mensaje-error-control>
            </div>
            <div class="form-group">
                <label class="label">Observación Aplicación<span class="required_">*</span></label>
                <input formControlName="observacionAplicacion" [readonly]="accionMantenimiento == 'R'" maxlength="200" type="text" class="form-control" placeholder="Observaciones Diversas">
                <mensaje-error-control [control]="MantenedorFormulario.controls['observacionAplicacion']"></mensaje-error-control>
            </div>
            <div class="form-group">
                <label class="label">Estado<span class="required_">*</span></label>
                <div>
                    <div class="p-field-radiobutton">
                        <p-radioButton formControlName="estado" [disabled]="accionMantenimiento == 'R'" name="estado" value="1" nputId="activo"></p-radioButton>
                        <label class="pointer" for="activo">Activo</label>
                      </div>
                      <div class="p-field-radiobutton">
                        <p-radioButton formControlName="estado" [disabled]="accionMantenimiento == 'R'" name="estado" value="0" inputId="inactivo"></p-radioButton>
                        <label class="pointer" for="inactivo">Inactivo</label>
                      </div>
                </div>
            </div>
            <div class="form-group">
                <label class="label">Tipo Aplicación<span class="required_">*</span></label>
                <input formControlName="tipoAplicacion" [readonly]="accionMantenimiento == 'R'" type="text" class="form-control" placeholder="PRINCIPAL">
                <mensaje-error-control [control]="MantenedorFormulario.controls['tipoAplicacion']"></mensaje-error-control>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer" >            
        <button icon="pi pi-save" *ngIf="accionMantenimiento != 'R'"  (click)="registrarAplicacion(aplicacionContext)" pButton pRipple type="button" label="Guardar" class="p-button-success p-button-outlined" style="width: 106px;"></button>
        <button icon="pi pi-times" *ngIf="accionMantenimiento != 'R'" (click)="verModalMantenimiento=false" pButton pRipple type="button" label="Cancelar" class="p-button-danger p-button-outlined" style="width: 106px;"></button>
    </ng-template>
</p-dialog>


</div>

<p-toast></p-toast>

