<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12 form-group">
      <p-accordion>
        <p-accordionTab header="8.1. Descripción del Sistema de Monitoreo" [selected]="true">
          <textarea maxlength="150" autocomplete="off" class="form-control form-control-sm" rows="4" (keyup)="btnGuardar = true"
            [autoResize]="true" pInputTextarea [(ngModel)]="descripcion_sistema_monitoreo" [disabled]="isDisbledObjFormu">
          </textarea>

          
        </p-accordionTab>

        <p-accordionTab header="8.2. Descripción de las Acciones de Monitoreo">
          <p>
            En este ítem actividades de aprovechamiento, silviculturales,
            impactos de flora y fauna silvestre, administrativo, entre otros.
          </p>

          <p-table [value]="listaTableMonitoreo" class="no-desbor-table" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
              <tr>
                <th>Acciones</th>
                <th>Monitoreo</th>
                <th>Operaciones</th>
                <th>Descripción</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td>
                  <span (click)="openModal('Editar Registro', data,'E' )" class="pointer mr-3" title="Editar" [ngClass]="isDisbledObjFormu?'disabled-pointer':''">
                    <i class="pi pi-pencil"></i>
                  </span>
                </td>
                <td>{{data.monitoreo}}</td>
                <td>
                  <ul class="ul-style-none">
                    <li *ngFor="let item of data.lstDetalle">
                      {{item.operacion}}
                    </li>
                  </ul>
                </td>
                <td >{{data.descripcion}}</td>
              </tr>
            </ng-template>
          </p-table>
          
        </p-accordionTab>

      </p-accordion>

      <div class="row mt-4">
        <div class="col-12 ml-3 mr-3">
          <label class="m-0 mr-4 label">Se amplía información en el Anexo 4:</label>
          <div class="p-field-radiobutton">
            <strong for="Si" class="mr-2">SI</strong>
            <p-radioButton name="monitoreo" value="S" inputId="Si" [(ngModel)]="selectAnexo"  [disabled]="isDisbledObjFormu">
            </p-radioButton>
          </div>
          <div class="p-field-radiobutton">
            <strong for="No" class="mr-2">NO</strong>
            <p-radioButton name="monitoreo" value="N" inputId="No" [(ngModel)]="selectAnexo"  (onClick)="anexoN($event)"  [disabled]="isDisbledObjFormu">
            </p-radioButton>
          </div>
        </div>

        <div class="col-12" [hidden]="selectAnexo == 'N'">
          <div class="col-12 mt-4 ml-1 mr-5" *ngIf="selectAnexo == 'S'">
            <app-anexo-upload-file
              [fileInfGenreal]="fileAnexo4"
              [label]="'Adjuntar Evidencia:'"
              [idPlanManejo]="idPlanManejo"
              [idTipoDocumento]="CodigoPGMF8_2"
              [codigoProceso]="CodigoPGMF8_2"
              (registrarArchivoId)="cargarIdArchivo($event)"
              [isDisbledObjFormu]="isDisbledObjFormu"
            >
            </app-anexo-upload-file>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="row m-0 mt-4 h-100 justify-content-center align-items-center">
    <div class="col-12 col-sm-12">
      <lineamiento-inner [base]="lineamiento"
        [titulo]="'Evaluación de Lineamiento 13. Revisión de las acciones de monitoreo'"
        [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval">
        <ng-template #descripcion>
          <div class="row m-0">
            <div class="col-12">
              <p class="fz-11 m-0 mb-3"></p>
              <p class="fz-11 m-0 mb-1 ml-4">1. Verificar que se hoya incluido un sistema permanente de registros
                de información de las actividades que comprende la implementación del PGMF, con indicaciones de
                cómo se realiza el
                registro, la manipulación, el almacenamiento y el análisis de datos.</p>
            </div>
          </div>
        </ng-template>
      </lineamiento-inner>
    </div>
  </div>

  <div class="row m-0 mt-4">
    <div class="col-12" [ngStyle]="{'display': btnGuardar == true ? 'inline' : 'none' }">
      <label style=" font-size: smaller; font-weight: 100; color: #007bff;float: left;">
        (Los cambios realizados se guardaran pulsando el botón "Guardar".) </label>

    </div>
    <div class="col-sm-8">
      <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
      <button class="btn-primary2" (click)="actualizarMonitoreo()"  [disabled]="isDisbledObjFormu">Guardar</button>
      <button class="btn-primary2" (click)="siguienteTab()"> Siguiente</button>
    </div>
    <br />
  </div>
  <br>

  <p-dialog header="Nuevo" [(visible)]="mdlNuevo" [style]="{width: '50vw'}">
    <div class="col-12 form-group">
      <label for="lugar">Operación</label>
      <input [(ngModel)]="texto_nueva_operacion" type="text" autocomplete="off"
        class="form-control contents_form_input" />

      <label for="lugar">Descripción</label>
      <input [(ngModel)]="texto_nueva_descripcion" type="text" autocomplete="off"
        class="form-control contents_form_input" />
    </div>

    <p-footer>
      <button class="btn-primary2 btn btn-sm" (click)="guardar()">
        Guardar
      </button>
    </p-footer>
  </p-dialog>

  <p-toast></p-toast>
  <p-toast position="top-right" key="tl"></p-toast>
  <p-toast position="top-center" key="tc"></p-toast>
  <p-toast position="bottom-center" key="bc"></p-toast>