<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="title">Listado de oposiciones de tu proceso Postulación</h3>
      </div>
      <div class="col-sm-12">
  
        <div class="panelk br10 p-3">
          <div class="row">
          
            <div class="col-sm-4 col-md-4 mt-3 mb-2 form-group">
              
              <button class="btn btn-sm btn-secondary mr-2" (click)="retroceder()">Retroceder</button>
              <button class="btn btn-sm btn-secondary mr-2" (click)="listarOposicion()">Buscar</button>
              
            </div>
          </div>
        </div>
        <br>
  
        <!--{first} al {last} of {totalRecords}  propiedades de paginado -->
        <div class="tablek">
          <p-table [value]="listaOposicion" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
              <tr>
                <th>ID Oposicion</th>
                <th>Motivo Oposición</th>
                <!-- <th>Observación</th>
                <th>Tipo Solicitud</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th> -->
                <th>Ver</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-obj>
              <tr>
                <td>{{obj.idOposicion}}</td>
                <td>{{obj.descripcion}}</td>
                <td>
                  <a style="cursor: pointer;" (click)="verOposicion(obj)"> <i class="pi pi-eye"></i> </a>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
  
      </div>
  
    </div>
  </div>
  
  <p-toast position="bottom-center" key="tl"></p-toast>