<div class="container-fluit py-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab [header]="tituloBloque" [selected]="true">
          <div class="row m-0">

            <div class="col-12 col-sm-8 col-md-3 form-group">
              <label class="label">Tipo de Documento: *</label>
              <div class="form-control-selectk">
                <p-dropdown appendTo="body" [options]="comboTiposDocumento" [disabled]="disabledEnvioResultado"
                  placeholder="Seleccione" optionLabel="valorPrimario" optionValue="codigo"
                  [(ngModel)]="requestResultado.tipodoc"></p-dropdown>
              </div>
            </div>

            <div class="col-12 col-sm-3 form-group">
              <label class="label">N° Documento: *</label>
              <input class="form-control" type="text" autocomplete="off" placeholder=""
                [(ngModel)]="requestResultado.numeroDoc"  [maxLength]="100" [disabled]="disabledEnvioResultado"/>
            </div>

            <div class="col-12 col-sm-3 form-group">
              <label class="label">Fecha Documento: *</label>
              <div class="content-date">
                <input name="fechaDoc" autocomplete="off" class="form-control form-control-sm"
                  [(ngModel)]="requestResultado.fechaDoc" matInput [matDatepicker]="fechaDoc" readonly
                  [disabled]="disabledEnvioResultado" [min]="minDate">
                <i class="pi pi-calendar pointer" (click)="fechaDoc.open()"></i>
                <mat-datepicker #fechaDoc></mat-datepicker>
              </div>
            </div>

            <div class="col-12 col-sm-3 form-group">
              <label class="label">Asunto: *</label>
              <input class="form-control" type="text" autocomplete="off" placeholder="" sinSpacioInit
                [(ngModel)]="requestResultado.asunto" maxlength="100" [disabled]="disabledEnvioResultado"/>
            </div>

            <div class="col-12 col-sm-6 form-group">
              <app-carga-archivo-general [disabled]="disabledEnvioResultado" accept=".pdf" [idArchivo]="adjunto6_1_A.idArchivo"
                [tipoDoc]="adjunto6_1_A.tipoArchivo" (registrarArchivo)="registrarArchivo($event, adjunto6_1_A)"
                (eliminarArchivo)="eliminarArchivo($event, adjunto6_1_A)" [label]="labelAdjunto1">
              </app-carga-archivo-general>
            </div>

            <div class="col-12 col-sm-6 form-group">
              <app-carga-archivo-general [disabled]="disabledEnvioResultado" accept=".pdf" [idArchivo]="adjunto6_1_B.idArchivo"
                [tipoDoc]="adjunto6_1_B.tipoArchivo" (registrarArchivo)="registrarArchivo($event, adjunto6_1_B)"
                (eliminarArchivo)="eliminarArchivo($event, adjunto6_1_B)" label="Cargar Informe Técnico Legal: *">
              </app-carga-archivo-general>
            </div>

            <div *ngIf="isAprobacion" class="col-12 col-sm-6 form-group">
              <app-expediente-evaluacion-bl [idPlan]="idPlan" [disabledEnvioResultado]="disabledEnvioResultado">
              </app-expediente-evaluacion-bl>
            </div>
          </div>
        <br>
          <div class="col-12 form-group">
         
            <button  type="button" class="btn-primary2" [disabled]="false" (click)="btnGuardar()">
              Guardar
            </button>
           
              <button *ngIf="aparecer && isAprobacion" type="button" class="btn-primary2" (click)="btnEnviarSerfor()">
                Enviar a SERFOR
              </button>

              <button *ngIf="aparecer && isDenegacion" type="button" class="btn-primary2" [disabled]="false" (click)="btnEnviarGobLocal()">
                Enviar a Gobierno Local
              </button>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>
