<div class="container-fluid">
    <div class="row m-0 pt-4">
        <div class="col-12 p-0">
            <h3 class="title">Ep3.2.4: Gestionar la evaluación el Plan de Manejo Forestal y de Fauna Silvestre en CC NN y CC
              <span class="nro-plan">&nbsp;&nbsp;N° {{idPlanManejo}}</span>
            </h3>
        </div>
    </div>
    <div class="row m-0 pt-4">
        <div class="col-12 p-0">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="1. Mesa de Partes" *ngIf="isShowTabMesaDePartes">
                    <ng-template matTabContent>
                       <tab-mesa-partes [idPlanManejo]="idPlanManejo"></tab-mesa-partes>
                    </ng-template>
                </mat-tab>
                <mat-tab label="2. Requisitos del Plan PGMFA" *ngIf="isShowTabRequisitos">
                    <ng-template matTabContent>
                       <tab-requisitos-pgmf [idPlanManejo]="idPlanManejo"></tab-requisitos-pgmf>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

</div>
