<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="5.1. Anexo 1" [selected]="true">

          <label class="label"> Anexo 1: Mapa o croquis: Será formado con los shapefiles adjuntado (poligonos,
            vertices y shapefile de
            polilineas) y se mostrará como imagen con el botón "Descargar mapa y sus elementos."</label>
          <app-map-custom-sol-plantacion #map [idPFDM]="idBPF" [showBotonCargarGeneral]="false"
            [showBotonCargarCustom]="false" [printPDF]="true" [isAnexo]="true" [isDisbledFormu]="isDisbledFormu"
            [showBotonGuardar]="false">
          </app-map-custom-sol-plantacion>

          <div class="row m-0 mt-3" *ngIf="isShowEval">
            <div class="col-12">
              <app-evaluar-solicitud-bpf [disabled]="isDisbledEval" [idBPF]="idBPF" [codSeccion]="codigoPLFOR.TAB_5"
                [codSubSeccion]="codigoPLFOR.TAB_5_1"></app-evaluar-solicitud-bpf>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="5.2. Anexo 2" *ngIf="!isTM_Dominio">
          <div class="row m-0 mt-4">
            <div class="col-12 col-sm-6 form-group">
              <app-carga-archivo-general [showMsjEliminar]="false"  [disabled]="isDisbledFormu" accept=".pdf"
              [label]="labelAdjunto2_1" [idArchivo]="adjuntoA2_1.idArchivo"
                [tipoDoc]="adjuntoA2_1" (registrarArchivo)="registrarArchivo($event, adjuntoA2_1)"
                [disabled]="true">
        </app-carga-archivo-general>
             <!--   <upload-input-buttons [file]="fileContrato" [disabled]="!isInputArffs"
            (registrarArchivo)="registrarArchivo($event, TipoArchivo.FIRMA_ARFFS, auxTipoArchivo.CONTRATO)"
            (eliminarArchivo)="eliminarArchivo(this.contratoRequestEntity.archivoContrato, auxTipoArchivo.CONTRATO)">
          </upload-input-buttons>-->
            </div>

            <div *ngIf="isTM_TH" class="col-12 col-sm-6 form-group">
              <label class="label">Número TH</label>
              <input disabled [(ngModel)]="numeroTH" type="text" autocomplete="off" class="form-control" />
            </div>
          </div>

          <div class="row m-0 mt-3">
            <div class="col-12 mt-3" *ngIf="!isDisbledFormu">
              <button type="button" class="btn-primary2 ml-0" (click)="btnRegAnexo_2()" [disabled]="isDisbledFormu">
                Guardar
              </button>
            </div>
          </div>

          <div class="row m-0 mt-3" *ngIf="isShowEval">
            <div class="col-12">
              <app-evaluar-solicitud-bpf [disabled]="isDisbledEval" [idBPF]="idBPF" [codSeccion]="codigoPLFOR.TAB_5"
                [codSubSeccion]="codigoPLFOR.TAB_5_2"></app-evaluar-solicitud-bpf>
            </div>
          </div>

        </p-accordionTab>

        <p-accordionTab header="5.3. Anexo 3">
          <div class="row m-0 mt-4">
            <div class="col-12 col-sm-6 form-group">
              <app-carga-archivo-general [showMsjEliminar]="false" [disabled]="isDisbledFormu" accept=".pdf"
                label="Adjuntar Carta Poder:" [idArchivo]="adjuntoA3_1.idArchivo" [tipoDoc]="adjuntoA3_1.tipoArchivo"
                (registrarArchivo)="registrarArchivo($event, adjuntoA3_1)"
                (eliminarArchivo)="eliminarArchivo($event, adjuntoA3_1)">
              </app-carga-archivo-general>
            </div>

            <div class="col-12 col-sm-6 form-group">
              <app-carga-archivo-general [showMsjEliminar]="false" [disabled]="isDisbledFormu" accept=".pdf"
                label="Adjuntar Representación Legal:" [idArchivo]="adjuntoA3_2.idArchivo"
                [tipoDoc]="adjuntoA3_2.tipoArchivo" (registrarArchivo)="registrarArchivo($event, adjuntoA3_2)"
                (eliminarArchivo)="eliminarArchivo($event, adjuntoA3_2)">
              </app-carga-archivo-general>
            </div>
          </div>

          <ng-container *ngIf="isTM_Predio">
            <div class="row m-0">
              <div class="col-12 col-sm-6 form-group">
                <div class="row">
                  <div class="col-12">
                    <label class="label">Adjuntar Acta de Asamblea Comunal:</label>
                  </div>
                  <div class="col-3 my-auto">
                    <p-checkbox inputId="binary2" [binary]="true" [disabled]="isDisbledFormu"
                      [(ngModel)]="requestAnexo3.ccnn" class="my-auto">
                    </p-checkbox>
                    <label for="binary2" class="label my-auto ml-2">CNCC</label>
                  </div>
                  <div class="col-9">
                    <app-carga-archivo-general [showMsjEliminar]="false"
                      [disabled]="isDisbledFormu || !requestAnexo3.ccnn" accept=".pdf"
                      [idArchivo]="adjuntoA3_3.idArchivo" [tipoDoc]="adjuntoA3_3.tipoArchivo"
                      (registrarArchivo)="registrarArchivo($event, adjuntoA3_3)"
                      (eliminarArchivo)="eliminarArchivo($event, adjuntoA3_3)"
                      [disabledDescargar]="!requestAnexo3.ccnn">
                    </app-carga-archivo-general>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-6 form-group">
                <app-carga-archivo-general [showMsjEliminar]="false" [disabled]="isDisbledFormu" accept=".pdf"
                  label="Adjuntar Autorización del Titular:" [idArchivo]="adjuntoA3_4.idArchivo"
                  [tipoDoc]="adjuntoA3_4.tipoArchivo" (registrarArchivo)="registrarArchivo($event, adjuntoA3_4)"
                  (eliminarArchivo)="eliminarArchivo($event, adjuntoA3_4)">
                </app-carga-archivo-general>
              </div>
            </div>

            <div class="row m-0 mt-3">
              <div class="col-12 col-sm-4 form-group">
                <label class="label">Tipo Asamblea:</label>
                <div class="form-control-selectk">
                  <p-dropdown [disabled]="isDisbledFormu || !requestAnexo3.ccnn" [(ngModel)]="requestAnexo3.codigoAsamblea"
                    [options]="comboTipoAsamblea" optionLabel="valor1" optionValue="codigo" placeholder="Seleccione"
                    appendTo="body">
                  </p-dropdown>
                </div>
              </div>
              <div class="col-12"></div>

              <div *ngIf="requestAnexo3.codigoAsamblea !== TIPO_ASAMBLEA.COM" class="col-12 col-sm-6 form-group">
                <div class="mb-2 text-right">
                  <button class="btn btn-sm btn-default button-more mb-2" type="button" title="Agregar" (click)="btnMdAgregar()" [disabled]="isDisbledFormu"><i class="pi pi-plus"></i></button>
                </div>
                <p-table [value]="tablaAsamblea">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Acciones</th>
                      <th>DNI</th>
                      <th>Nombres y Apellidos</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                    <tr>
                      <td><span *ngIf="!isDisbledFormu" class="pointer" title="Eliminar" (click)="btnMdEliminar($event, data, rowIndex)"><i class="pi pi-trash"></i></span></td>
                      <td>{{data.dni}}</td>
                      <td>{{data.nombres + ' ' + data.apellidoPaterno + ' ' + data.apellidoMaterno}}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </ng-container>

          <div class="row m-0 mt-4">
            <div class="col-12" *ngIf="!isDisbledFormu">
              <button type="button" class="btn-primary2 ml-0" (click)="btnRegAnexo_3()" [disabled]="isDisbledFormu">
                Guardar
              </button>
            </div>
          </div>

          <div class="row m-0 mt-3" *ngIf="isShowEval">
            <div class="col-12">
              <app-evaluar-solicitud-bpf [disabled]="isDisbledEval" [idBPF]="idBPF" [codSeccion]="codigoPLFOR.TAB_5"
                [codSubSeccion]="codigoPLFOR.TAB_5_3"></app-evaluar-solicitud-bpf>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>
