<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab
          header="8.1 Aprovechamiento forestal maderable"
          [selected]="true"
        >
          <div>
            <div class="text-right mb-2">
              <button
                (click)="openModal(null, -1, 'C', MADERABLE)"
                class="btn btn-sm btn-default button-more"
                type="button"
                title="Agregar"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
          </div>
          <p-table
            [value]="lstData1"
            class="table"
            [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Total : {totalRecords} registros"
            [rowsPerPageOptions]="[10, 25, 50]"
            [totalRecords]="lstData1.length"
          >
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 80px" class="headerTabla">Acciones</th>
                <th style="width: 200px; max-width: 800px" class="headerTabla">
                  Actividad
                </th>
                <th style="width: 200px; max-width: 800px" class="headerTabla">
                  Descripción del Sistema a Utilizar
                </th>
                <th style="width: 200px; max-width: 800px" class="headerTabla">
                  Equipos e Insumos a Utilizar
                </th>
                <th style="width: 200px; max-width: 800px" class="headerTabla">
                  Personal Requerido
                </th>
                <th style="width: 200px; max-width: 800px" class="headerTabla">
                  Observaciones
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td style="width: 80px" class="text-center">
                  <span
                    class="pointer mr-1"
                    title="Editar"
                    (click)="openModal(data, rowIndex, 'E', MADERABLE)"
                    ><i class="pi pi-pencil"></i
                  ></span>
                  <span
                    class="pointer"
                    title="Eliminar"
                    (click)="
                      openEliminarActividadAprovechamiento(
                        $event,
                        rowIndex,
                        data,
                        MADERABLE
                      )
                    "
                    ><i class="pi pi-trash"></i
                  ></span>
                </td>
                <td class="text-left">{{ data.actividad }}</td>
                <td style="width: 200px; max-width: 250px">
                  {{ data.descripcionDetalle }}
                </td>
                <td style="width: 200px; max-width: 250px">
                  {{ data.equipo }}
                </td>
                <td style="width: 200px; max-width: 800px">
                  {{ data.personal }}
                </td>
                <td style="width: 200px; max-width: 800px">
                  {{ data.detalle }}
                </td>
              </tr>
              <!--tr *ngFor="let data of lstData1">
                                <ng-container *ngTemplateOutlet="bodyTable;context:{data:data, rowIndex: rowIndex}"
                                 ></ng-container>
                            </tr-->
            </ng-template>
          </p-table>
        </p-accordionTab>
        <p-accordionTab
          header="8.2 Aprovechamiento forestal no maderable"
          [selected]="false"
        >
          <div>
            <div class="text-right mb-2">
              <button
                (click)="openModal(null, -1, 'C', NO_MADERABLE)"
                class="btn btn-sm btn-default button-more"
                type="button"
                title="Agregar"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
          </div>
          <p-table
            [value]="lstData2"
            class="table"
            [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Total : {totalRecords} registros"
            [rowsPerPageOptions]="[10, 25, 50]"
            [totalRecords]="lstData2.length"
          >
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 80px" class="headerTabla">Acciones</th>
                <th style="width: 200px; max-width: 800px" class="headerTabla">
                  Actividad
                </th>
                <th style="width: 200px; max-width: 800px" class="headerTabla">
                  Descripción del Sistema a Utilizar
                </th>
                <th style="width: 200px; max-width: 800px" class="headerTabla">
                  Equipos e Insumos a Utilizar
                </th>
                <th style="width: 200px; max-width: 800px" class="headerTabla">
                  Personal Requerido
                </th>
                <th style="width: 200px; max-width: 800px" class="headerTabla">
                  Observaciones
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td style="width: 80px" class="text-center">
                  <span
                    class="pointer mr-1"
                    title="Editar"
                    (click)="openModal(data, rowIndex, 'E', NO_MADERABLE)"
                    ><i class="pi pi-pencil"></i
                  ></span>
                  <span
                    class="pointer"
                    title="Eliminar"
                    (click)="
                      openEliminarActividadAprovechamiento(
                        $event,
                        rowIndex,
                        data,
                        NO_MADERABLE
                      )
                    "
                    ><i class="pi pi-trash"></i
                  ></span>
                </td>
                <td class="text-left">{{ data.actividad }}</td>
                <td style="width: 200px; max-width: 250px">
                  {{ data.descripcionDetalle }}
                </td>
                <td style="width: 200px; max-width: 250px">
                  {{ data.equipo }}
                </td>
                <td style="width: 200px; max-width: 800px">
                  {{ data.personal }}
                </td>
                <td style="width: 200px; max-width: 800px">
                  {{ data.detalle }}
                </td>
              </tr>
              <!--tr *ngFor="let data2 of lstData2">
                                <ng-container *ngTemplateOutlet="bodyTable;context:{data:data2}"
                                 ></ng-container>
                            </tr-->
            </ng-template>
          </p-table>
        </p-accordionTab>
      </p-accordion>
      <!-- <div class="row">
                <div class="col-12">
                    <br/>
                    <button  class="btn btn-sm btn-primary2" (click)="guardarActividadAprovechamiento()">Guardar</button>
                    <br/>
                </div> 
            </div> -->
    </div>
  </div>

  <br />
  <br />

  <div class="step__btn mt-4 mb-4">
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>

    <button class="btn-primary2" (click)="guardarActividadAprovechamiento()">
      Guardar
    </button>

    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
</div>

<p-dialog
  appendTo="body"
  header="{{ tituloModalMantenimiento }}"
  [(visible)]="verModalMantenimiento"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [maximizable]="false"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <form [formGroup]="MantenedorFormulario" novalidate>
      <!--div class="form-group">
                <label class="label">Aprovechamiento</label>
                <div class="form-control-selectk">
                    <p-dropdown appendTo="body" formControlName="idTipoAprovecamiento" [options]="comboAprovechamiento" optionValue="value"   optionLabel="text"></p-dropdown>
                </div> 
                <mensaje-error-control [control]="MantenedorFormulario.controls['idTipoAprovecamiento']"></mensaje-error-control>
            </div-->
      <div class="form-group">
        <label class="label">Actividad: *</label>
        <input
          formControlName="actividad"
          type="text"
          class="form-control"
          maxlength="255"
          placeholder=""
        />
        <mensaje-error-control
          [control]="MantenedorFormulario.controls['actividad']"
        ></mensaje-error-control>
        <!--div class="form-control-selectk">
                    <p-dropdown appendTo="body" formControlName="idActividad" [options]="comboActividad" optionValue="value"   optionLabel="text"></p-dropdown>
                </div> 
                <mensaje-error-control [control]="MantenedorFormulario.controls['idActividad']"></mensaje-error-control-->
      </div>
      <!--div class="form-group" *ngIf="showOtroActividad">
                <label class="label">Especificar Actividad</label>
                <input formControlName="actividad"  type="text" class="form-control"  placeholder="" > 
                <mensaje-error-control [control]="MantenedorFormulario.controls['actividad']"></mensaje-error-control>
            </div-->
      <div class="form-group">
        <label class="label">Descripción del sistema a utilizar: *</label>
        <input
          formControlName="descripcionDetalle"
          type="text"
          class="form-control"
          placeholder=""
          maxlength="255"
        />
        <mensaje-error-control
          [control]="MantenedorFormulario.controls['descripcionDetalle']"
        >
        </mensaje-error-control>
      </div>
      <div class="form-group">
        <label class="label">Equipos e insumos a utilizar: *</label>
        <input
          formControlName="equipo"
          type="text"
          class="form-control"
          placeholder=""
          maxlength="255"
        />
        <mensaje-error-control
          [control]="MantenedorFormulario.controls['equipo']"
        ></mensaje-error-control>
      </div>
      <div class="form-group">
        <label class="label">Personal requerido: *</label>
        <input
          formControlName="personal"
          type="text"
          class="form-control"
          placeholder=""
          maxlength="255"
        />
        <mensaje-error-control
          [control]="MantenedorFormulario.controls['personal']"
        ></mensaje-error-control>
      </div>
      <div class="form-group">
        <label class="label">Observaciones: *</label>
        <textarea
          cols="3"
          rows="4"
          class="form-control"
          formControlName="detalle"
          placeholder=""
          maxlength="250"
        ></textarea>
       
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="guardarRegistro()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verModalMantenimiento = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>

<ng-template #bodyTable let-data="data" let-rowIndex="rowIndex">
  <td style="width: 80px" class="text-center">
    <span
      class="pointer mr-1"
      title="Editar"
      (click)="openModal(data, rowIndex, 'E', '')"
      ><i class="pi pi-pencil"></i
    ></span>
    <span
      class="pointer"
      title="Eliminar"
      (click)="openEliminar($event, rowIndex, data)"
      ><i class="pi pi-trash"></i
    ></span>
  </td>
  <td class="text-left">{{ data.actividad }}</td>
  <td style="width: 200px; max-width: 250px">{{ data.descripcionDetalle }}</td>
  <td style="width: 200px; max-width: 250px">{{ data.equipo }}</td>
  <td style="width: 200px; max-width: 800px">{{ data.personal }}</td>
  <td style="width: 200px; max-width: 800px">{{ data.observacion }}</td>
</ng-template>
