.headerTabla {
    color: #707c97 !important;
    background: rgba(223, 224, 235, 0.5) !important;
    font-size: 10px;
    height: 35px;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 600;
}

textarea {
    resize: none;
}
