<p-dialog header="Buscar Contrato" appendTo="body" [(visible)]="verModalBuscarTH" [modal]="true"
    [style]="{width: '60vw'}" [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="true" (onHide)="close()">
    <ng-template pTemplate="content">
        <div class="row m-0">
            <div class="col-12 col-sm-4">
                <div class="form-group">
                    <label class="label">Número de Contrato</label>
                    <div class="form-control-selectk">
                        <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="queryIdContratos">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="form-group">
                    <label class="label">Nombre Titular o DNI Titular</label>
                    <div class="form-control-selectk">
                        <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="queryContratos">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-3">
                <div class="form-group">
                    <label class="label">&nbsp;&nbsp;</label>
                    <div class="text-center">
                        <button type="button" class="btn-primary2" (click)="filtrarContrato()">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-12">
                <p-table [value]="contratos" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} "
                    [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 50px;"></th>
                            <th>Número de Contrato</th>
                            <th>Nombre Titular</th>
                            <th>DNI Titular</th>
                            <th>Nombre Representate</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                        <tr>
                            <td>
                                <p-radioButton name="contrato" [(ngModel)]="selectContrato" [value]="data">
                                </p-radioButton>
                            </td>
                            <td class="text-center">{{data.idContrato}}</td>
                            <td>{{data.nombreTitular}}</td>
                            <td>{{data.dniTitular}}</td>
                            <th>{{data.nombreRepresentanteLegal }}</th>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button icon="pi pi-save" (click)="aceptarTH()" pButton pRipple type="button" label="Aceptar"
            class="p-button-success p-button-outlined"></button>
        <button icon="pi pi-times" (click)="close()" pButton pRipple type="button" label="Cancelar"
            class="p-button-danger p-button-outlined"></button>
    </ng-template>
</p-dialog>