<div class="row m-0">
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Tipo Documento</label>
      <div
        class="form-control-selectk"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud != null"
      >
        <p-dropdown
          [options]="lstTipoDocumento"
          [(ngModel)]="solicitudAcceso.codigoTipoDocumento"
          optionLabel="valor1"
          optionValue="codigo"
          placeholder="Seleccione"
          [disabled]="!observado"
        >
        </p-dropdown>
      </div>

      <div
        class="form-control-selectk"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud == null"
      >
        <p-dropdown
          [options]="lstTipoDocumento"
          [(ngModel)]="solicitudAcceso.tipoDocumentoElaborador"
          optionLabel="valor1"
          optionValue="codigo"
          placeholder="Seleccione"
          [disabled]="!observado"
        >
        </p-dropdown>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Número Documento</label>
      <input
        type="text"
        maxlength="8"
        [(ngModel)]="solicitudAcceso.numeroDocumento"
        class="form-control"
        autocomplete="off"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud != null"
        [disabled]="!observado"
      />
      <input
        type="text"
        maxlength="8"
        [(ngModel)]="solicitudAcceso.documentoElaborador"
        class="form-control"
        autocomplete="off"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud == null"
        [disabled]="!observado"
      />
    </div>
  </div>
  <div
    class="col-12 col-sm-4"
    *ngIf="
      solicitudAcceso.codigoTipoPersona == 'TPERJURI' ||
      solicitudAcceso.codTipoPersona == 'TPERJURI'
    "
  >
    <div class="form-group">
      <label class="label">&nbsp;&nbsp;&nbsp;</label>
      <div class="p-field-checkbox">
        <p-checkbox
          [(ngModel)]="checkedRepresentante"
          [binary]="true"
          inputId="representante"
          (ngModelChange)="changeRepresentante($event)"
          [disabled]="!observado"
        ></p-checkbox>
        <label class="m-0 pl-3 pointer" for="representante"
          >Es Representante Legal</label
        >
      </div>
    </div>
  </div>
</div>
<div class="row m-0">
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Nombres</label>
      <input
        maxlength="100"
        [(ngModel)]="solicitudAcceso.nombres"
        type="text"
        class="form-control"
        autocomplete="off"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud != null"
        [disabled]="!observado"
      />
      <input
        maxlength="100"
        [(ngModel)]="solicitudAcceso.nombreElaborador"
        type="text"
        class="form-control"
        autocomplete="off"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud == null"
        [disabled]="!observado"
      />
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Apellido Paterno</label>
      <input
        maxlength="100"
        [(ngModel)]="solicitudAcceso.apellidoPaterno"
        type="text"
        class="form-control"
        autocomplete="off"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud != null"
        [disabled]="!observado"
      />
      <input
        maxlength="100"
        [(ngModel)]="solicitudAcceso.apellidoPaternoElaborador"
        type="text"
        class="form-control"
        autocomplete="off"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud == null"
        [disabled]="!observado"
      />
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Apellido Materno</label>
      <input
        maxlength="100"
        [(ngModel)]="solicitudAcceso.apellidoMaterno"
        type="text"
        class="form-control"
        autocomplete="off"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud != null"
        [disabled]="!observado"
      />
      <input
        maxlength="100"
        [(ngModel)]="solicitudAcceso.apellidoMaternoElaborador"
        type="text"
        class="form-control"
        autocomplete="off"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud == null"
        [disabled]="!observado"
      />
    </div>
  </div>
</div>
<div class="row m-0">
  <div class="col-12 col-sm-8">
    <div class="form-group">
      <label class="label">Email</label>
      <input
        maxlength="100"
        [(ngModel)]="solicitudAcceso.email"
        type="text"
        class="form-control"
        autocomplete="off"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud != null"
        [disabled]="!observado"
      />
      <input
        maxlength="100"
        [(ngModel)]="solicitudAcceso.correo"
        type="text"
        class="form-control"
        autocomplete="off"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud == null"
        [disabled]="!observado"
      />
    </div>
  </div>
</div>
