div.input-group-k.file{
    cursor: pointer;
}
div.input-group-k.file .input-group .input-group-text{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #4A962C;
    font-weight: bold;
    background: #4a962c40;
}
div.input-group-k.file .input-group input{
    box-shadow: none !important;
    outline: none !important;
    border-color: #ced4da !important;
    cursor: pointer;
}
.class1::before{
    content: 'Pendiente'; 
    color: rgb(226, 226, 37);
    font-weight: bold;
}
.class2::before {
    content: 'Observado'; 
    color: red;
    font-weight: bold;
}
.class3::before{
    content: 'Evaluado'; 
    color: #4a962c;
    font-weight: bold;
}