<div class="container-fluit">
  <div class="row m-0 mb-3">
    <!-- TITULO -->
    <div class="col-12">
      <h3 class="title">Sincronización</h3>
    </div>
    <!-- FILTROS -->
    <div class="col-12">
      <div class="panelk br10 p-3">
        <div class="row">
          <!-- Inputs -->
          <div class="col-12 col-sm-6 form-group">
            <label class="label">Fecha Inicial:</label>
            <div class="content-date">
              <input name="fechainit" autocomplete="off" class="form-control form-control-sm"
                [(ngModel)]="requestFiltro.fechaInicial" matInput [matDatepicker]="fechainit" readonly>
              <i class="pi pi-calendar pointer" (click)="fechainit.open()"></i>
              <mat-datepicker #fechainit></mat-datepicker>
            </div>
          </div>
          <div class="col-12 col-sm-6 form-group">
            <label class="label">Fecha Final:</label>
            <div class="content-date">
              <input name="fechaEnd" autocomplete="off" class="form-control form-control-sm"
                [(ngModel)]="requestFiltro.fechaFinal" matInput [matDatepicker]="fechaEnd" readonly>
              <i class="pi pi-calendar pointer" (click)="fechaEnd.open()"></i>
              <mat-datepicker #fechaEnd></mat-datepicker>
            </div>
          </div>
          <!-- Botones -->
          <div class="col-sm-12 my-2 form-group text-center">
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnLimpiar()">Limpiar</button>
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnBuscar()">Buscar</button>
            <button class="btn btn-sm btn-secondary" (click)="btnNuevo()">Nuevo</button>
            <button class="btn btn-sm btn-secondary" (click)="btnSincronizar()">Sincronizar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- TABLA -->
    <div class="col-12 mt-4">

      <p-table [value]="listaBandeja" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" (onPageChange)="loadData($event)"
      currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]" [totalRecords]="listaBandeja.length">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Nombre Usuario Sincroniza</th>
            <th>Fecha Sincronización</th>
            <th>Ver Detalle</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fila>
          <tr>
            <td>{{fila.idSincronizacionHistorico}}</td>
            <td>{{fila.nombreUsuarioSincroniza}}</td>
            <td>{{fila.fechaRegistro | date: "dd/MM/YYYY" : 'UTC'}}</td>
            <td><span class="pointer"><i class="pi pi-eye" title="Ver Detalle" (click)="btnDetalle(fila)"></i></span></td>
          </tr>
        </ng-template>
      </p-table>

      <!-- <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)"
        [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros">
      </p-paginator> -->

    </div>
  </div>
</div>
<p-confirmPopup></p-confirmPopup>
