<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title">Lista de Solicitudes Generación de Contrato</h3>
    </div>
    <div class="col-sm-12">

      <div class="panelk br10 p-3">
        <div class="row">
          <div class="col-12 col-sm-6 form-group">
            <label class="label">Tipo Documento de Gestión:</label>
            <div class="form-control-selectk">
              <p-dropdown class="fomr-control" placeholder="Seleccione" optionValue="codigo"
                optionLabel="valorPrimario" [options]="comboDocGestion" [(ngModel)]="selectTipoDocGestion">
              </p-dropdown>
            </div>
          </div>
          <div class="col-12 col-sm-6 mb-2 form-group">
            <label class="label">N° Documento Gestión:</label>
            <input class="form-control form-control-sm " type="number" numero autocomplete="off" [maxLength]="9"
              [(ngModel)]="selectedIdProceso" placeholder="Ingrese N° de Documento Gestión" />
          </div>
          <!-- <div class="col-sm-12 col-md-4 mb-2 form-group">
            <label class="label">Estado:</label>
            <div class="form-control-selectk">
              <p-dropdown class="fomr-control" [options]="listEstadoContrato" optionLabel="valorPrimario"
                optionValue="codigo" [(ngModel)]="selectedEstadoContrato" placeholder="Seleccione"></p-dropdown>
            </div>
          </div> -->
          <div class="col-sm-12 my-2 form-group text-center">
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnLmipiar()">Limpiar</button>
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnBuscar()">Buscar</button>
            <button class="btn btn-sm btn-secondary" *ngIf="usuario.sirperfil === perfil.AUTORIDAD_REGIONAL"
              (click)="verModalGeneracionContrato()">Nuevo</button>
          </div>
        </div>
      </div>
      <br>

      <!--{first} al {last} of {totalRecords}  propiedades de paginado -->
      <div class="tablek">
        <p-table [value]="listContrato">
          <ng-template pTemplate="header">
            <tr>
              <th style="min-width: 80px;">Acciones</th>
              <th>Tipo Doc. Gestión</th>
              <th>N° Doc. Gestión</th>
              <th>Título Habilitante</th>
              <th>Representante Legal</th>
              <th>Usuario Postulante</th>
              <th>Estado</th>
              <th>Remitido</th>
              <th>Entidades Externas</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-obj>
            <tr>
              <td>
                <span style="cursor: pointer;" (click)="btnVerDetalle(obj)" title="Ver detalle"><i
                    class="pi pi-eye mr-2"></i></span>
                <span style="cursor: pointer;" *ngIf="validarBtnRemitir(obj)" (click)="btnRemitirInfo($event, obj)"
                  title="Enviar"><i class="pi pi-send mr-2"></i>
                </span>
                <span style="cursor: pointer;" *ngIf="validarBtnEnviar(obj)" (click)="btnEviarInfoEspacial(obj)"
                  title="Enviar información espacial"><i class="pi pi-book"></i>
                </span>
              </td>
              <td>{{obj.tipoDocumentoGestionDescripcion}}</td>
              <td>{{obj.documentoGestion}}</td>
              <td>{{obj.codigoTituloH}}</td>
              <td>{{obj.nombreRepresentanteLegal}}</td>
              <td>{{obj.nombreUsuarioPostulante}}</td>
              <td>{{obj.descripcionEstadoContrato}}</td>
              <td>{{validarDescripcionRemitir(obj)}}</td>
              <td>{{validarDescripcionExterno(obj)}}</td>
            </tr>
          </ng-template>
        </p-table>
        <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)"
          [showCurrentPageReport]="true" currentPageReportTemplate="Total : {totalRecords} registros"
          [rowsPerPageOptions]="[10,25,50]"></p-paginator>
      </div>

    </div>

  </div>
</div>

<p-toast position="top-right" key="tl"></p-toast>
<p-toast position="top-right" key="tr"></p-toast>
<p-confirmPopup></p-confirmPopup>