<div class="container-fluid">
    <div class="row">
      <div class="col-12 pt-3 mb-2">
        <p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>
      </div>
      <div class="col-sm-12">
        <h3 class="title">Resultado de la evaluacion de la solicitud de otorgamiento del permiso</h3>
        <label class="mt-3">Caso Favorable</label>
      </div>
  
      <div class="col-sm-12">
        <div class="table">
          <p-table [value]="[{}]">
            <ng-template pTemplate="header">
              <tr>
                <th scope="col">Código Único Solicitudes</th>
                <th scope="col">Cod. Unico de permiso</th>
                <th scope="col">Genera Resolucion de aprobacion</th>
                <th scope="col">Genera Formato de permiso</th>
                <th scope="col">Adjuntar Resolucion de aprobacion</th>
                <th scope="col">Adjuntar Formato de Permiso </th>
                <th scope="col" colspan="3" class="text-center">Remitir al usuario </th>
              </tr>
  
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>16-LOR-S001</td>
                <td>
                  <button *ngIf="!isEmittedFavorable" class="btn btn-sm btn-secondary chip-green">LOR-160106-BL-2021-001</button>
                  <div class="row m-0" *ngIf="isEmittedFavorable">
                    <div class="col-6 m-0" style="padding: 0px;">
                      <input id="codigo" class="form-control from-control-sm" type="text"/>
                    </div>
                    <div class="col-4  m-0" style="padding: 0px;">
                      <button class="btn btn-sm btn-secondary chip-green">Genera Código</button>
                    </div>
                  </div>
                </td>
                <td> 
                  <button class="btn btn-sm btn-secondary chip-green">
                    <i class="pi pi-download" title="adjuntar"></i> Descargar Plantilla
                  </button>
                </td>
                <td>
                  <button class="btn btn-sm btn-secondary chip-green">
                    <i class="pi pi-download" title="adjuntar"></i> Descargar Plantilla
                  </button>
                </td>
                <td class="text-center">                             
                  <i class="pi pi-upload" title="adjuntar" style="font-size: 2rem"></i>                  
                </td>
                <td class="text-center">                             
                  <i class="pi pi-upload" title="adjuntar" style="font-size: 2rem"></i>                  
                </td>
                <td>
                  <button *ngIf="!isEmittedFavorable" class="btn-primary2" (click)="guardarCasoFavorable()">Remitir Resolucion</button>
                  <button *ngIf="isEmittedFavorable"  class="btn btn-sm btn-green">Emitido</button>
                </td>
               
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>


      <label class="mt-3">Caso Desfavorable</label>
      <div class="col-sm-12">
        <div class="table">
          <p-table [value]="[{}]">
            <ng-template pTemplate="header">
              <tr>
                <th scope="col">Código Único Solicitudes</th>
                <th scope="col">Cod. Unico de permiso</th>
                <th scope="col">Genera Resolucion de desaprobación o en abandono</th>
                <th scope="col">Adjunta resolucion de desaprobación o en abandono</th>                
                <th scope="col" class="text-center">Remitir al usuario </th>
                <th *ngIf="isEmittedDesFavorable" scope="col" >Formato para descargar</th>
                <th *ngIf="isEmittedDesFavorable" scope="col" >Sin impugnación "Firmeza de resolución"</th>
              </tr>
  
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>16-LOR-S001</td>
                <td>
                  <button *ngIf="!isEmittedDesFavorable" class="btn btn-sm btn-secondary chip-green">LOR-160106-BL-2021-001</button>
                  <div class="row m-0" *ngIf="isEmittedDesFavorable">
                    <div class="col-6 m-0" style="padding: 0px;">
                      <input id="codigo" class="form-control from-control-sm" type="text"/>
                    </div>
                    <div class="col-4  m-0" style="padding: 0px;">
                      <button class="btn btn-sm btn-secondary chip-green">Genera Código</button>
                    </div>
                  </div>
                </td>
                <td> 
                  <button class="btn btn-sm btn-secondary chip-green">
                    <i class="pi pi-download" title="adjuntar"></i> Descargar Plantilla
                  </button>
                </td>                
                <td class="text-center">                             
                  <i class="pi pi-upload" title="adjuntar" style="font-size: 2rem"></i>                  
                </td>                
                <td>
                  <button *ngIf="!isEmittedDesFavorable" class="btn-primary2" (click)="guardarCasoDesfavorable()">Remitir Resolucion</button>
                  <button *ngIf="isEmittedDesFavorable"  class="btn btn-sm btn-green">Emitido</button>
                </td>
                <td *ngIf="isEmittedDesFavorable" class="text-center">
                  <button class="btn btn-sm btn-secondary chip-green" (click)="openModalPlantilla()">
                    <i class="pi pi-download" title="adjuntar"></i> Plantilla Firmeza
                  </button>
                </td>
                <td *ngIf="isEmittedDesFavorable" class="text-center">
                  <i class="pi pi-upload" title="adjuntar" style="font-size: 2rem"></i>      
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
  
    </div>