<div class="container-fluit  mt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="Formulario" [selected]="true">
          <div class="row m-0">
            <div class="col-12">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 250px;">Anexo</th>
                    <!-- <th>Ver</th> -->
                    <th style="width: 100px;">Estado</th>
                    <th style="width: 150px;">Conformidad</th>
                    <th style="width: 250px;">Lugar</th>
                    <th style="width: 200px;">Fecha</th>
                    <th class="text-center" style="width: 100px;">Descargar Formato</th>
                    <th class="text-center" style="width: 320px;">Adjuntar Formato Firmado (.pdf)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr> <!-- Anexo 1 -->
                    <td class="text-left">{{data.anexo1.index + 1}}. {{data.anexo1.nombre}}</td>
                    <!-- <td><i class="pi pi-tag pointer" (click)="verAnexo(data.anexo1.index)"></i></td> -->
                    <td><span class="{{data.anexo1.h2EstadoClass}} fz-11">{{request.anexo1.descripcionCodigoEstado}}</span></td>
                    <td>
                      <p-checkbox [disabled]="isDisbledFormu" [binary]="true" [(ngModel)]="request.anexo1.conforme"
                        (ngModelChange)="clickCheck(request.anexo1, $event)"></p-checkbox>
                    </td>
                    <td>
                      <input class="form-control" type="text" maxlength="100" autocomplete="off" placeholder="Ingrese lugar"
                      [(ngModel)]="request.anexo1.lugar" [disabled]="!request.anexo1.conforme || isDisbledFormu"/>
                    </td>
                    <td>
                      <div class="content-date">
                        <input name="fecha1" autocomplete="off" class="form-control form-control-sm"
                        [(ngModel)]="request.anexo1.fechaFirma" matInput [matDatepicker]="fecha1" readonly [disabled]="!request.anexo1.conforme || isDisbledFormu">
                        <i class="pi pi-calendar pointer" (click)="fecha1.open()" ></i>
                        <mat-datepicker #fecha1></mat-datepicker>
                        </div>
                    </td>
                    <td>
                      <button class="btn btn-sm btn-secondary" style="min-width: 40px" (click)="descargarSolicitud(1,request.anexo1.lugar,request.anexo1.fechaFirma)"
                        [disabled]="!request.anexo1.conforme || isDisbledFormu">
                        <i class="pi pi-download" aria-hidden="true"></i>
                      </button>
                    </td>
                    <td>
                      <app-carga-archivo-general accept=".pdf" [tipoDoc]="request.anexo1.solicitudConcesionArchivo.tipoDocumento"
                        [idArchivo]="request.anexo1.solicitudConcesionArchivo.idArchivo" [disabled]="!request.anexo1.conforme || isDisbledFormu"
                        (registrarArchivo)="registrarArchivo($event, 1)"
                        (eliminarArchivo)="eliminarArchivo($event, 1)">
                      </app-carga-archivo-general>
                    </td>
                  </tr>

                  <tr> <!-- Anexo 2 -->
                    <td class="text-left">{{data.anexo2.index + 1}}. {{data.anexo2.nombre}}</td>
                    <!-- <td><i class="pi pi-tag pointer" (click)="verAnexo(data.anexo2.index)"></i></td> -->
                    <td><span class="{{data.anexo2.h2EstadoClass}} fz-11">{{request.anexo2.descripcionCodigoEstado}}</span></td>
                    <td>
                      <p-checkbox [disabled]="isDisbledFormu" [binary]="true" [(ngModel)]="request.anexo2.conforme"
                      (ngModelChange)="clickCheck(request.anexo2, $event)"></p-checkbox>
                    </td>
                    <td>
                      <input class="form-control" type="text" maxlength="100" autocomplete="off" placeholder="Ingrese lugar"
                      [(ngModel)]="request.anexo2.lugar" [disabled]="!request.anexo2.conforme || isDisbledFormu"/>
                    </td>
                    <td>
                      <div class="content-date">
                        <input name="fecha2" autocomplete="off" class="form-control form-control-sm"
                        [(ngModel)]="request.anexo2.fechaFirma" matInput [matDatepicker]="fecha2" readonly [disabled]="!request.anexo2.conforme || isDisbledFormu">
                        <i class="pi pi-calendar pointer" (click)="fecha2.open()"></i>
                        <mat-datepicker #fecha2></mat-datepicker>
                        </div>
                    </td>
                    <td>
                      <button class="btn btn-sm btn-secondary" style="min-width: 40px" (click)="descargarSolicitud(2,request.anexo2.lugar,request.anexo2.fechaFirma)"
                        [disabled]="!request.anexo2.conforme || isDisbledFormu">
                        <i class="pi pi-download" aria-hidden="true"></i>
                      </button>
                    </td>
                    <td>
                      <app-carga-archivo-general accept=".pdf" [tipoDoc]="request.anexo2.solicitudConcesionArchivo.tipoDocumento"
                        [idArchivo]="request.anexo2.solicitudConcesionArchivo.idArchivo" [disabled]="!request.anexo2.conforme || isDisbledFormu"
                        (registrarArchivo)="request.anexo2.solicitudConcesionArchivo.idArchivo = $event"
                        (eliminarArchivo)="eliminarArchivo($event, 2)">
                      </app-carga-archivo-general>
                    </td>
                  </tr>

                  <tr> <!-- Anexo 3 -->
                    <td class="text-left">{{data.anexo3.index + 1}}. {{data.anexo3.nombre}}</td>
                    <!-- <td><i class="pi pi-tag pointer" (click)="verAnexo(data.anexo3.index)"></i></td> -->
                    <td><span class="{{data.anexo3.h2EstadoClass}} fz-11">{{request.anexo3.descripcionCodigoEstado}}</span></td>
                    <td>
                      <p-checkbox [disabled]="isDisbledFormu" [binary]="true" [(ngModel)]="request.anexo3.conforme"
                        (click)="clickCheck(request.anexo3, $event)"></p-checkbox>
                    </td>
                    <td>
                      <input class="form-control" type="text" maxlength="100" autocomplete="off" placeholder="Ingrese lugar"
                      [(ngModel)]="request.anexo3.lugar" [disabled]="!request.anexo3.conforme || isDisbledFormu"/>
                    </td>
                    <td>
                      <div class="content-date">
                        <input name="fecha3" autocomplete="off" class="form-control form-control-sm"
                        [(ngModel)]="request.anexo3.fechaFirma" matInput [matDatepicker]="fecha3" readonly [disabled]="!request.anexo3.conforme || isDisbledFormu"/>
                        <i class="pi pi-calendar pointer" (click)="fecha3.open()"></i>
                        <mat-datepicker #fecha3></mat-datepicker>
                        </div>
                    </td>
                    <td>
                      <button class="btn btn-sm btn-secondary" style="min-width: 40px" (click)="descargarSolicitud(3, request.anexo3.lugar, request.anexo3.fechaFirma)"
                        [disabled]="!request.anexo3.conforme || isDisbledFormu">
                        <i class="pi pi-download" aria-hidden="true"></i>
                      </button>
                    </td>
                    <td>
                      <app-carga-archivo-general accept=".pdf" [tipoDoc]="request.anexo3.solicitudConcesionArchivo.tipoDocumento"
                        [idArchivo]="request.anexo3.solicitudConcesionArchivo.idArchivo" [disabled]="!request.anexo3.conforme || isDisbledFormu"
                        (registrarArchivo)="request.anexo3.solicitudConcesionArchivo.idArchivo = $event"
                        (eliminarArchivo)="eliminarArchivo($event, 3)">
                      </app-carga-archivo-general>
                    </td>
                  </tr>

                  <tr> <!-- Anexo 4 -->
                    <td class="text-left">{{data.anexo4.index + 1}}. {{data.anexo4.nombre}}</td>
                    <!-- <td><i class="pi pi-tag pointer" (click)="verAnexo(data.anexo4.index)"></i></td> -->
                    <td><span class="{{data.anexo4.h2EstadoClass}} fz-11">{{request.anexo4.descripcionCodigoEstado}}</span></td>
                    <td>
                      <p-checkbox [disabled]="isDisbledFormu || modalidadSC!='SCMODCONS'" [binary]="true" [(ngModel)]="request.anexo4.conforme"
                        (ngModelChange)="clickCheck(request.anexo4, $event)"></p-checkbox>
                    </td>
                    <td>
                      <input class="form-control" type="text" maxlength="100" autocomplete="off" placeholder="Ingrese lugar"
                      [(ngModel)]="request.anexo4.lugar" [disabled]="!request.anexo4.conforme || isDisbledFormu "/>
                    </td>
                    <td>
                      <div class="content-date">
                        <input name="fecha4" autocomplete="off" class="form-control form-control-sm"
                        [(ngModel)]="request.anexo4.fechaFirma" matInput [matDatepicker]="fecha4" readonly [disabled]="!request.anexo4.conforme || isDisbledFormu">
                        <i class="pi pi-calendar pointer" (click)="fecha4.open()"></i>
                        <mat-datepicker #fecha4></mat-datepicker>
                        </div>
                    </td>
                    <td>
                      <button class="btn btn-sm btn-secondary" style="min-width: 40px" (click)="descargarSolicitud(4, request.anexo4.lugar, request.anexo4.fechaFirma)"
                        [disabled]="!request.anexo4.conforme || isDisbledFormu">
                        <i class="pi pi-download" aria-hidden="true"></i>
                      </button>
                    </td>
                    <td>
                      <app-carga-archivo-general accept=".pdf" [tipoDoc]="request.anexo4.solicitudConcesionArchivo.tipoDocumento"
                        [idArchivo]="request.anexo4.solicitudConcesionArchivo.idArchivo" [disabled]="!request.anexo4.conforme || isDisbledFormu"
                        (registrarArchivo)="request.anexo4.solicitudConcesionArchivo.idArchivo = $event"
                        (eliminarArchivo)="eliminarArchivo($event, 4)">
                      </app-carga-archivo-general>
                    </td>
                  </tr>

                  <tr> <!-- Anexo 5 -->
                    <td class="text-left">{{data.anexo5.index + 1}}. {{data.anexo5.nombre}}</td>
                    <!-- <td><i class="pi pi-tag pointer" (click)="verAnexo(data.anexo5.index)"></i></td> -->
                    <td><span class="{{data.anexo5.h2EstadoClass}} fz-11">{{request.anexo5.descripcionCodigoEstado}}</span></td>
                    <td>
                      <p-checkbox [disabled]="isDisbledFormu" [binary]="true" [(ngModel)]="request.anexo5.conforme"
                        (ngModelChange)="clickCheck(request.anexo5, $event)"></p-checkbox>
                    </td>
                    <td>
                      <input class="form-control" type="text" maxlength="100" autocomplete="off" placeholder="Ingrese lugar"
                      [(ngModel)]="request.anexo5.lugar" [disabled]="!request.anexo5.conforme || isDisbledFormu"/>
                    </td>
                    <td>
                      <div class="content-date">
                        <input name="fecha5" autocomplete="off" class="form-control form-control-sm"
                        [(ngModel)]="request.anexo5.fechaFirma"  matInput [matDatepicker]="fecha5" readonly [disabled]="!request.anexo5.conforme || isDisbledFormu">
                        <i class="pi pi-calendar pointer" (click)="fecha5.open()"></i>
                        <mat-datepicker #fecha5></mat-datepicker>
                        </div>
                    </td>
                    <td>
                      <button class="btn btn-sm btn-secondary" style="min-width: 40px" (click)="descargarSolicitud(5, request.anexo5.lugar, request.anexo5.fechaFirma)"
                        [disabled]="!request.anexo5.conforme || isDisbledFormu">
                        <i class="pi pi-download" aria-hidden="true"></i>
                      </button>
                    </td>
                    <td>
                      <app-carga-archivo-general accept=".pdf" [tipoDoc]="request.anexo5.solicitudConcesionArchivo.tipoDocumento"
                        [idArchivo]="request.anexo5.solicitudConcesionArchivo.idArchivo" [disabled]="!request.anexo5.conforme || isDisbledFormu"
                        (registrarArchivo)="request.anexo5.solicitudConcesionArchivo.idArchivo = $event"
                        (eliminarArchivo)="eliminarArchivo($event, 5)">
                      </app-carga-archivo-general>
                    </td>
                  </tr>

                  <tr> <!-- Anexo 6 -->
                    <td class="text-left">{{data.anexo6.index + 1}}. {{data.anexo6.nombre}}</td>
                    <!-- <td><i class="pi pi-tag pointer" (click)="verAnexo(data.anexo6.index)"></i></td> -->
                    <td><span class="{{data.anexo6.h2EstadoClass}} fz-11">{{request.anexo6.descripcionCodigoEstado}}</span></td>
                    <td>
                      <p-checkbox [disabled]="isDisbledFormu" [binary]="true" [(ngModel)]="request.anexo6.conforme"
                        (ngModelChange)="clickCheck(request.anexo6, $event)"></p-checkbox>
                    </td>
                    <td>
                      <input class="form-control" type="text" maxlength="100" autocomplete="off" placeholder="Ingrese lugar"
                      [(ngModel)]="request.anexo6.lugar" [disabled]="!request.anexo6.conforme || isDisbledFormu"/>
                    </td>
                    <td>
                      <div class="content-date">
                        <input name="fecha6" autocomplete="off" class="form-control form-control-sm"
                        [(ngModel)]="request.anexo6.fechaFirma"  matInput [matDatepicker]="fecha6" readonly [disabled]="!request.anexo6.conforme || isDisbledFormu">
                        <i class="pi pi-calendar pointer" (click)="fecha6.open()"></i>
                        <mat-datepicker #fecha6></mat-datepicker>
                        </div>
                    </td>
                    <td>
                      <button class="btn btn-sm btn-secondary" style="min-width: 40px" (click)="descargarSolicitud(6, request.anexo6.lugar, request.anexo6.fechaFirma)"
                        [disabled]="!request.anexo6.conforme || isDisbledFormu">
                        <i class="pi pi-download" aria-hidden="true"></i>
                      </button>
                    </td>
                    <td>
                      <app-carga-archivo-general accept=".pdf" [tipoDoc]="request.anexo6.solicitudConcesionArchivo.tipoDocumento"
                        [idArchivo]="request.anexo6.solicitudConcesionArchivo.idArchivo" [disabled]="!request.anexo6.conforme || isDisbledFormu"
                        (registrarArchivo)="request.anexo6.solicitudConcesionArchivo.idArchivo = $event"
                        (eliminarArchivo)="eliminarArchivo($event, 6)">
                      </app-carga-archivo-general>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div *ngIf="isSolicitudHija" class="col-12 col-sm-6 mt-3">
              <app-carga-archivo-general accept=".pdf" [tipoDoc]="tipoDocProTec" label="Adjuntar Propuesta Técnica"
                [idArchivo]="idArchivoProTec"
                [disabled]="isDisbledFormu"
                (registrarArchivo)="registrarArchivoProTec($event)"
                (eliminarArchivo)="eliminarArchivo($event, 7)">
              </app-carga-archivo-general>
            </div>
          </div>
          <div class="row m-0" *ngIf="!isDisbledFormu">
            <div class="col-12 mt-3">
              <button type="button" class="btn-primary2 ml-0" (click)="btnGuardar()" [disabled]="isDisbledFormu">
                Guardar Datos Ingresados
              </button>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-12 mt-3" *ngIf="!isDisbledFormu && !isEstadoSolObs">
      <button type="button" class="btn-primary2" (click)="btnEnviar($event)" [disabled]="isDisbledFormu || disabledEnviar || (!disabledEnviar && isChangeCheck)">
        Enviar a Revisión
      </button>
    </div>

    <div class="col-12 mt-3" *ngIf="!isDisbledFormu && isEstadoSolObs">
      <button type="button" class="btn-primary2" (click)="btnEnviarEvaluacion($event)" [disabled]="isDisbledFormu">
        Enviar a Evaluación
      </button>
    </div>

  </div>

</div>
<p-toast position="bottom-center" key="tl"></p-toast>

