<div class="container-fluid pt-4">
    <div class="row m-0">
      <div class="col-12">
        <opiniones-shared [codigoEpica]="codigoEpica" [idPlanManejo]="idPlanManejo"></opiniones-shared>
      </div>
    </div>
</div>