<div class="row">

  <div class="col-12 form-group" *ngIf="descargaFormato" >
      <a
      pButton
      pRipple style="margin-top: 22px;"
      type="button"
      class="btn btn-sm btn-success"
      href="/assets/plantillas/PFDM/plantilla-Resolucion-Otorgamiento-de-consecion-Ecoturismo_Conservacion.docx"
      download
      target="_blank">
      Descargar formato de Resolución:</a>
  </div>

  <div class="col-12 form-group">
    <label class="label">Asunto:</label>
    <input autocomplete="off" class="form-control" type="text" name="asunto" maxlength="100"
      [(ngModel)]="resolucionRequest.comentarioResolucion" [disabled]="config.data.isView">
  </div>

  <div class="col-12 form-group">
    <label class="label">Fecha:</label>
    <div class="content-date" aling="right">
      <input autocomplete="off" type="text" name="fechaResol" class="form-control" matInput [matDatepicker]="fechaResol" readonly="true"
      [(ngModel)]="resolucionRequest.fechaResolucion" [min]="minDate"/>
      <i class="pi pi-calendar pointer" (click)="fechaResol.open()"></i>
      <mat-datepicker #fechaResol></mat-datepicker>
    </div>
  </div>

  <div class="col-12 form-group">
    <label class="label">Tipo Documento</label>
    <div class="form-control-selectk">
      <p-dropdown appendTo="body" class="fomr-control" optionValue="codigo"
        optionLabel="valorPrimario" [options]="comboTipoDocumento"
        [(ngModel)]="resolucionRequest.tipoDocArchivo" [disabled]="config.data.isView">
      </p-dropdown>
    </div>
  </div>

  <div class="col-12 form-group" >
    <upload-input-buttons [file]="fileResolucion" [label]="'Adjuntar archivo:'" [disabled]="config.data.isView"
      (registrarArchivo)="registrarArchivoAdjunto($event)"
      (eliminarArchivo)="eliminarArchivoAdjunto(fileResolucion.idArchivo)">
    </upload-input-buttons>
  </div>
  <div class="col-12 form-group" *ngIf="isPerTitularTH && tipoDocGestion=='TDGCONPFDM'">
    <upload-input-buttons [file]="fileGarantia" [label]="'Adjuntar archivo Garantia de Cumplimiento:'" [disabled]="isGarantia"
      (registrarArchivo)="registrarArchivoGarantia($event)"
      (eliminarArchivo)="eliminarArchivoGarantia(fileGarantia.idArchivo)">
    </upload-input-buttons>
  </div>


  <div class="col-12 mt-4 text-right">
    <button *ngIf="isEnviar" class="p-button-success p-button-outlined mr-2" type="button" icon="pi pi-save"
      pButton pRipple label="Enviar" (click)="btnEnviar()"></button>

    <button class="p-button-danger p-button-outlined" type="button" icon="pi pi-times" pButton pRipple
      label="Cancelar" (click)="cerrarModal()"></button>
  </div>

</div>
