<div class="row">
   

    <div  class="col-6 form-group"  >
        <label for="maquinariaEquipo">Actividad</label>
        <input maxlength="100" type="text" id="maquinariaEquipo" autocomplete="off" class="form-control contents_form_input"
        [(ngModel)]="actividad" [disabled]="!disabled" sinSpacioInit>
    </div>

    <div  class="col-6 form-group"  >
        <label for="maquinariaEquipo">Especie más Extraída</label>
        <input maxlength="100" type="text" id="maquinariaEquipo" autocomplete="off" class="form-control contents_form_input"
        [(ngModel)]="especieExtraida" sinSpacioInit>
    </div>

    <div  class="col-6 form-group"  >
        <label for="maquinariaEquipo">Observación</label>
        <input maxlength="180" type="text" id="maquinariaEquipo" autocomplete="off" class="form-control contents_form_input"
        [(ngModel)]="observacion" sinSpacioInit>
    </div>




</div>

<div class="d-flex justify-content-end">
     <button icon="pi pi-save" (click)="guardar()" pButton pRipple type="button" label="Aceptar" class="p-button-success p-button-outlined"></button>&nbsp;
     <button icon="pi pi-times" (click)="close()"  pButton pRipple type="button" label="Cancelar" class="p-button-danger p-button-outlined"></button>
</div>
