<div class="row m-0 pt-3">
  <div class="col-12">
    <p-table [value]="listCoordinatesAnexo">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 15%;">Anexos</th>
          <th style="width: 15%;">Vértice</th>
          <th style="width: 15%;">Este (E)</th>
          <th style="width: 15%;">Norte (N)</th>
          <th style="width: 40%;">Observaciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td [attr.rowspan]="data.value.length + 1">
            {{ data.key }}
          </td>
        </tr>

        <tr *ngFor="let item of data.value">
          <td>{{ item.vertice }}</td>
          <td>{{ item.este }}</td>
          <td>{{ item.norte }}</td>
          <td>
            {{item.referencia}}
          </td>
        </tr>
      </ng-template>
    </p-table>
    <br />
    <br />
    <div class="row m-0 justify-content-center">
      <div class="col-12 col-sm-8 mt-4">
        <p-table [value]="listAnexoArea" styleClass="p-datatable-gridlines">
          <ng-template pTemplate="caption">
            Área de manejo forestal
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Anexo a sectores</th>
              <th>Superficie (ha)</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{ data.anexo }}</td>
              <td>{{ data.area }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <td>Total:</td>
              <td>
                <span *ngIf="listAnexoArea.length > 0"
                  >{{ totalAnexoArea }}</span
                >
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
