<div class="panelk br10 mt-3 p-2">
  <div>
    <ng-container [ngTemplateOutlet]="conatinertopRef"></ng-container>
  </div>
  <div class="row m-0 mt-4" *ngIf="default">
    <div class="col-12">
      <label class="label fz-12">Evaluación</label>
    </div>
    <div class="col-12 col-sm-6">
      <div class="p-field-radiobutton d-inline-full">
        <p-radioButton
          (onClick)="update()"
          [(ngModel)]="base.conforme" [disabled]="disabled"
          name="esObservado"
          id="obserNo"
          [value]="true"
        ></p-radioButton>
        <label class="mr-2 pl-1 pointer" for="obserNo">Conforme</label>
      </div>
      <div class="p-field-radiobutton d-inline-full">
        <p-radioButton
          (onClick)="update()"
          [(ngModel)]="base.conforme"
          name="esObservado" [disabled]="disabled"
          id="obserSI"
          [value]="false"
        ></p-radioButton>
        <label class="mr-2 pl-1 pointer" for="obserSI">Observado</label>
      </div>
    </div>
    <div
      class="col-12 mt-3"
      *ngIf="
        !base.conforme && base.conforme !== null && base.conforme !== undefined
      "
    >
      <label class="label fz-12">Observación (máx. 250 caracteres): *</label>
      <textarea
        cols="3"
        rows="2" [disabled]="disabled"
        [(ngModel)]="base.observacion"
        class="form-control form-control-sm"
        placeholder="Ingrese observación..."
        maxlength="250"
      ></textarea>
    </div>
  </div>
  <div class="row m-0 mt-4" *ngIf="!default">
    <div class="col-12">
      <p-table [value]="[{}]">
        <ng-template pTemplate="header">
          <tr>
            <th class="col-6">Descripción</th>
            <th style="max-width: 250px"></th>
            <th style="max-width: 250px"></th>
            <th>Observación</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body">
          <tr>
            <td style="width: 40%">
              <label class="label"> Evaluación </label>
            </td>
            <td>
              <p-radioButton
                (onClick)="update()" [disabled]="disabled"
                [(ngModel)]="base.conforme"
                name="esObservado"
                id="obserNo"
                [value]="true"
              >
              </p-radioButton>
              <label class="ml-2 pointer">Conforme</label>
            </td>
            <td>
              <p-radioButton
                (onClick)="update()" [disabled]="disabled"
                [(ngModel)]="base.conforme"
                name="esObservado"
                id="obserSI"
                [value]="false"
              >
              </p-radioButton>
              <label class="ml-2 pointer">Observado</label>
            </td>
            <td>
              <div
                *ngIf="
                  !base.conforme &&
                  base.conforme !== null &&
                  base.conforme !== undefined
                "
              >
                <label class="label">(máx. 250 caracteres):*</label>
                <textarea
                  cols="3" [disabled]="disabled"
                  rows="2"
                  [(ngModel)]="base.observacion"
                  class="form-control form-control-sm"
                  placeholder="Ingrese observación..."
                  maxlength="250"
                >
                </textarea>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="mt-4">
      <ng-container [ngTemplateOutlet]="conatinerbottomRef"></ng-container>
    </div>
  </div>
</div>
