<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="2.1. Resumen de Actividades">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-sm-8" style="margin: 20px">
                  <table>
                    <tr>
                      <td>
                        <label class="m-0 pl-3 pointer">Nº PCA</label>
                      </td>
                      <td>
                        <input
                          type="text"
                          maxlength="6"
                          mask="0*"
                          [disabled]="isPerfilArffs || disabled"
                          class="form-control"
                          placeholder="Ingrese el Número de PCA"
                          [(ngModel)]="resumenAct.nroPcs"
                        />
                      </td>
                      <td>&nbsp;&nbsp;&nbsp;</td>
                      <td>
                        <label class="m-0 pl-3 pointer">Área Intervenida</label>
                      </td>
                      <td>
                        <input
                          type="text"
                          maxlength="10"
                          [disabled]="isPerfilArffs || disabled"
                          class="form-control"
                          mask="0*.00"
                          placeholder="Ingrese el Área Intervenida"
                          [(ngModel)]="resumenAct.areaHa"
                        />
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="col-2 col-sm-12 text-right">
                <button
                  (click)="
                    abrirModalActividades('Registrar Actividades', false)
                  "
                  class="btn btn-sm btn-default mb-2"
                  type="button"
                  title="Agregar"
                  [disabled]="disabled || isPerfilArffs"
                >
                  <i class="pi pi-plus"></i>
                </button>
              </div>
              &nbsp;
              <p-table [value]="listActividades"  class="table-justify" [style]="{width:'100%'}">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 50px; min-width: 50px;" class="text-center">Acciones</th>
                    <th style="width: 120px; min-width: 100px;">Actividades</th>
                    <th style="width: 120px; min-width: 100px;">Indicadores</th>
                    <th style="width: 120px; min-width: 100px;">Programado</th>
                    <th style="width: 120px; min-width: 100px;">Realizado</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr style="width: 50px; min-width: 50px;">
                    <td class="text-center">
                      <span
                        (click)="
                          !isPerfilArffs && !disabled &&
                            abrirModalActividades(
                              'Editar Actividades',
                              true,
                              data
                            )
                        "
                        class="pointer mr-1"
                        title="Editar"
                      >
                        <i class="pi pi-pencil"></i>
                      </span>
                      <span
                        class="pointer"
                        title="Eliminar"
                        (click)="
                          !isPerfilArffs && !disabled &&
                            eliminar(
                              $event,
                              data,
                              rowIndex,
                              codigosResumenActividadesPOAC.ACORDEON_2_1
                            )
                        "
                      >
                        <i class="pi pi-trash"></i>
                      </span>
                    </td>
                    <td style="width: 120px; min-width: 100px;">{{ data.actividad }}</td>
                    <td style="width: 120px; min-width: 100px;">{{ data.indicador }}</td>
                    <td style="width: 120px; min-width: 100px;">{{ data.programado }}</td>
                    <td style="width: 120px; min-width: 100px;">{{ data.realizado }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <br />
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon2_1"
            [base]="evaluacion2_1"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>

        <p-accordionTab header="2.2. Recomendaciones del POA anterior">
          <div class="row m-0 pt-3">
            <div class="col-12 pb-3">
              <label class="label">Balance de las actividades pasadas</label>
            </div>
            <div class="col-12">
              <h3 class="title2">Aspectos positivos</h3>
            </div>

            <div class="col-2 col-sm-12 text-right">
              <button
                class="btn btn-sm btn-default mb-2"
                type="button"
                title="Agregar"
                (click)="agregarData('Aspectos positivos', false, 1)"
                [disabled]="disabled || isPerfilArffs"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
            &nbsp;
            <div class="col-12">
              <p-table [value]="lstBalance">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 80px">Acciones</th>
                    <th >Aspectos Positivos</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr *ngIf="data.tipoResumen == 1">
                    <td style="width: 80px">
                      <span
                        (click)="
                          !isPerfilArffs && !disabled &&
                            agregarData(
                              'Editar Balance de las actividades pasadas Aspectos positivos',
                              true,
                              1,
                              data
                            )
                        "
                        class="pointer mr-1"
                        title="Editar"
                      >
                        <i class="pi pi-pencil"></i>
                      </span>
                      <span
                        class="pointer"
                        title="Eliminar"
                        (click)="
                          !isPerfilArffs && !disabled &&
                            eliminar(
                              $event,
                              data,
                              rowIndex,
                              codigosResumenActividadesPOAC.ACORDEON_2_2
                            )
                        "
                      >
                        <i class="pi pi-trash"></i>
                      </span>
                    </td>

                    <td>
                      <textarea style="border:none;padding-right: 3em" class="form-control" maxlength="250" rows="2" [(ngModel)]="data.resumen"></textarea>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          &nbsp;
          <div class="row m-0 pt-3">
            <div class="col-12">
              <h3 class="title2">Aspectos negativos</h3>
            </div>

            <div class="col-2 col-sm-12 text-right">
              <button
                class="btn btn-sm btn-default mb-2"
                type="button"
                title="Agregar"
                (click)="agregarData('Aspectos negativos', false, 2)"
                [disabled]="disabled || isPerfilArffs"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
            &nbsp;
            <div class="col-12">
              <p-table [value]="lstBalance">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 80px">Acciones</th>
                    <th >Aspectos Negativos</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr *ngIf="data.tipoResumen == 2">
                    <td style="width: 80px">
                      <span
                        (click)="
                          !isPerfilArffs && !disabled &&
                            agregarData(
                              'Editar Aspectos negativos',
                              true,
                              2,
                              data
                            )
                        "
                        class="pointer mr-1"
                        title="Editar"
                      >
                        <i class="pi pi-pencil"></i>
                      </span>
                      <span
                        class="pointer"
                        title="Eliminar"
                        (click)="
                          !isPerfilArffs && !disabled &&
                            eliminar(
                              $event,
                              data,
                              rowIndex,
                              codigosResumenActividadesPOAC.ACORDEON_2_2
                            )
                        "
                      >
                        <i class="pi pi-trash"></i>
                      </span>
                    </td>
                    <td>
                      <textarea style="border:none;padding-right: 3em" class="form-control" maxlength="250" rows="2" [(ngModel)]="data.resumen"></textarea>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          &nbsp;
          <div class="row m-0 pt-3">
            <div class="col-12">
              <h3 class="title2">Recomendaciones</h3>
            </div>

            <div class="col-2 col-sm-12 text-right">
              <button
                class="btn btn-sm btn-default mb-2"
                type="button"
                title="Agregar"
                (click)="agregarData('Recomendaciones', false, 3)"
                [disabled]="disabled || isPerfilArffs"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
            &nbsp;
            <div class="col-12">
              <p-table [value]="lstBalance">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 80px">Acciones</th>
                    <th >Recomendaciones</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr *ngIf="data.tipoResumen == 3">
                    <td style="width: 80px">
                      <span
                        (click)="
                          !isPerfilArffs && !disabled &&
                            agregarData('Editar Recomendaciones', true, 3, data)
                        "
                        class="pointer mr-1"
                        title="Editar"
                      >
                        <i class="pi pi-pencil"></i>
                      </span>
                      <span
                        class="pointer"
                        title="Eliminar"
                        (click)="
                          !isPerfilArffs && !disabled &&
                            eliminar(
                              $event,
                              data,
                              rowIndex,
                              codigosResumenActividadesPOAC.ACORDEON_2_2
                            )
                        "
                      >
                        <i class="pi pi-trash"></i>
                      </span>
                    </td>
                    <td>
                      <textarea style="border:none;padding-right: 3em" class="form-control" maxlength="250" rows="2" [(ngModel)]="data.resumen"></textarea>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <br />
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon2_2"
            [base]="evaluacion2_2"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

  <div class="step__btn mt-4" *ngIf="!isPerfilArffs">
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button class="btn-primary2" (click)="guardar()" [disabled]="disabled">
      Guardar
    </button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>

  <div class="step__btn mt-4" *ngIf="isPerfilArffs">
    <message-evaluation></message-evaluation>
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button class="btn-primary2" (click)="registrarEvaluacion()">
      Guardar Evaluación
    </button>
    <button class="btn-primary2" (click)="retornarFlujoEvaluacion()">
      Retornar Flujo Evaluacion
    </button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
  <br />
</div>
