<div class="col-12">
  <div class="row col-12">
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Nombre común</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="impactoObjt.nombreComun"
      />
    </div>
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Nombre nativo</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="impactoObjt.nombreNativo"
      />
    </div>
  </div>

  <div class="row col-12">
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Nombre científico</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="impactoObjt.nombreCientifico"
      />
    </div>
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Categoría de amenaza</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="impactoObjt.categoriaDeAmenaza"
      />
    </div>
  </div>

  <div class="row col-12">
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Apéndice CITES</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="impactoObjt.apendiceCites"
      />
    </div>
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Observaciones</label>
      <textarea
        maxlength="200"
        rows="4"
        class="form-control"
        [(ngModel)]="impactoObjt.observaciones"
      >
      </textarea>
    </div>
  </div>

  <div class="col-12">
    <button class="btn btn-sm btn-secondary" (click)="agregar()">Enviar</button>
  </div>
</div>
<p-toast position="bottom-center" key="tl"></p-toast>
