<div class="container-fluit">
  <div class="row m-0">

    <div class="col-12 form-group">
      <div class="p-field-radiobutton">
        <p-radioButton name="tiposolicitud" inputId="tipo1" value="1" [(ngModel)]="modelTipoSolicitud"></p-radioButton>
        <strong for="tipo1" class="label ml-2">Nueva Solicitud</strong>
      </div>
      <div class="p-field-radiobutton">
        <p-radioButton name="tiposolicitud" inputId="tipo2" value="2" [(ngModel)]="modelTipoSolicitud"></p-radioButton>
        <strong for="tipo2" class="label ml-2">Solicitud Asociada</strong>
      </div>
    </div>

    <ng-container *ngIf="modelTipoSolicitud === '1'">
      <div class="col-12 mt-3 text-center">
        <button class="p-button-success p-button-outlined mr-2" type="button" icon="pi pi-save" pButton pRipple
          label="Crear Solicitud" (click)="btnCrearNueva($event)"></button>

        <button class="p-button-danger p-button-outlined" icon="pi pi-times" type="button" pButton pRipple
          label="Cancelar" (click)="btnCancelar()"></button>
      </div>
    </ng-container>

    <ng-container *ngIf="modelTipoSolicitud === '2'">
      <div class="col-12 mt-3">
        <label class="label">Solicitudes de Concesión en publicación:</label>
      </div>
      <div class="col-12">
        <p-table [value]="listaSolicitudes">
          <ng-template pTemplate="header">
            <tr>
              <th>Acciones</th>
              <th>ID</th>
              <th>Tipo Modalidad</th>
              <th>Fecha de Creación</th>
              <th>Fecha de publicación</th>
              <!-- <th>Días Vigencia</th> -->
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data let-rowIndex="rowIndex+1">
            <tr>
              <td>
                <div class="p-field-radiobutton d-inline-full">
                  <p-radioButton name="slectedInspector" [(ngModel)]="modelSelectRadio" [value]="data.idConcesion">
                  </p-radioButton>
                </div>
              </td>
              <td>{{data.idConcesion}}</td>
              <td>{{data.descripcionModalidad}}</td>
              <td>{{data.fecha}}</td>
              <td>{{data.fechaCambioEstado | date: "dd/MM/yyyy"}}</td>
              <!-- <td>---</td> -->
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="col-12 mt-3 text-center">
        <button class="p-button-success p-button-outlined mr-2" type="button" icon="pi pi-save" pButton pRipple
          label="Crear Solicitud" (click)="btnCrearAsoc($event)"></button>

        <button class="p-button-danger p-button-outlined" icon="pi pi-times" type="button" pButton pRipple
          label="Cancelar" (click)="btnCancelar()"></button>
      </div>
    </ng-container>

  </div>
</div>