<div class="col-12 p-0">
    <p-table [value]="actividades" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
             currentPageReportTemplate="Total : {totalRecords} registros"
             [rowsPerPageOptions]="[10,25,50]" (onPage)="loadData()">
        <ng-template pTemplate="header">
            <tr>
                <th scope="col" style="width: 35%;">Medidas</th>
                <th scope="col">Descripción</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr>
                <td class="text-left">{{item.actividades}}</td>
                <td class="text-left"> {{item.descripcionSistema}} </td>
            </tr>
        </ng-template>
    </p-table>
</div>
