<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title">Fiscalización</h3>
    </div>
    <div class="col-sm-12">

      <div class="panelk br10 p-3">
        <div class="row">
          <div class="col-sm-12 col-md-6 mb-2 form-group">
            <label class="label">Proceso Postulación:</label>
            <input [maxLength]="9" class="form-control form-control-sm " type="number" numero [(ngModel)]="procesoPostulacionSelect" autocomplete="off" placeholder="Ingrese ID proceso postulación" />
          </div>

          <div class="col-sm-12 col-md-6 mb-2 form-group">
            <label class="label">Estado:</label>
            <div class="form-control-selectk">
              <p-dropdown class="fomr-control" [options]="listEstadoContrato" optionLabel="valorPrimario" optionValue="codigo" [(ngModel)]="selectedestadocontrato"></p-dropdown>
            </div>
          </div>

          <div class="col-sm-12 mt-3 mb-2 form-group text-center">
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnLmipiar()">Limpiar</button>
            <button class="btn btn-sm btn-secondary" (click)="btnBuscar()">Buscar</button>
          </div>
        </div>
      </div>
      <br>

      <div class="tablek">
        <p-table [value]="lstFiscalizacion">
          <ng-template pTemplate="header">
            <tr>
              <th>Acciones</th>
              <th>ID Proceso Postulación</th>
              <th>Código TH</th>
              <th>Fecha Fin Contrato</th>
              <th>Fecha Inicio Contrato</th>
              <th>Tipo Persona</th>
              <th>Titular</th>
              <th>Regente</th>
              <th>Estado</th>
            </tr>

          </ng-template>
          <ng-template pTemplate="body" let-obj>
            <tr>
              <td class="text-center">
                <a style="cursor: pointer;" (click)="verDetalle(obj)"> <i class="pi pi-pencil"></i> </a>
              </td>
              <td>{{obj.idProcesoPostulacion}}</td>
              <td>{{obj.codigoTituloH}}</td>
              <td>{{obj.fechaInicioContrato}}</td>
              <td>{{obj.fechaFinContrato}}</td>
              <td>{{obj.tipoPersonaTitular}}</td>
              <td>{{obj.nombreTitular}}</td>
              <td>{{obj.regente}}</td>
              <td>{{obj.estadoContrato}}</td>
            </tr>
          </ng-template>
        </p-table>
        <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)" [showCurrentPageReport]="true" currentPageReportTemplate="Total : {totalRecords} registros"
              [rowsPerPageOptions]="[10,25,50]"></p-paginator>
      </div>

    </div>

  </div>
</div>

<p-toast position="bottom-center" key="tl"></p-toast>
<p-toast position="top-right" key="tr"></p-toast>
