<div class="row">
  <div class="col-12 form-group">
    <label for="contingencia">Tipo de Actividad</label>
   
    <div >
      <div class="form-control-selectk">
        <p-dropdown
          [options]="lista"
          optionLabel="tipo"
          optionValue="tipo"
          [(ngModel)]="actividadObjt.tipo"
          placeholder="Seleccione"
        ></p-dropdown>
      </div>
    </div>
  </div>
  <div class="col-12 form-group">
    <label for="nombreActividad">Nombre Actividad</label>
    <input
      type="text"
      id="nombreActividad"
      autocomplete="off"
      class="form-control contents_form_input"
      [(ngModel)]="actividadObjt.actividad"
      maxlength="100"
    />
  </div>
  <div class="col-12 form-group">
    <label for="descripcionActividad">Descripción de impacto</label>
    <textarea
      id="descripcionActividad"
      autocomplete="off"
      class="form-control form-control-sm"
      rows="4"
      [autoResize]="autoResize"
      [(ngModel)]="actividadObjt.descripcionImpacto"
      pInputTextarea
      maxlength="250"
    ></textarea>
  </div>

  <div class="col-12 form-group">
    <label for="medidasControl">Medida de control ambiental</label>
    <input
      type="text"
      id="medidasControl"
      autocomplete="off"
      class="form-control contents_form_input"
      [(ngModel)]="actividadObjt.medidasControl"
      maxlength="100"
    />
  </div>

  <!-- <div class="col-12 mt-3">
    <button class="btn btn-sm btn-secondary" (click)="agregar()">
      Aceptar
    </button>
  </div> -->
</div>
<div class="d-flex justify-content-end">
  <button
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
    [label]="'Aceptar'"
    class="p-button-success p-button-outlined"
    style="width: 106px;"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
    style="width: 106px;"
  ></button>
</div>
<p-toast key="toast"></p-toast>
