<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="10. Evaluación Ambiental" [selected]="true">
          <div
            class="col-12 mt-4 mb-3"
            style="overflow: auto; width: 100%; height: 100%;"
          >
            <evaluacion-ambiental-tabla
              [idPlanManejo]="idPlanManejo" [disabled]="disabled"
              (list)="onList($event)"
              [isLoading]="isLoading"
            ></evaluacion-ambiental-tabla>
          </div>

          <div
            class="col-12 mt-4 mb-3"
            style="overflow: auto; width: 100%; height: 100%;"
          >
            <h3 class="title2">Cargar Información</h3>
            <div class="row">
              <div class="col-sm-4">
                <label class="label"></label><br />
                <button
                  class="btn-secondary"
                  (click)="btnDescargarFormato()"
                >
                  Descargar Formato
                </button>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="label"></label><br />
                  <upload-input-button [disabled]="disabled"
                    [(ngModel)]="archivoPGA.file"
                    label="Seleccione Archivo"
                  ></upload-input-button>
                </div>
              </div>
              <div class="col-sm-4">
                <label class="label"></label><br />
                <button class="btn-secondary" (click)="btnCargarPGA()" [disabled]="disabled">
                  Cargar Formato
                </button>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab
          header="10.1. Acciones orientadas a minimizar impactos "
          [selected]="false"
        >
          <mat-tab-group animationDuration="0ms">
            <mat-tab
              label="10.1.1. Acciones de carácter preventivo - corrector"
            >
            <div class="mt-2">
              <div class="col-2 col-sm-12 text-right">
                <button [disabled]="disabled"
                  (click)="modalActividadPreventivo()"
                  class="btn btn-sm btn-default button-more mb-2"
                  type="button"
                  label=""
                >
                  <i class="pi pi-plus"></i>
                </button>
              </div>
            </div>
              <div class="col-12 p-0 mt-4" style="margin-bottom: 100px;">
                <p-table
                  [value]="actividades1"
                  [paginator]="true"
                  [rows]="10"
                  [showCurrentPageReport]="true"
                  currentPageReportTemplate="Total : {totalRecords} registros"
                  [rowsPerPageOptions]="[10, 25, 50]"
                  class="table-justify"
                  [style]="{ width: '100%' }"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 100px; min-width: 80px;">Acciones</th>
                      <th style="min-width: 200px; width: 400px;">
                        Actividades
                      </th>
                      <th style="min-width: 200px; width: 400px;">
                        Descripción del impacto
                      </th>
                      <th style="min-width: 200px; width: 400px;">
                        Medidas de control ambiental
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template
                    pTemplate="body"
                    let-data
                    let-rowIndex="rowIndex"
                  >
                    <tr *ngIf="data.tipoAprovechamiento != 'CONTIN'">
                      <td
                        class="text-center"
                        style="width: 100px; min-width: 80px;"
                      >
                        <span
                          (click)="!disabled&&modalActividad(data)"
                          class="pointer mr-1"
                          title="Editar"
                        >
                          <i class="pi pi-pencil"></i>
                        </span>
                        <span
                          class="pointer"
                          title="Eliminar"
                          (click)="!disabled&&openEliminarPreventivoCorrector($event, data, rowIndex)"
                        >
                          <i class="pi pi-trash"></i>
                        </span>
                      </td>
                      <td style="min-width: 200px; width: 400px;">
                        {{ data.nombreAprovechamiento }}
                      </td>
                      <td style="min-width: 200px; width: 400px;">
                        {{ data.impacto }}
                      </td>
                      <td style="min-width: 200px; width: 400px;">
                        {{ data.medidasControl }}
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </mat-tab>
            <mat-tab label="10.1.2. Acciones de Vigilacia y Seguimiento">
              <div class="mt-2">
                <div class="col-2 col-sm-12 text-right">
                  <button [disabled]="disabled"
                    (click)="modalActividadVigilancia()"
                    class="btn btn-sm btn-default button-more mb-2"
                    type="button"
                    label=""
                  >
                    <i class="pi pi-plus"></i>
                  </button>
                </div>
              </div>
              <div class="col-12 p-0 mt-4" style="margin-bottom: 100px;">
                <p-table
                  [value]="actividades2"
                  [paginator]="true"
                  [rows]="10"
                  [showCurrentPageReport]="true"
                  currentPageReportTemplate="Total : {{ totalRecordsAVS }} registros"
                  [rowsPerPageOptions]="[10, 25, 50]"
                  class="table-justify"
                  [style]="{ width: '100%' }"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 100px; min-width: 80px;">Acciones</th>
                      <th style="min-width: 200px; width: 400px;">
                        Descripción de impacto
                      </th>
                      <th style="min-width: 200px; width: 400px;">
                        Medidas de control ambiental
                      </th>
                      <th style="min-width: 200px; width: 400px;">
                        Medidas de monitoreo
                      </th>
                      <th style="min-width: 200px; width: 400px;">
                        Frecuencia
                      </th>
                      <th style="min-width: 200px; width: 400px;">
                        Responsable
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template
                    pTemplate="body"
                    let-data
                    let-rowIndex="rowIndex"
                  >
                    <tr *ngIf="!!data.impacto  || !!data.medidasControl">
                      <td
                        class="text-center"
                        style="width: 100px; min-width: 80px;"
                      >
                        <span
                          (click)="!disabled&&modalImpacto(data)"
                          class="pointer mr-1"
                          title="Editar"
                        >
                          <i class="pi pi-pencil"></i>
                        </span>
                        <span
                          class="pointer"
                          title="Eliminar"
                          (click)="!disabled&&openEliminarRegistroActividades($event, data, rowIndex)"
                        >
                          <i class="pi pi-trash"></i>
                        </span>
                      </td>
                      <td style="min-width: 200px; width: 400px;">
                        {{ data.impacto }}
                      </td>
                      <td style="min-width: 200px; width: 400px;">
                        {{ data.medidasControl }}
                      </td>
                      <td style="min-width: 200px; width: 400px;">
                        {{ data.medidasMonitoreo }}
                      </td>
                      <td style="min-width: 200px; width: 400px;">
                        {{ data.frecuencia }}
                      </td>
                      <td style="min-width: 200px; width: 400px;">
                        {{ data.responsable }}
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </mat-tab>
          </mat-tab-group>
        </p-accordionTab>

        <p-accordionTab header="10.2. Acciones de contingencia ambiental">
          <!-- <button
            class="btn btn-secondary"
            (click)="modalContingencia('Agregar contingencia', 'false')"
          >
            Agregar contingencia
          </button> -->
          <div class="mt-0">
            <div class="col-2 col-sm-12 text-right mb-2">
              <button [disabled]="disabled"
                (click)="modalContingencia('Agregar contingencia', 'false')"
                class="btn btn-sm btn-default button-more mb-2"
                type="button"
                label=""
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
          </div>
          <p-table
            [value]="listaContingencia"
            [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Total : {{ totalRecordsCont }} registros"
            [rowsPerPageOptions]="[10, 25, 50]"
            class="table-justify"
            [scrollable]="true"
            [style]="{ width: '100%' }"
          >
            <ng-template pTemplate="header">
              <tr>
                <th class="text-center" colspan="4" id="titulo">
                  Plan de contingencia ambiental
                </th>
              </tr>
              <tr>
                <th style="width: 100px; min-width: 80px;">Acciones</th>
                <th style="width: 200px; min-width: 120px;">
                  Contingencia (Ejm.)
                </th>
                <th style="width: 200px; min-width: 120px;">
                  Acciones a realizar
                </th>
                <th style="width: 200px; min-width: 120px;">Responsable</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td class="text-center" style="width: 100px; min-width: 80px;">
                  <span
                    (click)="
                      !disabled && modalContingencia('Editar contingencia', 'true', data)
                    "
                    class="pointer mr-1"
                    title="Editar"
                  >
                    <i class="pi pi-pencil"></i>
                  </span>
                  <span
                    class="pointer"
                    title="Eliminar"
                    (click)="!disabled && openEliminarRegistroContingencia($event, data, rowIndex)"
                  >
                    <i class="pi pi-trash"></i>
                  </span>
                </td>
                <td style="width: 200px; min-width: 120px;">
                  {{ data.contingencia }}
                </td>
                <td style="width: 200px; min-width: 120px;">
                  {{ data.acciones }}
                </td>
                <td style="width: 200px; min-width: 120px;">
                  {{ data.responsableSecundario }}
                </td>
              </tr>
            </ng-template>
          </p-table>

          <div *ngIf="isPoblacionesNoContactadas" class="col-6 mt-4">
            <input-button-type-codigo
              [label]="'Adjuntar sustento'"
              [idPlanManejo]="idPlanManejo" [disabled]="disabled"
              [idTipoDocumento]="'PFMICEAACA'"
              [codigoProceso]="'PMFIC'"
              [accept]="accept"
            ></input-button-type-codigo>
          </div>
          <div class="step__btn mt-4 mb-2">
            <button class="btn-primary2" [disabled]="disabled" (click)="guardar()">Guardar</button>
          </div>
        </p-accordionTab>


        <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon_10"
            [base]="detEvaluacion_10"
          >
          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4 mb-4">
        <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="registrarEvaluacion()">
          Guardar Evaluación
        </button>
        <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">
          Retornar Flujo Evaluacion
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
    </div>
  </div>
</div>
<p-confirmPopup></p-confirmPopup>
