.btn-green{
  border: 1px solid #73A369;
  color: #73A369;
  border-radius: 5px;
}

.btn-yellow{
  border: 1px solid #F0F5BD;
  color: #000;
  border-radius: 5px;
  background-color: #F0F5BD;
  cursor: auto !important;
}

.btn-orange{
  border: 1px solid #FCE1BA;
  color: #000;
  border-radius: 5px;
  background-color: #FCE1BA;
  cursor: auto !important;
}

.btn-blue{
  border: 1px solid #FCE1BA;
  color: #000;
  border-radius: 5px;
  background-color: #FCE1BA;
  cursor: auto !important;
}
