<div class="row">
    
    <ng-container>

        <div class="col-12 form-group">
            <label for="poblacion">Conflictos</label>
            <input type="text" id="poblacion" autocomplete="off" class="form-control contents_form_input"
                placeholder="Escriba el conflicto identificado" [(ngModel)]="params_insetar_detalle.conflictos" [disabled]="isDisabled">
        </div>
        
        <div class="col-12 form-group">
            <label for="nombre">Propuesta de manejo o solución</label>
            <input type="text" id="nombre" autocomplete="off" class="form-control contents_form_input"
                placeholder="Escriba la propuesta o solución" [(ngModel)]="params_insetar_detalle.propuestaManejo">
        </div>

    </ng-container>
</div>

<div class="d-flex justify-content-end">
    <button icon="pi pi-save" (click)="agregar()" pButton pRipple type="button" label="Agregar"
                class="p-button-success p-button-outlined"></button> &nbsp;&nbsp;
    <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
              class="p-button-danger p-button-outlined" ></button>
</div>