<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12 p-0">
            <p-accordion>
                <p-accordionTab header="7.1 Medidas de Protección de la Unidad de Manejo Forestal" [selected]="true">
                    <div class="row m-0 mt-3">
                        <div class="col-12 pt-2 text-right">
                            <button icon="pi pi-plus" [disabled]="disabled" (click)="abrirModal('C',0)" pButton pRipple type="button" abel="" class="p-button-success p-button-text">
                            </button>
                        </div>
                    </div>
                    <div class="row m-0 mt-2">
                        <div class="col-12">
                            <p-table [value]="lstDetalle1">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 100px;">Acciones</th>
                                        <th>Medidas</th>
                                        <th>Descripción</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                                    <tr>
                                        <td style="width: 100px;">
                                            <span (click)="!disabled&& abrirModal('E', rowIndex, data)" class="pointer mr-3" title="Editar">
                                            <i class="pi pi-pencil"></i>
                                            </span>
                                            <span class="ml-2" (click)="!disabled&& openEliminar($event,data, rowIndex)" class="pointer" title="Eliminar">
                                                <i class="pi pi-trash"></i>
                                            </span>
                                        </td>
                                        <td class="text-left">{{data.medidasProteccion}}</td>
                                        <td class="text-left">{{data.descripcion}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                    <label *ngIf="pendiente" class="lbl-info mt-3 mb-3">
                        (Los cambios locales se guardarán pulsando el botón "Guardar".)
                    </label>
                </p-accordionTab>

              <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
                <evaluacion-archivo-shared
                  [idPlanManejo]="idPlanManejo"
                  [cadigoTab]="codigoAcordeon"
                  [base]="detEvaluacion"
                ></evaluacion-archivo-shared>
              </p-accordionTab>

            </p-accordion>
        </div>
    </div>
    <div class="step__btn mt-4 mb-4">
      <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>

      <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button *ngIf="!isPerfilArffs" class="btn-primary2" [disabled]="disabled" (click)="guardar()">Guardar</button>
      <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="registrarEvaluacion()">Guardar Evaluación</button>
      <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">Retornar Flujo Evaluacion</button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
    </div>
</div>


<p-dialog header="{{tituloModalMantenimiento1}}" appendTo="body" [(visible)]="verModalMantenimiento1" [modal]="true" [style]="{width: '40vw'}" [maximizable]="true" [baseZIndex]="10000"
[draggable]="false" [resizable]="true">
    <ng-template pTemplate="content">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="label">Medida</label>
                    <input [disabled]="context1.showRemove == false" [(ngModel)]="context1.medidasProteccion" type="text" class="form-control"  placeholder="Ingresar Medida" maxlength="100">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="label">Descripción</label>
                    <label class="label">(máx. 250 caracteres):*</label>
                    <textarea [(ngModel)]="context1.descripcion" placeholder="Ingresar Descripción" class="form-control" rows="3" cols="4" maxlength="250"></textarea>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer" >
        <button icon="pi pi-save" (click)="registrar(context1)" pButton pRipple type="button" label="Aceptar" class="p-button-success p-button-outlined"></button>
        <button icon="pi pi-times" (click)="verModalMantenimiento1 = false"  pButton pRipple type="button" label="Cancelar" class="p-button-danger p-button-outlined"></button>
    </ng-template>
</p-dialog>



