<p-fieldset [legend]="solicitudAcceso.codigoTipoPersona=='TPERJURI'?'Datos Representante Legal':'Datos Persona'" [toggleable]="true">
    <div class="row col-12 justify-content-end p-2">
        <span [ngClass]="{ 'class1': isPending == true,'class2': isObserved == true, 'class3':isValid == true}"></span>
        <button class="btn btn-sm btn-primary2" (click)="onOpenModal()">Evaluar</button>
    </div>
    <div class="row m-0">
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label class="label">Tipo Documento</label>
                <div class="form-control-selectk">
                    <p-dropdown [disabled]="true" [(ngModel)]="solicitudAcceso.codigoTipoDocumento" [options]="lstTipoDocumento" optionLabel="valor1" optionValue="codigo" placeholder="Seleccione"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label class="label">Número Documento</label>
                <input numero [min] = "0" [maxLength]="8" [disabled]="true" [(ngModel)]="solicitudAcceso.numeroDocumento" class="form-control" autocomplete="off" />
            </div>
        </div>
        <div class="col-12 col-sm-4" *ngIf="solicitudAcceso.codigoTipoPersona=='TPERJURI'">
            <div class="form-group">
                <label class="label">&nbsp;&nbsp;&nbsp;</label>
                <div class="p-field-checkbox">
                    <p-checkbox [disabled]="true" [(ngModel)]="checkedRepresentante" [binary]="true" inputId="representante"></p-checkbox>
                  <label class="m-0 pl-3 pointer" for="representante">Es Representante Legal</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label class="label">Nombres</label>
                <input maxlength="100" [disabled]="true" [(ngModel)]="solicitudAcceso.nombres" type="text" class="form-control" autocomplete="off" />
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label class="label">Apellido Paterno</label>
                <input maxlength="100" [disabled]="true" [(ngModel)]="solicitudAcceso.apellidoPaterno" type="text" class="form-control" autocomplete="off" />
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label class="label">Apellido Materno</label>
                <input maxlength="100" [disabled]="true" [(ngModel)]="solicitudAcceso.apellidoMaterno" type="text" class="form-control" autocomplete="off" />
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-12 col-sm-8">
            <div class="form-group">
                <label class="label">Email</label>
                <input maxlength="100" [disabled]="true" [(ngModel)]="solicitudAcceso.email" type="text" class="form-control" autocomplete="off" />
            </div>
        </div>
    </div>

</p-fieldset>

