<div class="m-0">
  <div class="col-12 m-0 pt-4" style="padding: 0px;">
    <h4 class="title2 mb text-left" style="border-bottom: 1px solid #ccc;">
      Guias de Transporte Forestal Emitidos.
    </h4>
  </div>
</div>
<div class="row mb-4">
  <div class="col-12 pt-3">
    <div class="col-12 text-right">
      <button
        type="button"
        class="btn btn-sm btn-default mb-2"
        title="Agregar"
        (click)="nuevaGuia()"
        disabled
      >
        <i class="pi pi-plus"></i>
      </button>
    </div>
    <p-table [value]="[]" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">
            <p-checkbox [disabled]="true" ></p-checkbox>
          </th>
          <th>N°. Guia de Transporte Forestal (GTF)</th>
          <th>Fecha de Expedición</th>
          <th>Fecha de Vencimiento</th>
          <th>Resolución Administrativa</th>
          <th>Plan Operativo</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
          <td class="text-center"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  header="Registrar Guia de Transporte Forestal"
  appendTo="body"
  [(visible)]="verModalEspecies"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row m-0">
      <div class="col-12 form-group">
        <label class="label">N°. Guia de Transporte Forestal (GTF)</label>

        <input type="text" class="form-control" [(ngModel)]="form.guia" />
      </div>

      <div class="col-12 form-group">
        <label class="label">Resolución Adm</label>
        <input type="text" class="form-control" [(ngModel)]="form.resolucion" />
      </div>

      <div class="col-12 form-group">
        <label class="label">Fecha de Expanción</label>
        <div class="content-date">
          <input
            autocomplete="off"
            class="form-control"
            [(ngModel)]="form.fechaExpancion"
            matInput
            [min]="minDate"
            [matDatepicker]="fechaExpancion"
            readonly="true"
          />
          <i class="pi pi-calendar pointer" (click)="fechaExpancion.open()"></i>
          <mat-datepicker #fechaExpancion></mat-datepicker>
        </div>
      </div>

      <div class="col-12 form-group">
        <label class="label">Fecha de Vencimiento</label>
        <div class="content-date">
          <input
            autocomplete="off"
            class="form-control"
            [(ngModel)]="form.fechaVencimiento"
            matInput
            [min]="minDate"
            [matDatepicker]="fechaVencimiento"
            readonly="true"
          />
          <i
            class="pi pi-calendar pointer"
            (click)="fechaVencimiento.open()"
          ></i>
          <mat-datepicker #fechaVencimiento></mat-datepicker>
        </div>
      </div>

      <div class="col-12 form-group">
        <label class="label">Plan Operativo</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="form.planOperativo"
        />
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>

    <button
      icon="pi pi-times"
      (click)="verModalEspecies = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
<p-confirmPopup></p-confirmPopup>
