<div class="container-fluit">
    <div class="row m-0">
        <div class="col-12 pt-3">
            <h3 class="title">Épica 2.3.2.3 Bandeja de Contrato de Concesion PFDM por Concesion Directa</h3>
        </div>
        <div class="col-12">
            <p-fieldset [collapsed]="true" legend="Filtros" [toggleable]="true" >
                <div class="row m-0">
                  <div class="col-12 col-sm-3">
                    <div class="form-group">
                        <label class="label">Estado Solicitud</label>
                        <div class="form-control-selectk">
                            <p-dropdown  [options]="[]" optionLabel="valor1" optionValue="codigo" ></p-dropdown>
                        </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-3">
                    <div class="form-group">
                        <label class="label">Tipo Concesion</label>
                            <div class="form-control-selectk">
                            <p-dropdown  [options]="[]"  optionLabel="valor1" optionValue="codigo" ></p-dropdown>
                        </div>
                    </div>
                  </div>
                </div>

                <div class="row m-0 mb-2 justify-content-center">
                    <div class="col-12 col-sm-11 text-center">
                        <button pButton pRipple type="button" label="Limpiar" class="p-button-secondary p-button-outlined mr-1"></button>
                        <button pButton pRipple type="button" label="Buscar" class="p-button-success p-button-outlined ml-1"  ></button>
                    </div>
                </div>
              </p-fieldset>
        </div>
        <div class="col-12 col-sm-6 mb-2 mt-3">
            <div>
              <button pButton pRipple type="button" label="Respuesta" class="p-button-success p-button-outlined ml-1" (click)="verExpediente()" ></button>
                <div class="p-field-radiobutton d-inline-full">
                    <p-radioButton name="tipoUsuario" [(ngModel)]="tipoUsuario" value="S" inputId="tipoUsuario1"></p-radioButton>
                    <label class="m-0 pl-1 pointer" for="tipoUsuario1">Solicitante</label>
                </div>
                <div class="p-field-radiobutton d-inline-full">
                    <p-radioButton name="tipoUsuario" [(ngModel)]="tipoUsuario"  value="A" inputId="tipoUsuario2"></p-radioButton>
                    <label class="m-0 pl-1 pointer" for="tipoUsuario2">Autoridad Regional</label>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-2 mt-3 text-right">
            <button pButton pRipple type="button" label="Nuevo" class="p-button-info p-button-outlined mr-1" [routerLink]="['/concesion/solicitud-contrato-concesion']" ></button>
          </div>
        <div class="col-12 mt-4 mb-3">
            <div>
                <p-table [value]="dataTable" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Código Único</th>
                            <th>Estado</th>
                            <th>Fecha Solicitud</th>
                            <th>Nombre Persona / Repr. Legal</th>
                            <th>Zona/Area</th>
                            <th>Puntaje</th>
                            <th>Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                        <tr>
                            <td>{{data.id}}</td>
                            <td>{{data.estado}}</td>
                            <td>{{data.creado | date: 'dd/MM/yyyy h:mm:ss a' }}</td>
                            <td>{{data.nombrePersona}}</td>
                            <td>{{data.zona}}</td>
                            <td>{{data.putaje}}</td>
                            <td class="text-center">
                                <div *ngIf="tipoUsuario == 'S'" class="pointer mr-2 borde-accion" (click)="revisar(data)">
                                    <i class="pi pi-eye" title="Visualizar"></i>
                                    <div *ngIf="data.estadoId == 0 || data.estadoId == 3 || data.estadoId == 4 || data.estadoId == 5 || data.estadoId == 7 " class="fz-9">Ver</div>
                                    <div *ngIf="data.estadoId == 2 || data.estadoId == 8" class="fz-9">Subsanar</div>
                                </div>

                                <div *ngIf="tipoUsuario == 'A' && (data.estadoId == 0 || data.estadoId == 3)" class="pointer mr-2 borde-accion" (click)="revisar(data)">
                                    <i class="pi pi-check-circle" title="Validar"></i>
                                    <div class="fz-9">Validar</div>
                                </div>

                                <div *ngIf="tipoUsuario == 'A' && (data.estadoId == 4 || data.estadoId == 9)" class="pointer mr-2 borde-accion" (click)="revisar(data)">
                                    <i class="pi pi-send" title="Validar"></i>
                                    <div class="fz-9">Evaluar</div>
                                </div>

                                <div *ngIf="tipoUsuario == 'A' && data.estadoId == 5" class="pointer mr-2 borde-accion" (click)="evalTecnica()">
                                    <i class="pi pi-chart-line" title="Validacion Ténica"></i>
                                    <div class="fz-9">Evaluación Técnica</div>
                                </div>

                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </div>
    </div>
</div>
