<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 pt-3">
      <h3 class="title">Bandeja de Entrada {{ CodigoProceso.PLAN_OPERATIVO_PMFI_CNCC }}</h3>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12">
      <div class="panelk br10 p-3">
        <div class="row">
          <div class="col-sm-12 col-md-4 form-group">
            <label class="label">DNI o RUC del Titular </label>
            <input type="number" numero autocomplete="off" class="form-control" placeholder="Ingrese Nro. DNI o RUC" maxlength="50" [(ngModel)]="evaluacionRequest.dniElaborador"/>
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <label class="label">Nombre del Titular</label>
            <input type="text" autocomplete="off" class="form-control" placeholder="Ingrese Nombre del Titular" [(ngModel)]="evaluacionRequest.nombreElaborador"/>
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <label class="label">{{ CodigoProceso.PLAN_OPERATIVO_PMFI_CNCC == 'POPAC' ? 'ID de PO de PMFI' : CodigoProceso.PLAN_OPERATIVO_PMFI_CNCC }}</label>
            <input type="number" numero autocomplete="off" class="form-control" placeholder="Ingrese. {{ CodigoProceso.PLAN_OPERATIVO_PMFI_CNCC == 'POPAC' ? 'ID de PO de PMFI' : CodigoProceso.PLAN_OPERATIVO_PMFI_CNCC }}" [(ngModel)]="evaluacionRequest.idPlanManejo"/>
          </div>
        </div>
        <div class="col-12 my-2 form-group text-center">
          <button class="btn btn-sm btn-secondary mr-2" (click)="limpiar()">Limpiar</button>
          <button class="btn btn-sm btn-secondary mr-2" (click)="buscar()">Buscar</button>
          <button class="btn btn-sm btn-secondary" (click)="nuevoPlan()">Nuevo</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-12 mt-4 mb-3">
      <div>
        <p-table
          [value]="planes" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Total : {totalRecords} registros"
          [rowsPerPageOptions]="[10, 25, 50]" [lazy]="true" [loading]="loading" (onLazyLoad)="load($event)" [totalRecords]="totalRecords">
          <ng-template pTemplate="header">
            <tr>
              <th scope="row" style="min-width: 50px;">N°</th>
              <th scope="row" style="min-width: 80px;">{{ CodigoProceso.PLAN_OPERATIVO_PMFI_CNCC == 'POPAC' ? 'ID de PO de PMFI' : CodigoProceso.PLAN_OPERATIVO_PMFI_CNCC  }}</th>
              <th scope="row" style="min-width: 100px;">DNI o RUC</th>
              <th scope="row" style="min-width: 250px;">Nombre del Titular</th>
              <th scope="row" style="min-width: 100px;">Plan General {{ CodigoProceso.PLAN_MANEJO_FORESTAL_INTERMEDIO }}</th>
              <th scope="row" style="min-width: 245px;">Permiso Forestal</th>
              <th scope="row" style="min-width: 100px;">Estado</th>
              <th scope="row" style="min-width: 145px;">Fecha de Registro</th>
              <th scope="row" style="min-width: 70px;" class="text-center">
                Ver plan
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-rowIndex="rowIndex+1">
            <tr>
              <td>{{ rowIndex }}</td>
              <td>{{ item?.idPlanManejo }}</td>
              <td>{{ item?.infoGeneral.dniElaborador }}</td>
              <td>{{ item?.infoGeneral.nombreElaborador }}</td>
              <td>
                <div *ngIf="item.idPlanManejoPadre" class="fila-content">
                  <div class="mr-1"><b>Id: </b><label class="planManejoPadre">{{ item?.idPlanManejoPadre }}</label></div>
                  <div class="ml-1">
                    <i
                      class="pi pi-window-maximize pointer"
                      title="Plan General"
                      aria-hidden="true"
                      (click)="openModal(item)"
                    >
                    </i>
                  </div>
                </div>
              </td>
              <td>
                <div *ngIf="item.codigoUnico" class="fila-content">
                  <div>
                    <b>TH: </b>
                    <label class="codigoUnico">{{ item.codigoUnico }}</label>
                  </div>
                </div>
              </td>
              <td>
                <span *ngIf="item?.codEstado != CodigoEstadoEvaluacion.FINALIZADO; else temfinalizado">

                   <span [class.presentado]="item?.codEstado === CodigoEstadoPlanManejo.PRESENTADO"
                         [class.en_evaluacion]="item?.codEstado === CodigoEstadoPlanManejo.EN_EVALUACION"
                         [class.observado]="item?.codEstado === CodigoEstadoPlanManejo.OBSERVADO"
                         [class.observadomdp]="item?.codEstado === CodigoEstadoMesaPartes.OBSERVADOMP"
                         [class.completadomdp]="item?.codEstado === CodigoEstadoMesaPartes.COMPLETADOMP"
                         [class.completadoMC]="item?.codEstado === CodigoEstadoMesaPartes.COMPLETADO_MED_CORREC"
                         [class.completadoPRE]="item?.codEstado === CodigoEstadoMesaPartes.COMPLETADO_PREREQUISITO"
                         [class.aprobado]="item?.codEstado === CodigoEstadoPlanManejo.APROBADO">
                  {{ item?.codigoEstado }}</span>

                </span>
                <ng-template #temfinalizado>
                  <span class="font-weight-bold color-green">{{ item?.codigoEstado }}</span>
                </ng-template>
              </td>
              <td>{{ item?.fechaRegistro | date: "dd/MM/yyyy h:mm:ss a" : "UTC" }}</td>

              <td class="text-center">
                <i
                  class="pi pi-eye pointer"
                  title="Revision"
                  aria-hidden="true"
                  (click)="verPlan(item?.idPlanManejo)"
                  *ngIf="permisos.isPerVisualizar"
                >
                </i>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

</div>
