<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="Anexo 1" [selected]="true">
          <app-map-custom
            [idPlanManejo]="idPlanManejo"
            [codigoProceso]="'POAC'"
            [codigoSubSeccion]="'POACANAN1SHAPE'"
            [tipoGeometria]="'Otros'"
            [isAnexo]="true"
            [printPDF]="true"
            [disabled]="disabled"
          ></app-map-custom>
          <div class="row">
            <div class="col-6">
              <div class="card">
                <div class="card-header">Mapa 1</div>
                <div class="card-body">
                  <div class="col-sm-12">
                    <input-buttons-maps-codigo
                      [label]="''"
                      [idPlanManejo]="idPlanManejo"
                      [disabled]="disabled"
                      [idTipoDocumento]="'POACANAN1MAPA1'"
                      [codigoProceso]="'POAC'"
                    >
                    </input-buttons-maps-codigo>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                <div class="card-header">Mapa 2</div>
                <div class="card-body">
                  <div class="col-sm-12">
                    <input-buttons-maps-codigo
                      [label]="''"
                      [idPlanManejo]="idPlanManejo"
                      [disabled]="disabled"
                      [idTipoDocumento]="'POACANAN1MAPA2'"
                      [codigoProceso]="'POAC'"
                    >
                    </input-buttons-maps-codigo>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Anexo 2">
          <div class="col-12">
            Datos del Censo Comercial
          </div>
          <div class="col-12 mt-4 mb-3">
            <div class="col-2 col-sm-12 text-right mb-2">
              <button
                (click)="abrirModalAnexo2CensoComercial()"
                class="btn btn-sm btn-default mb-2"
                type="button"
                title="Agregar"
                [disabled]="disabled || isPerfilArffs"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>

            <p-table
              [value]="listAnexos2"
              styleClass="p-datatable-gridlines"
              responsiveLayout="scroll"
              [paginator]="true"
              [rows]="10"
              [showCurrentPageReport]="true"
              responsiveLayout="scroll"
              currentPageReportTemplate="Total : {totalRecords} registros"
              [rowsPerPageOptions]="[10, 25, 50]"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th rowspan="2">Acciones</th>
                  <th rowspan="2">Nº Faja</th>
                  <th rowspan="2">Nº Árbol</th>
                  <th rowspan="2">Especie</th>
                  <th rowspan="2">DAP (cm)</th>
                  <th rowspan="2">Altura comercial (m)</th>
                  <th rowspan="2">Calidad de fuste</th>
                  <th colspan="2">Coordenadas (m)</th>
                  <th rowspan="2">Vc(m<sup>3</sup>)</th>
                  <th rowspan="2">Árbol semillero</th>
                </tr>
                <tr>
                  <th>X<sup>+</sup> ó X'</th>
                  <th>Y</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr>
                  <td>
                    <span
                      (click)="!disabled&&
                        !isPerfilArffs &&
                          openEditarAnexo2CensoComercial(data, rowIndex)
                      "
                      class="pointer mr-1"
                      title="Editar"
                    >
                      <i class="pi pi-pencil"></i>
                    </span>
                    <span
                      class="pointer"
                      title="Eliminar"
                      (click)="!disabled&&
                        !isPerfilArffs && eliminar($event, data, rowIndex)
                      "
                    >
                      <i class="pi pi-trash"></i>
                    </span>
                  </td>
                  <td>{{ data.numeroFaja }}</td>
                  <td>{{ data.nArbol }}</td>
                  <td>{{ data.nombreEspecies }}</td>
                  <td>{{ data.dap | number : '1.2-2'}}</td>
                  <td>{{ data.alturaComercial | number : '1.2-2' }}</td>
                  <td>
                    <span [ngSwitch]="data.condicionArbol">
                      <label *ngSwitchCase="codigoCalidad.ARCALMUB">
                        Muy Bueno
                      </label>
                      <label *ngSwitchCase="codigoCalidad.ARCALBUE">
                        Bueno
                      </label>
                      <label *ngSwitchCase="codigoCalidad.ARCALREG"
                        >Regular</label
                      >
                      <label *ngSwitchCase="codigoCalidad.ARCALMAL">
                        Malo
                      </label>

                      <label *ngSwitchDefault>{{ data.calidadFuste }}</label>
                    </span>
                  </td>
                  <td>{{ data.este }}</td>
                  <td>{{ data.norte }}</td>
                  <td>{{ data.volumen }}</td>
                  <td>
                    <span [ngSwitch]="data.bosqueSecundario">
                      <label *ngSwitchCase="codigoCategoria.ARBTAPRO">
                        A
                      </label>
                      <label *ngSwitchCase="codigoCategoria.ARBTSEMI">
                        S
                      </label>
                      <label *ngSwitchCase="codigoCategoria.ARBTFUTC">FC</label>

                      <label *ngSwitchDefault>{{ data.categoria }}</label>
                    </span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>

          <div class="step__btn mt-4">
            <button
              class="btn-primary2"
              [disabled]="disabled"
              (click)="guardarAnexos()"
            >
              Guardar
            </button>
          </div>
          <br>
          <evaluacion-archivo-shared
          [idPlanManejo]="idPlanManejo"
          [cadigoTab]="codigoAcordeon15_1"
          [base]="evaluacionAnexo1"
          *ngIf="isPerfilArffs"
        >
          <ng-template #conatinertop> </ng-template>
          <ng-template #conatinerbottom> </ng-template>
        </evaluacion-archivo-shared>
        </p-accordionTab>

        <!-- <p-accordionTab header="Anexo 3"> </p-accordionTab> -->

        <p-accordionTab header="Anexo 4">
          <div class="row">
            <div class="col-6">
              <div class="col-sm-12">
                <input-button-doc-codigo
                  [label]="'Metodología, recursos, aspectos silviculturales'"
                  [idPlanManejo]="idPlanManejo"
                  [idTipoDocumento]="'POACANAN4MRAC'"
                  [codigoProceso]="'POAC'"
                  [disabled]="disabled"
                >
                </input-button-doc-codigo>
              </div>
            </div>
            <div class="col-6">
              <div class="col-sm-12">
                <input-button-type-codigo
                  [label]="'Cargar censo de no maderables'"
                  [idPlanManejo]="idPlanManejo"
                  [idTipoDocumento]="'POACANAN4CNM'"
                  [codigoProceso]="'POAC'"
                  [disabled]="disabled"
                  [accept]="accept"
                >
                </input-button-type-codigo>
              </div>
            </div>
            <div class="col-6 mt-2">
              <div class="col-sm-12">
                <input-button-type-codigo
                  [label]="'Adjuntar mapa de dispersión'"
                  [idPlanManejo]="idPlanManejo"
                  [idTipoDocumento]="'POACANAN4MD'"
                  [codigoProceso]="'POAC'"
                  [disabled]="disabled"
                  [accept]="acceptMapaDispersion"
                >
                </input-button-type-codigo>
              </div>
            </div>
          </div>
          <br>
          <evaluacion-archivo-shared
          [idPlanManejo]="idPlanManejo"
          [cadigoTab]="codigoAcordeon15_2"
          [base]="evaluacionAnexo2"
          *ngIf="isPerfilArffs"
        >
          <ng-template #conatinertop> </ng-template>
          <ng-template #conatinerbottom> </ng-template>
        </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4" *ngIf="!isPerfilArffs">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>

        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>

      <div class="step__btn mt-4" *ngIf="isPerfilArffs">
        <message-evaluation></message-evaluation>
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button class="btn-primary2" (click)="registrarEvaluacion()">
          Guardar Evaluación
        </button>
        <button class="btn-primary2" (click)="retornarFlujoEvaluacion()">
          Retornar Flujo Evaluacion
        </button>
      </div>
      <br />
    </div>
  </div>
</div>

<p-dialog
  header="{{
    !editAnexo2CensoComercial
      ? 'Registrar Censo comercial'
      : 'Editar Censo comercial'
  }}"
  header="Header"
  [(visible)]="displayAnexo2CensoComercial"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div style="height: 430px;">
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">N° Faja</label>
            <input
              class="form-control"
              [(ngModel)]="anexo2CensoComercialForm.numeroFaja"
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">N° Árbol</label>
            <input
              class="form-control"
              [(ngModel)]="anexo2CensoComercialForm.nArbol"
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Especie </label>
            <input
              type="text"
              maxlength="50"
              class="form-control"
              [(ngModel)]="anexo2CensoComercialForm.nombreEspecies"
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">DAP (cm) </label>
            <input
              [maxLength]="15"
              [min]="0"
              class="form-control"
              decimal
              [decimalPlaces]="3"
              style="text-align: right;"
              [(ngModel)]="anexo2CensoComercialForm.dap"
            />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Altura comercial (m) </label>
            <input
              [maxLength]="15"
              [min]="0"
              class="form-control"
              decimal
              [decimalPlaces]="3"
              style="text-align: right;"
              [(ngModel)]="anexo2CensoComercialForm.alturaComercial"
            />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Calidad de fuste </label>
            <div class="form-control-selectk">
              <p-dropdown
                [options]="calidadFuste"
                [(ngModel)]="anexo2CensoComercialForm.condicionArbol"
                optionLabel="valor1"
                optionValue="codigo"
                placeholder="Seleccione"
              >
              </p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Coordenada (m) X<sup>+</sup> o X' </label>
            <input
              [maxLength]="15"
              class="form-control"
              [(ngModel)]="anexo2CensoComercialForm.este"
              decimal
              [decimalPlaces]="3"
              style="text-align: right;"
            />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Coordenada (m) Y </label>
            <input
              [maxLength]="15"
              class="form-control"
              [(ngModel)]="anexo2CensoComercialForm.norte"
              decimal
              [decimalPlaces]="3"
              style="text-align: right;"
            />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Vc (m<sup>3</sup>) </label>
            <input
              [maxLength]="15"
              [min]="0"
              class="form-control"
              [(ngModel)]="anexo2CensoComercialForm.volumen"
              decimal
              [decimalPlaces]="3"
              style="text-align: right;"
            />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Árbol semillero</label>

            <div class="form-control-selectk">
              <p-dropdown
                [options]="arbolesSemilleros"
                [(ngModel)]="anexo2CensoComercialForm.bosqueSecundario"
                optionLabel="valor1"
                optionValue="codigo"
                placeholder="Seleccione"
              >
              </p-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarAnexo2CensoComercial()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModalAnexo2CensoComercial()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
