<div>
  <div class="row">
    <div class="col-12 col-sm-6 mb-2">
      <div class="form-group">
        <label class="label">N°</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="form.idCodigoEspecie"
          [disabled]="disabled"
        />
      </div>
    </div>

    <div class="col-12 col-sm-6 mb-2">
      <div class="form-group">
        <label class="label">Nombre científico</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="form.nombreCientifico"
          [disabled]="disabled"
        />
      </div>
    </div>

    <div class="col-12 col-sm-6 mb-2">
      <div class="form-group">
        <label class="label">Nombre común </label>
        <input
          type="text"
          maxlength="50"
          class="form-control"
          [(ngModel)]="form.nombreComun"
          [disabled]="disabled"
        />
      </div>
    </div>

    <div class="col-12 col-sm-6 mb-2">
      <div class="form-group">
        <label class="label">producto </label>
        <div class="form-control-selectk">
          <p-dropdown
            appendTo="body"
            [options]="actividades"
            placeholder="Seleccionar"
            optionLabel="valorPrimario"
            optionValue="codigo"
            [(ngModel)]="form.productoTipo"
          >
          </p-dropdown>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-end">
  <button
    icon="pi pi-save"
    (click)="editar()"
    pButton
    pRipple
    type="button"
    label="Aceptar"
    class="p-button-success p-button-outlined"
    style="width: 106px;"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
    style="width: 106px;"
  ></button>
</div>
