<div class="container-fluid">
  <p-confirmPopup></p-confirmPopup>

    <div class="row">
        <div class="col-sm-12">
            <h3 class="title">Bandeja de Procesos en Oferta</h3>
        </div>
        <div class="col-sm-12">
            <div class="panelk br10 p-3">
                <div class="row">
                  <div class="col-sm-4 mb-2 form-group">
                    <label class="label">Estado Proceso Oferta:</label>
                    <div class="form-control-selectk">
                      <p-dropdown class="fomr-control" [options]="listaEstadoProceso"  [(ngModel)]="estadoProceso.idStatusProceso" optionLabel="descripcion"   optionValue="idStatusProceso"></p-dropdown>
                    </div>
                  </div>
                  <div class="col-sm-4 mb-2 form-group">
                    <label class="label">Proceso Oferta:</label>
                    <input numero [maxLength]="9" autocomplete="off" [(ngModel)]="procesoOfertaSelect" class="form-control"  [min]="1"/>
                  </div>
                </div>
                <div class="row m-0 mb-2 justify-content-center">
                  <div class="col-sm-12 mt-3 mb-2 form-group text-center">
                    <button class="btn btn-sm btn-secondary mr-2" (click)="limpiarFiltro()">Limpiar</button>
                    <button class="btn btn-sm btn-secondary mr-2" (click)="listarProcesoOferta()">Buscar</button>
                    <button class="btn btn-sm btn-secondary" (click)="nuevoOtorgamientoD()">Nuevo</button>
                  </div>
                </div>
            </div>
        <br>

        <!--{first} al {last} of {totalRecords}  propiedades de paginado -->
        
        <!-- <p-confirmPopup></p-confirmPopup>     -->
            <div class="tablek">  
                 <p-table [value]="lstProcesosOferta">
                 <ng-template pTemplate="header">
                  <tr>
                    <th>Acciones</th>
                    <th>ID Proceso Oferta</th>
                    <th>ID Unid. Aprovechamiento</th>
                    <th>Ubicación Unid. Aprovechamiento</th>
                    <th>Superficie Total (ha)</th>
                    <th>Estado Proceso Oferta</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-obj>
                <tr>
                  <td class="text-center">
                    <span class="pointer mr-1" title="Solicitar opiniones" (click)="abrirModalSolicitudes(obj.idProcesoOferta)">
                      <i class="pi pi-send"></i>
                    </span>
                     
                    <span *ngIf="(obj.idStatusProceso == 13)" class="pointer" title="Eliminar" (click)="eliminarConfirm($event,obj.idProcesoOferta)" >
                      <i class="pi pi-trash"></i>
                    </span>
                  </td> 
                  <td>{{obj.idProcesoOferta}}</td>
                  <td>{{obj.idUnidadAprovechamientoTexto}}</td>
                  <td>{{obj.ubicacionUnidadAprovechamiento}}</td>
                  <td>{{obj.superficieUnidadAprovechamiento}}</td>
                  <td>{{obj.nombreStatusProceso}}</td>
                </tr>
              </ng-template>
              </p-table>
              <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)" [showCurrentPageReport]="true" currentPageReportTemplate="Total : {totalRecords} registros" 
              [rowsPerPageOptions]="[10,25,50]"></p-paginator>
            </div>

        </div>

    </div>
</div>

<p-toast></p-toast>
