<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab
          header="8 Evaluación de Impactos Ambientales"
          [selected]="true"
        >
          <p>
            En este ítem el concesionario debe precisar las acciones que deben
            ejecutarse para obtener y mantener la viabilidad ambiental del Plan
            General de Manejo Forestal, una vez puesto en marcha, con medidas
            apropiadas para la prevención y corrección de impactos ambientales.
          </p>
          <p>
            Se debe incluir un programa de acción preventivo corrector, programa
            de vigilancia y seguimiento a los impactos y de ser el caso, un
            programa de contingencias.
          </p>
          <p>&nbsp;</p>
          <div class="row col-12" style="margin-right: 15px">
            <div class="col-sm-12">
              <input-buttons-codigo
                [label]="''"
                [idPlanManejo]="idPGMF"
                [idTipoDocumento]="'EIA'" [disabled]="disabled"
                [codigoProceso]="'POCC'"
              >
              </input-buttons-codigo>
            </div>
          </div>
          <p>&nbsp;</p>
        </p-accordionTab>
        <p-accordionTab
          header="8.1 Identificación de Impactos Ambientales"
          [selected]="false"
        >
          <div
            class="col-12 mt-4 mb-3"
            style="overflow: auto; width: 100%; height: 100%"
          >
            <evaluacion-ambiental-tabla
              [idPlanManejo]="idPGMF"
              (list)="onList($event)"
            ></evaluacion-ambiental-tabla>
          </div>
        </p-accordionTab>

        <p-accordionTab
          header="8.2 Plan de Acción Preventivo-Corrector"
          [selected]="false"
        >
        <div class="mt-2">
          <div class="col-2 col-sm-12 text-right">
            <button
              (click)="modalActividadPreventivo()" [disabled]="disabled"
              class="btn btn-sm btn-default button-more mb-2"
              type="button"
              label=""
            >
              <i class="pi pi-plus"></i>
            </button>
          </div>
        </div>
          <div class="col-12 p-0">
            <p-table
              [value]="actividades"
              [paginator]="true"
              [rows]="10"
              [showCurrentPageReport]="true"
              currentPageReportTemplate="Total : {totalRecords} registros"
              [rowsPerPageOptions]="[10, 25, 50]"
              class="table-justify"
              [scrollable]="true"
              [style]="{ width: '100%' }"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 100px; min-width: 80px">Acciones</th>
                  <th style="min-width: 200px; width: 400px;">Actividades</th>
                  <th style="min-width: 200px; width: 400px;">Descripción del impacto</th>
                  <th style="min-width: 200px; width: 400px;">Medidas de control ambiental</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr *ngIf="data.tipoAprovechamiento != 'CONTIN'">
                  <td class="text-center" style="width: 100px; min-width: 80px">
                    <span
                      (click)="!disabled&&modalActividad(data)"
                      class="pointer mr-1"
                      title="Editar"
                    >
                      <i class="pi pi-pencil"></i>
                    </span>
                    <span
                          class="pointer"
                          title="Eliminar"
                          (click)="!disabled&&openEliminarPreventivoCorrector($event, data, rowIndex)"
                        >
                          <i class="pi pi-trash"></i>
                        </span>
                  </td>
                  <td style="min-width: 200px; width: 400px;">{{ data.nombreAprovechamiento }}</td>
                  <td style="min-width: 200px; width: 400px;">{{ data.impacto }}</td>
                  <td style="min-width: 200px; width: 400px;">{{ data.medidasControl }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-accordionTab>

        <p-accordionTab
          header="8.3 Plan de Vigilancia y Seguimiento Ambiental"
          [selected]="false"
        >
        <div class="mt-2">
          <div class="col-2 col-sm-12 text-right">
            <button [disabled]="disabled"
              (click)="modalActividadVigilancia()"
              class="btn btn-sm btn-default button-more mb-2"
              type="button"
              label=""
            >
              <i class="pi pi-plus"></i>
            </button>
          </div>
        </div>
          <div class="col-12 p-0">
            <p-table
              [value]="actividades"
              [paginator]="true"
              [rows]="10"
              [showCurrentPageReport]="true"
              currentPageReportTemplate="Total : {totalRecords} registros"
              [rowsPerPageOptions]="[10, 25, 50]"
              class="table-justify"
              [scrollable]="true"
              [style]="{ width: '100%' }"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 100px; min-width: 80px">Acciones</th>
                  <th style="min-width: 200px; width: 400px;">Descripción de impacto</th>
                  <th style="min-width: 200px; width: 400px;">Medidas de control ambiental</th>
                  <th style="min-width: 200px; width: 400px;">Medidas de control monitoreo</th>
                  <th style="min-width: 200px; width: 400px;">Frecuencia</th>
                  <th style="min-width: 200px; width: 400px;">Responsable</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr *ngIf="data.impacto != '' || data.medidasControl != ''">
                  <td class="text-center" style="width: 100px; min-width: 80px">
                    <span
                      (click)="!disabled&&modalImpacto(data)"
                      class="pointer mr-1"
                      title="Editar"
                    >
                      <i class="pi pi-pencil"></i>
                    </span>
                    <span
                          class="pointer"
                          title="Eliminar"
                          (click)="!disabled&&openEliminarRegistroActividades($event, data, rowIndex)"
                        >
                          <i class="pi pi-trash"></i>
                        </span>
                  </td>
                  <td style="min-width: 200px; width: 400px;">{{ data.impacto }}</td>
                  <td style="min-width: 200px; width: 400px;">{{ data.medidasControl }}</td>
                  <td style="min-width: 200px; width: 400px;">{{ data.medidasMonitoreo }}</td>
                  <td style="min-width: 200px; width: 400px;">{{ data.frecuencia }}</td>
                  <td style="min-width: 200px; width: 400px;">{{ data.responsable }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-accordionTab>

        <p-accordionTab
          header="8.4. Plan de Contingencia Ambiental (de ser el caso)"
        >
          <!-- <button
            class="btn btn-secondary"
            (click)="modalContingencia('Agregar contingencia', 'false')"
          >
            Agregar contingencia
          </button> -->
          <div class="mt-2">
            <div class="col-2 col-sm-12 text-right">
              <button [disabled]="disabled"
                (click)="modalContingencia('Agregar contingencia', 'false')"
                class="btn btn-sm btn-default button-more mb-2"
                type="button"
                label=""
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
          </div>
          <p-table
            [value]="listaContingencia"
            [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Total : {totalRecords} registros"
            [rowsPerPageOptions]="[10, 25, 50]"
            class="table-justify"
            [scrollable]="true"
            [style]="{ width: '100%' }"
          >
            <ng-template pTemplate="header">
              <tr>
                <th class="text-center" colspan="4" id="titulo">
                  Plan de contingencia ambiental
                </th>
              </tr>
              <tr>
                <th style="width: 100px; min-width: 80px">Acciones</th>
                <th style="min-width: 120px">Contingencia (Ejm.)</th>
                <th style="min-width: 120px">Acciones a realizar</th>
                <th style="min-width: 120px">Responsable</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td class="text-center" style="width: 100px; min-width: 80px">
                  <span
                    (click)="!disabled&&
                      modalContingencia('Editar contingencia', 'true', data)
                    "
                    class="pointer mr-1"
                    title="Editar"
                  >
                    <i class="pi pi-pencil"></i>
                  </span>
                  <span
                    class="pointer"
                    title="Eliminar"
                    (click)="!disabled&&
                      openEliminarRegistroContingencia($event, data, rowIndex)
                    "
                  >
                    <i class="pi pi-trash"></i>
                  </span>
                </td>
                <td style="min-width: 120px">{{ data.contingencia }}</td>
                <td style="min-width: 120px">{{ data.acciones }}</td>
                <td style="min-width: 120px">
                  {{ data.responsableSecundario }}
                </td>
              </tr>
            </ng-template>
          </p-table>

          <div class="row mt-4">
            <div class="col-12">
              <label class="m-0 mr-5 label"
                >Se amplía información en el Anexo 3:</label
              >

              <!-- <label class="m-0 pointer label" for="chk-mapa-anexo">Si</label>
                        <p-checkbox id="chk-mapa-anexo" style="margin-left: 10px;"></p-checkbox>

                        <label class="m-0 pl-3 pointer label" for="chk-mapa-anexo">No</label>
                        <p-checkbox id="chk-mapa-anexo" style="margin-left: 10px;"></p-checkbox> -->

              &nbsp; &nbsp; &nbsp;
              <div class="p-field-radiobutton">
                <strong for="Si">SI</strong>
                <p-radioButton
                  name="monitoreo"
                  value="S" [disabled]="disabled"
                  inputId="Si"
                  [(ngModel)]="selectAnexo"
                >
                </p-radioButton>
              </div>
              <div class="p-field-radiobutton">
                <strong for="No">NO</strong>
                <p-radioButton
                  name="monitoreo"
                  value="N"
                  inputId="No" [disabled]="disabled"
                  [(ngModel)]="selectAnexo"
                  (onClick)="anexoN($event)"
                >
                </p-radioButton>
              </div>
            </div>

            <div class="col-12" *ngIf="selectAnexo == 'S'">
              <div class="col-12 mt-3 ml-1 mr-5">
                <app-anexo-upload-file
                  [label]="'Adjuntar Evidencia:'" [disabled]="disabled"
                  [idPlanManejo]="idPGMF"
                  [idTipoDocumento]="CodigoPOCC.ACORDEON_8_4"
                  [codigoProceso]="CodigoPOCC.ACORDEON_8_4"
                  (registrarArchivoId)="cargarIdArchivo($event)"
                >
                </app-anexo-upload-file>
              </div>
            </div>
          </div>
          <button class="btn-primary2" [disabled]="disabled" (click)="guardar()">Guardar</button>
        </p-accordionTab>
        <div class="step__btn mt-4">
          <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
          <button class="btn-primary2" (click)="siguienteTab()">
            Siguiente
          </button>
        </div>
        <br />
      </p-accordion>
    </div>
  </div>
</div>
<p-confirmPopup></p-confirmPopup>
