<div class="row">

  <div class="col-12 col-md-6 form-group">
    <label for="tipoSolicitud">Tipo Solicitud</label>
    <div class="form-control-selectk">
      <p-dropdown class="fomr-control" (onChange)="listarProcesoPostulacion()"
        [(ngModel)]="impugnacionModel.idTipoSolicitud" optionValue="idTipoSolicitud" [options]="tipoSolicitud"
        optionLabel="descripcion" placeholder="-- Seleccione --">
      </p-dropdown>
    </div>
  </div>

  <div class="col-12 col-md-6 form-group">
    <label for="procesoPostulacion">Proceso Postulación</label>
    <div class="form-control-selectk">
      <!--<p-dropdown class="fomr-control" [(ngModel)]="impugnacionModel.idSolicitud"
        optionValue="idProcesoPostulacion" [options]="procesoPostulacion" optionLabel="idProcesoPostulacion">
      </p-dropdown>-->
      <input class="form-control form-control-sm " disabled="true" type="text" [(ngModel)]="impugnacionModel.idSolicitud"
			autocomplete="off" placeholder="Ingrese N° de TH" />
    </div>
  </div>


  <div class="col-12 col-md-6 form-group">
    <label for="procesoPostulacion">Accion Impugnación</label>
    <div class="form-control-selectk">
      <p-dropdown class="fomr-control" [(ngModel)]="impugnacionModel.idTipoEvaluacion"
        optionValue="idProcesoPostulacion" [options]="procesoPostulacion" optionLabel="idProcesoPostulacion"
  
        >
      </p-dropdown>
    </div>
  </div>

  <div class="col-12 form-group">
    <label for="descripcion">Descripción</label>
    <textarea [(ngModel)]="impugnacionModel.descripcion" name="descripcion" autocomplete="off" id="descrip"
      class="form-control form-control-sm" rows="4" [autoResize]="false" pInputTextarea></textarea>
  </div>



  <div class="col-12 col-md-6 form-group">
    <label for="declaracionJurada">Recurso de Impugnación</label>

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Seleccione un archivo" [(ngModel)]="fileImpugnacion.name">
      <div class="input-group-append">
        <button type="button" id="btnCargaShapeFile" (click)="fileInput.click()" class="btn btn-sm btn-secondary">
          Seleccione archivo<input #fileInput type="file" (change)="cargarAchivoImpugnacion($event)"
            style="display:none;" />
        </button>
      </div>
    </div>
  </div>



  <div class="col-12 mt-4">


    <button (click)="registrarSolicitudAmplicacion()" class="btn btn-sm btn-primary2" [class.spinner]="btnEnviarload" [disabled]="btnEnviarload">Enviar</button>

  </div>

</div>