<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab
          header="7.1. Superficie y ubicación de los bloques (Opcional)"
          [selected]="true">
          <div *ngIf="pendiente" class="col-12 p-3">
            <label class="lbl-info mt-3 mb-3" style="float: none !important;">
              Esta información será autocompletada del plan: N3.1.7: PMFI para
              Permisos de Aprovechamiento Forestal. Dicho plan aún no cuenta con
              información.
            </label>
          </div>
          <tabla-superficie
            [listCoordinatesAnexo]="listCoordinatesAnexo1"
            [idPlanManejo]="idPGMF"
            (listBloques)="listBloques($event)"
            [isPadre]="isPadre"
            [idPlanManejoPadre]="idPlanManejoPadre"
            [disabled]="disabled"
          >
          </tabla-superficie>
        </p-accordionTab>

        <p-accordionTab
          header="7.2. Superficie y ubicación del área de aprovechamiento en el primer bloque (Opcional)"
        >
          <div *ngIf="pendiente" class="col-12 p-3">
            <label class="lbl-info mt-3 mb-3" style="float: none !important;">
              Esta información será autocompletada del plan: N3.1.7: PMFI para
              Permisos de Aprovechamiento Forestal. Dicho plan aún no cuenta con
              información.
            </label>
          </div>
          <tabla-superficie-primer-bloque
            [listCoordinatesAnexo]="listCoordinatesAnexo2"
            [idPlanManejo]="idPGMF"
            (listVerticesPrimerBloque)="listVerticesPrimerBloque($event)"
            [disabledBtn]="disabledBtn"
            [disabled]="disabled"
            [isPadre]="isPadre"
            [idPlanManejoPadre]="idPlanManejoPadre"
          ></tabla-superficie-primer-bloque>
        </p-accordionTab>

        <p-accordionTab
          header="7.3. Superficie y ubicación de la parcela de corta del año operativo (Opcional)"
        >
          <div *ngIf="pendiente" class="col-12 p-3">
            <label class="lbl-info mt-3 mb-3" style="float: none !important;">
              Esta información será autocompletada del plan: N3.1.7: PMFI para
              Permisos de Aprovechamiento Forestal. Dicho plan aún no cuenta con
              información.
            </label>
          </div>
          <tabla-superficie-anio-operativo
            [listCoordinatesAnexo]="listCoordinatesAnexo3"
            [idPlanManejo]="idPGMF"
            (listVerticesAnioOperativo)="listVerticesAnioOperativo($event)"
            [disabled]="disabled"
            [isPadre]="isPadre"
            [idPlanManejoPadre]="idPlanManejoPadre"
          ></tabla-superficie-anio-operativo>
        </p-accordionTab>

        <p-accordionTab
          header="7.4. Medidas de protección de la unidad de manejo forestal"
        >
          <div *ngIf="pendienteSistema" class="col-12 p-3">
            <label class="lbl-info mt-3 mb-3" style="float: none !important;">
              Esta información será autocompletada del plan: N3.1.7: PMFI para
              Permisos de Aprovechamiento Forestal. Dicho plan aún no cuenta con
              información.
            </label>
          </div>
          <div class="col-2 col-sm-12 text-right">
            <button
              (click)="editarMedidas('create')"
              class="btn btn-sm btn-default button-more mb-2"
              pButton
              pRipple
              type="button"
              title="Agregar"
              class="p-button-success p-button-text"
              [disabled]="disabled"
            >
              <i class="pi pi-plus"></i>
            </button>
          </div>
          <p-table [value]="listMedidadProteccion">
            <ng-template pTemplate="header">
              <tr>
                <th>Acciones</th>
                <th>Medidas</th>
                <th>Descripción</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td>
                  <span
                    class="pointer mr-1"
                    title="Editar"
                    (click)="!disabled&&editarMedidas('edit',data)"
                  >
                    <i class="pi pi-pencil"></i>
                  </span>
                  <span
                    class="pointer ml-1"
                    title="Eliminar"
                    (click)="!disabled&&eliminarMedida($event,data, rowIndex )"
                  >
                    <i class="pi pi-trash"></i>
                  </span>
                </td>
                <td>{{ data.actividades }}</td>
                <td>{{ data.descripcionSistema }}</td>
              </tr>
            </ng-template>
          </p-table>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4 mb-4">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button class="btn-primary2" [disabled]="disabled" (click)="guardar()">Guardar</button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
    </div>
  </div>
</div>

<p-confirmPopup></p-confirmPopup>

<p-confirmDialog [style]="{ width: '300px' }" key="deleteFileSHP"></p-confirmDialog>
