.containerTotal {
    font-size: 11px;
}


.p-datatable table {
  display: block !important;
  overflow-x: auto !important;
  white-space: nowrap !important;
}


.p-datatable-wrapper  table {
  display: block !important;
  overflow-x: auto !important;
  white-space: nowrap !important;
}
