<div class="mt-3">
  <p-accordion>
    <p-accordionTab header="13. Flujo de Caja" [selected]="true">
      <div class="col-12">
        <div class="col-2 col-sm-12 text-right">
          <button
            (click)="openModalAgregar()"
            [disabled]="disabled"
            class="btn btn-sm btn-default button-more mb-2"
            type="button"
            title="Agregar"
          >
            <i class="pi pi-plus"></i>
          </button>
        </div>

        <p-confirmPopup></p-confirmPopup>

        <b>13.1 I. Ingresos</b>
        <p-table
          class="table-justify"
          [columns]="colsIngreso"
          [value]="ingresos"
          [scrollable]="true"
          [style]="{width:'100%'}"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width: 80px; min-width: 80px;">Acciones</th>
              <th style="width: 400px; min-width: 120px;">Rubro</th>
              <th
                *ngIf="verIngDescripcion"
                style="width: 400px; min-width: 120px;"
              >
                Descripción
              </th>
              <th *ngFor="let col of columns" style="min-width: 120px;">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-rowData
            let-columns="columns"
            let-data
            let-rowIndex="rowIndex"
          >
            <tr>
              <td class="text-center" style="width: 80px; min-width: 80px;">
                <span
                  class="pointer mr-1"
                  title="Editar"
                  (click)="!disabled&& openEditarRentabilidadManejoIngreso(data)"
                >
                  <i class="pi pi-pencil"></i>
                </span>
                <span
                  class="pointer"
                  title="Eliminar"
                  (click)="!disabled&& eliminarRentabilidadIngreso($event,rowIndex,data)"
                >
                  <i class="pi pi-trash"></i>
                </span>
              </td>
              <td style="width: 400px; min-width: 120px;">{{data.rubro}}</td>
              <td
                *ngIf="verIngDescripcion"
                style="width: 400px; min-width: 120px;"
              >
                {{data.descripcion}}
              </td>
              <td *ngFor="let col of columns" style="min-width: 120px;">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <td style="width: 40px; min-width: 80px;" class="containerTotal">
                Total Ingresos
              </td>
              <td
                style="width: 400px; min-width: 120px;"
                class="containerTotal"
              ></td>
              <td
                style="width: 400px; min-width: 120px;"
                class="containerTotal"
                *ngIf="verIngDescripcion"
              ></td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnio1"
              >
                {{monto1 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnio2"
              >
                {{monto2 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnio3"
              >
                {{monto3 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnio4"
              >
                {{monto4 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnio5"
              >
                {{monto5 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnio6"
              >
                {{monto6 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnio7"
              >
                {{monto7 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnio8"
              >
                {{monto8 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnio9"
              >
                {{monto9 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnio10"
              >
                {{monto10 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnio11"
              >
                {{monto11 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnio12"
              >
                {{monto12 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnio13"
              >
                {{monto13 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnio14"
              >
                {{monto14 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnio15"
              >
                {{monto15 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnio16"
              >
                {{monto16 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnio17"
              >
                {{monto17 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnio18"
              >
                {{monto18 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnio19"
              >
                {{monto19 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnio20"
              >
                {{monto20 | number : '1.2-2'}}
              </td>
            </tr>
          </ng-template>
        </p-table>
        <br />
        <div class="col-12" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon13_1"
            [base]="evaluacionIngreso"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </div>
        <br />

        <b>13.2 II. Egresos</b>
        <p-table
          class="table-justify"
          [columns]="colsEgresos"
          [value]="egresos"
          [scrollable]="true"
          [style]="{width:'100%'}"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width: 80px; min-width: 80px;">Acciones</th>
              <th style="width: 400px; min-width: 120px;">Rubro</th>
              <th
                *ngIf="verEgreDescripcion"
                style="width: 400px; min-width: 120px;"
              >
                Descripción
              </th>
              <th *ngFor="let col of columns" style="min-width: 120px;">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-rowData
            let-columns="columns"
            let-data
            let-rowIndex="rowIndex"
          >
            <tr>
              <td class="text-center" style="width: 80px; min-width: 80px;">
                <span
                  class="pointer mr-1"
                  title="Editar"
                  (click)="!disabled&& openEditarRentabilidadManejoIngreso(data)"
                >
                  <i class="pi pi-pencil"></i>
                </span>
                <span
                  class="pointer"
                  title="Eliminar"
                  (click)="!disabled&& eliminarRentabilidadEgreso($event,rowIndex,data)"
                >
                  <i class="pi pi-trash"></i>
                </span>
              </td>
              <td style="width: 400px; min-width: 120px;">{{data.rubro}}</td>
              <td
                *ngIf="verEgreDescripcion"
                style="width: 400px; min-width: 120px;"
              >
                {{data.descripcion}}
              </td>
              <td *ngFor="let col of columns" style="min-width: 120px;">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <td style="width: 40px; min-width: 80px;" class="containerTotal">
                Total Egresos
              </td>
              <td
                style="width: 400px; min-width: 120px;"
                class="containerTotal"
              ></td>
              <td
                style="width: 400px; min-width: 120px;"
                class="containerTotal"
                *ngIf="verEgreDescripcion"
              ></td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnioE1"
              >
                {{montoE1 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnioE2"
              >
                {{montoE2 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnioE3"
              >
                {{montoE3 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnioE4"
              >
                {{montoE4 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnioE5"
              >
                {{montoE5 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnioE6"
              >
                {{montoE6 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnioE7"
              >
                {{montoE7 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnioE8"
              >
                {{montoE8 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnioE9"
              >
                {{montoE9 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnioE10"
              >
                {{montoE10 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnioE11"
              >
                {{montoE11 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnioE12"
              >
                {{montoE12 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnioE13"
              >
                {{montoE13 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnioE14"
              >
                {{montoE14 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnioE15"
              >
                {{montoE15 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnioE16"
              >
                {{montoE16 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnioE17"
              >
                {{montoE17 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnioE18"
              >
                {{montoE18 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnioE19"
              >
                {{montoE19 | number : '1.2-2'}}
              </td>
              <td
                style="min-width: 120px;"
                class="containerTotal"
                *ngIf="verAnioE20"
              >
                {{montoE20 | number : '1.2-2'}}
              </td>
            </tr>
          </ng-template>
        </p-table>
        <br />
        <div class="col-12" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon13_2"
            [base]="evaluacionEgreso"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </div>
        <br />

        <app-carga-excel
          [disabled]="disabled"
          (cargarArchivo)="cargarFormato($event)"
          [NombrePlantilla]="UrlFormatos.CARGA_PGMFA_RENTABILIDAD"
        ></app-carga-excel>
      </div>
    </p-accordionTab>

    <!-- <p-accordionTab header="12.2. Necesidades de Financiamiento">
      <div *ngIf="!nuevoIngresoEgresoNecesidades" class="text-right">
        <button
          (click)="nuevoIngresoEgresoNecesidades = !nuevoIngresoEgresoNecesidades"
          type="button"
          class="btn btn-sm btn-default pointer"
          title="Agregar"
        >
          <i class="pi pi-plus pointer"></i>
        </button>
      </div>

      <div class="row pb-2" *ngIf="nuevoIngresoEgresoNecesidades">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Necesidad</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese la Necesidad"
              [(ngModel)]="necesidad"
              maxlength="50"
            />
          </div>
        </div>
        <div class="col-12 col-sm-2 text-center">
          <div class="form-group">
            <div><label class="label">&nbsp;</label></div>
            <button
              (click)="guardarNecesidad()"
              class="btn btn-sm btn-secondary button-more"
            >
              Agregar
            </button>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label class="label">Lista de Necesidades</label>
        </div>
      </div>
      <div class="row">
        <ul>
          <li *ngFor="let item of listaNecesidades; let i=index">
            {{item.descripcion}} &nbsp;
            <i
              (click)=" eliminarNecesidad($event, i, item)"
              class="pi pi-trash pointer"
            ></i>
          </li>
        </ul>
      </div>
    </p-accordionTab> -->
  </p-accordion>
</div>

<div class="step__btn mt-4" *ngIf="!isPerfilArffs">
  <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
  <button
    class="btn-primary2"
    (click)="registrarManejoRentabilidad()"
    [disabled]="disabled"
  >
    Guardar
  </button>

  <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
</div>
<div class="step__btn mt-4" *ngIf="isPerfilArffs">
  <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
  <button
    *ngIf="isPerfilArffs"
    class="btn-primary2"
    (click)="registrarEvaluacion()"
  >
    Guardar Evaluación
  </button>
  <button
    *ngIf="isPerfilArffs"
    class="btn-primary2"
    (click)="retornarFlujoEvaluacion()"
  >
    Retornar Flujo Evaluacion
  </button>
  <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
</div>
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<p-dialog
  header="{{edit ? 'Editar Rentabilidad Manejo Forestal' : 'Registrar Rentabilidad Manejo Forestal'}}"
  header="Header"
  [(visible)]="displayBasic"
  [style]="{width: '50vw'}"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6" *ngIf="!edit">
          <div class="form-group">
            <label class="label">Rubros</label>
            <div class="form-control-selectk">
              <p-dropdown
                [options]="rubrosList"
                placeholder="Selecciona Rubro"
                [group]="true"
                (onChange)="rubrosChange($event)"
              >
                <ng-template let-group pTemplate="group">
                  <div class="p-d-flex p-ai-center">
                    <span>{{group.label}}</span>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6" *ngIf="edit">
          <div class="form-group">
            <label class="label">Rubros</label>
            <input
              disabled
              type="text"
              class="form-control"
              placeholder="Ingrese ingresos"
              [(ngModel)]="rentabilidadManejo.rubro"
            />
          </div>
        </div>

        <div class="col-12 col-sm-6" *ngIf="rentabilidadManejo.id == 5">
          <div class="form-group">
            <label class="label">Otros Ingresos</label>
            <input
              type="text"
              maxlength="100"
              class="form-control"
              placeholder="Ingrese ingresos"
              [(ngModel)]="rentabilidadManejo.descripcion"
            />
          </div>
        </div>

        <div class="col-12 col-sm-6" *ngIf="rentabilidadManejo.id == 14">
          <div class="form-group">
            <label class="label">Otros Gastos</label>
            <input
              type="text"
              maxlength="100"
              class="form-control"
              placeholder="Ingrese otros gastos"
              [(ngModel)]="rentabilidadManejo.descripcion"
            />
          </div>
        </div>
      </div>

      <div class="row" style="overflow: auto; height: 200px;">
        <div class="col-12">
          <p-table [value]="years">
            <ng-template pTemplate="header">
              <tr>
                <th>Año</th>
                <th>Monto</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-year let-index>
              <tr>
                <td>
                  <div class="p-field-checkbox" style="margin: 20px;">
                    <label class="m-0 pl-3 pointer" for="numero"
                      >{{year.valorPrimario}}</label
                    >
                    <p-checkbox
                      for="numero"
                      [style]="{'margin-left': '10px'}"
                      [binary]="true"
                      [(ngModel)]="year.checked"
                    >
                    </p-checkbox>
                  </div>
                </td>
                <td>
                  <div class="form-group" *ngIf="year.checked == true">
                    <label class="label">Monto</label>
                    <input
                    
                      class="form-control"
                      placeholder="Ingrese monto"
                      [(ngModel)]="year.monto"
                      decimal
                      [min]="0"
                      [maxLength]="12"
                    />
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarRentabilidad()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
