<div class="container-fluid p-0">
  <!-- TITULO -->
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title">Detalle de Sincronización</h3>
    </div>
  </div>
  <!-- TABS -->
  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <mat-tab-group animationDuration="0ms" (selectedIndexChange)="tabChange($event)" [selectedIndex]="tabIndex">
        <mat-tab label="Talado">
          <ng-template matTabContent>
            <tab-talado [idSincronizacion]="idSinc"></tab-talado>
          </ng-template>
        </mat-tab>
        <mat-tab label="Trozado">
          <ng-template matTabContent>
            <tab-trozado [idSincronizacion]="idSinc"></tab-trozado>
          </ng-template>
        </mat-tab>
        <mat-tab label="Transformación">
          <ng-template matTabContent>
            <tab-transformacion [idSincronizacion]="idSinc"></tab-transformacion>
          </ng-template>
        </mat-tab>
        <mat-tab label="Despacho">
          <ng-template matTabContent>
            <tab-despacho [idSincronizacion]="idSinc"></tab-despacho>
          </ng-template>
        </mat-tab>
        <mat-tab label="Guia Transporte Forestal">
          <ng-template matTabContent>
            <tab-guiaForestal [idSincronizacion]="idSinc"></tab-guiaForestal>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <!-- BOTONES -->
  <div class="row m-0 mt-4 mb-4">
    <div class="col-12">
      <button *ngIf="tabIndex > 0" (click)="tabAnterior()" class="btn-primary2">Anterior</button>
      <button class="btn-primary2" (click)="tabSiguiente()">Siguiente</button>
    </div>
  </div>
</div>