<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12 form-group">
      <p-accordion>
        <p-accordionTab header="7.1 Análisis de Impacto Ambiental" [selected]="true">
          <p>
            Presentar las interacciones <b>causa-efecto</b> de cada una de las
            activiades del Plan General de Manejo Forestal, para ello se puede
            hacer uso de matrices, superposición de mapas, diagramas de redes o
            encadenamientos de efectos ambientales.
          </p>
          <p>&nbsp;</p>
          <div class="row col-12" style="margin-right: 15px">
            <div class="col-12 col-sm-5">
              <input-buttons-codigo
                [label]="''"
                [idPlanManejo]="idPGMF"
                [idTipoDocumento]="'EIA'"
                [codigoProceso]="'PGMF'"
                [disabled]="isDisbledObjFormu"
              >
              </input-buttons-codigo>
            </div>
          </div>
          <p>&nbsp;</p>
        </p-accordionTab>

        <p-accordionTab header="7.2 Plan de Gestión Ambiental" [selected]="false">
        <p class="texto-parrafo">
          Identificación de los impactos ambientales generados por la implementación o desarrollo
          de las actividades necesarias para el aprovechamiento forestal. Deberá incluir para cada
          impacto identificado una propuesta de medida de mitigación; las cuales pueden ser de
          carácter preventivo-corrector.
          <br>
          <br>
          Asimismo, se incluye las actividades de vigilacia y seguimiento ambiental de las medidas
          identificadas.
          <br>
          <br>
          Finalmente desarrolla las acciones de contingencia respecto a accidentes o situaciones no
          programadas.
        </p>
          <div
            class="col-12 mt-4 mb-3"
            style="overflow: auto; width: 100%; height: 100%"
          >
            <evaluacion-ambiental-tabla
              [idPlanManejo]="idPGMF"
              [disabled]="isDisbledObjFormu"
              (list)="onList($event)"
            ></evaluacion-ambiental-tabla>
          </div>
          <br /><br />
          <h3 class="title2">Cargar Información</h3>
          <div class="row">
            <div class="col-sm-4">
              <label class="label"></label><br />
              <button class="btn-secondary" (click)="btnDescargarFormatoPGA()" [disabled]="isDisbledObjFormu">Descargar Formato</button>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label"></label><br />
                <upload-input-button [(ngModel)]="archivoPGA.file" label="Seleccione Archivo" [disabled]="isDisbledObjFormu"></upload-input-button>
              </div>
            </div>
            <div class="col-sm-4">
              <label class="label"></label><br />
              <button class="btn-secondary" (click)="btnCargarPGA()" [disabled]="isDisbledObjFormu"> Cargar Formato</button>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="7.2.1 Plan de Acción Preventivo-Corrector" [selected]="false">
        <div class="mt-0">
          <div class="col-2 col-sm-12 text-right">
            <button
              (click)="modalActividad('Agregar Actividad', 'false')"
              class="btn btn-sm btn-default button-more mb-2"
              type="button"
              label=""
              [disabled]="isDisbledObjFormu"
            >
              <i class="pi pi-plus"></i>
            </button>
          </div>
        </div>
          <div class="col-12 p-0">
            <p-table
              [value]="actividades"
              [paginator]="true"
              [rows]="10"
              [showCurrentPageReport]="true"
              currentPageReportTemplate="Total : {{totalRecords}} registros"
              [rowsPerPageOptions]="[10, 25, 50]"
              class="table-justify"
              [scrollable]="true"
              [style]="{ width: '100%' }"
              >
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 100px; min-width: 80px">Acciones</th>
                  <th style="min-width: 200px; width: 400px; ">Actividades</th>
                  <th style="min-width: 200px; width: 400px;">Descripción del impacto</th>
                  <th style="min-width: 200px; width: 400px;">Medidas de control ambiental</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr *ngIf="data.tipoAprovechamiento != 'CONTIN' && data.codTipoAprovechamiento == 'POPREVENTIVO'">
                  <td class="text-center" style="width: 100px; min-width: 80px">
                    <span
                      (click)="modalActividad('Editar Actividad', 'true', data)"
                      class="pointer mr-1"
                      title="Editar"
                      [ngClass]="isDisbledObjFormu?'disabled-pointer':''"
                    >
                      <i class="pi pi-pencil"></i>
                    </span>
                  <span
                  (click)="eliminarAcc($event, data)"
                  class="pointer mr-1"
                  title="Eliminar"
                  [ngClass]=" isDisbledObjFormu?'disabled-pointer':'' "
                >
                  <i class="pi pi-trash"></i>
                </span>

                  </td>
                  <td style="min-width: 200px; width: 400px;">{{ data.nombreAprovechamiento }}</td>
                  <td style="min-width: 200px; width: 400px;">{{ data.impacto }}</td>
                  <td style="min-width: 200px; width: 400px;">{{ data.medidasControl }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <br /><br />
          <h3 class="title2">Cargar Información</h3>
          <div class="row">
            <div class="col-sm-4">
              <label class="label"></label><br />
              <button class="btn-secondary" (click)="btnDescargarFormatoPAP()" [disabled]="isDisbledObjFormu">Descargar Formato</button>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label"></label><br />
                <upload-input-button [(ngModel)]="archivoPAP.file" label="Seleccione Archivo" [disabled]="isDisbledObjFormu"></upload-input-button>
              </div>
            </div>
            <div class="col-sm-4">
              <label class="label"></label><br />
              <button class="btn-secondary" (click)="btnCargarPAP()" [disabled]="isDisbledObjFormu"> Cargar Formato</button>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="7.2.2 Plan de Vigilancia y Seguimiento" [selected]="false">
        <div class="mt-0">
          <div class="col-2 col-sm-12 text-right">
            <button
              (click)="modalImpacto('Agregar Impacto', 'false')"
              class="btn btn-sm btn-default button-more mb-2"
              type="button"
              label=""
              [disabled]="isDisbledObjFormu"
            >
              <i class="pi pi-plus"></i>
            </button>
          </div>
        </div>
          <div class="col-12 p-0">
            <p-table
              [value]="vigilancia"
              [paginator]="true"
              [rows]="10"
              [showCurrentPageReport]="true"
              currentPageReportTemplate="Total : {{totalRecords2}} registros"
              [rowsPerPageOptions]="[10, 25, 50]"
              class="table-justify"
              [scrollable]="true"
              [style]="{ width: '100%' }"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 100px; min-width: 80px">Acciones</th>
                  <th style="min-width: 200px; width: 400px;">Descripción de impacto</th>
                  <th style="min-width: 200px; width: 400px;">Medidas de control ambiental</th>
                  <th style="min-width: 200px; width: 400px;">Medidas de control monitoreo</th>
                  <th style="min-width: 200px; width: 400px;">Frecuencia</th>
                  <th style="min-width: 200px; width: 400px;">Responsable</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr *ngIf="(data.codTipoAprovechamiento == 'POVIGILANCIA')">
                  <td class="text-center" style="width: 100px; min-width: 80px">
                    <span
                      (click)="modalImpacto('Editar Impacto', 'true', data)"
                      class="pointer mr-1"
                      title="Editar"
                      [ngClass]="isDisbledObjFormu?'disabled-pointer':''"
                    >
                      <i class="pi pi-pencil"></i>


                    </span>

                    <span
                    (click)="eliminarVig($event, data )"
                    class="pointer mr-1"
                    title="Eliminar"
                    [ngClass]=" isDisbledObjFormu?'disabled-pointer':'' "
                  >
                    <i class="pi pi-trash"></i>
                  </span>

                  </td>
                  <td style="min-width: 200px; width: 400px;">{{ data.impacto }}</td>
                  <td style="min-width: 200px; width: 400px;">{{ data.medidasControl }}</td>
                  <td style="min-width: 200px; width: 400px;">{{ data.medidasMonitoreo }}</td>
                  <td style="min-width: 200px; width: 400px;">{{ data.frecuencia }}</td>
                  <td style="min-width: 200px; width: 400px;">{{ data.responsable}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <br /><br />
          <h3 class="title2">Cargar Información</h3>
          <div class="row">
            <div class="col-sm-4">
              <label class="label"></label><br />
              <button class="btn-secondary" (click)="btnDescargarFormatoPVS()" [disabled]="isDisbledObjFormu">Descargar Formato</button>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label"></label><br />
                <upload-input-button [(ngModel)]="archivoPVS.file" label="Seleccione Archivo" [disabled]="isDisbledObjFormu"></upload-input-button>
              </div>
            </div>
            <div class="col-sm-4">
              <label class="label"></label><br />
              <button class="btn-secondary" (click)="btnCargarPVS()" [disabled]="isDisbledObjFormu"> Cargar Formato</button>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="7.2.3 Plan de Contingencia Ambiental (de ser el caso)">

          <div class="mt-0">
            <div class="col-2 col-sm-12 text-right">
              <button
                (click)="modalContingencia('Agregar contingencia', 'false')"
                class="btn btn-sm btn-default button-more mb-2"
                type="button"
                label=""
                [disabled]="isDisbledObjFormu"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
          </div>
          <p-table
            [value]="listaContingencia"
            [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Total : {{totalRecords3}} registros"
            [rowsPerPageOptions]="[10, 25, 50]"
            class="table-justify"
            [scrollable]="true"
            [style]="{ width: '100%' }"
          >
            <ng-template pTemplate="header">
              <tr>
                <th class="text-center" colspan="4" id="titulo">
                  Plan de contingencia ambiental
                </th>
              </tr>
              <tr>
                <th style="width: 100px; min-width: 80px">Acciones</th>
                <th style="min-width: 120px">Contingencia (Ejm.)</th>
                <th style="min-width: 120px">Acciones a realizar</th>
                <th style="min-width: 120px">Responsable</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td class="text-center" style="width: 100px; min-width: 80px">
                  <span
                    (click)="
                      modalContingencia('Editar contingencia', 'true', data)
                    "
                    class="pointer mr-1"
                    title="Editar"
                    [ngClass]="isDisbledObjFormu?'disabled-pointer':''"
                  >
                    <i class="pi pi-pencil"></i>
                  </span>
                   <!-- Eliminar solicitud -->
                  <span
                    (click)="btnEliminar($event, data )"
                    class="pointer mr-1"
                    title="Eliminar"
                    [ngClass]=" isDisbledObjFormu?'disabled-pointer':'' "
                  >
                    <i class="pi pi-trash"></i>
                  </span>
                </td>
                <td style="min-width: 120px">{{ data.contingencia }}</td>
                <td style="min-width: 120px">{{ data.acciones }}</td>
                <td style="min-width: 120px">
                  {{ data.responsableSecundario }}
                </td>
              </tr>
            </ng-template>
          </p-table>
          <br /><br />
          <h3 class="title2">Cargar Información</h3>
          <div class="row">
            <div class="col-sm-4">
              <label class="label"></label><br />
              <button class="btn-secondary" (click)="btnDescargarFormatoPCA()" [disabled]="isDisbledObjFormu">Descargar Formato</button>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label"></label><br />
                <upload-input-button [(ngModel)]="archivoPCA.file" label="Seleccione Archivo" [disabled]="isDisbledObjFormu"></upload-input-button>
              </div>
            </div>
            <div class="col-sm-4">
              <label class="label"></label><br />
              <button class="btn-secondary" (click)="btnCargarPCA()" [disabled]="isDisbledObjFormu"> Cargar Formato</button>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <div class="row m-0 mt-4 h-100 justify-content-center align-items-center">
    <div class="col-12 col-sm-11">
      <lineamiento-inner [base]="lineamiento3"
        [titulo]="'Evaluación de Lineamiento 12. Revisión de la evaluación de impactos ambientales'"
        [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval">
        <ng-template #descripcion>
          <div class="row m-0">
            <div class="col-12">
              <p class="fz-11 m-0 mb-3">Revisar el cumplimiento de lo siguiente:</p>
              <p class="fz-11 m-0 mb-1 ml-4">1. Presentación de las interacciones causa-efecto de cada una de las
                actividades del PGMF y los elementos del ambiente susceptibles de alteración. Esto incluye la estimación
                de la magnitud
                de los impactos ambientales para el medio físico, biológico y socioeconómico.</p>
              <p class="fz-11 m-0 mb-1 ml-4">2. La identificación de los impactos ambientales y caracterización
                (evaluación de los atributos asignados al tipo, magnitud, duración del impacto, entre otros) para los
                factores ambientales
                (agua, suelo, flora, etc.) en cada etapa o fase de aprovechamiento.</p>
              <p class="fz-11 m-0 mb-1 ml-4">3. Inclusión del Plan de acción preventivo corrector, que incluya las
                medidas para prevenir, minimizar y rehabilitar los impactos identificados.</p>
              <p class="fz-11 m-0 mb-1 ml-4">4. Inclusión del Plan de vigilancia y seguimiento ambiental, que contenga
                las medidas de control ambiental. las medidas de monitoreo, la frecuencia y responsables, para cada
                impacto.</p>
              <p class="fz-11 m-0 mb-1 ml-4">5. Inclusión del Plan de contingencia ambiental, que contenga la
                identificación de la contingencia, las acciones a realizar y el responsable.</p>
              <p class="fz-11 m-0 mb-1 ml-4">6. Existencia de actividades relacionados al manejo de los residuos
                sólidos.</p>
            </div>
          </div>
        </ng-template>
      </lineamiento-inner>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12">
      <div class="step__btn mt-4">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button class="btn-primary2" (click)="siguienteTab()">
          Siguiente
        </button>
      </div>
      <br />
    </div>
  </div>
</div>

<p-confirmPopup></p-confirmPopup>
