<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 pt-3">
      <h3 class="title">BANDEJA EVALUACIÓN Y APROBACIÓN - PROCESOS DE POSTULACIÓN DE CONTRATO DE CONCESIÓN PFDM</h3>
    </div>
    <div class="col-12">

      <div class="panelk br10 p-3">
        <div class="row">

          <div class="col-sm-6 col-md-6 mb-2 form-group">
            <label class="label">Postulación PFDM:</label>
            <div class="form-control-selectk">
              <p-dropdown class="fomr-control" [(ngModel)]="procesoPostulacionSelect" optionValue="idProcesoPostulacion"
                [options]="procesoPostulacion" optionLabel="idProcesoPostulacion">
              </p-dropdown>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 mb-2 form-group">
            <label class="label">Estado:</label>
            <div class="form-control-selectk">
              <p-dropdown class="fomr-control" [options]="estadoevaluacion" [(ngModel)]="selectestadoevaluacion">
              </p-dropdown>
            </div>
          </div>

          <div class="col-sm-4 col-md-4 mt-3 mb-2 form-group">
            <button class="btn btn-sm btn-secondary mr-2" (click)="cargarPP()">Buscar</button>
            <button class="btn btn-sm btn-primary2 mr-2" (click)="generarResolucion()">Generar Resolución</button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 mt-4 mb-3">

      <div class="tablek">
        <p-table [value]="listaResultadoPP" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
          currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
          <ng-template pTemplate="header">
            <tr>
              <th>Id Postulación PFDM</th>
              <th>Id de unidades Ofertables</th>
              <th>Estado</th>
              <th>Usuario Postulación</th>
              <th>Fecha Postulación</th>
              <th>Nota Total</th>
              <th>Estado</th>
              <th>Ver</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-obj>
            <tr>
              <td>{{obj.idProcesoPostulacion}}</td>
              <td>{{obj.idProcesoOferta}}</td>
              <td>{{obj.nombreStatusProcesoPostulacion}}</td>
              <td>{{obj.nombreUsuarioPostulacion}}</td>
              <td>{{obj.fechaPostulacionString}}</td>
              <td>{{obj.notaTotal}}</td>
              <td>{{obj.ganador == null ? "Pendiente envió resolución" :obj.ganador == true ? "Ganador" : "Perdedor" }}</td>
              <td>

                <a *ngIf="obj.idStatusProcesoPostulacion == 8" class="mr-2" style="cursor: pointer;" (click)="verDetalle(obj)"> <i class="pi pi-eye"></i> </a>


              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

    </div>
  </div>
</div>
