<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 col-sm-6 form-group">
      <label class="label">ID Solicitud LO:</label>
      <input class="form-control" type="text" autocomplete="off" disabled
        [(ngModel)]="requestModal.idLibroOperaciones" />
    </div>
    <div class="col-12 col-sm-6 form-group">
      <label class="label">N° Doc. Solicitante:</label>
      <input class="form-control" type="text" autocomplete="off" disabled [(ngModel)]="infoPersona.numeroDocumento" />
    </div>
    <div class="col-12 col-sm-12 form-group">
      <label class="label">Solicitante:</label>
      <input class="form-control" type="text" autocomplete="off" disabled [(ngModel)]="infoPersona.solicitante" />
    </div>
    <div class="col-12 form-group">
      <app-carga-archivo-general [disabled]="!isNew" accept=".pdf" label="Adjuntar Evidencia de Solicitud:"
        [idArchivo]="requestModal.idArchivoEvidencia" [tipoDoc]="tipoArchivoEvidencia"
        (registrarArchivo)="registrarArchivo($event, requestModal)"
        (eliminarArchivo)="eliminarArchivoNew($event, requestModal)">
      </app-carga-archivo-general>
    </div>

    <ng-container *ngIf="!isNew && showRegistro ">
      <div class="col-12">
        <label class="label">N° Registro:</label>
      </div>
      <div class="col-12 form-group" style="display: flex;">
        <input class="form-control" type="text" autocomplete="off" sinSpacioInit [(ngModel)]="requestModal.nroRegistro"
          [disabled]="isEstCompletado" />

        <button *ngIf="!isEstCompletado" pButton pRipple type="button" label="Validar" style="min-width: 100px;"
          [ngClass]="isValidNunReg ? 'p-button-success': 'p-button-danger'"
          class="p-button-rounded p-button-outlined ml-2" (click)="btnValidarReg()" [disabled]="isEstCompletado"></button>
      </div>

      <div *ngIf="!isValidNunReg && requestModal.validarSolicitud != null" class="col-12 col-sm-6 form-group ">
        <label class="label">Agregar Folios / Tomos: </label>
        <div class="p-field-radiobutton">
          <label for=" gfg1" class="m-0 pl-1 pointer label" >Si</label>
          <p-radioButton [value]="true"
                        [(ngModel)]="requestModal.agregarFolioTomo" 
                        inputId=" folioTomo1">
          </p-radioButton>
        </div>

        <div class="p-field-radiobutton">
          <label for=" gfg2" class="m-0 pl-1 pointer label" >No</label>
          <p-radioButton [value]="false" 
                        [(ngModel)]="requestModal.agregarFolioTomo" 
                        inputId=" folioTomo2">
          </p-radioButton>

        </div>
      </div>
      <br/>
      <div  *ngIf="!isValidNunReg && requestModal.validarSolicitud != null" class="col-12 form-group mt-3">
        <label class="label">Libro Físico: </label>
        <div class="p-field-radiobutton">
          <label for=" gfg1" class="m-0 pl-1 pointer label" >Si</label>
          <p-radioButton [value]="true"
                        [(ngModel)]="requestModal.libroFisico" 
                        inputId=" libroFisico1">
          </p-radioButton>
        </div>

        <div class="p-field-radiobutton">
          <label for=" gfg2" class="m-0 pl-1 pointer label" >No</label>
          <p-radioButton [value]="false"
                        [(ngModel)]="requestModal.libroFisico" 
                        inputId=" libroFisico2">
          </p-radioButton>

        </div>
      
        <div *ngIf="requestModal.libroFisico && !isValidNunReg" class="row m-0">
          <div class="col-12 form-group">
            <app-carga-archivo-general [disabled]="isNew" accept=".pdf" label="Cargar Doc. de notificación: "
              [idArchivo]="requestModal.idArchivoNotificacion" [tipoDoc]="tipoArchivoNotificacion"
              (registrarArchivo)="registrarArchivoNotificacion($event, requestModal)"
              (eliminarArchivo)="eliminarArchivoNewNotificacion($event, requestModal)">
            </app-carga-archivo-general>
          </div>
          <div class="col-12 col-sm-6 form-group">
            <label class="label">Número de Folios: </label>
            <input class="form-control" type="text" autocomplete="off" 
              [(ngModel)]="requestModal.numeroFolio" />
          </div>
          <div class="col-12 col-sm-6 form-group">
            <label class="label">Número de Tomos: </label>
            <input class="form-control" type="text" autocomplete="off" [(ngModel)]="requestModal.numeroTomo" />
          </div>
        </div>
      </div>
      <div *ngIf="isValidNunReg" class="col-12 mt-4">
        <div class="mb-2 text-right">
          <button *ngIf="!isEstCompletado" class="btn btn-sm btn-default button-more" type="button" title="Agregar" (click)="btnAgregar()"><i
              class="pi pi-plus"></i></button>
        </div>
        <p-table [value]="listaPlanes">
          <ng-template pTemplate="header">
            <tr>
              <th>N° Plan</th>
              <th>Tipo Plan</th>
              <th>Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-fila>
            <tr>
              <td>{{fila.idPlanManejo}}</td>
              <td>{{fila.tipoPlanDesripcion}}</td>
              <td>
                <span *ngIf="!isEstCompletado" class="pointer"><i class="pi pi-trash" title="Eliminar"
                    (click)="btnEliminarPlan($event, fila.idPlanManejo, fila.idLibroOperacionesPlanManejo)"></i></span>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)"
          [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
          currentPageReportTemplate="Total : {totalRecords} registros">
        </p-paginator>
      </div>
    </ng-container>

    <div class="col-12 mt-4 text-right">
      <button *ngIf="isNew" class="p-button-success p-button-outlined mr-2" type="button" icon="pi pi-save" pButton
        pRipple label="Guardar" (click)="btnGuardar()"></button>

      <button *ngIf="showRegistro && !isEstCompletado" class="p-button-success p-button-outlined mr-2" type="button"
        icon="pi pi-save" pButton pRipple label="Enviar" (click)="btnActualizar($event)"></button>

      <button *ngIf="showRegistro && !isEstCompletado" class="p-button-success p-button-outlined mr-2" type="button"
        icon="pi pi-save" pButton pRipple label="Guardar" (click)="btnGuardarPlanManejo()"></button>

      <button class="p-button-danger p-button-outlined" type="button" icon="pi pi-times" pButton pRipple
        label="Cancelar" (click)="btnCancelar()"></button>
    </div>
  </div>
</div>
