<div class="container-fluid p-0">
  <!-- TITULO -->
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title">Crear Comité Técnico</h3>
    </div>
  </div>
  <!-- TABS -->
  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <mat-tab-group animationDuration="0ms" (selectedIndexChange)="tabChange($event)" [selectedIndex]="tabIndex">
        <mat-tab label="Comité Técnico">
          <ng-template matTabContent>
            <div class="row m-0 py-4">
              <div class="col-12 form-group">
                <div class="mb-2 text-right">
                  <button class="btn btn-sm btn-default button-more" [disabled] = "isDisabled" type="button" title="Agregar"
                    (click)="btnModalComite(null, 0)"><i class="pi pi-plus"></i></button>
                </div>
                <p-table [value]="listaComite">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Acciones</th>
                      <th>DNI</th>
                      <th>Nombres y Apellidos</th>
                      <th>Región</th>
                      <th>Perfil</th>
                      <th>Correo Electrónico</th>
                      <th>Teléfono Celular</th>
                      <th>Doc. Acreditación</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-fila let-rowIndex="rowIndex">
                    <tr>
                      <td>
                        <span *ngIf="!isDisabled" class="pointer" title="Eliminar"
                          (click)="btnEliminarComite($event, fila.idComite, rowIndex)"><i
                            class="pi pi-trash"></i></span>
                      </td>
                      <td>{{fila.numeroDocumento}}</td>
                      <td>{{fila.nombres}}</td>
                      <td>{{fila.departamento}}</td>
                      <td>{{fila.perfil}}</td>
                      <td>{{fila.emailUsuario}}</td>
                      <td>{{fila.telefono}}</td>
                      <td style="min-width: 300px;">
                        <app-carga-archivo-general
                          [disabled]="isDisabled" accept=".pdf"
                          [idArchivo]="fila.idDocAcreditacion ? fila.idDocAcreditacion : 0"
                          [tipoDoc]="'TDOCCOMTEC'" (registrarArchivo)="registrarArchivo($event, fila)"
                          (eliminarArchivo)="fila.idDocAcreditacion = 0" [ocultarNombre]="true">
                        </app-carga-archivo-general>
                      </td>

                      <!-- <td>
                        <span class="pointer" title="Descargar"
                          (click)="btnDescargarArchivoTabla(fila.idFileAdreditacion)"><i class="pi pi-download"></i></span>
                      </td> -->
                    </tr>
                  </ng-template>
                </p-table>
              </div>

              <div class="col-12 mt-3">
                <button class="btn-primary2" [disabled]="!listaComite.length || isDisabled" (click)="btnGuardar()" type="button">Guardar</button>
                <button class="btn-primary2"  [disabled]="!listaComite.length || isDisabled" (click)="btnEnviar($event)" type="button">Enviar Expediente al Comité</button>
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <!-- BOTONES -->
  <!-- <div class="row m-0 mt-4 mb-4">
    <div class="col-12">
      <button (click)="btnRegresar()" class="btn-primary2">Regresar</button> -->
      <!-- <button *ngIf="tabIndex > 0" (click)="tabAnterior()" class="btn-primary2">Anterior</button>
        <button class="btn-primary2" (click)="tabSiguiente()">Siguiente</button> -->
    <!-- </div>
  </div> -->
</div>
<p-dialog
  header="Buscar Usuario"
  appendTo="body"
  [(visible)]="verModalUsuario"
  [modal]="true"
  [style]="{ width: '60vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row m-0">
      <div class="col-12 col-sm-9">
        <div class="form-group">
          <label class="label">Buscar por DNI</label>
          <div class="form-control-selectk">
            <input
              type="text"
              class="form-control"
              placeholder="Ingresa N° DNI"
              maxlength="8"
              [(ngModel)]="queryDNI"
              numero
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-9">
        <div class="form-group">
          <label class="label">Nombre </label>
          <div class="form-control-selectk">
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese Nombre"
              [(ngModel)]="queryNombre"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="form-group">
          <label class="label">&nbsp;&nbsp;</label>
          <div class="text-center">
            <button
              type="button"
              class="btn-primary2"
              (click)="filtrarUsuario()"
            >
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12">
        <p-table [value]="usuarios">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 50px;"></th>
              <th>Nombre</th>
              <th>DNI</th>
              <th>Telefono</th>
              <th>Perfil</th>
              <th>Email</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>
                <p-radioButton
                  name="regente"
                  [(ngModel)]="selectUsuario"
                  [value]="data"
                  (onClick)="isSelectUsuario=true"
                >
                </p-radioButton>
              </td>
              <td>{{ data.nombres }}</td>
              <td>{{ data.numeroDocumento }}</td>
              <th>{{ data.telefono }}</th>
              <th>{{ data.perfil }}</th>
              <th>{{ data.emailUsuario }}</th>

            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="guardarUsuario()"
      pButton
      [disabled] = "!isSelectUsuario"
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cancelarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
<p-confirmPopup></p-confirmPopup>
