<div class="col-12 mt-4 mb-3">
  <p-table
    [value]="otraLista"
    [columns]="colTipoBosque"
    styleClass="p-datatable-gridlines"
    [scrollable]="totales.length > 0 ? true : false"
    [style]="{ width: '100%' }"
  >
    <ng-template pTemplate="caption" class="text-center">
      Resumen de resultados del inventario forestal con fines maderables
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th rowspan="1" colspan="1">Nº ha inventariadas {{ nHaInventariadas }}</th>
        <th *ngFor="let col of columns" rowspan="1" colspan="4">{{ col }}</th>
        <th rowspan="1" colspan="4">Total</th>
      </tr>
      <tr>
        <th rowspan="2" style="max-width: 200px; min-width: 200px;">Especie (Nombre común)</th>
        <th style="max-width: 240px; min-width: 160px;" *ngFor="let col of liscols" colspan="2">{{ col }}</th>
      </tr>
      <tr>
        <th  style="max-width: 120px; min-width: 80px;" *ngFor="let item of lisVr">{{ item }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td style="max-width: 200px; min-width: 200px;">{{ data.especie }}</td>
        <td style="max-width: 120px; min-width: 80px;" *ngFor="let label of data.listaEspecies">{{ label }}</td>
        <td style="max-width: 120px; min-width: 80px;">{{ data.nArbolesTotal }}</td>
        <td style="max-width: 120px; min-width: 80px;">100 %</td>
        <td style="max-width: 120px; min-width: 80px;">{{ data.volumenTotal }}</td>
        <td style="max-width: 120px; min-width: 80px;">100 %</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td class="tdTotal" style="max-width: 200px; min-width: 200px;">Total</td>
        <td class="tdTotal" style="max-width: 120px; min-width: 80px;" *ngFor="let item of totales; index as i">
          <div class="tdTotal" *ngIf="(i - 0) % 4 === 0">{{ item | number: '1.0-0' }}</div>
          <div class="tdTotal" *ngIf="(i - 1) % 4 === 0">{{ item | number: '1.2-2' }}</div>
          <div class="tdTotal" *ngIf="(i - 2) % 4 === 0">{{ item | number: '1.4-4' }}</div>
          <div class="tdTotal" *ngIf="(i - 3) % 4 === 0">{{ item | number: '1.2-2' }}</div>
        </td>
        <td class="tdTotal" style="max-width: 120px; min-width: 80px;">{{ totalArbolesA | number : '1.0-0' }}</td>
        <td class="tdTotal" style="max-width: 120px; min-width: 80px;">{{ totales.length > 0 ? '100%' : '0%' }}</td>
        <td class="tdTotal" style="max-width: 120px; min-width: 80px;">{{ totalVolumenB | number : '1.4-4' }}</td>
        <td class="tdTotal" style="max-width: 120px; min-width: 80px;">{{ totales.length > 0 ? '100%' : '0%' }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
