<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="5.0 Carga Masiva" [selected]="true">
          <div class="row">
            <div
              class="col-12 mt-4 mb-3 mr-2"
              style="overflow: auto; width: 100%; height: 100%"
            >
              <h3 class="title2">Cargar Información</h3>
              <div class="row">
                <div class="col-sm-4">
                  <label class="label"></label><br />
                  <button class="btn-secondary" (click)="btnDescargarFormato()">
                    Descargar Formato
                  </button>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="label"></label><br />
                    <upload-input-button
                      [(ngModel)]="archivo.file"
                      label="Seleccione Archivo"
                      [disabled]="isDisbledObjFormu"
                    ></upload-input-button>
                  </div>
                </div>
                <div class="col-sm-4">
                  <label class="label"></label><br />
                  <button class="btn-secondary" (click)="btnCargar()" [disabled]="isDisbledObjFormu">
                    Cargar Formato
                  </button>
                </div>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="5.1 Características del Inventario Forestal">
          <div class="row p-4">
            <div style="display: none">
              <div class="col-sm-10">
                <upload-input-button
                  labelButton="Cargar Censo"
                  [deleteButton]="true"
                  deleteIcon="times"
                  (change)="cargarCenso2()"
                  [(ngModel)]="file"
                  [disabled]="isDisbledObjFormu"
                >
                </upload-input-button>
              </div>
              <div class="col-sm-2">
                <button
                  class="btn-secondary"
                  (click)="enviarArchivo()"
                  [disabled]="isDisbledObjFormu"
                >
                  Guardar
                </button>
              </div>
            </div>
            <br />
            <div class="col-12 p-0">
              <mat-tab-group animationDuration="0ms">
                <mat-tab label="5.1.1. Potencial Maderable">
                  <app-map-custom
                  [disabled]="isDisbledObjFormu"
                    [idPlanManejo]="idPGMF"
                    [codigoProceso]="CodigosPGMF.PGMF_TAB_5"
                    [codigoSubSeccion]="CodigosPGMF.PGMF_TAB_5_1"
                    [tipoGeometria]="'TPPARC'"
                    (areaTotal)="
                      calcularAreaParcela($event, CodigosPGMF.PGMF_TAB_5_1)
                    "
                  ></app-map-custom>
                  <div class="col-12">
                    <div style="padding: 15px">
                      <p-table #tblPotencialMaderable [value]="[{}]">
                        <ng-template pTemplate="body" let-data>
                          <tr>
                            <td>Diseño (máx. 250 caract.):</td>
                            <td colspan="3">
                              <!-- <input
                                type="text"
                                class="form-control form-control-sm"
                                [disabled]="isDisbledObjFormu"
                                [(ngModel)]="objIFPM.disenio"
                                maxlength="250"
                              /> -->
                              <textarea 
                                class="form-control form-control-sm"
                                rows="4" 
                                maxlength="250"
                                [disabled]="isDisbledObjFormu"
                                [(ngModel)]="objIFPM.disenio"
                                style="resize: none;"
                              >
                              </textarea>
                            </td>
                            <!-- <td> -->
                            <!-- <button
                                      #btnCargaSHPPotencial
                                      type="button"
                                      class="btn-secondary"
                                      (click)="fileInputPoten.click()">
                                <i class="pi pi-upload"></i> Adjuntar Shp
                                <input
                                      name="potencialMaderable"
                                      #fileInputPoten
                                      accept=".zip"
                                      type="file"
                                      (change)="onFileChangeSHP($event)"
                                      style="display: none;" />
                              </button> -->
                            <!-- <upload-button label="Cargar SHP" (change)="cargarSHP()" accept=".zip" [(ngModel)]="fileSHP"
                                [disabled]="disabled">
                              </upload-button>&nbsp;
                              <upload-button label="Cargar SHP" (change)="cargarSHP2($event)" accept=".zip"
                                [disabled]="disabled">
                              </upload-button>
                            </td> -->
                          </tr>
                          <tr>
                            <td>Diámetro mínimo de inventario (cm):</td>
                            <td>
                              <input
                                class="form-control form-control-sm"
                                [disabled]="isDisbledObjFormu"
                                [(ngModel)]="
                                  objIFPM.diametroMinimoInventariadaCM
                                "
                                decimal
                                [maxLength]="9"
                                [decimalPlaces]="2"
                              />
                            </td>
                            <td>Intensidad de muestreo (%):</td>
                            <td>
                              <input
                                class="form-control form-control-sm"
                                [disabled]="isDisbledObjFormu"
                                [(ngModel)]="
                                  objIFPM.intensidadMuestreoPorcentaje
                                "
                                decimal
                                [maxLength]="9"
                                [decimalPlaces]="2"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>Tamaño de parcela (m):</td>
                            <td>
                              <input
                                class="form-control form-control-sm"
                                [disabled]="isDisbledObjFormu"
                                [(ngModel)]="objIFPM.tamanioParcela"
                                decimal
                                [maxLength]="9"
                                [decimalPlaces]="2"
                              />
                            </td>
                            <td>Distancia entre parcelas:</td>
                            <td>
                              <input
                                class="form-control form-control-sm"
                                [disabled]="isDisbledObjFormu"
                                [(ngModel)]="objIFPM.distanciaParcela"
                                decimal
                                [maxLength]="9"
                                [decimalPlaces]="2"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>N° Parcelas:</td>
                            <td>
                              <input
                                class="form-control form-control-sm"
                                [disabled]="isDisbledObjFormu"
                                [(ngModel)]="objIFPM.nroParcela"
                                numero
                                [min]="0"
                                [maxLength]="6"
                              />
                            </td>
                            <td>Área total inventariada (ha):</td>
                            <td>
                              <input
                                class="form-control form-control-sm"
                                [disabled]="true"
                                [(ngModel)]="objIFPM.totalAreaInventariada"
                                decimal
                                [maxLength]="9"
                                [decimalPlaces]="2"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>Método de muestreo (máx. 250 caract.):</td>
                            <td colspan="3">
                              <!-- <input
                                type="text"
                                class="form-control form-control-sm"
                                maxlength="250"
                                [disabled]="isDisbledObjFormu"
                                [(ngModel)]="objIFPM.metodoMuestreo"
                              /> -->
                              <textarea 
                                class="form-control form-control-sm"
                                rows="4" 
                                maxlength="250"
                                [disabled]="isDisbledObjFormu"
                                [(ngModel)]="objIFPM.metodoMuestreo"
                                style="resize: none;"
                              >
                              </textarea>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                  <div class="step__btn mt-4">
                    <button
                      class="btn-primary2"
                      [disabled]="isDisbledObjFormu"
                      (click)="GuardarIFPM()"
                    >
                      Guardar
                    </button>
                  </div>
                </mat-tab>
                <mat-tab label="5.1.2. Regeneración de Fustales">
                  <app-map-custom
                  [disabled]="isDisbledObjFormu"
                    [idPlanManejo]="idPGMF"
                    [codigoProceso]="CodigosPGMF.PGMF_TAB_5"
                    [codigoSubSeccion]="CodigosPGMF.PGMF_TAB_5_2"
                    [tipoGeometria]="'TPPARC'"
                    (areaTotal)="
                      calcularAreaParcela($event, CodigosPGMF.PGMF_TAB_5_2)
                    "
                  ></app-map-custom>
                  <div class="col-12">
                    <div style="padding: 15px">
                      <p-table #tblRegeneracion [value]="[{}]">
                        <ng-template pTemplate="body" let-data>
                          <tr>
                            <td>Diseño (máx. 250 caract.):</td>
                            <td colspan="4">
                              <!-- <input
                                type="text"
                                class="form-control form-control-sm"
                                [disabled]="isDisbledObjFormu"
                                [(ngModel)]="objIFRF.disenio"
                                maxlength="250"
                              />  -->
                              <textarea 
                                class="form-control form-control-sm"
                                rows="4" 
                                maxlength="250"
                                [disabled]="isDisbledObjFormu"
                                [(ngModel)]="objIFRF.disenio"
                                style="resize: none;"
                              >
                              </textarea>
                            </td>
                            <!-- <td>
                              <button #btnCargaSHPRegen type="button" class="btn-secondary"
                                (click)="fileInputRegen.click()" style="min-width: 40px;" [disabled]="disabled">
                                <i class="pi pi-upload"></i> Adjuntar Shp
                                <input name="regeneracion" #fileInputRegen accept=".zip" type="file"
                                  (change)="onFileChangeSHP($event)" style="display: none;" />
                              </button>
                            </td> -->
                          </tr>
                          <tr>
                            <td>Rango diamétrico (cm):</td>
                            <td>
                              <input
                                class="form-control form-control-sm"
                                [disabled]="isDisbledObjFormu"
                                [(ngModel)]="objIFRF.rangoDiametroCM"
                                decimal
                                [maxLength]="9"
                                [decimalPlaces]="2"
                              />
                            </td>
                            <td>Intensidad de muestreo (%):</td>
                            <td>
                              <input
                                class="form-control form-control-sm"
                                [disabled]="isDisbledObjFormu"
                                [(ngModel)]="
                                  objIFRF.intensidadMuestreoPorcentaje
                                "
                                decimal
                                [maxLength]="9"
                                [decimalPlaces]="2"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>Tamaño de parcela (m):</td>
                            <td>
                              <input
                                class="form-control form-control-sm"
                                [disabled]="isDisbledObjFormu"
                                [(ngModel)]="objIFRF.tamanioParcela"
                                decimal
                                [maxLength]="9"
                                [decimalPlaces]="2"
                              />
                            </td>
                            <td>Área muestreada (ha):</td>
                            <td>
                              <input
                                class="form-control form-control-sm"
                                [disabled]="true"
                                [(ngModel)]="objIFRF.areaMuestreada"
                                decimal
                                [maxLength]="9"
                                [decimalPlaces]="2"
                              />
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                    <div class="row mt-4">
                      <div class="col-12">
                        <label class="m-0 mr-4 label"
                          >Se amplía información en el Anexo 4:</label
                        >
                        <!-- <div class="row"> -->
                        <!-- <div class="col-12 col-md-12"> -->
                        <div class="p-field-radiobutton">
                          <strong for="Si" class="label mr-2">SI</strong>
                          <p-radioButton
                            name="selectAnexo4_5_1_2"
                            value="S"
                            inputId="Si"
                            [disabled]="isDisbledObjFormu"
                            [(ngModel)]="selectAnexo4_5_1_2"
                          >
                          </p-radioButton>
                        </div>
                        <div class="p-field-radiobutton">
                          <strong for="No" class="label mr-2">NO</strong>
                          <p-radioButton
                            name="selectAnexo4_5_1_2"
                            value="N"
                            inputId="No"
                            [disabled]="isDisbledObjFormu"
                            [(ngModel)]="selectAnexo4_5_1_2"
                            (onClick)="anexoN(idFile_PGMF_5_1_2, fileAnexo5_1_2)"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                      <div class="col-12 p-0" [hidden]="selectAnexo4_5_1_2 == 'N'">
                        <div *ngIf="selectAnexo4_5_1_2 == 'S'">
                          <app-anexo-upload-file
                            [fileInfGenreal]="fileAnexo5_1_2"
                            [label]="'Adjuntar Evidencia:'"
                            [idPlanManejo]="idPGMF"
                            [idTipoDocumento]="codFileAnexo.PGMF_TAB5_1_2"
                            [codigoProceso]="codFileAnexo.PGMF_TAB5_1_2"
                            (registrarArchivoId)="cargarIdArchivo($event, codFileAnexo.PGMF_TAB5_1_2)"
                            [isDisbledObjFormu]="isDisbledObjFormu"
                          >
                          </app-anexo-upload-file>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="step__btn mt-4">
                    <button
                      class="btn-primary2"
                      [disabled]="isDisbledObjFormu"
                      (click)="GuardarIFRF()"
                    >
                      Guardar
                    </button>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
          <!-- <mapa [files]="filFile" [name]="eventName"></mapa> -->
          <div
            class="row m-0 mt-4 h-100 justify-content-center align-items-center"
          >
            <div class="col-12 col-sm-12">
              <lineamiento-inner
                [base]="lineamiento"
                [titulo]="
                  'Evaluación de Lineamiento 9.1 Características del inventario forestal'
                "
                [isShowObjEval]="isShowObjEval"
                [isDisabledObjEval]="isDisabledObjEval"
              >
                <ng-template #descripcion>
                  <div class="row m-0">
                    <div class="col-12">
                      <p class="fz-11 m-0 mb-3">
                        Analizar la metodología con la que se realizó el
                        inventario y revisar lo siguiente:
                      </p>
                      <p class="fz-11 m-0 mb-1 ml-4">
                        1. Se consigne información sobre el diseño del
                        inventario solicitado.
                      </p>
                      <p class="fz-11 m-0 mb-1 ml-4">
                        2. Las unidades de muestreo se distribuyan de manera
                        proporcional a la superficie de cada tipo de bosque o
                        estrato del área productiva.
                      </p>
                      <p class="fz-11 m-0 mb-1 ml-4">
                        3. Se haya calculado correctamente el tamaño de la
                        muestra.
                      </p>
                      <p class="fz-11 m-0 mb-1 ml-4">
                        4. Se consigne información sobre el diámetro mínimo de
                        inventario, tamaño de la parcela, intensidad de
                        muestreo, distancia entre parcelas.
                      </p>
                      <p class="fz-11 m-0 mb-1 ml-4">
                        5. Se consigne información sobre las principales
                        variables estadísticas del inventario como: intensidad
                        de muestreo, media aritmética, desviación estándar,
                        coeficiente de variación, límites de confianza, error
                        estándar, y error de muestreo del 20% y a un 95% de
                        nivel de confianza.
                      </p>
                      <p class="fz-11 m-0 mb-1 ml-4">
                        6. Se hayan inventariado las especies maderables a
                        partir de 20 cm de DAP.
                      </p>
                      <p class="fz-11 m-0 mb-1 ml-4">
                        7. El inventario de fustales se haya realizado en sub
                        parcelas de muestreo cuya intensidad corresponda a un
                        20% del área de la unidad de muestreo, para las especies
                        maderables de entre 10 cm y menores a 20 cm de DAP.
                      </p>
                      <p class="fz-11 m-0 mb-1 ml-4">
                        8. Se hayan previsto intensidades de aprovechamiento de
                        hasta 10 m3/ha en áreas con pendientes de entre 60 a
                        100%. En este caso se prevé el uso de tecnologías de
                        bajo impacto.
                      </p>
                    </div>
                  </div>
                </ng-template>
              </lineamiento-inner>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="5.2 Resultados para el Potencial Maderable" [selected]="false">
          <div class="col-12 mt-4 mb-3">
            <p class="texto-parrafo">a) Lista de especies inventariadas.</p>
            <div class="d-flex justify-content-end">
              <button
                class="btn-primary2"
                [disabled]="isDisbledObjFormu"
                (click)="anexo2()"
              >
                Ver Anexo 2
              </button>
            </div>
            <div class="row m-0 pb-2">
              <div class="col-3 p-0 pt-2">
                <p class="texto-parrafo">
                  b) Error de muestreo (%) sobre el volumen:
                  <!-- <textarea type="number" autocomplete="off" class="form-control form-control-sm col-sm-4" rows="1"
                    [autoResize]="true" pInputTextarea [disabled]="disabled"></textarea> -->
                </p>
              </div>
              <div class="col-3 pl-2">
                <input
                  class="form-control form-control-sm"
                  [disabled]="isDisbledObjFormu"
                  [(ngModel)]="objPMB.errorMuestreo"
                  decimal
                  [maxLength]="9"
                  [decimalPlaces]="2"
                />
              </div>
            </div>
            <p class="texto-parrafo">
              c) Promedios del número de árboles, (N), el área basal (AB) y el
              volumen comercial (Vc) por especie y clases diamétricas, por
              hectárea y total, para cada tipo de bosque diferenciado (Anexo 3)
            </p>
            <div class="d-flex justify-content-end">
              <button
                class="btn-primary2"
                [disabled]="isDisbledObjFormu"
                (click)="anexo3()"
              >
                Ver Anexo 3
              </button>
            </div>
            <p class="texto-parrafo">
              d) Resumen de valores promedio, por hectárea y total, para las
              variables principales, por tipo de bosque
            </p>
            <br />
            <p-table styleClass="p-datatable-gridlines" [value]="listPMDPrueba">
              <ng-template pTemplate="header">
                <tr>
                  <th>Tipo de Bosque</th>
                  <th>Especie</th>
                  <th>Variable</th>
                  <th>Total en el tipo de bosque</th>
                  <th>Total por Ha</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr>
                  <td [attr.rowspan]="data.arrayEspecies.length + 1">
                    {{ data.nombreBosque }}
                  </td>
                </tr>
                <tr *ngFor="let d of data.arrayEspecies">
                  <td>
                    {{ d.especies }}
                  </td>
                  <td colspan="3" style="margin: 0px; padding: 0%">
                    <div *ngFor="let v of d.array">
                      <table>
                        <tr>
                          <td style="width: 22%">
                            {{ v.var }}
                          </td>
                          <td style="width: 50%">
                            {{ v.totalBosque }}
                          </td>
                          <td style="width: 28%">
                            {{ v.totalHa }}
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr class="font11-td">
                  <td colspan="2" rowspan="3" class="text-center">Total</td>
                  <td class="text-center">N</td>
                  <td class="text-center">
                    {{ totalesBosqueN | number: "1.0-0" }}
                  </td>
                  <td class="text-center">
                    {{ totalesAreaN | number: "1.2-2" }}
                  </td>
                </tr>
                <tr class="font11-td">
                  <td class="text-center">AB m2</td>
                  <td class="text-center">
                    {{ totalesBosqueAB | number: "1.2-2" }}
                  </td>
                  <td class="text-center">
                    {{ totalesAreaAB | number: "1.2-2" }}
                  </td>
                </tr>
                <tr class="font11-td">
                  <td class="text-center">Vp m3</td>
                  <td class="text-center">
                    {{ totalesBosqueVP | number: "1.2-2" }}
                  </td>
                  <td class="text-center">
                    {{ totalesAreaVP | number: "1.2-2" }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <br />
            <p class="texto-parrafo">
              e) Especies más abundantes (N 1/ha, y en porcentaje) en el
              potencial maderable:
            </p>
            <br />
            <p-table [value]="listEspeciesE" styleClass="p-datable-gridlines">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 70%">Especie</th>
                  <th style="width: 15%">N</th>
                  <th style="width: 15%">%</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr>
                  <td>
                    {{ data.especie }}
                  </td>
                  <td>
                    {{ data.totalHa }}
                  </td>
                  <td>
                    {{ data.porcentaje | number: "1.2-2" }}
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr class="font11-td">
                  <td>Total</td>
                  <td>{{ totalN | number: "1.2-2" }}</td>
                  <td>{{ totalPorcentaje | number: "1.2-2" }} %</td>
                </tr>
              </ng-template>
            </p-table>

            <div
              class="row m-0 mt-4 h-100 justify-content-center align-items-center"
            >
              <div class="col-12 col-sm-12">
                <lineamiento-inner
                  [base]="lineamiento2"
                  [titulo]="
                    'Evaluación de Lineamiento 9.2 Resultados para el potencial maderable'
                  "
                  [isShowObjEval]="isShowObjEval"
                  [isDisabledObjEval]="isDisabledObjEval"
                >
                  <ng-template #descripcion>
                    <div class="row m-0">
                      <div class="col-12">
                        <p class="fz-11 m-0 mb-3">Verificar lo siguiente:</p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          1. Las especies sean citadas en nomenclatura binomial
                          (género y especie) y en los anexos se incluya la
                          familia botánica a la que pertenece.
                        </p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          2. Los resultados por clase diométrica y tipo de
                          bosque o estrato concuerden con lo presentado en los
                          cuadros resumen que forman parte del PGMF.
                        </p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          3. Se utilice el valor de 0.65 como factor de forma
                          para la tabulación de datos, y en el caso de la
                          especie Swietenia macrophylla (cooba) se considere el
                          factor de forma por región: 0.73 (Madre de Dios). 0.76
                          (Ucayali) y 0.71 (Loreto). De considerarse valores
                          diferentes, revisar que los sustentos citados
                          provengan de fuentes fiables.
                        </p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          4. El inventario considere el potencial maderable por
                          cada tipo de bosque.
                        </p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          5. Los resultados contemplados en el resumen
                          correspondan a los obtenidos de la tabulación de los
                          datos del censo comercial o inventario.
                        </p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          6. Se presente información sobre las especies más
                          abundantes del bosque productivo.
                        </p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          7. Distribución de número de individuos por close
                          diamétrica para las especies a aprovechar.
                        </p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          8. Se hayan previsto intensidades de aprovechamiento
                          de hasta 10 m3/ha en áreas con pendientes de entre 60
                          a 100%. En este caso se prevé el uso de tecnologías de
                          bajo impacto.
                        </p>
                      </div>
                    </div>
                  </ng-template>
                </lineamiento-inner>
              </div>
            </div>
          </div>
          <div class="step__btn mt-4">
            <button
              class="btn-primary2"
              [disabled]="isDisbledObjFormu"
              (click)="GuardarPM()"
            >
              Guardar
            </button>
          </div>
        </p-accordionTab>

        <p-accordionTab header="5.3 Resultados para los Fustales" [selected]="false">
          <div class="col-12 mt-4 mb-3">
            <p class="texto-parrafo">
              a) Lista de especies inventariadas: Ver Anexo 2.
            </p>
            <div class="d-flex justify-content-end">
              <button
                class="btn-primary2"
                [disabled]="isDisbledObjFormu"
                (click)="anexo2()"
              >
                Ver Anexo 2
              </button>
            </div>

            <p class="texto-parrafo">
              b) Promedios de número de árboles, (N), área basal (AB) y volumen
              por clase diamétrica y especie para cada tipo de bosque
              diferenciado (Ver Anexo 3)
            </p>
            <div class="d-flex justify-content-end">
              <button
                class="btn-primary2"
                [disabled]="isDisbledObjFormu"
                (click)="anexo3()"
              >
                Ver Anexo 3
              </button>
            </div>
            <p class="texto-parrafo">
              c) Resumen de valores promedio, por hectárea y total, para las
              variables principales, por tipo de bosque
            </p>
            <br />
            <p-table [value]="listFC" styleClass="p-datatable-gridlines">
              <ng-template pTemplate="header">
                <tr>
                  <th rowspan="2">Tipo de Bosque</th>
                  <th rowspan="2">Especie</th>
                  <th rowspan="2">Variable</th>
                  <th colspan="2">DAP (cm)</th>
                  <th rowspan="2">Total por ha</th>
                  <th rowspan="2">Total en el tipo de bosque</th>
                </tr>
                <tr>
                  <th>10-15</th>
                  <th>15-20</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr>
                  <td [attr.rowspan]="data.arrayEspecies.length + 1">
                    {{ data.nombreBosque }}
                  </td>
                </tr>
                <tr *ngFor="let d of data.arrayEspecies">
                  <td rowspan="1">
                    {{ d.especies }}
                  </td>
                  <td colspan="5" style="margin: 0px; padding: 0%">
                    <div *ngFor="let v of d.array">
                      <table>
                        <tr>
                          <td style="width: 16%">
                            {{ v.var }}
                          </td>
                          <td style="width: 12%">
                            {{ v.dap1015 }}
                          </td>
                          <td style="width: 13%">
                            {{ v.dap1520 }}
                          </td>
                          <td style="width: 21%">
                            {{ v.totalHa }}
                          </td>
                          <td style="width: 38">
                            {{ v.totalBosque }}
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr class="font11-td">
                  <td colspan="2" rowspan="2" class="text-center">Total</td>
                  <td class="text-center">N</td>
                  <td class="text-center">
                    {{ totalListFC.nDap1015 | number: "1.0-0" }}
                  </td>
                  <td class="text-center">
                    {{ totalListFC.nDap1520 | number: "1.0-0" }}
                  </td>
                  <td class="text-center">
                    {{ totalListFC.nTotalHa | number: "1.2-4" }}
                  </td>
                  <td class="text-center">
                    {{ totalListFC.nTotalBosque | number: "1.0-0" }}
                  </td>
                </tr>
                <tr class="font11-td">
                  <td class="text-center">AB m2</td>
                  <td class="text-center">
                    {{ totalListFC.abDap1015 | number: "1.2-4" }}
                  </td>
                  <td class="text-center">
                    {{ totalListFC.abDap1520 | number: "1.2-4" }}
                  </td>
                  <td class="text-center">
                    {{ totalListFC.abTotalHa | number: "1.2-4" }}
                  </td>
                  <td class="text-center">
                    {{ totalListFC.abTotalBosque | number: "1.2-4" }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <br />
            <p class="texto-parrafo">
              d) Especies más abundantes (N/ha y en porcentaje) por grupo
              comercial (Opcional)
            </p>
            <br />
            <p-table [value]="listEspeciesA" styleClass="p-datatable-gridlines">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 45%">Especie</th>
                  <th style="width: 20%">GC</th>
                  <th style="width: 20%">N°</th>
                  <th style="width: 15%">%</th>
                </tr>
                <tr></tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr>
                  <td>
                    {{ data.especie }}
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      [disabled]="disabled"
                      [(ngModel)]="data.grupoComercial"
                      maxlength="5"
                    />
                  </td>
                  <td>
                    {{ data.totalHa | number: "1.2-4" }}
                  </td>
                  <td>
                    {{ data.porcentaje | number: "1.2-2" }}
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr class="font11-td">
                  <td>Total</td>
                  <td></td>
                  <td>{{ totalNF | number: "1.2-4" }}</td>
                  <td>{{ totalPorcentajeF | number: "1.2-2" }} %</td>
                </tr>
              </ng-template>
            </p-table>
            <div
              class="row m-0 mt-4 h-100 justify-content-center align-items-center"
            >
              <div class="col-12 col-sm-12">
                <lineamiento-inner
                  [base]="lineamiento3"
                  [titulo]="
                    'Evaluación de Lineamiento 9.3 Resultados para los fustales'
                  "
                  [isShowObjEval]="isShowObjEval"
                  [isDisabledObjEval]="isDisabledObjEval"
                >
                  <ng-template #descripcion>
                    <div class="row m-0">
                      <div class="col-12">
                        <p class="fz-11 m-0 mb-3">Verificar lo siguiente:</p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          1. Se cite a las especies inventariadas.
                        </p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          2. Se consigne los valores promedio del número de
                          árboles y el área basal por especie y clases
                          diamétricas a intervalos de 5 cm. por hectárea y área
                          total. para cada tipo de bosque.
                        </p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          3. Las especies más abundantes en el bosque de
                          producción forestal
                        </p>
                      </div>
                    </div>
                  </ng-template>
                </lineamiento-inner>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-12">
                <label class="m-0 mr-4 label"
                  >Se amplía información en el Anexo 4:</label
                >
                <div class="p-field-radiobutton">
                  <strong for="Si" class="mr-2">SI</strong>
                  <p-radioButton
                    name="selectAnexo4_5_3"
                    value="S"
                    inputId="Si"
                    [(ngModel)]="selectAnexo4_5_3"
                    [disabled]="isDisbledObjFormu"
                  >
                  </p-radioButton>
                </div>
                <div class="p-field-radiobutton">
                  <strong for="No" class="mr-2">NO</strong>
                  <p-radioButton
                    name="selectAnexo4_5_3"
                    value="N"
                    inputId="No"
                    [(ngModel)]="selectAnexo4_5_3"
                    [disabled]="isDisbledObjFormu"
                    (onClick)="anexoN(idFile_PGMF_5_3, fileAnexo5_3)"
                  >
                  </p-radioButton>
                </div>
              </div>
              <div class="col-12 p-0" [hidden]="selectAnexo4_5_3 == 'N'">
                <div *ngIf="selectAnexo4_5_3 == 'S'">
                  <app-anexo-upload-file
                    [fileInfGenreal]="fileAnexo5_3"
                    [label]="'Adjuntar Evidencia:'"
                    [idPlanManejo]="idPGMF"
                    [idTipoDocumento]="codFileAnexo.PGMF_TAB5_3"
                    [codigoProceso]="codFileAnexo.PGMF_TAB5_3"
                    (registrarArchivoId)="cargarIdArchivo($event, codFileAnexo.PGMF_TAB5_3)"
                    [isDisbledObjFormu]="isDisbledObjFormu"
                  >
                  </app-anexo-upload-file>
                </div>
              </div>
            </div>

            <div class="step__btn mt-4">
              <button
                class="btn-primary2"
                [disabled]="isDisbledObjFormu"
                (click)="GuardarFustales()"
              >
                Guardar
              </button>
            </div>
          </div>
        </p-accordionTab>
        
        <p-accordionTab
          header="5.4 Potencial de Producción de Recursos Forestales No Maderables y Fauna Silvestre (Opcional)"
          [selected]="false"
        >
          <div class="col-12 mt-4 mb-3">
            <p-table
              [value]="potencialProduccion"
              styleClass="p-datatable-gridlines"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>Especie (flora o fauna)</th>
                  <th>Productos a aprovechar</th>
                  <th>Sector</th>
                  <th>Área (ha)</th>
                  <th>N° total individuos</th>
                  <th>Individuos/ha</th>
                  <th>Volumen, peso o número aprovechable</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr>
                  <td
                    [attr.rowspan]="
                      data.resultadosAprovechamientoRFNMDtos.length + 1
                    "
                  >
                    {{ data.especie }}
                  </td>
                  <td
                    [attr.rowspan]="
                      data.resultadosAprovechamientoRFNMDtos.length + 1
                    "
                  >
                    {{ data.productoAprovechar }}
                  </td>
                </tr>
                <tr *ngFor="let item of data.resultadosAprovechamientoRFNMDtos">
                  <td>
                    {{ item.sector }}
                  </td>
                  <td>
                    {{ item.area }}
                  </td>
                  <td>
                    {{ item.nTotalIndividuos }}
                  </td>
                  <td>
                    {{ item.individuosHa }}
                  </td>
                  <td>
                    {{ item.volumen }}
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td>Total</td>
                  <td></td>
                  <td>{{ sectorTotal | number: "1.2-2" }}</td>
                  <td>{{ area | number: "1.2-2" }}</td>
                  <td>{{ nTotalIndividuos | number: "1.2-2" }}</td>
                  <td>{{ individuosHa | number: "1.2-2" }}</td>
                  <td>{{ volumen | number: "1.2-2" }}</td>
                </tr>
              </ng-template>
            </p-table>

            <div class="row mt-4">
              <div class="col-12">
                <label class="m-0 mr-4 label"
                  >Se amplía información en el Anexo 4:</label
                >
                <div class="p-field-radiobutton">
                  <strong for="Si" class="mr-2">SI</strong>
                  <p-radioButton
                    name="selectAnexo4_5_4"
                    value="S"
                    inputId="Si"
                    [(ngModel)]="selectAnexo4_5_4"
                    [disabled]="isDisbledObjFormu"
                  >
                  </p-radioButton>
                </div>
                <div class="p-field-radiobutton">
                  <strong for="No" class="mr-2">NO</strong>
                  <p-radioButton
                    name="selectAnexo4_5_4"
                    value="N"
                    inputId="No"
                    [(ngModel)]="selectAnexo4_5_4"
                    [disabled]="isDisbledObjFormu"
                    (onClick)="anexoN(idFile_PGMF_5_4, fileAnexo5_4)"
                  >
                  </p-radioButton>
                </div>
              </div>

              <div class="col-12 p-0" [hidden]="selectAnexo4_5_4 == 'N'">
                <div *ngIf="selectAnexo4_5_4 == 'S'">
                  <app-anexo-upload-file
                    [fileInfGenreal]="fileAnexo5_4"
                    [label]="'Adjuntar Evidencia:'"
                    [idPlanManejo]="idPGMF"
                    [idTipoDocumento]="codFileAnexo.PGMF_TAB5_4"
                    [codigoProceso]="codFileAnexo.PGMF_TAB5_4"
                    (registrarArchivoId)="cargarIdArchivo($event, codFileAnexo.PGMF_TAB5_4)"
                    [isDisbledObjFormu]="isDisbledObjFormu"
                  >
                  </app-anexo-upload-file>
                </div>
              </div>
            </div>

            <div class="step__btn mt-4">
              <button
                class="btn-primary2"
                [disabled]="isDisbledObjFormu"
                (click)="GuardarPP()"
              >
                Guardar
              </button>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
      <div class="step__btn mt-4 mb-4">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
    </div>
  </div>
</div>
<p-dialog
  appendTo="body"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <p-header>
    <div class="d-flex justify-content-start">
      <span>
        <i class="pi pi-exclamation-triangle color"></i>
      </span>
    </div>
  </p-header>
  <div class="pl-4">
    <span
      >Esta información actualmente no está disponible. Se completará cuando se
      realice la sincronización con el app móvil.</span
    >
  </div>
  <ng-template pTemplate="footer">
    <!-- <p-button
      icon="pi pi-times"
      (click)="displayModal=false"
      label="No"
    ></p-button>
    <p-button
      icon="pi pi-check"
      (click)="displayModal=false"
      label="Sí"
      class="p-button-text"
    ></p-button> -->
    <p-button
      icon="pi pi-check"
      (click)="displayModal = false"
      label="Aceptar"
      class="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
<p-confirmPopup></p-confirmPopup>
