<div class="container-fluit py-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="Guia Forestal" [selected]="true">
          <div class="row m-0">
          <!--  <div class="col-12 col-sm-6 form-group">
              <label class="label">Plan Manejo:</label>
              <div class="form-control-selectk">
                <p-dropdown appendTo="body" [options]="comboPlanManejo" placeholder="Seleccione"
                  [(ngModel)]="requestTabla.idPlanManejo" optionLabel="nombrePlan" optionValue="idPlanManejo"
                  (ngModelChange)="changePlanManejo()">
                </p-dropdown>
              </div>
            </div>
             Tabla Trozas -->
            <div class="col-12 form-group mt-3">
              <label class="label">Listado de Guias</label>
              <p-table [value]="listaTrozas" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
              currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]" [totalRecords]="listaTrozas.length">
                <ng-template pTemplate="header">
                  <tr>
                    <th>N° Guia</th>
                    <th>N° Guia Transporte</th>
                    <th>Ruc</th>
                    <th>Razon Social</th>
                    <th>Representante Legal</th>
                    <th>Tipo Transporte</th>
                    <th>Tipo Vehiculo</th>
                    <th>PLaca</th>
                    <th>Ver Detalle</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-fila>
                  <tr>
                    <td>{{fila.idOrdenDesktop}}</td>
                    <td>{{fila.nroGuiaTransporte}}</td>
                    <td>{{fila.ruc}}</td>
                    <td>{{fila.razonSocial}}</td>
                    <td>{{fila.repLegal}}</td>
                    <td>{{fila.tipoTransporte}}</td>
                    <td>{{fila.tipoVehiculo}}</td>
                    <td>{{fila.placa}}</td>
                    <td>
                      <span class="pointer"><i class="pi pi-eye" title="Ver Detalle"></i></span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <!--<p-paginator [rows]="10" [totalRecords]="totalRecordsTroza" (onPageChange)="loadDataTroza($event)"
                [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registros">
              </p-paginator>-->
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Lista de Guia Forestal Persona">
          <div class="row m-0">
            <!--<div class="col-12 col-sm-6 form-group">
              <label class="label">Plan Manejo:</label>
              <div class="form-control-selectk">
                <p-dropdown appendTo="body" [options]="comboPlanManejo" placeholder="Seleccione"
                [(ngModel)]="requestTabla1.idPlanManejo" optionLabel="nombrePlan" optionValue="idPlanManejo" 
                (ngModelChange)="changePlanManejo1()">
                </p-dropdown>
              </div>
            </div>-->
            <!-- Tabla Productos -->
            <div class="col-12 form-group">
              <label class="label">Lista de Guia Forestal Persona</label>
              <p-table [value]="listaProductos" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
              currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]" (onPageChange)="loadDataProd($event)" [totalRecords]="listaProductos.length">
                <ng-template pTemplate="header" >
                  <tr>
                    <th>N° Guia Persona</th>
                    <th>Número Documento</th>
                    <th>Nombre</th>
                    <th>Direccion </th>
                    <th>Tipo Persona</th>
                    <th>Ver Detalle</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-fila>
                  <tr>
                    <td>{{fila.idtransporteForestalPerDesktop}}</td>
                    <td>{{fila.numDocumento}}</td>
                    <td>{{fila.nombre}}</td>
                    <td>{{fila.direccion}}</td>
                    <td>{{fila.tipoPersona}}</td>
                    <td>
                      <span class="pointer"><i class="pi pi-eye" title="Ver Detalle"></i></span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <!--<p-paginator [rows]="10" [totalRecords]="totalRecordsProd" (onPageChange)="loadDataProd($event)"
                [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registros">
              </p-paginator>-->
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>