<div class="text-center">
  <div class="col-12 p-2">
    <h3 class="sub-title">
      Notificación Enviada. <br> Tienen un plazo de 15 días para presentar <br> impugnación
      si no está de acuerdo <br> con el resultado.
    </h3>
  </div>
  <div class="col-12 p-2">
    <button class="btn btn-sm btn-primary2" (click)="aceptar()">
      Aceptar
    </button>
  </div>
</div>
