<div class="row pt-3 mb-4">
  <div class="col-12 pt-2">
    <div
      class="col-12 text-right"
      *ngIf="perfil == perfiles.AUTORIDAD_REGIONAL"
    >
      <button
        type="submit"
        class="btn-primary2 mb-4"
        (click)="openModalMultiEspeciesFlora('Listado de Especies del Plan')"
        [disabled]="nrDocumentoGestion == 0"
      >
        Listado de Especies del Plan
      </button>

      <!-- <button
        type="button"
        class="btn btn-sm btn-default mb-2"
        title="Agregar" [disabled]="isPerfilArffs"
        (click)="openModalMultiEspeciesFlora('Listado de Especies del Plan')"
      >
        <i class="pi pi-plus"></i>
      </button> -->
    </div>
    <p-table [value]="especies" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th *ngIf="defaultT" class="text-center">Acciones</th>
          <th>N° Especie</th>
          <th>Nombre Científico</th>
          <th>Nombre Común</th>
          <th>Categoría</th>
          <th>Volumen (m3)</th>
          <th>Valor Estado Natural (VEN)</th>
          <th *ngIf="defaultT">Monto</th>
          <th *ngIf="!defaultT">Pago por DA</th>
          <th>Descuento Total</th>
          <th>Monto Final</th>
          <th>Fecha de comprobante</th>
          <th>Observación</th>
          <th>Archivo</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
          <td *ngIf="defaultT" class="text-center">
            <div *ngIf="!isPerfilArffs">
              <span
                *ngIf="data.idPagoGuia == 0"
                type="button"
                class="pointer"
                title="Eliminar Resumen"
                (click)="eliminar($event, rowIndex, data)"
                ><i class="pi pi-trash"></i
              ></span>

              <span
                class="pointer ml-2"
                (click)="editarEspecies(data, rowIndex)"
              >
                <i class="pi pi-pencil"></i>
              </span>
            </div>
            <div *ngIf="isPerfilArffs">
              <span
                class="pointer mr-2"
                title="Eliminar"
                (click)="eliminarPagoGuia($event, rowIndex, data)"
              >
                <i class="pi pi-trash"></i>
              </span>
              <span
                class="pointer ml-2"
                (click)="editarEspecies(data, rowIndex)"
              >
                <i class="pi pi-pencil"></i>
              </span>
            </div>
          </td>
          <td>{{ data.idEspecie }}</td>
          <td>{{ data.nombreCientifico }}</td>
          <td>{{ data.nombreComun }}</td>
          <td>
            <label *ngIf="data.categoria == 'CATEESPECA'"
              >Altamente Valiosas</label
            >
            <label *ngIf="data.categoria == 'CATEESPECB'">Valiosas</label>
            <label *ngIf="data.categoria == 'CATEESPECC'">Intermedias</label>
            <label *ngIf="data.categoria == 'CATEESPECD'">Potenciale</label>
            <label *ngIf="data.categoria == 'CATEESPECE'"
              >Otras especies (Valor económico futuro)</label
            >
          </td>
          <td>{{ data.volumen | number: "1.2-2" }}</td>
          <td>{{ data.valorEstadoNatural | number: "1.2-2" }}</td>
          <td>{{ data.monto | number: "1.2-2" }}</td>
          <td>{{ data.descuentoTotal | number: "1.2-2" }}</td>
          <td>{{ data.montoFinal | number: "1.2-2" }}</td>
          <td>
            {{ data.fechaComprobante | date: "dd/MM/yyyy":"UTC" }}
          </td>
          <td>
            {{ data.observacion }}
          </td>
          <td>
            <a download target="_blank" (click)="descargarArchivo(rowIndex+1)"
              ><i class="pi pi-download"></i
            ></a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer" *ngIf="defaultT">
        <tr>
          <td colspan="2">Monto total</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="tdTotal">{{ montoTotal | number: "1.2-2" }}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  header="Pagos"
  appendTo="body"
  [(visible)]="verModalEspecies"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row m-0">
      <div class="col-12 form-group">
        <label class="label">Nombre científico</label>

        <input
          type="text"
          class="form-control"
          disabled="!isPerfilArffs"
          [(ngModel)]="form.nombreCientifico"
        />
      </div>

      <div class="col-12 form-group">
        <label class="label">Nombre común</label>
        <input
          type="text"
          class="form-control"
          disabled
          [(ngModel)]="form.nombreComun"
        />
      </div>

      <!-- <div class="col-12 form-group">
        <div class="form-control-selectk">
          <label class="label">Categoría a considerar</label>
          <button class="btn-primary2 btn btn-sm mr-2">Categoría</button>
        </div>
      </div> -->

      <div class="row col-12 form-group">
        <div class="form-control-selectk col-sm-9">
          <label class="label">Categoría</label>
          <p-dropdown
            [options]="categorias"
            [disabled]="!isPerfilArffs || !!form.fechaComprobante"
            [(ngModel)]="form.categoria"
            optionLabel="valorPrimario"
            optionValue="codigo"
            placeholder="Seleccione"
            (onChange)="validarCategoria($event)"
          >
          </p-dropdown>
        </div>
        <div class="form-control-selectk col-sm-3">
          <label class="label"></label>
          <button
            class="btn-primary2 btn btn-sm mr-2"
            (click)="verCategorias()"
          >
            Ver
          </button>
        </div>
      </div>

      <div class="col-12 form-group">
        <label class="label">Denominación</label>
        <input class="form-control" [(ngModel)]="form.comentarios" disabled />
      </div>

      <div class="col-12 form-group">
        <label class="label">Valor estado natural (V.E.N)</label>
        <input
          class="form-control"
          [maxLength]="15"
          [min]="0"
          decimal
          [decimalPlaces]="2"
          [ngModel]="form.valorEstadoNatural | number: '1.2-2'"
          (ngModelChange)="calculoMonto()"
          disabled
        />
      </div>

      <div class="col-12 form-group">
        <label class="label">Volumen (m3)</label>
        <input
          [maxLength]="15"
          [min]="0"
          decimal
          [decimalPlaces]="2"
          class="form-control"
          [ngModel]="form.volumen | number: '1.2-2'"
          (ngModelChange)="calculoMonto()"
          (change)="onChangeEventVolumen($event)"
          [disabled]="!isPerfilArffs || !!form.fechaComprobante"
        />
      </div>

      <div class="col-12 form-group">
        <label class="label">Monto</label>
        <input
          class="form-control"
          [ngModel]="form.monto | number: '1.2-2'"
          [maxLength]="15"
          [min]="0"
          disabled=""
          decimal
          [decimalPlaces]="2"
        />
      </div>

      <div class="col-12 form-group">
        <label class="label">Descuento</label>
        <div class="form-control-multi">
          <p-multiSelect
            [options]="cboDescuentos"
            [disabled]="!isPerfilArffs || !!form.fechaComprobante"
            [(ngModel)]="selectDescuentos"
            optionLabel="descDescuento"
            optionValue="porcentaje"
            display="chip"
            appendTo="body"
            (ngModelChange)="calculoMontoFinal()"
          ></p-multiSelect>
        </div>
      </div>

      <div class="col-12 form-group">
        <label class="label">Descuento total</label>

        <input
          [min]="0"
          class="form-control"
          decimal
          [decimalPlaces]="2"
          disabled=""
          [ngModel]="form.descuentoTotal | number: '1.2-2'"
        />
      </div>

      <div class="col-12 form-group">
        <label class="label">Monto Final</label>
        <input
          [min]="0"
          class="form-control"
          decimal
          [decimalPlaces]="2"
          [ngModel]="form.montoFinal | number: '1.2-2'"
          disabled=""
        />
      </div>

      <div class="col-12 form-group">
        <label class="label">Fecha de Comprobante</label>
        <div class="content-date">
          <input
            autocomplete="off"
            class="form-control"
            [(ngModel)]="form.fechaComprobante"
            matInput
            [min]="minDate"
            [matDatepicker]="fechaComprobante"
            readonly="true"
          />
          <i
            class="pi pi-calendar pointer"
            (click)="fechaComprobante.open()"
          ></i>
          <mat-datepicker
            #fechaComprobante
            [disabled]="estadoPago == CodigoEstadoPagos.PAGO_VALIDO || estadoPago == CodigoEstadoPagos.PAGO_OBSERVADO || perfil == perfiles.AUTORIDAD_REGIONAL"
          ></mat-datepicker>
        </div>
      </div>

      <div class="col-12 form-group">
        <label class="label">Observación (máx. caracteres 250):*</label>
        <textarea
          autocomplete="off"
          class="form-control form-control-sm"
          rows="4"
          maxlength="250"
          [(ngModel)]="form.observacion"
          pInputTextarea
          [disabled]="estadoPago == CodigoEstadoPagos.PAGO_VALIDO || estadoPago == CodigoEstadoPagos.PAGO_OBSERVADO || perfil == perfiles.AUTORIDAD_REGIONAL"
        >
        </textarea>
      </div>

      <div class="col-12 form-group">
        <buttons-file-pago-shared
          label="Adjuntar comprobante"
          [codigoTipoDocumento]="'PAGOCOMPRO'"
          [codigoProceso]="'PAGOCOMPRO' + (indexEspecie + 1)"
          [idPago]="idPago"
          [disabled]="estadoPago == CodigoEstadoPagos.PAGO_VALIDO || estadoPago == CodigoEstadoPagos.PAGO_OBSERVADO || perfil == perfiles.AUTORIDAD_REGIONAL"
          (registrarArchivoId)="registroArchivo($event)"
          (eliminarArchivoEmit)="eliminarArchivo($event)"
        ></buttons-file-pago-shared>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="editarEspecie()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
      [disabled]="!especies || estadoPago == CodigoEstadoPagos.PAGO_VALIDO || estadoPago == CodigoEstadoPagos.PAGO_OBSERVADO"
    ></button>

    <button
      icon="pi pi-times"
      (click)="verModalEspecies = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
<p-confirmPopup></p-confirmPopup>
