<p-accordion>
  <p-accordionTab header="10.1 Solicitud SAN" [selected]="true">
    <div>
      <solicitud-san-shared  [idPlanManejo]="idPlanManejo" [codigoPlan]="codigoEpica"></solicitud-san-shared>
    </div>
  </p-accordionTab>
</p-accordion>

<div class="step__btn mt-4">
  <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
  <button class="btn-primary2" *ngIf="false" (click)="solicitarSubsanacion()">Solicitar Subsanación</button>
  <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
</div>

<p-toast></p-toast>
