<div class="panelk br10 p-2">
    <div class="row m-0">
      <div class="col-12">
        <label class="title2">Expediente Completo</label>
      </div>
    </div>
    <div class="row m-0">
        <div class="col-12 form-group">
            <p-table [value]="listaExpediente">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Acciones</th>
                    <th>Sección</th>
                    <th>Nombre Documento</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-file let-rowIndex="rowIndex">
                  <tr>
                    <td>
                      <span class="pointer mr-2" title="Descargar"
                        (click)="btnDescargarArchivoTabla(file.idArchivo)"><i class="pi pi-download"></i></span>
                    </td>
                    <td>{{file.seccion}}</td>
                    <td>{{file.nombreArchivo}}</td>
                  </tr>
                </ng-template>
              </p-table>
              <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)" [showCurrentPageReport]="true" currentPageReportTemplate="Total : {totalRecords} registros" 
              [rowsPerPageOptions]="[10,25,50]"></p-paginator>
        </div>
    </div>
</div>