<div class="container-fluit py-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="Generar Informe" [selected]="true">
          <div class="row m-0">
            <div class="col-12 form-group">
              <div class="p-field-radiobutton">
                <strong for="favorable" class="label mr-2">Favorable</strong>
                <p-radioButton name="resultado" inputId="favorable" [value]="RADIO_RESUL.FAV"
                  [disabled]="disabledEvalComiteTec" [(ngModel)]="requestResultado.resultado" (clic)="action()">
                </p-radioButton>
              </div>
              <div class="p-field-radiobutton">
                <strong for="desfavorable" class="label mr-2">Desfavorable</strong>
                <p-radioButton name="resultado" inputId="desfavorable" [value]="RADIO_RESUL.DESFAV"
                  [disabled]="disabledEvalComiteTec" [(ngModel)]="requestResultado.resultado" (clic)="action()">
                </p-radioButton>
              </div>
              <div class="p-field-radiobutton">
                <strong for="observado" class="label mr-2">Observado</strong>
                <p-radioButton name="resultado" inputId="observado" [value]="RADIO_RESUL.OBS"
                  [disabled]="disabledEvalComiteTec" [(ngModel)]="requestResultado.resultado" (clic)="action()">
                </p-radioButton>
              </div>
            </div>
          </div>
          <div class="row m-0" *ngIf="requestResultado.resultado === RADIO_RESUL.FAV || requestResultado.resultado === RADIO_RESUL.DESFAV || requestResultado.resultado === RADIO_RESUL.OBS">
            <div class="col-12 form-group" style="padding-top: 1em">
              <div class="p-field-radiobutton">
                <p-checkbox [binary]="true" name="groupname"
                [(ngModel)]="requestResultado.evalGabinete" [disabled]="disabledEvalComiteTec">
                </p-checkbox>
                <label class="mr-4 pl-3 pointer label" style="display: initial;">Eval. Gabinete</label>
              </div>
              <div class="p-field-radiobutton">
                <p-checkbox [binary]="true" name="groupname"
                [(ngModel)]="requestResultado.evalCampo" [disabled]="disabledEvalComiteTec">
                </p-checkbox>
                <label class="mr-4 pl-3 pointer label" style="display: initial;">Eval. Campo</label>
              </div>
            </div>
          </div>
          <div class="row m-0 mt-3" *ngIf="requestResultado.resultado === RADIO_RESUL.FAV || requestResultado.resultado === RADIO_RESUL.DESFAV || requestResultado.resultado === RADIO_RESUL.OBS">
            <div class="col-12 form-group">
              <button class="btn btn-secondary mr-3" (click)="btnGenerarInforme()"
                [disabled]="(disabledAction==false &&requestResultado.resultado==false )|| disabledEvalComiteTec || (requestResultado.resultado==false &&requestResultado.evalGabinete==false && requestResultado.evalCampo == false)">Generar Informe de Evaluación
                (Gabinete + Campo)</button>
              <button class="btn btn-secondary" (click)="btnDescargarInforme()" [disabled]="!this.file.archivo">Descargar Informe de Evaluación</button>
            </div>
            <div class="col-12 col-sm-6 form-group">
              <app-carga-archivo-general accept=".pdf" [idArchivo]="adjunto5_1_1.idArchivo"
                [tipoDoc]="adjunto5_1_1.tipoArchivo" label="Cargar Informe Firmado: *"
                (registrarArchivo)="registrarArchivo($event, adjunto5_1_1)"
                (eliminarArchivo)="eliminarArchivo($event, adjunto5_1_1)" [disabled]="disabledEvalComiteTec">
              </app-carga-archivo-general>
            </div>
          </div>
          <div class="row m-0 mt-3" *ngIf="requestResultado.resultado === RADIO_RESUL.FAV || requestResultado.resultado === RADIO_RESUL.DESFAV">
            <div class="col-12 col-sm-8 col-md-3 form-group">
              <label class="label" for="txtAsunto">Asunto: *</label>
              <input
              type="text"
              id="txtAsunto"
              autocomplete="off"
              class="form-control"
              maxlength="150"
              [(ngModel)]="requestDocumento.asunto"
              placeholder="Ingrese Asunto"
              />
            </div>
             <div class="col-12 col-sm-8 col-md-3 form-group">
                <label class="label" for="txtNumDocumento">Nº Documento: *</label>
                <input
                type="text"
                id="txtNumDocumento"
                autocomplete="off"
                class="form-control"
                maxlength="20"
                [(ngModel)]="requestDocumento.numeroDocumento"
                placeholder="Ingrese Nº Documento"
                />
              </div>
              <div class="col-12 col-sm-8 col-md-3 form-group">
                <label class="label">Fecha de Documento: *</label>
                <div class="content-date" aling="right">
                  <input type="text" class="form-control" matInput [matDatepicker]="ft" autocomplete="off" readonly="true"
                    [(ngModel)]="requestDocumento.fechaDocumento" [disabled]="disabledEvalComiteTec" [min]="minDate"/>
                  <i class="pi pi-calendar pointer" (click)="ft.open()"></i>
                  <mat-datepicker #ft></mat-datepicker>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-3 form-group">
              </div>
              <div class="col-12 col-sm-8 col-md-3 form-group">
                <label class="label">Tipo de Documento: *</label>
                <div class="form-control-selectk">
                  <p-dropdown appendTo="body" [options]="comboTiposDocumento" [disabled]="false"
                    placeholder="Seleccione" optionLabel="valorPrimario" optionValue="codigo"
                    [(ngModel)]="requestDocumento.tipoDocumento"></p-dropdown>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 form-group">
                <app-carga-archivo-general accept=".pdf" [idArchivo]="adjunto5_1_2.idArchivo"
                  [tipoDoc]="adjunto5_1_2.tipoArchivo" label="Cargar Documento: *"
                  (registrarArchivo)="registrarArchivo($event, adjunto5_1_2)"
                  (eliminarArchivo)="eliminarArchivo($event, adjunto5_1_2)" [disabled]="disabledEvalComiteTec">
                  </app-carga-archivo-general>
              </div>
          </div>
          <div class="row m-0 mt-3">
            <div class="col-12" *ngIf="!disabledEvalComiteTec">
              <button type="button" class="btn-primary2" (click)="btnGuardarInforme(0)"
                [disabled]="disabledEvalComiteTec">
                Guardar
              </button>

              <button
                *ngIf="requestResultado.resultado === RADIO_RESUL.OBS"
                type="button" class="btn-primary2" (click)="btnEnviarGobLocal($event)" [disabled]="disabledEvalComiteTec">
                Enviar a Gobierno Local
              </button>

              <button
                *ngIf="requestResultado.resultado === RADIO_RESUL.FAV || requestResultado.resultado === RADIO_RESUL.DESFAV"
                type="button" class="btn-primary2" (click)="btnEnviarEvalArffs($event)" [disabled]="disabledEvalComiteTec">
                Envío de Resultado de Evaluación a ARFFS
              </button>

            </div>
            <div class="col-12" *ngIf="showEvalObserv">


              <button *ngIf="showEvalObserv" type="button" class="btn-primary2" [disabled]="false" (click)="btnSubsanacion()">
                Enviar subsanación de Observaciones
              </button>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>
