.signature-container {
  border-style: dashed;
  border-width: 1px;
  margin-bottom: 20px;
  background-color: rgb(217, 214, 212);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  button {
      margin-right: 10px;
      padding: 10px;
      border-radius: 5px;
      // font-family: ;
  }
}


.btn-secondary {
  min-width: 120px !important;
}

.btn-file {
  background: #fff !important;
  min-height: 32px;
  font-family: "Montserrat";
  font-size: 11px;
  color: #4a962c !important;
  border: 2px solid #4a962c !important;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important;
  min-width: 50px;
}

.text-upload, .text-upload:hover, .text-upload:focus, .text-upload:active
{
  min-height: 37px !important;
  outline: none !important;
  box-shadow: none !important;
}