<div>
  <div>
    <div class="form-group">
      <label class="label" *ngIf="label != ''">{{label}}</label>
      <div class="input-group">
        <input
          [disabled]="true"
          type="text"
          class="form-control"
          placeholder=""
          [(ngModel)]="fileInfGenreal.nombreFile"
        />
        <div class="input-group-append">
          <button
            *ngIf="!fileInfGenreal.nombreFile"
            type="button"
            id="btnCargaShapeFile"
            (click)="verAdjuntarFirma=true"
            class="btn btn-sm btn-file btn-secondary"
            icon="pi pi-upload"
            pButton
            [disabled]="disabled"
            title="Cargar Archivo"
          >
            <input
              #fileInput
              type="file"
              style="display: none;"
              [attr.data-type]="fileInfGenreal.descripcion"
              accept=".pdf"
            />
          </button>

          <button
            *ngIf="fileInfGenreal.nombreFile"
            type="button"
            id="btnCargaShapeFile"
            class="btn btn-sm btn-file"
            icon="pi pi-upload"
            pButton
            
            title="Cargar Archivo"
            [disabled]="fileInfGenreal.nombreFile"
          ></button>

          <button
            *ngIf="fileInfGenreal.nombreFile"
            type="button"
            id="btnCargarFile2"
            class="btn btn-sm btn-file"
            (click)="descargarArchivo()"
            pButton
            title="Descargar Archivo"
            icon="pi pi-download"
            [disabled]="disabledDescarga"
          ></button>

          <button
            type="button"
            *ngIf="fileInfGenreal.nombreFile"
            class="btn btn-sm btn-file"
            title="Eliminar"
            icon="pi pi-trash"
            [disabled]="disabled "
            pButton
            (click)="eliminarArchivoGeneral()"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>








<p-dialog
  header="Adjuntar Firma"
  appendTo="body"
  [(visible)]="verAdjuntarFirma"
  [modal]="true"
  [maximizable]="false"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
>
  <ng-template pTemplate="body">
    <!-- <firma-pad
      (actionCerrar)="verAdjuntarFirma = $event"
      (idArchivoFirma)="registrarFirmaLineamiento($event)"
      [idTipoDocumento]="idTipoDocumentoFirma"
      [codigoProceso]="codigoProceso"
      [idPlanManejo]="idPlanManejo"
    ></firma-pad> -->


    <div class="signature-container">
      <signature-pad
        [options]="signaturePadOptions"
        (onBeginEvent)="drawStart()"
        (onEndEvent)="drawComplete()"
      ></signature-pad>
    </div>



  </ng-template>



  <ng-template pTemplate="footer">

    <div class="col-12">
      <div class="buttons">
        <button
          icon="pi pi-trash"
          pButton
          pRipple
          type="button"
          label="Limpiar"
          class="p-button-success p-button-outlined"
          style="width: 106px"
          (click)="clearSignature()"
        ></button>
    
        <button
          icon="pi pi-save"
          (click)="savePad()"
          pButton
          pRipple
          type="button"
          label="Aceptar"
          class="p-button-success p-button-outlined"
          style="width: 106px"
        ></button>
    
        <button
          icon="pi pi-times"
          (click)="cerrarModal()"
          pButton
          pRipple
          type="button"
          label="Cancelar"
          class="p-button-danger p-button-outlined"
          style="width: 106px"
        ></button>
      </div>
    </div>


  </ng-template>
</p-dialog>








<!-- <div class="signature-container">
  <signature-pad
    [options]="signaturePadOptions"
    (onBeginEvent)="drawStart()"
    (onEndEvent)="drawComplete()"
  ></signature-pad>
</div>

<div class="col-12">
  <div class="buttons">
    <button
      icon="pi pi-trash"
      pButton
      pRipple
      type="button"
      label="Limpiar"
      class="p-button-success p-button-outlined"
      style="width: 106px"
      (click)="clearSignature()"
    ></button>

    <button
      icon="pi pi-save"
      (click)="savePad()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
      style="width: 106px"
    ></button>

    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
      style="width: 106px"
    ></button>
  </div>
</div> -->

<!-- <div class="signature-image" *ngIf="signatureImg">
  <img src='{{ signatureImg }}' />
</div> -->
