<div class="p-4">
  <div class="row form-group">
    <div class="col-12 col-md-3">
      <label class="label">Número de Documento:</label>
    </div>

    <div class="col-12 col-md-9">
      
      <p-autoComplete  [(ngModel)]="documentoRegente" styleClass="w-100" inputStyleClass="form-control form-control-sm"
        placeholder="Buscar..." field="numeroDocumento" [suggestions]="regentesFiltrados"
        emptyMessage="No se encontró Regente." [forceSelection]="true" [delay]="200" (onClear)="clearRegente()"
        (onUnselect)="clearRegente()" (onSelect)="selectDocumentoRegente($event)"
        [disabled]="isDisbledObjFormu"
        (completeMethod)="filtrarRegente($event.query)">
        <ng-template let-regente pTemplate="item">
          {{regente.nombresNroDocumento}}
        </ng-template>
      </p-autoComplete>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-12 col-md-3">
      <label class="label">Número de Licencia:</label>
    </div>

    <div class="col-12 col-md-9">
      <input value="{{documentoRegente?.numeroLicencia}}" disabled type="text" autocomplete="off"
        class="form-control form-control-sm" />
    </div>
  </div>

  <div class="row form-group">
    <div class="col-12 col-md-3">
      <label class="label">Nombre del Regente Forestal del PGMF:</label>
    </div>
    <div class="col-12 col-md-9">
      <input value="{{((documentoRegente?.nombres!=undefined?documentoRegente.nombres:'')+' '
                  +(documentoRegente?.apellidos!=undefined?documentoRegente.apellidos:''))}}" disabled type="text"
        autocomplete="off" class="form-control form-control-sm" />
    </div>
  </div>

  <div class="row form-group">
    <div class="col-12 col-md-3">
      <label class="label">Domicilio Legal:</label>
    </div>

    <div class="col-12 col-md-9">
      
      <input maxlength="100px" [(ngModel)]="infoGeneral.domicilioLegalRegente" type="text" autocomplete="off"
        class="form-control form-control-sm"  [disabled]="isDisbledObjFormu"/>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-12 col-md-3">
      <label class="label">Número de Contrato:</label>
    </div>

    <div class="col-12 col-md-9">
      
      <input maxlength="100px" [(ngModel)]="infoGeneral.nroContrato" type="text" autocomplete="off"
        class="form-control form-control-sm"  [disabled]="true"/>
    </div>
  </div>



  <div class="row form-group">
    <div class="col-12 col-md-3">
      <label class="label">Contrato Suscrito con el Titular del Título
        Habilitante:</label>
    </div>

    <div class="col-12 col-md-9">
     
      <input maxlength="100px"  [disabled]="isDisbledObjFormu"  [(ngModel)]="infoGeneral.contratoSuscritoTitularTituloHabilitante" type="text" autocomplete="off"
        class="form-control form-control-sm" />
    </div>
    
  </div>
  
  <div class="row form-group">
    <div class="col-12 col-md-3">
      <label class="label">Certificado de Habilitación Profesional del Regente
        Forestal:</label>
    </div>

    <div class="col-12 col-md-2">
      <!-- [disabled]="disabled" -->
      <input maxlength="100px" [(ngModel)]="infoGeneral.certificadoHabilitacionProfesionalRegenteForestal" type="text" autocomplete="off"
        class="form-control form-control-sm" [disabled]="isDisbledObjFormu"/>
    </div>

    <div class="col-12 col-md-4">
      <label class="label">N° Inscripción en el Registro de Regentes que Conduce el
        SERFOR:</label>
    </div>

    <div class="col-12 col-md-2">
      <!-- [disabled]="disabled" -->
      <input maxlength="100px" [(ngModel)]="infoGeneral.numeroInscripcionRegistroRegente" type="text" autocomplete="off"
        class="form-control form-control-sm" [disabled]="isDisbledObjFormu"/>
    </div>
  </div>
  <div class="row form-group">
    <!--<div class="col-sm-6">
      <label class="label">Adjuntar Certificado de Habilitación Profesional de Regente Forestal</label>
      <upload-input-button [(ngModel)]="certificado.archivo" (change)="changeCertificado()" [accept]="accept"
        [disabled]="isDisbledObjFormu">
      </upload-input-button>
    </div>-->
    <div class="col-sm-12 col-md-8 form-group">
      <upload-input-buttons 
        (registrarArchivo)="registrarArchivoAdjuntoContrato($event)" 
        (eliminarArchivo)="eliminarArchivoGeneral()"
        [disableSubir]="disableSubirContrato" 
        [file]="archivoAdjuntoContrato"
        [label]="'Adjuntar Contrato Suscrito con el Titular:'"
        [disabled]="!isDisableImput"
        style="height: 32px;">
      </upload-input-buttons>
 
    </div>


    <div class="col-sm-12 col-md-8 form-group">
      <!-- <app-anexo-upload-file
        [label]="'Adjuntar Certificado de Habilitación Profesional de Regente Forestal:'"
        [idPlanManejo]="idPlanManejo"
        [idTipoDocumento]="codigo_PGMF_CERTIFICADO"
        [codigoProceso]="codigo_PGMF_CERTIFICADO"
        (registrarArchivoId)="cargarIdArchivo($event)"
        [ocultarJustificacion]="false"
        [ocultarActualizar]="false"
        [disableEliminar]="!isDisableImput"
        [mensajeGuardar]="'Se guardó el Certificado de Habilitación Profesional correctamente.'"
        [mensajeEliminar]="'Se eliminó el Certificado de Habilitación Profesional contrato correctamente.'"
        >
       </app-anexo-upload-file> -->

       <upload-input-buttons 
        (registrarArchivo)="registrarArchivoAdjunto($event)" 
        (eliminarArchivo)="eliminarArchivoGeneralCertificado()"
        [disableSubir]="disableSubirCertificado" 
        [file]="archivoAdjuntoCertificado"
        [label]="'Adjuntar Certificado de Habilitación Profesional de Regente Forestal:'"
        [disabled]="!isDisableImput"
        style="height: 32px;">
      </upload-input-buttons>

    </div>
  </div>
</div>
<p-toast></p-toast>