<div>
  <!--<div *ngIf='!ocultarActualizar' class="col-2 col-sm-12 text-right">-->
    <div *ngIf='false' class="col-2 col-sm-12 text-right">
    <button
      type="submit"
      class="btn btn-sm btn-secondary"
      (click)="editar()"
      *ngIf="actualizar"
      [disabled]="isDisbledObjFormu"
    >
      Actualizar
    </button>
  </div>

  <div class="col-12 mt-4 mb-4">
   <!-- <div *ngIf='ocultarJustificacion' class="col-12 mt-4 mb-4"> -->
    <label class="label">Justificación:</label>
    <textarea sinSpacioInit
      class="form-control"
      rows="4"
      [(ngModel)]="justificacion"
      style="resize: none;" (ngModelChange)="emitJustificacion()"
      maxlength="250"
      [disabled]="isDisbledObjFormu"
    >
    </textarea>
  </div>
  <div class="col-12">
    <div class="form-group">
      <label class="label" *ngIf="label != ''">{{label}}</label>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder=""
          [(ngModel)]="fileInfGenreal.nombreFile"
          readonly
        />
        <div class="input-group-append">
          <button
            *ngIf="!fileInfGenreal.nombreFile"
            type="button"
            id="btnCargaShapeFile"
            (click)="justificacion ? fileInput.click() : ErrorMensaje('(*) Debe ingresar la Justificación.')"
            class="btn btn-sm btn-file btn-secondary"
            icon="pi pi-upload"
            pButton
            title="Cargar Archivo"
            [disabled]="isDisbledObjFormu"
          >
            <input
              #fileInput
              type="file"  onclick="this.value = null"
              (change)="onFileChange($event)"
              style="display: none;"
              [attr.data-type]="fileInfGenreal.descripcion"
              accept=".pdf,.doc,.docx,application/msword"
            />
          </button>

          <button
            *ngIf="fileInfGenreal.nombreFile"
            type="button"
            id="btnCargaShapeFile2"
            class="btn btn-sm btn-file"
            icon="pi pi-upload"
            pButton
            [disabled]="!verEnviar1 || cargarArchivo || deshabilita || isDisbledObjFormu"
            (click)="guardarArchivoGeneral()"
            title="Cargar Archivo"
          ></button>

          <button
            *ngIf="fileInfGenreal.nombreFile"
            type="button"
            id="btnCargarFile2"
            class="btn btn-sm btn-file"
            (click)="descargarArchivo()"
            pButton
            title="Descargar Archivo"
            icon="pi pi-download"
            [disabled]="false"
          ></button>

          <button
            type="button"
            *ngIf="fileInfGenreal.nombreFile"
            class="btn btn-sm btn-file"
            title="Eliminar"
            icon="pi pi-trash"
            [disabled]='disableEliminar || isDisbledObjFormu'
            pButton
            (click)="eliminarArchivoGeneral()"

          ></button>
        </div>
      </div>
      <label *ngIf="pendiente" class="lbl-info mt-3 mb-3">
        <!--(Debe guardar primero el archivo con el boton " ↑ ".)-->
        (Dar click al botón " ↑ " (Cargar Archivo) para guardar.)
      </label>

    </div>
  </div>
</div>
