

      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-8">

            <div class="bienvenido">
              <div class="info">
                <h3>Bienvenido <strong>{{this.usuario.nombres.toUpperCase()}}</strong></h3>
                <div class="desc">
                  Es bueno verte otra vez, iniciemos el día con la información
                  que tenemos preparada para ti.
                </div>
                <div class="content-butom">
                  <!-- <button class="btn-primary2 btn btn-sm" (click)="abrir()">Iniciar recorrido</button> -->
                  <!-- <button class="btn-primary2 btn btn-sm" (click)="descargarReporte()">Prueba descarga reporte</button> -->
                </div>
                <div class="content-butom">

                </div>
              </div>
              <img src="./assets/img/working.png" />
            </div>

            <div class="container-content1">
              <div class="header">
                <div class="content">
                  <div class="column">
                    <span>Estado de su último trámite </span>
                  </div>
                  <div class="column text-right">
                    <div class="menu_popup">
                      <p-menu #menu [popup]="true" [model]="opcioneMenuPart"></p-menu>
                    </div>

                    <!-- <div  class="menu" (click)="menu.toggle($event)">
                      <i class="pi pi-ellipsis-v"></i>
                    </div> -->

                  </div>
                </div>

              </div>
              <div class="body">

                <div class="fecha-content1">
                    <div class="col-12 col-sm-5 p-0">
                      <div class="fecha">Fecha</div>
                      <div class="content-date">
                          <input autocomplete="off" class="form-control"  matInput [matDatepicker]="fecha">
                          <i class="pi pi-calendar pointer" (click)="fecha.open()"></i>
                          <mat-datepicker #fecha></mat-datepicker>
                      </div>
                    </div>

                </div>
                <br/>

                <div class="estado_tramite">
                  <div class="item"></div>
                  <div class="item active"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                </div>
                <br/>
              </div>
            </div>

          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="container-content1">
              <div class="header" >

                <div class="content">
                  <div class="column">
                    <span>Estado de trámites </span>
                  </div>
                  <div class="column text-right">
                    <div class="menu_popup">
                      <p-menu #menu [popup]="true" [model]="opcioneMenuPart"></p-menu>
                    </div>

                    <!-- <div  class="menu" (click)="menu.toggle($event)">
                      <i class="pi pi-ellipsis-v"></i>
                    </div> -->

                  </div>
                </div>

              </div>
              <div class="body">

                <div class="fecha-content1 p-2">
                  <div class="fecha">Rango de fecha</div>

                  <div class="content-date">
                    <div class="form-control range" >
                        <mat-date-range-input  [rangePicker]="frango">
                          <input matStartDate  placeholder="f. inicio">
                          <input matEndDate  placeholder=" f. fin">
                        </mat-date-range-input>
                        <mat-date-range-picker #frango></mat-date-range-picker>
                      </div>
                      <i class="pi pi-calendar pointer" (click)="frango.open()"></i>
                </div>

                </div>


                <div>
                  <p-chart type="pie" [data]="data" [options]="chartOptions"></p-chart>
                </div>
                <br/>
                <div class="desc-chart-pie">
                  <div class="item">
                    <div class="circle" style="background: #4A962C;"></div>
                    <div class="desc">Presentados</div>
                    <div class="valor">100%</div>
                  </div>
                  <div class="item">
                    <div class="circle" style="background: #80B56B;"></div>
                    <div class="desc">Aprobados</div>
                    <div class="valor">0%</div>
                  </div>
                  <div class="item">
                    <div class="circle" style="background: #FFCE56;"></div>
                    <div class="desc">Observados</div>
                    <div class="valor">0%</div>
                  </div>
                  <div class="item">
                    <div class="circle" style="background: #CBDB29;"></div>
                    <div class="desc">En proceso</div>
                    <div class="valor">0%</div>
                  </div>
                </div>
                <br/>
                <br/>
              </div>
            </div>
          </div>
        </div>

      </div>


