

.desc-chart-pie{
    margin: 0 auto;
    width: 80%;
}
.desc-chart-pie .item{
    display: block;
    text-align: center;
    margin-bottom: 3px;
}
.desc-chart-pie .item .circle{
    display: inline-block;
    border: 1px solid #ccc;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    margin-bottom: -2px;
}
.desc-chart-pie .item .desc{
    display: inline-block;
    margin-left: 11px;
    font-size: 13px;
    font-family: "Montserrat";
    font-weight: normal;
    width: 150px;
}
.desc-chart-pie .item .valor{
    display: inline-block;
    font-size: 12px;
    // margin-left: 20%;
    font-weight: normal;
    width: 50px;
}


@media screen and (max-width: 960px)
{
    .bienvenido .info h3 {
        font-size: 20px;
        font-weight: normal;
        color: #074A53;
    }

    .bienvenido .info {
        width: 100%;
        padding: 4% 4% 8% 4%;
        height: 100%;
    }

    .bienvenido .info h3 strong {
        font-size: 21px;
    }

    .bienvenido .info .desc {
        font-size: 11px;
        width: 70%;
    }

    .bienvenido .info .content-butom {
        margin: 1% 0;
        bottom: 5%;
        position: absolute;
    }

    .bienvenido img {
        float: right;
        width: 44%;
        z-index: 2;
        bottom: 0;
    }
}