<div class="row">


    <div class="col-12 form-group">
        <label for="medidasControl">Rubro</label>
        <input type="text" id="medidasControl" autocomplete="off" class="form-control contents_form_input"
            [(ngModel)]="impactoObjt.rubro">
    </div>

    <div class="col-12 form-group">
        <label for="mes1">Mes 1</label>
        <input type="text" id="mes1" autocomplete="off" class="form-control contents_form_input"
            [(ngModel)]="impactoObjt.mes1" placeholder="Ingrese mes 1">
    </div>

    <div class="col-12 form-group">
        <label for="mes2">Mes 2</label>
        <input type="text" id="mes2" autocomplete="off" class="form-control contents_form_input"
            [(ngModel)]="impactoObjt.mes2" placeholder="Ingrese mes 2">
    </div>

    <div class="col-12 form-group">
        <label for="mes3">Mes 3</label>
        <input type="text" id="mes3" autocomplete="off" class="form-control contents_form_input"
            [(ngModel)]="impactoObjt.mes3" placeholder="Ingrese mes3 ">
    </div>

    <div class="col-12 form-group">
        <label for="mes4">Mes 4</label>
        <input type="text" id="mes4" autocomplete="off" class="form-control contents_form_input"
            [(ngModel)]="impactoObjt.mes4" placeholder="Ingrese mes4 ">
    </div>

    <div class="col-12 mt-3">
        <button class="btn btn-sm btn-secondary" (click)="agregar()">Aceptar</button>
    </div>
</div>
