<form [formGroup]="f">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label class="label">Nombre del titular</label>
        <input
          formControlName="nombreTitular"
          type="text"
          autocomplete="off"
          class="form-control form-control-sm bg-gray"
        />
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="label">Nombre del RepresentanteLegal</label>
        <input
          formControlName="nombreReprecentanteLegal"
          type="text"
          autocomplete="off"
          class="form-control form-control-sm bg-gray"
        />
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label class="label">Nro. de Contrato de la concesión</label>
        <input
          formControlName="nroContratoConcesion"
          type="text"
          autocomplete="off"
          class="form-control form-control-sm bg-gray"
        />
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label class="label">Número DNI</label>
        <input
          formControlName="dni"
          type="text"
          autocomplete="off"
          class="form-control form-control-sm bg-gray"
        />
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label class="label">RUC</label>
        <input
          maxlength="50"
          formControlName="ruc"
          type="text"
          autocomplete="off"
          class="form-control form-control-sm bg-gray"
        />
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label class="label">Domicilio Legal</label>
        <input
          formControlName="domicilioLegal"
          type="text"
          autocomplete="off"
          class="form-control form-control-sm bg-gray"
        />
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-12 col-md-1">
      <label class="label">Distrito:</label>
    </div>
    <div class="col-12 col-md-3">
      <input
        formControlName="distrito"
        type="text"
        autocomplete="off"
        class="form-control form-control-sm bg-gray"
      />

      <!-- <div class="inner-addon right-addon w-input">
        <select class="form-control input-tpp"
                formControlName="distrito">
          <option value="null" disabled hidden>Seleccionar</option>
          <option *ngFor="let o of distritos"
                  [value]="o.id">
            {{o.modalidadOperacion}}
          </option>
        </select>
        <em class="icon text-secondary pi pi-chevron-down"></em>
      </div> -->
    </div>

    <div class="col-12 col-md-1">
      <label class="label">Provincia:</label>
    </div>
    <div class="col-12 col-md-3">
      <input
        formControlName="provincia"
        type="text"
        autocomplete="off"
        class="form-control form-control-sm bg-gray"
      />
    </div>

    <div class="col-12 col-md-1">
      <label class="label">Departamento: </label>
    </div>
    <div class="col-12 col-md-3">
      <input
        formControlName="provincia"
        type="text"
        autocomplete="off"
        class="form-control form-control-sm bg-gray"
      />
    </div>
  </div>
</form>
