<div class="row m-0 pt-4">
  <div class="col-12 mb-4">
    <p-accordion>
      <p-accordionTab header="Anexo 1" [selected]="true">
        <!-- <app-map-custom
          [idPlanManejo]="idPlanManejo"
          [codigoProceso]="'PGMFANEX'"
          [codigoSubSeccion]="'PGMFANEX1'"
          [tipoGeometria]="'Otros'"
          [isAnexo]="true"
        ></app-map-custom> -->

        <app-map-custom
          [idPlanManejo]="idPlanManejo"
          [codigoProceso]="'PGMFANEX'"
          [codigoSubSeccion]="'PGMFANEX1'"
          [tipoGeometria]="'Otros'"
          [isAnexo]="true"
          [disabled]="disabled"
          [printPDF]="true"
        ></app-map-custom>

        <div class="row">
          <div class="col-6">
            <div class="card">
              <div class="card-header">Mapa 1</div>
              <div class="card-body">
                <div class="col-sm-12">
                  <input-buttons-maps-codigo
                    [label]="''"
                    [idPlanManejo]="idPlanManejo"
                    [disabled]="disabled"
                    [idTipoDocumento]="'PGMFAMAP1'"
                    [codigoProceso]="'PGMFA'"
                  >
                  </input-buttons-maps-codigo>
                </div>
                <!-- <div class="input-group">
                  <div class="custom-file">
                    <input
                      type="file"
                      class="custom-file-input"
                      lang="es"
                      #filAddFileMap1
                      id="filAddFileMap1"
                      [disabled]="isPerfilArffs"
                      multiple
                      aria-describedby="filAddFileMap1"
                    />
                    <label class="custom-file-label" for="filAddFileMap1"
                      >Seleccionar archivos</label
                    >
                  </div>
                </div>
                <div id="pAttachmentsMap1">
                  <ul #ulMap1 class="list-group pt-4"></ul>
                </div> -->
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <div class="card-header">Mapa 2</div>
              <div class="card-body">
                <div class="col-sm-12">
                  <input-buttons-maps-codigo
                    [label]="''"
                    [idPlanManejo]="idPlanManejo"
                    [disabled]="disabled"
                    [idTipoDocumento]="'PGMFAMAP2'"
                    [codigoProceso]="'PGMFA'"
                  >
                  </input-buttons-maps-codigo>
                </div>
                <!-- <div class="input-group">
                  <div class="custom-file">
                    <input
                      type="file"
                      class="custom-file-input"
                      lang="es"
                      #filAddFileMap2
                      [disabled]="isPerfilArffs"
                      id="filAddFileMap2"
                      multiple
                      aria-describedby="filAddFileMap2"
                    />
                    <label class="custom-file-label" for="filAddFileMap2"
                      >Seleccionar archivos</label
                    >
                  </div>
                </div>
                <div id="pAttachmentsMap2">
                  <ul #ulMap2 class="list-group pt-4"></ul>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <br />
        <evaluacion-archivo-shared
          [idPlanManejo]="idPlanManejo"
          [cadigoTab]="codigoAcordeon16_1"
          [base]="evaluacionAnexo1"
          *ngIf="isPerfilArffs"
        >
          <ng-template #conatinertop> </ng-template>
          <ng-template #conatinerbottom> </ng-template>
        </evaluacion-archivo-shared>
      </p-accordionTab>
      <p-accordionTab header="Anexo 2">
        <div class="col-12 mb-4">
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label class="label">Seleccione el tipo de bosque</label>
              <div class="form-control-selectk">
                <p-dropdown
                  [options]="comboBosque"
                  optionLabel="valor1"
                  optionValue="codigo"
                  [disabled]="disabled"
                  placeholder="Seleccione Bosque"
                  [(ngModel)]="codigoBosqueAnexo2"
                  (onChange)="codigoBosque($event)"
                ></p-dropdown>
              </div>
            </div>
          </div>

          <p-table [value]="listAnexo2Especies">
            <ng-template pTemplate="header">
              <tr>
                <th colspan="9">Tipo de bosque / Estrato</th>
                <th colspan="2">Área (ha)</th>
              </tr>
              <tr>
                <th rowspan="2">Nombre común</th>
                <th rowspan="2">Var/ha</th>
                <th colspan="7">Dap (cm)</th>
                <th rowspan="2">Total por tipo de bosque</th>
                <th rowspan="2">Total por ha</th>
              </tr>
              <tr>
                <th>30-40</th>
                <th>40-50</th>
                <th>50-60</th>
                <th>60-70</th>
                <th>70-80</th>
                <th>80-90</th>
                <th>+ 90</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td [attr.rowspan]="4">{{data.nombreComun}}</td>
              </tr>
              <tr *ngFor="let item of data.array">
                <td>{{ item.var}}</td>
                <td>{{ item.Dap30a39}}</td>
                <td>{{ item.Dap40a49}}</td>
                <td>{{ item.Dap50a59}}</td>
                <td>{{ item.Dap60a69}}</td>
                <td>{{ item.Dap70a79}}</td>
                <td>{{ item.Dap80a89}}</td>
                <td>{{ item.Dap90aMas}}</td>
                <td>{{ item.TotalTipoBosque}}</td>
                <td>{{ item.TotalPorArea}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <div class="mt-5 ml-3">
          <label class="label"
            >(Se debe cargar el archivo generado desde el app móvil. Plantilla
            de ejemplo:)</label
          >
          <app-carga-excel
            (cargarArchivo)="cargarFormato($event)"
            [disabled]="disabled"
            [NombrePlantilla]="UrlFormatos.CARGA_PGMFA_ANEXO2"
          ></app-carga-excel>
        </div>

        <evaluacion-archivo-shared
          [idPlanManejo]="idPlanManejo"
          [cadigoTab]="codigoAcordeon16_2"
          [base]="evaluacionAnexo2"
          *ngIf="isPerfilArffs"
        >
          <ng-template #conatinertop> </ng-template>
          <ng-template #conatinerbottom> </ng-template>
        </evaluacion-archivo-shared>
      </p-accordionTab>
      <p-accordionTab header="Anexo 3">
        <div class="col-12 mt-4">
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label class="label">Seleccione el tipo de bosque</label>
              <div class="form-control-selectk">
                <p-dropdown
                  [options]="comboBosque"
                  [disabled]="disabled"
                  optionLabel="valor1"
                  optionValue="codigo"
                  placeholder="Seleccione Bosque"
                  [(ngModel)]="codigoBosqueAnexo3"
                  (onChange)="codigoBosque3($event)"
                ></p-dropdown>
              </div>
            </div>
          </div>

          <p-table [value]="listAnexo3Especies">
            <ng-template pTemplate="header">
              <tr>
                <th colspan="4">Tipo de bosque / Estrato</th>
                <th colspan="2">Área (ha)</th>
              </tr>
              <tr>
                <th rowspan="2">Especie (Nombre común)</th>
                <th rowspan="2">Var/ha</th>
                <th colspan="2">Dap (cm)</th>
                <th rowspan="2">Total en el tipo de bosque</th>
                <th rowspan="2">Total por ha</th>
              </tr>
              <tr>
                <th>10-20</th>
                <th>20-30</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td [attr.rowspan]="3">{{data.nombreComun}}</td>
              </tr>
              <tr *ngFor="let item of data.array">
                <td>{{ item.var}}</td>
                <td>{{ item.Dap10a19}}</td>
                <td>{{ item.Dap20a29}}</td>
                <td>{{ item.TotalTipoBosque}}</td>
                <td>{{ item.TotalPorArea}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <div class="mt-5 ml-3">
          <app-carga-excel
            [disabled]="disabled"
            (cargarArchivo)="cargarFormatoAnexo3($event)"
            [NombrePlantilla]="UrlFormatos.CARGA_PGMFA_ANEXO3"
          ></app-carga-excel>
        </div>

        <br />
        <evaluacion-archivo-shared
          [idPlanManejo]="idPlanManejo"
          [cadigoTab]="codigoAcordeon16_3"
          [base]="evaluacionAnexo3"
          *ngIf="isPerfilArffs"
        >
          <ng-template #conatinertop> </ng-template>
          <ng-template #conatinerbottom> </ng-template>
        </evaluacion-archivo-shared>
      </p-accordionTab>

      <p-accordionTab header="Anexo 4">
        <div class="col-12 mt-4">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-8">
                <div>
                  <label class="label fz-11 m-0">Adjuntar archivo: </label>
                  <br />
                  <label class="label fz-11 m-0">
                    - Inventario de los recursos no maderables</label
                  >
                  <br />
                  <label class="label fz-11 m-0">
                    - Metodología empleada para su aprovechamiento</label
                  >
                  <br />
                  <label class="label fz-11 m-0">
                    - Aspectos silviculturales, a fin de asegurar la reposición
                    del recurso, entre los mas importantes.</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <input-buttons-codigo
                  [label]="''"
                  [idPlanManejo]="idPlanManejo"
                  [disabled]="disabled"
                  [idTipoDocumento]="'PGMFAANEX4'"
                  [codigoProceso]="CodigoProceso.PLAN_GENERAL"
                  (registrarArchivoId)="registrarArchivoId($event)"
                >
                </input-buttons-codigo>
              </div>
            </div>
          </div>
          <br />

          <div class="mt-5 ml-3">
            <app-carga-excel
              [disabled]="disabled"
              (cargarArchivo)="cargarFormatoAnexo4($event)"
              [NombrePlantilla]="UrlFormatos.CARGA_PGMFA_ANEXO4"
            ></app-carga-excel>
          </div>
          <div class="col-12" style="display: inline-flex;">
            <label *ngIf="pendiente" class="lbl-info mt-3 mb-3">
              (Debe cargar un excel para poder visualizar sus datos.)
            </label>
          </div>

          <p-table
            [value]="listAnexo4"
            [scrollable]="true"
            [style]="{width:'100%'}"
          >
            <ng-template pTemplate="header">
              <tr>
                <th style="min-width: 120px;">Id tipo de recurso</th>
                <th style="min-width: 120px;">Id tipo bosque</th>
                <th style="min-width: 120px;">Código de árbol calidad</th>
                <th style="min-width: 120px;">Código unidad medida</th>
                <th style="min-width: 120px;">Tipo de producto</th>
                <th style="min-width: 120px;">Parcela corte</th>
                <th style="min-width: 120px;">Bloque</th>
                <th style="min-width: 120px;">Faja</th>
                <th style="min-width: 120px;">Altura total</th>
                <th style="min-width: 120px;">Faja</th>
                <th style="min-width: 120px;">Altura total</th>
                <th style="min-width: 120px;">DAP</th>
                <th style="min-width: 120px;">Altura comercial</th>
                <th style="min-width: 120px;">Este</th>
                <th style="min-width: 120px;">Zona</th>
                <th style="min-width: 120px;">Norte</th>
                <th style="min-width: 120px;">Cantidad</th>
                <th style="min-width: 120px;">Superficie comercial</th>
                <th style="min-width: 120px;">Contrato</th>
                <th style="min-width: 120px;">Código tipo de censo forestal</th>
                <th style="min-width: 120px;">Codigo único</th>
                <th style="min-width: 120px;">Id codigo Especie</th>
                <th style="min-width: 120px;">Nombre nativo</th>
                <th style="min-width: 120px;">Volumen</th>
                <th style="min-width: 120px;">Factor foma</th>
                <th style="min-width: 120px;">Categoria dinámica</th>
                <th style="min-width: 120px;">Atra descripción</th>
                <th style="min-width: 120px;">Nombre comercial</th>
                <th style="min-width: 120px;">Nombre alterno</th>
                <th style="min-width: 120px;">Familia</th>
                <th style="min-width: 120px;">Mortandad</th>
                <th style="min-width: 120px;">Estado de arbol</th>
                <th style="min-width: 120px;">Nombre común</th>
                <th style="min-width: 120px;">Nombre científico</th>
                <th style="min-width: 120px;">Condicion de árbol</th>
                <th style="min-width: 120px;">Número correlativo de árbol</th>
                <th style="min-width: 120px;">Bosque secundario</th>
                <th style="min-width: 120px;">Id plan manejo</th>
                <th style="min-width: 120px;">Unidad de trabajo</th>
                <th style="min-width: 120px;">Código de arbol</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td style="min-width: 120px;">{{ data.idTipoRecurso}}</td>
                <td style="min-width: 120px;">{{ data.idTipoBosque}}</td>
                <td style="min-width: 120px;">{{ data.idTipoArbol}}</td>
                <td style="min-width: 120px;">{{ data.codigoArbolCalidad}}</td>
                <td style="min-width: 120px;">{{ data.codigoUnidadMedida }}</td>
                <td style="min-width: 120px;">{{ data.productoTipo }}</td>
                <td style="min-width: 120px;">{{ data.parcelaCorte}}</td>
                <td style="min-width: 120px;">{{ data.bloque }}</td>
                <td style="min-width: 120px;">{{ data.faja }}</td>
                <td style="min-width: 120px;">{{ data.alturaTotal }}</td>
                <td style="min-width: 120px;">{{ data.dap }}</td>
                <td style="min-width: 120px;">{{ data.alturaComercial }}</td>
                <td style="min-width: 120px;">{{ data.este }}</td>
                <td style="min-width: 120px;">{{ data.zona }}</td>
                <td style="min-width: 120px;">{{ data.norte }}</td>
                <td style="min-width: 120px;">{{ data.cantidad }}</td>
                <td style="min-width: 120px;">
                  {{ data.superficieComercial }}
                </td>

                <td style="min-width: 120px;">{{ data.contrato }}</td>
                <td style="min-width: 120px;">
                  {{ data.codigoTipoCensoForestal }}
                </td>
                <td style="min-width: 120px;">{{ data.codigoUnico }}</td>
                <td style="min-width: 120px;">{{ data.idCodigoEspecie }}</td>

                <td style="min-width: 120px;">{{ data.nombreNativo }}</td>
                <td style="min-width: 120px;">{{ data.volumen }}</td>
                <td style="min-width: 120px;">{{ data.factorForma }}</td>

                <td style="min-width: 120px;">
                  {{ data.categoriaDiametrica }}
                </td>
                <td style="min-width: 120px;">{{ data.descripcionOtros }}</td>
                <td style="min-width: 120px;">{{ data.nombreComercial }}</td>

                <td style="min-width: 120px;">{{ data.nombreAlterno }}</td>
                <td style="min-width: 120px;">{{ data.familia }}</td>
                <td style="min-width: 120px;">{{ data.mortandad }}</td>
                <td style="min-width: 120px;">{{ data.estadoArbol }}</td>
                <td style="min-width: 120px;">{{ data.nombreComun }}</td>
                <td style="min-width: 120px;">{{ data.nombreCientifico }}</td>

                <td style="min-width: 120px;">{{ data.condicionArbol}}</td>
                <td style="min-width: 120px;">
                  {{ data.numeroCorrelativoArbol}}
                </td>
                <td style="min-width: 120px;">{{ data.bosqueSecundario}}</td>
                <td style="min-width: 120px;">{{ data.idPlanManManejo}}</td>
                <td style="min-width: 120px;">{{ data.unidadTrabajo}}</td>
                <td style="min-width: 120px;">{{ data.codigoDeArbol}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <br />
        <evaluacion-archivo-shared
          [idPlanManejo]="idPlanManejo"
          [cadigoTab]="codigoAcordeon16_3"
          [base]="evaluacionAnexo3"
          *ngIf="isPerfilArffs"
        >
          <ng-template #conatinertop> </ng-template>
          <ng-template #conatinerbottom> </ng-template>
        </evaluacion-archivo-shared>
      </p-accordionTab>
    </p-accordion>
  </div>
  <div class="step__btn mt-4 mb-4" *ngIf="!isPerfilArffs">
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>

    <br />
  </div>

  <div class="step__btn mt-4" *ngIf="isPerfilArffs">
    <message-evaluation></message-evaluation>
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button class="btn-primary2" (click)="registrarEvaluacion()">
      Guardar Evaluación
    </button>
    <button class="btn-primary2" (click)="retornarFlujoEvaluacion()">
      Retornar Flujo Evaluacion
    </button>
  </div>

  <br />
  <p-toast></p-toast>
  <p-confirmDialog [style]="{ width: '50vw' }" key="deleteFile">
  </p-confirmDialog>
</div>
