<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 pt-3">
      <h3 class="title">{{ tituloBandeja }}</h3>
    </div>
  </div>

  <app-bandeja-evaluacion
    [evaluacionRequest]="evaluacionRequest"
    [loading]="loading"
    [planes]="planes"
    (buscar)="buscar()"
    (limpiar)="limpiar()"
    [descripcionPlan]="PLAN.descripcion"
    (nuevo)="nuevoPlan()"
    [perfil]="usuario.sirperfil"
    (load)="load($event)"
    [totalRecords]="totalRecords"
    [isBandejaEvaluacion]="true"
    [pmficDema]="true"
  >
    <ng-template
      #requisitosMesaDePartes
      let-data="data"
      *ngIf="usuario.sirperfil === Perfiles.MESA_DE_PARTES"
    >
      <i
        class="pi pi-check-circle pointer"
        title="Requisitos Mesa de Partes"
        aria-hidden="true"
        (click)="verRequisitosMesaPartes(data?.idPlanManejo, data.descripcion)"
        style="font-size: 1.45em"
      >
      </i>
    </ng-template>

    <ng-template
      #requisitosPrevios
      let-data="data"
      *ngIf="
        (usuario.sirperfil === Perfiles.AUTORIDAD_REGIONAL ||
        usuario.sirperfil === Perfiles.SERFOR ||
        usuario.sirperfil === Perfiles.COMPONENTE_ESTADISTICO) &&
        permisos.isPerVisualizar
      "
    >
      <i
        *ngIf="data?.codEstado !== CodigoMedidasCorrectivas.EVAL_OBSERVADO"
        class="pi pi-check-circle pointer"
        title="Requisitos Previos"
        aria-hidden="true"
        (click)="verRequisitosPrevios(data?.idPlanManejo, data?.descripcion)"
        [class.completed]="
          data?.codEstado === CodigoMedidasCorrectivas.EVAL_COMPLETADO
        "
        [class.otherStatus]="
          data?.codEstado !== CodigoMedidasCorrectivas.EVAL_COMPLETADO
        "
        style="font-size: 1.45em"
      >
      </i>
      <i
        *ngIf="data?.codEstado === CodigoMedidasCorrectivas.EVAL_OBSERVADO"
        class="pi pi-times-circle pointer"
        title="Requisitos Previos"
        aria-hidden="true"
        (click)="verRequisitosPrevios(data?.idPlanManejo,data?.descripcion)"
        [class.observado]="
          data?.codEstado === CodigoMedidasCorrectivas.EVAL_OBSERVADO
        "
        style="font-size: 1.45em"
      >
      </i>
    </ng-template>

    <ng-template
      #acciones
      let-data="data"
      *ngIf="
        usuario.sirperfil === Perfiles.AUTORIDAD_REGIONAL &&
        permisos.isPerVisualizar
      "
    >
      <i
        type="button"
        *ngIf="isPerfilArffs"
        class="pi pi-eye pointer"
        title="Revisión"
        aria-hidden="true"
        (click)="evaluarPlan(data?.idPlanManejo, data?.descripcion)"
        style="font-size: 1.45em"
        [class.evaluation]="
          data?.codEstado === codigoPrerequisitos.EVAL_COMPLETADO
        "
      >
      </i>
      <i
        *ngIf="!isPerfilArffs"
        class="pi pi-eye pointer"
        title="Revisión"
        aria-hidden="true"
        (click)="verPlan(data?.idPlanManejo)"
      >
      </i>
    </ng-template>

    <ng-template
      #impugnacionSAN
      let-data="data"
      *ngIf="
        usuario.sirperfil === Perfiles.AUTORIDAD_REGIONAL &&
        permisos.isPerVisualizar
      "
    >
      <evaluar-impugnacion-shared
        [idPlanManejo]="data.idPlanManejo"
        [codigoPlan]="data.descripcion"
        (registroImpugnacionEmiter)="registroNotificacionEmit($event)"
        [estado]="data.codEstado"
      ></evaluar-impugnacion-shared>
    </ng-template>
    <ng-template #remitiendo let-data="data" *ngIf="permisos.isPerVisualizar">
      <i
        class="pi pi-folder-open pointer"
        title="Remitir"
        aria-hidden="true"
        (click)="remitePlan($event, data?.idPlanManejo, data?.codEstado)"
      >
      </i>
    </ng-template>
  </app-bandeja-evaluacion>
</div>
