<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12">
      <p-table [value]="listaOpinion">
        <ng-template pTemplate="header">
          <tr>
            <th>ID Solicitud Opinión</th>
            <th>Entidad</th>
            <th>Fecha de Documento</th>
            <th>Estado</th>
            <th>Ver Solicitud</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex+1">
          <tr>
            <!-- <td>{{data.id}}</td>
            <td>{{data.entidad}}</td>
            <td>{{data.fecha}}</td>
            <td>{{data.estado}}</td> -->
            <td>{{data.idSolicitudOpinion}}</td>
            <td>{{data.siglaEntidad}}</td>
            <td>{{data.fechaDocGestion | date: 'dd/MM/yyyy'}}</td>
            <td>{{data.estadoSolicitudOpinionTexto}}</td>
            <td class="text-center"><span class="pointer" title="Ir a Solicitud" (click)="btnVerSolicitud(data)"
                [ngClass]="disabledIN?'disabled-pointer':''"><i class="pi pi-eye"></i></span></td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="col-12 mt-3 text-right">
      <!-- <button class="p-button-success p-button-outlined mr-2" type="button" icon="pi pi-save" pButton pRipple
        label="Guardar" (click)="btnGuardar()" [disabled]="disabledIN"></button> -->
      <button class="p-button-danger p-button-outlined" icon="pi pi-times" type="button" pButton pRipple label="Salir"
        (click)="btnCancelar()"></button>
    </div>
  </div>
</div>