<div style="margin: 20px;">
    <div class="row m-0">
        <div class="col-12">
            <h3 class="title2 fz-12">Evaluación</h3>
        </div>
    </div>

    <div class="row m-0 pt-4 form-container">
        <div class="col-12 col-sm-4">
            <div class="p-field-radiobutton">
                <p-radioButton value="0" [(ngModel)]="check" inputId="check1">
                </p-radioButton>
                <label class="pointer"> Aprobado</label>
            </div>
        </div>
        <div class="col-12 col-sm-4">

            <div class="p-field-radiobutton">
                <p-radioButton value="1" [(ngModel)]="check" inputId="check2">
                </p-radioButton>
                <label class="pointer"> Observado </label>
            </div>

        </div>

        <div class="col-12 col-sm-4">
            <div class="form-group">
                <p-checkbox name="alerta" [binary]="true"></p-checkbox>
                <label class="m-0 pl-1 pointer" for="alerta">Guardar como Alerta</label>
            </div>
        </div>

        <div class="col-12 mt-3" style="margin-bottom: 20px;" *ngIf="check == 1">
            <label>Observado</label>
            <textarea style="resize: none;" rows="3" cols="1" class="form-control">
    </textarea>
        </div>
    </div>



</div>