<div class="row m-0 pt-4">
  <div class="col-12">
    <h3 class="title2">Cuadro de Actividades de Capacitación</h3>
  </div>
  <div class="col-2 col-sm-12 text-right">
    <button
      (click)="abrirModal()"
      class="btn btn-sm btn-default button-more mb-2"
      type="button"
      title="Agregar"
      [disabled]="disabled || isPerfilArffs"
    >
      <i class="pi pi-plus"></i>
    </button>
  </div>
  <p-confirmPopup></p-confirmPopup>
  <div class="col-12">
    <p-table [value]="capacitaciones">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 80px;">Acciones</th>
          <th class="pl-0">Temas o actividades</th>
          <th>Personal a capacitar</th>
          <th>Modalidad de capacitación</th>
          <th>Lugar/Plataforma de capacitación</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
          <td class="text-center" style="width: 80px;">
            <span
              class="pointer mr-1"
              title="Editar"
              (click)="!disabled&& !isPerfilArffs && openEditarCapacitacion(data, rowIndex )"
            >
              <i class="pi pi-pencil"></i>
            </span>
            <a
              type="button"
              class="pointer"
              title="Eliminar"
              (click)="!disabled&& !isPerfilArffs &&openEliminarCapacitacion($event,rowIndex,data)"
            >
              <i class="pi pi-trash"></i>
            </a>
          </td>
          <td >
            <ul class="pl-0" *ngFor="let item of data.listCapacitacionDetalle">
              <li class="pl-2">
                <label>{{item.actividad}} </label>
              </li>
            </ul>
          </td>
          <td >{{data.personaCapacitar}}</td>
          <td >{{data.modalidad}}</td>
          <td >{{data.lugar}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
<br />

    <evaluacion-archivo-shared
      [idPlanManejo]="idPlanManejo"
      [cadigoTab]="codigoAcordeon11_1"
      [base]="evaluacion11_1"
      *ngIf="isPerfilArffs"
    >
      <ng-template #conatinertop> </ng-template>
      <ng-template #conatinerbottom> </ng-template>
    </evaluacion-archivo-shared>


<div class="step__btn mt-4" *ngIf="!isPerfilArffs">
  <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
  <button
    class="btn-primary2"
    (click)="guardarCapacitacion()"
    [disabled]="disabled"
  >
    Guardar
  </button>
  <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
</div>
<div class="step__btn" *ngIf="isPerfilArffs">
  <message-evaluation></message-evaluation>
  <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
  <button class="btn-primary2" (click)="registrarEvaluacion()">
    Guardar Evaluación
  </button>
  <button class="btn-primary2" (click)="retornarFlujoEvaluacion()">
    Retornar Flujo Evaluacion
  </button>
  <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
</div>
<br />
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-dialog
  header="{{tituloModal}}"
  header="Header"
  [(visible)]="displayBasic"
  [style]="{width: '50vw'}"
  [draggable]="false"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Personal</label>
            <input
              [(ngModel)]="capacitacion.personaCapacitar"
              type="text"
              maxlength="100"
              class="form-control"
              placeholder="Ingrese Personal"
            />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Modalidad</label>
            <div class="form-control-selectk">
              <p-dropdown
                [options]="listParametro"
                optionLabel="valorPrimario"
                optionValue="valorSecundario"
                placeholder="Seleccione Modalidad"
                [(ngModel)]="parametro.valorSecundario"
              ></p-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Lugar/Plataforma de Capacitación</label>
            <input
              [(ngModel)]="capacitacion.lugar"
              type="text"
              maxlength="100"
              class="form-control"
              placeholder="Ingrese Lugar de Capacitación"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Tema o Actividad</label>
            <div class="input-group">
              <input
                type="text"
                maxlength="100"
                class="form-control"
                placeholder=""
                [(ngModel)]="tema"
              />
              <div class="input-group-append">
                <button
                  type="button"
                  id="btnCargaShapeFile"
                  (click)="agregarActividad()"
                  class="btn btn-sm btn-secondary"
                >
                  <i class="pi pi-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p-table [value]="temas" class="table-justify">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 80px;">Acciones</th>
                <th>Tema o Actividad</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td class="text-center">
                  <a
                    type="button"
                    class="pointer"
                    title="Eliminar"
                    (click)="eliminarTema($event,rowIndex,data)"
                  >
                    <i class="pi pi-trash"></i>
                  </a>
                </td>
                <td>{{data.actividad}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarParticipacion()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
