<div class="row m-0 pt-3">
    <div class="col-12">
        <button type="button" (click)="fileSHPInput.click()" class="btn btn-sm btn-secondary button-more"
            [disabled]="disabled">
            Cargar shape file
            <input #fileSHPInput type="file" (change)="onChangeFileSHP($event)" style="display:none;" />
        </button>
        <p-table [value]="listCoordinatesAnexo">
            <ng-template pTemplate="header">
                <tr>
                    <th>Vértice</th>
                    <th>Este (E)</th>
                    <th>Norte (N)</th>
                    <th style="width: 180px;">Referencia</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
                <tr>
                    <td>{{data.vertice}}</td>
                    <td>{{data.este}}</td>
                    <td>{{data.norte}}</td>
                    <td><input type="text" [disabled]="disabled" class="form-control bg-gray" placeholder="Referencia"
                            [(ngModel)]="data.referencia" /></td>
                </tr>
            </ng-template>
        </p-table>

        <br>
        <br>
        <button type="submit" class="btn-primary2" (click)="registrar()" [disabled]="disabled"> Guardar</button>

    </div>
</div>
