<div class="row mt-3">
  <div class="col-12 col-sm-9 col-map">
    <div class="w-100 mb-2">
      <div class="mapa w-100" #map></div>
    </div>
  </div>
  <div class="col-12 col-sm-3 col-layers">
    <upload-button
      label="Cargar Shapefile"
      accept=".zip"
      [showIcon]="false"
      (change)="addFile($event); isEdited.emit()"
      [disabled]="disabled"
    >
    </upload-button>

    <div class="card mb-3 mt-3">
      <div
        class="
          card-header
          py-0
          pt-2
          pb-2
          d-flex
          justify-content-between
          align-items-center
        "
      >
        <span>Capas</span>
        <span class="pointer pr-1">
          <i
            class="pi pi-trash"
            aria-hidden="true"
            (click)="!disabled && clearUnion($event)"
          ></i>
          <!--(click)="clear($event); isEdited.emit()"-->
        </span>
      </div>
      <ul class="list-group layers-box">
        <li
          *ngFor="let item of layersView; let i = index"
          class="
            list-group-item
            p-0
            d-flex
            justify-content-between
            align-items-center
          "
        >
          <input
            class="ml-1 mr-1 pointer"
            type="checkbox" [disabled]="disabled"
            id="{{ i }}"
            [checked]="true"
            (change)="toggleView(item.layerId, $event.target)"
          />

          <label
            class="m-0 p-0 text-left pointer"
            style="flex: 2"
            for="{{ i }}"
            [ngStyle]="{ color: item.color }"
            >{{ item.title }}
            <strong style="color: black">{{
              item.groupId == null ? " *" : ""
            }}</strong>
          </label>

          <div class="d-flex">
            <span class="mr-2 pointer">
              <i
                class="pi pi-download"
                aria-hidden="true"
                (click)="download(item)"
              ></i>
            </span>
            <span class="pointer pr-1">
              <i
                class="pi pi-trash"
                aria-hidden="true"
                (click)="!disabled&& deleteUnion(i, item) "
              ></i>
                 <!--delete(i, item); isEdited.emit()-->
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
