<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 pt-3 mb-2">
      <p-breadcrumb [model]="listItems" [home]="homes"></p-breadcrumb>
    </div>
    <div class="col-12 pt-3">
      <h3 class="title">Generar Resolución</h3>
    </div>
    <div class="col-12">

      <div class="panelk br10 p-3">
        <div class="row">

          <div class="col-sm-6 col-md-6 mb-2 form-group">
            <label class="label">Procesos Ofertas:</label>
            <div class="form-control-selectk">
              <p-dropdown class="fomr-control" [(ngModel)]="idProcesoOferta" optionValue="idProcesoOferta"
                (onChange)="listarPPEvaluacion()" [options]="procesosOfertas" optionLabel="idProcesoOferta">
              </p-dropdown>
            </div>
          </div>

          <div class="col-sm-4 col-md-4 mt-3 mb-2 form-group">
            <button class="btn btn-sm btn-primary2 mr-2" (click)="enviar()">Enviar</button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 mt-4 mb-3">
      <label class="mb-2">Franja verde con mayor nota</label>

      <div class="tablek">

        <p-table [value]="listaResultado" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
          currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
          <ng-template pTemplate="header">
            <tr>
              <th>ID Proceso Postulación</th>
              <th>Estado</th>
              <th>Usuario Postulación</th>
              <th>Nota Total</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-obj>
            <tr [ngStyle]="{'background': obj.background}">
              <td>{{obj.idProcesoPostulacion}}</td>
              <td>{{obj.nombreStatusProcesoPostulacion}}</td>
              <td>{{obj.nombreUsuarioPostulacion}}</td>
              <td>{{obj.notaTotal}}</td>
            </tr>
          </ng-template>
        </p-table>

      </div>

    </div>
  </div>
</div>

<p-toast position="bottom-center" key="tl"></p-toast>
