<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="title">
                Bandeja General de Evaluación de Impugnación
            </h3>
        </div>
    </div>
    <app-bandeja-impugnacion [lstData]="impugnaciones" [impugnacionRequest]="listarImpugnacionRequest"
        [comboEstado]="comboEstado" [comboTipodocGestion]="comboTipodocGestion" [totalRecords]="totalRecords" (changePage)="loadData($event)"
        (buscar)="buscarImpugnacion()" (limpiar)="limpiarImpugnacion()">
        <ng-template #acciones let-data="data">
            <i *ngIf="(data.estadoImpugnacion == 'EIMPGEN' || data.esfundado === null) && usuario.sirperfil == 'ARFFS';
            else onlyRead"
                (click)="abrirImpugnacion(data, false)" class="pi pi-check-square pointer"></i>

            <ng-template #onlyRead>
                <i (click)="abrirImpugnacion(data, true)" class="pi pi-eye pointer"></i>
            </ng-template>
        </ng-template>
    </app-bandeja-impugnacion>

</div>

<p-dialog appendTo="body" header="Evaluar Impugnación" [(visible)]="verModalImpugnacion" [modal]="true"
    [style]="{width: '60vw'}" [maximizable]="false" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
        <div class="row">
            <div class="col-12 col-sm 6">
                <app-impugnacion-registro [ReadOnly]="true" [impugnacion]="impugnacion"
                    [archivoRecurso]="archivoRecurso" [archivoSustento]="archivoSustento"></app-impugnacion-registro>
            </div>
            <div class="col-12 col-sm 6" style="border-left: 1px solid #e5e5e5">
                <div class="row">
                    <div class="col-12">
                        <label class="label">Calificar</label>
                    </div>
                </div>
                <div class="row mt-3 mb-4" *ngIf="!isDocGestion">
                    <div class="col-12 col-sm-6 text-center">
                        <div class="p-field-radiobutton d-inline-full">
                            <p-radioButton
                                [(ngModel)]="tipoEvaluacion"
                                name="reconsideracion"
                                id="radio1"
                                value="TIMPREC"
                                [disabled]="disabled">
                            </p-radioButton>
                            <label class="mr-2 pl-1 pointer" for="radio1">Reconsideración</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 text-center">
                        <div class="p-field-radiobutton d-inline-full">
                            <p-radioButton
                                [(ngModel)]="tipoEvaluacion"
                                name="reconsideracion"
                                id="radio2"
                                value="TIMPAP"
                                [disabled]="disabled">
                            </p-radioButton>
                            <label class="mr-2 pl-1 pointer" for="radio2">Apelación</label>
                        </div>
                    </div>
                </div>
                <ng-container>
                    <div class="row">
                        <div class="col-12">
                            <label class="label">Resultado</label>
                        </div>
                    </div>
                    <div class="row pt-3 pb-2">
                        <div class="col-12 col-sm-4">
                            <div class="p-field-radiobutton d-inline-full">
                                <p-radioButton [(ngModel)]="resultado" name="resultado" id="radio3" [value]="true"
                                    [disabled]="disabled">
                                </p-radioButton>
                                <label class="mr-2 pl-1 pointer" for="radio3">Fundado</label>
                            </div>
                        </div>
                         <div class="col-12 col-sm-4" *ngIf="!isDocGestion">
                            <p-checkbox label="Retrotraer" [(ngModel)]="retrotraer" [binary]="true"  [disabled]="disabled"></p-checkbox>
                        </div>

                        <!-- <div *ngIf="resultado == 'F'" class="col-12 col-sm-4">
                            <button type="buton" class="btn btn-sm btn-primary2">Enviar</button>
                        </div> -->
                    </div>
                    <div class="row pt-3 pb-3">
                        <div class="col-12 col-sm-4">
                            <div class="p-field-radiobutton d-inline-full">
                                <p-radioButton [(ngModel)]="resultado" name="resultado" id="radio4" [value]="false"
                                    [disabled]="disabled">
                                </p-radioButton>
                                <label class="mr-2 pl-1 pointer" for="radio4">Infundado</label>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-4 pb-2" *ngIf="!hiddenFirmeza && tipoEvaluacion === 'TIMPREC'">
                        <div class="col-12">
                            <div class="form-group">
                                <upload-input-buttons [file]="archivoEvaluacion" [label]="'Resultado de Evaluación'"
                                    [disabled]="disabled"
                                    accept=".pdf"
                                    (eliminarArchivo)="eliminarArchivoEval()"></upload-input-buttons>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-4 pb-2"   *ngIf="hiddenFirmeza">
                        <div class="col-12 form-group">
                            <label class="label">Fecha de Firmeza</label>
                            <div class="content-date">
                                <input name="minDate" autocomplete="off" class="form-control" matInput
                                   [min]="fechaFiremza " [(ngModel)]="fechaFiremza" [disabled]="true">
                                <i class="pi pi-calendar pointer" ></i>
                              </div>


                        </div>
                      <div class="col-12">
                          <div class="form-group">
                              <upload-input-buttons [file]="archivoFirme" [label]="'Firmeza de Impugnación'"
                                  [disabled]="disabledFileFirmeza" (eliminarArchivo)="eliminarArchivoFirmeza()"></upload-input-buttons>
                          </div>
                      </div>
                  </div>
                    <!-- <div class="row pt-4 pb-2">
                        <div class="col-12 text-center">
                            <button type="buton" class="btn btn-sm btn-primary2 pl-4 pr-4">Generar Resolución</button>
                        </div>
                    </div> -->
                    <div class="row pt-4 pb-2">
                        <div class="col-12 text-right">
                            <button
                                type="buton"
                                class="btn btn-sm btn-primary2 pl-3 pr-3"
                                icon="pi pi-save"
                                [disabled]="disabledGuardar"
                                (click)="guardar()"
                            >
                                {{ tipoEvaluacion === 'TIMPREC' ? 'Generar Resolución' : tipoEvaluacion === 'TIMPAP' ? 'Remitir' : 'Guardar' }}
                            </button>
                        </div>
                    </div>
                </ng-container>

            </div>
        </div>

    </ng-template>
</p-dialog>


<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
