<!-- <p-fieldset legend="Datos Empresa" [toggleable]="true"> -->

<div class="row m-0">
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Tipo Documento</label>

      <div
        class="form-control-selectk"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud != null"
      >
        <p-dropdown
          [options]="lstTipoDocumento"
          [(ngModel)]="solicitudAcceso.codigoTipoDocumentoE"
          optionLabel="valor1"
          optionValue="codigo"
          placeholder="Seleccione"
          [disabled]="!observado"
        >
        </p-dropdown>
      </div>

      <div
        class="form-control-selectk"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud == null"
      >
        <p-dropdown
          [options]="lstTipoDocumento"
          [(ngModel)]="solicitudAcceso.codTipoDocumento"
          optionLabel="valor1"
          optionValue="codigo"
          placeholder="Seleccione"
          [disabled]="!observado"
        >
        </p-dropdown>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Número Documento</label>
      <input
        type="text"
        maxlength="11"
        [(ngModel)]="solicitudAcceso.numeroRucEmpresa"
        class="form-control"
        autocomplete="off"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud != null"
        [disabled]="!observado"
      />
      <input
        type="text"
        maxlength="11"
        [(ngModel)]="solicitudAcceso.rucComunidad"
        class="form-control"
        autocomplete="off"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud == null"
        [disabled]="!observado"
      />
    </div>
  </div>
</div>

<div class="row m-0">
  <div class="col-12">
    <div class="form-group">
      <label class="label">Razón Social</label>
      <input
        type="text"
        maxlength="100"
        [(ngModel)]="solicitudAcceso.razonSocialEmpresa"
        class="form-control"
        autocomplete="off"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud != null"
        [disabled]="!observado"
      />
      <input
        type="text"
        maxlength="100"
        [(ngModel)]="solicitudAcceso.federacionComunidad"
        class="form-control"
        autocomplete="off"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud == null"
        [disabled]="!observado"
      />
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <label class="label">Dirección Empresa</label>
      <input
        type="text"
        maxlength="200"
        [(ngModel)]="solicitudAcceso.direccionEmpresa"
        class="form-control"
        autocomplete="off"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud != null"
        [disabled]="!observado"
      />
      <input
        type="text"
        maxlength="200"
        [(ngModel)]="solicitudAcceso.domicilioLegal"
        class="form-control"
        autocomplete="off"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud == null"
        [disabled]="!observado"
      />
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <label class="label">Email Empresa</label>
      <input
        type="text"
        maxlength="100"
        [(ngModel)]="solicitudAcceso.emailEmpresa"
        class="form-control"
        autocomplete="off"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud != null"
        [disabled]="!observado"
      />
      <input
        type="text"
        maxlength="100"
        [(ngModel)]="solicitudAcceso.correoEmpresa"
        class="form-control"
        autocomplete="off"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud == null"
        [disabled]="!observado"
      />
    </div>
  </div>
</div>

<!--<button *ngIf="codigoEstadoPermisoForestal == CodigoPermisoForestal.ESTADO_VAL_VALIDADO" class="btn btn-sm btn-primary2 " (click)="validarCondiciones()">Validar Condiciones M&iacute;nimas</button>-->
<!-- </p-fieldset> -->
