<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title">Oposición</h3>
    </div>
    <div class="col-sm-12">

      <div class="panelk br10 p-3">
        <div class="row">
          <div class="col-sm-12 col-md-4 form-group">
            <label class="label">Tipo Documento de Gestión:</label>
            <div class="form-control-selectk">
              <p-dropdown class="fomr-control" placeholder="Seleccione"
                optionValue="codigo" optionLabel="valorPrimario" [options]="comboDocumentos"
                [(ngModel)]="tipoDocGestion">
              </p-dropdown>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <label class="label">N° Documento de Gestión:</label>
            <input class="form-control form-control-sm " type="number" numero [maxLength]="9" [(ngModel)]="procesoPostulacionSelect"
              autocomplete="off" placeholder="Ingrese N° de Documento Gestión" />
          </div>
          <div class="col-sm-6 col-md-4 form-group">
            <label class="label">Estado de Solicitud:</label>
            <div class="form-control-selectk">
              <p-dropdown class="fomr-control" [options]="estadosolicitudes" [(ngModel)]="selectedestadoOpsosicion">
              </p-dropdown>
            </div>
          </div>

          <div class="col-sm-12 mt-3 mb-2 form-group text-center">
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnLimpiar()">Limpiar</button>
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnBuscar()">Buscar</button>
            <button class="btn btn-sm btn-secondary" (click)="verOposicion()" *ngIf="isPerfilARFFS">Nuevo</button>
          </div>
        </div>
      </div>
      <br>

      <div class="tablek">
        <p-table [value]="listaOposicion" class="no-desbor-table">
          <ng-template pTemplate="header">
            <tr>
              <th>ID Oposición</th>
              <th>Tipo Doc. Gestión</th>
              <th>N° Doc. Gestión</th>
              <th>Fecha Envío Oposición</th>
              <th>Respuesta</th>
              <th>Estado</th>
              <th>Ver Oposición</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-obj>
            <tr>
              <td>{{obj.idOposicion}}</td>
              <td>{{obj.descTipoDocumentoGestion}}</td>
              <td>{{obj.documentoGestion}}</td>
              <td>{{obj.fechaEnvioFormato}}</td>
              <td>{{obj.descripcionRespuesta}}</td>
              <td>{{obj.fundada === null ? "Pendiente de Evaluación": (obj.fundada ? "Fundado" : "Infundado")}}</td>
              <td>
                <span style="cursor: pointer;" (click)="verDetalle(obj)" title="Ver detalle"> <i class="pi pi-eye"></i>
                </span>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-paginator [rows]="10" [totalRecords]="optionPage.totalRecords" (onPageChange)="loadData($event)"
          [showCurrentPageReport]="true" currentPageReportTemplate="Total : {totalRecords} registros"
          [rowsPerPageOptions]="[10,25,50]"></p-paginator>
      </div>

    </div>

  </div>
</div>
<p-dialog
  header="Mensaje del Sistema"
  [(visible)]="validoFechaRespuesta"
  [draggable]="false"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <i class="pi pi-info-circle" style="font-size: 2rem;"></i> Esta solicitud ya cumplió el límite de 5 días para ser respondida.<p style="padding-left: 2rem;">&nbsp;No puede continuar.</p>
  </ng-template>

  <ng-template pTemplate="footer">
    <button icon="pi pi-times" (click)="validoFechaRespuesta= false" pButton pRipple type="button" label="Cancelar"
            class="p-button-danger p-button-outlined"></button>
  </ng-template>
</p-dialog>
<p-toast position="bottom-center" key="tl"></p-toast>
<p-toast position="top-right" key="tr"></p-toast>