<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title">Bandeja General de Solicitud de Impugnación</h3>
    </div>
  </div>
  <app-bandeja-impugnacion
    [lstData]="impugnaciones"
    [impugnacionRequest]="listarImpugnacionRequest"
    [comboEstado]="comboEstado"
    [comboTipodocGestion]="comboTipodocGestion"
    [totalRecords]="totalRecords"
    [verAgregar]="
      usuario.sirperfil == 'TITULARTH' || usuario.sirperfil == 'POSTULANTE'
    "
    (changePage)="loadData($event)"
    (buscar)="buscarImpugnacion()"
    (limpiar)="limpiarImpugnacion()"
    (agregar)="agregarImpugnacion()"
  >
    <ng-template #acciones let-data="data">
      <!-- <i (click)="abriModal('C',null);" class="pi pi-plus pointer fz-12 mr-2"></i> -->
      <i
        (click)="abriModal('R', data)"
        class="pi pi-eye pointer fz-12 ml-2"
      ></i>
    </ng-template>
  </app-bandeja-impugnacion>
</div>

<p-dialog
  appendTo="body"
  header="{{ tituloModal }}"
  [(visible)]="verModalSolicitud"
  [modal]="true"
  [style]="{ width: '550px', margin: '15px' }"
  [maximizable]="false"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="content">
    <app-impugnacion-registro
      [ReadOnly]="accion == 'R'"
      [resolusiones]="resolusiones"
      [impugnacion]="impugnacion"
      [archivoRecurso]="archivoRecurso"
      [archivoSustento]="archivoSustento"
      (eliminarFileRecurso)="eliminarFileRecurso()"
      (eliminarFileSustento)="eliminarFileSustento()"
    ></app-impugnacion-registro>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      [disabled]="accion == 'R'"
      (click)="remitir()"
      pButton
      pRipple
      type="button"
      label="Remitir"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verModalSolicitud = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
