<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12 p-0">
      <p-accordion>
        <!--  <p-accordionTab header="Anexo 4: Acta de Asamblea Comunal" [selected]="true">

                    <div class="col-12 p-0">
                        <div class="row m-0">
                            <div class="col-12 col-sm-8 ">
                                <div>
                                    <label class="title2">Acta</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-8 ">
                                <div>
                                    <label class="label fz-11 m-0">Asamblea Comunal</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4 ">
                                <div class="input-group">
                                    <div class="form-control"></div>
                                    <div class="input-group-append">
                                      <button type="button" style="border-width: 1px !important; box-shadow: none !important;"
                                        class="btn btn-sm btn-secondary">
                                        Seleccionar archivo
                                      </button>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>

                </p-accordionTab> -->

        <p-accordionTab header="Formulario" [selected]="true">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12">
                <p-table [value]="listProcesos">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Item</th>
                      <th>Estado</th>
                      <th class="text-center">Conformidad</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data>
                    <tr>
                      <td class="text-left">{{ data.label }}</td>
                      <td
                        [ngClass]="{
                          class1: data.estado == 'Pendiente',
                          class2: data.estado == 'Terminado'
                        }"
                      >
                        {{ data.estado }}
                      </td>
                      <td class="text-center">
                        <p-checkbox
                          [disabled]="disabled"
                          [(ngModel)]="data.marcar"
                          [binary]="true"
                          (onChange)="seleccionarFirma($event, data)"
                        ></p-checkbox>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
            <div class="step__btn mt-4">
              <button
                class="btn-primary2"
                (click)="guardarEstados()"
                [disabled]="disabled"
              >
                Guardar
              </button>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Generar" [selected]="false">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-10">
                <div>
                  <label class="label fz-11 m-0"
                    >Generar Formato Compilado - DEMA</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-2">
                <button
                  class="btn btn-sm btn-secondary f-w"
                  type="button"
                  (click)="generarDema()"
                  [disabled]="disabled || verDema"
                >
                  Generar DEMA
                </button>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Descargar" [selected]="false">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-10">
                <div>
                  <label class="label fz-11 m-0"
                    >Descargar Declaración de Manejo - DEMA</label
                  >
                </div>
              </div>
              <div class="col-12 col-sm-2">
                <button
                  class="btn btn-sm btn-secondary f-w"
                  type="button"
                  (click)="descargarDEMA()"
                  [disabled]="verDescargaDema"
                >
                  Descargar
                </button>
              </div>
            </div>
            <div class="row m-0 mt-4">
              <div class="title2 p-4">
                <label class="label fz-11 m-0">Descargar Anexos</label>
              </div>

              <table class="table table-boderk">
                <thead>
                  <tr>
                    <th>Descargar</th>
                    <th>Anexo</th>
                    <th>nombre del archivo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="!verAnexo1">
                    <td class="v-middle">
                      <button
                        (click)="descargaAnexo1()"
                        class="btn btn-sm btn-default mb-2"
                        type="button"
                        title="Descargar"
                      >
                        <i
                          style="color: #4a962c;"
                          class="pi pi-cloud-download pointer fz-18"
                        ></i>
                      </button>
                    </td>
                    <td class="text-center">Anexo1</td>
                    <td class="text-center">{{ anexo1.nombreArchivo }}</td>
                  </tr>
                  <tr *ngIf="!verAnexo2">
                    <td class="v-middle">
                      <button
                        (click)="descargaAnexo2()"
                        class="btn btn-sm btn-default mb-2"
                        type="button"
                        title="Descargar"
                      >
                        <i
                          style="color: #4a962c;"
                          class="pi pi-cloud-download pointer fz-18"
                        ></i>
                      </button>
                    </td>
                    <td class="text-center">Anexo2</td>
                    <td class="text-center">{{ anexo2.nombreArchivo }}</td>
                  </tr>
                  <tr *ngIf="!verAnexo3">
                    <td class="v-middle">
                      <button
                        (click)="descargaAnexo3()"
                        class="btn btn-sm btn-default mb-2"
                        type="button"
                        title="Descargar"
                      >
                        <i
                          style="color: #4a962c;"
                          class="pi pi-cloud-download pointer fz-18"
                        ></i>
                      </button>
                    </td>
                    <td class="text-center">Anexo3</td>
                    <td class="text-center">{{ anexo3.nombreArchivo }}</td>
                  </tr>
                  <tr *ngIf="!verAnexo4">
                    <td class="v-middle">
                      <button
                        (click)="descargaAnexo4()"
                        class="btn btn-sm btn-default mb-2"
                        type="button"
                        title="Descargar"
                      >
                        <i
                          style="color: #4a962c;"
                          class="pi pi-cloud-download pointer fz-18"
                        ></i>
                      </button>
                    </td>
                    <td class="text-center">Anexo4</td>
                    <td class="text-center">{{ anexo4.nombreArchivo }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Adjuntar" [selected]="false">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-8">
                <div>
                  <label class="label fz-11 m-0">Adjuntar DEMA firmado</label>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <input-buttons-codigo
                  [label]="''"
                  [idPlanManejo]="idPlanManejo"
                  [idTipoDocumento]="'DEMACDADJFIRM'"
                  [codigoProceso]="'DEMA'"
                  (registrarArchivoId)="registrarArchivoId($event)"
                >
                </input-buttons-codigo>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Adjuntar requisitos TUPA" [selected]="false">
          <tab-requisitos-tupa
            [idPlanManejo]="idPlanManejo"
            [tipo]="'TUPA'"
            (longitudTUPA)="longitudTUPA = $event"
            [idTipoDocumento]="'DEMATUPA'"
            [codigoProceso]="'DEMA'"
            [idTipoDocumentoFirma]="'DEMAFRTU'"
            [disabled]="disabledCodigoEstadoPlanPresentado"
          ></tab-requisitos-tupa>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <div class="step__btn mt-4">
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button
      class="btn-primary2"
      (click)="guardarPlanFormulado()"
      [disabled]=" disabledCodigoEstadoPlanBorrador || verDema"
      type="button"
    >
      Guardar Plan Formulado
    </button>
    <button
      [disabled]="
        isTodosPlanesTerminado || longitudTUPA <= 0 ||
        (isSubmittingARFFS$ | async) || disabledCodigoEstadoPlanPresentado
      "
      class="btn-primary2"
      (click)="enviar()"
      type="button"
    >
      Remitir DEMA a ARFFS
    </button>
  </div>
  <br />
</div>
<p-toast position="top-right" key="tl"></p-toast>
