<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion class="mt-3">
        <p-accordionTab header="Componente Estadístico">
          <app-map-custom-evaluacion [idPlanManejo] = "idPlanManejo" [disabled]="disabled"></app-map-custom-evaluacion>
          <div class="row">
            <div class="col-12">
              <div class="col-12">
                <label class="title2">Información Tabular</label>
              </div>
              <p-table [value]="listaInfoPlan" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registro(s)" [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Codigo TH</th>
                    <th>Superficie</th>
                    <th>N° Resolución</th>
                    <th>N° Parcela</th>
                    <th>Nombre Titular</th>
                    <th>N° Documento de Identidad</th>
                    <th class="text-center">Plan Formulado</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td>{{ data.tituloHabilitante }}</td>
                    <td>{{ data.superficie}}</td>
                    <td>{{ data.numeroResolucion}}</td>
                    <td>{{ data.numeroParcela}}</td>
                    <td>{{ data.nombreTitular}}</td>
                    <td>{{ data.numeroDocumento}}</td>
                    <td class="text-center"><span class="pointer" title="Ver Plan" (click)="verPlan(data)"><i class="pi pi-eye"></i></span></td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <div class="col-12">
                <label class="title2">Información Digital</label>
              </div>
              <p-table
                [value]="listDocumentos"
                [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {{ totalRecordsID }} registro(s)"
                [rowsPerPageOptions]="[10,25,50]"
                [loading]="loading"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th>No.</th>
                    <th>Nombre Documento</th>
                    <th>Fecha</th>
                    <th class="text-center">Archivo</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td>{{ rowIndex + 1}}</td>
                    <td>{{ data.nombre }}</td>
                    <td>{{ data.fechaRegistro | date: "dd/MM/yyyy h:mm:ss a" : "UTC" }}</td>
                    <td class="text-center">
                      <a
                        download
                        target="_blank"
                        *ngIf="data.idArchivo > 0"
                        (click)="descargarArchivo(data.idArchivo)"
                        class="pointer"
                      >
                        <i class="pi pi-download"></i>
                      </a>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Aprobación del Plan">
          <div class="row m-0 mb-3">
            <div class="col-12">
              <div class="p-field-radiobutton">
                <p-radioButton
                  name="estado"
                  value="EPLMAPROB"
                  [(ngModel)]="estado" [disabled]="disabled"
                  inputId="city1"
                  [disabled]="isDisabled"
                ></p-radioButton>
                <label for="city1">Aprobado</label>
              </div>
              <div class="p-field-radiobutton">
                <p-radioButton
                  name="estado"
                  value="EPLMBORD"
                  [(ngModel)]="estado" [disabled]="disabled"
                  inputId="city2"
                  [disabled]="isDisabled"
                ></p-radioButton>
                <label for="city2">Desaprobado</label>
              </div>
              <div class="p-field-radiobutton">
                <p-radioButton
                  name="estado"
                  value="EPLMBORN"
                  [(ngModel)]="estado"
                  inputId="city3" [disabled]="disabled"
                  [disabled]="isDisabled"
                ></p-radioButton>
                <label for="city3">No Presentado </label>
              </div>
            </div>
            <br />
          </div>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4 mb-4">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button class="btn btn-sm btn-primary2" (click)="actualizarPlanManejoEstado()" [disabled]="isDisabled || disabled">Guardar</button>
        <!-- <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button> -->
      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>
