<div class="container-fluid  pt-4">
    <div class="row">
        <div class="col-12">
            <p-accordion>
                <p-accordionTab header="Acreditación del territorio comunal" [selected]="true">
                    <div class="row">
                        <div class="col-12">
                            <p-table [value]="[{}]">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Tipo de Documento</th>
                                        <th>Número</th>
                                        <th>Superficie (ha)</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-data>
                                    <tr>
                                        <td>tipo doc. prueba</td>
                                        <td>00000121</td>
                                        <td>xxxx</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 col-sm-3">
                            <div class="form-group">
                                <label class="label">Tipo de Documento</label>
                                <input type="text" id="fpresentacion" class="form-control bg-gray" name="fpresentacion"
                                    placeholder="Ingrese Fecha de presentación" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-3">
                            <div class="form-group">
                                <label class="label">Número</label>
                                <input type="text" id="txtNumero" class="form-control bg-gray" name="txtNumero"
                                    placeholder="Ingrese número" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-3">
                            <div class="form-group">
                                <label class="label">Área total (hectárea)</label>
                                <input type="text" id="atotal" #areaTotal class="form-control bg-gray" name="atotal"
                                    placeholder="Ingrese área total (hectárea)" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-3">
                            <div class="form-group">
                                <label class="label">&nbsp;&nbsp;</label>
                                <div class="text-center">
                                    <button type="button" id="btnCargaShapeFile" (click)="fileInput.click()"
                                        class="btn btn-sm btn-secondary">
                                        Cargar shape file
                                        <input #fileInput type="file" (change)="onFileChange($event)" style="display: none;" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 col-sm-8">
                            <div class="f-w mb-2 mapa-content">
                                <div class="mapa" #map></div>
                            </div>

                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="card mb-3">
                                <div class="card-header py-0 pt-2 pb-2">Capas</div>
                                <ul id="ulResult" #ulResult class="list-group"></ul>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Ubicación política">
                    <div class="row">
                        <div class="col-12">
                            <p-table [value]="[{}]">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Departamento</th>
                                        <th>Provincia</th>
                                        <th>Distrito</th>
                                        <th>Cuenca/Sub cuenca</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-data>
                                    <tr>
                                        <td>
                                            <div class="form-control-selectk">
                                                <p-dropdown [options]="[]" optionLabel="text"></p-dropdown>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-control-selectk">
                                                <p-dropdown [options]="[]" optionLabel="text"></p-dropdown>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-control-selectk">
                                                <p-dropdown [options]="[]" optionLabel="text"></p-dropdown>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-control-selectk">
                                                <p-dropdown [options]="[]" optionLabel="text"></p-dropdown>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Coordenadas UTM del área a manejar">
                    <div class="row">
                        <div class="col-12">
                            <mat-tab-group animationDuration="0ms">
                                <mat-tab label="Área de manejo continua">
                                    <div class="row mt-2">
                                        <div class="col-12">
                                            <p-table [value]="listCoordinatesAnexo1">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th>Vertice</th>
                                                        <th>Este (E)</th>
                                                        <th>Norte (N)</th>
                                                        <th style="width: 180px;">Referencia</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-list>
                                                    <tr>
                                                        <td class="text-center">{{list.vertice}}</td>
                                                        <td>{{list.este}}</td>
                                                        <td>{{list.norte}}</td>
                                                        <td><input type="text" class="form-control bg-gray"
                                                                placeholder="Referencia" /></td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Área de manejo dividida en anexos o sectores">
                                    <div class="row mt-2">
                                        <div class="col-12">
                                            <table class="table" #tablaAreaManejoDividido>
                                                <thead>
                                                  <tr class="text-center">
                                                    <td>Anexos</td>
                                                    <td>Vertice</td>
                                                    <td>Este (E) </td>
                                                    <td>Norte (N) </td>
                                                    <td>Referencia</td>
                                                  </tr>
                                                </thead>
                                                <tbody>
                        
                                                </tbody>
                                              </table>
                                        </div>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Accesibilidad">
                    <div class="row mt-2">
                        <div class="col-12">
                            <p-table [value]="[{},{}]">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Anexo o sector</th>
                                        <th>Subparcela</th>
                                        <th>Punto de referencia (carretera, etc) </th>
                                        <th>Vía</th>
                                        <th>Distancia (Km) </th>
                                        <th>Tiempo (horas)</th>
                                        <th>Tipo de vehículo</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-data>
                                    <tr>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Aspectos Físicos">

                </p-accordionTab>
                <p-accordionTab header="Aspectos Biológicos">

                </p-accordionTab>
                <p-accordionTab header="Aspectos Socioeconómicos">

                </p-accordionTab>
            </p-accordion>
            <div class="step__btn mt-4">
                <button class="btn-primary2" (click)="regresarTab()"> Regresar</button>
                <button type="submit" class="btn-primary2" (click)="save()"> Guardar</button>
                <button class="btn-primary2" (click)="siguienteTab()"> Siguiente</button>
              </div>
        </div>

    </div>
</div>