
<p-panel header="Evaluación de Campo" [toggleable]="false">
    <div class="form-group row m-0 mb-2">
        <label for="inputPassword" class="col-sm-2 pl-0 col-form-label label">Selección de Inspector</label>
        <div class="col-sm-4">
            <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="inspector.valorPrimario" readonly placeholder="-Seleccionar Inspector-" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span (click)="openModalInspector()" style="width: 40px;border-radius: 0 14px 14px 0;background:#4a962c;color: #fff;" class="input-group-text pointer"><i class="pi pi-search"></i></span>
                </div>
              </div>
        </div>
    </div>
    <div class="form-group row m-0 mb-2">
        <label for="inputPassword" class="col-12 col-sm-2 pl-0 col-form-label label">Fecha Inicio de Inspección</label>
        <div class="col-12 col-sm-3">
            <div class="content-date">
                <input readonly autocomplete="off" [(ngModel)]="fechaInicio" class="form-control" matInput
                       [matDatepicker]="fechaInicioInspeccion" [max]="maxDateInicio" [min]="minDateInicio" (dateChange)="selectFechaInicio($event)" >
                <i class="pi pi-calendar pointer" (click)="fechaInicioInspeccion.open()"></i>
                <mat-datepicker #fechaInicioInspeccion ></mat-datepicker>
            </div>
        </div>
        <div class="col-12 col-sm-2"></div>
        <label for="inputPassword" class="col-12 col-sm-2 pl-0 col-form-label label">Fecha Fin de Inspección</label>
        <div class="col-12 col-sm-3">
            <div class="content-date">
                <input readonly autocomplete="off" [(ngModel)]="fechaFin"  class="form-control" matInput
                    [matDatepicker]="fechaFinInspeccion" [min]="minDateFin" (dateChange)="selectFechaFin($event)">
                <i class="pi pi-calendar pointer"  (click)="fechaFinInspeccion.open()"></i>
                <mat-datepicker #fechaFinInspeccion></mat-datepicker>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-12 p-0">
            <p-panel header="Adjuntar documentos" [toggleable]="false">
                <div class="form-group row m-0 mb-2">
                    <label for="inputPassword" class="col-sm-2 pl-0 col-form-label label">Tipo de documento</label>
                    <div class="col-sm-4">
                        <div class="form-control-selectk">
                            <p-dropdown [options]="listDocumentos" placeholder="- Seleccionar -" [(ngModel)]="idTipoDocumento"
                                        [filter]="true" filterBy="descripcion" [showClear]="true"
                                        optionLabel="descripcion" optionValue="idTipoDocumento">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="col-sm-5">
                            <upload-input-buttons [file]="archivoAdjunto" [label]="''" [disabled]="false" (registrarArchivo)="subirArchivoEvaluacionCampo($event)"
                                style="height: 32px;">
                            </upload-input-buttons>
                    </div>
                    <div class="col-sm-1">
                        <span class="pointer btn-plus-x" (click)="agregarTipoDocumento()"><i class="pi pi-plus-circle"></i></span>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-12">

                      <p-table [value]="listAdjuntosDocumentos">
                        <ng-template pTemplate="header">
                          <tr>
                            <th >Acciones</th>
                            <th>Tipo de Documento</th>
                            <th>Nombre de Archivo</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                          <tr>
                            <td>
                              <span class="mr-1" (click)="eliminarTipoDocumento($event, data,rowIndex)"><i class="pointer pi pi-trash"></i></span>
                              &nbsp;<span class="ml-1" (click)="editarTipoDocumento($event, data,rowIndex)"><i class="pointer pi pi-pencil"></i></span>
                            </td>
                            <td>{{data.tipoDocumento}}</td>
                            <td>{{data.nombreArchivo}}</td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                </div>
            </p-panel>
        </div>
        <div class="col-12 p-0">
            <div class="text-info">* "Carga de informe de inspección": Carga de pdf</div>
            <div class="text-info">* "Carga de Evidencias (Carta, fichas, actas, imagenes, otros)": Carga de pdf</div>
            <div class="text-info">* "Carga de Recorrido (Carga de Shapefile track)": (Polinelas) (Reutilizar el mismo visor)</div>
        </div>

    </div>

    <evaluacion-archivo-shared [idPlanManejo]="idPlanManejo"
                               [cadigoTab]="codigoAcordeon" [base]="evaluacionAcordeon">
      <ng-template #conatinertop>
      </ng-template>
      <ng-template #conatinerbottom>
      </ng-template>
    </evaluacion-archivo-shared>

    <!--<evaluacion-simple-shared [base]="evaluacionInnerModel">
        <ng-template #conatinertop>

        </ng-template>
        <ng-template #conatinerbottom>

        </ng-template>
    </evaluacion-simple-shared>-->

  <div class="step__btn mt-4">
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button class="btn-primary2" (click)="registrarEvaluacion()">Guardar Evaluación</button>
  </div>

</p-panel>

<p-dialog appendTo="body" header="Seleccionar Inspector" [(visible)]="verModalMantenimiento" [modal]="true" [style]="{width: '70vw'}" [maximizable]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="true">
    <ng-template pTemplate="content">
            <div class="row m-0 mb-2">
                <label class="col-sm-1">Buscar</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="paramBuscar" placeholder="buscar por Nombre" />
                </div>
                <div class="col-sm-5 text-cemter">
                    <button class="btn btn-primary2" (click)="buscarInspectores()">Buscar</button>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-12">
                    <div class="table">
                        <p-table [value]="listInspectoresBuscar">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 100px;"></th>
                                    <th >Código</th>
                                    <th >Datos Inspector</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                              <tr>
                                <td>
                                    <div class="p-field-radiobutton d-inline-full">
                                        <p-radioButton  name="slectedInspector" [(ngModel)]="selectedIsnpector" [value]="rowIndex"></p-radioButton>
                                    </div>
                                </td>
                                <td>{{data.codigo}}</td>
                                <td>{{data.valorPrimario}}</td>
                              </tr>
                            </ng-template>
                          </p-table>
                    </div>
                </div>
            </div>
    </ng-template>
    <ng-template pTemplate="footer" >
        <button icon="pi pi-save"   pButton pRipple type="button" label="Aceptar"  (click)="seleccionarInspector()" class="p-button-success p-button-outlined" style="width: 106px;"></button>
        <button icon="pi pi-times"  (click)="verModalMantenimiento=false" pButton pRipple type="button" label="Camcelar" class="p-button-danger p-button-outlined" style="width: 106px;"></button>
    </ng-template>
</p-dialog>
<p-toast></p-toast>
