<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title">Ep3.2.2 - Ep3.2.3 - Ep3.2.4 - Ep3.2.5: Bandeja de Evaluación de Campo</h3>
    </div>
    <div class="col-sm-12">
      <p-fieldset class="customFieldset" legend="Filtros">
        <div class="row m-0">
          <div class="col-12 col-md-3">
            <label class="label">Tipo Documento de Gestións</label>
            <div class="form-control-selectk">
              <p-dropdown
                optionValue="codigo"
                [options]="comboDocumentos"
                [(ngModel)]="listarEvaluacionCampoRequest.tipoDocumentoGestion"
                optionLabel="valorPrimario"
                class="fomr-control"
                placeholder="-- Seleccione --"
              >
              </p-dropdown>
            </div>
          </div>

          <div class="col-12 col-md-3">
            <div class="form-group">
              <label class="label">Nro. Documento de Gestión</label>
              <input
                autocomplete="off"
                class="form-control"
                numero
                [(ngModel)]="listarEvaluacionCampoRequest.documentoGestion"
                [maxLength]="9"
              />
            </div>
          </div>

          <div class="col-12 col-md-3">
            <div class="form-group">
              <label class="label">Nombre titular</label>
              <input
                autocomplete="off"
                class="form-control"
                type="text"
                [(ngModel)]="listarEvaluacionCampoRequest.titular"
              />
            </div>
          </div>

          <div class="col-12 col-md-3">
            <div class="form-group">
              <label class="label">Apellidos titular</label>
              <input
                autocomplete="off"
                class="form-control"
                type="text"
                [(ngModel)]="listarEvaluacionCampoRequest.apellidoTitular"
              />
            </div>
          </div>

          <!--<div class="col-12 col-sm-3">
                        <div class="form-group">
                            <label class="label">Apellidos Titular</label>
                            <input autocomplete="off" class="form-control" type="text"
                                [(ngModel)]="listarEvaluacionCampoRequest.apellidoTitular" />
                        </div>
                    </div>-->
        </div>

        <div class="row m-0">
          <div class="col-12 col-sm-4">
            <div class="form-group">
              <label class="label">Nro. Solicitud de Inspección</label>
              <input
                autocomplete="off"
                class="form-control"
                [(ngModel)]="listarEvaluacionCampoRequest.idEvaluacionCampo"
                [maxLength]="9"
                numero
              />
            </div>
          </div>

          <div class="col-12 col-sm-4">
            <label class="label">Estado</label>
            <div class="form-control-selectk">
              <p-dropdown
                optionValue="valorSecundario"
                [options]="comboEstado"
                [(ngModel)]="listarEvaluacionCampoRequest.idEvaluacionCampoEstado"
                optionLabel="valorPrimario"
                class="fomr-control"
                placeholder="-- Seleccione --"
              >
              </p-dropdown>
            </div>
          </div>

          <div class="col-12 col-sm-4">
            <div class="form-group">
              <label class="label">Nro. TH / Acto Administrativo</label>
              <input
                autocomplete="off"
                class="form-control"
                type="text"
                [(ngModel)]="listarEvaluacionCampoRequest.numThActoAdmin"
              />
            </div>
          </div>
        </div>

        <div class="container-button">
          <div class="col-sm-4 col-md-4 mt-3 mb-2 form-group">
            <button class="btn btn-sm btn-secondary mr-2" (click)="limpiar()">
              Limpiar
            </button>
            <button
              class="btn btn-sm btn-secondary"
              (click)="listarEvaluacionCampo()"
            >
              Buscar
            </button>
          </div>
        </div>

        <br />
      </p-fieldset>

      <br />

      <div class="tablek">
        <p-table [value]="evaluaciones">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 80px;">Acciones</th>
              <th>Tipo Documento Gestión</th>
              <th>Nº Documento de Gestión</th>
              <th>Titular</th>
              <th>Nº TH / Acto Admin.</th>
              <th>Estado</th>
              <th>Nº Solicitud Inspección</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>
                <span
                  *ngIf="data.idEvaluacionCampoEstado == 3"
                  class="pointer mr-1"
                  title="Ver"
                  (click)="evaluar(data)"
                >
                  <i class="pi pi-eye"></i>
                </span>

                <span
                  *ngIf="data.idEvaluacionCampoEstado != 3"
                  class="pointer mr-1"
                  title="Ver"
                  (click)="evaluar(data)"
                >
                  <i class="pi pi-pencil"></i>
                </span>
              </td>
              <td>{{data.tipoDocumentoGestionTexto}}</td>
              <td>{{data.documentoGestion}}</td>
              <td>{{data.titular }}</td>
              <!--<td>{{data.apellidoTitular}} </td>-->
              <td class="admin">{{data.numThActoAdmin}}</td>
              <!-- <td> {{data.evaluacionCampoEstado}} </td> -->
              <td>
                <span
                  [class.pendiente]="
                                data.evaluacionCampoEstado === 'Pendiente Inspección'
                                "
                  [class.aceptado]="
                                data.evaluacionCampoEstado === 'Inspección Concluida'
                                "
                  [class.proceso]="
                                data.evaluacionCampoEstado === 'En Proceso'
                                "
                >
                  {{ data.evaluacionCampoEstado }}
                </span>
              </td>
              <td>{{data.idEvaluacionCampo}}</td>
            </tr>
          </ng-template>
        </p-table>

        <p-paginator
          [rows]="10"
          [totalRecords]="totalRecords"
          (onPageChange)="loadData($event)"
          [rowsPerPageOptions]="[5,10,25,50,100]"
        ></p-paginator>
      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
