.container-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.proceso {
  color: #ece961;
  font-weight: bold;
}

.aceptado {
  color: #4caf50;
  font-weight: bold;
}

.pendiente {
  color: #ef7728;
  font-weight: bold;
}
.admin {
  font-weight: bold;
  color: #4caf50;
}