<div class="container-fluit pt-4">
    <div class="row m-0">
        <div  class="col-12">
            <p-accordion>
                <p-accordionTab header="Información de la Unidad Forestal" [selected]="true">
                  <app-map-custom-mpafpp #map
                    [idPlanManejo] ="idDEMAC"
                    [codigoProceso]="codigoProceso"
                    [codigoSubSeccion]="codigoSubSeccion"
                    [showBotonCargarCustom]="true"
                    [showOnlyArea]="true"
                    [showOnlyVertice]="true"
                    [showBotonCargarGeneral] ="false"
                    [calcularArea]="true"
                    (areaTotal)="calcularAreaTotal($event)"
                    (listVertices)="listarVertices($event)"
                    [tipoArchivoPunto]="codigoSubSeccion"
                    [tipoArchivoArea]="codigoSubSeccion"
                    (eliminarDetalleVertice)= "eliminarDetalleVertice($event)"
                    [showHU01]="true"
                    >
                    </app-map-custom-mpafpp>
                    <div class="row m-0">                       
                        <div class="col-12 col-sm-5">
                            <div class="form-group">
                                <label class="label fz-12">Área total de la UMF (ha)</label>
                                <input readonly type="text" [value]="txtAreaTotal" class="form-control" autocomplete="off" />
                            </div>    
                        </div>
                        <div class="col-12 mt-3">
                            <p-table [value]="listVertices" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                            currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10]">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Punto</th>
                                        <th>Este (E)</th>
                                        <th>Norte (N)</th>
                                        <th style="width: 180px;">Referencia</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-list>
                                    <tr>
                                        <td class="text-center">{{list.vertice}}</td>
                                        <td>{{list.este}}</td>
                                        <td>{{list.norte}}</td>
                                        <td>
                                            <input type="text" 
                                                class="form-control bg-gray"
                                                [(ngModel)]="list.referencia"
                                                placeholder="Referencia" /></td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
    <br/>
    <br/>

    <div class="step__btn mt-4 mb-4">
      
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
      
        <button class="btn-primary2" (click)="guardar()">Guardar</button>

        <button class="btn-primary2" (click)="siguienteTab()"> Siguiente</button>
      </div>
</div>

