<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12 p-0">
            <p-accordion>
                <p-accordionTab header="3.0 Carga Masiva" [selected]="true">
                    <div class="row">
                        <div class="col-12 mt-4 mb-3 mr-2" style="overflow: auto; width: 100%; height: 100%;">
                            <h3 class="title2">Cargar Información</h3>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="label"></label><br />
                                    <button class="btn-secondary" (click)="btnDescargarFormato()">
                                        Descargar Formato
                                    </button>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label"></label><br />
                                        <upload-input-button
                                            [(ngModel)]="archivo.file"
                                            [disabled]="disabled"
                                            label="Seleccione Archivo">
                                        </upload-input-button>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label class="label"></label><br />
                                    <button class="btn-secondary" [disabled]="disabled" (click)="btnCargar()">
                                        Cargar Formato
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="3. Aprovechamiento de Recursos Forestales Maderables" [selected]="false">
                    <div class="row m-0" *ngIf="false">
                        <div class="col-12 pt-2">
                            <button (click)="consultarServicio()" [disabled]="disabled" class="btn btn-sm btn-secondary fz-12 pl-5 pr-5" type="button" >
                                Cargar recursos
                            </button>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 pt-3">
                            <p-table [value]="listAnexo2Maderables">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="text-center" colspan="3">Especie</th>
                                        <th class="text-center" colspan="2">Coordenadas UTM</th>
                                        <th class="text-center" rowspan="2">N° de árboles aprovechables</th>
                                        <th class="text-center" rowspan="2">Volumen comercial m³</th>
                                        <th class="text-center" rowspan="2">N° de árboles semilleros</th>
                                        <th class="text-center" rowspan="2">N° total de árboles</th>
                                    </tr>
                                    <tr>
                                        <th>Nombre común español</th>
                                        <th>Nombre científico</th>
                                        <th>Nombre en idioma nativo</th>
                                        <th class="text-center">Este</th>
                                        <th class="text-center">Norte</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-data>
                                    <tr>
                                        <td>{{ data.nombreComun }}</td>
                                        <td>{{ data.nombreCientifico }}</td>
                                        <td>{{ data.nombreNativo }}</td>
                                        <td class="text-center">{{ data.este }}</td>
                                        <td class="text-center">{{ data.norte }}</td>
                                        <td class="text-center">{{ data.nArbolesAprovechables }}</td>
                                        <td class="text-center">{{ data.volumen }}</td>
                                        <td class="text-center">{{ data.nArbolesSemilleros }}</td>
                                        <td class="text-center">{{ data.nTotalArboles }}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr>
                                        <td class="tdTotal">Total</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="tdTotal text-center">{{ totalArbolA | number: '1.0-0' }}</td>
                                        <td class="tdTotal text-center">{{ totalVolumen | number: '1.4-4' }}</td>
                                        <td class="tdTotal text-center">{{ totalArbolS | number: '1.0-0' }}</td>
                                        <td class="tdTotal text-center">{{ totalArbol | number: '1.0-0' }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Resumen" [selected]="false">
                    <div class="row m-0">
                        <div class="col-12 pt-3">
                            <p-table [value]="listAnexo2ResumenMaderables">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="text-center">Especie</th>
                                        <th class="text-center">N° de árboles aprovechables</th>
                                        <th class="text-center">Volumen comercial m³</th>
                                        <th class="text-center">N° de árboles semilleros</th>
                                        <th class="text-center">N° total de árboles</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-data>
                                    <tr>
                                        <td>{{ data.nombreEspecies }}</td>
                                        <td class="text-center">{{ data.nArbolesAprovechables }}</td>
                                        <td class="text-center">{{ data.volumen }}</td>
                                        <td class="text-center">{{ data.nArbolesSemilleros }}</td>
                                        <td class="text-center">{{ data.nTotalArboles }}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr>
                                        <td class="tdTotal">Total</td>
                                        <td class="tdTotal text-center">{{ totalRArbolA | number: '1.0-0' }}</td>
                                        <td class="tdTotal text-center">{{ totalRVolumen | number: '1.4-4' }}</td>
                                        <td class="tdTotal text-center">{{ totalRArbolS | number: '1.0-0' }}</td>
                                        <td class="tdTotal text-center">{{ totalRArbol | number: '1.0-0' }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-accordionTab>
              <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
                <evaluacion-archivo-shared
                  [idPlanManejo]="idPlanManejo"
                  [cadigoTab]="codigoAcordeon1"
                  [base]="evaluacion_1">
                  <ng-template #conatinertop> </ng-template>
                  <ng-template #conatinerbottom> </ng-template>
                </evaluacion-archivo-shared>
              </p-accordionTab>
            </p-accordion>
        </div>
    </div>
    <div class="step__btn mt-4">
        <message-evaluation *ngIf="isPerfilArffs" ></message-evaluation>
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="registrarEvaluacion()">Guardar Evaluación</button>
      <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">Retornar Flujo Evaluacion</button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
    </div>
    <br>
</div>
