<div style="height: 480px;">
  <div class="row">
    <div class="col-12 col-sm-6 mb-2">
      <div class="form-group">
        <label class="label">N° Faja</label>
        <input
          numero
          [maxLength]="15"
          [min]="0"
          class="form-control"
          style="text-align: right"
          [(ngModel)]="form.numeroFaja"
          disabled
        />
      </div>
    </div>

    <div class="col-12 col-sm-6  mb-2">
      <div class="form-group">
        <label class="label">N° Árbol (Código)</label>
        <input
          numero
          [min]="0"
          [maxLength]="15"
          class="form-control"
          style="text-align: right"
          [(ngModel)]="form.nArbol"
          disabled
        />
      </div>
    </div>

    <div class="col-12 col-sm-6  mb-2">
      <div class="form-group">
        <label class="label">Especie </label>
        <input
          type="text"
          maxlength="50"
          class="form-control"
          [(ngModel)]="form.nombreEspecies"
          disabled
        />
      </div>
    </div>

    <div class="col-12 col-sm-6  mb-2">
      <div class="form-group">
        <label class="label">DAP (cm) </label>
        <input
          [maxLength]="15"
          [min]="0"
          class="form-control"
          decimal
          [decimalPlaces]="3"
          style="text-align: right"
          [(ngModel)]="form.dap"
          disabled
        />
      </div>
    </div>
    <div class="col-12 col-sm-6  mb-2">
      <div class="form-group">
        <label class="label">Altura comercial (m) </label>
        <input
          [maxLength]="15"
          [min]="0"
          class="form-control"
          decimal
          [decimalPlaces]="3"
          style="text-align: right"
          [(ngModel)]="form.alturaComercial"
          disabled
        />
      </div>
    </div>
    <div class="col-12 col-sm-6  mb-2">
      <div class="form-group">
        <label class="label">Calidad de fuste </label>
        <!-- <div class="form-control-selectk">
          <p-dropdown
            [options]="calidadFuste"
            [(ngModel)]="form.calidadFuste"
            optionLabel="valor1"
            optionValue="codigo"
            placeholder="Seleccione"
            [disabled]=" true"
          >
          </p-dropdown>
        </div> -->

        <input
        type="text"
        maxlength="50"
        class="form-control"
        [(ngModel)]="form.calidadFuste"
        disabled
      />
      </div>
    </div>
    <div class="col-12 col-sm-6  mb-2">
      <div class="form-group">
        <label class="label">Coordenada UTM E</label>
        <input
          [maxLength]="15"
          class="form-control"
          [(ngModel)]="form.este"
          decimal
          [decimalPlaces]="3"
          style="text-align: right"
          disabled
        />
      </div>
    </div>
    <div class="col-12 col-sm-6  mb-2">
      <div class="form-group">
        <label class="label">Coordenada UTM N</label>
        <input
          [maxLength]="15"
          class="form-control"
          [(ngModel)]="form.norte"
          decimal
          [decimalPlaces]="3"
          style="text-align: right"
          disabled
        />
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">Vc (m<sup>3</sup>) </label>
        <input
          [maxLength]="15"
          [min]="0"
          class="form-control"
          [(ngModel)]="form.volumen"
          decimal
          [decimalPlaces]="3"
          style="text-align: right"
          disabled
        />
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">Árbol Aprovechable / Semillero</label>

        <div class="form-control-selectk">
          <p-dropdown
            [options]="arbolesSemilleros"
            [(ngModel)]="form.categoria"
            optionLabel="valor1"
            optionValue="codigo"
            placeholder="Seleccione"
          >
          </p-dropdown>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="float: right;">
  <button
    icon="pi pi-save"
    pButton
    pRipple
    type="button"
    label="Aceptar"
    (click)="editar()"
    class="p-button-success p-button-outlined mr-2"
  ></button>

  <button
    pButton
    pRipple
    type="button"
    label="Cancelar"
    (click)="cerrarModal()"
    class="p-button-danger p-button-outlined"
  ></button>
</div>
