<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12 p-0">
            <p-accordion>
                <p-accordionTab header="5. Labores Silviculturales" [selected]="true">
                    <div class="mt-0">
                        <div class="col-12 p-0 text-right">
                            <button icon="pi pi-plus" [disabled]="disabled" (click)="abrirModal(AccionTipo.REGISTRAR)" pButton pRipple
                                type="button" label="" class="p-button-success p-button-text"></button>
                            <p-confirmPopup></p-confirmPopup>
                        </div>
                        <div class="col-12 p-0">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="width: 100px;">Acciones</th>
                                        <th>Actividades</th>
                                        <th>Descripción</th>
                                        <th>Equipos</th>
                                        <th>Insumos</th>
                                        <th>Personal</th>
                                        <th>Observaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="ui-widget-header">
                                        <td colspan="7" class="text-left"><span style="font-weight:bold; color: grey;">Obligatorias</span></td>
                                    </tr>
                                    <tr *ngFor="let data of lstObligatorio">
                                        <td>
                                            <span (click)="!disabled&&abrirModal(AccionTipo.EDITAR, data)" class="pointer mr-1"
                                                title="Editar">
                                                <i class="pi pi-pencil"></i>
                                            </span>
                                            <span (click)="!disabled&&openEliminar($event,data)" class="pointer" title="Eliminar">
                                                <i class="pi pi-trash"></i>
                                            </span>
                                        </td>
                                        <td class="text-left">{{data.actividad}}</td>
                                        <td>{{data.descripcion}}</td>
                                        <td>{{data.equipos}}</td>
                                        <td>{{data.insumos}}</td>
                                        <td>{{data.personal}}</td>
                                        <td>{{data.observaciones}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="7" class="text-left"><span style="font-weight:bold; color: grey;">Opcionales</span></td>
                                    </tr>
                                    <tr *ngFor="let data of lstOpcional">
                                        <td>
                                            <span (click)="!disabled&&abrirModal(AccionTipo.EDITAR, data)" class="pointer mr-1"
                                                title="Editar">
                                                <i class="pi pi-pencil"></i>
                                            </span>
                                            <span (click)="!disabled&&openEliminar($event,data)" class="pointer" title="Eliminar">
                                                <i class="pi pi-trash"></i>
                                            </span>
                                        </td>
                                        <td class="text-left">{{data.actividad}}</td>
                                        <td>{{data.descripcion}}</td>
                                        <td>{{data.equipos}}</td>
                                        <td>{{data.insumos}}</td>
                                        <td>{{data.personal}}</td>
                                        <td>{{data.observaciones}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <label *ngIf="pendiente" class="lbl-info mt-3 mb-3">
                            (Los cambios locales se guardarán pulsando el botón "Guardar".)
                        </label>
                    </div>

                </p-accordionTab>

                <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
                  <evaluacion-archivo-shared
                    [idPlanManejo]="idPlanManejo"
                    [cadigoTab]="codigoAcordeon1"
                    [base]="evaluacion_1">
                    <ng-template #conatinertop> </ng-template>
                    <ng-template #conatinerbottom> </ng-template>
                  </evaluacion-archivo-shared>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
    <div class="step__btn mt-4">
      <message-evaluation *ngIf="isPerfilArffs" ></message-evaluation>
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button *ngIf="!isPerfilArffs" class="btn-primary2" type="button" (click)="guardar()" [disabled]="disabled||!pendiente">Guardar</button>
      <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="registrarEvaluacion()">Guardar Evaluación</button>
      <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">Retornar Flujo Evaluacion</button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
    </div>
    <br>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<p-toast position="top-right" key="tr"></p-toast>
