<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 pt-4">
      <h3 class="title text-uppercase">{{boolNuevo ? 'NUEVA SOLICITUD DE PERMISOS FORESTALES' : 'Solicitud de Permisos Forestales'}}</h3>
    </div>

    <div class="col-12 pt-4">
      <solicitud-permiso-forestal-general [dataBase]="dataBase" [solicitudAcceso]="solicitudAcceso">
      </solicitud-permiso-forestal-general>
    </div>

    <div class="col-12 pt-4">
      <datos-otorgamiento [solicitud]="solicitud" [solicitudCargaArchivo]="solicitudCargaArchivo" [dataBase]="dataBase"
        [accion]="accion" [enabledControlOtorgamiento]="enabledControlOtorgamiento"
        (registroSolicitud)="registroSolicitud()" (isValidatingPlanManejo)="validatingPlanManejo($event)"
        (isValidatingAnexo)="validatingAnexo($event)" (isValidatingArea)="validatingArea($event)"></datos-otorgamiento>

    </div>
  </div>

  <div class="row m-0 mb-2 justify-content-center mt-4 mb-2">
    <div class="col-12 col-sm-4 text-center">

      <button [routerLink]="['/planificacion/bandeja-permisos-forestales']" pButton pRipple type="button"
        label="Cancelar" class="p-button-secondary p-button-outlined mr-3"></button>

      <button pButton pRipple type="button" label="Guardar" class="p-button-success"
        (click)="guardarSolicitud()"></button>
    </div>
  </div>

  <div *ngIf="esGuardado"  class="row m-0 mb-2 justify-content-center mt-4 mb-2">
    <div class="col-12 col-sm-4 text-center">

      <button (click)="informeFirmado = false" pButton pRipple type="button" label="Descargar Informe" class="p-button-secondary p-button-outlined mr-3"
        style="border-color: #FFC000; color: #FFC000;"></button>

      <button (click)="informeFirmado = true" pButton pRipple type="button" label="Cargar Informe firmado"
        style="border-color: #7030A0; color: #7030A0;" class="p-button-secondary p-button-outlined mr-3"></button>

    </div>
  </div>

  <ng-container *ngIf="informeFirmado">
    <div class="row m-0 mb-2 justify-content-center mt-4 mb-2">
      <div class="col-12 col-sm-4 text-center">
        <button pButton pRipple type="button" label="Reenviar Solicitud Subsanda"
          style="border-color: #000000; color: #000000;" class="p-button-secondary p-button-outlined mr-3"></button>
      </div>
    </div>
  </ng-container>

  <p-toast></p-toast>
</div>
