<div class="container-fluit  pt-4">

    <div class="row m-0">
        <div class="col-12">
            <p-accordion>
                <p-accordionTab header="I. Datos Generales del Postor" [selected]="true">
                    <div class="row m-0">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="label">Nombre o Razón Social:</label>
                                <input [(ngModel)]="requestInfoSolicitante.nombreSolicitanteUnico" type="text"
                                    autocomplete="off" maxlength="200" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label class="label">N° DNI:</label>
                                <input [(ngModel)]="requestInfoSolicitante.soliDni" type="text" autocomplete="off"
                                    maxlength="8" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label class="label">N° RUC:</label>
                                <input type="text" [(ngModel)]="requestInfoSolicitante.soliRuc" autocomplete="off"
                                    maxlength="11" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label class="label">Domicilio legal del titular:</label>
                                <input [(ngModel)]="requestInfoSolicitante.direccionSolicitante" type="text"
                                    autocomplete="off" maxlength="200" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label class="label">Número de telefóno/celular:</label>
                                <input [(ngModel)]="requestInfoSolicitante.telefonoCelular" type="text"
                                    autocomplete="off" maxlength="200" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label class="label">Correo electrónico:</label>
                                <input [(ngModel)]="requestInfoSolicitante.correoElectronico" type="text"
                                    autocomplete="off" maxlength="200" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label class="label">Nombre del representante legal:</label>
                                <input [(ngModel)]="requestInfoSolicitante.nombreReprLegal" type="text"
                                    autocomplete="off" maxlength="200" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label class="label">Domicilio del representante legal:</label>
                                <input [(ngModel)]="requestInfoSolicitante.direccionReprLegal" type="text"
                                    autocomplete="off" maxlength="200" class="form-control" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="row m-0 mt-3" *ngIf="isShowEval">
                        <div class="col-12">
                            <app-evaluar-solicitud [disabled]="isDisbledEval" [idPFDM]="idPFDM" [codSeccion]="codigosPFDM.TAB_6"
                                [codSubSeccion]="codigosPFDM.TAB_6_1"></app-evaluar-solicitud>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="II. Datos Generales del Área a Concesionar y Recursos Existentes">
                    <div class="row m-0">
                        <div class="col-12 col-sm-8">
                            <div class="form-group">
                                <label class="label">Tipo de Modalidad: *</label>
                                <div>
                                    <div class="p-field-radiobutton d-inline-full">
                                        <p-radioButton name="modalidad"
                                            [(ngModel)]="requestInfoSolicitado.codigoModalidad" [value]="MODALIDAD.PFDM"
                                            [ngClass]="!requestInfoSolicitado.codigoModalidad ? 'input-required anexo1InfoSobre_required' : '' "
                                            [disabled]="true">
                                        </p-radioButton>
                                        <label class="m-0 pl-1 label">PFDM</label>
                                    </div>
                                    <div class="p-field-radiobutton d-inline-full">
                                        <p-radioButton name="modalidad"
                                            [(ngModel)]="requestInfoSolicitado.codigoModalidad" [value]="MODALIDAD.ECOT"
                                            [ngClass]="!requestInfoSolicitado.codigoModalidad ? 'input-required anexo1InfoSobre_required' : '' "
                                            [disabled]="true">
                                        </p-radioButton>
                                        <label class="m-0 pl-1 label">Ecoturismo</label>
                                    </div>
                                    <div class="p-field-radiobutton d-inline-full">
                                        <p-radioButton name="modalidad"
                                            [(ngModel)]="requestInfoSolicitado.codigoModalidad" [value]="MODALIDAD.CONS"
                                            [ngClass]="!requestInfoSolicitado.codigoModalidad ? 'input-required anexo1InfoSobre_required' : '' "
                                            [disabled]="true">
                                        </p-radioButton>
                                        <label class="m-0 pl-1 label">Conservación</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-2">
                            <div class="form-group">
                                <label class="label">Superficie (ha): </label>
                                <input type="text" autocomplete="off" value="{{ superficie }}" class="form-control"
                                    [ngClass]="!requestArea.superficieHa ? 'input-required anexo1Area_required' : '' "
                                    [(ngModel)]="requestArea.superficieHa" disabled />
                            </div>
                        </div>
                        <div class="col-6 col-sm-2">
                            <div class="form-group">
                                <label class="label">Vigencia <i class="fz-10">(años)</i>:
                                </label>
                                <input type="text" class="form-control" autocomplete="off"
                                    [(ngModel)]="requestInfoSolicitado.vigenciaAnio" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 col-sm-3">
                            <div class="form-group">
                                <label class="label">Departamento: </label>
                                <div class="form-control-selectk">
                                    <p-dropdown [(ngModel)]="requestInfoSolicitante.idDepartamentosolicitante"
                                        [options]="departamentos" optionValue="idDepartamento"
                                        optionLabel="nombreDepartamento" (onChange)="selectDPD('d')" [disabled]="true">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-3">
                            <label class="label">Provincia: </label>
                            <div class="form-control-selectk">
                                <p-dropdown [(ngModel)]="requestInfoSolicitante.idProvinciaSolicitante"
                                    [options]="provincias" optionValue="idProvincia" optionLabel="nombreProvincia"
                                    (onChange)="selectDPD('p')" [disabled]="true"></p-dropdown>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 form-group">
                            <label class="label">Distrito:</label>
                            <div class="form-control-selectk">
                                <p-dropdown [(ngModel)]="requestInfoSolicitante.idDistritoSolicitante"
                                    [options]="distritos" optionValue="idDistrito" optionLabel="nombreDistrito"
                                    (onChange)="selectDPD('dd')" [disabled]="true"></p-dropdown>
                            </div>
                        </div>
                        <!-- <div class="col-12 col-sm-3">
                            <div class="form-group">
                                <label class="label">Superficie (ha)</label>
                                <input type="text" autocomplete="off" class="form-control"/>
                            </div>
                        </div> -->
                    </div>
                    <div class="row m-0">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="label">Recursos a aprovechar o conservar <small>(máx. 250
                                        caract.)</small>:</label>
                                <textarea autocomplete="off" class="form-control" cols="3" rows="4" maxlength="250"
                                    [ngClass]="!requestInfoSolicitado.recurso ? 'input-required anexo1InfoSobre_required' : '' "
                                    [(ngModel)]="requestInfoSolicitado.recurso" disabled>
                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <label class="label">Actividades complementarias a realizar <span class="fz-11 font-normal">(en
                                caso seleccione alguno, indicar los productos o servicios a aprovechar)</span></label>
                    </div>
                    <div class="col-12">
                        <p-table [value]="lstDataComplementaria">
                            <ng-template pTemplate="body" let-d>
                                <tr>
                                    <td>
                                        <p-checkbox [binary]="true" [(ngModel)]="d.check" value="1" [disabled]="true"></p-checkbox>
                                    </td>
                                    <td>{{ d.nombre }}</td>
                                    <td>
                                        <input [disabled]="true" type="text" class="form-control" autocomplete="off"
                                            [(ngModel)]="d.descripcion" [ngClass]="(!requestActividad.ecoturismoDescripcion && requestActividad.act_complementaria1)
                                    ? 'input-required anexo1Actividades_required' : '' " />
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                    <div class="row m-0 mt-3" *ngIf="isShowEval">
                        <div class="col-12">
                            <app-evaluar-solicitud [disabled]="isDisbledEval" [idPFDM]="idPFDM" [codSeccion]="codigosPFDM.TAB_6"
                                [codSubSeccion]="codigosPFDM.TAB_6_2"></app-evaluar-solicitud>
                        </div>
                    </div>

                </p-accordionTab>
                <p-accordionTab header="III. Objetivos y Metas">
                    <div class="row m-0">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="label">Objetivos <small>(máx. 250 caract.)</small>:</label>
                                <textarea autocomplete="off" class="form-control" cols="3" rows="4" maxlength="250"
                                    [ngClass]="!requestInfoSolicitado.objetivo ? 'input-required anexo1InfoSobre_required' : '' "
                                    [(ngModel)]="requestInfoSolicitado.objetivo" disabled>
                                </textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="label">Metas <small>(máx. 250 caract.)</small>: *</label>
                                <textarea autocomplete="off" class="form-control" cols="3" rows="4" maxlength="250"
                                    [ngClass]="!requestInfoSolicitado.metas ? 'input-required anexo1InfoSobre_required' : '' "
                                    [(ngModel)]="requestInfoSolicitado.metas" [disabled]="isDisbledFormu">
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0" *ngIf="!isDisbledFormu">
                        <div class="col-12 mt-3">
                            <button type="button" class="btn-primary2" (click)="registrarMeta()" [disabled]="isDisbledFormu">
                                Guardar Datos Ingresados
                            </button>
                        </div>
                    </div>

                    <div class="row m-0 mt-3" *ngIf="isShowEval">
                        <div class="col-12">
                            <app-evaluar-solicitud [disabled]="isDisbledEval" [idPFDM]="idPFDM" [codSeccion]="codigosPFDM.TAB_6"
                                [codSubSeccion]="codigosPFDM.TAB_6_3"></app-evaluar-solicitud>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="IV. Caracterización Biofísica">
                    <div class="row m-0">
                        <div class="col-12 col-sm-8">
                            <div class="form-group">
                                <label class="label">Caracterización Física <small>(máx. 250 caract.)</small>: *</label>
                                <textarea autocomplete="off" class="form-control" cols="3" rows="4" maxlength="250"
                                    [ngClass]="!requestInfoSolicitado.caractFisica ? 'input-required anexo1InfoSobre_required' : '' "
                                    [(ngModel)]="requestInfoSolicitado.caractFisica" [disabled]="isDisbledFormu">
                                </textarea>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <app-carga-archivo-general [disabled]="isDisbledFormu" label="Adjuntar Evidencia:" accept=".pdf, .jpg, .png"
                                [tipoDoc]="'CAMBIAR6_4_1'"
                                [idArchivo]="requestInfoSolicitado.idArchivoR6_4_1"
                                (registrarArchivo)="registrarArchivo($event, 1)"
                                (eliminarArchivo)="eliminarArchivo($event, 1)">
                            </app-carga-archivo-general>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 col-sm-8">
                            <div class="form-group">
                                <label class="label">Caracterización Biológica <small>(máx. 250 caract.)</small>: *</label>
                                <textarea autocomplete="off" class="form-control" cols="3" rows="4" maxlength="250"
                                    [ngClass]="!requestInfoSolicitado.caractBiologica ? 'input-required anexo1InfoSobre_required' : '' "
                                    [(ngModel)]="requestInfoSolicitado.caractBiologica" [disabled]="isDisbledFormu">
                                </textarea>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <app-carga-archivo-general [disabled]="isDisbledFormu" label="Adjuntar Evidencia:" accept=".pdf, .jpg, .png"
                                [tipoDoc]="'CAMBIAR6_4_2'"
                                [idArchivo]="requestInfoSolicitado.idArchivoR6_4_2"
                                (registrarArchivo)="registrarArchivo($event, 2)"
                                (eliminarArchivo)="eliminarArchivo($event, 2)">
                            </app-carga-archivo-general>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 col-sm-8">
                            <div class="form-group">
                                <label class="label">Caracterización Socioeconómica <small>(máx. 250 caract.)</small>: *</label>
                                <textarea autocomplete="off" class="form-control" cols="3" rows="4" maxlength="250"
                                    [ngClass]="!requestInfoSolicitado.caractSocioeconomica ? 'input-required anexo1InfoSobre_required' : '' "
                                    [(ngModel)]="requestInfoSolicitado.caractSocioeconomica" [disabled]="isDisbledFormu">
                                </textarea>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <app-carga-archivo-general [disabled]="isDisbledFormu" label="Adjuntar Evidencia:" accept=".png, .jpg, .pdf"
                                [tipoDoc]="'CAMBIAR6_4_3'"
                                [idArchivo]="requestInfoSolicitado.idArchivoR6_4_3"
                                (registrarArchivo)="registrarArchivo($event, 3)"
                                (eliminarArchivo)="eliminarArchivo($event, 3)">
                            </app-carga-archivo-general>
                        </div>
                    </div>
                    <div class="row m-0" *ngIf="!isDisbledFormu">
                        <div class="col-12 mt-3">
                            <button type="button" class="btn-primary2" (click)="registrarCaractBiofisica()" [disabled]="isDisbledFormu">
                                Guardar Datos Ingresados
                            </button>
                        </div>
                    </div>
                    
                    <div class="row m-0 mt-3" *ngIf="isShowEval">
                        <div class="col-12">
                            <app-evaluar-solicitud [disabled]="isDisbledEval" [idPFDM]="idPFDM" [codSeccion]="codigosPFDM.TAB_6"
                                [codSubSeccion]="codigosPFDM.TAB_6_4"></app-evaluar-solicitud>
                        </div>
                    </div>

                </p-accordionTab>
                <p-accordionTab header="V. Justificación de la Importancia del Otorgamiento de la Concesión">
                    <div class="row m-0">
                        <div class="col-12 col-sm-8">
                            <div class="form-group">
                                <label class="label">Factores ambientales y biológicos <small>(máx. 250 caract.)</small>: *</label>
                                <textarea autocomplete="off" class="form-control" cols="3" rows="4" maxlength="250"
                                    [ngClass]="!requestArea.factorAmbientalBiologico ? 'input-required anexo5JustiOtorgamiento_required' : '' "
                                    [(ngModel)]="requestArea.factorAmbientalBiologico" [disabled]="isDisbledFormu">
                                </textarea>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <app-carga-archivo-general [disabled]="isDisbledFormu" label="Adjuntar Evidencia:" accept=".png, .jpg, .pdf"
                                [idArchivo]="formEvidenciaFactorAmbiBiologico.idArchivo" [tipoDoc]="'PFDMA6_SS5_AMBBIO'"
                                (registrarArchivo)="registrarArchivo($event, 4)"
                                (eliminarArchivo)="eliminarArchivo($event, 4)">
                            </app-carga-archivo-general>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 col-sm-8">
                            <div class="form-group">
                                <label class="label">Factores sociales, economicos y culturales <small>(máx. 250 caract.)</small>: *</label>
                                <textarea autocomplete="off" class="form-control" cols="3" rows="4" maxlength="250"
                                [ngClass]="!requestArea.factorSocioEconocultural ? 'input-required anexo5JustiOtorgamiento_required' : '' "
                                [(ngModel)]="requestArea.factorSocioEconocultural" [disabled]="isDisbledFormu">
                                </textarea>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <app-carga-archivo-general [disabled]="isDisbledFormu" label="Adjuntar Evidencia:" accept=".png, .jpg, .pdf"
                                [idArchivo]="formEvidenciaFactorSocioEconoCultural.idArchivo" [tipoDoc]="'PFDMA6_SS5_SECOCU'"
                                (registrarArchivo)="registrarArchivo($event, 5)"
                                (eliminarArchivo)="eliminarArchivo($event, 5)">
                            </app-carga-archivo-general>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 col-sm-8">
                            <div class="form-group">
                                <label class="label">Manejo de la concesión <small>(máx. 250 caract.)</small>: *</label>
                                <textarea autocomplete="off" class="form-control" cols="3" rows="4" maxlength="250"
                                [ngClass]="!requestArea.manejoConcesion ? 'input-required anexo5JustiOtorgamiento_required' : '' "
                                [(ngModel)]="requestArea.manejoConcesion" [disabled]="isDisbledFormu">
                                </textarea>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <app-carga-archivo-general [disabled]="isDisbledFormu" label="Adjuntar Evidencia:" accept=".png, .jpg, .pdf"
                                [idArchivo]="formEvidenciaManejoConcesion.idArchivo" [tipoDoc]="'PFDMA6_SS5_MJOCON'"
                                (registrarArchivo)="registrarArchivo($event, 6)"
                                (eliminarArchivo)="eliminarArchivo($event, 6)">
                            </app-carga-archivo-general>
                            
                            <label class="label">Descargar Plantilla de Manejo de la Concesión</label>
                            <button type="button" class="btn-primary2" (click)="btnDescargarPlantillaManejo()" [disabled]="isDisbledFormu">
                                Descargar
                            </button>
                        </div>
                    </div>
                    <div class="row m-0" *ngIf="!isDisbledFormu">
                        <div class="col-12 mt-3">
                            <button type="button" class="btn-primary2" (click)="btnRegOtorgamientoConcesion()">
                                Guardar Datos Ingresados
                            </button>

                        </div>
                    </div>
                    <div class="row m-0 mt-3" *ngIf="isShowEval">
                        <div class="col-12">
                            <app-evaluar-solicitud [disabled]="isDisbledEval" [idPFDM]="idPFDM" [codSeccion]="codigosPFDM.TAB_6"
                                [codSubSeccion]="codigosPFDM.TAB_6_5"></app-evaluar-solicitud>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="VI. Sustento Financiero">
                    <div class="row m-0">

                        <div class="col-12 col-sm-4">
                            <label class="label">Descargar Plantilla de Presupuesto</label>
                            <button type="button" class="btn-primary2" (click)="btnDescargarPlantillaPresupuesto()" [disabled]="isDisbledFormu">
                                Descargar
                            </button>
                        </div>
                        <div class="col-12 col-sm-8">

                            <div class="col-12 col-sm-7">
                                <label class="label">Presupuesto <small>(Adjuntar Matriz)</small>: *</label>
                                <app-carga-archivo-general [disabled]="isDisbledFormu" accept=".png, .jpg, .pdf"
                                    [idArchivo]="requestInfoSolicitado.idArchivoR6_6_7"
                                    [tipoDoc]="'CAMBIAR6_6_1'" (registrarArchivo)="registrarArchivo($event, 7)"
                                    (eliminarArchivo)="eliminarArchivo($event, 7)">
                                </app-carga-archivo-general>
                            </div>
                            <div class="col-12 col-sm-7">
                                <label class="label">Analisis Financiero <small>(Adjuntar Matriz)</small>: *</label>
                                <app-carga-archivo-general [disabled]="isDisbledFormu" accept=".png, .jpg, .pdf"
                                    [idArchivo]="requestInfoSolicitado.idArchivoR6_6_8"
                                    [tipoDoc]="'CAMBIAR6_6_2'" (registrarArchivo)="registrarArchivo($event, 8)"
                                    (eliminarArchivo)="eliminarArchivo($event, 8)">
                                </app-carga-archivo-general>
                            </div>
                        </div>
                    </div>

                    <div class="row m-0 mt-3" *ngIf="isShowEval">
                        <div class="col-12">
                            <app-evaluar-solicitud [disabled]="isDisbledEval" [idPFDM]="idPFDM" [codSeccion]="codigosPFDM.TAB_6"
                                [codSubSeccion]="codigosPFDM.TAB_6_6"></app-evaluar-solicitud>
                        </div>
                    </div>

                    <div class="row m-0" *ngIf="!isDisbledFormu">
                        <div class="col-12 mt-3">
                            <button type="button" class="btn-primary2" (click)="btnRegSustentoFinanciero()">
                                Guardar Datos Ingresados
                            </button>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab
                    header="VII. Experiencia del Solicitante en Actividades Vinculadas al Tipo de Concesión">
                    <div class="row m-0 mt-3">
                        <div class="col-12 col-sm-7">
                            <app-carga-archivo-general label="Adjuntar Evidencia: *" accept=".png, .jpg, .pdf"
                                [ngClass]="!experienciaSolicitanteRequest.idArchivo ? 'anexo6ExperienciaLaboral_required' : ''"
                                [idArchivo]="experienciaSolicitanteRequest.idArchivo" [tipoDoc]="'PFDMA6_SS7'"
                                (registrarArchivo)="registrarArchivo($event, 9)"
                                (eliminarArchivo)="eliminarArchivo($event, 9)" [disabled]="isDisbledFormu">
                            </app-carga-archivo-general>
                        </div>
                    </div>
                    <div class="row m-0" *ngIf="!isDisbledFormu">
                        <div class="col-12 mt-3">
                            <button type="button" class="btn-primary2" (click)="btnRegExperinciaSolicitante()" [disabled]="isDisbledFormu">
                                Guardar Datos Ingresados
                            </button>
                        </div>
                    </div>
                    <div class="row m-0 mt-3" *ngIf="isShowEval">
                        <div class="col-12">
                            <app-evaluar-solicitud [disabled]="isDisbledEval" [idPFDM]="idPFDM" [codSeccion]="codigosPFDM.TAB_6"
                                [codSubSeccion]="codigosPFDM.TAB_6_7"></app-evaluar-solicitud>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="VIII. Anexos">
                    <div class="row m-0 mt-3">
                        <div class="col-12">
                            <div class="form-group">
                                <h3 class="title2 fz-12">Mapa de Ubicación y base del área a concesionar</h3>
                            </div>
                        </div>
                    </div>
                    <app-map-custom-pfdm [idPFDM]="idPFDM" [codigoProceso]="codProceso"
                        [codigoSubSeccion]="codigoSubSeccion" [showBotonCargarGeneral]="false" [tipoGeometria]="'Otros'"
                        [showBotonGuardar]="false" [isAnexo]="true" [printPDF]="true">
                    </app-map-custom-pfdm>
                    <div class="row m-0 mt-3">
                        <div class="col-12 col-sm-7">
                            <app-carga-archivo-general [disabled]="isDisbledFormu" label="Adjuntar Mapa de Ubicación: *"
                                accept=".png, .jpg, .pdf" [idArchivo]="formDatoMapaUbicacion.idArchivo" [tipoDoc]="'PFDMA6_SS8_1'"
                                [ngClass]="!formDatoMapaUbicacion.idArchivo ? 'anexo8FormatoPropuesta_required' : ''"
                                (registrarArchivo)="registrarArchivo($event, 10)"
                                (eliminarArchivo)="eliminarArchivo($event, 10)">
                            </app-carga-archivo-general>
                        </div>
                    </div>
                    <div class="row m-0 mt-3">
                        <div class="col-12 col-sm-7">
                            <app-carga-archivo-general [disabled]="isDisbledFormu" label="Adjuntar Mapa Base del Area a Concesionar: *" 
                                accept=".png, .jpg, .pdf" [idArchivo]="formDatoMapaAreaConcesion.idArchivo" [tipoDoc]="'PFDMA6_SS8_2'" 
                                [ngClass]="!formDatoMapaAreaConcesion.idArchivo ? 'anexo8FormatoPropuesta_required' : ''"
                                (registrarArchivo)="registrarArchivo($event, 11)"
                                (eliminarArchivo)="eliminarArchivo($event, 11)">
                            </app-carga-archivo-general>
                        </div>
                    </div>
                    <div class="row m-0" *ngIf="!isDisbledFormu">
                        <div class="col-12 mt-3">
                            <button type="button" class="btn-primary2" (click)="btnRegAnexoElaboracionPropuesta()">
                                Guardar Datos Ingresados
                            </button>
                        </div>
                    </div>
                    <div class="row m-0 mt-3" *ngIf="isShowEval">
                        <div class="col-12">
                            <app-evaluar-solicitud [disabled]="isDisbledEval" [idPFDM]="idPFDM" [codSeccion]="codigosPFDM.TAB_6"
                                [codSubSeccion]="codigosPFDM.TAB_6_8"></app-evaluar-solicitud>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>


</div>