<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <div class="row m-0 pt-2">
        <div class="col-12 col-sm-12 p-0">
          <div class="f-w mb-2 mapa-content">
            <div class="mapa" #map></div>
          </div>
        </div>
        <!-- <div class="col-12 col-sm-4">
          <div
            class="d-grid gap-2 d-md-block mb-2"
            style="display: flex !important;"
          >
            <button
              type="button"
              (click)="fileInputSHP.click()"
              class="btn-secondary width-full"
            >
              Cargar shape file
              <input
                #fileInputSHP
                type="file"
                (change)="
                  onChangeFileSHP($event, false, 'TPAREA', 'PGMFAIBAMCUAM')
                "
                style="display: none;"
              />
            </button>
          </div>
          <div class="card gh-layers">
            <div class="card-header py-0 pt-2 pb-2">
              Capas
              <span title="Guardar Capa" class="pointer pr-1 float-right">
                <i
                  class="pi pi-save"
                  aria-hidden="true"
                  (click)="onGuardarLayer()"
                ></i>
              </span>
            </div>
            <ul class="list-group">
              <li
                *ngFor="let item of _layers"
                class="list-group-item p-0 d-flex"
              >
                <input
                  class="ml-1 mr-1 pointer"
                  type="checkbox"
                  [checked]="true"
                  (change)="toggleLayer(item.idLayer, $event)"
                />

                <label
                  class="m-0 p-0 text-left pointer gh-label"
                  style="flex: 2;"
                  [ngStyle]="{ color: item.color }"
                  >{{ item.nombre }}
                  <span
                    class="pointer pr-1"
                    title="{{
                      item.overlap ? 'Capa Superpuesta' : 'Capa contenida'
                    }} "
                  >
                    <i
                      class="{{
                        item.overlap
                          ? 'pi pi-info-circle color-red'
                          : 'pi pi-check-circle color-green'
                      }}"
                      *ngIf="item.service"
                      aria-hidden="true"
                    ></i>
                  </span>
                </label>

                <div class="d-flex">
                  <span class="mr-2 pointer">
                    <i
                      class="pi pi-download"
                      *ngIf="!item.service && item.inServer == true"
                      aria-hidden="true"
                      (click)="onDownloadFileSHP(item?.codigo)"
                    ></i>
                  </span>
                  <span class="pointer pr-1">
                    <i
                      class="pi pi-trash"
                      aria-hidden="true"
                      *ngIf="!item.service && item.idLayer"
                      (click)=" onRemoveFileSHP(item)"
                    ></i>
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div> -->
      </div>
      <p-accordion>
        <p-accordionTab header="Tabla informativa mapas" [selected]="true">
          <app-tabla-informativa-mapa
            [idPGMF] ="idPlanManejo"
            [idInfBasica]="idInfBasica"
            [usuario]="usuario"
            [disabled]="disabled"
            [idInfBasicaU]="idInfBasicaU"
            [idInfBasicaS]="idInfBasicaS"
            (listUbicacion)="listarUbicacion($event)"
            (listSuperficie)="listarSuperficie($event)"
            (listArea)="listarArea($event)"
            (totalArea)="listarTotalArea($event)"
            (listAccesibilidad)="listarAccesibilidad($event)"
            (totalAreaZonitificacion)="listarTotalAreaZonificacion($event)"
          >
          </app-tabla-informativa-mapa>

          <br><br>
          <evaluacion-archivo-shared *ngIf="isPerfilArffs"
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon_3_1"
            [base]="detEvaluacion_3_1"
          >
          </evaluacion-archivo-shared>
        </p-accordionTab>

        <p-accordionTab header="3.1. Ubicación de la comunidad">
          <tabla-area-manejo-continua
            [listCoordinatesAnexo]="listCoordinatesAnexo"
            [usuario]="usuario"
            [idPlanManejo]="idPlanManejo"
            [idInfBasica]="idInfBasica"
            [disabled]="disabled"
            (idInfBasicaU)="listarIdInfBasicaU($event)"
            (eliminaU)="eliminarU($event)"
          >
          </tabla-area-manejo-continua>

          <br><br>
          <evaluacion-archivo-shared *ngIf="isPerfilArffs"
                                     [idPlanManejo]="idPlanManejo"
                                     [cadigoTab]="codigoAcordeon_3_2"
                                     [base]="detEvaluacion_3_2"
          >
          </evaluacion-archivo-shared>
        </p-accordionTab>

        <p-accordionTab header="3.2. Superficie y ubicación de la UMF">
          <tabla-area-manejo-dividida
            [listCoordinatesAnexo]="listCoordinatesAnexo2"
            [listAnexoArea]="listAnexoArea"
            [totalAnexoArea]="totalAnexoArea"
            [usuario]="usuario"
            [idPlanManejo]="idPlanManejo"
            [idInfBasica] ="idInfBasica"
            [disabled]="disabled"
            (idInfBasicaS)="listarIdInfBasicaS($event)"
            (eliminaS)="eliminarS($event)"
          >
          </tabla-area-manejo-dividida>

          <br><br>
          <evaluacion-archivo-shared *ngIf="isPerfilArffs"
                                     [idPlanManejo]="idPlanManejo"
                                     [cadigoTab]="codigoAcordeon_3_3"
                                     [base]="detEvaluacion_3_3"
          >
          </evaluacion-archivo-shared>
        </p-accordionTab>

        <p-accordionTab header="3.3. Zonificación interna de la UMF">
          <tabla-area-zonificacion
            [usuario]="usuario"
            [idPlanManejo]="idPlanManejo"
            [idInfBasica]="idInfBasica"
            [totalAreaZonificacion]="totalAreaZonificacion"
            [disabled]="disabled"
          >
          </tabla-area-zonificacion>
          <!-- <div class="col-12 mt-4 mb-3" class="title">
            <p-table [value]="zonificacion" styleClass="p-datatable-gridlines">
              <ng-template pTemplate="caption">
                Zonificación de la UMF
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th>Categoría</th>
                  <th>Área (ha)</th>
                  <th>%</th>
                  <th>Observaciones</th>
                  <th>Acciones</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-zonificacion>
                <tr>
                  <td>{{ zonificacion.categoria }}</td>
                  <td>{{ zonificacion.area }}</td>
                  <td>{{ zonificacion.porcentaje }} %</td>
                  <td class="row m-0 text-center">
                    <textarea
                      class="col-12 col-sm-4"
                      maxlength="200"
                      [disabled]="zonificacion.cargarObservacion"
                      rows="4"
                      class="form-control"
                      [(ngModel)]="zonificacion.observaciones"
                    >
                    </textarea>
                  </td>
                  <td class="text-center" style="width: 150px; padding: 0px;">
                    <button
                      mat-button
                      (click)="openModalObservacione('Cargar observaciones',zonificacion, 'false')"
                      class="col-6 col-sm-4"
                      [disabled]="zonificacion.cargarObservacion"
                      style="padding: 0px; min-width: 40px;"
                    >
                      <i class="pi pi-check pointer" title="Cargar"></i>
                    </button>
                    <button
                      mat-button
                      (click)="
                      openModalObservacione(
                          'Editar observaciones',
                          zonificacion,
                          'true'
                        )
                      "
                      class="col-6 col-sm-4"
                      [disabled]="zonificacion.editarObservaciones"
                      style="padding: 0px; min-width: 40px;"
                    >
                      <i class="pi pi-pencil pointer" title="Editar"></i>
                    </button>
                    <button
                      mat-button
                      (click)="eliminarObservacione(zonificacion)"
                      class="col-6 col-sm-4"
                      [disabled]="zonificacion.editarObservaciones"
                      style="padding: 0px; min-width: 40px;"
                    >
                      <i class="pi pi-trash pointer" title="Eliminar"></i>
                    </button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td colspan="1" class="p-text-right">Total</td>
                  <td></td>
                  <td>%</td>
                  <td></td>
                  <td></td>
                </tr>
              </ng-template>
            </p-table>
          </div> -->

          <br><br>
          <evaluacion-archivo-shared *ngIf="isPerfilArffs"
                                     [idPlanManejo]="idPlanManejo"
                                     [cadigoTab]="codigoAcordeon_3_3"
                                     [base]="detEvaluacion_3_3"
          >
          </evaluacion-archivo-shared>
        </p-accordionTab>

        <p-accordionTab header="3.4. Accesibilidad de la UMF">
          <div class="col-12 mt-4 mb-3" style="padding-bottom: 160px;">
            <p-table [value]="informacionBasicaDet3_4" styleClass="p-datatable-gridlines">
              <ng-template pTemplate="header">
                <tr *ngIf="!isSubDet">
                  <th style="width: 20%;">Ruta principal</th>
                  <th style="width: 20%;">Medio de transporte</th>
                  <th style="width: 20%;">Distancia (km)</th>
                  <th style="width: 20%;">Tiempo (h)</th>
                  <th style="width: 20%;">Tipo de vehículo</th>
                </tr>
                <tr *ngIf="isSubDet">
                  <th style="width: 17%;">Ruta principal</th>
                  <th style="width: 23%;">Detalle Ruta</th>
                  <th style="width: 15%;">Medio de transporte</th>
                  <th style="width: 15%;">Distancia (km)</th>
                  <th style="width: 15%;">Tiempo (h)</th>
                  <th style="width: 15%;">Tipo de vehículo</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr>
                  <td>{{ data.actividad }}</td>
                  <td *ngIf="isSubDet">
                    <div *ngFor="let d of data.listInformacionBasicaDetSub" style="padding: 0px; margin: 0px;">
                      <table style="border: hidden;">
                        <tr style="border: hidden;">
                          <td style="border: hidden; text-align: initial;">
                            {{ d.descripcion }}
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td>
                  <td>
                    <div class="form-control-selectk">
                      <p-dropdown
                        [autoDisplayFirst]="false"
                        [options]="transporte"
                        optionLabel="label"
                        optionValue="value"
                        placeholder="Seleccione"
                        [(ngModel)]="data.descripcion"
                        [disabled]="disabled || data.observaciones == 'S'"
                      >
                      </p-dropdown>
                    </div>
                  </td>
                  <td>
                    <input
                      decimal
                      [min]="0"
                      [maxLength]="10"
                      [decimalPlaces]="2"
                      class="form-control"
                      pInputText
                      [(ngModel)]="data.distanciaKm"
                      [disabled]="disabled" />
                  </td>
                  <td>
                    <input
                      decimal
                      [min]="0"
                      [maxLength]="10"
                      [decimalPlaces]="2"
                      class="form-control"
                      pInputText
                      [(ngModel)]="data.tiempo"
                      [disabled]="disabled" />
                  </td>
                  <td>
                    <div class="form-control-selectk">
                      <p-dropdown
                        [autoDisplayFirst]="false"
                        [options]="vehiculo"
                        optionLabel="label"
                        optionValue="value"
                        placeholder="Seleccione"
                        [(ngModel)]="data.medioTransporte"
                        [disabled]="disabled"
                      >
                      </p-dropdown>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="step__btn mt-4 mb_2">
              <button
                type="submit"
                class="btn-primary2"
                (click)="registrarInformacionBasica3_4()"
                [disabled]="disabled"
              >
                Guardar
              </button>
            </div>
          </div>

          <br><br>
          <evaluacion-archivo-shared *ngIf="isPerfilArffs"
                                     [idPlanManejo]="idPlanManejo"
                                     [cadigoTab]="codigoAcordeon_3_4"
                                     [base]="detEvaluacion_3_4"
          >
          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4 mb-4">
        <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="registrarEvaluacion()">
          Guardar Evaluación
        </button>
        <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">
          Retornar Flujo Evaluacion
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
    </div>
  </div>
</div>
