<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 mt-3">
      <app-carga-archivo-general label="Registrar una resolución para declarar la nulidad de la inscripción:"
        [disabled]="isBlockGuardar" accept=".pdf" [idArchivo]="fileResolNull.idArchivo" [tipoDoc]="fileResolNull.tipoArchivo"
        (registrarArchivo)="registrarArchivo($event)" (eliminarArchivo)="eliminarArchivo($event)">
      </app-carga-archivo-general>
    </div>
    <div class="col-12 mt-3">
      <button class="btn btn-secondary mr-4" (click)="btnNotificarUser($event)"
        [disabled]="isNotificarPasSolicitante">Notificar al Usuario</button>
      <button class="btn btn-secondary" (click)="btnNotificarSerfor($event)"
        [disabled]="isNotificarPasSerfor">Notificar a SERFOR</button>
    </div>

    <div class="col-12 mt-4 text-right">
      <button *ngIf="!isBlockGuardar" class="p-button-success p-button-outlined mr-2" type="button" icon="pi pi-save" pButton pRipple
        label="Guardar" (click)="btnGuardar()"></button>

      <button class="p-button-danger p-button-outlined" type="button" icon="pi pi-times" pButton pRipple
        label="Cancelar" (click)="btnCancelar()"></button>
    </div>
  </div>
</div>