<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="2.1. Objetivo General" [selected]="true">
          <div>
            <div class="col-12">
              <div class="form-group">
                <textarea
                  [disabled]="disabled||isPerfilArffs"
                  class="form-control"
                  maxlength="250"
                  rows="2"
                  [(ngModel)]="objetoManejo.general"
                  style="resize: none"
                  (input)="onChange($event)"
                ></textarea>
              </div>
            </div>
            <div class="col-12">
              <label
                *ngIf="pendiente"
                class="lbl-info mt-3 mb-3"
                style="float: none !important"
              >
                (Los cambios locales se guardarán pulsando el botón "Guardar".)
              </label>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="2.2. Objetivos Específicos">
          <!-- <div class="col-12">
            <h3 class="title2">Productos a Obtener del Manejo</h3>
          </div> -->
          <div class="col-2 col-sm-12 text-right mb-1">
            <button
              (click)="abrirModal()"
              class="btn btn-sm btn-default button-more mb-2"
              type="button" [disabled]="disabled"
              title="Agregar"
            >
              <i class="pi pi-plus"></i>
            </button>
          </div>
          <div class="col-12">
            <p-listbox
              [options]="groupedOjetivos"
              [metaKeySelection]="false"
              [(ngModel)]="listObjeto"
              [disabled]="disabled||isPerfilArffs"
              [group]="true"
              optionDisabled="inactive"
              [checkbox]="true"
              [filter]="true"
              [multiple]="true"
              [listStyle]="{ 'max-height': '250px' }"
              [style]="{ width: '100%' }">
              <ng-template let-group pTemplate="group">
                <div class="p-d-flex p-ai-center">
                  <span>{{ group.label }}</span>
                </div>
              </ng-template>
            </p-listbox>
          </div>

          <div class="row mt-4">
            <div class="col-12 ml-3 mr-3">
              <label class="m-0 mr-4 label">Ampliar información que sustente la elección del objetivo específico:</label>
              <div class="p-field-radiobutton">
                <strong for="Si" class="mr-2">SI</strong>
                <p-radioButton name="amplia" value="S" inputId="Si" [disabled]="disabled" [(ngModel)]="selectAnexo"></p-radioButton>
              </div>
              <div class="p-field-radiobutton">
                <strong for="No" class="mr-2">NO</strong>
                <p-radioButton name="amplia" value="N" inputId="No" [disabled]="disabled" [(ngModel)]="selectAnexo" (onClick)="anexoN($event)"></p-radioButton>
              </div>
            </div>

            <div class="col-12 ml-3 mr-3 mt-3" *ngIf="selectAnexo == 'S'">
              <label class="label">Justificación:</label>
              <textarea class="form-control" rows="4" [(ngModel)]="objetoManejo.detalle" [disabled]="disabled" style="resize: none;" maxlength="250"></textarea>
            </div>
            <br>
            <br>
            <div class="col-12 ml-3 mr-3 mt-3" *ngIf="selectAnexo == 'S'">
              <input-button-type-codigo
                [label]="'Adjuntar documento'"
                [idPlanManejo]="idPGMF" [disabled]="disabled"
                [idTipoDocumento]="CodigoPOPAC.ACORDEON_2_1"
                [codigoProceso]="CodigoPOPAC.CODIGO_PROCESO"
                [accept]="accept"
              ></input-button-type-codigo>
            </div>
          </div>

        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4 mb-4">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button type="submit" class="btn-primary2" (click)="GuardarObjetoManejo()" [disabled]="disabled || (isSubmitting$ | async)">
          Guardar
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">
          Siguiente
        </button>
      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-dialog
  header="{{ tituloModal }}"
  header="Header"
  [(visible)]="displayBasic"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Tipo</label>
            <div class="form-control-selectk">
              <p-dropdown
                [options]="listParametro"
                optionLabel="tipoLabel"
                optionValue="tipoValue"
                placeholder="Seleccione"
                [(ngModel)]="parametro.detalle"
                appendTo="body"
                [style]="{width: '100%'}"
              ></p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Objetivo</label>
            <input
              [(ngModel)]="parametro.descripcionDetalle"
              type="text"
              class="form-control"
              placeholder="Ingrese Objetivo"
              maxlength="50"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarObjetivo()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
