<div class="col-2 col-sm-12 text-right">
  <button
    (click)="abrirModalAccesibilidad()"
    class="btn btn-sm btn-default button-more mb-2"
    type="button"
    title="Agregar"
    [disabled]="disabled"
  >
    <i class="pi pi-plus"></i>
  </button>
</div>

<div class="row mt-2">
  <div class="col-12">
    <p-table [value]="accesibilidadList">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 80px">Acciones</th>
          <th>Anexo o sector</th>
          <th>Subparcela</th>
          <th>Punto de referencia (carretera, etc)</th>
          <th>Vía</th>
          <th>Distancia (Km)</th>
          <th>Tiempo (horas)</th>
          <th>Tipo de vehículo</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
          <td
            rowspan="4"
            [attr.rowspan]="
              data.listAccesibilidadManejoMatrizDetalle.length + 1
            "
          >
            <span
              class="pointer mr-1"
              title="Editar"
              (click)="editarModalAccesibilidad(rowIndex)"
            >
              <i class="pi pi-pencil"></i>
            </span>
            <span
              class="pointer"
              title="Eliminar"
              (click)="eliminarAccesibilidad($event, rowIndex, data)"
            >
              <i class="pi pi-trash"></i>
            </span>
          </td>

          <td
            [attr.rowspan]="
              data.listAccesibilidadManejoMatrizDetalle.length + 1
            "
          >
            {{ data.anexosector }}
          </td>
        </tr>

        <tr *ngFor="let item of data.listAccesibilidadManejoMatrizDetalle">
          <td>{{ item.subparcela }}</td>
          <td>{{ item.referencia }}</td>
          <td>{{ item.via }}</td>
          <td>{{ item.distancia }}</td>
          <td>{{ item.tiempo }}</td>
          <td>{{ item.tipovehiculo }}</td>
        </tr>
      </ng-template>
    </p-table>

    <br />
    <br />

    <button
      type="submit"
      class="btn-primary2"
      (click)="registrar()"
      [disabled]="disabled"
    >
      Guardar
    </button>
  </div>
</div>

<p-dialog
  header="{{
    editAccesibilidad ? 'Editar Accesibilidad' : 'Registrar Accesibilidad'
  }}"
  header="Header"
  [(visible)]="displayAccesibilidad"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Anexo o Sector</label>
            <input
              [(ngModel)]="accesibilidad.anexosector"
              type="text"
              class="form-control"
              placeholder="Ingrese Sector"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-12">
          <div class="text-right mb-2">
            <button
              (click)="nuevoDetalleAccesibilidad()"
              class="btn btn-sm btn-default mb-2"
              type="button"
              title="Agregar"
            >
              <i class="pi pi-plus"></i>
            </button>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Acciones</th>
                <th>Subparcela</th>
                <th>Punto de Referencia (carretera, etc.)</th>
                <th>Vía</th>
                <th>Distancia (Km)</th>
                <th>Tiempo (horas)</th>
                <th>Tipo de Vehículo</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let d of detalle; index as i">
                <td>
                  <span
                    class="pointer"
                    title="Eliminar"
                    (click)="eliminarDetalleAccesibilidad($event, i, d)"
                  >
                    <i class="pi pi-trash"></i>
                  </span>
                </td>
                <td>
                  <input
                    [(ngModel)]="d.sub"
                    type="number"
                    class="form-control"
                  />
                </td>
                <td>
                  <input [(ngModel)]="d.ref" type="text" class="form-control" />
                </td>
                <td>
                  <input [(ngModel)]="d.vi" type="text" class="form-control" />
                </td>
                <td>
                  <input
                    [(ngModel)]="d.dist"
                    type="number"
                    class="form-control"
                  />
                </td>
                <td>
                  <input
                    [(ngModel)]="d.tiem"
                    type="number"
                    class="form-control"
                  />
                </td>
                <td>
                  <input
                    [(ngModel)]="d.vehiculo"
                    type="text"
                    class="form-control"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarAccesibilidad()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModalAccesibilidad()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
<p-toast></p-toast>
