<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="p-d-flex p-ai-center p-jc-between" *ngIf="isEmptyPMFIC9_0 || isEmptyPMFIC9_1 || isEmptyPMFIC9_2 || isEmptyPMFIC9_3">
      <label class="lbl-info mt-3 mb-3">
        (Esta información será autocompletada del plan: N3.1.7: PMFI para Permisos
        de Aprovechamiento Forestal. Dicho plan aún no cuenta con información)
      </label>
    </div>
    <div class="p-d-flex p-ai-center p-jc-between" *ngIf="isValuesPMFIC9_0 && isValuesPMFIC9_1 && isValuesPMFIC9_2 && isValuesPMFIC9_3">
      <label class="lbl-info mt-3 mb-3">
        (Esta información será autocompletada del plan: N3.1.7: PMFI para Permisos
        de Aprovechamiento Forestal.)
      </label>
      <button
        class="btn btn-secondary ml-2 mb-4"
        (click)="guardarInformacionPMFI()"
        [disabled]="disabled||isEmptyPMFIC9_0 || isEmptyPMFIC9_1 || isEmptyPMFIC9_2 || isEmptyPMFIC9_3"
      >
        Aceptar
      </button>
    </div>
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="9.0. Uso potencial y actividades a realizar según la categoría de zonificación de la UMF" [selected]="true">
          <div class="col-12 mt-4 mb-3">
            <div class="text-right">
              <button
                (click)="openModalNuevo(CodigoPOPAC.ACORDEON_9_0)"
                pButton
                pRipple [disabled]="disabled"
                type="button"
                label=""
                class="p-button-success p-button-text button-more"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
            <p-table [value]="lista_9_0" class="table-justify" [style]="{width:'100%'}">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 10%;" class="text-center">Acciones</th>
                  <th style="width: 35%;">Categoría de la zonificación de la UMF</th>
                  <th style="width: 15%;" class="text-right">Uso potencial</th>
                  <th style="width: 40%;">Actividades a realizar</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                <tr>
                  <td class="text-center">
                    <span
                      class="pointer mr-1"
                      title="Editar"
                      (click)="!disabled&&openModalEditar(item, rowIndex, CodigoPOPAC.ACORDEON_9_0)"
                    >
                      <i class="pi pi-pencil"></i>
                    </span>
                    <span
                      class="pointer ml-1"
                      title="Eliminar"
                      (click)="!disabled&&openEliminar($event, rowIndex, item, CodigoPOPAC.ACORDEON_9_0)"
                    >
                      <i class="pi pi-trash"></i>
                    </span>
                  </td>
                  <td>{{item.tratamientoSilvicultural}}</td>
                  <td class="text-right">
                    {{ item.nuTotalVcp | number: "1.2-2" }}
                  </td>
                  <td>{{ item.actividad }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td colspan="1">Total</td>
                  <td></td>
                  <td class="text-right">{{ totalVcp | number: "1.2-2" }}</td>
                  <td></td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="step__btn mt-4 mb-2">
            <button class="btn-primary2" (click)="registrarAcordeon9_0()" [disabled]="disabled||(isSubmittingUsoPotencial$|async)">
              Guardar
            </button>
          </div>
        </p-accordionTab>

        <p-accordionTab header="9.1. Manejo forestal con fines maderables ">
          <div class="col-12 p-0">
            <mat-tab-group animationDuration="0ms">
              <mat-tab label="9.1.1. Sistema de manejo forestal con fines maderables">
                <div class="col-8" style="padding: 15px 15px;">
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      rows="4" [disabled]="disabled"
                      [(ngModel)]="det_9_1_1.tratamientoSilvicultural"
                      maxlength="100"
                      style="resize: none;"
                    >
                    </textarea>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="9.1.2. Ciclo de corta">
                <div class="col-8" style="padding: 15px 15px;">
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      rows="4" [disabled]="disabled"
                      [(ngModel)]="det_9_1_2.tratamientoSilvicultural"
                      maxlength="100"
                      style="resize: none;"
                    ></textarea>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="9.1.3. Actividades de aprovechamiento y equipos a utilizar con fines maderables">
                <div class="col-12 mt-4 mb-3">
                  <div class="text-right">
                    <button
                      (click)="openModalNuevo(CodigoPOPAC.ACORDEON_9_1_3)"
                      pButton
                      pRipple [disabled]="disabled"
                      type="button"
                      title=""
                      class="p-button-success p-button-text button-more"
                    >
                      <i class="pi pi-plus"></i>
                    </button>
                  </div>
                  <p-table [value]="lista_9_1_3" class="table-justify" [style]="{width:'100%'}">
                    <ng-template pTemplate="header">
                      <tr>
                        <th style="width: 10%" class="text-center">Acciones</th>
                        <th style="width: 18%;">Actividades</th>
                        <th style="width: 18%;">Descripción del sistema a utilizar</th>
                        <th style="width: 18%;">Maquinaria, equipos e insumos a utilizar</th>
                        <th style="width: 18%;">Personal requerido</th>
                        <th style="width: 18%;">Observaciones</th>
                      </tr>
                    </ng-template>
                    <ng-template
                      pTemplate="body"
                      let-item
                      let-rowIndex="rowIndex"
                    >
                      <tr>
                        <td class="text-center">
                          <span
                            class="pointer mr-1"
                            title="Editar"
                            (click)="!disabled&&openModalEditar(item, rowIndex, CodigoPOPAC.ACORDEON_9_1_3)"
                          >
                            <i class="pi pi-pencil"></i>
                          </span>
                          <span
                            class="pointer ml-1"
                            title="Eliminar"
                            (click)="!disabled&&openEliminar($event, rowIndex, item, CodigoPOPAC.ACORDEON_9_1_3)"
                          >
                            <i class="pi pi-trash"></i>
                          </span>
                        </td>
                        <td>{{ item.tratamientoSilvicultural }}</td>
                        <td>{{ item.descripcionTratamiento }}</td>
                        <td>{{ item.descripcionCamino }}</td>
                        <td>{{ item.descripcionManoObra }}</td>
                        <td>{{ item.descripcionOtro }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
          <div class="step__btn mt-4 mb-2">
            <button class="btn-primary2" (click)="registrarAcordeon9_1()" [disabled]="disabled||(isSubmittingManejoForestalMaderable$|async)">
              Guardar
            </button>
          </div>
        </p-accordionTab>

        <p-accordionTab header="9.2. Manejo forestal con fines no maderables">
          <div class="col-12 p-0">
            <mat-tab-group animationDuration="0ms">
              <mat-tab label="9.2.1. Sistema de manejo forestal con fines no maderables">
                <div class="col-8" style="padding: 15px 15px;">
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      rows="4" [disabled]="disabled"
                      [(ngModel)]="det_9_2_1.tratamientoSilvicultural"
                      maxlength="100"
                      style="resize: none;"
                    ></textarea>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="9.2.2. Ciclo de aprovechamiento">
                <div class="col-8" style="padding: 15px 15px;">
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      rows="4" [disabled]="disabled"
                      [(ngModel)]="det_9_2_2.tratamientoSilvicultural"
                      maxlength="100"
                      style="resize: none;"
                    ></textarea>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="9.2.3. Actividades de aprovechamiento y equipos a utilizar con fines no maderables">
                <div class="col-12 mt-4 mb-3">
                  <div class="text-right">
                    <button
                      (click)="openModalNuevo(CodigoPOPAC.ACORDEON_9_2_3)"
                      pButton [disabled]="disabled"
                      pRipple
                      type="button"
                      title=""
                      class="p-button-success p-button-text button-more"
                    >
                      <i class="pi pi-plus"></i>
                    </button>
                  </div>
                  <p-table [value]="lista_9_2_3" class="table-justify" [style]="{width:'100%'}">
                    <ng-template pTemplate="header">
                      <tr>
                        <th style="width: 10%;" class="text-center">Acciones</th>
                        <th style="width: 18%;">Actividades</th>
                        <th style="width: 18%;">Descripción del sistema a utilizar</th>
                        <th style="width: 18%;">Maquinaria, equipos e insumos a utilizar</th>
                        <th style="width: 18%;">Personal requerido</th>
                        <th style="width: 18%;">Observaciones</th>
                      </tr>
                    </ng-template>
                    <ng-template
                      pTemplate="body"
                      let-item
                      let-rowIndex="rowIndex"
                    >
                      <tr>
                        <td style="width: 80px;" class="text-center">
                          <span
                            class="pointer mr-1"
                            title="Editar"
                            (click)="!disabled&&openModalEditar(item, rowIndex, CodigoPOPAC.ACORDEON_9_2_3)"
                          >
                            <i class="pi pi-pencil"></i>
                          </span>
                          <span
                            class="pointer"
                            title="Eliminar"
                            (click)="!disabled&&openEliminar($event, rowIndex, item, CodigoPOPAC.ACORDEON_9_2_3)"
                          >
                            <i class="pi pi-trash"></i>
                          </span>
                        </td>
                        <td>{{ item.tratamientoSilvicultural }}</td>
                        <td>{{ item.descripcionTratamiento }}</td>
                        <td>{{ item.descripcionCamino }}</td>
                        <td>{{ item.descripcionManoObra }}</td>
                        <td>{{ item.descripcionOtro }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
          <div class="step__btn mt-4 mb-2">
            <button class="btn-primary2" (click)="registrarAcordeon9_2()" [disabled]="disabled||(isSubmittingManejoForestalNoMaderable$|async)">
              Guardar
            </button>
          </div>
        </p-accordionTab>

        <p-accordionTab header="9.3. Labores silviculturales">
          <div class="col-12 p-0">
            <mat-tab-group animationDuration="0ms">
              <mat-tab label="9.3.1. Actividades Obligatorias">
                <div class="col-12 mt-4 mb-3">
                  <div class="text-right">
                    <button
                      (click)="openModalNuevo(CodigoPOPAC.ACORDEON_9_3_OBLIGATORIO)"
                      pButton
                      pRipple
                      type="button"
                      title=""
                      class="p-button-success p-button-text button-more"
                    >
                      <i class="pi pi-plus"></i>
                    </button>
                  </div>
                  <p-table [value]="lista_9_3_1" class="table-justify" [style]="{width:'100%'}">
                    <ng-template pTemplate="header">
                      <tr>
                        <th style="width: 10%;" class="text-center">Acciones</th>
                        <th style="width: 30%">Práctica silvicultural</th>
                        <th style="width: 60%;">Descripción</th>
                      </tr>
                    </ng-template>
                    <ng-template
                      pTemplate="body"
                      let-item
                      let-rowIndex="rowIndex"
                    >
                      <tr>
                        <td class="text-center">
                          <span
                            class="pointer mr-1"
                            title="Editar"
                            (click)="openModalEditar(item, rowIndex, CodigoPOPAC.ACORDEON_9_3_OBLIGATORIO)"
                          >
                            <i class="pi pi-pencil"></i>
                          </span>
                          <span
                            class="pointer ml-1"
                            title="Eliminar"
                            (click)="openEliminar($event, rowIndex, item, CodigoPOPAC.ACORDEON_9_3_OBLIGATORIO)"
                          >
                            <i class="pi pi-trash"></i>
                          </span>
                        </td>
                        <td>{{ item.tratamientoSilvicultural }}</td>
                        <td>{{ item.descripcionOtro }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </mat-tab>

              <mat-tab label="9.3.2. Actividades Opcionales">
                <div class="col-12 mt-4 mb-3">
                  <div class="text-right">
                    <button
                      (click)="openModalNuevo(CodigoPOPAC.ACORDEON_9_3_OPCIONALES)"
                      pButton
                      pRipple
                      type="button"
                      title=""
                      class="p-button-success p-button-text button-more"
                    >
                      <i class="pi pi-plus"></i>
                    </button>
                  </div>
                  <p-table [value]="lista_9_3_2" class="table-justify" [style]="{width:'100%'}">
                    <ng-template pTemplate="header">
                      <tr>
                        <th style="width: 10%;" class="text-center">Acciones</th>
                        <th style="width: 30%;">Práctica silvicultural</th>
                        <th style="width: 60%;">Descripción</th>
                      </tr>
                    </ng-template>
                    <ng-template
                      pTemplate="body"
                      let-item
                      let-rowIndex="rowIndex"
                    >
                      <tr>
                        <td class="text-center">
                          <span
                            class="pointer mr-1"
                            title="Editar"
                            (click)="openModalEditar(item, rowIndex, CodigoPOPAC.ACORDEON_9_3_OPCIONALES)"
                          >
                            <i class="pi pi-pencil"></i>
                          </span>
                          <span
                            class="pointer ml-1"
                            title="Eliminar"
                            (click)="openEliminar($event, rowIndex, item, CodigoPOPAC.ACORDEON_9_3_OPCIONALES)"
                          >
                            <i class="pi pi-trash"></i>
                          </span>
                        </td>
                        <td>{{ item.tratamientoSilvicultural }}</td>
                        <td>{{ item.descripcionOtro }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </mat-tab>
            </mat-tab-group>

            <div class="step__btn mt-4 mb-2">
              <button class="btn-primary2" (click)="registrarAcordeon9_3()" [disabled]="isSubmittingLaboresSilv$|async">
                Guardar
              </button>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4 mb-4">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
    </div>
  </div>
</div>

<p-confirmPopup></p-confirmPopup>
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-dialog
  header="{{tituloModal}}"
  [(visible)]="showModal_9_0"
  [style]="{width: '50vw'}"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6" *ngIf="det_modal_9_0.tratamientoSilvicultural != 'Otras (especificar)' ">
          <div class="form-group">
            <label class="label">Categoría de zonificación de la UMF</label>
            <input
              [(ngModel)]="det_modal_9_0.tratamientoSilvicultural"
              type="text"
              maxlength="100"
              class="form-control"
              placeholder=""
              [disabled]="edit"
            />
          </div>
        </div>

        <div class="col-12 col-sm-6" *ngIf="det_modal_9_0.tratamientoSilvicultural == 'Otras (especificar)' ">
          <div class="form-group">
            <label class="label">Categoría de zonificación de la UMF</label>
            <input
              [(ngModel)]="det_modal_9_0.tratamientoSilvicultural"
              type="text"
              maxlength="100"
              class="form-control"
              placeholder=""
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Uso Potencial</label>
            <input
              [(ngModel)]="det_modal_9_0.nuTotalVcp"
              decimal
              [min]="0"
              [maxLength]="12"
              [decimalPlaces]="2"
              class="form-control"
              placeholder=""
            />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Actividades a realizar</label>
            <input
              [(ngModel)]="det_modal_9_0.actividad"
              type="text"
              maxlength="100"
              class="form-control"
              placeholder=""
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregar()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="{{tituloModal}}"
  [(visible)]="showModal_913y923"
  [style]="{width: '50vw'}"
  [baseZIndex]="10000"
  [closable]="false"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6" *ngIf="det_modal_913y923.tratamientoSilvicultural != 'Otros (especificar)' ">
          <div class="form-group" >
            <label class="label">Actividades</label>
            <input
              [(ngModel)]="det_modal_913y923.tratamientoSilvicultural"
              type="text"
              maxlength="100"
              class="form-control"
              placeholder=""
              [disabled]="edit"
            />
          </div>
        </div>

        <div class="col-12 col-sm-6" *ngIf="det_modal_913y923.tratamientoSilvicultural == 'Otros (especificar)' ">
          <div class="form-group">
            <label class="label">Actividades</label>
            <input
              [(ngModel)]="det_modal_913y923.tratamientoSilvicultural"
              type="text"
              maxlength="100"
              class="form-control"
              placeholder=""
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Descripción del sistema a utilizar </label>
            <input
              [(ngModel)]="det_modal_913y923.descripcionTratamiento"
              type="text"
              maxlength="100"
              class="form-control"
              placeholder=""
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label"
              >Maquinaria, equipos e insumos a utilizar</label
            >
            <input
              [(ngModel)]="det_modal_913y923.descripcionCamino"
              type="text"
              maxlength="100"
              class="form-control"
              placeholder=""
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Personal Requerido</label>
            <input
              [(ngModel)]="det_modal_913y923.descripcionManoObra"
              type="text"
              maxlength="100"
              class="form-control"
              placeholder=""
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Observaciones</label>
            <input
              [(ngModel)]="det_modal_913y923.descripcionOtro"
              type="text"
              maxlength="100"
              class="form-control"
              placeholder=""
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregar()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="{{tituloModal}}"
  [(visible)]="showModal_931y932"
  [style]="{width: '50vw'}"
  [baseZIndex]="10000"
  [closable]="false"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6" *ngIf="det_modal_931y932.tratamientoSilvicultural != 'Otros (especificar)'">
          <div class="form-group">
            <label class="label">Práctica Silvicultural</label>
            <input
              [(ngModel)]="det_modal_931y932.tratamientoSilvicultural"
              type="text"
              maxlength="100"
              class="form-control"
              placeholder=""
              [disabled]="edit"              
            />
          </div>
        </div>

        <div class="col-12 col-sm-6" *ngIf="det_modal_931y932.tratamientoSilvicultural == 'Otros (especificar)'">
          <div class="form-group">
            <label class="label">Práctica Silvicultural</label>
            <input
              [(ngModel)]="det_modal_931y932.tratamientoSilvicultural"
              type="text"
              maxlength="100"
              class="form-control"
              placeholder=""             
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Descripción </label>
            <input
              [(ngModel)]="det_modal_931y932.descripcionOtro"
              type="text"
              maxlength="100"
              class="form-control"
              placeholder=""
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregar()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
