.chip-3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #def0f3;
    color: #a4caca;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    font-size: 10px;
    font-weight: bold;
}

.chip-1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #C9DFBB;
    color: #8CA38D;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    font-size: 10px;
    font-weight: bold;
}

.chip-2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #eef4be;
    color: #c4ce70;
    border-radius: 20px;
    height: 30px;
    width: 100px;
    font-size: 10px;
    font-weight: bold;
}

.chip-6{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #f4ccc9;
    color: #dc9f96;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    font-size: 10px;
    font-weight: bold;
}

.chip-4{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #fee5ba;
    color: #ecc57e;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    font-size: 10px;
    font-weight: bold;
}


.chip-5{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #def0f3;
    color: #a4caca;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    font-size: 10px;
    font-weight: bold;
}

.borrador {
    color      : #ec7921;
    font-weight: bold;
  }