<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 pt-3">
      <h3 class="title">Épica 2.4 BANDEJA DE PLANTACIONES FORESTALES</h3>
    </div>

    <div class="col-12 pt-4">
      <p-dropdown
        [options]="cmbSolicitante"
        [(ngModel)]="idSolicitante"
        optionLabel="text"
        optionValue="value"
      >
      </p-dropdown>
      <br />
      <br />
    </div>

    <div class="col-12">
      <p-fieldset [collapsed]="true" legend="Filtros" [toggleable]="true">
        <!-- <div class="row m-0">
                  <div class="col-12 col-sm-3">
                    <div class="form-group">
                        <label class="label">Estado Solicitud</label>
                        <div class="form-control-selectk">
                            <p-dropdown  [options]="[]" optionLabel="valor1" optionValue="codigo" placeholder="Seleccione"></p-dropdown>
                        </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-3">
                    <div class="form-group">
                        <label class="label">Tipo de persona</label>
                            <div class="form-control-selectk">
                            <p-dropdown  [options]="[]"  optionLabel="valor1" optionValue="codigo" placeholder="Seleccione"></p-dropdown>
                        </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-3">
                    <div class="form-group">
                        <label class="label">Tipo de Actor</label>
                        <div class="form-control-selectk">
                            <p-dropdown  [options]="[]"  optionLabel="valor1" optionValue="codigo" placeholder="Seleccione"></p-dropdown>
                        </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-3">
                        <div class="form-group">
                            <label class="label">Tipo de CNCC</label>
                                <div class="form-control-selectk">
                                <p-dropdown  [options]="[]"  optionLabel="valor1" optionValue="codigo" placeholder="Seleccione"></p-dropdown>
                            </div>
                        </div>
                  </div>
                </div> -->

        <div class="row m-0">
          <!-- 
                    <div class="col-12 col-sm-3">
                        <div class="form-group">
                        <label class="label">Número Documento</label>
                        <input type="text" autocomplete="off"  class="form-control"  [(ngModel)]="objbuscar.numdoc"/>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3">
                        <div class="form-group">
                            <label class="label">Nombres</label>
                            <input type="text" autocomplete="off"  class="form-control" [(ngModel)]="objbuscar.nombre" />
                        </div>
                    </div> -->

          <div class="col-12 col-sm-3">
            <div class="form-group">
              <label class="label">Estado Solicitud</label>
              <div class="form-control-selectk">
                <p-dropdown
                  [options]="comboEstados"
                  optionLabel="valor"
                  optionValue="valor"
                  placeholder="Seleccione"
                ></p-dropdown>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label class="label">Codigo Unico</label>
              <input
                type="text"
                autocomplete="off"
                class="form-control"
                [(ngModel)]="objbuscar.search"
              />
            </div>
          </div>
        </div>
        <div class="row m-0 mb-2 justify-content-center">
          <div class="col-12 col-sm-11 text-center">
            <button
              pButton
              pRipple
              type="button"
              label="Limpiar"
              lass="p-button-secondary p-button-outlined mr-1"
              (click)="Limpiar()"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              label="Buscar"
              class="p-button-success p-button-outlined ml-1"
              (click)="BandejaSolicitudPermisosForestales(objbuscar)"
            ></button>
          </div>
        </div>
      </p-fieldset>
    </div>
    <div class="col-12 mb-2 mt-3 text-right">
      <!--   <button pButton pRipple type="button" label="Predio Privado" class="p-button-info p-button-outlined mr-1"
                [routerLink]="['/planificacion/registro-plantacion-forestal']"></button> -->
      <!-- <button pButton pRipple type="button" label="Titular Habilitante (TH)"
                class="p-button-info p-button-outlined mr-1"
                [routerLink]="['/planificacion/registro-plantacion-forestal']"></button> -->
      <button
        pButton
        pRipple
        type="button"
        label="Nuevo"
        class="p-button-info p-button-outlined mr-1"
        [routerLink]="['/planificacion/registro-plantacion-forestal']"
      ></button>
    </div>
    <div class="col-12 mt-4 mb-3">
      <p-confirmPopup></p-confirmPopup>
      <div>
        <p-table [value]="ListaBandeja">
          <ng-template pTemplate="header">
            <tr>
              <th>Código Único</th>
              <th>Fecha Solicitud</th>
              <th>Tipo Persona</th>
              <th>Nombre Persona | Repr. Legal</th>
              <th>Razón Social</th>
              <!-- <th>Tipo Actor</th> -->
              <th>Observación</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{ data.id_solplantforest }}</td>
              <td>{{ data.fechaRegistro | date: "dd/MM/yyyy h:mm:ss a" }}</td>
              <td>{{ data.persona.tipoPersona }}</td>

              <td>
                {{
                  data.persona.nombres +
                    " " +
                    data.persona.apellidoPaterno +
                    " | " +
                    (data.persona.razon_social_empresa == null
                      ? ""
                      : data.persona.razon_social_empresa)
                }}
              </td>
              <td>{{ data.persona.razon_social_empresa }}</td>
              <!-- <td></td> -->
              <td>{{ data.observacion }}</td>
              <td>
                <div [class]="'chip-' + data.id_des_estado">
                  {{ data.des_estado }}
                </div>
              </td>

              <td class="text-center">
                <i
                  class="pi pi-eye pointer"
                  (click)="revisar(data)"
                  title="Revision"
                ></i>

                <i
                  class="pi pi-pencil pointer"
                  style="margin: 0 8px"
                  (click)="editar(data)"
                  title="Editar"
                ></i>
                <span
                  class="pointer"
                  title="Eliminar"
                  (click)="openEliminarRegistro($event, data)"
                >
                  <i class="pi pi-trash"></i>
                </span>

                <span
                  class="pointer"
                  style="margin-left: 8px"
                  *ngIf="idSolicitante == 4 || idSolicitante == 5"
                  (click)="openModalCheck()"
                >
                  <i class="pi pi-check-square"></i>
                </span>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-paginator
          [rows]="10"
          [totalRecords]="totalRecords"
          (onPageChange)="loadData($event)"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Total : {totalRecords} registros"
          [rowsPerPageOptions]="[10, 25, 50, 100]"
        ></p-paginator>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>

<p-dialog
  header="{{ titulocheck }}"
  [(visible)]="verModalCheck"
  [modal]="true"
  [style]="{ width: '75vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row">
      <div class="col-12">
        <p-table [value]="tabList">
          <ng-template pTemplate="header">
            <tr>
              <th>ITEM</th>
              <th>Aprobado</th>
              <th>Observado</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{ data.valor }}</td>
              <td><p-checkbox name="alerta" [binary]="true"></p-checkbox></td>
              <td><p-checkbox name="alerta" [binary]="true"></p-checkbox></td>
            </tr>
          </ng-template>
        </p-table>
        <span *ngIf="idSolicitante == 5" style="font-weight: bold"
          >Pendiente Sprint 3</span
        >
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="guardar()"
      pButton
      pRipple
      type="button"
      label="Guardar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verModalCheck = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
