<div class="container-fluit py-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="a. Acreditación de Gobierno Local y su Representante" [selected]="true">
          <div class="row m-0">
            <div class="col-12 col-sm-6 form-group">
              <app-carga-archivo-general accept=".pdf" [idArchivo]="adjunto3_1_1.idArchivo"
                [tipoDoc]="adjunto3_1_1.tipoArchivo" label="Copia de Credenciales de Alcalde: *"
                (registrarArchivo)="registrarArchivo($event, adjunto3_1_1)"
                (eliminarArchivo)="eliminarArchivo($event, adjunto3_1_1)"
                [disabled]="disabledEstudioTec || evaluacionGabinete">
              </app-carga-archivo-general>
            </div>
            <div class="col-12 col-sm-6 form-group">
              <app-carga-archivo-general accept=".pdf" [idArchivo]="adjunto3_1_2.idArchivo"
                [tipoDoc]="adjunto3_1_2.tipoArchivo"
                label="Copia del Reglamento de Organización y Finanzas del Municipio ROF: *"
                (registrarArchivo)="registrarArchivo($event, adjunto3_1_2)"
                (eliminarArchivo)="eliminarArchivo($event, adjunto3_1_2)"
                [disabled]="disabledEstudioTec || evaluacionGabinete">
              </app-carga-archivo-general>
            </div>

            <div class="col-12 form-group" *ngIf="!disabledEstudioTec && !evaluacionGabinete">
              <button class="btn btn-secondary" (click)="btnBuscarRegente()">Buscar Regente</button>
            </div>

            <div class="col-12 col-sm-4 form-group">
              <label class="label">DNI Regente:</label>
              <input class="form-control" type="text" autocomplete="off" placeholder=""
                [(ngModel)]="requestAcredGL.documentoRegente" maxlength="11" disabled />
            </div>
            <div class="col-12 col-sm-4 form-group">
              <label class="label">Nombre del Regente:</label>
              <input class="form-control" type="text" autocomplete="off" placeholder=""
                [(ngModel)]="requestAcredGL.nombreRegente" maxlength="150" disabled />
            </div>
            <div class="col-12 col-sm-4 form-group">
              <label class="label">N° Licencia del Regente:</label>
              <input class="form-control" type="text" autocomplete="off" placeholder=""
                [(ngModel)]="requestAcredGL.licenciaRegente" maxlength="150" disabled />
            </div>
          </div>

          <div class="row m-0 mt-3" *ngIf="!disabledEstudioTec && !evaluacionGabinete">
            <div class="col-12">
              <button type="button" class="btn-primary2" (click)="btnGuardarAcredGL()">
                Guardar
              </button>
            </div>
          </div>

          <div class="row m-0 mt-3" *ngIf="showEvalComiteTec">
            <div class="col-12">
              <app-evaluar-comite-tecnico-bl [idPlan]="idPlan" [disabled]="disabledEvalComiteTec"
                [codSeccion]="codSeccion" [codSubSeccion]="codigoSOLBL.TAB_3_1">
              </app-evaluar-comite-tecnico-bl>
            </div>
          </div>

        </p-accordionTab>

        <p-accordionTab header="b. Acreditación del Área como Tierra de Dominio Público">
          <div class="row m-0">
            <div class="col-12 col-sm-6 form-group">
              <app-carga-archivo-general accept=".pdf" [idArchivo]="adjunto3_2_1.idArchivo"
                [tipoDoc]="adjunto3_2_1.tipoArchivo"
                label="Copia del Reporte Emitido por ARFFS o SERFOR sobre condición de tierras: *"
                (registrarArchivo)="registrarArchivo($event, adjunto3_2_1)"
                (eliminarArchivo)="eliminarArchivo($event, adjunto3_2_1)"
                [disabled]="disabledEstudioTec || evaluacionGabinete">
              </app-carga-archivo-general>
            </div>
          </div>
          <div class="row m-0 mt-3" *ngIf="!disabledEstudioTec && !evaluacionGabinete">
            <div class="col-12">
              <button type="button" class="btn-primary2" (click)="btnGuardarAcredArea()"
                [disabled]="adjunto3_2_1.idSolBosqueLocalArchivo > 0">
                Guardar
              </button>
            </div>
          </div>

          <div class="row m-0 mt-3" *ngIf="showEvalComiteTec">
            <div class="col-12">
              <app-evaluar-comite-tecnico-bl [idPlan]="idPlan" [disabled]="disabledEvalComiteTec"
                [codSeccion]="codSeccion" [codSubSeccion]="codigoSOLBL.TAB_3_2">
              </app-evaluar-comite-tecnico-bl>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="c. Acreditación de la Categoría de Zonificación u Ordenamiento Forestal">
          <app-map-custom-sol-bosque-local #map [idPlanManejo]="idPlan" [showBotonCargarGeneral]="false"
            [codigoProceso]="codProceso" [codigoSubSeccion]="codTab3_3" [tipoArchivoArea]="codDocMapa1"
            [showOnlyAreaCustom]="true" [showOnlyVerticeCustom]="false"
            [isDisbledFormu]="disabledEstudioTec || evaluacionGabinete"
            [showBotonGuardar]="!disabledEstudioTec && evaluacionGabinete" [isAnexo]="true"
            (contieneSuperposicion)="contieneSuperposicion($event)">
          </app-map-custom-sol-bosque-local>

          <div class="row m-0 mt-3">
            <div class="col-12 col-sm-6 form-group" *ngIf="isContieneSuperposicion">
              <app-carga-archivo-general accept=".pdf" [idArchivo]="adjunto3_3_1.idArchivo"
                [tipoDoc]="adjunto3_3_1.tipoArchivo" label="Cargar Zonificación PDF:"
                (registrarArchivo)="registrarArchivo($event, adjunto3_3_1)"
                (eliminarArchivo)="eliminarArchivo($event, adjunto3_3_1)"
                [disabled]="disabledEstudioTec || evaluacionGabinete">
              </app-carga-archivo-general>
            </div>
            <div class="col-12 col-sm-6 form-group" *ngIf="!isContieneSuperposicion">
              <app-carga-archivo-general accept=".pdf" [idArchivo]="adjunto3_3_2.idArchivo"
                [tipoDoc]="adjunto3_3_2.tipoArchivo" label="Cargar mapa de categoría de Zonificación u Ordenamiento Forestal(pdf) :"
                (registrarArchivo)="registrarArchivo($event, adjunto3_3_2)"
                (eliminarArchivo)="eliminarArchivo($event, adjunto3_3_2)"
                [disabled]="disabledEstudioTec || evaluacionGabinete">
              </app-carga-archivo-general>
            </div>
          </div>
          <div class="row m-0 mt-3" *ngIf="!disabledEstudioTec && !evaluacionGabinete">
            <div class="col-12">
              <button type="button" class="btn-primary2" (click)="btnGuardarAcredCateg()"
                [disabled]="disabledEstudioTec">
                Guardar
              </button>
            </div>
          </div>

          <div class="row m-0 mt-3" *ngIf="showEvalComiteTec">
            <div class="col-12">
              <app-evaluar-comite-tecnico-bl [idPlan]="idPlan" [disabled]="disabledEvalComiteTec"
                [codSeccion]="codSeccion" [codSubSeccion]="codigoSOLBL.TAB_3_3">
              </app-evaluar-comite-tecnico-bl>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab
          header="d. Justificación del Área Propuesta, Atendiendo a los Objetivos de Manejo y la Demanda de los Beneficiarios">
          <div class="row m-0">
            <div class="col-12 col-sm-6 form-group">
              <app-carga-archivo-general accept=".pdf" [idArchivo]="adjunto3_4_1.idArchivo"
                [tipoDoc]="adjunto3_4_1.tipoArchivo" label="Cargar Justificación:"
                (registrarArchivo)="registrarArchivo($event, adjunto3_4_1)"
                (eliminarArchivo)="eliminarArchivo($event, adjunto3_4_1)"
                [disabled]="disabledEstudioTec || evaluacionGabinete">
              </app-carga-archivo-general>
            </div>
          </div>
          <div class="row m-0 mt-3" *ngIf="!disabledEstudioTec && !evaluacionGabinete">
            <div class="col-12">
              <button type="button" class="btn-primary2" (click)="btnGuardarJustArea()"
                [disabled]="adjunto3_4_1.idSolBosqueLocalArchivo > 0">
                Guardar
              </button>
            </div>
          </div>

          <div class="row m-0 mt-3" *ngIf="showEvalComiteTec">
            <div class="col-12">
              <app-evaluar-comite-tecnico-bl [idPlan]="idPlan" [disabled]="disabledEvalComiteTec"
                [codSeccion]="codSeccion" [codSubSeccion]="codigoSOLBL.TAB_3_4">
              </app-evaluar-comite-tecnico-bl>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="e. Lista inicial de Beneficiarios">
          <div class="row m-0">
            <div class="col-12 col-sm-6 form-group">
              <app-carga-archivo-general accept=".pdf" [idArchivo]="adjunto3_5_1.idArchivo"
                [tipoDoc]="adjunto3_5_1.tipoArchivo" label="Cargar Lista de Beneficiarios: *"
                (registrarArchivo)="registrarArchivo($event, adjunto3_5_1)"
                (eliminarArchivo)="eliminarArchivo($event, adjunto3_5_1)"
                [disabled]="disabledEstudioTec || evaluacionGabinete">
              </app-carga-archivo-general>
            </div>
          </div>
          <div class="row m-0 mt-3">
            <div class="col-12" *ngIf="!disabledEstudioTec && !evaluacionGabinete">
              <button type="button" class="btn-primary2" (click)="btnGuardarListaInicial()"
                [disabled]="adjunto3_5_1.idSolBosqueLocalArchivo > 0">
                Guardar
              </button>
            </div>
          </div>

          <div class="row m-0 mt-3" *ngIf="showEvalComiteTec">
            <div class="col-12">
              <app-evaluar-comite-tecnico-bl [idPlan]="idPlan" [disabled]="disabledEvalComiteTec"
                [codSeccion]="codSeccion" [codSubSeccion]="codigoSOLBL.TAB_3_5">
              </app-evaluar-comite-tecnico-bl>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="f. Mapa de Ubicación y Límites de Área Propuesta">
          <div class="row m-0">
            <div class="col-12 col-sm-5 form-group">
              <app-carga-archivo-general accept=".pdf" [idArchivo]="adjunto3_6_1.idArchivo"
                [tipoDoc]="adjunto3_6_1.tipoArchivo" label="Cargar Mapa de Ubicación: * (solo .pdf)"
                (registrarArchivo)="registrarArchivo($event, adjunto3_6_1)"
                (eliminarArchivo)="eliminarArchivo($event, adjunto3_6_1)"
                [disabled]="disabledEstudioTec || evaluacionGabinete">
              </app-carga-archivo-general>
              <app-carga-archivo-general accept=".zip,.rar" [idArchivo]="adjunto3_6_2.idArchivo"
                [tipoDoc]="adjunto3_6_2.tipoArchivo" label="Cargar Comprimido con Varios ShapeFile: * (solo .zip y .rar)"
                (registrarArchivo)="registrarArchivo($event, adjunto3_6_2)"
                (eliminarArchivo)="eliminarArchivo($event, adjunto3_6_2)"
                [disabled]="disabledEstudioTec || evaluacionGabinete">
              </app-carga-archivo-general>
              <app-carga-archivo-general-custom accept=".zip,.rar" [idArchivo]="adjunto3_6_3.idArchivo" [idPlanManejo]="idPlan"
                [codigoProceso]="codProceso" [codigoSubSeccion]="codTab3_6" [guardarGeometria]="true"
                [tipoGeometria]="tipoGeometria" [tipoArchivoGeneral]="tipoArchivoGeneral"
                [tipoDoc]="adjunto3_6_3.tipoArchivo" label="Cargar ShapeFile (Vértice): * (solo .zip y .rar)"
                (registrarArchivo)="registrarArchivo($event, adjunto3_6_3)"
                (eliminarArchivo)="eliminarArchivo($event, adjunto3_6_3)"
                [disabled]="disabledEstudioTec || evaluacionGabinete"
                (listVertices)="listVertices($event)">

              </app-carga-archivo-general-custom>
            </div>

            <div class="col-12 col-sm-7 form-group">
              <p-table [value]="listaCoordenadas"
              [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[5,10,25,50]">
                <ng-template pTemplate="header">
                  <tr>
                    <th>N°</th>
                    <th>Este</th>
                    <th>Norte</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex+1">
                  <tr>
                    <td>{{rowIndex}}</td>
                    <td>{{data.este}}</td>
                    <td>{{data.norte}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <div class="row m-0 mt-3" *ngIf="!disabledEstudioTec && !evaluacionGabinete">
            <div class="col-12">
              <button type="button" class="btn-primary2" (click)="btnGuardarUbicacion()"
                [disabled]="adjunto3_6_1.idSolBosqueLocalArchivo > 0 && adjunto3_6_2.idSolBosqueLocalArchivo > 0 && adjunto3_6_3.idSolBosqueLocalArchivo > 0">
                Guardar
              </button>
            </div>
          </div>

          <div class="row m-0 mt-3" *ngIf="showEvalComiteTec">
            <div class="col-12">
              <app-evaluar-comite-tecnico-bl [idPlan]="idPlan" [disabled]="disabledEvalComiteTec"
                [codSeccion]="codSeccion" [codSubSeccion]="codigoSOLBL.TAB_3_6">
              </app-evaluar-comite-tecnico-bl>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="g. Modalidad o Sistema de Administración a Emplearse">
          <div class="row m-0">
            <div class="col-12 form-group">
              <label class="label">Describir el procediminto proyectado para el otorgamiento de autorizaciones a favor
                de beneficiarios <small>(máx. 250 caract.)</small>:</label>
              <textarea autocomplete="off" class="form-control" rows="4" maxlength="250"
                [(ngModel)]="requestModalidad.text1" [disabled]="disabledEstudioTec || evaluacionGabinete">
              </textarea>
            </div>

            <div class="col-12 form-group">
              <label class="label">Describir el procediminto para emisión de guías de transporte <small>(máx. 250
                  caract.)</small>:</label>
              <textarea autocomplete="off" class="form-control" rows="4" maxlength="250"
                [(ngModel)]="requestModalidad.text2" [disabled]="disabledEstudioTec || evaluacionGabinete">
              </textarea>
            </div>

            <div class="col-12 form-group">
              <label class="label">Describir el procediminto para el cobro por pago del derecho de aprovechamiento
                <small>(máx. 250 caract.)</small>:</label>
              <textarea autocomplete="off" class="form-control" rows="4" maxlength="250"
                [(ngModel)]="requestModalidad.text3" [disabled]="disabledEstudioTec || evaluacionGabinete">
              </textarea>
            </div>

            <div class="col-12 form-group">
              <label class="label">Describir las actividades de protección del área y del patrimonio forestal y de fauna
                silvestre <small>(máx. 250 caract.)</small>:</label>
              <textarea autocomplete="off" class="form-control" rows="4" maxlength="250"
                [(ngModel)]="requestModalidad.text4" [disabled]="disabledEstudioTec || evaluacionGabinete">
              </textarea>
            </div>

            <div class="col-12 col-sm-6 form-group">
              <app-carga-archivo-general accept=".pdf" [idArchivo]="adjunto3_7_1.idArchivo"
                [tipoDoc]="adjunto3_7_1.tipoArchivo" label="Adjuntar Archivo Complementario: *"
                (registrarArchivo)="registrarArchivo($event, adjunto3_7_1)"
                (eliminarArchivo)="eliminarArchivo($event, adjunto3_7_1.tipoArchivo)"
                [disabled]="disabledEstudioTec || evaluacionGabinete">
              </app-carga-archivo-general>
            </div>

          </div>

          <div class="row m-0 mt-3" *ngIf="!disabledEstudioTec && !evaluacionGabinete">
            <div class="col-12">
              <button type="button" class="btn-primary2" (click)="btnGuardarModalidad()"
                [disabled]="adjunto3_7_1.idSolBosqueLocalArchivo > 0">
                Guardar
              </button>
            </div>
          </div>

          <div class="row m-0 mt-3" *ngIf="showEvalComiteTec">
            <div class="col-12">
              <app-evaluar-comite-tecnico-bl [idPlan]="idPlan" [disabled]="disabledEvalComiteTec"
                [codSeccion]="codSeccion" [codSubSeccion]="codigoSOLBL.TAB_3_7">
              </app-evaluar-comite-tecnico-bl>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="h. Informe de Saneamiento Físico Legal">
          <app-informe-saneamiento-legal [disabledEstudioTec]="disabledEstudioTec" [idPlan]="idPlan"
            [showEvalComiteTec]="showEvalComiteTec" [disabledEvalComiteTec]="disabledEvalComiteTec">

          </app-informe-saneamiento-legal>
        </p-accordionTab>

        <p-accordionTab header="Descarga y Envío de Información">

          <div class="row m-0">
            <div class="col-12 mb-3">
              <app-expediente-evaluacion-bl [idPlan]="idPlan" [codigoSeccion]="codSeccion">
              </app-expediente-evaluacion-bl>
            </div>

            <div class="col-12 form-group" *ngIf="!showEvalObserv">
              <p-checkbox label="Enviar Estudio Técnico a ARFFS" [(ngModel)]="requestDesEnvioInfo.enviar"
                [binary]="true" [disabled]="disabledEstudioTec || evaluacionGabinete"></p-checkbox>
            </div>

            <div class="col-12 form-group" *ngIf="!showEvalObserv">
              <label class="label">Notificación <small>(máx. 250 caract.)</small>:</label>
              <textarea autocomplete="off" class="form-control" rows="4" maxlength="250"
                [(ngModel)]="requestModalidad.notificacion" [disabled]="disabledEstudioTec || evaluacionGabinete">
              </textarea>
            </div>
          </div>

          <div class="row m-0 mt-3" *ngIf="!disabledEstudioTec && !evaluacionGabinete">
            <div class="col-12">
              <button type="button" class="btn-primary2 ml-0" (click)="btnDescargaEnvioInfo()">
                Guardar
              </button>
            </div>
          </div>

          <div class="row m-0 mt-3" *ngIf="showEvalComiteTec">
            <div class="col-12">
              <app-evaluar-comite-tecnico-bl [idPlan]="idPlan" [disabled]="disabledEvalComiteTec"
                [codSeccion]="codSeccion" [codSubSeccion]="codigoSOLBL.TAB_3_9">
              </app-evaluar-comite-tecnico-bl>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>

    <div class="col-12 mt-4" *ngIf="!disabledEstudioTec">
      <button type="button" class="btn-primary2 ml-0" (click)="btnEnviarNotif()">
        Enviar Notificación a ARFFS
      </button>
    </div>

  </div>
</div>
<p-dialog header="Buscar Regente" appendTo="body" [(visible)]="verModalRegente" [modal]="true"
  [style]="{ width: '60vw' }" [maximizable]="false" [baseZIndex]="10000" [draggable]="false" [resizable]="true">
  <ng-template pTemplate="content">
    <div class="row m-0">
      <div class="col-12 col-sm-9">
        <div class="form-group">
          <label class="label">Buscar por DNI</label>
          <div class="form-control-selectk">
            <input type="text" class="form-control" placeholder="Ingresa N° DNI" [(ngModel)]="queryRegente" />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="form-group">
          <label class="label">&nbsp;&nbsp;</label>
          <div class="text-center">
            <button type="button" class="btn-primary2" (click)="filtrarRegente()">
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12">
        <p-table [value]="regentes">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 50px;"></th>
              <th>Regente</th>
              <th>DNI</th>
              <th>Estado</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>
                <p-radioButton name="regente" [(ngModel)]="selectRegente" [value]="data">
                </p-radioButton>
              </td>
              <td>{{ data.nombres }} {{ data.apellidos }}</td>
              <td>{{ data.numeroDocumento }}</td>
              <th>{{ data.estado == "V" ? "Vigente" : "No Vigente" }}</th>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button icon="pi pi-save" (click)="guardarRegente()" pButton pRipple type="button" label="Aceptar"
      class="p-button-success p-button-outlined"></button>
    <button icon="pi pi-times" (click)="verModalRegente = false" pButton pRipple type="button" label="Cancelar"
      class="p-button-danger p-button-outlined"></button>
  </ng-template>
</p-dialog>
