<div>
  <p-accordion>
    <app-solicitar-opicion-evaluacion
      [titulo]="'17.1. Solicitar opinión a SERNANP'"
      [idPlanManejo]="idPlanManejo"
      [opinion]="'SERNANP'"
      [codigoEpica]="codigoEpica"
      [lisTiposArchivo]="lisTiposArchivo"
      [listaSERNANP]="objSERNANP"
      (changeObj)="changeObj($event)"
    ></app-solicitar-opicion-evaluacion>
    <app-solicitar-opicion-evaluacion
      [titulo]="'17.2. Solicitar opinión a ANA'"
      [idPlanManejo]="idPlanManejo"
      [opinion]="'ANA'"
      [codigoEpica]="codigoEpica"
      [lisTiposArchivo]="lisTiposArchivo"
      [listaANA]="objANA"
      (changeObj)="changeObj($event)"
    ></app-solicitar-opicion-evaluacion>
    <app-solicitar-opicion-evaluacion
      [titulo]="'17.3. Solicitar opinión a MINCUL'"
      [idPlanManejo]="idPlanManejo"
      [opinion]="'MINCUL'"
      [codigoEpica]="codigoEpica"
      [lisTiposArchivo]="lisTiposArchivo"
      [listaMINCUL]="objMINCUL"
      (changeObj)="changeObj($event)"
    ></app-solicitar-opicion-evaluacion>
    <app-solicitar-opicion-evaluacion
      [titulo]="'17.4. Solicitar opinión a Otra entidad'"
      [idPlanManejo]="idPlanManejo"
      [opinion]="'OTRA'"
      [listEntidades]="listEntidades"
      [codigoEpica]="codigoEpica"
      [lisTiposArchivo]="lisTiposArchivo"
      [listaOTRA]="objOTRA"
      (changeObj)="changeObj($event)"
    ></app-solicitar-opicion-evaluacion>
  </p-accordion>
</div>
