<div class="container-fluit pt-4">
    <div class="row m-0">
        <div class="col-12">
            <p-accordion>
                <p-accordionTab header="1.1. Del Titular de la Plantación" [selected]="true">
                    <div class="row m-0">
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label class="label">Tipo Persona:</label>
                                <div class="form-control-selectk">
                                    <p-dropdown [disabled]="true" [(ngModel)]="requestInfoTitular.tipoPersona"
                                    [options]="lstTipoDocumento" optionLabel="valor1" optionValue="codigo" placeholder="Seleccione">
                                  </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-8">
                            <div class="form-group">
                                <label class="label">Nombre y/o Razón Social:</label>
                                <input type="text" [disabled]="true" [(ngModel)]="requestInfoTitular.nombres"
                                    autocomplete="off" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label class="label">DNI:</label>
                                <input type="text" [disabled]="true"
                                    [(ngModel)]="requestInfoTitular.numeroDocumento" autocomplete="off" maxlength="8"
                                    class="form-control" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label class="label">RUC:</label>
                                <input maxlength="50" type="text" [disabled]="true"
                                    [(ngModel)]="requestInfoTitular.ruc" maxlength="11" autocomplete="off"
                                    class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label class="label">Departamento:</label>
                                <div class="form-control-selectk">
                                    <p-dropdown [disabled]="isDisbledFormu" [options]="ListaDepartamento"
                                        optionLabel="nombreDepartamento" optionValue="idDepartamento"
                                        placeholder="Seleccione" (onChange)="listarPorFilroProvincia($event, true, 1)"
                                        [(ngModel)]="requestInfoTitular.idDepartamento"></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <label class="label">Provincia:</label>
                            <div class="form-control-selectk">
                                <p-dropdown [disabled]="isDisbledFormu" [options]="ListaProvincia"
                                    optionLabel="nombreProvincia" placeholder="Seleccione" optionValue="idProvincia"
                                    (onChange)="listarPorFilroDistrito($event, 1, true)"
                                    [(ngModel)]="requestInfoTitular.idProvincia"></p-dropdown>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <label class="label">Distrito:</label>
                            <div class="form-control-selectk">
                                <p-dropdown [disabled]="isDisbledFormu" [options]="ListaDistrito"
                                    optionLabel="nombreDistrito" placeholder="Seleccione" optionValue="idDistrito"
                                    [(ngModel)]="requestInfoTitular.idDistrito"></p-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label class="label">Dirección:</label>
                                <input type="text" [disabled]="isDisbledFormu" sinSpacioInit [(ngModel)]="requestInfoTitular.direccion"
                                    placeholder="(indicar nombre de la calle/Av/Jr./Psje o Comunidad)" maxlength="100"
                                    autocomplete="off" class="form-control" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-2">
                            <div class="form-group">
                                <label class="label">Nro.:</label>
                                <input type="text" [disabled]="isDisbledFormu" sinSpacioInit maxlength="20"
                                    [(ngModel)]="requestInfoTitular.direccionNumero" autocomplete="off"
                                    class="form-control" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label class="label">Sector: (Indicar sector, anexo, quebrada, etc.)</label>
                                <input type="text" [disabled]="isDisbledFormu" sinSpacioInit [(ngModel)]="requestInfoTitular.sector"
                                    placeholder="" autocomplete="off" maxlength="50"
                                    class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label class="label">Teléfono Fijo:</label>
                                <input [disabled]="isDisbledFormu" type="text" telefono [maxLength]="20" [(ngModel)]="requestInfoTitular.telefono"
                                    autocomplete="off" class="form-control" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label class="label">Teléfono Celular:</label>
                                <input [disabled]="isDisbledFormu" type="text" telefono [maxLength]="20" [(ngModel)]="requestInfoTitular.celular"
                                    autocomplete="off" class="form-control" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label class="label">Correo Electrónico:</label>
                                <input [disabled]="isDisbledFormu" type="text" sinSpacioInit [(ngModel)]="requestInfoTitular.correo"
                                    autocomplete="off" class="form-control" maxlength="50"/>
                            </div>
                        </div>
                    </div>

                    <div class="row m-0 mt-3">
                        <div class="col-12" *ngIf="!isDisbledFormu">
                            <button type="button" class="btn-primary2" (click)="btnRegInfoTitular()"
                                [disabled]="isDisbledFormu">
                                Guardar
                            </button>
                        </div>
                    </div>
                    <div class="row m-0 mt-3" *ngIf="isShowEval">
                        <div class="col-12">
                            <app-evaluar-solicitud-bpf [disabled]="isDisbledEval" [idBPF]="idBPF" [codSeccion]="codigoPLFOR.TAB_1"
                                [codSubSeccion]="codigoPLFOR.TAB_1_1"></app-evaluar-solicitud-bpf>
                        </div>
                    </div>
                </p-accordionTab>

                <p-accordionTab header="1.2 Del Representante Legal" *ngIf="isShowRepresentante">
                    
                    <div class="row m-0 mt-3">
                        <div class="col-12 col-sm-8">
                            <div class="form-group">
                                <label class="label">Nombre:</label>
                                <input [disabled]="true" type="text"
                                    [(ngModel)]="requestInfoReprLegal.nombres" autocomplete="off"
                                    class="form-control" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label class="label">DNI:</label>
                                <input [disabled]="true" type="text"
                                    [(ngModel)]="requestInfoReprLegal.numeroDocumento" maxlength="8" autocomplete="off"
                                    class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label class="label">Departamento:</label>
                                <div class="form-control-selectk">
                                    <p-dropdown [disabled]="isDisbledFormu" [options]="ListaDepartamentoRepr"
                                        optionLabel="nombreDepartamento" optionValue="idDepartamento"
                                        placeholder="Seleccione"
                                        (onChange)="listarPorFilroProvincia($event, true, 2)"
                                        [(ngModel)]="requestInfoReprLegal.idDepartamento"></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <label class="label">Provincia:</label>
                            <div class="form-control-selectk">
                                <p-dropdown [disabled]="isDisbledFormu" [options]="ListaProvinciaRepr"
                                    optionLabel="nombreProvincia" placeholder="Seleccione" optionValue="idProvincia"
                                    (onChange)="listarPorFilroDistrito($event, 2, true)"
                                    [(ngModel)]="requestInfoReprLegal.idProvincia"></p-dropdown>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <label class="label">Distrito:</label>
                            <div class="form-control-selectk">
                                <p-dropdown [disabled]="isDisbledFormu" [options]="ListaDistritoRepr"
                                    optionLabel="nombreDistrito" placeholder="Seleccione" optionValue="idDistrito"
                                    [(ngModel)]="requestInfoReprLegal.idDistrito"></p-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label class="label">Dirección:</label>
                                <input [disabled]="isDisbledFormu" type="text" sinSpacioInit maxlength="100"
                                    [(ngModel)]="requestInfoReprLegal.direccion"
                                    placeholder="(indicar nombre de la calle/Av/Jr./Psje o Comunidad)"
                                    autocomplete="off" class="form-control" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-2">
                            <div class="form-group">
                                <label class="label">Nro.:</label>
                                <input [disabled]="isDisbledFormu" type="text" sinSpacioInit maxlength="20"
                                    [(ngModel)]="requestInfoReprLegal.direccionNumero" autocomplete="off"
                                    class="form-control" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label class="label">Sector: (Indicar Urb., AAHH, sector, etc.):</label>
                                <input [disabled]="isDisbledFormu" type="text" [(ngModel)]="requestInfoReprLegal.sector" sinSpacioInit
                                    placeholder="" autocomplete="off" maxlength="50"
                                    class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label class="label">Teléfono Fijo:</label>
                                <input [disabled]="isDisbledFormu" type="text" telefono [maxLength]="20"
                                    [(ngModel)]="requestInfoReprLegal.telefono" autocomplete="off"
                                    class="form-control" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label class="label">Teléfono Celular:</label>
                                <input [disabled]="isDisbledFormu" type="text" [(ngModel)]="requestInfoReprLegal.celular" telefono [maxLength]="20"
                                    autocomplete="off" class="form-control" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label class="label">Correo Electrónico:</label>
                                <input [disabled]="isDisbledFormu" type="text" [(ngModel)]="requestInfoReprLegal.correo" sinSpacioInit
                                    autocomplete="off" class="form-control" maxlength="50"/>
                            </div>
                        </div>
                    </div>

                    <div class="row m-0 mt-3">
                        <div class="col-12" *ngIf="!isDisbledFormu">
                            <button type="button" class="btn-primary2" (click)="btnRegInfoRepresentante()"
                                [disabled]="isDisbledFormu">
                                Guardar
                            </button>
                        </div>
                    </div>

                    <div class="row m-0 mt-3" *ngIf="isShowEval">
                        <div class="col-12">
                            <app-evaluar-solicitud-bpf [disabled]="isDisbledEval" [idBPF]="idBPF" [codSeccion]="codigoPLFOR.TAB_1"
                                [codSubSeccion]="codigoPLFOR.TAB_1_2"></app-evaluar-solicitud-bpf>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</div>

<!-- <ng-container *ngIf="idSolicitante == 2 || idSolicitante == 1">

</ng-container> -->

<!-- <observaciones-plantacion
      *ngIf="idSolicitante == 4"
    ></observaciones-plantacion> -->
<!-- </p-fieldset> -->
