.container-dialog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-check{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4a962c;
    color: white;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    font-weight: bold;
    font-size: 20px;
}