<div class="row m-0">
  <div class="col-12">
    <h3 class="title">Solicitar recurso de impugnación</h3>
    <h3 class="title2">Lista de información de la solicitud</h3>
  </div>
  <div class="col-12 mt-3">
    <div class="tablek">
      <!--
            [value]="listaOposicion"
            -->
      <p-table [value]="lista" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
          <tr>
            <th>Estado</th>
            <th>ID Proceso relacionado</th>
            <th>Fecha de presentación</th>
            <th>Calificar inpugnación</th>
            <th>Adjuntar resultados de evaluación</th>
            <th>Generar resolución</th>
            <th>Impugnación <br>
              Fundada / infundada</th>
            <th>Notificar Resolución</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-obj let-rowIndex="rowIndex">
          <tr>
            <td>{{obj.a}}</td>
            <td>{{obj.b}}</td>
            <td>{{obj.c}}</td>
            <td>
              <div class="form-control-selectk ">
                <p-dropdown optionValue="code" optionLabel="name"></p-dropdown>
              </div>
            </td>
            <td>
              <i class="pi pi-cloud-upload pointer"></i>
            </td>

            <td>
              <button class="btn btn-sm btn-secondary" (click)="notificacion()">Resolución</button>
            </td>
            <td>
              <p-checkbox name="groupname" value="val1"></p-checkbox>
              &nbsp;&nbsp;
              <p-checkbox name="groupname" value="val2"></p-checkbox>
            </td>
            <td>
              <button class="btn btn-sm btn-primary2" *ngIf="!obj.remitido" (click)="resolucion(rowIndex)">Remitir</button>
              &nbsp;
              <button class="btn btn-sm btn-secondary" *ngIf="obj.remitido">Remitido</button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog [(visible)]="display" [style]="{width: '300px'}" header=" ">
  <ng-template pTemplate="body">
    <div class="container-dialog">
      <div class="container-check">
        <i class="pi pi-check"></i>
      </div>
      <p class="title2" style="margin: 20px 0px;">Resolución Notificada</p>
      <button class="btn btn-sm btn-primary2" (click)="display = !display">Aceptar</button>
    </div>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="display2" [style]="{width: '300px'}" header=" ">
  <ng-template pTemplate="body">
    <div class="container-dialog">
      <div class="container-check">
        <i class="pi pi-check"></i>
      </div>
      <p class="title2" style="margin: 20px 0px;">Nueva Impugnación en Bandeja</p>
      <button class="btn btn-sm btn-primary2" (click)="display2 = !display2">Aceptar</button>
    </div>
  </ng-template>
</p-dialog>