<div class="row">


  <div class="col-12">

    <div class="tablek">
      <p-table [value]="config.data.lstObservacion" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
          <tr>
            <th>Observación</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-obj>
          <tr>
            <td>{{obj.observacion}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

  </div>




</div>
