<div class="container-fluid p-0">
  <!-- TITULO -->
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title">Evaluación de Comité Técnico - Bosque Local</h3>
    </div>
  </div>
  <!-- TABS -->
  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <mat-tab-group animationDuration="0ms" (selectedIndexChange)="tabChange($event)" [selectedIndex]="tabIndex">
        <mat-tab label="Evaluación en Gabinete">
          <ng-template matTabContent>
            <tab-estudio-tecnico-bl [idPlan]="idPlan"  [showEvalObserv]="showEvalObserv"  [disabledEstudioTec]="disabledEstudioTec"
              [showEvalComiteTec]="showEvalComiteTec" [disabledEvalComiteTec]="disabledEvalComiteTec" [evaluacionGabinete]="evaluacionGabinete"
               ></tab-estudio-tecnico-bl>
          </ng-template>
        </mat-tab>

        <mat-tab label="Evaluación en Campo">
          <ng-template matTabContent>
            <tab-evaluacion-campo-bl [idPlan]="idPlan" [showEvalObserv]="showEvalObserv"   [disabledEvalComiteTec]="disabledEvalComiteTec" [evaluacionCampo]="evaluacionCampo" >
            </tab-evaluacion-campo-bl>
          </ng-template>
        </mat-tab>

        <mat-tab label="Resultados de Evaluación">
          <ng-template matTabContent>
            <tab-resultado-evaluacion-bl [idPlan]="idPlan" [showEvalObserv]="showEvalObserv"   [disabledEvalComiteTec]="disabledEvalComiteTec"></tab-resultado-evaluacion-bl>
          </ng-template>
        </mat-tab>

        <mat-tab label="Envío de Resultados" *ngIf="showEnvioResultado">
          <ng-template matTabContent>
            <tab-envio-resultados-bl [idPlan]="idPlan" [estadoSolicitud]="estadoSolicitud" [disabledEnvioResultado]="disabledEnvioResultado"></tab-envio-resultados-bl>
          </ng-template>
        </mat-tab>

        <mat-tab label="Establecimiento de Bosque Local" *ngIf="showEstableciBL">
          <ng-template matTabContent>
            <tab-establecimiento-bl [idPlan]="idPlan" [estadoSolicitud]="estadoSolicitud" [disabledEstableciBL]="disabledEstableciBL"></tab-establecimiento-bl>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <!-- BOTONES -->
  <!-- <div class="row m-0 mt-4 mb-4">
      <div class="col-12">
        <button *ngIf="tabIndex > 0" (click)="tabAnterior()" class="btn-primary2">Anterior</button>
        <button class="btn-primary2" (click)="tabSiguiente()">Siguiente</button>
      </div>
    </div> -->
</div>
<p-confirmPopup></p-confirmPopup>
