<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12 p-0">
      <p-accordion>
        <p-accordionTab
          header="8. Identificación de Impactos Ambientales Negativos y Establecimiento de Medidas de Prevención  y Mitigación"
          [selected]="true"
        >
          <div class="mt-0">
            <div class="col-12 p-0 text-right">
              <button
                [disabled]="disabled"
                icon="pi pi-plus"
                (click)="openModal('Nuevo Registro', null, 'C', 0)"
                pButton
                pRipple
                type="button"
                label=""
                class="p-button-success p-button-text"
              ></button>
            </div>
          </div>
          <div class="col-12 p-0">
            <p-table [value]="lstGrilla" responsiveLayout="scroll">
              <ng-template pTemplate="header">
                <tr>
                  <th>Acciones</th>
                  <th>Actividades</th>
                  <th>Descripción del Impacto</th>
                  <th>
                    Medidas de Prevención y/o Mitigación, incluido el Manejo de
                    Residuos Sólidos
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr>
                  <td>
                    <span
                      (click)="
                        !disabled &&
                          openModal('Editar Registro', data, 'E', rowIndex)
                      "
                      class="pointer mr-1"
                      title="Editar"
                    >
                      <i class="pi pi-pencil"></i>
                    </span>
                    <span
                      (click)="!disabled && openEliminar($event, data)"
                      class="pointer"
                      title="Eliminar"
                    >
                      <i class="pi pi-trash"></i>
                    </span>
                  </td>
                  <td class="text-left">{{ data.actividad }}</td>
                  <td class="text-left">{{ data.descripcion }}</td>
                  <td>
                    <ul *ngFor="let medida of data.detalle">
                      <li class="text-left" style="font-size: 10px">
                        {{ medida.medidasprevencion }}
                      </li>
                    </ul>
                  </td>
                </tr>
              </ng-template>
            </p-table>

            <label *ngIf="pendiente" class="lbl-info mt-3 mb-3">
              (Los cambios locales se guardarán pulsando el botón "Guardar".)
            </label>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon1"
            [base]="evaluacion_1"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <div class="step__btn mt-4">
    <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button
      *ngIf="!isPerfilArffs"
      class="btn-primary2"
      type="button"
      [disabled]="disabled"
      (click)="registrarImpactoAmbiental()"
    >
      Guardar
    </button>
    <button
      *ngIf="isPerfilArffs"
      class="btn-primary2"
      (click)="registrarEvaluacion()"
    >
      Guardar Evaluación
    </button>
    <button
      *ngIf="isPerfilArffs"
      class="btn-primary2"
      (click)="retornarFlujoEvaluacion()"
    >
      Retornar Flujo Evaluacion
    </button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
  <br />
</div>

<p-toast position="top-right" key="tl"></p-toast>
