<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <div class="col-6">
        <label class="label">Adjuntar Diagrama</label>
        <input-img-buttons
          [label]="''"
          [idPlanManejo]="idPlanManejo"
          [idTipoDocumento]="40" [disabled]="disabled"
          [codigoProceso]="'POPAC'"
          (registrarArchivoId)="cargarIdArchivo($event)"
        ></input-img-buttons>
      </div>
      <p-accordion>
        <p-accordionTab
          header="11.1. Aprovechamiento forestal maderable"
          [selected]="true"
        >
          <div class="title">
            <div class="text-right mb-1 p-0">
              <button
                class="btn btn-sm btn-default mb-2"
                type="button"
                title="Agregar" [disabled]="disabled"
                (click)="abrirModal(MADERABLE)"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
            <p-table [value]="organizacionesList" class="mt-2" 
                class="table-justify"
                [scrollable]="true"
                [style]="{ width: '100%' }">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 50px" class="text-center">Acciones</th>
                  <th style="width: 200px; max-width: 800px">Actividad</th>
                  <th style="width: 200px; max-width: 800px">
                    Forma de organización
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr>
                  <td style="width: 50px" class="text-center">
                    <span
                      class="pointer mr-1"
                      title="Editar"
                      (click)="!disabled&&
                        openEditarOrganizacion(data, rowIndex, MADERABLE)
                      "
                      ><i class="pi pi-pencil"></i
                    ></span>
                    <span
                      class="pointer"
                      title="Eliminar"
                      (click)="!disabled&&
                        openEliminarOrganizacion(
                          $event,
                          rowIndex,
                          data,
                          MADERABLE
                        )
                      "
                      ><i class="pi pi-trash"></i
                    ></span>
                  </td>
                  <td style="width: 200px; max-width: 800px">
                    {{ data.actividad }}
                  </td>
                  <td style="width: 200px; max-width: 800px">
                    {{ data.descripcionDetalle }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-accordionTab>

        <p-accordionTab
          header="11.2. Aprovechamiento forestal no maderable"
          [selected]="false"
        >
          <div class="title">
            <div class="text-right">
              <button
                class="btn btn-sm btn-default mb-2"
                type="button" [disabled]="disabled"
                title="Agregar"
                (click)="abrirModal(NO_MADERABLE)"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
            <p-table [value]="organizacionesList2" class="mt-2" class="table-justify"
            [scrollable]="true"
            [style]="{ width: '100%' }">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 50px" class="text-center">Acciones</th>
                  <th style="width: 200px; max-width: 800px">Actividad</th>
                  <th style="width: 200px; max-width: 800px">
                    Forma de organización
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr>
                  <td class="text-center" style="width: 50px" >
                    <span
                      class="pointer mr-1"
                      title="Editar"
                      (click)="!disabled&&
                        openEditarOrganizacion(data, rowIndex, NO_MADERABLE)
                      "
                      ><i class="pi pi-pencil"></i
                    ></span>
                    <span
                      class="pointer"
                      title="Eliminar"
                      (click)="!disabled&&openEliminarOrganizacion($event,rowIndex,data,NO_MADERABLE )"
                      ><i class="pi pi-trash"></i
                    ></span>
                  </td>
                  <td style="width: 200px; max-width: 800px">
                    {{ data.actividad }}
                  </td>
                  <td style="width: 200px; max-width: 800px">
                    {{ data.descripcionDetalle }}
                  </td>

                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4 mb-4">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button
          class="btn-primary2" [disabled]="disabled"
          (click)="registrarOrganizacionesDesarrollo()"
        >
          Guardar
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
    </div>
  </div>
</div>

<p-confirmPopup></p-confirmPopup>
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-dialog
  header="{{ tituloModal }}"
  header="Header"
  [(visible)]="displayBasic"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000" (onHide)="cerrarModal()"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Actividades Realizadas</label>
            <input
              [(ngModel)]="organizacion.actividad"
              type="text"
              maxlength="100" [disabled]="organizacion.equipo == CodigoUtil.VALOR_DEFECTO"
              class="form-control"
              placeholder="Ingrese actividad realizada"
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Forma de Organización</label>
            <input
              [(ngModel)]="organizacion.descripcionDetalle"
              type="text"
              maxlength="100"
              class="form-control"
              placeholder="Ingrese forma de organización"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarOrganizacion()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
