<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12 col-sm-9 p-1">
            <div class="f-w mb-2 mapa-content">
                <div class="mapa" #map></div>
            </div>
        </div>
        <div class="col-12 col-sm-3 p-1">
            <div class="d-grid gap-2 d-md-block mb-2">
                <button type="button" (click)="fileInput.click()" class="btn-secondary width-full" [disabled]="disabled">
                    Cargar Shapefile
                    <input #fileInput type="file" (change)="onChangeFile($event, 'TPPARC')" accept=".zip"
                        style="display:none;"  />
                </button>
                <!-- <button class="btn btn-sm btn-primary2" [disabled]="disabled" (click)="guardarArchivoCapas()" type="button">Guardar</button> -->
            </div>
            <div class="mt-3">
                <div class="card mb-3 gh-layers">
                    <div class="card-header py-0 pt-2 pb-2">Capas
                        <span title="Guardar Capa" class="pointer pr-1 float-right">
                            <i class="pi pi-save" aria-hidden="true"  (click)="guardarCapas()"></i>
                        </span>
                    </div>
                    <ul id="ulResult" #ulResult class="list-group"></ul>
                    <ul class="list-group">
                        <li *ngFor="let item of _layers" class="list-group-item p-0 d-flex">
                            <input class="ml-1 mr-1 pointer" type="checkbox" [checked]="true"
                                (change)="toggleLayer(item.idLayer, $event)" />

                            <label class="m-0 p-0 text-left pointer gh-label" style="flex: 2;"
                                [ngStyle]="{'color': item.color}">{{item.nombre}}
                                <span class="pointer pr-1"
                                    title="{{ item.overlap ? 'Capa Superpuesta' : 'Capa contenida'}} ">
                                    <i class="{{ item.overlap? 'pi pi-info-circle color-red' : 'pi pi-check-circle color-green'}}"
                                        *ngIf="item.service" aria-hidden="true"></i>
                                </span>
                            </label>

                            <div class="d-flex">
                                <span class="mr-2 pointer">
                                    <i class="pi pi-download" *ngIf="item.inServer == true"
                                        aria-hidden="true" (click)="onDownloadFileSHP(item)"></i>
                                </span>
                                <span class="pointer pr-1">
                                    <i class="pi pi-trash" aria-hidden="true" *ngIf="!item.service && item.idLayer"
                                        (click)="onRemoveFileSHP(item)"></i>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 p-0 mt-2">
            <p-accordion>
                <p-accordionTab header="2.1. Zonas" [selected]="true">
                    <div class="col-12 text-right">
                        <button icon="pi pi-plus" [disabled]="disabled" (click)="openModal('Nuevo Registro',null,'C')" pButton pRipple
                            type="button" label="" class="p-button-success p-button-text"></button>
                    </div>
                   <!--  <p-table [value]="lstGrilla">
                        <ng-template pTemplate="header">
                            <tr>
                                <th rowspan="2">Acciones</th>
                                <th rowspan="2" class="text-left">Zonas</th>
                                <th rowspan="2">Adjuntar Archivo</th>
                                <th [attr.colspan]="nroAnexosComunidad" *ngIf="!sizeAnexos" >Superficie estimada (ha)</th>
                                <th rowspan="2">Total</th>
                                <th rowspan="2">%</th>
                            </tr>
                            <tr>
                                <th *ngFor="let item of sizeAnexos">
                                    Anexo o Sector {{item.index}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data>
                            <tr>
                                <td>
                                    <span (click)="openModal('Editar Registro',data,'E')" class="pointer mr-1"
                                        title="Editar">
                                        <i class="pi pi-pencil"></i>
                                    </span>
                                    <span (click)="onDeleteFileZona(data)"  *ngIf="data.archivo"  class="pointer" title="Eliminar">
                                        <i class="pi pi-trash"></i>
                                    </span>
                                </td>
                                <td class="text-left {{data.nivel2 ? 'pl-5': ''}} ">{{data.zona}}</td>
                                <td class="text-center d-flex">
                                    <button type="button" class="btn-secondary off" (click)="fileInput.click()" *ngIf="!data.inServer && !data.archivo"
                                        style="min-width: 40px;">
                                        <i class="pi pi-upload"></i>
                                        <input [attr.data-zone]='data.codZonificacion' id="{{data.codigo}}" #fileInput
                                            type="file" (change)="onChangeFileSHP($event)" style="display: none;" accept=".zip" />
                                    </button>

                                    <button type="button" class="btn-secondary" *ngIf="data.archivo" (click) ="onDownloadFile($event,data)"
                                        style="min-width: 40px;">
                                        <i class="pi pi-download"></i>
                                    </button>
                                    <input class="ml-2" type="checkbox" checked (change) = "onChangeTogleLayer($event,data.idLayer)" *ngIf="data.idLayer">
                                </td>
                                <td *ngFor="let item of data.zonaAnexo">
                                    {{item.valor}}
                                </td>
                                <td>{{data.total}}</td>
                                <td>{{data.porcentaje}}</td>
                            </tr>

                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr style="background: #dfe0ea80;">
                                <th class="text-left" colspan="2"><label class="label title2 fz-12">Total</label></th>
                                <th></th>
                                <th *ngFor="let item of sizeAnexos"></th>
                                <th>{{totalAreaZona}}</th>
                                <th>{{totalPorcentajeZona}}</th>
                            </tr>
                        </ng-template>
                    </p-table> -->

                    <p-table [value]="listZona">
                        <ng-template pTemplate="header">
                            <tr>
                                <th rowspan="2">Acciones</th>
                                <th rowspan="2" class="text-left">Zonas</th>
                                <th rowspan="2">Adjuntar Archivo</th>
                                <th [attr.colspan]="nroAnexosComunidad" *ngIf="nroAnexosComunidad > 0" >Superficie estimada (ha)</th>
                                <th rowspan="2">Total</th>
                                <th rowspan="2">%</th>
                            </tr>
                            <tr>
                                <th *ngFor="let item of sizeAnexos">
                                    Anexo o Sector {{item.index}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data>
                            <tr>
                                <td>
                                    <span (click)="!disabled&&openModal('Editar Registro',data,'E')" class="pointer mr-1"
                                        title="Editar">
                                        <i class="pi pi-pencil"></i>
                                    </span>
                                    <span (click)="!disabled&&openEliminar($event,data)" class="pointer" title="Eliminar">
                                        <i class="pi pi-trash"></i>
                                    </span>
                                </td>
                                <td class="text-left">{{data.nombre}}</td>
                                <td class="text-center d-flex checkbox">
                                    <button type="button" class="btn-secondary off" (click)="fileInput.click()" *ngIf="!data.inServer && !data.idLayer" [disabled]="disabled"
                                        style="min-width: 40px;">
                                        <i class="pi pi-upload"></i>
                                        <input [attr.data-zone]='data.codigoZona' id="{{data.idZona}}" #fileInput
                                            type="file" (change)="onChangeFileSHP($event, 'TPPARC')" style="display: none;" accept=".zip" />
                                    </button>

                                    <button type="button" class="btn-secondary" *ngIf="data.idLayer" (click) ="onDownloadFile($event,data)"
                                        style="min-width: 40px;">
                                        <i class="pi pi-download"></i>
                                    </button>
                                    <span (click)="!disabled && onDeleteFileZona(data)" *ngIf="data.idLayer"  class="pointer ml-2" title="Eliminar">
                                        <i class="pi pi-times-circle"></i>
                                    </span>
                                    <input class="ml-2" type="checkbox" [disabled]="disabled" checked (change) = "onChangeTogleLayer($event,data.idLayer)" *ngIf="data.idLayer">
                                </td>
                                <td *ngFor="let item of data.zonaAnexo">
                                    {{item.valor}}
                                </td>
                                <td>{{data.total}}</td>
                                <td>{{data.porcentaje}}</td>
                            </tr>

                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr style="background: #dfe0ea80;">
                                <th class="text-left" colspan="2"><label class="label title2 fz-12">Total</label></th>
                                <th></th>
                                <th *ngFor="let item of sizeAnexos"></th>
                                <th>{{ totalAreaZona | number : '1.2-2' }}</th>
                                <th>{{ totalPorcentajeZona | number : '1.2-2' }}</th>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-accordionTab>

                <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
                  <evaluacion-archivo-shared
                    [idPlanManejo]="idPlanManejo"
                    [cadigoTab]="codigoAcordeon1"
                    [base]="evaluacion_1">
                    <ng-template #conatinertop> </ng-template>
                    <ng-template #conatinerbottom> </ng-template>
                  </evaluacion-archivo-shared>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
    <div class="step__btn mt-4" >
        <message-evaluation *ngIf="isPerfilArffs" ></message-evaluation>
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button *ngIf="!isPerfilArffs" class="btn-primary2" [disabled]="disabled" type="button" (click)="guardar()">Guardar</button>
        <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="registrarEvaluacion()">Guardar Evaluación</button>
        <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">Retornar Flujo Evaluacion</button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
    </div>
    <br>
</div>
<p-toast position="top-right" key="tl"></p-toast>
<p-confirmDialog [style]="{width: '300px'}" key="deleteZona"></p-confirmDialog>
<p-confirmDialog [style]="{width: '300px'}" key="deleteFileSHP"></p-confirmDialog>
