.divColor {
    width     : 15px;
    height    : 10px;
    background: #444444;
}

.gh-layers {
    height         : 348px;
    overflow       : auto;
    scroll-behavior: smooth;
}

.gh-label {
    float      : right;
    display    : flex;
    align-items: center;
    word-break : break-all;
    margin     : 0 0 1em 1em;
    font-size  : 10px;
}