<div class="row">
  <div class="col-12 form-group">
    <label for="nombreActividad">Nombre Aprovechamiento</label>
    <input
      type="text"
      id="nombreActividad"
      autocomplete="off"
      class="form-control contents_form_input"
      [(ngModel)]="nombreAprovechamiento"
      placeholder="Ingrese la actividad"
      maxlength="100"
    />
  </div>

  <div class="col-12 mt-6">
    <button class="btn btn-sm btn-secondary" (click)="agregar()">
      Guardar
    </button>
    <button class="btn btn-sm btn-secondary" (click)="cerrarModal()">
      Cancelar
    </button>
  </div>
</div>
