<div class="row m-0 pt-4">
  <div class="col-12">
    <p-accordion>
      <p-accordionTab
        header="8.1. Demarcación y Mantenimiento de Linderos"
        [selected]="true"
      >
        <div class="row">
          <div class="col-12">
            <div class="col-2 col-sm-12 text-right">
              <button
                [disabled]="disabled||isPerfilArffs"
                (click)="AgregarSistemaDemarcacion()"
                class="btn btn-sm btn-default mb-2"
                type="button"
                title="Agregar"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
            <p-table [value]="lisLinderos" class="table-justify">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 20%">Sistema de Marcación</th>
                  <th style="width: 20%" class="text-center">Acción</th>
                  <th style="width: 60%">Modo de Implementación</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr>
                  <td>
                    <div *ngIf="data.otro == false">
                      {{ data.tipoMarcacion }}
                    </div>
                    <div *ngIf="data.otro == true && data.nuAccion == false">
                      {{ data.tipoMarcacion }}
                    </div>
                    <div *ngIf="data.otro == true && data.nuAccion == true">
                      <input
                        type="text"
                        maxlength="100"
                        class="form-control"
                        [disabled]="disabled||isPerfilArffs"
                        placeholder="Otros (especificar)"
                        [(ngModel)]="data.tipoMarcacion"
                      />
                    </div>
                  </td>
                  <td class="text-center">
                    <div class="p-field-checkbox">
                      <p-checkbox
                        [disabled]="disabled||isPerfilArffs"
                        for="numero"
                        [binary]="true"
                        [(ngModel)]="data.nuAccion"
                      >
                      </p-checkbox>
                    </div>
                  </td>
                  <td>
                    <div *ngIf="data.nuAccion == false">
                      {{ data.implementacion }}
                    </div>
                    <div *ngIf="data.nuAccion == true">
                      <input
                        type="text"
                        maxlength="100"
                        [disabled]="disabled||isPerfilArffs"
                        [(ngModel)]="data.implementacion"
                        class="form-control"
                      />
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
        <br />
        <evaluacion-archivo-shared
          [idPlanManejo]="idPlanManejo"
          [cadigoTab]="codigoAcordeon81"
          [base]="evaluaciond81"
          *ngIf="isPerfilArffs"
        >
          <ng-template #conatinertop> </ng-template>
          <ng-template #conatinerbottom> </ng-template>
        </evaluacion-archivo-shared>
        <div class="step__btn mt-4">
          <button
            *ngIf="!isPerfilArffs"
            type="submit"
            class="btn-primary2"
            (click)="GuardarProteccionBosqueDemarcacion()"
            [disabled]="disabled"
          >
            Guardar
          </button>
        </div>
      </p-accordionTab>
      <p-accordionTab header="8.2. Evaluación de Impacto Ambiental">
        <div class="row m-0 pt-3">
          <div class="col-12">
            <mat-tab-group animationDuration="0ms">
              <mat-tab label="8.2.1. Análisis de Impacto Ambiental">
                <div class="row m-0 pt-3">
                  <div class="col-12">
                    <h3 class="title2">
                      Modelo de Matriz de Identificación de Impactos Ambientales
                    </h3>
                  </div>
                  <div class="col-2 col-sm-12 text-right">
                    <button
                      (click)="abrirModalImpacto()"
                      [disabled]="disabled||isPerfilArffs"
                      class="btn btn-sm btn-default mb-2"
                      type="button"
                      title="Agregar"
                    >
                      <i class="pi pi-plus"></i>
                    </button>
                  </div>
                  <div class="col-12">
                    <!-- <pre>
                      {{ evaluacionImpactoAmbientalProBosModel.listProteccionBosque | json}}
                    </pre> -->
                    <p-table
                      [value]="
                        evaluacionImpactoAmbientalProBosModel.listProteccionBosque
                      "
                      class="table-justify"
                      [scrollable]="true"
                      [style]="{width:'100%'}"
                    >
                      <ng-template pTemplate="header">
                        <tr>
                          <th class="table-body" rowspan="2" class="acciones">Acciones</th>
                          <th class="table-body" rowspan="2">Factores ambientales</th>
                          <th class="table-body" rowspan="2">Impactos identificados</th>
                          <th class="table-body" colspan="7" class="text-center">
                            Actividades (causa)
                          </th>
                        </tr>
                        <tr>
                          <th class="table-body">Censo</th>
                          <th class="table-body">Demarcación de Linderos</th>
                          <th class="table-body">Construcción de Campamentos</th>
                          <th class="table-body">Construcción de Caminos</th>
                          <th class="table-body"><span>Tala</span></th>
                          <th class="table-body"><span>Arrastre</span></th>
                          <th class="table-body"><span>Otras</span></th>
                        </tr>
                      </ng-template>
                      <ng-template
                        pTemplate="body"
                        let-data
                        let-rowIndex="rowIndex"
                      >
                        <tr>
                          <td class="text-center acciones">
                            <span
                              class="pointer mr-1"
                              title="Editar"
                              (click)="!disabled &&
                                !isPerfilArffs && openEditarImpacto(data)
                              "
                            >
                              <i class="pi pi-pencil"></i>
                            </span>
                            <span
                              class="pointer mr-1"
                              title="Eliminar"
                              (click)="!disabled &&
                                !isPerfilArffs &&
                                  openEliminarImpacto($event, rowIndex, data)
                              "
                            >
                              <i class="pi pi-trash"></i>
                            </span>
                          </td>
                          <td class="table-body">{{ data.factorAmbiental }}</td>
                          <td class="table-body">{{ data.impacto }}</td>
                          <td class="table-body">{{ data.nuCenso == 1 ? "X" : "" }}</td>
                          <td class="table-body">
                            {{ data.nuDemarcacionLineal == 1 ? "X" : "" }}
                          </td>
                          <td class="table-body">
                            {{ data.nuConstruccionCampamento == 1 ? "X" : "" }}
                          </td>
                          <td class="table-body">
                            {{ data.nuConstruccionCamino == 1 ? "X" : "" }}
                          </td>
                          <td class="table-body">{{ data.nuTala == 1 ? "X" : "" }}</td>
                          <td class="table-body">{{ data.nuArrastre == 1 ? "X" : "" }}</td>
                          <td class="table-body">
                            <p tooltipPosition="top" [pTooltip]="data.descOtra">
                              {{ data.nuOtra == 1 ? "X" : "" }}
                            </p>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                  <button
                    *ngIf="!isPerfilArffs"
                    class="btn-primary2"
                    (click)="GuardarEvaluacionImpactoAmbiental()"
                    style="margin-top: 20px"
                    [disabled]="disabled || isPerfilArffs"
                  >
                    Guardar
                  </button>
                </div>
                <br />
                <br />
                <evaluacion-archivo-shared
                  [idPlanManejo]="idPlanManejo"
                  [cadigoTab]="codigoAcordeon821"
                  [base]="evaluaciond821"
                  *ngIf="isPerfilArffs"
                >
                  <ng-template #conatinertop> </ng-template>
                  <ng-template #conatinerbottom> </ng-template>
                </evaluacion-archivo-shared>
              </mat-tab>

              <mat-tab label="8.2.2. Plan de Gestión Ambiental">
                <div class="row m-0 pt-3">
                  <div class="col-12">
                    <h3 class="title2">Programa preventivo- corrector</h3>
                  </div>
                  <div class="col-2 col-sm-12 text-right">
                    <button
                      (click)="abrirModalPlanes()"
                      class="btn btn-sm btn-default button-more mb-2"
                      type="button"
                      title="Agregar"
                      [disabled]="disabled || isPerfilArffs"
                    >
                      <i class="pi pi-plus"></i>
                    </button>
                  </div>
                  <div class="col-12">
                    <p-table [value]="planGestionType1" class="table-justify" [scrollable]="true"
                    [style]="{width:'100%'}">
                      <ng-template pTemplate="header">
                        <tr>
                          <th class="acciones">Acciones</th>
                          <th class="table-body">Actividades</th>
                          <th class="table-body">Descripción del Impacto</th>
                          <th class="table-body">Medidas de Mitigación Ambiental</th>
                        </tr>
                      </ng-template>
                      <ng-template
                        pTemplate="body"
                        let-data
                        let-rowIndex="rowIndex"
                      >
                        <tr>
                          <td class="text-center acciones">
                            <span
                              class="pointer mr-1"
                              title="Editar"
                              (click)="!disabled&&
                                !isPerfilArffs && openEditarPlanGestion(data)
                              "
                            >
                              <i class="pi pi-pencil"></i>
                            </span>
                            <a
                              type="button"
                              class="pointer"
                              title="Eliminar"
                              (click)="!disabled&&
                                !isPerfilArffs &&
                                  openEliminarPlanGestion(
                                    $event,
                                    rowIndex,
                                    data
                                  )
                              "
                            >
                              <i class="pi pi-trash"></i>
                            </a>
                          </td>
                          <td class="table-body">{{ data.actividad }}</td>
                          <td class="table-body">{{ data.impacto }}</td>
                          <td class="table-body">{{ data.mitigacionAmbiental }}</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
                <div class="row m-0 pt-3">
                  <div class="col-12">
                    <h3 class="title2">Programa de Vigilancia y Seguimiento</h3>
                  </div>
                  <div class="col-12">
                    <p-table [value]="planGestionType2" class="table-justify" [scrollable]="true"
                    [style]="{width:'100%'}">
                      <ng-template pTemplate="header">
                        <tr>
                          <th class="acciones">Acciones</th>
                          <th class="table-body">Actividades</th>
                          <th class="table-body">Descripción del Impacto</th>
                          <th class="table-body">Medidas de Mitigación Ambiental</th>
                        </tr>
                      </ng-template>
                      <ng-template
                        pTemplate="body"
                        let-data
                        let-rowIndex="rowIndex"
                      >
                        <tr>
                          <td class="text-center acciones">
                            <span
                              class="pointer mr-1"
                              title="Editar"
                              (click)="!disabled&&
                                !isPerfilArffs && openEditarPlanGestion(data)
                              "
                            >
                              <i class="pi pi-pencil"></i>
                            </span>
                            <a
                              type="button"
                              class="pointer"
                              title="Eliminar"
                              (click)="!disabled&&
                                !isPerfilArffs &&
                                  openEliminarPlanGestion(
                                    $event,
                                    rowIndex,
                                    data
                                  )
                              "
                            >
                              <i class="pi pi-trash"></i>
                            </a>
                          </td>

                          <td class="table-body">{{ data.actividad }}</td>
                          <td class="table-body">{{ data.impacto }}</td>
                          <td class="table-body">{{ data.mitigacionAmbiental }}</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
                <div class="row m-0 pt-3">
                  <div class="col-12">
                    <h3 class="title2">
                      Programas de Contingencias Ambientales
                    </h3>
                  </div>
                  <div class="col-12">
                    <p-table [value]="planGestionType3" class="table-justify" [scrollable]="true"
                    [style]="{width:'100%'}">
                      <ng-template pTemplate="header">
                        <tr>
                          <th class="acciones">Acciones</th>
                          <th class="table-body">Actividades</th>
                          <th class="table-body">Descripción del Impacto</th>
                          <th class="table-body">Medidas de Mitigación Ambiental</th>
                        </tr>
                      </ng-template>
                      <ng-template
                        pTemplate="body"
                        let-data
                        let-rowIndex="rowIndex"
                      >
                        <tr>
                          <td class="text-center acciones">
                            <span
                              class="pointer mr-1"
                              title="Editar"
                              (click)="!disabled&&
                                !isPerfilArffs && openEditarPlanGestion(data)
                              "
                            >
                              <i class="pi pi-pencil"></i>
                            </span>
                            <a
                              type="button"
                              class="pointer"
                              title="Eliminar"
                              (click)="!disabled&&
                                !isPerfilArffs &&
                                  openEliminarPlanGestion(
                                    $event,
                                    rowIndex,
                                    data
                                  )
                              "
                            >
                              <i class="pi pi-trash"></i>
                            </a>
                          </td>

                          <td class="table-body">{{ data.actividad }}</td>
                          <td class="table-body">{{ data.impacto }}</td>
                          <td class="table-body">{{ data.mitigacionAmbiental }}</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
                <button
                  *ngIf="!isPerfilArffs"
                  class="btn-primary2"
                  (click)="registrarPlanesGestion()"
                  style="margin-top: 20px"
                  [disabled]="
                    disabled ||
                    (planGestionType1.length === 0 &&
                      planGestionType1.length === 0 &&
                      planGestionType1.length === 0) ||
                    isPerfilArffs
                  "
                >
                  Guardar
                </button>

                <br />
                <br />
                <evaluacion-archivo-shared
                  [idPlanManejo]="idPlanManejo"
                  [cadigoTab]="codigoAcordeon822"
                  [base]="evaluaciond822"
                  *ngIf="isPerfilArffs"
                >
                  <ng-template #conatinertop> </ng-template>
                  <ng-template #conatinerbottom> </ng-template>
                </evaluacion-archivo-shared>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>

  <div class="step__btn mt-4">
    <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button
      *ngIf="isPerfilArffs"
      class="btn-primary2"
      (click)="registrarEvaluacion()"
    >
      Guardar Evaluación
    </button>
    <button  *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">
      Retornar Flujo Evaluacion
    </button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
  <br />
</div>
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast
  position="bottom-center"
  key="c"
  (onClose)="onReject()"
  [baseZIndex]="5000"
>
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{ message.summary }}</h4>
        <p>{{ message.detail }}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button
            type="button"
            pButton
            (click)="onConfirm()"
            label="Yes"
            class="p-button-success"
          ></button>
        </div>
        <div class="p-col-6">
          <button
            type="button"
            pButton
            (click)="onReject()"
            label="No"
            class="p-button-secondary"
          ></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<p-dialog
  header="{{ tituloModal }}"
  header="Header"
  [(visible)]="displayBasic"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Tipo de Programa</label>

            <div class="form-control-selectk" *ngIf="!editarPlanGe">
              <p-dropdown
                [options]="tipos"
                optionLabel="valorPrimario"
                optionValue="valorSecundario"
                [(ngModel)]="planGestion.idTipoPrograma"
                placeholder="Selecciona el tipo"
              ></p-dropdown>
            </div>

            <div class="form-control-selectk" *ngIf="editarPlanGe">
              <input
                type="text"
                maxlength="100"
                class="form-control"
                [(ngModel)]="programa"
                disabled
              />
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Actividades</label>
            <input
              [(ngModel)]="planGestion.actividad"
              type="text"
              maxlength="100"
              class="form-control"
              placeholder="Ingrese actividades"
              maxlength="100"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Medidas de Mitigación</label>
            <input
              [(ngModel)]="planGestion.mitigacionAmbiental"
              type="text"
              class="form-control"
              placeholder="Ingrese medidas"
              maxlength="100"
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Descripción del Impacto</label>
            <input
              [(ngModel)]="planGestion.impacto"
              type="text"
              class="form-control"
              placeholder="Ingrese descripción"
              maxlength="100"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="AgregarPlanGestion()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="displayBasic = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="{{
    !editImpacto ? 'Registrar Impacto Ambiental' : 'Editar Impacto Ambiental'
  }}"
  header="Header"
  [(visible)]="displayModal"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div style="height: 30vh">
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Factores</label>
            <div class="form-control-selectk">
              <input
                type="text"
                maxlength="100"
                class="form-control"
                [(ngModel)]="detEvaluacionImpActual.factorAmbiental"
                disabled
                *ngIf="editImpacto"
              />
              <input
                type="text"
                maxlength="100"
                class="form-control"
                [(ngModel)]="detEvaluacionImpActual.factorAmbiental"
                *ngIf="!editImpacto"
              />
              <!-- <p-dropdown
                [options]="factoresAmbientales"
                optionLabel="valorPrimario"
                optionValue="valorPrimario"
                placeholder="Selecciona factor"
                [(ngModel)]="detEvaluacionImpActual.factorAmbiental"
                *ngIf="!editImpacto"
                ></p-dropdown> -->
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Impactos</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese impactos"
              [(ngModel)]="detEvaluacionImpActual.impacto"
              maxlength="100"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Actividades</label>
            <div class="form-control-multi">
              <p-multiSelect
                [options]="actividades"
                optionLabel="valorPrimario"
                optionValue="valorSecundario"
                placeholder="Selecciona las actividades"
                (onChange)="onChangeAct($event)"
                [(ngModel)]="detEvaluacionImpActual.actividades"
              ></p-multiSelect>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6" *ngIf="detEvaluacionImpActual.nuOtra == true">
          <div class="form-group">
            <label class="label">Otros</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese otros"
              [(ngModel)]="detEvaluacionImpActual.descOtra"
              maxlength="100"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarImpacto()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cancelarImpactoModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
