<div class="container-fluit">
  <div class="row m-0">
      <div class="col-12 pt-3">
        <h3 class="title">Bandeja Plan Manejo {{tipoPMTitulo}}</h3>
      </div>
  </div>

  <div class="row m-0">
    <div class="col-12">
      <div class="panelk br10 p-3">
        <div class="row">
          <div class="col-sm-12 col-md-4 form-group">
            <label class="label">N° {{tipoPMAbrev}}:</label>
            <input
              type="text"
              numero
              maxlength="9"
              autocomplete="off"
              class="form-control"
              placeholder="Ingrese Nro. {{tipoPMAbrev}}"
              [(ngModel)]="filtro.idPlanManejo"
            />
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <label class="label">DNI o RUC del Titular:</label>
            <input
              type="text"
              numero
              autocomplete="off"
              class="form-control"
              placeholder="Ingrese Nro. DNI o RUC"
              maxlength="50"
              [(ngModel)]="filtro.dniElaborador"
            />
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <label class="label">Nombre del Titular:</label>
            <input type="text" autocomplete="off" class="form-control" placeholder="Ingrese Nombre del Titular"
              [(ngModel)]="filtro.nombreElaborador" />
          </div>
        </div>

        <div class="col-12 my-2 form-group text-center">
          <button class="btn btn-sm btn-secondary mr-2" (click)="limpiar()">Limpiar</button>
          <button class="btn btn-sm btn-secondary mr-2" (click)="buscar()">Buscar</button>
          <button class="btn btn-sm btn-secondary" (click)="nuevo()">Nuevo</button>
        </div>

      </div>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-12 mt-4 mb-3">
      <p-table [value]="planes">
        <ng-template pTemplate="header">
          <tr>
            <th scope="row">N° {{tipoPMAbrev}}</th>
            <th scope="row">DNI o RUC</th>
            <th scope="row">Nombre del Titular</th>
            <th scope="row">Estado</th>
            <th scope="row">Fecha de Registro</th>
            <th scope="row" class="text-center">
              Ver plan
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex+1">
          <tr>
            <td>{{ item?.idPlanManejo }}</td>
            <td>{{ item?.infoGeneral.dniElaborador }}</td>
            <td>{{ item?.infoGeneral.nombreElaborador +' ' +item?.infoGeneral.apellidosElaborador}}</td>
            <td>{{ item?.codigoEstado }}</td>
            <td>{{ item?.fecha }}</td>
            <td class="text-center">
              <span *ngIf="item?.codEstado === 'EPLMBOR'" class="pointer" title="Editar Plan" (click)="verPlan(item.idPlanManejo)"><i class="pi pi-pencil"></i></span>
              <span *ngIf="item?.codEstado !== 'EPLMBOR'" class="pointer" title="Ver Plan" (click)="verPlan(item.idPlanManejo)"><i class="pi pi-eye"></i></span>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)"
        [showCurrentPageReport]="true" currentPageReportTemplate="Total : {totalRecords} registros"
        [rowsPerPageOptions]="[10, 25, 50, 100]"></p-paginator>
    </div>
  </div>


</div>
