<p-fieldset legend="Datos Generales" [toggleable]="true">
    <div class="row m-0">
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label class="label">Código único</label>
                <input [disabled]="true"  [(ngModel)]="solicitudAcceso.idSolicitudAcceso" type="text" autocomplete="off" class="form-control"  />
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label class="label">Estado Solicitud</label>
                <div class="form-control-selectk">
                    <p-dropdown [disabled]="true" [(ngModel)]="solicitudAcceso.codigoEstadoSolicitud" [options]="lstEstado"  optionLabel="valor1" optionValue="codigo" ></p-dropdown>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label class="label">Tipo de persona</label>
                <div class="form-control-selectk">
                    <p-dropdown [disabled]="dataBase.disabled" [(ngModel)]="solicitudAcceso.codigoTipoPersona" [options]="lstTipoPersona" optionLabel="valor1" optionValue="codigo" placeholder="Seleccione"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label class="label">Tipo de Actor</label>
                <div class="form-control-selectk">
                    <p-dropdown [disabled]="dataBase.disabled" [(ngModel)]="solicitudAcceso.codigoTipoActor"  [options]="lstTipoActor" optionLabel="valor1" optionValue="codigo" placeholder="Seleccione"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="form-group" *ngIf="solicitudAcceso.codigoTipoActor=='TACTTCNC'">
                <label class="label">Tipo de CNCC</label>
                <div class="form-control-selectk">
                    <p-dropdown [disabled]="dataBase.disabled"  [(ngModel)]="solicitudAcceso.codigoTipoCncc"  [options]="lstTipoCNCC" optionLabel="valor1" optionValue="codigo" placeholder="Seleccione"></p-dropdown>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-0" *ngIf="solicitudAcceso.codigoEstadoSolicitud ==  null">
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label class="label">Departamento</label>
                <div class="form-control-selectk">
                    <p-dropdown  [disabled]="dataBase.disabled" [options]="listDepartamento" [(ngModel)]="solicitudAcceso.idDepartamentoPersona" optionLabel="nombreDepartamento" optionValue="idDepartamento"  (onChange)="onSelectedProvincia($event)" placeholder="Seleccione" ></p-dropdown>
                </div>
            </div>
          </div>
          <div class="col-12 col-sm-4">
            <div class="form-group">
                <label class="label">Provincia</label>
                <div class="form-control-selectk">
                  <p-dropdown  [disabled]="dataBase.disabled" [options]="listProvincia" [(ngModel)]="solicitudAcceso.idProvinciaPersona" optionLabel="nombreProvincia" optionValue="idProvincia" (onChange)="onSelectedDistrito($event)" placeholder="Seleccione"></p-dropdown>
                </div>
            </div>
          </div>
          <div class="col-12 col-sm-4">
            <div class="form-group">
                <label class="label">Distrito</label>
                <div class="form-control-selectk">
                  <p-dropdown  [disabled]="dataBase.disabled" [options]="listDistrito" [(ngModel)]="solicitudAcceso.idDistritoPersona" optionLabel="nombreDistrito" optionValue="idDistrito" placeholder="Seleccione"></p-dropdown>
                </div>
            </div>
          </div>
    </div>
    <div class="row m-0" *ngIf="solicitudAcceso.codigoEstadoSolicitud != null">
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label class="label">Departamento</label>
                <input type="text" [disabled]="dataBase.disabled" [(ngModel)]="solicitudAcceso.nombreDepartamento" class="form-control" autocomplete="off" />
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label class="label">Provincia</label>
                <input type="text" [disabled]="dataBase.disabled" [(ngModel)]="solicitudAcceso.nombreProvincia" class="form-control" autocomplete="off" />
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label class="label">Distrito</label>
                <input type="text" [disabled]="dataBase.disabled" [(ngModel)]="solicitudAcceso.nombreDistrito" class="form-control" autocomplete="off" />
            </div>
        </div>
    </div>


    <div class="row m-0">
      <div class="col-12 col-sm-4" *ngIf="dataBase.disabled">
        <div class="form-group">
          <label class="label">Descargar sustento</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="" [(ngModel)]="fileName" >
            <div class="input-group-append">
              <button type="button" id="btnDescargarFile" (click)="onDescargarArchivo()"  class="btn btn-sm btn-secondary">
                Descargue archivo<input type="button" style="display:none;"/>
              </button>
            </div>
          </div>
        </div>

      </div>


        <div class="col-12 col-sm-4" *ngIf="!dataBase.disabled">
          <div class="form-group">
            <label class="label">Adjuntar sustento</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="" [(ngModel)]="fileName" >
            <div class="input-group-append">
              <button type="button" id="btnCargarFile" (click)="fileInput.click()" class="btn btn-sm btn-secondary">
                Seleccione archivo<input #fileInput type="file" (change)="onFileSelected($event)" style="display:none;"/>
              </button>
            </div>
          </div>
          </div>

        </div>
    </div>

</p-fieldset>
