
<div class="col-12 mt-4 mb-3">
    <p-table
      styleClass="p-datatable-gridlines"
      [value]="listAnexo8Especies"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre común</th>
          <th>Nombre nativo</th>
          <th>Nombre científico</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
          <td>{{ data.textNombreComun }}</td>
          <td>{{ data.nombreNativo }}</td>
          <td>{{ data.textNombreCientifico }}</td>
        </tr>
      </ng-template>
    </p-table>
    <div class="row pt-4">
        <div class="col-sm-6" style="align-self: center !important;">
          <div class="text-center">
            <button  type="submit" class="btn-secondary" title="Descargar Anexo" (click)="descargarListadoAnexo8()">
              Descargar Anexo
            </button>
          </div>
        </div>
        <div class="col-sm-6">
          <input-buttons-maps-codigo
            [label]="'Adjuntar Anexo firmado'"
            [idPlanManejo]="idPlanManejo" [disabled]="disabled"
            [idTipoDocumento]="'POPACAAnexo8'"
            [codigoProceso]="'POPAC'"
          >
          </input-buttons-maps-codigo>
        </div>
      </div>
  </div>
