<div class="mt-2">
    <p class="texto-parrafo">
      Área forestal productiva (AFP) en las PC por cada bloque
      quinquenal (primera opción) y/o parcelas de corta establecidas
      indistintamente en el área de la UMF (segunda opción)</p>
  </div>
  <app-map-custom #map 
    [idPlanManejo]="idPGMF" 
    [codigoProceso]="CodigosManejoBosque.ACORDEON_7_1" 
    [codigoSubSeccion]="CodigosManejoBosque.ACORDEON_7_1_4"
    [tipoGeometria]="'TPPARC'" 
    [identificarBosque]="true" 
    [validaSuperposicionAprovechar]="true"
    [opcionCheckParcela]="opcionCheckParcela" 
    [valueCheckParcela]="valueCheckParcela"    
    (listTipoBosqueParcelaOpcion2)="listarTipoBosquePorBQuinquenalParcelaOpcion2($event)"
    (listTipoBosqueParcelaOpcion1)="listarTipoBosquePorBQuinquenalParcelaOpcion1($event)"
    [listParcelaOpcion1]= "bloqueQuinquenalOpcion1"
    [listParcelaOpcion2]= "bloqueQuinquenalOpcion2"
    (registrarArchivoId)="registroArchivo($event)">
  </app-map-custom>
  <!-- <h3 class="title2 p-4">Primer Opción</h3> -->
  <div class="mt-4">
    <label class="label">Primera Opción</label>
    <button type="button" (click)="fileInputSHPPrimerOpcion.click()"
            class="btn-secondary ml-2" [disabled]="isDisbledObjFormu">
            Cargar shape file
            <input #fileInputSHPPrimerOpcion [attr.data-zone]="'OPCION1'" type="file" (change)="onChangeFileSHP($event)"
              style="display: none;" />
          </button>
  </div>
  <div class="col-12 col-sm-12 text-right">
    <br />
    <button (click)="eliminarParcelaCorta(bloqueQuinquenalOpcion1, 'OPCION1')" class="btn btn-sm btn-default mb-2" type="button" 
      title="Eliminar Parcela Opcion 1" [disabled]="isDisbledObjFormu">
      <i class="pi pi-times"></i>
    </button>
    <br />
  </div>
  <p-table id="porBloque" [value]="bloqueQuinquenalOpcion1">
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="2" style="text-align: center; width: 10%;">
          Bloque
        </th >
        <th rowspan="2" style="text-align: center; width: 5%;">
          PC
        </th>
        <th rowspan="2" style="text-align: center; width: 50%;">
          Tipo de bosque
        </th>
        <th colspan="2" style="text-align: center; width: 30%;">
          AFP
        </th>
      </tr>
      <tr>
        <th style="text-align: center;">Ha</th>
        <th style="text-align: center;">%</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <!-- <tr>
        <th rowspan="2" style="text-align: center;">
          {{data.label}}
        </th>
        <th rowspan="2" style="text-align: center;">
          {{data.parcela}}
        </th>
      </tr>
      <tr *ngFor="let d of data.tipoBosque">
        <td style="text-align: center;">
          {{d.descripcion}}
        </td>
        <td style="text-align: center;">
          {{d.areaHA}}
        </td>
        <td style="text-align: center;">
          {{d.areaHAPorcentaje}}
        </td>
      </tr> -->
      <tr *ngFor="let d of data.tipoBosque; let first = first">
        <th *ngIf="first" [attr.rowspan]="data.tipoBosque.length" style="text-align: center;">
          {{ data.label }}
        </th>
        <th *ngIf="first" [attr.rowspan]="data.tipoBosque.length" style="text-align: center;">
          {{ data.parcela }}
        </th>
        <td style="text-align: center;">
          {{ d.descripcion }}
        </td>
        <td style="text-align: center;">
          {{ d.areaHA }}
        </td>
        <td style="text-align: center;">
          {{ d.areaHAPorcentaje }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="3" style="text-align: center;">Total</td>
        <td style="text-align: center;">{{ totalAreaQuinquenalOpcion1 | number : '1.2-2' }}</td>
        <td style="text-align: center;">{{ totalPorcentajeQuinquenalOpcion1 | number : '1.2-2' }}</td>
      </tr>
    </ng-template>
  </p-table>

  <!-- <h3 class="title2 p-4">Segunda Opción</h3> -->
  <div class="mt-4">
    <label class="label">Segunda Opción</label> 
    <button type="button" (click)="fileInputSHPSegundaOpcion.click()"
             class="btn-secondary ml-2" [disabled]="isDisbledObjFormu">
             Cargar shape file
             <input #fileInputSHPSegundaOpcion [attr.data-zone]="'OPCION2'" type="file" (change)="onChangeFileSHP($event)"
               style="display: none;" />
           </button>
   </div>
  <div class="col-12 col-sm-12 text-right">
    <br />
    <button (click)="eliminarParcelaCorta(bloqueQuinquenalOpcion2, 'OPCION2')" class="btn btn-sm btn-default mb-2" type="button" 
      title="Eliminar Parcela Opcion 2" [disabled]="isDisbledObjFormu">
      <i class="pi pi-times"></i>
    </button>
    <br />
  </div>
  <p-table id="indistinto" [value]="bloqueQuinquenalOpcion2">
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="2" style="text-align: center; width: 20%;">
          PC
        </th>
        <th rowspan="2" style="text-align: center; width: 50%;">
          Tipo de bosque
        </th>
        <th colspan="2" style="text-align: center; width: 30%;">
          AFP
        </th>
      </tr>
      <tr>
        <th style="text-align: center;">Ha</th>
        <th style="text-align: center;">%</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <!-- <tr>
        <th rowspan="2" style="text-align: center;">
          {{data.label}}
        </th>
      </tr>
      <tr *ngFor="let d of data.tipoBosque">
        <td style="text-align: center;">
          {{d.descripcion}}
        </td>
        <td style="text-align: center;">
          {{d.areaHA}}
        </td>
        <td style="text-align: center;">
          {{d.areaHAPorcentaje}}
        </td>
      </tr> -->
      <tr *ngFor="let d of data.tipoBosque; let first = first">
        <th *ngIf="first" [attr.rowspan]="data.tipoBosque.length" style="text-align: center;">
          {{ data.label }}
        </th>
        <td style="text-align: center;">
          {{ d.descripcion }}
        </td>
        <td style="text-align: center;">
          {{ d.areaHA }}
        </td>
        <td style="text-align: center;">
          {{ d.areaHAPorcentaje }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="2" style="text-align: center;">Total</td>
        <td style="text-align: center;">{{ totalAreaQuinquenalOpcion2 | number : '1.2-2' }}</td>
        <td style="text-align: center;">{{ totalPorcentajeQuinquenalOpcion2 | number : '1.2-2' }}</td>
      </tr>
    </ng-template>
  </p-table>

  <div class="row mt-4">    
    <div class="col-12 mt-2">
      <button 
        class="btn-primary2" 
        (click)="guardar()" 
        [disabled]="isDisbledObjFormu || (bloqueQuinquenalOpcion1.length == 0 && bloqueQuinquenalOpcion2.length == 0)"
      >
        Guardar
      </button>
  </div>
  </div>
