<ng-container *ngIf="!item.hidden">
    <a class="nav-link " [ngClass]="item.classes" *ngIf="item.url"
    [routerLink]="[item.url]" [routerLinkActive]="['active', 'accent']"
    [routerLinkActiveOptions]="{exact: item.exactMatch || false}"
    [target]="item.openInNewTab ? '_blank' : '_self'" (click)="guardarDatos(item)">
     <ng-container *ngTemplateOutlet="itemContent"></ng-container>
 </a>


 <ng-template #itemContent>
    <span class="nav-link-icon" *ngIf="item.icon"><i class="{{item.icon}}"></i></span>
    <span class="nav-link-title" [translate]="item.translate">{{item.title}}</span>
    <span class="nav-link-badge" *ngIf="item.badge" [translate]="item.badge.translate"
          [ngStyle]="{'background-color': item.badge.bg,'color': item.badge.fg}">
        {{item.badge.title}}
    </span>
</ng-template>

</ng-container>