<div class="container-fluit">
  <div class="row m-0 mb-3">
    <!-- TITULO -->
    <div class="col-12">
      <h3 class="title">Ep:N2.1 Bandeja de Establecimiento de Bosque Local</h3>
    </div>
    <!-- FILTROS -->
    <div class="col-12">
      <div class="panelk br10 p-3">
        <div class="row">
          <!-- Inputs -->
          <div class="col-12 col-sm-3 form-group">
            <label class="label">N° Solicitud:</label>
            <input class="form-control" [(ngModel)]="objbuscar.idSolicitud" autocomplete="off"
              placeholder="Ingresar N° solicitud" numero [maxLength]="8" />
          </div>
          <div class="col-12 col-sm-3 form-group">
            <label class="label">Solicitante:</label>
            <input class="form-control" type="text" [(ngModel)]="objbuscar.solicitante" autocomplete="off"
              placeholder="Ingresar nombre o razón social" />
          </div>
          <div class="col-12 col-sm-3 form-group">
            <label class="label">N° Doc. Solicitante:</label>
            <input class="form-control" numero maxlength="9" [(ngModel)]="objbuscar.documento" autocomplete="off"
              placeholder="Ingresar número de documento" />
          </div>
          <div class="col-12 col-sm-3 form-group">
            <label class="label">Estado Solicitud:</label>
            <div class="form-control-selectk">
              <p-dropdown [options]="comboEstado" placeholder="Seleccione" optionLabel="valorPrimario"
                optionValue="codigo" [(ngModel)]="objbuscar.estado">
              </p-dropdown>
            </div>
          </div>
          <!-- Botones -->
          <div class="col-sm-12 my-2 form-group text-center">
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnLimpiar()">Limpiar</button>
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnBuscar()">Buscar</button>
            <button *ngIf="(isPerBeneficiario || isPerMunicipio) && permisos.isPerRegistrar"
              class="btn btn-sm btn-secondary mr-2" (click)="btnNuevo()">Nueva Iniciativa</button>
          </div>
        </div>
      </div>
    </div>
    <!-- TABLA -->
    <div class="col-12 mt-4">
      <p-table [value]="listaBandeja">
        <ng-template pTemplate="header">
          <tr>
            <th>N° Solicitud</th>
            <th>Solicitante</th>
            <th>N° Doc. Solicitante</th>
            <th>Estado Solicitud</th>
            <!-- PERFIL BENEFICIARIO -->
            <ng-container *ngIf="isPerBeneficiario">
              <th>Ver Solicitud</th>
            </ng-container>
            <!-- PERFIL COMPONENTE ESTADISTICO -->
            <ng-container *ngIf="isPerCompEstad">
              <th>Expediente</th>
            </ng-container>
            <!-- PERFIL MUNICIPIO -->
            <ng-container *ngIf="isPerMunicipio">
              <th>Ver Solicitud</th>
              <th>Evaluación de Beneficiarios</th>
              <th>Eval. Comité Técnico</th>
              <th>Expediente</th>
            </ng-container>
            <!-- PERFIL ARFFS -->
            <ng-container *ngIf="isPerArffs">
              <th>Lista Previa Benef.</th>
              <th>Lista Final Benef.</th>
              <th>Ver Estudio Técnico</th>
              <th>Comité Técnico</th>
              <th>Expediente</th>
            </ng-container>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>{{data.idSolBosqueLocal}}</td>
            <td>{{data.nombreSolicitante}}</td>
            <td>{{data.numeroDocumentoSolicitante}}</td>
            <td>{{data.estadoSolicitudTexto}}</td>
            <!-- ******************PERFIL BENEFICIARIO****************** -->
            <ng-container *ngIf="isPerBeneficiario">
              <td>
                <!-- Editar solicitud -->
                <span *ngIf="data.estadoSolicitud === codEstado.BORRADOR && permisos.isPerEditar" class="pointer"><i
                    class="pi pi-pencil" title="Editar solicitud"
                    (click)="btnVer(data.idSolBosqueLocal, data.estadoSolicitud, false, true, false, false, false, true)"></i></span>
                <!-- Ver solicitud -->
                <span *ngIf="data.estadoSolicitud !== codEstado.BORRADOR && permisos.isPerVisualizar" class="pointer"><i
                    class="pi pi-eye" title="Ver solicitud"
                    (click)="btnVer(data.idSolBosqueLocal, data.estadoSolicitud, true, true, false, false, false, true)"></i></span>
              </td>
            </ng-container>
            <!-- ******************PERFIL COMPONENTE ESTADISTICO************ -->
            <ng-container *ngIf="isPerCompEstad">
              <td>
                <!-- Ver expediente -->
                <span *ngIf="data.estadoSolicitud === codEstado.SOL_TH && permisos.isPerVisualizar" class="pointer"><i
                    class="pi pi-eye" title="Ver Expediente" (click)="btnVerExpediente(data.idSolBosqueLocal)"></i></span>
              </td>
            </ng-container>
            <!-- ******************PERFIL MUNICIPIO****************** -->
            <ng-container *ngIf="isPerMunicipio">
              <td class="text-center">
                <!-- Editar solicitud -->
                <span *ngIf="data.estadoSolicitud === codEstado.BORRADOR && permisos.isPerEditar" class="pointer"><i
                    class="pi pi-pencil" title="Editar solicitud"
                    (click)="btnVer(data.idSolBosqueLocal, data.estadoSolicitud, false, true, false, false, false, true)"></i></span>
                <!-- Ver solicitud -->
                <span *ngIf="data.estadoSolicitud !== codEstado.BORRADOR && permisos.isPerVisualizar" class="pointer"><i
                    class="pi pi-eye" title="Ver solicitud"
                    (click)="btnVer(data.idSolBosqueLocal, data.estadoSolicitud, true, true, false, false, false, true)"></i></span>
              </td>
              <td class="text-center">
                <!-- Evaluacion de Beneficiarios -->
                <span *ngIf="data.estadoSolicitud === codEstado.EVAL_BENEF && permisos.isPerEditar" class="pointer"><i
                    class="pi pi-pencil" title="Evaluar Beneficiarios"
                    (click)="btnVer(data.idSolBosqueLocal, data.estadoSolicitud, true, false, true, false, false, true)"></i></span>
                <!-- Ver solicitud desfavorable-->
                <span *ngIf="data.estadoSolicitud === codEstado.EVAL_DESFAVORABLE && permisos.isPerVisualizar" class="pointer"><i
                  class="pi pi-eye" title="Ver solicitud Desfavorable"
                  (click)="btnVer(data.idSolBosqueLocal, data.estadoSolicitud, true, true, true, false, false, true)"></i></span>
                <!-- Eval solicitud -->
                <span *ngIf="data.estadoSolicitud === codEstado.PUBLICA_BENEF && permisos.isPerEditar"
                  class="pointer"><i class="pi pi-pencil" title="Evaluar solicitud Padron Final"
                    (click)="btnVer(data.idSolBosqueLocal, data.estadoSolicitud, true, true, true, false, false, true)"></i></span>
                <!-- Eval Estudio Tecnico -->
                <span *ngIf="data.estadoSolicitud === codEstado.PATRON_FINAL_BENEF && permisos.isPerEditar"
                  class="pointer"><i class="pi pi-pencil" title="Evaluar Estudio Técnico"
                    (click)="btnVer(data.idSolBosqueLocal, data.estadoSolicitud, true, true, true, true, false, true)"></i></span>
                <!-- Ver Estudio Tecnico -->
                <span
                  *ngIf="(data.estadoSolicitud === codEstado.CREACION_COMITE || data.estadoSolicitud === codEstado.EVAL_EXPED_TEC || data.estadoSolicitud === codEstado.OBS_EXPED_TEC ||
                    data.estadoSolicitud === codEstado.FAV_EXPED_TEC || data.estadoSolicitud === codEstado.DESFAV_EXPED_TEC ||
                    data.estadoSolicitud === codEstado.APROBADA || data.estadoSolicitud === codEstado.DENEGADA ||
                    data.estadoSolicitud === codEstado.SOL_TH) && permisos.isPerVisualizar"
                  class="pointer"><i class="pi pi-eye" title="Ver Estudio Técnico"
                    (click)="btnVer(data.idSolBosqueLocal, data.estadoSolicitud, true, true, true, true, true, true)"></i></span>
              </td>
              <!-- Evaluacion Comité Técnico -->
              <td class="text-center">
                <!-- Editar por observacion Eval Comité Técnico -->
                <span *ngIf="data.estadoSolicitud === codEstado.OBS_EXPED_TEC && permisos.isPerEditar"
                  class="pointer"><i class="pi pi-pencil" title="Editar observado comité técnico"
                    (click)="btnEvalComite(data.idSolBosqueLocal, data.estadoSolicitud, false, true, !!data.evaluacionGabinete, !!data.evaluacionCampo, false, false, false, false)"></i></span>
                <!-- Ver por favorable o desfavorable Eval Comité Técnico -->              <!-- true -->
                <span
                  *ngIf="(data.estadoSolicitud === codEstado.FAV_EXPED_TEC || data.estadoSolicitud === codEstado.DESFAV_EXPED_TEC ||
                    data.estadoSolicitud === codEstado.APROBADA || data.estadoSolicitud === codEstado.DENEGADA ||
                    data.estadoSolicitud === codEstado.SOL_TH) && permisos.isPerEditar"
                  class="pointer"><i class="pi pi-eye" title="Ver observado comité técnico"
                    (click)="btnEvalComite(data.idSolBosqueLocal, data.estadoSolicitud, true, true, !!data.evaluacionGabinete, !!data.evaluacionCampo, false, false, false, false)"></i></span>
              </td>
              <td class="text-center">
                <!-- Ver expediente -->
                <span *ngIf="data.estadoSolicitud === codEstado.SOL_TH && permisos.isPerVisualizar" class="pointer"><i
                    class="pi pi-eye" title="Ver Expediente" (click)="btnVerExpediente(data.idSolBosqueLocal)"></i></span>
              </td>
            </ng-container>
            <!-- ******************PERFIL ARFFS****************** -->
            <ng-container *ngIf="isPerArffs">
              <!-- Descargar Lista Previa -->
              <td class="text-center">
                <span *ngIf="permisos.isPerVisualizar" class="pointer"><i class="pi pi-download" title="Descargar"
                    (click)="btnDescargarArchivo(data.idSolBosqueLocal, true)"></i></span>
              </td>
              <!-- Descargar Lista Final -->
              <td class="text-center">
                <span *ngIf="permisos.isPerVisualizar"
                  [ngClass]="(data.estadoSolicitud === codEstado.PUBLICA_BENEF)?'disabled-pointer':''"
                  class="pointer"><i class="pi pi-download" title="Descargar"
                    (click)="btnDescargarArchivo(data.idSolBosqueLocal, false)"></i></span>
              </td>
              <!-- Ver Estudio Tecnico -->
              <td class="text-center">
                <span
                  *ngIf="(data.estadoSolicitud === codEstado.CREACION_COMITE || data.estadoSolicitud === codEstado.EVAL_EXPED_TEC ||
                  data.estadoSolicitud === codEstado.OBS_EXPED_TEC ||
                  data.estadoSolicitud === codEstado.FAV_EXPED_TEC || data.estadoSolicitud === codEstado.DESFAV_EXPED_TEC ||
                  data.estadoSolicitud === codEstado.APROBADA || data.estadoSolicitud === codEstado.DENEGADA ||
                  data.estadoSolicitud === codEstado.SOL_TH) && permisos.isPerVisualizar"
                  class="pointer"><i class="pi pi-eye" title="Ver estudio técnico"
                    (click)="btnVer(data.idSolBosqueLocal, data.estadoSolicitud, true, true, false, true, true, false)"></i></span>

              </td>
              <!-- Crear Comité Técnico -->
              <td class="text-center">
                <span *ngIf="data.estadoSolicitud === codEstado.CREACION_COMITE && permisos.isPerRegistrar"
                  class="pointer"><i class="pi pi-pencil" title="Crear comité técnico"
                    (click)="btnCrearComite(data.idSolBosqueLocal)"></i></span>


                <span *ngIf="data.estadoSolicitud === codEstado.EVAL_EXPED_TEC && permisos.isPerRegistrar"
                  class="pointer"><i class="pi pi-eye" title="Ver comité técnico"
                    (click)="btnVerComite(data.idSolBosqueLocal)"></i></span>
              </td>
              <td class="text-center">
                <!-- Ver expediente -->
                <span *ngIf="data.estadoSolicitud === codEstado.SOL_TH && permisos.isPerVisualizar" class="pointer"><i
                    class="pi pi-eye" title="Ver Expediente" (click)="btnVerExpediente(data.idSolBosqueLocal)"></i></span>
              </td>
            </ng-container>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)"
        [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros">
      </p-paginator>
    </div>
  </div>
  <p-confirmPopup></p-confirmPopup>
</div>
