<ng-container>
    <a class="nav-link" [ngClass]="item.groupOpen ? 'expan':''"  *ngIf="!item.url"  (click)="toggleOpen($event,item)" >
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>

    <ng-template #itemContent>
        <span class="nav-link-icon" *ngIf="item.icon"> <i class="{{item.icon}}"></i> </span>
        <span class="nav-link-title" >{{item.title}}</span>
        <span class="nav-link-badge" *ngIf="item.badge" 
        [ngStyle]="{'background-color': item.badge.bg,'color': item.badge.fg}">
            {{item.badge.title}}
        </span>
        <span class="icon-expan"><i class="pi pi-angle-right"></i> </span>
    </ng-template>

    <div class="children">
        <ng-container *ngFor="let item of item.children">
            <sidebar-nav-item *ngIf="item.type=='item'" [item]="item"></sidebar-nav-item>
            <sidebar-nav-group *ngIf="item.type=='group'"  [item]="item"></sidebar-nav-group>            
        </ng-container>
    </div>
</ng-container>
