<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12 p-0">
      <p-accordion>
        <p-accordionTab header="6.1 Etapa de Aprovechamiento" [selected]="true">
          <app-aprovechamiento-form
            [idPlanManejo]="idPlanManejo"
            [disabled]="disabled"
            (aprovechamientoDetalleOutput)="onAprovechamiento($event)"
          ></app-aprovechamiento-form>
        </p-accordionTab>
        <p-accordionTab
          header="6.2 Ciclo de Corta y División  Administrativa (Solo en Caso el Aprovechamiento Implique la Muerte del Individuo)"
          [selected]="false"
        >
          <app-map-custom-pmfi #map
            [idPlanManejo]="idPlanManejo"
            [codigoProceso]="'PMFI'"
            [codigoSubSeccion]="'PMFISHAPESM'"
            [tipoGeometria]="'Otros'"
            [isAnexo]="false"
            [printPDF]="false"
          ></app-map-custom-pmfi  >

          <div class="row m-0">
            <div class="col-12">
              <textarea
                class="form-control"
                cols="5"
                rows="4"
                [disabled]="disabled"
                [(ngModel)]="objDivisionAdministrativa.observacion"
                maxlength="250"
              ></textarea>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="6.3 Labores Silviculturales" [selected]="false">
          <app-labores-silviculturales-form
            [idPlanManejo]="idPlanManejo"
            [disabled]="disabled"
            (laboresDetalleOutput)="onLaboresSilviculturales($event)"
          ></app-labores-silviculturales-form>
        </p-accordionTab>

        <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon"
            [base]="detEvaluacion"
          ></evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <div class="step__btn mt-4">
    <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button
      *ngIf="!isPerfilArffs"
      class="btn-primary2"
      type="button"
      [disabled]="disabled"
      (click)="guardar()"
    >
      Guardar
    </button>
    <button
      *ngIf="isPerfilArffs"
      class="btn-primary2"
      (click)="registrarEvaluacion()"
    >
      Guardar Evaluación
    </button>
    <button
      *ngIf="isPerfilArffs"
      class="btn-primary2"
      (click)="retornarFlujoEvaluacion()"
    >
      Retornar Flujo Evaluacion
    </button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
  <br />
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
