<div class="row">
    
    <ng-container>

        <div class="col-12 form-group">
            <label for="nombre">Actividad</label>
            <input type="text" id="nombre" autocomplete="off" class="form-control contents_form_input"
                 placeholder="" [(ngModel)]="params_insetar_detalle.actividad">
        </div>
        
        <div class="col-12 form-group">
            <label for="nombre">Especies Extraídas</label>
            <input type="text" id="nombre" autocomplete="off" class="form-control contents_form_input"
                placeholder="" [(ngModel)]="params_insetar_detalle.especies">
        </div>

        <div class="col-12 form-group">
            <label for="ubicasion">Observaciones</label>
            <input type="text" id="ubicacion" autocomplete="off" class="form-control contents_form_input"
                placeholder="" [(ngModel)]="params_insetar_detalle.observaciones">
        </div>
    </ng-container>
</div>

<div class="d-flex justify-content-end">
    <button icon="pi pi-save" (click)="agregar()" pButton pRipple type="button" label="Agregar"
                class="p-button-success p-button-outlined"></button> &nbsp;&nbsp;
    <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
              class="p-button-danger p-button-outlined" ></button>
</div>