<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="Del Contrato" [selected]="true">
          <div class="p-4">
            <div class="row">
              <div class="form-group col-sm-12">
                <h3 class="title2">DATOS DEL TITULAR</h3>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4">
                <label class="label">Tipo de Persona</label>
                <input
                  [(ngModel)]="form.tipoPersona"
                  type="tetx"
                  autocomplete="off"
                  class="form-control form-control-sm"
                  maxlength="50"
                  disabled
                />
              </div>
              <div class="form-group col-sm-4">
                <label class="label">Tipo Documento</label>
                <input
                  [(ngModel)]="form.tipoDocumentoElaborador"
                  type="text"
                  autocomplete="off"
                  class="form-control form-control-sm"
                  maxlength="20"
                  disabled
                />
              </div>
              <div class="form-group col-sm-4 text-center">
                <div><label class="label">&nbsp;</label></div>
                <button (click)="openModal()" class="btn btn-sm btn-secondary" [disabled]="disabled">
                  Buscar
                </button>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4">
                <label class="label">Documento</label>
                <input
                  [(ngModel)]="form.dniElaboraDema"
                  type="text"
                  autocomplete="off"
                  class="form-control form-control-sm"
                  maxlength="100"
                  disabled
                />
              </div>
              <div class="form-group col-sm-8">
                <label class="label">Nombre o Razón Social</label>
                <input
                  [(ngModel)]="form.nombreElaboraDema"
                  type="text"
                  autocomplete="off"
                  class="form-control form-control-sm"
                  maxlength="100"
                  disabled
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4">
                <label class="label">No. de Contrato de la Concesión</label>
                <input
                  [(ngModel)]="form.nroResolucionComunidad"
                  numero
                  [min]="0"
                  [maxLength]="50"
                  autocomplete="off"
                  class="form-control form-control-sm"
                  disabled
                />
              </div>
              <div class="form-group col-sm-8">
                <label class="label">Dirección Empresa</label>
                <input
                  [(ngModel)]="form.direccionLegalTitular"
                  type="text"
                  autocomplete="off"
                  class="form-control form-control-sm"
                  maxlength="100"
                  disabled
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4">
                <label class="label"> Domicilio Legal / Distrito</label>
                <div class="form-control-selectk">
                  <input
                    [(ngModel)]="form.distritoRepresentante"
                    type="text"
                    autocomplete="off"
                    class="form-control form-control-sm"
                    maxlength="100"
                    disabled
                  />
                </div>
              </div>
              <div class="form-group col-sm-4">
                <label class="label"> Provincia</label>
                <div class="form-control-selectk">
                  <input
                    [(ngModel)]="form.provinciaRepresentante"
                    type="text"
                    autocomplete="off"
                    class="form-control form-control-sm"
                    maxlength="100"
                    disabled
                  />
                </div>
              </div>
              <div class="form-group col-sm-4">
                <label class="label"> Departamento</label>
                <div class="form-control-selectk">
                  <input
                    [(ngModel)]="form.departamentoRepresentante"
                    type="text"
                    autocomplete="off"
                    class="form-control form-control-sm"
                    maxlength="100"
                    disabled
                  />
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="form-group col-sm-12">
                <h3 class="title2">DATOS DEL REPRESENTANTE LEGAL</h3>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4">
                <label class="label">Tipo Documento</label>
                <input
                  [(ngModel)]="form.tipoDocumentoRepresentante"
                  type="text"
                  autocomplete="off"
                  class="form-control form-control-sm"
                  maxlength="20"
                  disabled
                />
              </div>
              <div class="form-group col-sm-4">
                <div class="form-group">
                  <label class="label">Documento</label>
                  <input
                    type="text"
                    autocomplete="off"
                    [(ngModel)]="form.documentoRepresentante"
                    class="form-control form-control-sm"
                    maxlength="100"
                    disabled
                  />
                </div>
              </div>
              <div class="form-group col-sm-4">
                <label class="label">Nombre del Representante Legal</label>
                <input
                  [(ngModel)]="form.nombreCompletoRepresentante"
                  type="text"
                  autocomplete="off"
                  class="form-control form-control-sm"
                  maxlength="100"
                  disabled
                />
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Del Plan Operativo (PO)">
          <div class="p-4">
            <div class="row form-group">
              <div class="col-12 col-md-6">
                <label class="label">Número de PO:</label>
              </div>
              <div class="col-12 col-md-6">
                <div class="content-date">
                  <input
                    name="campo1"
                    class="form-control"
                    autocomplete="off"
                    placeholder="Ingrese el nro. de PO"
                    [(ngModel)]="form.observacion"
                    numero
                    [min]="0"
                    [maxLength]="50"
                    disabled
                  />
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-12 col-md-6">
                <label class="label">Objetivo General del PO</label>
              </div>
              <div class="col-12 col-md-6">
                <div class="content-date">
                  <input
                    name="campo1"
                    type="text"
                    class="form-control" [disabled]="disabled"
                    autocomplete="off"
                    placeholder="Ingrese Objetivo General del PO"
                    [(ngModel)]="form.detalle"
                    maxlength="100"
                  />
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-4 mt-2">
                <div class="form-group">
                  <label class="label">Fecha de presentación de PO:</label>
                  <div class="content-date">
                    <input
                      [(ngModel)]="form.fechaElaboracionPmfi"
                      autocomplete="off" [disabled]="disabled"
                      class="form-control"
                      [min]="minDate"
                      [matDatepicker]="fpPGMF"
                    />
                    <i
                      class="pi pi-calendar pointer"
                      (click)="!disabled&& fpPGMF.open()"
                    ></i>
                    <mat-datepicker #fpPGMF></mat-datepicker>
                  </div>
                </div>
              </div>

              <div class="col-4 mt-2">
                <div class="form-group">
                  <label class="label">Duración inicial:</label>
                  <input
                    [(ngModel)]="vigenciaIncial"
                    type="text"
                    autocomplete="off"
                    class="form-control form-control-sm"
                    disabled
                  />
                </div>
              </div>

              <div class="col-4 mt-2">
                <div class="form-group">
                  <label class="label">Duración final:</label>
                  <input
                    [(ngModel)]="vigenciaFinal"
                    type="text"
                    autocomplete="off"
                    class="form-control form-control-sm"
                    disabled
                  />
                </div>
              </div>

              <div class="row col-12 mt-2">
                <div class="col-3">
                  <div class="form-group">
                    <label class="label"
                      >Número(s) de las PC(s) a las que aplica el PO:</label
                    >
                    <input
                      name="campo1"
                      class="form-control"
                      placeholder="Ingrese 1, 2 o 3"
                      [(ngModel)]="form.nroAnexosComunidad"
                      (change)="numeroPc($event)" [disabled]="disabled"
                      numero
                      [min]="0"
                      [max]="4"
                      [maxLength]="1"
                    />
                  </div>
                </div>

                <div class="row col-9 m-0">
                  <div
                    class="col-4"
                    *ngFor="let item of form.lstUmf; let index = index"
                  >
                    <div class="form-group" *ngIf="item.detalle == 'SI'">
                      <label class="label">Area PC {{index +1}}:</label>
                      <input
                        type="number"
                        class="form-control" [disabled]="disabled"
                        placeholder="Ingrese Area"
                        [(ngModel)]="item.area"
                        (change)="totalPc($event, item, index)"
                        numero
                        [min]="0"
                        [maxLength]="6"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-4 mt-2">
                <div class="form-group">
                  <label class="label"
                    >Área total de la PC(s) a aprovechar (ha)3:</label
                  >
                  <input
                    [(ngModel)]="form.superficieHaMaderables"
                    autocomplete="off"
                    class="form-control form-control-sm"
                    decimal
                    [min]="0"
                    [maxLength]="15"
                    [decimalPlaces]="2"
                    (change)="onChangeEventSuperficieHaMaderables($event)"
                    disabled
                  />
                </div>
              </div>

              <div class="col-4 mt-2">
                <div class="form-group">
                  <label class="label">Fecha de Inicio</label>
                  <div class="content-date">
                    <input
                      [(ngModel)]="form.fechaInicioDema"
                      autocomplete="off"
                      class="form-control" [disabled]="disabled"
                      [matDatepicker]="fechaInicio"
                      [min]="minDate"
                      (ngModelChange)="validarInformacion()"
                    />
                    <i
                      class="pi pi-calendar pointer"
                      (click)="!disabled&& fechaInicio.open()"
                    ></i>
                    <mat-datepicker #fechaInicio></mat-datepicker>
                  </div>
                </div>
              </div>

              <div class="col-4 mt-2">
                <div class="form-group">
                  <label class="label">Fecha Fin</label>
                  <div class="content-date">
                    <input
                      [(ngModel)]="form.fechaFinDema"
                      autocomplete="off"
                      class="form-control"
                      matInput [disabled]="disabled"
                      [matDatepicker]="fechaFin"
                      [min]="minDateFinal"
                      [max]="maxDateFinal"
                      (ngModelChange)="handleAdmDateChange()"
                    />
                    <i
                      class="pi pi-calendar pointer"
                      (click)="!disabled&& fechaFin.open()"
                    ></i>
                    <mat-datepicker #fechaFin></mat-datepicker>
                  </div>
                </div>
              </div>
              <div class="col-4 mt-2">
                <div class="form-group">
                  <label class="label"
                    >Área de bosque de producción forestal(ha):</label
                  >
                  <input
                    [(ngModel)]="form.superficieHaNoMaderables"
                    autocomplete="off"
                    class="form-control form-control-sm"
                    decimal [disabled]="disabled"
                    [min]="0"
                    [maxLength]="15"
                    [decimalPlaces]="2"
                    (change)="onChangeEventSuperficieHaNoMaderables($event)"
                  />
                </div>
              </div>

              <div class="col-4 mt-2">
                <div class="form-group">
                  <label class="label">Área de protección(ha):</label>
                  <input
                    [(ngModel)]="form.volumenM3rMaderables"
                    autocomplete="off"
                    class="form-control form-control-sm"
                    decimal [disabled]="disabled"
                    [min]="0"
                    [maxLength]="15"
                    [decimalPlaces]="2"
                    (change)="onChangeEventVolumenM3rMaderables($event)"
                  />
                </div>
              </div>

              <div class="col-4 mt-2">
                <div class="form-group">
                  <label class="label">Volumen total solicitado (m3):</label>
                  <input
                    [(ngModel)]="form.volumenM3rNoMaderables"
                    name="campo1"
                    class="form-control"
                    autocomplete="off"
                    placeholder="Ingrese Volumen total solicitado (m3)"
                    decimal
                    [min]="0"
                    [maxLength]="15"
                    [decimalPlaces]="2"
                    (change)="onChangeEventVolumenM3rNoMaderables($event)"
                    disabled
                  />
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-12 col-md-6">
                <label class="label"
                  >Volumen, cantidad, peso(kg), total de productos forestales no
                  maderables solicitado</label
                >
              </div>

              <div class="col-12 col-md-6">
                <input
                  [(ngModel)]="form.totalCostoEstimado"
                  name="campo1"
                  class="form-control"
                  autocomplete="off"
                  placeholder="Ingrese Volumen. cantidad o peso"
                  decimal
                  [min]="0"
                  [maxLength]="15"
                  [decimalPlaces]="2"
                  disabled
                />
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Del Regente Forestal">
          <!-- <regente-form [idPgmf]="idPgmf" (regenteOutput)="onRegenteForestal($event)" [regenteForestal]="regenteForestal"></regente-form> -->
          <div class="row m-0">
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">N° DNI</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="form.regente?.numeroDocumento!"
                  autocomplete="off"
                  maxlength="8"
                  disabled
                />
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label">Nombre del Regente</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="nombreCompleto"
                  disabled
                />
              </div>
            </div>
            <div class="col-12 col-sm-2 text-center">
              <div class="form-group">
                <div><label class="label">&nbsp;</label></div>
                <button
                  (click)="abrirModalRegente()" [disabled]="disabled"
                  class="btn btn-sm btn-secondary"
                >
                  Buscar
                </button>
              </div>
            </div>
          </div>
          <div class="row m-0 pb-4">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label"
                  >Número de registro CIP
                </label>
                <input
                  type="text"
                  autocomplete="off"
                  class="form-control" [disabled]="disabled"
                  [(ngModel)]="numeroInscripcion"
                  maxlength="50"
                />
              </div>
            </div>
            <div class="col-12 col-sm-6" mt-2>
              <div class="form-group">
                <label class="label">Domicilio legal</label>
                <input
                  type="text"
                  class="form-control" [disabled]="disabled"
                  [(ngModel)]="form.direccionLegalRepresentante"
                />
              </div>
            </div>
          </div>

          <div class="row m-0 pb-4">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label"
                  >Contrato suscrito con el titular del titulo habilitante
                </label>
                <input
                  type="text"
                  autocomplete="off"
                  class="form-control" [disabled]="disabled"
                  maxlength="50"
                  [(ngModel)]="contratoSuscrito"
                />
              </div>
            </div>
            <div class="col-12 col-sm-6" mt-2>
              <div class="form-group">
                <label class="label"
                  >N° inscripción en el registro de regentes que conduce el
                  SERFOR</label
                >
                <input
                  type="text" [disabled]="disabled"
                  class="form-control"
                  [(ngModel)]="form.regente?.numeroLicencia!"
                />
              </div>
            </div>
          </div>

          <div class="row m-0 pb-4">

              <div class="col-12 col-sm-6">
                <input-buttons
                  [label]="'Adjuntar Certificado de habilidad'"
                  [idPlanManejo]="idPlanManejo"
                  [idTipoDocumento]="35" [disabled]="disabled"
                  [codigoProceso]="'POCCACH'"
                >
                </input-buttons>
              </div>

            <div class="col-12 col-sm-6">
              <input-buttons
                [label]="'Cargar contrato regente'"
                [idPlanManejo]="idPlanManejo"
                [idTipoDocumento]="35" [disabled]="disabled"
                [codigoProceso]="'POCC'"
              >
              </input-buttons>
            </div>


          </div>


        </p-accordionTab>
        <div class="step__btn mt-2">
          <button
            class="btn-primary2"
            [routerLink]="['/planificacion/bandeja-POCC']"
          >
            Anterior
          </button>
          <button
            *ngIf="!editForm"
            type="submit"
            class="btn-primary2"
            (click)="guardar()"
            [disabled]="disabled||disabledSave"
          >
            Guardar
          </button>
          <button
            *ngIf="editForm"
            type="submit"
            class="btn-primary2"
            (click)="actualizarInformacionGeneral()"
            [disabled]="disabled||disabledSave"
          >
            Guardar
          </button>
          <button class="btn-primary2" (click)="siguienteTab()">
            Siguiente
          </button>
        </div>
      </p-accordion>
    </div>
  </div>
</div>

<p-toast></p-toast>

<p-dialog
  header="Buscar Regente"
  appendTo="body"
  [(visible)]="verModalRegente"
  [modal]="true"
  [style]="{ width: '60vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row m-0">
      <div class="col-12 col-sm-9">
        <div class="form-group">
          <label class="label">Buscar por DNI</label>
          <div class="form-control-selectk">
            <input
              type="text"
              class="form-control"
              placeholder="Ingresa N° DNI"
              [(ngModel)]="queryRegente"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="form-group">
          <label class="label">&nbsp;&nbsp;</label>
          <div class="text-center">
            <button
              type="button"
              class="btn-primary2"
              (click)="filtrarRegente()"
            >
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12">
        <p-table [value]="regentes">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 50px;"></th>
              <th>Regente</th>
              <th>DNI</th>
              <th>Estado</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>
                <p-radioButton
                  name="regente"
                  [(ngModel)]="selectRegente"
                  [value]="data"
                >
                </p-radioButton>
              </td>
              <td>{{ data.nombres }} {{ data.apellidos }}</td>
              <td>{{ data.numeroDocumento }}</td>
              <th>{{ data.estado == "V" ? "Vigente" : "No Vigente" }}</th>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="guardarRegente()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verModalRegente = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
