<div>
  <p-accordion>
    <p-accordionTab
      class="{{ classEstado }}"
      header="{{numeracion}}.1 Generación y Descarga de Reporte de Evaluación"
    >
      <div class="row m-0">
        <div class="col-12 p-0">
          <button
            type="button"
            class="btn btn-primary2 pl-3 pr-3"
            (click)="generarDescargarReporte()"
          >
            Generar y Descargar Reporte de Evaluación
          </button>
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab
      class="{{ classEstado }}"
      header="{{numeracion}}.2 Carga de Informe de Evaluación"
    >
      <div class="row m-0">
        <div class="col-12">
          <label class="label" style="font-weight: bold;"
            >Informe de Evaluación Firmado</label
          >
        </div>
        <div class="col-12 col-sm-8">
          <!-- <input-buttons
            [file]="archivoRecurso"
            [label]="''"
            [idPlanManejo]="idPlanManejo"
            [idTipoDocumento]="42"
            [codigoProceso]="codigoPlan"
          >
          </input-buttons> -->
          <input-buttons-codigo 
            [idPlanManejo]="idPlanManejo"
            [idTipoDocumento]="42"
            [codigoProceso]="codigoPlan"
          >
          </input-buttons-codigo>
        </div>
        <div class="col-12 col-sm-8 mb-3">
          <div class="p-field-radiobutton d-inline-full">
            <p-radioButton
              name="statusInforme1"
              inputId="favorable"
              [(ngModel)]="radioSelect"
              [value]="'FAVO'"
            ></p-radioButton>
            <label class="m-0 pl-1 pointer" for="favorable">Favorable</label>
          </div>
          <div class="p-field-radiobutton d-inline-full">
            <p-radioButton
              name="statusInforme2"
              inputId="desfavorable"
              [(ngModel)]="radioSelect"
              [value]="'DESF'"
            ></p-radioButton>
            <label class="m-0 pl-1 pointer" for="desfavorable"
              >Desfavorable</label
            >
          </div>
          <div class="p-field-radiobutton d-inline-full">
            <p-radioButton
              name="statusInforme3"
              inputId="observado"
              [(ngModel)]="radioSelect"
              [value]="'OBSE'"
            ></p-radioButton>
            <label class="m-0 pl-1 pointer" for="observado">Observado</label>
          </div>
        </div>

        <div class="col-12" *ngIf="radioSelect == 'OBSE'">
          <informe-evaluacion-shared
            [resolucion]="'OBSE'"
            [titulo]="'Subsanación de Observaciones'"
            [idPlanManejo]="idPlanManejo"
            [codigoPlan]="codigoPlan"
            [listDocumentos]="listDocumentos"
            (onChange)="onChange($event)"
            [observadoObj]="observadoObj"
          ></informe-evaluacion-shared>
        </div>

        <div class="col-12" *ngIf="radioSelect == 'FAVO'">
          <informe-evaluacion-shared
            [resolucion]="'FAVO'"
            [titulo]="'Resultado Favorable'"
            [idPlanManejo]="idPlanManejo"
            [codigoPlan]="codigoPlan"
            [listDocumentos]="listDocumentos"
            (onChange)="onChange($event)"
            [favorableObj]="favorableObj"
          ></informe-evaluacion-shared>
        </div>

        <div class="col-12" *ngIf="radioSelect == 'DESF'">
          <informe-evaluacion-shared
            [resolucion]="'DESF'"
            [titulo]="'Resultado Desfavorable'"
            [idPlanManejo]="idPlanManejo"
            [codigoPlan]="codigoPlan"
            [listDocumentos]="listDocumentos"
            (onChange)="onChange($event)"
            [desFavorableObj]="desFavorableObj"
          ></informe-evaluacion-shared>
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab
      class="{{ classEstado }}"
      header="{{numeracion}}.3 Envio de Información"
    >
      <div class="row m-0">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Nombre Perfil</label>
            <div class="form-control-selectk">
              <p-dropdown
                [options]="perfiles"
                optionLabel="valorPrimario"

                [(ngModel)]="perfilObj"
                placeholder="Seleccione"
              ></p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-2">
          <div><label class="label">&nbsp;&nbsp;</label></div>
          <button
            (click)="agregarPerfil()"
            type="button"
            class="btn btn-secondary mb-3"
          >
            Agregar
          </button>
        </div>
      </div>
      <div class="row m-0 mt-4">
        <div class="col-12 col-sm-8">
          <p-table [value]="perfilesAgregados">
            <ng-template pTemplate="header">
              <tr>
                <th>Acciones</th>
                <th>Nombre de Perfil</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td>
                  <span
                    (click)="openEliminarPerfil($event,rowIndex,data )"
                    class="pointer fz-13"
                    ><i class="pi pi-trash"></i
                  ></span>
                </td>
                <td>{{data.valorPrimario}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <div class="row m-0 mt-4">
        <div class="col-12 col-sm-8 text-right">
          <button
            type="button"
            class="btn btn-primary2 pl-3 pr-3"
            (click)="guardarEnviar()"
            [disabled]="!perfilesAgregados || perfilesAgregados.length === 0"
          >
            Guardar y Enviar
          </button>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
  <div class="step__btn mt-4">
    <button class="btn-primary2">Anterior</button>
    <button class="btn-primary2" (click)="finalizar()">
      Finalizar
    </button>
  </div>
</div>
<p-toast></p-toast>
