<div class="mt-4 mb-4">
  <div class="form-group row m-0 mb-2" *ngIf="perfil == perfiles.TITULARTH">
    <!--  <label
        for="inputPassword"
        class="col-sm-10 pl-0 col-form-label label fz-15"
        >Lista de requisitos TUPA</label
      > -->
    <div class="col-2 col-sm-12 text-right">
      <button
        (click)="adjuntarTupa()"
        class="btn btn-sm btn-default mb-2"
        type="button"
        title="Agregar"
        [disabled]="disabled"
      >
        <i class="pi pi-plus"></i>
      </button>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-12">
      <div class="table">
        <p-table
          [value]="listadoTupa"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Total : {totalRecords} registros"
          [rowsPerPageOptions]="[10, 25, 50]"
          [lazy]="true"
          (onLazyLoad)="loadMesaPartes($event)"
          [totalRecords]="listadoTupa.length"
          [selection]="selectedCustomers"
        >
          <ng-template pTemplate="header">
            <tr>
              <th *ngIf="tipo == 'TUPA' && perfil == perfiles.MESA_DE_PARTES">
                Acciones
              </th>
              <th *ngIf="tipo == 'TUPA' && perfil != perfiles.MESA_DE_PARTES && perfil != perfiles.SERFOR && perfil != perfiles.COMPONENTE_ESTADISTICO">
                Acción
              </th>
              <th *ngIf="tipo == 'TUPA'">Número de Documento</th>
              <th>Tipo Documento</th>
              <th>Nombre Documento</th>
              <th>Fecha de Documento</th>
              <th>Observaciones</th>
              <th *ngIf="tipo == 'TUPA'">Archivo</th>

              <th
                *ngIf="
                  tipo == 'TUPA' &&
                  (perfil == perfiles.MESA_DE_PARTES ||
                    perfil == perfiles.AUTORIDAD_REGIONAL)
                "
              >
                Fecha Mesa de Partes
              </th>
              <th
                *ngIf="
                  tipo == 'TUPA' &&
                  (perfil == perfiles.MESA_DE_PARTES ||
                    perfil == perfiles.AUTORIDAD_REGIONAL)
                "
              >
                Observaciones Mesa de Partes
              </th>
              <th *ngIf="perfil == perfiles.AUTORIDAD_REGIONAL">
                Estado evaluación
              </th>

              <th
                *ngIf="
                  tipo == 'TUPA' &&
                  perfil == perfiles.AUTORIDAD_REGIONAL &&
                  isJustificacion
                "
              >
                Observaciones Evaluador
              </th>

              <th
                *ngIf="tipo == 'TUPA' && perfil == perfiles.AUTORIDAD_REGIONAL"
              >
                Firma
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <tr>
              <!-- select mesa de partes -->

              <td *ngIf="tipo == 'TUPA' && perfil == perfiles.MESA_DE_PARTES">
                <span
                  class="pointer mr-3"
                  (click)="openModalFechaMdp(data, rowIndex)"
                  ><i class="pi pi-eye"></i
                ></span>
              </td>
              <!-- acciones  -->
              <td
                *ngIf="
                  tipo == 'TUPA' &&
                  perfil != perfiles.MESA_DE_PARTES &&
                  perfil != perfiles.AUTORIDAD_REGIONAL &&
                  perfil != perfiles.SERFOR &&
                  perfil != perfiles.COMPONENTE_ESTADISTICO
                "
              >
                <span
                  class="pointer mr-3"
                  title="Evaluar"
                  (click)="editarLineamiento(data, rowIndex)"
                  ><i class="pi pi-pencil"></i
                ></span>
                <span
                  class="mr-1"
                  (click)="eliminarLineamiento($event, data, rowIndex)"
                  ><i class="pi pi-trash"></i
                ></span>
              </td>

              <td
                *ngIf="
                  tipo == 'TUPA' &&
                  perfil != perfiles.MESA_DE_PARTES &&
                  perfil == perfiles.AUTORIDAD_REGIONAL
                "
              >
                <span
                  class="pointer mr-3"
                  (click)="editarLineamiento(data, rowIndex)"
                  ><i class="pi pi-send" title="Evaluar"></i
                ></span>
                <span
                  class="pointer mr-1"
                  (click)="eliminarLineamiento($event, data, rowIndex)"
                  ><i class="pi pi-trash" title="Eliminar"></i
                ></span>
              </td>

              <!-- no de tramite -->
              <td *ngIf="tipo == 'TUPA'">
                {{ data.detalle }}
              </td>
              <!-- tipo doc y nombre  -->
              <td>{{ data.codigo }}</td>
              <td>{{ data.descripcion }}</td>

              <td>
                {{ data.fechaDocumento | date: "dd/MM/YYYY" : 'UTC'}}
              </td>

              <td *ngIf="tipo == 'TUPA'">
                {{ data.comentario }}
              </td>

              <!-- descarga de archivo adjuntado -->
              <td *ngIf="tipo == 'TUPA'">
                <a
                  *ngIf="data.idArchivo > 0"
                  download
                  target="_blank"
                  (click)="descargarArchivo(data.idArchivo)"
                  ><i class="pi pi-download"></i
                ></a>
              </td>

              <td
                *ngIf="
                  tipo == 'TUPA' &&
                  (perfil == perfiles.MESA_DE_PARTES ||
                    perfil == perfiles.AUTORIDAD_REGIONAL)
                "
              >
                {{ data.fecha | date: "dd/MM/yyyy": 'UTC' }}
              </td>

              <td
                *ngIf="
                  tipo == 'TUPA' &&
                  (perfil == perfiles.MESA_DE_PARTES ||
                    perfil == perfiles.AUTORIDAD_REGIONAL)
                "
              >
                {{ data.observacion }}
              </td>

              <td *ngIf="perfil == perfiles.AUTORIDAD_REGIONAL">
                <span *ngIf="data.conforme == 'true'"> Conforme </span>
                <span *ngIf="data.conforme == 'false'"> Observado </span>
              </td>

              <td
                *ngIf="
                  tipo == 'TUPA' &&
                  perfil == perfiles.AUTORIDAD_REGIONAL &&
                  isJustificacion
                "
              >
                {{ data.justificacion }}
              </td>

              <td
                *ngIf="tipo == 'TUPA' && perfil == perfiles.AUTORIDAD_REGIONAL"
              >
                <a
                  download
                  target="_blank"
                  *ngIf="data.archivo > 0"
                  (click)="descargarArchivo(data.archivo)"
                  ><i class="pi pi-download"></i
                ></a>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <!-- <div class="col-12">
    <label
      *ngIf="pendiente"
      class="lbl-info mt-3 mb-3"
      style="float: none !important"
    >
      (Los cambios locales se guardarán pulsando el botón "Guardar".)
    </label>
  </div> -->
</div>
<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
<p-dialog
  appendTo="body"
  [header]="
    !edit
      ? 'Agregar requisitos TUPA'
      : perfil == perfiles.AUTORIDAD_REGIONAL
      ? 'Evaluar requisitos TUPA'
      : 'Editar requisitos TUPA'
  "
  [(visible)]="verModalMantenimiento"
  [modal]="true"
  [style]="{ width: '30vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div>
      <div class="form-group">
        <label class="label">Tipo de documento</label>
        <div>
          <div class="form-control-selectk">
            <p-dropdown
              appendTo="body"
              [options]="listTipos"
              placeholder="Seleccionar"
              optionLabel="valor1"
              optionValue="valor1"
              [(ngModel)]="lineamiento.codigo"
              [disabled]="isEditarFechaDePartes || isEditarEvaluacionArffs"
            >
            </p-dropdown>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="label">Fecha de documento</label>
        <div>
          <div class="content-date">
            <input
              autocomplete="off"
              class="form-control"
              matInput
              [matDatepicker]="fecha"
              placeholder="Seleccione Fecha"
              readonly
              [min]="minDate"
              [(ngModel)]="fechaDocumento"
              [disabled]="isEditarFechaDePartes || isEditarEvaluacionArffs"
            />
            <i class="pi pi-calendar pointer" (click)="fecha.open()"></i>
            <mat-datepicker #fecha></mat-datepicker>
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="tipo == 'TUPA'">
        <label class="label">Número de Documento</label>
        <div>
          <div class="content-date">
            <input
              autocomplete="off"
              class="form-control"
              matInput
              [(ngModel)]="lineamiento.detalle"
              [disabled]="isEditarFechaDePartes || isEditarEvaluacionArffs"
            />
          </div>
        </div>
      </div>
      <input-buttons-codigo-id
        [label]="'Adjuntar sustento'"
        [idTipoDocumento]="idTipoDocumento"
        [codigoProceso]="codigoProceso"
        [idPlanManejo]="idPlanManejo"
        [archivoById]="lineamiento.idArchivo"
        (idArchivoEmit)="idArchivoEmit = $event"
        (nombreArchivo)="nombreArchivo = $event"
        [disabled]="isEditarFechaDePartes || isEditarEvaluacionArffs"
      >
      </input-buttons-codigo-id>

      <div class="form-group" *ngIf="tipo == 'TUPA'">
        <label class="label">Observaciones (máx. 250 caracteres):</label>
        <div>
          <textarea
            type="text"
            class="form-control form-control-sm"
            cols="3"
            rows="4"
            [(ngModel)]="lineamiento.comentario"
            maxlength="250"
            [disabled]="isEditarFechaDePartes || isEditarEvaluacionArffs"
          ></textarea>
        </div>
      </div>

      <div
        class="form-group"
        *ngIf="
          (tipo == 'TUPA' && perfil == perfiles.MESA_DE_PARTES) ||
          (perfil == perfiles.AUTORIDAD_REGIONAL &&
            isEvaluacionArffs &&
            isEditarEvaluacionArffs)
        "
      >
        <label class="label">Fecha Mesa de Partes</label>
        <div>
          <div class="content-date">
            <input
              autocomplete="off"
              class="form-control"
              matInput
              [matDatepicker]="fecha"
              placeholder="Seleccione Fecha Mesa de Partes"
              readonly
              [min]="minDate"
              [(ngModel)]="fechaDocumentoMdp"
              [disabled]="perfil == perfiles.AUTORIDAD_REGIONAL"
            />
            <i class="pi pi-calendar pointer" (click)="fecha.open()"></i>
            <mat-datepicker #fecha></mat-datepicker>
          </div>
        </div>
      </div>

      <div
        class="form-group"
        *ngIf="
          (tipo == 'TUPA' && perfil == perfiles.MESA_DE_PARTES) ||
          (perfil == perfiles.AUTORIDAD_REGIONAL &&
            isEvaluacionArffs &&
            isEditarEvaluacionArffs)
        "
      >
        <label class="label">Observaciones Mesa de Partes (máx. 250 caracteres):</label>
        <div>
          <textarea
            type="text"
            class="form-control form-control-sm"
            cols="3"
            rows="4"
            [(ngModel)]="lineamiento.observacion"
            maxlength="250"
            [disabled]="perfil == perfiles.AUTORIDAD_REGIONAL"
          ></textarea>
        </div>
      </div>

      <div
        *ngIf="
          (perfil == perfiles.AUTORIDAD_REGIONAL && isEvaluacionArffs) ||
          isNewEvaluacionArffs
        "
      >
        <firma-pad
          [label]="'Adjuntar firma'"
          (idArchivoFirma)="lineamiento.archivo = $event"
          [idArchivo]="lineamiento.archivo"
          [idTipoDocumento]="idTipoDocumentoFirma"
          [codigoProceso]="codigoProceso"
          [idPlanManejo]="idPlanManejo"
        ></firma-pad>
      </div>

      <td
        *ngIf="
          (perfil == perfiles.AUTORIDAD_REGIONAL && isEvaluacionArffs) ||
          isNewEvaluacionArffs
        "
      >
        <!-- <label class="label col-12">Evaluación</label> -->

        <label class="label mb-2">Estado Evaluación</label>

        <div class="mb-2">
          <div class="p-field-radiobutton d-inline-full">
            <p-radioButton
              [(ngModel)]="lineamiento.conforme"
              [value]="'true'"
            ></p-radioButton>
            <label class="mr-2 pl-1 pointer">Conforme</label>
          </div>
          <div class="p-field-radiobutton d-inline-full">
            <p-radioButton
              [(ngModel)]="lineamiento.conforme"
              [value]="'false'"
            ></p-radioButton>
            <label class="mr-2 pl-1 pointer">Observado</label>
          </div>
        </div>
      </td>

      <div
        class="form-group"
        *ngIf="
          lineamiento.conforme == 'false' &&
          (perfil == perfiles.AUTORIDAD_REGIONAL || isNewEvaluacionArffs)
        "
      >
        <label class="label"
          >Observaciones Evaluador (máx. 250 caracteres):</label
        >

        <div>
          <textarea
            type="text"
            class="form-control form-control-sm"
            cols="3"
            rows="4"
            [(ngModel)]="lineamiento.justificacion"
            maxlength="250"
          ></textarea>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
      style="width: 106px"
      (click)="registrarLineamiento()"
      *ngIf="!isEditarFechaDePartes && !isEvaluacionArffs"
    ></button>
    <button
      icon="pi pi-save"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
      style="width: 106px"
      (click)="editarFechaDePartes()"
      *ngIf="isEditarFechaDePartes && !isEvaluacionArffs"
    ></button>
    <button
      icon="pi pi-save"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
      style="width: 106px"
      (click)="updateEvaluacion()"
      *ngIf="isEvaluacionArffs"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verModalMantenimiento = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
      style="width: 106px"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Seleccionar Requisito"
  appendTo="body"
  [(visible)]="verModalRequisito"
  [modal]="true"
  [style]="{ width: '60vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row m-0">
      <div class="col-12 col-sm-9">
        <div class="form-group">
          <label class="label">Nombre Requisito </label>
          <div class="form-control-selectk">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar..."
              [(ngModel)]="queryRequisito"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="form-group">
          <label class="label">&nbsp;&nbsp;</label>
          <div class="text-center">
            <button
              type="button"
              class="btn-primary2"
              (click)="filtrarRequisitos()"
            >
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12">
        <p-table
          [value]="listProcedimientosAdministrativos"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} "
          [lazy]="true"
          (onLazyLoad)="lazyLoadProcedimiento($event)"
          [totalRecords]="listProcedimientosAdministrativos.length"
          [rowsPerPageOptions]="[10, 25, 50]"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Código</th>
              <th>Procedimiento Administrativo</th>
              <th>Ubigeo</th>
              <th>Seleccionar</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{ data.codigoProcedimiento }}</td>
              <td>{{ data.procedimientoAdministrativo }}</td>
              <td>{{ data.ubigeo }}</td>
              <td class="text-center">
                <i
                  class="pi pi-arrow-circle-right pointer"
                  title="Seleccionar"
                  aria-hidden="true"
                  (click)="seleccionarProcedimiento(data)"
                >
                </i>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <br />
      <br />
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-times"
      (click)="verModalRequisito = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Agregar requisitos TUPA"
  appendTo="body"
  [(visible)]="verAdjuntarTupa"
  [modal]="true"
  [style]="{ width: '25vw' }"
  [maximizable]="false"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      pButton
      pRipple
      type="button"
      label="Si"
      class="p-button-success p-button-outlined"
      style="width: 106px"
      (click)="abrirModalMantenimiento()"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verAdjuntarTupa = false"
      pButton
      pRipple
      type="button"
      label="No"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>

<!-- <p-dialog
  header="Adjuntar Firma"
  appendTo="body"
  [(visible)]="verAdjuntarFirma"
  [modal]="true"
  [maximizable]="false"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
>
  <ng-template pTemplate="body">
    <firma-pad
      (actionCerrar)="verAdjuntarFirma = $event"
      (idArchivoFirma)="registrarFirmaLineamiento($event)"
      [idTipoDocumento]="idTipoDocumentoFirma"
      [codigoProceso]="codigoProceso"
      [idPlanManejo]="idPlanManejo"
    ></firma-pad>
  </ng-template>
</p-dialog> -->
