<div class="row">
  <div class="col-12 form-group">
    <label for="contingencia">Contingencia</label>
    <div *ngIf="isDisabled">
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="contingenciaObjt.contingencia"
        placeholder="Ingrese medida de contingencia"
        [disabled]="isDisabled"
        maxlength="100"
      />
    </div>
    <div *ngIf="!isDisabled">
      <div class="form-control-selectk">
        <p-dropdown
          [options]="listaContingencia"
          optionLabel="valor1"
          optionValue="codigo"
          placeholder="Selecciona medida de contingencia"
          [(ngModel)]="contingenciaObjt.contingencia"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <div
    class="col-12 form-group"
    *ngIf="(contingenciaObjt.contingencia == 'CONTIOTRO' || isDisabledOtros)"
  >
    <label for="contingencia">Espesifique otra contingencia</label>

    <div>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="contingenciaObjt.otra"
        placeholder="Ingrese medida de contingencia"
        maxlength="100"
      />
    </div>
  </div>

  <div class="col-12 form-group">
    <label for="accionesRealizar">Acciones a realizar</label>
    <input
      type="text"
      id="accionesRealizar"
      autocomplete="off"
      class="form-control contents_form_input"
      [(ngModel)]="contingenciaObjt.accionesRealizar"
      placeholder="Ingrese acción a realizar"
      maxlength="100"
    />
  </div>

  <div class="col-12 form-group">
    <label for="responsable">Responsable</label>
    <input
      type="text"
      id="responsable"
      autocomplete="off"
      class="form-control contents_form_input"
      [(ngModel)]="contingenciaObjt.responsable"
      placeholder="Ingrese responsable"
      maxlength="100"
    />
  </div>
</div>
<div class="d-flex justify-content-end">
  <button
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
    [label]="'Aceptar'"
    class="p-button-success p-button-outlined"
    style="width: 106px;"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
    style="width: 106px;"
  ></button>
</div>
<p-toast key="toast"></p-toast>
