<div class="col-12 mt-4 mb-3">
  <p-table [value]="planificacion" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 14%;" class="m-0 text-center">Mapa N°</th>
        <th style="width: 30%;" class="m-0 text-center">Información</th>
        <th style="width: 7%;" class="m-0 text-center">Nivel 2 (mediana escala)</th>
        <th style="width: 9%;" class="m-0 text-center">Componente Catastro</th>
        <th style="width: 15%;" class="m-0 text-center">Adjuntar Shapefile Área</th>
        <th style="width: 15%;" class="m-0 text-center">Adjuntar Shapefile Vértice</th>
        <th style="width: 9%;" class="m-0 text-center">Visualizar Información</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td [attr.rowspan]="data.value.length + 1">
          {{data.key}}
        </td>
      </tr>
      <tr *ngFor="let item of data.value">
        <td>
          {{ item.label }}
          <div *ngFor="let it of item.layers" class="p-0 mt-2 d-flex" style="border: none;">
            <input class="ml-1 mr-1 pointer" type="checkbox" [checked]="true" (change)="visualizarCapa($event, it.idLayer)" *ngIf="it.view" />
            <label class="m-0 p-0 text-left pointer gh-label" style="flex: 2" [ngStyle]="{ color: it.color }">
              {{ it.nombre }}
              <span class="pointer ml-1" title="{{ item.overlap ? 'Capa Superpuesta' : 'Capa contenida'}} ">
                <i class="{{ it.overlap ? 'pi pi-info-circle color-red' : 'pi pi-check-circle color-green' }}" *ngIf="it.service" aria-hidden="true"></i>
              </span>
            </label>
          </div>
        </td>
        <td style="text-align: center;">{{ item.value }}</td>
        <td class="m-0 text-center">
          <span class="pr-2 pl-2">
            <input type="checkbox" (change)="checkCatastro($event, item.codigo)" [checked]="item.validate"
            [disabled]="((item.codigo !='COD1') && (item.codigo !='COD2') && (item.codigo !='COD3') && (item.codigo !='COD4')
              && (item.codigo !='COD7') && (item.codigo !='COD9'))||disabled" />
          </span>
        </td>
        <td class="m-0 text-center">
          <span class="pr-2 pl-2" (click)="!disabled&&fileInput.click()" disabled="data.cargarDocumento" *ngIf="!item.idLayerArea">
            <i class="pi pi-upload pointer" title="Adjuntar"></i>
            <input [attr.data-codigo]='item.codigo' [attr.data-tipo]="'TPAREA'" [attr.data-codigotim]='item.codigotim' [attr.data-validate]='item.validate'
              #fileInput type="file" (change)="cargarArchivo($event)" style="display: none;" accept=".zip" />
          </span>
          <span class="pr-2 pl-2" (click)="descargarArchivo(item, 'TPAREA')" disabled="item.editarDocumento" *ngIf="item.idArchivoArea">
            <i class="pi pi-download pointer" title="Descargar"></i>
          </span>
          <span class="pr-2 pl-2" (click)="!disabled&&eliminarArchivo(item, 'TPAREA')" disabled="item.editarDocumento" *ngIf="item.idLayerArea">
            <i class="pi pi-trash pointer" title="Eliminar"></i>
          </span>
          <span class="pr-2 pl-2" (click)="!disabled&&registrar(item.codigo, 'TPAREA')" *ngIf="item.isNewArea">
            <i class="pi pi-save pointer" title="Guardar"></i>
          </span>
          <span class="pr-2 pl-2">
            <input type="checkbox" [disabled]="disabled" checked (change)="visualizarCapa($event, item.idLayerArea)" *ngIf="item.idLayerArea" />
          </span>
        </td>
        <td class="m-0 text-center">
          <button class="btn btn-sm pr-2 pl-2" (click)="fileInput2.click()" disabled="data.cargarDocumento" *ngIf="!item.idLayerVertice"
            [disabled]="((item.codigo !='COD1') && (item.codigo !='COD3') && (item.codigo !='COD10') && (item.codigo !='COD11') && (item.codigo !='COD12')) ||disabled">
            <i class="pi pi-upload pointer" title="Adjuntar"></i>
            <input [attr.data-codigo]='item.codigo' [attr.data-tipo]="'TPPUNTO'" [attr.data-codigotim]='item.codigotim'
              #fileInput2 type="file" (change)="cargarArchivo($event)" style="display: none;" accept=".zip" />
          </button>
          <span class="pr-2 pl-2" (click)="descargarArchivo(item, 'TPPUNTO')" disabled="item.editarDocumento" *ngIf="item.idArchivoVertice">
            <i class="pi pi-download pointer" title="Descargar"></i>
          </span>
          <span class="pr-2 pl-2" (click)="!disabled&&eliminarArchivo(item, 'TPPUNTO')" disabled="item.editarDocumento" *ngIf="item.idLayerVertice">
            <i class="pi pi-trash pointer" title="Eliminar"></i>
          </span>
          <span class="pr-2 pl-2" (click)="!disabled&&registrar(item.codigo, 'TPPUNTO')" *ngIf="item.isNewVertice">
            <i class="pi pi-save pointer" title="Guardar"></i>
          </span>
          <span class="pr-2 pl-2">
            <input type="checkbox" checked [disabled]="disabled" (change)="visualizarCapa($event, item.idLayerVertice)" *ngIf="item.idLayerVertice" />
          </span>
        </td>
        <td class="m-0 text-center" >
          <button class="btn btn-sm mt-1" type="button" (click)="openModal(item, item.propiedad)"
          [disabled]="((item.codigo != 'COD6') && (item.codigo != 'COD7') && (item.codigo != 'COD9')) ||disabled" >
            <i class="pi pi-eye pointer" title="visualizar"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<!-- <div class="mt-4">
  <button type="submit" class="btn-primary2" (click)="registrar()">
    Guardar
  </button>
</div> -->

<p-confirmDialog [style]="{width: '300px'}" key="deleteFileTIM"></p-confirmDialog>
