<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 pt-3">
      <h3 class="title">BANDEJA EVALUACIÓN Y APROBACIÓN DE OTORGAMIENTO DE TH</h3>
    </div>
    <div class="col-12">

      <div class="panelk br10 p-3">
        <div class="row">

          <div class="col-sm-12 col-md-6 form-group">
            <label class="label">Proceso Postulación:</label>
            <input [maxLength]="9" autocomplete="off" [(ngModel)]="procesoPostulacionSelect" class="form-control" numero/>
          </div>

          <div class="col-sm-12 col-md-6 form-group">
            <label class="label">Estado Resultado:</label>
            <div class="form-control-selectk">
              <p-dropdown class="fomr-control" [options]="estadoevaluacion" [(ngModel)]="selectestadoevaluacion">
              </p-dropdown>
            </div>
          </div>

          <div class="col-sm-12 col-md-12 mb-2 form-group text-center">
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnLimpiar()">Limpiar</button>
            <button class="btn btn-sm btn-secondary mr-2" (click)="cargarPP()">Buscar</button>
            <button class="btn btn-sm btn-primary2" (click)="generarResolucion()">Ver Cuadro Resumen</button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 mt-4 mb-3">

      <div class="tablek">
        <p-table [value]="listaResultadoPP" >
          <ng-template pTemplate="header">
            <tr>
              <th>Acciones</th>
              <th>Id Proceso Postulación</th>
              <th>Representante Legal</th>
              <th>Usuario Postulante</th>
              <th>Estado</th>
              <th>Id Proceso Oferta</th>
              <th>Fecha Postulación</th>
              <th>Nota Total</th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-obj>
            <tr>
              <td>
                <span class="mr-3" style="cursor: pointer;" (click)="verDetalle(obj)" title="Ver detalle de evaluación"> <i class="pi pi-eye"></i> </span>
                <span *ngIf="obj.ganador != null && obj.ganador != false" title="Ver Respuesta" style="cursor: pointer;" (click)="verRespuesta(obj)"> <i
                  class="pi pi-check-square"></i> </span>
              </td> 
              <td>{{obj.idProcesoPostulacion}}</td>
              <td>{{obj.representanteLegal}}</td>
              <td>{{obj.nombreUsuarioPostulacion}}</td>
              <td>{{obj.ganador == null ? "En evaluación" :obj.ganador == true ? "Calificado" : "Descalificado" }}</td>
              
              <td>{{obj.idProcesoOferta}}</td>
              <td>{{obj.fechaPostulacionString}}</td>
              <td>{{obj.notaTotal}}</td>

            </tr>
          </ng-template>
        </p-table>
        <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)" [showCurrentPageReport]="true" currentPageReportTemplate="Total : {totalRecords} registros"
        [rowsPerPageOptions]="[10,25,50]"></p-paginator>
      </div>

    </div>
  </div>
</div>
