<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="2.1. Del Predio" [selected]="true">
          <!-- MAPA -->
          <app-map-custom-sol-plantacion #map [idPFDM]="idBPF" [codigoProceso]="codigoProceso"
            [codigoSubSeccion]="codigoSubSeccion" [tipoGeometria]="'Otros'" [validaSuperposicionAprovechar]="true"
            [calcularArea]="true" [showBotonCargarGeneral]="false" [showBotonCargarCustom]="showBotonCargarCustom" [showInTH]="isTM_TH"
            [tipoArchivoArea]="tipoArchivoArea" [tipoArchivoPunto]="tipoArchivoPunto"
            (areaTotal)="calcularAreaTotal($event)" (listVertices)="listarVertices($event)"
            [isDisbledFormu]="isDisbledFormu || isSolicitudHija" [showBotonGuardar]="!(isDisbledFormu || isSolicitudHija)"
            (loadedFile)="loadedFile=$event">

          </app-map-custom-sol-plantacion>
          <div class="row m-0 mt-3">
            <div class="col-12 col-sm-6 form-group">
              <label class="label">Nombre del Predio:</label>
              <div class="form-control-selectk">
                <input class="form-control" type="text" autocomplete="off" sinSpacioInit [disabled]="isDisbledFormu"
                  [(ngModel)]="requestPredio.predio" maxlength="100" />
              </div>
            </div>
          </div>

          <div class="row m-0">
            <div class="col-12 col-sm-5 form-group">
              <label class="label">Nombre de Propietario:</label>
              <input disabled [(ngModel)]="requestPredio.propietario_predio" type="text" autocomplete="off"
                class="form-control" />
            </div>
            <div class="col-12 col-sm-2 form-group">
              <label class="label">DNI: </label>
              <input disabled [(ngModel)]="requestPredio.num_documento" type="text" autocomplete="off"
                class="form-control" />
            </div>
            <div class="col-12 col-sm-2 form-group">
              <label class="label">RUC:</label>
              <input disabled [(ngModel)]="requestPredio.ruc" type="text" autocomplete="off" class="form-control" />
            </div>
            <div class="col-12 col-sm-3 form-group">
              <label class="label">Caserío:</label>
              <input [disabled]="isDisbledFormu" [(ngModel)]="requestPredio.caserio" sinSpacioInit maxlength="50" type="text" autocomplete="off"
                class="form-control" />
            </div>
          </div>

          <div class="row m-0">
            <div class="col-12 col-sm-3 form-group">
              <label class="label">Superficie (ha):</label>
              <input [disabled]="isDisbledFormu" [(ngModel)]="requestPredio.superficieHa" type="text" autocomplete="off"
                class="form-control" decimal [decimalPlaces]="2" [max]="1000000000000"/>
            </div>
            <div class="col-12 col-sm-3 form-group">
              <label class="label">Departamento:</label>
              <div class="form-control-selectk">
                <p-dropdown [disabled]="isDisbledFormu" [(ngModel)]="requestPredio.id_departamento"
                  [options]="ListaDepartamento" placeholder="Seleccione" optionLabel="nombreDepartamento"
                  optionValue="idDepartamento" (onChange)="changeDepartamento()"></p-dropdown>
              </div>
            </div>
            <div class="col-12 col-sm-3 form-group">
              <label class="label">Provincia:</label>
              <div class="form-control-selectk">
                <p-dropdown [disabled]="isDisbledFormu" [(ngModel)]="requestPredio.id_provincia"
                  [options]="ListaProvincia" placeholder="Seleccione" optionLabel="nombreProvincia"
                  optionValue="idProvincia" (onChange)="changeProvincia()">
                </p-dropdown>
              </div>
            </div>
            <div class="col-12 col-sm-3 form-group">
              <label class="label">Distrito:</label>
              <div class="form-control-selectk">
                <p-dropdown [disabled]="isDisbledFormu"
                  [options]="ListaDistrito" placeholder="Seleccione" optionLabel="nombreDistrito"
                  optionValue="idDistrito" [(ngModel)]="requestPredio.codDistrito"> </p-dropdown>
              </div>
            </div>
          </div>

          <div class="row m-0">
            <div class="col-12 col-sm-4">
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="3"> Cuadro de Coordenadas UTM del Área Solicitada </th>
                  </tr>
                  <tr>
                    <th colspan="2">Datum horizontal:</th>
                    <th>WGS 84</th>
                  </tr>
                  <tr>
                    <th colspan="2" class="text-right">Zona *</th>
                    <th class="p-0" style="padding: 1px 4px !important">
                      <input type="text" class="form-control" autocomplete="off" sinSpacioInit maxlength="20"
                        [(ngModel)]="requestPredio.zonaUTM" [disabled]="isDisbledFormu" />
                    </th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="col-12 col-sm-8">
              <p-table [value]="listaCoordenadas" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[5,10,25,50]">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Vértice</th>
                    <th>Este (E)</th>
                    <th>Norte (N)</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                  <tr>
                    <td>{{data.vertice}}</td>
                    <td>{{data.este}}</td>
                    <td>{{data.norte}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>

          <ng-container *ngIf="isTM_Predio">
            <div class="row m-0 mt-3">
              <div class="col-12">
                <div class="panelk br10 mt-3 p-2">
                  <div class="row m-0 mt-3">
                    <div class="col-12">
                      <label class="label">Condición:</label>
                    </div>
                    <!-- Inversionista -->
                    <div class="col-12 col-sm-3 my-auto form-group">
                      <p-checkbox [(ngModel)]="requestPredio.cond1" inputId="binary1" [binary]="true" [disabled]="isDisbledFormu">
                      </p-checkbox>
                      <label for="binary1" class="label my-auto ml-2">Inversionista</label>
                    </div>
                    <div class="col-12 col-sm-3 form-group">
                      <label class="label">Tipo de Documento:</label>
                      <div class="form-control-selectk">
                        <p-dropdown [disabled]="isDisbledFormu || !requestPredio.cond1" [(ngModel)]="requestPredio.tipoDoc1"
                          [options]="listTipoDoc" (onChange)="seleccionarTipoDocumento()" optionLabel="valor1" 
                          optionValue="codigo" placeholder="Seleccione">
                        </p-dropdown>
                      </div>
                    </div>
                    <div class="col-12 col-sm-3 form-group">
                      <label class="label">Número de Documento:</label>
                      <input [disabled]="isDisbledFormu || !requestPredio.cond1" [(ngModel)]="requestPredio.numDoc1" type="text"
                        autocomplete="off" class="form-control" numero maxlength="11" />
                    </div>
                    <div class="col-sm-12 col-md-3 form-group">
                      <label class="label">&nbsp;&nbsp;&nbsp;</label>
                      <div *ngIf="isRuc">
                        <button
                          pButton
                          pRipple
                          type="button"
                          label="Validar SUNAT"
                          [ngClass]="
                            validaPIDEClass ? 'p-button-success' : 'p-button-danger'
                          "
                          class="p-button-rounded p-button-outlined"
                          (click)="validarPide(1)"
                        ></button>
                      </div>
                      <div *ngIf="isDni">
                        <button
                          pButton
                          pRipple
                          type="button"
                          label="Validar RENIEC"
                          [ngClass]="
                            validaPIDEClass ? 'p-button-success' : 'p-button-danger'
                          "
                          class="p-button-rounded p-button-outlined"
                          (click)="validarPide(2)"
                        ></button>
                      </div>
                    </div>
                   
                    <div class="col-12 col-sm-3 form-group"></div>
                    <div class="col-12 col-sm-9 form-group">
                      <label class="label">Datos del Inversionista:</label>
                      <input [disabled]="true" [(ngModel)]="requestPredio.nombres" type="text"
                        autocomplete="off" class="form-control" numero maxlength="20" />
                    </div>
                    <div class="col-12 col-sm-3 form-group"></div>
                    <div class="col-12 col-sm-5 form-group">
                      <app-carga-archivo-general [disabled]="isDisbledFormu || !requestPredio.cond1" accept=".pdf" [idArchivo]="adjuntoA2_1.idArchivo"
                        [tipoDoc]="adjuntoA2_1.tipoArchivo" label="Adjuntar Contrato .PDF:" [disabledDescargar]="!requestPredio.cond1"
                        (registrarArchivo)="registrarArchivo($event, 1)" (eliminarArchivo)="eliminarArchivo($event, 1)">
                      </app-carga-archivo-general>
                    </div>
                    <div class="col-12 col-sm-4 form-group">
                      <label class="label">Descripción Adjunto:</label>
                      <input [disabled]="isDisbledFormu || !requestPredio.cond1" [(ngModel)]="requestPredio.descAdjInv"
                        type="text" autocomplete="off" class="form-control" />
                    </div>
                    <!-- Propietario -->
                    <div class="col-12 col-sm-3 my-auto form-group">
                      <p-checkbox [(ngModel)]="requestPredio.cond2" inputId="binary2" [binary]="true" [disabled]="isDisbledFormu">
                      </p-checkbox>
                      <label for="binary2" class="label my-auto ml-2">Propietario (Titular)</label>
                    </div>
                    <div class="col-12 col-sm-3 form-group">
                      <label class="label">Tipo de Documento:</label>
                      <div class="form-control-selectk">
                        <p-dropdown [disabled]="isDisbledFormu || !requestPredio.cond2" [(ngModel)]="requestPredio.tipoDoc2"
                          [options]="listTipoDoc" optionLabel="valor1" (onChange)="seleccionarTipoDocumento1()" optionValue="codigo" placeholder="Seleccione">
                        </p-dropdown>
                      </div>
                    </div>
                    <div class="col-12 col-sm-3 form-group">
                      <label class="label">Número de Documento:</label>
                      <input [disabled]="isDisbledFormu || !requestPredio.cond2" [(ngModel)]="requestPredio.numDoc2" type="text"
                        autocomplete="off" class="form-control" numero maxlength="20" />
                    </div>
                    <div class="col-sm-12 col-md-3 form-group">
                      <label class="label">&nbsp;&nbsp;&nbsp;</label>
                      <div *ngIf="isRuc1">
                        <button
                          pButton
                          pRipple
                          type="button"
                          label="Validar SUNAT"
                          [ngClass]="
                            validaPIDEClass1 ? 'p-button-success' : 'p-button-danger'
                          "
                          class="p-button-rounded p-button-outlined"
                          (click)="validarPide1(1)"
                        ></button>
                      </div>
                      <div *ngIf="isDni1">
                        <button
                          pButton
                          pRipple
                          type="button"
                          label="Validar RENIEC"
                          [ngClass]="
                            validaPIDEClass1 ? 'p-button-success' : 'p-button-danger'
                          "
                          class="p-button-rounded p-button-outlined"
                          (click)="validarPide1(2)"
                        ></button>
                      </div>
                    </div>
                    <div class="col-12 col-sm-3 form-group"></div>
                    <div class="col-12 col-sm-9 form-group">
                      <label class="label">Datos del propietario</label>
                      <input [disabled]="true" [(ngModel)]="requestPredio.datos" type="text"
                        autocomplete="off" class="form-control" numero maxlength="20" />
                    </div>
                    <div class="col-12 col-sm-3 form-group"></div>
                    <div class="col-12 col-sm-4 form-group">
                      <app-carga-archivo-general [disabled]="isDisbledFormu || !requestPredio.cond2" accept=".pdf" [idArchivo]="adjuntoA2_2.idArchivo"
                        [tipoDoc]="adjuntoA2_2.tipoArchivo" label="Adjuntar Contrato .PDF:" [disabledDescargar]="!requestPredio.cond2"
                        (registrarArchivo)="registrarArchivo($event, 2)" (eliminarArchivo)="eliminarArchivo($event, 2)">
                      </app-carga-archivo-general>
                    </div>
                    <div class="col-12 col-sm-4 form-group">
                      <label class="label">Descripción Adjunto:</label>
                      <input [disabled]="isDisbledFormu || !requestPredio.cond2" [(ngModel)]="requestPredio.descAdjProp"
                        type="text" autocomplete="off" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <div class="row m-0 mt-3">
            <div class="col-12 mt-3" *ngIf="!isDisbledFormu">
              <button type="button" class="btn-primary2 ml-0" (click)="btnRegPredio()" [disabled]="isDisbledFormu">
                Guardar
              </button>
            </div>
          </div>

          <div class="row m-0 mt-3" *ngIf="isShowEval">
            <div class="col-12">
              <app-evaluar-solicitud-bpf [disabled]="isDisbledEval" [idBPF]="idBPF" [codSeccion]="codigoPLFOR.TAB_2"
                [codSubSeccion]="codigoPLFOR.TAB_2_1" [isLayout2]="true" [isTM_Dominio]="isTM_Dominio"></app-evaluar-solicitud-bpf>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="2.2. Del Título Habilitante" *ngIf="isTM_TH">
          <div class="row m-0 mt-3">
            <div class="col-12">
              <h3 class="title2 fz-12">
                2.2 Del Título Habilitante - Contrato (De Corresponder)
              </h3>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 col-sm-8 form-group">
              <label class="label">Tipo: *</label>
              <div>
                <div class="p-field-radiobutton d-inline-full">
                  <p-radioButton [disabled]="true" [(ngModel)]="requestTH.tipoContratoTH" name="tipo" [value]="false"
                    inputId="tipo_cesion"></p-radioButton>
                  <label class="m-0 pl-1 pointer" for="tipo_cesion">Cesión en uso para
                    sistemas
                    agroforestales</label>
                </div>
                <div class="p-field-radiobutton d-inline-full ml-3">
                  <p-radioButton [disabled]="true" [(ngModel)]="requestTH.tipoContratoTH" name="tipo" [value]="true"
                    inputId="tipo_concesion"></p-radioButton>
                  <label class="m-0 pl-1 pointer" for="tipo_concesion">Concesión para
                    plantaciones
                    forestales</label>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4 form-group">
              <label class="label">Número:</label>
              <input [disabled]="true" [(ngModel)]="requestTH.numeroContrato" type="text" autocomplete="off" class="form-control" />
            </div>
          </div>

          <!-- <div class="row m-0 mt-3">
            <div class="col-12 mt-3" *ngIf="!isDisbledFormu">
              <button type="button" class="btn-primary2 ml-0" (click)="btnRegTH()" [disabled]="isDisbledFormu">
                Guardar
              </button>
            </div>
          </div> -->

          <div class="row m-0 mt-3" *ngIf="isShowEval">
            <div class="col-12">
              <app-evaluar-solicitud-bpf [disabled]="isDisbledEval" [idBPF]="idBPF" [codSeccion]="codigoPLFOR.TAB_2"
                [codSubSeccion]="codigoPLFOR.TAB_2_2"></app-evaluar-solicitud-bpf>
            </div>
          </div>

        </p-accordionTab>

      </p-accordion>
    </div>
  </div>
</div>
