<div class="row m-0">
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Tipo de persona</label>
      <div
        class="form-control-selectk"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud != null"
      >
        <p-dropdown
          [options]="lstTipoPersona"
          [(ngModel)]="solicitudAcceso.codigoTipoPersona"
          optionLabel="valor1"
          optionValue="codigo"
          placeholder="Seleccione"
          [disabled]="!observado"
        >
        </p-dropdown>
      </div>

      <div
        class="form-control-selectk"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud == null"
      >
        <p-dropdown
          [options]="lstTipoPersona"
          [(ngModel)]="solicitudAcceso.codTipoPersona"
          optionLabel="valor1"
          optionValue="codigo"
          placeholder="Seleccione"
          [disabled]="!observado"
        >
        </p-dropdown>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Tipo de Actor</label>

      <div
        class="form-control-selectk"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud != null"
      >
        <p-dropdown
          [options]="lstTipoActor"
          [(ngModel)]="solicitudAcceso.codigoTipoActor"
          optionLabel="valor1"
          optionValue="codigo"
          placeholder="Seleccione"
          [disabled]="!observado"
        ></p-dropdown>
      </div>

      <div
        class="form-control-selectk"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud == null"
      >
        <p-dropdown
          [options]="lstTipoActor"
          [(ngModel)]="solicitudAcceso.codTipoActor"
          optionLabel="valor1"
          optionValue="codigo"
          placeholder="Seleccione"
          [disabled]="!observado"
        ></p-dropdown>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <div
      class="form-group"
      *ngIf="
        solicitudAcceso.codigoTipoActor == 'TACTTCNC' ||
        solicitudAcceso.codTipoActor == 'TACTTCNC'
      "
    >
      <label class="label">Tipo de CNCC</label>

      <div
        class="form-control-selectk"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud != null"
      >
        <p-dropdown
          [options]="lstTipoCNCC"
          [(ngModel)]="solicitudAcceso.codigoTipoCncc"
          optionLabel="valor1"
          optionValue="codigo"
          placeholder="Seleccione"
          [disabled]="!observado"
        ></p-dropdown>
      </div>

      <div
        class="form-control-selectk"
        *ngIf="solicitudAcceso.codigoEstadoSolicitud == null"
      >
        <p-dropdown
          [options]="lstTipoCNCC"
          [(ngModel)]="solicitudAcceso.codTipoCncc"
          optionLabel="valor1"
          optionValue="codigo"
          placeholder="Seleccione"
          [disabled]="!observado"
        ></p-dropdown>
      </div>
    </div>
  </div>
</div>
<!-- select listado GUARDAR-->

<div class="row m-0" *ngIf="solicitudAcceso.codigoEstadoSolicitud == null">
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Departamento</label>
      <div class="form-control-selectk">
        <p-dropdown
          [options]="listDepartamento"
          [(ngModel)]="edo.idDepartamentoPersona"
          optionLabel="nombreDepartamento"
          optionValue="idDepartamento"
          (onChange)="onSelectedProvincia($event)"
          placeholder="Seleccione"
          [disabled]="!observado"
        ></p-dropdown>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Provincia</label>
      <div class="form-control-selectk">
        <p-dropdown
          [options]="listProvincia"
          [(ngModel)]="edo.idProvinciaPersona"
          optionLabel="nombreProvincia"
          optionValue="idProvincia"
          (onChange)="onSelectedDistrito($event)"
          placeholder="Seleccione"
          [disabled]="!observado"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Distrito</label>
      <div class="form-control-selectk">
        <p-dropdown
          [options]="listDistrito"
          [(ngModel)]="solicitudAcceso.ubigeoTitular"
          optionLabel="nombreDistrito"
          optionValue="idDistrito"
          placeholder="Seleccione"
          [disabled]="!observado"
        ></p-dropdown>
      </div>
    </div>
  </div>
</div>
<div class="row m-0" *ngIf="solicitudAcceso.codigoEstadoSolicitud != null">
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Departamento</label>
      <div class="form-control-selectk">
        <p-dropdown
          [options]="listDepartamento"
          [(ngModel)]="edo.idDepartamentoPersona"
          optionLabel="nombreDepartamento"
          optionValue="idDepartamento"
          (onChange)="onSelectedProvincia($event)"
          placeholder="Seleccione"
          [disabled]="!observado"
        ></p-dropdown>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Provincia</label>
      <div class="form-control-selectk">
        <p-dropdown
          [options]="listProvincia"
          [(ngModel)]="edo.idProvinciaPersona"
          optionLabel="nombreProvincia"
          optionValue="idProvincia"
          (onChange)="onSelectedDistrito($event)"
          placeholder="Seleccione"
          [disabled]="!observado"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Distrito</label>
      <div class="form-control-selectk">
        <p-dropdown
          [options]="listDistrito"
          [(ngModel)]="solicitudAcceso.idDistritoPersona"
          optionLabel="nombreDistrito"
          optionValue="idDistrito"
          placeholder="Seleccione"
          [disabled]="!observado"
        ></p-dropdown>
      </div>
    </div>
  </div>
</div>

<div class="row m-0">
  <div class="col-12 col-sm-4">
    <div class="form-group">
      <label class="label">Descargar sustento</label>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder=""
          [(ngModel)]="fileName"
          [disabled]="!observado"
        />
        <div class="input-group-append">
          <button
            type="button"
            id="btnDescargarFile"
            (click)="onDescargarArchivo()"
            class="btn btn-sm btn-secondary"
            [disabled]="this.fileName == ''"
          >
            <i class="pi pi-download"></i>
            <input type="button" style="display: none" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- </p-fieldset> -->
