<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-12">
            <h3 class="title"> Usuario por Perfil</h3>

            <div class="panelk br10 p-3">
                <div class="row">
                    <div class="col-12 col-sm-6 form-group">
                        <label class="label">Usuario</label>
                        <input class="form-control" type="text" autocomplete="off" [(ngModel)]="objbuscar.dato" placeholder="Ingrese usuario"/>
                    </div>
                    <div class="col-12 col-sm-6 form-group">
                        <label class="label">Perfiles</label>
                        <div class="form-control-selectk ">
                            <p-dropdown   [options]="lstComboPerfilAplicacionFiltro" optionValue="value" optionLabel="text"
                            [filter]="true" filterBy="text" placeholder="Seleccione un perfil" 
                            [(ngModel)]="objbuscar.idperfilAplicacion" (onChange)="objbuscar.indice=1"></p-dropdown>
                        </div>
                    </div>

                    <div class="col-12 my-2 form-group text-center">
                        <button class="btn btn-sm btn-secondary mr-2" (click)="btnLimpiar()">Limpiar</button>
                        <button class="btn btn-sm btn-secondary" (click)="listarBandeja(objbuscar)">Buscar</button>
                        <!-- <button class="btn btn-sm btn-secondary" (click)="openModalMantenimiento(null,'C', 0)">Nuevo</button> -->
                    </div>
                </div>
            </div>

            <p-confirmPopup></p-confirmPopup>
            <div class="mt-4">
                <div class="tablek">
                    <p-table [value]="listaBandeja">
                      <ng-template pTemplate="header">
                          <tr>
                            <th style="width: 5%;">Acciones</th>                           
                            <th style="width: 25%;">Usuario</th>
                            <th style="width: 60%;">Perfil</th>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-data>
                          <tr>
                            <td class="text-center">
                                <span class="pointer mr-2" title="Editar" (click)="openModalMantenimiento(data,'E', data.idusuario)">
                                    <i class="pi pi-pencil"></i>
                                </span>
                                <span class="pointer" title="Visualizar" (click)="openModalMantenimiento(data,'R', data.idusuario)">
                                    <i class="pi pi-eye"></i>
                                </span>
                                <!-- <span class="pointer" title="Eliminar" (click)="openEliminarRegistro($event,data,'B')">
                                    <i class="pi pi-trash"></i>
                                </span> -->
                              </td>                             
                              <td>{{data.usuario}}</td>
                              <td>{{data.perfilAplicacion}}</td>
                          </tr>
                      </ng-template>
                  </p-table>
                  <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10, 25, 50, 100]"></p-paginator> 
                </div>
        </div>
    </div>



<p-dialog header="{{tituloModalMantenimiento}}" [(visible)]="verModalMantenimiento" [modal]="true" [style]="{width: '60vw'}" [maximizable]="false" [baseZIndex]="10000"
    [draggable]="false" [resizable]="true">
    <ng-template pTemplate="content">
        <div>
            <div class="row">
                <div class="col-12 col-sm-3">
                    <label class="label">Usuario:</label>
                </div>
                <div class="col-12 col-sm-6">
                    <input class="form-control form-control-sm " type="text" autocomplete="off" [value]="dataFilaModal.usuario" disabled/>
                </div>
            </div>
            <br>
            <div class="row mt-2">
                <div class="col-9 col-sm-11">
                   <h3 class="label">Perfiles:</h3>
                </div>
                <div class="col-3 col-sm-1">
                    <button icon="pi pi-plus" (click)="AgregarDetalle()" *ngIf="accionMantenimiento != 'R'"  pButton pRipple type="button" label="" class="p-button-success p-button-text"></button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12" style="min-height: 50vh;">
                    <p-table [value]="lstDetalle">
                        <ng-template pTemplate="header">
                            <tr>
                              <th style="width: 5%;">Acciones</th>
                              <th style="width: 60%;">Perfil</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data>
                            <tr>
                              <td class="text-center">
                                  <span class="pointer" *ngIf="accionMantenimiento != 'R'"  title="Eliminar" (click)="openEliminarRegistro($event, data)">
                                      <i class="pi pi-trash"></i>
                                  </span>
                                </td>
                                <td>
                                    <div class="form-control-selectk">
                                        <p-dropdown [disabled]="accionMantenimiento == 'R'" 
                                        [options]="lstComboPerfilAplicacion" optionLabel="text" optionValue="value" 
                                        [filter]="true" filterBy="text" [showClear]="true" placeholder="Seleccione un perfil"
                                        [(ngModel)]="data.idperfilAplicacion" [style]="{width: '100%'}"></p-dropdown>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

        </div>
    </ng-template>
    <ng-template pTemplate="footer" >
        <button icon="pi pi-save" *ngIf="accionMantenimiento != 'R'"  (click)="registrarAplicacionPerfilUsuario()" pButton pRipple type="button" label="Guardar" class="p-button-success p-button-outlined" style="width: 106px;"></button>
        <button icon="pi pi-times" *ngIf="accionMantenimiento != 'R'" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar" class="p-button-danger p-button-outlined" style="width: 106px;"></button>
    </ng-template>
</p-dialog>

</div>
<p-toast></p-toast>
