<div class="row">
  <div class="col-12" *ngIf="resolusiones.length > 0">
    <div class="form-group">
      <label class="label">Resolución</label>
      <div class="form-control-selectk">
        <p-dropdown
          [disabled]="ReadOnly"
          [options]="resolusiones"
          optionLabel="textoConcatenado"
          [(ngModel)]="impugnacion.idResolucion"
          optionValue="idResolucion"
          [filter]="true"
          filterBy="text"
          placeholder="-- Seleccionar --"
          (onChange)="validarPlazoImpugnacion($event.value)"
          [style]="{ width: '100%' }"
        >
        </p-dropdown>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="label">Asunto</label>
      <input
        [disabled]="ReadOnly"
        type="text"
        class="form-control form-control-sm"
        placeholder="Ingrese Asunto"
        [maxLength]="250"
        [(ngModel)]="impugnacion.asunto"
      />
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <label class="label">Descripción</label>
      <textarea
        [disabled]="ReadOnly"
        cols="5"
        rows="4"
        [maxLength]="250"
        class="form-control form-control-sm"
        [(ngModel)]="impugnacion.descripcion"
        placeholder="Ingrese Descripción"
      ></textarea>
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <label class="label">Ingrese Fecha de Impugnación</label>
      <div class="content-date">
        <input
          [disabled]="true"
          autocomplete="off"
          class="form-control"
          matInput
          [min]="minDate"
          [matDatepicker]="fechaInpugnacion"
          [(ngModel)]="impugnacion.fechaImpugnacion"
        />
        <i class="pi pi-calendar pointer" (click)="fechaInpugnacion.open()"></i>
        <mat-datepicker
          [disabled]="ReadOnly"
          #fechaInpugnacion
        ></mat-datepicker>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <upload-input-buttons
        [file]="archivoRecurso"
        [label]="'Recurso de Impugnación'"
        [disabled]="ReadOnly"
        accept=".pdf"
        (eliminarArchivo)="elimnarFileRecurso()"
      >
      </upload-input-buttons>
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <upload-input-buttons
        [file]="archivoSustento"
        [label]="'Sustento Extra'"
        [disabled]="ReadOnly"
        (eliminarArchivo)="elimnarFileSustento()"
      >
      </upload-input-buttons>
    </div>
  </div>
</div>
