<div class="row">
  <div class="col-12 form-group">
    <label class="label">Medida</label>
    <textarea
      class="form-control"
      rows="4"
      [(ngModel)]="context.actividades"
      style="resize: none;"
      maxlength="250"
    >
    </textarea>
  </div>
  <div class="col-12 form-group">
    <label class="label">Descripción</label>
    <textarea
      class="form-control"
      rows="4"
      [(ngModel)]="context.descripcionSistema"
      style="resize: none;"
      maxlength="250"
    >
    </textarea>
  </div>
</div>
<div class="d-flex justify-content-end">
  <button
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
    label="Aceptar"
    class="p-button-success p-button-outlined"
    style="width: 106px;"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
    style="width: 106px;"
  ></button>
</div>
