<div class="container-fluid p-0">
  <!-- TITULO -->
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title">Establecimiento de Bosque de Local</h3>
    </div>
  </div>
  <!-- TABS -->
  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <mat-tab-group animationDuration="0ms" (selectedIndexChange)="tabChange($event)" [selectedIndex]="tabIndex">
        <mat-tab label="Nueva Iniciativa" *ngIf="showIniciativa">
          <ng-template matTabContent>
            <tab-nueva-iniciativa-bl [idPlan]="idPlan" [isDisbledFormu]="isDisbledFormu"></tab-nueva-iniciativa-bl>
          </ng-template>
        </mat-tab>

        <mat-tab label="Evaluación" *ngIf="showEval">
          <ng-template matTabContent>
            <tab-evaluacion-bl [idPlan]="idPlan" [isDisbledFormu]="isDisbledFormu" [disabledEval]="disabledEval"
              [estadoSolicitud]="estadoSolicitud" [showEstudioTec]="showEstudioTec"></tab-evaluacion-bl>
          </ng-template>
        </mat-tab>

        <mat-tab label="Estudio Técnico" *ngIf="showEstudioTec">
          <ng-template matTabContent>
            <tab-estudio-tecnico-bl [idPlan]="idPlan" [disabledEstudioTec]="disabledEstudioTec" [evaluacionGabinete]="evaluacionGabinete"></tab-estudio-tecnico-bl>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <!-- BOTONES -->
  <!-- <div class="row m-0 mt-4 mb-4">
    <div class="col-12">
      <button *ngIf="tabIndex > 0" (click)="tabAnterior()" class="btn-primary2">Anterior</button>
      <button class="btn-primary2" (click)="tabSiguiente()">Siguiente</button>
    </div>
  </div> -->
</div>
<p-confirmPopup></p-confirmPopup>