<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 pt-3 mb-2">
      <p-breadcrumb [model]="listItems" [home]="homes"></p-breadcrumb>
    </div>
    <div class="col-12 pt-3">
      <h3 class="title">Resumen de Evaluación</h3>
    </div>
    <div class="col-12">

      <div class="panelk br10 p-3">
        <div class="row">

          <div class="col-sm-12 col-md-6 form-group">
            <label class="label">Procesos Ofertas:</label>
            <input numero [maxlength]="9" class="form-control form-control-sm" autocomplete="off" 
              [(ngModel)]="idProcesoOferta" (ngModelChange)="isDisabledNotificar = true;" />
          </div>

          <div class="col-sm-12 col-md-6 my-auto form-group">
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnLimpiar()">Limpiar</button>
            <button class="btn btn-sm btn-secondary mr-2" (click)="listarPorFiltroOtorgPP()">Buscar</button>
            <button class="btn btn-sm btn-primary2 mr-2" (click)="btnEnviar()" [disabled]="isDisabledNotificar">Notificar</button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 mt-4 mb-3">
      <label class="mb-2">Franja verde con mayor nota</label>

      <div class="tablek">

        <p-table [value]="listaResultado">
          <ng-template pTemplate="header">
            <tr>
              <th>ID Proceso Postulación</th>
              <th>ID Proceso Oferta</th>
              <th>Estado</th>
              <th>Usuario Postulación</th>
              <th>Nota Total</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-obj>
            <tr [ngStyle]="{'background': obj.background}">
              <td>{{obj.idProcesoPostulacion}}</td>
              <td>{{obj.idProcesoOferta}}</td>
              <td>{{obj.ganador == null ? "En evaluación" :obj.ganador == true ? "Calificado" : "Descalificado" }}</td>
              <td>{{obj.nombreUsuarioPostulacion}}</td>
              <td>{{obj.notaTotal}}</td>
            </tr>
          </ng-template>
        </p-table>
        <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)" [showCurrentPageReport]="true" currentPageReportTemplate="Total : {totalRecords} registross"
          [rowsPerPageOptions]="[10,25,50]"></p-paginator>
      </div>

    </div>
  </div>
</div>

<p-toast position="bottom-center" key="tl"></p-toast>
