<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab
          header="14.1. Aspectos Complementarios"
          [selected]="true"
        >
          <div class="col-12 mt-4 mb-4">
            <div class="col-12 mt-3 mb-4">
              <label class="label fz-12"
                >Señalar otros aspectos complementarios considerados de
                interés</label
              >
              <textarea
                rows="4"
                [(ngModel)]="informacionGeneral.detalle"
                class="form-control form-control-sm"
                [disabled]="disabled||!isDisabled"
                maxlength="250"
              ></textarea>
            </div>

            <!-- <div class="col-12">
              <label
                *ngIf="!isDisabled"
                class="lbl-info mt-3 mb-3"
                style="float: none !important"
              >
                (Para completa esta sección debe registrar información general.)
              </label>
            </div> -->

            <div class="col-12">
              <input-button-type-codigo
                [label]="'Adjuntar'" [disabled]="disabled"
                [idPlanManejo]="idPlanManejo"
                [idTipoDocumento]="'PMFICAC'"
                [codigoProceso]="'PMFIC'"
                [accept]="accept"
              ></input-button-type-codigo>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon_14"
            [base]="detEvaluacion_14"
          >
          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4 mb-4">
        <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button *ngIf="!isPerfilArffs" class="btn-primary2" [disabled]="disabled" (click)="actualizarAspectosComplementarios()">
          Guardar
        </button>
        <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">
          Retornar Flujo Evaluacion
        </button>
        <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="registrarEvaluacion()">
          Guardar Evaluación
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
