.col-map {
  padding-right: 4px;
}
.col-layers {
  padding-left: 4px;
}

.layers-box {
  height: 408px;
  overflow: auto;
  scroll-behavior: smooth;

  li label {
    font-size: 11px;
  }
}

::-webkit-scrollbar {
  width: 8px;
  &-thumb {
    background-color: rgb(80, 80, 80);
    border-radius: 30px;
  }
  &-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #c2cfe0;
    box-shadow: 0 2px 2px rgba(21, 76, 131, 0.15);
    border-radius: 8px;
  }
}
