<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="title">Procesos en oferta</h3>
            <!--
            <a (click)="regresar()" > <i class="pi pi-backward" ></i> Regresar</a>
            -->
        </div>
    </div>

    <div class="row">  
        <div class="col-md-6">
            <label class="label">Anexos Obligatorios</label><br>
                <div class="">
                    <button class="btn btn-sm btn-secondary " (click)="openDialoga1()">anexo 1</button>
                    <span> &nbsp; &nbsp; Estado: <Strong>{{estadoAnexo1}}</Strong></span>
                </div>

                <p-divider></p-divider>

                <div class="">
                    <button class="btn btn-sm btn-secondary " (click)="openDialoga2()">anexo 2</button>
                    <span> &nbsp; &nbsp; Estado: <Strong>{{estadoAnexo2}}</Strong></span>
                </div>

                <p-divider></p-divider>

                <div class="">
                    <button class="btn btn-sm btn-secondary " (click)="openDialoga3()">anexo 3</button>
                    <span> &nbsp; &nbsp; Estado: <Strong>{{estadoAnexo3}}</Strong></span>
                </div >

                <p-divider></p-divider>

                <div class="">
                    <button class="btn btn-sm btn-secondary " (click)="openDialoga4()">anexo 4</button>
                    <span> &nbsp; &nbsp; Estado: <Strong>{{estadoAnexo4}}</Strong></span>
                </div>
        </div>
        <div class="col-sm-6">
            <label class="label">Anexos opcionales:</label><br>
            <div class="form-control-selectk">
                <p-dropdown [(ngModel)]="opcionesAdicionalesSelect" [options]="opcionesAdicionales"  optionLabel="descripcion" (onChange)="selectDpOpcionales('add')"></p-dropdown>
            </div>  
            <br>
            
            <div *ngFor="let item of opcionesAdicionalesSelects; " >
                <button class="btn btn-sm btn-secondary " >anexo {{item.id}}</button>
                <a (click)="selectDpOpcionales('remove')" > <i class="pi pi-times" ></i></a>
                <p-divider></p-divider>
            </div>
        </div>
    </div>

    
    <br><mat-divider></mat-divider><br>

    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-sm btn-primary2 " (click)="postular()">Postular</button>
        </div>
    </div>
    
</div>

<!--position="top-left"  right-->
<p-toast position="bottom-center" key="tl"></p-toast>