<div class="row-fluid">

  <div class="col-12 form-group">
    <label for="procesoPostulacion">Postulación PFDM</label>
    <div class="form-control-selectk">
      <p-dropdown class="fomr-control" [disabled]="true" [(ngModel)]="contratoRequestEntity.idProcesoPostulacion"
        optionValue="idProcesoPostulacion" [options]="procesoPostulacion" optionLabel="idProcesoPostulacion">
      </p-dropdown>
    </div>
  </div>


  <p-fieldset legend="Datos del Representante Legal" [toggleable]="true">

    <div class="row">
      <div class="col-12 col-md-6">
        <label for="dni">DNI o RUC</label>
        <input [disabled]="!config.data.isNew" type="text" class="form-control"
          [(ngModel)]="contratoRequestEntity.dniRucRepresentanteLegal">
      </div>

      <div class="col-12 col-md-6">
        <label for="dni">Nombre o Razón Social</label>
        <input [disabled]="!config.data.isNew" type="text" class="form-control"
          [(ngModel)]="contratoRequestEntity.nombreRaSoRepresentanteLegal">
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <br>
        <label for="dni">Código Partida Registral</label>
        <input [disabled]="!config.data.isNew" type="text" class="form-control"
          [(ngModel)]="contratoRequestEntity.codigoPartidaRegistral">
      </div>
    </div>

    <ng-container *ngIf="!config.data.isNew">
      <br>
      <div class="row mt-2">
        <div class="col-6">
          <input style="border: 1px solid red;" [value]="tipoValidacion" type="text" class="form-control" disabled>
        </div>
        <div class="col-6">
          <button type="button" [disabled]="esValido" (click)="validarInformacion()" class="btn btn-sm btn-primary2">Validar
            Información</button>
        </div>

      </div>

    </ng-container>
    <br>
    <div class="row">
      <ul>
        <li>
          <label>Copia Literal de la inscripción registral del poder del representante legal</label>
          <button (click)="descargarLiteral()" *ngIf="!config.data.isNew" type="button"
            class="btn btn-sm btn-primary2">Descargar</button>
          <input *ngIf="config.data.isNew" class="form-control from-control-sm margintop5px" type="file"
            (change)="cargarAchivo($event)" />
        </li>
        <li>
          <label>Documento de garantía de fiel cumplimiento</label>
          <button (click)="descargarCumplimiento()" *ngIf="!config.data.isNew" type="button"
            class="btn btn-sm btn-primary2">Descargar</button>
          <input *ngIf="config.data.isNew" class="form-control from-control-sm margintop5px" type="file"
            (change)="cargarAchivoCumplimiento($event)" />
        </li>
      </ul>
    </div>

  </p-fieldset>

  <ng-container *ngIf="!config.data.isNew">
    <br>
    <p-fieldset legend="Adjuntar documentos" [toggleable]="true">

      <div class="row">
        <ul>
          <li>
            <label>Informe favorable de bienes, equipo y materiales</label>
            <button (click)="descargarBienes()" *ngIf="existeBienes" type="button"
              class="btn btn-sm btn-primary2">Descargar</button>
            <input *ngIf="!existeBienes" class="form-control from-control-sm margintop5px" type="file"
              (change)="cargarAchivoBienes($event)" />
          </li>
        </ul>
      </div>

    </p-fieldset>

    <div class="row mt-2 mb-2">
      <div class="col-6">
        <label>Generar codigo De TH</label>
        <input type="text" [value]="codigoTh" class="form-control" disabled>
      </div>
      <div class="col-6 mt-4">
        <button type="button" [disabled]="codigoTh != null" (click)="generarCodigo()"
          class="btn btn-sm btn-primary2">Generar</button>
      </div>
    </div>


    <p-fieldset legend="Generar Contrato" [toggleable]="true">
      <br>
      <div class="row">
        <div class="col-12">
          <label>Vigencia del contrato</label>
        </div>
        <div class="col-6">
          <label>Desde</label>
          <div class="content-date">
            <input [(ngModel)]="vigenciaDesde" name="fechaDesde" autocomplete="off" class="form-control" matInput
              [matDatepicker]="fechaDesde">
            <i class="pi pi-calendar pointer" (click)="fechaDesde.open()"></i>
            <mat-datepicker #fechaDesde></mat-datepicker>
          </div>

        </div>
        <div class="col-6">
          <label>Hasta</label>
          <div class="content-date">
            <input [(ngModel)]="vigenciaHasta" name="fechaHasta" autocomplete="off" class="form-control" matInput
              [matDatepicker]="fechaHasta">
            <i class="pi pi-calendar pointer" (click)="fechaHasta.open()"></i>
            <mat-datepicker #fechaHasta></mat-datepicker>
          </div>

        </div>
      </div>
      <br>
    </p-fieldset>


    <div *ngIf="esValido && esActualizadoContrato" class="row mt-2">
      <div class="col-6">
        <label>Información para Generar Contrato</label>
        <button (click)="descargarContrato()" type="button" class="btn btn-sm btn-primary2 mr-2">Descargar</button>
      </div>

      <div *ngIf="seGenero || contratoRequestEntity.firmado" class="col-6">
        <div class="p-field-checkbox">
          <p-checkbox [disabled]="existeContratadoFirmado" (onChange)="seleccionarFirma($event)" name="group1" [(ngModel)]="firmado" [binary]="true" inputId="binary">
          </p-checkbox>
          <label for="binary">Firma</label>
        </div>
      </div>

    </div>

    <div *ngIf="firmado" class="row mt-4">
      <div class="col-6">
        <label>Cargar</label>
        <button *ngIf="existeContratadoFirmado" (click)="descargarContratoFirmado()" type="button" class="btn btn-sm btn-primary2 mr-2">Descargar</button>
        <input *ngIf="!existeContratadoFirmado" class="form-control from-control-sm margintop5px" type="file" (change)="cargarContrato($event)" />
      </div>
    </div>


  </ng-container>


  <div *ngIf="this.config.data.item.idContrato == 0 ||
  this.config.data.item.idContrato == null ||
  this.config.data.item.idContrato == undefined" class="col-12 mt-4">
    <button (click)="registrarContrato()" class="btn btn-sm btn-primary2">Enviar</button>
  </div>
  <div *ngIf="this.config.data.item.idContrato > 0 && !existeContratadoFirmado" class="col-12 mt-4 mb-3">
    <button (click)="guardarInformacionValida()" class="btn btn-sm btn-primary2">Guardar</button>
  </div>
</div>
