<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="4.1. Detalle de Plantación Forestal" [selected]="true">
          <!-- TABLA1 -->
          <div class="row m-0">
            <div class="col-12 mb-3">
              <p-table [value]="listadoEspecies">
                <ng-template pTemplate="header">
                  <tr>
                    <th rowspan="2" class="align-middle">Acciones</th>
                    <th colspan="2"> Especie
                      <span class="fz-10 ml-1" tooltipPosition="top"
                        pTooltip="Considerar que se hará una fiscalización posterior de la información ingresada">
                        <i class="pi pi-info-circle"></i></span>
                    </th>
                    <th rowspan="2" class="align-middle">Total de árboles/matas/cepas existentes</th>
                    <th rowspan="2" class="align-middle">Producción Estimada (m3, kg, cañas, unidades, otros)</th>
                    <th colspan="2">Coordenadas UTM Referencial del macizo, lindero, etc.</th>
                  </tr>
                  <tr>
                    <th>Nombre Común</th>
                    <th>Nombre Científico</th>
                    <th>Este</th>
                    <th>Norte</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                  <tr>
                    <td>
                      <span *ngIf="!isDisbledFormu" (click)="openModal(data)" class="pointer" title="Editar">
                        <i class="pi pi-pencil"></i>
                      </span>
                    </td>
                    <td>{{data.especieNombreComun}}</td>
                    <td>{{data.especieNombreCientifico}}</td>
                    <td>{{data.totalArbolesExistentes}}</td>
                    <td>{{data.produccionEstimada}} {{data.unidadMedida}}</td>
                    <td>{{data.coordenadaEste}}</td>
                    <td>{{data.coordenadaNorte}}</td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                  <tr>
                    <td colspan="3">Total</td>
                    <td>{{totalAreaArbol}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </ng-template>
              </p-table>
            </div>

            <div class="col-12 col-sm-10">
              <label class="label">Altura promedio en metros: <span class="fz-10">(sólo en caso del bambú o especies
                  cuyas
                  unidades de medidas sean cañas o unidades)</span> </label>
            </div>
            <div class="col-12 col-sm-2">
              <input [disabled]="isDisbledFormu" class="form-control" autocomplete="off" type="text" [(ngModel)]="alturaPromedio"
                decimal [decimalPlaces]="2" [max]="1000000000000"/>
            </div>

            <div class="col-12 mt-3">
              <button type="button" class="btn-primary2 ml-0" (click)="btnRegDetalle()" [disabled]="isDisbledFormu">
                Guardar
              </button>
            </div>
          </div>
          <!-- TABLA2 -->
          <ng-container *ngIf="comboBloques.length > 1">
            <div class="row m-0 mt-4">
              <div class="col-6">
                <div class="form-group">
                  <label class="label">Seleccione Bloque:</label>
                  <div class="form-control-selectk">
                    <p-dropdown appendTo="body" [options]="comboBloques" class="fomr-control" [(ngModel)]="coordVertice"
                      optionLabel="ET_FromAtt" optionValue="ET_ID" placeholder="Seleccione"
                      (onChange)="onSelectedBloque($event)">
                    </p-dropdown>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="label">Total Área {{comboBloques.length > 0 ? comboBloques.length : ''}} Bloques (Ha) </label>
                  <input [(ngModel)]="totalAreaBloques" type="text" readonly class="form-control">
                </div>
              </div>
              <div class="col-12">
                <p-table [value]="listaBloques">
                  <ng-template pTemplate="header">
                    <tr>
                      <th colspan="4">Coordenadas UTM de los vértices de los Bloques (Solo si la plantación se encuentra
                        dispersa)</th>
                      <th rowspan="2" class="align-middle">Observaciones</th>
                    </tr>
                    <tr>
                      <th>Bloque/Sector</th>
                      <th>Vértice</th>
                      <th>Este</th>
                      <th>Norte</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data>
                    <tr>
                      <td [attr.rowspan]="data.areaBloqueDetalle.length + 1">
                        {{data.bloque}}
                      </td>
                    </tr>
  
                    <tr *ngFor="let item of data.areaBloqueDetalle">
                      <td>{{item.nroVertice}}</td>
                      <td>{{item.coordenadaEste}}</td>
                      <td>{{item.coordenadaNorte}}</td>
                      <td><input type="text" class="form-control bg-gray" placeholder="Observación" [disabled]="isDisbledFormu"
                          [(ngModel)]="item.observacion" /></td>
                    </tr>
                    <tr>
                      <td>Total Área del {{data.bloque}} (Ha)</td>
                      <td>
                        {{data.area}}
                      </td>
                    </tr>
  
                  </ng-template>
                </p-table>
              </div>
            </div>
  
            <div class="row m-0 mt-3">
              <div class="col-12" *ngIf="!isDisbledFormu">
                <button type="button" class="btn-primary2 ml-0" (click)="btnRegistrarAreaBloque()"
                  [disabled]="isDisbledFormu">
                  Guardar
                </button>
              </div>
            </div>
          </ng-container>

          <div class="row m-0 mt-3" *ngIf="isShowEval">
            <div class="col-12">
              <app-evaluar-solicitud-bpf [disabled]="isDisbledEval" [idBPF]="idBPF" [codSeccion]="codigoPLFOR.TAB_4"
                [codSubSeccion]="codigoPLFOR.TAB_4_1"></app-evaluar-solicitud-bpf>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>


<p-dialog header="{{tituloModalMantenimiento}}" [(visible)]="verModalMantenimiento" [modal]="true" appendTo="body"
  [style]="{width: '40vw'}" [maximizable]="false" [baseZIndex]="10000" [draggable]="false" [resizable]="true">
  <ng-template pTemplate="content">
    <div class="row m-0">
      <div class="col-12 form-group">
        <label class="label">Total de Árboles:</label>
        <input [(ngModel)]="detalleAreaPlanteada1Context.totalArbolesExistentes" type="text" numero maxlength="12"
          class="form-control">
      </div>

      <div class="row m-0">
        <div class="col-12 col-sm-6 form-group">
        <label class="label">Producción Estimada:</label>
        <input [(ngModel)]="detalleAreaPlanteada1Context.produccionEstimada" type="text" decimal [decimalPlaces]="2"
          [max]="1000000000000" class="form-control">
        </div>
        <div class="col-12 col-sm-6 form-group">
          <label class="label">Unidad de Medida:</label>
          <div class="form-control-selectk">
            <p-dropdown appendTo="body" [options]="listaUnMedida" class="fomr-control"
              [(ngModel)]="detalleAreaPlanteada1Context.unidadMedida" optionLabel="descripcion" optionValue="simbolo"
              placeholder="Seleccione">
            </p-dropdown>
          </div>
        </div>
      </div>

      <div class="col-12 form-group">
        <label class="label">Coordenadas de Vértices:</label>
        <div class="form-control-selectk">
          <p-dropdown appendTo="body" [options]="comboCoordVertice" class="fomr-control"
            [(ngModel)]="detalleAreaPlanteada1Context.numVertice" optionLabel="bloqueVertice" optionValue="OBJECTID"
            placeholder="Seleccione" (onChange)="onSelectedVertice($event)">
          </p-dropdown>
        </div>
      </div>

      <div class="col-12 col-sm-6 form-group">
        <label class="label">Este (coordenadas UTM)</label>
        <input [(ngModel)]="detalleAreaPlanteada1Context.coordenadaEste" type="number" class="form-control">
      </div>

      <div class="col-12 col-sm-6 form-group">
        <label class="label">Norte (coordenadas UTM)</label>
        <input [(ngModel)]="detalleAreaPlanteada1Context.coordenadaNorte" type="number" class="form-control">
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button icon="pi pi-save" (click)="guardar(detalleAreaPlanteada1Context)" pButton pRipple type="button"
      label="Aceptar" class="p-button-success p-button-outlined"></button>
    <button icon="pi pi-times" (click)="verModalMantenimiento=false" pButton pRipple type="button" label="Cancelar"
      class="p-button-danger p-button-outlined"></button>
  </ng-template>
</p-dialog>