<div class="col-12">
  <div class="row col-12">
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Actividad</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="antecedentesObjt.actividades"
      />
    </div>
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Especies más extraídas</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="antecedentesObjt.especies"
      />
    </div>
  </div>

  <div class="row col-12">
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Identificación de conflictos</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="antecedentesObjt.conflictos"
      />
    </div>
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Propuestas de solución al conflicto</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="antecedentesObjt.propuestas"
      />
    </div>
  </div>

  <div class="row col-12">
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Observaciones</label>
      <textarea
        maxlength="200"
        rows="4"
        class="form-control"
        [(ngModel)]="antecedentesObjt.observaciones"
      >
      </textarea>
    </div>
  </div>

  <div class="col-12">
    <button class="btn btn-sm btn-secondary" (click)="agregar()">Enviar</button>
  </div>
</div>
<p-toast position="bottom-center" key="tl"></p-toast>
