<div class="row">
    <div class="col-12 form-group">
        <label for="nombre">Nombre Común</label>
        <div class="form-control-selectk">
            <p-dropdown [(ngModel)]="params_insetar_detalle.idBosque" [options]="listaTipoBosque" optionValue="idBosque"
                optionLabel="descripcion" (onChange)="seleccionarFauna()">
            </p-dropdown>
        </div>
    </div>
    
    <ng-container *ngIf="visible">

        <div class="col-12 form-group">
            <label for="area">Área (ha)</label>
            <input type="text" id="area" autocomplete="off" class="form-control contents_form_input"
                [(ngModel)]="params_insetar_detalle.area" placeholder="Ingrese el Área">
        </div>

    </ng-container>
    

    <div class="col-12 mt-3" >
        <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
                  class="p-button-danger p-button-outlined" style="float: right;"></button>&nbsp;&nbsp;
        <button icon="pi pi-save" (click)="agregar()" pButton pRipple type="button" label="Agregar"
                  class="p-button-success p-button-outlined" style="float: right;"></button>
    </div>
</div>