<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab
          header="7.1 Necesidad de intervenciones silviculturales"
        >
          <div class="row">
            <div class="col-12 col-md-12">
              <span>Monitoreo silvicultural</span> &nbsp; &nbsp; &nbsp;
              <div class="p-field-radiobutton">
                <strong for="Si" style="margin-right: 5px;">SI</strong>
                <p-radioButton
                  name="monitoreo"
                  value="S" [disabled]="disabled"
                  inputId="Si"
                  [(ngModel)]="selectMonitoreo"
                >
                </p-radioButton>
              </div>
              <div class="p-field-radiobutton">
                <strong for="No" style="margin-right: 5px;">NO</strong>
                <p-radioButton
                  name="monitoreo" [disabled]="disabled"
                  value="N"
                  inputId="No"
                  [(ngModel)]="selectMonitoreo"
                >
                </p-radioButton>
              </div>
            </div>

            <div *ngIf="selectMonitoreo == 'S'" class="col-12 col-md-12 mt-3">
              <span
                >En caso se realizó, se incluye la metodología y resultados en
                el Anexo 3:</span
              >
              &nbsp; &nbsp; &nbsp;
              <div class="p-field-radiobutton">
                <strong for="Si" style="margin-right: 5px;">SI</strong>
                <p-radioButton
                  name="monitoreo" [disabled]="disabled"
                  value="S"
                  inputId="Si"
                  [(ngModel)]="selectAnexo"
                >
                </p-radioButton>
              </div>
              <div class="p-field-radiobutton">
                <strong for="No" style="margin-right: 5px;">NO</strong>
                <p-radioButton
                  name="monitoreo"
                  value="N" [disabled]="disabled"
                  inputId="No"
                  [(ngModel)]="selectAnexo"
                  (onClick)="anexoN($event)"
                >
                </p-radioButton>
              </div>
            </div>

            <div class="col-12 col-md-12">
              <ng-container *ngIf="selectAnexo == 'S'">
                <div class="col-12 mt-4">
                  <app-anexo-upload-file
                    [label]="'Adjuntar Evidencia:'"
                    [idPlanManejo]="idPlanManejo" [disabled]="disabled"
                    [idTipoDocumento]="CodigoPOCC.ACORDEON_7_1"
                    [codigoProceso]="CodigoPOCC.ACORDEON_7_1"
                    (registrarArchivoId)="cargarIdArchivo($event)"
                  >
                  </app-anexo-upload-file>
                </div>
              </ng-container>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="7.2 Tratamientos silviculturales">
          <div class="row">
            <div class="col-12 mt-4 mb-3">
              <p-table [value]="tratamientos" styleClass="p-datable-gridlines">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Acciones</th>
                    <th></th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template
                  pTemplate="body"
                  let-tratamiento
                  let-rowIndex="rowIndex"
                >
                  <tr>
                    <td>
                        <span
                          (click)="!disabled&&editarModal(rowIndex, tratamiento, 2)"
                          class="pointer mr-1"
                          title="Editar"
                        >
                          <i class="pi pi-pencil"></i>
                        </span>
                        <span
                          (click)="!disabled&&
                            eliminar(
                              $event,
                              rowIndex,
                              tratamiento.idActividadSilviculturalDet,
                              2
                            )
                          "
                          class="pointer"
                          title="Eliminar"
                        >
                          <i class="pi pi-trash"></i>
                        </span>
                    </td>
                    <td style="width: 50%; font-weight: bold;">
                      {{ tratamiento.tratamiento }}
                    </td>
                    <td style="width: 45%;">
                      <textarea
                        class="form-control"
                        rows="1"
                        [(ngModel)]="tratamiento.descripcionDetalle"
                        style="resize: none;"
                        maxlength="250"
                        disabled
                      ></textarea>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="col-12 col-md-12 mt-3">
                <span>Se amplía información en el Anexo 3:</span> &nbsp; &nbsp;
                &nbsp;
                <div class="p-field-radiobutton">
                  <strong for="Si" style="margin-right: 5px;">SI</strong>
                  <p-radioButton
                    name="monitoreo"
                    value="S" [disabled]="disabled"
                    inputId="Si"
                    [(ngModel)]="selectAnexo2"
                  >
                  </p-radioButton>
                </div>
                <div class="p-field-radiobutton">
                  <strong for="No" style="margin-right: 5px;">NO</strong>
                  <p-radioButton
                    name="monitoreo"
                    value="N"
                    inputId="No" [disabled]="disabled"
                    [(ngModel)]="selectAnexo2"
                    (onClick)="anexoN($event)"
                  >
                  </p-radioButton>
                </div>
              </div>
              <ng-container *ngIf="selectAnexo2 == 'S'">
                <div class="col-12 mt-4">
                  <ng-container *ngIf="selectAnexo2 == 'S'">
                    <div class="col-12 mt-4">
                      <app-anexo-upload-file
                        [label]="'Adjuntar Evidencia:'"
                        [idPlanManejo]="idPlanManejo" [disabled]="disabled"
                        [idTipoDocumento]="CodigoPOCC.ACORDEON_7_2"
                        [codigoProceso]="CodigoPOCC.ACORDEON_7_2"
                        (registrarArchivoId)="cargarIdArchivo($event)"
                      >
                      </app-anexo-upload-file>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab
          header="7.3 Enriquecimientos en áreas degradadas (Opcional)"
        >
          <div class="row">
            <div class="col-12 mt-4 mb-3">
              <p-table
                [value]="enriquecimientos"
                styleClass="p-datable-gridlines"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th>Acciones</th>
                    <th></th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template
                  pTemplate="body"
                  let-enriquecimiento
                  let-rowIndex="rowIndex"
                >
                  <tr>
                    <td>
                      <span
                        (click)="!disabled&&editarModal(rowIndex, enriquecimiento, 3)"
                        class="pointer mr-1"
                        title="Editar"
                      >
                        <i class="pi pi-pencil"></i>
                      </span>
                      <span
                        (click)="!disabled&&
                          eliminar(
                            $event,
                            rowIndex,
                            enriquecimiento.idActividadSilviculturalDet,
                            3
                          )
                        "
                        class="pointer"
                        title="Eliminar"
                      >
                        <i class="pi pi-trash"></i>
                      </span>
                    </td>
                    <td style="width: 50%; font-weight: bold;">
                      {{ enriquecimiento.tratamiento }}
                    </td>
                    <td style="width: 45%;">
                      <textarea
                        class="form-control"
                        rows="1"
                        [(ngModel)]="enriquecimiento.descripcionDetalle"
                        style="resize: none;"
                        maxlength="250"
                        disabled
                      ></textarea>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="col-12 col-md-12 mt-3">
                <span>Se amplía información en el Anexo 3:</span> &nbsp; &nbsp;
                &nbsp;
                <div class="p-field-radiobutton">
                  <strong for="Si" style="margin-right: 5px;">SI</strong>
                  <p-radioButton
                    name="monitoreo"
                    value="S"
                    inputId="Si" [disabled]="disabled"
                    [(ngModel)]="selectAnexo3"
                  >
                  </p-radioButton>
                </div>
                <div class="p-field-radiobutton">
                  <strong for="No" style="margin-right: 5px;">NO</strong>
                  <p-radioButton
                    name="monitoreo"
                    value="N" [disabled]="disabled"
                    inputId="No"
                    [(ngModel)]="selectAnexo3"
                    (onClick)="anexoN($event)"
                  >
                  </p-radioButton>
                </div>
              </div>

              <ng-container *ngIf="selectAnexo3 == 'S'">
                <div class="col-12 mt-4">
                  <app-anexo-upload-file
                    [label]="'Adjuntar Evidencia:'"
                    [idPlanManejo]="idPlanManejo" [disabled]="disabled"
                    [idTipoDocumento]="CodigoPOCC.ACORDEON_7_3"
                    [codigoProceso]="CodigoPOCC.ACORDEON_7_3"
                    (registrarArchivoId)="cargarIdArchivo($event)"
                  >
                  </app-anexo-upload-file>
                </div>
              </ng-container>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

  <p-dialog
    [header]="
      tabModal == 2
        ? 'Editar tratamientos silviculturales'
        : 'Editar enriquecimientos en áreas degradadas'
    "
    appendTo="body"
    [(visible)]="isShowModal"
    [modal]="true"
    [style]="{ width: '60vw' }"
    [maximizable]="true"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="true"
  >
    <ng-template pTemplate="content">
      <div class="row m-0">
        <div class="col-12 form-group">
          <label for="tratamiento">Tratamiento</label>
          <input
            type="text"
            id="tratamiento"
            autocomplete="off"
            class="form-control contents_form_input"
            maxlength="50"
            disabled
            [(ngModel)]="resultadosModal.tratamiento"
          />
        </div>
      </div>
      <div class="row m-0">
        <div class="col-12 form-group">
          <label for="resumen">Descripción</label>
          <textarea
            class="form-control"
            rows="1"
            [(ngModel)]="resultadosModal.descripcionDetalle"
            style="resize: none;"
            maxlength="250"
          ></textarea>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <button
        icon="pi pi-save"
        pButton
        pRipple
        type="button"
        label="Aceptar"
        class="p-button-success p-button-outlined"
        (click)="agregarTratamiento()"
      ></button>
      <button
        icon="pi pi-times"
        pButton
        pRipple
        type="button"
        label="Cancelar"
        class="p-button-danger p-button-outlined"
        (click)="isShowModal = false"
      ></button>
    </ng-template>
  </p-dialog>

  <div class="step__btn mt-4">
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button class="btn-primary2" (click)="guardar()">
      Guardar
    </button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
  <br />
</div>

<p-confirmPopup></p-confirmPopup>
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
