<div class="container-fluid p-0">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title">Solicitud de Concesión</h3>
    </div>
  </div>
  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <mat-tab-group animationDuration="0ms" [selectedIndex]="data.tabIndex" (selectedIndexChange)="changeTab($event)">

        <mat-tab label="Anexo 1: Información General">
          <ng-template matTabContent>
            <app-anexo1-pfdn [data]="data" [idPFDM]="idPFDM" [isDisbledFormu]="isDisbledFormu"
              [isDisbledEval]="isDisbledEval" [isShowEval]="isShowEval" [isSolicitudHija]="isSolicitudHija"></app-anexo1-pfdn>
            <div class="row m-0 mt-4 mb-4">
              <div class="col-12 text-left">
                <button class="btn-primary2 btn btn-sm mr-2" (click)="cancelar()">Regresar</button>
                <button class="btn-primary2 btn btn-sm" (click)="siguiente()">Siguiente</button>
              </div>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab label="Anexo 2: Capacidad Técnica">
          <ng-template matTabContent>
            <app-anexo2-pfdn [idPFDM]="idPFDM" [isDisbledFormu]="isDisbledFormu"
              [isDisbledEval]="isDisbledEval" [isShowEval]="isShowEval"></app-anexo2-pfdn>
            <div class="row m-0 mt-4 mb-4">
              <div class="col-12 text-left">
                
                <button class="btn-primary2 btn btn-sm mr-2" (click)="regresar()">Regresar</button>
                <button class="btn-primary2 btn btn-sm" (click)="siguiente()">Siguiente</button>
              </div>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab label="Anexo 3: Declaración Jurada">
          <ng-template matTabContent>
            <app-anexo3-pfdn [data]="data" [idPFDM]="idPFDM" [isDisbledFormu]="isDisbledFormu"
              [isDisbledEval]="isDisbledEval" [isShowEval]="isShowEval"></app-anexo3-pfdn>
            <div class="row m-0 mt-4 mb-4">
              <div class="col-12 text-left">
                
                <button class="btn-primary2 btn btn-sm mr-2" (click)="regresar()">Regresar</button>
                <button class="btn-primary2 btn btn-sm" (click)="siguiente()">Siguiente</button>
              </div>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab label="Anexo 4: Formato del Estudio Técnico" [disabled]="!data.anexo4.isShow">
          <ng-template matTabContent>
            <app-anexo4-pfdn [data]="data" [idPFDM]="idPFDM" [isDisbledFormu]="isDisbledFormu"
              [isDisbledEval]="isDisbledEval" [isShowEval]="isShowEval"></app-anexo4-pfdn>
            <div class="row m-0 mt-4 mb-4">
              <div class="col-12 text-left">
                
                <button class="btn-primary2 btn btn-sm mr-2" (click)="regresar()">Regresar</button>
                <button class="btn-primary2 btn btn-sm" (click)="siguiente()">Siguiente</button>
              </div>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab label="Anexo 5: Formato para la Publicación">
          <ng-template matTabContent>
            <app-anexo5-pfdn [data]="data" [idPFDM]="idPFDM" [isDisbledFormu]="isDisbledFormu"
              [isDisbledEval]="isDisbledEval" [isShowEval]="isShowEval"></app-anexo5-pfdn>
            <div class="row m-0 mt-4 mb-4">
              <div class="col-12 text-left">
                
                <button class="btn-primary2 btn btn-sm mr-2" (click)="regresar()">Regresar</button>
                <button class="btn-primary2 btn btn-sm" (click)="siguiente()">Siguiente</button>
              </div>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab label="Anexo 6: Formato para la Elaboración de Propuestas">
          <ng-template matTabContent>
            <app-anexo6-pfdn [data]="data" [idPFDM]="idPFDM" [isDisbledFormu]="isDisbledFormu"
              [isDisbledEval]="isDisbledEval" [isShowEval]="isShowEval"></app-anexo6-pfdn>
            <div class="row m-0 mt-4 mb-4">
              <div class="col-12 text-left">
                
                <button class="btn-primary2 btn btn-sm mr-2" (click)="regresar()">Regresar</button>
                <button class="btn-primary2 btn btn-sm" (click)="siguiente()">Siguiente</button>
              </div>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab label="Carga y Envío de Documentación">
          <ng-template matTabContent>
            <app-anexo7-pfdn [data]="data" [idPFDM]="idPFDM" [isDisbledFormu]="isDisbledFormu"
              [isDisbledEval]="isDisbledEval" [isShowEval]="isShowEval" [isSolicitudHija]="isSolicitudHija"></app-anexo7-pfdn>
            <div class="row m-0 mt-4 mb-4">
              <div class="col-12 text-left">
                
                <button class="btn-primary2 btn btn-sm mr-2" (click)="regresar()">Regresar</button>
                <button *ngIf="isShowEval" class="btn-primary2 btn btn-sm" (click)="siguiente()">Siguiente</button>
              </div>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab label="Resultados de la Evaluación" *ngIf="isShowEval">
          <ng-template matTabContent>
            <app-anexo8-pfdn [data]="data" [idPFDM]="idPFDM" [isDisbledFormu]="isDisbledFormu"
              [isDisbledEval]="isDisbledEval" [isShowEval]="isShowEval"></app-anexo8-pfdn>
            <div class="row m-0 mt-4 mb-4">
              <div class="col-12 text-left">
                
                <button class="btn-primary2 btn btn-sm mr-2" (click)="regresar()">Regresar</button>
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<p-confirmPopup></p-confirmPopup>
