<div>
    <div>
        <ng-container [ngTemplateOutlet]="conatinerinnerRef"></ng-container>
    </div>
    <evaluacion-simple-shared [base]="base.evaluacion" (onChange)="evaluation($event)" [default]="default" [disabled]="disabled">
        <ng-template #conatinertop>

        </ng-template>
        <ng-template #conatinerbottom>

        </ng-template>
    </evaluacion-simple-shared>
</div>




