<p-fieldset legend="{{titulo}}" [toggleable]="true" *ngIf="isShowObjEval || base.conforme != null">
    <div class="mt-3">
        <ng-container [ngTemplateOutlet]="descripcionRef"></ng-container>
    </div>

    <ng-container *ngIf="hideControls != true">
        <div class="row m-0 mt-4">
            <div class="col-12 form-group">
                <div class="p-field-radiobutton d-inline-full">
                    <p-radioButton (onClick)="base.limpiarObservacion()" [(ngModel)]="base.conforme" name="esObservado"
                        id="obserNo" [value]="true" [disabled]="isDisabledObjEval"></p-radioButton>
                    <label class="mr-2 pl-1 pointer" for="obserNo">Conforme</label>
                </div>
                <div class="p-field-radiobutton d-inline-full">
                    <p-radioButton (onClick)="base.limpiarObservacion()" [(ngModel)]="base.conforme" name="esObservado"
                        id="obserSI" [value]="false" [disabled]="isDisabledObjEval"></p-radioButton>
                    <label class="mr-2 pl-1 pointer" for="obserSI">Observado</label>
                </div>
            </div>
            <div class="col-12 form-group" *ngIf="!base.conforme && base.conforme!==null && base.conforme!==undefined">
                <textarea rows="4" [(ngModel)]="base.observacion" class="form-control form-control-sm"
                    placeholder="Ingrese observación..." [disabled]="isDisabledObjEval" maxlength="250"></textarea>
            </div>
        </div>
        <div class="row m-0 mt-3">
            <!-- <div class="col-12 col-sm-12">
                <upload-input-buttons [file]="base.archivo" [label]="'Evidencia'"
                    (eliminarArchivo)="eliminarArchivo($event)" (registrarArchivo)="registrarArchivo($event)"
                    [disabled]="isDisabledObjEval">
                </upload-input-buttons>
            </div> -->
            <div class="col-12 col-sm-6">
                <app-carga-archivo-general accept="" [idArchivo]="base.archivo.idArchivo" [tipoDoc]="''" label="Evidencia" 
                    [disabled]="isDisabledObjEval" (eliminarArchivo)="eliminarArchivo($event)"
                    (registrarArchivoFile)="registrarArchivoFile($event)">
                </app-carga-archivo-general>
            </div>

        </div>
        <div class="row m-0 mt-3">
            <div class="col-12 text-right">
                <!-- *NOTA* ngIf -->
                <button class="btn btn-sm btn-primary2" (click)="guardarLineamiento()"
                    *ngIf="usuario.sirperfil != 'TITULARTH' " [disabled]="isDisabledObjEval">Guardar</button>
            </div>
        </div>

    </ng-container>
    <br />
    <br />

</p-fieldset>
