<div class="row-fluid">
  <p-fieldset legend="Datos Proceso" [toggleable]="true">
    <div class="row m-0">
      <div class="col-sm-12 col-md-6 form-group">
        <label class="label">Código Proceso</label>
        <input type="text" class="form-control" [(ngModel)]="requestEntity.codProceso">
      </div>
    </div>
  </p-fieldset>
  <br>
  <p-fieldset legend="Datos del Contrato" [toggleable]="true">
    <div class="row m-0">
      <div class="col-sm-12 col-md-6 form-group">
        <label class="label">ID Proceso Postulación</label>
        <input type="text" class="form-control" disabled [(ngModel)]="requestEntity.idProcesoPostulacion">
      </div>
      <div class="col-sm-12 col-md-6 form-group">
        <label class="label">Título Habilitante</label>
        <input type="text" class="form-control" disabled [(ngModel)]="requestEntity.contra">
      </div>
      <div class="col-sm-12 col-md-6 form-group">
        <label class="label">Número de RUC</label>
        <input type="text" class="form-control" [(ngModel)]="requestEntity.numruc">
      </div>
      <div class="col-sm-12 col-md-6 form-group">
        <label class="label">Número de Documento</label>
        <input type="text" class="form-control" [(ngModel)]="requestEntity.nrodoc">
      </div>
      <div class="col-sm-12 col-md-6 form-group">
        <label class="label">Nombre Titular</label>
        <input type="text" class="form-control" disabled [(ngModel)]="requestEntity.nomtit">
      </div>
      <div class="col-sm-12 col-md-6 form-group">
        <label class="label">Representante Legal</label>
        <input type="text" class="form-control" disabled [(ngModel)]="requestEntity.razonSocialTitular">
      </div>

      <div class="col-sm-12 col-md-6 form-group">
        <label class="label">Departamento</label>
        <input type="text" class="form-control" [disabled]="isDisabled" [(ngModel)]="requestEntity.nomdep">
      </div>
      <div class="col-sm-12 col-md-6 form-group">
        <label class="label">Provincia</label>
        <input type="text" class="form-control" [disabled]="isDisabled" [(ngModel)]="requestEntity.nompro">
      </div>
      <div class="col-sm-12 col-md-6 form-group">
        <label class="label">Distrito</label>
        <input type="text" class="form-control" [disabled]="isDisabled" [(ngModel)]="requestEntity.nomdis">
      </div>
    </div>
  </p-fieldset>
  <br>
  <p-fieldset legend="Datos Adicionales" [toggleable]="true">
    <div class="row m-0">
      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Fuente</label>
        <input type="text" class="form-control" [disabled]="isDisabled" [(ngModel)]="requestEntity.fuente">
      </div>
      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Doc. Regente (docreg)</label>
        <input type="text" class="form-control" [disabled]="isDisabled" [(ngModel)]="requestEntity.docreg">
      </div>
      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Número Regente (numreg)</label>
        <input type="text" class="form-control" [disabled]="isDisabled" [(ngModel)]="requestEntity.numreg">
      </div>
      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Observaciones</label>
        <input type="text" class="form-control" [disabled]="isDisabled" [(ngModel)]="requestEntity.observ">
      </div>

      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Zona Horaria (zonutm)</label>
        <input type="text" class="form-control" [disabled]="isDisabled" [(ngModel)]="requestEntity.zonutm">
      </div>
      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Origen</label>
        <input type="text" class="form-control" [disabled]="isDisabled" [(ngModel)]="requestEntity.origen">
      </div>
      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Tipo Contrato (tipcon)</label>
        <input type="text" class="form-control" [disabled]="isDisabled" [(ngModel)]="requestEntity.tipcon">
      </div>

      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Adenda</label>
        <input type="text" class="form-control" [disabled]="isDisabled" [(ngModel)]="requestEntity.adenda">
      </div>
      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Cerfor</label>
        <input type="text" class="form-control" [disabled]="isDisabled" [(ngModel)]="requestEntity.cerfor">
      </div>
      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">finali</label>
        <input type="text" class="form-control" [disabled]="isDisabled" [(ngModel)]="requestEntity.finali">
      </div>

      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Situación (situac)</label>
        <input type="text" class="form-control" [disabled]="isDisabled" [(ngModel)]="requestEntity.situac">
      </div>
      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">objcon</label>
        <input type="text" class="form-control" [disabled]="isDisabled" [(ngModel)]="requestEntity.objcon">
      </div>
      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">aderef</label>
        <input type="text" class="form-control" [disabled]="isDisabled" [(ngModel)]="requestEntity.aderef">
      </div>

      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Tipo doc. (tipdoc)</label>
        <input type="text" class="form-control" [disabled]="isDisabled" [(ngModel)]="requestEntity.tipdoc">
      </div>
      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">supsig</label>
        <input type="text" class="form-control" [disabled]="isDisabled" [(ngModel)]="requestEntity.supsig">
      </div>
      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">perime</label>
        <input type="text" class="form-control" [disabled]="isDisabled" [(ngModel)]="requestEntity.perime">
      </div>

      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">autfor</label>
        <input type="text" class="form-control" [disabled]="isDisabled" [(ngModel)]="requestEntity.autfor">
      </div>
      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Producto (produc)</label>
        <input type="text" class="form-control" [disabled]="isDisabled" [(ngModel)]="requestEntity.produc">
      </div>
      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">procot</label>
        <input type="text" class="form-control" [disabled]="isDisabled" [(ngModel)]="requestEntity.procot">
      </div>

      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Doc. Legal(docleg)</label>
        <input type="text" class="form-control" [disabled]="isDisabled" [(ngModel)]="requestEntity.docleg">
      </div>
      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Fecha Registro (fecreg)</label>
        <div class="content-date">
          <input [(ngModel)]="requestEntity.fecreg" name="fecreg" autocomplete="off" class="form-control" matInput
            [matDatepicker]="fecreg" readonly [min]="minDateInicio" [disabled]="isDisabled">
          <i class="pi pi-calendar pointer" (click)="fecreg.open()"></i>
          <mat-datepicker #fecreg></mat-datepicker>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Fecha Contrato (fecont)</label>
        <div class="content-date">
          <input [(ngModel)]="requestEntity.fecont" name="fecont" autocomplete="off" class="form-control" matInput
            [matDatepicker]="fecont" readonly [min]="minDateInicio" [disabled]="isDisabled">
          <i class="pi pi-calendar pointer" (click)="fecont.open()"></i>
          <mat-datepicker #fecont></mat-datepicker>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Fecha Inicial (fecini)</label>
        <div class="content-date">
          <input [(ngModel)]="requestEntity.fecini" name="fecini" autocomplete="off" class="form-control" matInput
            [matDatepicker]="fecini" readonly [min]="minDateInicio" [disabled]="isDisabled">
          <i class="pi pi-calendar pointer" (click)="fecini.open()"></i>
          <mat-datepicker #fecini></mat-datepicker>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">Fecha Termino (fecter)</label>
        <div class="content-date">
          <input [(ngModel)]="requestEntity.fecter" name="fecter" autocomplete="off" class="form-control" matInput
            [matDatepicker]="fecter" readonly [min]="minDateInicio" [disabled]="isDisabled">
          <i class="pi pi-calendar pointer" (click)="fecter.open()"></i>
          <mat-datepicker #fecter></mat-datepicker>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 form-group">
        <label class="label">fecleg</label>
        <div class="content-date">
          <input [(ngModel)]="requestEntity.fecleg" name="fecleg" autocomplete="off" class="form-control" matInput
            [matDatepicker]="fecleg" readonly [min]="minDateInicio" [disabled]="isDisabled">
          <i class="pi pi-calendar pointer" (click)="fecleg.open()"></i>
          <mat-datepicker #fecleg></mat-datepicker>
        </div>
      </div>
    </div>
  </p-fieldset>

  <div class="col-12 mt-4 text-right">
    <button *ngIf="!isDisabled" class="p-button-success p-button-outlined mr-2" type="button" icon="pi pi-save" pButton
      pRipple label="Enviar" (click)="btnEnviar()" [disabled]="isDisabled"></button>

    <button class="p-button-danger p-button-outlined" type="button" icon="pi pi-times" pButton pRipple label="Cancelar"
      (click)="btnClose()"></button>
  </div>

</div>