<div class="content_login d-flex flex-column bd-highlight h-100 flex-grow">
  <div class="h-100 flex-grow mb-3">
    <div class="row h-100 flex-grow">
      <div class="col-md-7 d-flex justify-content-center align-items-center flex-column">
        <div class="p-2">
          <img src="./assets/img/logo_MINAGRI.png" alt="Logo MINAGRI" class="img-fluid">
        </div>
        <div class="p-2">
          <img src="./assets/img/serfor_blanco.png" alt="logo SERFOR" class="img-fluid">
        </div>
      </div>
      <div class="col-md-5 mb-3">
        <div class="row contents  mt-3 mb-3 mr-3 ml-3 h-100 flex-grow">
          <div class="" style="margin: auto 0; width: 100%;"  [formGroup]="recuperar">
            <div class="col-md-12  align-items-center">
              <div class=" contents_header" style="padding-bottom: 5rem;">
                <h3 class="contents_header_title text-sm-center text-lg-left">Olvidé mi contraseña</h3>
              </div>
              <div class="contents_form ">
                <div class="content-email" *ngIf="verSmsconfirmacion">
                  <div class="form-group  m-0" style="padding-bottom: 1rem;">
                    <label for="username" class="contents_form_label text-lg-left">Correo electrónico</label>
                    <input type="text" autocomplete="off" formControlName="username"
                      class="form-control contents_form_input" placeholder="Ingrese su correo electrónico">
                  </div>
                  <div class="form-group  m-0" style="padding-bottom: 1rem;">
                    <label for="username" class="contents_form_label text-lg-left">Número Documento</label>
                    <input type="text" autocomplete="off" formControlName="numeroDocumento"
                      class="form-control contents_form_input" placeholder="Ingrese Número Documento">
                  </div>
                  <div class="row" style="padding-top: 2rem;">
                    <div class="col-1"></div>
                    <div class="col-5 d-flex align-items-center">
                      <!--div class="d-flex align-items-center"-->
                      <div class="p-2 w-100">
                        <a type="submit" [routerLink]="['/login']"
                          class="btn text-white w-100 contents_form_btn_regresar">
                          Regresar
                        </a>
                      </div>
                      <!--/div-->
                    </div>
                    <div class="col-5">
                      <div class="p-2 w-100">
                        <input type="submit" (click)="SolicitarCodigo()" [class.spinner]="btnShowverConfirmacion"
                          [disabled]="btnShowverConfirmacion" value="Solicitar Código"
                          class="btn text-white w-100 contents_form_btn">
                      </div>
                    </div>
                    <div class="col-1"></div>
                  </div>
                </div>

                <div class="form-group  m-0" style="padding-bottom: 5rem;" *ngIf="verSeccionCodigo">
                  <label for="username" class="contents_form_label p-2">Código</label>
                  <input type="text" autocomplete="off" formControlName="token"
                    class="form-control contents_form_input" placeholder="Ingrese Código">

                  <div class="row">

                    <div class="col-5">
                      <div class="p-2 w-100">
                        <input type="submit" (click)="validaCodigo()" value="Siguiente"
                          [class.spinner]="btnShowverSeccionCodigo" [disabled]="btnShowverSeccionCodigo"
                          class="btn text-white w-100 contents_form_btn">
                      </div>
                    </div>
                  </div>
                </div>

                <div>

                </div>


                <div class="content-password" *ngIf="verSeccionClave">
                  <div class="form-group  m-0" style="padding-bottom: 0.5rem;">
                    <label for="username" class="contents_form_label p-2">Contraseña Nueva</label>

                    <p-password class="form-control-autocompletek" formControlName="clave"
                      (input)="recuperar.get('clave')?.setValue(recuperar.get('clave')?.value.trim())"
                      [disabled]="accionMantenimiento == 'R'" [toggleMask]="true" placeholder="Ingrese contraseña">
                    </p-password>
                    <!-- <mensaje-error-control [control]="recuperar.controls['clave']">
                    </mensaje-error-control> -->

                    <div class="col-12" *ngIf="recuperar.hasError('passwordValid','clave')">
                      <div class="m-0 p-0 col-12 error-message">El password debe tener: </div>

                      <div class="col-12">
                        <mat-error class="error-message col-12">
                          (*) al menos una minúscula, una mayúscula y un número 
                        </mat-error>
                      </div>
                      <div class="col-12" *ngIf="recuperar.hasError('passwordValidReverseSame','clave')">
                        <mat-error class="error-message col-12" >
                          (*) la contraseña ingresada no cumple con algunos de los criterios indicados, por favor intente nuevamente.
                        </mat-error>
                      </div>
                      <div class="col-12" *ngIf="recuperar.hasError('minlength','clave')">
                        <mat-error class="error-message col-12" >
                          (*) mínimo 8 caracteres 
                        </mat-error>

                      </div>
                    </div>

                  </div>

                  <div class="form-group  m-0" style="padding-bottom: 0.5rem;">
                    <label for="username" class="contents_form_label p-2">Repita Nueva Contraseña</label>
                    <span class="col-12 m-0 p-0 p-input-icon-right">
                      <i (click)="hide = !hide" [class]="hide ? 'pi pi-eye-slash' : 'pi pi-eye'" style="font-size: 1.2em;"></i>
                      <input type="text" pInputText autocomplete="off" [type]="hide ? 'text' : 'password'" formControlName="reclave"
                        class="form-control contents_form_input" placeholder="Ingrese Contraseña">
                            
                  </span>
                  </div>


                  <div class="row">
                    <div class="col-7 d-flex align-items-center">
                      <div class="d-flex align-items-center">
                        <!--<span class="ml-left pointer"><a class="contents_form_label--link">Se realizo el envio de su nueva contraseña al correo electronico ingresado</a></span>-->
                      </div>
                    </div>
                    <div class="col-6 d-flex align-items-center">
                      <div class="d-flex align-items-center">
                        <div class="p-2 w-100">
                          <a type="submit" [routerLink]="['/login']"
                            class="btn text-white w-100 contents_form_btn_regresar">
                            Regresar
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 text-center">
                      <input type="submit" (click)="enviarContrasena()" value="Aceptar"
                        [class.spinner]="btnShowverSeccionClave" [disabled]="btnShowverSeccionClave || !recuperar.valid"
                        class="btn text-white contents_form_btn " style="padding: 0 30px;">
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="row" style="position: absolute; bottom: 0;">
              <div class="col-9" style="margin: 0 auto;">
                <div class="d-flex align-items-center">
                  <span style="line-height: 20px; font-weight: normal;" class="ml-left contents_form_label--link"> Si
                    necesitas mayor información puedes comunicarte con Helpdesk al 998678965 o helpdesk@serfor.com
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
        </div>
        <div class="p-col-6">
          <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>