<div class="col-12">

  <p-table [value]="listInfoBasicaDet_F" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="caption">
      <tr><td class="text-center">Fisiografía de la UMF</td></tr>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Unidad Fisiográfica</th>
        <th>Área (ha)</th>
        <th>%</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td>{{ data.descripcion }}</td>
        <td>{{ data.areaHa | number: "1.2-3"}}</td>
        <td>{{ data.areaHaPorcentaje | number: "1.2-3"}} % </td>
  
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="1" class="p-text-right">Total</td>
        <td>{{ totalSumaUF | number: "1.2-3"}}</td>
        <td>{{ totalPorcentajeUF }} %</td>
      </tr>
    </ng-template>
  </p-table>
</div>