<form [formGroup]="f">
    <div class="row" *ngIf="tipoModal == TipoModal.Aprovechamiento">
        <div class="col-12">
            <div class="form-group">
                <label class="label">Etapas</label>
                <input type="text" formControlName="etapas" class="form-control" placeholder="Ingrese Etapa" maxlength="100">
            </div>
            <div class="form-group">
                <label class="label">Descripción</label>
                <input type="text" formControlName="descripcion" class="form-control" placeholder="Ingrese Descripción" maxlength="100">
            </div>
            <div class="form-group">
                <label class="label">Equipos, Herramientas e Insumos Utilizados</label>
                <input type="text" formControlName="equipos" class="form-control" placeholder="Ingrese Equipo, Herramienta y/o Insumo" maxlength="250">
            </div>
        </div>
    </div>

    <div class="row" *ngIf="tipoModal == TipoModal.LaborSilvicultural">
        <div class="col-12">
            <div class="form-group">
                <label class="label">Labores</label>
                <input type="text" formControlName="labores" class="form-control" placeholder="Ingrese Labor Silvicultural" maxlength="100">
            </div>
            <!-- <div class="form-group">
                <label class="label">Marca</label>
                <p-checkbox formControlName="marca" id="fldmarca" name="marca"
                    value="marca" (onChange)="toogleDescripcion($event)" [binary]="true"></p-checkbox>
            </div> -->
            <div class="form-group">
                <label class="label">Descripción</label>
                <input type="text" formControlName="descripcion" class="form-control" [disabled]="!chkMarca" maxlength="100"
                        placeholder=" La descripción de la labor silvicultural será ingresado cuando se de check en la columna marcar.">
            </div>
        </div>
    </div>

    <div class="p-dialog-footer" style="padding-bottom:0px;padding-right:0px;">
        <button icon="pi pi-save" pButton (click)="guardar()" pRipple type="button" label="Aceptar"
            class="p-button-success p-button-outlined" style="width: 106px;"></button>
        <button icon="pi pi-times" (click)="cancelar()" pButton pRipple type="button" label="Cancelar"
            class="p-button-danger p-button-outlined" style="width: 106px;"></button>
    </div>
</form>

<p-toast key="gpc_02"></p-toast>