<div class="row m-0">
    <div class="col-12">
        <table class="table table-boderk">
            <thead>
                <tr>
                    <th>Labores</th>
                    <th>Marcar</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of lstLaboresSilviculturales">
                    <td class="text-left">{{data.actividad}}</td>
                    <td>
                        <p-checkbox name="labor[]" [(ngModel)]="data.marca" [binary]="true" [disabled]="disabled" (onChange)="comprobarDiferencia($event, data)">
                        </p-checkbox>
                    </td>
                    <td><div *ngIf="data.marca"><input type="text" [disabled]="disabled" [(ngModel)]="data.descripcion" class="form-control" (change)="comprobarDiferencia($event, data)" maxlength="250" ></div></td>
                </tr>
            </tbody>
        </table>


    </div>
</div>
