<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="Anexo 1: Mapa base" [selected]="true">
          <app-map-custom-anexo
            [idPlanManejo]="idPlanManejo"
            [codigoProceso]="codigoEpica"
            [codigoSubSeccion]="codigoSubSeccion1"
            [tipoGeometria]="'Otros'"
            [isAnexo]="true"
            [printPDF]="true"
            [disabled]="disabled"
          ></app-map-custom-anexo>
        </p-accordionTab>

        <p-accordionTab header="Anexo 2: Mapa de ordenamiento y división administrativa">
          <app-map-custom-anexo
            [idPlanManejo]="idPlanManejo"
            [codigoProceso]="codigoEpica"
            [codigoSubSeccion]="codigoSubSeccion2"
            [tipoGeometria]="'Otros'"
            [isAnexo]="true"
            [printPDF]="true"
            [disabled]="disabled"
          ></app-map-custom-anexo>
        </p-accordionTab>
      </p-accordion>
      <div class="step__btn mt-4 mb-4">
        <button class="btn-primary2" (click)="regresarTab()">Regresar</button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>
