<div class="col-12">
  <div class="col-12 mt-4 mb-3" class="title">
    <label for="" *ngIf="caracterizacion.codNombreInfBasica != 'OT'"
      >{{caracterizacion.comunidad}}
    </label>
    <div
      class="form-group col-12"
      *ngIf="caracterizacion.codNombreInfBasica == 'OT'"
    >
      <label class="label">Tipo población</label>
      <input
        type="text"
        [(ngModel)]="caracterizacion.comunidad"
        class="form-control"
        placeholder=""
        maxlength="100"
      />
    </div>
    <p-table
      [value]="caracterizacion.listInformacionBasicaDet"
      styleClass="p-datatable-gridlines"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 60px; max-width: 60px; min-width: 60px;">
            Acciones
          </th>
          <th style="width: 100px; max-width: 200px; min-width: 100px;">
            Actividades principales
          </th>
          <th style="width: 100px; max-width: 200px; min-width: 100px;">
            Principales productos comercializados
          </th>
          <th style="min-width: 100px; width: 100px;">Ubicación</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
        <tr>
          <td
            class="text-center"
            style="width: 60px; max-width: 60px; min-width: 60px;"
          >
            <span
              class="pointer"
              title="Eliminar"
              (click)="
            eliminarItemCaracterizacion(
              $event,
              item,
              rowIndex
            )
          "
              ><i class="pi pi-trash"></i
            ></span>
          </td>

          <td style="width: 100px; max-width: 200px; min-width: 100px;">
            <div
              *ngIf="item.codSubInfBasicaDet != 'OT' && item.codSubInfBasicaDet != '' "
            >
              <p-checkbox
                [binary]="true"
                [label]="item.actividad"
                [(ngModel)]="item.solucion"
              >
              </p-checkbox>
            </div>
            <div
              *ngIf="item.codSubInfBasicaDet == 'OT' || item.codSubInfBasicaDet == '' "
            >
              <div class="row">
                <p-checkbox
                  [binary]="true"
                  [(ngModel)]="item.solucion"
                  class="col-2 mb-2"
                >
                </p-checkbox>
                <input
                  type="text"
                  [(ngModel)]="item.actividad"
                  class="form-control col-8"
                  placeholder=""
                  maxlength="100"
                />
              </div>
            </div>
          </td>
          <td style="width: 100px; max-width: 200px; min-width: 100px;">
            <textarea
              maxlength="100"
              rows="1"
              class="form-control"
              [(ngModel)]="item.observaciones"
            ></textarea>
          </td>

          <td style="min-width: 100px; width: 100px;">
            <div class="col-12 mb-2">
              <p-radioButton
                value="DUMF"
                label="dentro de la UMF"
                [(ngModel)]="item.descripcion"
              >
              </p-radioButton>
            </div>

            <div class="col-12">
              <p-radioButton
                value="EUMF"
                label="en el entorno de la UMF"
                [(ngModel)]="item.descripcion"
              >
              </p-radioButton>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div class="d-flex justify-content-end mt-4">
  <button
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
    label="Aceptar"
    class="p-button-success p-button-outlined"
    style="width: 106px;"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
    style="width: 106px;"
  ></button>
</div>
<p-toast></p-toast>
<p-toast position="top-right" key="tl"></p-toast>
