<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-12">
      <h3 class="title">Mantenimiento de Entidades</h3>

      <div class="panelk br10 p-3">
        <div class="row">
          <div class="col-12 col-sm-6 form-group">
            <label class="label">Criterio de Búsqueda:</label>
            <input
              class="form-control"
              placeholder="Ingresar sigla, dirección o RUC"
              type="text"
              [(ngModel)]="objbuscar.dato"
              autocomplete="off"
            />
          </div>
          <div class="col-12 col-sm-6 form-group">
            <label class="label">Estado:</label>
            <div class="form-control-selectk">
              <p-dropdown
                [options]="estados"
                optionLabel="name"
                [(ngModel)]="objbuscar.idestado"
                optionValue="code"
                (onChange)="objbuscar.indice = 1"
              ></p-dropdown>
            </div>
          </div>

          <div class="col-12 my-2 form-group text-center">
              <button class="btn btn-sm btn-secondary mr-2" (click)="btnLimpiar()">Limpiar</button>
              <button class="btn btn-sm btn-secondary mr-2" (click)="listarBandeja(objbuscar)">Buscar</button>
              <button class="btn btn-sm btn-secondary" (click)="openModalMantenimiento('C', null)">Nuevo</button>
          </div>

        </div>
      </div>

      <p-confirmPopup></p-confirmPopup>
      <div class="mt-4">
        <div class="tablek">
          <p-table [value]="listaBandejaEntidad">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 80px">Acciones</th>
                <th>Sigla - Entidad</th>
                <th>Tipo Entidad</th>
                <th>Dirección</th>
                <th>RUC</th>
                <th>Estado</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td class="text-center">
                  <span
                    class="pointer mr-1"
                    title="Editar"
                    (click)="openModalMantenimiento('E', data)"
                  >
                    <i class="pi pi-pencil"></i>
                  </span>
                  <span
                    class="pointer mr-1"
                    title="Visualizar"
                    (click)="openModalMantenimiento('R', data)"
                  >
                    <i class="pi pi-eye"></i>
                  </span>

                  <span
                    class="pointer"
                    title="Eliminar"
                    (click)="openEliminarRegistro($event, data)"
                  >
                    <i class="pi pi-trash"></i>
                  </span>
                </td>
                <td>{{ data.sigla }}</td>
                <td>{{data.valorPrimario}}</td>
                <td>{{ data.direccion }}</td>
                <td>{{ data.ruc === "0" ? '' : data.ruc }}</td>
                <td>{{ data.estado == "1" ? "Activo" : "Inactivo" }}</td>
              </tr>
            </ng-template>
          </p-table>
          <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10, 25, 50, 100]"></p-paginator>
        </div>
      </div>
    </div>

    <p-dialog header="{{ tituloModalMantenimiento }}" [(visible)]="verModalMantenimiento" [modal]="true"
      [style]="{ width: '40vw' }" [maximizable]="false" [baseZIndex]="10000" [draggable]="false" [resizable]="true">
      <ng-template pTemplate="content">
        <form [formGroup]="MantenedorFormulario" novalidate>
          <div class="row">
            <div class="col-12 col-sm-6 form-group">
              <label class="label">Código:</label>
              <input [readonly]="true" formControlName="identidad" type="number" class="form-control"
                placeholder="Ingrese código" />
            </div>
            <div class="col-12 col-sm-6 form-group"></div>
            <div class="col-12 col-sm-6 form-group">
              <label class="label">Sigla: *</label>
              <input formControlName="sigla" [readonly]="accionMantenimiento == 'R'" type="text" class="form-control"
                placeholder="Ingrese sigla" />
            <!--  <mensaje-error-control [control]="MantenedorFormulario.controls['sigla']"></mensaje-error-control>-->
            </div>
            <div class="col-12 col-sm-6 form-group">
              <div>
                <label class="label">&nbsp;&nbsp;&nbsp;</label>
              </div>
              <p-checkbox label="¿Es Entidad Interna?" formControlName="flagTipoEntidad" [binary]="true"
                [disabled]="accionMantenimiento == 'R'" (onChange)="changeFlagEntidad()"></p-checkbox>
            </div>
            <div class="col-12 form-group">
              <label class="label">Descripción:</label>
              <input [readonly]="accionMantenimiento == 'R'" formControlName="descripcion" type="text" class="form-control"
                placeholder="Ingrese descripción" />
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-sm-6" *ngIf="MantenedorFormulario.controls['flagTipoEntidad']?.value">
              <div class="form-group">
                <label class="label">Entidad Padre: </label>
                <div class="form-control-selectk">
                  <p-dropdown formControlName="identidadPadre" [disabled]="accionMantenimiento == 'R'"
                    [options]="lstEntidadPadre" optionLabel="name" optionValue="code"></p-dropdown>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 form-group" *ngIf="!MantenedorFormulario.controls['flagTipoEntidad']?.value">
              <label class="label">RUC: *</label>
              <input formControlName="ruc" [readonly]="accionMantenimiento == 'R'" type="text" numero [maxLength]="11"
                class="form-control" placeholder="Ingrese RUC" />
              <!-- <mensaje-error-control [control]="MantenedorFormulario.controls['ruc']"></mensaje-error-control>-->
            </div>
            <div class="col-12 col-sm-6 form-group">
              <label class="label">Departamento: *</label>
              <div class="form-control-selectk">
                <p-dropdown formControlName="idDepartamento" [disabled]="accionMantenimiento == 'R'"
                  (onChange)="listaComboProvincia(true)" [options]="lstDepartamentos" optionValue="code" optionLabel="name"
                  placeholder="Seleccione"></p-dropdown>
                <mensaje-error-control [control]="MantenedorFormulario.controls['idDepartamento']">
                </mensaje-error-control>
              </div>
            </div>
            <div class="col-12 col-sm-6 form-group">
              <label class="label">Provincia: *</label>
              <div class="form-control-selectk">
                <p-dropdown formControlName="idProvincia" [disabled]="accionMantenimiento == 'R'"
                  (onChange)="lstaComboDistrito(true)" [options]="lstProvincias" optionLabel="name" optionValue="code"
                  placeholder="Seleccione"></p-dropdown>
                <mensaje-error-control [control]="MantenedorFormulario.controls['idProvincia']"></mensaje-error-control>
              </div>
            </div>
            <div class="col-12 col-sm-6 form-group">
              <label class="label">Distrito: *</label>
              <div class="form-control-selectk">
                <p-dropdown formControlName="idDistrito" [disabled]="accionMantenimiento == 'R'" [options]="lstDistrito"
                  optionLabel="name" optionValue="code" placeholder="Seleccione"></p-dropdown>
                <mensaje-error-control [control]="MantenedorFormulario.controls['idDistrito']"></mensaje-error-control>
              </div>
            </div>
            <div class="col-12 form-group">
              <label class="label">Dirección: *</label>
              <input formControlName="direccion" maxlength="190" [readonly]="accionMantenimiento == 'R'" type="text"
                class="form-control" placeholder="Ingrese dirección" />
              <mensaje-error-control [control]="MantenedorFormulario.controls['direccion']"></mensaje-error-control>
            </div>
            <!-- <div class="col-12 col-sm-6 form-group">
              <label class="label">Código Dependencia: *</label>
              <input formControlName="codigoDependencia" maxlength="19" [readonly]="accionMantenimiento == 'R'"
                type="number" class="form-control" placeholder="Ingrese código dependencia" />
              <mensaje-error-control [control]="MantenedorFormulario.controls['codigoDependencia']"></mensaje-error-control>
            </div> -->
          </div>
    
          <div class="row">
            <div class="col-12 col-sm-6 form-group">
              <label class="label">Estado: *</label>
              <div>
                <div class="p-field-radiobutton">
                  <p-radioButton formControlName="estado" [disabled]="accionMantenimiento == 'R'" name="estado" value="1"
                    inputId="activo"></p-radioButton>
                  <label class="pointer" for="activo">Activo</label>
                </div>
                <div class="p-field-radiobutton">
                  <p-radioButton formControlName="estado" [disabled]="accionMantenimiento == 'R'" name="estado" value="0"
                    inputId="inactivo"></p-radioButton>
                  <label class="pointer" for="inactivo">Inactivo</label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </ng-template>
      <ng-template pTemplate="footer">
        <button icon="pi pi-save" *ngIf="accionMantenimiento != 'R'" (click)="registrarEntidad(entidadContext)" pButton
          pRipple type="button" label="Guardar" class="p-button-success p-button-outlined" style="width: 106px"></button>
        <button icon="pi pi-times" *ngIf="accionMantenimiento != 'R'" (click)="verModalMantenimiento = false" pButton
          pRipple type="button" label="Cancelar" class="p-button-danger p-button-outlined" style="width: 106px"></button>
      </ng-template>
    </p-dialog>
  </div>
  <p-toast></p-toast>
</div>
