<p-accordionTab header="{{titulo}}">
  <div>
    <div class="pb-4" *ngIf="opinion == 'OTRA'">
      <ng-container *ngTemplateOutlet="entidad"></ng-container>
    </div>
    <div class="form-group row m-0 mb-2">
      <label for="inputPassword" class="col-sm-2 pl-0 col-form-label label"
        >Tipo de documento</label
      >
      <div class="col-sm-4">
        <div class="form-control-selectk">
          <p-dropdown
            appendTo="body"
            [options]="lisTiposArchivo"
            placeholder="Seleccionar"
            optionLabel="valor1"
            optionValue="codigo" [disabled]="disabled"
            [(ngModel)]="opinionObj.tipoDocumento"
          >
          </p-dropdown>
        </div>
      </div>
    </div>
    <div class="form-group row m-0 mb-2">
      <label for="inputPassword" class="col-sm-2 pl-0 col-form-label label"
        >Número de documento</label
      >
      <div class="col-sm-4">
        <input
          class="form-control form-control-sm"
          [(ngModel)]="opinionObj.numDocumento"
          [maxlength]="11" [disabled]="disabled"
          autocomplete="off"
        />
      </div>
    </div>
    <div class="form-group row m-0 mb-2">
      <label for="inputPassword" class="col-sm-2 pl-0 col-form-label label"
        >Fecha de documento</label
      >
      <div class="col-sm-4">
        <div class="content-date">
          <input
            autocomplete="off"
            class="form-control"
            matInput [disabled]="disabled"
            [matDatepicker]="fecha"
            placeholder="Seleccione Fecha"
            readonly
            [min]="minDate"
            [(ngModel)]="fechaDocumento"
          />
          <i class="pi pi-calendar pointer" (click)="fecha.open()"></i>
          <mat-datepicker #fecha></mat-datepicker>
        </div>
      </div>
    </div>
    <div class="form-group row m-0 mb-2">
      <label for="inputPassword" class="col-sm-2 pl-0 col-form-label label"
        >Asunto</label
      >
      <div class="col-sm-5">
        <textarea
          type="text"
          class="form-control form-control-sm"
          cols="3"
          rows="4" [disabled]="disabled"
          [(ngModel)]="opinionObj.asunto"
          maxlength="250"
        ></textarea>
      </div>
      <div class="col-sm-5">
        <div class="mb-2">
          <div *ngIf="opinion == 'SERNANP'">
            <ng-container *ngTemplateOutlet="sernanpArchivo"></ng-container>
          </div>
          <div *ngIf="opinion == 'ANA'">
            <ng-container *ngTemplateOutlet="anaArchivo"></ng-container>
          </div>
          <div *ngIf="opinion == 'MINCUL'">
            <ng-container *ngTemplateOutlet="minculArchivo"></ng-container>
          </div>
          <div *ngIf="opinion == 'OTRA'">
            <ng-container *ngTemplateOutlet="otraArchivo"></ng-container>
          </div>
        </div>
        <div *ngIf="opinion == 'SERNANP'">
          <button class="btn-primary2" (click)="solicitarOpinion('SERNANP')" [disabled]="disabled">
            Solicitar opinión
          </button>
        </div>
        <div *ngIf="opinion == 'ANA'">
          <button class="btn-primary2" (click)="solicitarOpinion('ANA')" [disabled]="disabled">
            Solicitar opinión
          </button>
        </div>
        <div *ngIf="opinion == 'MINCUL'">
          <button class="btn-primary2" (click)="solicitarOpinion('MINCUL')" [disabled]="disabled">
            Solicitar opinión
          </button>
        </div>
        <div *ngIf="opinion == 'OTRA'">
          <button class="btn-primary2" (click)="solicitarOpinion('OTRA')" [disabled]="disabled">
            Solicitar opinión
          </button>
        </div>
      </div>
    </div>
    <div>
      <ng-template pTemplate="containerExtra">
        <ng-container [ngTemplateOutlet]="contenidoExtra"> </ng-container>
      </ng-template>
    </div>
  </div>
</p-accordionTab>

<ng-template #entidad>
  <div class="form-group row m-0 mb-2">
    <label for="inputPassword" class="col-sm-2 pl-0 col-form-label label"
      >Entidad</label
    >
    <div class="col-sm-4">
      <div class="form-control-selectk">
        <p-dropdown
          appendTo="body"
          [options]="listEntidades"
          placeholder="Seleccionar"
          optionLabel="valor1"
          optionValue="codigo" [disabled]="disabled"
          [(ngModel)]="opinionObj.entidad"
        >
        </p-dropdown>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #sernanpArchivo>
  <div class="col-12" *ngIf="codigoEpica != 'DEMA' && codigoEpica != 'PMFIC' && codigoEpica != 'PMFI' ">
    <!-- <input-buttons
      [label]="''"
      [idPlanManejo]="idPlanManejo"
      [idTipoDocumento]="58"
      [codigoProceso]="codigoEpica"
    >
    </input-buttons> -->
    <input-buttons-codigo
      [idPlanManejo]="idPlanManejo" [disabled]="disabled"
      [idTipoDocumento]="58"
      [codigoProceso]="codigoEpica"
    >
    </input-buttons-codigo>
  </div>

  <div class="col-12" *ngIf="codigoEpica == 'DEMA'">
    <input-buttons-codigo
      [label]="''"
      [idPlanManejo]="idPlanManejo"
      [idTipoDocumento]="'DEMASERNANP'"
      [codigoProceso]="codigoEpica" [disabled]="disabled"
      (registrarArchivoId)="registrarArchivoId($event, 'SERNANP')"
    >
    </input-buttons-codigo>
  </div>

  <div class="col-12" *ngIf="codigoEpica == 'PMFIC' ">
    <input-buttons-codigo
      [label]="''"
      [idPlanManejo]="idPlanManejo"
      [idTipoDocumento]="'PMFICSERNANP'"
      [codigoProceso]="codigoEpica" [disabled]="disabled"
      (registrarArchivoId)="registrarArchivoId($event, 'SERNANP')"
    >
    </input-buttons-codigo>
  </div>
  <div class="col-12" *ngIf="codigoEpica == 'PMFI' ">
    <input-buttons-codigo
      [label]="''"
      [idPlanManejo]="idPlanManejo"
      [idTipoDocumento]="'PMFISERNANP'"
      [codigoProceso]="codigoEpica" [disabled]="disabled"
      (registrarArchivoId)="registrarArchivoId($event, 'SERNANP')"
    >
    </input-buttons-codigo>
  </div>
</ng-template>

<ng-template #anaArchivo>
  <div class="col-12" *ngIf="codigoEpica != 'DEMA' && codigoEpica != 'PMFIC' && codigoEpica != 'PMFI' ">
    <!-- <input-buttons
      [label]="''"
      [idPlanManejo]="idPlanManejo"
      [idTipoDocumento]="59"
      [codigoProceso]="codigoEpica"
    >
    </input-buttons> -->
    <input-buttons-codigo
      [idPlanManejo]="idPlanManejo"
      [idTipoDocumento]="59"
      [codigoProceso]="codigoEpica" [disabled]="disabled"
    >
    </input-buttons-codigo>
  </div>

  <div class="col-12" *ngIf="codigoEpica == 'DEMA'">
    <input-buttons-codigo
      [label]="''"
      [idPlanManejo]="idPlanManejo"
      [idTipoDocumento]="'DEMAANA'"
      [codigoProceso]="codigoEpica" [disabled]="disabled"
      (registrarArchivoId)="registrarArchivoId($event, 'ANA')"
    >
    </input-buttons-codigo>
  </div>
  <div class="col-12" *ngIf="codigoEpica == 'PMFIC'">
    <input-buttons-codigo
      [label]="''"
      [idPlanManejo]="idPlanManejo"
      [idTipoDocumento]="'PMFICANA'"
      [codigoProceso]="codigoEpica" [disabled]="disabled"
      (registrarArchivoId)="registrarArchivoId($event, 'ANA')"
    >
    </input-buttons-codigo>
  </div>
  <div class="col-12" *ngIf="codigoEpica == 'PMFI'">
    <input-buttons-codigo
      [label]="''"
      [idPlanManejo]="idPlanManejo"
      [idTipoDocumento]="'PMFIANA'"
      [codigoProceso]="codigoEpica" [disabled]="disabled"
      (registrarArchivoId)="registrarArchivoId($event, 'ANA')"
    >
    </input-buttons-codigo>
  </div>
</ng-template>

<ng-template #minculArchivo>
  <div class="col-12" *ngIf="codigoEpica != 'DEMA' && codigoEpica != 'PMFIC' && codigoEpica != 'PMFI' ">
    <!-- <input-buttons
      [label]="''"
      [idPlanManejo]="idPlanManejo"
      [idTipoDocumento]="60"
      [codigoProceso]="codigoEpica"
    >
    </input-buttons> -->
    <input-buttons-codigo
      [idPlanManejo]="idPlanManejo"
      [idTipoDocumento]="60"
      [codigoProceso]="codigoEpica" [disabled]="disabled"
    >
    </input-buttons-codigo>
  </div>

  <div class="col-12" *ngIf="codigoEpica == 'DEMA'">
    <input-buttons-codigo
      [label]="''"
      [idPlanManejo]="idPlanManejo"
      [idTipoDocumento]="'DEMAMINCUL'"
      [codigoProceso]="codigoEpica" [disabled]="disabled"
      (registrarArchivoId)="registrarArchivoId($event, 'MINCUL')"
    >
    </input-buttons-codigo>
  </div>

  <div class="col-12" *ngIf="codigoEpica == 'PMFIC' ">
    <input-buttons-codigo
      [label]="''"
      [idPlanManejo]="idPlanManejo"
      [idTipoDocumento]="'PMFICMINCUL'"
      [codigoProceso]="codigoEpica" [disabled]="disabled"
      (registrarArchivoId)="registrarArchivoId($event, 'MINCUL')"
    >
    </input-buttons-codigo>
  </div>
  <div class="col-12" *ngIf="codigoEpica == 'PMFI' ">
    <input-buttons-codigo
      [label]="''"
      [idPlanManejo]="idPlanManejo"
      [idTipoDocumento]="'PMFIMINCUL'" [disabled]="disabled"
      [codigoProceso]="codigoEpica"
      (registrarArchivoId)="registrarArchivoId($event, 'MINCUL')"
    >
    </input-buttons-codigo>
  </div>
</ng-template>
<ng-template #otraArchivo>
  <div class="col-12" *ngIf="codigoEpica != 'DEMA' && codigoEpica != 'PMFIC' && codigoEpica != 'PMFI'">
    <!-- <input-buttons
      [label]="''"
      [idPlanManejo]="idPlanManejo"
      [idTipoDocumento]="61"
      [codigoProceso]="codigoEpica"
    >
    </input-buttons> -->
    <input-buttons-codigo
      [idPlanManejo]="idPlanManejo" [disabled]="disabled"
      [idTipoDocumento]="61"
      [codigoProceso]="codigoEpica"
    >
    </input-buttons-codigo>
  </div>
</ng-template>
