<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="8.0 Carga Masiva" [selected]="true">
          <div class="row">
            <div
            class="col-12 mt-4 mb-3 mr-2"
            style="overflow: auto; width: 100%; height: 100%;"
          >
            <h3 class="title2">Cargar Información</h3>
            <div class="row">
              <div class="col-sm-4">
                <label class="label"></label><br />
                <button
                  class="btn-secondary"
                  (click)="btnDescargarFormato()"
                >
                  Descargar Formato
                </button>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="label"></label><br />
                  <upload-input-button
                    [(ngModel)]="archivo.file" [disabled]="disabled"
                    label="Seleccione Archivo"
                  ></upload-input-button>
                </div>
              </div>
              <div class="col-sm-4">
                <label class="label"></label><br />
                <button class="btn-secondary" [disabled]="disabled" (click)="btnCargar()">
                  Cargar Formato
                </button>
              </div>
            </div>
          </div>
          </div>
        </p-accordionTab>


        <p-accordionTab header="8.1. Potencial con fines de aprovechamiento forestal maderable">
          <div class="col-12 p-0">
            <mat-tab-group animationDuration="0ms">
              <mat-tab
                label="8.1.1. Inventario con fines de aprovechamiento forestal maderable"
              >
                <p-accordion>
                  <br />
                  <p-accordionTab
                    header="Árboles aprovechables"
                    [selected]="true"
                  >
                    <app-arboles-aprovechables
                      [idPlanManejo]="idPlanManejo" [disabled]=disabled
                      [cargarServicio]="cargarServicios"
                    ></app-arboles-aprovechables>
                  </p-accordionTab>

                  <p-accordionTab header="Fustales">
                    <app-fustales [idPlanManejo]="idPlanManejo" [cargarServicio]="cargarServicios" [disabled]=disabled></app-fustales>
                  </p-accordionTab>
                </p-accordion>
              </mat-tab>

              <mat-tab
                label="8.1.2. Censo comercial con fines de aprovechamiento forestal maderable"
              >
                <app-censo-forestal-maderable [cargarServicio]="cargarServicios"
                                              [idPlanManejo]="idPlanManejo" [disabled]=disabled
                ></app-censo-forestal-maderable>
              </mat-tab>
            </mat-tab-group>
          </div>
        </p-accordionTab>

        <p-accordionTab
          header="8.2. Potencial con fines de aprovechamiento forestal no maderable"
        >
          <div class="col-12 p-0">
            <mat-tab-group animationDuration="0ms">
              <mat-tab
                label="8.2.1. Inventario con fines de aprovechamiento forestal no maderables"
              >
                <app-inventario-no-maderable [disabled]=disabled [cargarServicio]="cargarServicios"
                  [idPlanManejo]="idPlanManejo"
                ></app-inventario-no-maderable>
              </mat-tab>

              <mat-tab
                label="8.2.2. Censo comercial con fines de aprovechamiento forestal no maderable"
              >
                <app-censo-comercial-no-maderable [disabled]=disabled [cargarServicio]="cargarServicios"
                  [idPlanManejo]="idPlanManejo"
                ></app-censo-comercial-no-maderable>
              </mat-tab>
            </mat-tab-group>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon_8"
            [base]="detEvaluacion_8"
          >
          </evaluacion-archivo-shared>
        </p-accordionTab>

      </p-accordion>

      <div class="step__btn mt-4 mb-4">
        <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="registrarEvaluacion()">
          Guardar Evaluación
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
    </div>
  </div>
</div>
