<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title">Ep3.2.1: Solicitud de Evaluación de PGMF</h3>
    </div>
    <div class="col-sm-12">
      <p-fieldset class="customFieldset" legend="Filtros">
        <div class="row m-0">
          <div class="col-12 col-sm-3">
            <div class="form-group">
              <label class="label">ID PGMF</label>
              <input
                autocomplete="off"
                class="form-control"
                numero
                [maxLength]="9"
                [(ngModel)]="listarPlanManejoEvaluacionRequest.idPlanManejo"
              />
            </div>
          </div>

          <div class="col-12 col-sm-3" *ngIf="verComboEstado">
            <label class="label">Estado Solicitud</label>
            <div class="form-control-selectk">
              <p-dropdown
                class="fomr-control"
                placeholder="-- Seleccione --"
                [options]="estados"
                optionValue="codigo"
                optionLabel="valorPrimario"
                [(ngModel)]="
                  listarPlanManejoEvaluacionRequest.estadoPlanManejoEvaluacion
                "
              >
              </p-dropdown>
            </div>
          </div>

          <div class="col-12 col-sm-3">
            <div class="form-group">
              <label class="label">Titular / Regente</label>
              <input
                autocomplete="off"
                class="form-control"
                type="text"
                [(ngModel)]="listarPlanManejoEvaluacionRequest.titularRegente"
              />
            </div>
          </div>

          <div class="col-12 col-sm-3">
            <div class="form-group">
              <label class="label">Fecha de Presentación </label>
              <div class="content-date">
                <input
                  autocomplete="off"
                  type="text"
                  class="form-control"
                  matInput
                  [matDatepicker]="fi"
                  [(ngModel)]="
                    listarPlanManejoEvaluacionRequest.fechaPresentacion
                  "
                  readonly="true"
                />
                <i class="pi pi-calendar pointer" (click)="fi.open()"></i>
                <mat-datepicker #fi></mat-datepicker>
              </div>
            </div>
          </div>
        </div>

        <div class="container-button">
          <div class="col-sm-4 col-md-4 mt-3 mb-2 form-group">
            <button class="btn btn-sm btn-secondary mr-2" (click)="limpiar()">
              Limpiar
            </button>
            <button class="btn btn-sm btn-secondary" (click)="buscar()">
              Buscar
            </button>
          </div>
        </div>

        <br />
      </p-fieldset>

      <br />

      <div class="tablek" *ngIf="!verCamposExtras">
        <p-table [value]="evaluaciones">
          <ng-template pTemplate="header">
            <tr>
              <th>ID PGMF</th>
              <th>Titular</th>
              <th>Fecha de Presentación</th>
              <th>Estado del PGMF</th>
              <th>Estado Solcitud de Eval.</th>
              <th style="width: 80px">Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{ data.idPlanManejo }}</td>
              <td>{{ data.titularRegente }}</td>
              <td>{{ data.fechaPresentacion | date: "dd/MM/yyyy HH:ss a" }}</td>
              <td>
                <text-color-estado
                  [codEstado]="data?.estadoPlanManejo"
                  [codigoEstado]="data?.descEstadoPlanManejo"
                >
                </text-color-estado>
              </td>
              <td>
                <text-color-estado
                  [codEstado]="data?.estadoPlanManejoEvaluacion"
                  [codigoEstado]="data?.descEstadoPlanManejoEvaluacion"
                >
                </text-color-estado>
              </td>
              <td>
                <span
                  *ngIf="
                    usuario.sirperfil == 'MDP' || usuario.sirperfil == 'ARFFS';
                    else onlyRead
                  "
                  class="pointer mr-1"
                  title="Ver"
                  (click)="verDetalle(data)"
                >
                  <i class="pi pi-pencil"></i>
                </span>

                <ng-template #onlyRead>
                  <span
                    class="pointer mr-1"
                    title="Ver"
                    (click)="verDetalle(data)"
                  >
                    <i class="pi pi-eye"></i>
                  </span>
                </ng-template>

                <span
                  style="margin-left: 10px"
                  *ngIf="usuario.sirperfil == 'TITULARTH'"
                  class="pointer mr-1"
                  title="Ir a Plan"
                  (click)="verConsension(data)"
                >
                  <i class="pi pi-send"></i>
                </span>

                <!--
                                <span style="margin-left: 10px;"
                                    *ngIf="usuario.sirperfil == 'ARFFS' && data.estadoPlanManejoEvaluacion == 'EEVARESOLA'"
                                    class="pointer mr-1" title="Notificar" (click)="enviarNotificacion(data)">
                                    <i class="pi pi-send"></i>
                                </span> -->
              </td>
            </tr>
          </ng-template>
        </p-table>

        <p-paginator
          [rows]="10"
          [totalRecords]="totalRecords"
          (onPageChange)="loadData($event)"
          [rowsPerPageOptions]="[5, 10, 25, 50, 100]"
        ></p-paginator>
      </div>

      <div class="tablek" *ngIf="verCamposExtras">
        <p-table [value]="evaluaciones">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 80px">Acciones</th>
              <th>Código del PGMF</th>
              <th>Código del TH</th>
              <th>Titular / Regente</th>
              <th>Fecha Inicio Vigencia</th>
              <th>Fecha Fin Vigencia</th>
              <th>Fecha de Presentación</th>
              <th>Fecha Aprobación</th>
              <!-- <th>Listado Especies</th> -->
              <!-- <th>Cordenadas UTM</th> -->
              <th>Nº Resolución</th>
              <th>Nº Informe de Aprobación</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <tr>
              <td>
                <span
                  class="pointer mr-1"
                  title="Ver"
                  (click)="verDetalle(data)"
                >
                  <i class="pi pi-eye"></i>
                </span>

                <span
                  style="margin-left: 10px"
                  class="pointer mr-1"
                  title="Ver detalle"
                  (click)="verDetalleEspecies(data)"
                >
                  <i class="pi pi-external-link"></i>
                </span>
              </td>
              <td>{{ data.idPlanManejo }}</td>
              <td>{{ data.codigoTituloHabilitante }}</td>
              <td>{{ data.titularRegente }}</td>
              <td>{{ data.fechaInicioVigencia | date: "dd/MM/yyyy" }}</td>
              <td>{{ data.fechaFinVigencia | date: "dd/MM/yyyy" }}</td>
              <td>{{ data.fechaPresentacion | date: "dd/MM/yyyy" }}</td>
              <td>{{ data.fechaAprobacion | date: "dd/MM/yyyy" }}</td>
              <!-- <td> Cooba, Boailna</td> -->
              <!-- <td> 29T 548929 4801142 </td> -->
              <td>{{ data.idResolucion }}</td>
              <td>{{ data.idPlanManejoEval }}</td>
            </tr>
          </ng-template>
        </p-table>

        <p-paginator
          [rows]="10"
          [totalRecords]="totalRecords"
          (onPageChange)="loadData($event)"
          [rowsPerPageOptions]="[5, 10, 25, 50, 100]"
        ></p-paginator>
      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-dialog
  header="Listado Especies"
  [(visible)]="displayEspecies"
  [draggable]="false"
  [baseZIndex]="10000"
  [style]="{ width: '800px' }"
>
  <ng-template pTemplate="content">
    <div class="row">
      <div class="col-12">
        <p-table [value]="listadoEspecies" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>Código Especie</th>
              <th>Nombre Com&uacute;n</th>
              <th>Nombre Científico</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{ data.idEspecie }}</td>
              <td>{{ data.nombreComun }}</td>
              <td>{{ data.nombreCientifico }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </ng-template>
</p-dialog>
