
<div class="row">            
    <div class="form-group col-12">
        <label class="label">Denominación o Espacios</label>
        <input  type="text"  [(ngModel)]="context.categoria" required class="form-control" placeholder="" maxlength="50" >                 
    </div>
</div>

<div class="d-flex justify-content-end">
    <button icon="pi pi-save" (click)="agregar()" pButton pRipple type="button" label="Agregar"
                class="p-button-success p-button-outlined"></button> &nbsp;&nbsp;
    <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
              class="p-button-danger p-button-outlined" ></button>
  </div>
