<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="title">Ep3.2.2 - Ep3.2.3 - Ep3.2.4 - Ep3.2.5: Registro de Evaluación de Campo</h3>
        </div>

        <div class="col-12">

            <p-accordion>
                <p-accordionTab header="1. Documento de Gestión" [selected]="true">
                    <div class="col-12">

                        <formulario-documento-gestion [evaluacion]="evaluacion">
                        </formulario-documento-gestion>

                        <br>

                        <span class="title2">Documentos del Plan:</span>
                        <tabla-documentos [fileList]="listArchivosPlan" [edit]="false"></tabla-documentos>
                        <div *ngIf="!hayListaArchivosPlan">
                            <label>  (El plan seleccionado no tiene archivos cargados)</label>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="2. Programación de Inspección">
                    <div class="col-12">
                        <formulario-programacion-inspeccion [usuario]="usuario" [evaluacion]="evaluacion"
                            [disabled]="disabled" [archivoSustento]="archivoSustento"
                            [archivoComunicacion]="archivoComunicacion" [minDate]="minDate">
                        </formulario-programacion-inspeccion>

                        <div class="row">
                            <div class="col-12">
                                <p-listbox [options]="comboAutoridad" [group]="true" [(ngModel)]="selectAutoridad"
                                    [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true"
                                    [listStyle]="{'max-height':'250px'}" [disabled]="disabled">
                                    <ng-template let-group pTemplate="group">
                                        <div class="p-d-flex p-ai-center">
                                            <span>{{group.label}}</span>
                                        </div>
                                    </ng-template>
                                </p-listbox>
                            </div>
                        </div>

                    </div>
                </p-accordionTab>

                <p-accordionTab header="3. Impedimentos">
                    <div class="col-12">

                        <impedimentos [minDate]="minDate" [evaluacion]="evaluacion" [usuario]="usuario"
                            [disabled]="disabled" [fileList]="listArchivosImpedimientos" (listadoImpedimentos)="listarArchivosImpedimientos()"></impedimentos>

                    </div>
                </p-accordionTab>

                <p-accordionTab header="4. Inspección">
                    <div class="col-12">


                        <inspeccion [evaluacion]="evaluacion" [usuario]="usuario" [disabled]="disabled" [isPlanFor]="isPlanFor"
                            [archivoAsamblea]="archivoAsamblea" [fileList]="listarArchivosInspeccion"></inspeccion>


                    </div>
                </p-accordionTab>

                <p-accordionTab header="5. Infracciones">
                    <div class="col-12">
                        <infracciones [idEvaluacionCampo]="idEvaluacionCampo" [disabled]="disabled"></infracciones>
                    </div>
                </p-accordionTab>

                <p-accordionTab header="6. Informe de Verificación de Campo">
                    <div class="col-12">
                        <br>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12  col-md-4">
                                    <upload-input-buttons [label]="'Informe Firmado'" [disabled]="disabled" 
                                        [accept]="'.pdf'" [file]="archivoInforme"
                                        (registrarArchivo)="adjuntarInforme($event)"
                                        (eliminarArchivo)="eliminarArchivoInforme($event)">
                                    </upload-input-buttons>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </p-accordionTab>

                <p-accordionTab header="7. Resultados">
                    <div class="col-12">

                        <br>

                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="p-field-radiobutton">
                                    <p-radioButton name="informacionAnexo3" [value]="true" inputId="favo"
                                        [(ngModel)]="evaluacion.resultadoFavorable" [disabled]="disabled">
                                    </p-radioButton>
                                    <strong for="favo" style="margin-left: 5px;">Favorable</strong>

                                </div>
                                <div class="p-field-radiobutton">
                                    <p-radioButton name="informacionAnexo3" [value]="false" inputId="noFavo"
                                        [(ngModel)]="evaluacion.resultadoFavorable" [disabled]="disabled">
                                    </p-radioButton>
                                    <strong for="noFavo" style="margin-left: 5px;">Desfavorable</strong>

                                </div>
                            </div>
                        </div>

                        <br>

                    </div>
                </p-accordionTab>

            </p-accordion>
        </div>


    </div>

    <br>

    <div class="row">
        <ng-container *ngIf="!isPlanFor">
    
            <button class="btn btn-sm btn-primary2" (click)="regresar()">Anterior</button>
    
    
            <button class="btn btn-sm btn-primary2" (click)="registrarEvaluacion(2)" [disabled]="disabled">Guardar</button>
    
    
            <button class="btn btn-sm btn-primary2" (click)="registrarEvaluacion(3)" [disabled]="disabled">Finalizar
                Evaluación de
                Campo</button>
        </ng-container>
    </div>


    <br>

</div>



<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>