<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title">Lista de Postulación PFDM con Solicitudes Generación de Contrato</h3>
    </div>
    <div class="col-sm-12">

      <div class="panelk br10 p-3">
        <div class="row">
          <div class="col-sm-6 col-md-6 mb-2 form-group">
            <label class="label">Postulación PFDM:</label>
            <div class="form-control-selectk">
              <p-dropdown class="fomr-control" [(ngModel)]="procesoPostulacionSelect"
                  optionValue="idProcesoPostulacion" [options]="procesoPostulacion" optionLabel="idProcesoPostulacion">
              </p-dropdown>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 mb-2 form-group">
            <label class="label">Estado:</label>
            <div class="form-control-selectk">
              <p-dropdown class="fomr-control" [options]="estadoContrato"   [(ngModel)]="selectedestadocontrato"></p-dropdown>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 mt-3 mb-2 form-group">
            <button class="btn btn-sm btn-secondary mr-2" (click)="listarContrato()">Buscar</button>
            <button class="btn btn-sm btn-secondary" (click)="verModalGeneracionContrato()">Nuevo</button>
          </div>
        </div>
      </div>
      <br>

      <!--{first} al {last} of {totalRecords}  propiedades de paginado -->
      <div class="tablek">
        <p-table [value]="listContrato" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
          currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
          <ng-template pTemplate="header">
            <tr>
              <th>ID Postulación PFDM</th>
              <th>Título habilitante</th>
              <th>Representante Legal</th>
              <th>Usuario Postulante</th>
              <th>Firmado</th>
              <th>Estado</th>
              <th>Ver</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-obj>
            <tr>
              <td>{{obj.idProcesoPostulacion}}</td>
              <td>{{obj.codigoTituloH}}</td>
              <td>{{obj.nombreRepresentanteLegal}}</td>
              <td>{{obj.nombreUsuarioPostulante}}</td>
              <td>{{!obj.firmado ? "Firma Pendiente" : "Firmado" }}</td>
              <td>{{obj.statusContrato}}</td>
              <td>
                <a style="cursor: pointer;" (click)="verDetalle(obj)"> <i class="pi pi-eye"></i> </a>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

    </div>

  </div>
</div>

<p-toast position="bottom-center" key="tl"></p-toast>
