<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 pt-4">
      <h3 class="title">
        <span class="title"> SOLICITUD DE PERMISOS FORESTALES </span>
        <span class="title nro-dema">N° {{ idPermisoForestal }}</span>
      </h3>
    </div>

    <div class="col-12">
      <mat-tab-group
        animationDuration="0ms"
        [selectedIndex]="tabIndex"
        (selectedIndexChange)="informChange($event)"
      >
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">1. Información</span>
            <span class="tab-text">General</span>
          </ng-template>

          <ng-template matTabContent>
            <informacion-general-pfcr
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [idPermisoForestal]="idPermisoForestal"
              [showRegresar]="showRegresar"
              (comunidad)="comunidad = $event"
              (codEstadoPF)="codigoEstadoPermisoForestal = $event"
              (nroDocumento)="nroDocumento = $event"
            ></informacion-general-pfcr>
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">2. Datos de Otorgamiento </span>
          </ng-template>
          <ng-template matTabContent>
            <datos-aprovechamiento-pfcr
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [idPermisoForestal]="idPermisoForestal"
              [showRegresar]="showRegresar"
              [comunidad]="comunidad"
              [codEstadoPF]="codigoEstadoPermisoForestal"
              [nroDocumento]="nroDocumento"
              (sunat)="(sunat)"
              (sunarp)="(sunarp)"
            >
            </datos-aprovechamiento-pfcr>
            <!--              [isPerfilArffs]="isPerfilArffs"-->
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center"> 3. Anexos </span>
          </ng-template>
          <ng-template matTabContent>
            <anexos-pfcr
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [idPermisoForestal]="idPermisoForestal"
              [showRegresar]="showRegresar"
              [codEstadoPF]="codigoEstadoPermisoForestal"
              [nroDocumento]="nroDocumento"
            ></anexos-pfcr>
          </ng-template>
        </mat-tab>
        <mat-tab
          *ngIf="
            usuario.sirperfil == Perfiles.MESA_DE_PARTES &&
            (codigoEstadoPermisoForestal == CodigoPermisoForestal.ESTADO_VAL_PROCEDE
            || codigoEstadoPermisoForestal == CodigoPermisoForestal.ESTADO_PRESENTADO)

          "
        >
          <ng-template mat-tab-label>
            <span class="text-center">4. Recepción Documentos Físicos</span>
          </ng-template>
          <ng-template matTabContent>
            <recepcion-documentos-fisicos
              (regresar)="regresarTab()"
              [disabled]="false"
              [idPermisoForestal]="idPermisoForestal"
              [numeracion]="'4'"
            ></recepcion-documentos-fisicos>
          </ng-template>
        </mat-tab>
        <mat-tab
          *ngIf="
            (usuario.sirperfil == Perfiles.AUTORIDAD_REGIONAL &&
            (codigoEstadoPermisoForestal == CodigoPermisoForestal.ESTADO_VAL_EN_EVALUACION ||
            codigoEstadoPermisoForestal == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE ||
            codigoEstadoPermisoForestal == CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE)) || (usuario.sirperfil == Perfiles.TITULARTH && codigoEstadoPermisoForestal ==
              CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE )
          "
        >
          <ng-template mat-tab-label>
            <span class="text-center">4. Resultados de Evaluación </span>
          </ng-template>
          <ng-template matTabContent>
            <permiso-resultado-evaluacion
              (regresar)="regresarTab()"
              [disabled]="false"
              [idPermisoForestal]="idPermisoForestal"
              [codigoPlan]="'PFCREV'"
              [numeracion]="'3'"
              [sunat]="sunat"
              [sunarp]="sunarp"
            >
            </permiso-resultado-evaluacion>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <p-toast></p-toast>
</div>
