.class1::before {
  content: "Pendiente";
  color: rgb(226, 226, 37);
  font-weight: bold;
}
.class2::before {
  content: "Observado";
  color: red;
  font-weight: bold;
}
.class3::before {
  content: "Valido";
  color: #4a962c;
  font-weight: bold;
}

.nro-dema {
  color: #4caf50;
  font-size: 1.2em;
}
