<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="5.0 Carga Masiva" [selected]="true">
          <div class="row">
            <div
            class="col-12 mt-4 mb-3"
            style="overflow: auto; width: 100%; height: 100%;"
          >
            <h3 class="title2">Cargar Información</h3>
            <div class="row">
              <div class="col-sm-4">
                <label class="label"></label><br />
                <button
                  class="btn-secondary" [disabled]="disabled"
                  (click)="btnDescargarFormato()"
                >
                  Descargar Formato
                </button>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="label"></label><br />
                  <upload-input-button [disabled]="disabled"
                    [(ngModel)]="archivoPOAC.file"
                    label="Seleccione Archivo"
                  ></upload-input-button>
                </div>
              </div>
              <div class="col-sm-4">
                <label class="label"></label><br />
                <button class="btn-secondary" (click)="btnCargarPOAC()" [disabled]="disabled">
                  Cargar Formato
                </button>
              </div>
            </div>
          </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="5.1. Delimitación del área de aprovechamiento">
          <div class="row">
            <div class="col-2 col-sm-12 text-right mb-1">
              <button
                (click)="agregarDemarcacion()"
                class="btn btn-sm btn-default pt-2"
                type="button"
                title="Agregar"
                [disabled]="disabled || isPerfilArffs"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
            <div class="col-12">
              <p-table [value]="delimitacionAreaAprov">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 25%;">Sistema de demarcación</th>
                    <th style="width: 5%; text-align: center;">
                      <p-checkbox
                        [binary]="true"
                        [disabled]="isPerfilArffs || disabled"
                        [(ngModel)]="masterSelected"
                        (onChange)="checkUncheckAll()"
                        >
                        </p-checkbox>
                    </th>
                    <th style="width: 70%;">Modo de implementación</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td *ngIf="data.observacion === '' || (!data.checked && data.observacion !== '')">
                      {{ data.operaciones }}
                    </td>
                    <td *ngIf="data.checked && data.observacion !== ''">
                      <input
                        pInputText
                        maxlength="40"
                        class="form-control"
                        [(ngModel)]="data.operaciones"
                      />
                    </td>
                    <td>
                      <div class="p-field-checkbox" style="margin: 20px">
                        <p-checkbox
                          for="numero"
                          [binary]="true"
                          [disabled]="isPerfilArffs || disabled"
                          [(ngModel)]="data.checked"
                          (onChange)="isAllSelected()"
                        >
                        </p-checkbox>
                      </div>
                    </td>
                    <td>
                      <div>
                        <!-- <input
                          type="text"
                          maxlength="100"
                          class="form-control"
                          [disabled]="isPerfilArffs"
                          placeholder="Ingrese implementación"
                          [(ngModel)]="data.descripcion"
                          [disabled]="!data.checked"
                        /> -->
                        <textarea
                          class="form-control"
                          rows="2"
                          maxlength="250"
                          placeholder="Ingrese implementación"
                          [disabled]="disabled ||!data.checked"
                          [(ngModel)]="data.descripcion"
                          style="resize: none;"
                        >
                        </textarea>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>

            <div class="col-12 mb-2 mt-4">
              <div class="form-group col-4">
                <label class="label"
                  >Distancia entre trochas de orientación (m):
                </label>
                <input
                  decimal
                  [(ngModel)]="delimitacionAreaAprovechamiento5_1.trochas"
                  [minlength]="1"
                  [min]="0"
                  [maxLength]="12"
                  [decimalPlaces]="2"
                  class="form-control"
                  [disabled]="disabled||isPerfilArffs"
                />
              </div>
            </div>
          </div>
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon5_51"
            [base]="evaluacion5_51"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>

        <p-accordionTab header="5.2. Censo Comercial">
          <div class="row m0 mt-2">
            <div class="col-12">
              <mat-tab-group animationDuration="0ms">
                <mat-tab label="5.2.1. Metodología">
                  <div class="form-group row col-12 mt-4 mr-2 mb-3 ml-2">
                    <h3 class="title2">
                      Describir la metodología utilizada como: tamaño de fajas, distanciamiento entre fajas, otros.
                    </h3>
                  </div>
                  <div class="form-group row col-12 mb-2 ml-1">
                    <textarea
                      class="form-control"
                      rows="3" [disabled]="disabled"
                      style="resize: none"
                      [(ngModel)]="censoComercial.metodologia"
                      maxlength="250"
                    ></textarea>
                  </div>
                  <div class="col-12 mt-4 mb-4">
                    <h3 class="title2">Cuadro de especies censadas</h3>
                  </div>

                  <!-- <div class="col-2 col-sm-12 text-right">
                    <button
                      (click)="abrirModalEspecies()"
                      class="btn btn-sm btn-default mb-2"
                      type="button"
                      title="Agregar"
                      [disabled]="disabled || isPerfilArffs"
                    >
                      <i class="pi pi-plus"></i>
                    </button>
                  </div> -->

                  <div class="col-12 p-0">
                    <div class="col-12">
                      <p-table
                        [value]="listEspecies"
                        responsiveLayout="scroll"
                        [scrollable]="true"
                        [style]="{ width: 'auto' }"
                      >
                        <ng-template pTemplate="header">
                          <tr>
                            <th style="text-align: center; width: 40%">
                              Nombre común
                            </th>
                            <th style="text-align: center; width: 40%">
                              Nombre científico
                            </th>
                            <th style="text-align: center; width: 20%">
                              DMC (cm)
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template
                          pTemplate="body"
                          let-data
                          let-rowIndex="rowIndex"
                        >
                          <tr>
                            <td style="text-align: center; width: 40%">
                              <!-- {{ data.nombreComun }} -->
                              <input
                                pInputText
                                class="form-control"
                                maxlength="50"
                                [disabled]="disabled||isPerfilArffs"
                                [(ngModel)]="data.nombreComun"
                              />
                            </td>
                            <td style="text-align: center; width: 40%">
                              <!-- {{ data.nombreCientifica }} -->
                              <input
                                pInputText
                                class="form-control"
                                maxlength="50"
                                [disabled]="disabled||isPerfilArffs"
                                [(ngModel)]="data.nombreCientifica"
                              />
                            </td>

                            <td style="text-align: center; width: 20%">
                              <!-- {{ data.dcm }} -->
                              <input
                                decimal
                                class="form-control"
                                [maxlength]="10"
                                [min]="0"
                                [decimalPlaces]="2"
                                [(ngModel)]="data.dcm"
                                [disabled]="disabled ||isPerfilArffs"
                              />
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>

                  <evaluacion-archivo-shared
                    [idPlanManejo]="idPlanManejo"
                    [cadigoTab]="codigoAcordeon5_52"
                    [base]="evaluacion5_52"
                    *ngIf="isPerfilArffs"
                  >
                    <ng-template #conatinertop> </ng-template>
                    <ng-template #conatinerbottom> </ng-template>
                  </evaluacion-archivo-shared>
                </mat-tab>

                <mat-tab label="5.2.2. Resultados">
                  <div class="row col-12 mt-4">
                    <div class="col-4 form-group">
                      <label for="area" class="label pl-3"
                        >Área total censada (ha)</label
                      >
                      <input
                        id="area"
                        autocomplete="off"
                        class="form-control contents_form_input"
                        [(ngModel)]="censoComercial.areaTotal"
                        decimal
                        [maxLength]="12"
                        [decimalPlaces]="2"
                        [disabled]="true"
                      />
                    </div>
                    <div class="col-4 form-group">
                      <label for="especies" class="label pl-3"
                        >Nº especies censadas</label
                      >
                      <input
                        id="especies"
                        autocomplete="off"
                        class="form-control contents_form_input"
                        [(ngModel)]="censoComercial.nroEspecies"
                        numero
                        [min]="0"
                        [maxLength]="12"
                        [disabled]="true"
                      />
                    </div>
                    <div class="col-4 form-group">
                      <label for="arboles" class="label pl-3"
                        >Nº árboles censados</label
                      >
                      <input
                        id="arboles"
                        autocomplete="off"
                        class="form-control contents_form_input"
                        [(ngModel)]="censoComercial.nroArboles"
                        numero
                        [min]="0"
                        [maxLength]="12"
                        [disabled]="true"
                      />
                    </div>
                  </div>
                  <div class="col-12 mt-4">
                    <p-table
                      [value]="listEspeciesResultados"
                      responsiveLayout="scroll"
                      [style]="{ width: 'auto' }"
                    >
                      <ng-template pTemplate="header">
                        <tr>
                          <th rowspan="2" colspan="1" class="text-center">
                            Nombre común
                          </th>
                          <th rowspan="2">Var.</th>
                          <th colspan="7" rowspan="1" class="text-center">
                            DAP (cm)
                          </th>
                          <th rowspan="2" colspan="1" class="text-right">
                            Total en PC
                          </th>
                          <th rowspan="2" colspan="1" class="text-right">
                            Total por ha
                          </th>
                        </tr>
                        <tr>
                          <th colspan="1" class="text-right">30-40</th>
                          <th colspan="1" class="text-right">40-50</th>
                          <th colspan="1" class="text-right">50-60</th>
                          <th colspan="1" class="text-right">60-70</th>
                          <th colspan="1" class="text-right">70-80</th>
                          <th colspan="1" class="text-right">80-90</th>
                          <th colspan="1" class="text-right">90+</th>
                        </tr>
                      </ng-template>
                      <ng-template
                        pTemplate="body"
                        let-data
                        let-rowIndex="rowIndex"
                      >
                        <tr>
                          <td rowspan="2">
                            {{ data.nombreEspecie }}
                          </td>
                          <td colspan="1">N</td>
                          <td colspan="1" class="text-right">
                            {{ data.dap30a39 }}
                          </td>
                          <td colspan="1" class="text-right">
                            {{ data.dap40a49 }}
                          </td>
                          <td colspan="1" class="text-right">
                            {{ data.dap50a59 }}
                          </td>
                          <td colspan="1" class="text-right">
                            {{ data.dap60a69 }}
                          </td>
                          <td colspan="1" class="text-right">
                            {{ data.dap70a79 }}
                          </td>
                          <td colspan="1" class="text-right">
                            {{ data.dap80a89 }}
                          </td>
                          <td colspan="1" class="text-right">
                            {{ data.dap90aMas }}
                          </td>
                          <td colspan="1" class="text-right">
                            {{ data.dapTotalPC }}
                          </td>
                          <td colspan="1" class="text-right">
                            {{ data.dapTotalporHa }}
                          </td>
                        </tr>
                        <tr>
                          <td colspan="1">Vc (m3)</td>
                          <td colspan="1" class="text-right">
                            {{ data.vol30a39 }}
                          </td>
                          <td colspan="1" class="text-right">
                            {{ data.vol40a49 }}
                          </td>
                          <td colspan="1" class="text-right">
                            {{ data.vol50a59 }}
                          </td>
                          <td colspan="1" class="text-right">
                            {{ data.vol60a69 }}
                          </td>
                          <td colspan="1" class="text-right">
                            {{ data.vol70a79 }}
                          </td>
                          <td colspan="1" class="text-right">
                            {{ data.vol80a89 }}
                          </td>
                          <td colspan="1" class="text-right">
                            {{ data.vol90aMas }}
                          </td>
                          <td colspan="1" class="text-right">
                            {{ data.volTotalPC }}
                          </td>
                          <td colspan="1" class="text-right">
                            {{ data.volTotalporHa }}
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="footer">
                        <tr>
                          <td rowspan="2" class="text-center">
                            <b>Total</b>
                          </td>

                          <td colspan="1">N</td>
                          <td class="text-right">
                            {{
                              totalListEspeciesResultados.total30a39
                                | number: "1.0-2"
                            }}
                          </td>
                          <td class="text-right">
                            {{
                              totalListEspeciesResultados.total40a49
                                | number: "1.0-2"
                            }}
                          </td>
                          <td class="text-right">
                            {{
                              totalListEspeciesResultados.total50a59
                                | number: "1.0-2"
                            }}
                          </td>
                          <td class="text-right">
                            {{
                              totalListEspeciesResultados.total60a69
                                | number: "1.0-2"
                            }}
                          </td>
                          <td class="text-right">
                            {{
                              totalListEspeciesResultados.total70a79
                                | number: "1.0-2"
                            }}
                          </td>
                          <td class="text-right">
                            {{
                              totalListEspeciesResultados.total80a89
                                | number: "1.0-2"
                            }}
                          </td>
                          <td class="text-right">
                            {{
                              totalListEspeciesResultados.total90aMas
                                | number: "1.0-2"
                            }}
                          </td>

                          <td class="text-right">
                            {{
                              totalListEspeciesResultados.totalPc
                                | number: "1.0-2"
                            }}
                          </td>
                          <td class="text-right">
                            {{
                              totalListEspeciesResultados.totalHa
                                | number: "1.0-2"
                            }}
                          </td>
                        </tr>

                        <tr>
                          <td colspan="1">Vc (m3)</td>
                          <td class="text-right">
                            {{
                              totalListEspeciesResultados.totalV30a39
                                | number: "1.0-2"
                            }}
                          </td>
                          <td class="text-right">
                            {{
                              totalListEspeciesResultados.totalV40a49
                                | number: "1.0-2"
                            }}
                          </td>
                          <td class="text-right">
                            {{
                              totalListEspeciesResultados.totalV50a59
                                | number: "1.0-2"
                            }}
                          </td>
                          <td class="text-right">
                            {{
                              totalListEspeciesResultados.totalV60a69
                                | number: "1.0-2"
                            }}
                          </td>
                          <td>
                            {{
                              totalListEspeciesResultados.totalV70a79
                                | number: "1.0-2"
                            }}
                          </td>
                          <td class="text-right">
                            {{
                              totalListEspeciesResultados.totalV80a89
                                | number: "1.0-2"
                            }}
                          </td>
                          <td class="text-right">
                            {{
                              totalListEspeciesResultados.totalV90aMas
                                | number: "1.0-2"
                            }}
                          </td>

                          <td class="text-right">
                            {{
                              totalListEspeciesResultados.totalVPc
                                | number: "1.0-2"
                            }}
                          </td>
                          <td class="text-right">
                            {{
                              totalListEspeciesResultados.totalVHa
                                | number: "1.0-2"
                            }}
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>

                  <evaluacion-archivo-shared
                    [idPlanManejo]="idPlanManejo"
                    [cadigoTab]="codigoAcordeon5_53"
                    [base]="evaluacion5_53"
                    *ngIf="isPerfilArffs"
                  >
                    <ng-template #conatinertop> </ng-template>
                    <ng-template #conatinerbottom> </ng-template>
                  </evaluacion-archivo-shared>
                </mat-tab>
              </mat-tab-group>
            </div>

            <p-confirmPopup></p-confirmPopup>
          </div>
        </p-accordionTab>

        <p-accordionTab header="5.3. Planificación y construcción de infraestructura de aprovechamiento">
          <div class="row m-0 pt-4">
            <div class="col-2 col-sm-12 text-right mb-2">
              <button
                (click)="abrirPlanificacion()"
                class="btn btn-sm btn-default mb-2"
                type="button"
                title="Agregar"
                [disabled]="disabled || isPerfilArffs"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
            <p-confirmPopup></p-confirmPopup>
            <div class="col-12">
              <p-table
                [value]="listaPlanificacionConstruccion"
                class="table-justify"
                [style]="{width:'100%'}" >
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 10%" class="text-center">Acciones</th>
                    <th style="width: 14%">Camino</th>
                    <th style="width: 15%">Construcción (Km.)</th>
                    <th style="width: 16%">Mantenimiento (Km.)</th>
                    <th style="width: 15%">Alcantarillas (N°)</th>
                    <th style="width: 15%">Puentes (N°)</th>
                    <th style="width: 15%">Cunetas (N°)</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td style="width: 10%" class="text-center">
                      <span
                        class="pointer mr-1"
                        title="Editar"
                        (click)="!isPerfilArffs &&!disabled && openEditarPlanificacion(data, rowIndex)"
                      >
                        <i class="pi pi-pencil"></i>
                      </span>
                      <a
                        type="button"
                        class="pointer"
                        title="Eliminar"
                        (click)="!isPerfilArffs && !disabled && openEliminarAprovechamiento($event, rowIndex, data, codigosActividadesAprovechamientoPOAC.ACORDEON5_3)"
                      >
                        <i class="pi pi-trash"></i>
                      </a>
                    </td>
                    <td style="width: 14%">{{ data.descripcion }}</td>
                    <td style="width: 15%">{{ data.detalle }}</td>
                    <td style="width: 16%">{{ data.familia }}</td>
                    <td style="width: 15%">{{ data.observacion }}</td>
                    <td style="width: 15%">{{ data.operaciones }}</td>
                    <td style="width: 15%">{{ data.personal }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>

          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon5_54"
            [base]="evaluacion5_54"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>

        <p-accordionTab header="5.4. Operaciones de corta">
          <div class="row m-0 pt-4">
            <div class="col-2 col-sm-12 text-right mb-2">
              <button
                (click)="abrirModalOperacionesCorta()"
                class="btn btn-sm btn-default mb-2"
                type="button"
                title="Agregar"
                [disabled]="disabled || isPerfilArffs"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
            <p-confirmPopup></p-confirmPopup>
            <div class="col-12">
              <p-table [value]="listaOperacionesCorta" class="table-justify" [style]="{width:'100%'}">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 10%;" class="text-center">Acciones</th>
                    <th style="width: 30%;">Método</th>
                    <th style="width: 30%;">Personal</th>
                    <th style="width: 30%;">Equipo (tipo y número)</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td style="width: 10%" class="text-center">
                      <span
                        class="pointer mr-1"
                        title="Editar"
                        (click)="!isPerfilArffs && !disabled && openEditarOperacionCorta(data, rowIndex)"
                      >
                        <i class="pi pi-pencil"></i>
                      </span>
                      <a
                        type="button"
                        class="pointer"
                        title="Eliminar"
                        (click)="!isPerfilArffs && !disabled && openEliminarAprovechamiento($event, rowIndex, data,codigosActividadesAprovechamientoPOAC.ACORDEON5_4)"
                      >
                        <i class="pi pi-trash"></i>
                      </a>
                    </td>
                    <td style="width: 30%">{{ data.descripcion }}</td>
                    <td style="width: 30%">{{ data.personal }}</td>
                    <td style="width: 30%">{{ data.maquinariaMaterial }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon5_55"
            [base]="evaluacion5_55"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>

        <p-accordionTab header="5.5. Operaciones de arrastre y transporte">
          <div class="row m-0 pt-4">
            <div class="col-12">
              <div class="col-12 mb-2">
                <label class="m-0 mr-5 title2">Arrastre </label>
                <div class="p-field-radiobutton">
                  <label class="mr-2" for="Si">Manual</label>
                  <p-radioButton
                    name="Arrastre"
                    value="MAN"
                    inputId="Si"
                    [disabled]="disabled||isPerfilArffs"
                    [(ngModel)]="selectArrastre"
                  >
                  </p-radioButton>
                </div>
                <div class="p-field-radiobutton">
                  <label class="mr-2" for="No">Mecanizado</label>
                  <p-radioButton
                    name="Arrastre"
                    value="MEC"
                    inputId="No"
                    [disabled]="disabled||isPerfilArffs"
                    [(ngModel)]="selectArrastre"
                  >
                  </p-radioButton>
                </div>
                <div class="p-field-radiobutton">
                  <label class="mr-2" for="No">Mixto</label>
                  <p-radioButton
                    name="Arrastre"
                    value="MIX"
                    inputId="No"
                    [disabled]="disabled||isPerfilArffs"
                    [(ngModel)]="selectArrastre"
                  >
                  </p-radioButton>
                </div>
              </div>

              <div class="col-12">
                <label class="m-0 mr-5 label">Maquinaria / equipo </label>
                <div class="p-field-radiobutton">
                  <label class="mr-2" for="Si">Propio</label>
                  <p-radioButton
                    name="Arrastre"
                    value="PRO"
                    inputId="Si"
                    [disabled]="disabled||isPerfilArffs"
                    [(ngModel)]="selectMaquinariaEquipo"
                  >
                  </p-radioButton>
                </div>
                <div class="p-field-radiobutton">
                  <label class="mr-2" for="No">Alquilado</label>
                  <p-radioButton
                    name="Arrastre"
                    value="ALQ"
                    inputId="No"
                    [disabled]="disabled||isPerfilArffs"
                    [(ngModel)]="selectMaquinariaEquipo"
                  >
                  </p-radioButton>
                </div>
              </div>
            </div>

            <div class="col-2 col-sm-12 text-right mb-2">
              <button
                (click)="abrirModalArrastre()"
                class="btn btn-sm btn-default mb-2"
                type="button"
                title="Agregar"
                [disabled]="disabled || isPerfilArffs"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
            <p-confirmPopup></p-confirmPopup>
            <div class="col-12">
              <p-table [value]="listaArrastres" class="table-justify" [style]="{width:'100%'}">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 10%;" class="text-center">Acciones</th>
                    <th style="width: 45%;">Método</th>
                    <th style="width: 45%;">Personal (función y número)</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td style="width: 10%;" class="text-center">
                      <span
                        class="pointer mr-1"
                        title="Editar"
                        (click)="!disabled &&!isPerfilArffs && openEditarArrastre(data, rowIndex)"
                      >
                        <i class="pi pi-pencil"></i>
                      </span>
                      <a
                        type="button"
                        class="pointer"
                        title="Eliminar"
                        (click)="!disabled && !isPerfilArffs && openEliminarAprovechamiento($event, rowIndex, data, codigosActividadesAprovechamientoPOAC.ACORDEON5_5, 'A')"
                      >
                        <i class="pi pi-trash"></i>
                      </a>
                    </td>
                    <td style="width: 45%;">{{ data.descripcion }}</td>
                    <td style="width: 45%;">{{ data.personal }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>

          <div class="row m-0 pt-4">
            <div class="col-12 mb-2">
              <label class="m-0 mr-5 title2">Transporte </label>
              <div class="p-field-radiobutton">
                <label class="mr-2" for="No">Terrestre</label>
                <p-radioButton
                  name="Arrastre"
                  value="TER"
                  inputId="No"
                  [disabled]="disabled||isPerfilArffs"
                  [(ngModel)]="selectTransporte"
                >
                </p-radioButton>
              </div>
              <div class="p-field-radiobutton">
                <label class="mr-2" for="Si">Fluvial</label>
                <p-radioButton
                  name="Arrastre"
                  value="FU"
                  inputId="Si"
                  [disabled]="disabled||isPerfilArffs"
                  [(ngModel)]="selectTransporte"
                >
                </p-radioButton>
              </div>
              <div class="p-field-radiobutton">
                <label class="mr-2" for="No">Mixto</label>
                <p-radioButton
                  name="Arrastre"
                  value="MIX"
                  inputId="No"
                  [disabled]="disabled||isPerfilArffs"
                  [(ngModel)]="selectTransporte"
                >
                </p-radioButton>
              </div>
            </div>

            <div class="col-2 col-sm-12 text-right mb-2">
              <button
                (click)="abrirModalTransporte()"
                class="btn btn-sm btn-default mb-2"
                type="button"
                title="Agregar"
                [disabled]="disabled || isPerfilArffs"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
            <p-confirmPopup></p-confirmPopup>
            <div class="col-12">
              <p-table [value]="listaTransportes" class="table-justify" [style]="{width:'100%'}">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 10%;" class="text-center">Acciones</th>
                    <th style="width: 30%;">Transporte</th>
                    <th style="width: 30%;">Personal (función y número)</th>
                    <th style="width: 30%;">Maquinaria / Equipo (tipo y número)</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td style="width: 10%;" class="text-center">
                      <span
                        class="pointer mr-1"
                        title="Editar"
                        (click)="!disabled &&!isPerfilArffs && openEditarTransporte(data, rowIndex)"
                      >
                        <i class="pi pi-pencil"></i>
                      </span>
                      <a
                        type="button"
                        class="pointer"
                        title="Eliminar"
                        (click)="!disabled &&!isPerfilArffs && openEliminarAprovechamiento($event, rowIndex, data, codigosActividadesAprovechamientoPOAC.ACORDEON5_5, 'T')"
                      >
                        <i class="pi pi-trash"></i>
                      </a>
                    </td>
                    <td style="width: 30%;">{{ data.descripcion }}</td>
                    <td style="width: 30%;">{{ data.personal }}</td>
                    <td style="width: 30%;">{{ data.maquinariaMaterial }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>

          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon5_56"
            [base]="evaluacion5_56"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>

        <p-accordionTab header="5.6. Procesamiento local">
          <div class="row">
            <div class="col-12 m-2">
              <h3 class="title2">
                En caso se produzca algún tipo de procesamiento en el bosque,
                especificar con qué equipos se realiza, cuánta gente interviene,
                y los métodos que emplean.
              </h3>
            </div>
            <div class="col-12">
              <textarea
                id="descripcion"
                autocomplete="off"
                class="form-control form-control-sm"
                rows="4"
                [disabled]="disabled||isPerfilArffs"
                maxlength="200"
                [(ngModel)]="procesamientoLocal5_6.observacion"
                pInputTextarea
              >
              </textarea>
            </div>
          </div>

          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon5_57"
            [base]="evaluacion5_57"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4" *ngIf="!isPerfilArffs">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button
          class="btn-primary2"
          [disabled]="disabled"
          (click)="validarActividadesAprov()"
        >
          Guardar
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>

      <div class="step__btn mt-4" *ngIf="isPerfilArffs">
        <message-evaluation></message-evaluation>
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button class="btn-primary2" (click)="registrarEvaluacion()">
          Guardar Evaluación
        </button>
        <button class="btn-primary2" (click)="retornarFlujoEvaluacion()">
          Retornar Flujo Evaluacion
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
      <br />
    </div>
  </div>
</div>

<p-dialog
  header="{{ !edit ? 'Registrar Especie' : 'Editar Especie' }}"
  header="Header"
  [(visible)]="displayBasic"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Nombre Comun</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese nombre comun"
              maxlength="100"
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Nombre científico</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese nombre científico"
              maxlength="100"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">DMC (cm)</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese medidas"
              maxlength="12"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarEspecie()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModalEspecies()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="{{
    !editPlanificacion
      ? 'Registrar Planificación y Construcción'
      : 'Editar Planificación y Construcción'
  }}"
  header="Header"
  [(visible)]="displayPlan"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Camino</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese camino"
              [(ngModel)]="planificacionForm.descripcion"
              maxlength="100"
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Construcción (Km.)</label>
            <input
              type="text"
              numero
              [maxLength]="12"
              [minlength]="0"
              class="form-control"
              placeholder="Ingrese construccion km"
              [(ngModel)]="planificacionForm.detalle"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Mantenimiento (Km.)</label>
            <input
              type="text"
              numero
              [maxLength]="12"
              [minlength]="0"
              class="form-control"
              placeholder="Ingrese mantenimiento"
              [(ngModel)]="planificacionForm.familia"
            />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Alcantarillas (N°)</label>
            <input
              type="text"
              numero
              [maxLength]="12"
              [minlength]="0"
              class="form-control"
              placeholder="Ingrese alcantarillas"
              [(ngModel)]="planificacionForm.observacion"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Puentes (N°)</label>
            <input
              type="text"
              numero
              [maxLength]="12"
              [minlength]="0"
              class="form-control"
              placeholder="Ingrese alcantarillas"
              [(ngModel)]="planificacionForm.operaciones"
            />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Cunetas (N°)</label>
            <input
              type="text"
              numero
              [maxLength]="12"
              [minlength]="0"
              class="form-control"
              placeholder="Ingrese cunetas"
              [(ngModel)]="planificacionForm.personal"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarPlanificacion()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModalPlanificacion()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="{{
    !editOperacion
      ? 'Registrar Operación de Corta'
      : 'Editar Operación de Corta'
  }}"
  header="Header"
  [(visible)]="displayOperacion"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Método</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese método"
              [(ngModel)]="operacionForm.descripcion"
              maxlength="100"
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Personal</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese personal"
              [(ngModel)]="operacionForm.personal"
              maxlength="100"
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Equipo (tipo y número) </label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese equipo"
              [(ngModel)]="operacionForm.maquinariaMaterial"
              maxlength="100"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarOperacionCorta()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModalOperacion()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="{{ !editArrastre ? 'Registrar Arrastre' : 'Editar Arrastre' }}"
  header="Header"
  [(visible)]="displayArrastre"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Método</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese método"
              [(ngModel)]="arrastreForm.descripcion"
              maxlength="100"
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Personal</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese personal"
              [(ngModel)]="arrastreForm.personal"
              maxlength="100"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarArrastre()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModalArrastre()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="{{ !editTransporte ? 'Registrar Transporte' : 'Editar Transporte' }}"
  header="Header"
  [(visible)]="displayTransporte"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Transporte</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese transporte"
              [(ngModel)]="trasporteForm.descripcion"
              maxlength="100"
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Personal</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese descripción"
              [(ngModel)]="trasporteForm.personal"
              maxlength="100"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Maquinaria / Equipo </label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese maquinaria / equipo "
              [(ngModel)]="trasporteForm.maquinariaMaterial"
              maxlength="100"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarTransporte()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModalTransporte()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
<p-toast></p-toast>
