<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label class="label">Descripción</label>
      <textarea
        class="form-control"
        maxlength="250" rows="3"
        placeholder="Ingrese descripción"
        [(ngModel)]="form.resumen"
      ></textarea>
    </div>
  </div>
</div>

<div class="d-flex justify-content-end">
  <button
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
    [label]="'Aceptar'"
    class="p-button-success p-button-outlined"
    style="width: 106px"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cancelar()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
    style="width: 106px"
  ></button>
</div>


<div style="float: right" *ngIf="false">
  <button
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
    label="Aceptar"
    class="p-button-success p-button-outlined"
  ></button>
</div>
