<div class="container-fluit">
    <div class="row m-0">
      <div class="col-12 form-group">
        <app-expediente-evaluacion-bl [idPlan]="idPlan" [disabledEnvioResultado]="disabledEnvioResultado">
        </app-expediente-evaluacion-bl>
      </div>
    </div>
  </div>