<div class="row">
    <div class="col-12 form-group">
        <label>Nivel</label>
        <input type="text" class="form-control contents_form_input" disabled [(ngModel)]="funcionObj.nivel">
    </div>
</div>

<div class="row">
    <div class="col-12 form-group">

        <button *ngIf="!isFuncion" class="btn btn-secondary" (click)="isFuncion=!isFuncion">Agregar Funcion</button>

        <ng-container *ngIf="isFuncion">
            <input type="text" autocomplete="off" class="form-control contents_form_input" [(ngModel)]="funcion"
                placeholder="Ingrese su correo electronico">
            <button (click)="agregarFuncion()" class="btn btn-primary2">Agregar</button>
        </ng-container>

        <ul>
            <li *ngFor="let item of listaFuncion">
                {{item.idFuncion}}. {{item.descripcion}}
            </li>
        </ul>


    </div>
    <div class="col-12 form-group">
        <label for="responsabilidad">Responsabilidad</label>
        <input type="text" id="responsabilidad" autocomplete="off" class="form-control contents_form_input"
            [(ngModel)]="funcionObj.responsabilidad" placeholder="Ingrese su correo electronico">
    </div>

    <div class="col-12 form-group">
        <label for="numero">Número</label>
        <input type="text" id="numero" autocomplete="off" class="form-control contents_form_input"
            [(ngModel)]="funcionObj.numero" placeholder="Ingrese su correo electronico">
    </div>

    <div class="col-12 mt-3">
        <button class="btn btn-sm btn-secondary" (click)="agregar()">Agregar</button>
    </div>
</div>