<ng-container >
    <div class="row m-0 pt-2">
      <div class="col-12 col-sm-8 p-0">
        <div class="f-w mb-2 mapa-content">
          <div class="mapa" #map></div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="d-grid gap-2 d-md-block mb-2" style="display: flex !important;">
          <button type="button" (click)="fileInputSHPGeneral.click()"
            class="btn-secondary width-full" *ngIf="showBotonCargarGeneral" [disabled]="isDisbledFormu">
            Cargar shape file
            <input #fileInputSHPGeneral type="file" (change)="onChangeFile($event,tipoGeometria,tipoArchivoGeneral)"
              style="display: none;" />
          </button>
          <button type="button" (click)="fileInputSHPArea.click()"
            class="btn-secondary width-full" *ngIf="showOnlyArea" [disabled]="isDisbledFormu">
            Cargar Área
            <input #fileInputSHPArea type="file" [attr.data-zone] ="TPAREA" (change)="onChangeFile($event,TPAREA,tipoArchivoArea)"
              style="display: none;" />
          </button>
          <button type="button" (click)="fileInputSHPVertice.click()"
            class="btn-secondary width-full" *ngIf="showOnlyVertice" [disabled]="isDisbledFormu">
            Cargar Vértice
            <input #fileInputSHPVertice type="file" [attr.data-zone] ="TPPUNTO" (change)="onChangeFile($event,TPPUNTO,tipoArchivoPunto)"
              style="display: none;" />
          </button>
        </div>
        <div class="card gh-layers">
          <div class="card-header py-0 pt-2 pb-2">
            Capas
            <span
              title="Guardar Capa"
              class="pointer pr-1 float-right" *ngIf="showBotonGuardar"
            >
              <i
                class="pi pi-save"
                aria-hidden="true"
                (click)="guardar()"
              ></i>
            </span>
          </div>
          <ul class="list-group">
            <li *ngFor="let item of _layers" class="list-group-item p-0 d-flex">
              <input class="ml-1 mr-1 pointer" type="checkbox" [checked]="true"
                (change)="toggleLayer(item.idLayer, $event)" />
  
              <label class="m-0 p-0 text-left pointer gh-label" style="flex: 2;"
                [ngStyle]="{'color': item.color}">{{item.nombre}}
                <span class="pointer pr-1"
                  title="{{ item.overlap ? 'Capa Superpuesta' : 'Capa contenida'}} ">
                  <i class="{{ item.overlap? 'pi pi-info-circle color-red' : 'pi pi-check-circle color-green'}}"
                    *ngIf="item.service" aria-hidden="true"></i>
                </span>
              </label>
  
              <div class="d-flex">
                <span class="mr-2 pointer">
                  <i class="pi pi-download" *ngIf="!item.service && item.inServer == true"
                    aria-hidden="true" (click)="onDownloadFileSHP(item?.codigo)"></i>
                </span>
                <span class="pointer pr-1">
                  <i
                    class="pi pi-trash"
                    aria-hidden="true"
                    *ngIf="!item.service && item.idLayer"
                    (click)="onRemoveFileSHP(item)"
                  ></i>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p-confirmDialog
    [style]="{ width: '300px' }"
    key="deleteFileSHP"
  ></p-confirmDialog>
  </ng-container>
