.content-nav-parent{
    box-shadow: 0 9px 8px 0 rgb(0 0 0 / 35%) !important;
    position: relative;
    height: 100%;
    bottom: 0;
    width: 266px;
}

aside.left-sidebar{
    top: 80px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 5;
    left: 0;
    background: #edf4ea;
    overflow-x: auto;
}
    

.menu-content{
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
}

.menu-content .nav{
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
}
/**********************************************************************++*/
.avatar{
    padding-left: 16px;
    height: 80px;
    width: 100%;
    z-index: 5;
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #edf4ea;
    padding-top: 20px;
    border-bottom: 1px solid #e6e4e4;
}
    
.avatar .logo_{
display: inline-block;
width: 39px;
}

.avatar .infouser{
display: inline-block;
width: 130px;
font-size: 12px;
vertical-align: middle;
padding-left: 5px;
font-family: 'Montserrat';
}

.avatar .infouser .username{

font-weight: bold;
font-size: 12px;
}

.avatar .infouser .perfil{
font-size: 12px;
font-weight: normal;
}

.avatar .icon_arrow_avatar{
float: right;
align-items: center;
width: 25px;
height: 35px;
color: #4A962C;

}

.avatar .icon_arrow_avatar span > i{
font-size: 14px;
}
    
/***************************************************************************************************/

.content-nav-parent.collapse 
{
    width: 65px;
    display: block;
    overflow: hidden;
}



.capa-menu-bak {
 display: none;
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 z-index: 3;
 background: #000;
 opacity: .5;
}
.content-nav-parent.collapse:hover{
    .capa-menu-bak.collapse{
        display: block;
    }
    .capa-menu-bak.collapse:hover{
        font: optional;
    }
}

.return-menu-mobile{
    display: none;
}




/*


aside.left-sidebar.collapse{
width: 65px;
display: block;
}

aside.left-sidebar .menu{
padding-top: 15px;
}

aside.left-sidebar div.menu div.menu-content{
    margin-top: 30px;
    overflow: auto;
    height: 100%;
    bottom: 0;
}



.p-menu.p-menu-overlay{
max-width: 220px;
font-size: 13px;
font-family: 'Montserrat';
}

aside.left-sidebar div.menu{
background:  #EDF4EA;
height: 100%;
}

div.menu .menu-content ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

div.menu .menu-content ul div.opcion{
    width: 100%;
}

div.menu .menu-content ul li{
    margin: 0;
    padding: 0;
    width: 100%;
}

div.menu .menu-content ul li a.nav-link{
    font-weight: normal;
    font-size: 11px;
    overflow: hidden;
    color: #4A962C;
    border-radius: 22px;
    padding: 10px 5px;
    min-height: 57px;
    display: flex;
    align-items: center;
}

div.menu .menu-content ul li a.nav-link.active{
    background: #4A962C;
    color: #fff;
}

div.menu .menu-content ul li a.nav-link i.nav-icon{
    margin-left: .05rem;
    margin-right: .2rem;
    text-align: center;
    width: 1.6rem;
}

div.menu .menu-content ul li a.nav-link p{
    display: inline-block;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    margin: 0;
    width: 100%;
    font-size: 11px;
    position: relative;
}

div.menu .menu-content ul li.nav-item  a.nav-header{
    text-decoration: none;
}

div.menu .menu-content ul li.nav-item  a.nav-header p{
    color: #4A962C;
    font-size: 10px;
    text-align: lef;
    border-bottom: 1px inset #ccc;
    padding: 10px 0px 5px 10px;
}


div.menu .menu-content ul li a.nav-link p i{
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

div.menu .menu-content ul li a.nav-link.nivel2{
    padding: 5px 10px 5px 20px;
}

li.nav-item.nav-group  label{
    margin: 0;
}

li.nav-item.nav-group  label input[type="checkbox"]{
    display: none;
}

li.nav-item.nav-group  label input[type="checkbox"] + a + ul.nav.nav-treeview
{
    display: none;
}

li.nav-item.nav-group  label input[type="checkbox"]:checked + a + ul.nav.nav-treeview
{
    display: block;
}


li.nav-item.nav-group  label input[type="checkbox"]:checked + a p i{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

li.nav-item.nav-group  label a{
    min-height: 38px !important;
}














div.menu .menu-content ul li.nav-item.nav-group{
    padding: 5px;
    min-height: 40px;
}


div.menu .menu-content .menu-item, div.menu .menu-content .menu-group
{
height: 57px;
color: #4A962C;
}

div.menu .menu-content .menu-item, div.menu .menu-content .menu-group .menu-item-content
{
display: block;
padding: 0 !important;
}



div.menu .menu-content .menu-item{
cursor: pointer;
}

div.menu .menu-content .menu-item.active{
background: #4A962C;
color: #fff;
border-radius: 22px;
};

div.menu .menu-content  .item .menu-item-content{
height: 57px;
width: 100%;
padding: 0 15px;
}

div.menu .menu-content  .item .menu-item-content .menu-link{
display: table-cell;
height: 57px;
vertical-align: middle;
width: 100%;

}
div.menu .menu-content  .item .menu-item-content .menu-link .menu-item-icon{
display: inline-block;
width: auto;
}

div.menu .menu-content  .item .menu-item-content .menu-link .menu-item-icon i{
font-size: 16px;
}

div.menu .menu-content  .item .menu-item-content .menu-link .menu-item-label{
display: inline-block;
font-size: 11px;
margin-left: 12px;
min-width: 135px;
font-weight: normal;
font-family: 'Montserrat';
}

div.menu .menu-content  .item .menu-item-content .menu-link .menu-item-arrow{
display: inline-block;
}



div.menu .menu-content  .item .menu-item-content .sub-menu .menu-link{
display: block;
height: auto;
padding: 10px 5px 10px 25px!important;
cursor: pointer;
}

div.menu .menu-content .item.menu-group .menu-item-content .menu-link
{
padding: 0 15px;
}

div.menu .menu-content .item .menu-item-content .sub-menu .menu-link.active{
background: #4A962C;
border-radius: 22px;
color: #fff;
}




aside.left-sidebar.collapse div.opciion-menu{

visibility: hidden;
display: none !important;
}

aside.left-sidebar.collapse:hover{
width: 250px;
z-index: 9;
box-shadow: 1px 3px 3px 2px rgb(0 0 0 / 30%);

    div.opciion-menu{
        visibility: visible;
        display: inline-block !important;
    }
}

*/
@media screen and (max-width: 960px)
{

    .return-menu-mobile{
        display: block;
        position: absolute;
        right: 10px;
        top: 5px;
    }

    .return-menu-mobile i{
        font-size: 24px;
        color: #4a962c;
    }
    
    .content-nav-parent{
        width: 0;
        .avatar{
            padding-left: 0;
            overflow: hidden;
        }
    }

    .content-nav-parent.collapse
    {
        width: 80%;
        z-index: 9;
        box-shadow: 1px 3px 3px 2px rgb(0 0 0 / 30%);
    }

    div.page-wrapper.collapse{
        left: 0 !important;
    }

    .content-nav-parent.collapse:hover{
        width: 80% !important;
    }


}