<ng-container>
  
  <div class="content-nav-parent" [ngClass]="openSidebar ? '' : 'collapse'">
  <!--<div class="capa-menu-bak" [ngClass]="openSidebar ? '' : 'collapse'"></div> -->
  <div class="avatar" >
    <div class="logo_" (click)="menuAvatar.toggle($event)">
      <p-avatar label="" shape="circle" styleClass="avatarff">{{objInicial.toUpperCase()}}</p-avatar>
    </div>
   <div class="infouser opciion-menu" (click)="menuAvatar.toggle($event)">
    <div class="username "  style="font-size: 11px;"> {{ objNombre }}</div>
      <div class="perfil " style="font-size: 9px;">{{ objNomPerfil }}</div>
      <!-- <div class="Exp : "  style="font-size: 11px;">  <i class="pi pi-clock"></i> {{ objTimeExpTxt }}</div> -->
    </div>   
    
   
    <div class="icon_arrow_avatar opciion-menu" (click)="menuAvatar.toggle($event)">     
      <span class="pointer" >
        <i class="pi pi-angle-down"></i>      
      </span> 
    </div>
    <div class="return-menu-mobile">
      <div class="icon-r-menu" (click)="hideMenu()">
      <i class="pi pi-arrow-circle-left"></i>
      </div>
    </div>
  </div>  
  <div class="menu_popup">
    <p-menu #menuAvatar [popup]="true" [model]="itemsMenuAvatar"></p-menu> 
  </div>
  <aside class="left-sidebar"  >

    <div class="menu pb-3">
  
      
      <div class="menu-content">
  
        <div class="nav">
          <ng-container *ngFor="let item of navigation">
            <sidebar-nav-group *ngIf="item.type=='module' " [route]="_router"  [item]="item"></sidebar-nav-group>
              
            <sidebar-nav-item  *ngIf="item.type=='item'" [item]="item"></sidebar-nav-item>  
        </ng-container>
        </div>

      </div>
    </div>
  
  </aside>
  </div>
  <p-confirmDialog
  [style]="{ width: '300px' }"
  key="alerta"
></p-confirmDialog>
</ng-container>



