<div class="container-fluid pt-4">
  <div class="row">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab
          header="4.1 Ubicación y extensión de la(s) PC"
          [selected]="true"
        >
          <div class="row mb-4">
            <div class="col-12">
              <div class="p-field-checkbox">
                <label class="m-0 pointer label" for="chk-mapa-anexo"
                  >( Mapa 1</label
                >&nbsp;
                <p-checkbox
                  [binary]="true" [disabled]="disabled"
                  [(ngModel)]="mapa1"
                  id="chk-mapa-anexo"
                >
                </p-checkbox>
                <label class="m-0 pl-3 pointer label" for="chk-mapa-anexo"
                  >Anexo 1 )</label
                >
              </div>
            </div>
          </div>
          <div *ngIf="mapa1 == true">
            <app-map-por-acordeon
              [codigoProceso]="'POCCIBPC'"
              [codigoSubSeccion]="'POCCIBPCUEPC'"
              [tipoGeometria]="'TPPARC'" [disabled]="disabled"
              (areaTotal)="calcularAreaParcela($event)"
              [cambioV]="cambioV"
              [eventV]="eventV"
              [pcV]="pcV"
              (deleteLayer)="deleteLayer($event)"
            ></app-map-por-acordeon>
          </div>

          <div style="border: 2px solid #e9ecef" class="p-3 mt-4">
            <div class="row form-group">
              <div class="form-group col-6">
                <div class="form-group">
                  <label class="label">Número de la(s) PC</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    id="inputNroPc"
                    [(ngModel)]="informacionBasica.numeroPc"
                    placeholder="Ingrese número de la(s) PC"
                    (ngModelChange)="updatePc()"
                    numero
                    [min]="0"
                    [max]="5"
                    disabled
                  />
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                  <label class="label">Área Total</label>
                  <input
                    class="form-control form-control-sm"
                    id="detalle"
                    [(ngModel)]="informacionBasica.detalle"
                    numero
                    [min]="0"
                    [maxLength]="50"
                    disabled
                  />
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-6">
                <div class="form-group">
                  <label class="label">N° Hoja Catastral</label>
                  <input
                    class="form-control form-control-sm"
                    id="inputHoja"
                    [(ngModel)]="informacionBasica.nroHojaCatastral"
                    placeholder="Ingrese N° Hoja Catastral"
                    numero  [disabled]="disabled"
                    [min]="0"
                    [maxLength]="50"
                  />
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                  <label class="label">Nombre Hoja Catastral</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    id="inputNombreHoja" [disabled]="disabled"
                    [(ngModel)]="informacionBasica.nombreHojaCatastral"
                    placeholder="Ingrese Nombre Hoja Catastral"
                    [maxLength]="100"
                  />
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-6">
                <div class="form-group">
                  <label class="label">Cuenca/Subcuenca</label>
                  <div class="form-control-selectk">
                    <p-dropdown
                      [options]="rios" [disabled]="disabled"
                      [(ngModel)]="informacionBasica.codSubInfBasica"
                      optionLabel="descripcion"
                      optionValue="descripcion"
                      placeholder="Seleccione"
                    >
                    </p-dropdown>
                  </div>
                </div>
              </div>
              <div
                class="col-6"
                *ngIf="informacionBasica.codSubInfBasica=='Otros'"
              >
                <div class="form-group">
                  <label class="label">Cuenta Otros</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    id="inputOtros" [disabled]="disabled"
                    [(ngModel)]="informacionBasica.codNombreInfBasica"
                    placeholder="Ingrese Otros"
                    [maxLength]="100"
                  />
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-6">
                <div class="form-group">
                  <label class="label"> Departamento</label>
                  <div class="form-control-selectk">
                    <p-dropdown [disabled]="disabled"
                      [options]="listDepartamento"
                      [(ngModel)]="departamentoSeleccionado"
                      optionLabel="nombreDepartamento"
                      optionValue="idDepartamento"
                      (onChange)="onSelectedProvincia($event)"
                      placeholder="Seleccione"
                    >
                    </p-dropdown>
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                  <label class="label"> Provincia</label>
                  <div class="form-control-selectk">
                    <p-dropdown
                      [options]="listProvincia"
                      [(ngModel)]="provinciaSeleccionado"
                      optionLabel="nombreProvincia"
                      optionValue="idProvincia"
                      (onChange)="onSelectedDistrito($event)"
                      placeholder="Seleccione"
                      [disabled]="disabled  ||!listProvincia.length"
                    >
                    </p-dropdown>
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                  <label class="label"> Distrito</label>
                  <div class="form-control-selectk">
                    <p-dropdown
                      [options]="listDistrito"
                      [(ngModel)]="distritoSeleccionado"
                      optionLabel="nombreDistrito"
                      optionValue="idDistrito"
                      placeholder="Seleccione"
                      [disabled]="disabled||!listDistrito.length"
                    ></p-dropdown>
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                  <label class="label"
                    >Área Total calculado del shape file</label
                  >
                  <input
                    class="form-control form-control-sm"
                    id="inputAreaTotal"
                    [(ngModel)]="informacionBasica.areaTotal"
                    numero
                    [min]="0"
                    [maxLength]="50"
                    disabled
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-4 mt-2">
            <div class="col-12 col-md-12">
              <span class="mr-2">PO con dos o más PC o frentes de corta</span>

              <div class="p-field-radiobutton">
                <strong for="Si" style="margin-right: 5px">SI</strong>
                <p-radioButton
                  [value]="true"
                  inputId="Si"
                  [(ngModel)]="informacionBasica.masPc"
                  [disabled]="true"
                >
                </p-radioButton>
              </div>
              <div class="p-field-radiobutton">
                <strong for="No" style="margin-right: 5px">NO</strong>
                <p-radioButton
                  [value]="false"
                  inputId="No"
                  [(ngModel)]="informacionBasica.masPc"
                  [disabled]="true"
                >
                </p-radioButton>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div
              class="col-12 mt-4 mb-3 pl-4 pr-4"
              *ngIf="!!informacionBasica.numeroPc && informacionBasica.numeroPc!=0"
            >
              <p-table
                [value]="hidrografia"
                styleClass="p-datatable-gridlines mb-4"
              >
                <ng-template pTemplate="caption">
                  <div class="form-inline">
                    <div class="form-group mr-4 mb-4">
                      <label class="label mr-2">PC 1</label>
                      <input
                        class="form-control form-control-sm"
                        type="text"
                        [(ngModel)]="infoPc1.descripcion"
                        (ngModelChange)="changeDescripctionPC(1)"
                        disabled
                      />
                    </div>

                    <div class="form-group mr-4 mb-4">
                      <label class="label mr-2">Área(ha)</label>
                      <input
                        class="form-control form-control-sm"
                        [(ngModel)]="infoPc1.area"
                        (change)="changeAreaPC(1)"
                        numero
                        [min]="0"
                        [maxLength]="50"
                        disabled
                      />
                    </div>

                    <!-- <div class="form-group mr-4 mb-4">
                      <label class="label mr-2"
                        >Coordenadas UTM (Zona...... WGS 84)</label
                      >
                    </div> -->
                  </div>
                </ng-template>

                <ng-template pTemplate="body">
                  <tabla-coordenadas
                    #tabla1
                    [listCoordinates]="listPc1"
                    [usuario]="usuario"
                    [idPlanManejo]="idPlanManejo" [disabled]="disabled"
                    [idInfBasica]="idInfBasica"
                    (guardarCoordenada)="guardarCoordenadas($event,1)"
                    (updateReference)="updateReference($event,1)"
                    [codePC]="'PCONE'"
                    [descripcion]="infoPc1.descripcion"
                    [area]="infoPc1.area"
                    (cargaVertice)="cargaVertice($event)"
                    [pcV]="'PC1'"
                  ></tabla-coordenadas>
                </ng-template>
              </p-table>
            </div>
            <div
              class="col-12 mt-4 mb-3 pl-4 pr-4"
              *ngIf="informacionBasica.numeroPc>=2"
            >
              <p-table
                [value]="hidrografia"
                styleClass="p-datatable-gridlines mb-4"
              >
                <ng-template pTemplate="caption">
                  <div class="form-inline">
                    <div class="form-group mr-4 mb-4">
                      <label class="label mr-2">PC 2</label>
                      <input
                        class="form-control form-control-sm"
                        type="text"
                        [(ngModel)]="infoPc2.descripcion"
                        (ngModelChange)="changeDescripctionPC(2)"
                        disabled
                      />
                    </div>

                    <div class="form-group mr-4 mb-4">
                      <label class="label mr-2">Área(ha)</label>
                      <input
                        class="form-control form-control-sm"
                        type="text"
                        [(ngModel)]="infoPc2.area"
                        (change)="changeAreaPC(2)"
                        disabled
                      />
                    </div>

                    <!-- <div class="form-group mr-4 mb-4">
                      <label class="label mr-2"
                        >Coordenadas UTM (Zona...... WGS 84)</label
                      >
                    </div> -->
                    <!-- <input class="form-control form-control-sm" type="text" /> -->
                  </div>
                </ng-template>

                <ng-template pTemplate="body">
                  <tabla-coordenadas
                    #tabla2
                    [listCoordinates]="listPc2"
                    [usuario]="usuario"
                    [idPlanManejo]="idPlanManejo"
                    [idInfBasica]="idInfBasica" [disabled]="disabled"
                    (guardarCoordenada)="guardarCoordenadas($event,2)"
                    (updateReference)="updateReference($event,2)"
                    [codePC]="'PCTWO'"
                    [descripcion]="infoPc2.descripcion"
                    [area]="infoPc2.area"
                    (cargaVertice)="cargaVertice($event)"
                    [pcV]="'PC2'"
                  ></tabla-coordenadas>
                </ng-template>
              </p-table>
            </div>
            <div
              class="col-12 mt-4 mb-3 pl-4 pr-4"
              *ngIf="informacionBasica.numeroPc>=3"
            >
              <p-table
                [value]="hidrografia"
                styleClass="p-datatable-gridlines mb-4"
              >
                <ng-template pTemplate="caption">
                  <div class="form-inline">
                    <div class="form-group mr-4 mb-4">
                      <label class="label mr-2">PC 3</label>
                      <input
                        class="form-control form-control-sm"
                        type="text"
                        [(ngModel)]="infoPc3.descripcion"
                        (ngModelChange)="changeDescripctionPC(3)"
                        disabled
                      />
                    </div>

                    <div class="form-group mr-4 mb-4">
                      <label class="label mr-2">Área(ha)</label>
                      <input
                        class="form-control form-control-sm"
                        type="text"
                        [(ngModel)]="infoPc3.area"
                        (change)="changeAreaPC(3)"
                        disabled
                      />
                    </div>

                    <!--  <div class="form-group mr-4 mb-4">
                      <label class="label mr-2"
                        >Coordenadas UTM (Zona...... WGS 84)</label
                      >
                      <input class="form-control form-control-sm" type="text" />
                    </div> -->
                  </div>
                </ng-template>

                <ng-template pTemplate="body">
                  <tabla-coordenadas
                    #tabla3
                    [listCoordinates]="listPc3"
                    [usuario]="usuario"
                    [idPlanManejo]="idPlanManejo" [disabled]="disabled"
                    [idInfBasica]="idInfBasica"
                    (guardarCoordenada)="guardarCoordenadas($event,3)"
                    (updateReference)="updateReference($event,3)"
                    [codePC]="'PCTHREE'"
                    [descripcion]="infoPc3.descripcion"
                    [area]="infoPc3.area"
                    (cargaVertice)="cargaVertice($event)"
                    [pcV]="'PC3'"
                  ></tabla-coordenadas>
                </ng-template>
              </p-table>
            </div>
            <div
              class="col-12 mt-4 mb-3 pl-4 pr-4"
              *ngIf="informacionBasica.numeroPc>=4"
            >
              <p-table
                [value]="hidrografia"
                styleClass="p-datatable-gridlines mb-4"
              >
                <ng-template pTemplate="caption">
                  <div class="form-inline">
                    <div class="form-group mr-4 mb-4">
                      <label class="label mr-2">PC 4</label>
                      <input
                        class="form-control form-control-sm"
                        type="text" [disabled]="disabled"
                        [(ngModel)]="infoPc4.descripcion"
                        (ngModelChange)="changeDescripctionPC(4)"
                      />
                    </div>

                    <div class="form-group mr-4 mb-4">
                      <label class="label mr-2">Área(ha)</label>
                      <input
                        class="form-control form-control-sm"
                        type="text" [disabled]="disabled"
                        [(ngModel)]="infoPc4.area"
                        (change)="changeAreaPC(4)"
                      />
                    </div>

                    <!-- <div class="form-group mr-4 mb-4">
                      <label class="label mr-2"
                        >Coordenadas UTM (Zona...... WGS 84)</label
                      >
                      <input
                        class="form-control form-control-sm"
                        type="text"
                        placeholder="ha"
                      />
                    </div> -->
                  </div>
                </ng-template>

                <ng-template pTemplate="body">
                  <tabla-coordenadas
                    #tabla4
                    [listCoordinates]="listPc4"
                    [usuario]="usuario"
                    [idPlanManejo]="idPlanManejo"
                    [idInfBasica]="idInfBasica" [disabled]="disabled"
                    (guardarCoordenada)="guardarCoordenadas($event,4)"
                    (updateReference)="updateReference($event,4)"
                    [codePC]="'PCFOUR'"
                    [descripcion]="infoPc4.descripcion"
                    [area]="infoPc4.area"
                    (cargaVertice)="cargaVertice($event)"
                    [pcV]="'PC4'"
                  ></tabla-coordenadas>
                </ng-template>
              </p-table>
            </div>
            <button class="btn-primary2" (click)="registrarCoordenadas()">
              Guardar
            </button>
          </div>
        </p-accordionTab>

        <p-accordionTab header="4.2 Tipos de bosque">
          <app-map-custom
            [idPlanManejo]="idPlanManejo"
            [codigoProceso]="'POCCIBPC'" [disabled]="disabled"
            [codigoSubSeccion]="'POCCIBPCTIBO'"
            [tipoGeometria]="'TPPARC'"
            [identificarBosque]="true"
            [validaSuperposicionAprovechar]="true"
            (listTipoBosque)="listarTipoBosque($event)"
          ></app-map-custom>
          <div class="col-12 col-sm-12 text-right" *ngIf="listBosques.length > 0">
            <br />
            <button
              class="btn btn-sm btn-default mb-2"
              type="button"
              title="Eliminar Lista" [disabled]="disabled"
              (click)="eliminarTiposBosque($event)"
            >
              <i class="pi pi-times"></i>
            </button>
            <br />
          </div>
          <div class="row pt-2">
            <div class="col-12 mb-3 pl-4 pr-4">
              <p-table [value]="listBosques" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                  <tr>
                    <th [colSpan]="2">Tipos de bosque</th>
                    <th>Área(ha)</th>
                    <th>%</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr *ngFor="let d of data.tipoBosque">
                    <td [colSpan]="2">{{rowIndex+1}}. {{d.descripcion}}</td>
                    <td>
                      {{d.areaHA}}
                    </td>
                    <td>
                      {{d.areaHAPorcentaje}}
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                  <tr>
                    <td colspan="2" class="p-text-right font-weight-bold">
                      Total
                    </td>
                    <td>{{countAreaHa}}</td>
                    <td>{{countPorcentaje}}</td>
                  </tr>
                </ng-template>
              </p-table>

              <button
                class="btn-primary2 mt-4"
                (click)="registrarTiposBosque()"
              >
                Guardar
              </button>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="4.3 Accesibilidad">
          <div class="form-row">
            <label class="label"
              >Rutas o vías de acceso terrestre o fluvial a la PC (Incluir en el
              Mapa 1 Anexo 1, y adjuntar el registro de los puntos recorridos y
              georreferenciados en formato digital "trackear" )
            </label>
          </div>
          <div class="row m-0">
            <div class="col-12 col-sm-8 p-0">
              <div class="f-w mb-2 mapa-content">
                <div class="mapa" #map></div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="d-grid gap-2 d-md-block mb-2">
                <button
                  type="button"
                  (click)="fileSHPInput.click()"
                  class="btn btn-sm btn-secondary mb-2 button-more"
                  [disabled]="disabled"
                >
                  Adjuntar shape file (track)
                  <input
                    #fileSHPInput
                    type="file"
                    (change)="onChangeFileSHP($event)"
                    style="display: none"
                  />
                </button>
              </div>
              <div class="card gh-layers">
                <div class="card-header py-0 pt-2 pb-2">
                  Capas
                  <span title="Guardar Capa" class="pointer pr-1 float-right">
                    <i
                      class="pi pi-save"
                      aria-hidden="true"
                      (click)="!disabled&&onGuardarLayer()"
                    ></i>
                  </span>
                </div>
                <ul class="list-group">
                  <li
                    *ngFor="let item of _filesSHP"
                    class="list-group-item p-0 d-flex"
                  >
                    <input
                      class="ml-1 mr-1 pointer"
                      type="checkbox"
                      [checked]="true"
                      (change)="toggleLayer(item.idLayer, $event)"
                    />

                    <label
                      class="m-0 p-0 text-left pointer"
                      style="flex: 2"
                      [ngStyle]="{'color': item.color}"
                      >{{item.nombreFile}}</label
                    >

                    <div class="d-flex">
                      <span class="mr-2 pointer">
                        <i
                          class="pi pi-download"
                          *ngIf="item.inServer == true"
                          aria-hidden="true"
                          (click)="onDownloadFileSHP(item)"
                        ></i>
                      </span>
                      <span class="pointer pr-1">
                        <i
                          class="pi pi-trash"
                          aria-hidden="true"
                          *ngIf="!item.annex && item.file"
                          (click)="!disabled&&onRemoveFileSHP(item)"
                        ></i>
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-2 col-sm-12 text-right mb-3">
              <button
                class="btn btn-sm btn-default button-more mb-2"
                type="button"
                title="Agregar" [disabled]="disabled"
                (click)="agregarAccesibilidad()"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
            <div class="col-12 mb-3 pl-4 pr-4">
              <p-table [value]="ubicacion" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 80px" rowspan="2">Acciones</th>
                    <th rowspan="2">
                      Puntos de referencia (carretera, río o quebrada, etc.)
                    </th>
                    <th colspan="2" class="text-center">Coordenadas UTM</th>
                    <th rowspan="2">
                      Distancia desde el punto de referencia (Km)
                    </th>
                    <th rowspan="2">Tiempo (horas)</th>
                    <th rowspan="2">Medio de transporte</th>
                  </tr>
                  <tr>
                    <th colspan="1">Este (E)</th>
                    <th colspan="1">Norte (N)</th>
                  </tr>
                </ng-template>
                <ng-template
                  pTemplate="body"
                  let-ubicacion
                  let-rowIndex="rowIndex"
                >
                  <tr>
                    <td class="pl-2 text-center" style="width: 80px">
                      <div class="d-flex justify-content-center">
                        <span class="mr-2 pointer">
                          <i
                            class="pi pi-pencil"
                            aria-hidden="true"
                            (click)="!disabled&&editarAcessibilidad(ubicacion, rowIndex)"
                          ></i>
                        </span>
                        <span class="pointer pr-1">
                          <i
                            class="pi pi-trash"
                            aria-hidden="true"
                            (click)="!disabled&&eliminarAccesibilidad($event,
                            rowIndex,ubicacion.idInfBasicaDet)"
                          ></i>
                        </span>
                      </div>
                    </td>
                    <td>{{ ubicacion.referencia }}</td>
                    <td colspan="1">{{ ubicacion.coordenadaEsteIni }}</td>
                    <td colspan="1">{{ ubicacion.coordenadaNorteIni }}</td>
                    <td>{{ ubicacion.distanciaKm }}</td>
                    <td>{{ ubicacion.tiempo }}</td>
                    <td>{{ubicacion.medioTransporte}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <div class="step__btn mt-4">
            <button
              type="submit"
              class="btn-primary2"
              (click)="registrarAccesibilidad()"
              [disabled]="disabled||!ubicacion"
            >
              Guardar
            </button>
          </div>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>

        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<p-confirmPopup></p-confirmPopup>

<p-dialog
  header="Rutas o vías de acceso terrestre o fluvial a la PC"
  [(visible)]="showModal"
  [modal]="true"
  [style]="{ width: '60vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row m-0">
      <div class="col-12 form-group">
        <label for="tratamiento">Puntos de referencia</label>
        <input
          type="text"
          id="tratamiento"
          autocomplete="off"
          class="form-control contents_form_input"
          maxlength="50"
          [(ngModel)]="accesibility.referencia"
        />
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12 col-sm-6 form-group">
        <label for="resumen">Coordenadas UTM Este (E)</label>
        <input
          class="form-control"
          [(ngModel)]="accesibility.coordenadaEsteIni"
          numero
          [min]="0"
          [maxLength]="50"
        />
      </div>
      <div class="col-12 col-sm-6 form-group">
        <label for="resumen">Coordenadas UTM Norte (N)</label>
        <input
          class="form-control"
          [(ngModel)]="accesibility.coordenadaNorteIni"
          numero
          [min]="0"
          [maxLength]="50"
        />
      </div>
    </div>

    <div class="row m-0">
      <div class="col-12 col-sm-6 form-group">
        <label for="resumen">
          Distancia desde el punto de referencia (Km)
        </label>
        <input
          class="form-control"
          [(ngModel)]="accesibility.distanciaKm"
          numero
          [min]="0"
          [maxLength]="50"
        />
      </div>

      <div class="col-12 col-sm-6 form-group">
        <label for="resumen">Tiempo (horas)</label>
        <input
          class="form-control"
          [(ngModel)]="accesibility.tiempo"
          numero
          [min]="0"
          [maxLength]="50"
        />
      </div>
    </div>

    <div class="row m-0">
      <div class="col-12 form-group">
        <label for="resumen">Medio de transporte</label>
        <input
          class="form-control"
          [(ngModel)]="accesibility.medioTransporte"
          maxlength="100"
        />
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
      (click)="guardarAcessibilidad()"
    ></button>
    <button
      icon="pi pi-times"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
      (click)="showModal = false"
    ></button>
  </ng-template>
</p-dialog>
