<div class="row m-0">
  <div class="col-6 form-group">
    <label for="medidasControl">Número de resolución</label>
    <input
      type="text"
      class="form-control contents_form_input"
      [(ngModel)]="actividadObjt.noResolucion"
      placeholder="Ingrese el número de documento"
    />
  </div>
  <div class="col-6 form-group">
    <label for="medidasControl">Estado</label>
    <input
      type="text"
      class="form-control contents_form_input"
      [(ngModel)]="actividadObjt.estado"
      placeholder="FIRME"
    />
  </div>
</div>
<div class="fecha-content1">
  <div class="col-12 col-sm-5 p-0">
    <div class="fecha">Fecha</div>
    <div class="content-date">
      <input
        autocomplete="off"
        class="form-control"
        matInput
        [matDatepicker]="fecha"
      />
      <i class="pi pi-calendar pointer" (click)="fecha.open()"></i>
      <mat-datepicker #fecha></mat-datepicker>
    </div>
  </div>
</div>

<div class="col-12 mt-3">
  <button class="btn btn-sm btn-secondary" (click)="guardar()">Guardar</button>
</div>
