table.sjs-table > tbody > tr:first-child > td {
  background-color: #f8f9fa;
  font-weight: bold;
}
.acciones {
  width: 100px;
  min-width: 80px;
}

.table-body {
  min-width: 120px;
}

.columna {
  width: 35%;
}

.justificado {
  text-align: justify;
}

.rotated {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}
