<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab
          header="7.1. Demarcación y mantenimiento de linderos"
          [selected]="true"
        >
          <div>
            <div class="row m-0 pt-3">
              <div class="col-6">
                <label class="m-0 pl-3 pointer"
                  >Longitud estimada (en Km.) de linderos a marcar en el año
                  operativo:</label
                >
              </div>
              <div class="col-6">
                <input
                  decimal
                  [min]="0"
                  [maxlength]="12" [disabled]="disabled"
                  [decimalPlaces]="3"
                  class="form-control text-right"
                  [(ngModel)]="longitudMarcar"
                />
              </div>
            </div>
            <div class="row m-0 pt-3">
              <div class="col-6">
                <label class="m-0 pl-3 pointer"
                  >Longitud estimada (en Km.) de linderos a mantener en el año
                  operativo:</label
                >
              </div>
              <div class="col-6">
                <input
                  decimal
                  [min]="0"
                  [maxlength]="12" [disabled]="disabled"
                  [decimalPlaces]="3"
                  class="form-control text-right"
                  [(ngModel)]="longitudMantener"
                />
              </div>
            </div>
            <div class="row m-0 pt-3">
              <div class="col-6">
                <label class="m-0 pl-3 pointer"
                  >Delimitación y señalización de linderos a través de:</label
                >
              </div>
              <div class="col-6">
                <!-- <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="delimitacionLindero"
                  maxlength="100"
                /> -->
                <textarea
                  class="form-control"
                  rows="2" [disabled]="disabled"
                  [(ngModel)]="delimitacionLindero"
                  maxlength="100"
                  style="resize: none;"
                ></textarea>
              </div>
            </div>
          </div>
          <br />
          <div class="row m-0 pt-3">
            <div class="col-12">
              <div class="col-2 col-sm-12 text-right">
                <button
                  (click)="addItem_7_1()"
                  class="btn btn-sm btn-default mb-2"
                  type="button"
                  title="Agregar"
                  [disabled]="disabled || isPerfilArffs"
                >
                  <i class="pi pi-plus"></i>
                </button>
              </div>
              <!--<p-confirmPopup></p-confirmPopup>-->
              <p-table [value]="lisLinderos" class="table-justify">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 20%">Sistema de demarcación</th>
                    <th style="width: 20%" class="text-center">
                      <p-checkbox
                      [binary]="true"
                      [disabled]="disabled||isPerfilArffs"
                      [(ngModel)]="masterSelected"
                      (onChange)="checkUncheckAll()"
                      >
                      </p-checkbox>
                    </th>
                    <th style="width: 60%">Modo de Implementación</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td>
                      <input
                        type="text"
                        maxlength="50"
                        class="form-control"
                        [disabled]=" disabled||
                          isPerfilArffs ||
                          data.tipoMarcacion == 'Trochas' ||
                            data.tipoMarcacion == 'Letreros' ||
                            data.tipoMarcacion == 'Hitos' ||
                            data.tipoMarcacion == 'Árboles pintados'
                        "
                        placeholder="Sistema de demarcación"
                        [(ngModel)]="data.tipoMarcacion"
                      />
                    </td>
                    <td class="text-center">
                      <div class="p-field-checkbox">
                        <p-checkbox
                          [disabled]="disabled||isPerfilArffs"
                          [binary]="true"
                          [(ngModel)]="data.nuAccionb"
                          (onChange)="isAllSelected()"
                        >
                        </p-checkbox>
                      </div>
                    </td>
                    <td>
                      <div *ngIf="data.nuAccionb == false">
                        {{ data.implementacion }}
                      </div>
                      <div *ngIf="data.nuAccionb == true">
                        <textarea
                          maxlength="250" rows="3"
                          [disabled]="disabled||isPerfilArffs"
                          [(ngModel)]="data.implementacion"
                          class="form-control"
                        ></textarea>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <br />
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon7_71"
            [base]="evaluacion7_71"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
          <div class="step__btn mt-4">
            <button
              type="submit"
              class="btn-primary2"
              (click)="guardar_7_1()"
              [disabled]="disabled"
            >
              Guardar
            </button>
          </div>
        </p-accordionTab>

        <p-accordionTab header="7.2. Evaluación de impacto ambiental">
          <div class="row m-0 pt-3">
            <div class="col-12">
              <mat-tab-group animationDuration="0ms">
                <mat-tab
                  label="7.2.1. Modelo de Matriz de identificación de Impactos Ambientales"
                >
                  <div class="row m-0 pt-3">
                    <div class="col-12" *ngIf="false">
                      <h3 class="title2">
                        Modelo de Matriz de Identificación de Impactos
                        Ambientales
                      </h3>
                    </div>
                    <div class="col-12 mt-5 ml-4">
                      <app-carga-excel
                        (cargarArchivo)="cargarFormato($event, CodigosPOAC.ACORDEON_7_721)"
                        [isDisbledObjFormu]="disabled||isDisbledObjFormu"
                        [NombrePlantilla]="UrlFormatos.CARGA_POAC_7_2_1"
                      ></app-carga-excel>
                    </div>
                    <div class="col-2 col-sm-12 text-right">
                      <button
                        (click)="abrirModalImpacto()"
                        class="btn btn-sm btn-default mb-2"
                        type="button"
                        title="Agregar"
                        [disabled]="disabled || isPerfilArffs"
                      >
                        <i class="pi pi-plus"></i>
                      </button>
                    </div>

                    <div class="col-12">
                      <p-table
                        [value]="listImpactosAmbientales"
                        [columns]="actividadesPorDefecto"
                      >
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th
                              style="width: 80px; height: 200px"
                              rowspan="2"
                              class="acciones"
                            >
                              Acciones
                            </th>
                            <th rowspan="2">Medio</th>
                            <th rowspan="2">Factores ambientales</th>
                            <th rowspan="2">Impactos identificados</th>
                            <th
                              [attr.colspan]="actividadesPorDefecto.length"
                              class="text-center"
                            >
                              Actividades (causa)
                              <button
                                (click)="abrirModalActividad()"
                                class="btn btn-sm btn-default ml-2"
                                type="button"
                                title="Agregar Actividad"
                                [disabled]="disabled || isPerfilArffs"
                              >
                                <i class="pi pi-plus"></i>
                              </button>
                            </th>
                          </tr>
                          <tr>
                            <th *ngFor="let col of columns" class="rotated">
                              {{ col.descripcion }}
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template
                          pTemplate="body"
                          let-data
                          let-rowIndex="rowIndex"
                        >
                          <tr>
                            <td
                              style="width: 80px"
                              class="text-center acciones"
                            >
                              <span
                                class="pointer mr-1"
                                title="Editar"
                                (click)="!disabled&&
                                  !isPerfilArffs &&
                                    openEditarImpacto(data, rowIndex)
                                "
                              >
                                <i class="pi pi-pencil"></i>
                              </span>
                              <span
                                class="pointer mr-1"
                                title="Eliminar"
                                (click)="!disabled &&
                                  !isPerfilArffs &&
                                    openEliminarImpacto($event, rowIndex, data)
                                "
                              >
                                <i class="pi pi-trash"></i>
                              </span>
                            </td>
                            <td>{{ data.actividad }}</td>
                            <td>{{ data.tipoMarcacion }}</td>
                            <td>{{ data.impacto }}</td>
                            <ng-container
                              *ngFor="
                                let actividad of data.listProteccionBosqueActividad;
                                let i = index
                              "
                            >
                              <td class="text-center">
                                {{ actividad.accion ? "X" : "" }}
                              </td>
                            </ng-container>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>

                    <button
                      class="btn-primary2"
                      (click)="guardar_7_2_1()"
                      style="margin-top: 20px"
                      [disabled]="disabled || isPerfilArffs"
                    >
                      Guardar
                    </button>
                  </div>
                  <br />
                  <br />
                  <evaluacion-archivo-shared
                    [idPlanManejo]="idPlanManejo"
                    [cadigoTab]="codigoAcordeon7_721"
                    [base]="evaluacion7_721"
                    *ngIf="isPerfilArffs"
                  >
                    <ng-template #conatinertop> </ng-template>
                    <ng-template #conatinerbottom> </ng-template>
                  </evaluacion-archivo-shared>
                </mat-tab>

                <mat-tab label="7.2.2. Plan de Gestión Ambiental">
                  <div class="row m-0 pt-3">
                    <div class="col-6 col-sm-6">
                      <button
                        *ngIf="!isPerfilArffs"
                        class="btn btn-outline-primary"
                        (click)="autocompletar()"
                        [disabled]="disabled || isPerfilArffs"
                      >
                        Autocompletar
                      </button>
                    </div>

                    <div class="col-6 col-sm-6 text-right">
                      <button
                        (click)="abrirModalPlanes()"
                        class="btn btn-sm btn-default mb-2"
                        type="button"
                        title="Agregar"
                        [disabled]="disabled || isPerfilArffs"
                      >
                        <i class="pi pi-plus"></i>
                      </button>
                    </div>
                  </div>

                  <div class="row m-0 pt-3">
                    <div class="col-12">
                      <h3 class="title2">Programa Preventivo Corrector</h3>
                    </div>
                    <div class="col-12">
                      <p-table [value]="planGestionType1">
                        <ng-template pTemplate="header">
                          <tr>
                            <th class="text-center acciones">Acciones</th>
                            <th class="text-left">Actividades</th>
                            <th class="text-left columna">
                              Descripción del Impacto
                            </th>
                            <th class="text-left columna">
                              Medidas de Mitigación Ambiental
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template
                          pTemplate="body"
                          let-data
                          let-rowIndex="rowIndex"
                        >
                          <tr>
                            <td class="text-center acciones">
                              <span
                                class="pointer mr-1"
                                title="Editar"
                                (click)="!disabled &&
                                  !isPerfilArffs &&
                                    openEditarPlanGestion(data, rowIndex)
                                "
                              >
                                <i class="pi pi-pencil"></i>
                              </span>
                              <a
                                type="button"
                                class="pointer"
                                title="Eliminar"
                                (click)="!disabled &&
                                  !isPerfilArffs &&
                                    openEliminarPlanGestion(
                                      $event,
                                      rowIndex,
                                      data
                                    )
                                "
                              >
                                <i class="pi pi-trash"></i>
                              </a>
                            </td>
                            <td class="text-left">{{ data.actividad }}</td>
                            <td class="text-left columna">
                              {{ data.impacto }}
                            </td>
                            <td class="text-left columna">
                              {{ data.mitigacionAmbiental }}
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>

                  <br />

                  <div class="row m-0 pt-3">
                    <div class="col-12">
                      <h3 class="title2">
                        Programa de Vigilancia y Seguimiento
                      </h3>
                    </div>
                    <div class="col-12">
                      <p-table [value]="planGestionType2">
                        <ng-template pTemplate="header">
                          <tr>
                            <th class="acciones text-center">Acciones</th>
                            <th class="text-left">Actividades</th>
                            <th class="text-left columna">
                              Descripción del Impacto
                            </th>
                            <th class="text-left columna">
                              Medidas de Mitigación Ambiental
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template
                          pTemplate="body"
                          let-data
                          let-rowIndex="rowIndex"
                        >
                          <tr>
                            <td class="text-center acciones">
                              <span
                                class="pointer mr-1"
                                title="Editar"
                                (click)="!disabled &&
                                  !isPerfilArffs &&
                                    openEditarPlanGestion(data, rowIndex)
                                "
                              >
                                <i class="pi pi-pencil"></i>
                              </span>
                              <a
                                type="button"
                                class="pointer"
                                title="Eliminar"
                                (click)="!disabled &&
                                  !isPerfilArffs &&
                                    openEliminarPlanGestion(
                                      $event,
                                      rowIndex,
                                      data
                                    )
                                "
                              >
                                <i class="pi pi-trash"></i>
                              </a>
                            </td>

                            <td class="text-left">{{ data.actividad }}</td>
                            <td class="text-left columna">
                              {{ data.impacto }}
                            </td>
                            <td class="text-left columna">
                              {{ data.mitigacionAmbiental }}
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                  <br />
                  <div class="row m-0 pt-3">
                    <div class="col-12">
                      <h3 class="title2">
                        Programas de Contingencias Ambientales
                      </h3>
                    </div>
                    <div class="col-12">
                      <p-table [value]="planGestionType3">
                        <ng-template pTemplate="header">
                          <tr>
                            <th class="acciones text-center">Acciones</th>
                            <th class="text-left">Contingencias</th>
                            <th class="text-left columna">
                              Descripción del Impacto
                            </th>
                            <th class="text-left columna">
                              Medidas de Mitigación Ambiental
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template
                          pTemplate="body"
                          let-data
                          let-rowIndex="rowIndex"
                        >
                          <tr>
                            <td class="text-center acciones">
                              <span
                                class="pointer mr-1"
                                title="Editar"
                                (click)="!disabled &&
                                  !isPerfilArffs &&
                                    openEditarPlanGestion(data, rowIndex)
                                "
                              >
                                <i class="pi pi-pencil"></i>
                              </span>
                              <a
                                type="button"
                                class="pointer"
                                title="Eliminar"
                                (click)="!disabled &&
                                  !isPerfilArffs &&
                                    openEliminarPlanGestion(
                                      $event,
                                      rowIndex,
                                      data
                                    )
                                "
                              >
                                <i class="pi pi-trash"></i>
                              </a>
                            </td>
                            <td class="text-left">{{ data.actividad }}</td>
                            <td class="text-left columna justificado">
                              {{ data.impacto }}
                            </td>
                            <td class="text-left columna justificado">
                              {{ data.mitigacionAmbiental }}
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                  <button
                    *ngIf="!isPerfilArffs"
                    class="btn-primary2"
                    (click)="registrar_7_2_2()"
                    style="margin-top: 20px"
                    [disabled]="disabled || isPerfilArffs"
                  >
                    Guardar
                  </button>

                  <br />
                  <br />
                  <evaluacion-archivo-shared
                    [idPlanManejo]="idPlanManejo"
                    [cadigoTab]="codigoAcordeon7_722"
                    [base]="evaluacion7_722"
                    *ngIf="isPerfilArffs"
                  >
                    <ng-template #conatinertop> </ng-template>
                    <ng-template #conatinerbottom> </ng-template>
                  </evaluacion-archivo-shared>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4">
        <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button
          *ngIf="isPerfilArffs"
          class="btn-primary2"
          (click)="registrarEvaluacion()"
        >
          Guardar Evaluación
        </button>
        <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">
          Retornar Flujo Evaluacion
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
      <br />
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast
  position="bottom-center"
  key="c"
  (onClose)="onReject()"
  [baseZIndex]="5000"
>
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{ message.summary }}</h4>
        <p>{{ message.detail }}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button
            type="button"
            pButton
            (click)="onConfirm()"
            label="Yes"
            class="p-button-success"
          ></button>
        </div>
        <div class="p-col-6">
          <button
            type="button"
            pButton
            (click)="onReject()"
            label="No"
            class="p-button-secondary"
          ></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<p-dialog
  header="{{
    !editImpacto ? 'Registrar Impacto Ambiental' : 'Editar Impacto Ambiental'
  }}"
  header="Header"
  [(visible)]="showModalImpacto"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Medio</label>
            <div class="form-control-selectk">
              <p-dropdown
                [options]="mediosAmbientales"
                [disabled]="det_item_7_2_1.descOtra == CodigoUtil.VALOR_DEFECTO"
                optionLabel="descripcion"
                optionValue="codigo"
                placeholder="Seleccione medio"
                [(ngModel)]="det_item_7_2_1.actividad"
                appendTo="body"
                [style]="{width: '100%'}"
              ></p-dropdown>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Factores ambientales</label>
            <input
              type="text"
              maxlength="50"
              class="form-control"
              placeholder="Ingrese factores"
              [(ngModel)]="det_item_7_2_1.tipoMarcacion"
              [disabled]="det_item_7_2_1.descOtra == CodigoUtil.VALOR_DEFECTO"
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Impactos identificados</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese impactos"
              [(ngModel)]="det_item_7_2_1.impacto"
              maxlength="50"
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Actividades</label>
            <div class="form-control-multi">
              <p-multiSelect
                [options]="actividadesPorDefecto"
                optionLabel="descripcion"
                optionValue="descripcion"
                placeholder="Seleccione actividades"
                (onChange)="onChangeAct($event)"
                [(ngModel)]="det_item_7_2_1.actividades"
                appendTo="body"
                [style]="{width: '100%'}"
              ></p-multiSelect>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarImpacto()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cancelarImpactoModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="{{ tituloModal }}"
  header="Header"
  [(visible)]="showModal_7_2_2"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Tipo de Programa</label>
            <div class="form-control-selectk">
              <p-dropdown
                [options]="tipos"
                optionLabel="valorPrimario"
                optionValue="valorPrimario"
                [(ngModel)]="det_item_7_2_2.tipoMarcacion"
                placeholder="Seleccione tipo"
                appendTo="body"
                [style]="{width: '100%'}"
              ></p-dropdown>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Actividades</label>
            <input
              [(ngModel)]="det_item_7_2_2.actividad"
              type="text"
              [disabled]="det_item_7_2_2.descOtra == CodigoUtil.VALOR_DEFECTO"
              maxlength="100"
              class="form-control"
              placeholder="Ingrese actividades"
              maxlength="50"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Descripción del impacto</label>
            <textarea
              [(ngModel)]="det_item_7_2_2.impacto"
              class="form-control" rows="6"
              placeholder="Ingrese descripción del impacto"
              maxlength="250"
            ></textarea>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Medidas de mitigación</label>
            <textarea
              [(ngModel)]="det_item_7_2_2.mitigacionAmbiental"
              class="form-control" rows="6"
              placeholder="Ingrese medidas de mitigación"
              maxlength="250"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregar_7_2_2()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cancelarModal_7_2_2()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Nueva Columna Actividad"
  [(visible)]="displayModalActividad"
  [style]="{ width: '25vw' }"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="form-group">
            <label class="label">Actividad:</label>
            <div class="form-control-selectk">
              <input
                type="text"
                class="form-control"
                placeholder="Ingrese actividad"
                [(ngModel)]="det_item_actividad.descripcion"
                maxlength="20"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarColumna()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="displayModalActividad = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
