<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 pt-3">
      <h3 class="title">BANDEJA DE SOLICITUDES DE ACCESO</h3>
    </div>
    <div class="col-12">
      <p-fieldset legend="Filtros" [toggleable]="true" [collapsed]="false">
        <div class="row m-0">
          <div class="col-12 col-sm-3">
            <div class="form-group">
              <label class="label">Estado Solicitud</label>
              <div class="form-control-selectk">
                <p-dropdown
                  [options]="lstEstado"
                  [(ngModel)]="solicitudAcceso.estadoSolicitud"
                  optionLabel="valor1"
                  optionValue="codigo"
                  placeholder="Seleccione"
                ></p-dropdown>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-3">
            <div class="form-group">
              <label class="label">Tipo de persona</label>
              <div class="form-control-selectk">
                <p-dropdown
                  [options]="lstTipoPersona"
                  [(ngModel)]="solicitudAcceso.codigoTipoPersona"
                  optionLabel="valor1"
                  optionValue="codigo"
                  placeholder="Seleccione"
                ></p-dropdown>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-3">
            <div class="form-group">
              <label class="label">Tipo de Actor</label>
              <div class="form-control-selectk">
                <p-dropdown
                  [options]="lstTipoActor"
                  [(ngModel)]="solicitudAcceso.codigoTipoActor"
                  optionLabel="valor1"
                  optionValue="codigo"
                  placeholder="Seleccione"
                ></p-dropdown>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-3">
            <div class="form-group">
              <label class="label">Tipo de CNCC</label>
              <div class="form-control-selectk">
                <p-dropdown
                  [options]="lstTipoCNCC"
                  [(ngModel)]="solicitudAcceso.codigoTipoCncc"
                  optionLabel="valor1"
                  optionValue="codigo"
                  placeholder="Seleccione"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </div>

        <div class="row m-0">
          <div class="col-12 col-sm-3">
            <div class="form-group">
              <label class="label">Número Documento</label>
              <input
                type="text"
                autocomplete="off"
                [(ngModel)]="solicitudAcceso.numeroDocumento"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-12 col-sm-3">
            <div class="form-group">
              <label class="label">Nombres</label>
              <input
                type="text"
                autocomplete="off"
                [(ngModel)]="solicitudAcceso.nombres"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label class="label">Razón Social</label>
              <input
                type="text"
                autocomplete="off"
                [(ngModel)]="solicitudAcceso.razonSocialEmpresa"
                class="form-control"
              />
            </div>
          </div>
        </div>
        <div class="row m-0 mt-2 mb-3 justify-content-center">
          <div class="col-12 col-sm-4 text-center">
            <button
              pButton
              pRipple
              type="button"
              label="Limpiar"
              class="btn btn-sm btn-secondary mr-2"
              (click)="limpiar()"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              label="Buscar"
              class="btn btn-sm btn-secondary mr-2"
              (click)="listarSolicitudAcceso()"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              label="Nuevo"
              class="btn btn-sm btn-secondary mr-2"
              (click)="registrarSolicitudAcceso()"
            ></button>
          </div>
        </div>
      </p-fieldset>
    </div>
    <div class="col-12 mt-4 mb-3">
      <div>
        <p-table
          [value]="lstSolicituAcceso"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Total : {totalRecords} registros"
          [rowsPerPageOptions]="[10, 25, 50]"
          (onPage)="loadData()"
        >
          <ng-template pTemplate="header">
            <tr>
              <!-- <th class="text-center" style="width: 60px;">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th> -->
              <th>Código Único</th>
              <th>Estado</th>
              <th>Fecha Solicitud</th>
              <th>Tipo Persona</th>
              <th>Nombre Persona / Repr. Legal</th>
              <th>Razón Social</th>
              <th>Tipo Actor</th>
              <th>Tipo de CNCC</th>
              <th>Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <!-- <td class="text-center">
                                <p-tableCheckbox [value]="data"></p-tableCheckbox>
                            </td> -->
              <td>{{ data.idSolicitudAcceso }}</td>
              <td>{{ data.estadoSolicitud }}</td>
              <td>{{ data.fechaIngreso | date: "dd/MM/yyyy h:mm:ss a" }}</td>
              <td>{{ data.tipoPersona }}</td>
              <td>
                {{
                  data.nombres +
                    " " +
                    data.apellidoPaterno +
                    " " +
                    data.apellidoMaterno
                }}
              </td>
              <td>{{ data.razonSocialEmpresa }}</td>
              <td>{{ data.tipoActor }}</td>
              <td>{{ data.tipoCncc }}</td>
              <td class="text-center">
                <i
                  (click)="revisarSolicitud(data)"
                  class="pi pi-eye pointer"
                  title="Revision"
                ></i>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <!-- <p-paginator [rows]="5" [totalRecords]="23" [rowsPerPageOptions]="[5,10,25,50,100]"></p-paginator> -->
    </div>
  </div>
</div>
