<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab
          header="13.1. Cronograma de Actividades"
          [selected]="true"
        >
          <div class="row m-0 mt-3">
            <div class="col-12 pt-2 text-right">
              <div class="col-12 p-0 text-right">
                <button
                  icon="pi pi-plus"
                  [disabled]="disabled || isPerfilArffs"
                  (click)="openModal('Nuevo Registro', null, 'C')"
                  pButton
                  pRipple
                  type="button"
                  label=""
                  class="p-button-success p-button-text"
                ></button>
              </div>
            </div>
          </div>
          <div class="row m-0 mt-3">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-boderk">
                  <thead>
                    <tr>
                      <th class="v-middle" rowspan="2">Acciones</th>
                      <th class="v-middle" rowspan="2">Actividad</th>
                      <th
                        *ngIf="verAnio1"
                        class="v-middle"
                        [attr.colspan]="verMesAnio1 ? 12 : 1"
                        [attr.rowspan]="verMesAnio1 ? 1 : 2"
                      >
                        Año 1
                        <i
                          (click)="verMesAnio1 = !verMesAnio1"
                          class="ml-3 pointer pi {{
                            verMesAnio1 ? 'pi-eye' : 'pi-eye-slash'
                          }}"
                        ></i>
                      </th>
                      <th
                        *ngIf="verAnio2"
                        class="v-middle"
                        [attr.colspan]="verMesAnio2 ? 12 : 1"
                        [attr.rowspan]="verMesAnio2 ? 1 : 2"
                      >
                        Año 2
                        <i
                          (click)="verMesAnio2 = !verMesAnio2"
                          class="ml-3 pointer pi {{
                            verMesAnio2 ? 'pi-eye' : 'pi-eye-slash'
                          }}"
                        ></i>
                      </th>
                      <th
                        *ngIf="verAnio3"
                        class="v-middle"
                        [attr.colspan]="verMesAnio3 ? 12 : 1"
                        [attr.rowspan]="verMesAnio3 ? 1 : 2"
                      >
                        Año 3
                        <i
                          (click)="verMesAnio3 = !verMesAnio3"
                          class="ml-3 pointer pi {{
                            verMesAnio3 ? 'pi-eye' : 'pi-eye-slash'
                          }}"
                        ></i>
                      </th>
                    </tr>
                    <tr>
                      <th *ngIf="verMesAnio1 && verAnio1">1</th>
                      <th *ngIf="verMesAnio1 && verAnio1">2</th>
                      <th *ngIf="verMesAnio1 && verAnio1">3</th>
                      <th *ngIf="verMesAnio1 && verAnio1">4</th>
                      <th *ngIf="verMesAnio1 && verAnio1">5</th>
                      <th *ngIf="verMesAnio1 && verAnio1">6</th>
                      <th *ngIf="verMesAnio1 && verAnio1">7</th>
                      <th *ngIf="verMesAnio1 && verAnio1">8</th>
                      <th *ngIf="verMesAnio1 && verAnio1">9</th>
                      <th *ngIf="verMesAnio1 && verAnio1">10</th>
                      <th *ngIf="verMesAnio1 && verAnio1">11</th>
                      <th *ngIf="verMesAnio1 && verAnio1">12</th>

                      <th *ngIf="verMesAnio2 && verAnio2">1</th>
                      <th *ngIf="verMesAnio2 && verAnio2">2</th>
                      <th *ngIf="verMesAnio2 && verAnio2">3</th>
                      <th *ngIf="verMesAnio2 && verAnio2">4</th>
                      <th *ngIf="verMesAnio2 && verAnio2">5</th>
                      <th *ngIf="verMesAnio2 && verAnio2">6</th>
                      <th *ngIf="verMesAnio2 && verAnio2">7</th>
                      <th *ngIf="verMesAnio2 && verAnio2">8</th>
                      <th *ngIf="verMesAnio2 && verAnio2">9</th>
                      <th *ngIf="verMesAnio2 && verAnio2">10</th>
                      <th *ngIf="verMesAnio2 && verAnio2">11</th>
                      <th *ngIf="verMesAnio2 && verAnio2">12</th>

                      <th *ngIf="verMesAnio3 && verAnio3">1</th>
                      <th *ngIf="verMesAnio3 && verAnio3">2</th>
                      <th *ngIf="verMesAnio3 && verAnio3">3</th>
                      <th *ngIf="verMesAnio3 && verAnio3">4</th>
                      <th *ngIf="verMesAnio3 && verAnio3">5</th>
                      <th *ngIf="verMesAnio3 && verAnio3">6</th>
                      <th *ngIf="verMesAnio3 && verAnio3">7</th>
                      <th *ngIf="verMesAnio3 && verAnio3">8</th>
                      <th *ngIf="verMesAnio3 && verAnio3">9</th>
                      <th *ngIf="verMesAnio3 && verAnio3">10</th>
                      <th *ngIf="verMesAnio3 && verAnio3">11</th>
                      <th *ngIf="verMesAnio3 && verAnio3">12</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of lstDetalle">
                      <td>
                        <span
                          (click)="!disabled&&openModal('Editar Registro', data, 'E')"
                          class="pointer mr-1"
                          title="Editar"
                        >
                          <i class="pi pi-pencil"></i>
                        </span>
                        <span
                          (click)="!disabled&&openEliminar($event, data)"
                          class="pointer mr-2"
                          title="Eliminar"
                        >
                          <i class="pi pi-trash"></i>
                        </span>
                      </td>
                      <td class="text-left">{{ data.actividad }}</td>

                      <td *ngIf="verMesAnio1 && verAnio1">
                        {{ data.a1m1 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio1 && verAnio1">
                        {{ data.a1m2 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio1 && verAnio1">
                        {{ data.a1m3 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio1 && verAnio1">
                        {{ data.a1m4 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio1 && verAnio1">
                        {{ data.a1m5 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio1 && verAnio1">
                        {{ data.a1m6 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio1 && verAnio1">
                        {{ data.a1m7 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio1 && verAnio1">
                        {{ data.a1m8 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio1 && verAnio1">
                        {{ data.a1m9 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio1 && verAnio1">
                        {{ data.a1m10 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio1 && verAnio1">
                        {{ data.a1m11 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio1 && verAnio1">
                        {{ data.a1m12 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio1 == false && verAnio1"></td>

                      <td *ngIf="verMesAnio2 && verAnio2">
                        {{ data.a2m1 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio2 && verAnio2">
                        {{ data.a2m2 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio2 && verAnio2">
                        {{ data.a2m3 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio2 && verAnio2">
                        {{ data.a2m4 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio2 && verAnio2">
                        {{ data.a2m5 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio2 && verAnio2">
                        {{ data.a2m6 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio2 && verAnio2">
                        {{ data.a2m7 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio2 && verAnio2">
                        {{ data.a2m8 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio2 && verAnio2">
                        {{ data.a2m9 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio2 && verAnio2">
                        {{ data.a2m10 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio2 && verAnio2">
                        {{ data.a2m11 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio2 && verAnio2">
                        {{ data.a2m12 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio2 == false && verAnio2"></td>

                      <td *ngIf="verMesAnio3 && verAnio3">
                        {{ data.a3m1 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio3 && verAnio3">
                        {{ data.a3m2 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio3 && verAnio3">
                        {{ data.a3m3 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio3 && verAnio3">
                        {{ data.a3m4 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio3 && verAnio3">
                        {{ data.a3m5 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio3 && verAnio3">
                        {{ data.a3m6 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio3 && verAnio3">
                        {{ data.a3m7 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio3 && verAnio3">
                        {{ data.a3m8 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio3 && verAnio3">
                        {{ data.a3m9 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio3 && verAnio3">
                        {{ data.a3m10 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio3 && verAnio3">
                        {{ data.a3m11 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio3 && verAnio3">
                        {{ data.a3m12 == true ? "X" : "" }}
                      </td>
                      <td *ngIf="verMesAnio3 == false && verAnio3"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--  <div class="mt-5 ml-3">
            <app-carga-excel
              [urlFomato]="UrlFormatos.POAC_13"
              (cargarArchivo)="cargarFormato($event)"
            ></app-carga-excel>
          </div> -->
          <br />
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon13_1"
            [base]="evaluacion13_1"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4">
        <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button
          *ngIf="isPerfilArffs"
          class="btn-primary2"
          (click)="registrarEvaluacion()"
        >
          Guardar Evaluación
        </button>
        <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">
          Retornar Flujo Evaluacion
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
      <br />
    </div>
  </div>
</div>
<p-toast position="top-right" key="tl"></p-toast>
