<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-12">
      <h3 class="title">Mantenimiento de Parámetros</h3>

      <div class="panelk br10 p-3">
        <div class="row">
          <div class="col-12 col-sm-4 form-group">
            <label class="label">Descripción de Párametro:</label>
            <input class="form-control" placeholder="Ingrese la descripción de parámetro" type="text"
              [(ngModel)]="objbuscar.descripcionValorPrimario" autocomplete="off" />
          </div>
          <div class="col-12 col-sm-4 form-group">
            <label class="label">Código Parámetro:</label>
            <input class="form-control" placeholder="Ingrese el código " type="text" [(ngModel)]="objbuscar.codigo"
              autocomplete="off" />
          </div>
          <div class="col-12 col-sm-4 form-group">
            <label class="label">Valor Primario Parámetro:</label>
            <input class="form-control" placeholder="Ingrese el valor primario" type="text"
              [(ngModel)]="objbuscar.valorPrimario" autocomplete="off" />
          </div>

          <div class="col-12 my-2 form-group text-center">
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnLimpiar()">Limpiar</button>
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnBuscar()">Buscar</button>
          </div>

        </div>
      </div>

      <p-confirmPopup></p-confirmPopup>
      <div class="mt-4">
        <div class="tablek">
          <p-table [value]="listaBandeja" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 80px">Acciones</th>
                <th>ID Tipo</th>
                <th>Nombre Tipo</th>
                <th>ID Parámetro</th>
                <th>Código Parámetro</th>
                <th>Descripción Parámetro</th>
                <th>Valor Primario Parámetro</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td class="text-center">
                  <span class="pointer mr-1" title="Editar" (click)="openModalMantenimiento('E', data)">
                    <i class="pi pi-pencil"></i>
                  </span>
                  <span class="pointer mr-1" title="Visualizar" (click)="openModalMantenimiento('R', data)">
                    <i class="pi pi-eye"></i>
                  </span>
                </td>
                <td>{{ data.idTipoParametro }}</td>
                <td>{{ data.nombre }}</td>
                <td>{{ data.idParametro }}</td>
                <td>{{ data.codigo }}</td>
                <td>{{ data.descripcionValorPrimario }}</td>
                <td>{{ data.valorPrimario }}</td>
              </tr>
            </ng-template>
          </p-table>
          <!-- <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)"
            [showCurrentPageReport]="true" currentPageReportTemplate="Total : {totalRecords} registros"
            [rowsPerPageOptions]="[10, 25, 50, 100]"></p-paginator> -->
        </div>
      </div>
    </div>

    <p-dialog header="{{ tituloModalMantenimiento }}" [(visible)]="verModalMantenimiento" [modal]="true"
      [style]="{ width: '40vw' }" [maximizable]="false" [baseZIndex]="10000" [draggable]="false" [resizable]="true">
      <ng-template pTemplate="content">
        <form [formGroup]="MantenedorFormulario" novalidate>
          <div class="row">
            <div class="col-12 col-sm-6 form-group">
              <label class="label">Id Parámetro:</label>
              <input [readonly]="true" formControlName="idParametro" type="number" class="form-control" />
            </div>
            <div class="col-12 col-sm-6 form-group">
              <label class="label">Id Tipo Parámetro:</label>
              <input [readonly]="true" formControlName="idTipoParametro" type="number" class="form-control" />
            </div>

            <div class="col-12 col-sm-6 form-group">
              <label class="label">Descripción Parámetro:</label>
              <input formControlName="nombre" [readonly]="true" type="text" class="form-control" />
            </div>
            <div class="col-12 col-sm-6 form-group">
              <label class="label">Código Parámetro:</label>
              <input formControlName="codigo" [readonly]="true" type="text" class="form-control" />
            </div>

            <div class="col-12 col-sm-6 form-group">
              <label class="label">Valor Primario: *</label>
              <input formControlName="valorPrimario" [readonly]="disabledModal" type="number" class="form-control"
                placeholder="Ingrese valor Primario" maxlength="100" sinSpacioInit />
              <mensaje-error-control [control]="MantenedorFormulario.controls['valorPrimario']"></mensaje-error-control>
            </div>
          </div>
        </form>
      </ng-template>

      <ng-template pTemplate="footer">
        <button icon="pi pi-save" *ngIf="!disabledModal" (click)="btnGuardar()" pButton pRipple type="button"
          label="Guardar" class="p-button-success p-button-outlined" style="width: 106px"></button>

        <button icon="pi pi-times" (click)="verModalMantenimiento = false" pButton pRipple type="button"
          label="Cancelar" class="p-button-danger p-button-outlined" style="width: 106px"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>