<div class="container-fluid p-0">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title">Anexo 6: Formato para la Elaboración de Propuestas</h3>
    </div>
  </div>
  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <app-anexo6-pfdn
        [data]="data"
        [idPFDM]="idPFDM"
        [isDisbledFormu]="isDisbledFormu"
        [isDisbledEval]="isDisbledEval"
        [isShowEval]="isShowEval"
      ></app-anexo6-pfdn>
      <div class="row m-0 mt-4 mb-4">
        <div class="col-12 text-left">

          <button class="btn-primary2 btn btn-sm mr-2" (click)="regresar()">
            Regresar
          </button>

          <button class="btn-primary2 btn btn-sm mr-2" [disabled]="isRemiteInformacionAnexo6" (click)="remitirInformacion()">
            Remitir Información
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmPopup></p-confirmPopup>
