<div class="row">
  <div class="col-12 form-group">
    <label for="nombreActividad">Nombre Actividad:</label>
    <div *ngIf="isDisabled">
      <input
        type="text"
        id="nombreActividad"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="actividadObjt.nombreActividad"
        placeholder="Ingrese el nombre de Actividad"
        [disabled]="isDisabled"
      />
    </div>
    <div *ngIf="!isDisabled">
      <input
      type="text"
      id="nombreActividad"
      autocomplete="off"
      class="form-control contents_form_input"
      [(ngModel)]="actividadObjt.nombreActividad"
      placeholder="Ingrese el nombre de Actividad"
    />
    </div>
  </div>
  <div class="col-12 form-group">
    <label for="descripcionActividad">Descripción de impacto:</label>
    <textarea
      id="descripcionActividad"
      autocomplete="off"
      class="form-control form-control-sm"
      rows="4"
      [autoResize]="autoResize"
      maxlength="250"
      [(ngModel)]="actividadObjt.descripcionImpacto"
      placeholder="Ingrese la descripcion de impacto"
      pInputTextarea
    ></textarea>
  </div>

  <div class="col-12 form-group">
    <label for="medidasControl">Medida de control ambiental:</label>
    <input
      type="text"
      id="medidasControl"
      autocomplete="off"
      class="form-control contents_form_input"
      [(ngModel)]="actividadObjt.medidasControl"
      placeholder="Ingrese la medida de control ambiental"
      maxlength="250"
    />
  </div>

  <div class="col-12 mt-3 text-right">
      <button class="p-button-success p-button-outlined mr-2" type="button" icon="pi pi-save"
      pButton pRipple label="Guardar" (click)="agregar()"></button>
    <button class="p-button-danger p-button-outlined" type="button" icon="pi pi-times" pButton pRipple
      label="Cancelar" (click)="cerrarModal()"></button>
  </div>
</div>
