<div class="row-fluid">
  <p-confirmPopup></p-confirmPopup>
  <ng-container>
    <p-fieldset legend="Expediente presentado" [toggleable]="true">
      <div class="row m-0">
        <div class="col-sm-12 col-md-6 form-group">
          <label class="label">N° de expediente:</label>
          <input
            class="form-control form-control-sm"
            type="tetx"
            autocomplete="off"
            [(ngModel)]="expediente.numero"
            disabled
          />
        </div>

        <div class="col-sm-12 col-md-6 form-group">
          <label class="label">Fecha Presentación:</label>
          <input
            class="form-control form-control-sm"
            type="tetx"
            autocomplete="off"
            [(ngModel)]="expediente.fecha"
            disabled
          />
        </div>

        <div class="col-12 form-group">
          <div class="tablek">
            <p-table
              [value]="listadoAdjuntos"
              [paginator]="true"
              [rows]="10"
              [showCurrentPageReport]="true"
              currentPageReportTemplate="Total : {totalRecords} registros"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>Acciones</th>
                  <th>Tipo Documento</th>
                  <th>Nombre Documento</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-obj>
                <tr>
                  <td class="text-center">
                    <i
                      (click)="btnDescargarArchivoContrato(obj)"
                      style="cursor: pointer"
                      class="pi pi-download"
                    ></i>
                  </td>
                  <td>{{ obj.descripcionTipoDocumento }}</td>
                  <td>{{ obj.nombreArchivo }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div> </p-fieldset
    ><br />

    <p-fieldset legend="Fiscalización" [toggleable]="true">
      <div class="row m-0 mt-2">
        <div class="col-12 form-group">
          <!-- INFORME FISCALIZACIÓN -->
          <p-fieldset legend="Carga Informe Fiscalización" [toggleable]="true">
            <div class="row m-0">
              <div class="col-12 form-group">
                <label class="label mr-2"
                  >Plantilla Formato Fiscalización</label
                >
                <button
                  class="btn btn-secondary"
                  (click)="btnDescargarPlantFiscal()"
                >
                  Descargar
                </button>
              </div>

              <div class="col-sm-12 col-md-6 form-group">
                <label class="label">N° de Informe</label>
                <input
                  class="form-control form-control-sm"
                  type="tetx"
                  [(ngModel)]="fiscalizacion.numeroInforme"
                  autocomplete="off"
                  [disabled]="fiscalizacion.emite"
                />
              </div>
              <div class="col-sm-12 col-md-6 form-group">
                <label class="label">Fecha Informe</label>
                <div class="content-date">
                  <input
                    name="fechaDesde"
                    autocomplete="off"
                    class="form-control"
                    matInput
                    readonly="true"
                    [min]="minDate"
                    [matDatepicker]="fechaInforme"
                    [(ngModel)]="fiscalizacion.fechaInforme"
                    [disabled]="fiscalizacion.emite"
                  />
                  <i
                    class="pi pi-calendar pointer"
                    (click)="fechaInforme.open()"
                  ></i>
                  <mat-datepicker #fechaInforme></mat-datepicker>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 form-group">
                <label class="label">Asunto</label>
                <input
                  class="form-control form-control-sm"
                  type="tetx"
                  [(ngModel)]="fiscalizacion.asunto"
                  autocomplete="off"
                  [disabled]="fiscalizacion.emite"
                />
              </div>

              <div class="col-sm-12 col-md-9">
                <upload-input-buttons
                  (registrarArchivo)="
                    registrarArchivo($event, TipoArchivo.FISCALIZACION)
                  "
                  (eliminarArchivo)="
                    btnEliminarArchivoAdjunto(
                      fileFiscalizacion,
                      TipoArchivo.FISCALIZACION
                    )
                  "
                  [file]="fileFiscalizacion"
                  label="Informe de Fiscalización"
                  [disabled]="fiscalizacion.emite"
                >
                </upload-input-buttons>
              </div>
            </div> </p-fieldset
          ><br />

          <!-- OTROS ARCHIVOS -->
          <p-fieldset legend="Carga de Otros Documentos" [toggleable]="true">
            <div class="row m-0">
              <ng-container *ngIf="!fiscalizacion.emite">
                <div class="col-sm-12 col-md-4 form-group">
                  <label class="label">Tipo Documento</label>
                  <div class="form-control-selectk">
                    <p-dropdown
                      class="fomr-control"
                      placeholder="Seleccione Tipo de Documento de Gestión"
                      optionValue="codigo"
                      optionLabel="valorPrimario"
                      [options]="comboTipoDocumento"
                      [(ngModel)]="otrosDocumentos.tipoDoc"
                      [disabled]="fiscalizacion.emite"
                    >
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-sm-12 col-md-8 form-group">
                  <label class="label">Asunto</label>
                  <input
                    class="form-control form-control-sm"
                    type="tetx"
                    autocomplete="off"
                    [disabled]="false"
                    [(ngModel)]="otrosDocumentos.asunto"
                    [disabled]="fiscalizacion.emite"
                  />
                </div>

                <div class="col-sm-12 col-md-12 form-group">
                  <label class="label">Descripción</label>
                  <input
                    type="text"
                    class="form-control"
                    [disabled]="fiscalizacion.emite"
                    [(ngModel)]="otrosDocumentos.descripcion"
                  />
                </div>

                <div class="col-sm-10 col-md-9 form-group">
                  <upload-input-buttons
                    (registrarArchivo)="
                      registrarArchivo($event, otrosDocumentos.tipoDoc)
                    "
                    (eliminarArchivo)="
                      btnEliminarArchivoAdjunto(
                        fileArchivosOtro,
                        TipoArchivo.FISCA_OTROS
                      )
                    "
                    [file]="fileArchivosOtro"
                    label="'Adjuntar archivo'"
                    [disabled]="fiscalizacion.emite"
                  >
                  </upload-input-buttons>
                </div>

                <div class="col-sm-2 col-md-3 my-auto text-center form-group">
                  <button
                    class="btn btn-sm btn-default button-more mb-2"
                    (click)="btnAgregar()"
                    type="button"
                    title="Agregar"
                    [disabled]="fiscalizacion.emite"
                  >
                    <i class="pi pi-plus"></i>
                  </button>
                </div>
              </ng-container>

              <!-- TABLA OTROS ARCHIVOS -->
              <div class="col-12 form-group">
                <div class="row">
                  <div class="col-12">
                    <p-table [value]="listaTablaOtros">
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Acciones</th>
                          <th>Tipo Documento</th>
                          <th>Nombre Documento</th>
                          <th>Asunto</th>
                          <th>Descripción</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-obj>
                        <tr>
                          <td class="text-center">
                            <span  class="pointer mr-2" title="Descargar"
                              ><i
                                class="pi pi-download"
                                (click)="btnDescargarArchivoOtros(obj)"
                              ></i>
                            </span>
                            <span
                              *ngIf="!fiscalizacion.emite"
                              class="pointer" title="Eliminar"
                              ><i
                                class="pi pi-trash"
                                (click)="btnEliminarArchivo($event, obj)"
                              ></i>
                            </span>
                          </td>
                          <td>{{ obj.desTipodoc }}</td>
                          <td>{{ obj.nombre }}</td>
                          <td>{{ obj.asunto }}</td>
                          <td>{{ obj.descripcion }}</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </div> </p-fieldset
          ><br />

          <!-- RESULTADOS -->
          <p-fieldset legend="Resultados" [toggleable]="true">
            <div class="row m-0">
              <div class="col-sm-12 col-md-12 form-group">
                <p-checkbox
                  [(ngModel)]="fiscalizacionCheck"
                  (ngModelChange)="changeCheck()"
                  inputId="binary"
                  [binary]="true"
                  [disabled]="fiscalizacion.emite"
                ></p-checkbox>
                <label for="binary" class="label my-auto ml-2"
                  >Presenta Información Falsa o Irregularidades</label
                >
              </div>
              <div class="col-sm-12 col-md-12 form-group">
                <label class="label">Comentarios</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="fiscalizacion.comentario"
                  placeholder="Ingrese comentarios sobre la evaluación"
                  [disabled]="!fiscalizacionCheck || fiscalizacion.emite"
                />
              </div>
              <div class="col-sm-12 col-md-12 form-group">
                <label class="label"
                  >Estado Actual del Contrato
                  <span>(* Seleccione el nuevo estado de contrato)</span></label
                >
                <div class="form-control-selectk">
                  <p-dropdown
                    class="fomr-control"
                    [options]="listEstadoContrato"
                    optionLabel="valorPrimario"
                    optionValue="codigo"
                    [(ngModel)]="fiscalizacion.estadoContrato"
                    [disabled]="fiscalizacionCheck || fiscalizacion.emite"
                  ></p-dropdown>
                </div>
              </div>
            </div>
          </p-fieldset>
        </div>
      </div>
    </p-fieldset>
  </ng-container>

  <div class="col-12 mt-4 text-right">
    <button
      icon="pi pi-save"
      *ngIf="!fiscalizacion.emite"
      (click)="btnEmitirResult()"
      pButton
      pRipple
      type="button"
      label="Emitir Resultado"
      class="p-button-success p-button-outlined mr-2"
    ></button>

    <button
      icon="pi pi-save"
      *ngIf="!fiscalizacion.emite"
      (click)="btnRegistrarFiscalizacion(false)"
      pButton
      pRipple
      type="button"
      label="Guardar"
      class="p-button-success p-button-outlined mr-2"
    ></button>

    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </div>
</div>
