<div class="container-fluit  mt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="Resultado de Evaluación" [selected]="true">
          <div class="row m-0 mt-3">
            <div class="col-12 form-group">
              <div class="p-field-radiobutton">
                <p-radioButton name="evaluado" inputId="favorable" [value]="codRadio.FAV" [disabled]="isDisbledEval" [(ngModel)]="evaluado">
                </p-radioButton>
                <strong for="conforme" class="label ml-2">Favorable</strong>
              </div>
              <div class="p-field-radiobutton">
                <p-radioButton name="evaluado" inputId="desfavorable" [value]="codRadio.DESF" [disabled]="isDisbledEval" [(ngModel)]="evaluado">
                </p-radioButton>
                <strong for="conforme" class="label ml-2">Desfavorable</strong>
              </div>
              <div class="p-field-radiobutton">
                <p-radioButton name="evaluado" inputId="observado" [value]="codRadio.SUB" [disabled]="isDisbledEval" [(ngModel)]="evaluado">
                </p-radioButton>
                <strong for="observado" class="label ml-2">Observado Subsanable</strong>
              </div>
            </div>
          </div>

          <ng-container *ngIf="evaluado === codRadio.DESF">
            <div class="row m-0 mt-3">
              <div class="col-12 form-group">
                <label class="label">Seleccione los motivos para la denegación (7.3.2):</label>
              </div>
              <div class="col-12 form-group">
                <p-table [value]="listaItems">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Item</th>
                      <th>Motivo</th>
                      <th>Seleccionar</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data let-rowIndex="rowIndex+1">
                    <tr>
                      <td>{{data.item | lowercase}}</td>
                      <td>{{data.motivo}}</td>
                      <td class="text-center">
                        <p-checkbox [disabled]="isDisbledEval" [binary]="true" [(ngModel)]="data.check"></p-checkbox>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="evaluado === codRadio.SUB">
            <div class="row m-0 mt-3">
              <div class="col-12 form-group">
                <label class="label">Observaciones <small>(máx. 250 caract.)</small>: *</label>
                <textarea autocomplete="off" class="form-control" cols="3" rows="4" maxlength="250" [disabled]="isDisbledEval" [(ngModel)]="requestEntity.observaciones"
                  pInputTextarea></textarea>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="evaluado !== null">
            <div class="row m-0 mt-3">
              <div class="col-12 col-sm-6 form-group">
                <label class="label">Descargar Plantilla de Informe</label>
                <div>
                  <button class="btn btn-secondary" (click)="btnDescargarPlantInforme()" [disabled]="isDisbledEval">Descargar</button>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <app-carga-archivo-general label="Adjuntar Informe de Evaluación" accept=".pdf, .png .jpg" [tipoDoc]="'CambiarTab8_1'"
                [idArchivo]="requestEntity.idArchivo5" [disabled]="isDisbledEval" (registrarArchivo)="registrarArchivo($event, 5)"
                  (eliminarArchivo)="eliminarArchivo($event, 5)">
                </app-carga-archivo-general>
              </div>
            </div>

            <div *ngIf="evaluado !== codRadio.SUB" class="row m-0 mt-3">
              <div class="col-12 col-sm-6 form-group">
                <label class="label">Descargar Plantilla de Resolución</label>
                <div>
                  <button class="btn btn-secondary" (click)="btnDescargarPlantResol(evaluado)" [disabled]="isDisbledEval">Descargar</button>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <app-carga-archivo-general label="Adjuntar Resolución"  accept=".pdf, .png .jpg" [tipoDoc]="'CambiarTab8_2'"
                [idArchivo]="requestEntity.idArchivo1" [disabled]="isDisbledEval" (registrarArchivo)="registrarArchivo($event, 1)"
                  (eliminarArchivo)="eliminarArchivo($event, 1)">
                </app-carga-archivo-general>
              </div>
            </div>
          </ng-container>

          <ng-container>
            <div class="row m-0 mt-3">
              <ng-container *ngIf="evaluado === codRadio.FAV">
                <div class="col-12 form-group">
                  <button class="btn-primary2 ml-0" (click)="btnAprobarSolicitud()"
                    [disabled]="isDisbledEval || !requestEntity.idArchivo1 || !requestEntity.idArchivo5">Aprobar Solicitud</button>
                </div>
                <div class="col-12">
                  <label class="label">Comunicar autorización a usuario para publicación del resumen de la solicitud</label>
                  <div>
                    <button class="btn btn-secondary" (click)="btnEnviarComunicado()" [disabled]="!(isEstadoPublicado && isShowComunicado)">Enviar Comunicado</button>
                  </div>
                </div>
              </ng-container>

              <div *ngIf="evaluado === codRadio.DESF" class="col-12 form-group">
                <button class="btn-primary2 ml-0" (click)="btnGuardarDenegacion()" [disabled]="isDisbledEval">Guardar Datos Ingresados</button>
              </div>

              <div *ngIf="evaluado === codRadio.DESF" class="col-12 form-group">
                <button class="btn-primary2 ml-0" (click)="btnDenegarSolicitud()"
                  [disabled]="isDisbledEval || !requestEntity.idArchivo1 || !requestEntity.idArchivo5 || !isGuardarDatos">Denegar Solicitud</button>
              </div>

              <div *ngIf="evaluado === codRadio.SUB" class="col-12 form-group ">
                <button class="btn-primary2 ml-0" (click)="btnEnviarObs()"
                  [disabled]="isDisbledEval || !requestEntity.observaciones || !requestEntity.idArchivo5">Enviar Observaciones a Solicitante
                </button>
              </div>

            </div>
          </ng-container>

        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>
