<div class="row">
  <div class="col-sm-2">
    <label class="label">Total Área Zonificación (ha): </label>
    <input type="number" disabled  decimal [decimalPlaces]="3" [(ngModel)]="totalAreaZonificacion" class="form-control text-right" />
  </div>
</div>

<div class="row m-0 pt-3">
  <div class="col-12">
    <div class="col-12 text-right">
      <button icon="pi pi-plus" (click)="openModalNuevo()" [disabled]="disabled" pButton pRipple type="button" label=""
        class="p-button-success p-button-text"></button>
    </div>
    <p-table [value]="listaZonificacion">
      <ng-template pTemplate="header">
        <tr>
          <th colspan="6" class="text-center">Zonificación de la UMF</th>
        </tr>
        <tr>
          <th style="width: 10%; text-align: center;">Acciones</th>
          <th style="width: 25%;">Categoría</th>
          <th style="width: 15%; text-align: center;">Adjuntar Archivo</th>
          <th style="width: 15%; text-align: right;">Área (ha)</th>
          <th style="width: 10%; text-align: right;">%</th>
          <th style="width: 25%;">Observaciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
          <td style="text-align: center;">
            <span (click)="!disabled && openModalEditar(data, rowIndex)" class="pointer mr-1" title="Editar">
              <i class="pi pi-pencil"></i>
            </span>
            <span (click)="!disabled && openEliminar($event, data, rowIndex)" class="pointer" title="Eliminar">
              <i class="pi pi-trash"></i>
            </span>
          </td>
          <td>{{ data.actividad }}</td>
          <td class="text-center">
            <!-- <button type="button" class="btn-secondary off" (click)="fileInput.click()"
              *ngIf="!data.inServer && !data.idLayer" style="min-width: 40px;">
              <i class="pi pi-upload"></i>
              <input [attr.data-zone]='data.codigoZona' id="{{data.idZona}}" #fileInput type="file"
                (change)="onChangeFileSHP($event)" style="display: none;" accept=".zip" />
            </button>
            <button type="button" class="btn-secondary" *ngIf="data.idLayer" (click)="onDownloadFile($event,data)"
              style="min-width: 40px;">
              <i class="pi pi-download"></i>
            </button>
            <span (click)="onDeleteFileZona(data)" *ngIf="data.idLayer" class="pointer ml-2" title="Eliminar">
              <i class="pi pi-times-circle"></i>
            </span>
            <input class="ml-2" type="checkbox" checked (change)="onChangeTogleLayer($event,data.idLayer)"
              *ngIf="data.idLayer"> -->
            <span class="pr-2 pl-2" (click)="!disabled&&fileInput.click()" *ngIf="!data.idLayer">
              <i class="pi pi-upload pointer" title="Adjuntar"></i>
              <input [attr.data-zone]='data.codigoZona' id="{{ data.idZona }}" #fileInput type="file" (change)="onChangeFileSHP($event)"
                style="display: none;" accept=".zip" />
            </span>
            <span class="pr-2 pl-2" (click)="!disabled&&onDownloadFile($event, data)" *ngIf="data.idArchivo">
              <i class="pi pi-download pointer" title="Descargar"></i>
            </span>
            <span class="pr-2 pl-2" (click)="!disabled&&onDeleteFileZona(data)" *ngIf="data.idLayer">
              <i class="pi pi-trash pointer" title="Eliminar"></i>
            </span>
            <span class="pr-2 pl-2" (click)="!disabled&&guardarArchivoZona(data.codigoZona)" *ngIf="data.isNew">
              <i class="pi pi-save pointer" title="Guardar"></i>
            </span>
            <span class="pr-2 pl-2">
              <input type="checkbox" [disabled]="disabled" checked (change)="onChangeTogleLayer($event, data.idLayer)" *ngIf="data.idLayer" />
            </span>
          </td>
          <td class="text-right">{{ data.areaHa }}</td>
          <td class="text-right">{{ data.areaHaPorcentaje }} %</td>
          <td>{{ data.observaciones }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr style="background: #dfe0ea80;">
          <th class="text-left" colspan="2"><label class="label title2 fz-12">Total</label></th>
          <th></th>
          <th class="text-right">{{ totalAreaZona }}</th>
          <th class="text-right">{{ totalPorcentajeZona }} %</th>
          <th></th>
        </tr>
      </ng-template>
    </p-table>
    <div class="step__btn mt-4 mb_2">
      <button type="submit" class="btn-primary2" (click)="registrar()" [disabled]="disabled">
        Guardar
      </button>
    </div>
  </div>
</div>
<p-confirmDialog [style]="{width: '300px'}" key="deleteZona"></p-confirmDialog>
<p-confirmDialog [style]="{width: '300px'}" key="deleteFileSHP"></p-confirmDialog>
<p-confirmPopup></p-confirmPopup>

<p-dialog
  header="{{tituloModal}}"
  [(visible)]="showModal_3_3"
  [style]="{width: '50vw'}"
  [baseZIndex]="10000" (onHide)="seteoValoresDefecto()"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Categoría</label>
            <input
              [(ngModel)]="det_modal_3_3.actividad" type="text" maxlength="100" class="form-control" placeholder=""/>
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Observaciones </label>
            <input [(ngModel)]="det_modal_3_3.observaciones" type="text" maxlength="100" class="form-control" placeholder=""/>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      pButton
      pRipple (click)="agregar()"
      type="button"
     label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="seteoValoresDefecto()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
