<div>
  <div>
    <div class="form-group">

      <div class="input-group">
        <input
          type="text" disabled
          class="form-control"
          placeholder=""
          [(ngModel)]="fileInfGenreal.nombreFile"
        />
        <div class="input-group-append">
          <button
            *ngIf="fileInfGenreal.nombreFile"
            type="button"
            id="btnCargarFile2"
            class="btn btn-sm btn-file"
            (click)="descargarArchivo()"
            pButton
            title="Descargar Archivo"
            icon="pi pi-download"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
