<div class="row">
  <div class="form-group col-12">
    <label class="label">Nombre Científico</label>
    <div class="form-control-selectk">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="especiesObj.nombreCientifico"
        placeholder="Ingresa Nombre Científico"
        maxlength="100"
      />
    </div>
  </div>


  <div class="form-group col-12">
    <label class="label">Nombre Común</label>
    <div class="form-control-selectk">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="especiesObj.nombre"
        placeholder="Ingresa Nombre Común"
        maxlength="100"
      />
    </div>
  </div>

  <div class="form-group col-12">
    <label class="label">Familia</label>
    <div class="form-control-selectk">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="especiesObj.familia"
        placeholder="Ingresa Familia"
        maxlength="100"
      />
    </div>
  </div>



  <div class="col-12 p-0">
    <div class="row m-0">
      <div class="col-12 col-sm-4">
        <div>
          <label class="label fz-11 m-0">Adjuntar Evidencia (opcional)</label>
        </div>
      </div>
      <div class="col-12 col-sm-8">

        <!--<input-buttons
          [label]="''"
          [idPlanManejo]="idPlanManejo"
          [idTipoDocumento]="50"
          [codigoProceso]="'ESPECIES_AAA'"
          (registrarArchivoId)="cargarIdArchivo($event)"
        >
        </input-buttons>-->

        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder=""
            [(ngModel)]="filePMFI.nombreFile"
          />
          <div class="input-group-append">
            <button
              type="button"
              *ngIf="!cargarPMFI && filePMFI.inServer == false"
              id="btnCargaShapeFile"
              (click)="fileInput.click()"
              class="btn btn-sm btn-file"
              pButton
              icon="pi pi-upload"
              pButton
              title="Cargar Archivo"
            >
              <input
                #fileInput
                type="file"
                (change)="onFileChange($event)"
                style="display: none;"
                accept=".pdf"
                [attr.data-type]="filePMFI.descripcion"
              />
            </button>

            <button
              *ngIf="!eliminarPMFI"
              type="button"
              class="btn btn-sm btn-file"
              (click)="eliminarArchivoPmfi()"
              title="Eliminar"
              icon="pi pi-trash"
              pButton
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-end p-4">
  <button
    icon="pi pi-save"
    (click)="guardarArchivoPMFIFirmado()"
    pButton
    pRipple
    type="button"
    label="Aceptar"
    class="p-button-success p-button-outlined"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
  ></button>
</div>
