<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="4.1. Ubicación y extensión del área de aprovechamiento anual " [selected]="true">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label class="label">Número</label>
                    <input
                      class="form-control"
                      numero
                      [minlength]="1"
                      [maxLength]="11"
                      [(ngModel)]="informacionBasicaDet4_1_1.descripcion"
                      placeholder="Ingrese número"
                      disabled />
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label class="label">Área total (ha)</label>
                    <input
                      class="form-control"
                      decimal
                      [min]="0"
                      [minlength]="1"
                      [maxLength]="11"
                      [decimalPlaces]="2"
                      [(ngModel)]="informacionBasicaDet4_1_1.areaHa"
                      disabled />
                  </div>
                </div>
              </div>

              <div class="row">
                <!-- <div class="col-6">
                  <div class="form-group">
                    <label class="label">Cuenca/Subcuenca</label>
                    <div class="form-control-selectk">
                      <p-dropdown [options]="rios"
                        [(ngModel)]="informacionBasica4_1.cuenca"
                        optionLabel="descripcion"
                        optionValue="descripcion"
                        placeholder="Seleccione">
                      </p-dropdown>
                    </div>
                  </div>
                </div> -->

                <div class="col-4">
                  <div class="form-group">
                    <label class="label"> Departamento</label>
                    <div class="form-control-selectk">
                      <p-dropdown
                        [options]="listDepartamento"
                        [(ngModel)]="departamento.idDepartamento"
                        optionLabel="nombreDepartamento"
                        optionValue="idDepartamento"
                        (onChange)="onSelectedProvincia($event)"
                        placeholder="Seleccione"
                        [disabled]="true">
                      </p-dropdown>
                    </div>
                  </div>
                </div>

                <div class="col-4">
                  <div class="form-group">
                    <label class="label"> Provincia</label>
                    <div class="form-control-selectk">
                      <p-dropdown
                        [options]="listProvincia"
                        [(ngModel)]="provincia.idProvincia"
                        optionLabel="nombreProvincia"
                        optionValue="idProvincia"
                        (onChange)="onSelectedDistrito($event)"
                        placeholder="Seleccione"
                        [disabled]="true">
                      </p-dropdown>
                    </div>
                  </div>
                </div>

                <div class="col-4">
                  <div class="form-group">
                    <label class="label"> Distrito</label>
                    <div class="form-control-selectk">
                      <p-dropdown
                        [options]="listDistrito"
                        [(ngModel)]="distrito.idDistrito"
                        optionLabel="nombreDistrito"
                        optionValue="idDistrito"
                        placeholder="Seleccione"
                        [disabled]="true">
                      </p-dropdown>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label class="label">Cuenca</label>
                    <div class="form-control-selectk">
                      <p-dropdown
                        [options]="listCuenca" [disabled]="disabled"
                        [(ngModel)]="idCuenca"
                        optionLabel="cuenca"
                        optionValue="idCuenca"
                        (onChange)="onSelectedCuenca($event)"
                        placeholder="Seleccione"
                      ></p-dropdown>
                    </div>
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label class="label">Subcuenca</label>
                    <div class="form-control-selectk">
                      <p-dropdown
                        [options]="listSubcuenca"
                        [(ngModel)]="idSubcuenca"
                        optionLabel="subCuenca"
                        optionValue="idSubCuenca"
                        placeholder="Seleccione"
                        [disabled]="disabled || !listSubcuenca.length"
                      ></p-dropdown>
                    </div>
                  </div>
                </div>
              </div>

              <div class="step__btn mt-4 mb_2">
                <button
                  class="btn-primary2"
                  (click)="registrar4_1()"
                  [disabled]="isPerfilArffs || disabled"
                >
                  Guardar
                </button>
              </div>
            </div>
          </div>

          <evaluacion-archivo-shared [idPlanManejo]="idPlanManejo" [cadigoTab]="codigoAcordeon4_41"
            [base]="evaluacion4_41" *ngIf="isPerfilArffs">
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>

        <p-accordionTab header="4.2. Coordenadas UTM del área de aprovechamiento anual">
          <!-- <app-map-custom
            [idPlanManejo]="idPlanManejoPadre"
            [codigoProceso]="'PGMFAIBAM'"
            [codigoSubSeccion]="'PGMFAIBAMCUAM'"
            [tipoGeometria]="'TPPARC'"
            [isAnexo]="true"
            [printPDF]="true"
          ></app-map-custom> -->

          <div class="row m-0 pt-2">
            <div class="col-12 col-sm-8 p-0">
              <div class="f-w mb-2 mapa-content">
                <div class="mapa" #map></div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="d-grid gap-2 d-md-block mb-2" style="display: flex !important">
                <button type="button" (click)="fileInputSHP.click()" class="btn-secondary width-full" [disabled]="disabled">
                  Cargar shapefile (Área)
                  <input
                    #fileInputSHP
                    type="file"
                    (change)="onChangeFileSHP($event, false, 'POACIBAM', 'POACIBAMCUMD', 'TPPARC')"
                    style="display: none" />
                </button>
              </div>
              <div class="card gh-layers">
                <div class="card-header py-0 pt-2 pb-2">
                  Capas
                  <span title="Guardar Capa" class="pointer pr-1 float-right">
                    <i class="pi pi-save" aria-hidden="true" (click)="!disabled && onGuardarLayer()"></i>
                  </span>
                </div>
                <ul class="list-group">
                  <li *ngFor="let item of _layers" class="list-group-item p-0 d-flex">
                    <input class="ml-1 mr-1 pointer" type="checkbox" [checked]="true" [disabled]="disabled" (change)="toggleLayer(item.idLayer, $event)" />
                    <label class="m-0 p-0 text-left pointer gh-label" style="flex: 2;" [ngStyle]="{ color: item.color }">
                      {{ item.nombre }}
                      <span class="pointer pr-1" title="{{ item.overlap ? 'Capa Superpuesta' : 'Capa contenida' }} ">
                        <i
                          class="{{ item.overlap ? 'pi pi-info-circle color-red' : 'pi pi-check-circle color-green' }}"
                          *ngIf="item.service"
                          aria-hidden="true"
                        ></i>
                      </span>
                    </label>
                    <div class="d-flex">
                      <span class="mr-2 pointer">
                        <i
                          class="pi pi-download"
                          *ngIf="!item.service && item.inServer == true"
                          aria-hidden="true"
                          (click)="onDownloadFileSHP(item?.codigo)"
                        ></i>
                      </span>
                      <span class="pointer pr-1">
                        <i
                          class="pi pi-trash"
                          aria-hidden="true"
                          *ngIf="!item.service && item.idLayer"
                          (click)="!isPerfilArffs && !disabled && onRemoveFileSHP(item)"
                        ></i>
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 mt-4">
              <div class="row mb-2">
                <div class="col-10 col-sm-10">
                  <button type="button" (click)="fileInputSHPV.click()" class="btn btn-sm btn-secondary button-more" [disabled]="disabled">
                    Cargar shapefile (Vértices)
                    <input #fileInputSHPV type="file" (change)="onChangeFileSHP($event, true, 'PGMFAIBAM', 'POACIBAMCUMD', 'TPPUNTO')" style="display:none;" />
                  </button>
                </div>
                <div class="col-2 col-sm-2 text-right" *ngIf="informacionBasicaDet4_2.length > 0">
                  <button
                    class="btn btn-sm btn-default mt-1"
                    type="button" [disabled]="disabled"
                    title="Eliminar Lista"
                    (click)="eliminarCoordenadas($event)"
                  >
                    <i class="pi pi-times"></i>
                  </button>
                </div>
              </div>
              <p-table class="table-justify" [value]="informacionBasicaDet4_2" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Anexo o sector</th>
                    <th>Punto</th>
                    <th>Este (E)</th>
                    <th>Norte (N)</th>
                    <th>Referencia</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                  <tr>
                    <td [attr.rowspan]="data.value.length + 1">
                        {{data.key}}
                    </td>
                </tr>
                <tr *ngFor="let item of data.value">
                    <td>{{ item.puntoVertice }}</td>
                    <td>{{ item.coordenadaEste }}</td>
                    <td>{{ item.coordenadaNorte }}</td>
                    <td>
                      <input
                        type="text"
                        class="form-control" [disabled]="disabled"
                        placeholder="Referencia"
                        [(ngModel)]="item.referencia" />
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="step__btn mt-4 mb_2">
                <button
                  class="btn-primary2"
                  (click)="registrar4_2()"
                  [disabled]="isPerfilArffs || disabled || informacionBasicaDet4_2.length == 0"
                >
                  Guardar
                </button>
              </div>
            </div>
          </div>

          <evaluacion-archivo-shared [idPlanManejo]="idPlanManejo" [cadigoTab]="codigoAcordeon4_42"
            [base]="evaluacion4_42" *ngIf="isPerfilArffs">
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>

        <p-accordionTab header="4.3. Tipos de bosque ">
          <!-- <app-map-custom
            [idPlanManejo]="idPlanManejoPadre"
            [codigoProceso]="'PGMFAIBAM'"
            [codigoSubSeccion]="'PGMFAIBAMABTB'"
            [tipoGeometria]="'TPAREA'"
            [isAnexo]="true"
            [printPDF]="true"
          ></app-map-custom> -->

          <div class="row m-0 pt-2">
            <div class="col-12 col-sm-8 p-0">
              <div class="f-w mb-2 mapa-content">
                <div class="mapa" #mapTB></div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="d-grid gap-2 d-md-block mb-2" style="display: flex !important">
                <button type="button" (click)="fileInputSHPTB.click()" class="btn-secondary width-full" [disabled]="disabled">
                  Cargar shapefile (Tipo de bosque)
                  <input
                    #fileInputSHPTB
                    type="file"
                    (change)="onChangeFileSHPTB($event, false, 'POACIBAM', 'POACIBAMABTB', 'TPAREA')"
                    style="display: none" />
                </button>
              </div>
              <div class="card gh-layers">
                <div class="card-header py-0 pt-2 pb-2">
                  Capas
                  <span title="Guardar Capa" class="pointer pr-1 float-right">
                    <i class="pi pi-save" aria-hidden="true" (click)="!disabled && onGuardarLayerTB()"></i>
                  </span>
                </div>
                <ul class="list-group">
                  <li *ngFor="let item of _layersTB" class="list-group-item p-0 d-flex">
                    <input class="ml-1 mr-1 pointer" type="checkbox" [checked]="true" [disabled]="disabled" (change)="toggleLayerTB(item.idLayer, $event)" />
                    <label class="m-0 p-0 text-left pointer gh-label" style="flex: 2;" [ngStyle]="{ color: item.color }">
                      {{ item.nombre }}
                      <span class="pointer pr-1" title="{{ item.overlap ? 'Capa Superpuesta' : 'Capa contenida' }} ">
                        <i
                          class="{{ item.overlap ? 'pi pi-info-circle color-red' : 'pi pi-check-circle color-green' }}"
                          *ngIf="item.service"
                          aria-hidden="true"
                        ></i>
                      </span>
                    </label>
                    <div class="d-flex">
                      <span class="mr-2 pointer">
                        <i
                          class="pi pi-download"
                          *ngIf="!item.service && item.inServer == true"
                          aria-hidden="true"
                          (click)="onDownloadFileSHP(item?.codigo)"
                        ></i>
                      </span>
                      <span class="pointer pr-1">
                        <i
                          class="pi pi-trash"
                          aria-hidden="true"
                          *ngIf="!item.service && item.idLayer"
                          (click)="!isPerfilArffs && !disabled && onRemoveFileSHPTB(item)"
                        ></i>
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 mt-4">
              <div class="row mb-2">
                <div class="col-10 col-sm-10">
                  <div class="p-field-checkbox">
                    <label class="m-0 pointer label" for="chk-mapa-anexo">Mapa 1</label>
                    <p-checkbox [disabled]="isPerfilArffs || disabled" id="chk-mapa-anexo" style="margin-left: 10px"
                      [(ngModel)]="ampliarAnexo4_3" [binary]="true"></p-checkbox>
                    <label class="m-0 pl-3 pointer label" for="chk-mapa-anexo">Anexo 1</label>
                  </div>
                </div>
                <div class="col-2 col-sm-2 text-right" *ngIf="informacionBasicaDet4_3.length > 0">
                  <button
                    class="btn btn-sm btn-default mt-1"
                    type="button" [disabled]="disabled"
                    title="Eliminar Lista"
                    (click)="eliminarTiposBosque($event)"
                  >
                    <i class="pi pi-times"></i>
                  </button>
                </div>
              </div>
              <p-table class="table-justify" [value]="informacionBasicaDet4_3" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Tipo de bosque</th>
                    <th>Área(ha)</th>
                    <th>%</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td>{{ rowIndex + 1 }}. {{ data.nombre }}</td>
                    <td>{{ data.areaHa }}</td>
                    <td>{{ data.areaHaPorcentaje }}</td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                  <tr>
                    <td class="p-text-right">Total</td>
                    <td>{{ totalAreaBosque }}</td>
                    <td>{{ totalPorcentajeBosque }}</td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="step__btn mt-4 mb_2">
                <button
                  class="btn-primary2"
                  (click)="registrar4_3()"
                  [disabled]="disabled || isPerfilArffs || informacionBasicaDet4_3.length == 0"
                >
                  Guardar
                </button>
              </div>
            </div>
          </div>

          <evaluacion-archivo-shared [idPlanManejo]="idPlanManejo" [cadigoTab]="codigoAcordeon4_43"
            [base]="evaluacion4_43" *ngIf="isPerfilArffs">
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>

        <p-accordionTab header="4.4. Accesibilidad">
          <div class="row m-0 pt-2">
            <div class="col-12 col-sm-8 p-0">
              <div class="f-w mb-2 mapa-content">
                <div class="mapa" #mapAC></div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="d-grid gap-2 d-md-block mb-2" style="display: flex !important">
                <button type="button" (click)="fileInputSHPAC.click()" [disabled]="disabled" class="btn-secondary width-full">
                  Cargar shapefile (track)
                  <input
                    #fileInputSHPAC
                    type="file"
                    (change)="onChangeFileSHPAC($event, 'POACIBAM', 'POACIBAMA', 'TPRUTA')"
                    style="display: none"
                  />
                </button>
              </div>
              <div class="card gh-layers">
                <div class="card-header py-0 pt-2 pb-2">
                  Capas
                  <span title="Guardar Capa" class="pointer pr-1 float-right">
                    <i class="pi pi-save" aria-hidden="true" (click)="!disabled && onGuardarLayerAC()"></i>
                  </span>
                </div>
                <ul class="list-group">
                  <li *ngFor="let item of _layersAC" class="list-group-item p-0 d-flex">
                    <input class="ml-1 mr-1 pointer" type="checkbox" [checked]="true" [disabled]="true" (change)="toggleLayerAC(item.idLayer, $event)" />
                    <label class="m-0 p-0 text-left pointer" style="flex: 2" [ngStyle]="{'color': item.color}"
                      >{{ item.nombre }}
                    </label>
                    <div class="d-flex">
                      <span class="mr-2 pointer">
                        <i
                          class="pi pi-download"
                          *ngIf="!item.service && item.inServer == true"
                          aria-hidden="true"
                          (click)="onDownloadFileSHP(item?.codigo)"
                        ></i>
                      </span>
                      <span class="pointer pr-1">
                        <i
                          class="pi pi-trash"
                          aria-hidden="true"
                          *ngIf="!item.service && item.idLayer"
                          (click)="!isPerfilArffs && !disabled && onRemoveFileSHPAC(item)"
                        ></i>
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 mt-4">
              <div class="row mb-2">
                <div class="col-12 col-sm-12">
                  <div class="p-field-checkbox">
                    <label class="m-0 pointer label" for="chk-mapa-anexo">Mapa 1</label>
                    <p-checkbox [disabled]="isPerfilArffs || disabled" id="chk-mapa-anexo" style="margin-left: 10px"
                      [(ngModel)]="informacionBasicaDet4_4.ampliarAnexo" [binary]="true"></p-checkbox>
                    <label class="m-0 pl-3 pointer label" for="chk-mapa-anexo">Anexo 1</label>
                  </div>
                </div>
              </div>

              <div class="col-12 mt-2 mb-4">
                <label class="m-0 pointer label">a) Rutas o vías de acceso y otra infraestructura en el área de
                  aprovechamiento anual
                </label>
                <div class="col-12">
                  <div class="form-group">
                    <textarea id="descripcion" autocomplete="off" class="form-control form-control-sm" rows="4" [disabled]="disabled"
                      maxlength="200" [(ngModel)]="informacionBasicaDet4_4.actividad" pInputTextarea>
                  </textarea>
                  </div>
                </div>
              </div>
              <div class="col-12 mb-4">
                <label class="m-0 pointer label">b) Sistema de transporte de madera a utilizar</label>
                <div class="col-12 mb-2">

                  <div class="p-field-radiobutton">
                    <label class="mr-2" for="Si">Fluvial</label>
                    <p-radioButton value="FLU" inputId="Si" [disabled]="isPerfilArffs || disabled"
                      [(ngModel)]="informacionBasicaDet4_4.observaciones">
                    </p-radioButton>
                  </div>
                  <div class="p-field-radiobutton">
                    <label class="mr-2" for="No">Terrestre</label>
                    <p-radioButton value="TER" inputId="No" [disabled]="isPerfilArffs || disabled"
                      [(ngModel)]="informacionBasicaDet4_4.observaciones">
                    </p-radioButton>
                  </div>
                  <div class="p-field-radiobutton">
                    <label class="mr-2" for="No">Mixto (fluvial y terrestre) </label>
                    <p-radioButton value="MIX" inputId="No" [disabled]="isPerfilArffs || disabled"
                      [(ngModel)]="informacionBasicaDet4_4.observaciones">
                    </p-radioButton>
                  </div>
                </div>
              </div>
              <div class="col-12 mb-4">
                <label class="m-0 pointer label">c) Medios de transporte a utilizar entre la PCA y el destino de la
                  madera</label>
                <div class="col-12 mb-2">

                  <div class="p-field-radiobutton">
                    <label class="mr-2" for="Si">Flotación</label>
                    <p-radioButton value="FLO" inputId="Si" [disabled]="isPerfilArffs || disabled"
                      [(ngModel)]="informacionBasicaDet4_4.medioTransporte"
                      (onClick)="informacionBasicaDet4_4.limpiarJustificacion()">
                    </p-radioButton>
                  </div>
                  <div class="p-field-radiobutton">
                    <label class="mr-2" for="No">Chatas</label>
                    <p-radioButton value="CHA" inputId="No" [disabled]="isPerfilArffs || disabled"
                      [(ngModel)]="informacionBasicaDet4_4.medioTransporte"
                      (onClick)="informacionBasicaDet4_4.limpiarJustificacion()">
                    </p-radioButton>
                  </div>
                  <div class="p-field-radiobutton">
                    <label class="mr-2" for="No">Camión</label>
                    <p-radioButton value="CAM" inputId="No" [disabled]="isPerfilArffs || disabled"
                      [(ngModel)]="informacionBasicaDet4_4.medioTransporte"
                      (onClick)="informacionBasicaDet4_4.limpiarJustificacion()">
                    </p-radioButton>
                  </div>
                  <div class="p-field-radiobutton">
                    <label class="mr-2" for="No">Otros (especificar...) </label>
                    <p-radioButton value="OTRO" inputId="No" [disabled]="isPerfilArffs || disabled"
                      [(ngModel)]="informacionBasicaDet4_4.medioTransporte"
                      (onClick)="informacionBasicaDet4_4.limpiarJustificacion()">
                    </p-radioButton>
                  </div>
                </div>
              </div>
              <div class="col-12" *ngIf="informacionBasicaDet4_4.medioTransporte=='OTRO'">
                <div class="form-group">
                  <textarea id="descripcion" autocomplete="off" class="form-control form-control-sm" rows="4" [disabled]="disabled"
                    maxlength="200" [(ngModel)]="informacionBasicaDet4_4.justificacion" pInputTextarea>
                </textarea>
                </div>
              </div>
              <div class="step__btn mt-4 mb_2">
                <button
                  class="btn-primary2"
                  (click)="registrar4_4()"
                  [disabled]="disabled ||isPerfilArffs"
                >
                  Guardar
                </button>
              </div>
            </div>
          </div>
          <evaluacion-archivo-shared [idPlanManejo]="idPlanManejo" [cadigoTab]="codigoAcordeon4_44"
            [base]="evaluacion4_44" *ngIf="isPerfilArffs">
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4 mb-4" *ngIf="!isPerfilArffs">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <!-- <button type="submit" class="btn-primary2" (click)="registrarInfoBasicaAreaAprovechamiento()"
          [disabled]="disabled">
          Guardar
        </button> -->
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>

      <div class="step__btn mt-4 mb-4" *ngIf="isPerfilArffs">
        <message-evaluation></message-evaluation>
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button class="btn-primary2" (click)="registrarEvaluacion()">
          Guardar Evaluación
        </button>
        <button class="btn-primary2" (click)="retornarFlujoEvaluacion()">
          Retornar Flujo Evaluacion
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
    </div>
  </div>
</div>

<p-dialog header="{{
    editConflictos
      ? 'Editar Conflicto Forestal'
      : 'Registrar Conflicto Forestal'
  }}" header="Header" [(visible)]="displayModalConflictos" [style]="{ width: '50vw' }" [baseZIndex]="10000">
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Conflicto</label>
            <input [(ngModel)]="conflicto.conflicto" type="text" class="form-control" placeholder="Ingrese conflicto" />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Propuesta de solucion</label>
            <input [(ngModel)]="conflicto.solucion" type="text" class="form-control" placeholder="Ingrese propuesta" />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button icon="pi pi-save" (click)="agregarConflicto()" pButton pRipple type="button"
      label="Aceptar" class="p-button-success p-button-outlined"></button>
    <button icon="pi pi-times" (click)="cerrarModalConflicto()" pButton pRipple type="button" label="Cancelar"
      class="p-button-danger p-button-outlined"></button>
  </ng-template>
</p-dialog>

<p-dialog header="{{
    editFauna ? 'Editar Fauna Silvestre' : 'Registrar Fauna Silvestre'
  }}" header="Header" [(visible)]="displayModalFauna" [style]="{ width: '50vw' }" [baseZIndex]="10000">
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Nombre común</label>
            <input [(ngModel)]="fauna.comun" type="text" class="form-control" placeholder="Ingrese nombre comun" />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Nombre cientifico</label>
            <input [(ngModel)]="fauna.cientifico" type="text" class="form-control"
              placeholder="Ingrese nombre cientifico" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Estatus</label>
            <input [(ngModel)]="fauna.estatus" type="text" class="form-control" placeholder="Ingrese estatus" />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button icon="pi pi-save" (click)="agregarFauna()" pButton pRipple type="button"
      label="Aceptar" class="p-button-success p-button-outlined"></button>
    <button icon="pi pi-times" (click)="cerrarModalFauna()" pButton pRipple type="button" label="Cancelar"
      class="p-button-danger p-button-outlined"></button>
  </ng-template>
</p-dialog>
<p-toast></p-toast>

<p-confirmDialog [style]="{ width: '300px' }" key="deleteFileSHP"></p-confirmDialog>

<p-confirmDialog [style]="{ width: '300px' }" key="deleteFileSHPTB"></p-confirmDialog>

<p-confirmDialog [style]="{ width: '300px' }" key="deleteFileSHPAC"></p-confirmDialog>
