<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12 p-0">
      <p-accordion>
        <p-accordionTab header="1.1. Información General" [selected]="true">
          <div class="row m-0 mt-2">
            <div class="col-12">
              <h3 class="title2 fz-12 pb-1 bb-title">Datos Generales</h3>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Id Contrato</label>
                <input
                  type="text"
                  disabled
                  class="form-control"
                  [(ngModel)]="informacionGeneral.idContrato"
                  maxlength="150"
                />
              </div>
            </div>

            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label">Título Habilitante</label>
                <input
                  type="text"
                  disabled
                  class="form-control"
                  [(ngModel)]="informacionGeneral.nombreTituloHabilitante"
                  maxlength="150"
                />
              </div>
            </div>

            <div class="col-12 col-sm-2 text-center">
              <div class="form-group">
                <div><label class="label">&nbsp;</label></div>
                <button
                  (click)="openModal()"
                  class="btn btn-sm btn-secondary"
                  [disabled]="disabled"
                >
                  Buscar
                </button>
              </div>
            </div>
          </div>

          <div class="row m-0">
            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label class="label">Nombre del titular o Razón social</label>
                <input
                  type="text"
                  disabled
                  class="form-control"
                  [(ngModel)]="informacionGeneral.nombreCompletoTitular"
                  maxlength="150"
                />
              </div>
            </div>
          </div>

          <div class="row m-0">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label">N° DNI Titular</label>
                <input
                *ngIf="informacionGeneral.codTipoPersona === 'TPERJURI'"
                  type="text"
                  class="form-control"
                  autocomplete="off"
                  disabled
                  maxlength="11"
                />
                <input
                *ngIf="informacionGeneral.codTipoPersona !== 'TPERJURI'"
                  type="text"
                  class="form-control"
                  [(ngModel)]="informacionGeneral.dniElaboraDema"
                  autocomplete="off"
                  disabled
                  maxlength="11"
                />
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label">RUC Titular</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="informacionGeneral.nroRucComunidad"
                  autocomplete="off"
                  disabled
                  maxlength="11"
                />
              </div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label">N° teléfono celular</label>
                <input
                  [disabled]="disabled"
                  class="form-control"
                  [(ngModel)]="informacionGeneral.celularTitular"
                  numero
                  [min]="0"
                  [maxLength]="9"
                />
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label">Correo electrónico</label>
                <input
                  type="email"
                  (input)="validarCorreo()"
                  [disabled]="disabled"
                  [className]=" !mailValido ? 'form-control form-control-sm  input-required' : 'form-control form-control-sm '"
                  [(ngModel)]="informacionGeneral.correoTitular"
                />
              </div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label class="label"
                  >Domicilio legal del titular<br />
                  <i class="fz-10"
                    >(indicar calle/Av./Jr./Psje. y el número. El departamento,
                    provincia y distrito.)</i
                  >
                </label>
                <input
                  type="text"
                  autocomplete="off"
                  class="form-control"
                  [disabled]="disabled"
                  [(ngModel)]="informacionGeneral.direccionLegalTitular"
                  maxlength="150"
                />
              </div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Departamento</label>
                <div class="form-control-selectk">
                  <input
                    type="text"
                    disabled
                    autocomplete="off"
                    class="form-control"
                    [(ngModel)]="departamento"
                    maxlength="150"
                  />
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <label class="label">Provincia</label>
              <div class="form-control-selectk">
                <input
                  type="text"
                  disabled
                  autocomplete="off"
                  class="form-control"
                  [(ngModel)]="provincia"
                  maxlength="150"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <label class="label">Distrito</label>
              <div class="form-control-selectk">
                <input
                  type="text"
                  disabled
                  autocomplete="off"
                  class="form-control"
                  [(ngModel)]="distrito"
                  maxlength="150"
                />
              </div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Área Concesión (ha)</label>
                <div class="form-control-selectk">
                  <input
                    decimal
                    class="form-control"
                    [(ngModel)]="informacionGeneral.areaTotal"
                    [min]="0"
                    [maxLength]="12"
                    [decimalPlaces]="2"
                    disabled
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row m-0 mt-2">
            <div class="col-12">
              <h3 class="title2 fz-12 pb-1 bb-title">
                Datos del Representante Legal
              </h3>
            </div>
          </div>

          <div class="row m-0">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label"
                  >Nombre del Representante legal
                  <i class="fz-10"
                    >(en caso de comunidad Jefe/Presiedente)</i
                  ></label
                >
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="informacionGeneral.nombreCompletoRepresentante"
                  maxlength="80"
                  placeholder="Ingrese Nombre del Representante Legal"
                  [disabled]="!editRepresentante"
                />
              </div>
            </div>
            <div class="col-12 col-sm-6" *ngIf="!editRepresentante">
              <div class="form-group">
                <label class="label">N° DNI Representante legal</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="informacionGeneral.documentoRepresentante"
                  autocomplete="off"
                  maxlength="11"
                  placeholder="Ingrese Nro. de DNI"
                  [disabled]="!editRepresentante"
                />
              </div>
            </div>
            <div class="col-12 col-sm-6" *ngIf="editRepresentante">
              <div class="form-group">
                <label class="label">N° DNI Representante legal</label>
                <div class="input-group">
                  <input
                    numero
                    [min]="0"
                    [maxLength]="11"
                    class="form-control"
                    [(ngModel)]="informacionGeneral.documentoRepresentante"
                    placeholder="Ingrese Nro. de DNI"
                  />
                  <div class="input-group-append">
                    <button
                      type="button"
                      [ngClass]="validaPIDEReniecClassRepre"
                      (click)="validarPideReniecRepresentanteLegal()"
                    >
                      Validar PIDE<input type="button" style="display: none" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label class="label">
                  Domicilio legal del representante legal<br />
                  <i class="fz-10">
                    (indicar calle/Av./Jr./Psje. y el número. El departamento, provincia y distrito.)
                  </i>
                </label>
                <input
                  type="text"
                  autocomplete="off"
                  class="form-control"
                  [disabled]="!editRepresentante"
                  [(ngModel)]="informacionGeneral.direccionLegalRepresentante"
                  maxlength="150"
                  placeholder="Ingrese Domicilio legal del representante legal"
                />
              </div>
            </div>
          </div>
          <div>
            <div class="col-12 col-sm-2 text-center">
              <div class="form-group">
                <!-- <div><label class="label">&nbsp;</label></div> -->
                <button
                  (click)="editarRepresentante()"
                  class="btn btn-sm btn-secondary"
                  [disabled]="disabled"
                >
                  Actualizar datos del Representante Legal
                </button>
              </div>
            </div>
          </div>

          <div class="row m-0 mt-2 pt-4">
            <div class="col-12">
              <h3 class="title2 fz-12 pb-1 bb-title">
                Datos del Regente Legal
              </h3>
            </div>
          </div>

          <div class="row m-0">
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">N° DNI</label>
                <input
                  type="text"
                  disabled
                  class="form-control"
                  [(ngModel)]="informacionGeneral.regente?.numeroDocumento!"
                  autocomplete="off"
                  maxlength="8"
                />
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label"
                  >Nombre de regente que formuló el PMF</label
                >
                <input
                  type="text"
                  disabled
                  class="form-control"
                  [(ngModel)]="nombreCompleto"
                />
              </div>
            </div>
            <div class="col-12 col-sm-2 text-center">
              <div class="form-group">
                <div><label class="label">&nbsp;</label></div>
                <button
                  (click)="abrirModalRegentes()"
                  class="btn btn-sm btn-secondary"
                  [disabled]="disabled"
                >
                  Buscar
                </button>
              </div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label">N° de Licencia del regente</label>
                <input
                  type="text"
                  autocomplete="off"
                  disabled
                  class="form-control"
                  [(ngModel)]="informacionGeneral.regente?.numeroLicencia!"
                  maxlength="50"
                />
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <input-buttons-codigo
                  [label]="'Cargar contrato regente'"
                  [idPlanManejo]="idPlanManejo"
                  [disabled]="disabled"
                  [idTipoDocumento]="'PMFICONREGEN'"
                  [codigoProceso]="'PMFI'"
                  (registrarArchivoId)="registraArchivo($event)"
                  (eliminarArchivoId)="eliminaArchivo($event)"
                >
                </input-buttons-codigo>
              </div>
              <!-- <div class="form-group">
                                <label class="label">Cargar contrato regente</label>
                                <div>
                                      <div class="input-group">
                                        <input type="text" class="form-control" placeholder="" [(ngModel)]="fileInfGenreal.nombreFile" >
                                        <div class="input-group-append">
                                          <button type="button"  *ngIf="!cargarArchivo && fileInfGenreal.inServer == false"
                                          id="btnCargaShapeFile" (click)="fileInput.click()" class="btn btn-sm btn-file"
                                            pButton icon="pi pi-upload" pButton
                                            title="Cargar Archivo" [disabled]="disabled" >
                                            <input #fileInput type="file" (change)="onFileChange($event)" style="display:none;" accept=".pdf"  [attr.data-type]='fileInfGenreal.descripcion' />
                                            </button>

                                            <button *ngIf="!eliminarArchivo" [disabled]="disabled" type="button" class="btn btn-sm btn-file" (click)="eliminarArchivoContrato()" title="Eliminar"
                                             icon="pi pi-trash"
                                            pButton>
                                            </button>

                                        </div>
                                      </div>
                                </div>
                            </div> -->
            </div>
          </div>
          <div class="row m-0 pb-4" *ngIf="idArchivoR > 0">
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Periodo de vigencia</label>
                <input
                  [disabled]="disabled"
                  class="form-control"
                  [(ngModel)]="informacionGeneral.regente?.periodo!"
                  numero
                  [min]="0"
                  [maxLength]="9"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Fecha inicio</label>
                <div class="content-date">
                  <input
                    class="form-control"
                    type="text"
                    autocomplete="off"
                    matInput
                    readonly="true"
                    [matDatepicker]="fechaIni"
                    [disabled]="disabled"
                    [(ngModel)]="fechaInicialRegente"
                  />
                  <i class="pi pi-calendar pointer" (click)="!disabled && fechaIni.open()"></i>
                  <mat-datepicker #fechaIni></mat-datepicker>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Fecha fin</label>
                <div class="content-date">
                  <input
                    class="form-control"
                    type="text"
                    autocomplete="off"
                    matInput
                    readonly="true"
                    [matDatepicker]="fechaFin"
                    [disabled]="disabled"
                    [(ngModel)]="fechaFinalRegente"
                    (ngModelChange)="validarFechaRegente()"
                  />
                  <i class="pi pi-calendar pointer" (click)="!disabled && fechaFin.open()"></i>
                  <mat-datepicker #fechaFin></mat-datepicker>
                </div>
              </div>
            </div>
          </div>
          <div class="row m-0 mt-2">
            <div class="col-12">
              <h3 class="title2 fz-12 pb-1 bb-title">PMFI (años)</h3>
            </div>
          </div>
          <div class="row m-0 pb-4">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label">Fecha de Elaboración</label>
                <div class="content-date">
                  <input
                    type="text"
                    utocomplete="off"
                    class="form-control"
                    disabled
                    [(ngModel)]="fechaElaboracionPmfi"
                  />
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="label">Vigencia (años)</label>
                <input
                  numero
                  [min]="0"
                  [maxLength]="9"
                  class="form-control"
                  [(ngModel)]="informacionGeneral.vigencia"
                  (change)="validarInformacion()"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Fecha Inicio</label>
                <div class="content-date">
                  <input
                    class="form-control"
                    type="text"
                    autocomplete="off"
                    matInput
                    readonly="true"
                    [matDatepicker]="fechaI"
                    [min]="minDate"
                    [disabled]="true"
                    [(ngModel)]="informacionGeneral.fechaInicioDema"
                    (ngModelChange)="validarInformacion()"
                  />
                  <i class="pi pi-calendar pointer" (click)="!disabled && fechaI.open()"></i>
                  <mat-datepicker #fechaI></mat-datepicker>
                </div>
                <label style="color: red; float: none !important">
                  A la espera de la aprobación.
                </label>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Fecha Culminación</label>
                <div class="content-date">
                  <input
                    class="form-control"
                    type="text"
                    autocomplete="off"
                    matInput
                    readonly="true"
                    [matDatepicker]="fechaC"
                    [min]="minDateFinal"
                    [disabled]="true"
                    [(ngModel)]="informacionGeneral.fechaFinDema"
                  />
                  <i class="pi pi-calendar pointer" (click)="!disabled&&fechaC.open()"></i>
                  <mat-datepicker #fechaC></mat-datepicker>
                </div>
                <label style="color: red; float: none !important">
                  A la espera de la aprobación.
                </label>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon"
            [base]="detEvaluacion"
          >

          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <div class="row step__btn mt-4">
    <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>
    <div *ngIf="!isPerfilArffs">
      <div *ngIf="isEdit">
        <button
          class="btn-primary2"
          (click)="registrarInformacionGeneral()"
          [disabled]="disabled||disabledFecha"
        >
          Guardar
        </button>
      </div>
      <div *ngIf="!isEdit">
        <button
          class="btn-primary2"
          (click)="actualizarInformacionGeneralDema()"
          [disabled]="disabled||disabledFecha"
        >
          Guardar
        </button>
      </div>

    </div>


    <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="registrarEvaluacion()">Guardar Evaluación</button>
    <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">Retornar Flujo Evaluacion</button>

    <button class="btn-primary2" (click)="siguiente.emit()">Siguiente</button>
  </div>
  <br />
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-dialog
  header="Buscar Contrato"
  appendTo="body"
  [(visible)]="verModalContratos"
  [modal]="true"
  [style]="{width: '60vw'}"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row m-0">
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="label">Número de Contrato</label>
          <div class="form-control-selectk">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar..."
              [(ngModel)]="queryIdContratos"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="label">Nombre Titular o DNI Titular</label>
          <div class="form-control-selectk">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar..."
              [(ngModel)]="queryContratos"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="form-group">
          <label class="label">&nbsp;&nbsp;</label>
          <div class="text-center">
            <button
              type="button"
              class="btn-primary2"
              (click)="filtrarContrato()"
            >
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12">
        <p-table
          [value]="contratos"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} "
          [rowsPerPageOptions]="[10,25,50]"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 50px;"></th>
              <th>Número de Contrato</th>
              <th>Nombre Titular</th>
              <th>DNI Titular</th>
              <th>Nombre Representate</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>
                <p-radioButton
                  name="contrato"
                  [(ngModel)]="selectContrato"
                  [value]="data"
                >
                </p-radioButton>
              </td>
              <td class="text-center">{{data.idContrato}}</td>
              <td>{{data.nombreTitular}}</td>
              <td>{{data.dniTitular}}</td>
              <th>{{data.nombreRepresentanteLegal }}</th>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="guardarContrato()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verModalContratos = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Buscar Regente"
  appendTo="body"
  [(visible)]="verModalRegente"
  [modal]="true"
  [style]="{width: '60vw'}"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row m-0">
      <div class="col-12 col-sm-9">
        <div class="form-group">
          <label class="label">Buscar por DNI</label>
          <div class="form-control-selectk">
            <input
              type="text"
              class="form-control"
              placeholder="Ingresa N° DNI"
              [(ngModel)]="queryRegente"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="form-group">
          <label class="label">&nbsp;&nbsp;</label>
          <div class="text-center">
            <button
              type="button"
              class="btn-primary2"
              (click)="filtrarRegente()"
            >
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12">
        <p-table [value]="regentes">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 50px;"></th>
              <th>Regente</th>
              <th>DNI</th>
              <th>Estado</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>
                <p-radioButton
                  name="regente"
                  [(ngModel)]="selectRegente"
                  [value]="data"
                >
                </p-radioButton>
              </td>
              <td>{{data.nombres}} {{data.apellidos}}</td>
              <td>{{data.numeroDocumento}}</td>
              <th>{{data.estado == "V" ? "Vigente" :"No Vigente" }}</th>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="guardarRegente()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verModalRegente = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
