.one-line-dotdotdot{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.centro {
    text-align: center;
}

.mapa-ubicacion{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}

.texto{
    font-size: 11px;
    margin-left: 12px;
    min-width: 135px;
    font-weight: normal;
    font-family: "Montserrat";
}

.required{
    color: #D32F2F;
}

.input-required{
    border: 1px solid #D32F2F;
}
.form-control-selectk.select-required{
  border: 1px solid #D32F2F;
  border-radius: 25px ;
}

 td{
    text-align: justify;
}
.centro{
    text-align: center;
}

button:disabled,
button[disabled]{
    opacity: 0.7;
}