<div class="row m-0 pt-3">
  <div class="col-12">
    <h3 class="title2">b) Fisiografía</h3>
  </div>

  <div class="col-2 col-sm-12 text-right">
    <button
      class="btn btn-sm btn-default button-more mb-2"
      type="button"
      title="Agregar"
      (click)="agregarFisio()"
      [disabled]="disabled"
    >
      <i class="pi pi-plus"></i>
    </button>
  </div>

  <div class="col-12">
    <p-table [value]="listFisio">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 50px">Acciones</th>
          <th>Unidades Fisiográficas</th>
          <th>Especificaciones (pendiente/altura)</th>
          <th>Área aproximada (ha)</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
          <td>
            <div *ngIf="data.idTipounidadfisiografica == 5">
              <span
                class="pointer"
                title="Eliminar"
                (click)="eliminarFisioOtros($event, rowIndex, data)"
              >
                <i class="pi pi-trash"></i>
              </span>
            </div>
          </td>
          <td>
            <div *ngIf="data.idTipounidadfisiografica == 5">
              <input
                [(ngModel)]="data.descripcion"
                type="text"
                class="form-control"
              />
            </div>

            <div *ngIf="data.idTipounidadfisiografica != 5">
              {{ data.tipounidadfisiografica }}
            </div>
          </td>
          <td>
            <div *ngIf="data.accion">
              <input
                [(ngModel)]="data.especificacion"
                type="text"
                class="form-control"
              />
            </div>

            <div *ngIf="!data.accion">
              {{ data.especificacion }}
            </div>
          </td>
          <td>
            <div *ngIf="data.accion">
              <input
                [(ngModel)]="data.area"
                type="number"
                class="form-control"
              />
            </div>

            <div *ngIf="!data.accion">
              {{ data.area }}
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <br />
    <br />
    <button
      type="submit"
      class="btn-primary2"
      (click)="registrar()"
      [disabled]="disabled"
    >
      Guardar
    </button>
  </div>
</div>
