<a type="button" class="pointer" title="Resolver" (click)="verPDF()">
  <i class="pi pi-eye"></i>
</a>

<p-dialog
  header="Remisión OSINFOR"
  appendTo="body"
  [(visible)]="isShowModal2_2"
  [modal]="true"
  [style]="{ width: '60vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row">
      <div class="col-12 col-md-6 form-group">
        <label>Código Único solicitud</label>
        <input
          class="form-control form-control-sm"
          type="text"
          autocomplete="off"
          placeholder="Ingrese código"
        />
      </div>
      <div class="col-12 col-md-6 form-group">
        <label>Código TH</label>
        <input
          class="form-control form-control-sm"
          type="text"
          autocomplete="off"
          placeholder="Ingrese código"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label>Coordenadas UTM</label>
      </div>
      <div class="col-12 col-md-3 form-group">
        <label>Vertice</label>
        <input
          class="form-control form-control-sm"
          type="text"
          autocomplete="off"
        />
      </div>
      <div class="col-12 col-md-3 form-group">
        <label>Este (E)</label>
        <input
          class="form-control form-control-sm"
          type="text"
          autocomplete="off"
        />
      </div>
      <div class="col-12 col-md-3 form-group">
        <label>Norte (N)</label>
        <input
          class="form-control form-control-sm"
          type="text"
          autocomplete="off"
        />
      </div>
      <div class="col-12 col-md-3 form-group">
        <label>Referencia</label>
        <input
          class="form-control form-control-sm"
          type="text"
          autocomplete="off"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-12 form-group">
        <label>Nombre del representante</label>
        <input
          class="form-control form-control-sm"
          type="text"
          autocomplete="off"
          placeholder="Ingrese código"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-4 form-group">
        <label class="label">Departamento</label>
        <div class="form-control-selectk">
          <p-dropdown
            [options]="listDepartamento"
            optionLabel="nombreDepartamento"
            optionValue="nombreDepartamento"
            (onChange)="onSelectedProvincia($event)"
            placeholder="Seleccione"
          ></p-dropdown>
        </div>
      </div>
      <div class="col-12 col-sm-4 form-group">
        <label class="label">Provincia</label>
        <div class="form-control-selectk">
          <p-dropdown
            [options]="listProvincia"
            optionLabel="nombreProvincia"
            optionValue="nombreProvincia"
            (onChange)="onSelectedDistrito($event)"
            placeholder="Seleccione"
          ></p-dropdown>
        </div>
      </div>

      <div class="col-12 col-sm-4 form-group">
        <label class="label">Distrito</label>
        <div class="form-control-selectk">
          <p-dropdown
            [options]="listDistrito"
            optionLabel="nombreDistrito"
            optionValue="idDistrito"
            placeholder="Seleccione"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 form-group">
        <label>Nombre comunidad</label>
        <input
          class="form-control form-control-sm"
          type="text"
          autocomplete="off"
        />
      </div>
      <div class="col-12 col-md-6 form-group">
        <label>RUC</label>
        <input
          class="form-control form-control-sm"
          type="text"
          autocomplete="off"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4 form-group">
        <label>Area de manejo Ha.</label>
        <input
          class="form-control form-control-sm"
          type="text"
          autocomplete="off"
        />
      </div>
      <div class="col-12 col-md-4 form-group">
        <label>Vigencia del TH</label>
        <input
          class="form-control form-control-sm"
          type="text"
          autocomplete="off"
        />
      </div>
      <div class="col-12 col-md-4">
        <div class="fecha">Fecha din del permiso</div>
        <div class="content-date">
          <input
            autocomplete="off"
            class="form-control"
            [matDatepicker]="fpPGMF"
          />
          <i class="pi pi-calendar pointer" (click)="fpPGMF.open()"></i>
          <mat-datepicker #fpPGMF></mat-datepicker>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 form-group">
        <label>Nombre del regente</label>
        <input
          class="form-control form-control-sm"
          type="text"
          autocomplete="off"
        />
      </div>
      <div class="col-12 col-md-6 form-group">
        <label>Número de licencia</label>
        <input
          class="form-control form-control-sm"
          type="text"
          autocomplete="off"
        />
      </div>
    </div>

    <button
      icon="pi pi-save"
      (click)="guardar()"
      type="button"
      guardar
      class="btn btn-sm btn-primary2"
    >
      OSINFOR
    </button>

    <button
      icon="pi pi-times"
      (click)="isShowModal2_2 = false"
      type="button"
      class="btn btn-sm btn-danger"
    >
      Cancelar
    </button>
  </ng-template>
  <ng-template pTemplate="footer"> </ng-template>
</p-dialog>
<!--<p-toast></p-toast>-->
