<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 pt-3">
      <h3 class="title">
        Épica 3.1.6 Bandeja de Entrada {{ tituloProcesoBandeja }}
      </h3>
    </div>
  </div>
  <form class="col-12" [formGroup]="f">
    <p-fieldset legend="POAC" [collapsed]="false" [toggleable]="true">
      <div class="row m-0">
        <div class="col-12 col-sm-4">
          <div class="form-group">
            <label class="label">DNI o RUC del Titular </label>
            <input
              maxlength="50"
              type="number"
              autocomplete="off"
              class="form-control"
              placeholder="Ingrese Nro. DNI o RUC"
              formControlName="dniElaborador"
            />
          </div>
        </div>
        <div class="col-12 col-sm-4">
          <div class="form-group">
            <label class="label">Nombre del Titular</label>
            <input
              type="text"
              autocomplete="off"
              class="form-control"
              placeholder="Ingrese Nombre del Titular"
              formControlName="nombreElaborador"
            />
          </div>
        </div>
        <div class="col-12 col-sm-4">
          <div class="form-group">
            <label class="label">N° POAC</label>
            <input
              type="number"
              autocomplete="off"
              class="form-control"
              placeholder="Ingrese Nro. POAC"
              formControlName="idPlanManejo"
            />
          </div>
        </div>
      </div>
      <div class="col-12 mt-2 mb-4 form-group text-center">
        <button
          pButton
          pRipple
          type="button"
          label="Limpiar"
          class="btn btn-sm btn-secondary mr-2"
          style="width: 79px"
          (click)="limpiar()"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          label="Buscar"
          class="btn btn-sm btn-secondary mr-2"
          style="width: 79px"
          (click)="buscar()"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          label="Nuevo"
          class="btn btn-sm btn-secondary"
          style="width: 79px"
          (click)="nuevoPlan()"
          *ngIf="permisos.isPerRegistrar"
        ></button>
      </div>
    </p-fieldset>
  </form>
  <div class="col-12 mt-4 mb-3">
    <div>
      <p-table
        [value]="planes"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros"
        [rowsPerPageOptions]="[10, 25, 50]"
        [lazy]="true"
        [loading]="loading"
        (onLazyLoad)="load($event)"
        [totalRecords]="totalRecords"
      >
        <ng-template pTemplate="header">
          <tr>
            <th scope="row" style="min-width: 50px;">N°</th>
            <th scope="row" style="min-width: 80px;">ID PO</th>
            <th scope="row" style="min-width: 100px;">DNI o RUC</th>
            <th scope="row" style="min-width: 250px;">Nombre del Titular</th>
            <th scope="row" style="min-width: 100px;">Plan General {{ CodigoProceso.PLAN_GENERAL }}</th>
            <th scope="row" style="min-width: 245px;">Permiso Forestal</th>
            <th scope="row" style="min-width: 100px;">Estado</th>
            <th scope="row" style="min-width: 145px;">Fecha de Registro</th>
            <th scope="row" style="min-width: 70px;" class="text-center">Ver Plan</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex+1">
          <tr>
            <td>{{ rowIndex }}</td>
            <td>{{ item?.idPlanManejo }}</td>
            <td>{{ item?.infoGeneral.dniElaborador }}</td>
            <td>{{ item?.infoGeneral.nombreElaborador }}</td>
            <td>
              <div *ngIf="item.idPlanManejoPadre" class="fila-content">
                <div class="mr-1"><b>Id: </b><label class="planManejoPadre">{{ item?.idPlanManejoPadre }}</label></div>
                <div class="ml-1">
                  <i
                    class="pi pi-window-maximize pointer"
                    title="Plan General"
                    aria-hidden="true"
                    (click)="openModal(item)"
                  >
                  </i>
                </div>
              </div>
            </td>
            <td>
              <div *ngIf="item.codigoUnico" class="fila-content">
                <div>
                  <b>TH: </b>
                  <label class="codigoUnico">{{ item.codigoUnico }}</label>
                </div>
              </div>
            </td>
            <td>
                <span *ngIf="item?.codEstado != CodigoEstadoEvaluacion.FINALIZADO; else temfinalizado">
                  <span [class.presentado]="item?.codEstado === CodigoEstadoPlanManejo.PRESENTADO"
                        [class.en_evaluacion]="item?.codEstado === CodigoEstadoPlanManejo.EN_EVALUACION"
                        [class.observado]="item?.codEstado === CodigoEstadoPlanManejo.OBSERVADO"
                        [class.observadomdp]="item?.codEstado === CodigoEstadoMesaPartes.OBSERVADOMP"
                        [class.completadomdp]="item?.codEstado === CodigoEstadoMesaPartes.COMPLETADOMP"
                        [class.completadoMC]="item?.codEstado === CodigoEstadoMesaPartes.COMPLETADO_MED_CORREC"
                        [class.completadoPRE]="item?.codEstado === CodigoEstadoMesaPartes.COMPLETADO_PREREQUISITO"
                        [class.aprobado]="item?.codEstado === CodigoEstadoPlanManejo.APROBADO"
                        [class.borrador]="item?.codEstado === CodigoEstadoPlanManejo.BORRADOR"
                        >
                  {{ item?.codigoEstado }}</span></span>
              <ng-template #temfinalizado>
                <span class="font-weight-bold color-green">{{ item?.codigoEstado }}</span>
              </ng-template>
            </td>
            <td>{{ item?.fechaRegistro | date: "dd/MM/yyyy h:mm:ss a" : "UTC" }}</td>
            <td class="text-center">
              <i
                class="pi pi-eye pointer"
                title="Revision"
                aria-hidden="true"
                (click)="verPlan(item?.idPlanManejo)"
                *ngIf="permisos.isPerVisualizar"
              >
              </i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
