.fila-content {
  display        : inline-flex;
  flex-direction : row;
  justify-content: center;
}

.fila-content {
  display        : inline-flex;
  flex-direction : row;
  justify-content: center;
}

.planManejoPadre {
  color: #4A962C;
  ;
  font-weight: bold;
}

.color-green {
  color    : #4caf50;
  font-size: 1.2em;
}

.presentado {
  color      : #057EBF;
  font-weight: bold;
}

.en_evaluacion {
  color      : #ece961;
  font-weight: bold;
}

.observado {
  color: #cb4141;
  font-weight: bold;
}

.observadomdp {
  color      : #ef7728;
  font-weight: bold;
}

.aprobado {
  color      : #4caf50;
  font-weight: bold;
}

.completadomdp {
  color      : #acd95e;
  font-weight: bold;

}

.completadoMC {
  color      : #91c53d;
  font-weight: bold;

}

.completadoPRE {
  color      : #7ea833;
  font-weight: bold;

}

.observadoPRE {
  color      : #f18a47;
  font-weight: bold;
}

.presentadoPRE {
  color      : #4c90f3;
  font-weight: bold;
}

.codigoUnico {
  color      : #057EBF;
  font-weight: bold;
}

.borrador {
  color      : #ec7921;
  font-weight: bold;
}