<div class="container-fluid">
  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <h3 class="title">
        Ep3.1.6: Plan Operativo Anual &nbsp; &nbsp;
        <span class="nro-plan">N° {{ idPlanManejo }}</span>
      </h3>
    </div>
  </div>
  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <p-confirmPopup></p-confirmPopup>
      <p-toast></p-toast>
      <mat-tab-group
        animationDuration="0ms"
        [selectedIndex]="tabIndex"
        (selectedIndexChange)="informChange($event)"
      >
        <mat-tab label="1. Información General">
          <ng-template matTabContent>
            <app-tab-informacion-general
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              [disabled]="disabled"
            >
            </app-tab-informacion-general>
          </ng-template>
        </mat-tab>
        <mat-tab
          label="2. Resumen de Actividades y Recomendaciones del POA Anterior"
        >
          <ng-template matTabContent>
            <app-resumen-actividades
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled"
            >
            </app-resumen-actividades>
          </ng-template>
        </mat-tab>
        <mat-tab label="3. Objetivos">
          <ng-template matTabContent>
            <app-tab-objetivos-manejo
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled ||isPerfilArffs"
            >
            </app-tab-objetivos-manejo>
          </ng-template>
        </mat-tab>
        <mat-tab label="4. Información Básica del Área de Aprovechamiento Anual">
          <ng-template matTabContent>
            <app-tab-informacion-area-aprovechamiento
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled ||isPerfilArffs"
              [idPlanManejoPadre]="idPlanManejoPadre"
            >
            </app-tab-informacion-area-aprovechamiento>
          </ng-template>
        </mat-tab>

        <mat-tab label="5. Actividades de Aprovechamiento">
          <ng-template matTabContent>
            <app-tab-actividades-aprovechamiento
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled ||isPerfilArffs"
            >
            </app-tab-actividades-aprovechamiento>
          </ng-template>
        </mat-tab>

        <mat-tab label="6. Actividades Silviculturales">
          <ng-template matTabContent>
            <app-tab-actividades-silviculturales
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled ||isPerfilArffs"
            >
            </app-tab-actividades-silviculturales>
          </ng-template>
        </mat-tab>

        <mat-tab label="7. Protección del Bosque">
          <ng-template matTabContent>
            <app-tab-proteccion-bosque
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled ||isPerfilArffs"
            >
            </app-tab-proteccion-bosque>
          </ng-template>
        </mat-tab>
        <mat-tab label="8. Monitoreo">
          <ng-template matTabContent>
            <app-tab-monitoreo
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled ||isPerfilArffs"
            >
            </app-tab-monitoreo>
          </ng-template>
        </mat-tab>
        <mat-tab label="9. Participación Comunal">
          <ng-template matTabContent>
            <app-tab-participacion-comunal
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled ||isPerfilArffs"
            >
            </app-tab-participacion-comunal>
          </ng-template>
        </mat-tab>
        <mat-tab label="10. Capacitación">
          <ng-template matTabContent>
            <app-tab-capacitacion
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled ||isPerfilArffs"
            >
            </app-tab-capacitacion>
          </ng-template>
        </mat-tab>
        <mat-tab label="11. Organización para el Desarrollo de la Actividad">
          <ng-template matTabContent>
            <app-tab-organizacion-desarrollo-actividad
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled ||isPerfilArffs"
            >
            </app-tab-organizacion-desarrollo-actividad>
          </ng-template>
        </mat-tab>
        <mat-tab label="12. Rentabilidad del Manejo Forestal">
          <ng-template matTabContent>
            <app-tab-rentabilidad-manejo-forestal
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled ||isPerfilArffs"
            >
            </app-tab-rentabilidad-manejo-forestal>
          </ng-template>
        </mat-tab>
        <mat-tab label="13. Cronograma de Actividades">
          <ng-template matTabContent>
            <app-tab-cronograma-actividades
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled ||isPerfilArffs"
            >
            </app-tab-cronograma-actividades>
          </ng-template>
        </mat-tab>
        <mat-tab label="14. Aspectos Complementarios">
          <ng-template matTabContent>
            <app-tab-aspectos-complementarios
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled ||isPerfilArffs"
            >
            </app-tab-aspectos-complementarios>
          </ng-template>
        </mat-tab>
        <mat-tab label="15. Anexos">
          <ng-template matTabContent>
            <app-tab-anexos
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
              (siguiente)="siguienteTab()"
              [disabled]="disabled ||isPerfilArffs"
            ></app-tab-anexos>
          </ng-template>
        </mat-tab>
        <!-- <mat-tab label="16. Generar PDF del Plan PO" *ngIf="isPerfilArffs">
          <ng-template matTabContent>
            <app-tab-generar-pdf-plan-po
              [idPlanManejo]="idPlanManejo"
              (regresar)="regresarTab()"
              [disabled]="disabled"
              [isPerfilArffs]="isPerfilArffs"
            >
            </app-tab-generar-pdf-plan-po>
          </ng-template>
        </mat-tab> -->

        <!-- <mat-tab label="17. Opiniones" *ngIf="isPerfilArffs">
          <ng-template matTabContent>
            <app-tab-opiniones
              [idPlanManejo]="idPlanManejo"
            ></app-tab-opiniones>
            <div class="step__btn mt-4">
              <button class="btn-primary2" (click)="regresarTab()">
                Anterior
              </button>
              <button class="btn-primary2" (click)="siguienteTab()">
                Siguiente
              </button>
            </div>
            <br />
            <br />
          </ng-template>
        </mat-tab> -->
        <!-- <mat-tab label="18. Evaluación de campo" *ngIf="isPerfilArffs">
          <ng-template matTabContent>
            <br />
            <evaluacion-campo></evaluacion-campo>
            <div class="step__btn mt-4">
              <button class="btn-primary2" (click)="regresarTab()">
                Regresar
              </button>
              <button class="btn-primary2" (click)="siguienteTab()">
                Siguiente
              </button>
            </div>
            <br />
            <br />
          </ng-template>
        </mat-tab> -->
        <!-- <mat-tab label="18. Resultado de Evaluación" *ngIf="isPerfilArffs">
          <ng-template matTabContent>
            <div class="container-fluid pt-4">
              <div class="row m-0">
                <div class="col-12">
                  <resultado-evaluacion
                    [disabled]="disabled"
                    [idPlanManejo]="idPlanManejo"
                    [codigoPlan]="'POAC'"
                    [numeracion]="'18'"
                  >
                  </resultado-evaluacion>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab> -->

         <mat-tab label="16. Carga y Envío de Documentación"  *ngIf="!isPerfilArffs">
          <ng-template matTabContent>
            <app-tab-resumen
              [disabled]="disabled"
              (regresar)="regresarTab()"
              [idPlanManejo]="idPlanManejo"
            ></app-tab-resumen>
          </ng-template>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
</div>
