<div class="container-fluit py-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="Documentos" [selected]="true">
          <div class="row m-0">
            <div class="col-12 text-right mb-2">
              <button class="btn btn-sm btn-default button-more" type="button" title="Agregar"
                (click)="btnModalDocumento()" [disabled]="disabledEvalComiteTec || evaluacionCampo"><i class="pi pi-plus"></i></button>
            </div>
            <div class="col-12 form-group">
              <p-table [value]="listaDocumentos" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]"
                [totalRecords]="listaDocumentos.length">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Acciones</th>
                    <th>Documentos</th>
                    <th>Descargar</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td>
                      <span *ngIf="!disabledEvalComiteTec || !evaluacionCampo" class="pointer" title="Eliminar"
                        (click)="btnEliminarDocumento($event, data.idSolBosqueLocalArchivo, rowIndex)"><i
                          class="pi pi-trash"></i></span>
                    </td>
                    <td>{{data.nombreArchivo}}</td>
                    <td>
                      <span class="pointer mr-2" title="Descargar" (click)="btnDescargarDocumento(data.idArchivo)"><i
                          class="pi pi-download"></i></span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>

          <div class="row m-0 mt-3">
            <div class="col-12" *ngIf="!disabledEvalComiteTec || !evaluacionCampo">
              <button type="button" class="btn-primary2" (click)="btnGuardarDocumentos()"
                [disabled]="disabledEvalComiteTec || evaluacionCampo">
                Guardar
              </button>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Mapa">
          <app-map-custom-sol-bosque-local #map [idPlanManejo]="idPlan" [showBotonCargarGeneral]="false"
            [codigoProceso]="codigoProceso" [codigoSubSeccion]="codigoSubSeccion" [tipoArchivoArea]="tipoArchivoArea"
            [tipoArchivoPunto]="tipoArchivoPunto" [showOnlyArea]="!disabledEvalComiteTec || !evaluacionCampo"
            [showOnlyVertice]="!disabledEvalComiteTec || !evaluacionCampo"
            [isDisbledFormu]="disabledEvalComiteTec || evaluacionCampo" [showBotonGuardar]="!showEvalObserv && (!disabledEvalComiteTec || !evaluacionCampo)">
          </app-map-custom-sol-bosque-local>
        </p-accordionTab>

        <p-accordionTab header="Reporte Evaluación Campo">
          <div class="row m-0">
            <div class="col-12 col-sm-6 form-group">
              <app-carga-archivo-general accept=".pdf" [idArchivo]="adjunto4_3.idArchivo"
                [tipoDoc]="adjunto4_3.tipoArchivo" label="Cargar Reporte Evaluación Campo: *"
                (registrarArchivo)="registrarArchivo($event, adjunto4_3)"
                (eliminarArchivo)="eliminarArchivo($event, adjunto4_3)" [disabled]="disabledEvalComiteTec || evaluacionCampo">
              </app-carga-archivo-general>
            </div>
          </div>

          <div class="row m-0 mt-3">
            <div class="col-12" *ngIf="!disabledEvalComiteTec || !evaluacionCampo">
              <button type="button" class="btn-primary2" (click)="btnGuardarReporteCampo()"
                [disabled]="disabledEvalComiteTec || evaluacionCampo || adjunto4_3.idSolBosqueLocalArchivo">
                Guardar
              </button>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>
