<div class="row">
    <div class="col-6 form-group" [ngStyle]="{'display': padre.padre == '11.1' ? 'none' : 'block' }" >
        <label class="label">Tipo de Actividad</label>
        <!--input type="text" class="form-control contents_form_input" [(ngModel)]="params_insetar_detalle.tipoActividad" -->
        <div class="form-control-selectk">
            <p-dropdown
            [options]="tipoActividad"
            optionLabel="valorPrimario"
            optionValue="codigo"
            [(ngModel)]="params_insetar_detalle.codigoTipoActividad"
            placeholder="Selecciona el tipo de actvidad"
            scrollHeight="120px"
            ></p-dropdown>
        </div>
        
    </div>

    <div  class="col-6 form-group"  [ngStyle]="{'display': padre.padre == '11.2' || padre.padre == '11.1' ? 'block' : 'none' }">
        <label for="maquinariaEquipo">Función:</label>
        <input maxlength="190" type="text" id="maquinariaEquipo" autocomplete="off" class="form-control contents_form_input"
        [(ngModel)]="params_insetar_detalle.funcion" sinSpacioInit>
    </div>

    <div  class="col-6 form-group"  [ngStyle]="{'display': padre.padre == '11.1' ? 'block' : 'none' }">
        <label for="maquinariaEquipo">Responsabilidad:</label>
        <input maxlength="190" type="text" id="maquinariaEquipo" autocomplete="off" class="form-control contents_form_input"
        [(ngModel)]="params_insetar_detalle.descripcion" sinSpacioInit>
    </div>

    <div  class="col-6 form-group"  [ngStyle]="{'display': padre.padre == '11.3' ? 'block' : 'none' }">
        <label for="maquinariaEquipo">Maquinaria / Equipo:</label>
        <input type="text" id="maquinariaEquipo" autocomplete="off" class="form-control contents_form_input"
        [(ngModel)]="params_insetar_detalle.maquinaEquipo" sinSpacioInit>
    </div>

    <div class="col-6 form-group">
        <label for="numero">Número</label>
        <input type="number" id="numero" autocomplete="off" class="form-control contents_form_input"
        [(ngModel)]="params_insetar_detalle.numero" numero [maxLength]="8">
    </div>

</div>

<div class="d-flex justify-content-end">
     
     <button icon="pi pi-save" (click)="guardar()" pButton pRipple type="button" label="Aceptar" class="p-button-success p-button-outlined"></button>&nbsp;
     <button icon="pi pi-times" (click)="close()"  pButton pRipple type="button" label="Cancelar" class="p-button-danger p-button-outlined"></button>
</div>
