<header class="toolbar">
  <div class="content-header">
    <div class="row">
      <div class="col-sm-12 col-md-6 content-header1">
        <div class="toggle" (click)="toggle()"> <i class="pi pi-bars"></i></div>
        <img class="logo" src="assets/img/ministerio-agricultura-serfor.png" />
      </div>
      <div class="col-sm-12 col-md-6 text-right">
        <!-- <div class="search">
          <i class="pi pi-search"></i>
          <p-autoComplete [(ngModel)]="txtSerach" [placeholder]="placeholder" [suggestions]="resultados" (completeMethod)="buscar($event)"></p-autoComplete>
        </div> -->
        <!--<div class="notif" style="float: right;" (click)="abrirUrlMapa()">
          <i class="pi pi-map-marker"></i>
        </div>
        <div  style="float: right;">
          <span>&nbsp;Cobertura Vegetal</span>
        </div>-->
        <!-- <div class="notif" style="float: right;">
          <i class="pi pi-bell"></i>
        </div> -->
      </div>

    </div>
  </div>

</header>
