<div style="padding: 20px 0px;">
    <span class="texto-parrafo">(Incluir en el Mapa 3 del Anexo 1)</span>
  </div>
  <app-map-custom 
    [idPlanManejo]="idPGMF" 
    [codigoProceso]="CodigosManejoBosque.ACORDEON_7_1" 
    [codigoSubSeccion]="CodigosManejoBosque.ACORDEON_7_1_3"
    [tipoGeometria]="'TPQUIN'" 
    [identificarBosque]="true" 
    [validaSuperposicionAprovechar]="true"
    (listTipoBosque)="listarTipoBosquePorBQuinquenal($event)"
    (registrarArchivoId)="registroArchivo($event)">
  </app-map-custom>
  <div class="col-12 mt-4 mb-3">
    <div class="row">
      <div class="col-sm-4">
        <span>Número de Bloques:</span>
        <input 
          numero 
          [min]="0"
          [minlength]="1"
          [maxlength]="6"
          class="form-control" 
          [(ngModel)]="objBosque.noBloques"
          [disabled]="isDisbledObjFormu" />
      </div>

      <div class="col-sm-4">
        <span style="padding-right: 15px;">
          Período de aprovechamiento (años):</span>
        <input 
          numero 
          [min]="0"
          [minlength]="1"
          [maxlength]="4"
          class="form-control" 
          [(ngModel)]="objBosque.anios" 
          [disabled]="isDisbledObjFormu" />
      </div>
    </div>
    <br>
    <div class="col-12 col-sm-12 text-right">
      <br />
      <button (click)="eliminarBloque(bloques)" class="btn btn-sm btn-default mb-2" type="button" title="Eliminar Bloque" [disabled]="isDisbledObjFormu">
        <i class="pi pi-times"></i>
      </button>
      <br />
    </div>
    <p-table [value]="bloques">
      <ng-template pTemplate="header">
        <tr>
          <th rowspan="2" style="width: 20%;">Bloque</th>
          <th rowspan="2" style="width: 50%;">
            Tipo de bosque
          </th>
          <th colspan="2" style="width: 30%;">AFP</th>
        </tr>
        <tr>
          <th>Ha</th>
          <th>%</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <th rowspan="2" style="text-align: center;">
            {{data.label}}
          </th>
        </tr>
        <tr *ngFor="let d of data.tipoBosque">
          <td>
            {{d.descripcion}}
          </td>
          <td>
            {{d.areaHA}}
          </td>
          <td>
            {{d.areaHAPorcentaje}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td rowspan="4">
            Total
          </td>
        </tr>
        <tr>
          <td>Total AFP de los Bosques</td>
          <td>{{totalAreaQuinquenal}}</td>
          <td>{{totalPorcentajeQuinquenal}}</td>
        </tr>
        <tr>
          <td>Total áreas no productivas</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Área total de la concesión</td>
          <td></td>
          <td></td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <button 
        class="btn-primary2" 
        (click)="guardar()" 
        [disabled]="isDisbledObjFormu || bloques.length == 0"
      >
        Guardar
      </button>
    </div>
  </div>
