<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 col-sm-6 col-md-4">
      <label class="label">Nro. de Trámite</label>
      <input class="form-control" type="text" maxlength="10" [(ngModel)]="requestModal.nroTramite" autocomplete="off"
        placeholder="Ingresar número de trámite" [disabled]="disabledIN" />
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <label class="label">Fecha de Trámite </label>
      <div class="content-date" aling="right">
        <input type="text" class="form-control" matInput [matDatepicker]="ft" autocomplete="off" readonly="true"
          [(ngModel)]="requestModal.fechaTramite" [disabled]="disabledIN" />
        <i class="pi pi-calendar pointer" (click)="ft.open()"></i>
        <mat-datepicker #ft></mat-datepicker>
      </div>
    </div>

    <div class="col-12 mt-3">
      <p-table [value]="listaDocumentos" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center">Acciones</th>
            <th>Nro. Anexo</th>
            <!-- <th>Tipo Documento</th> -->
            <th>Nombre Documento</th>
            <th>Conforme</th>
            <th>Observado</th>
            <th style="width: 200px;">Observación</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td class="text-center">
              <span class="pointer mr-3" pTooltip="Descargar" (click)="btnDescargar(data.idArchivo)">
                <i class="pi pi-download"></i>
              </span>
            </td>
            <td>{{ data.descripcionSeccion }}</td>
            <!-- <td>{{ data.tipoDocumento }}</td> -->
            <td>{{ data.nombreArchivo }}</td>
            <td class="text-center">
              <p-radioButton [(ngModel)]="data.conforme" name="rbObser" [value]="true" [disabled]="disabledIN"
                (click)="clickValidarRadio(data)"></p-radioButton>
            </td>
            <td class="text-center">
              <p-radioButton [(ngModel)]="data.conforme" name="rbObser" [value]="false" [disabled]="disabledIN"
                (click)="clickValidarRadio(data)"></p-radioButton>
            </td>
            <td>
              <input *ngIf="data.conforme === false" placeholder="Ingrese observación..." type="text"
                [(ngModel)]="data.observacion" class="form-control form-control-sm" [disabled]="disabledIN" />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="col-12 mt-3 text-right">
      <ng-container *ngIf="!disabledIN">

        <button *ngIf="showBtnSubsanar" class="p-button-success p-button-outlined mr-2" type="button" icon="pi pi-save"
          pButton pRipple [disabled]="false" label="Enviar a Subsanar" (click)="btnSubsanar()"></button>

        <button *ngIf="showBtnEvaluar" class="p-button-success p-button-outlined mr-2" type="button" icon="pi pi-save"
          pButton pRipple [disabled]="false" label="Enviar a Evaluador" (click)="btnEvaluador()"></button>

        <button class="p-button-success p-button-outlined mr-2" type="button" icon="pi pi-save" pButton pRipple
          label="Guardar" (click)="btnGuardar()" [disabled]="listaDocumentos.length === 0"></button>
      </ng-container>

      <button class="p-button-danger p-button-outlined" icon="pi pi-times" type="button" pButton pRipple
        label="Cancelar" (click)="btnCancelar()"></button>

    </div>
  </div>
</div>