<div class="input-group">

    <input type="text" class="form-control" readonly value="{{fileName}}" placeholder="{{placeHolder}}" />

    <div class="input-group-append">

        <button type="button" *ngIf="deleteButton" class="btn btn-sm btn-secondary" style="min-width: 18px;"
            (click)="delete()" [disabled]="disabled">
            <i class="pi pi-{{deleteIcon}}" style="margin-top: 4px;" aria-hidden="true"></i>
        </button>

        <button type="button" class="btn btn-sm btn-secondary" (click)="fileInput.click()" [disabled]="disabled">
            {{labelButton}}
            <input class="no-show" type="file" [(ngModel)]="file" (change)="changeFile($event)" [accept]="accept"
                #fileInput />
        </button>
    </div>

</div>