<div class="row m-0 pt-4">
  <div class="row col-12">
    <div class="row col-12 col-sm-6" style="margin-right: 15px;">
      <div class="col-sm-8">
        <label class="label">Organigrama</label>

        <!--
        <input-buttons
          [label]="''"
          [idPlanManejo]="idPlanManejo"
          [idTipoDocumento]="40"
          [codigoProceso]="codigoTabOrga"
          (registrarArchivoId)="cargarIdArchivo($event)"
        ></input-buttons>-->

        <input-img-buttons
          [label]="''"
          [idPlanManejo]="idPlanManejo"
          [idTipoDocumento]="40" [disabled]="disabled||isPerfilArffs"
          [codigoProceso]="codigoTabOrga"
          (registrarArchivoId)="cargarIdArchivo($event)"
        ></input-img-buttons>

      </div>
    </div>
  </div>
  <div class="col-2 col-sm-12 text-right">
    <button
      (click)="abrirModal()"
      class="btn btn-sm btn-default button-more mb-2"
      type="button"
      title="Agregar"
      [disabled]="disabled || isPerfilArffs"
    >
      <i class="pi pi-plus"></i>
    </button>

    <p-confirmPopup></p-confirmPopup>
  </div>
  <div class="col-12">
    <p-table [value]="organizacionesList" class="table-justify">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 80px;">Acciones</th>
          <th>Actividad Realizada</th>
          <th>Forma de Organización</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
          <td class="text-center">
            <span
              class="pointer mr-1"
              title="Editar"
              (click)="!disabled&& !isPerfilArffs &&openEditarOrganizacion(data)"
            >
              <i class="pi pi-pencil"></i>
            </span>
            <a
              type="button"
              class="pointer"
              title="Eliminar"
              (click)="!disabled&& !isPerfilArffs &&openEliminarOrganizacion($event,rowIndex,data)"
            >
              <i class="pi pi-trash"></i>
            </a>
          </td>
          <td>{{data.actividad}}</td>
          <td>{{data.descripcionDetalle}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <br />
  <br />

</div>

<evaluacion-archivo-shared
  [idPlanManejo]="idPlanManejo"
  [cadigoTab]="codigoAcordeon12_1"
  [base]="evaluacion12_1"
  *ngIf="isPerfilArffs"
>
  <ng-template #conatinertop> </ng-template>
  <ng-template #conatinerbottom> </ng-template>
</evaluacion-archivo-shared>
<div class="step__btn mt-4" *ngIf="!isPerfilArffs">
  <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
  <button
    class="btn-primary2"
    (click)="registrarOrganizacionesDesarrollo()"
    [disabled]="disabled"
  >
    Guardar
  </button>
  <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
</div>
<div class="step__btn mt-4" *ngIf="isPerfilArffs">
  <message-evaluation></message-evaluation>
  <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
  <button class="btn-primary2" (click)="registrarEvaluacion()">
    Guardar Evaluación
  </button>
  <button class="btn-primary2" (click)="retornarFlujoEvaluacion()">
    Retornar Flujo Evaluacion
  </button>
  <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
</div>
<br />

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<p-dialog
  header="{{tituloModal}}"
  header="Header"
  [(visible)]="displayBasic"
  [style]="{width: '50vw'}"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Actividades Realizadas</label>
            <input
              [(ngModel)]="organizacion.actividad"
              type="text"
              maxlength="100"
              class="form-control"
              placeholder="Ingrese actividad realizada"
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Forma de Organización</label>
            <input
              [(ngModel)]="organizacion.descripcionDetalle"
              type="text"
              maxlength="100"
              class="form-control"
              placeholder="Ingrese forma de organización"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarOrganizacion()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
