<div class="row m-0">

    <div *ngIf="isNuevaSpecie" class="col-sm-12 col-md-4 form-group">
      <label class="label">Nombre Científico </label>
      <input type="text" class="form-control" [(ngModel)]="nombreCientifico" />
    </div>

    <div *ngIf="isNuevaSpecie" class="col-sm-12 col-md-4 form-group">
      <label class="label">Nombre Comun </label>
      <input type="text" class="form-control"  [(ngModel)]="nombreComun" />
    </div>

    <div *ngIf="isNuevaSpecie" class="col-sm-12 col-md-3 form-group">
      <label class="label">&nbsp;&nbsp;</label>
      <div>
        <button type="button" class="btn-primary2" (click)="btnGuardarNuevaEspecie()"> Guardar </button>
      </div>
    </div>

    <div *ngIf="!isNuevaSpecie" class="col-sm-12 col-md-9 form-group">
      <label class="label">Nombre Científico </label>
      <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="queryFauna" (keyup)="onKey(queryFauna)" />
    </div>
    <div *ngIf="!isNuevaSpecie" class="col-sm-12 col-md-3 form-group">
      <label class="label">&nbsp;&nbsp;</label>
      <div>
        <button type="button" class="btn-primary2" (click)="btnBuscar()"> Buscar </button>
      </div>
    </div>
  
    <div class="col-12">
      <p-table [value]="comboListEspeciesFauna">
        <ng-template pTemplate="header">
          <tr>
            <th *ngIf="!isNuevaSpecie" style="width: 50px;"></th>
            <th *ngIf="isNuevaSpecie" style="width: 50px;">Acciones</th>
            <th>Nombre Científico</th>
            <th>Nombre Común</th>
            <th *ngIf="!isNuevaSpecie">Familia</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td *ngIf="!isNuevaSpecie">
              <p-checkbox name="fauna" [binary]="true" [(ngModel)]="data.check"
                (onChange)="onChangeFauna($event, data)" [disabled]="isDisabled"> </p-checkbox>
            </td>

            <td *ngIf="isNuevaSpecie">
              <span class="pointer" title="Eliminar" (click)="btnEliminar(data)">
                <i class="pi pi-trash"></i> </span>
            </td>
            <td>{{data.nombreCientifico}}</td>
            <td>{{data.nombreComun}}</td>
            <th *ngIf="!isNuevaSpecie">{{data.familia }}</th>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)"
        [showCurrentPageReport]="true" currentPageReportTemplate="Total : {totalRecords} registros"
        [rowsPerPageOptions]="[10, 25, 50]">
      </p-paginator>
    </div>
  
    <div class="col-12 mt-4 text-right">
      <button *ngIf="!isDisabled && !isNuevaSpecie" class="p-button-success p-button-outlined mr-2" type="button" icon="pi pi-save" pButton pRipple
        label="Guardar" (click)="btnAceptar()"></button>
  
      <button class="p-button-danger p-button-outlined" type="button" icon="pi pi-times" pButton pRipple label="Cancelar"
        (click)="btnCancelar()"></button>
    </div>
  </div>
