<div class="container-fluit">
  <div class="row m-0 mb-3">
    <!-- TITULO -->
    <div class="col-12">
      <h3 class="title">Ep: 4.2.3 Solicitud de Libro de Operaciones (LO)</h3>
    </div>
    <!-- FILTROS -->
    <div class="col-12">
      <div class="panelk br10 p-3">
        <div class="row">
          <!-- Inputs -->
          <div class="col-12 col-sm-3 form-group">
            <label class="label">ID Solicitud LO:</label>
            <input class="form-control" type="text" autocomplete="off" [(ngModel)]="objbuscar.idLibroOperaciones"
              placeholder="Ingrese ID solicitud" numero [maxLength]="8" />
          </div>
          <div class="col-12 col-sm-3 form-group">
            <label class="label">Solicitante:</label>
            <input class="form-control" type="text" autocomplete="off" [(ngModel)]="objbuscar.nombreSolicitanteUnico"
              placeholder="Ingrese nombre solicitante" />
          </div>
          <div class="col-12 col-sm-3 form-group">
            <label class="label">N° Doc. Solicitante:</label>
            <input class="form-control" type="text" autocomplete="off" [(ngModel)]="objbuscar.numeroDocumento"
              placeholder="Ingrese número documento" numero [maxLength]="11" />
          </div>
          <div class="col-12 col-sm-3 form-group">
            <label class="label">Estado Solicitud:</label>
            <div class="form-control-selectk">
              <p-dropdown [options]="comboEstado" placeholder="Seleccione" optionLabel="valorPrimario"
                optionValue="codigo" [(ngModel)]="objbuscar.estadoLO">
              </p-dropdown>
            </div>
          </div>
          <!-- Botones -->
          <div class="col-sm-12 my-2 form-group text-center">
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnLimpiar()">Limpiar</button>
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnBuscar()">Buscar</button>
            <button class="btn btn-sm btn-secondary mr-2" *ngIf="isPerTitular && permisos.isPerRegistrar"
              (click)="btnModal(null, true)">Nuevo N° de Registro de LO</button>
          </div>
        </div>
      </div>
    </div>
    <!-- TABLA -->
    <div class="col-12 mt-4">
      <p-table [value]="listaBandeja">
        <ng-template pTemplate="header">
          <tr>
            <th>ID Sol.</th>
            <th>Solicitante</th>
            <th>N° Doc. Solicitante</th>
            <th>Fecha Solicitud</th>
            <th>Estado Solicitud</th>
            <th>Ver Solicitud</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fila>
          <tr>
            <td>{{fila.idLibroOperaciones}}</td>
            <td>{{fila.nombreSolicitanteUnico}}</td>
            <td>{{fila.numeroDocumento}}</td>
            <td>{{fila.fechaSolicitud}}</td>
            <td>{{fila.descripcionEstadoLO}}</td>
            <td>
              <span *ngIf="permisos.isPerVisualizar" class="pointer"><i class="pi pi-eye" title="Ver Reg. solicitud"
                  (click)="btnModal(fila, false)"></i></span>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)"
        [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros">
      </p-paginator>
    </div>
  </div>
</div>
<p-confirmPopup></p-confirmPopup>