<div class="container-fluid">
  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <h3 class="title">
        Ep3.1.5: Plan General de Manejo Forestal (PGMFA) &nbsp; &nbsp;<span
          class="nro-plan"
          >N° {{ idPlanManejo }}</span
        >
      </h3>
    </div>
  </div>
  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <mat-tab-group
        animationDuration="0ms"
        [selectedIndex]="tabIndex"
        (selectedIndexChange)="informChange($event)"
      >
        <mat-tab label="1. Resumen Ejecutivo">
          <ng-template matTabContent>
            <app-tab-resumen-ejecutivo
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              [disabled]="disabled|| isPerfilArffs"
            >
            </app-tab-resumen-ejecutivo>
          </ng-template>
        </mat-tab>
        <mat-tab label="2. Objetivos del Manejo">
          <ng-template matTabContent>
            <app-tab-objetivos-manejo
              [idPlanManejo]="idPlanManejo"
              (siguiente)="siguienteTab()"
              [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
              [disabled]="disabled|| isPerfilArffs"
            >
            </app-tab-objetivos-manejo>
          </ng-template>
        </mat-tab>
        <mat-tab label="3. Duración y Revisión del Plan">
          <ng-template matTabContent>
            <app-tab-duracion-rvision-plan
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled|| isPerfilArffs"
            >
            </app-tab-duracion-rvision-plan>
          </ng-template>
        </mat-tab>
        <mat-tab label="4. Información Básica del Área de Manejo">
          <ng-template matTabContent>
            <app-tab-informacion-area-manejo
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled|| isPerfilArffs"
            >
            </app-tab-informacion-area-manejo>
          </ng-template>
        </mat-tab>
        <mat-tab label="5. Ordenamiento del Área de Manejo">
          <ng-template matTabContent>
            <app-tab-ordenamiento-area-manejo
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled|| isPerfilArffs"
            >
            </app-tab-ordenamiento-area-manejo>
          </ng-template>
        </mat-tab>
        <mat-tab label="6. Potencial de Producción del Recurso Forestal">
          <ng-template matTabContent>
            <app-tab-potencial-produccion-rf
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled|| isPerfilArffs"
            >
            </app-tab-potencial-produccion-rf>
          </ng-template>
        </mat-tab>
        <mat-tab label="7. Manejo del Bosque">
          <ng-template matTabContent>
            <app-tab-manejo-bosque
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled|| isPerfilArffs"
            >
            </app-tab-manejo-bosque>
          </ng-template>
        </mat-tab>
        <mat-tab label="8. Protección del Bosque">
          <ng-template matTabContent>
            <app-tab-proteccion-bosque
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled|| isPerfilArffs"
            >
            </app-tab-proteccion-bosque>
          </ng-template>
        </mat-tab>
        <mat-tab label="9. Monitoreo">
          <ng-template matTabContent>
            <app-tab-monitoreo
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled|| isPerfilArffs"
            >
            </app-tab-monitoreo>
          </ng-template>
        </mat-tab>
        <mat-tab label="10. Participación Comunal">
          <ng-template matTabContent>
            <app-tab-participacion-comunal
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled|| isPerfilArffs"
            >
            </app-tab-participacion-comunal>
          </ng-template>
        </mat-tab>
        <mat-tab label="11. Capacitación">
          <ng-template matTabContent>
            <app-tab-capacitacion
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled|| isPerfilArffs"
            >
            </app-tab-capacitacion>
          </ng-template>
        </mat-tab>
        <mat-tab label="12. Organización para el Desarrollo de la Actividad">
          <ng-template matTabContent>
            <app-tab-organizacion-desarrollo-actividad
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled|| isPerfilArffs"
            >
            </app-tab-organizacion-desarrollo-actividad>
          </ng-template>
        </mat-tab>
        <mat-tab label="13. Rentabilidad del Manejo Forestal">
          <ng-template matTabContent>
            <app-tab-rentabilidad-manejo-forestal
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled|| isPerfilArffs"
            >
            </app-tab-rentabilidad-manejo-forestal>
          </ng-template>
        </mat-tab>
        <mat-tab label="14. Cronograma de Actividades">
          <ng-template matTabContent>
            <app-tab-cronograma
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled|| isPerfilArffs"
            >
            </app-tab-cronograma>
          </ng-template>
        </mat-tab>
        <mat-tab label="15. Aspectos Complementarios">
          <ng-template matTabContent>
            <app-tab-aspectos-complementarios
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled|| isPerfilArffs"
            >
            </app-tab-aspectos-complementarios>
          </ng-template>
        </mat-tab>
        <mat-tab label="16. Anexos">
          <ng-template matTabContent>
            <app-tab-anexos
              [idPlanManejo]="idPlanManejo"
              [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
              (siguiente)="siguienteTab()"
              [disabled]="disabled|| isPerfilArffs"
            ></app-tab-anexos>
          </ng-template>
        </mat-tab>

        <mat-tab
          label="17. Carga y Envio de Documentación"
          *ngIf="!isPerfilArffs"
        >
          <ng-template matTabContent>
            <app-tab-resumen
              [idPlanManejo]="idPlanManejo"
              (regresar)="regresarTab()" [disabled]="disabled|| isPerfilArffs"
            ></app-tab-resumen>
          </ng-template>
        </mat-tab>

       <!--  <mat-tab label="17. Opiniones" *ngIf="isPerfilArffs">
          <ng-template matTabContent>
            <app-tab-opiniones
              [idPlanManejo]="idPlanManejo"
            ></app-tab-opiniones>
            <div class="step__btn mt-4">
              <button class="btn-primary2" (click)="regresarTab()">
                Anterior
              </button>
              <button class="btn-primary2" (click)="siguienteTab()">
                Siguiente
              </button>
            </div>
            <br />
            <br />
          </ng-template>
        </mat-tab>

        <mat-tab label="18. Evaluación de campo" *ngIf="isPerfilArffs">
          <ng-template matTabContent>
            <br />
            <evaluacion-campo
              [idPlanManejo]="idPlanManejo"
              (regresar)="regresarTab()"
              (siguiente)="siguienteTab()"
            >
            </evaluacion-campo>
            <br />
            <br />
          </ng-template>
        </mat-tab>

        <mat-tab label="19. Resultado de Evaluación" *ngIf="isPerfilArffs">
          <ng-template matTabContent>
            <resultado-evaluacion
              [disabled]="disabled"
              [idPlanManejo]="idPlanManejo"
              [codigoPlan]="'PGMFA'"
              [numeracion]="'19'"
            >
            </resultado-evaluacion>
          </ng-template>
        </mat-tab> -->
        <!--
                <mat-tab label="18. Evaluación de campo" *ngIf="usuario.sirperfil == 'ARFFS'">
                    <ng-template matTabContent>
                        <br/>
                       <evaluacion-campo></evaluacion-campo>
                       <div class="step__btn mt-4">
                            <button class="btn-primary2" (click)="regresarTab()">Regresar</button>
                            <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
                        </div>
                        <br/>
                        <br/>
                    </ng-template>
                </mat-tab>
                -->
      </mat-tab-group>
    </div>
  </div>
</div>
<p-confirmPopup></p-confirmPopup>
