<div class="container-fluid">
  <p-confirmPopup></p-confirmPopup>
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title">Ep3.2.1: Evaluación de PGMF
        <span class="ml-4 nro-plan">N° {{idPlanManejoEvaluacion }}</span>
      </h3>
    </div>
    <div class="col-sm-12 mt-3">
      <h3 class="title2 fz-14">Lineamientos</h3>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab
          header="1. Verificación de la Información Adjunta al PGMF"
          [selected]="false"
        >
          <div class="row m-0 mb-3">
            <div class="col-12">
              <p class="fz-12">
                El PGMF debe presentarse en formato físico y digital, debiéndose
                verificar que se encuentre, en adjunto, la información
                siguiente:
              </p>
            </div>
            <div class="col-12">
              <p-table [value]="lstVerficarPGFM" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                  <tr>
                    <!-- <th style="width: 80px;">Acciones</th> -->
                    <th>Información Adjunta al PGMF</th>
                    <th style="width: 100px;">Conforme</th>
                    <th style="width: 100px;">Observado</th>
                    <th style="width: 350px;">Observación</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                  <tr>
                    <!-- <td>
                                          <i class="pi pi-eye pointer"></i>
                                      </td> -->
                    <td class="text-left">
                      {{ data.descripcion }}
                    </td>
                    <td>
                      <p-radioButton
                        [(ngModel)]="data.conforme"
                        name="esObservado1"
                        [value]="true"
                        [disabled]="disabled"
                      >
                      </p-radioButton>
                    </td>
                    <td>
                      <p-radioButton
                        [(ngModel)]="data.conforme"
                        name="esObservado1"
                        [value]="false"
                        [disabled]="disabled"
                      >
                      </p-radioButton>
                    </td>
                    <td>
                      <input
                        *ngIf="data.conforme === false"
                        placeholder="Ingrese observación..."
                        type="text"
                        [(ngModel)]="data.observacion"
                        class="form-control form-control-sm"
                        [disabled]="disabled"
                        maxlength="150" sinSpacioInit
                      />
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab
          header="2. Ubicación Espacial de la UMF"
          [selected]="false"
        >
          <div class="row m-0 mb-3">
            <div class="col-12">
              <p class="fz-12">
                Utilizando un software especializado se realiza el análisis
                espacial de la UMF a fin de verificar lo siguiente:
              </p>
            </div>
            <div class="col-12">
              <p-table [value]="lstUbicacionEspecial" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                  <tr>
                    <!-- <th style="width: 80px;">Acciones</th> -->
                    <th>Información Adjunta al PGMF</th>
                    <th style="width: 100px;">Conforme</th>
                    <th style="width: 100px;">Observado</th>
                    <th style="width: 350px;">Observación</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                  <tr>
                    <!-- <td>
                                          <i class="pi pi-eye pointer"></i>
                                      </td> -->
                    <td class="text-left">
                      {{ data.descripcion }}
                    </td>
                    <td>
                      <p-radioButton
                        [(ngModel)]="data.conforme"
                        name="esObservado1"
                        [value]="true"
                        [disabled]="disabled"
                      >
                      </p-radioButton>
                    </td>
                    <td>
                      <p-radioButton
                        [(ngModel)]="data.conforme"
                        name="esObservado1"
                        [value]="false"
                        [disabled]="disabled"
                      >
                      </p-radioButton>
                    </td>
                    <td>
                      <input
                        *ngIf="data.conforme === false"
                        placeholder="Ingrese observación..."
                        type="text"
                        [(ngModel)]="data.observacion"
                        class="form-control form-control-sm"
                        [disabled]="disabled"
                        maxlength="150" sinSpacioInit
                      />
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <div class="row m-0 mb-3">
            <div class="col-12 col-sm-6">
              <app-carga-archivo-general accept=".pdf" [idArchivo]="compiladoFirmadoUmfPGMF.idArchivo" [showMsjEliminar]="false" 
                [tipoDoc]="''" label="" [disabled]="disabled"
                (eliminarArchivo)="eliminarArchivo($event, 1)"
                (registrarArchivoFile)="registrarArchivoFile($event, 1)">
              </app-carga-archivo-general>
            </div>
            <div class="col-12 col-sm-4 text-center">
              <button
                class="btn btn-sm btn-primary2"
                [disabled]="!fileContingencia.idArchivo"
                (click)="descargarPlanContingencia()"
              >
                Descargar Plan de Contingencia
              </button>
            </div>
          </div>
          <div class="row m-0 mb-1">
            <div class="col-12 col-sm-4 text-center">
              <button
                class="btn btn-sm btn-secondary pl-3 pr-3"
                (click)="abrirModalSolicitud('MINCUL')"
                [disabled]="informacion.idMincul || !fileContingencia.idArchivo || disabled"
              >
                Solicitar opinión MINCUL
              </button>
            </div>

            <div class="col-12 col-sm-4 text-center">
              <button
                class="btn btn-sm btn-secondary pl-3 pr-3"
                (click)="abrirModalSolicitud('ANA')"
                [disabled]="informacion.idAna || disabled"
              >
                Solicitar opinión ANA
              </button>
            </div>

            <div class="col-12 col-sm-4 text-center">
              <button
                class="btn btn-sm btn-secondary pl-3 pr-3"
                (click)="abrirModalSolicitud('SERNANP')"
                [disabled]="informacion.idSernap || disabled"
              >
                Solicitar opinión SERNANP
              </button>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab
          header="Revisión del PGMF (Lineamiento 3 - 18)"
          [selected]="false"
        >
          <div class="row m-0 mb-3">
            <div class="col-12">
              <div class="row m-0">
                <div class="col-8">
                  <p class="fz-12">
                    Pulsando siguiente botón se ingresará a la versión Evaluador
                    del PMGF para evaluar los lineamientos del 3 al 18
                  </p>
                </div>
                <div class="col-4 text-right">
                  <button class="btn btn-sm btn-primary2" (click)="clickIr()">
                    Ir a Plan
                  </button>
                </div>
              </div>
            </div>

            <div class="col-12" style="margin-top: 15px;">
              <div class="row m-0">
                <div class="col-8">
                  <p class="fz-12">
                    Registrar Solicitud de Evaluación de Campo(Opcional)
                  </p>
                </div>
                <div class="col-4 text-right">
                  <button
                    class="btn btn-sm btn-primary2"
                    (click)="solicitarInspeccion()"
                    [disabled]="informacion.idEvaluacionCampo || disabled"
                  >
                    Solicitar Inspección
                  </button>
                </div>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Descargar" [selected]="false">
          <div class="row m-0 mb-3">
            <table>
              <tr>
                <td>
                  <p class="fz-12">Generar Evaluación del PGMF</p>
                </td>
                <td>&nbsp;</td>
                <td>
                  <button
                    class="btn btn-sm btn-primary2"
                    (click)="compilarPGMF()"
                    style="align-self: flex-end;"
                    [disabled]="disabled"
                  >
                    Generar Reporte de Resultados de Evaluación
                  </button>
                </td>
              </tr>
              <tr>
                &nbsp;
              </tr>
            </table>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Adjuntar" [selected]="false">
          <div class="row m-0 mt-3">
            <div class="col-12 col-sm-6">
              <label class="label fz-11 m-0" >Adjuntar Compilado Firmado</label>
            </div>
            <div class="col-12 col-sm-6">
              <app-carga-archivo-general accept=".pdf" [idArchivo]="compiladoFirmadoPGMF.idArchivo"  [showMsjEliminar]="false"
                [tipoDoc]="''" label="" [disabled]="disabled"
                (eliminarArchivo)="eliminarArchivo($event, 2)"
                (registrarArchivoFile)="registrarArchivoFile($event, 2)">
              </app-carga-archivo-general>
            </div>
          </div>

          <div class="row m-0 mt-3">
            <div class="col-12 col-sm-6">
              <label class="label fz-11 m-0">Adjuntar Resolución</label>
            </div>
            <div class="col-12 col-sm-6">
              <app-carga-archivo-general accept=".pdf" [idArchivo]="fileResolucionModelArchivo.idArchivo" [showMsjEliminar]="false" 
                [tipoDoc]="''" label="" [disabled]="disabled"
                (eliminarArchivo)="eliminarArchivo($event, 3)"
                (registrarArchivoFile)="registrarArchivoFile($event, 3)">
              </app-carga-archivo-general>
            </div>
          </div>

          <div class="row m-0 mt-3">
            <div class="col-12 col-sm-6">
              <label class="label fz-11 m-0">Adjuntar Evidencia de Notificación</label>
            </div>
            <div class="col-12 col-sm-6">
              <app-carga-archivo-general accept=".pdf" [idArchivo]="fileNotificacionModelArchivo.idArchivo" [showMsjEliminar]="false" 
                [tipoDoc]="''" label="" [disabled]="disabled"
                (eliminarArchivo)="eliminarArchivo($event, 4)"
                (registrarArchivoFile)="registrarArchivoFile($event, 4)">
              </app-carga-archivo-general>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Notificar" [selected]="false">
          <div class="row m-0">
            <div class="col-12 col-sm-8">
              <div>
                <label class="label fz-11 m-0"
                  >Remitir Información a SERFOR y Componente Estadístico</label
                >
              </div>
            </div>
            <div class="col-12 col-sm-4" style="display: flex;">
              <button
                class="btn btn-sm btn-primary2"
                style="align-self: flex-end; margin-bottom: 12px;"
                (click)="notificar()"
                [disabled]="disabledNotificacion"
              >
                Remitir Información
              </button>

              <div class="form-group">
                <label class="label">Fecha Notificación </label>
                <div class="content-date" aling="right">
                  <input
                    autocomplete="off"
                    type="text"
                    class="form-control"
                    matInput
                    [(ngModel)]="informacion.fechaNotificacion"
                    [matDatepicker]="fi"
                    readonly="true"
                    [min]="minDate"
                    [disabled]="disabledNotificacion"
                  />
                  <i class="pi pi-calendar pointer" (click)="fi.open()"></i>
                  <mat-datepicker #fi [disabled]="disabledNotificacion">
                  </mat-datepicker>
                </div>
              </div>
            </div>
          </div>
          <br />
        </p-accordionTab>
        <br />
        <br />
        <div class="row m-0 mb-3">
          <div class="col-12">
            <div class="p-field-radiobutton">
              <p-radioButton
                name="estado"
                value="EPLMAPROB"
                [(ngModel)]="estado"
                inputId="city1"
                [disabled]="disabled"
              ></p-radioButton>
              <label for="city1">Aprobado</label>
            </div>
            <div class="p-field-radiobutton">
              <p-radioButton
                name="estado"
                value="EPLMBORD"
                [(ngModel)]="estado"
                inputId="city2"
                [disabled]="disabled"
              ></p-radioButton>
              <label for="city2">En borrador / Denegado</label>
            </div>
            <div class="p-field-radiobutton">
              <p-radioButton
                name="estado"
                value="EPLMBORN"
                [(ngModel)]="estado"
                inputId="city3"
                [disabled]="disabled"
              ></p-radioButton>
              <label for="city3">No Presentado </label>
            </div>
          </div>
          <br />
        </div>
      </p-accordion>
    </div>
  </div>
  <div class="row mt-3 mb-3">
    <button class="btn btn-sm btn-primary2" (click)="regresar()">
      Regresar
    </button>
    <button
      class="btn btn-sm btn-primary2"
      (click)="guardar()"
      [disabled]="disabled"
    >
      Guardar
    </button>
    <button
      class="btn btn-sm btn-primary2"
      (click)="enviar()"
      [disabled]="disabled"
    >
      Enviar
    </button>
  </div>
</div>
<p-toast position="top-right" key="tr"></p-toast>
<br />

<app-solicitud-opinion-lineamiento
  [verModalSolicitud]="verModalSolicitud"
  [comboEntidad]="comboEntidad"
  [comboTipoDocumento]="comboTipoDocumento"
  [opinion]="opinion"
  [archivoAdjunto]="archivoAdjunto"
  (registrarAdjunto)="registrarAdjunto($event)"
  (eliminarAdjunto)="eliminarAdjunto()"
  (closeModal)="cerrarModal()"
>
  <ng-template #footer>
    <button
      icon="pi pi-save"
      (click)="enviarSolcitud()"
      pButton
      pRipple
      type="button"
      label="Enviar"
      class="p-button-success p-button-outlined"
      style="width: 106px;"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
      style="width: 106px;"
    ></button>
  </ng-template>
</app-solicitud-opinion-lineamiento>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-dialog
  header="Confirmación"
  [(visible)]="displayConfirm"
  [draggable]="false"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <!-- <i class="pi pi-question-circle" style="font-size: 1rem;"></i>Si tiene alguna observación pasará a estadoobservado. -->
    {{ mensajeConfirmEnviar }}
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      label="No"
      (click)="displayConfirm = false"
    ></button>

    <button
      type="button"
      pButton
      label="Sí"
      (click)="enviarEvaluacion()"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Aviso"
  [(visible)]="displayOk"
  [draggable]="false"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <i class="pi pi-info-circle" style="font-size: 2rem;"></i> Respuesta enviada
  </ng-template>

  <ng-template pTemplate="footer">
    <button type="button" pButton label="Ok"></button>
  </ng-template>
</p-dialog>
