<div class="container-fluid p-0">
  <div class="row m-0">
    <div class="col-12" *ngIf="false">
      <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
    </div>
    <div class="col-12 mt-3 p-0">
      <h3 class="title">
        Ep3.1.7: Plan General de Manejo Forestal Intermedio - PMFI &nbsp;
        &nbsp;<span class="nro-plan">N° {{ idPlanManejo }}</span>
      </h3>
    </div>
  </div>
  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <mat-tab-group
        animationDuration="0ms"
        [selectedIndex]="tabIndex"
        (selectedIndexChange)="informChange($event)"
      >
        <mat-tab label="1. Información General">
          <ng-template matTabContent>
            <app-tab-informacion-general
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()" [disabled]="disabled" [isPerfilArffs]="isPerfilArffs"
              [idPlanManejo]="idPlanManejo"
            ></app-tab-informacion-general>
          </ng-template>
        </mat-tab>

        <mat-tab label="2. Objetivos">
          <ng-template matTabContent>
            <app-tab-objetivos-manejo
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()" [disabled]="disabled"  [isPerfilArffs]="isPerfilArffs"
              [idPlanManejo]="idPlanManejo"
            >
            </app-tab-objetivos-manejo>
          </ng-template>
        </mat-tab>

        <mat-tab label="3. Información básica">
          <ng-template matTabContent>
            <app-tab-informacion-basica
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()" [disabled]="disabled"  [isPerfilArffs]="isPerfilArffs"
              [idPlanManejo]="idPlanManejo"
            >
            </app-tab-informacion-basica>
          </ng-template>
        </mat-tab>

        <mat-tab label="4. Aspectos físicos">
          <ng-template matTabContent>
            <app-tab-aspectos-fisicos
              (siguiente)="siguienteTab()" [disabled]="disabled"  [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
              [idPlanManejo]="idPlanManejo"
            >
            </app-tab-aspectos-fisicos>
          </ng-template>
        </mat-tab>

        <mat-tab label="5. Aspectos biológicos">
          <ng-template matTabContent>
            <app-tab-aspectos-biologicos
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"  [disabled]="disabled"  [isPerfilArffs]="isPerfilArffs"
              [idPlanManejo]="idPlanManejo"
            >
            </app-tab-aspectos-biologicos>
          </ng-template>
        </mat-tab>

        <mat-tab label="6. Información socioeconómica">
          <ng-template matTabContent>
            <app-tab-informacion-socioeconomica
              (siguiente)="siguienteTab()" [disabled]="disabled"  [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
              [idPlanManejo]="idPlanManejo"
            >
            </app-tab-informacion-socioeconomica>
          </ng-template>
        </mat-tab>

        <mat-tab label="7. Ordenamiento y protección de la UMF">
          <ng-template matTabContent>
            <tab-ordenamiento-proteccion
              (siguiente)="siguienteTab()" [disabled]="disabled"  [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
              [idPlanManejo]="idPlanManejo"
            >
            </tab-ordenamiento-proteccion>
          </ng-template>
        </mat-tab>

        <mat-tab label="8. Potencial de producción forestal">
          <ng-template matTabContent>
            <app-tab-potencial-produccion-forestal
              (siguiente)="siguienteTab()" [disabled]="disabled"  [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
              [idPlanManejo]="idPlanManejo"
            >
            </app-tab-potencial-produccion-forestal>
          </ng-template>
        </mat-tab>

        <mat-tab label="9. Sistema de manejo forestal de uso múltiple">
          <ng-template matTabContent>
            <app-tab-sistema-manejo-forestal
              (siguiente)="siguienteTab()" [disabled]="disabled"  [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
              [idPlanManejo]="idPlanManejo"
            >
            </app-tab-sistema-manejo-forestal>
          </ng-template>
        </mat-tab>

        <mat-tab label="10. Evaluación Ambiental">
          <ng-template matTabContent>
            <app-tab-evaluacion-ambiental
              (siguiente)="siguienteTab()" [disabled]="disabled"  [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
              [idPlanManejo]="idPlanManejo"
            >
            </app-tab-evaluacion-ambiental>
          </ng-template>
        </mat-tab>

        <mat-tab label="11. Organización para el desarrollo de actividades">
          <ng-template matTabContent>
            <app-tab-desarrollo-actividades
              (siguiente)="siguienteTab()" [disabled]="disabled"   [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
              [idPlanManejo]="idPlanManejo"
            >
            </app-tab-desarrollo-actividades>
          </ng-template>
        </mat-tab>

        <mat-tab label="12. Cronograma de actividades">
          <ng-template matTabContent>
            <app-tab-cronograma-actividades
              (siguiente)="siguienteTab()" [disabled]="disabled"   [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
              [idPlanManejo]="idPlanManejo"
            >
            </app-tab-cronograma-actividades>
          </ng-template>
        </mat-tab>

        <mat-tab label="13. Rentabilidad del manejo forestal">
          <ng-template matTabContent>
            <app-tab-rentabilidad
              (siguiente)="siguienteTab()" [disabled]="disabled"   [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
              [idPlanManejo]="idPlanManejo"
            ></app-tab-rentabilidad>
          </ng-template>
        </mat-tab>

        <mat-tab label="14. Aspectos complementarios">
          <ng-template matTabContent>
            <app-tab-aspectos-complementarios
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()" [disabled]="disabled"   [isPerfilArffs]="isPerfilArffs"
              [idPlanManejo]="idPlanManejo"
            ></app-tab-aspectos-complementarios>
          </ng-template>
        </mat-tab>

        <mat-tab label="15. Anexos">
          <ng-template matTabContent>
            <app-tab-anexos
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()" [disabled]="disabled"
              [idPGMF]="idPlanManejo"
            ></app-tab-anexos>
          </ng-template>
        </mat-tab>

        <mat-tab label="16. Carga y Envío de Documentación">
          <ng-template matTabContent>
            <app-tab-resumen [disabled]="disabled"
              (regresar)="regresarTab()"
              [idPlanManejo]="idPlanManejo"
            ></app-tab-resumen>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
