<div class="container-fluid p-0">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title">
        Ep3.1.1: Plan del General de Manejo Forestal (PGMF) para Concesiones
        Forestales con Fines Maderables

        <span class="ml-4 nro-plan">N° {{ idPGMF }}</span>
      </h3>
    </div>
  </div>

  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <mat-tab-group
        animationDuration="0ms"
        [selectedIndex]="tabIndex"
        (selectedIndexChange)="informChange($event)"
      >
        <mat-tab label="1. Información General">
          <ng-template matTabContent>
            <app-tab-informacion-general
              [idPgmf]="idPGMF"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled"
              [codigoEstado]="codigoEstado"
              [isDisbledObjFormu]="isDisbledObjFormu"
              [isShowObjEval]="isShowObjEval"
              [isDisabledObjEval]="isDisabledObjEval"
              [isRequiredObsEval]="isRequiredObsEval"
            >
            </app-tab-informacion-general>
          </ng-template>
        </mat-tab>

        <mat-tab label="2. Objetivos del Manejo">
          <ng-template matTabContent>
            <app-tab-objetivos-manejo
              [idPGMF]="idPGMF"
              [disabled]="disabled"
              [isDisbledObjFormu]="isDisbledObjFormu"
              [isShowObjEval]="isShowObjEval"
              [isDisabledObjEval]="isDisabledObjEval"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            ></app-tab-objetivos-manejo>
          </ng-template>
        </mat-tab>

        <mat-tab label="3. Información Básica de la UMF">
          <ng-template matTabContent>
            <app-tab-informacion-basica
              [idPGMF]="idPGMF"
              [disabled]="disabled"
              [isDisbledObjFormu]="isDisbledObjFormu"
              [isShowObjEval]="isShowObjEval"
              [isDisabledObjEval]="isDisabledObjEval"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            ></app-tab-informacion-basica>
          </ng-template>
        </mat-tab>

        <mat-tab label="4. Ordenamiento y Protección de la UMF">
          <ng-template matTabContent>
            <app-tab-ordenamiento-proteccion
              [idPGMF]="idPGMF"
              [disabled]="disabled"
              [isDisbledObjFormu]="isDisbledObjFormu"
              [isShowObjEval]="isShowObjEval"
              [isDisabledObjEval]="isDisabledObjEval"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            ></app-tab-ordenamiento-proteccion>
          </ng-template>
        </mat-tab>

        <mat-tab
          label="5. Potencial de Producción del Recurso Forestal Maderable"
        >
          <ng-template matTabContent>
            <app-tab-prod-recurso
              [idPGMF]="idPGMF"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled"
              [isDisbledObjFormu]="isDisbledObjFormu"
              [isShowObjEval]="isShowObjEval"
              [isDisabledObjEval]="isDisabledObjEval"
            ></app-tab-prod-recurso>
          </ng-template>
        </mat-tab>

        <mat-tab label="6. Manejo Forestal">
          <ng-template matTabContent>
            <app-tab-manejo-forestal
              [idPlanManejo]="idPGMF"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled"
              [isDisbledObjFormu]="isDisbledObjFormu"
              [isShowObjEval]="isShowObjEval"
              [isDisabledObjEval]="isDisabledObjEval"
            ></app-tab-manejo-forestal>
          </ng-template>
        </mat-tab>

        <mat-tab label="7. Evaluación de Impacto Ambiental">
          <ng-template matTabContent>
            <app-tab-evaluacion-impacto
              [idPGMF]="idPGMF"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled"
              [isDisbledObjFormu]="isDisbledObjFormu"
              [isShowObjEval]="isShowObjEval"
              [isDisabledObjEval]="isDisabledObjEval"
            ></app-tab-evaluacion-impacto>
          </ng-template>
        </mat-tab>

        <mat-tab label="8. Monitoreo">
          <ng-template matTabContent>
            <app-tab-monitoreo
              [idPGMF]="idPGMF"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled"
              [isDisbledObjFormu]="isDisbledObjFormu"
              [isShowObjEval]="isShowObjEval"
              [isDisabledObjEval]="isDisabledObjEval"
            ></app-tab-monitoreo>
          </ng-template>
        </mat-tab>

        <mat-tab label="9. Participación Ciudadana">
          <ng-template matTabContent>
            <app-tab-participacion-ciudadana
              [idPGMF]="idPGMF"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled"
              [isDisbledObjFormu]="isDisbledObjFormu"
              [isShowObjEval]="isShowObjEval"
              [isDisabledObjEval]="isDisabledObjEval"
            ></app-tab-participacion-ciudadana>
          </ng-template>
        </mat-tab>

        <mat-tab label="10. Capacitación">
          <ng-template matTabContent>
            <app-tab-capacitacion
              [idPGMF]="idPGMF"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled"
              [isDisbledObjFormu]="isDisbledObjFormu"
              [isShowObjEval]="isShowObjEval"
              [isDisabledObjEval]="isDisabledObjEval"
            ></app-tab-capacitacion>
          </ng-template>
        </mat-tab>

        <mat-tab label="11. Organización del Manejo">
          <ng-template matTabContent>
            <app-tab-organizacion-manejo
              [idPGMF]="idPGMF"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled"
              [isDisbledObjFormu]="isDisbledObjFormu"
              [isShowObjEval]="isShowObjEval"
              [isDisabledObjEval]="isDisabledObjEval"
            ></app-tab-organizacion-manejo>
          </ng-template>
        </mat-tab>

        <mat-tab label="12. Programa de Inversiones">
          <ng-template matTabContent>
            <app-tab-programa-inversion
              [idPGMF]="idPGMF"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled"
              [isDisbledObjFormu]="isDisbledObjFormu"
              [isShowObjEval]="isShowObjEval"
              [isDisabledObjEval]="isDisabledObjEval"
            ></app-tab-programa-inversion>
          </ng-template>
        </mat-tab>

        <mat-tab label="13. Cronograma de Actividades">
          <ng-template matTabContent>
            <app-tab-cronograma-actividades
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [isDisbledObjFormu]="isDisbledObjFormu"
              [isShowObjEval]="isShowObjEval"
              [isDisabledObjEval]="isDisabledObjEval"
              [disabled]="disabled"
              [idPGMF]="idPGMF"
            ></app-tab-cronograma-actividades>
          </ng-template>
        </mat-tab>

        <mat-tab label="14. Anexos">
          <ng-template matTabContent>
            <app-tab-anexos
              [idPGMF]="idPGMF"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
              [disabled]="disabled"
              [isDisbledObjFormu]="isDisbledObjFormu"
              [isShowObjEval]="isShowObjEval"
              [isDisabledObjEval]="isDisabledObjEval"
            ></app-tab-anexos>
          </ng-template>
        </mat-tab>

        <mat-tab label="Carga y Envío de Documentación">
          <ng-template matTabContent>
            <app-tab-descarga-envio
              [idPGMF]="idPGMF"
              [codigoEstado]="codigoEstado"
              (regresar)="regresarTab()"
              [disabled]="disabled"
              [isDisbledObjFormu]="isDisbledObjFormu"
              [isShowObjEval]="isShowObjEval"
              [isDisabledObjEval]="isDisabledObjEval"
            ></app-tab-descarga-envio>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="col-12 step__btn mb-4">
      <button class="btn-primary2" *ngIf="false" (click)="btnCancelar()">Cancelar</button>
    </div>
  </div>
</div>

<p-toast key="toast"></p-toast>
