<div class="container-fluit pt-4">
  <p-confirmPopup></p-confirmPopup>
  <div class="row m-0">
    <div class="col-12 form-group">
      <p-accordion>
        <p-accordionTab class='no-desbor' header="10.1. Objetivos del Plan de Capacitación" [selected]="true">

          <div class="d-flex justify-content-end" *ngIf="!isObjetivo">
            <button class="btn btn-sm btn-default mb-2" type="button" title="Agregar" (click)="isObjetivo=!isObjetivo"
              [disabled]="isDisbledObjFormu">
              <i class="pi pi-plus"></i>
            </button>
          </div>

          <ng-container *ngIf="isObjetivo">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-6">
                  <input maxlength="250" type="text" autocomplete="off" class="form-control contents_form_input"
                    [(ngModel)]="text_objetivo" [disabled]="isDisbledObjFormu"/>
                </div>
                <button (click)="agregarObjetivo()" class="btn btn-sm btn-secondary ml-4" [disabled]="isDisbledObjFormu">
                  Guardar
                </button>
                <button (click)="isObjetivo=!isObjetivo" class="btn btn-sm btn-secondary ml-4" [disabled]="isDisbledObjFormu">
                  Cancelar
                </button>
              </div>
            </div>
          </ng-container>

          <ul>
            <li *ngFor="let item of listaObjetivo">
              {{item.tema}}
              <a class="delete" (click)="openEliminarCapacitacion($event,rowIndex,item)" 
                [ngClass]="isDisbledObjFormu?'disabled-pointer':''"><i class="pi pi-trash pointer"></i></a>
            </li>
          </ul>
        </p-accordionTab>

        <p-accordionTab class='no-desbor' header="10.2. Actividades Previstas en el Plan de UMF">
          <div class="col-2 col-sm-12 text-right">
            <!--<button (click)="abrirModal()" class="btn btn-sm btn-default button-more mb-2" type="button" title="Agregar">
              <i class="pi pi-plus"></i>
            </button>-->
          </div>
          <p-table [value]="capacitaciones" [style]="{width:'100%'}">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 100px; min-width: 80px;">Acciones</th>
                <th style="min-width: 100px;" class="pl-0">Temas o Actividades</th>
                <th>Personal a Capacitar</th>
                <th>Modalidad de Capacitación</th>
                <th>Lugar de Capacitación</th>
                <!--<th>Periodo</th>
                <th>Responsable</th>-->
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td class="text-center" style="width: 100px; min-width: 80px;">
                  <span class="pointer mr-1" title="Editar" (click)="openEditarCapacitacion(data, rowIndex)"
                  [ngClass]="isDisbledObjFormu?'disabled-pointer':''">
                    <i class="pi pi-pencil"></i>
                  </span>
                  <!--<span class="pointer" title="Eliminar" (click)="openEliminarCapacitacion($event,rowIndex,data)">
                    <i class="pi pi-trash"></i>
                  </span>-->
                </td>
                <td style="min-width: 100px;">
                  {{data.tema}}
                  <ul class="pl-0" *ngFor="let item of data.listCapacitacionDetalle">
                    <li class="pl-2">
                      <label>{{item.actividad}} </label>
                    </li>
                  </ul>
                </td>
                <td>{{data.personaCapacitar}}</td>
                <td>{{data.idTipoModalidad}}</td>
                <td>{{data.lugar}}</td>
                <!--<td>{{data.periodo}}</td>
                <td>{{data.responsable}}</td>-->
              </tr>
            </ng-template>
          </p-table>

        </p-accordionTab>
      </p-accordion>

      <div class="row mt-4">
        <div class="col-12">
          <label class="m-0 mr-5 label">Se amplía información en el Anexo 4:</label>
          <div class="p-field-radiobutton">
            <strong for="Si" class="mr-2">SI</strong>
            <p-radioButton name="monitoreo" value="S" inputId="Si" [(ngModel)]="selectAnexo" [disabled]="isDisbledObjFormu">
            </p-radioButton>
          </div>
          <div class="p-field-radiobutton">
            <strong for="No" class="mr-2">NO</strong>
            <p-radioButton name="monitoreo" value="N" inputId="No" [(ngModel)]="selectAnexo" (onClick)="anexoN($event)" [disabled]="isDisbledObjFormu">
            </p-radioButton>
          </div>
        </div>
  
        <div class="col-12 p-0" [hidden]="selectAnexo == 'N'">
          <div class="col-12 mt-4 ml-1 mr-5" *ngIf="selectAnexo == 'S'">
            <app-anexo-upload-file
              [fileInfGenreal]="fileAnexo4"
              [label]="'Adjuntar Evidencia:'"
              [idPlanManejo]="idPlanManejo"
              [idTipoDocumento]="codigo_anexo4"
              [codigoProceso]="codigo_anexo4"
              (registrarArchivoId)="cargarIdArchivo($event)"
              [isDisbledObjFormu]="isDisbledObjFormu"
            >
            </app-anexo-upload-file>
          </div>
        </div>
      </div>



    </div>
  </div>
  <div class="row m-0 mt-4 h-100 justify-content-center align-items-center">
    <div class="col-12 col-sm-11">
      <lineamiento-inner [base]="lineamiento"
        [titulo]="'Evaluación de Lineamiento 15. Revisión de las acciones de capacitación'"
        [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval">
        <ng-template #descripcion>
          <div class="row m-0">
            <div class="col-12">
              <p class="fz-11 m-0 mb-3">Corroborar la existencia de un Plan de Capacitación, el cual forma parte del
                propio PGMF, que contenga: objetivos, temas o actividades, público objetivo y la modalidad de
                capacitación.</p>
              <p class="fz-11 m-0 mb-4">Las capacitaciones deben ser sobre los temas siguientes:</p>
              <p class="fz-11 m-0 mb-1 ml-4">1. Manejo de mapas e instrumentos cartográficos.</p>
              <p class="fz-11 m-0 mb-1 ml-4">2. Manejo y mantenimiento de motosierras.</p>
              <p class="fz-11 m-0 mb-1 ml-4">3. Tala dirigida</p>
              <p class="fz-11 m-0 mb-1 ml-4">4. Diseño y construcción de caminos forestales</p>
              <p class="fz-11 m-0 mb-1 ml-4">5. Trazabilidad de la madera</p>
              <p class="fz-11 m-0 mb-1 ml-4">6. Arrastre planificado.</p>
              <p class="fz-11 m-0 mb-1 ml-4">7. Cierre de actividades de extracción</p>
              <p class="fz-11 m-0 mb-1 ml-4">8. Operaciones silviculturales</p>
              <p class="fz-11 m-0 mb-1 ml-4">9. Salud y seguridad en el trabajo</p>
              <p class="fz-11 m-0 mb-1 ml-4">10. Sistema de registros de producción y costos</p>
            </div>
          </div>
        </ng-template>
      </lineamiento-inner>
    </div>
  </div>

  <div class="row m-0 mt-4">
    <div class="col-12">
      <div class="step__btn">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button class="btn-primary2" (click)="guardarCapacitacion()" [disabled]="disabled"> Guardar</button>
        <!-- Asi estaba antes -->
        <!-- <button class="btn-primary2" (click)="adjuntarAnexo()" [disabled]="disabled"> Guardar</button> --> 
        <button class="btn-primary2" (click)="siguienteTab()">
          Siguiente
        </button>
      </div>
      <br />
    </div>
  </div>
</div>


<!-- MODAL CLONADA-->
<p-dialog
  header="{{tituloModal}}"
  header="Header"
  [(visible)]="displayBasic"
  [style]="{width: '50vw'}"
  [draggable]="false"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <input [(ngModel)]="capacitacion.tema" type="hidden" class="form-control"/>
            <label class="label">Personal</label>
            <input
              [(ngModel)]="capacitacion.personaCapacitar"
              type="text"
              class="form-control"
              placeholder="Ingrese Personal"
              maxlength="100"
            />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Modalidad de Capacitación</label>
            <div class="form-control-selectk">
              <p-dropdown
                [options]="listParametro"
                optionLabel="valorPrimario"
                optionValue="valorSecundario"
                placeholder="Seleccione Modalidad"
                [(ngModel)]="parametro.valorSecundario"
              ></p-dropdown>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Lugar/Plataforma de Capacitación</label>
            <input
              [(ngModel)]="capacitacion.lugar"
              type="text"
              class="form-control"
              placeholder="Ingrese Lugar de Capacitación"
              maxlength="100"
            />
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label class="label">Tema o Actividad: {{capacitacion.tema}}</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder=""
              [(ngModel)]="tema"
              maxlength="100"
            />
            <div class="input-group-append">
              <button
                type="button"
                id="btnCargaShapeFile"
                (click)="agregarActividad()"
                class="btn btn-sm btn-secondary"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p-table [value]="temas">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 80px;">Acciones</th>
                <th>Tema o Actividad</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td class="text-center">
                  <span
                    class="pointer"
                    title="Eliminar"
                    (click)="eliminarTema($event,rowIndex,data)"
                  >
                    <i class="pi pi-trash"></i>
                  </span>
                </td>
                <td>{{data.actividad}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarParticipacion()"
      pButton
      pRipple
      type="button"
      [label]="'Aceptar'"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>