<div class="container-fluit">
  <div class="row m-0 mb-3">
    <!-- TITULO -->
    <div class="col-12">
      <h3 class="title">Épica 2.4 Fiscalización de Plantaciones Forestales</h3>
    </div>
    <!-- FILTROS -->
    <div class="col-12">
      <div class="panelk br10 p-3">
        <div class="row">
          <!-- INPUTS FILTRO -->
          <div class="col-12 col-sm-6 col-md-3 form-group">
            <label class="label">ID Solicitud Plantacción:</label>
            <input type="text" autocomplete="off" class="form-control" numero [maxlength]="8"
              [(ngModel)]="objbuscar.idSolicitudPlantacion" placeholder="Ingresar N° ID" />
          </div>
          <div class="col-12 col-sm-6 col-md-3 form-group">
            <label class="label">Tipo Modalidad:</label>
            <div class="form-control-selectk">
              <p-dropdown appendTo="body" [options]="comboTipoMod" placeholder="Seleccione" optionLabel="valorPrimario"
                optionValue="codigo" [(ngModel)]="objbuscar.tipoModalidad">
              </p-dropdown>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 form-group">
            <label class="label">Solicitante:</label>
            <input type="text" autocomplete="off" class="form-control" [(ngModel)]="objbuscar.nombreSolicitante"
              placeholder="Ingresar nombre o razón social" />
          </div>
          <div class="col-12 col-sm-6 col-md-3 form-group">
            <label class="label">N° Doc. Solicitante:</label>
            <input type="text" autocomplete="off" class="form-control" maxlength="11" numero
              [(ngModel)]="objbuscar.numeroDocumentoSolicitante" placeholder="Ingresar N° Doc." />
          </div>
          <!-- BOTONES FILTRO -->
          <div class="col-12 my-2 form-group text-center">
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnLimpiar()">Limpiar</button>
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnBuscar()">Buscar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- TABLA -->
    <div class="col-12 mt-4">
      <p-table [value]="ListaBandeja">
        <ng-template pTemplate="header">
          <tr>
            <th>ID Sol.</th>
            <th>Tipo Modalidad</th>
            <th>Solicitante</th>
            <th>N° Doc. Solicitante</th>
            <th>N° TH</th>
            <th>Fecha Registro</th>
            <th>Estado Solicitud</th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>{{ data.idSolicitudPlantacion }}</td>
            <td>{{ data.tipoModalidadTexto }}</td>
            <td>{{ data.nombreSolicitante }}</td>
            <td>{{ data.numeroDocumentoSolicitante }}</td>
            <td>{{ data.numeroTH }}</td>
            <td>{{ data.fechaRegistroTexto }}</td>
            <td>{{ data.estadoSolicitudTexto }}</td>
            <td>
              <span *ngIf="true" class="pointer mr-2" (click)="btnFiscalReq(data)"><i
                  class="pi pi-check-square" title=""></i></span>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)"
        [showCurrentPageReport]="true" currentPageReportTemplate="Total : {totalRecords} registros"
        [rowsPerPageOptions]="[10, 25, 50, 100]"></p-paginator>
    </div>
  </div>
</div>