<div class="container-fluit py-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="Lista de Trozas" [selected]="true">
          <div class="row m-0">
            <div class="col-12 col-sm-6 form-group">
              <label class="label">Plan Manejo:</label>
              <div class="form-control-selectk">
                <p-dropdown appendTo="body" [options]="comboPlanManejo" placeholder="Seleccione"
                  [(ngModel)]="requestTabla.idPlanManejo" optionLabel="nombrePlan" optionValue="idPlanManejo"
                  (ngModelChange)="changePlanManejo()">
                </p-dropdown>
              </div>
            </div>
            <!-- Tabla Trozas -->
            <div class="col-12 form-group mt-3">
              <label class="label">Listado de Trozas</label>
              <p-table [value]="listaTrozas" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
              currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]" [totalRecords]="listaTrozas.length">
                <ng-template pTemplate="header">
                  <tr>
                    <th>N° Lista Trozas</th>
                    <th>Titular</th>
                    <th>Código Plan Manejo</th>
                    <th>N° Resolución PM</th>
                    <th>N° Guía Transporte Forestal (GTF)</th>
                    <th>Emisión Guía</th>
                    <th>Volumen</th>
                    <th>Estado</th>
                    <th>Ver Detalle</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-fila>
                  <tr>
                    <td>{{fila.idListaTroza}}</td>
                    <td>{{fila.titular}}</td>
                    <td>{{fila.idPlanManejo}}</td>
                    <td>{{fila.numResolucion}}</td>
                    <td>{{fila.idGuiaTransForestal}}</td>
                    <td>{{fila.guiaEmision}}</td>
                    <td>{{fila.volumen}}</td>
                    <td>{{fila.estado}}</td>
                    <td>
                      <span class="pointer"><i class="pi pi-eye" title="Ver Detalle"
                        (click)="btnDetalleTroza(fila)"></i></span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <!--<p-paginator [rows]="10" [totalRecords]="totalRecordsTroza" (onPageChange)="loadDataTroza($event)"
                [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registros">
              </p-paginator>-->
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Lista de Productos">
          <div class="row m-0">
            <div class="col-12 col-sm-6 form-group">
              <label class="label">Plan Manejo:</label>
              <div class="form-control-selectk">
                <p-dropdown appendTo="body" [options]="comboPlanManejo" placeholder="Seleccione"
                [(ngModel)]="requestTabla1.idPlanManejo" optionLabel="nombrePlan" optionValue="idPlanManejo" 
                (ngModelChange)="changePlanManejo1()">
                </p-dropdown>
              </div>
            </div>
            <!-- Tabla Productos -->
            <div class="col-12 form-group">
              <label class="label">Lista de Productos Terminados</label>
              <p-table [value]="listaProductos" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
              currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]" (onPageChange)="loadDataProd($event)" [totalRecords]="listaProductos.length">
                <ng-template pTemplate="header" >
                  <tr>
                    <th>N° Lista</th>
                    <th>Código Lista</th>
                    <th>Cantidad Producto</th>
                    <th>N° Plan Manejo </th>
                    <th>Titular</th>
                    <th>Resolución</th>
                    <th>Ver Detalle</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-fila>
                  <tr>
                    <td>{{fila.idListaProductoTerminado}}</td>
                    <td>{{fila.codigoListaProductoTerminado}}</td>
                    <td>{{fila.cantidadProducto}}</td>
                    <td>{{fila.idPlanManejo}}</td>
                    <td>{{fila.titular}}</td>
                    <td>{{fila.resolucion}}</td>
                    <td>
                      <span class="pointer"><i class="pi pi-eye" title="Ver Detalle"
                        (click)="btnDetalleProducto(fila)"></i></span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <!--<p-paginator [rows]="10" [totalRecords]="totalRecordsProd" (onPageChange)="loadDataProd($event)"
                [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registros">
              </p-paginator>-->
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>