<div class="container-fluit py-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="2.1. Informe de Saneamiento Físico Legal" [selected]="true">
          <div class="row m-0 mt-3">
            <div class="col-12 col-sm-4 form-group">
              <label class="label">Cargar Reporte de Dirección Regional Agraria: *</label> <br>
            </div>
            <div class="col-12 col-sm-4 form-group">
              <app-carga-archivo-general [disabled]="disabledEval" accept=".pdf" [idArchivo]="adjunto2_1.idArchivo"
                [showMsjEliminar]="false" [tipoDoc]="adjunto2_1.tipoArchivo"
                (registrarArchivo)="registrarArchivo($event, adjunto2_1)"
                (eliminarArchivo)="eliminarArchivoNew($event, adjunto2_1)">
              </app-carga-archivo-general>
            </div>
          </div>

          <div class="row m-0 mt-3" *ngIf="!disabledEval">
            <div class="col-12">
              <button type="button" class="btn-primary2 ml-0" (click)="btnGuardarInfoSaneamiento()"
                [disabled]="adjunto2_1.idSolBosqueLocalArchivo > 0">
                Guardar
              </button>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="2.2. Visor de Superposición">
          <!-- <app-map-custom-sol-bosque-local #map [idPlanManejo]="idPlan" [showBotonCargarGeneral]="false"
            [showOnlyArea]="false" [showOnlyVertice]="false" [validaSuperposicionPlanificar]="false"
            [isDisbledFormu]="true" [showBotonGuardar]="false" [showValidSuperPos]="true">
          </app-map-custom-sol-bosque-local> -->
          <app-map-custom-sol-bosque-local #map [idPlanManejo]="idPlan" [showBotonCargarGeneral]="false"
            [codigoProceso]="codProceso" [codigoSubSeccion]="codTab2_2" [tipoArchivoArea]="codDocMapa1"
            [validaSuperposicionPlanificar]="true" [isAnexo]="true" [isDisbledFormu]="disabledEval" [showValidSuperPos]="!disabledEval" [isGuardarSuperposicion]="true"
            [showBotonGuardar]="!disabledEval">
          </app-map-custom-sol-bosque-local>
        </p-accordionTab>

        <p-accordionTab header="2.3 Decisión Final de Beneficiarios">
          <div class="row m-0">
            <div class="col-12 form-group">
              <div class="p-field-radiobutton">
                <strong for="favorable" class="label mr-2">Favorable</strong>
                <p-radioButton name="tipo" inputId="favorable" [value]="RADIO_EVAL.FAV" [disabled]="false"
                  [(ngModel)]="requestEvaluacion.tipo" [disabled]="disabledEval">
                </p-radioButton>
              </div>
              <div class="p-field-radiobutton">
                <strong for="nofavorable" class="label mr-2">No Favorable</strong>
                <p-radioButton name="tipo" inputId="nofavorable" [value]="RADIO_EVAL.NOFAV" [disabled]="false"
                  [(ngModel)]="requestEvaluacion.tipo" [disabled]="disabledEval">
                </p-radioButton>
              </div>
            </div>

            <ng-container *ngIf="requestEvaluacion.tipo === RADIO_EVAL.FAV">
              <div class="col-12 mb-4 form-group">
                <div>
                  <label class="label">Lista de Beneficiarios:</label>
                </div>
                <div style="overflow-x: auto;">
                  <p-table [value]="listaBeneficiarios" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                      <tr>
                        <th>Acciones</th>
                        <th>DNI</th>
                        <th>Nombres y Apellidos</th>
                        <th>Residencia Actual</th>
                        <th>Condición</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Carga Familiar</th>
                        <th>Actualiza Resid. Reniec</th>
                        <th>Certificado Residencia</th>
                        <th>Declar. Jurada (D.J.)</th>
                        <th>Tiene otras Solicitudes</th>
                        <th style="min-width: 300px;">Observaciones</th>
                        <ng-container *ngIf="isEstPub_Benef || showEstudioTec">
                          <th>Tiene Oposición</th>
                          <th style="min-width: 250px;">Archivo Oposición</th>
                        </ng-container>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-fila>
                      <tr>
                        <td>
                          <p-checkbox [binary]="true" [(ngModel)]="fila.flagListaFinal" [disabled]="disabledEval">
                          </p-checkbox>
                        </td>
                        <td>{{fila.numeroDocumento}}</td>
                        <td>{{fila.nombreCompleto}}</td>
                        <td>{{fila.residencia}}</td>
                        <td>{{fila.condicion}}</td>
                        <td>{{fila.telefono}}</td>
                        <td>{{fila.email}}</td>
                        <td>{{fila.cargaFamiliar}}</td>
                        <td>{{fila.flagActualizarResidencia ? 'SI': 'NO'}}</td>
                        <td>
                          <span *ngIf="fila.idCertificado" class="pointer mr-2" title="Descargar"
                            (click)="btnDescargarArchivoTabla(fila.idCertificado)"><i class="pi pi-download"></i></span>
                        </td>
                        <td>
                          <span *ngIf="fila.declaracionJurada" class="pointer mr-2" title="Descargar"
                            (click)="btnDescargarArchivoTabla(fila.declaracionJurada)"><i
                              class="pi pi-download"></i></span>
                        </td>
                        <td class="text-center">
                          <span title=""><i class="pi pi-circle-on" [style]="fila.flagTieneOtrasSolicitudes ? 'color: red;' : 'color: #34cb34;'"></i></span>
                        </td>
                        <span *ngIf="fila.flagListaFinal">
                          <td style="min-width: 300px;">
                            <textarea autocomplete="off" class="form-control" rows="3" maxlength="250" sinSpacioInit
                              [disabled]="fila.flagListaFinal || disabledEval">
                                            </textarea>
                          </td>
                        </span>
                        <span *ngIf="!fila.flagListaFinal">
                          <td style="min-width: 300px;">
                            <textarea autocomplete="off" class="form-control" rows="3" maxlength="250" sinSpacioInit
                              [(ngModel)]="fila.observaciones" [disabled]="fila.flagListaFinal"
                              [disabled]="disabledEval">
                                            </textarea>
                          </td>
                        </span>
                        <ng-container *ngIf="isEstPub_Benef || showEstudioTec">
                          <td class="text-center">
                            <p-checkbox [binary]="true" [(ngModel)]="fila.tieneOposicion"
                              [disabled]="!fila.flagListaFinal || showEstudioTec">
                            </p-checkbox>
                          </td>
                          <td style="min-width: 300px;">
                            <app-carga-archivo-general
                              [disabled]="!fila.flagListaFinal || !fila.tieneOposicion || showEstudioTec" accept=".pdf"
                              [idArchivo]="fila.idAdjuntoOposicion ? fila.idAdjuntoOposicion : 0"
                              [tipoDoc]="'TDOCBENOPOBL'" (registrarArchivo)="fila.idAdjuntoOposicion = $event"
                              (eliminarArchivo)="fila.idAdjuntoOposicion = 0" [ocultarNombre]="true">
                            </app-carga-archivo-general>
                          </td>
                        </ng-container>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>

              <div class="col-12 col-sm-7">
                <div><label class="label">&nbsp;</label></div>
                <button *ngIf="!showEstudioTec" type="button" class="btn-primary2 ml-0" (click)="btnGuardarDecisionFinal()" [disabled]="false">Guardar </button>
                <button class="btn btn-secondary mr-2" (click)="btnDescargarListaBenef()" [disabled]="showEstudioTec">Descargar Lista Beneficiarios</button>
                <button class="btn btn-secondary" (click)="btnDescargarIniciativaBL()" [disabled]="showEstudioTec">Descargar Iniciativa Bosque Local</button>
              </div>
              
              <div class="col-12 col-sm-5">
                <app-carga-archivo-general [disabled]="disabledEval" accept=".pdf" [idArchivo]="adjunto2_3_1.idArchivo"
                  [showMsjEliminar]="false" [tipoDoc]="adjunto2_3_1.tipoArchivo"
                  (registrarArchivo)="registrarArchivo($event, adjunto2_3_1)"
                  (eliminarArchivo)="eliminarArchivoNew($event, adjunto2_3_1)"
                  label="Lista Previa de Beneficiarios Firmado:">
                </app-carga-archivo-general>

                <div *ngIf="isEstPub_Benef || showEstudioTec">
                  <app-carga-archivo-general [disabled]="showEstudioTec" accept=".pdf"
                    [idArchivo]="adjunto2_3_2.idArchivo" [showMsjEliminar]="false" [tipoDoc]="adjunto2_3_2.tipoArchivo"
                    (registrarArchivo)="registrarArchivo($event, adjunto2_3_2)"
                    (eliminarArchivo)="eliminarArchivoNew($event, adjunto2_3_2)"
                    label="Lista Final de Beneficiarios Firmado:">
                  </app-carga-archivo-general>
                </div>
              </div>
            </ng-container>

            <div *ngIf="requestEvaluacion.tipo === RADIO_EVAL.NOFAV" class="col-12 col-sm-6 form-group">
              <app-carga-archivo-general accept=".pdf" [idArchivo]="adjunto2_3_3.idArchivo" [showMsjEliminar]="false"
                [tipoDoc]="adjunto2_3_3.tipoArchivo" label="Cargar Reporte de Evaluación: *"
                (registrarArchivo)="registrarArchivo($event, adjunto2_3_3)"
                (eliminarArchivo)="eliminarArchivoNew($event, adjunto2_3_3)" [disabled]="disabledEval">
              </app-carga-archivo-general>

              <div *ngIf="!disabledEval">
                <button type="button" class="btn-primary2 ml-0" (click)="btnGuardarDecisionFinal()" [disabled]="false">
                  Guardar
                </button>
              </div>
            </div>
          </div>
        </p-accordionTab>
        
        <p-accordionTab header="2.4. Envio de Información">
          <div class="row m-0 mt-3">
            <div class="col-12 form-group"><label class="label">Envío a Municipios y ARFFS</label></div>
            <div class="col-12 text-right mb-2">
              <button class="btn btn-sm btn-default button-more" type="button" title="Agregar"
                (click)="openModalEnvioMunicipio('C', null)" [disabled]="disabledEval"><i
                  class="pi pi-plus"></i></button>
            </div>
            <div class="col-12 form-group">
              <p-table [value]="listaEnvioMunicipios">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Acciones</th>
                    <th>Documentos</th>
                    <th>Descargar</th>
                    <th>Municipio</th>
                    <th>Comentarios</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td>
                      <span *ngIf="!disabledEval" class="pointer" title="Eliminar"
                        (click)="btnEliminarDocumento($event, data.idSolBosqueLocalArchivo, rowIndex)"><i
                          class="pi pi-trash"></i></span>
                    </td>
                    <td>{{data.nombreArchivo}}</td>
                    <td><span class="pointer mr-2" title="Descargar" (click)="btnDescargarDocumentoMunicipio(data.idArchivo)"><i class="pi pi-download"></i></span></td>
                    <td>{{data.distritoMunicipio}}</td>
                    <td>{{data.observacion}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <p-dialog header="{{ tituloModalEnvioMunicipio }}" [(visible)]="verModalEnvioMunicipio" [modal]="true"
            [style]="{ width: '30vw' }" [maximizable]="false" [baseZIndex]="10000" [draggable]="false"
            [resizable]="true" appendTo="body">
            <ng-template pTemplate="content">
              <div class="row">
                <div class="col-12 col-sm-12 form-group">
                  <label class="label">Documento: (*)</label>
                  <app-carga-archivo-general accept=".pdf" [idArchivo]="requestInfoMunicipio.idArchivo"
                    [tipoDoc]="requestInfoMunicipio.tipoArchivo"
                    (registrarArchivo)="registrarArchivo($event, requestInfoMunicipio)"
                    (registrarArchivoFile)="registrarArchivoFile($event, requestInfoMunicipio)"
                    (eliminarArchivo)="eliminarArchivoIniciativa($event, 5)">
                  </app-carga-archivo-general>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-sm-12 form-group">
                  <label class="label">Departamento: (*)</label>
                  <div class="form-control-selectk">
                    <p-dropdown [(ngModel)]="requestInfoMunicipio.idDepartamento" [options]="lstDepartamentos"
                      optionValue="idDepartamento" optionLabel="nombreDepartamento" (onChange)="selectDPD('d')"
                      [disabled]="disabledEval" placeholder="Seleccione">
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-12 col-sm-12 form-group">
                  <label class="label">Provincia: (*)</label>
                  <div class="form-control-selectk">
                    <p-dropdown [(ngModel)]="requestInfoMunicipio.idProvincia" [options]="lstProvincias"
                      optionValue="idProvincia" optionLabel="nombreProvincia" (onChange)="selectDPD('p')"
                      [disabled]="disabledEval" placeholder="Seleccione">
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-12 col-sm-12 form-group">
                  <label class="label">Municipio: (*)</label>
                  <div class="form-control-selectk">
                    <p-dropdown [(ngModel)]="requestInfoMunicipio.codigoUbigeo" [options]="lstDistritos"
                      optionValue="codDistrito" optionLabel="nombreDistrito" (onChange)="selectDPD('dd')"
                      [disabled]="disabledEval" placeholder="Seleccione">
                    </p-dropdown>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-sm-12 form-group">
                  <label class="label">Comentarios:</label>
                  <div>
                    <textarea autocomplete="off" cols="3" rows="5" [(ngModel)]="requestInfoMunicipio.comentarios"
                      class="form-control" maxlength="100" placeholder="Ingrese Comentarios"></textarea>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="footer">
              <button icon="pi pi-save" (click)="btnGuardarInfoMunicipio()" pButton pRipple type="button"
                label="Guardar" class="p-button-success p-button-outlined" style="width: 106px"></button>
              <button icon="pi pi-times" (click)="verModalEnvioMunicipio = false" pButton pRipple type="button"
                label="Cancelar" class="p-button-danger p-button-outlined" style="width: 106px"></button>
            </ng-template>
          </p-dialog>
        </p-accordionTab>

        <p-accordionTab header="2.5. Reporte de Evaluación" *ngIf="isEstPub_Benef || showEstudioTec">
          <div class="row m-0 mt-3">
            <div class="col-12 col-sm-6 form-group">
              <app-carga-archivo-general accept=".pdf" [idArchivo]="adjunto2_5.idArchivo" [disabled]="showEstudioTec"
                [showMsjEliminar]="false" [tipoDoc]="adjunto2_5.tipoArchivo"
                (registrarArchivo)="registrarArchivo($event, adjunto2_5)"
                (eliminarArchivo)="eliminarArchivoNew($event, adjunto2_5)"
                label="Cargar Reporte de Evaluación: *">
              </app-carga-archivo-general>
            </div>
          </div>
          <div class="row m-0 mt-3" *ngIf="!showEstudioTec">
            <div class="col-12">
              <button type="button" class="btn-primary2 ml-0" (click)="btnGuardarReporteEval()"
                [disabled]="adjunto2_5.idSolBosqueLocalArchivo > 0">
                Guardar
              </button>
            </div>
          </div>
        </p-accordionTab>

      </p-accordion>
    </div>

    <div class="col-12 mt-4">
      <button *ngIf="isEstEval_Benef" type="button" class="btn-primary2 ml-0" (click)="btnEnviarMunicipioArffs($event)"
        [disabled]="false">
        Enviar a Municipios y a ARFFS
      </button>
      <button *ngIf="isEstPub_Benef" type="button" class="btn-primary2 ml-0" (click)="btnEnviarListaFinal()"
        [disabled]="false">
        Finalizar Lista de Beneficiarios
      </button>
    </div>
  </div>
</div>