<div class="col-12">
  <div class="col-12 pt-2 text-right">
    <button
      icon="pi pi-plus"
      (click)="openModalEspecies('Registrar Especie')"
      pButton
      pRipple
      type="button"
      abel=""
      class="p-button-success p-button-text button-more"
    ></button>
  </div>

  <div class="row col-12">
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Actividad</label>
      <input
        type="text"
        autocomplete="off"
        maxlength="100"
        class="form-control contents_form_input"
        [(ngModel)]="antecedentesObjt.comunidad"
        [disabled]="config.data.edit == 'true'"
      />
    </div>
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Identificación de conflictos</label>
      <input
        type="text"
        autocomplete="off"
        maxlength="100"
        class="form-control contents_form_input"
        [(ngModel)]="antecedentesObjt.distrito"
        
      />
    </div>

  </div>

  <div class="row col-12">

    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Propuestas de solución al conflicto</label>
      <input
        type="text"
        autocomplete="off"
        maxlength="100"
        class="form-control contents_form_input"
        [(ngModel)]="antecedentesObjt.departamento"
        
      />
    </div>
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Observaciones</label>
      <textarea
        maxlength="100"
        rows="4"
        class="form-control"
        [(ngModel)]="antecedentesObjt.provincia"
        
      >
      </textarea>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">
      <p-table [value]="antecedentesObjt.listInformacionBasicaDet">
        <ng-template pTemplate="header">
          <tr>
            <th>No.</th>
            <th>Especie</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-rowIndex='rowIndex'>
          <tr>
            <td>{{ rowIndex+1}}</td>
            <td>{{ product.actividad }}</td>

          </tr>
        </ng-template>
      </p-table>
    </div>


  </div>
  <!-- <div class="col-12 mt-3" style="display: flex; justify-content: end;">
    <button class="btn btn-sm btn-secondary" (click)="agregar()">Guardar</button>
  </div> -->

</div>
<div class="d-flex justify-content-end">
  <button
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
   label="Aceptar"
    class="p-button-success p-button-outlined"
    style="width: 106px"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
    style="width: 106px"
  ></button>
</div>

<p-toast></p-toast>
