
<div class="row m-0">
  <div class="col-12">
    <p-table [value]="comboListPlanesOperativos">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 50px" [hidden]="invalid"></th>
          <th>N° Plan</th>
          <th>N° Resolución</th>
          <th>Nombre Plan</th>
          <th>Tipo Plan</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td [hidden]="invalid">
            <p-radioButton
              [value]="data"
              [(ngModel)]="selectedValues"
            >
            </p-radioButton>
          </td>
          <td>{{ data.nroGestion }}</td>
          <td>{{ data.resolucion }}</td>
          <td>{{ data.nombrePlan }}</td>
          <td>{{ data.tipoPlan }}</td>
        </tr>
      </ng-template>
    </p-table>

    <p-paginator
      [rows]="10"
      [totalRecords]="totalRecords"
      (onPageChange)="loadData($event)"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Total : {totalRecords} registros"
      [rowsPerPageOptions]="[10, 25, 50]"
    >
    </p-paginator>
  </div>
</div>

<div class="d-flex justify-content-end" [hidden]="invalid">
  <button
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
    label="Aceptar"
    class="p-button-success p-button-outlined"
    style="width: 106px"
    [disabled]="comboListPlanesOperativos.length == 0"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
    style="width: 106px"
  ></button>
</div>
<p-toast></p-toast>
<p-toast position="top-right" key="tml"></p-toast>
