<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="5.1. Fauna silvestre" [selected]="true">
          <tabla-fauna-silvestre
            [idPlanManejo]="idPlanManejo" [disabled]="disabled"
          ></tabla-fauna-silvestre>
        </p-accordionTab>

        <p-accordionTab header="5.2. Tipos de bosques">
          <div class="col-12">
            <div class="row mb-2">
              <div class="col-12 col-sm-12 text-right" *ngIf="listaBosque.length > 0">
                <button
                  (click)="eliminarTiposBosque($event)"
                  pButton
                  pRipple
                  type="button"
                  title=""
                  class="p-button-success p-button-text button-more"
                  [disabled]="disabled"
                >
                  <i class="pi pi-times" style="font-size: 1.2rem"></i>
                </button>
              </div>
            </div>
            <div class="mt-2">
              <tabla-tipo-bosque
                [idPlanManejo]="idPlanManejo"
                [listaBosque]="listaBosque"
                [totalAreaBosque]="totalAreaBosque"
                [totalPorcentajeBosque]="totalPorcentajeBosque"
                [isVisible]="true"
                [disabled]="disabled"
              >
              </tabla-tipo-bosque>
              <!-- <p-table
                #tblTipoBosque
                [value]="listaBosque"
                [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registros"
                [rowsPerPageOptions]="[10, 25, 50]"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th>Tipo Bosque</th>
                    <th>Área (ha)</th>
                    <th>%</th>
                    <th>Descripción</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td>{{ data.vertice }}. {{ data.nombreUF }}</td>
                    <td>{{ data.area }}</td>
                    <td>{{ data.porcentaje }}</td>
                    <td>
                      <textarea
                        maxlength="250"
                        rows="1"
                        class="form-control"
                        [(ngModel)]="data.des"
                      ></textarea>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                  <tr>
                    <td class="p-text-right">Total</td>
                    <td>{{ totalAreaBosque }}</td>
                    <td>{{ totalPorcentajeBosque }}</td>
                    <td></td>
                  </tr>
                </ng-template>
              </p-table> -->
              <div class="step__btn mt-4 mb-2">
                <button
                  type="submit"
                  class="btn-primary2"
                  (click)="registrarTiposBosque()"
                  [disabled]="disabled||listaBosque.length == 0"
                >
                  Guardar
                </button>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon_5"
            [base]="detEvaluacion_5"
          >

          </evaluacion-archivo-shared>
        </p-accordionTab>

      </p-accordion>

      <div class="step__btn mt-4 mb-4">
        <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="registrarEvaluacion()">
          Guardar Evaluación
        </button>
        <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">
          Retornar Flujo Evaluacion
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
