h3 {
  margin-top: 20px;
}
.gh-layers {
  height: 350px;
  overflow: auto;
  scroll-behavior: smooth;
}
.acciones {
  width: 100px;
  min-width: 80px;
}

.table-body {
  min-width: 120px;
}

:host ::ng-deep .p-rowgroup-footer td {
  font-weight: 700;
}

:host ::ng-deep .p-rowgroup-header {
  span {
    font-weight: 700;
  }

  .p-row-toggler {
    vertical-align: middle;
    margin-right: 0.25rem;
  }
}
