<div class="container-fluid pt-4">
  <p-confirmPopup></p-confirmPopup>

  <div class="row">
    <div class="col-12">
      <p-accordion (onOpen)="onTabOpen($event)">
        <p-accordionTab
          header="4.1. Acreditación del Territorio Comunal"
          [selected]="true"
        >
          <div class="row">
            <div class="col-12">
              <table #tblAcreditacionComunal>
                <thead>
                  <tr>
                    <th>Tipo de Documento</th>
                    <th>Número</th>
                    <th colspan="2">Superficie (ha)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      {{ infoBasicaDet_4_1.referencia }}
                      <!-- <input
                        [(ngModel)]="infoBasicaDet_4_1.referencia"
                        type="text"
                        maxlength="50"
                        class="form-control"
                        [disabled]="isPerfilArffs"
                        placeholder="Ingrese tipo Documento"
                      /> -->
                    </td>
                    <td>
                      {{ infoBasicaDet_4_1.descripcion }}
                      <!-- <input
                        maxlength="250"
                        [(ngModel)]="infoBasicaDet_4_1.descripcion"
                        type="text"
                        class="form-control"
                        [disabled]="isPerfilArffs"
                        placeholder="Ingrese número de Documento"
                      /> -->
                    </td>
                    <td colspan="1">
                      {{ infoBasicaDet_4_1.observaciones }}
                      <!-- <input
                        [(ngModel)]="infoBasicaDet_4_1.observaciones"
                        type="text"
                        maxlength="50"
                        class="form-control"
                        [disabled]="isPerfilArffs"
                      /> -->
                    </td>
                    <td colspan="1">
                      {{ infoBasicaDet_4_1.areaHa }}
                      <!-- <input
                        [(ngModel)]="infoBasicaDet_4_1.areaHa"
                        type="number"
                        decimal
                        [min]="0"
                        [maxLength]="4"
                        [decimalPlaces]="2"
                        class="form-control"
                        [disabled]="isPerfilArffs"
                        placeholder="Ingrese Superficie"
                      /> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <br />
          <button
            [disabled]="disabled || isPerfilArffs"
            class="btn-primary2"
            (click)="registrarAcreditacion()"
          >
            Guardar
          </button>
          <br />
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeonAcreditacion"
            [base]="evaluacionAcreditacion"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
        <p-accordionTab header="4.2. Ubicación Política">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-4 col-sm-4">
                  <div class="form-group">
                    <label class="label">Departamento</label>
                    <div class="form-control-selectk">
                      <p-dropdown
                        [disabled]="disabled||isPerfilArffs"
                        [options]="listDepartamento"
                        [(ngModel)]="infoBasica_4_2.idDepartamento"
                        optionLabel="nombreDepartamento"
                        optionValue="idDepartamento"
                        (onChange)="onSelectedProvincia($event)"
                        placeholder="Seleccione"
                      ></p-dropdown>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-4">
                  <div class="form-group">
                    <label class="label">Provincia</label>
                    <div class="form-control-selectk">
                      <p-dropdown
                        [disabled]="disabled||isPerfilArffs || !listProvincia.length"
                        [options]="listProvincia"
                        [(ngModel)]="infoBasica_4_2.idProvincia"
                        optionLabel="nombreProvincia"
                        optionValue="idProvincia"
                        (onChange)="onSelectedDistrito($event)"
                        placeholder="Seleccione"
                      ></p-dropdown>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-4">
                  <div class="form-group">
                    <label class="label">Distrito</label>
                    <div class="form-control-selectk">
                      <p-dropdown
                        [disabled]="disabled||isPerfilArffs || !listDistrito.length"
                        [options]="listDistrito"
                        [(ngModel)]="infoBasica_4_2.idDistrito"
                        optionLabel="nombreDistrito"
                        optionValue="idDistrito"
                        placeholder="Seleccione"
                      ></p-dropdown>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-12 col-sm-3">
                  <div class="form-group">
                    <label class="label">Cuenca/Sub cuenca</label>
                    <input
                      type="text"
                      [disabled]="isPerfilArffs"
                      class="form-control"
                      [(ngModel)]="infoBasica_4_2.cuenca"
                    />
                  </div>
                </div> -->
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label class="label">Cuenca</label>
                    <div class="form-control-selectk">
                      <p-dropdown
                        [options]="listCuenca"
                        [(ngModel)]="idCuenca"
                        optionLabel="cuenca" [disabled]="disabled"
                        optionValue="idCuenca"
                        (onChange)="onSelectedCuenca($event)"
                        placeholder="Seleccione"
                      ></p-dropdown>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label class="label">Subcuenca</label>
                    <div class="form-control-selectk">
                      <p-dropdown
                        [options]="listSubcuenca"
                        [(ngModel)]="idSubcuenca"
                        optionLabel="subCuenca"
                        optionValue="idSubCuenca"
                        placeholder="Seleccione"
                        [disabled]="disabled||!listSubcuenca.length"
                      ></p-dropdown>
                    </div>
                  </div>
                </div>
              </div>
              <div class="step__btn mt-4 mb_2">
                <button
                  type="submit"
                  class="btn-primary2"
                  (click)="registrarUbicacionPolitica()"
                  [disabled]="disabled || isPerfilArffs"
                >
                  Guardar
                </button>
              </div>
            </div>
          </div>

          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeonUbicacionPolitica"
            [base]="evaluacionUbicacionPolitica"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
        <p-accordionTab header="4.3. Coordenadas UTM del Área a Manejar">
          <div class="row m-0 pt-2">
            <div class="col-12 col-sm-8 p-0">
              <div class="f-w mb-2 mapa-content">
                <div class="mapa" #map></div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div
                class="d-grid gap-2 d-md-block mb-2"
                style="display: flex !important"
              >
                <button
                  type="button" [disabled]="disabled"
                  (click)="fileInputSHP.click()"
                  class="btn-secondary width-full"
                >
                  Cargar shape file
                  <input
                    #fileInputSHP
                    type="file"
                    (change)="
                      onChangeFileSHP($event, false, 'TPPARC', 'PGMFAIBAMCUAM')
                    "
                    style="display: none"
                  />
                </button>
              </div>
              <div class="card gh-layers">
                <div class="card-header py-0 pt-2 pb-2">
                  Capas
                  <span title="Guardar Capa" class="pointer pr-1 float-right">
                    <i
                      class="pi pi-save"
                      aria-hidden="true"
                      (click)="!disabled&&onGuardarLayer()"
                    ></i>
                  </span>
                </div>
                <ul class="list-group">
                  <li
                    *ngFor="let item of _layers"
                    class="list-group-item p-0 d-flex"
                  >
                    <input
                      class="ml-1 mr-1 pointer"
                      type="checkbox"
                      [checked]="true" [disabled]="disabled"
                      (change)="toggleLayer(item.idLayer, $event)"
                    />

                    <label
                      class="m-0 p-0 text-left pointer gh-label"
                      style="flex: 2"
                      [ngStyle]="{ color: item.color }"
                      >{{ item.nombre }}
                      <span
                        class="pointer pr-1"
                        title="{{
                          item.overlap ? 'Capa Superpuesta' : 'Capa contenida'
                        }} "
                      >
                        <i
                          class="{{
                            item.overlap
                              ? 'pi pi-info-circle color-red'
                              : 'pi pi-check-circle color-green'
                          }}"
                          *ngIf="item.service"
                          aria-hidden="true"
                        ></i>
                      </span>
                    </label>

                    <div class="d-flex">
                      <span class="mr-2 pointer">
                        <i
                          class="pi pi-download"
                          *ngIf="!item.service && item.inServer == true"
                          aria-hidden="true"
                          (click)="onDownloadFileSHP(item?.codigo)"
                        ></i>
                      </span>
                      <span class="pointer pr-1">
                        <i
                          class="pi pi-trash"
                          aria-hidden="true"
                          *ngIf="!item.service && item.idLayer"
                          (click)="!disabled&&!isPerfilArffs && onRemoveFileSHP(item)"
                        ></i>
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <mat-tab-group animationDuration="0ms">
            <mat-tab label="4.3.1. Área de Manejo Continua">
              <tabla-area-manejo-continua
                [listCoordinatesAnexo]="listCoordinatesAnexo1"
                [usuario]="usuario"
                [idPlanManejo]="idPlanManejo"
                [idInfBasica]="idInfBasica"
                [disabled]="disabled || isPerfilArffs"
              >
              </tabla-area-manejo-continua>
            </mat-tab>
            <mat-tab
              label="4.3.2. Área de Manejo Dividida en Anexos o Sectores"
            >
              <tabla-area-manejo-dividida
                [listCoordinatesAnexo]="listCoordinatesAnexo2"
                [usuario]="usuario"
                [idPlanManejo]="idPlanManejo"
                [disabled]="disabled || isPerfilArffs"
              >
              </tabla-area-manejo-dividida>
            </mat-tab>
          </mat-tab-group>
          <br />
          <br />
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeonCoordenadasUTM"
            [base]="evaluacionCoordenadasUTM"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
        <p-accordionTab header="4.4. Accesibilidad">
          <div class="row m-0 pt-4">
            <div class="col-12 col-sm-2">
              <div class="p-field-radiobutton">
                <p-radioButton
                  [disabled]="disabled||isPerfilArffs"
                  name="esTerrestre"
                  value="Terrestre"
                  [(ngModel)]="infoBasica_4_4.cuenca"
                  inputId="metodoApp1"

                ></p-radioButton>
                <label class="pointer"> Terrestre</label>
              </div>
            </div>
            <div class="col-12 col-sm-2">
              <div class="p-field-radiobutton">
                <p-radioButton
                  [disabled]="disabled||isPerfilArffs"
                  name="esTerrestre"
                  value="Fluvial"
                  [(ngModel)]="infoBasica_4_4.cuenca"
                  inputId="metodoApp2"
                ></p-radioButton>
                <label class="pointer"> Fluvial</label>
              </div>
            </div>
          </div>

          <div class="col-2 col-sm-12 text-right">
            <button
              [disabled]="disabled||isPerfilArffs"
              (click)="
                agregarDetalle(codigoAcordeonAccesibilidad, codigoTabla1)
              "
              class="btn btn-sm btn-default button-more mb-2"
              type="button"
              title="Agregar"
            >
              <i class="pi pi-plus"></i>
            </button>
          </div>
          <p-table
            [value]="listInfoBasicaDet_4_4_1"
            class="table-justify"
            [scrollable]="true"
            [style]="{ width: '100%' }"
          >
            <ng-template pTemplate="header">
              <tr>
                <th class="acciones">Acciones</th>
                <th class="table-body">Anexo o sector</th>
                <th class="table-body">Subparcela</th>
                <th class="table-body">Punto de referencia (carretera, etc)</th>
                <th class="table-body">Vía</th>
                <th class="table-body">Distancia (Km)</th>
                <th class="table-body">Tiempo (horas)</th>
                <th class="table-body">Tipo de vehículo</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td class="acciones">
                  <span
                    class="pointer mr-1"
                    title="Eliminar"
                    (click)="!disabled&&
                      !isPerfilArffs &&
                        eliminarItemInformacionAreaManejo(
                          $event,
                          data,
                          rowIndex,
                          codigoAcordeonAccesibilidad,
                          codigoTabla1
                        )
                    "
                  >
                    <i class="pi pi-trash"></i>
                  </span>
                </td>
                <td class="table-body">
                  <input
                    [(ngModel)]="data.descripcion"
                    maxlength="100" [disabled]="disabled"
                    type="text"
                    class="form-control"
                    placeholder="Ingrese Anexo"
                  />
                </td>
                <td class="table-body">
                  <input
                    [(ngModel)]="data.puntoVertice"
                    maxlength="50"
                    type="text" [disabled]="disabled"
                    class="form-control"
                    placeholder="Ingrese Subparcela"
                  />
                </td>
                <td class="table-body">
                  <input
                    [(ngModel)]="data.referencia"
                    maxlength="50" [disabled]="disabled"
                    type="text"
                    class="form-control"
                    placeholder="Ingrese Punto Referencia"
                  />
                </td>
                <td class="table-body">
                  <input
                    [(ngModel)]="data.medioTransporte"
                    maxlength="50"
                    type="text" [disabled]="disabled"
                    class="form-control"
                    placeholder="Ingrese Vía"
                  />
                </td>
                <td class="table-body">
                  <input
                    [(ngModel)]="data.distanciaKm"
                    
                    decimal
                    [min]="1" 
                    [disabled]="disabled"
                    [maxLength]="4"
                    [decimalPlaces]="2"
                    class="form-control"
                    placeholder="Ingrese Distancia en Km"
                    maxlength="4"
                  />
                </td>
                <td class="table-body">
                  <input
                    [(ngModel)]="data.tiempo"
                    
                    decimal
                    [min]="1"  
                    [disabled]="disabled"
                    [maxLength]="4"
                    [decimalPlaces]="2"
                    class="form-control"
                    placeholder="Ingrese Tiempo en Horas"
                    maxlength="4"
                  />
                </td>
                <td class="table-body">
                  <input
                    [(ngModel)]="data.zonaVida"
                    maxlength="100" [disabled]="disabled"
                    type="text"
                    class="form-control"
                    placeholder="Ingrese Tipo de Vehículo"
                  />
                </td>
              </tr>
            </ng-template>
          </p-table>

          <!--
          <tabla-matriz-accesibilidad
            [accesibilidadList]="accesibilidadList"
            [usuario]="usuario"
            [idAcceManejo]="idAcceManejo"
            [disabled]="disabled"
          ></tabla-matriz-accesibilidad>-->

          <br />

          <div class="row mt-2">
            <div class="col-12">
              <div class="col-12">
                <h3 class="title2">
                  Indicar si es necesaria la construcción de caminos de acceso
                  para conectar el o las área(s) de manejo forestal con los
                  sistemas fluviales o terrestres
                </h3>
              </div>

              <br />

              <div class="col-2 col-sm-12 text-right">
                <button
                  (click)="agregarDetalle(codigoAcordeonAccesibilidad, codigoTabla2)"
                  class="btn btn-sm btn-default button-more mb-2"
                  type="button"
                  title="Agregar"
                  [disabled]="disabled || isPerfilArffs"
                >
                  <i class="pi pi-plus"></i>
                </button>
              </div>

              <p-table [value]="listInfoBasicaDet_4_4_2">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 80px">Acciones</th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td>
                      <!--<span class="pointer" title="Eliminar" (click)="eliminarAccesibilidadDescripcion($event,data)">
                        <i class="pi pi-trash"></i>
                      </span>-->
                      <span
                        class="pointer"
                        title="Eliminar"
                        (click)="!disabled&&
                          !isPerfilArffs &&
                            eliminarItemInformacionAreaManejo(
                              $event,
                              data,
                              rowIndex,
                              codigoAcordeonAccesibilidad,
                              codigoTabla2
                            )
                        "
                      >
                        <i class="pi pi-trash"></i>
                      </span>
                    </td>
                    <td>
                      <input
                        [(ngModel)]="data.descripcion"
                        maxlength="250"
                        type="text" [disabled]="disabled"
                        class="form-control"
                        placeholder="Ingrese Descripción"
                      />
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <br />
            <div class="mt-3">
              <button
                type="submit"
                class="btn-primary2"
                (click)="registrarAccesibilidad()"
                [disabled]="disabled || isPerfilArffs"
              >
                Guardar
              </button>
            </div>
          </div>
          <br />
          <br />
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeonAccesibilidad"
            [base]="evaluacionAccesibilidad"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
        <p-accordionTab header="4.5. Aspectos Físicos">
          <mat-tab-group
            animationDuration="0ms"
            [selectedIndex]="tabIndex"
            (selectedIndexChange)="informChange($event)"
          >
            <!-- HIDROGRAFIA -->
            <mat-tab>
              <ng-template mat-tab-label>
                <span class="text-center">4.5.1 Hidrografía</span>
              </ng-template>

              <ng-template matTabContent>
                <!-- <div class="col-12">
                  <h3 class="title2">a) Hidrografía</h3>
                </div> -->

                <div class="col-2 col-sm-12 text-right mt-4 mb-2">
                  <button
                    class="btn btn-sm btn-default button-more mb-2"
                    type="button"
                    title="Agregar"
                    (click)="
                      agregarDetalle(
                        codigoAcordeonAspectosFisicos,
                        codigoTabla1
                      )
                    "
                    [disabled]="disabled || isPerfilArffs"
                  >
                    <i class="pi pi-plus"></i>
                  </button>
                </div>
                <p-table [value]="listInfoBasicaDet_4_5_1">
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 40px">Acciones</th>
                      <th>Ríos (Principales y Secundarios)</th>
                      <th>Quebradas</th>
                      <th>Lagunas (cochas)</th>
                    </tr>
                  </ng-template>
                  <ng-template
                    pTemplate="body"
                    let-data
                    let-rowIndex="rowIndex"
                  >
                    <tr>
                      <td>
                        <span
                          class="pointer mr-1"
                          title="Eliminar"
                          (click)="!disabled&&
                            !isPerfilArffs &&
                              eliminarItemInformacionAreaManejo(
                                $event,
                                data,
                                rowIndex,
                                codigoAcordeonAspectosFisicos,
                                codigoTabla1
                              )
                          "
                        >
                          <i class="pi pi-trash"></i>
                        </span>
                      </td>
                      <td>
                        <div class="form-control-selectk">
                          <p-dropdown
                            appendTo="body"
                            
                            [(ngModel)]="data.idRios"
                            [options]="cmbRios" [disabled]="disabled"
                            optionLabel="descripcion"
                            optionValue="idHidrografia"
                            placeholder="Seleccionar"
                          ></p-dropdown>
                        </div>
                      </td>
                      <td>
                        <input
                          [(ngModel)]="data.nombreQuebrada"
                          type="text" [disabled]="disabled"
                          class="form-control"
                          placeholder="Ingrese quebrada"
                          maxlength="100"
                        />
                      </td>
                      <td>
                        <input
                          [(ngModel)]="data.nombreLaguna"
                          type="text" [disabled]="disabled"
                          class="form-control"
                          placeholder="Ingrese laguna"
                          maxlength="100"
                        />
                      </td>
                    </tr>
                  </ng-template>
                </p-table>

                <div class="mt-4">
                  <button
                    type="submit"
                    class="btn-primary2"
                    (click)="registrarAspectosFisicos(listInfoBasicaDet_4_5_1)"
                    [disabled]="disabled || isPerfilArffs"
                  >
                    Guardar
                  </button>
                </div>
              </ng-template>
            </mat-tab>

            <!-- FISIOGRAFIA -->
            <mat-tab>
              <ng-template mat-tab-label>
                <span class="text-center">4.5.2 Fisiografía</span>
              </ng-template>

              <ng-template matTabContent>
                <!-- <div class="col-12">
                  <h3 class="title2">b) Fisiografía</h3>
                </div> -->

                <div class="col-2 col-sm-12 text-right mt-4 mb-2">
                  <button
                    class="btn btn-sm btn-default button-more mb-2"
                    type="button"
                    title="Agregar"
                    (click)="
                      agregarDetalle(
                        codigoAcordeonAspectosFisicos,
                        codigoTabla2
                      )
                    "
                    [disabled]="disabled || isPerfilArffs"
                  >
                    <i class="pi pi-plus"></i>
                  </button>
                </div>

                <!-- <p-table
                  [value]="listInfoBasicaDet_4_5_2"
                  sortField="observaciones"
                  sortMode="single"
                  [scrollable]="true"
                  rowGroupMode="subheader"
                  groupRowsBy="observaciones"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 40px">Acciones</th>
                      <th>Unidades Fisiográficas</th>
                      <th>Especificaciones (pendiente/altura)</th>
                      <th>Área aproximada (ha)</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="groupheader" let-data>
                    <tr pRowGroupHeader>
                      <td colspan="4">
                        {{ data.observaciones }}
                      </td>
                    </tr>
                  </ng-template>

                  <ng-template
                    pTemplate="body"
                    let-data
                    let-rowIndex="rowIndex"
                  >
                    <tr>
                      <td>
                        <span
                          class="pointer mr-1"
                          title="Eliminar"
                          (click)="
                            !isPerfilArffs &&
                              eliminarItemInformacionAreaManejo(
                                $event,
                                data,
                                rowIndex,
                                codigoAcordeonAspectosFisicos,
                                codigoTabla2
                              )
                          "
                        >
                          <i class="pi pi-trash"></i>
                        </span>
                      </td>
                      <td>
                        <input
                          [(ngModel)]="data.referencia"
                          maxlength="50"
                          type="text"
                          class="form-control"
                          placeholder="Ingrese unidad fisiográfica"
                        />
                      </td>
                      <td>
                        <input
                          [(ngModel)]="data.descripcion"
                          maxlength="250"
                          type="text"
                          class="form-control"
                          placeholder="Ingrese especificación"
                        />
                      </td>
                      <td>
                        <input
                          [(ngModel)]="data.areaHa"
                          type="number"
                          decimal
                          [min]="0"
                          [maxLength]="4"
                          [decimalPlaces]="2"
                          class="form-control"
                          placeholder="Ingrese área"
                        />
                      </td>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="footer">
                    <tr>
                      <td class="text-left"><b>Total</b></td>
                      <td></td>
                      <td></td>
                      <td>{{ totalArea | number: "1.2-3" }}</td>
                    </tr>
                  </ng-template>
                </p-table> -->

                <table class="table table-boderk">
                  <thead>
                    <tr>
                      <th>Acciones</th>
                      <th>Unidades Fisiográficas</th>
                      <th>Especificaciones (pendiente/altura)</th>
                      <th>Área aproximada (ha)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="4" style="text-align: start">
                        1. Sistemas de Llanuras
                      </td>
                    </tr>

                    <tr
                      *ngFor="
                        let data of listInfoBasicaDet_4_5_2;
                        index as rowIndex
                      "
                    >
                      <td
                        *ngIf="data.observaciones === '1. Sistemas de Llanuras'"
                      >
                        <span
                          class="pointer mr-1"
                          title="Eliminar"
                          (click)="!disabled&&
                            !isPerfilArffs &&
                              eliminarItemInformacionAreaManejo(
                                $event,
                                data,
                                rowIndex,
                                codigoAcordeonAspectosFisicos,
                                codigoTabla2
                              )
                          "
                        >
                          <i class="pi pi-trash"></i>
                        </span>
                      </td>
                      <td
                        *ngIf="data.observaciones === '1. Sistemas de Llanuras'"
                      >
                        <input
                          [(ngModel)]="data.referencia"
                          maxlength="50"
                          type="text"
                          class="form-control"
                          placeholder="Ingrese unidad fisiográfica"
                        />
                      </td>
                      <td
                        *ngIf="data.observaciones === '1. Sistemas de Llanuras'"
                      >
                        <input
                          [(ngModel)]="data.descripcion"
                          maxlength="250"
                          type="text"
                          class="form-control"
                          placeholder="Ingrese especificación"
                        />
                      </td>
                      <td
                        *ngIf="data.observaciones === '1. Sistemas de Llanuras'"
                      >
                        <input
                          [(ngModel)]="data.areaHa"
                          type="number"
                          decimal
                          [min]="0"
                          [maxLength]="4"
                          [decimalPlaces]="2"
                          class="form-control"
                          placeholder="Ingrese área"
                        />
                      </td>
                    </tr>

                    <tr>
                      <td colspan="4" style="text-align: start">
                        2. Sistemas de Colinas
                      </td>
                    </tr>

                    <tr
                      *ngFor="
                        let data of listInfoBasicaDet_4_5_2;
                        index as rowIndex
                      "
                    >
                      <td
                        *ngIf="data.observaciones === '2. Sistemas de Colinas'"
                      >
                        <span
                          class="pointer mr-1"
                          title="Eliminar"
                          (click)="!disabled&&
                            !isPerfilArffs &&
                              eliminarItemInformacionAreaManejo(
                                $event,
                                data,
                                rowIndex,
                                codigoAcordeonAspectosFisicos,
                                codigoTabla2
                              )
                          "
                        >
                          <i class="pi pi-trash"></i>
                        </span>
                      </td>
                      <td
                        *ngIf="data.observaciones === '2. Sistemas de Colinas'"
                      >
                        <input
                          [(ngModel)]="data.referencia"
                          maxlength="50"
                          type="text"[disabled]="disabled"
                          class="form-control"
                          placeholder="Ingrese unidad fisiográfica"
                        />
                      </td>
                      <td
                        *ngIf="data.observaciones === '2. Sistemas de Colinas'"
                      >
                        <input
                          [(ngModel)]="data.descripcion"
                          maxlength="250" [disabled]="disabled"
                          type="text"
                          class="form-control"
                          placeholder="Ingrese especificación"
                        />
                      </td>
                      <td
                        *ngIf="data.observaciones === '2. Sistemas de Colinas'"
                      >
                        <input
                          [(ngModel)]="data.areaHa"
                          type="number"
                          decimal [disabled]="disabled"
                          [min]="0"
                          [maxLength]="4"
                          [decimalPlaces]="2"
                          class="form-control"
                          placeholder="Ingrese área"
                        />
                      </td>
                    </tr>

                    <tr>
                      <td colspan="4" style="text-align: start">
                        3. Otros Especificar
                      </td>
                    </tr>

                    <tr
                      *ngFor="
                        let data of listInfoBasicaDet_4_5_2;
                        index as rowIndex
                      "
                    >
                      <td *ngIf="data.observaciones === '3. Otros Especificar'">
                        <span
                          class="pointer mr-1"
                          title="Eliminar"
                          (click)="!disabled&&
                            !isPerfilArffs &&
                              eliminarItemInformacionAreaManejo(
                                $event,
                                data,
                                rowIndex,
                                codigoAcordeonAspectosFisicos,
                                codigoTabla2
                              )
                          "
                        >
                          <i class="pi pi-trash"></i>
                        </span>
                      </td>
                      <td *ngIf="data.observaciones === '3. Otros Especificar'">
                        <input
                          [(ngModel)]="data.referencia"
                          maxlength="50" [disabled]="disabled"
                          type="text"
                          class="form-control"
                          placeholder="Ingrese unidad fisiográfica"
                        />
                      </td>
                      <td *ngIf="data.observaciones === '3. Otros Especificar'">
                        <input
                          [(ngModel)]="data.descripcion"
                          maxlength="250"
                          type="text" [disabled]="disabled"
                          class="form-control"
                          placeholder="Ingrese especificación"
                        />
                      </td>
                      <td *ngIf="data.observaciones === '3. Otros Especificar'">
                        <input
                          [(ngModel)]="data.areaHa"
                          type="number"
                          decimal [disabled]="disabled"
                          [min]="0"
                          [maxLength]="4"
                          [decimalPlaces]="2"
                          class="form-control"
                          placeholder="Ingrese área"
                        />
                      </td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr style="background: #dfe0ea80">
                      <td class="text-left"><b>Total</b></td>
                      <td></td>

                      <td></td>
                      <td>{{ totalArea | number: "1.2-3" }}</td>
                    </tr>
                  </tbody>
                </table>

                <div class="mt-4">
                  <button
                    type="submit"
                    class="btn-primary2"
                    (click)="registrarAspectosFisicos(listInfoBasicaDet_4_5_2)"
                    [disabled]="disabled || isPerfilArffs"
                  >
                    Guardar
                  </button>
                </div>
              </ng-template>
            </mat-tab>
          </mat-tab-group>

          <br />
          <br />
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeonAspectosFisicos"
            [base]="evaluacionAspectosFisicos"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
        <p-accordionTab header="4.6. Aspectos Biológicos">
          <tabla-fauna-silvestre
            [idPlanManejo]="idPlanManejo"
            [disabled]="disabled || isPerfilArffs"
          ></tabla-fauna-silvestre>

          <br />
          <br />

          <div class="col-12">
            <h3 class="title2">4.6.2 Cuadro de Tipo de bosque</h3>
            <app-map-custom
              [idPlanManejo]="idPlanManejo"
              [codigoProceso]="'PGMFAIBAM'"
              [codigoSubSeccion]="'PGMFAIBAMABTB'" [disabled]="disabled"
              [tipoGeometria]="'TPAREA'"
              [identificarBosque]="true"
              [validaSuperposicionAprovechar]="true"
              (listTipoBosque)="listarTipoBosque($event)"
            ></app-map-custom>
            <div class="col-12 col-sm-12 text-right" *ngIf="listaBosque.length > 0">
              <br />
              <button
                class="btn btn-sm btn-default mb-2"
                type="button"
                title="Eliminar Lista" [disabled]="disabled"
                (click)="eliminarTiposBosque($event)"
              >
                <i class="pi pi-times"></i>
              </button>
              <br />
            </div>
            <div class="">
              <div style="padding: 15px">
                <p-table
                  #tblTipoBosque
                  [value]="listaBosque"
                  [paginator]="true"
                  [rows]="10"
                  [showCurrentPageReport]="true"
                  currentPageReportTemplate="Total : {totalRecords} registros"
                  [rowsPerPageOptions]="[10, 25, 50]"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Tipo Bosque</th>
                      <th>SubParcela</th>
                      <th>Descripción</th>
                      <th>Área (ha)</th>
                      <th>%</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                    <tr *ngFor="let d of data.tipoBosque">
                      <td>{{rowIndex+1}}. {{ d.descripcion }}</td>
                      <td>
                        <input
                          type="text" [disabled]="disabled"
                          class="form-control form-control-sm"
                          id="inputSubPC"
                          [(ngModel)]="d.subPc"
                        />
                      </td>
                      <td>
                        <input
                        type="text" [disabled]="disabled"
                        class="form-control form-control-sm"
                        id="inputNroPc"
                        [(ngModel)]="d.des"
                      />
                      </td>
                      <td>{{ d.areaHA }}</td>
                      <td>{{ d.areaHAPorcentaje }}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <tr>
                      <td colspan="2" class="p-text-right">Total</td>
                      <td></td>
                      <td>{{ totalAreaBosque }}</td>
                      <td>{{ totalPorcentajeBosque }}</td>
                    </tr>
                  </ng-template>
                </p-table>
                <div class="mt-4">
                  <button
                    type="submit"
                    class="btn-primary2"
                    (click)="registrarTiposBosque()"
                    [disabled]="disabled || isPerfilArffs"
                  >
                    Guardar
                  </button>
                </div>
              </div>
            </div>
          </div>

          <br />

          <!--    <div class="col-12 pt-2 text-right">
            <button
              icon="pi pi-plus"
              (click)="abrirModalTipoBosque()"
              pButton
              pRipple
              type="button"
              abel=""
              class="p-button-success p-button-text button-more"
              [disabled]="disabled || isPerfilArffs"
            ></button>
          </div> -->

          <!-- <p-table [value]="listInfoBasicaDet_4_6_3">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 40px">Acciones</th>
                <th>Nombre Científico</th>
                <th>Región</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td>
                  <span
                    class="pointer mr-1"
                    title="Eliminar"
                    (click)="
                      !isPerfilArffs &&
                        eliminarItemInformacionAreaManejo(
                          $event,
                          data,
                          rowIndex,
                          codigoAcordeonAspectosBiologicos,
                          codigoTabla3
                        )
                    "
                  >
                    <i class="pi pi-trash"></i>
                  </span>
                </td>
                <td>{{ data.descripcion }}</td>
                <td>{{ data.zonaVida }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td class="p-text-right">Total:</td>
                <td><span></span></td>
                <td>{{ listInfoBasicaDet_4_6_3.length }}</td>
              </tr>
            </ng-template>
          </p-table> -->
          <br />
          <!-- <div class="mt-3">
            <button
              type="submit"
              class="btn-primary2"
              (click)="registrarTipoBosque()"
              [disabled]="disabled || isPerfilArffs"
            >
              Guardar
            </button>
          </div> -->

          <!--<p-table [value]="listInfoBasicaDet_4_6_3">
              <ng-template pTemplate="header">
                <tr>
                  <th>Anexo o Sectores</th>
                  <th>Subparcela</th>
                  <th>Tipo Bosque</th>
                  <th>Área (ha)</th>
                  <th>%</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr>
                  <td [attr.rowspan]="data.detalle.length + 1">
                    {{data.anexoSector}}
                  </td>
                </tr>

                <tr *ngFor="let item of data.detalle">
                  <td>{{item.subparcela}}</td>
                  <td>{{item.tipoBosque}}</td>
                  <td>{{item.area}}</td>
                  <td>{{item.porcentaje}}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td colspan="3" class="p-text-right">Total</td>
                  <td>{{totalAreaTipoBosque}}</td>
                  <td>{{totalPorcentajeTipoBosque}}</td>
                </tr>
              </ng-template>
            </p-table>
            -->

          <br />
          <br />
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeonAspectosBiologicos"
            [base]="evaluacionAspectosBiologicos"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
        <p-accordionTab header="4.7. Aspectos Socioeconómicos">
          <mat-tab-group
            animationDuration="0ms"
            [selectedIndex]="tabIndex2"
            (selectedIndexChange)="informChange2($event)"
          >
            <mat-tab>
              <ng-template mat-tab-label>
                <span class="text-center"
                  >4.7.1. Caracterización de la comunidad</span
                >
              </ng-template>

              <ng-template matTabContent>
                <div class="row col-12 mt-4">
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label class="label">N° de personas empadronadas</label>
                      <input
                        type="number"
                        [min]="0"
                        class="form-control"
                        [disabled]="disabled||isPerfilArffs"
                        [(ngModel)]="infoBasicaDet_4_7_cab.idFlora"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label class="label">N° de personas que trabajan</label>
                      <input
                        type="number"
                        [min]="0"
                        class="form-control"
                        [disabled]="disabled||isPerfilArffs"
                        [(ngModel)]="infoBasicaDet_4_7_cab.idFauna"
                      />
                    </div>
                  </div>
                </div>

                <div class="row m-0 mb-4">
                  <div class="col-12">
                    <div class="col-2 col-sm-12 text-right mb-2">
                      <button
                        (click)="!disabled&&
                          agregarDetalle(
                            codigoAcordeonAspectosSocioeconomico,
                            codigoTabla1
                          )
                        "
                        class="btn btn-sm btn-default button-more mb-2"
                        type="button"
                        [disabled]="disabled || isPerfilArffs"
                        title="Agregar"
                      >
                        <i class="pi pi-plus"></i>
                      </button>
                    </div>

                    <p-table [value]="listInfoBasicaDet_4_7_1">
                      <ng-template pTemplate="header">
                        <tr>
                          <th style="width: 80px">Acciones</th>
                          <th>Principales Actividades Económicas</th>
                          <th class="text-center"></th>
                        </tr>
                      </ng-template>
                      <ng-template
                        pTemplate="body"
                        let-data
                        let-rowIndex="rowIndex"
                      >
                        <tr>
                          <td>
                            <span
                              class="pointer mr-1"
                              title="Eliminar"
                              (click)="!disabled&&
                                !isPerfilArffs &&
                                  eliminarItemInformacionAreaManejo(
                                    $event,
                                    data,
                                    rowIndex,
                                    codigoAcordeonAspectosSocioeconomico,
                                    codigoTabla1
                                  )
                              "
                            >
                              <i class="pi pi-trash"></i>
                            </span>
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              maxlength="250"
                              placeholder="Ingrese una actividad"
                              [(ngModel)]="data.descripcion"
                              [disabled]="disabled||!data.isEdit"
                            />
                          </td>
                          <td class="text-center">
                            <div class="p-field-checkbox">
                              <p-checkbox
                                [(ngModel)]="data.isEdit" [disabled]="disabled"
                                [binary]="true"
                              ></p-checkbox>
                            </div>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                    <br />
                  </div>
                </div>

                <button
                  class="btn-primary2"
                  [disabled]="disabled"
                  (click)="
                    registrarAspectosSocieconomicos(listInfoBasicaDet_4_7_1)
                  "
                >
                  Guardar
                </button>
              </ng-template></mat-tab
            >

            <mat-tab>
              <ng-template mat-tab-label>
                <span class="text-center">
                  4.7.2. Infraestructura de servicios
                </span>
              </ng-template>

              <ng-template matTabContent>
                <div class="row m-0 pt-3 mt-4">
                  <div class="col-12 mb-4">
                    <div class="col-2 col-sm-12 text-right mb-2">
                      <button
                        (click)="
                          agregarDetalle(
                            codigoAcordeonAspectosSocioeconomico,
                            codigoTabla2
                          )
                        "
                        class="btn btn-sm btn-default button-more mb-2"
                        type="button"
                        title="Agregar"
                        [disabled]="disabled || isPerfilArffs"
                      >
                        <i class="pi pi-plus"></i>
                      </button>
                    </div>
                    <p-table
                      [value]="listInfoBasicaDet_4_7_2"
                      [showCurrentPageReport]="true"
                    >
                      <ng-template pTemplate="header">
                        <tr>
                          <th style="width: 40px">Acciones</th>
                          <th>Infraestructura</th>
                          <th></th>
                          <th>Este</th>
                          <th>Norte</th>
                          <th>Zona UTM</th>
                          <th>Referencia</th>
                        </tr>
                      </ng-template>
                      <ng-template
                        pTemplate="body"
                        let-data
                        let-rowIndex="rowIndex"
                      >
                        <tr>
                          <td>
                            <span
                              class="pointer mr-1"
                              title="Eliminar"
                              (click)="!disabled&&
                                !isPerfilArffs &&
                                  eliminarItemInformacionAreaManejo(
                                    $event,
                                    data,
                                    rowIndex,
                                    codigoAcordeonAspectosSocioeconomico,
                                    codigoTabla2
                                  )
                              "
                            >
                              <i class="pi pi-trash"></i>
                            </span>
                          </td>
                          <td>
                            <input
                              pInputText
                              maxlength="250"
                              class="form-control"
                              placeholder="Ingrese Infraestructura"
                              [disabled]="disabled||!data.isEdit"
                              [(ngModel)]="data.descripcion"
                            />
                          </td>
                          <td>
                            <div class="p-field-checkbox">
                              <p-checkbox
                                [(ngModel)]="data.isEdit"
                                [binary]="true"
                                [disabled]="disabled||isPerfilArffs"
                              ></p-checkbox>
                            </div>
                          </td>

                          <td>
                            <input
                              
                              decimal
                              [min]="0"
                              [maxLength]="4"
                              [decimalPlaces]="2"
                              class="form-control"
                              placeholder="Ingrese Este"
                              [disabled]="disabled||!data.isEdit"
                              [(ngModel)]="data.coordenadaEsteIni"
                            />
                          </td>
                          <td>
                            <input
                              
                              decimal
                              [min]="0"
                              [maxLength]="4"
                              [decimalPlaces]="2"
                              class="form-control"
                              placeholder="Ingrese Norte"
                              [disabled]="disabled||!data.isEdit"
                              [(ngModel)]="data.coordenadaNorteIni"
                            />
                          </td>
                          <td>
                            <input
                              pInputText
                              class="form-control"
                              maxlength="250"
                              placeholder="Ingrese Zona UTM"
                              [disabled]="disabled||!data.isEdit"
                              [(ngModel)]="data.zonaVida"
                            />
                          </td>
                          <td>
                            <input
                              pInputText
                              class="form-control"
                              maxlength="50"
                              placeholder="Ingrese Referencia"
                              [disabled]="disabled||!data.isEdit"
                              [(ngModel)]="data.referencia"
                            />
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                    <br />
                  </div>
                </div>

                <button
                  class="btn-primary2"
                  [disabled]="disabled"
                  (click)="
                    registrarAspectosSocieconomicos(listInfoBasicaDet_4_7_2)
                  "
                >
                  Guardar
                </button>
              </ng-template>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <span class="text-center">
                  4.7.3. Antecedentes de uso del bosque e identificación de
                  conflictos
                </span>
              </ng-template>

              <ng-template matTabContent>
                <mat-tab-group
                  animationDuration="0ms"
                  [selectedIndex]="tabIndex3"
                  (selectedIndexChange)="informChange3($event)"
                >
                  <mat-tab>
                    <ng-template mat-tab-label>
                      <span class="text-center"> a) Antecedentes de uso </span>
                    </ng-template>

                    <ng-template matTabContent>
                      <div class="col-2 col-sm-12 text-right mt-4">
                        <button
                          (click)="
                            agregarDetalle(
                              codigoAcordeonAspectosSocioeconomico,
                              codigoTabla3
                            )
                          "
                          class="btn btn-sm btn-default button-more mb-2"
                          type="button"
                          title="Agregar"
                          [disabled]="disabled || isPerfilArffs"
                        >
                          <i class="pi pi-plus"></i>
                        </button>
                      </div>

                      <div class="row m-0 pt-3">
                        <div class="col-12">
                          <p-table
                            [value]="listInfoBasicaDet_4_7_3"
                            [showCurrentPageReport]="true"
                          >
                            <ng-template pTemplate="header">
                              <tr>
                                <th style="width: 80px">Acciones</th>
                                <th>Actividades</th>
                                <th class="text-center"></th>
                                <th>Especies Extraídas</th>
                                <th>Observaciones</th>
                              </tr>
                            </ng-template>
                            <ng-template
                              pTemplate="body"
                              let-data
                              let-rowIndex="rowIndex"
                            >
                              <tr>
                                <td>
                                  <span
                                    class="pointer mr-1"
                                    title="Eliminar"
                                    (click)="!disabled&&
                                      !isPerfilArffs &&
                                        eliminarItemInformacionAreaManejo(
                                          $event,
                                          data,
                                          rowIndex,
                                          codigoAcordeonAspectosSocioeconomico,
                                          codigoTabla3
                                        )
                                    "
                                  >
                                    <i class="pi pi-trash"></i>
                                  </span>
                                </td>
                                <td>
                                  <input
                                    pInputText
                                    class="form-control"
                                    maxlength="250"
                                    [disabled]="disabled||!data.isEdit"
                                    placeholder="Ingrese actividades"
                                    [(ngModel)]="data.descripcion"
                                  />
                                </td>
                                <td>
                                  <div class="p-field-checkbox">
                                    <p-checkbox
                                      [(ngModel)]="data.isEdit"
                                      [binary]="true"
                                      [disabled]="disabled||isPerfilArffs"
                                    ></p-checkbox>
                                  </div>
                                </td>

                                <td>
                                  <input
                                    pInputText
                                    class="form-control"
                                    [disabled]="disabled||!data.isEdit"
                                    placeholder="Ingrese especies extraidas"
                                    [(ngModel)]="data.nombreLaguna"
                                  />
                                </td>
                                <td>
                                  <input
                                    pInputText
                                    class="form-control"
                                    maxlength="50"
                                    [disabled]="disabled||!data.isEdit"
                                    placeholder="Ingrese observaciones"
                                    [(ngModel)]="data.referencia"
                                  />
                                </td>
                              </tr>
                            </ng-template>
                          </p-table>

                          <br />
                        </div>
                      </div>
                      <br />
                      <br />
                      <button
                        class="btn-primary2"
                        [disabled]="disabled"
                        (click)="registrarAspectosSocieconomicos( listInfoBasicaDet_4_7_3)"
                      >
                        Guardar
                      </button>
                      <br />
                    </ng-template>
                  </mat-tab>

                  <mat-tab>
                    <ng-template mat-tab-label>
                      <span class="text-center">
                        b) Identificación de conflictos de uso de los recursos
                        forestales</span
                      >
                    </ng-template>

                    <ng-template matTabContent>
                      <div class="col-2 col-sm-12 text-right mt-4 mb-2">
                        <button
                          (click)="
                            agregarDetalle(
                              codigoAcordeonAspectosSocioeconomico,
                              codigoTabla4
                            )
                          "
                          class="btn btn-sm btn-default button-more mb-2"
                          type="button"
                          title="Agregar"
                          [disabled]="disabled || isPerfilArffs"
                        >
                          <i class="pi pi-plus"></i>
                        </button>
                      </div>
                      <div class="col-12">
                        <p-table [value]="listInfoBasicaDet_4_7_4">
                          <ng-template pTemplate="header">
                            <tr>
                              <th style="width: 80px">Acciones</th>
                              <th>Conflicto</th>
                              <th>Propuesta de solución</th>
                            </tr>
                          </ng-template>
                          <ng-template
                            pTemplate="body"
                            let-data
                            let-rowIndex="rowIndex"
                          >
                            <tr>
                              <td class="text-center">
                                <span
                                  class="pointer mr-1"
                                  title="Eliminar"
                                  (click)="!disabled&&
                                    !isPerfilArffs &&
                                      eliminarItemInformacionAreaManejo(
                                        $event,
                                        data,
                                        rowIndex,
                                        codigoAcordeonAspectosSocioeconomico,
                                        codigoTabla4
                                      )
                                  "
                                >
                                  <i class="pi pi-trash"></i>
                                </span>
                              </td>
                              <td>
                                <input
                                  pInputText
                                  maxlength="250" [disabled]="disabled"
                                  class="form-control"
                                  placeholder="Ingrese conflicto"
                                  [(ngModel)]="data.descripcion"
                                />
                              </td>

                              <td>
                                <input
                                  pInputText
                                  class="form-control"
                                  maxlength="50" [disabled]="disabled"
                                  placeholder="Ingrese una propuesta de solución"
                                  [(ngModel)]="data.referencia"
                                />
                              </td>
                              <!-- <td>
                                <div class="p-field-checkbox">
                                  <p-checkbox
                                    [(ngModel)]="data.isEdit"
                                    [binary]="true"
                                    [disabled]="isPerfilArffs"
                                  ></p-checkbox>
                                </div>
                              </td> -->
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>

                      <br />
                      <br />
                      <button
                        class="btn-primary2"
                        [disabled]="disabled"
                        (click)="
                          registrarAspectosSocieconomicos(
                            listInfoBasicaDet_4_7_4
                          )
                        "
                      >
                        Guardar
                      </button>
                      <br />
                    </ng-template>
                  </mat-tab>
                </mat-tab-group>
              </ng-template>
            </mat-tab>
          </mat-tab-group>

          <!-- <br />
          <br />
          <button
            class="btn-primary2"
            [disabled]="disabled"
            (click)="registrarAspectosSocieconomicos()"
          >
            Guardar
          </button>
          <br /> -->

          <br />
          <br />
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeonAspectosSocioeconomico"
            [base]="evaluacionAspectosSocioeconomico"
            *ngIf="isPerfilArffs"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4">
        <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button
          *ngIf="isPerfilArffs"
          class="btn-primary2"
          (click)="registrarEvaluacion()"
        >
          Guardar Evaluación
        </button>
        <button  *ngIf="isPerfilArffs" class="btn-primary2" (click)="retornarFlujoEvaluacion()">
          Retornar Flujo Evaluacion
        </button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
      <br />
    </div>
  </div>
</div>

<p-dialog
  header="{{
    editConflictos
      ? 'Editar Conflicto Forestal'
      : 'Registrar Conflicto Forestal'
  }}"
  header="Header"
  [(visible)]="displayModalConflictos"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Conflicto</label>
            <input
              [(ngModel)]="conflicto.conflicto"
              type="text"
              class="form-control"
              placeholder="Ingrese Conflicto"
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Propuesta de solución</label>
            <input
              [(ngModel)]="conflicto.solucion"
              type="text"
              class="form-control"
              placeholder="Ingrese Propuesta"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="agregarConflicto()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModalConflicto()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Tipos de Bosque"
  appendTo="body"
  [(visible)]="verModalBosque"
  [modal]="true"
  [style]="{ width: '60vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row m-0">
      <div class="col-12 col-sm-9">
        <div class="form-group">
          <label class="label">Nombre Científico </label>
          <div class="form-control-selectk">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar..."
              [(ngModel)]="queryBosque"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="form-group">
          <label class="label">&nbsp;&nbsp;</label>
          <div class="text-center">
            <button
              type="button"
              class="btn-primary2"
              (click)="filtrarBosque()"
            >
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12">
        <p-table
          [value]="comboListBosques"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} "
          [rowsPerPageOptions]="[10, 25, 50]"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 50px"></th>
              <th>Nombre Científico</th>
              <th>Region</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>
                <p-checkbox
                  name="bosque"
                  [value]="data"
                  [(ngModel)]="selectedValues"
                >
                </p-checkbox>
              </td>
              <td>{{ data.descripcion }}</td>
              <td>{{ data.region }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="guardarBosqueDesdeModal()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verModalBosque = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog
  [style]="{ width: '300px' }"
  key="deleteFileSHP"
></p-confirmDialog>
