<div class="col-12">
  <div class="row col-12">
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Actividades</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="finesMaderablesObjt.actividades"
      />
    </div>
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Descripcion del sistema a utilizar</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="finesMaderablesObjt.descripcionDeSistema"
      />
    </div>
  </div>

  <div class="row col-12">
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Personal requerido</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="finesMaderablesObjt.persona"
      />
    </div>
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Maquinaria</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control contents_form_input"
        [(ngModel)]="finesMaderablesObjt.maquinaria"
      />
    </div>
  </div>

  <div class="row col-12">
    <div class="col-6 form-group">
      <label for="medidasMonitoreo">Observaciones</label>
      <textarea
        maxlength="200"
        rows="4"
        class="form-control"
        [(ngModel)]="finesMaderablesObjt.observaciones"
      >
      </textarea>
    </div>
  </div>

  <div class="col-12">
    <button class="btn btn-sm btn-secondary" (click)="agregar()">Enviar</button>
  </div>
</div>
<p-toast position="bottom-center" key="tl"></p-toast>
