.class1::before{
    content: 'Pendiente';
    color: rgb(226, 226, 37);
    font-weight: bold;
}
.class2::before {
    content: 'Observado';
    color: red;
    font-weight: bold;
}
.class3::before{
    content: 'Evaluado';
    color: #4a962c;
    font-weight: bold;
}

ul {
  list-style: none;
}

ul li{
  display: inline-block;
}
