<p-fieldset legend="Datos del Otorgamiento" [toggleable]="true">
  <!-- <div class="row col-12 justify-content-end p-2" *ngIf="enabledHabilitarContinuar || dataBase.disabled">
    <span [ngClass]="{ 'class1': isPending == true,'class2': isObserved == true, 'class3':isValid == true}"></span>
    <button class="btn btn-sm btn-primary2" (click)="openModalAnexos()" >Evaluar</button>
  </div> -->
  <div class="row m-0">
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Código único</label>
        <input
          [(ngModel)]="solicitud.idSolicitud"
          type="text"
          autocomplete="off"
          class="form-control"
        />
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="codigoUnico1" class="mr-2">Aprobado</label>
                <p-radioButton
                  [(ngModel)]="codigoUnicoAprobado"
                  name="codigoUnico"
                  [value]="true"
                  inputId="codigoUnico1"
                ></p-radioButton>
              </div>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="codigoUnico2" class="mr-2">Observado</label>
                <p-radioButton
                  [(ngModel)]="codigoUnicoAprobado"
                  name="codigoUnico"
                  [value]="false"
                  inputId="codigoUnico2"
                >
                </p-radioButton>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Estado Solicitud</label>
        <div class="form-control-selectk">
          <p-dropdown
            [(ngModel)]="solicitud.idSolicitud"
            [options]="lstEstado"
            optionLabel="valor1"
            optionValue="codigo"
          ></p-dropdown>
        </div>
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="estadoSolicitudAprobado1" class="mr-2"
                  >Aprobado</label
                >
                <p-radioButton
                  [(ngModel)]="estadoSolicitudAprobado"
                  name="estadoSolicitudAprobado"
                  [value]="true"
                  inputId="estadoSolicitudAprobado1"
                ></p-radioButton>
              </div>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="estadoSolicitudAprobad2" class="mr-2"
                  >Observado</label
                >
                <p-radioButton
                  [(ngModel)]="estadoSolicitudAprobado"
                  name="estadoSolicitudAprobado"
                  [value]="false"
                  inputId="estadoSolicitudAprobad2"
                >
                </p-radioButton>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row m-0">
    <!-- <div class="col-12 col-sm-4" *ngIf="dataBase.disabled">
      <div class="form-group">
        <label class="label">Declaracion Jurada</label>
        <div class="input-group">
          <input type="text" class="form-control" [disabled]="true" [(ngModel)]="this.archivoDeclaracionJurada">
          <div class="input-group-append">
            <button type="button" id="btnCargarFile1" class="btn btn-sm btn-secondary" (click)="onFileDowlandDC()"
              [disabled]="archivoDeclaracionJurada == '' ">
              Descargar archivo<input type="button" style="display:none;" />
            </button>
          </div>
        </div>
      </div>
    </div> -->
    <!-- *ngIf="!dataBase.disabled" -->
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Declaracion Jurada</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="archivoDeclaracionJurada"
          />
          <div class="input-group-append">
            <button
              type="button"
              id="btnCargarFile"
              (click)="fileInput.click()"
              class="btn btn-sm btn-secondary"
              [disabled]="enabledControlOtorgamiento == 'true'"
            >
              Cargar archivo<input
                #fileInput
                type="file"
                (change)="onFileSelectedDC($event)"
                style="display: none"
              />
            </button>
          </div>
        </div>
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="declaracionJuradaAprobado1" class="mr-2"
                  >Aprobado</label
                >
                <p-radioButton
                  [(ngModel)]="declaracionJuradaAprobado"
                  name="declaracionJuradaAprobado"
                  [value]="true"
                  inputId="declaracionJuradaAprobado1"
                ></p-radioButton>
              </div>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="declaracionJuradaAprobado2" class="mr-2"
                  >Observado</label
                >
                <p-radioButton
                  [(ngModel)]="declaracionJuradaAprobado"
                  name="declaracionJuradaAprobado"
                  [value]="false"
                  inputId="declaracionJuradaAprobado2"
                >
                </p-radioButton>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Número de RUC</label>
        <div class="input-group">
          <input
            maxlength="50"
            type="text"
            class="form-control"
            [disabled]="
              dataBase.disabled || enabledControlOtorgamiento == 'true'
            "
            [(ngModel)]="solicitud.nroRucEmpresa"
            placeholder="Ingresar Nro. de RUC"
          />
          <div class="input-group-append">
            <button
              type="button"
              [ngClass]="validaSunatClass"
              (click)="validaRuc()"
              [disabled]="
                dataBase.disabled || enabledControlOtorgamiento == 'true'
              "
            >
              Validar Sunat<input type="button" style="display: none" />
            </button>
          </div>
        </div>
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="nroRucEmpresaAprobado1" class="mr-2"
                  >Aprobado</label
                >
                <p-radioButton
                  [(ngModel)]="nroRucEmpresaAprobado"
                  name="nroRucEmpresaAprobado"
                  [value]="true"
                  inputId="nroRucEmpresaAprobado1"
                ></p-radioButton>
              </div>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="nroRucEmpresaAprobado2" class="mr-2"
                  >Observado</label
                >
                <p-radioButton
                  [(ngModel)]="nroRucEmpresaAprobado"
                  name="nroRucEmpresaAprobado"
                  [value]="false"
                  inputId="nroRucEmpresaAprobado2"
                >
                </p-radioButton>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-12 col-sm-4"></div>

    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Número de Título de Propiedad</label>
        <input
          type="text"
          autocomplete="off"
          class="form-control"
          [(ngModel)]="solicitud.nroPropiedad"
          placeholder="Ingresar Nro. Título de Propiedad"
        />
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="nroPropiedadAprobado1" class="mr-2">Aprobado</label>
                <p-radioButton
                  [(ngModel)]="nroPropiedadAprobado"
                  name="nroPropiedadAprobado"
                  [value]="true"
                  inputId="nroPropiedadAprobado1"
                ></p-radioButton>
              </div>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="nroPropiedadAprobado2" class="mr-2"
                  >Observado</label
                >
                <p-radioButton
                  [(ngModel)]="nroPropiedadAprobado"
                  name="nroPropiedadAprobado"
                  [value]="false"
                  inputId="nroPropiedadAprobado2"
                >
                </p-radioButton>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- <div class="col-12 col-sm-4" *ngIf="dataBase.disabled">
      <div class="form-group">
        <label class="label">Título de Propiedad</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" [disabled]="true" [(ngModel)]="archivoTituloPropiedad">
          <div class="input-group-append">
            <button type="button" id="btnCargarFile2" class="btn btn-sm btn-secondary" (click)="onFileDowlandTP()"
              [disabled]="archivoTituloPropiedad == ''">
              Descargar archivo<input type="button" style="display:none;" />
            </button>
          </div>
        </div>
      </div>
    </div> -->
    <!-- *ngIf="!dataBase.disabled" -->
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Título de Propiedad</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="archivoTituloPropiedad"
          />
          <div class="input-group-append">
            <button
              type="button"
              id="btnCargarFile"
              (click)="fileInput.click()"
              class="btn btn-sm btn-secondary"
              [disabled]="enabledControlOtorgamiento == 'true'"
            >
              Cargar archivo<input
                #fileInput
                type="file"
                (change)="onFileSelectedTP($event)"
                style="display: none"
              />
            </button>
          </div>
        </div>
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="archivoTituloPropiedadAprobado1" class="mr-2"
                  >Aprobado</label
                >
                <p-radioButton
                  [(ngModel)]="archivoTituloPropiedadAprobado"
                  name="archivoTituloPropiedadAprobado"
                  [value]="true"
                  inputId="archivoTituloPropiedadAprobado1"
                ></p-radioButton>
              </div>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="archivoTituloPropiedadAprobado2" class="mr-2"
                  >Observado</label
                >
                <p-radioButton
                  [(ngModel)]="archivoTituloPropiedadAprobado"
                  name="archivoTituloPropiedadAprobado"
                  [value]="false"
                  inputId="archivoTituloPropiedadAprobado2"
                >
                </p-radioButton>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Numero de Partida Registral</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            [disabled]="
              dataBase.disabled || enabledControlOtorgamiento == 'true'
            "
            [(ngModel)]="solicitud.nroPartidaRegistral"
            placeholder="Ingrese Nro. de Partida Registral"
          />
          <div class="input-group-append">
            <button
              type="button"
              [ngClass]="validaSunarpClass"
              (click)="validaSunarp()"
              [disabled]="
                dataBase.disabled || enabledControlOtorgamiento == 'true'
              "
            >
              Validar Sunarp<input type="button" style="display: none" />
            </button>
          </div>
        </div>
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="nroPartidaRegistralAprobado1" class="mr-2"
                  >Aprobado</label
                >
                <p-radioButton
                  [(ngModel)]="nroPartidaRegistralAprobado"
                  name="nroPartidaRegistralAprobado"
                  [value]="true"
                  inputId="nroPartidaRegistralAprobado1"
                ></p-radioButton>
              </div>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="nroPartidaRegistralAprobado2" class="mr-2"
                  >Observado</label
                >
                <p-radioButton
                  [(ngModel)]="nroPartidaRegistralAprobado"
                  name="nroPartidaRegistralAprobado"
                  [value]="false"
                  inputId="nroPartidaRegistralAprobado2"
                >
                </p-radioButton>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row m-0">
    <!-- <div class="col-12 col-sm-4" *ngIf="dataBase.disabled">
      <div class="form-group">
        <label class="label">Limites y Colindancias</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" [disabled]="true"
            [(ngModel)]="archivoLimiteColindancia">
          <div class="input-group-append">
            <button type="button" id="btnCargarFile5" class="btn btn-sm btn-secondary" (click)="onFileDowlandLC()"
              [disabled]="archivoLimiteColindancia == ''">
              Descargar archivo<input type="button" style="display:none;" />
            </button>
          </div>
        </div>

      </div>
    </div> -->
    <!-- *ngIf="!dataBase.disabled" -->
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Limites y Colindancias</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="archivoLimiteColindancia"
          />
          <div class="input-group-append">
            <button
              type="button"
              id="btnCargarFile"
              (click)="fileInput.click()"
              class="btn btn-sm btn-secondary"
              [disabled]="enabledControlOtorgamiento == 'true'"
            >
              Cargar archivo<input
                #fileInput
                type="file"
                (change)="onFileSelectedLC($event)"
                style="display: none"
              />
            </button>
          </div>
        </div>
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="archivoLimiteColindanciaAprobado1" class="mr-2"
                  >Aprobado</label
                >
                <p-radioButton
                  [(ngModel)]="archivoLimiteColindanciaAprobado"
                  name="archivoLimiteColindanciaAprobado"
                  [value]="true"
                  inputId="archivoLimiteColindanciaAprobado1"
                ></p-radioButton>
              </div>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="archivoLimiteColindanciaAprobado2" class="mr-2"
                  >Observado</label
                >
                <p-radioButton
                  [(ngModel)]="archivoLimiteColindanciaAprobado"
                  name="archivoLimiteColindanciaAprobado"
                  [value]="false"
                  inputId="archivoLimiteColindanciaAprobado2"
                >
                </p-radioButton>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row m-0">
    <!-- <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Numero de Acta de Asamblea RRLL</label>
        <input type="text" autocomplete="off" class="form-control" [(ngModel)]="solicitud.nroActaAsamblea"
               [disabled]="dataBase.disabled || enabledControlOtorgamiento=='true'" placeholder="Ingrese Nro. Acta"/>
      </div>
    </div> -->
    <!-- <div class="col-12 col-sm-4" *ngIf="dataBase.disabled">
      <div class="form-group">
        <label class="label">Acta de Asamblea RRLL</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" [disabled]="true" [(ngModel)]="archivoActaRepLegal">
          <div class="input-group-append">
            <button type="button" id="btnCargarFile6" class="btn btn-sm btn-secondary"
              (click)="onFileDowlandActaRepLegal()" [disabled]="archivoActaRepLegal == ''">
              Descargar archivo<input type="button" style="display:none;" />
            </button>
          </div>
        </div>
      </div>
    </div> -->
    <!-- *ngIf="!dataBase.disabled" -->
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Acta de Asamblea RRLL</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="archivoActaRepLegal"
          />
          <div class="input-group-append">
            <button
              type="button"
              id="btnCargarFile"
              (click)="fileInput.click()"
              class="btn btn-sm btn-secondary"
              [disabled]="enabledControlOtorgamiento == 'true'"
            >
              Cargar archivo<input
                #fileInput
                type="file"
                (change)="onFileSelectedActRepLeg($event)"
                style="display: none"
              />
            </button>
          </div>
        </div>
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="archivoActaRepLegalAprobado1" class="mr-2"
                  >Aprobado</label
                >
                <p-radioButton
                  [(ngModel)]="archivoActaRepLegalAprobado"
                  name="archivoActaRepLegalAprobado"
                  [value]="true"
                  inputId="archivoActaRepLegalAprobado1"
                ></p-radioButton>
              </div>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="archivoActaRepLegalAprobado2" class="mr-2"
                  >Observado</label
                >
                <p-radioButton
                  [(ngModel)]="archivoActaRepLegalAprobado"
                  name="archivoActaRepLegalAprobado"
                  [value]="false"
                  inputId="archivoActaRepLegalAprobado2"
                >
                </p-radioButton>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="col-12 col-sm-4" *ngIf="dataBase.disabled">
      <div class="form-group">
        <label class="label"> Area Comunidad</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" [disabled]="true" [(ngModel)]="archivoAreaComunidad">
          <div class="input-group-append">
            <button type="button" id="btnCargarFile8" class="btn btn-sm btn-secondary" (click)="onFileDowlandAreCom()"
              [disabled]="archivoAreaComunidad == ''">
              Descargar archivo<input type="button" style="display:none;" />
            </button>
          </div>
        </div>
      </div>
    </div> -->

    <!-- *ngIf="!dataBase.disabled" -->
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Area Comunidad</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="archivoAreaComunidad"
          />
          <div class="input-group-append">
            <button
              type="button"
              id="btnCargarFile"
              (click)="fileInput.click()"
              class="btn btn-sm btn-secondary"
              [disabled]="enabledControlOtorgamiento == 'true'"
            >
              Cargar archivo<input
                #fileInput
                type="file"
                (change)="onFileSelectedAreCom($event)"
                style="display: none"
              />
            </button>
          </div>
        </div>
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="archivoAreaComunidadAprobado1" class="mr-2"
                  >Aprobado</label
                >
                <p-radioButton
                  [(ngModel)]="archivoAreaComunidadAprobado"
                  name="archivoAreaComunidadAprobado"
                  [value]="true"
                  inputId="archivoAreaComunidadAprobado1"
                ></p-radioButton>
              </div>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="archivoAreaComunidadAprobado2" class="mr-2"
                  >Observado</label
                >
                <p-radioButton
                  [(ngModel)]="archivoAreaComunidadAprobado"
                  name="archivoAreaComunidadAprobado"
                  [value]="false"
                  inputId="archivoAreaComunidadAprobado2"
                >
                </p-radioButton>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Seleccionar Regente Forestal</label>
        <p-autoComplete
          [(ngModel)]="documentoRegente"
          styleClass="w-100"
          inputStyleClass="form-control form-control-sm"
          placeholder="Buscar..."
          field="numeroDocumento"
          [suggestions]="regentesFiltrados"
          emptyMessage="No se encontró Regente."
          [forceSelection]="true"
          [delay]="200"
          (onClear)="clearRegente()"
          (onSelect)="selectDocumentoRegente($event)"
          (completeMethod)="filtrarRegente($event.query)"
        >
          <ng-template let-regente pTemplate="item">
            {{ regente.nombresNroDocumento }}
          </ng-template>
        </p-autoComplete>
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="documentoRegenteAprobado1" class="mr-2"
                  >Aprobado</label
                >
                <p-radioButton
                  [(ngModel)]="documentoRegenteAprobado"
                  name="documentoRegenteAprobado"
                  [value]="true"
                  inputId="documentoRegenteAprobado1"
                ></p-radioButton>
              </div>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="documentoRegenteAprobado2" class="mr-2"
                  >Observado</label
                >
                <p-radioButton
                  [(ngModel)]="documentoRegenteAprobado"
                  name="documentoRegenteAprobado"
                  [value]="false"
                  inputId="documentoRegenteAprobado2"
                >
                </p-radioButton>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="col-12 col-sm-4" *ngIf="dataBase.disabled">
      <div class="form-group">
        <label class="label">Contrato con regente forestal</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" [disabled]="true" [(ngModel)]="archivoRegenteForestal">
          <div class="input-group-append">
            <button type="button" id="btnCargarFile8" class="btn btn-sm btn-secondary" (click)="onFileDowlandRegFore()"
              [disabled]="archivoRegenteForestal == ''">
              Descargar archivo<input type="button" style="display:none;" />
            </button>
          </div>
        </div>
      </div>
    </div> -->

    <!-- *ngIf="!dataBase.disabled" -->
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Contrato con Regente Forestal</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="archivoRegenteForestal"
          />
          <div class="input-group-append">
            <button
              type="button"
              id="btnCargarFile"
              (click)="fileInput.click()"
              class="btn btn-sm btn-secondary"
              [disabled]="enabledControlOtorgamiento == 'true'"
            >
              Cargar archivo<input
                #fileInput
                type="file"
                (change)="onFileSelectedRegFore($event)"
                style="display: none"
              />
            </button>
          </div>
        </div>
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="archivoRegenteForestalAprobado1" class="mr-2"
                  >Aprobado</label
                >
                <p-radioButton
                  [(ngModel)]="archivoRegenteForestalAprobado"
                  name="archivoRegenteForestalAprobado"
                  [value]="true"
                  inputId="archivoRegenteForestalAprobado1"
                ></p-radioButton>
              </div>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="archivoRegenteForestalAprobado2" class="mr-2"
                  >Observado</label
                >
                <p-radioButton
                  [(ngModel)]="archivoRegenteForestalAprobado"
                  name="archivoRegenteForestalAprobado"
                  [value]="false"
                  inputId="archivoRegenteForestalAprobado2"
                >
                </p-radioButton>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Numero de Contrato con Regente Forestal</label>
        <input
          type="text"
          autocomplete="off"
          class="form-control"
          [(ngModel)]="solicitud.nroContratoRegente"
          placeholder="Ingrese Nro. Contrato"
        />
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="nroContratoRegenteAprobado1" class="mr-2"
                  >Aprobado</label
                >
                <p-radioButton
                  [(ngModel)]="nroContratoRegenteAprobado"
                  name="nroContratoRegenteAprobado"
                  [value]="true"
                  inputId="nroContratoRegenteAprobado1"
                ></p-radioButton>
              </div>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="nroContratoRegenteAprobado2" class="mr-2"
                  >Observado</label
                >
                <p-radioButton
                  [(ngModel)]="nroContratoRegenteAprobado"
                  name="nroContratoRegenteAprobado"
                  [value]="false"
                  inputId="nroContratoRegenteAprobado2"
                >
                </p-radioButton>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- <div class="row col-12 justify-content-end p-2" *ngIf="enabledHabilitarContinuar || dataBase.disabled">
    <span [ngClass]="{ 'class1': isPendingArea == true,'class2': isObservedArea == true, 'class3':isValidArea == true}"></span>
    <button class="btn btn-sm btn-primary2" (click)="openModalArea()">Evaluar Área</button>
  </div> -->

  <div class="row m-0">
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Escala de Manejo</label>
        <div class="input-group">
          <div class="form-check form-check-inline">
            <div class="p-field-radiobutton">
              <label for="categoriaEscalaManejoAlta">Alta</label>
              &nbsp;
              <p-radioButton
                name="categoriaEscalaManejoAlta"
                value="Alta"
                inputId="categoriaEscalaManejoAlta"
                [(ngModel)]="solicitud.escalaManejo"
                [disabled]="
                  dataBase.disabled || enabledControlOtorgamiento == 'true'
                "
                (click)="habilitarAlta()"
              >
              </p-radioButton>
            </div>
          </div>
          <div class="form-check form-check-inline">
            <div class="p-field-radiobutton">
              <label for="categoriaEscalaManejoMedia">Media</label>
              &nbsp;
              <p-radioButton
                name="categoriaEscalaManejoMedia"
                value="Media"
                inputId="categoriaEscalaManejoMedia"
                [(ngModel)]="solicitud.escalaManejo"
                [disabled]="
                  dataBase.disabled || enabledControlOtorgamiento == 'true'
                "
                (click)="habilitaMedia()"
              >
              </p-radioButton>
            </div>
          </div>
          <div class="form-check form-check-inline">
            <div class="p-field-radiobutton">
              <label for="categoriaEscalaManejoBaja">Baja</label>
              &nbsp;
              <p-radioButton
                name="categoriaEscalaManejoBaja"
                value="Baja"
                inputId="categoriaEscalaManejoBaja"
                [(ngModel)]="solicitud.escalaManejo"
                [disabled]="
                  dataBase.disabled || enabledControlOtorgamiento == 'true'
                "
                (click)="habilitaBaja()"
              >
              </p-radioButton>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-12 col-sm-4" *ngIf="dataBase.disabled">
      <div class="form-group">
        <label class="label">Adjuntar ARRF</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" [disabled]="true" [(ngModel)]="archivoArrf">
          <div class="input-group-append">
            <button type="button" id="btnCargarFile9" class="btn btn-sm btn-secondary" (click)="onFileDowlandArrf()"
              [disabled]="archivoArrf == ''">
              Descargue archivo<input type="button" style="display:none;" />
            </button>
          </div>
        </div>
      </div>
    </div> -->

    <div class="col-12 col-sm-4" *ngIf="!dataBase.disabled">
      <div class="form-group">
        <label class="label">Adjuntar ARRF</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="archivoArrf"
          />
          <div class="input-group-append">
            <button
              type="button"
              id="btnCargarFile"
              (click)="fileInput.click()"
              class="btn btn-sm btn-secondary"
              [disabled]="enabledControlOtorgamiento == 'true'"
            >
              Cargue archivo<input
                #fileInput
                type="file"
                (change)="onFileSelectedArrf($event)"
                style="display: none"
              />
            </button>
          </div>
        </div>
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="archivoArrfAprobado1" class="mr-2">Aprobado</label>
                <p-radioButton
                  [(ngModel)]="archivoArrfAprobado"
                  name="archivoArrfAprobado"
                  [value]="true"
                  inputId="archivoArrfAprobado1"
                ></p-radioButton>
              </div>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="archivoArrfAprobado2" class="mr-2">Observado</label>
                <p-radioButton
                  [(ngModel)]="archivoArrfAprobado"
                  name="archivoArrfAprobado"
                  [value]="false"
                  inputId="archivoArrfAprobado2"
                >
                </p-radioButton>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Es comunidad RAT</label>
        <div class="input-group">
          <div class="form-check form-check-inline">
            <div class="p-field-radiobutton">
              <label for="ratsi">Si</label>
              &nbsp;
              <p-radioButton
                name="rat"
                [value]="true"
                inputId="ratsi"
                [(ngModel)]="solicitud.rat"
                [disabled]="
                  dataBase.disabled || enabledControlOtorgamiento == 'true'
                "
                (click)="habilitarAlta()"
              >
              </p-radioButton>
            </div>
          </div>
          <div class="form-check form-check-inline">
            <div class="p-field-radiobutton">
              <label for="ratno">No</label>
              &nbsp;
              <p-radioButton
                name="rat"
                [value]="false"
                inputId="ratno"
                [(ngModel)]="solicitud.rat"
                [disabled]="
                  dataBase.disabled || enabledControlOtorgamiento == 'true'
                "
                (click)="habilitaMedia()"
              >
              </p-radioButton>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-0">
    <!-- <div class="col-12 col-sm-4" *ngIf="dataBase.disabled">
      <div class="form-group">
        <label class="label">Solicitud de reconocimiento</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" [disabled]="true"
            [(ngModel)]="archivoLimiteColindancia">
          <div class="input-group-append">
            <button type="button" id="btnCargarFile5" class="btn btn-sm btn-secondary" (click)="onFileDowlandLC()"
              [disabled]="archivoLimiteColindancia == ''">
              Descargar archivo<input type="button" style="display:none;" />
            </button>
          </div>
        </div>

      </div>
    </div> -->

    <!-- *ngIf="!dataBase.disabled" -->
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Adjuntar Solicitud de Reconcomiento</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="archivoLimiteColindancia"
          />
          <div class="input-group-append">
            <button
              type="button"
              id="btnCargarFile"
              (click)="fileInput.click()"
              class="btn btn-sm btn-secondary"
              [disabled]="enabledControlOtorgamiento == 'true'"
            >
              Cargar archivo<input
                #fileInput
                type="file"
                (change)="onFileSelectedLC($event)"
                style="display: none"
              />
            </button>
          </div>
        </div>
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="archivoLimiteColindanciaAprobado1" class="mr-2"
                  >Aprobado</label
                >
                <p-radioButton
                  [(ngModel)]="archivoLimiteColindanciaAprobado"
                  name="archivoLimiteColindanciaAprobado"
                  [value]="true"
                  inputId="archivoLimiteColindanciaAprobado1"
                ></p-radioButton>
              </div>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="archivoLimiteColindanciaAprobado2" class="mr-2"
                  >Observado</label
                >
                <p-radioButton
                  [(ngModel)]="archivoLimiteColindanciaAprobado"
                  name="archivoLimiteColindanciaAprobado"
                  [value]="false"
                  inputId="archivoLimiteColindanciaAprobado2"
                >
                </p-radioButton>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="col-12 col-sm-4" *ngIf="dataBase.disabled">
      <div class="form-group">
        <label class="label">Opinión técnico/legal</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" [disabled]="true"
            [(ngModel)]="archivoLimiteColindancia">
          <div class="input-group-append">
            <button type="button" id="btnCargarFile5" class="btn btn-sm btn-secondary" (click)="onFileDowlandLC()"
              [disabled]="archivoLimiteColindancia == ''">
              Descargar archivo<input type="button" style="display:none;" />
            </button>
          </div>
        </div>

      </div>
    </div> -->
    <!-- *ngIf="!dataBase.disabled" -->
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Adjuntar Opinión técnico/legal</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="archivoLimiteColindancia"
          />
          <div class="input-group-append">
            <button
              type="button"
              id="btnCargarFile"
              (click)="fileInput.click()"
              class="btn btn-sm btn-secondary"
              [disabled]="enabledControlOtorgamiento == 'true'"
            >
              Cargar archivo<input
                #fileInput
                type="file"
                (change)="onFileSelectedLC($event)"
                style="display: none"
              />
            </button>
          </div>
        </div>
      </div>

      <ul>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="archivoLimiteColindanciaAprobado1" class="mr-2"
                  >Aprobado</label
                >
                <p-radioButton
                  [(ngModel)]="archivoLimiteColindanciaAprobado"
                  name="archivoLimiteColindanciaAprobado"
                  [value]="true"
                  inputId="archivoLimiteColindanciaAprobado1"
                ></p-radioButton>
              </div>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="p-field-radiobutton">
                <label for="archivoLimiteColindanciaAprobado2" class="mr-2"
                  >Observado</label
                >
                <p-radioButton
                  [(ngModel)]="archivoLimiteColindanciaAprobado"
                  name="archivoLimiteColindanciaAprobado"
                  [value]="false"
                  inputId="archivoLimiteColindanciaAprobado2"
                >
                </p-radioButton>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row m-0">
    <!-- <div class="col-12 col-sm-4" *ngIf="dataBase.disabled">
      <div class="form-group">
        <label class="label">Solicitud de ampliación</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" [disabled]="true"
            [(ngModel)]="archivoLimiteColindancia">
          <div class="input-group-append">
            <button type="button" id="btnCargarFile5" class="btn btn-sm btn-secondary" (click)="onFileDowlandLC()"
              [disabled]="archivoLimiteColindancia == ''">
              Descargar archivo<input type="button" style="display:none;" />
            </button>
          </div>
        </div>

      </div>
    </div> -->

    <!-- *ngIf="!dataBase.disabled" -->
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Adjuntar Solicitud de ampliación</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="archivoLimiteColindancia"
          />
          <div class="input-group-append">
            <button
              type="button"
              id="btnCargarFile"
              (click)="fileInput.click()"
              class="btn btn-sm btn-secondary"
              [disabled]="enabledControlOtorgamiento == 'true'"
            >
              Cargar archivo<input
                #fileInput
                type="file"
                (change)="onFileSelectedLC($event)"
                style="display: none"
              />
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-12 col-sm-4" *ngIf="dataBase.disabled">
      <div class="form-group">
        <label class="label">Opinión técnico/legal</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" [disabled]="true"
            [(ngModel)]="archivoLimiteColindancia">
          <div class="input-group-append">
            <button type="button" id="btnCargarFile5" class="btn btn-sm btn-secondary" (click)="onFileDowlandLC()"
              [disabled]="archivoLimiteColindancia == ''">
              Descargar archivo<input type="button" style="display:none;" />
            </button>
          </div>
        </div>

      </div>
    </div> -->

    <!-- *ngIf="!dataBase.disabled" -->
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Adjuntar Opinión técnico/legal</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="archivoLimiteColindancia"
          />
          <div class="input-group-append">
            <button
              type="button"
              id="btnCargarFile"
              (click)="fileInput.click()"
              class="btn btn-sm btn-secondary"
              [disabled]="enabledControlOtorgamiento == 'true'"
            >
              Cargar archivo<input
                #fileInput
                type="file"
                (change)="onFileSelectedLC($event)"
                style="display: none"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-0">
    <!-- <div class="col-12 col-sm-4" *ngIf="dataBase.disabled">
      <div class="form-group">
        <label class="label">Solicitud de titulación</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" [disabled]="true"
            [(ngModel)]="archivoLimiteColindancia">
          <div class="input-group-append">
            <button type="button" id="btnCargarFile5" class="btn btn-sm btn-secondary" (click)="onFileDowlandLC()"
              [disabled]="archivoLimiteColindancia == ''">
              Descargar archivo<input type="button" style="display:none;" />
            </button>
          </div>
        </div>

      </div>
    </div> -->
    <!-- *ngIf="!dataBase.disabled" -->
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Adjuntar Solicitud de titulación</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="archivoLimiteColindancia"
          />
          <div class="input-group-append">
            <button
              type="button"
              id="btnCargarFile"
              (click)="fileInput.click()"
              class="btn btn-sm btn-secondary"
              [disabled]="enabledControlOtorgamiento == 'true'"
            >
              Cargar archivo<input
                #fileInput
                type="file"
                (change)="onFileSelectedLC($event)"
                style="display: none"
              />
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-12 col-sm-4" *ngIf="dataBase.disabled">
      <div class="form-group">
        <label class="label">Opinión técnico/legal</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" [disabled]="true"
            [(ngModel)]="archivoLimiteColindancia">
          <div class="input-group-append">
            <button type="button" id="btnCargarFile5" class="btn btn-sm btn-secondary" (click)="onFileDowlandLC()"
              [disabled]="archivoLimiteColindancia == ''">
              Descargar archivo<input type="button" style="display:none;" />
            </button>
          </div>
        </div>

      </div>
    </div> -->

    <!-- *ngIf="!dataBase.disabled" -->
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Adjuntar Opinión técnico/legal</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="archivoLimiteColindancia"
          />
          <div class="input-group-append">
            <button
              type="button"
              id="btnCargarFile"
              (click)="fileInput.click()"
              class="btn btn-sm btn-secondary"
              [disabled]="enabledControlOtorgamiento == 'true'"
            >
              Cargar archivo<input
                #fileInput
                type="file"
                (change)="onFileSelectedLC($event)"
                style="display: none"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-0">
    <!-- <div class="col-12 col-sm-4" *ngIf="dataBase.disabled">
      <div class="form-group">
        <label class="label">Comprobante de Pago</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" [disabled]="true" [(ngModel)]="archivoComprobantePago">
          <div class="input-group-append">
            <button type="button" id="btnCargarFile2" class="btn btn-sm btn-secondary" (click)="onFileDowlandCP()"
              [disabled]="archivoComprobantePago == ''">
              Descargar archivo<input type="button" style="display:none;" />
            </button>
          </div>
        </div>
      </div>
    </div> -->

    <!-- *ngIf="!dataBase.disabled" -->
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Comprobante de Pago</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="archivoComprobantePago"
          />
          <div class="input-group-append">
            <button
              type="button"
              id="btnCargarFile"
              (click)="fileInput.click()"
              class="btn btn-sm btn-secondary"
              [disabled]="enabledControlOtorgamiento == 'true'"
            >
              Cargar archivo<input
                #fileInput
                type="file"
                (change)="onFileSelectedCP($event)"
                style="display: none"
              />
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Número de operación del Comprobante de Pago</label>
        <input
          type="text"
          autocomplete="off"
          class="form-control"
          [(ngModel)]="solicitud.nroComprobantePago"
          placeholder="Ingrese Nro. de Operación"
        />
      </div>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Seleccionar Tipo de Aprovechamiento</label>
        <div class="form-control-selectk">
          <p-dropdown
            class="fomr-control"
            placeholder="Seleccione"
            (onChange)="habilitarTercero($event)"
            optionValue="nAprov"
            [(ngModel)]="solicitud.tipoAprovechamiento"
            [options]="lstAprovechamiento"
            optionLabel="nAprov"
          >
          </p-dropdown>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-0">
    <!-- <div class="col-12 col-sm-4" *ngIf="dataBase.disabled">
      <div class="form-group">
        <label class="label">Acta de Asamblea Acuerdo</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" [disabled]="true" [(ngModel)]="archivoAsambleaAcuerdo">
          <div class="input-group-append">
            <button type="button" id="btnCargarFile7" class="btn btn-sm btn-secondary" (click)="onFileDowlandAsamAcu()"
              [disabled]="archivoAsambleaAcuerdo == ''">
              Descargar archivo<input type="button" style="display:none;" />
            </button>
          </div>
        </div>
      </div>
    </div> -->

    <!-- *ngIf="!dataBase.disabled" -->
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Acta de Asamblea Acuerdo</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="archivoAsambleaAcuerdo"
          />
          <div class="input-group-append">
            <button
              type="button"
              id="btnCargarFile"
              (click)="fileInput.click()"
              class="btn btn-sm btn-secondary"
              [disabled]="enabledControlOtorgamiento == 'true'"
            >
              Cargar archivo<input
                #fileInput
                type="file"
                (change)="onFileSelectedAsamAcu($event)"
                style="display: none"
              />
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Numero de Acta de Acuerdo de Asamblea</label>
        <input
          type="text"
          autocomplete="off"
          class="form-control"
          [(ngModel)]="solicitud.nroActaAsambleaAcuerdo"
          placeholder="Ingrese Nro. Acta"
        />
      </div>
    </div>
  </div>

  <div
    class="row m-0"
    *ngIf="
      enabledHabilitarTercero ||
      (dataBase.disabled &&
        this.solicitud.tipoAprovechamiento == 'Por Terceros')
    "
  >
    <!-- <div class="col-12 col-sm-4" *ngIf="dataBase.disabled">
      <div class="form-group">
        <label class="label">Acta de Asamblea</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" [disabled]="true" [(ngModel)]="archivoActaAsamblea">
          <div class="input-group-append">
            <button type="button" id="btnCargarFile8" class="btn btn-sm btn-secondary" (click)="onFileDowlandAA()"
              [disabled]="archivoActaAsamblea == ''">
              Descargar archivo<input type="button" style="display:none;" />
            </button>
          </div>
        </div>
      </div>
    </div> -->

    <!-- *ngIf="!dataBase.disabled" -->
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Acta de Asamblea</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="archivoActaAsamblea"
          />
          <div class="input-group-append">
            <button
              type="button"
              id="btnCargarFile"
              (click)="fileInput.click()"
              class="btn btn-sm btn-secondary"
              [disabled]="enabledControlOtorgamiento == 'true'"
            >
              Cargar archivo<input
                #fileInput
                type="file"
                (change)="onFileSelectedAA($event)"
                style="display: none"
              />
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Número de Acta de Asamblea</label>
        <input
          type="text"
          autocomplete="off"
          class="form-control"
          [(ngModel)]="solicitud.nroActaAprovechamiento"
          [disabled]="dataBase.disabled || enabledControlOtorgamiento == 'true'"
          placeholder="Ingresar Nro. Acta"
        />
      </div>
    </div>
  </div>

  <div
    class="row m-0"
    *ngIf="
      enabledHabilitarTercero ||
      (dataBase.disabled &&
        this.solicitud.tipoAprovechamiento == 'Por Terceros')
    "
  >
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Número de Contrato con Terceros</label>
        <input
          type="text"
          autocomplete="off"
          class="form-control"
          [(ngModel)]="solicitud.nroContratoTercero"
          [disabled]="dataBase.disabled || enabledControlOtorgamiento == 'true'"
          placeholder="Ingresar Nro. Contrato"
        />
      </div>
    </div>
    <!-- <div class="col-12 col-sm-4" *ngIf="dataBase.disabled">
      <div class="form-group">
        <label class="label">Contrato con Terceros</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" [disabled]="true" [(ngModel)]="archivoContratTerc">
          <div class="input-group-append">
            <button type="button" id="btnCargarFile8" class="btn btn-sm btn-secondary" (click)="onFileDowlandCT()"
              [disabled]="archivoContratTerc == ''">
              Descargar archivo<input type="button" style="display:none;" />
            </button>
          </div>
        </div>
      </div>
    </div> -->

    <!-- *ngIf="!dataBase.disabled" -->
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Contrato con Terceros</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="archivoContratTerc"
          />
          <div class="input-group-append">
            <button
              type="button"
              id="btnCargarFile"
              (click)="fileInput.click()"
              class="btn btn-sm btn-secondary"
              [disabled]="enabledControlOtorgamiento == 'true'"
            >
              Cargar archivo<input
                #fileInput
                type="file"
                (change)="onFileSelectedCT($event)"
                style="display: none"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="row m-0"
    *ngIf="enabledHabilitarContinuar || dataBase.disabled"
    id="adjunto"
  >
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label class="label">Adjuntar documentos adicionales (voucher)</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder=""
            [disabled]="true"
          />
          <div class="input-group-append">
            <button
              type="button"
              id="btnCargarFile"
              (click)="fileInput.click()"
              class="btn btn-sm btn-secondary"
              [disabled]="enabledControlOtorgamiento == 'true'"
            >
              Cargar archivo<input
                #fileInput
                type="file"
                style="display: none"
                (change)="onFileSelectedAdjunto2($event)"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="row m-0"
    *ngIf="enabledHabilitarContinuar || dataBase.disabled"
    id="adjunto"
  >
    <div class="col-12 col-sm-4" *ngIf="dataBase.disabled">
      <div class="form-group">
        <label class="label">Adjuntar Otro Archivo</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder=""
            [disabled]="true"
          />
          <div class="input-group-append">
            <button
              type="button"
              id="btnCargarFile"
              (click)="fileInput.click()"
              class="btn btn-sm btn-secondary"
              [disabled]="enabledControlOtorgamiento == 'true'"
            >
              Cargar archivo<input
                #fileInput
                type="file"
                style="display: none"
                (change)="onFileSelectedAdjunto2($event)"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-12">
      <div class="form-group">
        <label class="label"
          >Resultado de búsqueda en Registro nacional de infractores</label
        >

        <ul>
          <li class="mb-4">
            <div class="row">
              <div class="col-12 col-md-12">
                <div class="p-field-radiobutton">
                  <label for="resultadoBusqueda1" class="mr-2">Favorable</label>
                  <p-radioButton
                    [(ngModel)]="resultadoBusqueda"
                    name="resultadoBusqueda"
                    [value]="true"
                    inputId="resultadoBusqueda1"
                  ></p-radioButton>
                </div>
              </div>
            </div>
          </li>
          <li class="mb-4">
            <div class="row">
              <div class="col-12 col-md-12">
                <div class="p-field-radiobutton">
                  <label for="resultadoBusqueda2" class="mr-2"
                    >Desfavorable</label
                  >
                  <p-radioButton
                    [(ngModel)]="resultadoBusqueda"
                    name="resultadoBusqueda"
                    [value]="false"
                    inputId="resultadoBusqueda2"
                  >
                  </p-radioButton>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-12">
      <div class="form-group">
        <label class="label"
          >Resultado de Opiniones de otras entidades (DERNAMP,ANA. etc)</label
        >

        <ul>
          <li class="mb-4">
            <div class="row">
              <div class="col-12 col-md-12">
                <div class="p-field-radiobutton">
                  <label for="resultadoOpiniones1" class="mr-2"
                    >Favorable</label
                  >
                  <p-radioButton
                    [(ngModel)]="resultadoOpiniones"
                    name="resultadoOpiniones"
                    [value]="true"
                    inputId="resultadoOpiniones1"
                  ></p-radioButton>
                </div>
              </div>
            </div>
          </li>
          <li class="mb-4">
            <div class="row">
              <div class="col-12 col-md-12">
                <div class="p-field-radiobutton">
                  <label for="resultadoOpiniones2" class="mr-2"
                    >Desfavorable</label
                  >
                  <p-radioButton
                    [(ngModel)]="resultadoOpiniones"
                    name="resultadoOpiniones"
                    [value]="false"
                    inputId="resultadoOpinione2"
                  >
                  </p-radioButton>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-12">
      <div class="form-group">
        <label class="label">Resultado de Inspección Ocultar</label>

        <ul>
          <li class="mb-4">
            <div class="row">
              <div class="col-12 col-md-12">
                <div class="p-field-radiobutton">
                  <label for="resultadoInspeccion1" class="mr-2"
                    >Favorable</label
                  >
                  <p-radioButton
                    [(ngModel)]="resultadoInspeccion"
                    name="resultadoInspeccion"
                    [value]="true"
                    inputId="resultadoInspeccion1"
                  ></p-radioButton>
                </div>
              </div>
            </div>
          </li>
          <li class="mb-4">
            <div class="row">
              <div class="col-12 col-md-12">
                <div class="p-field-radiobutton">
                  <label for="resultadoInspeccion2" class="mr-2"
                    >Desfavorable</label
                  >
                  <p-radioButton
                    [(ngModel)]="resultadoInspeccion"
                    name="resultadoInspeccion"
                    [value]="false"
                    inputId="resultadoInspeccion2"
                  >
                  </p-radioButton>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-12">
      <div class="form-group">
        <label class="label"
          >Resultado de Informe Plan general, PO u dema</label
        >

        <ul>
          <li class="mb-4">
            <div class="row">
              <div class="col-12 col-md-12">
                <div class="p-field-radiobutton">
                  <label for="resultadoInforme1" class="mr-2">Favorable</label>
                  <p-radioButton
                    [(ngModel)]="resultadoInforme"
                    name="resultadoInforme"
                    [value]="true"
                    inputId="resultadoInforme2"
                  ></p-radioButton>
                </div>
              </div>
            </div>
          </li>
          <li class="mb-4">
            <div class="row">
              <div class="col-12 col-md-12">
                <div class="p-field-radiobutton">
                  <label for="resultadoInforme2" class="mr-2"
                    >Desfavorable</label
                  >
                  <p-radioButton
                    [(ngModel)]="resultadoInforme"
                    name="resultadoInforme"
                    [value]="false"
                    inputId="resultadoInforme2"
                  >
                  </p-radioButton>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <p-toast></p-toast>
  <p-confirmDialog [style]="{ width: '50vw' }"> </p-confirmDialog>
</p-fieldset>
