<div class="row m-0 pt-4">
  <div class="col-12">
    <p-accordion>
      <p-accordionTab header="Anexo 1" [selected]="true">
        <app-map-custom
          [idPlanManejo]="idPlanManejo" [disabled]="disabled"
          [codigoProceso]="'POCCANEX'"
          [codigoSubSeccion]="'POCCANEX1'"
          [tipoGeometria]="'Otros'"
          [isAnexo]="true"
          [printPDF]="true"
        ></app-map-custom>
        <div class="row">
          <div class="col-6">
            <div class="card">
              <div class="card-header">Mapa 1</div>
              <div class="card-body">
                <div class="col-sm-12">
                  <input-buttons-maps-codigo
                    [label]="''" [disabled]="disabled"
                    [idPlanManejo]="idPlanManejo"
                    [idTipoDocumento]="'POCCMAP1'"
                    [codigoProceso]="'POCC'"
                  >
                  </input-buttons-maps-codigo>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <div class="card-header">Mapa 2</div>
              <div class="card-body">
                <div class="col-sm-12">
                  <input-buttons-maps-codigo
                    [label]="''" [disabled]="disabled"
                    [idPlanManejo]="idPlanManejo"
                    [idTipoDocumento]="'POCCMAP2'"
                    [codigoProceso]="'POCC'"
                  >
                  </input-buttons-maps-codigo>
                </div>
              </div>
            </div>
          </div>
        </div>

      </p-accordionTab>

      <p-accordionTab header="Anexo 2">
        <div class="col-12 mt-4 mb-3">
          <p-table [value]="listAnexos2" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
          currentPageReportTemplate=" {first} to {last} of {totalRecords} " [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
              <tr>
                <th rowspan="2">Unidad de trabajo</th>
                <th rowspan="2">Nº Faja</th>
                <th rowspan="2">Nº Árbol</th>
                <th rowspan="2">Código</th>
                <th rowspan="2">DAP (cm)</th>
                <th rowspan="2">Altura comercial (m)</th>
                <th rowspan="2">Vc(m)</th>
                <th rowspan="2">Calidad de fuste</th>
                <th colspan="2">Coordenadas (m)</th>
                <th rowspan="2">Categoría</th>
              </tr>
              <tr>
                <th>X ó X (este)</th>
                <th>X ó X (norte)</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td>{{data.unidadTrabajo}}</td>
                <td>{{data.numeroFaja}}</td>
                <td>{{data.nArbol}}</td>
                <td>{{data.codigo}}</td>
                <td>{{data.dap}}</td>
                <td>{{data.alturaComercial}}</td>
                <td>{{data.volumen}}</td>
                <td>{{data.calidadFuste}}</td>
                <td>{{data.este}}</td>
                <td>{{data.norte}}</td>
                <td>{{data.categoria}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="mt-5 ml-3">
          <label class="label">(Se debe cargar el archivo generado desde el app móvil. Plantilla de ejemplo:)</label>
          <app-carga-excel [disabled]="disabled"
            (cargarArchivo)="cargarFormato($event)"
            [NombrePlantilla]="UrlFormatos.CARGA_POCC_ANEXO2"
          ></app-carga-excel>
        </div>
      </p-accordionTab>

      <p-accordionTab header="Anexo 3">
        <h3 class="title2">
          Listado de archivos adjuntos donde se ha activado el check para
          adjuntar en el anexo 3
        </h3>
        <div class="row">
          <div class="col-12 mt-4 mb-3">
            <p-table [value]="listTabsToAnexo3">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 100px;">Acciones</th>
                  <th>Item</th>
                  <th>Justificación</th>
                  <th>Asunto</th>
                  <th>Acápite</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr>
                  <td>
                    <span
                      class="pointer mr-2"
                      title="Editar"
                      (click)="!disabled&&(data.isEdit = !data.isEdit)&& editar(data)"
                    >
                      <i class="pi pi-pencil"></i>
                    </span>
                    <span
                      class="pointer"
                      title="Descargar"
                      (click)="descargarArchivo(data.idArchivo)"
                    >
                      <i class="pi pi-download"></i>
                    </span>
                  </td>
                  <td>{{ data.item }}</td>
                  <td>{{ data.descripcion }}</td>
                  <td>
                    <input
                      type="text"
                      [(ngModel)]="data.asunto"
                      class="form-control"
                      placeholder=""
                      maxlength="100"
                      [disabled]="disabled||!data.isEdit"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      [(ngModel)]="data.acapite"
                      class="form-control"
                      placeholder=""
                      maxlength="100"
                      [disabled]="disabled||!data.isEdit"
                    />
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>

  <div class="step__btn mt-4">
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
  <br />
</div>
<br />
