<div class="col-12">
  <p-table
    [value]="listInfoBasicaDet_H2"
    styleClass="p-datatable-gridlines"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Total : {totalRecords} registros"
    [rowsPerPageOptions]="[5,10,25,50]">
    <!-- <ng-template pTemplate="caption">
      <tr>
        <td class="text-center">Hidrografía de la UMF</td>
      </tr>
    </ng-template> -->
    <ng-template pTemplate="header">
      <tr>
        <th *ngIf="isModal" style="text-align: center; font-size: 13px;" colspan="3">Hidrografía de la UMF</th>
        <th *ngIf="!isModal" style="text-align: center; font-size: 13px;" colspan="6">Hidrografía de la UMF</th>
      </tr>
      <tr>
        <th *ngIf="isModal"  style="width: 34%; text-align: center;">Río</th>
        <th *ngIf="isModal"  style="width: 33%; text-align: center;">Quebrada</th>
        <th *ngIf="isModal"  style="width: 33%; text-align: center;">Cocha</th>
        <th *ngIf="!isModal"  style="width: 34%; text-align: center;" colspan="2">Río</th>
        <th *ngIf="!isModal"  style="width: 33%; text-align: center;" colspan="2">Quebrada</th>
        <th *ngIf="!isModal"  style="width: 33%; text-align: center;" colspan="2">Cocha</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td *ngIf="isModal">{{ data.nombreRio }}</td>
        <td *ngIf="!isModal && data.nombreRio" style="width: 40px; text-align: center;">
          <span
            class="pointer ml-1"
            title="Eliminar"
            (click)="!disabled&&openEliminarRio($event, data)"
          >
            <i class="pi pi-trash"></i>
          </span>
        </td>
        <td *ngIf="!isModal && data.nombreRio">
          <input
            type="text"
            class="form-control"
            placeholder="" [disabled]="disabled"
            maxlength="20"
            [(ngModel)]="data.nombreRio"
          />
        </td>
        <td *ngIf="!isModal && !data.nombreRio" colspan="2"></td>
        <td *ngIf="isModal">{{ data.nombreQuebrada }}</td>
        <td *ngIf="!isModal && data.nombreQuebrada" style="width: 40px; text-align: center;">
          <span
            class="pointer ml-1"
            title="Eliminar"
            (click)="!disabled&&openEliminarQuebrada($event, data)"
          >
            <i class="pi pi-trash"></i>
          </span>
        </td>
        <td *ngIf="!isModal && data.nombreQuebrada">
          <input
            type="text"
            class="form-control"
            placeholder=""
            maxlength="20" [disabled]="disabled"
            [(ngModel)]="data.nombreQuebrada"
          />
        </td>
        <td *ngIf="!isModal && !data.nombreQuebrada" colspan="2"></td>
        <td *ngIf="isModal">{{ data.nombreLaguna }}</td>
        <td *ngIf="!isModal && data.nombreLaguna" style="width: 40px; text-align: center;">
          <span
            class="pointer ml-1"
            title="Eliminar"
            (click)="!disabled&&openEliminarLaguna($event, data)"
          >
            <i class="pi pi-trash"></i>
          </span>
        </td>
        <td *ngIf="!isModal && data.nombreLaguna">
          <input
            type="text"
            class="form-control"
            placeholder=""
            maxlength="20" [disabled]="disabled"
            [(ngModel)]="data.nombreLaguna"
          />
        </td>
        <td *ngIf="!isModal && !data.nombreLaguna" colspan="2"></td>
      </tr>
    </ng-template>
  </p-table>
</div>
