<a type="button"  class="pointer" title="Resolver" (click)="btnModal1()" >
  <i class="pi pi-book"></i>
</a>

<p-dialog
  header="Resultado de la evaluación del plan"
  appendTo="body"
  [(visible)]="isShowModal2_2"
  [modal]="true"
  [style]="{ width: '60vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>

  <ng-template pTemplate="content">
    <div class="mb-3">
      <h4 class="font-weight-bold">
        <span class="title">Plan {{ tipoPlan }} </span>
        <span class="title nro-dema">N° {{ idPlanManejo }}</span>
        <span class="title"> - Caso {{ estado == CodigoEstadoPlanManejo.FAVORABLE ? 'Favorable' : 'Desfavorable' }}</span>
      </h4>
    </div>
    <div class="row" *ngIf="false">
      <div class="col-12 col-md-6 form-group">
        <label>Remitir al usuario</label>
        <input
          class="form-control form-control-sm"
          type="text"
          autocomplete="off"
          disabled
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 form-group">
        <label class="label">N° Plan</label>
        <input
          class="form-control form-control-sm"
          type="text"
          autocomplete="off"
          placeholder="Ingrese código"
          [value]="idPlanManejo"
          disabled
        />
      </div>
      <div class="col-12 col-md-6 form-group">
        <label class="label">Título Habilitante</label>
        <div class="input-group">
          <input
            type="text"
            maxlength="100"
            class="form-control"
            placeholder="Ingrese codigo"
            [value]="codigoUnico"
            disabled
          />
        </div>
      </div>
    </div>

    <div class="row" *ngIf="estado == CodigoEstadoPlanManejo.FAVORABLE">
      <div class="col-12 form-group justify-content-center">
        <div>
          <label class="label">Generar Resolución de Aprobación</label>
        </div>
        <div class="input-group-append">
          <button
            type="button"
            (click)="descargarPlantResolAproba()"
            class="btn btn-sm btn-secondary"
            [disabled]="isDisabledGuardar"
          >
            Descargar plantilla
          </button>
        </div>
      </div>
      <div class="col-6 form-group justify-content-center">
        <!-- <upload-input-buttons 
          (registrarArchivo)="registrarArchivoAdjunto($event, tiposArchivos.EOP_APROBADO)" 
          (eliminarArchivo)="eliminarArchivoAdjunto(fileResolAprobado.idArchivo, tiposArchivos.EOP_APROBADO)"
          [file]="fileResolAprobado" 
          [label]="'Adjuntar Resolución de Aprobación'" 
          [disabled]="isDisabledGuardar">
        </upload-input-buttons> -->
        <input-buttons-codigo 
          [label]="'Adjuntar Resolución de Aprobación'" 
          [idPlanManejo]="idPlanManejo"
          [idTipoDocumento]="'REREEVPL'"
          [codigoProceso]="tipoPlan"
          [disabled]="isDisabledGuardar"
          (idArchivoEmit)="idArchivoEmit = $event"
        >
        </input-buttons-codigo>
      </div>
    </div>

    <div class="row" *ngIf="estado == CodigoEstadoPlanManejo.DESFAVORABLE">
      <div class="col-12 form-group justify-content-center">
        <div>
          <label class="label">Generar Resolución de Desaprobación o en Abandono</label>
        </div>
        <div class="input-group-append">
          <button
            type="button"
            (click)="descargarPlantResolDesAproba()"
            class="btn btn-sm btn-secondary"
            [disabled]="isDisabledGuardar"
          >
            Descargar plantilla
          </button>
        </div>
      </div>
      <div class="col-6 form-group justify-content-center">
        <!-- <upload-input-buttons 
          (registrarArchivo)="registrarArchivoAdjunto($event, tiposArchivos.EOP_DESAPROBADO)" 
          (eliminarArchivo)="eliminarArchivoAdjunto(fileResolDesAprobado.idArchivo, tiposArchivos.EOP_DESAPROBADO)"
          [file]="fileResolDesAprobado" 
          [label]="'Adjuntar Resolución de Desaprobación o en Abandono'" 
          [disabled]="isDisabledGuardar">
        </upload-input-buttons> -->
        <input-buttons-codigo 
          [label]="'Adjuntar Resolución de Desaprobación o en Abandono'" 
          [idPlanManejo]="idPlanManejo"
          [idTipoDocumento]="'REREEVPL'"
          [codigoProceso]="tipoPlan"
          [disabled]="isDisabledGuardar"
          (idArchivoEmit)="idArchivoEmit = $event"
        >
        </input-buttons-codigo>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-right">
        <button *ngIf="!isDisabledGuardar" class="p-button-success p-button-outlined mr-2" 
          type="button" icon="pi pi-save" pButton pRipple label="Remitir Resolución" (click)="btnGuardar(estado)"></button>
    
        <button class="p-button-danger p-button-outlined" type="button" icon="pi pi-times" pButton pRipple label="Cancelar"
          (click)="isShowModal2_2 = false"></button>
      </div>
    </div>
    
  </ng-template>
  <ng-template pTemplate="footer"> </ng-template>
</p-dialog>
<!--<p-toast></p-toast>-->
