<div class="container-fluid pt-3">
  <p-accordion>
    <p-accordionTab header="Anexo A: Mapa de ubicación de la UMF" [selected]="true">
      <app-map-custom-mpafpp #map
                    [idPlanManejo] ="idDEMAC"
                    [codigoProceso]="codigoProceso"
                    [codigoSubSeccion]="codigoSubSeccion"
                    [showBotonCargarCustom]="false"
                    [showBotonCargarGeneral] ="false"
                    [printPDF]="true"
                    [isAnexo]="true"
                    [showBotonGuardar]="false"
                    >
                    </app-map-custom-mpafpp>

<br>
                    <div class="col-12 p-0">
                      <div class="row m-0">
                        <div class="col-12 col-sm-8">
                          <div>
                            <label class="label fz-11 m-0"
                              >Adjuntar Mapa en PDF</label
                            >
                            <input-buttons-codigo
                            [label]="''"
                            [idPlanManejo]="idDEMAC"
                            [idTipoDocumento]="'PMFKY'"
                            [codigoProceso]="''">
                            </input-buttons-codigo>
                        </div>
                      </div>
                      </div>
                    </div>
    </p-accordionTab>

    <p-accordionTab header="Anexo B: Detalle de resultado">
      <div class="col-12 mt-3">
        <h3 class="title2">
          Detalle del resultado del censo forestal (inventario al 100%) de las
          especies maderables de interés
        </h3>
      </div>
      <div class="col-12">
        <p-table [value]="listaResultados "
        [paginator]="true" 
        [rows]="5" 
        [showCurrentPageReport]="true"                    
        currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[5,10, 25, 50]" 
        >
          <ng-template pTemplate="header">
            <tr>
              <th rowspan="2">Especie</th>
              <th rowspan="2">N° árbol</th>
              <th rowspan="2">DAP (cm)</th>
              <th rowspan="2">Altura Comercial (m)</th>
              <th rowspan="2">Volumen (m3)</th>
              <th rowspan="2">Tipo de árbol (A/S)</th>
              <th colspan="2">Ubicación en coordenadas UTM</th>
            </tr>
            <tr>
              <th>Este</th>
              <th>Norte</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-list>
            <tr>
              <th [attr.rowspan]="list.row">{{list.nombreComun}}</th>
            </tr>
            <tr *ngFor="let item of list.lista">
              <td>{{item.nroArboles}}</td>
              <td>{{item.dap.toFixed(2)}}</td>
              <td>{{item.alturaComercial.toFixed(2)}}</td>
              <td>{{item.volumen.toFixed(2)}}</td>
              <td>{{item.tipoArbol}}</td>
              <td>{{item.coorEste}}</td>
              <td>{{item.coorNorte}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-accordionTab>
    <p-accordionTab header="Anexo C: Detalle de volúmenes diferentes a madera">
      <div class="col-12">
        <h3 class="title2">
          (Resultados del mateo por anexo o sector)
        </h3>
      </div>
      <div class="col-12"><p-table [value]="lstAnexoC" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[5,10, 25, 50]" 
        [totalRecords]="lstAnexoC.length">
          <ng-template pTemplate="header">
            <tr>
              <th rowspan="2">N° Individuo (Código)</th>
              <th rowspan="2">Nombre común</th>
              <th rowspan="2">Nombre Científico</th>
              <th colspan="2">Coordenadas UTM</th>
              <th rowspan="2">N° de árboles/area productiva (m2)</th>
              <th rowspan="2">Producto</th>
              <th rowspan="2">Produc. Aprovec litro/arbl kg/m2</th>
              <th rowspan="2">Observaciones</th>
              <th rowspan="2">Acciones</th>
            </tr>
            <tr>
              <th>Este</th>
              <th>Norte</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.idPlanManejo}}</td>
              <td>{{data.nombreComun}}</td>
              <td>{{data.nombreCientifico}}</td>
              <td>{{data.esteUTM}}</td>
              <td>{{data.norteUTM}}</td>
              <td>{{data.nroArbolesArea}}</td>
              <td>{{data.producto}}</td>
              <td>{{data.productoAprov}}</td>
              <td>{{data.observaciones}}</td>
              <td>
                <span class="pointer mr-1" title="Editar" (click)="openModalDetalle(data)">
                  <i class="pi pi-pencil"></i>
                </span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-accordionTab>
  </p-accordion>

  <!-- <div class="row m-0 pt-2 pb-4">
    <div class="col-12">
      <button  class="btn-primary2"  (click)="remitirInformacion()">Remitir Informacion</button>
    </div>
  </div> -->

  <br />
  <br />
</div>