<div class="row">
  <div class="form-group col-12">
    <label class="label">Monitoreo</label>
    <input
      type="text"
      [(ngModel)]="context.monitoreo"
      class="form-control"
      placeholder="Ingrese monitoreo"
      maxlength="100"
    />
  </div>
  <div class="form-group col-12">
    <label class="label">Descripción</label>
    <input
      type="text"
      [(ngModel)]="context.descripcion"
      class="form-control"
      placeholder="Ingrese descripción"
      maxlength="100"
    />
  </div>
  <div class="form-group col-12">
    <label class="label">Indicador</label>
    <input
      type="text"
      [(ngModel)]="context.indicador"
      class="form-control"
      placeholder="Ingrese indicador"
      maxlength="100"
    />
  </div>
  <div class="form-group col-12">
    <label class="label">Frecuencia</label>
    <input
      type="text"
      [(ngModel)]="context.frecuencia"
      class="form-control"
      placeholder="Ingrese frecuencia"
      maxlength="100"
    />
  </div>
  <div class="form-group col-12">
    <label class="label">Responsable</label>
    <input
      type="text"
      [(ngModel)]="context.responsable"
      class="form-control"
      placeholder="Ingrese responsable"
      maxlength="100"
    />
  </div>

  <div class="form-group col-12">
    <label class="label">Operaciones</label>
    &nbsp;
    <div class="row m-0">
      <div class="col-11">
        <input
          type="text"
          [(ngModel)]="operacion"
          class="form-control"
          placeholder="Ingrese operación"
          maxlength="100"
        />
      </div>
      <div class="col-1 text-center">
        <i
          (click)="agregarOperacion()"
          class="pi pi-check pointer"
          title="Agregar Operación"
        ></i>
      </div>
    </div>
    <div style="max-height: 150px; overflow: auto; margin: 15px 0px;">
      <ul *ngFor="let oper  of context.lstDetalle; let index = index">
        <li class="text-left">
          {{oper.operacion}}
          <i
            (click)="eliminar($event,oper.idMonitoreoDetalle, index)"
            class="pi pi-trash pointer"
            title="Eliminiar Medida"
          ></i>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="d-flex justify-content-end">
  <button
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
    label="Aceptar"
    class="p-button-success p-button-outlined"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
  ></button>
</div>
<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
