<p-fieldset class="customFieldset" legend="Reprogramación de Inspección">
    <div class="row m-0">
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label class="label">Fecha de Inicio </label>
                <div class="content-date">
                    <input autocomplete="off" type="text" class="form-control" matInput [matDatepicker]="fi"
                        [min]="minDate" readonly="true" [(ngModel)]="evaluacion.fechaInicioImpedimentos">
                    <i class="pi pi-calendar pointer" (click)="fi.open()"></i>
                    <mat-datepicker #fi [disabled]="disabled"></mat-datepicker>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label class="label">Fecha de Fin </label>
                <div class="content-date">
                    <input autocomplete="off" type="text" class="form-control" matInput [matDatepicker]="ff"
                        [min]="minDate" readonly="true" [(ngModel)]="evaluacion.fechaFinImpedimentos">
                    <i class="pi pi-calendar pointer" (click)="ff.open()"></i>
                    <mat-datepicker #ff [disabled]="disabled"></mat-datepicker>
                </div>
            </div>
        </div>
    </div>
</p-fieldset>

<br>


<div class="container-fluid form-container">

    <div class="row">

        <div class="col-2 col-sm-12 text-right">
            <button (click)="abrirModal()" class="btn btn-sm btn-default mb-2" type="button" title="Agregar"
                [disabled]="disabled">
                <i class="pi pi-plus"></i>
            </button>
        </div>

        <div class="col-sm-12">
            <div class="table">
                <p-table [value]="fileList"   [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registros"
                [rowsPerPageOptions]="[10, 25, 50]" [totalRecords]="fileList.length">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="text-center" style="width: 120px;">Acciones </th>
                            <th>Tipo Documento</th>
                            <th>Nombre de documento </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                        <tr>
                            <td class="text-center">
                                <span class="pointer" title="Eliminar"
                                    (click)="openEliminarRegistro($event,rowIndex ,data)">
                                    <i class="pi pi-trash"></i>
                                </span>

                                <span class="pointer" style="margin: 0 10px;" title="Descargar"
                                    (click)="verArchivo(data)">
                                    <i class="pi pi-download"></i>
                                </span>

                            </td>
                            <td> {{data.tipoDocumento }}</td>
                            <td> {{data.nombre ? data.nombre : data.nombreArchivo}}</td>

                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

    </div>

</div>

<p-dialog header="Agregar Documento" [(visible)]="display">

    <ng-template pTemplate="content">
        <div class="row" style="height: 180px;">


            <div class="col-12">
                <label class="label">Tipo Documento</label>
                <div class="form-control-selectk">
                    <p-dropdown class="fomr-control"    appendTo="body"  placeholder="-- Seleccione --" [options]="listaTipoDocumento"
                        optionValue="valorSecundario" optionLabel="valorPrimario" [(ngModel)]="file.idTipoDocumento" [virtualScroll]="true">
                    </p-dropdown>
                </div>
            </div>


            <div class="col-12">
                <div class="form-group">
                    <label class="label">Documento</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="" [(ngModel)]="file.nombre"
                            readonly="true">
                        <div class="input-group-append">
                            <button type="button" id="btnCargaShapeFile" (click)="fileInput.click()"
                                class="btn btn-sm btn-secondary">
                                Adjuntar<input #fileInput type="file" accept=".pdf" (change)="onFileChange($event)"
                                    style="display:none;" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <br /><br />
    </ng-template>


    <ng-template pTemplate="footer">

        <button icon="pi pi-save" (click)="agregarArchivo()" pButton pRipple type="button" label="Aceptar"
            class="p-button-success p-button-outlined"></button>
        <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
            class="p-button-danger p-button-outlined"></button>
    </ng-template>


</p-dialog>
