<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="5.1. Fauna silvestre" [selected]="true">
          <tabla-fauna-silvestre
            [idPlanManejo]="idPGMF" [disabled]="disabled"
          ></tabla-fauna-silvestre>
        </p-accordionTab>

        <p-accordionTab header="5.2. Tipos de bosques">
          <div *ngIf="pendiente" class="col-12">
            <label class="lbl-info mt-3 mb-3" style="float: none !important;">
              Esta información será autocompletada del plan: N3.1.7: PMFI para
              Permisos de Aprovechamiento Forestal. Dicho plan aún no cuenta con
              información.
            </label>
          </div>
          <div class="col-12">
            <div class="row mb-2">
              <div class="col-12 col-sm-12 text-right" *ngIf="listaBosque.length > 0">
                <button 
                  (click)="eliminarTiposBosque($event)"
                  pButton
                  pRipple
                  type="button"
                  title=""
                  class="p-button-success p-button-text button-more"
                  [disabled]="disabled"
                >
                  <i class="pi pi-times" style="font-size: 1.2rem"></i>
                </button>
              </div>
            </div>
            <div class="mt-2">
              <tabla-tipo-bosque
                [listaBosque]="listaBosque"
                [totalAreaBosque]="totalAreaBosque"
                [totalPorcentajeBosque]="totalPorcentajeBosque"
                [isVisible]="true"
                [disabled]="disabled"
              >
              </tabla-tipo-bosque>

              <div class="step__btn mt-4 mb-2">
                <button
                  type="submit"
                  class="btn-primary2"
                  (click)="registrarTiposBosque()"
                  [disabled] ="disabled||(isSubmitting$ | async) || listaBosque.length == 0"
                >
                  Guardar
                </button>
              </div>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4 mb-4">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
