<div class="row m-0">
  <div class="col-12 pt-3">
    <table class="table">
      <thead>
      <tr>
        <th colspan="3">Especie</th>
        <th colspan="2">Coordenadas UTM</th>
        <th rowspan="2" class="v-middle" style="width: 80px;height: 85px;"><div class="fz-10"> Árbol aprovechable</div></th>
        <th rowspan="2" class="v-middle" style="width: 80px;"><div class="fz-10"> Volumen comercial m³</div></th>
        <th rowspan="2" class="v-middle" style="width: 80px;"><div class="fz-10"> Árbol semillero</div></th>
      </tr>
      <tr>
        <th>Nombre común español</th>
        <th>Nombre científico</th>
        <th>Nombre en idioma nativo</th>
        <th>Este</th>
        <th>Norte</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of lstGrilla">
        <td>{{data.nombreComun}}</td>
        <td>{{data.nombreCientifico}}</td>
        <td>{{data.nombreNativo}}</td>
        <td>{{data.este}}</td>
        <td>{{data.norte}}</td>
        <td >
          <span *ngIf="data.idTipoArbol==1; else elseAprovechable">1</span>
          <ng-template #elseAprovechable>
            <span>0</span>
          </ng-template>
        </td>
        <td>{{data.volumen}}</td>
        <td>
          <span *ngIf="data.idTipoArbol==2; else elseSemillero">1</span>
          <ng-template #elseSemillero>
            <span>0</span>
          </ng-template>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div>RESUMEN</div>
<div class="row m-0">
  <div class="col-12 pt-3">
    <table class="table">
      <thead>
      <!-- <tr>
          <th colspan="3">Especie</th>
          <th rowspan="2" class="v-middle" style="width: 80px;height: 85px;"><div class="fz-10">N° de árboles aprovechables</div></th>
          <th rowspan="2" class="v-middle" style="width: 80px;"><div class="fz-10"> Volumen comercial m³</div></th>
          <th rowspan="2" class="v-middle" style="width: 80px;"><div class="fz-10"></div></th>
         <th rowspan="2" class="v-middle" style="width: 80px;"><div class="fz-10"> N° de total de árboles</div></th>
      </tr> -->
      <tr>
        <th>Nombre común español</th>
        <th>Nombre científico</th>
        <th>Nombre en idioma nativo</th>
        <th>N° de árboles aprovechables</th>
        <th>Volumen comercial m³</th>
        <th>N° de árboles semilleros</th>
        <th>N° de total de árboles</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of lstGrillaResumen">
        <td>{{data.nombre}}</td>
        <td>{{data.cientifico}}</td>
        <td>{{data.nombreIdiomaNativo}}</td>
        <!-- <td>{{data.nombreCientifico}}</td>
        <td>{{data.nombreIdiomaNativo}}</td> -->
        <td>{{data.numeroArbolesAprovechables}}</td>
        <td>{{data.volumenComercial}}</td>
        <td>{{data.numeroArbolSemilleros}}</td>
        <td>{{data.numeroArbolTotal}}</td>
      </tr>
      </tbody>

    </table>
  </div>
</div>
