<!-- Tabla Detalle Productos -->
<div class="col-12 form-group">
    <label class="label">Detalle de Lista de Productos Terminados</label>
    <p-table [value]="detalleListaProductos" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]" (onPageChange)="loadDataDetProd($event)"  [totalRecords]="detalleListaProductos.length">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre Común</th>
          <th>Nombre Científico</th>
          <th>Tipo Producto</th>
          <th>Diámetro Mayor</th>
          <th>Diámetro Menor</th>
          <th>Longitud</th>
          <th>Volumen</th>
          <th>Unidad Medida</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-fila>
        <tr>
          <td>{{fila.nombreComun}}</td>
          <td>{{fila.nombreCientifico}}</td>
          <td>{{fila.nombreTipoProducto}}</td>
          <td>{{fila.diametroMayor}}</td>
          <td>{{fila.diametroMenor}}</td>
          <td>{{fila.longitud}}</td>
          <td>{{fila.volumen}}</td>
          <td>{{fila.unidadMedida}}</td>
        </tr>
      </ng-template>
    </p-table>
    <!--<p-paginator [rows]="10" [totalRecords]="totalRecordsDetProd" (onPageChange)="loadDataDetProd($event)"
      [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
      currentPageReportTemplate="Total : {totalRecords} registros">
    </p-paginator>-->
  </div>