<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title">
        Notificar el otorgamiento del permiso a las entidades competentes
      </h3>
      <label class="label">Lista de información en Evaluación</label>
    </div>
    <div class="col-sm-12">
      <div class="table">
        <p-table
          [value]="items"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Total : {totalRecords} registros"
          [rowsPerPageOptions]="[10, 25, 50]"
        >
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Código Único Solicitudes</th>
              <th scope="col">Permiso</th>
              <th scope="col">Plan Manejo</th>
              <th scope="col">Código TH</th>
              <th scope="col">Fecha Emisión</th>
              <th scope="col">Fecha Fin</th>
              <th scope="col">Estado</th>
              <th scope="col">Adjuntos</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>{{ item.codUnicoSol }}</td>
              <td>
                <p-tag
                  value=" {{ item.estadoPermiso }}"
                  severity="{{
                    item.estadoPermiso == EstadoTipo.APROBADO
                      ? 'success'
                      : 'danger'
                  }}"
                  [rounded]="true"
                >
                </p-tag>
              </td>
              <td>
                <p-tag
                  value=" {{ item.estadoPlanManejo }}"
                  severity="{{
                    item.estadoPlanManejo == EstadoTipo.APROBADO
                      ? 'success'
                      : 'danger'
                  }}"
                  [rounded]="true"
                >
                </p-tag>
              </td>
              <td>{{ item.codigoTh }}</td>
              <td>{{ item.fechaEmision }}</td>
              <td>{{ item.fechaFin }}</td>
              <td>
                <p-tag
                  value=" {{ item.estado }}"
                  severity="{{
                    item.estado == EstadoTipo.VIGENTE ? 'success' : 'danger'
                  }}"
                  [rounded]="true"
                >
                </p-tag>
              </td>
              <td>
                <a
                  *ngIf="item.adjunto"
                  class="mr-3 pointer"
                  (click)="detalle(item)"
                >
                  <i class="pi pi-eye" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
