<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12 p-0">
      <p-accordion>
        <p-accordionTab
          header="4. Aprovechamiento de Recursos Forestales No Maderables"
          [selected]="true"
        >
          <div class="row m-0" *ngIf="false">
            <div class="col-12 pt-2">
              <button
                (click)="consultarServicio()"
                class="btn btn-sm btn-secondary fz-12 pl-5 pr-5"
                type="button"
              >
                Cargar recursos
              </button>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 pt-3">
              <p-table [value]="listAnexo2NoMaderables">
                <ng-template pTemplate="header">
                  <tr>
                    <th class="text-center" colspan="3">Especie</th>
                    <th class="text-center" colspan="2">Coordenadas UTM</th>
                    <th class="text-center" rowspan="2">
                      N° de árboles aprovechables
                    </th>
                    <th class="text-center" rowspan="2">Producto</th>
                    <th class="text-center" rowspan="2">Unidad de medida</th>
                    <th class="text-center" rowspan="2">
                      Cantidad de producto
                    </th>
                    <th class="text-center" rowspan="2">
                      N° de árboles semilleros
                    </th>
                    <th class="text-center" rowspan="2">N° total de árboles</th>
                  </tr>
                  <tr>
                    <th>Nombre común español</th>
                    <th>Nombre científico</th>
                    <th>Nombre en idioma nativo</th>
                    <th class="text-center">Este</th>
                    <th class="text-center">Norte</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                  <tr>
                    <td>{{ data.nombreComun }}</td>
                    <td>{{ data.nombreCientifico }}</td>
                    <td>{{ data.nombreNativo }}</td>
                    <td class="text-center">{{ data.este }}</td>
                    <td class="text-center">{{ data.norte }}</td>
                    <td class="text-center">
                      {{ data.nArbolesAprovechables }}
                    </td>
                    <td>{{ data.producto }}</td>
                    <td>{{ data.unidadMedida }}</td>
                    <td class="text-center">{{ data.cantidadProducto }}</td>
                    <td class="text-center">{{ data.nArbolesSemilleros }}</td>
                    <td class="text-center">{{ data.nTotalArboles }}</td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                  <tr>
                    <td class="tdTotal">Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="tdTotal text-center">
                      {{ totalArbolA | number: '1.0-0' }}
                    </td>
                    <td></td>
                    <td></td>
                    <td class="tdTotal text-center">
                      {{ totalCantidad | number: '1.4-4' }}
                    </td>
                    <td class="tdTotal text-center">
                      {{ totalArbolS | number: '1.0-0' }}
                    </td>
                    <td class="tdTotal text-center">
                      {{ totalArbol | number: '1.0-0' }}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Resumen" [selected]="false">
          <div class="row m-0">
            <div class="col-12 pt-3">
              <p-table [value]="listAnexo2ResumenNoMaderables">
                <ng-template pTemplate="header">
                  <tr>
                    <th class="text-center">Especie</th>
                    <th class="text-center">N° de árboles aprovechables</th>
                    <th class="text-center">Producto</th>
                    <th class="text-center">Cantidad de producto</th>
                    <th class="text-center">N° de árboles semilleros</th>
                    <th class="text-center">N° total de árboles</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                  <tr>
                    <td colspan="6">
                      <span class="tdTitle">Unidad de medida:</span> {{
                      data.unidadMedidaResumen }}
                    </td>
                  </tr>
                  <tr *ngFor="let item of data.listaAnexo2Dto">
                    <td>{{ item.nombreEspecies }}</td>
                    <td class="text-center">
                      {{ item.nArbolesAprovechables }}
                    </td>
                    <td class="text-center">{{ item.producto }}</td>
                    <td class="text-center">{{ item.cantidadProducto }}</td>
                    <td class="text-center">{{ item.nArbolesSemilleros }}</td>
                    <td class="text-center">{{ item.nTotalArboles }}</td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                  <tr>
                    <td class="tdTotal">Total</td>
                    <td class="tdTotal text-center">
                      {{ totalRArbolA | number: '1.0-0' }}
                    </td>
                    <td class="tdTotal text-center">
                      {{ totalRProducto | number: '1.0-0' }}
                    </td>
                    <td class="tdTotal text-center">
                      {{ totalRCantidad | number: '1.0-0' }}
                    </td>
                    <td class="tdTotal text-center">
                      {{ totalRArbolS | number: '1.0-0' }}
                    </td>
                    <td class="tdTotal text-center">
                      {{ totalRArbol | number: '1.0-0' }}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon1"
            [base]="evaluacion_1"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <div class="step__btn mt-4">
    <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <button
      *ngIf="isPerfilArffs"
      class="btn-primary2"
      (click)="registrarEvaluacion()"
    >
      Guardar Evaluación
    </button>
    <button
      *ngIf="isPerfilArffs"
      class="btn-primary2"
      (click)="retornarFlujoEvaluacion()"
    >
      Retornar Flujo Evaluacion
    </button>
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
  <br />
</div>
