// ::placeholder { color: rgb(177, 174, 174) !important; }
.nav {
  .nav-subheader {
    display: flex;
    align-items: center;
    height: 48px;
    font-weight: 600;
    padding-left: 24px;
    margin-top: 8px;
    font-size: 12px;
    white-space: nowrap;
  }

  .nav-group {
    display: block;

    > .group-title {
      position: relative;
      display: flex;
      align-items: center;
      height: 48px;
      font-weight: 600;
      padding-left: 24px;
      margin-top: 8px;
      font-size: 12px;
      white-space: nowrap;
    }
  }

  .nav-item {
    .nav-link {
      text-decoration: none !important;
      display: flex;
      align-items: center;
      height: 48px;
      padding: 0 12px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      user-select: none;
      color: currentColor;

      > .nav-link-title {
        flex: 1 1 auto;
        white-space: nowrap;
        font-weight: normal;
        font-size: 12px;
        color: #4a962c;
      }

      .nav-link-badge {
        display: flex;
        align-items: center;
        min-width: 20px;
        height: 20px;
        padding: 0 7px;
        font-size: 11px;
        font-weight: 600;
        border-radius: 20px;
        transition: opacity 0.2s ease-in-out 0.1s;
        margin-left: 8px;

        + .icon-expan {
          margin-left: 8px;
        }
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }

      .mat-ripple-element {
        background-color: rgba(0, 0, 0, 0.04);
      }

      &.active {
        .nav-link-icon {
          opacity: 1;
          color: #fff;
        }

        .nav-link-badge {
          background: #ffffff !important;
          color: rgba(0, 0, 0, 0.87) !important;
        }
      }

      .nav-link-icon {
        margin-right: 5px;
      }

      .nav-link-icon,
      .icon-expan {
        font-size: 16px;
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
        line-height: 16px;
        color: #4a962c;
      }
    }
    .nav-link.expan {
      background-color: #bdf1a87a;

      .nav-link-title {
        color: #4a962c;
      }
    }

    &.nav-collapsable {
      display: block;

      > .children {
        > .nav-item {
          > .nav-link,
          &.nav-group > .group-title,
          &.nav-group > .group-items > .nav-item > .nav-link {
            padding-left: 35px;
          }

          > .children {
            > .nav-item {
              > .nav-link,
              &.nav-group > .group-title,
              &.nav-group > .group-items > .nav-item > .nav-link {
                padding-left: 52px;
              }
            }
          }
        }
      }
    }
  }

  > .nav-item {
    &.nav-collapsable {
      background: transparent;
      transition: background 200ms ease-in-out;

      &.open {
        background: rgba(0, 0, 0, 0.12);
      }
    }
  }

  > .nav-group {
    > .group-items {
      > .nav-collapsable {
        background: transparent;
        transition: background 200ms ease-in-out;

        &.open {
          background: rgba(0, 0, 0, 0.12);
        }
      }
    }
  }

  &.vertical {
    .nav-group {
      .group-title {
        text-transform: uppercase;
      }
    }
  }

  &.horizontal {
    display: flex;
    flex-direction: row;

    .nav-item {
      &.nav-collapsable {
        position: relative;

        .children {
          display: none;
          position: absolute;
          top: 0;
          left: 100%;
          z-index: 999;
          min-width: 200px;
          box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
            0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12);

          &.open {
            display: block;
          }

          .nav-link {
            padding-left: 24px !important;
          }
        }
      }
    }

    > .nav-item {
      > .nav-link {
        height: 56px;
      }

      &.nav-collapsable {
        position: relative;

        > .nav-link {
          height: 56px;

          .icon-expan {
            display: none;
          }
        }

        > .children {
          top: 100%;
          left: 0;
        }
      }
    }
  }

  // Material 2 style
  &.material2,
  .material2 & {
    .nav-subheader {
      height: 40px;
    }

    .nav-group {
      > .group-title {
        height: 40px;
      }
    }
    .nav-item {
      .nav-link {
        height: 40px;
        padding: 0 12px 0 24px;
        border-radius: 0 20px 20px 0;
        margin-right: 16px;
      }
    }
  }
}

a.nav-link.ng-star-inserted.active.accent {
  background: #4a962c;
  color: #fff;
  font-weight: bold;
}

.nav-collapsable > a.nav-link + div.children {
  display: none;
}

.nav-collapsable > a.nav-link.expan + div.children {
  display: block;
}

.nav-collapsable > a.nav-link.expan .icon-expan {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.nav-collapsable > a.nav-link.expan + .children > .nav-item .nav-link.expan {
  background-color: #81ad6f26;
}
.nav-link.active.accent .nav-link-title {
  color: #fff !important;
}

/****************************/
.content-nav-parent.collapse .nav-link-title,
.content-nav-parent.collapse .infouser,
.content-nav-parent.collapse .icon_arrow_avatar {
  display: none !important;
}

.content-nav-parent.collapse:hover .nav-link-icon i {
  font-size: 14px;
}

.content-nav-parent.collapse .nav-link-icon i {
  font-size: 17px;
}

.content-nav-parent.collapse:hover {
  width: 270px !important;
  background: #edf4ea;
  z-index: 5;
  .nav-link-title,
  .infouser,
  .icon_arrow_avatar {
    display: block !important;
  }

  /*.nav-link:hover
    { .nav-link-title
        {
            display: block !important;
            position: fixed;
            left: 65px;
            z-index: 10;
            color: #fff;
            background: #4a962c;
            padding: 5px 15px;
            border-radius: 6px;
        }
    }*/
}

* {
  font-family: "Montserrat";
  font-size: 13px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

a,
a:hover {
  text-decoration: none;
}

legend {
  width: auto;
  margin-left: 10px;
  font-weight: normal !important;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
  padding: 0.8rem;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a span {
  font-size: 12px;
}

.p-fieldset .p-fieldset-content {
  padding: 0;
}

html,
body {
  height: 100%;
}

.color-default {
  color: #788292;
}

.p-accordion
  .p-accordion-header:not(.p-disabled).p-highlight
  .p-accordion-header-link {
  color: #788292;
}

.p-confirm-popup {
  z-index: 11200 !important;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
}

/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("assets/font/montserrat-v18-latin-500.woff2") format("woff2"),
    url("assets/font/montserrat-v18-latin-500.woff") format("woff");
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("assets/font/montserrat-v18-latin-700.woff2") format("woff2"),
    url("assets/font/montserrat-v18-latin-700.woff") format("woff");
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  outline: none;
  padding: 0;
  background: #edf4ea;
}

.d-inline-full {
  display: inline-block !important;
}

.fz-9 {
  font-size: 9px !important;
}
.fz-10 {
  font-size: 10px !important;
}
.fz-11 {
  font-size: 11px !important;
}
.fz-12 {
  font-size: 12px !important;
}
.fz-13 {
  font-size: 13px !important;
}
.fz-14 {
  font-size: 14px !important;
}
.fz-15 {
  font-size: 15px !important;
}
.fz-16 {
  font-size: 16px !important;
}

.fz-17 {
  font-size: 17px !important;
}
.fz-18 {
  font-size: 18px !important;
}
.fz-19 {
  font-size: 19px !important;
}
.fz-20 {
  font-size: 20px !important;
}

.fz-22 {
  font-size: 22px !important;
}
.pointer {
  cursor: pointer !important;
  color: #7d8a9e;
}

.main {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.evalTu input {
  width: 50px;
  text-align: center;
}

.evalTu div.p-dropdown {
  width: 50px;
  font-size: 11px;
  border-radius: 0px;
}

.evalTu div.p-dropdown .p-dropdown-trigger {
  width: 1rem;
  padding: 2px 5px 0 0;
}

.evalTu div.p-dropdown .p-dropdown-trigger span {
  font-size: 11px;
}

.evalTu div.p-dropdown .p-dropdown-panel .p-dropdown-items-wrapper ul li span {
  font-size: 11px;
}

div.page-wrapper {
  position: absolute;
  top: 15px;
  left: 270px;
  bottom: 0;
  margin-right: 10px;
  right: 0;
}

div.page-wrapper.collapse {
  left: 75px;
  display: block;
}

div.page-wrapper .page {
  background: #fff;
  position: absolute;
  width: 100%;
  overflow: auto;
  bottom: 0;
  top: 61px;
}

/*************   Menu side Bar   *******************/

.avatar div.avatarff.p-avatar.p-avatar-circle {
  background-color: #4a962c;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  height: 39px;
  width: 39px;
  font-family: "Montserrat";
}
/***********************************  Topbar  *********************************/

.toolbar {
  height: 120px;
  width: 100%;
}

.toolbar .content-header {
  background: #fff;
  border-radius: 20px 20px 0 0;
  height: 100%;
  padding: 15px 15px 0px 15px;
}

.toolbar .content-header div.toggle {
  display: inline-block;
  padding: 7px 11px;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #c3c1c1;
  cursor: pointer;
}

.toolbar .content-header img.logo {
  width: 300px;
  padding-left: 30px;
}

.toolbar .content-header div.notif {
  display: inline-block;
  padding: 7px 11px;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #c3c1c1;
  cursor: pointer;
}

.toolbar .content-header div.search {
  border: 1px solid #ccc;
  display: inline-block;
  min-width: 300px;
  padding: 5px;
  background: #efefef;
  border-radius: 23px;
  margin-right: 25px;
  color: #cccc;
  position: relative;
  height: 35px;
}

.toolbar .content-header div.search i {
  float: left;
  position: absolute;
  left: 15px;
  top: 30%;
  color: #737373;
  font-weight: bold;
}

.toolbar .content-header div.search span {
  width: 100%;
}

.toolbar .content-header div.search ul li {
  text-align: left;
}

.toolbar .content-header div.search input {
  border: 0;
  background: transparent;
  font-size: 13px;
  width: 100%;
  outline: none;
  color: #7d7d7d;
  box-shadow: none !important;
  padding-left: 30px;
  height: 23px;
}

/**************************************************************/
.container-content1 {
  border: 1px solid #cbdcc4;
  border-radius: 10px;
}

.container-content1 .header {
  height: 40px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 0 10px;
}

.container-content1 .header .content {
  display: table;
  width: 100%;
  height: 100%;
}

.container-content1 .header .content .column {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.container-content1 .header span {
  font-size: 13px;
  font-weight: 700;
  color: #074a53;
}

.container-content1 .header .menu {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 7px;
  display: inline-block;
  cursor: pointer;
}

.fecha-pie-chart {
  margin-bottom: 25px;
}

.fecha-pie-chart .fecha {
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: normal;
  color: #9c9c9c;
}

.fecha-pie-chart span {
  width: 100%;
}

.fecha-pie-chart span input {
  font-size: 13px;
  border-radius: 20px;
  background: rgb(228, 227, 227);
}

.bienvenido {
  position: relative;
  margin-bottom: 30px;
  min-height: 170px;
  background: #c9e0c0;
  border-radius: 20px;
}

.bienvenido .capa {
  background: #4a962c;
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 1;
}
.bienvenido img {
  float: right;
  height: 100%;
  z-index: 2;
  position: absolute;
  right: 0;
}

.bienvenido .info {
  position: absolute;
  width: 70%;
  padding: 5% 5% 10% 5%;
  float: right;
  height: 170px;
  z-index: 2;
}

.bienvenido .info h3 {
  font-size: 25px;
  font-weight: normal;
  color: #074a53;
}

.bienvenido .info h3 strong {
  font-size: 25px;
}

.bienvenido .info .desc {
  font-size: 13px;
  color: #788292;
  font-weight: normal;
}

.bienvenido .info .content-butom {
  margin: 2% 0;
}

.btn-primary2,
.btn-primary2:hover {
  background: #4a962c;
  border-radius: 10px;
  border: 0;
  color: #fff;
  padding: 4px 14px;
  font-size: 11px;
  min-width: 120px;
  min-height: 32px;
  border-radius: 20px;
  margin: 0 10px;
}

button[disabled].btn-primary2 {
  background: #bbceb4;
  cursor: not-allowed;
}

.content-calendar.fw span {
  width: 100%;
}

.content-calendar span input {
  font-size: 13px;
  border-radius: 20px;
}

.content-calendar.bg-gray span input {
  background: rgb(228, 227, 227);
}

.mat-calendar-body-selected {
  background: #4a962c;
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
.cdk-keyboard-focused
  .mat-calendar-body-active
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
.cdk-program-focused
  .mat-calendar-body-active
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background: #4caf4f31;
}

.fecha-content1 {
  font-weight: bold;
  padding-left: 10px;
}

.fecha-content1 .fecha {
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: normal;
  color: #9c9c9c;
}

.fecha-content1 span {
  width: 230px;
}

.fecha-content1 span input {
  font-size: 13px;
  border-radius: 20px;
  background: rgb(228, 227, 227);
}

.estado_tramite {
  font-size: 12px;
  position: relative;
  margin: 0 auto !important;
  width: 100%;
  display: flex;
  justify-content: center;
}

.estado_tramite .item {
  font-size: 12px;
  display: inline-block;
  border: 1px solid #ccc;
  height: 145px;
  width: 15%;
  margin-left: 10px;
  border-radius: 9px;
  background: #4a962c;
  opacity: 0.3;
}

.estado_tramite .item.active {
  opacity: 0.75;
}

.estado_tramite :first-child {
  margin-left: 0px;
}

div.menu_popup {
  position: fixed;
  z-index: 99;
}

div.menu_popup .p-menu-overlay {
  display: block !important;
  position: fixed;
}

div.menu_popup .p-menu-overlay span {
  font-weight: normal;
}

/*******************************************************/
.f-w {
  width: 100%;
}
.title {
  color: #074a53;
  font-weight: bold;
  font-size: 22px;
  font-family: "Montserrat";
}

.panelk {
  border: 1px solid #cbdcc4;
}

.br10 {
  border-radius: 10px;
}

.label {
  color: #788292;
  font-weight: normal;
  font-size: 12px;
}

.bg-gray {
  background: #f2f2f2 !important;
}

.form-control {
  outline: none !important;
  border-radius: 20px;
  font-size: 12px;
  font-family: "Montserrat";
  min-height: 32px;
  color: #707c97;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem #4a962c7a !important;
  border-width: 1px;
}

.content-date div.form-control.range {
  padding-right: 25px;
}
.content-date div.form-control.range:active,
.content-date div.form-control.range:focus,
.content-date div.form-control.range:hover {
  box-shadow: 0 0 0 0.2rem #4a962c7a !important;
  border-width: 1px;
}

.btn-secondary {
  background: #fff !important;
  min-height: 32px;
  font-family: "Montserrat";
  font-size: 11px;
  color: #4a962c !important;
  border: 2px solid #4a962c !important;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  min-width: 120px;
  cursor: pointer;
}

button[disabled].btn-secondary {
  cursor: not-allowed;
}

.btn-danger2 {
  background: #fff !important;
  min-height: 32px;
  font-family: "Montserrat";
  font-size: 11px;
  color: #eb7270 !important;
  border: 2px solid #eb7270 !important;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  min-width: 120px;
}

.btn-danger {
  background: #eb7270 !important;
  min-height: 32px;
  font-family: "Montserrat";
  font-size: 11px;
  color: #fff !important;
  border: 2px solid #eb7270 !important;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  min-width: 120px;
}

button[disabled].btn-danger {
  background: #c79fa9 !important;
  border-color: #c79fa9 !important;
  cursor: not-allowed;
}

.container-estados {
  position: relative;
  margin: 0 auto !important;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.container-estados .item {
  background: #daf3d1;
  width: 13%;
  box-sizing: border-box;
  border-radius: 20px;
  display: inline-block;
  padding: 1rem !important;
  border: 1px solid #ccc;
  margin-left: 10px;
  min-width: 150px;
}

.container-estados .item div.icon.right {
  float: left;
  background: #c5e5b8;
  border-radius: 8px;
  padding: 4px 7px;
  border: 1px solid #ccc;
  width: 30%;
  vertical-align: middle;
  margin-top: 8px;
}
.container-estados .item div.number.right {
  float: right;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin: 0 auto;
  width: 70%;
}
.container-estados .item .desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 11.5px;
  line-height: 12px;
  color: #074a53;
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
  width: 100%;
  text-align: center;
  float: right;
}

.content-header1 {
  text-align: left;
}

.title2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #707c97;
}

.sub-title14 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #707c97;
}

table {
  width: 100%;
}

table thead tr th:first-child {
  border-top-left-radius: 5px;
}
table thead tr th:last-child {
  border-top-right-radius: 5px;
}

table thead tr th {
  color: #707c97;
  background: rgba(223, 224, 235, 0.5);
  font-size: 10px;
  height: 35px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 600;
}

table tbody tr {
  border: 1px solid #eceef5;
}

table tbody tr td {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  align-items: center;
  text-align: center;
  color: #707c97;
  padding: 5px 3px;
}
/********************************************************************/
.p-checkbox-label {
  margin-bottom: 0 !important;
  font-family: "Montserrat";
  color: #788292;
  font-weight: normal;
  font-size: 12px;
}

/******************************  components material UI  *********************************/

.stepk-EvalAproPM .mat-horizontal-content-container {
  padding: 0;
}

.stepk-EvalAproPM .mat-horizontal-stepper-header {
  padding: 0;
}

.stepk-EvalAproPM .mat-step-header .mat-step-icon {
  background-color: #c4c4c4;
}

.stepk-EvalAproPM .mat-step-header .mat-step-icon-selected,
.stepk-EvalAproPM .mat-step-header .mat-step-icon-state-done,
.stepk-EvalAproPM .mat-step-header .mat-step-icon-state-edit {
  background-color: #4a962c;
}

.stepk-EvalAproPM mat-vertical-stepper mat-step-header {
  padding: 10px;
}

.stepk-EvalAproPM
  mat-vertical-stepper
  mat-step-header
  + .mat-vertical-content-container {
  margin-left: 17px;
}

.stepk-EvalAproPM .mat-step-header .mat-step-label.mat-step-label-active {
  color: #4a962c;
}

.stepk-EvalAproPM .mat-horizontal-stepper-header-container {
  width: 50%;
}

.stepk-EvalAproPM mat-vertical-stepper mat-step-header .mat-step-icon {
  height: 15px;
  width: 15px;
  z-index: 1;
}

.stepk-EvalAproPM
  mat-vertical-stepper
  mat-step-header
  .mat-step-icon
  .mat-step-icon-content
  .mat-icon,
.stepk-EvalAproPM
  mat-vertical-stepper
  mat-step-header
  .mat-step-icon
  .mat-step-icon-content
  span {
  display: none;
}

.stepk-EvalAproPM .mat-step-header.cdk-keyboard-focused,
.stepk-EvalAproPM .mat-step-header.cdk-program-focused,
.stepk-EvalAproPM .mat-step-header:hover {
  background: transparent;
}

mat-step-header[ng-reflect-selected="false"]
  .mat-step-icon-state-edit
  + div.mat-step-label.mat-step-label-active {
  color: #c4c4c4;
}

mat-step-header[ng-reflect-selected="false"] div.mat-step-icon-state-edit {
  background: #c4c4c4 !important;
}

.stepk-EvalAproPM
  mat-step-header[ng-reflect-selected="true"]
  + div.mat-stepper-vertical-line::before {
  border-left-color: #4a962c;
}

/***************************************************************/

.form-control-selectk div.p-dropdown {
  width: 100%;
  color: #707c97;

  font-size: 12px;
  font-family: "Montserrat";
  border-radius: 20px;
  min-height: 32px;
}

.form-control-autocompletek .p-inputtext {
  width: 100%;
  color: #707c97;

  font-size: 12px;
  font-family: "Montserrat";
  border-radius: 20px;
  min-height: 32px;
}

.p-password {
  width: 100%;
}

.form-control-selectk.bg-gray div.p-dropdown {
  background: #f2f2f2;
}

.form-control-multi div.p-multiselect {
  width: 100%;
  color: #707c97;

  font-size: 12px;
  font-family: "Montserrat";
  border-radius: 20px;
  min-height: 32px;
}

.form-control-multi.bg-gray div.p-multiselect {
  background: #f2f2f2;
}

.btn-default {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px 8px;
  color: #7d7d7d;
  box-shadow: none !important;
  font-size: 12px;
  font-family: "Montserrat";
}

.p-field-radiobutton {
  font-weight: normal;
  vertical-align: middle;
  display: inline-block;
  padding-right: 15px;
  cursor: pointer;
}

.p-field-radiobutton label {
  padding: 0;
  margin: 0;
  padding-left: 3px;
  font-size: 11px;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #4caf50;
}

.mat-tab-label-active {
  color: #4caf50;
  opacity: 1 !important;
  font-weight: bold;
}

.mat-tab-header-pagination-chevron {
  border-color: #4caf50;
}

.mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
  border-color: #5ba25e80;
}

.mat-datepicker-content .mat-calendar {
  height: auto !important;
}

.content-date {
  position: relative;
}

.content-date i {
  position: absolute;
  top: 8px;
  right: 15px;
  color: #4a962c8a;
  font-weight: bold;
}

.panel-header-show-xs .p-panel-header {
  display: none;
}

.panel-header-show-xs div[role="region"] .p-panel-content {
  border-top: 1px solid #dee2e6;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.req_nothing_class .p-accordion-tab .p-accordion-header a,
.req_nothing_class .p-accordion-tab .p-accordion-header a:hover {
  background: #a4a0a0 !important;
  color: #393636 !important;
  font-size: 12px;
}

.req_observado_class .p-accordion-tab .p-accordion-header a,
.req_observado_class .p-accordion-tab .p-accordion-header a:hover {
  background: #e15248 !important;
  color: #f1f1f1 !important;
  font-size: 12px;
}

.req_conforme_class .p-accordion-tab .p-accordion-header a,
.req_conforme_class .p-accordion-tab .p-accordion-header a:hover {
  background: #4a962c !important;
  color: #f1f1f1 !important;
  font-size: 12px;
}

.req_pendiente_class .p-accordion-tab .p-accordion-header a,
.req_pendiente_class .p-accordion-tab .p-accordion-header a:hover {
  background: rgb(226, 226, 37) !important;
  //color: #f1f1f1 !important;
  color: white !important;
  font-size: 12px;
}


.req_anexo_observado_class .p-panel-header{
  background: #e15248 !important;
  color: #f1f1f1 !important;
  font-size: 12px;
}

.req_anexo_conforme_class .p-panel-header {
  background: #4a962c !important;
  color: #f1f1f1 !important;
  font-size: 12px;
}

.req_anexo_pendiente_class .p-panel-header {
  background: rgb(226, 226, 37) !important;
  //color: #f1f1f1 !important;
  color: white !important;
  font-size: 12px;
}


@media screen and (max-width: 960px) {
  div.page-wrapper.collapse {
    left: 0px;
  }

  .panel-header-show-xs .p-panel-header {
    display: flex;
  }

  .d-inline-full {
    display: block;
  }

  .container-estados {
    justify-content: start;
  }

  .toolbar .content-header div.notif {
    float: right;
    position: fixed;
    right: 25px;
    top: 30px;
  }

  .toolbar .content-header div.toggle {
    float: left;
  }

  .content-header1 {
    text-align: center;
  }

  .toolbar .content-header img.logo {
    padding: 0;
    width: 200px;
  }
  div.page-wrapper .page {
    top: 120px;
  }

  .toolbar .content-header div.search {
    width: 100%;
    min-width: 100%;
    margin: 0;
    margin-top: 10px;
  }

  div.page-wrapper {
    left: 0;
  }

  .content-nav-parent.collapse .nav-link-title,
  .content-nav-parent.collapse .infouser,
  .content-nav-parent.collapse .icon_arrow_avatar {
    display: block !important;
  }
}
$color1: #4a962c;
$color2: #c4c4c4;
$color3: white;
/*Style for MapView*/
@import "https://js.arcgis.com/4.20/@arcgis/core/assets/esri/themes/dark/main.css";

.esri-widget--button {
  background-color: $color1;
  color: $color3;
  border-radius: 5px;
  margin-top: 3px;
}
.esri-widget--button:hover,
.esri-widget--button:focus {
  background-color: $color3;
  color: $color1;
  border-color: $color1;
}
.esri-view-surface {
  border-radius: 5px !important;
}
.esri-popup__main-container {
  background-color: #242424;
}
.esri-feature {
  color: #d1d1d1;
  font-size: 14px;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3em;
  background-color: #242424;
}
.esri-view-height-xsmall .esri-expand .esri-widget--panel,
.esri-view-height-xsmall .esri-expand .esri-widget--panel-height-only,
.esri-view-height-xsmall .esri-ui-corner .esri-component.esri-widget--panel,
.esri-view-height-xsmall
  .esri-ui-corner
  .esri-component.esri-widget--panel-height-only {
  max-height: 340px !important;
}
.p-dialog,
.p-dialog-mask.p-component-overlay {
  z-index: 98 !important;
}
.form-control.ng-dirty.ng-invalid,
.form-control.ng-invalid.ng-touched {
  box-shadow: none !important;
  border: 1px solid #db2727 !important;
}
p-dropdown.ng-dirty.ng-invalid > .p-dropdown,
p-dropdown.ng-touched.ng-invalid > .p-dropdown {
  box-shadow: none !important;
  border: 1px solid #db2727 !important;
}

p-p-radiobutton.ng-dirty.ng-invalid > .p-radiobutton,
p-radiobutton.ng-touched.ng-invalid > .p-radiobutton {
  box-shadow: none !important;
  border: 1px solid #db2727 !important;
}

.invalid-message {
  color: #db2727;
  font-size: 11px;
}

.p-datatable table {
  table-layout: initial !important;
}

#informacion table {
  display: inline-block !important;
  overflow-x: auto !important;
  white-space: nowrap !important;

}

#informacion2 table {
  display: inline-block !important;
  overflow-x: auto !important;
  white-space: nowrap !important;

}



select.form-control > option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ffffff;
  font-size: 13px;
  font-weight: 400;
  font-family: "Montserrat";
  padding: 0.5rem 1rem;
  height: 30px !important;
  min-height: 30px !important;
}

select.form-control > option:hover {
  color: #495057;
  background: #e9ecef !important;
}

select.form-control > option:checked {
  color: #495057;
  background: #e8f5e9;
}

.required_ {
  font-size: 12px;
  font-weight: bold;
  color: #3b1818;
  padding-left: 0.2em;
}

.border-none,
input.border-none,
.border-none:hover,
.border-none:active {
  border-width: 0px !important;
  box-shadow: none !important;
  border-color: #fff !important;
  border-radius: 0 !important;
  outline-color: transparent !important;
}

.w90 {
  width: 90% !important;
}
.w100 {
  width: 100% !important;
}

.h100 {
  height: 100%;
}

.width-full {
  width: 100%;
}

/*JaquelineDB*/
.margintop5px {
  margin-top: 5px;
}

.font-normal {
  font-weight: normal !important;
}

.pie-axesos-fimas {
  min-height: 32px;
  border-bottom: 1px dashed rgb(54, 53, 53);
  padding: 0 15px;
}

.texto-parrafo {
  color: #074a53;
  font-size: 11px;
  font-family: "Montserrat";
}

.no-show {
  display: none;
}

.mat-tab-label .mat-tab-label-content {
  flex-wrap: wrap !important;
}

.mat-tab-label .mat-tab-label-content span {
  display: flex !important;
  flex: 1 0 100% !important;
  justify-content: center !important;
}

.th-rotate-270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  text-align: center;
}

.v-middle {
  vertical-align: middle !important;
}

td * {
  font-size: 11px;
  margin: 0;
}

table.table-boderk thead tr th {
  border: 1px solid #dee2e6;
}

table.table-boderk tbody tr td {
  border: 1px solid #dee2e6;
}

table tbody tr th {
  font-size: 10px !important;
}

.lbl-info {
  font-size: smaller;
  font-weight: 100;
  color: #007bff;
  float: left;
}
.lbl-local-change {
  font-size: smaller;
  font-weight: 100;
  color: #007bff;
}

.p-inputtext {
  font-family: "Montserrat";
  font-size: 11px;
}

.bb-title {
  border-bottom: 1px solid #ccc;
}

.customFieldset .p-fieldset .p-fieldset-legend {
  background: white !important;
  border: 1px solid #ffffff !important;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #707c97;
}

.nro-plan {
  color: #4caf50;
  font-size: 1.2em;
}

.p-toast-top-right {
  right: 20px;
  top: 20px;
  white-space: pre-wrap;
}

.button-more:disabled:hover {
  cursor: not-allowed;
}

.p-dropdown-item.p-ripple {
  white-space: normal;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

//Inicio: Estilos para pner un loading interno
.loading-interno{
  position: relative;
}
.loading-interno::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  width: 100%;
  height: 100%;
  background-image: url(./assets/img/load-interno2.gif);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.form-control-autocompletek.ng-invalid.ng-touched .p-password-input.p-inputtext {
  box-shadow: none !important;
  border: 1px solid #db2727 !important;
}


//p-table {

.table-justify {
  word-break: normal;
  overflow-wrap: anywhere;
}

// Evitar desbordamiento en las tablas
// p-table tbody{
//   word-break: normal;
//   overflow-wrap: anywhere;
// }

.no-desbor-table tbody{
  word-break: normal;
  overflow-wrap: anywhere;
}

.no-desbor{
  word-break: normal;
  overflow-wrap: anywhere;
}

.font11-td td{
  font-size: 11px;
}

//Fin

.ul-style-none {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.disabled-pointer{
  pointer-events: none;
  opacity: 0.7;
}

//Colores para estados de los planes
.estRojo{
  color: #df2323;
  font-weight: bold;
}
.estAmarilo{
  color: #bdbd0f;
  font-weight: bold;
}
.estAzul{
  color: #1c1cd7;
  font-weight: bold;
}
.estMarron{
  color: #9d5207;
  font-weight: bold;
}
.estNaranja{
  color: #db9516;
  font-weight: bold;
}

.p-radiobutton-label{
  margin-bottom: 0 !important;
}

div.ig-left p-dropdown:last-child div.p-dropdown{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius:0px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;         
  }

div.ig-left p-dropdown:first-child div.p-dropdown{
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius:20px !important;
}

div.ig-left input.form-control{
  border-radius: 0px;
}

div.ig-left input.form-control:last-child{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

