<form [formGroup]="f">
    <div class="form-group">
        <label class="label">Tipo de aprovechamiento</label>
        <div class="form-control-selectk">
            <p-dropdown appendTo="body" formControlName="codigoTipoDetalle" [options]="tipos"
                        optionLabel="valor1" optionValue="codigo" [autoDisplayFirst]="false"
                        placeholder="Seleccione un tipo de aprovechamiento">
            </p-dropdown>
        </div>
    </div>

    <div class="form-group">
        <label class="label">Actividad</label>
        <input formControlName="actividades" type="text" class="form-control"
               placeholder="Ingrese Actividad" maxlength="100" >
    </div>

    <div class="form-group">
        <label class="label">Descripción</label>
        <input type="text" formControlName="descripcionSistema" class="form-control"
               placeholder="Ingrese Descripción" maxlength="100">
    </div>
    <div class="form-group">
        <label class="label">Equipos e insumos</label>
        <input type="text" formControlName="maquinariasInsumos" class="form-control"
               placeholder="Ingrese Equipos e Insumos" maxlength="100">
    </div>
    <div class="form-group">
        <label class="label">Personal requerido</label>
        <input type="text" formControlName="personalRequerido" class="form-control"
               placeholder="Ingrese Personal" maxlength="100">
    </div>
    <div class="form-group">
        <label class="label">Observaciones</label>
        <label class="label">(máx. 250 caracteres):*</label>
        <textarea formControlName="observacion" class="form-control" rows="3" cols="4"
                  placeholder="Ingrese Observaciones" maxlength="250">
        </textarea>
    </div>


    <div class="p-dialog-footer" style="padding-bottom:0px;padding-right:0px;">
        <button icon="pi pi-save" pButton (click)="guardar()" pRipple type="button" label="Aceptar"
                class="p-button-success p-button-outlined" style="width: 106px;"></button>
        <button icon="pi pi-times" (click)="cancelar()" pButton pRipple type="button" label="Cancelar"
                class="p-button-danger p-button-outlined" style="width: 106px;"></button>
    </div>
</form>
