<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab
          header="Anexo 1: Mapa base"
          [selected]="true"
          (selectedChange)="selectedTab(1, $event)"
        >
          <map-custom-anexo
            [idPlanManejo]="idPGMF"
            [codigoProceso]="'PMFIC'" [disabled]="disabled"
            [codigoSubSeccion]="'PFMICORGAAnexo1'"
            [tipoGeometria]="'Otros'"
            [isAnexo]="true"
            [printPDF]="true"
          ></map-custom-anexo>
        </p-accordionTab>

        <p-accordionTab
          header="Anexo 2: Mapa de ordenamiento y división administrativa"
          (selectedChange)="selectedTab(2, $event)"
        >
          <map-custom-anexo
            [idPlanManejo]="idPGMF" [disabled]="disabled"
            [codigoProceso]="'PMFIC'"
            [codigoSubSeccion]="'PFMICORGAAnexo2'"
            [tipoGeometria]="'Otros'"
            [isAnexo]="true"
            [printPDF]="true"
          ></map-custom-anexo>
        </p-accordionTab>

        <p-accordionTab
          header="Anexo 3: Resultados del inventario por muestreo"
          (selectedChange)="selectedTab(3, $event)"
        >
          <div
            class="col-12 mt-4 mb-3"
            *ngFor="let response of listAnexo3Especies"
          >
            <p-table styleClass="p-datatable-gridlines" [value]="[response]">
              <ng-template pTemplate="header">
                <tr>
                  <th colspan="9" style="text-align: left">
                    <div class="row">
                      <span class="col-6">
                        Tipo de bosque: {{ response.nombreBosque }}</span
                      >

                      <!-- <div class="form-control-selectk col-6">
                        <p-dropdown
                          appendTo="body"
                          [options]="catalogoTipoBosque"
                          placeholder="--Seleccionar--"
                          optionLabel="valor1"
                          optionValue="codigo"
                          [(ngModel)]="codigoBosqueAnexo3"
                          (onChange)="listAnexo3($event.value)"
                        >
                        </p-dropdown>
                      </div> -->
                    </div>
                  </th>
                  <th colspan="2" style="text-align: left">
                    Área: {{ response.areaBosque }}
                  </th>
                </tr>
                <tr>
                  <th rowspan="2">Nombre Común</th>
                  <th rowspan="2">Var/ha</th>
                  <th colspan="7">DAP (cm)</th>
                  <th rowspan="2">Total por tipo de bosque</th>
                  <th rowspan="2">Total por ha</th>
                </tr>
                <tr>
                  <th>31-40</th>
                  <th>41-50</th>
                  <th>51-60</th>
                  <th>61-70</th>
                  <th>71-80</th>
                  <th>81-90</th>
                  <th>+90</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-data>
                <tr>
                  <td [attr.rowspan]="4">{{ data.nombreComun }}</td>
                </tr>
                <tr *ngFor="let item of data.array">
                  <td>{{ item.var }}</td>
                  <td>{{ item.Dap30a39 }}</td>
                  <td>{{ item.Dap40a49 }}</td>
                  <td>{{ item.Dap50a59 }}</td>
                  <td>{{ item.Dap60a69 }}</td>
                  <td>{{ item.Dap70a79 }}</td>
                  <td>{{ item.Dap80a89 }}</td>
                  <td>{{ item.Dap90aMas }}</td>
                  <td>{{ item.TotalTipoBosque }}</td>
                  <td>{{ item.TotalPorArea }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td rowspan="4" class="tdTotal">Total</td>
                </tr>
                <tr>
                  <td class="tdTotal">N</td>
                  <td class="tdTotal">
                    {{ response.total.Dap30a39ARB | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.Dap40a49ARB | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.Dap50a59ARB | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.Dap60a69ARB | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.Dap70a79ARB | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.Dap80a89ARB | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.Dap90aMasARB | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.TotalTipoBosqueARB | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.TotalPorAreaARB | number: "1.4-4" }}
                  </td>
                </tr>
                <tr>
                  <td class="tdTotal">AB m2</td>
                  <td class="tdTotal">
                    {{ response.total.Dap30a39AB | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.Dap40a49AB | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.Dap50a59AB | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.Dap60a69AB | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.Dap70a79AB | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.Dap80a89AB | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.Dap90aMasAB | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.TotalTipoBosqueAB | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.TotalPorAreaAB | number: "1.4-4" }}
                  </td>
                </tr>
                <tr>
                  <td class="tdTotal">Vc m3</td>
                  <td class="tdTotal">
                    {{ response.total.Dap30a39VOL | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.Dap40a49VOL | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.Dap50a59VOL | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.Dap60a69VOL | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.Dap80a89VOL | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.Dap80a89AB | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.Dap90aMasVOL | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ TotalTipoBosqueVOL | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ TotalPorAreaVOL | number: "1.4-4" }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-accordionTab>

        <p-accordionTab
          header="Anexo 4: Resultados del inventario de fustales por especie"
          (selectedChange)="selectedTab(4, $event)"
        >
          <div
            class="col-12 mt-4 mb-3"
            *ngFor="let response of listAnexo4Especies"
          >
            <p-table styleClass="p-datatable-gridlines" [value]="[response]">
              <ng-template pTemplate="header">
                <tr>
                  <th colspan="4" style="text-align: left">
                    <div class="row">
                      <span class="col-6">
                        Tipo de bosque: {{ response.nombreBosque }}
                      </span>
                    </div>
                  </th>
                  <th colspan="2" style="text-align: left">
                    Área: {{ response.areaBosque }}
                  </th>
                </tr>
                <tr>
                  <th rowspan="2">Nombre Común</th>
                  <th rowspan="2">Var/ha</th>
                  <th colspan="2">DAP (cm)</th>
                  <th rowspan="2">Total por tipo de bosque</th>
                  <th rowspan="2">Total por ha</th>
                </tr>
                <tr>
                  <th>10-20</th>
                  <th>20-30</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr>
                  <td [attr.rowspan]="3">{{ data.nombreComun }}</td>
                </tr>
                <tr *ngFor="let item of data.array">
                  <td>{{ item.var }}</td>
                  <td>{{ item.Dap10a20 }}</td>
                  <td>{{ item.Dap20a30 }}</td>
                  <td>{{ item.TotalTipoBosque }}</td>
                  <td>{{ item.TotalPorArea }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td rowspan="3" class="tdTotal">Total</td>
                </tr>
                <tr>
                  <td class="tdTotal">N</td>
                  <td class="tdTotal">
                    {{ response.total.Dap10a20 | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.Dap20a30 | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.TotalTipoBosque | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.TotalPorArea | number: "1.4-4" }}
                  </td>
                </tr>
                <tr>
                  <td class="tdTotal">AB m2</td>
                  <td class="tdTotal">
                    {{ response.total.Dap10a20A | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.Dap20a30A | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.TotalTipoBosqueA | number: "1.4-4" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.total.TotalPorAreaA | number: "1.4-4" }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-accordionTab>

        <p-accordionTab
          header="Anexo 5: Resultados del censo forestal comercial con fines maderables"
          (selectedChange)="selectedTab(5, $event)"
        >
          <div class="col-12 mt-4 mb-3">
            <p-table
              styleClass="p-datatable-gridlines"
              [value]="listAnexo5Maderables"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th rowspan="2">N° faja</th>
                  <th rowspan="2">N° Árbol (Código)</th>
                  <th rowspan="2">Especie</th>
                  <th rowspan="2">DAP (cm)</th>
                  <th rowspan="2">Altura comercial (m)</th>
                  <th rowspan="2">Calidad fuste</th>
                  <th colspan="2">Coordenadas UTM</th>
                  <th rowspan="2">Vc (m<sup>3</sup> )</th>
                  <th rowspan="2">Árbol Aprovechable/ Semillero</th>
                </tr>
                <tr>
                  <th>E</th>
                  <th>N</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr>
                  <td>{{ data.numeroFaja }}</td>
                  <td>{{ data.nArbol }}</td>
                  <td>{{ data.nombreEspecies }}</td>
                  <td>{{ data.dap }}</td>
                  <td>{{ data.alturaComercial }}</td>
                  <td>{{ data.calidadFuste }}</td>
                  <td>{{ data.este }}</td>
                  <td>{{ data.norte }}</td>
                  <td>{{ data.volumen }}</td>
                  <td>{{ data.categoria }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-accordionTab>

        <p-accordionTab
          header="Anexo 6: Resultados del inventario forestal con fines no maderables"
          (selectedChange)="selectedTab(6, $event)"
        >
          <div
            class="col-12 mt-4 mb-3"
            *ngFor="let response of listAnexo6NoMaderables"
          >
            <p-table
              styleClass="p-datatable-gridlines"
              [value]="response.listaTablaAnexo6Dto"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th colspan="4">Área (ha): {{ response.areaBosque }}</th>
                </tr>
                <tr>
                  <th colspan="4">
                    Tipo de bosque: {{ response.nombreBosque }}
                  </th>
                </tr>
                <tr>
                  <th>Nombre común</th>
                  <th>Var/ha</th>
                  <th>Total por tipo de bosque</th>
                  <th>Total por ha</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-data>
                <tr>
                  <td [attr.rowspan]="3">{{ data.nombreComun }}</td>
                </tr>
                <tr>
                  <td>N</td>
                  <td>{{ data.nTotalPorTipoBosque }}</td>
                  <td>{{ data.nTotalPorHa }}</td>
                </tr>
                <tr>
                  <td>C**</td>
                  <td>{{ data.cTotalPorTipoBosque }}</td>
                  <td>{{ data.cTotalPorHa }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td rowspan="3" class="tdTotal">Total</td>
                </tr>
                <tr>
                  <td class="tdTotal">N</td>
                  <td class="tdTotal">
                    {{ response.nTotalPorTipoBosqueN | number: "1.2-2" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.nTotalPorHaN | number: "1.2-2" }}
                  </td>
                </tr>
                <tr>
                  <td class="tdTotal">C**</td>
                  <td class="tdTotal">
                    {{ response.cTotalPorTipoBosqueC | number: "1.2-2" }}
                  </td>
                  <td class="tdTotal">
                    {{ response.cTotalPorHaC | number: "1.2-2" }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-accordionTab>

        <p-accordionTab
          header="Anexo 7: Resultados del censo forestal comercial con fines no maderables"
          (selectedChange)="selectedTab(7, $event)"
        >
          <div class="col-12 mt-4 mb-3">
            <p-table
              styleClass="p-datatable-gridlines"
              [value]="listAnexo7NoMaderables"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th rowspan="2">N° faja</th>
                  <th rowspan="2">N° Árbol o individuo</th>
                  <th rowspan="2">Especie</th>
                  <th colspan="2">Coordenadas UTM</th>
                  <th rowspan="2">C*</th>
                  <th rowspan="2">Árbol o individuo semillero</th>
                </tr>
                <tr>
                  <th>E</th>
                  <th>N</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr>
                  <td>{{ data.numeroFaja }}</td>
                  <td>{{ data.nArbol }}</td>
                  <td>{{ data.nombreEspecies }}</td>
                  <td>{{ data.este }}</td>
                  <td>{{ data.norte }}</td>
                  <td>{{ data.c == 'null' ? '' : data.c }}</td>
                  <td>{{ data.categoria }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-accordionTab>

        <p-accordionTab
          header="Anexo 8: Lista de especies mencionadas"
          (selectedChange)="selectedTab(8, $event)"
        >
          <div class="col-12 mt-4 mb-3">
            <p-table
              styleClass="p-datatable-gridlines"
              [value]="listAnexo8Especies"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>Nombre común</th>
                  <th>Nombre nativo</th>
                  <th>Nombre científico</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr>
                  <td>{{ data.textNombreComun }}</td>
                  <td>{{ data.nombreNativo }}</td>
                  <td>{{ data.textNombreCientifico }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>

          <div>
            <button type="button" class="btn-secondary" title="Descargar Listado" (click)="descargarListadoAnexo8()">
              Descargar Listado
            </button>
          </div>

        </p-accordionTab>

        <p-accordionTab
          header="Anexo 9: Acta de asamblea comunal"
          (selectedChange)="selectedTab(9, $event)"
        >
          <div class="col-12 mt-4 mb-3">
            <h3 class="title2">Acta de asamblea comunal</h3>
            <div>
              <p>
                En el que conste el acuerdo para el ordenamiento interno, la
                zonificación interna comunal, la decisión del aprovechamiento
                del recurso y el compromiso de implementar el PMFI
              </p>
            </div>
            <div class="col-sm-12">
              <input-buttons-codigo [disabled]="disabled"
                [label]="''"
                [idPlanManejo]="idPGMF"
                [idTipoDocumento]="'POACANAN4MD'"
                [codigoProceso]="'PMFIC'"
              >
              </input-buttons-codigo>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4 mb-4">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <!-- <button class="btn-primary2">Guardar</button> -->
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
    </div>
  </div>
</div>
