<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab
          header="7.1. Superficie y ubicación de los bloques (Opcional)"
          [selected]="true"
        >
          <!-- <app-map-custom
            [idPlanManejo]="idPGMF"
            [codigoProceso]="'PMFIC'"
            [codigoSubSeccion]="'PFMICOPUMFSUB'"
            [tipoGeometria]="'Otros'"
            [isAnexo]="false"
            [printPDF]="false"
          ></app-map-custom> -->
          <tabla-superficie
            [listCoordinatesAnexo]="listCoordinatesAnexo1"
            [usuario]="usuario"
            [idPlanManejo]="idPlanManejo"
            (listBloques)="listBloques($event)"
            [disabled]="disabled"
          >
          </tabla-superficie>
        </p-accordionTab>

        <p-accordionTab
          header="7.2. Superficie y ubicación del área de aprovechamiento en el primer bloque (Opcional)"
        >
          <!-- <app-map-custom
            [idPlanManejo]="idPGMF"
            [codigoProceso]="'PMFIC'"
            [codigoSubSeccion]="'PFMICOPUMFSUA'"
            [tipoGeometria]="'Otros'"
            [isAnexo]="false"
            [printPDF]="false"
          ></app-map-custom> -->
          <tabla-superficie-primer-bloque
            [listCoordinatesAnexo]="listCoordinatesAnexo2"
            [usuario]="usuario"
            [idPlanManejo]="idPlanManejo"
            (listVerticesPrimerBloque)="listVerticesPrimerBloque($event)"
            [disabledBtn]="disabledBtn"
            [disabled]="disabled"
          ></tabla-superficie-primer-bloque>
        </p-accordionTab>

        <p-accordionTab
          header="7.3. Superficie y ubicación de la parcela de corta del año operativo (Opcional)"
        >
          <!-- <app-map-custom
            [idPlanManejo]="idPGMF"
            [codigoProceso]="'PMFIC'"
            [codigoSubSeccion]="'PFMICOPUMFSUP'"
            [tipoGeometria]="'Otros'"
            [isAnexo]="false"
            [printPDF]="false"
          ></app-map-custom> -->
          <tabla-superficie-anio-operativo
            [listCoordinatesAnexo]="listCoordinatesAnexo3"
            [usuario]="usuario"
            [idPlanManejo]="idPlanManejo"
            (listVerticesAnioOperativo)="listVerticesAnioOperativo($event)"
            [disabled]="disabled"
          ></tabla-superficie-anio-operativo>
        </p-accordionTab>

        <p-accordionTab
          header="7.4. Medidas de protección de la unidad de manejo forestal"
        >
          <div class="col-12 p-0 text-right">
            <button
              (click)="editarMedidas('create')"
              pButton
              pRipple
              type="button"
              label=""
              class="p-button-success p-button-text"
              [disabled]="disabled"
            >
              <i class="pi pi-plus"></i>
            </button>
          </div>
          <p-table [value]="listMedidadProteccion">
            <ng-template pTemplate="header">
              <tr>
                <th>Acciones</th>
                <th>Medidas</th>
                <th>Descripción</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td>
                  <span
                    class="pointer mr-1"
                    title="Editar"
                    (click)="!disabled&&editarMedidas('edit', data)"
                  >
                    <i class="pi pi-pencil"></i>
                  </span>
                  <span
                    class="pointer ml-1"
                    title="Eliminar"
                    (click)="!disabled&&eliminarMedida($event, data, rowIndex)"
                  >
                    <i class="pi pi-trash"></i>
                  </span>
                </td>
                <td>{{ data.actividades }}</td>
                <td>{{ data.descripcionSistema }}</td>
              </tr>
            </ng-template>
          </p-table>
        </p-accordionTab>

        <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeon_7"
            [base]="detEvaluacion_7"
          >
          </evaluacion-archivo-shared>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4 mb-4">
        <message-evaluation *ngIf="isPerfilArffs"></message-evaluation>
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button *ngIf="!isPerfilArffs" class="btn-primary2" (click)="guardar()" [disabled]=disabled>Guardar</button>
        <button *ngIf="isPerfilArffs" class="btn-primary2" (click)="registrarEvaluacion()">Guardar Evaluación</button>
        <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
      </div>
    </div>
  </div>
</div>

<p-confirmPopup></p-confirmPopup>

<p-confirmDialog [style]="{ width: '300px' }" key="deleteFileSHP"></p-confirmDialog>
