<div class="row m-0">
    <div class="col-12 col-sm-9">
      <div class="form-group">
        <label class="label">Nombre Científico </label>
        <div class="form-control-selectk">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar..."
            [(ngModel)]="queryBosque"
          />
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3">
      <div class="form-group">
        <label class="label">&nbsp;&nbsp;</label>
        <div class="text-center">
          <button type="button" class="btn-primary2" (click)="filtrarFauna()">
            Buscar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12">
      <p-table
        [value]="comboListBosques"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} "
        [rowsPerPageOptions]="[10,25,50]"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 50px;"></th>
            <th>Nombre Científico</th>
            <th>Region</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>
              <p-checkbox
                name="bosque"
                [value]="data"
                [(ngModel)]="selectedValues"
                >
               <!--  (onChange)="onChangeBosque($event, data)" -->
              </p-checkbox>
            </td>
            <td>{{data.descripcion}}</td>
            <td>{{data.region}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  
  <div class="d-flex justify-content-end">
    <button
      icon="pi pi-save"
      (click)="agregar()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
      style="width: 106px;"
    ></button>
    &nbsp;&nbsp;
    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
      style="width: 106px;"
    ></button>
  </div>
  <p-toast></p-toast>
  <p-toast position="top-right" key="tml"></p-toast>
  