<div class="container-fluit  mt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="Formulario" [selected]="true">
          <div class="row m-0">
            <div class="col-12">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 250px;">Bloque</th>
                    <th style="width: 100px;">Estado</th>
                    <th style="width: 150px;">Conformidad</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of requestTabla">
                    <td class="text-left">{{item.titulo}}</td>
                    <td><span class="fz-11" [ngClass]="item.conforme ? 'text-success':'text-warning'">{{item.descripcionCodigoEstado}}</span></td>
                    <td>
                      <p-checkbox [disabled]="isDisbledFormu" [binary]="true" [(ngModel)]="item.conforme"
                        (ngModelChange)="clickCheck(item)"></p-checkbox>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row m-0" *ngIf="!isDisbledFormu">
            <div class="col-12 mt-3">
              <button type="button" class="btn-primary2 ml-0" (click)="btnGuardar()" [disabled]="isDisbledFormu">
                Guardar
              </button>
            </div>
          </div>

        </p-accordionTab>


        <p-accordionTab header="Registro de Plantaciones Forestales">

          <div class="row m-0 mt-3">
            <div class="col-12 col-sm-6">
              <label class="label">Generar Formato para Inscripción en Registro de Plantaciones Forestales</label>
              <div>
                <button type="button" class="btn-primary2 ml-0" (click)="descargarFormatoPlantacionesForestales()"
                [disabled]="isDisbledFormu">
                Generar Formato
              </button>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <app-carga-archivo-general [disabled]="isDisbledFormu" accept=".pdf" [idArchivo]="adjuntoA6_1.idArchivo"
                [tipoDoc]="adjuntoA6_1.tipoArchivo" (registrarArchivo)="registrarArchivo($event, 1)"
                (eliminarArchivo)="eliminarArchivo($event, 1)" label="Cargar Formato para Inscripción en Registro de Plantaciones Forestales">
              </app-carga-archivo-general>
            </div>

            <div class="col-12 mt-4" *ngIf="!isDisbledFormu">
              <button type="button" class="btn-primary2 ml-0" (click)="btnGuardarAnexo()" [disabled]="isDisbledFormu">
                Guardar
              </button>
            </div>
          </div>
          <br/>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 mt-3" *ngIf="!(isDisbledFormu || isSolicitudHija)">
      <button type="button" class="btn-primary2" (click)="btnEnviarRevision($event)" [disabled]="disabledEnviar">
        Enviar a Revisión
      </button>
    </div>

    <div class="col-12 mt-3" *ngIf="isSolicitudHija && !isDisbledFormu">
      <button type="button" class="btn-primary2" (click)="btnEnviarArffs($event)" [disabled]="false">
        Enviar a ARFFS
      </button>
    </div>

    <!-- <div class="col-12 mt-3" *ngIf="!isDisbledFormu && isEstadoSolObs">
        <button type="button" class="btn-primary2" (click)="btnEnviarEvaluacion($event)" [disabled]="isDisbledFormu">
          Enviar a Evaluación
        </button>
      </div> -->
  </div>
</div>
