<div class="modal-lg">
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">N° de faja</label>
        <div class="form-control-selectk">
          <input
            numero
            [min]="0"
            [maxlength]="50"
            type="text"
            class="form-control"
            [(ngModel)]="form.numeroFaja"
          />
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">Número de árbol</label>
        <input
          numero
          [min]="0"
          [maxlength]="50"
          class="form-control"
          [(ngModel)]="form.nArbol"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">Especie</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="form.nombreEspecies"
          maxlength="50"
        />
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">C</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="form.c"
          maxlength="50"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">Este</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="form.este"
          maxlength="50"
        />
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">Norte</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="form.norte"
          maxlength="50"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">Árbol o individuo semillero </label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="form.categoria"
          maxlength="50"
        />
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button
      icon="pi pi-save"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      (click)="editar()"
      class="p-button-success p-button-outlined"
      style="width: 106px"
    ></button>
    &nbsp;&nbsp;
    <button
      icon="pi pi-times"
      (click)="cerrarModal()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
      style="width: 106px"
    ></button>
  </div>
</div>
