<a type="button" class="pointer" title="Impugnación al SAN" (click)="verPDF()"
><i class="pi pi-check-circle"></i
></a>

<p-dialog
  header="Registrar Impugnación al SAN"
  appendTo="body"
  [(visible)]="isShowModal2_2"
  [modal]="true"
  [style]="{ width: '60vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">

<div>
  <h4 *ngIf="false" class="font-weight-bold">
    <label style="color: red;font-weight: bold; font-size: 12px">Usted tiene {{impugnacionSan.diasRestantesPlan}} días para resolver las observaciones.</label>
  </h4>
</div>

    <div>
      <h4 class="font-weight-bold">
        Plan Manejo {{codigoPlan}} &nbsp;<label class="nro-plan-forestal">N° {{ idPlanManejo }}</label>
      </h4>
    </div>

<div class="row" *ngIf="false">
  <div class="col-4">
    <label>Días a agregar</label>
    <input type="number" numero  [disabled]="flagBloqueoDias" [(ngModel)]="impugnacionSan.diasAdicionales" class="form-control"/>
  </div>

  <div class="col-4 form-group justify-content-center">
    <input-buttons-codigo [label]="'Cargar Evidencia'" [disabled]="flagBloqueoDias"
      [idPlanManejo]="idPlanManejo" [idTipoDocumento]="codigoArchivoEvidencia"
      [codigoProceso]="codigoPlan" (registrarArchivoId)="cargarEvidencia($event)">
    </input-buttons-codigo>
  </div>

  <div class="col-4">
    <br>
    <button style="margin-left: 0" icon="pi pi-save" (click)="editarCalendario()" [disabled]="flagBloqueoDias"
            type="button" class="btn btn-sm btn-primary2">Editar Calendario</button>&nbsp;
  </div>

</div>

<div class="mt-3 row">
    <div class="col-12 col-md-6 form-group">
      <label>Tipo Solicitud</label>
      <input
        class="form-control form-control-sm"
        [maxlength]="20"
        type="text"
        autocomplete="off"
        placeholder="Ingrese ID"
        [disabled]="true"
        [(ngModel)]="impugnacionSan.tipoSolicitud"
      />

    </div>
    <div class="col-12 col-md-6 form-group">
      <label>Código Único</label>
      <input
        class="form-control form-control-sm"
        [maxlength]="20"
        type="text"
        autocomplete="off"
        placeholder="Ingrese código único"
        [disabled]="disabled"
        [(ngModel)]="impugnacionSan.procesoPostulacion"
      />
    </div>
  </div>
  <div class="row">

    <div class="col-12 form-group justify-content-center">

      <input-buttons-codigo *ngIf="showFormatoSan"
        [label]="'Cargar Formato SAN'" [idPlanManejo]="idPlanManejo"
        [idTipoDocumento]="codigoArchivoSan" [codigoProceso]="codigoPlan"
        (registrarArchivoId)="cargarIdArchivo($event)">
      </input-buttons-codigo>

    </div>
  </div>
  <div class="row">
    <div class="col-12 form-group">
      <label>Asunto</label>
      <textarea
        [(ngModel)]="impugnacionSan.asunto"
        name="asuntoSAN"
        autocomplete="off"
        [disabled]="disabled"
        id="asuntSAN"
        class="form-control form-control-sm"
        rows="1"
        [maxlength]="250"
        [autoResize]="autoResize"
        pInputTextarea
      ></textarea>
    </div>

    <div class="col-12 form-group">
      <label for="descrSAN">Descripción</label>
      <textarea
        [(ngModel)]="impugnacionSan.descripcion" name="descripcionSAN"
        autocomplete="off" [disabled]="disabled"
        id="descrSAN"
        class="form-control form-control-sm"
        rows="5"
        [maxlength]="250"
        [autoResize]="autoResize"
        pInputTextarea
      ></textarea>
    </div>
  </div>
  <br />
  <div class="text-right">
    <button icon="pi pi-save" (click)="guardarImpugnacion()" type="button" class="btn btn-sm btn-primary2" [disabled]="disabled">Aceptar</button>&nbsp;
    <button icon="pi pi-times" (click)="isShowModal2_2 = false" type="button" class="btn btn-sm btn-danger">Cancelar </button>
  </div>

  </ng-template>
  <ng-template pTemplate="footer"> </ng-template>
</p-dialog>
