<div class="p-d-flex p-ai-center p-jc-between">
  <button class="btn btn-secondary mb-3" (click)="getData()">
    Actualizar
  </button>
</div>
<p-table [value]="factores" styleClass="p-datatable-gridlines">
  <ng-template pTemplate="header">
    <tr>
      <th rowspan="3">
        Acciones
      </th>
      <th rowspan="3">
        <div class="display-col">
          <div class="mb-4">Factores Ambientales</div>
          <div class="display-row-center">
            <i
              (click)="!disabled&& modalFactorAmbiental('Agregar Factor Ambiental', false  )"
              class="pi pi-plus pointer icon"
              aria-hidden="true"
            ></i>
          </div>
        </div>
      </th>

      <th rowspan="3">Caracterización de Impactos</th>

      <th [attr.colspan]="sizeColActivities">
        Actividades
      </th>

      <th rowspan="3" colspan="4">Medidas de mitigación</th>
    </tr>
    <tr>
      <th [attr.colspan]="preAprovechamiento.length">
        <div class="display-row">
          <label class="mr-3">Pre Aprovechamiento</label>
          <i
            (click)="!disabled&& modalAprovechamiento('Nueva Actividad Pre Aprovechamiento', preAprovechamiento, 'Pre Aprovechamiento')"
            class="pi pi-plus pointer icon"
            aria-hidden="true"
          ></i>
        </div>
      </th>

      <th [attr.colspan]="aprovechamiento.length">
        <div class="display-row">
          <label class="mr-3"> Aprovechamiento </label>
          <i
            (click)="!disabled&& modalAprovechamiento('Nueva Actividad Aprovechamiento', aprovechamiento, 'Aprovechamiento')"
            class="pi pi-plus pointer icon"
            aria-hidden="true"
          ></i>
        </div>
      </th>

      <th [attr.colspan]="postAprovechamiento.length">
        <div class="display-row">
          <label class="mr-3">Post Aprovechamiento</label>
          <i
            (click)="!disabled&& modalAprovechamiento('Nueva Actividad Post Aprovechamiento', postAprovechamiento, 'Post Aprovechamiento')"
            class="pi pi-plus pointer icon"
            aria-hidden="true"
          ></i>
        </div>
      </th>
    </tr>

    <tr>
      <ng-container *ngIf="preAprovechamiento.length>0; else elseTemplate">
        <th *ngFor="let item of preAprovechamiento">
          {{item. nombreAprovechamiento}}
        </th>
      </ng-container>
      <ng-template #elseTemplate>
        <th></th>
      </ng-template>

      <ng-container *ngIf="aprovechamiento.length>0; else elseTemplate">
        <th *ngFor="let item of aprovechamiento">
          {{item. nombreAprovechamiento}}
        </th>
      </ng-container>
      <ng-template #elseTemplate>
        <th></th>
      </ng-template>

      <ng-container *ngIf="postAprovechamiento.length>0; else elseTemplate">
        <th *ngFor="let item of postAprovechamiento">
          {{item. nombreAprovechamiento}}
        </th>
      </ng-container>
      <ng-template #elseTemplate>
        <th></th>
      </ng-template>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-factor let-index="rowIndex">
    <tr [ngClass]="{'tr-no-bb':(index+1)%3!=0, 'tr-no-bt': (index)%3!=0}">
      <td [ngClass]="{'tr-no-bb':(index+1)%3!=0, 'tr-no-bt': (index)%3!=0}">
        <div *ngIf="((index%3)-1)==0">
          <span
            class="pointer mr-1"
            title="Editar"
            (click)="!disabled&& modalFactorAmbiental('Editar Factor Ambiental', true , factor)"
          >
            <i class="pi pi-pencil"></i>
          </span>
          <span class="pointer" title="Eliminar"  (click)="openEliminarFactor($event, factor)">
            <i class="pi pi-trash"></i>
          </span>
        </div>
      </td>
      <td [ngClass]="{'tr-no-bb':(index+1)%3!=0, 'tr-no-bt': (index)%3!=0}">
        {{ ((index%3)-1)==0 ?factor.nombreActividad:''}}<br />
      </td>

      <td>
        <input
          class="form-control"
          type="text" [disabled]="disabled"
          [(ngModel)]="factor.medidasControl"
          maxlength="100"
        />
      </td>

      <!--{{factor.medidasControl}}-->

      <ng-container
        *ngIf="factor?.preAprovechamiento.length>0; else elseTemplate"
      >
        <td *ngFor="let item of factor.preAprovechamiento">
          <p-checkbox [disabled]="disabled"
            [(ngModel)]="item.valorEvaluacion"
            [binary]="true"
          ></p-checkbox>
        </td>
      </ng-container>
      <ng-template #elseTemplate>
        <td></td>
      </ng-template>

      <ng-container
        *ngIf="factor?.aprovechamiento?.length>0; else elseTemplate"
      >
        <td *ngFor="let item of factor?.aprovechamiento">
          <p-checkbox [disabled]="disabled"
            [(ngModel)]="item.valorEvaluacion"
            [binary]="true"
          ></p-checkbox>
        </td>
      </ng-container>
      <ng-template #elseTemplate>
        <td></td>
      </ng-template>

      <ng-container
        *ngIf="factor?.postAprovechamiento?.length>0; else elseTemplate"
      >
        <td *ngFor="let item of factor?.postAprovechamiento">
          <p-checkbox [disabled]="disabled"
            [(ngModel)]="item.valorEvaluacion"
            [binary]="true"
          ></p-checkbox>
        </td>
      </ng-container>
      <ng-template #elseTemplate>
        <td></td>
      </ng-template>

      <td class="padding-8">
        <textarea
          class="form-control td-txt-area"
          cols="15"
          rows="2" [disabled]="disabled"
          maxlength="100"
          [(ngModel)]="factor.medidasMonitoreo"
        ></textarea>
      </td>
    </tr>
  </ng-template>
</p-table>

<div class="row p-4">
  <div class="p-d-flex p-ai-center p-jc-between">
    <button class="btn btn-primary2 mb-3" (click)="guardar()" [disabled]="disabled">
      Guardar
    </button>
  </div>
</div>
<p-toast></p-toast>
