<div class="container-fluid">
  <div class="row">
    <div class="col-12 mb-4">
      <h3 class="title fz-17">Formato de declaración de manejo N° {{idPlan}} para permiso de aprovechamiento forestal
        en predios privados </h3>
    </div>

  </div>
  <p-confirmPopup></p-confirmPopup>
  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <mat-tab-group animationDuration="0ms" (selectedIndexChange)="tabChange($event)" [selectedIndex]="tabIndex">
        <mat-tab label="1. Información General">
          <ng-template matTabContent>
            <app-mpafpp-informacion-general [idPlan]="idPlan"
              [tipoProceso]="tipoProceso">
            </app-mpafpp-informacion-general>
          </ng-template>
        </mat-tab>

        <mat-tab label="2. Información de la Unidad de Manejo Forestal">
          <ng-template matTabContent>
            <app-mpafpp-informacion-umf (siguiente)="tabSiguiente()" (regresar)="tabAnterior()" [idDEMAC]="idPlan" [tipoProceso]="tipoProceso"></app-mpafpp-informacion-umf>
          </ng-template>
        </mat-tab>

        <mat-tab label="3. Ordenamiento Interno de la Unidad de Manejo Forestal">
          <ng-template matTabContent>
            <app-mpafpp-ordenamiento-umf (siguiente)="tabSiguiente()" (regresar)="tabAnterior()" [idPlan]="idPlan" [tipoProceso]="tipoProceso"></app-mpafpp-ordenamiento-umf>
          </ng-template>
        </mat-tab>

        <mat-tab label="4. Aprovechamiento de Recursos Forestales Maderables">
          <ng-template matTabContent>
            <app-mpafpp-aprobechamiento-umf (siguiente)="tabSiguiente()" (regresar)="tabAnterior()"></app-mpafpp-aprobechamiento-umf>
          </ng-template>
        </mat-tab>

        <mat-tab label="5. Aprovechamiento de Recursos Forestales Diferentes a la Madera">
          <ng-template matTabContent>
            <app-mpafpp-aprobechamiento-drmf [idPlan]="idPlan" [tipoProceso]="tipoProceso">
            </app-mpafpp-aprobechamiento-drmf>
          </ng-template>
        </mat-tab>

        <mat-tab label="6. Sistema de Manejo y Labores Silviculturales">
          <ng-template matTabContent>
            <app-mpafpp-sistena-manejo-silvicul (siguiente)="tabSiguiente()" (regresar)="tabAnterior()" [idPlan]="idPlan" [tipoProceso]="tipoProceso">
            </app-mpafpp-sistena-manejo-silvicul>
          </ng-template>
        </mat-tab>

        <mat-tab label="7. Medidas de Protección de la Unidad de Manejo Forestal">
          <ng-template matTabContent>
            <app-mpafpp-medidas-proteccion (siguiente)="tabSiguiente()" (regresar)="tabAnterior()" [idPlan]="idPlan" [tipoProceso]="tipoProceso"
              [codMedidaGeneral]="codMedidaGeneral">
            </app-mpafpp-medidas-proteccion>
          </ng-template>
        </mat-tab>

        <mat-tab label="8. Descripción de las Actividades Aprovechamiento">
          <ng-template matTabContent>
            <app-mpafpp-tab-ocho (siguiente)="tabSiguiente()" (regresar)="tabAnterior()" [idPlan]="idPlan" [tipoProceso]="tipoProceso"></app-mpafpp-tab-ocho>
          </ng-template>
        </mat-tab>

        <mat-tab label="9. Identificación de Impactos Ambientales Negativos y Establecimiento de
                  Medidas de Prevención y Mitigación">
          <ng-template matTabContent>
            <app-mpafpp-tab-nueve (siguiente)="tabSiguiente()" (regresar)="tabAnterior()" [idPlan]="idPlan" [tipoProceso]="tipoProceso" [codMedidaGeneral]="codMedidaGeneral">
            </app-mpafpp-tab-nueve>
          </ng-template>
        </mat-tab>

        <mat-tab label="10. Cronograma de Actividades">
          <ng-template matTabContent>
            <app-mpafpp-cronograma-actividades [idPlan]="idPlan" [tipoProceso]="tipoProceso">
            </app-mpafpp-cronograma-actividades>
          </ng-template>
        </mat-tab>

        <mat-tab label="11. Anexos">
          <ng-template matTabContent>
            <app-anexo-formato-dema  [idDEMAC]="idPlan"></app-anexo-formato-dema>
          </ng-template>
        </mat-tab>

        <mat-tab label="12. Carga y Envío de Documentación">
          <ng-template matTabContent>
            <app-tab-carga-descarga-archivos [idPGMF]="idPlan" [tipoProceso]="tipoProceso"
              [codMedidaGeneral]="codMedidaGeneral" [codigoProceso]="codigoProceso"
              (EventValidarEnviar)="validarEnviar($event)"></app-tab-carga-descarga-archivos>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <!-- <div class="row m-0 pt-2 pb-4">
    <div class="col-12">
      <button *ngIf="tabIndex > 0"  class="btn-primary2">Remitir Informacion</button>
    </div>
  </div> -->
  <br>
  <div class="row m-0 pt-2 pb-4">
    <div class="col-12">
      <button *ngIf="tabIndex == 4 || tabIndex == 9 || tabIndex == 10 || tabIndex == 11" (click)="tabAnterior()" class="btn-primary2">Anterior</button>
      <!-- <button class="btn-primary2" (click)="cancelar()">Cancelar</button> -->
      <button *ngIf="tabIndex != 11 && (tabIndex == 0 || tabIndex == 4 || tabIndex == 9 || tabIndex == 10)" class="btn-primary2" (click)="tabSiguiente()">Siguiente</button>
      <button *ngIf="tabIndex == 11" class="btn-primary2" [disabled]="!isValidEnviar"
        (click)="remitirInformacion($event)">Enviar a ARRFS</button>
    </div>
  </div>
</div>