<div class="row">
    <div class="col-12 form-group">
        <label for="departamento">Departamento: *</label>
        <div class="form-control-selectk">
            <p-dropdown [(ngModel)]="params_insetar_detalle.departamentoSelect" [options]="departamentos"
                optionLabel="nombreDepartamento" (onChange)="selectDPD($event.value,'d')" placeholder="Seleccione"></p-dropdown>
        </div>
    </div>
    <div class="col-12 form-group">
        <label for="provincia">Provincia: *</label>
        <div class="form-control-selectk">
            <p-dropdown [(ngModel)]="params_insetar_detalle.provinciaSelect" [options]="provincias"
                optionLabel="nombreProvincia" (onChange)="selectDPD($event.value,'p')" placeholder="Seleccione"></p-dropdown>
        </div>
    </div>
    <div class="col-12 form-group">
        <label for="distrito">Distrito: *</label>
        <div class="form-control-selectk">
            <p-dropdown [(ngModel)]="params_insetar_detalle.distritoSelect" [options]="distritos"
                optionLabel="nombreDistrito" (onChange)="selectDPD($event.value,'dd')" placeholder="Seleccione"></p-dropdown>
        </div>
    </div>
    <div class="col-12 form-group">
        <label for="lugar">Cuenca/Sub cuenca: *</label>
        <div class="form-control-selectk">
            <p-dropdown [(ngModel)]="params_insetar_detalle.cuencaSelect" [options]="cuencas" optionLabel="valor"
                (onChange)="selectDPD($event.value,'ddd')" appendTo="body" placeholder="Seleccione"></p-dropdown>
        </div>
    </div>

    <div class="col-12 mt-6 d-flex justify-content-end">
        <button icon="pi pi-save" (click)="agregar()" pButton pRipple type="button" label="Aceptar"
            class="p-button-success p-button-outlined"></button>&nbsp;&nbsp;
        <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
            class="p-button-danger p-button-outlined"></button>
    </div>
</div>