.custom-file-input:lang(en)~.custom-file-label::after{
  content: 'Seleccione Archivo';
}
.custom-file-label::after{
  color: #4A962C;
  background-color: #ffffff;
}

.input-required{
  border: 1px solid #D32F2F;
}

.form-control-selectk.select-required{
  border: 1px solid #D32F2F;
  border-radius: 25px ;
}

textarea {
  resize: none;
}
