<div class="container-fluit mt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="I. Información del Solicitante" [selected]="true">
          <div class="row m-0">
            <div class="col-12 form-group">
              <label class="label">Nombre o Razón Social:</label>
              <input type="text" maxlength="200" disabled class="form-control" autocomplete="off"
                [(ngModel)]="requestInfoSolicitante.nombreSolicitanteUnico" />
            </div>

            <div class="col-12 col-sm-4 form-group">
              <label class="label">DNI:</label>
              <input type="text" maxlength="8" disabled class="form-control" autocomplete="off"
                [(ngModel)]="requestInfoSolicitante.soliDni" />
            </div>
            <div class="col-12 col-sm-4 form-group">
              <label class="label">RUC:</label>
              <input type="text" maxlength="11" disabled class="form-control" autocomplete="off"
                [(ngModel)]="requestInfoSolicitante.soliRuc" />
            </div>
            <div class="col-12 col-sm-4 form-group">
              <label class="label mr-1">N° Partida Registral <i class="fz-10">(Personas Jurídicas)</i>: *</label>
              <input type="text" maxlength="200" class="form-control" autocomplete="off" sinSpacioInit
                [(ngModel)]="requestInfoSolicitante.nroPartidaRegistral" [disabled]="isDisbledFormu"
                required [ngClass]="touchedAll_I"/>
            </div>

            <div class="col-12 col-sm-6 form-group">
              <label class="label mr-1">Dirección: *</label>
              <input type="text" maxlength="100" class="form-control" autocomplete="off" sinSpacioInit [disabled]="isDisbledFormu"
                placeholder="(indicar nombre de la calle/Av/Jr./Psje o Comunidad)" [(ngModel)]="requestInfoSolicitante.direccionSolicitante" 
                required [ngClass]="touchedAll_I" />
            </div>
            <div class="col-12 col-sm-2 form-group">
              <label class="label">Nro: *</label>
              <input type="text" class="form-control" autocomplete="off" numero [maxLength]="4" [disabled]="isDisbledFormu"
                [(ngModel)]="requestInfoSolicitante.numeroDireccion" required [ngClass]="touchedAll_I" />
            </div>
            <div class="col-12 col-sm-4 form-group">
              <label class="label">Sector o Caserío: *</label>
              <input type="text" maxlength="100" class="form-control" autocomplete="off" sinSpacioInit [disabled]="isDisbledFormu"
                placeholder="(Indicar sector,anexo,quebrada,etc)" [(ngModel)]="requestInfoSolicitante.sectorCaserio"
                [ngClass]="touchedAll_I"/>
            </div>

            <div class="col-12 col-sm-4 form-group">
              <label class="label">Departamento:</label>
              <div class="form-control-selectk">
                <p-dropdown [(ngModel)]="requestInfoSolicitante.idDepartamentosolicitante" [options]="departamentos" optionValue="idDepartamento"
                  optionLabel="nombreDepartamento" (onChange)="selectDPD(1, 'd')" [disabled]="isDisbledFormu"></p-dropdown>
              </div>
            </div>
            <div class="col-12 col-sm-4 form-group">
              <label class="label">Provincia:</label>
              <div class="form-control-selectk">
                <p-dropdown [(ngModel)]="requestInfoSolicitante.idProvinciaSolicitante" [options]="provincias" optionValue="idProvincia"
                  optionLabel="nombreProvincia" (onChange)="selectDPD(1, 'p')" [disabled]="isDisbledFormu"></p-dropdown>
              </div>
            </div>
            <div class="col-12 col-sm-4 form-group">
              <label class="label">Distrito:</label>
              <div class="form-control-selectk">
                <p-dropdown [(ngModel)]="requestInfoSolicitante.idDistritoSolicitante" [options]="distritos" optionValue="idDistrito"
                  optionLabel="nombreDistrito" (onChange)="selectDPD(1, 'dd')" [disabled]="isDisbledFormu"></p-dropdown>
              </div>
            </div>

            <div class="col-12 col-sm-4 form-group">
              <label class="label">Telf. Fijo: *</label>
              <input type="text" class="form-control" autocomplete="off" numero [maxLength]="9"
                [(ngModel)]="requestInfoSolicitante.telefonoFijo" [disabled]="isDisbledFormu" required [ngClass]="touchedAll_I"/>
            </div>
            <div class="col-12 col-sm-4 form-group">
              <label class="label">Telf. Celular: *</label>
              <input type="text" class="form-control" autocomplete="off" numero [maxLength]="9"
                [(ngModel)]="requestInfoSolicitante.telefonoCelular" [disabled]="isDisbledFormu" required [ngClass]="touchedAll_I"/>
            </div>
            <div class="col-12 col-sm-4 form-group">
              <label class="label">Correo Electrónico: *</label>
              <input type="text" maxlength="100" class="form-control" autocomplete="off" sinSpacioInit
                [(ngModel)]="requestInfoSolicitante.correoElectronico" [disabled]="isDisbledFormu" required [ngClass]="touchedAll_I"/>
            </div>

            <div class="col-12 mt-3" *ngIf="!isDisbledFormu">
              <button type="button" class="btn-primary2" (click)="btnRegInfoSolicitante()" [disabled]="isDisbledFormu">
                Guardar Datos Ingresados
              </button>
            </div>
          </div>

          <div class="row m-0" *ngIf="isShowEval">
            <div class="col-12 mt-3">
              <app-evaluar-solicitud 
                [disabled]="isDisbledEval"
                [idPFDM]="idPFDM"
                [codSeccion]="codigosPFDM.TAB_1" 
                [codSubSeccion]="codigosPFDM.TAB_1_1"
              ></app-evaluar-solicitud>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="II. Información Sobre lo Solicitado">
          <div class="row m-0">
            <div class="col-12 col-sm-8">
              <div class="form-group">
                <label class="label">Seleccione Modalidad: *</label>
                <div>
                  <div class="p-field-radiobutton d-inline-full">
                    <p-radioButton name="modalidad" [(ngModel)]="requestInfoSolicitado.codigoModalidad" [value]="MODALIDAD.PFDM"
                      [required]="true" [ngClass]="touchedAll_II" [disabled]="isDisbledFormu">
                    </p-radioButton>
                    <label class="m-0 pl-1 label">PFDM</label>
                  </div>
                  <div class="p-field-radiobutton d-inline-full">
                    <p-radioButton name="modalidad" [(ngModel)]="requestInfoSolicitado.codigoModalidad" [value]="MODALIDAD.ECOT"
                      [required]="true" [ngClass]="touchedAll_II" [disabled]="isDisbledFormu">
                    </p-radioButton>
                    <label class="m-0 pl-1 label">Ecoturismo</label>
                  </div>
                  <div class="p-field-radiobutton d-inline-full">
                    <p-radioButton name="modalidad" [(ngModel)]="requestInfoSolicitado.codigoModalidad" [value]="MODALIDAD.CONS"
                      [required]="true" [ngClass]="touchedAll_II" [disabled]="isDisbledFormu">
                    </p-radioButton>
                    <label class="m-0 pl-1 label">Conservación</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label class="label">Vigencia <i class="fz-10">(años)</i>:
                </label>
                <input type="text" class="form-control" disabled autocomplete="off"
                  [(ngModel)]="requestInfoSolicitado.vigenciaAnio"/>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label class="label">Objetivos <small>(máx. 250 caract.)</small>: *</label>
                <textarea autocomplete="off" class="form-control" cols="3" rows="4" maxlength="250" sinSpacioInit
                  required [ngClass]="touchedAll_II" [disabled]="isDisbledFormu"
                  [(ngModel)]="requestInfoSolicitado.objetivo">
                </textarea>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label class="label">Recursos <small>(máx. 250 caract.)</small>: *</label>
                <textarea autocomplete="off" class="form-control" cols="3" rows="4" maxlength="250" sinSpacioInit
                  required [ngClass]="touchedAll_II" [disabled]="isDisbledFormu"
                  [(ngModel)]="requestInfoSolicitado.recurso">
                </textarea>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label class="label">Importancia <small>(máx. 250 caract.)</small>: *</label>
                <textarea autocomplete="off" class="form-control" cols="3" rows="4" maxlength="250" sinSpacioInit
                  required [ngClass]="touchedAll_II" [disabled]="isDisbledFormu"
                  [(ngModel)]="requestInfoSolicitado.importancia">
                </textarea>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label class="label">Breve Descripción del Proyecto a Desarrollar <small>(máx. 250 caract.)</small>: *</label>
                <textarea autocomplete="off" class="form-control" cols="3" rows="4" maxlength="250" sinSpacioInit
                  required [ngClass]="touchedAll_II" [disabled]="isDisbledFormu"
                  [(ngModel)]="requestInfoSolicitado.descripcionProyecto">
                </textarea>
              </div>
            </div>
          </div>
          <div class="row m-0" *ngIf="!isDisbledFormu">
            <div class="col-12 mt-3">
              <button type="button" class="btn-primary2" (click)="btnRegInfoSolicitado()" [disabled]="isDisbledFormu">
                Guardar Datos Ingresados
              </button>
            </div>
          </div>

          <div class="row m-0" *ngIf="isShowEval">
            <div class="col-12 mt-3">
              <app-evaluar-solicitud 
                [disabled]="isDisbledEval"
                [idPFDM]="idPFDM"
                [codSeccion]="codigosPFDM.TAB_1" 
                [codSubSeccion]="codigosPFDM.TAB_1_2"
              ></app-evaluar-solicitud>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="III. Información del Área Solicitada">
          <!-- MAPA -->
          <app-map-custom-pfdm #map [idPFDM]="idPFDM" [codigoProceso]="codProceso"
            [codigoSubSeccion]="codigoSubSeccion" [tipoGeometria]="'Otros'" [validaSuperposicionAprovechar]="true"
            [calcularArea]="true" (areaTotal)="calcularAreaTotal($event)" (listVertices)="listarVertices($event)"
            [showBotonCargarGeneral]="false" [showBotonCargarCustom]="true" [isDisbledFormu]="isDisbledFormu || isSolicitudHija" [showBotonGuardar]="!isDisbledFormu && !isSolicitudHija"
            [tipoArchivoArea]="'PFDMA1_SS3_1'" [tipoArchivoPunto]="'PFDMA1_SS3_2'"
            >
          </app-map-custom-pfdm>

          <div class="row m-0">
            <div class="col-12 col-sm-3">
              <div class="form-group">
                <label class="label">Superficie (ha): *</label>
                <input type="text" autocomplete="off" value="{{ superficie }}" class="form-control" decimal maxLength="15" [decimalPlaces]="2"
                  [(ngModel)]="requestArea.superficieHa" required [ngClass]="touchedAll_III" [disabled]="isDisbledFormu || isSolicitudHija"/>
              </div>
            </div>
            <div class="col-12 col-sm-3">
              <div class="form-group">
                <label class="label">Departamento:</label>
                <div class="form-control-selectk">
                  <p-dropdown [(ngModel)]="departamentoAreaSelect" [options]="departamentosArea"
                    optionValue="idDepartamento" ç optionLabel="nombreDepartamento" (onChange)="selectDPD(2, 'd')" [disabled]="isDisbledFormu || isSolicitudHija">
                  </p-dropdown>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-3">
              <label class="label">Provincia:</label>
              <div class="form-control-selectk">
                <p-dropdown [(ngModel)]="provinciaAreaSelect" [options]="provinciasArea" optionValue="idProvincia"
                  optionLabel="nombreProvincia" (onChange)="selectDPD(2, 'p')" [disabled]="isDisbledFormu || isSolicitudHija"></p-dropdown>
              </div>
            </div>
            <div class="col-12 col-sm-3">
              <label class="label">Distrito:</label>
              <div class="form-control-selectk">
                <p-dropdown [(ngModel)]="distritoAreaSelect" [options]="distritosArea" optionValue="codDistrito"
                  optionLabel="nombreDistrito" (onChange)="selectDPD(2, 'dd')" [disabled]="isDisbledFormu || isSolicitudHija"></p-dropdown>
              </div>
            </div>
          </div>

          <div class="row m-0">
            <div class="col-12 col-sm-4">
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="3">
                      Cuadro de Coordenadas UTM del Área Solicitada
                    </th>
                  </tr>
                  <tr>
                    <th colspan="2">Datum horizontal:</th>
                    <th>WGS 84</th>
                  </tr>
                  <tr>
                    <th colspan="2" class="text-right">Zona *</th>
                    <th class="p-0" style="padding: 1px 4px !important">
                      <input type="text" class="form-control" autocomplete="off" [maxlength]="5" numero
                        required [ngClass]="touchedAll_III"
                        [(ngModel)]="requestArea.zonaUTM" [disabled]="isDisbledFormu || isSolicitudHija"/>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of listVertices">
                    <td>{{ data.vertice }}</td>
                    <td>{{ data.este }}</td>
                    <td>{{ data.norte }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-sm-8">
              <p-table [value]="listaCoordenadas" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[5,10,25,50]">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Vértice</th>
                    <th>Este (E)</th>
                    <th>Norte (N)</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                  <tr>
                    <td>{{data.vertice}}</td>
                    <td>{{data.este}}</td>
                    <td>{{data.norte}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label class="label">Observaciones <small>(máx. 250 caract.)</small>: *</label>
                <textarea autocomplete="off" cols="3" rows="4" class="form-control" maxlength="250" sinSpacioInit
                  [(ngModel)]="requestArea.observacion" [ngClass]="touchedAll_III" [disabled]="isDisbledFormu || isSolicitudHija" ></textarea>
              </div>
            </div>

            <div class="col-12 mt-3" *ngIf="!isDisbledFormu">
              <button type="button" class="btn-primary2" (click)="btnRegAreaSolicitada()" [disabled]="isDisbledFormu || isSolicitudHija">
                Guardar Datos Ingresados
              </button>
            </div>
          </div>

          <div class="row m-0" *ngIf="isShowEval">
            <div class="col-12 mt-3">
              <app-evaluar-solicitud-lineamiento
                [disabled]="isDisbledEval || isSolicitudHija"
                [idPFDM]="idPFDM"
                (validarSuperposicionEvent)="validarSuperposicion($event)"
              ></app-evaluar-solicitud-lineamiento>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="IV. Información Sobre las Actividades a Desarrollar y Fuentes de Financiamiento">
          <div class="row m-0">
            <div class="col-12 text-right">
              <button class="btn btn-sm btn-default button-more mb-2" type="button" title="Agregar"
                (click)="openModal(null, 'C')" [disabled]="isDisbledFormu"><i class="pi pi-plus"></i></button>
            </div>

            <div class="col-12 mt-2">
              <p-table [value]="lstData">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Acciones</th>
                    <th>Actividad</th>
                    <th>Descripción <br />
                      <small class="font-normal">(Completar de acuerdo a la naturaleza de la concesión y recurso a aprovechar)</small>
                    </th>
                    <th>Periodo Aprox. <br /><small class="font-normal">(Años)</small></th>
                    <th>Presupuesto <br /><small class="font-normal">(S/.)</small></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-d>
                  <tr>
                    <td>
                      <span class="pointer mr-2" title="Editar" (click)="openModal(d, 'E')" [ngClass]=" isDisbledFormu ? 'disabled-pointer': '' ">
                        <i class="pi pi-pencil"></i>
                      </span>
                      <span class="pointer" title="Eliminar" (click)="openEliminar($event, d)" [ngClass]=" isDisbledFormu ? 'disabled-pointer': '' ">
                        <i class="pi pi-trash"></i>
                      </span>
                    </td>
                    <td>{{ d.nombre }}</td>
                    <td>{{ d.descripcion }}</td>
                    <td>{{ d.periodo }}</td>
                    <td>{{ d.presupuesto }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <div class="col-12 mt-3">

              <p-table [value]="lstDataComplementaria">
                <ng-template pTemplate="header">
                  <tr>
                    <th colspan="2">Actividad Complementaria (seleccionar)</th>
                    <th>Descripci&oacute;n de los recursos a aprovechar</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-d>
                  <tr>
                    <td>{{ d.nombre }}</td>
                    <td>
                      <p-checkbox [disabled]="!requestInfoSolicitado.codigoModalidad || isDisbledFormu  || (requestInfoSolicitado.codigoModalidad == MODALIDAD.CONS
                       && d.codigoActividad == 'SOLCONACTCMAD') || (requestInfoSolicitado.codigoModalidad == MODALIDAD.ECOT && d.codigoActividad == 'SOLCONACTCMAD'
                        )" [binary]="true" [(ngModel)]="d.check" (click)="checkActividad(d)">
                      </p-checkbox>
                    </td>
                    <td>
                      <input [disabled]="!d.check || isDisbledFormu" type="text" class="form-control" autocomplete="off"
                        [(ngModel)]="d.descripcion" maxlength="100"
                        [ngClass]="(d.check && !d.descripcion) ? 'input-required anexo1Actividades_required' : '' "/>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <div class="col-12 form-group mt-3">
              <label class="label">Fuentes de Financiamiento: *</label>
              <div>
                <div class="p-field-radiobutton d-inline-full">
                  <p-radioButton (click)="limpiarCaja()" name="rd_fuentesF" [(ngModel)]="requestActividad.codigoFuenteFinanciamiento" value="SCFFRP" inputId="rd_fuentesF1"
                    [required]="true" [ngClass]="touchedAll_IV" [disabled]="isDisbledFormu">
                  </p-radioButton>
                  <label class="m-0 pl-1 pointer label" for="rd_fuentesF1">Recursos Propios</label>
                </div>
                <div class="p-field-radiobutton d-inline-full">
                  <p-radioButton (click)="limpiarCaja()" name="rd_fuentesF" [(ngModel)]="requestActividad.codigoFuenteFinanciamiento" value="SCFFEB" inputId="rd_fuentesF2"
                    [required]="true" [ngClass]="touchedAll_IV" [disabled]="isDisbledFormu">
                  </p-radioButton>
                  <label class="m-0 pl-1 pointer label" for="rd_fuentesF2">Fuentes Entidades Bancarias</label>
                </div>
                <div class="p-field-radiobutton d-inline-full">
                  <p-radioButton (click)="limpiarCaja()" name="rd_fuentesF" [(ngModel)]="requestActividad.codigoFuenteFinanciamiento" value="SCFFCI" inputId="rd_fuentesF3"
                    [required]="true" [ngClass]="touchedAll_IV" [disabled]="isDisbledFormu">
                  </p-radioButton>
                  <label class="m-0 pl-1 pointer label" for="rd_fuentesF3">Cooperación Internacional</label>
                </div>
                <div class="p-field-radiobutton d-inline-full">
                  <p-radioButton (click)="limpiarCaja()"  name="rd_fuentesF" [(ngModel)]="requestActividad.codigoFuenteFinanciamiento" value="SCFFOT" inputId="rd_fuentesF4"
                    [required]="true" [ngClass]="touchedAll_IV" [disabled]="isDisbledFormu">
                  </p-radioButton>
                  <label class="m-0 pl-1 pointer label" for="rd_fuentesF4">Otros</label>
                </div>
              </div>
            </div>
            <div class="col-12 form-group" *ngIf="requestActividad.codigoFuenteFinanciamiento == 'SCFFOT'">
              <label class="label">Especificar (Otros) *</label>
              <input [(ngModel)]="requestActividad.descripcionOtros" [disabled]="requestActividad.codigoFuenteFinanciamiento != 'SCFFOT' || isDisbledFormu" type="text" class="form-control"
                autocomplete="off"
                [ngClass]="(!requestActividad.descripcionOtros && requestActividad.codigoFuenteFinanciamiento === 'SCFFOT') ? 'input-required anexo1Actividades_required' : '' " />
            </div>
            <div class="col-12 mt-3" *ngIf="!isDisbledFormu">
              <button type="button" class="btn-primary2" (click)="btnRegInfoActividades()" [disabled]="isDisbledFormu">
                Guardar Datos Ingresados
              </button>
            </div>
          </div>

          <div class="row m-0" *ngIf="isShowEval">
            <div class="col-12 mt-3">
              <app-evaluar-solicitud 
                [disabled]="isDisbledEval"
                [idPFDM]="idPFDM"
                [codSeccion]="codigosPFDM.TAB_1" 
                [codSubSeccion]="codigosPFDM.TAB_1_4"
              ></app-evaluar-solicitud>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="V. Información Sobre Notificaciones">
          <div class="row m-0">
            <div class="col-12">
              <p class="fz-12">
                De conformidad con el numeral 20.1.2 del artículo 20 de la Ley
                N° 27444, autorizo se me notifique al siguiente correo
                electrónico cualquier acto o documento que se origine como parte
                del trámite de mi Solicitud.
              </p>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label class="label">Correo Electrónico: *</label>
                <input type="text" class="form-control" autocomplete="off" [(ngModel)]="requestNotifica.correoElectronicoNotif"
                  [ngClass]="!requestNotifica.correoElectronicoNotif ? 'input-required' : ''" [disabled]="isDisbledFormu" sinSpacioInit/>
              </div>
            </div>

            <div class="col-12 mt-3" *ngIf="!isDisbledFormu">
              <button type="button" class="btn-primary2" (click)="btnRegInfoNotifica()" [disabled]="isDisbledFormu">
                Guardar Datos Ingresados
              </button>
            </div>
          </div>

          <div class="row m-0" *ngIf="isShowEval">
            <div class="col-12 mt-3">
              <app-evaluar-solicitud 
                [disabled]="isDisbledEval"
                [idPFDM]="idPFDM"
                [codSeccion]="codigosPFDM.TAB_1" 
                [codSubSeccion]="codigosPFDM.TAB_1_5"
              ></app-evaluar-solicitud>
            </div>
          </div>

        </p-accordionTab>
        <p-accordionTab header="VI. Compromiso de Inversión">
          <div class="row m-0">
            <p class="fz-12">
              Me comprometo a realizar las inversiones previstas en la propuesta
              y las que se requieran para la elaboración e implementación del
              plan de manejo, así como para el cumplimiento de las demás
              obligaciones que se derivan de la concesión. Para tal efecto,
              recurriré a las fuentes de financiamiento previstas en dichos
              documentos, asi como el de los que se obtengan como producto de
              otras gestiones.
            </p>
          </div>
        </p-accordionTab>
        <p-accordionTab
          header="VII. Declaración Jurada de Capacidad de Acceso al Mercado e Inserción a Cadena Productiva o de Servicios">
          <div class="row m-0">
            <div class="col-12">
              <p class="fz-12">
                Declaro bajo juramento tener capacidad de acceso al mercado e
                inserción a cadena productiva o de servicios, lo que permitirá
                dar sostenibilidad económica a la concesión.
              </p>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>

<!-- MODALES -->
<p-dialog appendTo="body" header="{{ tituloModalMantenimiento }}" [(visible)]="verModalMantenimiento" [modal]="true"
  [style]="{ width: '40vw' }" [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="true">
  <ng-template pTemplate="content">
    <div>
      <div class="form-group">
        <label class="label">Actividad: *</label>
        <div class="form-control-selectk">
          <p-dropdown class="fomr-control" placeholder="Seleccione" optionValue="codigoActividad" optionLabel="valor1"
                [options]="comboActividad" [(ngModel)]="context.codigoActividad" [required]="true" [ngClass]="touchedAllModal">
              </p-dropdown>
        </div>
      </div>
      <div class="form-group" *ngIf="context.codigoActividad === 'SOLCONACTOTR'">
        <label class="label">Especificar Actividad: *</label>
        <input type="text" [(ngModel)]="context.descripcionRecurso" class="form-control" required [ngClass]="touchedAllModal"/>
      </div>
      <div class="form-group">
        <label class="label">Periodo Aprox (Años): *</label>
        <input type="text" [(ngModel)]="context.periodo" class="form-control" numero [maxLength]="4" required [ngClass]="touchedAllModal"/>
      </div>
      <div class="form-group">
        <label class="label">Presupuesto (S/.): *</label>
        <input type="text" [(ngModel)]="context.presupuesto" class="form-control" decimal [decimalPlaces]="2" maxlength="10"
          required [ngClass]="touchedAllModal"/>
      </div>
      <div class="form-group">
        <label class="label">Descripción (máx. 100 caract.): *</label>
        <input type="text" [(ngModel)]="context.descripcion" class="form-control" maxlength="100" sinSpacioInit
          required [ngClass]="touchedAllModal"/>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button icon="pi pi-save" (click)="guardar()" pButton pRipple type="button" label="Guardar"
      class="p-button-success p-button-outlined"></button>
    <button icon="pi pi-times" (click)="verModalMantenimiento = false" pButton pRipple type="button" label="Cancelar"
      class="p-button-danger p-button-outlined"></button>
  </ng-template>
</p-dialog>

<p-toast position="bottom-center" key="an1"></p-toast>
