<p-panel header="Datos de Cancelación">
  <label class="label label-red"
    >Nota: Esta solicitud fue cancelada de forma automática luego de cumplir el
    plazo de 5 días hábiles para subsanar</label
  >
  <div class="row">
    <div class="col-sm-4">
      <label class="label">Descargar formato de Resolución</label><br />
      <button
        class="btn btn-sm btn-primary2"
        (click)="btnDescargarFormato()"
        [disabled]="disabledDatosCancelacion"
      >
        Descargar
      </button>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="label">Cargar Resolución de Cancelación</label><br />
        <anexo-upload-input-buttons
          [file]="archivoAdjunto"
          (registrarArchivo)="enviarArchivo($event)"
          (eliminarArchivo)="eliminarDocumentoAdjunto()"
          style="height: 32px"
          [disabled]="disabledDatosCancelacion"
        >
        </anexo-upload-input-buttons>
      </div>
    </div>
    <div class="col-sm-4">
      <label class="label">&nbsp;</label><br />
      <button
        class="btn btn-sm btn-primary2"
        (click)="btnNotificarCancelacion()"
        [disabled]="disabledDatosCancelacion"
      >
        Notificar Cancelación
      </button>
    </div>
  </div>
</p-panel>
