<div class="col-12 mt-4 mb-3">
    <p-table styleClass="p-datatable-gridlines" [value]="listAnexo8Especies">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre común</th>
          <th>Nombre nativo</th>
          <th>Nombre científico</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
          <td>{{ data.textNombreComun }}</td>
          <td>{{ data.nombreNativo }}</td>
          <td>{{ data.textNombreCientifico }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
