<div class="container-fluid pt-4">
  <p-accordion>
    <p-accordionTab header="Lineamiento" [selected]="acordion">
      <div class="row m-0 pt-3">
        <div class="col-12">
          <div *ngFor="let item of listLineamiento" class="mb-3">
            <label class="title2">
              {{ item.valorPrimario }}
            </label>
            <br />
            <label class="label">{{ item.valorSecundario }}</label>
            <div
              *ngIf="item.codigoSniffs == 'S' && item.listNivel2.length > 0"
              class="mt-2 mb-2"
            >
              <p-table [value]="item.listNivel2">
                &lt;!&ndash;
                <ng-template pTemplate="header">
                  <tr>
                    <th class="col-6">Descripción</th>
                    <th
                      colspan="2"
                      style="max-width: 250px; text-align: center;"
                    >
                      Conformidad
                    </th>
                    <th>Observación</th>
                  </tr>
                </ng-template>
                &ndash;&gt;
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td style="width: 40%;">
                      <label class="label">{{ data.valorSecundario }}</label>
                    </td>
                    <td
                      style="
                        width: 15%;
                        text-align: center;
                        border-left: 1px solid #eee;
                      "
                    >
                      <p-radioButton
                        name="resultado_{{ data.codigo }}"
                        [value]="codigoConforme"
                        inputId="SI_{{ data.codigo }}" [disabled]="disabled"
                        [(ngModel)]="data.codigoSniffsDescripcion"
                      >
                      </p-radioButton>
                      <label class="ml-2 pointer">Conforme</label>
                    </td>
                    <td
                      style="
                        width: 15%;
                        text-align: center;
                        border-left: 1px solid #eee;
                      "
                    >
                      <p-radioButton
                        name="resultado_{{ data.codigo }}"
                        [value]="codigoObservado"
                        inputId="NO_{{ data.codigo }}" [disabled]="disabled"
                        [(ngModel)]="data.codigoSniffsDescripcion"
                      >
                      </p-radioButton>
                      <label class="ml-2 pointer">Observado</label>
                    </td>
                    <td style="width: 15%; border-left: 1px solid #eee;">
                      <div
                        *ngIf="data.codigoSniffsDescripcion == codigoObservado"
                      >
                        <label class="label">(máx. 250 caracteres):*</label>
                        <textarea
                          maxlength="250"
                          rows="3"
                          class="form-control" [disabled]="disabled"
                          [(ngModel)]="data.observacion"
                        >
                        </textarea>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <div *ngIf="item.codigoSniffs == 'N' && item.listNivel2.length > 0">
              <ul *ngFor="let item2 of item.listNivel2">
                <li class="label">{{ item2.valorSecundario }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="step__btn mt-4 mb-4">
        <button class="btn-primary2" [disabled]="disabled" (click)="guardarEvaluacion()">
          Guardar evaluación
        </button>
      </div>
    </p-accordionTab>
    <p-accordionTab header="Resultado de solicitud de opinión">
      <div class="row m-0 pt-3">
        <div class="col-12">
          <p-table [value]="listOpinion" class="table table-boderk">
            <ng-template pTemplate="header">
              <tr>
                <th>N° documento Gestión</th>
                <th>Id Solicitud</th>
                <th>Entidad</th>
                <th>Tipo documento</th>
                <th>N° documento</th>
                <th>Fecha documento</th>
                <th>Asunto</th>
                <th class="text-center">Archivo</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td>
                  <label>{{ data.idPlanManejo }}</label>
                </td>
                <td>
                  <label>{{ data.idSolOpinion }}</label>
                </td>
                <td>
                  <label>{{ data.entidad }}</label>
                </td>
                <td>
                  <label *ngIf="data.tipoDocumento == 'TDOCGEINF'"
                    >Informe</label
                  >
                  <label *ngIf="data.tipoDocumento == 'TDOCGEOF'">Oficio</label>
                  <label *ngIf="data.tipoDocumento == 'TDOCGEMEMORAN'"
                    >Memorandúm</label
                  >
                  <label *ngIf="data.tipoDocumento == 'TDOCGECART'"
                    >Carta</label
                  >
                  <label *ngIf="data.tipoDocumento == 'TDOCGESUSTCOMUN'"
                    >Sustento Comunicación</label
                  >
                  <label *ngIf="data.tipoDocumento == 'TDOCGEOTROS'"
                    >Otros</label
                  >
                </td>
                <td>
                  <label>{{ data.numDocumento }}</label>
                </td>
                <td>
                  <label>{{ data.fechaDocumento | date: "dd/MM/yyyy" }}</label>
                </td>
                <td>
                  <label>{{ data.asunto }}</label>
                </td>
                <td class="text-center">
                  <span
                    class="pointer"
                    title="Descargar"
                    (click)="descargarArchivo(data.idArchivo)"
                  >
                    <i class="pi pi-download"></i>
                  </span>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Resultado de inspección ocular">
      <div class="row m-0 pt-3">
        <div class="col-12">
          <p-table [value]="evaluaciones" class="table table-boderk">
            <ng-template pTemplate="header">
              <tr>
                <th>Tipo Documento Gestión</th>
                <th>N° Documento Gestión</th>
                <th>Estado</th>
                <th>N° Solicitud Inspección</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td>
                  <label>{{ data.tipoDocumentoGestion }}</label>
                </td>
                <td>
                  <label>{{ data.documentoGestion }}</label>
                </td>
                <td>
                  <span
                    [class.pendiente]="
                      data.evaluacionCampoEstado === 'Pendiente Inspección'
                    "
                    [class.aceptado]="
                      data.evaluacionCampoEstado === 'Inspección Concluida'
                    "
                    [class.proceso]="
                      data.evaluacionCampoEstado === 'En Proceso'
                    "
                  >
                    {{ data.evaluacionCampoEstado }}
                  </span>
                </td>
                <td>
                  <label>{{ data.idEvaluacionCampo }}</label>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <p-paginator
            [rows]="10"
            [totalRecords]="totalRecords"
            (onPageChange)="loadData($event)"
            [rowsPerPageOptions]="[10, 25, 50]"
          ></p-paginator>
        </div>
      </div>
    </p-accordionTab>

    <!--
        <p-accordionTab header="Descargar">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-10">
                <div>
                  <label class="label fz-11 m-0">Descargar informe final</label>
                </div>
              </div>
              <div class="col-12 col-sm-2">
                <button
                  class="btn btn-sm btn-secondary f-w"
                  type="button"
                >
                  Descargar
                </button>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Adjuntar">
          <div class="col-12 p-0">
            <div class="row m-0">
              <div class="col-12 col-sm-8">
                <div>
                  <label class="label fz-11 m-0">Adjuntar informe final suscrito</label>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <input-buttons-codigo
                  [label]="''"
                  [idPlanManejo]="idPlanManejo"
                  [idTipoDocumento]="'POPACF'"
                  [codigoProceso]="codigoEpica"
                >
                </input-buttons-codigo>
              </div>
            </div>
          </div>
        </p-accordionTab>-->
  </p-accordion>
  <resultado-evaluacion-shared
    [idPlanManejo]="idPlanManejo" [disabled]="disabled"
    [codigoPlan]="codigoEpica"
    [numeracion]="'9'"
  >
  </resultado-evaluacion-shared>
  <div class="step__btn mt-4 mb-4">
    <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
    <!-- <button class="btn-primary2" (click)="guardarEvaluacion()">Guardar</button> -->
    <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
  </div>
</div>
