<div class="row m-0 pt-4">
  <!-- <div class="col-12">
    <h3 class="title2">Especies a Proteger</h3>
  </div> -->

  <label class="title2">Flora </label>

  <div class="col-2 col-sm-12 text-right">
    <button
      (click)="openModalEspeciesFlora('Registrar Especie Flora')"
      class="btn btn-sm btn-default button-more mb-2"
      type="button"
      title="Agregar"
      [disabled]="disabled"
      style="margin-bottom: 5px;"
    >
      <i class="pi pi-plus"></i>
    </button>
  </div>

  <div class="col-12">
    <p-table [value]="listEspeciesFlora">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 80px;">Acciones</th>
          <th>Especie</th>
          <th>Justificación</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
          <td class="text-center">
            <span
              class="pointer mr-1"
              title="Editar" *ngIf="false"
              (click)="editarModalEspecies(data, rowIndex)"
            >
              <i class="pi pi-pencil"></i>
            </span>
            <a
              type="button"
              class="pointer"
              title="Eliminar"
              (click)="eliminarEspecieFlora($event, data, rowIndex)"
            >
              <i class="pi pi-trash"></i>
            </a>
          </td>
          <td>{{ data.especie }}</td>
          <td>
            <input
              type="text"
              [(ngModel)]=" data.justificacionEspecie"
              class="form-control"
              placeholder=""
              maxlength="100"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
    <label *ngIf="pendienteFlora" class="lbl-info mt-3 mb-3">
      (Los cambios locales se guardarán pulsando el botón "Guardar".)
  </label>
  </div>

  <div class="pt-4">
    <label class="title2">Fauna </label>
  </div>
  <div class="col-2 col-sm-12 text-right">
    <button
      (click)="openModalEspeciesFauna('Registrar Especie Fauna')"
      class="btn btn-sm btn-default button-more mb-2"
      type="button"
      title="Agregar"
      [disabled]="disabled"
      style="margin-bottom: 5px;"
    >
      <i class="pi pi-plus"></i>
    </button>
  </div>

  <div class="col-12">
    <p-table [value]="listEspeciesFauna">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 80px;">Acciones</th>
          <th>Especie</th>
          <th>Justificación</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
          <td class="text-center">
            <span
              class="pointer mr-1" *ngIf="false"
              title="Editar"
              (click)="editarModalEspecies(data, rowIndex)"
            >
              <i class="pi pi-pencil"></i>
            </span>
            <span
              (click)="eliminarEspecieFauna($event, data, rowIndex)"
              class="pointer"
              title="Eliminar"
            >
              <i class="pi pi-trash"></i>
            </span>
          </td>
          <td>{{ data.especie }}</td>
          <td>
            <input
              type="text"
              [(ngModel)]=" data.justificacionEspecie"
              class="form-control"
              placeholder=""
              maxlength="100"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
    <label *ngIf="pendienteFauna" class="lbl-info mt-3 mb-3">
      (Los cambios locales se guardarán pulsando el botón "Guardar".)
  </label>
  </div>

  <br />
  <br />
  <button
    class="btn-primary2 mt-3"
    (click)="registrarEspecies()"
    [disabled]="disabled"
  >
    Guardar
  </button>
  <br />
</div>
<!-- <p-dialog
    header="{{
    editEspecies ? 'Editar Especie a Proteger' : 'Registrar Especie a Proteger'
  }}"
    header="Header"
    [(visible)]="displayModalEspecies"
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
  >
    <ng-template pTemplate="content">
      <div>
        <div class="row">
          <div class="col-12 col-sm-6">
            <label class="label">Tipo especie</label>
            <div class="form-control-selectk">
              <p-dropdown
                class="fomr-control"
                optionValue="valorSecundario"
                [options]="comoTipo"
                (onChange)="tipoEspecie($event)"
                optionLabel="valorPrimario"
                placeholder="Selecciona tipo"
                [(ngModel)]="especieProteger.nuIdEspecie"
                [disabled]="editEspecies"
              >
              </p-dropdown>
            </div>
          </div>

          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label class="label">Especie</label>
              <input
                *ngIf="!especieProteger.nuIdEspecie || editEspecies"
                type="text"
                class="form-control"
                placeholder="Ingrese especie"
                [disabled]="!especieProteger.nuIdEspecie || editEspecies"
                [(ngModel)]="especieProteger.especie"
              />

              <div
                *ngIf="especieProteger.nuIdEspecie == 1 && !editEspecies"
                class="form-control-autocompletek"
              >
                <p-autoComplete
                  [(ngModel)]="selectEspecie"
                  [showEmptyMessage]="true"
                  [style]="{ width: '100%' }"
                  [inputStyle]="{ width: '100%' }"
                  [placeholder]="'Ingrese especie'"
                  [suggestions]="comboListEspecies"
                  [virtualScroll]="true"
                  (completeMethod)="listaPorFiltroEspecieFauna($event)"
                  field="nombreCientifico"
                  [minLength]="3"
                >
                </p-autoComplete>
              </div>

              <div
                *ngIf="especieProteger.nuIdEspecie == 2 && !editEspecies"
                class="form-control-autocompletek"
              >
                <p-autoComplete
                  [(ngModel)]="selectEspecie"
                  [showEmptyMessage]="true"
                  [style]="{ width: '100%' }"
                  [inputStyle]="{ width: '100%' }"
                  [placeholder]="'Ingrese especie'"
                  [suggestions]="comboListEspecies"
                  [virtualScroll]="true"
                  (completeMethod)="listaPorFiltroEspecieForestal($event)"
                  field="nombreCientifico"
                  [minLength]="3"
                >
                </p-autoComplete>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label class="label">Justificación</label>
              <input
                [(ngModel)]="especieProteger.justificacionEspecie"
                type="text"
                class="form-control"
                placeholder="Ingrese justificacion"
              />
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <button
        icon="pi pi-save"
        (click)="agregarEspecie()"
        pButton
        pRipple
        type="button"
        [label]="editEspecies ? 'Editar' : 'Agregar'"
        class="p-button-success p-button-outlined"
      ></button>
      <button
        icon="pi pi-times"
        (click)="cerrarModalEspecie()"
        pButton
        pRipple
        type="button"
        label="Cancelar"
        class="p-button-danger p-button-outlined"
      ></button>
    </ng-template>
  </p-dialog> -->
