<div class="row">
  <div class="col-12">
    <div class="col-12">
      <p-table [value]="ordenamientoActList">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 80px">Acciones</th>
            <th style="width: 27%">Categoría de Ordenamiento</th>
            <th style="width: 73%">Actividades Principales</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
          <tr>
            <td class="text-center">
              <a
                type="button"
                class="pointer"
                title="Eliminar"
                (click)="
                  !disabled &&
                    openEliminarOrdenamientoAct($event, rowIndex, data)
                "
              >
                <i class="pi pi-trash"></i>
              </a>
            </td>

            <td>{{ data.ordenamiento }}</td>
            <td>
              <!-- <input
                [(ngModel)]="data.actividad"
                type="text"
                class="form-control"
                placeholder="Ingrese actividad"
              /> -->
              <textarea
                autocomplete="off" 
                class="form-control" 
                rows="3" 
                maxlength="250" 
                [(ngModel)]="data.actividad" 
                placeholder="Ingrese actividad" 
                style="resize: none;"
              >
              </textarea>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <!-- <label *ngIf="sinListado" class="lbl-info mt-3 mb-3">
        (No se encontraron segistros, para obtener registros debe completar el
        Ordenamiento de Área de Manejo.)
      </label> -->
    </div>
    <div class="col-12 mt-4 mb-4">
      <button class="btn-primary2 ml-0" (click)="agregarRegistros()">
        Guardar
      </button>
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
