<div class="container-fluid p-0">
  <div class="row m-0">
    <div class="col-12">
      <p-breadcrumb *ngIf="false" [model]="items" [home]="home"></p-breadcrumb>
    </div>
    <div class="col-12 mt-3 p-0">
      <h3 class="title">
        Ep3.1.8: Plan Operativo PMFI en Comunidades Campesinas y Nativas &nbsp;
        &nbsp;<span class="nro-plan">N° {{ idPlanManejo }}</span>
      </h3>
    </div>
    <div class="col-12 p-0"></div>
  </div>
  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <mat-tab-group
        animationDuration="0ms"
        [selectedIndex]="tabIndex"
        (selectedIndexChange)="informChange($event)"
      >
        <mat-tab label="1. Información General">
          <ng-template matTabContent>
            <app-tab-informacion-general
              [idPGMF]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            ></app-tab-informacion-general>
          </ng-template>
        </mat-tab>

        <mat-tab label="2. Objetivos">
          <ng-template matTabContent>
            <app-tab-objetivos-manejo
              [idPGMF]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()">
            </app-tab-objetivos-manejo>
          </ng-template>
        </mat-tab>

        <mat-tab label="3. Información basica">
          <ng-template matTabContent>
            <app-tab-informacion-basica
              [idPGMF]="idPlanManejo" [disabled]=disabled
              [idPlanManejoPadre]="idPlanManejoPadre"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()">
            </app-tab-informacion-basica>
          </ng-template>
        </mat-tab>
        <mat-tab label="4. Aspectos físicos">
          <ng-template matTabContent>
            <app-tab-aspectos-fisicos
              [idPGMF]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            >
            </app-tab-aspectos-fisicos>
          </ng-template>
        </mat-tab>

        <mat-tab label="5. Aspectos biológicos">
          <ng-template matTabContent>
            <app-tab-aspectos-biologicos
              [idPGMF]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            >
            </app-tab-aspectos-biologicos>
          </ng-template>
        </mat-tab>

        <mat-tab label="6. Información socioeconómica">
          <ng-template matTabContent>
            <app-tab-informacion-socioeconomica
                    [idPlanManejo]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            >
            </app-tab-informacion-socioeconomica>
          </ng-template>
        </mat-tab>

        <mat-tab label="7. Ordenamiento y protección de la UMF">
          <ng-template matTabContent>
            <tab-ordenamiento-proteccion
              [idPGMF]="idPlanManejo" [disabled]=disabled
              [idPlanManejoPadre]="idPlanManejoPadre"
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            >
            </tab-ordenamiento-proteccion>
          </ng-template>
        </mat-tab>

        <mat-tab label="8. Potencial de producción forestal">
          <ng-template matTabContent>
            <app-tab-potencial-produccion-forestal
              [idPGMF]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            >
            </app-tab-potencial-produccion-forestal>
          </ng-template>
        </mat-tab>

        <mat-tab label="9. Sistema de manejo forestal de uso múltiple">
          <ng-template matTabContent>
            <app-tab-sistema-manejo-forestal
              [idPlanManejo]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            >
            </app-tab-sistema-manejo-forestal>
          </ng-template>
        </mat-tab>

        <mat-tab label="10. Evaluación Ambiental">
          <ng-template matTabContent>
            <app-tab-evaluacion-ambiental
              [idPGMF]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            >
            </app-tab-evaluacion-ambiental>
          </ng-template>
        </mat-tab>

        <mat-tab label="11. Organización para el desarrollo de actividades">
          <ng-template matTabContent>
            <app-tab-desarrollo-actividades
              [idPlanManejo]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            >
            </app-tab-desarrollo-actividades>
          </ng-template>
        </mat-tab>

        <mat-tab label="12. Cronograma de actividades">
          <ng-template matTabContent>
            <app-tab-cronograma-actividades
              [idPGMF]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            >
            </app-tab-cronograma-actividades>
          </ng-template>
        </mat-tab>

        <mat-tab label="13. Rentabilidad del manejo forestal">
          <ng-template matTabContent>
            <app-tab-rentabilidad
              [idPGMF]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            ></app-tab-rentabilidad>
          </ng-template>
        </mat-tab>

        <mat-tab label="14. Aspectos complementarios">
          <ng-template matTabContent>
            <app-tab-aspectos-complementarios
              [idPlanManejo]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            ></app-tab-aspectos-complementarios>
          </ng-template>
        </mat-tab>

        <mat-tab label="15. Anexos">
          <ng-template matTabContent>
            <app-tab-anexos
              [idPGMF]="idPlanManejo" [disabled]=disabled
              (siguiente)="siguienteTab()"
              (regresar)="regresarTab()"
            ></app-tab-anexos>
          </ng-template>
        </mat-tab>

        <mat-tab label="16. Carga y Envío de Documentación">
          <ng-template matTabContent>
            <app-tab-resumen
              [idPlanManejo]="idPlanManejo" [disabled]=disabled
              (regresar)="regresarTab()"
            ></app-tab-resumen>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
