<div class="row">
  <div class="col-12 form-group">
    <label class="label">Factores</label>
    <div class="form-control-selectk">
      <p-dropdown
        [options]="factor"
        optionLabel="nombreActividad"
        optionValue="idEvalActividad"
        placeholder="Selecciona factor"
        [(ngModel)]="impactoObjt.idEvalActividad"
      ></p-dropdown>
    </div>
  </div>

  <div class="col-12 form-group">
    <label class="label">Actividad</label>
    <div class="form-control-selectk">
      <p-dropdown
        [options]="actividades"
        optionLabel="nombreAprovechamiento"
        optionValue="idEvalAprovechamiento"
        placeholder="Selecciona Actividad"
        [(ngModel)]="impactoObjt.idEvalAprovechamiento"
      ></p-dropdown>
    </div>
  </div>

  <div class="col-12 form-group">
    <label class="label">Caracterización de Impacto</label>
    <div class="form-control-selectk">
      <p-dropdown
        [options]="carImpacto"
        optionLabel="label"
        optionValue="value"
        placeholder="Selecciona Caracterización de Impacto"
        [(ngModel)]="impactoObjt.idCarImpacto"
      ></p-dropdown>
    </div>
  </div>

  <div class="col-12 form-group">
    <label class="label">Medidas de Mitigación</label>
    <input
      type="text"
      class="form-control"
      placeholder="Ingrese mitigación "
      maxlength="100"
      [(ngModel)]="impactoObjt.mitigacion"
    />
  </div>
</div>
<div class="col-12 mt-3">
  <button class="btn btn-sm btn-secondary" (click)="agregar()">
    Agregar
  </button>
</div>
