.nro-dema{
    color:#4CAF50; font-size: 1.2em
}


color-green {
  color: #4caf50;
  font-size: 1.2em;
}

.presentado {
  color: #057ebf;
  font-weight: bold;
}

.impugnado {
  color: red;
  font-weight: bold;
}

.en_evaluacion {
  color: #ece961;
  font-weight: bold;
}

.observado {
  color: #cb4141;
  font-weight: bold;
}

.observadomdp {
  color: #ef7728;
  font-weight: bold;
}

.aprobado {
  color: #4caf50;
  font-weight: bold;
}

.completadomdp {
  color: #acd95e;
  font-weight: bold;
}

.completadoMC {
  color: #91c53d;
  font-weight: bold;
}

.completadoPRE {
  color: #7ea833;
  font-weight: bold;
}

.observadoPRE {
  color: #f18a47;
  font-weight: bold;
}

.presentadoPRE {
  color: #4c90f3;
  font-weight: bold;
}

.columna-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fila-content {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.codigoUnico {
  color: #4a962c;
  font-weight: bold;
}

.color_pmfi {
  color: #318ce7;
  font-weight: bold;
}

.color_dema {
  color: #4caf50;
  font-weight: bold;
}

.color_pmfic {
  color: #1a3f1b;
  font-weight: bold;
}


.borrador {
  color      : #ec7921;
  font-weight: bold;
}


.eval-no-procede{
  color: #864444;
  font-weight: bold;
  //font-size: 1.3em;
}

.eval-procede{
  color:#4caf50;
  font-weight: bold;
  //font-size: 1.3em;
}

.impugnadp{
  color:red;
  font-weight: bold;
  //font-size: 1.3em;
}
