<div class="container-fluid">
  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <h3 class="title">
        Ep3.1.9: Generar la Declaración de Manejo (DEMA) &nbsp; &nbsp;<span
          class="nro-dema"
          >N° {{ idPlanManejo }}</span
        >
      </h3>
    </div>
  </div>
  <p-confirmPopup></p-confirmPopup>
  <div class="row m-0 pt-4">
    <div class="col-12 p-0">
      <mat-tab-group
        animationDuration="0ms"
        [selectedIndex]="tabIndex"
        (selectedIndexChange)="informChange($event)"
      >
        <mat-tab label="1. Información General">

          <ng-template matTabContent>
            <app-tab-informacion-general
              [idPlanManejo]="idPlanManejo" [disabled]="disabled"
              (siguiente)="siguienteTab()"  [isPerfilArffs]="isPerfilArffs"
            >
            </app-tab-informacion-general>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">2. Zonificación u Ordenamiento</span>
            <span class="tab-text">Interno del Área</span>
          </ng-template>
          <ng-template matTabContent>
            <app-tab-zonificacion-ordenamiento-interno-area
              [idPlanManejo]="idPlanManejo" [disabled]="disabled"
              (siguiente)="siguienteTab()" [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
            >
            </app-tab-zonificacion-ordenamiento-interno-area>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">3. Recursos Forestales</span>
            <span class="tab-text">Maderables</span>
          </ng-template>
          <ng-template matTabContent>
            <app-tab-recursos-forestales-maderables
              [idPlanManejo]="idPlanManejo" [disabled]="disabled"
              (siguiente)="siguienteTab()" [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
            >
            </app-tab-recursos-forestales-maderables>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">4. Recursos Forestales</span>
            <span class="tab-text">No Maderables</span>
          </ng-template>
          <ng-template matTabContent>
            <app-tab-recursos-forestales-no-maderables
              [idPlanManejo]="idPlanManejo" [disabled]="disabled"
              (siguiente)="siguienteTab()" [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
            >
            </app-tab-recursos-forestales-no-maderables>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">5. Sistema de Manejo y</span>
            <span class="tab-text">Labores Silviculturales</span>
          </ng-template>
          <ng-template matTabContent>
            <app-tab-sistema-manejo-laborales-silviculturales
              [idPlanManejo]="idPlanManejo" [disabled]="disabled"
              (siguiente)="siguienteTab()" [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
            >
            </app-tab-sistema-manejo-laborales-silviculturales>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">6. Medidas de Protección de la</span>
            <span class="tab-text">Unidad de Manejo Forestal</span>
          </ng-template>
          <ng-template matTabContent>
            <app-tab-medidas-proteccion-unidad-manejo-forestal
              [idPlanManejo]="idPlanManejo" [disabled]="disabled"
              (siguiente)="siguienteTab()" [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
            >
            </app-tab-medidas-proteccion-unidad-manejo-forestal>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">7. Actividades de</span>
            <span class="tab-text">Aprovechamiento y Equipos</span>
          </ng-template>
          <ng-template matTabContent>
            <app-tab-actividades-aprovechamiento-equipos
              [idPlanManejo]="idPlanManejo" [disabled]="disabled"
              (siguiente)="siguienteTab()" [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
            >
            </app-tab-actividades-aprovechamiento-equipos>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">8. Impactos Ambientales</span>
            <span class="tab-text">Negativos</span>
          </ng-template>
          <ng-template matTabContent>
            <app-tab-impactos-ambientales-negativos
              [idPlanManejo]="idPlanManejo" [disabled]="disabled"
              (siguiente)="siguienteTab()" [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
            >
            </app-tab-impactos-ambientales-negativos>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">9. Cronograma de </span>
            <span class="tab-text">Actividades</span>
          </ng-template>
          <ng-template matTabContent>
            <app-tab-cronograma-actividades
              [idPlanManejo]="idPlanManejo" [disabled]="disabled"
              (siguiente)="siguienteTab()" [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
            >
            </app-tab-cronograma-actividades>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">10. Anexos</span>
            <span class="tab-text">&nbsp;</span>
          </ng-template>
          <ng-template matTabContent>
            <app-tab-anexos
              [idPlanManejo]="idPlanManejo" [disabled]="disabled"
              (siguiente)="siguienteTab()" [isPerfilArffs]="isPerfilArffs"
              (regresar)="regresarTab()"
            >
            </app-tab-anexos>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="text-center">11. Carga y Envío de</span>
            <span class="tab-text">Documentación</span>
          </ng-template>
          <ng-template matTabContent>
            <app-tab-carga-envio-documentos
              [idPlanManejo]="idPlanManejo" [disabled]="disabled"
              (regresar)="regresarTab()" [isPerfilArffs]="isPerfilArffs"
            >
            </app-tab-carga-envio-documentos>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
