<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12 p-0">
      <p-accordion class="mt-3">
        <p-accordionTab header="Visor de Mapa">
          <app-map-custom-evaluacion
            [idPlanManejo]="idPlanManejo" [disabled]="disabled"
          ></app-map-custom-evaluacion>
        </p-accordionTab>
        <p-accordionTab header="Información del Plan">
          <tabla-historico-plan-manejo
            [idPlanManejo]="idPlanManejo"
          ></tabla-historico-plan-manejo>
        </p-accordionTab>
        <p-accordionTab
          header="Información Histórica Tabular del Componente Catastro" (click)="openInformacionHistorica()"
        >
          <historico-tabular [idPlanManejo]="idPlanManejo"></historico-tabular>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>

<div class="step__btn mt-4">
  <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
  <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
</div>
