<div class="container-fluit pt-4">
  <app-map-custom [idPlanManejo]="idPGMF" [codigoProceso]="'PGMF'" [codigoSubSeccion]="'PGMFIB'"
    [tipoGeometria]="'Otros'" [isListContrato]="true" [identificarBosque]="true" 
    [ShowBotonCargar]="false" [ShowBotonGuardar]="false"
    (listTipoBosque)="listarTipoBosque($event)">
  </app-map-custom>

  <div class="row m-0 mt-4 h-100 justify-content-center align-items-center">
    <div class="col-12 col-sm-12">
      <lineamiento-inner [base]="lineamiento6" [titulo]="'Evaluación Lineamiento 5.6 Mapas'"
        [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval">
        <ng-template #descripcion>
          <div class="row m-0">
            <div class="col-12">
              <p class="fz-11 m-0 mb-3">
                UTM, escala numérica, fuente cartográfica, poligonal
                georreferenciada del área de manejo y ubicación política.
                Adicionalmente, revisar que los mapas incluyan Verificar que los
                mapas contengan la leyenda, el norte magnético y el membrete;
                este último debe contener información del área total de la UMF,
                sistema de proyección la siguiente información:
              </p>
              <p class="fz-11 m-0 mb-1 ml-4">
                1. Mapa base: Límites y colindancias, red hidrográfica,
                fisiografía, topografía, red vial (vía de acceso a la concesión
                y caminos dentro de la concesión).
              </p>
              <p class="fz-11 m-0 mb-1 ml-4">
                2. Mapa de ordenamiento: Ordenamiento de la UMF, tipos de
                bosques y ubicación de parcelas de muestreo del inventario
                forestal.
              </p>
              <p class="fz-11 m-0 mb-3 ml-4">
                3. Mapa de división administrativa: Los frentes de corta, los
                tipos de bosques, las parcelas de corta anual, la red de vías de
                transporte principal y de acceso para el bloque quinquenal, en
                caso se haya decidido trabajar por bloques.
              </p>
              <p class="fz-11 m-0 mb-1">
                La escala de presentación de los mapas puede ser diferente a la
                recomendada en los lineamientos, siempre y cuando permitan la
                visualización de los detalles que se soliciten.
              </p>
            </div>
          </div>
        </ng-template>
      </lineamiento-inner>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-12 form-group">
      <p-accordion (onOpen)="onTabOpen($event)">
        <p-accordionTab header="3.1. Ubicación y Extensión" [selected]="true">
          <div class="p-4">
            <mat-tab-group animationDuration="0ms">
              <mat-tab label="3.1.1. Ubicación Política de la Concesión: (Mapa 1)">
                <div class="row">
                  <div class="col-12 mt-3 text-right">
                    <button (click)="agregarUbicacion(null, 0)" class="btn btn-sm btn-default mb-2" type="button"
                      title="Agregar" [disabled]="isDisbledObjFormu">
                      <i class="pi pi-plus"></i>
                    </button>
                  </div>

                  <div class="col-12 mt-3">
                    <p-table [value]="listaUbicacion">
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Acciones</th>
                          <th>Departamento</th>
                          <th>Provincia</th>
                          <th>Distrito</th>
                          <th>Cuenca/Sub cuenca</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                        <tr>
                          <td>
                            <span class="pointer mr-1" title="Editar" (click)="!isDisbledObjFormu && agregarUbicacion(data, rowIndex)">
                              <i class="pi pi-pencil"></i>
                            </span>
                            <span class="pointer" title="Eliminar"
                              (click)="!isDisbledObjFormu && eliminarUbicacion($event, data, rowIndex, codigoAcordeonAccesibilidad, codigoTabla2)">
                              <i class="pi pi-trash"></i>
                            </span>
                          </td>
                          <td>{{data.departamentoSelect.nombreDepartamento}}</td>
                          <td>{{data.provinciaSelect.nombreProvincia}}</td>
                          <td>{{data.distritoSelect.nombreDistrito}}</td>
                          <td>{{data.cuencaSelect.valor}}</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
  
                  <div class="col-12 mt-3">
                    <button type="button" class="btn-primary2" (click)="registrarUbicacion()" [disabled]="isDisbledObjFormu">
                      Guardar
                    </button>
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="3.1.2. Coordenadas UTM de la Concesión según Contrato: (Zona...WGS 84)">
                <div class="row">
                  <div class="col-12 mt-3">
                    <button type="button" (click)="fileSHPInput.click()" class="btn btn-sm btn-secondary button-more"
                      [disabled]="isDisbledObjFormu">
                      Cargar shape file
                      <input #fileSHPInput type="file" (change)="onChangeFileSHP($event)" style="display:none;" />
                    </button>
                  </div>

                  <div class="col-12 mt-3">
                    <p-table [value]="listVertices" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                      currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Punto</th>
                          <th>Este (E)</th>
                          <th>Norte (N)</th>
                          <th style="width: 180px">Referencia</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-list>
                        <tr>
                          <td class="text-center">{{ list.vertice }}</td>
                          <td>{{ list.este }}</td>
                          <td>{{ list.norte }}</td>
                          <td>
                            <input 
                              type="text" 
                              class="form-control bg-gray"
                              [(ngModel)]="list.referencia"
                              placeholder="Referencia" [disabled]="isDisbledObjFormu"/>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                  
                  <div class="col-12 mt-3">
                    <button type="button" class="btn-primary2" (click)="registrarCoordenadas()" [disabled]="isDisbledObjFormu">
                      Guardar</button>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
            <div class="
                row
                m-0
                mt-4
                h-100
                justify-content-center
                align-items-center
              ">
              <div class="col-12 col-sm-12">
                <lineamiento-inner [base]="lineamiento" [titulo]="'Evaluación Lineamiento 5.1 Ubicación'"
                  [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval">
                  <ng-template #descripcion>
                    <div class="row m-0">
                      <div class="col-12">
                        <p class="fz-11 m-0 mb-1">
                          Verificar que el PGMF contenga la información sobre la
                          ubicación política, de acuerdo con el contrato
                          suscrito.
                        </p>
                      </div>
                    </div>
                  </ng-template>
                </lineamiento-inner>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="3.2. Accesibilidad">
          <div class="p-4">
            <mat-tab-group animationDuration="0ms">
              <mat-tab
                label="3.2.1. Rutas o Vías de Acceso Terrestre o Fluvial a la Concesión (Incluir en el Mapa 1 y Adjuntar en Formato Digital)">
                <div style="padding: 15px">
                  <div class="row">
                    <upload-input-buttons
                      (registrarArchivo)="registrarArchivoGDB($event)"
                      (eliminarArchivo)="eliminarArchivoGDB(fileArchivoGDB)"
                      [file]="fileArchivoGDB" [label]="'Adjuntar archivo GDB'" [disabled]="isDisbledObjFormu">
                    </upload-input-buttons>
                  </div>
                </div>

                <div style="padding: 15px">
                  <ng-container *ngIf="!existeCatastroAspectoFisico">
                    <div class="col-2 col-sm-12 text-right">
                      <button class="btn btn-sm btn-default mb-2" type="button" title="Agregar"
                        (click)="agregarRutas('Agregar Rutas')" [disabled]="isDisbledObjFormu">
                        <i class="pi pi-plus"></i>
                      </button>
                    </div>
                  </ng-container>
                </div>

                <div class="col-12">
                  <p-table [value]="listInfoBasicaDet_3_2_1">
                    <ng-template pTemplate="header">
                      <tr>
                        <th rowspan="2">Acciones</th>
                        <th rowspan="2">
                          Punto de referencia (carretera, río o quebrada, etc.)
                          ó tramos
                        </th>
                        <th colspan="2">Punto de inicio</th>
                        <th colspan="2">Punto de llegada</th>
                        <th rowspan="2">Distancia (km)</th>
                        <th rowspan="2">Tiempo (horas)</th>
                        <th rowspan="2">Medio de transporte</th>
                      </tr>
                      <tr>
                        <th>Este</th>
                        <th>Norte</th>
                        <th>Este</th>
                        <th>Norte</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                      <tr>
                        <td>
                          <span class="pointer mr-1" title="Editar" (click)="agregarRutas('Editar Rutas', data)">
                            <i class="pi pi-pencil"></i>
                          </span>
                          <span class="pointer" title="Eliminar"
                            (click)="!isDisbledObjFormu && eliminarItemInformacionAreaManejo2($event, data, rowIndex, codigoAcordeonAccesibilidad, codigoTabla2)">
                            <i class="pi pi-trash"></i>
                          </span>
                        </td>
                        <td>{{ data.referencia }}</td>
                        <td>{{ data.coordenadaEsteIni }}</td>
                        <td>{{ data.coordenadaNorteIni }}</td>
                        <td>{{ data.coordenadaEsteFin }}</td>
                        <td>{{ data.coordenadaNorteFin }}</td>
                        <td>{{ data.distanciaKm }}</td>
                        <td>{{ data.tiempo }}</td>
                        <td>{{ data.medioTransporte }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>

                <div class="col-12 mt-3">
                  <button type="button" class="btn-primary2" (click)="registrarAccesibilidad(1)" [disabled]="isDisbledObjFormu">
                    Guardar
                  </button>
                </div>
              </mat-tab>

              <mat-tab
                label="3.2.2. Necesidades de Caminos para Conectarse con los Sistemas de Transporte Fluviales o Terrestres">
                <div>
                  <div class="row">
                    <div class="col-12 col-sm-12 text-right">
                      <br />
                      <button (click)="modalResumen()" class="btn btn-sm btn-default mb-2" type="button" title="Agregar"
                        [disabled]="isDisbledObjFormu">
                        <i class="pi pi-plus"></i>
                      </button>
                      <br />
                    </div>
                    <div class="col-12">
                      <p-table [value]="listInfoBasicaDet_3_2_2">
                        <ng-template pTemplate="header">
                          <tr>
                            <th>Acciones</th>
                            <th>Descripción</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                          <tr>
                            <td>
                              <span class="pointer" title="Eliminar"
                                (click)="!isDisbledObjFormu && eliminarItemInformacionAreaManejo($event, data, rowIndex, codigoAcordeonAccesibilidad, codigoTabla2)">
                                <i class="pi pi-trash"></i>
                              </span>
                            </td>
                            <td>{{data.descripcion}}</td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>

                  <div class="row mt-4" *ngIf="showAnexoAcor2">
                    <div class="col-12">
                      <label class="m-0 mr-5 label">Se amplía información en el Anexo 4:</label>
                      <div class="p-field-radiobutton">
                        <strong for="Si">SI</strong>
                        <p-radioButton name="selectAnexo4_3_2" value="S" inputId="Si" [disabled]="isDisbledObjFormu"
                          [(ngModel)]="selectAnexo4_3_2">
                        </p-radioButton>
                      </div>
                      <div class="p-field-radiobutton">
                        <strong for="No">NO</strong>
                        <p-radioButton name="selectAnexo4_3_2" value="N" inputId="No" [disabled]="isDisbledObjFormu"
                          [(ngModel)]="selectAnexo4_3_2" (onClick)="anexoN(idFile_PGMF_3_2_2, fileAnexo4_3_2)">
                        </p-radioButton>
                      </div>
                    </div>

                    <div class="col-12 p-0" [hidden]="selectAnexo4_3_2 == 'N'">
                      <div *ngIf="selectAnexo4_3_2 == 'S'">
                        <app-anexo-upload-file  
                          [fileInfGenreal]="fileAnexo4_3_2" 
                          [label]="'Adjuntar Evidencia:'" 
                          [idPlanManejo]="idPGMF"
                          [idTipoDocumento]="this.codigosFile.PGMF_TAB3_2_2"
                          [codigoProceso]="this.codigosFile.PGMF_TAB3_2_2"
                          (registrarArchivoId)="cargarIdArchivo($event, this.codigosFile.PGMF_TAB3_2_2)"
                          [isDisbledObjFormu]="isDisbledObjFormu"
                        >
                        </app-anexo-upload-file>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 mt-3">
                      <button type="button" class="btn-primary2" (click)="registrarAccesibilidad(2)" [disabled]="isDisbledObjFormu">
                        Guardar
                      </button>
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>

            <div class="
                row
                m-0
                mt-4
                h-100
                justify-content-center
                align-items-center
              ">
              <div class="col-12 col-sm-12">
                <lineamiento-inner [base]="lineamiento2" [titulo]="'Evaluación Lineamiento 5.2 Accesibilidad'"
                  [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval">
                  <ng-template #descripcion>
                    <div class="row m-0">
                      <div class="col-12">
                        <p class="fz-11 m-0 mb-1">
                          Verificar que se haya consignado información sobre las
                          vías que conectan a la concesión con los principales
                          centros poblados o ciudades, así como los principales
                          puntos de referencia, en coordenadas UTM, tomados para
                          la accesibilidad. Las vías terrestres y/o fluviales
                          declaradas deben complementarse con información sobre
                          distancias, tiempo y medio de transporte utilizado.
                        </p>
                      </div>
                    </div>
                  </ng-template>
                </lineamiento-inner>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="3.3. Aspectos Físicos (Hidrografía y fisiografía)">
          <div class="mx-4">
            <mat-tab-group animationDuration="0ms">
              <mat-tab
                label="3.3.1. Ríos (principales y secundarios), Quebradas, Lagunas (cochas) en el Área. (Incluir en el Mapa 1 del Anexo 1)">
                <div style="padding: 15px;">
                  <ng-container *ngIf="!existeCatastroAspectoFisico">
                    <div class="col-2 col-sm-12 text-right">
                      <button (click)="agregarAspectoFisico()" class="btn btn-sm btn-default mb-2" type="button"
                        title="Agregar" [disabled]="isDisbledObjFormu">
                        <i class="pi pi-plus"></i>
                      </button>
                    </div>
                  </ng-container>
                </div>
                <div class="mb-4" style="padding-bottom: 50px;">
                  <p-table [value]="listaAspectoFisico" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10, 25, 50]" appendTo="body">
                    <ng-template pTemplate="header">
                      <tr>
                        <th class="text-center">Acciones</th>
                        <th>Ríos</th>
                        <th>Quebradas</th>
                        <th>Lagunas(cochas)</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                      <tr>
                        <td class="text-center">
  
                          <i (click)="eliminarAspectoFisico($event, data, rowIndex)" class="pi pi-trash pointer"
                            title="Eliminiar Aspecto Fisico" [ngClass]="isDisbledObjFormu?'disabled-pointer':''"></i>
                        </td>
  
                        <td>
                          <p-dropdown appendTo="body" [(ngModel)]="data.idRios" [options]="cmbRios" [disabled]="isDisbledObjFormu"
                            optionLabel="descripcion" optionValue="idHidrografia" placeholder="Seleccionar"></p-dropdown>
                        </td>
                        <td>
                          <input [(ngModel)]="data.nombreQuebrada" type="text" class="form-control"
                            placeholder="Ingrese quebrada" [disabled]="isDisbledObjFormu"/>
                        </td>
                        <td>
                          <input [(ngModel)]="data.nombreLaguna" type="text" class="form-control"
                            placeholder="Ingrese laguna" [disabled]="isDisbledObjFormu"/>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>

                <div>
                  <button class="btn-primary2" [disabled]="isDisbledObjFormu" (click)="guardarHidrografia()">
                    Guardar
                  </button>
                </div>
              </mat-tab>

              <mat-tab label="3.3.2. Principales Unidades Fisiográficas en el Área (Incluir en el Mapa 1 del Anexo 1):">
                <div style="padding: 15px">
                  <label>Se debe utilizar de la "Guía de Inventario de la Flora y
                    Vegetación (RM N° 097-2015-MINAM)</label>
                </div>
                <p-table #tblUnidadFisiografica [value]="listUnidadGeografica">
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 60%">Unidad Fisiografica</th>
                      <th style="width: 10%"></th>
                      <th style="width: 15%">Área</th>
                      <th style="width: 15%">%</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data>
                    <tr [id]="data.idUnidadFisiografica">
                      <td>{{ data.descripcion }}</td>
                      <td style="padding: 6px">
                        <div class="p-field-checkbox">
                          <p-checkbox [(ngModel)]="data.accion" [binary]="true" (click)="validarCheckUF(data)" [disabled]="isDisbledObjFormu">
                          </p-checkbox>
                        </div>
                      </td>
                      <td class="text-center">
                        <input decimal [decimalPlaces]="2" [max]="1000000000000" [(ngModel)]="data.area" type="text" class="form-control" placeholder="Ingrese área"
                          (change)="calculateAreaTotalUF()" [disabled]="data.accion?false:true" />
                      </td>
                      <td class="text-center">{{ data.porcentaje }}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <tr>
                      <td><b>Total UMF</b></td>
                      <td style="width: 100px"></td>
                      <td class="text-center">{{ totalArea }}</td>
                      <td class="text-center">{{ totalPorcentaje }}</td>
                    </tr>
                  </ng-template>
                </p-table>
                <div class="mt-2">
                  <button class="btn-primary2" [disabled]="isDisbledObjFormu" (click)="guardarUnidadFisiograficaArchivo()">
                    Guardar
                  </button>
                </div>
              </mat-tab>

              <mat-tab label="3.3.3. Principales Limitaciones por Condiciones Biofísicas del Área">
                <div style="padding: 15px">
                  <div>
                    <div class="col-2 col-sm-12 text-right">
                      <button (click)="modalPrincipalesLineamientos()" class="btn btn-sm btn-default mb-2" type="button"
                        title="Agregar" [disabled]="isDisbledObjFormu">
                        <i class="pi pi-plus"></i>
                      </button>
                    </div>
                    <div class="col-12 p-0">
                      <p-table [value]="principalesLineamientos" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                        currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]" [totalRecords]="principalesLineamientos.length">
                        <ng-template pTemplate="header">
                          <tr>
                            <th>Acciones</th>
                            <th>Descripción</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                          <tr>
                            <td>
                              <span class="pointer" title="Eliminar"
                                (click)="!isDisbledObjFormu && eliminarPrincipalesLineamientos($event,data,rowIndex)">
                                <i class="pi pi-trash"></i>
                              </span>
                            </td>
                            <td>{{data.descripcion}}</td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>

                  <div class="row mt-4" *ngIf="showAnexoAcor3">
                    <div class="col-12">
                      <label class="m-0 mr-5 label">Se amplía información en el Anexo 4:</label>
                      <div class="p-field-radiobutton">
                        <strong for="Si">SI</strong>
                        <p-radioButton name="selectAnexo4_3_3" value="S" inputId="Si" [disabled]="isDisbledObjFormu"
                          [(ngModel)]="selectAnexo4_3_3">
                        </p-radioButton>
                      </div>
                      <div class="p-field-radiobutton">
                        <strong for="No">NO</strong>
                        <p-radioButton name="selectAnexo4_3_3" value="N" inputId="No" [disabled]="isDisbledObjFormu"
                          [(ngModel)]="selectAnexo4_3_3" (onClick)="anexoN(idFile_PGMF_3_3_3, fileAnexo4_3_3)">
                        </p-radioButton>
                      </div>
                    </div>

                    <div class="col-12 p-0" [hidden]="selectAnexo4_3_3 == 'N'">
                      <div *ngIf="selectAnexo4_3_3 == 'S'">
                        <app-anexo-upload-file 
                          [fileInfGenreal]="fileAnexo4_3_3" 
                          [label]="'Adjuntar Evidencia:'" [idPlanManejo]="idPGMF"
                          [idTipoDocumento]="this.codigosFile.PGMF_TAB3_3_3"
                          [codigoProceso]="this.codigosFile.PGMF_TAB3_3_3"
                          (registrarArchivoId)="cargarIdArchivo($event, this.codigosFile.PGMF_TAB3_3_3)"
                          [isDisbledObjFormu]="isDisbledObjFormu"
                          >
                        </app-anexo-upload-file>
                      </div>
                    </div>
                  </div>

                  <br><br>
                  <div class="col-12 mt.3">
                    <button class="btn-primary2" [disabled]="isDisbledObjFormu" (click)="guardarPrincipalesLimitaciones()">
                      Guardar
                    </button>
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="3.3.4. Información de Tipos de Suelo del Área de la Concesión">
                <div style="padding: 15px">
                  <div>
                    <div class="col-2 col-sm-12 text-right">
                      <button (click)="modalInformacion()" class="btn btn-sm btn-default mb-2" type="button" title="Agregar"
                        [disabled]="isDisbledObjFormu">
                        <i class="pi pi-plus"></i>
                      </button>
                    </div>

                    <div class="col-12 p-0">
                      <p-table [value]="informacionTipos" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                        currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]" [totalRecords]="informacionTipos.length">
                        <ng-template pTemplate="header">
                          <tr>
                            <th>Acciones</th>
                            <th>Descripción</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                          <tr>
                            <td>
                              <span class="pointer" title="Eliminar"
                                (click)="!isDisbledObjFormu && eliminarInformacion($event,data,rowIndex)">
                                <i class="pi pi-trash"></i>
                              </span>
                            </td>
                            <td>{{data.descripcion}}</td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>

                  <div class="row mt-4" *ngIf="showAnexoAcor3">
                    <div class="col-12">
                      <label class="m-0 mr-5 label">Se amplía información en el Anexo 4:</label>
                      <div class="p-field-radiobutton">
                        <strong for="Si">SI</strong>
                        <p-radioButton name="selectAnexo4_3_4" value="S" inputId="Si" [disabled]="isDisbledObjFormu"
                          [(ngModel)]="selectAnexo4_3_4">
                        </p-radioButton>
                      </div>
                      <div class="p-field-radiobutton">
                        <strong for="No">NO</strong>
                        <p-radioButton name="selectAnexo4_3_4" value="N" inputId="No" [disabled]="isDisbledObjFormu"
                          [(ngModel)]="selectAnexo4_3_4" (onClick)="anexoN(idFile_PGMF_3_3_4, fileAnexo4_3_4)">
                        </p-radioButton>
                      </div>
                    </div>

                    <div class="col-12 p-0" [hidden]="selectAnexo4_3_4 == 'N'">
                      <div *ngIf="selectAnexo4_3_4 == 'S'">
                        <app-anexo-upload-file 
                          [fileInfGenreal]="fileAnexo4_3_4" 
                          [label]="'Adjuntar Evidencia:'" 
                          [idPlanManejo]="idPGMF"
                          [idTipoDocumento]="this.codigosFile.PGMF_TAB3_3_4"
                          [codigoProceso]="this.codigosFile.PGMF_TAB3_3_4"
                          (registrarArchivoId)="cargarIdArchivo($event, this.codigosFile.PGMF_TAB3_3_4)"
                          [isDisbledObjFormu]="isDisbledObjFormu"
                          >
                        </app-anexo-upload-file>
                      </div>
                    </div>
                  </div>

                  <br><br>
                  <div class="col-12 mt.3">
                    <button class="btn-primary2" [disabled]="isDisbledObjFormu" (click)="guardarInformaciontipoSuelo()">
                      Guardar
                    </button>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>

            <div class="
                row
                m-0
                mt-4
                h-100
                justify-content-center
                align-items-center
              ">
              <div class="col-12 col-sm-12">
                <lineamiento-inner [base]="lineamiento3" [titulo]="'Evaluación Lineamiento 5.3 Aspectos físicos'"
                  [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval">
                  <ng-template #descripcion>
                    <div class="row m-0">
                      <div class="col-12">
                        <p class="fz-11 m-0 mb-3">
                          Verificar que se haya consignado la información
                          siguiente:
                        </p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          1. Ríos principales, ríos secundarios, quebradas y
                          lagunas (cochas).
                        </p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          2. Principales unidades fisiográficas. En caso de
                          existir terrazas y colinas se debe incluir una
                          subcategoría sobre el grado de disectación o erosión.
                        </p>
                        <p class="fz-11 m-0 mb-3 ml-4">
                          3. Principales tipos de suelo, según clasificación de
                          FAO u otra clasificación utilizada.
                        </p>
                        <p class="fz-11 m-0 mb-1">
                          La información presentada debe ser contrastada con la
                          presentada en los mapas adjuntos al PGMF.
                        </p>
                      </div>
                    </div>
                  </ng-template>
                </lineamiento-inner>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="3.4. Aspectos Biológicos">
          <div class="p-4">
            <mat-tab-group animationDuration="0ms">
              <mat-tab label="3.4.1. Fauna silvestre">
                <div class="col-12" *ngIf="showAnexoAcor4">
                  <app-tabla-fauna-silvestre 
                    [idPlanManejo]="idPlanManejo"
                    [disabled]="isDisbledObjFormu"
                  ></app-tabla-fauna-silvestre>
                </div>
                
                <div class="row mt-4" *ngIf="showAnexoAcor4">
                  <div class="col-12">
                    <label class="m-0 mr-5 label">Se amplía información en el Anexo 4:</label>
                    <div class="p-field-radiobutton">
                      <strong for="Si">SI</strong>
                      <p-radioButton name="selectAnexo4_4_1" value="S" inputId="Si" [disabled]="isDisbledObjFormu"
                        [(ngModel)]="selectAnexo4_4_1">
                      </p-radioButton>
                    </div>
                    <div class="p-field-radiobutton">
                      <strong for="No">NO</strong>
                      <p-radioButton name="selectAnexo4_4_1" value="N" inputId="No" [disabled]="isDisbledObjFormu"
                        [(ngModel)]="selectAnexo4_4_1" (onClick)="anexoN(idFile_PGMF_3_4_1, fileAnexo4_4_1)">
                      </p-radioButton>
                    </div>
                  </div>

                  <div class="col-12 p-0" [hidden]="selectAnexo4_4_1 == 'N'">
                    <div *ngIf="selectAnexo4_4_1 == 'S'">
                      <app-anexo-upload-file 
                        [fileInfGenreal]="fileAnexo4_4_1" 
                        [label]="'Adjuntar Evidencia:'" 
                        [idPlanManejo]="idPGMF"
                        [idTipoDocumento]="this.codigosFile.PGMF_TAB3_4_1"
                        [codigoProceso]="this.codigosFile.PGMF_TAB3_4_1"
                        (registrarArchivoId)="cargarIdArchivo($event, this.codigosFile.PGMF_TAB3_4_1)"
                        [isDisbledObjFormu]="isDisbledObjFormu"
                        >
                      </app-anexo-upload-file>
                    </div>
                  </div>
                </div>

                <br><br>
                <div class="col-12 mt.3">
                  <button class="btn-primary2" [disabled]="isDisbledObjFormu" (click)="guardarAspectoBioFaunaSilvestre()">
                    Guardar
                  </button>
                </div>
              </mat-tab>

              <mat-tab label="3.4.2. Tipo de Bosque (Incluir en el Mapa 2 del Anexo 1):">
                <div style="padding: 15px">
                  <p-table #tblTipoBosque [value]="listaBosque" [paginator]="true" [rows]="10"
                    [showCurrentPageReport]="true" currentPageReportTemplate="Total : {totalRecords} registros"
                    [rowsPerPageOptions]="[10, 25, 50]">
                    <ng-template pTemplate="header">
                      <tr>
                        <th>Tipo Bosque</th>
                        <th>Área (ha)</th>
                        <th>%</th>
                        <!-- <th class="text-center">Acciones</th> -->
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                      <tr>
                        <td>{{ data.descripcion }}</td>
                        <td><input type="text" (change)="onChangeTipoBosque()"class="form-control" [(ngModel)]="data.areaHa" 
                          decimal [decimalPlaces]="2" [max]="1000000000000"/> </td>
                        <td>{{ data.areaHaPorcentaje }}</td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                      <tr>
                        <td colspan="1" class="p-text-right">Total</td>
                        <td>{{totalAreaTipoBosque}}</td>
                        <td>{{totalPorcentaTipoBosque}}</td>
                        <!-- <td></td> -->
                      </tr>
                    </ng-template>
                  </p-table>
                </div>

                <div class="row mt-4" *ngIf="showAnexoAcor4">
                  <div class="col-12">
                    <label class="m-0 mr-5 label">Se amplía información en el Anexo 4:</label>
                    <div class="p-field-radiobutton">
                      <strong for="Si">SI</strong>
                      <p-radioButton name="selectAnexo4_4_2" value="S" inputId="Si" [disabled]="isDisbledObjFormu"
                        [(ngModel)]="selectAnexo4_4_2">
                      </p-radioButton>
                    </div>
                    <div class="p-field-radiobutton">
                      <strong for="No">NO</strong>
                      <p-radioButton name="selectAnexo4_4_2" value="N" inputId="No" [disabled]="isDisbledObjFormu"
                        [(ngModel)]="selectAnexo4_4_2" (onClick)="anexoN(idFile_PGMF_3_4_2, fileAnexo4_4_2)">
                      </p-radioButton>
                    </div>
                  </div>

                  <div class="col-12 p-0" [hidden]="selectAnexo4_4_2 == 'N'">
                    <div>
                      <app-anexo-upload-file 
                        [fileInfGenreal]="fileAnexo4_4_2"
                        [label]="'Adjuntar Evidencia:'" 
                        [idPlanManejo]="idPGMF"
                        [idTipoDocumento]="this.codigosFile.PGMF_TAB3_4_2"
                        [codigoProceso]="this.codigosFile.PGMF_TAB3_4_2"
                        (registrarArchivoId)="cargarIdArchivo($event, this.codigosFile.PGMF_TAB3_4_2)"
                        [isDisbledObjFormu]="isDisbledObjFormu"
                        >
                      </app-anexo-upload-file>
                    </div>
                  </div>
                </div>
                <br><br>
                <div class="col-12 mt.3">
                  <button class="btn-primary2" [disabled]="isDisbledObjFormu" (click)="guardarAspectoBioTiobosque()">
                    Guardar
                  </button>
                </div>
              </mat-tab>
            </mat-tab-group>

            <div class="
                row
                m-0
                mt-4
                h-100
                justify-content-center
                align-items-center
              ">
              <div class="col-12 col-sm-12">
                <lineamiento-inner [base]="lineamiento4" [titulo]="'Evaluación Lineamiento 5.4 Aspectos biológicos'"
                  [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval">
                  <ng-template #descripcion>
                    <div class="row m-0">
                      <div class="col-12">
                        <p class="fz-11 m-0 mb-3">
                          Verificar que se cumpla lo siguiente:
                        </p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          1. Las especies de fauna silvestre existentes se
                          encuentren listadas y de encontrarse categorizadas,
                          indicar su status de acuerdo con la lista de
                          clasificación y categorización de las especies
                          amenazadas de fauna silvestre legalmente protegidas7,
                          así como, se indique si la información proviene de
                          evaluaciones propias o de encuestas a conocedores
                          locales. Cuando se indique una especie que no se
                          encuentra dentro del ámbito de distribución natural,
                          analizar la metodología empleada a efectos de advertir
                          que no se trate de un error.
                        </p>
                        <p class="fz-11 m-0 mb1 ml-4">
                          2. Los tipos de bosques se hayan clasificado, de
                          conformidad con la Guía de Inventario de la Flora y
                          Vegetación.
                        </p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          3. Corroborar que la sumatoria de las áreas de cada
                          tipo de bosque sea igual al área total de la UMF.
                        </p>
                      </div>
                    </div>
                  </ng-template>
                </lineamiento-inner>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="3.5. Aspectos Socioeconómicos">
          <div class="p-4">
            <mat-tab-group animationDuration="0ms">


              <mat-tab>
                <ng-template mat-tab-label>
                  <span class="text-center">3.5.1. Caracterización de la Población</span>
                </ng-template>

                <ng-template matTabContent>
                  <div class="row m-0 mb-4 mt-2">
                    <div class="col-12 text-right mb-2">
                      <button (click)="
                          agregarDetalle(
                            codigoAcordeonAspectosSocioeconomico,
                            codigoTabla1
                          )
                        " class="btn btn-sm btn-default button-more mb-2" type="button" [disabled]="isDisbledObjFormu || isArffs"
                        title="Agregar">
                        <i class="pi pi-plus"></i>
                      </button>
                    </div>
                    <div class="col-12" style="overflow-x: auto;">
                      <p-table [value]="listInfoBasicaDet_3_5_1"  [paginator]="true"
                      [rows]="10"
                      [showCurrentPageReport]="true"
                      currentPageReportTemplate="Total : {totalRecords} registros"
                      [rowsPerPageOptions]="[10, 25, 50]"
                      [totalRecords]="listInfoBasicaDet_3_5_1.length">
                        <ng-template pTemplate="header">
                          <tr>
                            <th style="width: 80px">Acciones</th>
                            <th style="min-width: 200px;">Población aledaña o al interior de la concesión</th>
                            <th class="text-center"></th>
                            <th style="min-width: 200px;">Nombre</th>
                            <th style="min-width: 100px;">Este</th>
                            <th style="min-width: 100px;">Norte</th>
                            <th style="min-width: 100px;">Área (ha)</th>
                            <th style="min-width: 100px;">N° de Familias</th>
                            <th style="min-width: 325px;">Descripción de actividades que realizan</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                          <tr>
                            <td>
                              <span class="pointer mr-1" title="Eliminar" (click)="
                                  !isDisbledObjFormu &&
                                    eliminarItemInformacionAreaManejo(
                                      $event,
                                      data,
                                      rowIndex,
                                      codigoAcordeonAspectosSocioeconomico,
                                      codigoTabla1
                                    )
                                ">
                                <i class="pi pi-trash"></i>
                              </span>
                            </td>
                            <td>
                              <input type="text" class="form-control" maxlength="250"
                                placeholder="Ingrese una actividad" [(ngModel)]="data.descripcion"
                                [disabled]="!data.isEdit" sinSpacioInit/>
                            </td>
                            <td class="text-center">
                              <div class="p-field-checkbox">
                                <p-checkbox [(ngModel)]="data.isEdit" [binary]="true" [disabled]="isDisbledObjFormu"></p-checkbox>
                              </div>
                            </td>
                            <td>
                              <input type="text" class="form-control" maxlength="190" placeholder="Ingrese un Nombre"
                                [(ngModel)]="data.nombre" [disabled]="!data.isEdit" sinSpacioInit/>
                            </td>
                            <td>
                              <input type="number" decimal [min]="0" [maxLength]="4" [decimalPlaces]="2"
                                class="form-control" placeholder="Ingrese Este" [disabled]="!data.isEdit"
                                [(ngModel)]="data.coordenadaEsteIni" />
                            </td>

                            <td>
                              <input type="number" decimal [min]="0" [maxLength]="4" [decimalPlaces]="2"
                                class="form-control" placeholder="Ingrese Norte" [disabled]="!data.isEdit"
                                [(ngModel)]="data.coordenadaNorteIni" />
                            </td>
                            <td>
                              <input type="number" class="form-control" maxlength="190" placeholder="Ingrese Área"
                                [(ngModel)]="data.areaHa" [disabled]="!data.isEdit" />
                            </td>
                            <td>
                              <input type="number" class="form-control" maxlength="190"
                                placeholder="Ingrese el número de Familias" [(ngModel)]="data.numeroFamilia"
                                [disabled]="!data.isEdit" />
                            </td>
                            <td>

                              <!--
                              <div class="p-2 text-center">
                                <label class="mr-4 pl-3 pointer label" style="display: initial;" for="chk-mapa-anexo">No Procede</label>
                                <p-checkbox id="chk-mapa-anexo" [(ngModel)]="solicitudRequestEntity.procede" value="false"></p-checkbox>
                              </div>
                              -->
                              <div class="row">
                                <div class="col-6" style="min-width: 75px;">
                                  <div class="p-field-checkbox">

                                    <p-checkbox [(ngModel)]="data.subsistencia" [binary]="true"
                                      [disabled]="!data.isEdit"></p-checkbox>
                                    <label class="mr-4 pl-3 pointer label" style="display: initial;">Subsistencia
                                    </label>
                                  </div>



                                  <div class="p-field-checkbox">
                                    <p-checkbox [(ngModel)]="data.ganaderia" [binary]="true" [disabled]="!data.isEdit">
                                    </p-checkbox>
                                    <label class="mr-4 pl-3 pointer label" style="display: initial;">Ganadería
                                    </label>
                                  </div>

                                  <div class="p-field-checkbox">
                                    <p-checkbox [(ngModel)]="data.pesca" [binary]="true" [disabled]="!data.isEdit">
                                    </p-checkbox>
                                    <label class="mr-4 pl-3 pointer label" style="display: initial;">Pesca
                                    </label>
                                  </div>

                                </div>
                                <div class="col-6">
                                  <div class="p-field-checkbox">
                                    <p-checkbox [(ngModel)]="data.perenne" [binary]="true" [disabled]="!data.isEdit">
                                    </p-checkbox>
                                    <label class="mr-4 pl-3 pointer label" style="display: initial;">Perennes</label>

                                  </div>


                                  <div class="p-field-checkbox">
                                    <p-checkbox [(ngModel)]="data.caza" [binary]="true" [disabled]="!data.isEdit">
                                    </p-checkbox>
                                    <label class="mr-4 pl-3 pointer label" style="display: initial;">Caza
                                    </label>
                                  </div>

                                  <div class="p-field-checkbox">
                                    <p-checkbox [(ngModel)]="data.madera" [binary]="true" [disabled]="!data.isEdit">
                                    </p-checkbox>
                                    <label class="mr-4 pl-3 pointer label" style="display: initial;">Madera
                                    </label>
                                  </div>

                                </div>
                              </div>

                              <div class="p-field-checkbox">
                                <p-checkbox [(ngModel)]="data.otroProducto" [binary]="true" [disabled]="!data.isEdit">
                                </p-checkbox>
                                <label class="mr-4 pl-3 pointer label" style="display: initial;">Otros Productos</label>

                              </div>
                              <!--
                              <input
                                type="text"
                                class="form-control"
                                maxlength="190"
                                placeholder="Ingrese actividad"
                                [(ngModel)]="data.actividad"
                                [disabled]="!data.isEdit"
                              />
                              -->
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                      <br />
                    </div>
                  </div>

                  <button class="btn-primary2" [disabled]="isDisbledObjFormu" (click)="
                      registrarAspectosSocieconomicos(listInfoBasicaDet_3_5_1)
                    ">
                    Guardar
                  </button>
                </ng-template>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <span class="text-center">
                    3.5.2. Infraestructura de Servicios (en la concesión o su enterno)
                  </span>
                </ng-template>

                <ng-template matTabContent>
                  <div class="row m-0 mt-2">
                    <div class="col-12 mb-4">
                      <div class="col-2 col-sm-12 text-right mb-2">
                        <button (click)="
                            agregarDetalle(
                              codigoAcordeonAspectosSocioeconomico,
                              codigoTabla2
                            )
                          " class="btn btn-sm btn-default button-more mb-2" type="button" title="Agregar"
                          [disabled]="isDisbledObjFormu || isArffs">
                          <i class="pi pi-plus"></i>
                        </button>
                      </div>
                      <p-table [value]="listInfoBasicaDet_3_5_2" [paginator]="true"
                      [rows]="10"
                      [showCurrentPageReport]="true"
                      currentPageReportTemplate="Total : {totalRecords} registros"
                      [rowsPerPageOptions]="[10, 25, 50]"
                      [totalRecords]="listInfoBasicaDet_3_5_2.length">
                        <ng-template pTemplate="header">
                          <tr>
                            <th style="width: 40px">Acciones</th>
                            <th>Infraestructura</th>
                            <th></th>
                            <th>Nombre</th>
                            <th>Este</th>
                            <th>Norte</th>
                            <th style="min-width: 190px;">Acceso</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                          <tr>
                            <td>
                              <span class="pointer mr-1" title="Eliminar" (click)="
                                  !isDisbledObjFormu &&
                                    eliminarItemInformacionAreaManejo(
                                      $event,
                                      data,
                                      rowIndex,
                                      codigoAcordeonAspectosSocioeconomico,
                                      codigoTabla2
                                    )
                                ">
                                <i class="pi pi-trash"></i>
                              </span>
                            </td>
                            <td>
                              <input pInputText maxlength="250" class="form-control"
                                placeholder="Ingrese Infraestructura" [disabled]="!data.isEdit"
                                [(ngModel)]="data.descripcion" sinSpacioInit/>
                            </td>
                            <td>
                              <div class="p-field-checkbox">
                                <p-checkbox [(ngModel)]="data.isEdit" [binary]="true" [disabled]="isArffs"></p-checkbox>
                              </div>
                            </td>
                            <td>
                              <input pInputText class="form-control" maxlength="50" placeholder="Ingrese Nombre"
                                [disabled]="!data.isEdit" [(ngModel)]="data.nombre" sinSpacioInit/>
                            </td>
                            <td>
                              <input type="number" decimal [min]="0" [maxLength]="4" [decimalPlaces]="2"
                                class="form-control" placeholder="Ingrese Este" [disabled]="!data.isEdit"
                                [(ngModel)]="data.coordenadaEsteIni" />
                            </td>

                            <td>
                              <input type="number" decimal [min]="0" [maxLength]="4" [decimalPlaces]="2"
                                class="form-control" placeholder="Ingrese Norte" [disabled]="!data.isEdit"
                                [(ngModel)]="data.coordenadaNorteIni" />
                            </td>
                            <td>
                              <div class="form-control-selectk">
                                <p-dropdown [disabled]="!data.isEdit" [(ngModel)]="data.acceso"
                                  [options]="lstTipoAcceso" optionLabel="valor1" optionValue="valor1"
                                  placeholder="Seleccione" appendTo="body">
                                </p-dropdown>
                              </div>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>

                    <div class="row mt-4" *ngIf="showAnexoAcor5">
                      <div class="col-12">
                        <label class="m-0 mr-4 label">Se amplía información en el Anexo 4:</label>
                        <div class="p-field-radiobutton">
                          <strong for="Si" class="mr-2">SI</strong>
                          <p-radioButton name="selectAnexo4_5_2" value="S" inputId="Si"
                            [(ngModel)]="selectAnexo4_5_2" [disabled]="isDisbledObjFormu">
                          </p-radioButton>
                        </div>
                        <div class="p-field-radiobutton">
                          <strong for="No" class="mr-2">NO</strong>
                          <p-radioButton name="selectAnexo4_5_2" value="N" inputId="No"
                            [(ngModel)]="selectAnexo4_5_2" [disabled]="isDisbledObjFormu"
                            (onClick)="anexoN(idFile_PGMF_3_5_2, fileAnexo4_5_2)">
                          </p-radioButton>
                        </div>
                      </div>

                      <div class="col-12 p-0" [hidden]="selectAnexo4_5_2 == 'N'">
                        <div *ngIf="selectAnexo4_5_2 == 'S'">
                          <app-anexo-upload-file
                            [fileInfGenreal]="fileAnexo4_5_2"
                            [label]="'Adjuntar Evidencia:'" 
                            [idPlanManejo]="idPGMF"
                            [idTipoDocumento]="this.codigosFile.PGMF_TAB3_5_2"
                            [codigoProceso]="this.codigosFile.PGMF_TAB3_5_2"
                            (registrarArchivoId)="cargarIdArchivo($event, this.codigosFile.PGMF_TAB3_5_2)"
                            [isDisbledObjFormu]="isDisbledObjFormu"
                            >
                          </app-anexo-upload-file>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="mt-4">
                    <button class="btn-primary2" [disabled]="disabled" (click)="
                    registrarAspectosSocieconomicos(listInfoBasicaDet_3_5_2)
                    ">
                    Guardar
                  </button>
                </div>
                </ng-template>
                <!--
                <p>&nbsp;</p>
                <div style="padding: 15px;">
                  <label>Se amplía información en el Anexo 4:</label>
                </div>

                <div class="p-field-radiobutton">
                  <label for="infraestructuraServicios1">Si</label>
                  <p-radioButton name="infraestructuraServicios" value="val1" [(ngModel)]="city"
                    inputId="infraestructuraServicios1">
                  </p-radioButton>
                </div>
                <div class="p-field-radiobutton">
                  <label for="infraestructuraServicios2">No</label>
                  <p-radioButton name="infraestructuraServicios" value="val2" [(ngModel)]="city"
                    inputId="infraestructuraServicios2">
                  </p-radioButton>
                </div>-->
              </mat-tab>

            </mat-tab-group>
          </div>
        </p-accordionTab>

        <p-accordionTab header="3.6. Antecedentes de Uso e Identificación de Conflictos">
          <div class="p-4">
            <mat-tab-group animationDuration="0ms">
              <mat-tab label="3.6.1. Antecedentes de Uso de Recursos, Anterior al Otorgamiento de la Concesión">

                <div class="col-2 col-sm-12 text-right mb-2 mt-2">
                  <button (click)="
                      agregarDetalle(
                        codigoAcordeonAntecedentesUsoIdentificacionConflictos,
                        codigoTabla1
                      )
                    " class="btn btn-sm btn-default button-more mb-2" type="button" [disabled]="isDisbledObjFormu"
                    title="Agregar">
                    <i class="pi pi-plus"></i>
                  </button>
                </div>

                <p-table [value]="listInfoBasicaDet_3_6_1" [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registros"
                [rowsPerPageOptions]="[10, 25, 50]"
                [totalRecords]="listInfoBasicaDet_3_6_1.length" >
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Acciones</th>
                      <th>Actividades</th>
                      <th>Marcar</th>
                      <th>Especies Más Extraídas</th>
                      <th>Observaciones</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data let-rowIndex="rowIndex+1">
                    <tr>
                      <td>

                          <i  class="pi pi-trash pointer mr-2" [ngClass]="isDisbledObjFormu?'disabled-pointer':''"
                            title="Eliminar"
                            *ngIf="rowIndex>4"
                            (click)=" eliminarItemInformacionAreaManejo(
                              $event,
                              data,
                              rowIndex,
                              codigoAcordeonAntecedentesUsoIdentificacionConflictos,
                              codigoTabla1 )"></i>
                           
                           

                          <i class="pi pi-pencil" [ngClass]="isDisbledObjFormu?'disabled-pointer':''"
                            title="Editar"
                            (click)="editar(data,rowIndex)"
                            ></i>
                      </td>
                      <td>
                        {{data.actividad}}
                      </td>
                      <td class="text-center">
                        <!-- Marcar -->
                      
                        <div class="p-field-checkbox">
                          <p-checkbox [(ngModel)]="data.marcar" [binary]="true" [disabled]="isDisbledObjFormu"></p-checkbox>
                        </div>
                        
                      </td>
                      <td>
                        {{data.especieExtraida}}
                      </td>
                      <td>
                        {{data.observaciones}}
                      </td>
                    </tr>
                  </ng-template>
                </p-table>

                <div class="row mt-4" *ngIf="showAnexoAcor6">
                  <div class="col-12">
                    <label class="m-0 mr-4 label">Se amplía información en el Anexo 4:</label>
                    <div class="p-field-radiobutton">
                      <strong for="Si" class="mr-2">SI</strong>
                      <p-radioButton name="selectAnexo4_6_1" value="S" inputId="Si"
                        [(ngModel)]="selectAnexo4_6_1" [disabled]="isDisbledObjFormu">
                      </p-radioButton>
                    </div>
                    <div class="p-field-radiobutton">
                      <strong for="No" class="mr-2">NO</strong>
                      <p-radioButton name="selectAnexo4_6_1" value="N" inputId="No"
                        [(ngModel)]="selectAnexo4_6_1" [disabled]="isDisbledObjFormu"
                        (onClick)="anexoN(idFile_PGMF_3_6_1, fileAnexo4_6_1)">
                      </p-radioButton>
                    </div>
                  </div>
                  <br />

                  <div class="col-12 p-0" [hidden]="selectAnexo4_6_1 == 'N'">
                    <div *ngIf="selectAnexo4_6_1 == 'S'">
                      <app-anexo-upload-file
                        [fileInfGenreal]="fileAnexo4_6_1"
                        [label]="'Adjuntar Evidencia:'" 
                        [idPlanManejo]="idPGMF"
                        [idTipoDocumento]="this.codigosFile.PGMF_TAB3_6_1"
                        [codigoProceso]="this.codigosFile.PGMF_TAB3_6_1"
                        (registrarArchivoId)="cargarIdArchivo($event, this.codigosFile.PGMF_TAB3_6_1)"
                        [isDisbledObjFormu]="isDisbledObjFormu"
                        >
                      </app-anexo-upload-file>
                    </div>
                  </div>
                </div>

                <br>
                <button class="btn-primary2" [disabled]="isDisbledObjFormu" (click)="
                registrarAntecedentesUsoIdentificacionConflictos(listInfoBasicaDet_3_6_1)
                ">
                  Guardar
                </button>
              </mat-tab>

              <mat-tab
                label="3.6.2. Identificación y Manejo de Conflictos de Uso de la Tierra y los Recursos Forestales">
                <div class="col-2 col-sm-12 text-right">
                  <br />
                  <button (click)="agregarConflicto()" class="btn btn-sm btn-default mb-2" type="button" title="Agregar"
                    [disabled]="isDisbledObjFormu">
                    <i class="pi pi-plus"></i>
                  </button>
                  <br />
                </div>
                <div class="col-12" style="padding: 15px">
                  <p-table [value]="this.manejoConflictos" [paginator]="true"
                  [rows]="10"
                  [showCurrentPageReport]="true"
                  currentPageReportTemplate="Total : {totalRecords} registros"
                  [rowsPerPageOptions]="[10, 25, 50]"
                  [totalRecords]="manejoConflictos.length">
                    <ng-template pTemplate="header">
                      <tr>
                        <th>Acciones</th>
                        <th>Conflictos</th>
                        <th>Propuesta de manejo o solución</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-dataConf let-rowIndexConf="rowIndex">
                      <tr>
                        <td>

                          <span class="pointer" title="Eliminar">
                            <i (click)="eliminarConflicto($event, dataConf, rowIndexConf)" class="pi pi-trash pointer"
                              title="Eliminiar Aspecto Fisico" [ngClass]="isDisbledObjFormu?'disabled-pointer':''"></i>
                          </span>


                        </td>
                        <td>
                          <input pInputText maxlength="230" type="text" class="form-control" [(ngModel)]="dataConf.conflicto" 
                            [disabled]="isDisbledObjFormu" sinSpacioInit/>
                        </td>
                        <td>
                          <input pInputText maxlength="230" type="text" class="form-control" [(ngModel)]="dataConf.solucion" 
                            [disabled]="isDisbledObjFormu" sinSpacioInit/>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>

                <div class="row mt-4" *ngIf="showAnexoAcor6">
                  <div class="col-12">
                    <label class="m-0 mr-4 label">Se amplía información en el Anexo 4:</label>
                    <div class="p-field-radiobutton">
                      <strong for="Si">SI</strong>
                      <p-radioButton name="selectAnexo4_6_2" value="S" inputId="Si" [disabled]="isDisbledObjFormu"
                        [(ngModel)]="selectAnexo4_6_2">
                      </p-radioButton>
                    </div>
                    <div class="p-field-radiobutton">
                      <strong for="No">NO</strong>
                      <p-radioButton name="selectAnexo4_6_2" value="N" inputId="No" [disabled]="isDisbledObjFormu"
                        [(ngModel)]="selectAnexo4_6_2" (onClick)="anexoN(idFile_PGMF_3_6_2, fileAnexo4_6_2)">
                      </p-radioButton>
                    </div>
                  </div>

                  <div class="col-12 p-0" [hidden]="selectAnexo4_6_2 == 'N'">
                    <div *ngIf="selectAnexo4_6_2 == 'S'">
                      <app-anexo-upload-file
                        [fileInfGenreal]="fileAnexo4_6_2" 
                        [label]="'Adjuntar Evidencia:'" 
                        [idPlanManejo]="idPGMF"
                        [idTipoDocumento]="this.codigosFile.PGMF_TAB3_6_2"
                        [codigoProceso]="this.codigosFile.PGMF_TAB3_6_2"
                        (registrarArchivoId)="cargarIdArchivo($event, this.codigosFile.PGMF_TAB3_6_2)"
                        [isDisbledObjFormu]="isDisbledObjFormu"
                        >
                      </app-anexo-upload-file>
                    </div>
                  </div>
                </div>
                <br><br>
                <div class="col-12 mt.3">
                  <button class="btn-primary2" [disabled]="isDisbledObjFormu" (click)="guardarConflicto()">
                    Guardar
                  </button>
                </div>
              </mat-tab>
            </mat-tab-group>

            <div class="
                row
                m-0
                mt-4
                h-100
                justify-content-center
                align-items-center
              ">
              <div class="col-12 col-sm-12">
                <lineamiento-inner [base]="lineamiento5"
                  [titulo]="'Evaluación Lineamiento 5.5 Aspectos socioeconómicos y antecedentes'"
                  [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval">
                  <ng-template #descripcion>
                    <div class="row m-0">
                      <div class="col-12">
                        <p class="fz-11 m-0 mb-3">
                          Verificar que se haya incluido la información
                          siguiente:
                        </p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          1. Descripción de comunidades, caseríos, colonos y
                          parceleros ubicados en el entorno de la concesión.
                        </p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          2. Información de la infraestructura de servicios como
                          salud, educación, centros de producción y su ubicación
                          (punto de referencia).
                        </p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          3. Antecedentes de uso del bosque y en caso de haber
                          existido extracción forestal maderable, indicar las
                          especies aprovechadas.
                        </p>
                        <p class="fz-11 m-0 mb-1 ml-4">
                          4. Identificación de posibles conflictos, las
                          propuestas de solución y los actores que pueden
                          participar.
                        </p>
                      </div>
                    </div>
                  </ng-template>
                </lineamiento-inner>
              </div>
            </div>
          </div>
        </p-accordionTab>

        <div class="step__btn mt-4">
          <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
          <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
        </div>
        <br />
      </p-accordion>
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-toast position="bottom-center" key="tl"></p-toast>

<p-confirmPopup></p-confirmPopup>
<p-confirmDialog key="deleteUnidadFisiografica"></p-confirmDialog>
<p-confirmDialog [style]="{ width: '300px' }" key="deleteAccesibilidad"></p-confirmDialog>