<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 form-group">
      <label class="label">Tipo Modalidad: *</label>
      <div class="form-control-selectk">
        <p-dropdown appendTo="body" [options]="comboTipoMod" optionLabel="valorPrimario" optionValue="codigo"
          placeholder="Seleccione" [(ngModel)]="modalidad">
        </p-dropdown>
      </div>
    </div>
  </div>

  <div *ngIf="modalidad === TIPOMOD.th" class="row m-0">
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label class="label">Título Habilitante</label>
        <div class="form-control-selectk">
          <input type="text" class="form-control" placeholder="Ingresa Título Habilitante"
            [(ngModel)]="queryHabilitante" />
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3">
      <div class="form-group">
        <label class="label">&nbsp;&nbsp;</label>
        <div class="text-center">
          <button type="button" class="btn-primary2" (click)="filtrarContratoHabilitante()">
            Buscar
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3">
      <div class="form-group">
        <label class="label">&nbsp;&nbsp;</label>
        <div class="text-center">
          <button class="btn btn-sm btn-secondary mr-2" (click)="limpiar()">Limpiar</button>
        </div>
      </div>

    </div>

    <div class="col-12">
      <p-table [value]="listaContratos">
        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th>Título Habilitante</th>
            <!-- <th>Ubigeo</th> -->
            <!-- <th>Descripción</th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>
              <p-radioButton name="valorModal" [(ngModel)]="selectRadio" [value]="item">
              </p-radioButton>
            </td>
            <td>{{ item?.codigoContrato }}</td>
            <!-- <td>{{item?.ubigeo}}</td> -->
            <!-- <td>{{item?.tipoPlanManejo}}</td> -->
          </tr>
        </ng-template>
      </p-table>
      <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)"
        [showCurrentPageReport]="true" currentPageReportTemplate="Total : {totalRecords} registros"
        [rowsPerPageOptions]="[10,25,50]"></p-paginator>
    </div>
  </div>

  <div class="row m-0 mt-3">
    <div class="col-12 form-group text-right">
      <button icon="pi pi-save" (click)="guardar()" pButton pRipple type="button" label="Guardar"
        class="p-button-success p-button-outlined mr-2"></button>
      <button icon="pi pi-times" (click)="cancelar()" pButton pRipple type="button" label="Cancelar"
        class="p-button-danger p-button-outlined"></button>
    </div>
  </div>
</div>