<div class="row m-0">
    <div class="col-12 text-right mb-2">                        
        <button *ngIf="data.readonly == false" (click)="openModal(null,'C')" class="btn btn-sm btn-default mb-2" type="button" title="Agregar">
            <i class="pi pi-plus"></i>
        </button>                       
    </div>
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th rowspan="2">Acciones</th>
                    <th colspan="5">coordenadas UTM de los vértices de los bloques (solo si la plantación se encuentra dispersa)</th>
                    <th rowspan="2">Área Bloque (ha)</th>
                </tr>
                <tr>
                    <th>Bloque/Sector</th>
                    <th>Vértice</th>
                    <th>Este</th>
                    <th>Norte</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let d of data.lstDetalle">
                    <tr>                                   
                        <td rowspan="4" [attr.rowspan]="d.detalle.length+1">
                            <span *ngIf="data.readonly == false" class="pointer mr-1" title="Editar" (click)="openModal(d,'E')">
                                <i class="pi pi-pencil"></i>
                            </span>                                        
                            <span *ngIf="data.readonly == false" class="pointer" title="Eliminar" (click)="eliminar(d)">
                                <i class="pi pi-trash"></i>
                            </span> 
                        </td>
                        <td rowspan="4" [attr.rowspan]="d.detalle.length+1">{{d.bloquesector}}</td>     
                        <td colspan="4" style="padding: 0;"></td>       
                        <td rowspan="4" [attr.rowspan]="d.detalle.length+1">{{d.areabloque}}</td>
                    </tr>
                    <tr *ngFor="let item of d.detalle">
                        <td>{{item.vertice}}</td>
                        <td>{{item.zonaeste}}</td>
                        <td>{{item.zonanorte}}</td>
                        <td>{{item.observaciones}}</td>
                    </tr>
                </ng-container>               
            </tbody>
            <tbody>
                <tr>
                    <td class="text-right" colspan="6"><b>Total</b></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="button-container">
            <div class="form-group ">
                <label class="label">&nbsp;&nbsp;</label>
                <div class="text-center">
                    <button type="button" id="btnCargaShapeFile" (click)="fileInput.click()"
                        class="btn btn-sm btn-secondary">
                        Cargar shape file
                        <input #fileInput type="file" (change)="onFileShapeChange($event)" style="display: none;" />
                    </button>
                </div>
            </div>
        </div>
        <table class="table" #tblVertices>
            <thead>
              <tr class="text-center">
                <th>Bloque/Sector</th>
                <th>Vertice</th>
                <th>Este (E) </th>
                <th>Norte (N) </th>
                <th>Observaciones</th>
                <th>Área Bloque (ha)</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-right" ><b>Total</b></td>
                    <td></td>
                </tr>
            </tfoot>
          </table>
    </div>
    <br/>
    <div class="col-12 fz-10">
        1. Declaro bajo juramento que toda la información antes consignada en la presente solicitud ,es veraz y ha sido debidamente verificada. En caso que
        se compruebe fraude o falsedad enla declaración, información o documentación presentada, me someto a las consecuencias y responsabilidades
        administrativas y penales que correspondan, conforme a lo previsto en el artículo 32* de la Ley N* 27444, Ley del Procedimiento Administrativo
        General, y el Código Penal respecto a los delitos contra la fe pública. Asimismo, declaro que no existe otro derecho de propiedad, registrado o no,
        sobre el área objeto de registro.
        <br/><br/>
        2. Me comprometo a permitir a la autoridad encargada del registro o quien esta designe, a que en el ejercicio de sus facultades de seguimiento y
        control, pueda realizar visitas inspectivas con el objeto de verificar la información señalada en la presente solicitud.
        <br/><br/>
        3. Me comprometo a actualizar la información contenida en el presente formato, previo a los trabajos de aprovechamiento forestal y brindar las
        facilidades del caso a la Autoridad Forestal competente para que verifique los volumenes existentes en campo, salvo la excepciones establecidas en
        la legislación.

    </div>
</div>

<p-dialog header="{{tituloModalMantenimiento}}" [(visible)]="verModalMantenimiento" [modal]="true" [style]="{width: '75vw'}" [maximizable]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="true">
    <ng-template pTemplate="content">
        <div>
            <div class="row m-0">
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label class="label">Bloque/Sector</label>
                        <input type="text" [(ngModel)]="detalleAreaPlanteada2Context.bloquesector" class="form-control"  placeholder="" >
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label class="label">Área/Bloque (ha)</label>
                        <input  type="text" [(ngModel)]="detalleAreaPlanteada2Context.areabloque" class="form-control"  placeholder="###" >
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <div class="text-right mb-2">
                    <button (click)="nuevoDetalle()" class="btn btn-sm btn-default mb-2" type="button" title="Agregar">
                        <i class="pi pi-plus"></i>
                    </button>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Acciones</th>
                            <th>Vértice</th>
                            <th>Este</th>
                            <th>Norte</th>
                            <th>Observacioens</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of detalleAreaPlanteada2Context.detalle">
                            <td>                                                                      
                                <span class="pointer" title="Eliminar" (click)="eliminarDetalle(d)">
                                    <i class="pi pi-trash"></i>
                                </span>
                            </td>
                            <td>
                                <input [(ngModel)]="d.vertice" type="text" class="form-control" />
                            </td>
                            <td>
                                <input [(ngModel)]="d.zonaeste" type="number" class="form-control" />
                            </td>
                            <td>
                                <input [(ngModel)]="d.zonanorte" type="number" class="form-control" />
                            </td>
                            <td>
                                <input [(ngModel)]="d.observaciones" type="text" class="form-control" />
                            </td>
                        </tr>                        
                    </tbody>
                </table>
            </div>
                       
        </div>
    </ng-template>
    <ng-template pTemplate="footer" >            
        <button icon="pi pi-save"  (click)="guardar(detalleAreaPlanteada2Context)"  pButton pRipple type="button" label="Guardar" class="p-button-success p-button-outlined"></button>
        <button icon="pi pi-times" (click)="verModalMantenimiento=false" pButton pRipple type="button" label="Cancelar" class="p-button-danger p-button-outlined"></button>
    </ng-template>
</p-dialog>
