<div class="row">
  <div class="form-group col-12">
    <label class="label">Fase</label>
    <div class="form-control-selectk">
      <p-dropdown
      [options]="listaFase"
      optionLabel="label"
      placeholder="Selecciona"
      optionValue="value"
      [(ngModel)]="context.codigoActividad"
      [disabled]="!isDisabled"
    >
    </p-dropdown>
    </div>

  </div>
  <div class="form-group col-12 ">
    <label class="label">Actividad</label>
    <input
      type="text"
      [(ngModel)]="context.actividad"
      class="form-control"
      placeholder=""
      maxlength="100"
      [disabled]="!isDisabled"
    />
  </div>
  <div class="form-group col-12" *ngIf="!isDisabled">
    <label class="label">Años y Meses</label>
    <div class="form-control-selectk">
      <p-multiSelect
        appendTo="body"
        [style]="{width: '100%'}"
        [options]="cmbAnios"
        [group]="true"
        optionLabel="label"
        optionValue="value"
        [(ngModel)]="fecha"
        defaultLabel="Seleccionar"
        scrollHeight="250px"
        display="chip"
        (onChange)="onChange($event)"
      >
        <ng-template let-group pTemplate="group">
          <div class="p-d-flex p-ai-center">
            <span>{{group.label}}</span>
          </div>
        </ng-template>
      </p-multiSelect>
    </div>
  </div>
</div>

<div class="d-flex justify-content-end">
  <button
    icon="pi pi-save"
    (click)="agregar()"
    pButton
    pRipple
    type="button"
    label="Guardar"
    class="p-button-success p-button-outlined"
    style="width: 106px;"
  ></button>
  &nbsp;&nbsp;
  <button
    icon="pi pi-times"
    (click)="cerrarModal()"
    pButton
    pRipple
    type="button"
    label="Cancelar"
    class="p-button-danger p-button-outlined"
    style="width: 106px;"
  ></button>
</div>
<p-toast></p-toast>
<p-toast position="top-right" key="tml"></p-toast>
