<div class="container-fluid pt-3">
  <p-accordion>
    <p-accordionTab header="Formulario" [selected]="true">
      <div class="col-12 p-0">
        <div class="row m-0">
          <div class="col-12">
            <p-table [value]="listProcesos">
              <ng-template pTemplate="header">
                <tr>
                  <th>Item</th>
                  <th>Estado</th>
                  <th class="text-center">Conformidad</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr>
                  <td class="text-left">{{ data.label }}</td>
                  <td
                    [ngClass]="{
                      class1: data.estado == 'Pendiente',
                      class2: data.estado == 'Terminado'
                    }"
                  >
                    {{ data.estado }}
                  </td>
                  <td class="text-center">
                    <p-checkbox
                      [(ngModel)]="data.marcar"
                      [binary]="true"
                      (onChange)="seleccionarFirma($event,data)"
                    ></p-checkbox>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
        <div class="step__btn mt-4">
          <button class="btn-primary2" (click)="guardarEstadosEnvio()" [disabled]="isDisbledObjFormu">
            Guardar
          </button>
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab header="Generar" [selected]="true">
      <div class="col-12 p-0">
        <div class="row m-0">
          <div class="col-12 col-sm-10">
            <div>
              <label class="label fz-11 m-0">Generar Versión Imprimible</label>
            </div>
          </div>
          <div class="col-12 col-sm-2">
            <button
              class="btn btn-sm btn-secondary f-w"
              type="button" (click)="generarPDF()" [disabled]="!isOkFormulario">
              {{nombreBtnGenerar}}
            </button>
          </div>
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab header="Descargar" [selected]="true">
      <div class="col-12 p-0 mb-2">
        <div class="row m-0">
          <div class="col-12 col-sm-10">
            <div>
              <label class="label fz-11 m-0">Descargar
                <span  *ngIf="codigoProceso=='DEMAP'">{{leyendaCargaDescargaArchivos.DEMA3_1_4}}</span>
                <span  *ngIf="codigoProceso=='PMFIP'">{{leyendaCargaDescargaArchivos.PMFI3_1_4}}</span>
                <span  *ngIf="codigoProceso=='POPMIFP'">{{leyendaCargaDescargaArchivos.PO_PMFI3_1_4}}</span>
                <span  *ngIf="codigoProceso=='DEMAC'">{{leyendaCargaDescargaArchivos.DEMA3_1_4}}</span>
                </label>
            </div>
          </div>

          <div class="col-12 col-sm-2">
            <button
              class="btn btn-sm btn-secondary f-w  "
              type="button" (click)="descargarPDF()" [disabled]="false">
              Descargar
            </button>
          </div>

        </div>
      </div>

    </p-accordionTab>

    <p-accordionTab header="Adjuntar" [selected]="true">
      <div class="col-12 p-0 mb-2">
        <div class="row m-0">
          <div class="col-12 col-sm-10">
            <div>
              <label class="label fz-11 m-0">Adjuntar
                <span  *ngIf="codigoProceso=='DEMAP'">{{leyendaCargaDescargaArchivos.DEMA3_1_4}}</span>
                <span  *ngIf="codigoProceso=='PMFIP'">{{leyendaCargaDescargaArchivos.PMFI3_1_4}}</span>
                <span  *ngIf="codigoProceso=='POPMIFP'">{{leyendaCargaDescargaArchivos.PO_PMFI3_1_4}}</span>
                <span  *ngIf="codigoProceso=='DEMAC'">{{leyendaCargaDescargaArchivos.DEMA3_1_4}}</span>
               firmado</label>


            </div>
          </div>
          <!-- <div class="row m-0 mt-4">
            <div class="col-12 col-sm-6 form-group"> -->
          <div class="col-10 col-sm-4">
            <input-buttons-codigo
            [label]="''"
            [idPlanManejo]="idPGMF"
            [idTipoDocumento]="documentoFirmado"
            [codigoProceso]="tipoProceso.CODIGO_PROCESO"
            [disabled]="!isOkGenerar"
            (registrarArchivoId)="registrarArchivoId($event)"
            (eliminarArchivoId)="eliminarArchivoId()">
            </input-buttons-codigo>
          </div>
        </div>
      </div>

    </p-accordionTab>

    <!-- <div class="row m-0 pt-2 pb-4">
      <div class="col-12">
        <button  class="btn-primary2"  (click)="remitirInformacion($event)">Remitir Informacion</button>
      </div>
    </div> -->

     <!-- <p-accordionTab header="Adjuntar" [selected]="true">
    <div class="col-12 p-0">
        <div class="row m-0">
          <div class="col-12 col-sm-8">
            <div>
              <label class="label fz-11 m-0"
                >Adjuntar Plan de Contingencia (opcional)</label
              >
            </div>
          </div>
          <div class="col-12 col-sm-4">
            <input-buttons-codigo
              [label]="''"
              [idPlanManejo]="0"
              [idTipoDocumento]="'POPACDOCCONTIN'"
              [codigoProceso]="''"
              (registrarArchivoId)="registrarArchivoId($event)"
            >
            </input-buttons-codigo>
          </div>
        </div>
      </div>
    </p-accordionTab>-->
  </p-accordion>




  <p-toast></p-toast>
</div>
