.button-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.m-left{
  margin-left: 10px;
}

.container-check{
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon{
  border: #4A962C solid 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 20px;
  height: 30px;
  width: 30px;
  color: green;
}

.modal-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.text-modal{
  margin-left: 20px;
  color:  #4A962C;
}