<div class="container-fluid pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="16.1. Generar PDF del Plan PO" [selected]="true">
          <div class="button-container">
            <div class="form-group">
              <div class="text-center">
                <button
                  type="button"
                  class="btn btn-sm btn-secondary"
                  (click)="descargarPDF()"
                >
                  Descargar Plan Operativo
                </button>
              </div>
            </div>

            <div class="form-group">
              <div class="text-center m-left">
                <button
                  type="button"
                  class="btn btn-sm btn-secondary"
                  (click)="descargarWord()"
                >
                  Descargar formato de Solicitud de aprobación de PO
                </button>
              </div>
            </div>
          </div>

          <div style="margin-top: 30px">
            <div class="row" style="margin-top: 30px">
              <div class="col-12 col-sm-4">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder=""
                      [(ngModel)]="plan.suscrito.descripcion"
                      disabled="true"
                    />
                    <div class="input-group-append">
                      <button
                        type="button"
                        id="btnCargaShapeFile"
                        (click)="fileInput.click()"
                        class="btn btn-sm btn-secondary"
                      >
                        Adjuntar PO suscrito<input
                          #fileInput
                          type="file"
                          (change)="onFileSuscritoChange($event)"
                          style="display: none"
                        />
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-4 container-check">
                <div class="form-group">
                  <p-checkbox name="alerta" [binary]="true"></p-checkbox>
                  <label class="m-0 pl-1 pointer" for="alerta">Firma digital</label>
                </div>
              </div>

              <div class="col-12 col-sm-4">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder=""
                      [(ngModel)]="plan.contingencia.descripcion"
                      disabled="true"
                    />
                    <div class="input-group-append">
                      <button
                        type="button"
                        id="btnCargaShapeFile"
                        (click)="fileInput2.click()"
                        class="btn btn-sm btn-secondary"
                      >
                        Adjuntar Plan Contingencia<input
                          #fileInput2
                          type="file"
                          (change)="onFileContingenciaChange($event)"
                          style="display: none"
                        />
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 30px">
              <div class="col-12 col-sm-4">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder=""
                      [(ngModel)]="plan.track.descripcion"
                      disabled="true"
                    />
                    <div class="input-group-append">
                      <button
                        type="button"
                        id="btnCargaShapeFile"
                        (click)="fileInput3.click()"
                        class="btn btn-sm btn-secondary"
                      >
                        Adjuntar Track<input
                          #fileInput3
                          type="file"
                          (change)="onFileTrackChange($event)"
                          style="display: none"
                        />
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-4">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder=""
                      [(ngModel)]="plan.tramite.descripcion"
                      disabled="true"
                    />
                    <div class="input-group-append">
                      <button
                        type="button"
                        id="btnCargaShapeFile"
                        (click)="fileInput4.click()"
                        class="btn btn-sm btn-secondary"
                      >
                        Adjuntar Comprobante de Tramite
                        <input
                          #fileInput4
                          type="file"
                          (change)="onFileTramiteChange($event)"
                          style="display: none"
                        />
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-4">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder=""
                      [(ngModel)]="plan.comprobante.descripcion"
                      disabled="true"
                    />
                    <div class="input-group-append">
                      <button
                        type="button"
                        id="btnCargaShapeFile"
                        (click)="fileInput5.click()"
                        class="btn btn-sm btn-secondary"
                      >
                        Adjuntar Solicitud de aprobación<input
                          #fileInput5
                          type="file"
                          (change)="onFileSuscritoChange($event)"
                          style="display: none"
                        />
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>

      <div class="step__btn mt-4">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button
          type="submit"
          class="btn-primary2"
          (click)="showDialog()"
          [disabled]="disabled || isPerfilArffs"
        >
          Enviar a ARFFS
        </button>
      </div>
      <br />
    </div>
  </div>
</div>

<p-toast></p-toast>

<p-dialog header=" " [(visible)]="display">
  <div class="modal-container">
    <div class="row">
      <div class="check-icon">
        <i
          class="pi pi-check pointer"
          style="font-size: 1.5em; font-weight: bold"
        ></i>
      </div>
      <p class="text-modal">Se envió correctamente</p>
    </div>

    <button class="btn-primary2" style="margin: 20px 0" (click)="guardar()">
      Aceptar
    </button>
  </div>
</p-dialog>
