<div class="container-fluit">
  <div class="row m-0">
    <!-- Tabla Trozas Consumidas -->
    <div class="col-12 form-group">
      <label class="label">Lista de Trozas Consumidas</label>
      <p-table [value]="listaTrozaConsumida">
        <ng-template pTemplate="header">
          <tr>
            <th>N°</th>
            <th>Nombre Científico</th>
            <th>Nombre Común</th>
            <th>Código Árbol</th>
            <th>Dimensiones</th>
            <th>Volumen</th>
            <th>Fecha de Trozado</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fila>
          <tr>
            <td>{{fila.idTala}}</td>
            <td>{{fila.nombreComun}}</td>
            <td>{{fila.nombreCientifico}}</td>
            <td>{{fila.codigoArbol}}</td>
            <td>{{fila.dimensiones}}</td>
            <td>{{fila.volumen}}</td>
            <td>{{fila.fechaTrozado | date: "dd/MM/YYYY" : 'UTC'}}</td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator [rows]="10" [totalRecords]="totalRecordsTrozaConsumida" (onPageChange)="loadDataTrozaConsumida($event)"
        [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros">
      </p-paginator>
    </div>
    <!-- Tabla Productos Terminados -->
    <div class="col-12 form-group">
      <label class="label">Lista de Productos Terminados</label>
      <p-table [value]="listaProdTerm">
        <ng-template pTemplate="header">
          <tr>
            <th>N°</th>
            <th>N° de trozas</th>
            <!--<th>Tipo Producto</th>
            <th>Espesor</th>
            <th>Ancho</th>-->
            <th>Volumen Transformado</th>
            <th>Cantidad</th>
            <th>Longitud</th>
            <th>Fecha de Prod. Terminado</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fila  let-rowIndex="rowIndex+1">
          <tr>
            <td>{{rowIndex}}</td>
            <td>{{fila.trozas}}</td>
            <!--<td>{{fila.tipoProducto}}</td>
            <td>{{fila.espesor}}</td>
            <td>{{fila.ancho}}</td>-->
            <td>{{fila.volumen}}</td>
            <td>{{fila.cantidad}}</td>
            <td>{{fila.longitud}}</td>
            <td>{{fila.fechaProdTerminado | date: "dd/MM/YYYY" : 'UTC'}}</td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator [rows]="10" [totalRecords]="totalRecordsProdTerm" (onPageChange)="loadDataProdTerm($event)"
        [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros">
      </p-paginator>
    </div>

    <div class="col-12 mt-4 text-right">
      <button class="p-button-danger p-button-outlined" type="button" icon="pi pi-times" pButton pRipple
        label="Cancelar" (click)="btnCancelar()"></button>
    </div>
  </div>
</div>