<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="3.1. Duración del Plan" [selected]="true">
          <div class="row" *ngIf="!isDisabled">
            <div class="col-6 col-sm-3">
              <div class="form-group">
                <label class="label">Fecha de Inicio </label>
                <div class="content-date">
                  <input
                    autocomplete="off"
                    class="form-control" [disabled]="disabled"
                    matInput
                    [matDatepicker]="fi"
                    [(ngModel)]="fechaInicial"
                    [min]="minDate"
                    readonly="true"
                    (ngModelChange)="handleAdmDateChange()"
                  />
                  <i
                    class="pi pi-calendar pointer"
                    (click)="!disabled&&!isPerfilArffs && fi.open()"
                  ></i>
                  <mat-datepicker #fi></mat-datepicker>
                </div>
              </div>
            </div>

            <div class="col-6 col-sm-3">
              <div class="form-group">
                <label class="label">Fecha de Fin </label>
                <div class="content-date">
                  <input
                    autocomplete="off"
                    class="form-control"
                    matInput [disabled]="disabled"
                    [matDatepicker]="ff"
                    [(ngModel)]="fechaFinal"
                    [min]="minDateFinal"
                    readonly="true"
                    (ngModelChange)="handleAdmDateChange()"
                  />
                  <i
                    class="pi pi-calendar pointer"
                    (click)="!disabled&&!isPerfilArffs && ff.open()"
                  ></i>
                  <mat-datepicker #ff></mat-datepicker>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="isDisabled">
            <div class="col-6 col-sm-3">
              <div class="form-group">
                <label class="label">Fecha de Inicio </label>
                <div class="content-date">
                  <input
                    class="form-control"
                    matInput
                    [(ngModel)]="fechaInicial"
                    disabled
                  />
                </div>
              </div>
            </div>

            <div class="col-6 col-sm-3">
              <div class="form-group">
                <label class="label">Fecha de Fin </label>
                <div class="content-date">
                  <input
                    class="form-control"
                    matInput
                    [(ngModel)]="fechaFinal"
                    disabled
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <label
              *ngIf="isDisabled"
              class="lbl-info mt-3 mb-3"
              style="float: none !important"
            >
              (Para completar esta sección debe registra un Resumen Ejecutivo.)
            </label>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Evaluación" *ngIf="isPerfilArffs">
          <evaluacion-archivo-shared
            [idPlanManejo]="idPlanManejo"
            [cadigoTab]="codigoAcordeonDuraPlan"
            [base]="evaluacionDuracionPlan"
          >
            <ng-template #conatinertop> </ng-template>
            <ng-template #conatinerbottom> </ng-template>
          </evaluacion-archivo-shared>
        </p-accordionTab>
        <div class="step__btn mt-4" *ngIf="!isPerfilArffs">
          <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
          <button
            type="submit"
            class="btn-primary2"
            (click)="ActualizarDuracion()"
            [disabled]="disabled||isDisabledBtn"
          >
            Guardar
          </button>
          <button class="btn-primary2" (click)="siguienteTab()">
            Siguiente
          </button>
        </div>

        <div class="step__btn mt-4" *ngIf="isPerfilArffs">
          <message-evaluation></message-evaluation>
          <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
          <button class="btn-primary2" (click)="registrarEvaluacion()">
            Guardar Evaluación
          </button>
          <button class="btn-primary2" (click)="retornarFlujoEvaluacion()">
            Retornar Flujo Evaluacion
          </button>
          <button class="btn-primary2" (click)="siguienteTab()">
            Siguiente
          </button>
        </div>

        <br />
      </p-accordion>
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
