<div class="row">
    
    <ng-container>

        <div class="col-12 form-group">
            <label for="nombre">Infraestructura de servicios</label>
            <input type="text" id="nombre" autocomplete="off" class="form-control contents_form_input"
                 placeholder="">
        </div>
        
        <div class="col-12 form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" autocomplete="off" class="form-control contents_form_input"
                placeholder="">
        </div>

        <div class="col-12 form-group">
            <label for="ubicasion">Ubicación Este</label>
            <input type="text" id="ubicacion" autocomplete="off" class="form-control contents_form_input"
                placeholder="">
        </div>

        <div class="col-12 form-group">
            <label for="ubicasion">Ubicación Norte</label>
            <input type="text" id="ubicacion" autocomplete="off" class="form-control contents_form_input"
                placeholder="">
        </div>

        <div class="col-12 form-group">
            <label for="ubicasion">Zona UTM</label>
            <input type="text" id="ubicacion" autocomplete="off" class="form-control contents_form_input"
                placeholder="">
        </div>
    </ng-container>
    
</div>

<div class="d-flex justify-content-end">
    <button icon="pi pi-save" (click)="agregar()" pButton pRipple type="button" label="Agregar"
                class="p-button-success p-button-outlined"></button> &nbsp;&nbsp;
    <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
              class="p-button-danger p-button-outlined" ></button>
</div>