
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="title">Consultar con entidades</h3>
        </div>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div class="row" style="padding: 4px;">

        <div class="col-sm-12">
            <label class="label">Entidad consultar</label>
            <div class="form-control-selectk">
                <p-dropdown [(ngModel)]="entidadConsultaSelect" [options]="lstEntidadConsulta"  optionLabel="descripcion"></p-dropdown>
            </div>
            <label class="label">Asunto</label>
            <input type="text" autocomplete="off" class="form-control form-control-sm bg-gray" [(ngModel)]="consultaActual.asunto" >

            <label class="label">Descripción</label>
            <textarea autocomplete="off" class="form-control form-control-sm bg-gray"  rows="4" [(ngModel)]="consultaActual.descripcion" ></textarea>

        </div>
        <div class="col-sm-6">
            <label class="label">N° de documento</label>
            <input type="text" autocomplete="off" class="form-control form-control-sm bg-gray"  >
        </div>
        <div class="col-sm-6">
            <label class="label">Adjunto documento</label>
            <div class="input-group-k file">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="pi pi-upload"></i>
                    </span>
                  </div>
                  <input type="file" readonly="readonly" class="form-control form-control-sm bg-gray" >
                </div>
            </div>
        </div>

    </div>
    <br><br>
    <div style="text-align: right;">
        <button class="btn btn-sm btn-primary2" (click)="enviarConsulta()" >Enviar consulta</button> &nbsp;  &nbsp;
        <button class="btn btn-sm btn-secondary" mat-dialog-close>Cancelar</button>
    </div>
</div>

<p-toast position="top-right" key="toast"></p-toast>
