<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title">Nuevo Proceso en Oferta</h3>
    </div>
    <div class="col-sm-12">

      <div class="panelk br10 p-3">
        <!-- <h3 class="title2 m-0">Listado de Unidad de Aprovechamiento</h3>
        <hr> -->
        <h3 class="title2 m-0">Seleccione estado de UAs:</h3>
        <div class="row">
          <div class="col-8" #itemsEstadoUas>
            <div class="form-check">
              <input class="form-check-input" type="checkbox"  id="1">
              <label class="form-check-label" for="1">
                No Otorgada
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="4">
              <label class="form-check-label" for="4">
                Revertida
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="8">
              <label class="form-check-label" for="8">
                No Concesionada en Segundo Concurso Público
              </label>
            </div>
            <br>
            <button class="btn btn-sm btn-secondary" (click)="consultarCatastro()">Consultar a Catastro</button>
          </div>
          
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-6 col-md-6">
           <div class="row  mt-4 mr-3">
              <div class="col-12 col-sm-12">
                <h3 class="title2 m-0">Seleccionar UAs para ofertar</h3>
              </div>              
            </div>

            <div class="tablek">
              <table #tableUasElement>
                <thead>
                  <tr class="text-center">
                    <th>...</th>
                    <th *ngFor="let col of cols_uas">{{col.header}}</th>
                  </tr>
                </thead>
                <tbody >
                  <tr [id]="obj.id"  *ngFor="let obj of lista_uas">
                    <td> <div class="ui-chkbox ui-widget"><div class="ui-helper-hidden-accessible"><input [id]="obj.id" name="obj.id" type="checkbox" (change)="verLayerUA($event)" data-p-hl="manychkbox" data-p-grouped="true"></div><div class="ui-chkbox-box ui-widget ui-corner-all ui-state-default"><span class="ui-chkbox-icon ui-icon ui-c ui-icon-blank"></span></div></div></td>
                    <td> {{obj.id}}</td>
                    <td> {{obj.lote}}</td>
                    <td> {{obj.estado}}</td>
                    <td> {{obj.zona}}</td>
                    <td> {{obj.superficie}}</td>
                  </tr>
                </tbody>
              </table>
              <hr>
              <div>
                <button class="btn btn-sm btn-primary2 mb-2 mr-4" (click)="guardar()">Crear Proceso en Oferta</button>
                <button class="btn btn-sm btn-primary2 mb-2 mr-4" (click)="cancelar()">Cancelar</button>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="f-w mb-2 mapa-content">
              <div class="mapa" #mapNuevoOtorgamiento>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>

<!--position="top-left"  right-->
<p-toast position="top-right" key="toast"></p-toast>
<p-confirmDialog
[style]="{ width: '300px' }"
key="confirmColindancia"
></p-confirmDialog>


