<div class="container-fluid">

    <div class="loading container-button" *ngIf="loading">
        <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
    </div>


    <div class="row" *ngIf="!loading">

        <p-confirmPopup></p-confirmPopup>

        <div class="col-12">
            <span> Documento: {{opinion.tipoDocGestionTexto}} N° {{opinion.nroDocGestion}} Fecha:
                {{opinion.fechaDocGestion | date: 'dd/MM/yyyy' }} <strong class="pointer" style="color: blue;"
                    (click)="obtenerArchivoGestion()">Descargar</strong> </span>

            <div class="row" style="margin-top: 20px;">
                <div class="col-12 col-md-12">
                    <div class="p-field-radiobutton">
                        <p-radioButton name="informacionAnexo3" [value]="true" inputId="favo"
                            [(ngModel)]="opinion.esFavorable" [disabled]="disabled">
                        </p-radioButton>
                        <strong for="favo" style="margin-left: 5px;">Favorable</strong>

                    </div>
                    <div class="p-field-radiobutton">
                        <p-radioButton name="informacionAnexo3" [value]="false" inputId="noFavo"
                            [(ngModel)]="opinion.esFavorable" [disabled]="disabled">
                        </p-radioButton>
                        <strong for="noFavo" style="margin-left: 5px;">Desfavorable</strong>

                    </div>
                </div>
            </div>

            <br>


            <div class="row">

                <div class="col-12 form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea [(ngModel)]="opinion.descripcion" name="descripcion" autocomplete="off" id="descrip"
                        class="form-control form-control-sm" rows="4" [autoResize]="false" [disabled]="disabled"
                        pInputTextarea></textarea>
                </div>

                <div class="col-12">
                    <label class="label">Tipo Documento</label>
                    <div class="form-control-selectk">
                        <p-dropdown class="fomr-control" placeholder="-- Seleccione --" [options]="comboTipoDocumento"
                            optionValue="valorSecundario" optionLabel="valorPrimario" [(ngModel)]="opinion.tipoDoc"
                            [disabled]="disabled">
                        </p-dropdown>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label class="label">Fecha de Emisión </label>
                        <div class="content-date">
                            <input autocomplete="off" type="text" class="form-control" matInput [matDatepicker]="fi"
                            [min]="minDate"   readonly="true" [(ngModel)]="opinion.fechaEmision">
                            <i class="pi pi-calendar pointer" (click)="fi.open()"></i>
                            <mat-datepicker #fi [disabled]="disabled"></mat-datepicker>         </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label class="label">Documento de Oficio</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="" [(ngModel)]="archivoOficio.nombre"
                                readonly="true">
                            <div class="input-group-append">
                                <button [class.btn-secondary]="!archivoOficio.nombre" type="button" id="btnCargarFile"
                                    (click)="fileInput.click()" class="btn btn-sm btn-file" icon="pi pi-upload" pButton
                                    title="Cargar Archivo" [disabled]="disabled">
                                    <input #fileInput type="file" (change)="onFileChangeOficio($event)"
                                        style="display:none;" accept=".pdf" />
                                </button>

                                <button *ngIf="archivoOficio.nombre" type="button" id="btnCargarFile2"
                                    class="btn btn-sm btn-file" (click)="obtenerArchivoOficio()" pButton
                                    title="Descargar Archivo" icon="pi pi-download">
                                </button>

                                <button *ngIf="archivoOficio.nombre" type="button" class="btn btn-sm btn-file"
                                    (click)="eliminarArchivoOficio($event)" title="Eliminar" icon="pi pi-trash" pButton
                                    [disabled]="disabled">
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label class="label">Respuesta</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="" [(ngModel)]="archivoRespuesta.nombre"
                                readonly="true">
                            <div class="input-group-append">
                                <button [class.btn-secondary]="!archivoRespuesta.nombre" type="button"
                                    id="btnCargarFile" (click)="fileInput2.click()" class="btn btn-sm btn-file"
                                    icon="pi pi-upload" pButton title="Cargar Archivo" [disabled]="disabled">
                                    <input #fileInput2 type="file" (change)="onFileChangeOResp($event)"
                                        style="display:none;" accept=".pdf" />
                                </button>

                                <button *ngIf="archivoRespuesta.nombre" type="button" id="btnCargarFile2"
                                    class="btn btn-sm btn-file" (click)="obtenerArchivoRespuesta()" pButton
                                    title="Descargar Archivo" icon="pi pi-download">
                                </button>

                                <button *ngIf="archivoRespuesta.nombre" type="button" class="btn btn-sm btn-file"
                                    (click)="eliminarArchivoRespuesta($event)" title="Eliminar" icon="pi pi-trash"
                                    pButton [disabled]="disabled">
                                </button>


                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-12 mt-4 container-button">
                <button [disabled]="disabled" icon="pi pi-save" pButton pRipple type="button" label="Enviar Respuesta"
                    class="p-button-success p-button-outlined" (click)="abrirModalConfirmacion()"></button> &nbsp;&nbsp;

                <button icon="pi pi-times" (click)="cancelar()" pButton pRipple type="button" label="Cancelar"
                    class="p-button-danger p-button-outlined"></button>
            </div>

        </div>
    </div>
</div>


<p-dialog header="Confirmación" [(visible)]="displayConfirm" [draggable]="false" [baseZIndex]="10000">

    <ng-template pTemplate="content">
        <i class="pi pi-question-circle" style="font-size: 2rem;"></i>¿Desea enviar respuesta de opinión?

    </ng-template>

    <ng-template pTemplate="footer">
        <button type="button" pButton label="No" (click)="displayConfirm = false"></button>

        <button type="button" pButton label="Sí" (click)="enviar()"></button>
    </ng-template>
</p-dialog>



<p-dialog header="Aviso" [(visible)]="displayOk" [draggable]="false" [baseZIndex]="10000">

    <ng-template pTemplate="content">
        <i class="pi pi-info-circle" style="font-size: 2rem;"></i> Respuesta enviada
    </ng-template>

    <ng-template pTemplate="footer">
        <button type="button" pButton label="Ok" (click)="finalizar()"></button>
    </ng-template>
</p-dialog>
