<a type="button"  class="pointer" title="Resolver" (click)="btnModal1()" >
  <i class="pi pi-book"></i>
</a>

<p-dialog
  header="Resultado de la evaluación de la solicitud de otorgamiento del permiso"
  appendTo="body"
  [(visible)]="isShowModal2_2"
  [modal]="true"
  [style]="{ width: '60vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>

  <ng-template pTemplate="content">
    <div class="mb-3">
      <h4 class="font-weight-bold">
        <span class="title"> Permiso Forestal </span>
        <span class="title nro-dema">N° {{ idPermisoForestal }}</span>
        <span class="title"> - Caso {{ estado==CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE? 'Favorable':'Desfavorable' }} </span>
      </h4>
    </div>
    <div
      class="row"
      *ngIf="false"
    >
      <div class="col-12 col-md-6 form-group">
        <label>Remitir al usuario</label>
        <input
          class="form-control form-control-sm"
          type="text"
          autocomplete="off"
          disabled
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 form-group">
        <label class="label">Código Único de Solicitud</label>
        <input
          class="form-control form-control-sm"
          type="text"
          autocomplete="off"
          placeholder="Ingrese código"
          [value]="idPermisoForestal"
          disabled
        />
      </div>
      <div class="col-12 col-md-6 form-group">
        <label class="label">Código Único de Permiso</label>
        <div class="input-group">
          <input
            type="text"
            maxlength="100"
            class="form-control"
            placeholder="Ingrese codigo"
            [value]="codigoUnico"
            disabled
          />
          <!-- <div class="input-group-append">
            <button
              type="button"
              (click)="generarCodigo()"
              class="btn btn-sm btn-secondary"
              disabled
            >
              Generar Código<input type="button" style="display: none" />
            </button>
          </div> -->
        </div>
      </div>
    </div>

    <div
      class="row"
      *ngIf="estado == CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE"
    >
      <div class="col-6 form-group justify-content-center">
        <div>
          <label class="label">Generar Resolución de Aprobación</label>
        </div>
        <div class="input-group-append">
          <button
            type="button"
            (click)="descargarPlantResolAproba()"
            class="btn btn-sm btn-secondary"
            [disabled]="isDisabledGuardar"
          >
            Descargar plantilla
          </button>
        </div>
      </div>
      <div class="col-6 form-group justify-content-center">
        <div>
          <label class="label">Generar Formato de permiso</label>
        </div>
        <div class="input-group-append">
          <button
            type="button"
            (click)="descargarPlantResolPermiso()"
            class="btn btn-sm btn-secondary"
            [disabled]="isDisabledGuardar"
          >
            Descargar plantilla
          </button>
        </div>
      </div>
    </div>

    <div
      class="row"
      *ngIf="estado == CodigoPermisoForestal.ESTADO_EVAL_FAVORABLE"
    >
      <div class="col-6 form-group justify-content-center">
        <upload-input-buttons 
          (registrarArchivo)="registrarArchivoAdjunto($event, tiposArchivos.EOP_APROBADO)" 
          (eliminarArchivo)="eliminarArchivoAdjunto(fileResolAprobado.idArchivo, tiposArchivos.EOP_APROBADO)"
          [file]="fileResolAprobado" [label]="'Adjuntar Resolución de Aprobación'" [disabled]="isDisabledGuardar">
        </upload-input-buttons>
      </div>
      <div class="col-6 form-group justify-content-center">
        <upload-input-buttons 
          (registrarArchivo)="registrarArchivoAdjunto($event, tiposArchivos.EOP_PERMISO)" 
          (eliminarArchivo)="eliminarArchivoAdjunto(fileResolPermiso.idArchivo, tiposArchivos.EOP_PERMISO)"
          [file]="fileResolPermiso" [label]="'Adjuntar Formato de Permiso'" [disabled]="isDisabledGuardar">
        </upload-input-buttons>
      </div>
    </div>

    <div
      class="row"
      *ngIf="estado == CodigoPermisoForestal.ESTADO_EVAL_DESFAVORABLE || estado == CodigoPermisoForestal.ESTADO_EVAL_EMITIDO"
    >
      <div class="col-12 form-group justify-content-center">
        <div>
          <label class="label">Generar Resolución de Desaprobación o en Abandono</label>
        </div>
        <div class="input-group-append">
          <button
            type="button"
            (click)="descargarPlantResolDesAproba()"
            class="btn btn-sm btn-secondary"
            [disabled]="isDisabledGuardar"
          >
            Descargar plantilla
          </button>
        </div>
      </div>
      <div class="col-6 form-group justify-content-center">
        <upload-input-buttons 
          (registrarArchivo)="registrarArchivoAdjunto($event, tiposArchivos.EOP_DESAPROBADO)" 
          (eliminarArchivo)="eliminarArchivoAdjunto(fileResolDesAprobado.idArchivo, tiposArchivos.EOP_DESAPROBADO)"
          [file]="fileResolDesAprobado" [label]="'Adjuntar Resolución de Desaprobación o en Abandono'" [disabled]="isDisabledGuardar">
        </upload-input-buttons>
      </div>
    </div>

    <div
      class="row"
      *ngIf="estado == CodigoPermisoForestal.ESTADO_EVAL_EMITIDO"
    >
      <div class="col-12 form-group justify-content-center">
        <div>
          <label>Formato para descargar</label>
        </div>
        <div class="input-group-append">
          <button
            type="button"
            (click)="showFirmeza()"
            class="btn btn-sm btn-secondary"
          >
            <span class="pointer mr-3" title="Descargar">
              <i class="pi pi-download"></i>
            </span>
            Plantilla Firmeza &nbsp;&nbsp;
          </button>
        </div>
      </div>
      <div class="col-6 form-group justify-content-center">
        <buttons-file-permiso-forestal-shared
          [label]="'Sin impugnación firmeza de resolución'"
          [idPermisoForestal]="idPermisoForestal"
          [codigoTipoDocumento]="'FIRMEZ'"
          [codigoProceso]="CodigoProceso.SOLICITUD_PERMISOS_FORESTALES"
          [subCodigoArchivo]="codigoArchivoFirmezaResolucion"
          (registrarArchivoId)="registrarArchivoFirmezaResolucion($event)"
        >
        </buttons-file-permiso-forestal-shared>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-right">
        <button *ngIf="estado!=CodigoPermisoForestal.ESTADO_EVAL_EMITIDO && !isDisabledGuardar" class="p-button-success p-button-outlined mr-2" 
          type="button" icon="pi pi-save" pButton pRipple label="Remitir Resolución" (click)="btnGuardar(estado)"></button>
    
        <button *ngIf="estado==CodigoPermisoForestal.ESTADO_EVAL_EMITIDO" class="p-button-success p-button-outlined mr-2" 
          type="button" icon="pi pi-save" pButton pRipple label="Rermitir Firmeza" (click)="openFirmeza()"></button>
    
        <button class="p-button-danger p-button-outlined" type="button" icon="pi pi-times" pButton pRipple label="Cancelar"
          (click)="isShowModal2_2 = false"></button>
      </div>
    </div>
    
  </ng-template>
  <ng-template pTemplate="footer"> </ng-template>
</p-dialog>
<!--<p-toast></p-toast>-->

<p-dialog
  header="Plantilla 'Firmeza de la resolución'"
  appendTo="body"
  [(visible)]="isShowModalFirmeza"
  [modal]="true"
  [style]="{ width: '60vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <div class="row mb-4">
    <div class="col-12 col-md-6 form-group">
      <label>N° de resolución</label>
      <input
        class="form-control form-control-sm"
        type="text"
        autocomplete="off"
        placeholder="Ingrese resolución"
      />
    </div>
    <div class="col-12 col-md-6 form-group">
      <label>Estado</label>
      <input
        class="form-control form-control-sm"
        type="text" [value]="'FIRME'"
        autocomplete="off"
        placeholder="Ingrese estado"
      />
    </div>

    <div class="col-12 col-md-6">
      <div class="fecha">Fecha</div>
      <div class="content-date">
        <input
          autocomplete="off"
          class="form-control"
          [matDatepicker]="fpPGMF"
        />
        <i class="pi pi-calendar pointer" (click)="fpPGMF.open()"></i>
        <mat-datepicker #fpPGMF></mat-datepicker>
      </div>
    </div>
  </div>

  <button
    icon="pi pi-save"
    (click)="guardarFirmeza(estado)"
    type="button"
    guardar
    class="btn btn-sm btn-primary2"
  >
    Guardar</button
  >&nbsp;
  <button
    icon="pi pi-times"
    (click)="isShowModalFirmeza = false"
    type="button"
    class="btn btn-sm btn-danger"
  >
    Cancelar
  </button>
</p-dialog>
