<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="title">Bandeja de Respuesta de Solicitudes de Opinión2</h3>
        </div>
        <div class="col-sm-12">

            <p-fieldset class="customFieldset" legend="Filtros">

                <div class="row m-0">

                    <div class="col-12 col-md-4">
                        <label class="label">Tipo Documento Gestión</label>
                        <div class="form-control-selectk">
                            <p-dropdown class="fomr-control" placeholder="Seleccione Tipo de Documento de Gestión"
                                optionValue="codigo" optionLabel="valorPrimario" [options]="comboDocumentos"
                                [(ngModel)]="listarSolicitudOpinionRequest.tipoDocGestion">
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label class="label">N° Documento Gestión</label>
                            <input autocomplete="off" class="form-control" type="number"
                                [(ngModel)]="listarSolicitudOpinionRequest.nroDocGestion"
                                placeholder="Ingrese N° de Documento de Gestión" />
                        </div>
                    </div>


                    <!-- <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label class="label">Fecha de Documento Gestión </label>
                            <div class="content-date">
                                <input autocomplete="off" type="text" class="form-control" matInput [matDatepicker]="fi"
                                    readonly="true" placeholder="Seleccione Fecha de Documento de Gestión"
                                    [(ngModel)]="listarSolicitudOpinionRequest.fechaDocGestion">
                                <i class="pi pi-calendar pointer" (click)="fi.open()"></i>
                                <mat-datepicker #fi></mat-datepicker>
                            </div>
                        </div>
                    </div> -->

                    <div class="col-12 col-md-4">
                        <label class="label">Estado de Solicitud</label>
                        <div class="form-control-selectk">
                            <p-dropdown class="fomr-control" placeholder="Seleccione Estado" optionValue="codigo"
                                optionLabel="valorPrimario" [options]="comboEstado"
                                [(ngModel)]="listarSolicitudOpinionRequest.estSolicitudOpinion">
                            </p-dropdown>
                        </div>
                    </div>

                </div>



                <div class="container-button">
                    <div class="col-sm-4 col-md-4 mt-3 mb-2 form-group"
                        style="display: flex; margin-top: 2rem!important;">
                        <button class="btn btn-sm btn-secondary mr-2" (click)="limpiar()">Limpiar</button>
                        <button class="btn btn-sm btn-secondary" (click)="listarsolicitudes()">Buscar</button>
                    </div>
                </div>


                <br>

            </p-fieldset>

            <br>

            <div class="tablek">

                <p-table [value]="solicitudes">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 80px;">Acciones</th>
                            <th>ID Sol. Opinión</th>
                            <th>Entidad</th>
                            <th>Tipo de Documento de Gestión</th>
                            <th>N° de Documento de Gestión</th>
                            <th>Fecha de Documento de Gestión</th>
                            <th>Asunto</th>
                            <th>Estado de Solicitud</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                        <tr>
                            <td>
                                <span *ngIf="data.estadoSolicitudOpinion == 'ESOPA' || usuario.sirperfil == 'ARFFS'"
                                    class="pointer mr-1" title="Ver" (click)="verDetalle(data)">
                                    <i class="pi pi-eye"></i>
                                </span>

                                <span *ngIf="data.estadoSolicitudOpinion != 'ESOPA' && usuario.sirperfil != 'ARFFS'"
                                    class="pointer mr-1" title="Editar" (click)="verDetalle(data)">
                                    <i class="pi pi-pencil"></i>
                                </span>

                            </td>
                            <td> {{data.idSolicitudOpinion}} </td>
                            <td> {{data.siglaEntidad}} </td>
                            <td> {{data.tipoDocGestionTexto}} </td>
                            <td> {{data.nroDocGestion ? data.nroDocGestion : '' }} </td>
                            <td> {{data.fechaDocGestion | date: 'dd/MM/yyyy'}} </td>
                            <td> {{data.asunto}} </td>
                            <td> {{data.estadoSolicitudOpinionTexto}} </td>


                        </tr>
                    </ng-template>
                </p-table>

                <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="loadData($event)"
                    [rowsPerPageOptions]="[5,10,25,50,100]"></p-paginator>
            </div>

        </div>

    </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
