<div class="col-2 col-sm-12 text-right">
  <button
    (click)="abrirModalInfraestructura()"
    class="btn btn-sm btn-default button-more mb-2"
    type="button"
    title="Agregar"
    [disabled]="disabled"
    style="margin-bottom: 5px;"
  >
    <i class="pi pi-plus"></i>
  </button>
</div>

<div class="col-12">
  <p-table
    [value]="manBosqueAproveCaminoList"
    *ngIf="!!manBosqueAproveCaminoList"
    class="table-justify" [scrollable]="true"
              [style]="{width:'100%'}"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="acciones">Acciones</th>
        <th class="table-body">Infraestructura Vial</th>
        <th class="table-body">Características Técnicas</th>
        <th class="table-body">Método de Construcción</th>
        <th class="table-body">Mano de Obra (tipo y número)</th>
        <th class="table-body">Maquinaria (tipo y número)</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
      <tr>
        <td class="text-center acciones">
          <span
            class="pointer mr-1"
            title="Editar"
            (click)="openEditarInfraestructura(data, rowIndex)"
          >
            <i class="pi pi-pencil"></i>
          </span>
          <span
            (click)="openEliminarInfraestructura($event, rowIndex, data)"
            class="pointer"
            title="Eliminar"
          >
            <i class="pi pi-trash"></i>
          </span>
        </td>
        <td class="table-body">{{ data.infraestructura }}</td>
        <td class="table-body">{{ data.caracteristicasTecnicas }}</td>
        <td class="table-body">{{ data.metodoConstruccion }}</td>
        <td class="table-body">{{ data.manoObra }}</td>
        <td class="table-body">{{ data.maquina }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<br />
<br />

<div class="step__btn mt-4" style="margin-bottom: 20px;">
  <button
    class="btn-primary2"
    (click)="registrarEspecificacionesCaminos()"
    [disabled]="disabled || !manBosqueAproveCaminoList"
  >
    Guardar
  </button>
</div>
<br />

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-dialog
  header="{{
    editInfraestructura
      ? 'Editar Infraestructura Vial'
      : 'Registrar Infraestructura Vial'
  }}"
  header="Header"
  [(visible)]="displayModalInfraestructura"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Infraestructura Vial</label>
            <div class="form-control-selectk">
              <p-dropdown
                [options]="comboInfraestructuraVial"
                optionLabel="valorPrimario"
                optionValue="valorSecundario"
                placeholder="Seleccione"
                [(ngModel)]="infraestructuraVial.infraestructura"
                (onChange)="onChange($event)"
              >
              </p-dropdown>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Características técnicas</label>
            <input
              [(ngModel)]="infraestructuraVial.caracteristicasTecnicas"
              type="text"
              class="form-control"
              placeholder="Ingrese caracteristicas"
              maxlength="100"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Método de construcción</label>
            <input
              [(ngModel)]="infraestructuraVial.metodoConstruccion"
              type="text"
              class="form-control"
              placeholder="Ingrese metodo de construcción"
              maxlength="100"
            />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Mano de obra</label>
            <input
              [(ngModel)]="infraestructuraVial.manoObra"
              type="text"
              class="form-control"
              placeholder="Ingrese mano de obra"
              maxlength="100"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Maquinaria</label>
            <input
              [(ngModel)]="infraestructuraVial.maquina"
              type="text"
              class="form-control"
              placeholder="Ingrese maquinaria"
              maxlength="100"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="registrarEspecificacionCaminos()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="cerrarModalInfraestructura()"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
