<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title">Bandeja de Respuesta de Solicitudes de Opinión</h3>
    </div>
    <div class="col-sm-12">
      <p-fieldset class="customFieldset" legend="Filtros">
        <div class="row m-0">
          <div class="col-12 col-md-4" *ngIf="usuario != 'ANA' && usuario != 'SERNANP' && usuario != 'MINCUL' ">
            <label class="label">Entidad</label>
            <div class="form-control-selectk">
              <p-dropdown
                class="fomr-control"
                placeholder="Seleccione Tipo de Documento de Gestión"
                optionValue="codigo"
                optionLabel="valor1"
                [options]="comboEntidad"
                [(ngModel)]="listarSolicitudOpinionRequest.siglaEntidad"
              >
              </p-dropdown>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <label class="label">Tipo Documento</label>
            <div class="form-control-selectk">
              <p-dropdown
                class="fomr-control"
                placeholder="Seleccione Tipo de Documento"
                optionValue="codigo"
                optionLabel="valor1"
                [options]="comboDocumentos"
                [(ngModel)]="listarSolicitudOpinionRequest.tipoDocumento"
              >
              </p-dropdown>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <label class="label">Documento de Gestión</label>
            <div class="form-control-selectk">
              <p-dropdown
                class="fomr-control"
                placeholder="Seleccione Documento de Gestión"
                optionValue="codigo"
                optionLabel="valorPrimario"
                [options]="comboTipoDocumento"
                [(ngModel)]="listarSolicitudOpinionRequest.tipoDocGestion"
              >
              </p-dropdown>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class="form-group">
              <label class="label">Nro. Documento de Gestión</label>
              <input
                autocomplete="off"
                class="form-control"
                numero [maxlength]="9"
                [(ngModel)]="listarSolicitudOpinionRequest.nroDocGestion"
                placeholder="Ingrese N° de Documento de Gestión"
              />
            </div>
          </div>

          <div class="col-12 col-md-4">
            <label class="label">Estado de Solicitud</label>
            <div class="form-control-selectk">
              <p-dropdown
                class="fomr-control"
                placeholder="Seleccione Estado"
                optionValue="codigo"
                optionLabel="valorPrimario"
                [options]="comboEstado"
                [(ngModel)]="listarSolicitudOpinionRequest.estSolicitudOpinion"
              >
              </p-dropdown>
            </div>
          </div>
        </div>

        <div class="container-button">
          <div
            class="col-sm-4 col-md-4 mt-3 mb-2 form-group"
            style="display: flex; margin-top: 2rem !important;"
          >
            <button class="btn btn-sm btn-secondary mr-2" (click)="limpiarOpinion()">
              Limpiar
            </button>
            <button
              class="btn btn-sm btn-secondary"
              (click)="buscarOpinion()"
            >
              Buscar
            </button>
          </div>
        </div>

        <br />
      </p-fieldset>

      <br />

      <div class="tablek">
        <p-table [value]="solicitudes">
          <ng-template pTemplate="header">
            <tr>
              <th>ID Sol. Opinión</th>
              <th>Entidad</th>
              <th>Tipo Documento</th>
              <th>Documento de Gestión</th>
              <th>N° de Documento de Gestión</th>
              <th>Fecha de Documento de Gestión</th>
              <th>Asunto</th>
              <th>Estado de Solicitud</th>
              <th style="width: 80px;">Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.idSolicitudOpinion}}</td>
              <td>{{data.siglaEntidad}}</td>
              <td>{{data.tipoDocumento}} </td>
              <td>{{data.tipoDocGestionTexto}}</td>
              <td>{{data.nroDocGestion ? data.nroDocGestion : '' }}</td>
              <td>{{data.fechaDocGestion | date: 'dd/MM/yyyy'}}</td>
              <td>{{data.asunto}}</td>
              <td>
                <span
                [class.pendiente]="
                data.estadoSolicitudOpinion === CodigoEstadoOpiniones.PENDIENTE
                "
                [class.aceptado]="
                data.estadoSolicitudOpinion === CodigoEstadoOpiniones.ACEPTADO
                "
                [class.observado]="
                data.estadoSolicitudOpinion === CodigoEstadoOpiniones.OBSERVADO
                "
                [class.favorable]="
                data.estadoSolicitudOpinion === CodigoEstadoOpiniones.FAVORABLE
                "
                [class.desfavorable]="
                data.estadoSolicitudOpinion === CodigoEstadoOpiniones.DESFAVORABLE
                "
              >
                {{ data.estadoSolicitudOpinionTexto }}
            </span>

              </td>
              <td>
                <span
                  *ngIf="data.estadoSolicitudOpinion === 'ESOPA' || usuario == 'ARFFS' || data.estadoSolicitudOpinion ==  'ESOPFAV' || data.estadoSolicitudOpinion ==  'ESOPDENE'"
                  class="pointer mr-1"
                  title="Ver"
                  (click)="verDetalle(data)"
                >
                  <i class="pi pi-eye"></i>
                </span>

                <span
                  *ngIf="data.estadoSolicitudOpinion !== 'ESOPA' && usuario != 'ARFFS' && data.estadoSolicitudOpinion !=  'ESOPFAV' &&
                         data.estadoSolicitudOpinion !== 'ESOPDENE'"
                  class="pointer mr-1"
                  title="Editar"
                  (click)="verDetalle(data)"
                >
                  <i class="pi pi-pencil"></i>
                </span>
              </td>
            </tr>
          </ng-template>
        </p-table>

        <p-paginator
          [rows]="10"
          [totalRecords]="totalRecords"
          (onPageChange)="loadOpinion($event)"
          [rowsPerPageOptions]="[10,25,50]"
        ></p-paginator>
      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
