.container-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pendiente {
  color: #e5c93c;
  font-weight: bold;
}

.aceptado {
  color: #4caf50;
  font-weight: bold;
}

.observado {
  color: #cb4141;
  font-weight: bold;
}

.favorable {
  color: #4caf50;
  font-weight: bold;
}

.desfavorable {
  color: #cb4141;
  font-weight: bold;
}
