<div class="container-fluit">
  <div class="row m-0">
    <div class="col-12 form-group">
      <label class="label">Aprovechamiento: *</label>
      <div class="form-control-selectk">
        <p-dropdown [options]="listaFase" optionLabel="label" placeholder="Seleccione" optionValue="value"
          [(ngModel)]="context.grupo" [disabled]="isEdit">
        </p-dropdown>
      </div>
    </div>
    <div class="form-group col-12 ">
      <label class="label">Actividad: *</label>
      <input type="text" [(ngModel)]="context.actividad" class="form-control" placeholder="" maxlength="100" sinSpacioInit
        [disabled]="isEdit" />
    </div>

    <div class="col-12 form-group" *ngIf="isEdit">
      <label class="label">Años y Meses:</label>
      <div class="form-control-multi">
        <p-multiSelect appendTo="body" [style]="{width: '100%'}" [options]="comboAnios" [group]="true" optionLabel="label"
          optionValue="value" [(ngModel)]="tiempo" defaultLabel="Seleccione" scrollHeight="250px" display="chip"
          (onChange)="onChange($event)">
          <ng-template let-group pTemplate="group">
            <div class="p-d-flex p-ai-center">
              <span>{{group.label}}</span>
            </div>
          </ng-template>
        </p-multiSelect>
      </div>
    </div>

    <div class="col-12 text-right">
      <button class="p-button-success p-button-outlined mr-2" type="button" icon="pi pi-save" pButton pRipple
        label="Guardar" (click)="btnAgregar()"></button>

      <button class="p-button-danger p-button-outlined" icon="pi pi-times" type="button" pButton pRipple
        label="Cancelar" (click)="btnCancelar()"></button>
    </div>
  </div>
</div>