<div class="mt-4 mb-4 ml-2">
  <p-accordion>
    <p-accordionTab
      [selected]="true"
      header="Resultados de la evaluación del POAC"
    >
      <div class="row"  *ngIf="false">
        <div class="col-6">
          <input-buttons-codigo [disabled]="disabled" [label]="'Informe de la evaluación Firmado'" [idPlanManejo]="idPlanManejo" [codigoProceso]="codigoEpica" [idTipoDocumento]="this.codigoFirmado"></input-buttons-codigo>
        </div>

        <div class="col-6" style="display: flex; align-items: center">
          <div class="mb-2">
            <div class="p-field-radiobutton d-inline-full">
              <p-radioButton
                [(ngModel)]="evaluacion"
                [value]="'Fav'" [disabled]="disabled"
              ></p-radioButton>
              <label class="mr-2 pl-1 pointer">Favorable</label>
            </div>
            <div class="p-field-radiobutton d-inline-full">
              <p-radioButton
                [(ngModel)]="evaluacion"
                [value]="'Des'" [disabled]="disabled"
              ></p-radioButton>
              <label class="mr-2 pl-1 pointer">Desfavorable</label>
            </div>
            <div class="p-field-radiobutton d-inline-full">
              <p-radioButton
                [(ngModel)]="evaluacion"
                [value]="'Obs'" [disabled]="disabled"
              ></p-radioButton>
              <label class="mr-2 pl-1 pointer">Observado</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6" >
          <button class="btn btn-sm btn-primary2" style="margin: 0" [disabled]="disabled" (click)="generarDispositivoLegal()">
            Generar dispositivo legal
          </button>
        </div>
      </div>
<!--
      <div class="card" *ngIf="isSubmittingCreate$ | async">
          <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div> -->

      <div class="row mt-3">

        <div class="col-6">
          <input-buttons-codigo [label]="'Cargar dispositivo legal'" [idPlanManejo]="idPlanManejo" [disabled]="disabled"
                                [codigoProceso]="codigoEpica" [idTipoDocumento]="codigoLegal">
          </input-buttons-codigo>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-6">
          <input-buttons-codigo [label]="'Adjuntar evidencia de notificación'" [idPlanManejo]="idPlanManejo" [disabled]="disabled"
                                [codigoProceso]="codigoEpica" [idTipoDocumento]="codigoNotificacion">

          </input-buttons-codigo>
        </div>
      </div>
    </p-accordionTab>


    <p-accordionTab
      class="{{ classEstado }}"
      header="Carga de Informe de Evaluación"
    >
      <div class="row m-0">
        <div class="col-12">
          <label class="label" style="font-weight: bold"
          >Informe de Evaluación Firmado</label
          >
        </div>
        <div class="col-12 col-sm-8">
          <input-buttons
            [file]="archivoRecurso"
            [label]="''" [disabled]="disabled"
            [accept]="'.pdf'"
            [idPlanManejo]="idPlanManejo"
            [idTipoDocumento]="42"
            [codigoProceso]="codigoEpica"
          >
          </input-buttons>
        </div>
        <div class="col-12 col-sm-8 mb-3">
          <div class="p-field-radiobutton d-inline-full">
            <p-radioButton
              name="statusInforme1"
              inputId="favorable" [disabled]="disabled"
              [(ngModel)]="radioSelect"
              [value]="'FAVO'"
            >
            </p-radioButton>
            <label class="m-0 pl-1 pointer" for="favorable">Favorable</label>
          </div>
          <div class="p-field-radiobutton d-inline-full">
            <p-radioButton
              name="statusInforme2"
              inputId="desfavorable" [disabled]="disabled"
              [(ngModel)]="radioSelect"
              [value]="'DESF'"
            >
            </p-radioButton>
            <label class="m-0 pl-1 pointer" for="desfavorable"
            >Desfavorable</label
            >
          </div>
          <div class="p-field-radiobutton d-inline-full">
            <p-radioButton
              name="statusInforme3"
              inputId="observado"
              [(ngModel)]="radioSelect"
              [value]="'OBSE'" [disabled]="disabled"
            >
            </p-radioButton>
            <label class="m-0 pl-1 pointer" for="observado">Observado</label>
          </div>
        </div>

        <div class="col-12" *ngIf="radioSelect == 'OBSE'">
          <informe-evaluacion-shared
            [resolucion]="'OBSE'" [disabled]="disabled"
            [titulo]="'Subsanación de Observaciones'"
            [idPlanManejo]="idPlanManejo"
            [codigoPlan]="codigoEpica"
            [listDocumentos]="listDocumentos"
            (onChange)="onChange($event)"
            [observadoObj]="observadoObj"
          ></informe-evaluacion-shared>
        </div>

        <div class="col-12" *ngIf="radioSelect == 'FAVO'">
          <informe-evaluacion-shared
            [resolucion]="'FAVO'"
            [titulo]="'Resultado Favorable'"
            [idPlanManejo]="idPlanManejo" [disabled]="disabled"
            [codigoPlan]="codigoEpica"
            [listDocumentos]="listDocumentos"
            (onChange)="onChange($event)"
            [favorableObj]="favorableObj"
          ></informe-evaluacion-shared>
        </div>

        <div class="col-12" *ngIf="radioSelect == 'DESF'">
          <informe-evaluacion-shared
            [resolucion]="'DESF'"
            [titulo]="'Resultado Desfavorable'"
            [idPlanManejo]="idPlanManejo" [disabled]="disabled"
            [codigoPlan]="codigoEpica"
            [listDocumentos]="listDocumentos"
            (onChange)="onChange($event)"
            [desFavorableObj]="desFavorableObj"
          ></informe-evaluacion-shared>
        </div>
      </div>
    </p-accordionTab>


    <p-accordionTab
      class="{{ classEstado }}"
      header="Envío de Información"
    >
      <div class="row m-0">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label class="label">Nombre Perfil</label>
            <div class="form-control-selectk">
              <p-dropdown
                [options]="perfiles" [disabled]="disabled"
                optionLabel="valorPrimario"
                [(ngModel)]="perfilObj"
                placeholder="Seleccione"
              ></p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-2">
          <div><label class="label">&nbsp;&nbsp;</label></div>
          <button [disabled]="disabled"
            (click)="agregarPerfil()"
            type="button"
            class="btn btn-secondary mb-3"
          >
            Agregar
          </button>
        </div>
      </div>
      <div class="row m-0 mt-4">
        <div class="col-12 col-sm-8">
          <p-table [value]="perfilesAgregados">
            <ng-template pTemplate="header">
              <tr>
                <th>Acciones</th>
                <th>Nombre de Perfil</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td>
                  <span
                    (click)="!disabled && openEliminarPerfil($event,rowIndex,data )"
                    class="pointer fz-13"
                  ><i class="pi pi-trash"></i
                  ></span>
                </td>
                <td>{{data.valorPrimario}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <div class="row m-0 mt-4">
        <div class="col-12 col-sm-8 text-right">
          <button
            type="button" [disabled]="disabled"
            class="btn btn-primary2 pl-3 pr-3"
            (click)="guardarEnviar()"
            [disabled]="!perfilesAgregados || perfilesAgregados.length === 0"
          >
            Guardar y Enviar
          </button>
        </div>
      </div>
    </p-accordionTab>

  </p-accordion>
</div>

<div class="step__btn mt-4 mb-4">
  <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
  <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
</div>

<p-toast></p-toast>
<p-confirmPopup ></p-confirmPopup>
<p-confirmPopup key="keyDeleteInBuCod"></p-confirmPopup>
