<p-fieldset [collapsed]="true" legend="3. Información General del Área Plantada" [toggleable]="true">
    <div class="row m-0">
        <div class="col-12">
            <div class="f-w mb-2 mapa-content">
                <div class="mapa" #map></div>
            </div>
        </div>

    </div>
    <div class="button-container">
        <div class="form-group ">
            <label class="label">&nbsp;&nbsp;</label>
            <div class="text-left">
                <button type="button" id="btnCargaShapeFile" (click)="fileInput.click()"
                    class="btn btn-sm btn-secondary">
                    Cargar shape file
                    <input #fileInput type="file" (change)="onFileShapeChange($event)"
                        style="display: none;" accept=".zip" />
                </button>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-12 text-right mb-2">
            <button *ngIf="data.readonly == false" (click)="openModal(null,'C')" class="btn btn-sm btn-default mb-2"
                type="button" title="Agregar">
                <i class="pi pi-plus"></i>
            </button>
        </div>
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Área total de plantación (ha)</th>
                        <th colspan="1" class="p-0">
                            <input [disabled]="data.readonly" [(ngModel)]="data.areaTotal" placeholder="" type="text"
                                class=" border-none w100 h100" />
                        </th>
                        <th colspan="2">Mes y año de establecimiento de la plantación</th>
                        <th colspan="1" class="p-0 pr-1">
                            <input [disabled]="data.readonly" [(ngModel)]="data.mesAnhio"
                                [ngModel]="data.mesAnhio | date:'MM/yyyy'" placeholder="MM/YYYY" type="text"
                                class=" border-none w100 h100" />
                        </th>
                    </tr>
                    <tr>
                        <th rowspan="2">Acciones</th>
                        <th rowspan="2">Sistema de planatación</th>
                        <th colspan="2">Superficie</th>
                        <th rowspan="2">Fines</th>
                        <th rowspan="2">Especies Establecidas</th>
                    </tr>
                    <tr>
                        <th>Unid. Medida (ha/m2/otros)</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of data.lstDetalle">
                        <td>
                            <span *ngIf="data.readonly == false" class="pointer mr-1" title="Editar"
                                (click)="openModal(d,'E')">
                                <i class="pi pi-pencil"></i>
                            </span>
                            <span *ngIf="data.readonly == false" class="pointer" title="Eliminar" (click)="eliminar(d)">
                                <i class="pi pi-trash"></i>
                            </span>
                        </td>
                        <td>

                            <p-dropdown [disabled]="data.readonly" [options]="comboTipoSistema"
                                [(ngModel)]="d.id_sistemaplantacion" optionLabel="label" optionValue="valor">
                            </p-dropdown>
                        </td>
                        <td>{{d.superficie_medida}}</td>
                        <td>{{d.superficie_cantidad}}</td>
                        <td>{{d.fines}}</td>
                        <td>{{d.especies_establecidas}}</td>
                    </tr>
                </tbody>
            </table>

            <observaciones-plantacion *ngIf="idSolicitante == 4"></observaciones-plantacion>
        </div>        
    </div>
</p-fieldset>

<p-dialog header="{{tituloModalMantenimiento}}" [(visible)]="verModalMantenimiento" [modal]="true"
    [style]="{width: '40vw'}" [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="true">
    <ng-template pTemplate="content">
        <div>
            <div class="form-group">
                <label class="label">Sistema de Plantacion</label>
                <div class="form-control-selectk">
                    <p-dropdown [disabled]="data.readonly" [options]="comboTipoSistema" class="fomr-control"
                        [(ngModel)]="areaPlantadaContext.id_sistemaplantacion" optionLabel="label" optionValue="valor"
                        placeholder="Selecciona sistema plantación">
                    </p-dropdown>
                </div>
            </div>
            <div class="form-group">
                <label class="label">Unid. Medida (ha/m2/otros) </label>
                <div class="form-control-selectk">
                    <p-dropdown [disabled]="data.readonly" [options]="comboUnidadMedida" class="fomr-control"
                        [(ngModel)]="medida" optionLabel="valor" optionValue="valor"
                        placeholder="Selecciona unidad de medida">
                    </p-dropdown>
                </div>
            </div>

            <div class="form-group" *ngIf="medida == 'otros'">
                <label class="label">Otros</label>
                <input [(ngModel)]="areaPlantadaContext.superficie_medida" type="text" class="form-control"
                    placeholder="">
            </div>

            <div class="form-group">
                <label class="label">Cantidad</label>
                <input [(ngModel)]="areaPlantadaContext.superficie_cantidad" type="number" class="form-control"
                    placeholder="">
            </div>
            <div class="form-group">
                <label class="label">Fines</label>
                <input [(ngModel)]="areaPlantadaContext.fines" type="number" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label class="label">Especies Establecidas</label>
                <input [(ngModel)]="areaPlantadaContext.especies_establecidas" type="text" class="form-control"
                    placeholder="">
            </div>

        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button icon="pi pi-save" (click)="guardar(areaPlantadaContext)" pButton pRipple type="button" label="Guardar"
            class="p-button-success p-button-outlined"></button>
        <button icon="pi pi-times" (click)="verModalMantenimiento=false" pButton pRipple type="button" label="Cancelar"
            class="p-button-danger p-button-outlined"></button>
    </ng-template>
</p-dialog>