<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="Anexo 1: Mapas" [selected]="true">
          <app-map-custom
          [idPlanManejo]="idPGMF"
          [codigoProceso]="'PGMFCFFMANEXO'"
          [codigoSubSeccion]="'PGMFCFFMANEXO1'"
          [tipoGeometria]="'Otros'"
          [isAnexo]="true"
          [printPDF]="true"
          [mostrarBotonCapturarMapa]="true"
          [disabled]="isDisbledObjFormu"
        ></app-map-custom>
          <div class="col-12 mt-4 mb-3">
            <table>
              <tr>
                <th style="width: 350px;">Mapas</th>
                <!-- <th style="text-align: center">Adjuntar Shapefile</th> -->
                <td>&nbsp;</td>
                <th >Adjuntar Evidencia</th>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Mapa general (o mapa base)</td>
                <!-- <td>
                  <div class="input-group">
                    <upload-input-buttons [file]="fileMapa1_1" [disabled]="isDisbledObjFormu"
                      (registrarArchivo)="registrarArchivoAdjunto($event, tiposArchivos.TDOCSFMAPGE)"
                      (eliminarArchivo)="eliminarArchivoAdjunto(fileMapa1_1, tiposArchivos.TDOCSFMAPGE)">
                    </upload-input-buttons>
                  </div>
                </td> -->
                <td>&nbsp;</td>
                <td>
                  <div class="input-group">
                    <upload-input-buttons [file]="fileMapa1_2" [disabled]="isDisbledObjFormu"
                      (registrarArchivo)="registrarArchivoAdjunto($event, tiposArchivos.TDOCEVIMAPGE)"
                      (eliminarArchivo)="eliminarArchivoAdjunto(fileMapa1_2, tiposArchivos.TDOCEVIMAPGE)">
                    </upload-input-buttons>
                  </div>
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>
                  Mapa de ordenamiento forestal, tipos bosque y ubicación de
                  parcelas de muestreo del inventario forestal
                </td>
                <!-- <td>
                  <div class="input-group">
                    <upload-input-buttons [file]="fileMapa2_1" [disabled]="isDisbledObjFormu"
                      (registrarArchivo)="registrarArchivoAdjunto($event, tiposArchivos.TDOCSFMAPORDF)"
                      (eliminarArchivo)="eliminarArchivoAdjunto(fileMapa2_1, tiposArchivos.TDOCSFMAPORDF)">
                    </upload-input-buttons>
                  </div>
                </td> -->
                <td>&nbsp;</td>
                <td>
                  <div class="input-group">
                    <upload-input-buttons [file]="fileMapa2_2" [disabled]="isDisbledObjFormu"
                      (registrarArchivo)="registrarArchivoAdjunto($event, tiposArchivos.TDOCEVIMAPORDF)"
                      (eliminarArchivo)="eliminarArchivoAdjunto(fileMapa2_2, tiposArchivos.TDOCEVIMAPORDF)">
                    </upload-input-buttons>
                  </div>
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Mapa de división administrativa</td>
                <!-- <td>
                  <div class="input-group">
                    <upload-input-buttons [file]="fileMapa3_1" [disabled]="isDisbledObjFormu"
                      (registrarArchivo)="registrarArchivoAdjunto($event, tiposArchivos.TDOCSFMAPDIVADM)"
                      (eliminarArchivo)="eliminarArchivoAdjunto(fileMapa3_1, tiposArchivos.TDOCSFMAPDIVADM)">
                    </upload-input-buttons>
                  </div>
                </td> -->
                <td>&nbsp;</td>
                <td>
                  <div class="input-group">
                    <upload-input-buttons [file]="fileMapa3_2" [disabled]="isDisbledObjFormu"
                      (registrarArchivo)="registrarArchivoAdjunto($event, tiposArchivos.TDOCEVIMAPDIVADM)"
                      (eliminarArchivo)="eliminarArchivoAdjunto(fileMapa3_2, tiposArchivos.TDOCEVIMAPDIVADM)">
                    </upload-input-buttons>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Anexo 2: Lista de las Especies Inventariadas" [selected]="false">
          <div class="row m-0">
            <div class="col-12">
              <p> Ma = Especies encontradas en el inventario de la masa aprovechable: Dap a partir de 20 cm. </p>
            </div>
            <div class="col-12">
              <p-table [value]="listaEspecies" class="no-desbor">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="min-width: 80px;">Nombre común</th>
                    <th style="min-width: 80px;">Nombre científico</th>
                    <th style="min-width: 80px;">Familia</th>
                    <th style="min-width: 80px;">GC (opcional)</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                  <tr>
                    <td>{{ data.descripcionOtro }}</td>
                    <td>{{ data.especie }}</td>
                    <td></td>
                    <td>{{ data.descripcionOrd }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Anexo 3: Cuadros de Resultados del Inventario Exploratorio" [selected]="false">
          <div class="col-12 mt-4 mb-3">
            <p style="font-weight: bold">
              <u>Volumen potencial</u> (+20 cm Dap)
            </p>
            <p>
              Promedios del número de árboles (N), el área basal (AB) y volumen
              comercial (Vc) por especie y clase diamétrica, por hectárea y
              total, para cada tipo de bosque o estrato.
            </p>

            <div class="row">
              <div class="col-sm-12 col-md-6 form-group">
                <label class="label">Seleccione el tipo de bosque</label>
                <div class="form-control-selectk">
                  <p-dropdown
                    [options]="comboBosque"
                    optionLabel="valor1"
                    optionValue="codigo"
                    placeholder="Seleccione Bosque"
                    [(ngModel)]="selectCodigoBosqueVP"
                    (onChange)=changeCodigoBosqueVP($event) [disabled]="isDisbledObjFormu"
                  ></p-dropdown>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 form-group">
                <label>&nbsp;</label>
                <div>
                  <button class="btn btn-sm btn-secondary" (click)="btnLimpiarVP()" [disabled]="isDisbledObjFormu">Limpiar</button>
                </div>
              </div>
            </div>

            <p-table [value]="listaInvExploraVP">
              <ng-template pTemplate="header">
                <tr>
                  <th colspan="8" style="text-align: left">
                    Bloque quinquenal N°:
                  </th>
                  <th colspan="2" style="text-align: left">Área:</th>
                </tr>
                <tr>
                  <th colspan="8" style="text-align: left">
                    Tipo de bosque /Estrato:
                  </th>
                  <th colspan="2" style="text-align: left">Área:</th>
                </tr>
                <tr>
                  <th rowspan="2">Especie (Nombre Común)</th>
                  <th rowspan="2">Var</th>
                  <th colspan="6">DAP (cm)</th>
                  <th rowspan="2">Total en el tipo de bosque</th>
                  <th rowspan="2">Total por ha</th>
                </tr>
                <tr>
                  <th>20-30</th>
                  <th>30-40</th>
                  <th>40-50</th>
                  <th>50-60</th>
                  <th>60-70</th>
                  <th>70+</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr>
                  <td [attr.rowspan]="4">{{data.nombreComun}}</td>
                </tr>
                <tr *ngFor="let item of data.array">
                  <td>{{ item.var}}</td>
                  <td>{{ item.Dap20a29}}</td>
                  <td>{{ item.Dap30a39}}</td>
                  <td>{{ item.Dap40a49}}</td>
                  <td>{{ item.Dap50a59}}</td>
                  <td>{{ item.Dap60a69}}</td>
                  <td>{{ item.Dap70aMas}}</td>
                  <td>{{ item.TotalTipoBosque}}</td>
                  <td>{{ item.TotalPorArea}}</td>
                </tr>
              </ng-template>
            </p-table>
            <br />

            <p style="font-weight: bold"><u>Fustales</u> (10.0 - 19.9cm Dap)</p>
            <p>
              Promedios del número de árboles (N) y el área basal (AB) por
              especie y clase diamétrica, por hectárea y total, para cada tipo
              de bosque o estrato.
            </p>
            
            <div class="row">
              <div class="col-12 col-sm-6 form-group">
                <label class="label">Seleccione el tipo de bosque</label>
                <div class="form-control-selectk">
                  <p-dropdown
                    [options]="comboBosque"
                    optionLabel="valor1"
                    optionValue="codigo"
                    placeholder="Seleccione Bosque"
                    [(ngModel)]="selectCodigoBosqueFU"
                    (onChange)=changeCodigoBosqueFU($event) [disabled]="isDisbledObjFormu"
                  ></p-dropdown>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 form-group">
                <label>&nbsp;</label>
                <div>
                  <button class="btn btn-sm btn-secondary" (click)="btnLimpiarFU()" [disabled]="isDisbledObjFormu">Limpiar</button>
                </div>
              </div>
            </div>

            <!-- <ng-container *ngFor="let item of listaInvExploraFU;">
              <div class="mt-3"> -->
                <p-table [value]="listaInvExploraFU">
                  <ng-template pTemplate="header">
                    <tr>
                      <th colspan="4" style="text-align: left">
                        Bloque quinquenal N°: 
                      </th>
                      <th colspan="2" style="text-align: left">Área:</th>
                    </tr>
                    <tr>
                      <th colspan="4" style="text-align: left">
                        Tipo de bosque /Estrato:
                      </th>
                      <th colspan="2" style="text-align: left">Área:</th>
                    </tr>
                    <tr>
                      <th rowspan="2">Especie (Nombre Común)</th>
                      <th rowspan="2">Var</th>
                      <th colspan="2">DAP (cm)</th>
                      <th rowspan="2">Total en el tipo de bosque</th>
                      <th rowspan="2">Total por ha</th>
                    </tr>
                    <tr>
                      <th>10-15</th>
                      <th>15-20</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data>
                    <tr>
                      <td [attr.rowspan]="3">{{data.nombreComun}}</td>
                    </tr>
                    <tr *ngFor="let item of data.array">
                      <td>{{ item.var}}</td>
                      <td>{{ item.Dap10a19}}</td>
                      <td>{{ item.Dap20a29}}</td>
                      <td>{{ item.TotalTipoBosque}}</td>
                      <td>{{ item.TotalPorArea}}</td>
                    </tr>
                  </ng-template>
                </p-table>
              <!-- </div>
            </ng-container> -->

          </div>
        </p-accordionTab>
        <p-accordionTab header="Anexo 4: Información Complementaria del Plan de Manejo Propuesto" [selected]="false">
          <div class="col-12">
            <p-table [value]="listaAnexo4" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10,25,50]" currentPageReportTemplate="Total : {totalRecords} registros">
              <ng-template pTemplate="header" class="no-desbor">
                <tr>
                  <th>Acciones</th>
                  <th>Item</th>
                  <th>Justificación</th>
                  <th>Asunto</th>
                  <th>Acápite</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr>
                  <td>
                    <span class="pointer mr-2" title="Descargar" (click)="btnDescargar(data.idArchivo)"><i class="pi pi-download"></i></span>
                    <span class="pointer" title="Guardar" (click)="btnGrabar(data)" [ngClass]="isDisbledObjFormu?'disabled-pointer':''"><i class="pi pi-save"></i></span>
                  </td>
                  <td>{{data.item}}</td>
                  <td>{{data.descripcion}}</td>
                  <td>
                    <input class="form-control" type="text" [(ngModel)]="data.asunto" [disabled]="isDisbledObjFormu" autocomplete="off" />
                  </td>
                  <td>
                    <input class="form-control" type="text" [(ngModel)]="data.acapite" [disabled]="isDisbledObjFormu" autocomplete="off" />
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-accordionTab>
      </p-accordion>
      <div class="step__btn mt-4">
        <button class="btn-primary2" (click)="regresarTab()">Anterior</button>
        <button class="btn-primary2" [disabled]="isDisbledObjFormu"> Guardar </button>
      </div>
      <br />
    </div>
  </div>
</div>