<div class="text-center">
  <div class="col-12 p-2">
    <h3 class="sub-title" >Notificación Enviada</h3>
  </div>
  <div class="col-12 p-2">
    <button class="btn btn-sm btn-primary2" (click)="aceptar()">
      Aceptar
    </button>
  </div>
</div>
