
<p-fieldset [collapsed]="false" legend="Datos de opsición" [toggleable]="true" >
  <div class="row m-0">
    <div class="col-12">
      <div class="form-group">
          <label class="label">Motivo de oposición</label>
          <textarea name="observacion" autocomplete="off" id="observacion" class="form-control form-control-sm" rows="4" [autoResize]="true" pInputTextarea></textarea>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 form-group">
      <button (click)="descargarDocumento()" class="btn btn-secondary ml-2">Descargar documento</button>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 form-group">
      <label class="label">Adjuntar Archivo</label>
      <div class="input-group-k file">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="pi pi-upload"></i>
            </span>
          </div>
          <input type="text" readonly="readonly" class="form-control form-control-sm bg-gray" placeholder="Click aqui para adjuntar documento">
        </div>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 form-group">
      <button pButton pRipple type="button" label="Enviar" (click)="enviar()" class="p-button-success p-button-outlined ml-1"></button>
      <!-- <button pButton pRipple class="btn btn-sm btn-success" (click)="enviar()">Enviar</button> -->
    </div>
  </div>
</p-fieldset>
