<div class="container-fluit  pt-4">
  <div class="row m-0">
    <div class="col-12">
      <p-accordion>
        <p-accordionTab header="I. Datos Generales del Solicitante" [selected]="true">
          <div class="row m-0">
            <div class="col-12 form-group">
              <label class="label">Nombre o Razón Social:</label>
              <input type="text" autocomplete="off" class="form-control" [(ngModel)]="informacionSolicitante.nombreSolicitanteUnico" disabled />
            </div>

            <div class="col-12 col-sm-6 form-group">
              <label class="label">Superficie solicitada (ha):</label>
              <input type="text" autocomplete="off" class="form-control" [(ngModel)]="informacionAreaSolicitada.superficieHa" disabled />
            </div>
            <div class="col-12 col-sm-6 form-group">
              <label class="label">Plazo (años):</label>
              <input type="text" autocomplete="off" class="form-control" [(ngModel)]="informacionSolicitante.vigenciaAnio" disabled />
            </div>

            <div class="col-12 col-sm-4 form-group">
              <label class="label">Departamento:</label>
              <input type="text" autocomplete="off" class="form-control" [(ngModel)]="informacionSolicitante.nombreDepartamentoSolicitante" disabled />
            </div>
            <div class="col-12 col-sm-4 form-group">
              <label class="label">Provincia:</label>
              <input type="text" autocomplete="off" class="form-control" [(ngModel)]="informacionSolicitante.nombreProvinciaSolicitante" disabled />
            </div>
            <div class="col-12 col-sm-4 form-group">
              <label class="label">Distrito:</label>
              <input type="text" autocomplete="off" class="form-control" [(ngModel)]="informacionSolicitante.nombreDistritoSolicitante" disabled />
            </div>
          </div>

          <div class="row m-0 mt-3" *ngIf="isShowEval">
            <div class="col-12">
              <app-evaluar-solicitud
                [disabled]="isDisbledEval"
                [idPFDM]="idPFDM"
                [codSeccion]="codigosPFDM.TAB_4"
                [codSubSeccion]="codigosPFDM.TAB_4_1"
              ></app-evaluar-solicitud>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="II. Determinación del Tamaño">
          <div class="row m-0 mt-2">
            <div class="col-12">
              <h3 class="label">2.1 Seleccione los criterios utilizados para determinar el tamaño de la concesión:
              </h3>
            </div>
            <div class="col-12">

              <table class="table">
                <tbody>
                  <tr *ngFor="let item of lsDataCriterio">
                    <td class="text-left">
                      {{item.nombreCriterio}}
                      <div *ngIf="item.codigoCriterio=='SCCTOT' && item.estadoCriterio" class="mt-2">
                        <input placeholder="Especificar criterio" type="text" class="form-control" [(ngModel)]="item.descripcionOtroCriterio" autocomplete="off" [disabled]="isDisbledFormu"/>
                      </div>
                    </td>
                    <td>
                      <p-checkbox [(ngModel)]="item.estadoCriterio" [binary]="true" [disabled]="isDisbledFormu"></p-checkbox>
                    </td>
                  </tr>
                </tbody>

              </table>

              <!--
              <table class="table">
                <tbody>
                  <tr>
                    <td class="text-left">
                      Conectividad de los ecosistemas de otras unidades de conservación
                    </td>
                    <td>
                      <p-checkbox [binary]="true"></p-checkbox>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      Ámbito de dispersión de una especie
                    </td>
                    <td>
                      <p-checkbox [binary]="true"></p-checkbox>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      Protección de servicios ecosistémicos
                    </td>
                    <td>
                      <p-checkbox [binary]="true"></p-checkbox>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      Ámbito de la cuenca
                    </td>
                    <td>
                      <p-checkbox [binary]="true"></p-checkbox>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      Otros (Especificar)
                      <div *ngIf="criterioOtros" class="mt-2">
                        <input placeholder="Especificar criterio" type="text" class="form-control" autocomplete="off" />
                      </div>
                    </td>
                    <td>
                      <p-checkbox [(ngModel)]="criterioOtros" [binary]="true"></p-checkbox>
                    </td>
                  </tr>
                </tbody>
              </table>
              -->
            </div>
          </div>
          <div class="row m-0 mt-3">
            <div class="col-12 form-group">
              <label class="label">2.2 Justificación de los criterios utilizados <small>(máx. 250 caract.)</small>:</label>
              <textarea cols="3" rows="4" [(ngModel)]="formDatoSolicitudConcesion.justificacion" class="form-control" maxlength="250" [disabled]="isDisbledFormu"></textarea>
            </div>
            <div class="col-12 form-group">
              <label class="label">2.3 Análisis de mapas temáticos <small>(máx. 250 caract.)</small>:</label>
              <textarea cols="3" rows="4" [(ngModel)]="formDatoSolicitudConcesion.mapa" class="form-control" maxlength="250" [disabled]="isDisbledFormu"></textarea>
            </div>
            <div class="col-12 form-group">
              <label class="label">2.4 Delimitación del tamaño de la concesión <small>(máx. 250 caract.)</small>:</label>
              <textarea cols="3" rows="4" [(ngModel)]="formDatoSolicitudConcesion.tamanioConcesion" class="form-control" maxlength="250" [disabled]="isDisbledFormu"></textarea>
            </div>
            <div class="col-12 form-group">
              <label class="label">2.5 Observaciones <small>(máx. 250 caract.)</small>:</label>
              <textarea cols="3" rows="4" [(ngModel)]="formDatoSolicitudConcesion.observaciones" class="form-control" maxlength="250" [disabled]="isDisbledFormu"></textarea>
            </div>
          </div>
          <div class="row m-0" *ngIf="!isDisbledFormu">
            <div class="col-12 mt-3">
              <button type="button" class="btn-primary2" (click)="btnRegDeterminacionTamanio()" [disabled]="isDisbledFormu">
                Guardar Datos Ingresados
              </button>
            </div>
          </div>

          <div class="row m-0 mt-3" *ngIf="isShowEval">
            <div class="col-12">
              <app-evaluar-solicitud
                [disabled]="isDisbledEval"
                [idPFDM]="idPFDM"
                [codSeccion]="codigosPFDM.TAB_4"
                [codSubSeccion]="codigosPFDM.TAB_4_2"
              ></app-evaluar-solicitud>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="III. Anexos">
          <div class="row m-0 mt-3">
            <div class="col-12">
              <label class="title2">3.1 Fuentes Bibliográficas Consultadas (citar) <small>(máx. 250 caract.)</small>:</label>
              <textarea cols="3" rows="4" [ngClass]="!formDatoSolicitudConcesion.fuenteBibliografica ? 'input-required anexo4Anexos_required' : ''" [(ngModel)]="formDatoSolicitudConcesion.fuenteBibliografica" class="form-control"  maxlength="250"></textarea>
            </div>
          </div>

          <div class="row m-0 mt-3">
            <div class="col-12">
              <h3 class="label">3.2 Mapa</h3>
            </div>
            <div class="col-12 col-sm-6 mt-3">
              <app-carga-archivo-general
              [disabled]="isDisbledFormu"
              label=""
              accept=".pdf"
              [tipoDoc]="'PFDMA4_SS3_2'"
              [idArchivo]="formDatoMapaSolicitudConcesion.idArchivo"
              (registrarArchivo)="registrarMapaArchivo($event)"
              (eliminarArchivo)="eliminarMapaArchivo($event)">
            </app-carga-archivo-general>
              <!-- <app-map-custom-pfdm [idPFDM]="idPFDM" [codigoProceso]="codProceso" [codigoSubSeccion]="codigoSubSeccion"
                [tipoGeometria]="'Otros'" [printPDF]="true" [isDisbledFormu]="isDisbledFormu" [showBotonGuardar]="!isDisbledFormu" [tipoArchivoGeneral]="'PFDMA4_SS3_1'">

              </app-map-custom-pfdm> -->
            </div>
          </div>

          <div class="row m-0 mt-3">
            <div class="col-12">
              <label class="label">3.3 Panel Fotográfico:</label>
            </div>
            <!--div class="col-12 col-sm-7">
              <div class="form-group">
                <div class="input-group">
                  <div class="form-control"></div>
                  <div class="input-group-append">
                    <button type="button" style="border-width: 1px !important; box-shadow: none !important;"
                      class="btn btn-sm btn-secondary">
                      Seleccionar Imagenes
                    </button>
                  </div>
                </div>
              </div>
            </div-->
            <div class="col-12 col-sm-6 mt-3">
              <app-carga-archivo-general
                [disabled]="isDisbledFormu"
                label=""
                accept=".png, .jpg, .pdf"
                [tipoDoc]="'PFDMA4_SS3'"
                [idArchivo]="formDatoAnexoSolicitudConcesion.idArchivo"
                (registrarArchivo)="registrarArchivo($event)"
                (eliminarArchivo)="eliminarArchivo($event)">
              </app-carga-archivo-general>
              <!--upload-input-buttons [file]="filePanelFoto" [disabled]="isDisbledFormu"
                (registrarArchivo)="registrarArchivoAdjunto($event, tiposArchivos.TDOCEVIMAPGE)"
                (eliminarArchivo)="eliminarArchivoAdjunto(filePanelFoto, tiposArchivos.TDOCEVIMAPGE)">
              </upload-input-buttons-->
            </div>

          </div>
          <div class="row m-0" *ngIf="!isDisbledFormu">
            <div class="col-12 mt-3">
              <button type="button" class="btn-primary2" (click)="btnRegAnexos()" >
                Guardar Datos Ingresados
              </button>
            </div>
          </div>

          <div class="row m-0" *ngIf="isShowEval">
            <div class="col-12 mt-3">
              <app-evaluar-solicitud
                [disabled]="isDisbledEval"
                [idPFDM]="idPFDM"
                [codSeccion]="codigosPFDM.TAB_4"
                [codSubSeccion]="codigosPFDM.TAB_4_3"
              ></app-evaluar-solicitud>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>
