<div class="row m-0">
  <div class="col-12">
    <div class="panelk br10 p-3">
      <div class="row">
        <div class="col-sm-12 col-md-4 form-group">
          <label class="label">DNI o RUC del Titular </label>
          <input
            type="number"
            numero
            autocomplete="off"
            class="form-control"
            placeholder="Ingrese Nro. DNI o RUC 2"
            maxlength="50"
            [(ngModel)]="evaluacionRequest.dniElaborador"
          />
        </div>
        <div class="col-sm-12 col-md-4 form-group">
          <label class="label">Nombre del Titular</label>
          <input
            type="text"
            autocomplete="off"
            class="form-control"
            placeholder="Ingrese Nombre del Titular"
            [(ngModel)]="evaluacionRequest.nombreElaborador"
          />
        </div>
        <div class="col-sm-12 col-md-4 form-group" *ngIf="pmficDema">
          <label class="label">N° Plan {{ descripcionPlan }}</label>
          <input
            type="number"
            numero
            [maxLength]="9"
            autocomplete="off"
            class="form-control"
            placeholder="Ingrese Nro. {{ descripcionPlan }}"
            [(ngModel)]="evaluacionRequest.idPlanManejo"
          />
        </div>
        <div class="col-sm-12 col-md-4 form-group" *ngIf="!pmficDema">
          <label class="label">N° {{ descripcionPlan }}</label>
          <input
            type="number"
            numero
            [maxLength]="9"
            autocomplete="off"
            class="form-control"
            placeholder="Ingrese Nro. {{ descripcionPlan }}"
            [(ngModel)]="evaluacionRequest.idPlanManejo"
          />
        </div>
        <div class="col-12 col-md-4 form-group" *ngIf="pmficDema">
          <label class="label">Estado</label>
          <div class="form-control-multi">
            <p-multiSelect
              appendTo="body"
              [options]="estados"
              optionLabel="estado"
              optionValue="codEstado"
              [(ngModel)]="evaluacionRequest.filtroEstado"
              defaultLabel="Seleccionar"
              display="chip"
            >
            </p-multiSelect>
          </div>
        </div>
      </div>

      <div class="col-12 my-2 form-group text-center">
        <button
          class="btn btn-sm btn-secondary mr-2"
          (click)="limpiarEvaluacion()"
        >
          Limpiar
        </button>
        <button
          class="btn btn-sm btn-secondary mr-2"
          (click)="buscarEvaluacion()"
        >
          Buscar
        </button>
        <button
          class="btn btn-sm btn-secondary"
          *ngIf="isShowButtonNew && permisos.isPerRegistrar"
          (click)="nuevaEvaluacion()"
        >
          Nuevo
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row m-0">
  <div class="col-12 mt-4 mb-3">
    <div>
      <p-table
        [value]="planes"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros"
        [rowsPerPageOptions]="[10, 25, 50]"
        [lazy]="true"
        [loading]="loading"
        (onLazyLoad)="loadEvaluacion($event)"
        [totalRecords]="totalRecords"
        [scrollable]="true"
        [style]="{width: '100%'}"
      >
        <ng-template pTemplate="header">
          <tr>
            <th scope="row" style="width: 50px; min-width: 50px;">N°</th>
            <th
              scope="row"
              style="width: 100px; min-width: 80px;"
              *ngIf="pmficDema"
            >
              N° Plan {{ descripcionPlan }}
            </th>
            <th
              scope="row"
              style="width: 100px; min-width: 80px;"
              *ngIf="!pmficDema"
            >
              N° {{ descripcionPlan }}
            </th>
            <th scope="row" style="width: 120px; min-width: 100px;">
              DNI o RUC
            </th>
            <th scope="row" style="width: 270px; min-width: 250px;">
              Nombre del Titular
            </th>
            <th
              scope="row"
              style="width: 120px; min-width: 100px;"
              *ngIf="pmficDema"
            >
              Tipo Plan
            </th>
            <th
              scope="row"
              style="width: 290px; min-width: 270px;"
              *ngIf="descripcionPlan == 'PGMFA'"
            >
              Permiso Forestal
            </th>
            <th
              scope="row"
              style="width: 270px; min-width: 250px;"
              *ngIf="pmficDema && !isPgmfa"
            >
              Título Habilitante
            </th>
            <th scope="row" style="width: 120px; min-width: 100px;">Estado</th>
            <th scope="row" style="width: 170px; min-width: 150px;">
              Fecha de Registro
            </th>
            <th
              style="width: 100px; min-width: 100px;"
              *ngIf="
                descripcionPlan != 'PGMFA' &&
                descripcionPlan != 'POCC' &&
                !pmficDema
              "
            >
              Ver Contratos
            </th>
            <th
              style="width: 100px; min-width: 100px;"
              scope="row"
              class="text-center"
              *ngIf="isShowColumnRemitir && pmficDema"
            >
              Remitido
            </th>
            <th
              style="width: 100px; min-width: 100px;"
              scope="row"
              class="text-center"
              *ngIf="isShowColumnImpugnacion && pmficDema"
            >
              Impugnación
            </th>
            <th
              style="width: 100px; min-width: 100px;"
              scope="row"
              class="text-center"
              *ngIf="isShowColumnRequisitosPrevios"
            >
              Evaluación
            </th>

            <th
              style="width: 100px; min-width: 100px;"
              scope="row"
              class="text-center"
              *ngIf="isShowColumnResolucion && pmficDema"
            >
              Resolución
            </th>
            <th
              style="width: 100px; min-width: 100px;"
              scope="row"
              class="text-center"
              *ngIf="isShowColumnRequisitosMesaDePartes && pmficDema"
            >
              Requisitos Mesa de Partes
            </th>
            <th
              style="width: 100px; min-width: 100px;"
              scope="row"
              class="text-center"
              *ngIf="isShowColumnRemitir && pmficDema"
            >
              Remitir
            </th>
            <th
              style="width: 100px; min-width: 100px;"
              scope="row"
              class="text-center"
              *ngIf="isShowColumnAcciones"
            >
              Ver Plan
            </th>
            <th
              style="width: 100px; min-width: 100px;"
              scope="row"
              class="text-center"
              *ngIf="isShowColumnEvaluacion"
            >
              Ver plan
            </th>

            <th
              style="width: 100px; min-width: 100px;"
              scope="row"
              class="text-center"
              *ngIf="(usuario.sirperfil===Perfiles.TITULARTH || usuario.sirperfil===Perfiles.AUTORIDAD_REGIONAL) &&
                (pmficDema || descripcionPlan == 'PMFI')"
            >
              Resultados Obs
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex+1">
          <tr>
            <td style="width: 50px; min-width: 50px;">{{ rowIndex }}</td>
            <td style="width: 100px; min-width: 80px;">
              {{ item?.idPlanManejo }}
            </td>
            <td style="width: 120px; min-width: 100px;">
              {{ item?.infoGeneral.dniElaborador }}
            </td>
            <td style="width: 270px; min-width: 250px;">
              {{ item.descripcion == "PGMFA" ? item.infoGeneral.dniElaborador !=
              null ? item.infoGeneral.dniElaborador ==
              item.infoGeneral.ruccomunidad ? item?.infoGeneral.nombreElaborador
              : item?.infoGeneral.nombreElaborador + " " +
              item?.infoGeneral.apellidosElaborador : "" :
              item?.infoGeneral.nombreElaborador }}
            </td>
            <td style="width: 120px; min-width: 100px;" *ngIf="pmficDema">
              <div *ngIf="perfil == Perfiles.MESA_DE_PARTES">
                {{ item.descripcion }}
              </div>
              <div *ngIf="perfil != Perfiles.MESA_DE_PARTES">
                {{ item.descripcion }}
              </div>
            </td>
            <td
              style="width: 290px; min-width: 270px;"
              *ngIf="descripcionPlan == 'PGMFA'"
            >
              <div *ngIf="item.codigoUnico">
                <div style="display: inline-block;" class="mr-2">
                  <b>TH: </b
                  ><label class="codigoUnico">{{ item.codigoUnico }}</label>
                </div>
                <ng-container
                  style="display: inline-block;"
                  [ngTemplateOutlet]="verPermisoRef"
                  [ngTemplateOutletContext]="{ data: item }"
                ></ng-container>
              </div>
            </td>
            <td style="width: 270px; min-width: 250px;" *ngIf="pmficDema && !isPgmfa">
              <div *ngIf="item.codigoUnico" class="fila-content">
                <div>
                  <b>TH: </b>
                  <label class="codigoUnico">{{ item.codigoUnico }}</label>
                </div>
              </div>
            </td>
            <td style="width: 120px; min-width: 100px;">
              <span
                *ngIf="item?.codEstado != CodigoEstadoEvaluacion.FINALIZADO; else temfinalizado"
              >
                <text-color-estado
                  [codEstado]="item?.codEstado"
                  [codigoEstado]="item?.codigoEstado"
                >
                </text-color-estado>
              </span>
              <ng-template #temfinalizado>
                <span class="font-weight-bold color-green">
                  {{ item?.codigoEstado }}
                </span>
              </ng-template>
            </td>
            <td style="width: 170px; min-width: 150px;">
              {{ item?.fechaRegistro | date: "dd/MM/yyyy h:mm:ss a" : "UTC" }}
            </td>
            <td
            style="width: 100px; min-width: 100px;"
              class="text-center"
              *ngIf="
                descripcionPlan != 'PGMFA' &&
                descripcionPlan != 'POCC' &&
                !pmficDema
              "
            >
              <ng-container
                [ngTemplateOutlet]="verContratoRef"
                [ngTemplateOutletContext]="{ data: item }"
              ></ng-container>
            </td>

            <td  style="width: 100px; min-width: 100px;"  class="text-center" *ngIf="isShowColumnRemitir && pmficDema">
              {{item?.remitido ? "Si" : "Pendiente"}}
            </td>

            <td
              style="width: 100px; min-width: 100px;"
              class="text-center"
              *ngIf="isShowColumnImpugnacion && pmficDema"
            >
              <ng-container
                [ngTemplateOutlet]="impugnacionSAN"
                [ngTemplateOutletContext]="{ data: item }"
              ></ng-container>
            </td>

            <td
              style="width: 100px; min-width: 100px;"
              class="text-center"
              *ngIf="isShowColumnRequisitosPrevios  && descripcionPlan != 'PGMFA' && descripcionPlan != 'POAC'"
            >
              <ng-container
                [ngTemplateOutlet]="requisitosPreviosRef"
                [ngTemplateOutletContext]="{ data: item }"
              >
              </ng-container>
            </td>

            <td
              style="width: 100px; min-width: 100px;"
              class="text-center"
              *ngIf="isShowColumnRequisitosPrevios && descripcionPlan == 'PGMFA'"
            >
              <ng-container
                [ngTemplateOutlet]="requisitosPreviosRef"
                [ngTemplateOutletContext]="{ data: item }"
              >
              </ng-container>
            </td>

            <td
              style="width: 100px; min-width: 100px;"
              class="text-center"
              *ngIf="isShowColumnRequisitosPrevios && descripcionPlan == 'POAC'"
            >
              <ng-container
                [ngTemplateOutlet]="requisitosPreviosRef"
                [ngTemplateOutletContext]="{ data: item }"
              >
              </ng-container>
            </td>

            <td
              style="width: 100px; min-width: 100px;"
              class="text-center"
              *ngIf="isShowColumnResolucion && pmficDema"
            >
              <button-evaluar-resolucion
                [idPlanManejo]="item.idPlanManejo"
                [tipoPlan]="item.descripcion"
                [estado]="item.codEstado"
                [codigoUnico]="item?.codigoUnico"
                [idSolicitud]="item?.idPermisoForestal"
                (registroNotificacionEmit)="registroNotificacionEmit($event)"
              ></button-evaluar-resolucion>
            </td>

            <td
              style="width: 100px; min-width: 100px;"
              class="text-center"
              *ngIf="isShowColumnRequisitosMesaDePartes && pmficDema"
            >
              <ng-container
                [ngTemplateOutlet]="requisitosMesaDePartes"
                [ngTemplateOutletContext]="{ data: item }"
              ></ng-container>
            </td>

            <td
              style="width: 100px; min-width: 100px;"
              class="text-center"
              *ngIf="isShowColumnRemitir && pmficDema"
            >
              <ng-container
                *ngIf="!item.remitido"
                [ngTemplateOutlet]="remitiendoRef"
                [ngTemplateOutletContext]="{ data: item }"
              >
              </ng-container>
            </td>

            <td 
              style="width: 100px; min-width: 100px;" 
              class="text-center"
              *ngIf="isPerfilArffs || 
                (usuario.sirperfil===Perfiles.TITULARTH && 
                  (descripcionPlan == 'PGMFA' || descripcionPlan == 'POCC')
                )">
              <ng-container
                [ngTemplateOutlet]="accionesRef"
                [ngTemplateOutletContext]="{ data: item }"
              >
              </ng-container>
            </td>
            <td
              style="width: 100px; min-width: 100px;"
              class="text-center"
              *ngIf="(usuario.sirperfil===Perfiles.TITULARTH || usuario.sirperfil===Perfiles.AUTORIDAD_REGIONAL) &&
                (pmficDema || descripcionPlan == 'PMFI')"
            >
              <i
                class="pi pi-list pointer"
                title="Revisión"
                aria-hidden="true"
                (click)="verDetalle(item)"
              >
              </i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <p-confirmPopup></p-confirmPopup>
</div>
