<div class="container-fluit">
  <div class="row m-0">
    <!-- Tabla Fuste -->
    <div class="col-12 form-group">
      <label class="label">Fuste</label>
      <p-table [value]="listaFuste" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
      currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]" [totalRecords]="listaFuste.length">
        <ng-template pTemplate="header">
          <tr>
            <th>Fecha de Tala</th>
            <th>Diámetro Mayor Tala</th>
            <th>Diámetro Menor Tala</th>
            <th>Longitud</th>
            <th>Volumen</th>
            <th>Estado</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fila>
          <tr>
            <td>{{fila.fechaTala | date: "dd/MM/YYYY" : 'UTC'}}</td>
            <td>{{fila.diametroMa}}</td>
            <td>{{fila.diametroMe}}</td>
            <td>{{fila.longitud}}</td>
            <td>{{fila.volumen}}</td>
            <td>{{fila.estado}}</td>
          </tr>
        </ng-template>
      </p-table>
     <!--  <p-paginator [rows]="10" [totalRecords]="totalRecordsFuste" (onPageChange)="loadDataFuste($event)"
        [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros">
      </p-paginator> -->
    </div>
    <!-- Tabla Rama -->
    <div class="col-12 form-group">
      <label class="label">Rama</label>
      <p-table [value]="listaRama" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
      currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]" [totalRecords]="listaRama.length">
        <ng-template pTemplate="header">
          <tr>
            <th>Diámetro Mayor Tala</th>
            <th>Diámetro Menor Tala</th>
            <th>Longitud</th>
            <th>Volumen</th>
            <th>Observaciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fila>
          <tr>
            <td>{{fila.diametroMa}}</td>
            <td>{{fila.diametroMe}}</td>
            <td>{{fila.longitud}}</td>
            <td>{{fila.volumen}}</td>
            <td>{{fila.observaciones}}</td>
          </tr>
        </ng-template>
      </p-table>
      <!-- <p-paginator [rows]="10" [totalRecords]="totalRecordsRama" (onPageChange)="loadDataRama($event)"
        [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros">
      </p-paginator> -->
    </div>

    <div class="col-12 mt-4 text-right">
      <button class="p-button-danger p-button-outlined" type="button" icon="pi pi-times" pButton pRipple
        label="Cancelar" (click)="btnCancelar()"></button>
    </div>
  </div>
</div>