<div class="row-fluid">
  <div class="row m-0">
    <div class="col-12 col-sm-6 form-group">
      <label class="label">Tipo Documento de Gestión:</label>
      <input class="form-control form-control-sm " type="text"
        [(ngModel)]="contratoRequestEntity.tipoDocumentoGestionDescripcion" disabled autocomplete="off" />
    </div>
    <div class="col-12 col-sm-6 form-group">
      <label class="label">N° Documento Gestión:</label>
      <input class="form-control form-control-sm " type="text" [(ngModel)]="contratoRequestEntity.documentoGestion"
        disabled autocomplete="off" />
    </div>
  </div>

  <ng-container>
    <p-fieldset legend="Datos del Postulante" [toggleable]="true">
      <div class="row m-0">
        <div class="col-sm-12 col-md-4 form-group">
          <label>Tipo Documento</label>
          <div class="form-control-selectk">
            <p-dropdown [disabled]="true" [(ngModel)]="contratoRequestEntity.tipoDocumentoTitular"
              [options]="lstTipoDocumento" optionLabel="valor1" optionValue="codigo" placeholder="Seleccione">
            </p-dropdown>
          </div>
        </div>

        <div class="col-sm-12 col-md-4 form-group">
          <label>Número Documento</label>
          <input disabled type="text" class="form-control" [(ngModel)]="contratoRequestEntity.numeroDocumentoTitular">
        </div>

        <div class="col-sm-12 col-md-4 form-group" *ngIf="isTPERJURI">
          <label class="label">&nbsp;&nbsp;&nbsp;</label>
          <div>
            <button pButton pRipple type="button" label="Validar SUNAT"
              [ngClass]="validaRNPClass ? 'p-button-success': 'p-button-danger'"
              class="p-button-rounded p-button-outlined" (click)="validarRuc()"></button>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 form-group" *ngIf="!isTPERJURI">
          <label class="label">&nbsp;&nbsp;&nbsp;</label>
          <div>
            <button pButton pRipple type="button" label="Validar RENIEC"
              [ngClass]="validaPIDEClass ? 'p-button-success': 'p-button-danger'"
              class="p-button-rounded p-button-outlined" (click)="validarTitularPide()"></button>
          </div>
        </div>

        <div class="col-sm-12 col-md-12 form-group">
          <label>Nombre o Razón Social</label>
          <input disabled type="text" class="form-control" [(ngModel)]="contratoRequestEntity.nombreTitular"
            *ngIf="isTPERJURI">
          <input disabled type="text" class="form-control" [(ngModel)]="contratoRequestEntity.nombreTitular"
            *ngIf="!isTPERJURI">
        </div>

      </div>
    </p-fieldset>
    <br>

    <p-fieldset legend="Datos del Representante Legal" [toggleable]="true" *ngIf="isTPERJURI">
      <div class="row m-0">
        <div class="col-sm-12 col-md-4 form-group">
          <label>Tipo Documento</label>
          <div class="form-control-selectk">
            <p-dropdown [disabled]="true" [(ngModel)]="contratoRequestEntity.tipoDocumentoRepresentante"
              [options]="lstTipoDocumento" optionLabel="valor1" optionValue="codigo" placeholder="Seleccione">
            </p-dropdown>
          </div>
        </div>

        <div class="col-sm-12 col-md-4 form-group">
          <label>Número Documento</label>
          <input disabled type="text" class="form-control" [(ngModel)]="contratoRequestEntity.dniRucRepresentanteLegal">
        </div>

        <div class="col-sm-12 col-md-4 form-group">
          <label class="label">&nbsp;&nbsp;&nbsp;</label>
          <div>
            <button pButton pRipple type="button" label="Validar RENIEC"
              [ngClass]="validaPIDEClass ? 'p-button-success': 'p-button-danger'"
              class="p-button-rounded p-button-outlined" (click)="validarPide()"></button>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 form-group">
          <label>Nombre o Razón Social</label>
          <input disabled type="text" class="form-control"
            [(ngModel)]="contratoRequestEntity.nombreRaSoRepresentanteLegal">
        </div>

      </div>
      <br>
    </p-fieldset>
    <br>
    <p-fieldset legend="Documentos" [toggleable]="true">

      <div class="col-sm-12 col-md-6 form-group">
        <label>Código Partida Registral</label>
        <input type="text" class="form-control"  maxlength="25" sinSpacioInit required [ngClass]="touchedAll"
          [(ngModel)]="contratoRequestEntity.codigoPartidaRegistral">
      </div>

      <div class="row m-0">
        <div class="col-sm-12 col-md-12 form-group">
          <label>Copia literal de la inscripción registral del poder del representante legal</label>
        </div>
        <div class="col-sm-12 col-md-9">
          <upload-input-buttons [file]="fileLegal"
            (registrarArchivo)="registrarArchivo($event, 'TDOCLIRL', auxTipoArchivo.LEGAL)"
            (eliminarArchivo)="eliminarArchivo(this.contratoRequestEntity.archivoLegal, auxTipoArchivo.LEGAL)">
          </upload-input-buttons>
        </div>

        <div class="col-sm-12 col-md-12 form-group" *ngIf="isTHProcAbrev">
          <label>Documento de garantía de fiel cumplimiento</label>
        </div>
        <div class="col-sm-12 col-md-9 form-group"  *ngIf="isTHProcAbrev">
          <upload-input-buttons [file]="fileGarantia"
            (registrarArchivo)="registrarArchivo($event, 'TDOCGFC', auxTipoArchivo.GARANTIA)"
            (eliminarArchivo)="eliminarArchivo(this.contratoRequestEntity.archivoGarantia, auxTipoArchivo.GARANTIA)">
          </upload-input-buttons>
        </div>

      </div>
    </p-fieldset>
    <br>

    <div class="col-12 m-0 text-right">
      <button class="p-button-success p-button-outlined mr-2" icon="pi pi-save" pButton pRipple type="button"
        label="Enviar" (click)="registrarContrato()"></button>
      <button class="p-button-danger p-button-outlined" type="button" icon="pi pi-times" pButton pRipple
        label="Cancelar" (click)="cerrarModal()"></button>
    </div>
  </ng-container>

</div>
