<div class="container-fluid">
    <div class="row">

        <div class="col-12 mb-2 text-right">
            <button class="btn btn-sm btn-default button-more mb-2" type="button" title="Agregar" (click)="abrirModalSolicitud()">
                <i class="pi pi-plus"></i>
            </button>
        </div>

        <div class="col-12">
            <p-table [value]="listaArchivosRegistrados">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 120px;">Acciones</th>
                        <th>Entidad</th>
                        <th>Asunto</th>
                        <th>Ver</th>
                        <th>Estado</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td>
                            <a style="cursor: pointer;" title="Eliminar"> <i class="pi pi-trash" (click)="eliminarConfirm($event, data.idProcesoOfertaSolicitudOpinion)"></i> </a>
                            <!-- <a style="cursor: pointer;" title="Descargar"> <i class="pi pi-download"></i> </a> -->
                        </td>
                        <td> {{data.siglaEntidad}} </td>
                        <td> {{data.asunto}} </td>
                        <td>
                            <a style="cursor: pointer;" title="Ver"> <i class="pi pi-eye" (click)="abrirModalSolicitudVer(data)"></i> </a>
                        </td>
                        <td> {{data.estado}} </td>
                    </tr>

                </ng-template>

            </p-table>
        </div>

    </div>
</div>

<!-- MODAL PARA BOTONES DE ACCIÓN -->
<app-solicitud-opinion-lineamiento [verModalSolicitud]="verModalSolicitud" [comboEntidad]="comboEntidad"
    [comboTipoDocumento]="comboTipoDocumento" (registrarAdjunto)="registrarAdjunto($event)" (eliminarAdjunto)="eliminarAdjunto()" [opinion]="opinion"
    [archivoAdjunto]="archivoAdjunto" [disabledComboEntidad]="false" (closeModal)="cerrarModal()" [disabled]="isVerModalSolicitud">
    <ng-template #footer>
        <button icon="pi pi-save" (click)="enviarSolcitud()" pButton pRipple type="button" label="Enviar"
            class="p-button-success p-button-outlined" style="width: 106px;" *ngIf="!isVerModalSolicitud"></button>
        <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
            class="p-button-danger p-button-outlined" style="width: 106px;"></button>
    </ng-template>
</app-solicitud-opinion-lineamiento>