<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-12">
      <h3 class="title">Opciones-Acción por Aplicaciones-Perfil</h3>

      <div class="panelk br10 p-3">
        <div class="row">
          <div class="col-12 col-sm-6 form-group">
            <label class="label">Criterio de Búsqueda:</label>
            <input
              class="form-control form-control-sm"
              type="text"
              autocomplete="off"
              [(ngModel)]="objbuscar.dato"
              placeholder="Ingrese opción-acción o aplicación-perfil"
            />
          </div>
          <div class="col-12 col-sm-6 form-group">
            <label class="label">Estado:</label>
            <div class="form-control-selectk">
              <p-dropdown
                [options]="estados"
                optionValue="code"
                optionLabel="name"
                [(ngModel)]="objbuscar.idestado"
                (onChange)="objbuscar.indice = 1"
              ></p-dropdown>
            </div>
          </div>

          <div class="col-12 my-2 form-group text-center">
            <button
              class="btn btn-sm btn-secondary mr-2"
              (click)="btnLimpiar()"
            >
              Limpiar
            </button>
            <button
              class="btn btn-sm btn-secondary mr-2"
              (click)="listarBandeja(objbuscar)"
            >
              Buscar
            </button>
            <button
              class="btn btn-sm btn-secondary"
              (click)="openModalMantenimiento(null, 'C')"
            >
              Nuevo
            </button>
          </div>
        </div>
      </div>

      <p-confirmPopup></p-confirmPopup>
      <div class="mt-4">
        <div class="tablek">
          <p-table [value]="listaBandeja">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 5%">Acciones</th>
                <th style="width: 30%">Opción - Acción</th>
                <th style="width: 40%">Aplicación - Perfil</th>
                <th style="width: 25%">Estado</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td class="text-center">
                  <span
                    class="pointer mr-1"
                    title="Editar"
                    (click)="openModalMantenimiento(data, 'E')"
                  >
                    <i class="pi pi-pencil"></i>
                  </span>
                  <span
                    class="pointer mr-1"
                    title="Visualizar"
                    (click)="openModalMantenimiento(data, 'R')"
                  >
                    <i class="pi pi-eye"></i>
                  </span>

                  <span
                    class="pointer"
                    title="Eliminar"
                    (click)="openEliminarRegistro($event, data, 'B')"
                  >
                    <i class="pi pi-trash"></i>
                  </span>
                </td>
                <td>{{ data.opcionAccion }}</td>
                <td>{{ data.perfilAplicacion }}</td>
                <td>{{ data.estado == "1" ? "Activo" : "Inactivo" }}</td>
              </tr>
            </ng-template>
          </p-table>
          <p-paginator
            [rows]="10"
            [totalRecords]="totalRecords"
            (onPageChange)="loadData($event)"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Total : {totalRecords} registros"
            [rowsPerPageOptions]="[10, 25, 50, 100]"
          ></p-paginator>
        </div>
      </div>
    </div>

    <p-dialog
      header="{{ tituloModalMantenimiento }}"
      [(visible)]="verModalMantenimiento"
      [modal]="true"
      [style]="{ width: '70vw' }"
      [maximizable]="false"
      [baseZIndex]="10000"
      [draggable]="false"
      [resizable]="true"
    >
      <ng-template pTemplate="content">
        <div>
          <div class="row">
            <div class="col-12 col-sm-3">
              <label class="label">Aplicación-Perfil:</label>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-control-selectk">
                <p-dropdown
                  [disabled]="accionMantenimiento == 'R'"
                  [options]="lstComboPerfilAplicacion"
                  optionLabel="text"
                  optionValue="value"
                  [filter]="true"
                  filterBy="text"
                  [showClear]="true"
                  placeholder="Select a Aplicacion-Perfil"
                  (onChange)="obtenerOpcionAccionAplicacionPerfil($event)"
                  [(ngModel)]="perfilAplicacionContext"
                  [style]="{ width: '100%' }"
                ></p-dropdown>
              </div>
            </div>
          </div>
          <br />
          <div class="row mt-2">
            <div class="col-sm-12 col-md-12 text-right">
              <button
                class="btn btn-sm btn-default button-more mb-2"
                type="button"
                title="Agregar"
                (click)="AgregarDetalle()"
                *ngIf="
                  accionMantenimiento != 'R' && perfilAplicacionContext > 0
                "
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12" style="min-height: 20vw">
              <p-table
                [value]="lstDetalle"
                [paginator]="true"
                [rows]="10"
                [totalRecords]="lstDetalle.length"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Total : {totalRecords} registros"
                [rowsPerPageOptions]="[10, 25, 50, 100]"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 5%">Acciones</th>
                    <th style="width: 60%">Opción-Acción</th>
                    <th style="width: 35%">Estado</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                  <tr>
                    <td class="text-center">
                      <span
                        class="pointer"
                        *ngIf="accionMantenimiento != 'R'"
                        title="Eliminar"
                        (click)="openEliminarRegistro($event, data, 'D')"
                      >
                        <i class="pi pi-trash"></i>
                      </span>
                    </td>
                    <td>
                      <div class="form-control-selectk">
                        <p-dropdown
                          [disabled]="accionMantenimiento == 'R'"
                          [options]="lstComboOpcionAccion"
                          optionLabel="text"
                          optionValue="value"
                          [filter]="true"
                          filterBy="text"
                          [showClear]="true"
                          placeholder="Select a Accion Perfil"
                          [(ngModel)]="data.idopcionAccion"
                          [style]="{ width: '100%' }"
                          appendTo="body"
                        ></p-dropdown>
                      </div>
                    </td>
                    <td>
                      <div class="form-control-selectk">
                        <p-dropdown
                          [(ngModel)]="data.estado"
                          appendTo="body"
                          [disabled]="accionMantenimiento == 'R'"
                          [options]="estadosDetalle"
                          optionValue="code"
                          optionLabel="name"
                        ></p-dropdown>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <button
          icon="pi pi-save"
          *ngIf="accionMantenimiento != 'R'"
          (click)="registrarOpcionAccionAplicacionPerfil()"
          pButton
          pRipple
          type="button"
          label="Guardar"
          class="p-button-success p-button-outlined"
          style="width: 106px"
        ></button>
        <button
          icon="pi pi-times"
          *ngIf="accionMantenimiento != 'R'"
          (click)="verModalMantenimiento = false"
          pButton
          pRipple
          type="button"
          label="Cancelar"
          class="p-button-danger p-button-outlined"
          style="width: 106px"
        ></button>
      </ng-template>
    </p-dialog>
  </div>
  <p-toast></p-toast>
</div>
