<div class="row m-0 pt-3">
  <div class="col-12 pt-2 text-right">
    <button
      icon="pi pi-plus"
      (click)="abrirModalEspecieFauna()"
      pButton
      pRipple
      type="button"
      label=""
      class="p-button-success p-button-text button-more"
      [disabled]="disabled"
    ></button>
  </div>

  <div class="col-12 pt-2">
    <p-table
      [value]="selectFauna"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Total : {totalRecords} registros"
      [rowsPerPageOptions]="[10,25,50]"
      class="table-justify"
      [scrollable]="true"
      [style]="{width:'100%'}"
      [totalRecords]="selectFauna.length"
    >
      <ng-template pTemplate="header">
        <tr>
          <th colspan="7" class="text-center">Fauna Silvestre presente en la UMF</th>
        </tr>
        <tr>
          <th style="min-width: 80px;" class="text-center">Acciones</th>
          <th style="min-width: 270px;">Nombre común</th>
          <th style="min-width: 350px;">Nombre nativo</th>
          <th style="min-width: 230px;">Nombre científico</th>
          <th style="min-width: 350px;">Categoria de amenaza</th>
          <th style="min-width: 350px;">Apéndice CITES</th>
          <th style="min-width: 450px;">Observaciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
          <td style="min-width: 80px;" class="text-center">
            <span
              class="pointer mr-1"
              title="Editar"
              (click)="!disabled&&(data.edit = !data.edit)"
            >
              <i class="pi pi-pencil"></i>
            </span>
            <span
              class="pointer ml-1"
              title="Eliminar"
              (click)="!disabled&&openEliminarFauna($event, rowIndex, data)"
            >
              <i class="pi pi-trash"></i>
            </span>
          </td>
          <td style="min-width: 270px;">{{ data.nombreComun }}</td>
          <td style="min-width: 350px;">
            <!-- <input type="text" class="form-control" [(ngModel)]="data.nombrecomercial" /> -->
            <ng-container *ngIf="!data.edit">{{ data.nombrecomercial }}</ng-container>
            <ng-container *ngIf="data.edit">
              <textarea maxlength="100" rows="2" class="form-control" [disabled]="disabled" [(ngModel)]="data.nombrecomercial"></textarea>
            </ng-container>
          </td>
          <td style="min-width: 230px;">{{ data.nombreCientifico }}</td>
          <td style="min-width: 350px;">
            <!-- <input type="text" class="form-control" [(ngModel)]="data.amenaza" /> -->
            <ng-container *ngIf="!data.edit">{{ data.amenaza }}</ng-container>
            <ng-container *ngIf="data.edit">
              <textarea maxlength="100" rows="2" class="form-control" [disabled]="disabled" [(ngModel)]="data.amenaza"></textarea>
            </ng-container>
          </td>
          <td style="min-width: 350px;">
            <!-- <input type="text" class="form-control" [(ngModel)]="data.cities" /> -->
            <ng-container *ngIf="!data.edit">{{ data.cities }}</ng-container>
            <ng-container *ngIf="data.edit">
              <textarea maxlength="100" rows="2" class="form-control" [disabled]="disabled" [(ngModel)]="data.cities"></textarea>
            </ng-container>
          </td>
          <td style="min-width: 450px;">
            <!-- <input type="text" class="form-control" [(ngModel)]="data.estado" /> -->
            <ng-container *ngIf="!data.edit">{{ data.estado }}</ng-container>
            <ng-container *ngIf="data.edit">
              <textarea maxlength="250" rows="2" class="form-control" [disabled]="disabled" [(ngModel)]="data.estado"></textarea>
            </ng-container>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="row m-0 mt-3">
  <div class="col-12 pt-2">
    <button
      type="submit"
      class="btn btn-sm btn-primary2 ml-4"
      (click)="guardarAspectosBiologicos()"
      [disabled]="disabled || (isSubmitting$ | async) || selectFauna.length == 0"
      type="button"
    >
      Guardar
    </button>
  </div>
</div>

<p-dialog
  header="Especies Fauna"
  appendTo="body"
  [(visible)]="verModalFauna"
  [modal]="true"
  [style]="{width: '60vw'}"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
>
  <ng-template pTemplate="content">
    <div class="row m-0">
      <div class="col-12 col-sm-9">
        <div class="form-group">
          <label class="label">Nombre Científico o Nombre Común</label>
          <div class="form-control-selectk">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar..."
              [(ngModel)]="queryFauna"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="form-group">
          <label class="label">&nbsp;&nbsp;</label>
          <div class="text-center">
            <button type="button" class="btn-primary2" (click)="filtrarFauna()">
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12">
        <p-table [value]="comboListEspeciesFauna">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 50px;"></th>
              <th>Nombre Científico</th>
              <th>Nombre Común</th>
              <th>Familia</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>
                <p-checkbox
                  name="fauna"
                  [value]="data"
                  [(ngModel)]="selectedValue"
                  (onChange)="onChangeFauna($event, data)"
                >
                </p-checkbox>
              </td>
              <td>{{ data.nombreCientifico }}</td>
              <td>{{ data.nombreComun }}</td>
              <th>{{ data.familia }}</th>
            </tr>
          </ng-template>
        </p-table>
        <p-paginator
          [rows]="10"
          [totalRecords]="totalRecords"
          (onPageChange)="loadData($event)"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Total : {totalRecords} registros"
          [rowsPerPageOptions]="[10, 25, 50]"
        >
        </p-paginator>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-save"
      (click)="guardarFauna()"
      pButton
      pRipple
      type="button"
      label="Aceptar"
      class="p-button-success p-button-outlined"
    ></button>
    <button
      icon="pi pi-times"
      (click)="verModalFauna = false"
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger p-button-outlined"
    ></button>
  </ng-template>
</p-dialog>
