<div class="container-fluid form-container">

  <div class="row">

    <div class="col-sm-12">
      <div class="table">
        <p-table [value]="fileList">
          <ng-template pTemplate="header">
            <tr>
              <!-- <th scope="col" class="text-center" style="width: 80px;">Acciones </th> -->
              <th scope="col" class="text-center">Nombre de documento </th>
              <th scope="col" class="text-center">Adjuntar Documento</th>
              <th scope="col" class="text-center">Descargar documento</th>
              <th scope="col" class="text-center">Fecha</th>
            </tr>

          </ng-template>
          <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <tr>
              <!-- <td class="text-center">
                <span class="pointer" title="Eliminar" (click)="openEliminarRegistro($event,rowIndex)">
                  <i class="pi pi-trash"></i>
                </span>
              </td> -->
              <td class="text-center"> {{data.descripcion}}</td>
              <td class="text-center">
                <i id="btnCargaShapeFile" (click)="fileInput.click()" class="pointer pi pi-upload">
                  <input #fileInput type="file" (change)="onFileChange($event)" style="display: none;" />
                </i>
              </td>
              <td class="text-center"> <span class="pointer" title="Descargar" (click)="verArchivo(data)"> <i
                    class="pi pi-download"></i> </span>
              </td>
              <td class="text-center"> {{data.date | date: 'dd/MM/yyyy' }} </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

  </div>

</div>
