<div class="container-fluid">
  <app-mapa
    #map
    (isEdited)="isEditedMap = true"
    (deleteLayer)="deleteLayer($event)"
    (deleteAll)="deleteAllLayers()"
    [disabled]="disabled || isPerfilArffs"
  >
  </app-mapa>

  <div class="row mt-3">
    <div class="col-12">
      <h3 class="title2 fz-13 label">Cuadro de Categoría de Ordenamiento 1</h3>
    </div>
    <div class="col-12">
      <div class="col-12 text-right">
        <button
          icon="pi pi-plus"
          (click)="openModal('Nuevo Registro', null, 'C')"
          pButton
          pRipple
          type="button"
          label=""
          class="p-button-success p-button-text"
          [disabled]="disabled || isPerfilArffs"
        ></button>
      </div>

      <table class="table table-boderk">
        <thead>
          <tr>
            <th>Acciones</th>
            <th>Denominación o Espacios</th>
            <th>Adjuntar</th>
            <th>Capa</th>
            <th>Superficie Aproximada (ha)</th>
            <th>Porcentaje (%)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listOrdenInterno; index as i">
            <td>
              <span
                (click)="!disabled&&
                  !isPerfilArffs && openModal('Editar Registro', item, 'E', i)
                "
                class="pointer mr-1"
                title="Editar"
              >
                <i class="pi pi-pencil"></i>
              </span>
              <span
                (click)="!disabled&& !isPerfilArffs && openEliminar($event, item, i)"
                class="pointer"
                title="Eliminar"
              >
                <i class="pi pi-trash"></i>
              </span>
            </td>
            <td>{{ item.categoria }}</td>
            <td>
              <ng-container
                *ngIf="item?.observacion == RespuestaTipo.SI; else elseBtnTpl"
              >
                <button
                  type="button"
                  class="btn-secondary off" [disabled]="disabled"
                  style="min-width: 40px"
                  (click)="download(item)"
                >
                  <i class="pi pi-download" aria-hidden="true"></i>
                </button>
              </ng-container>
              <ng-template #elseBtnTpl>
                <upload-button
                  label=""
                  accept=".zip"
                  style="min-width: 40px; width: 40px"
                  icon="upload"
                  (change)="addLayer(item, $event)"
                  [disabled]="disabled || isPerfilArffs"
                >
                </upload-button>
              </ng-template>
            </td>

            <td>
              <div
                class="d-flex justify-content-center align-items-center w-100"
              >
                <div
                  class="point-layer"
                  [ngStyle]="{ 'background-color': item?.observacionDetalle }"
                ></div>
              </div>
            </td>
            <td>
              {{ item.areaHA | number: "1.2-3" }}
            </td>
            <td>
              {{ item.areaHAPorcentaje | number: "1.2-3" }}
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr style="background: #dfe0ea80">
            <td class="text-left"><b>Total</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ totalArea | number: "1.2-3" }}</td>
            <td>{{ totalPorcentaje * 100 | number: "1.2-3" }}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <evaluacion-archivo-shared
    [idPlanManejo]="idPlanManejo"
    [cadigoTab]="codigoAcordeonCuadroCategoria"
    [base]="evaluacionCuadroCategoria"
    *ngIf="isPerfilArffs"
  >
    <ng-template #conatinertop> </ng-template>
    <ng-template #conatinerbottom> </ng-template>
  </evaluacion-archivo-shared>


  <div class="step__btn mt-4" *ngIf="!isPerfilArffs">
    <button class="btn-primary2" (click)="regresar.emit()">Anterior</button>
    <button
      class="btn-primary2"
      (click)="guardar()"
      type="button"
      [disabled]="disabled"
    >
      Guardar
    </button>
    <button class="btn-primary2" (click)="siguiente.emit()">Siguiente</button>
  </div>

  <div class="step__btn mt-4" *ngIf="isPerfilArffs">
    <message-evaluation></message-evaluation>
    <button class="btn-primary2" (click)="regresar.emit()">Anterior</button>
    <button class="btn-primary2" (click)="registrarEvaluacion()">
      Guardar Evaluación
    </button>
    <button class="btn-primary2" (click)="retornarFlujoEvaluacion()">
      Retornar Flujo Evaluacion
    </button>
    <button class="btn-primary2" (click)="siguiente.emit()">Siguiente</button>
  </div>
  <br />
</div>

<p-toast position="top-right" key="tr"></p-toast>
