.chip-green {
  background: #c2e3c2;
  color: #067206;
}
.button-container{

  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

}

.form-container{
  border: 1px solid #dee2e6;
  background: #ffffff;
  color: #495057;
  border-radius: 8px;
  padding: 10px;
  width: 98%;
  margin: auto;
}