<div class="container-fluid">

  <div class="button-container">

    <!-- <div class="form-group ">
      <label class="label">&nbsp;&nbsp;</label>
      <div class="text-center">
        <button type="button" id="btnCargaShapeFile" (click)="fileInput.click()" class="btn btn-sm btn-secondary">
          Registrar una resolución pra declarar Nulidad de inscripción
          <input #fileInput type="file" (change)="onFileChange($event)" style="display: none;" />
        </button>
      </div>
    </div> -->

  </div>

  <div class="row" *ngIf="idSolicitante == 4">
    <div class="col-12">
      <tabla-documentos [fileList]="fileList"></tabla-documentos>
    </div>
  </div>

  <div class="row mt-4 mb-4" *ngIf="idSolicitante == 4">
    <div class="col-12">
      <button class="btn btn-sm btn-secondary mr-3" (click)="notificar('Se ha notificado a SERFOR')">
        Notificar al SERFOR
      </button>
      <button class="btn btn-sm btn-secondary" (click)="notificar('Se ha notificado al solicitante')">
        Notificar a solicitante
      </button>

    </div>
  </div>

  <br>
  <br>


  <div class="row form-container" *ngIf="idSolicitante == 1">
    <div class="col-12">
      <p-table [value]="fileUpdate">
        <ng-template pTemplate="header">
          <tr>
            <th>Actualizaciones</th>
            <th>Fecha</th>
            <th>Hora</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>{{data.descripcion}}</td>
            <td> {{data.date | date: 'dd/MM/yyyy' }} </td>
            <td> {{data.date | date: 'HH:mm' }} </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>


</div>