<div class="container-fluit pt-4">
  <div class="row m-0">
    <div class="col-12 form-group">
      <p-accordion>
        <p-accordionTab header="Del Contrato" [selected]="true">
          <div class="p-4">
<!--
            <div class="row">
              <div class="col-sm-12 col-md-6 form-group">
                <label class="label">Seleccionar Contrato:</label>
                <div class="form-control-selectk">
                  <p-dropdown class="fomr-control" optionValue="codigo" optionLabel="valorPrimario" [options]="comboContratos"></p-dropdown>
                </div>
              </div>
            </div>
-->
            <!-- Nuevo diseño revisar -->
            <div class="row m-0 mt-2">

              <div class="col-12 my-4 formGroup">
                <h3 class="title2">DATOS DEL TITULAR</h3>
              </div>

              <div class="col-sm-12 col-md-4 form-group">
                <label class="label">Tipo de Persona</label>
                <input [(ngModel)]="infoGeneral.tipoPersonaTitularTHDesc" disabled=true class="form-control form-control-sm " type="tetx" autocomplete="off" />
              </div>
              <div class="col-sm-12 col-md-4 form-group">
                <label class="label">Tipo de Documento</label>
                <input [(ngModel)]="infoGeneral.tipoDocumentoTitularTHDesc" disabled=true class="form-control form-control-sm " type="tetx" autocomplete="off" />
              </div>

              <div class="col-sm-12 col-md-4 form-group">
                <label class="label">Número de Documento</label>
                <input [(ngModel)]="infoGeneral.numeroDocumentoTitularTH" class="form-control form-control-sm " disabled=true type="tetx" autocomplete="off" />
              </div>

              <ng-container *ngIf="true">
                <div class="col-sm-12 col-md-4 form-group">
                  <label class="label">Nombres</label>
                  <input [(ngModel)]="infoGeneral.nombreTitularTH" class="form-control form-control-sm " disabled=true type="tetx" autocomplete="off" />
                </div>
                <div class="col-sm-12 col-md-4 form-group">
                  <label class="label">Apellido Paterno</label>
                  <input [(ngModel)]="infoGeneral.apellidoPaternoTitularTH" class="form-control form-control-sm " disabled=true type="tetx" autocomplete="off" />
                </div>
                <div class="col-sm-12 col-md-4 form-group">
                  <label class="label">Apellido Materno</label>
                  <input [(ngModel)]="infoGeneral.apellidoMaternoTitularTH" class="form-control form-control-sm " disabled=true type="tetx" autocomplete="off" />
                </div>

                <div class="col-sm-12 col-md-4 form-group">
                  <label class="label">Domicilio legal / Distrito:</label>
                  <input [(ngModel)]="infoGeneral.nombreDistritoContrato" disabled=true class="form-control form-control-sm " type="tetx" autocomplete="off" />
                </div>

                <div class="col-sm-12 col-md-4 form-group">
                  <label class="label">Departamento</label>
                  <input [(ngModel)]="infoGeneral.nombreDepartamentoContrato" disabled=true class="form-control form-control-sm " type="tetx" autocomplete="off" />
                </div>

                <div class="col-sm-12 col-md-4 form-group">
                  <label class="label">Provincia</label>
                  <input [(ngModel)]="infoGeneral.nombreProvinciaContrato" disabled=true class="form-control form-control-sm " type="tetx" autocomplete="off" />
                </div>

                <div class="col-sm-12 col-md-12 form-group">
                  <label class="label">Email</label>
                  <input [(ngModel)]="infoGeneral.emailTitularTH" class="form-control form-control-sm " disabled=true type="tetx" autocomplete="off" />
                </div>
              </ng-container>

              <ng-container *ngIf="true">
                <div class="col-sm-12 col-md-6 form-group">
                  <label class="label">Razón Social</label>
                  <input [(ngModel)]="infoGeneral.razonSocialTitularTH" disabled=true class="form-control form-control-sm " type="tetx" autocomplete="off" />
                </div>
                <div class="col-sm-12 col-md-6 form-group">
                  <label class="label">Dirección Empresa</label>
                  <input [(ngModel)]="infoGeneral.direccionTitularTH" class="form-control form-control-sm " disabled=true type="tetx" autocomplete="off" />
                </div>



                <div class="col-sm-12 col-md-12 form-group">
                  <label class="label">Email Empresa</label>
                  <input [(ngModel)]="infoGeneral.emailTitularTH" class="form-control form-control-sm " disabled=true type="tetx" autocomplete="off" />
                </div>
              </ng-container>

            </div>
            <!-- DATOS REPRESENTANTE -->
            <div class="row m-0 mt-2">
              <div class="col-12 my-4 formGroup">
                <h3 class="title2">REPRESENTANTE LEGAL</h3>
              </div>

              <div class="col-sm-12 col-md-4 form-group">
                <label class="label">Tipo de Documento</label>
                <input [(ngModel)]="infoGeneral.tipoDocumentoRepLegalDesc" disabled=true class="form-control form-control-sm " type="tetx" autocomplete="off" />
              </div>
              <div class="col-sm-12 col-md-4 form-group">
                <label class="label">Número de Documento</label>
                <input [(ngModel)]="infoGeneral.numeroDocumentoRepLegal" disabled=true class="form-control form-control-sm " type="tetx" autocomplete="off" />
              </div>
              <div class="col-sm-12 col-md-4 form-group">
                <label class="label">Nombres</label>
                <input [(ngModel)]="infoGeneral.nombreRepresentanteLegal" disabled class="form-control form-control-sm " type="tetx" autocomplete="off" />
              </div>

              <div class="col-sm-12 col-md-4 form-group">
                <label class="label">Apellido Paterno</label>
                <input [(ngModel)]="infoGeneral.apellidoPaternoRepLegal" disabled=true class="form-control form-control-sm " type="tetx" autocomplete="off" />
              </div>
              <div class="col-sm-12 col-md-4 form-group">
                <label class="label">Apellido Materno</label>
                <input [(ngModel)]="infoGeneral.apellidoMaternoRepLegal" disabled=true class="form-control form-control-sm " type="tetx" autocomplete="off" />
              </div>


              <div class="col-sm-12 col-md-4 form-group">
                <label class="label">Email</label>
                <input [(ngModel)]="infoGeneral.emailRepLegal" disabled=true class="form-control form-control-sm " type="tetx" autocomplete="off" />
              </div>

              <!--<div class="col-sm-12 col-md-8 form-group">
                <label class="label">Adjuntar Constancia de Representativilidad</label>
                <upload-input-button></upload-input-button>
              </div>-->

            </div>
              <!--
              <div class="col-sm-12 col-md-8 form-group">
                  <app-anexo-upload-file
                  [label]="'Adjuntar Contrato:'"
                  [idPlanManejo]="idPlanManejo"
                  [idTipoDocumento]="codigo_PGMF_CONTRATO"
                  [codigoProceso]="codigo_PGMF_CONTRATO"
                  (registrarArchivoId)="cargarIdArchivo($event)"
                  [ocultarJustificacion]="false"
                  [ocultarActualizar]="false"
                  [disableEliminar]="!isDisableImput"
                  [mensajeGuardar]="'Se guardó el Contrato correctamente.'"
                  [mensajeEliminar]="'Se eliminó el Contrato correctamente.'"
                >
                </app-anexo-upload-file>
              </div>
              -->



             <!-- ************************************* -->
            </div>
          <lineamiento-inner [base]="lineamiento" [titulo]="'Evaluación Lineamiento 3.1'" [codigoEstado]="codigoEstado"
            [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval" [isRequiredObsEval]="isRequiredObsEval">
            <ng-template #descripcion>
              <div class="row m-0">
                <div class="col-12">
                  <p class="fz-11 m-0 mb-1">Verificar que se haya incluido la información siguiente:</p>
                  <p class="fz-11 m-0 mb-1 ml-4">1. Los datos personales del concesionario, así como de su representante
                    legal, en caso de personas jurídicas. El domicilio debe encontrarse correctamente consignado.</p>
                  <p class="fz-11 m-0 mb-3 ml-4">2. La vigencia de la concesión, la fecha de inicio y finalización.
                    Además, verificar que no exista alguna causal de extinción del título habilitante, contemplada en el
                    artículo 45 del Reglamento para la Gestión Forestal.</p>
                  <p class="fz-11 m-0 mb-1">Asimismo, se debe corroborar si es que la concesión ha sido transferida, sea
                    por sucesión testamentaria o cesión de posición contractual, a fin de determinar la legitimidad del
                    solicitante.</p>
                </div>
              </div>
            </ng-template>
          </lineamiento-inner>
        </p-accordionTab>
        <p-accordionTab header="Del Plan General de Manejo Forestal">
          <div class="p-4">
            <div class="row form-group">

              <div class="col-12 col-md-2">
                <label class="label">Fecha de Presentación del PGMF:</label>
              </div>
              <!--
              <div class="col-12 col-md-6">
                <div class="content-date">
                  <input [(ngModel)]="infoGeneral.fechaPresentacion" [disabled]="isDisbledObjFormu" autocomplete="off" class="form-control"
                    matInput [matDatepicker]="fi" />
                  <i class="pi pi-calendar pointer" (click)="fi.open()" aria-hidden="true"></i>
                  <mat-datepicker #fi></mat-datepicker>
                </div>
              </div>
              -->
              <div class="col-12 col-md-2">
                
                <div class="content-date">
                  <input
                    [(ngModel)]="infoGeneral.fechaPresentacion"
                    name="fechaDesde"
                    autocomplete="off"
                    class="form-control"
                    [min]="minDate"
                    matInput
                    [matDatepicker]="fechaDesde"
                    readonly
                    [disabled]="!isDisableImput"
                  />
                  <i class="pi pi-calendar pointer" (click)="fechaDesde.open()"></i>
                  <mat-datepicker #fechaDesde></mat-datepicker>
                </div>
              </div>


            </div>

            <div class="row form-group">
              <div class="col-12 col-md-2">
                <label class="label">Duración del PGMF (años):</label>
              </div>

              <div class="col-12 col-md-2">
                <!-- [disabled]="disabled" -->
                <input maxlength="10px" [(ngModel)]="infoGeneral.duracion" type="number" autocomplete="off"
                  class="form-control form-control-sm" [disabled]="true" />
              </div>

              <div class="col-12 col-md-2">
                <label class="label">Fecha de Inicio:</label>
              </div>
              <!--
              <div class="col-12 col-md-2">
                <div class="content-date">
                  <input [(ngModel)]="infoGeneral.fechaInicio" autocomplete="off" class="form-control" matInput
                    [matDatepicker]="fchinicio" [disabled]="!isDisableImput" />
                  <i class="pi pi-calendar pointer" (click)="fchinicio.open()" aria-hidden="true"></i>
                  <mat-datepicker #fchinicio></mat-datepicker>
                </div>
              </div>
              -->

              <div class="col-12 col-md-2">
                <!-- [disabled]="!isDisableImput" -->
                <div class="content-date">
                  <input
                    [(ngModel)]="infoGeneral.fechaInicio"
                    name="fechaInicio"
                    autocomplete="off"
                    class="form-control"
                    [min]="minDate"
                    matInput
                    [matDatepicker]="fechaInicio"
                    readonly
                    [disabled]="!isDisableImput"
                    (dateChange)="calculaAnios()"
                  />
                  <i class="pi pi-calendar pointer"  (click)="fechaInicio.open()"></i>
                  <mat-datepicker  #fechaInicio
                   
                  
                  ></mat-datepicker>
                </div>
              </div>


              <div class="col-12 col-md-2">
                <label class="label">Fecha de Finalización:</label>
              </div>

              <!--<div class="col-12 col-md-2">
                <div class="content-date">
                  <input [(ngModel)]="infoGeneral.fechaFin"
                      autocomplete="off"
                      class="form-control" matInput
                      [matDatepicker]="fchfin"
                      [disabled]="!isDisableImput" />
                  <i class="pi pi-calendar pointer" (click)="fchfin.open()" aria-hidden="true"></i>
                  <mat-datepicker #fchfin></mat-datepicker>
                </div>

              </div>-->
              <div class="col-12 col-md-2">
                <!-- [disabled]="!isDisableImput" -->
                <div class="content-date">
                  <input
                    [(ngModel)]="infoGeneral.fechaFin"
                    name="fechaFin"
                    autocomplete="off"
                    class="form-control"
                    [min]="minDate"
                    matInput
                    [matDatepicker]="fechaFin"
                    readonly
                    (dateChange)="calculaAnios()"
                    [disabled]="!isDisableImput"
                  />
                  <i class="pi pi-calendar pointer"  (click)="fechaFin.open()"></i>
                  <mat-datepicker 

                  #fechaFin></mat-datepicker>
                </div>
              </div>


            </div>

            <div class="row form-group">
              <div class="col-12 col-md-2">
                <label class="label">Área Total de la Concesión (ha):</label>
              </div>

              <div class="col-12 col-md-2">
                <!-- [disabled]="disabled" -->
                <input maxlength="10px" [(ngModel)]="infoGeneral.areaTotalConcesion" type="text" autocomplete="off"
                  class="form-control form-control-sm" disabled />
              </div>

              <div class="col-12 col-md-2">
                <label class="label">Área de Bosque de Producción Forestal (ha):</label>
              </div>

              <div class="col-12 col-md-2">
                <!-- [disabled]="disabled" -->
                <input maxlength="10px" [(ngModel)]="infoGeneral.areaBosqueProduccionForestal" type="number" autocomplete="off"
                  class="form-control form-control-sm" [disabled]="!isDisableImput" />
              </div>

              <div class="col-12 col-md-2">
                <label class="label">Área de Protección (ha):</label>
              </div>

              <div class="col-12 col-md-2">
                <!-- [disabled]="disabled" -->
                <input maxlength="10px" [(ngModel)]="infoGeneral.areaProteccion" type="number" autocomplete="off"
                  class="form-control form-control-sm" [disabled]="!isDisableImput" />
              </div>
            </div>

            <div class="row form-group">
              <div class="col-12 col-md-2">
                <label class="label">N° Bloques Quinquenales (de ser el caso):</label>
              </div>

              <div class="col-12 col-md-2">
                <!-- [disabled]="disabled" -->
                <input maxlength="10px" [(ngModel)]="infoGeneral.numeroBloquesQuinquenales" type="number" autocomplete="off"
                  class="form-control form-control-sm" [disabled]="!isDisableImput" />
              </div>

              <div class="col-12 col-md-2">
                <label class="label">Potencial Maderable (m<sup>3</sup> totales):</label>
              </div>

              <div class="col-12 col-md-2">
                <!-- [disabled]="disabled" -->
                <input maxlength="10px" [(ngModel)]="infoGeneral.potencialMaderable" type="number" autocomplete="off"
                  class="form-control form-control-sm" [disabled]="!isDisableImput" />
              </div>

              <div class="col-12 col-md-2">
                <label class="label">Volumen de Corta Anual Permisible (m<sup>3</sup>):</label>
              </div>

              <div class="col-12 col-md-2">
                <!-- [disabled]="disabled" -->
                <input maxlength="10px" [(ngModel)]="infoGeneral.volumenCortaAnualPermisible" type="number" autocomplete="off"
                  class="form-control form-control-sm" [disabled]="!isDisableImput" />
              </div>
            </div>
          </div>
          <lineamiento-inner [base]="lineamiento2" [titulo]="'Evaluación Lineamiento 3.2'" [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval">
            <ng-template #descripcion>
              <div class="row m-0">
                <div class="col-12">
                  <p class="fz-11 m-0 mb-1">Verificar que se consigne información sobre la duración del PGMF, la que
                    debe ser concordante con el periodo de vigencia de la concesión e incluir la fecha de inicio y
                    finalización: el área total de la concesión, que incluya la superficie correspondiente a los bosques
                    de producción forestal y áreas de protección: el potencial maderable total:
                    y. el volumen de corta anual permisible.</p>
                </div>
              </div>
            </ng-template>
          </lineamiento-inner>
        </p-accordionTab>

        <p-accordionTab header="Del Regente Forestal del PGMF">
          <regente-form [idPgmf]="idPgmf" [infoGeneral]="infoGeneral" [disabled]="disabled" [isDisbledObjFormu]="isDisbledObjFormu"></regente-form>
          <lineamiento-inner [base]="lineamiento3" [titulo]="'Evaluación Lineamiento 3.3'" [isShowObjEval]="isShowObjEval" [isDisabledObjEval]="isDisabledObjEval">
            <ng-template #descripcion>
              <div class="row m-0">
                <div class="col-12">
                  <p class="fz-11 m-0 mb-1">Verificar que el regente se encuentre inscrito en el Registro Nacional de
                    Regentes Forestales y de Fauna Silvestre del SERFOR, con licencia vigente y categoría de
                    regencia para productos forestales maderables; asimismo, debe encontrarse habilitado por su
                    respectivo colegio profesional. El contrato con el regente debe estipular
                    que es para la formulación e implementación del plan manejo forestal.</p>
                </div>
              </div>
            </ng-template>
          </lineamiento-inner>
        </p-accordionTab>

        <div class="step__btn mt-4">
          <button class="btn-primary2" *ngIf="false" (click)="regresarTab()">Regresar</button>
          <button class="btn-primary2" (click)="guardar()" [disabled]="isDisbledObjFormu">Guardar</button>
          <button class="btn-primary2" (click)="siguienteTab()">Siguiente</button>
        </div>
        <br />
      </p-accordion>
    </div>
  </div>
</div>
