<div class="container-fluit">
    <div class="row m-0">
        <div class="col-12 pt-4">
            <h3 class="title fz-17" *ngIf="id_solplantforest">REVISIÓN DE INSCRIPCION EN EL REGISTRO NACIONAL DE
                PLANTACIONES FORESTALES</h3>
            <h3 class="title fz-17" *ngIf="!id_solplantforest">FORMATO PARA LA INSCRIPCION EN EL REGISTRO NACIONAL DE
                PLANTACIONES FORESTALES</h3>

        </div>

        <div class="col-10 pt-2">
            <h3 class="title fz-17" *ngIf="id_solplantforest"> Codigo Único
                {{_data.solPlantacionForestal.id_solplantforest}}</h3>
        </div>
        <div [class]="'chip-' + _data.solPlantacionForestal.estadoSolPlanta.id_solplantforestal_estado ">
            {{_data.solPlantacionForestal.estadoSolPlanta.descripcion}}
        </div>
        <!-- <div class="col-12 pt-4">
            <p-dropdown [options]="cmbSolicitante" [(ngModel)]="idSolicitante" optionLabel="text" optionValue="value">
            </p-dropdown>
            <br />
            <br />
        </div> -->

        <div class="col-12 mb-3">
            <app-rpf-informacion-solicitante [solPlantacionForestal]="_data.solPlantacionForestal"
                [ListaDistrito]="ListaDistritoInformacion" [ListaProvincia]="ListaProvinciaInformacion"
                [ListaDepartamento]="ListaDepartamento" [ListaProvinciaRepr]="ListaProvinciaRepr"
                [ListaDistritoRepr]="ListaDistritoRepr" [idSolicitante]="idSolicitante">
            </app-rpf-informacion-solicitante>
        </div>

        <div class="col-12 mb-3">
            <app-rpf-area [area]="_data.solPlantacionForestalArea" [ListaDistrito]="ListaDistritoArea"
                [ListaProvincia]="ListaProvinciaArea" [idSolicitante]="idSolicitante"
                [ListaDepartamento]="ListaDepartamento"></app-rpf-area>
        </div>

        <div class="col-12 mb-3">
            <app-rpf-area-plantada [areaPlantada]="data.areaPlantada" [usuario]="usuario"
                [id_solplantforest]="id_solplantforest" [idSolicitante]="idSolicitante"></app-rpf-area-plantada>
        </div>
        <div class="col-12">
            <p-fieldset [collapsed]="true" legend="4. Detalle de plantación forestal" [toggleable]="true">
                <app-rpf-detalle-plantacion1 [detalleAreaPlanteada1]="data.detalleAreaPlanteada1" [usuario]="usuario"
                    [id_solplantforest]="id_solplantforest">
                </app-rpf-detalle-plantacion1>
                <br />
                <app-rpf-detalle-plantacion2 [detalleAreaPlanteada2]="data.detalleAreaPlanteada2"
                    [idSolicitante]="idSolicitante">
                </app-rpf-detalle-plantacion2>
                <br /><br />
                <br />

                <observaciones-plantacion *ngIf="idSolicitante == 4"></observaciones-plantacion>

            </p-fieldset>
        </div>
        <div class="col-12">
            <p-fieldset [collapsed]="true" legend="5. Anexo" [toggleable]="true">
                <app-rpf-anexo [usuario]="usuario" [id_solplantforest]="id_solplantforest">
                </app-rpf-anexo>
                <br />

            </p-fieldset>
        </div>

        <div class="col-12">
            <p-fieldset [collapsed]="true" legend="Observaciones" [toggleable]="true">
                <app-rpf-observaciones></app-rpf-observaciones>
                <br />

            </p-fieldset>
        </div>
        <div class="col-12" *ngIf="idSolicitante == 5">
            <p-fieldset [collapsed]="true" legend="Anexo 3" [toggleable]="true">
                <!-- <app-rpf-anexo3 [data]="data" 
                    [ListaDistritoInformacion]="ListaDistritoInformacion"
                    [ListaProvinciaInformacion]="ListaProvinciaInformacion" 
                    [ListaDepartamento]="ListaDepartamento"
                    [ListaDistritoArea]="ListaDistritoArea" 
                    [ListaProvinciaArea]="ListaProvinciaArea">
                </app-rpf-anexo3> -->
                <br />
            </p-fieldset>
        </div>

        <div class="col-12" *ngIf="idSolicitante == 4">
            <p-fieldset [collapsed]="true" legend="PAS" [toggleable]="true">
                <rpf-procedimiento-administrativo-sancionador></rpf-procedimiento-administrativo-sancionador>
                <br />

            </p-fieldset>
        </div>


        <div class="col-12" style="margin: 20px auto; padding: 10px; width: 95%;" class="form-container"
            *ngIf="idSolicitante == 4">
            <div class="col-12 mt-3" style="margin-bottom: 20px;">
                <label class="title2 fz-12">Observaciones</label>
                <textarea style="resize: none;" rows="3" cols="1" class="form-control"
                    placeholder="Ingrese descripción de su observación">
        </textarea>
                <br>
                <div class="col-12 col-sm-4">
                    <div class="form-group">
                        <p-checkbox name="alerta" [binary]="true"></p-checkbox>
                        <label class="m-0 pl-1 pointer" for="alerta">Guardar como Alerta</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12" style="margin: 20px auto; padding: 10px; width: 95%;" *ngIf="idSolicitante == 4">
            <br>

            <tabla-documentos [fileList]="fileList"></tabla-documentos>

            <br>

            <button class="btn btn-sm btn-secondary" (click)="notificar('Se ha notificado a ARFFS')">
                Enviar a ARFFS
            </button>
        </div>



        <div class="col-12" *ngIf="idSolicitante == 4 || idSolicitante == 1">
            <p-fieldset [collapsed]="true" legend="Anexo 2" [toggleable]="true">

                <app-rpf-anexo2 [idSolicitante]="idSolicitante"></app-rpf-anexo2>
                <br />
            </p-fieldset>
        </div>

    </div>

    <div class="row m-0 mb-2 justify-content-center mt-4 mb-2">
        <div class="col-12">
            <!-- <button [routerLink]="['/planificacion/bandeja-plantacion-forestal']" pButton pRipple type="button"
                label="Cancelar" class="p-button-secondary p-button-outlined " style="margin: 0 10px;"></button> -->

            <button pButton (click)="guardar()" pRipple type="button" label="Guardar"
                class="p-button-success p-button-outlined mr-2"></button>

            <div class="row justify-content-center" style="display: flex;">
                <div class="form-group">
                    <label class="label">&nbsp;&nbsp;</label>
                    <div class="text-center">
                        <button type="button" (click)="generarRegistro($event)" class="btn btn-sm btn-secondary">
                            Generar nro. de registro
                        </button>
                        <input disabled="true" type="text" value="15(lima)-LIM/REC-PLT" />
                    </div>
                </div>

                <div class="form-group" style="margin:  0 10px;">
                    <label class="label">&nbsp;&nbsp;</label>
                    <div class="text-center">
                        <button type="button" class="btn btn-sm btn-secondary">
                            Generar Certificado de Registro
                        </button>
                        <input disabled="true" type="text" placeholder="Nombre correlativo" />
                        <i class="pi pi-download pointer" style="font-size: 1.5rem;margin-left: 5px;"></i>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="label">&nbsp;&nbsp;</label>
                    <div class="text-center">
                        <button type="button" id="btnCargaShapeFile" (click)="fileInput.click()"
                            class="btn btn-sm btn-secondary">
                            Cargar Certificado de Registro Firmado
                            <input #fileInput type="file" (change)="onFileChange($event)" style="display: none;" />
                        </button>
                        <input disabled="true" type="text" [(ngModel)]="file.descripcion" />
                        <i class="pi pi-times-circle pointer" style="font-size: 1.5rem;margin-left: 5px;"
                            *ngIf="file.descripcion" (click)="eliminarArchivo()"></i>
                        <i class="pi pi-download pointer" style="font-size: 1.5rem;margin-left: 5px;"
                            *ngIf="file.descripcion" (click)="verArchivo()"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row m-0 mb-2 justify-content-center mt-4 mb-2">
        <div class="col-12 col-sm-10 text-center">

            <button type="button" class="btn btn-sm btn-secondary" (click)="enviarSolicitante($event)">Enviar al
                solcitante </button>
            <button type="button" class="btn btn-sm btn-secondary" (click)="enviarSerfor($event)"
                style="margin: 0 10px;">Enviar SERFOR
            </button>
        </div>
    </div>

    <br>
    <br>
    <br />
</div>
<p-toast></p-toast>