<div class="row">
  <div class="col-12">
    <label for="descripcion">Observaciones</label>
    <textarea
      id="descripcion"
      autocomplete="off"
      class="form-control form-control-sm"
      rows="4"
      maxlength="200"
      [(ngModel)]="descripcion"
      pInputTextarea
    >
    {{ descripcion }}
  </textarea
    >
  </div>

  <div class="col-12 mt-3">
    <button class="btn btn-sm btn-secondary" (click)="enviar()">Enviar</button>
  </div>
</div>

<p-toast position="bottom-center" key="tl"></p-toast>
