<div class="container-fluid form-container">

  <div class="row">
    <p-confirmPopup></p-confirmPopup>

    <div class="col-2 col-sm-12 text-right" *ngIf="canLoad">
      <button (click)="abrirModal()" class="btn btn-sm btn-default mb-2" type="button" title="Agregar" [disabled]="disabled">
        <i class="pi pi-plus"></i>
      </button>
    </div>

    <div class="col-sm-12">
      <div class="table">
        <p-table [value]="fileList" responsiveLayout="scroll" [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros"
        [rowsPerPageOptions]="[10, 25, 50]" [totalRecords]="fileList.length">
          <ng-template pTemplate="header">
            <tr>
              <th class="text-center" style="width: 120px;">Acciones </th>
              <th>Tipo Documento</th>
              <th>Nombre de documento </th>
              <ng-container *ngIf="verObservacion">
                <th>Conforme</th>
                <th>Observaciones </th>
              </ng-container>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <tr>
              <td class="text-center">
                <span *ngIf="canLoad" class="pointer" title="Eliminar" (click)="openEliminarRegistro($event,rowIndex)">
                  <i class="pi pi-trash"></i>
                </span>

                <span class="pointer" style="margin: 0 10px;" title="Descargar" (click)="verArchivo(data)">
                  <i class="pi pi-download"></i>
                </span>

                <!-- <span *ngIf="edit" class="pointer" style="margin: 0 10px;" title="Editar" (click)="editarArchivo(data)">
                  <i class="pi pi-pencil"></i>
                </span> -->

              </td>
              <td> {{data.tipoDocumento }}</td>
              <td> {{data.nombre ? data.nombre : data.nombreArchivo}}</td>
              <ng-container *ngIf="verObservacion">
                <td> {{data.conforme===null ? '' : data.conforme===undefined ? '':
                  data.conforme?'SI':'NO' }}</td>
                <td> {{data.observacion}}</td>
              </ng-container>
            </tr>
            
          </ng-template>
        </p-table>
        
      </div>
    </div>

  </div>

</div>

<p-dialog header="Agregar Documento" [(visible)]="display" appendTo="body" [modal]="true">

  <ng-template pTemplate="content">
    <div class="row" style="height: 180px;">


      <div class="col-12">
        <label class="label">Tipo Documento</label>
        <div class="form-control-selectk">
          <p-dropdown class="fomr-control" placeholder="Seleccione" [options]="listaTipoDocumento"
            optionValue="codigo" optionLabel="valorPrimario" [(ngModel)]="idTipoDocumento">
          </p-dropdown>
        </div>
      </div>


      <div class="col-12">
        <div class="form-group">
          <label class="label">{{label ? label : "Documento"}}</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="" [(ngModel)]="file.nombre" readonly="true">
            <div class="input-group-append">
              <button type="button" id="btnCargaShapeFile" (click)="fileInput.click()" class="btn btn-sm btn-secondary">
                Adjuntar<input #fileInput type="file" (change)="onFileChange($event)" style="display:none;" />
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group" *ngIf="descripcion">
          <label class="label">Descripción</label>
          <input type="text" class="form-control" [(ngModel)]="file.descripcion">
        </div>
      </div>
    </div>

    <br /><br />
  </ng-template>


  <ng-template pTemplate="footer">

    <button icon="pi pi-save" (click)="agregarArchivo()" pButton pRipple type="button" label="Agregar"
      class="p-button-success p-button-outlined"></button>
    <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
      class="p-button-danger p-button-outlined"></button>
  </ng-template>


</p-dialog>



<p-dialog header="Modificar Documento" [(visible)]="displayModificar" appendTo="body" [modal]="true">

  <ng-template pTemplate="content">
    <div class="row" style="height: 180px;">


      <div class="col-12">
        <label class="label">Tipo Documento</label>
        <div class="form-control-selectk">
          <p-dropdown class="fomr-control" placeholder="Seleccione" [options]="listaTipoDocumento"
            optionValue="codigo" optionLabel="valorPrimario" [(ngModel)]="archivoModificar.idTipoDocumento">
          </p-dropdown>
        </div>
      </div>


      <div class="col-12">
        <div class="form-group">
          <label class="label">{{label ? label : "Documento"}}</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="" [(ngModel)]="file.nombre" readonly="true">
            <div class="input-group-append">
              <button type="button" id="btnCargaShapeFile" (click)="fileInput.click()" class="btn btn-sm btn-secondary">
                Adjuntar<input #fileInput type="file" (change)="onFileChange($event)" style="display:none;" />
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group" *ngIf="descripcion">
          <label class="label">Descripción</label>
          <input type="text" class="form-control" [(ngModel)]="file.descripcion">
        </div>
      </div>
    </div>

    <br /><br />
  </ng-template>


  <ng-template pTemplate="footer">

    <button icon="pi pi-save" (click)="modificarArchivo()" pButton pRipple type="button" label="Agregar"
      class="p-button-success p-button-outlined"></button>
    <button icon="pi pi-times" (click)="cerrarModal()" pButton pRipple type="button" label="Cancelar"
      class="p-button-danger p-button-outlined"></button>
  </ng-template>


</p-dialog>
