<div class="container-fluit">
  <div class="row m-0 mb-3">
    <!-- TITULO -->
    <div class="col-12">
      <h3 class="title">Ep:2.3.2.3 Bandeja de Solicitud de Concesión PFDM</h3>
    </div>
    <!-- FILTROS -->
    <div class="col-12">
      <div class="panelk br10 p-3">
        <div class="row">
          <!-- Inputs -->
          <div class="col-12 col-sm-6 col-md-2 form-group">
            <label class="label">ID Solicitud Concesión:</label>
            <input class="form-control" type="text" numero [maxlength]="5" [(ngModel)]="requestFiltro.idConcesion"
              autocomplete="off" placeholder="Ingresar ID" />
          </div>
          <div class="col-12 col-sm-6 col-md-2 form-group">
            <label class="label">Tipo Modalidad:</label>
            <div class="form-control-selectk">
              <p-dropdown appendTo="body" [options]="comboTipoMod" placeholder="Seleccione" optionLabel="valorPrimario"
                optionValue="codigo" [(ngModel)]="requestFiltro.codigoModalidad">
              </p-dropdown>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 form-group">
            <label class="label">Solicitante:</label>
            <input class="form-control" type="text" maxlength="100" [(ngModel)]="requestFiltro.solicitante"
              autocomplete="off" placeholder="Ingresar nombre o razón social" />
          </div>
          <div class="col-12 col-sm-6 col-md-2 form-group">
            <label class="label">N° Doc. Solicitante:</label>
            <input class="form-control" type="text" numero [maxlength]="11" [(ngModel)]="requestFiltro.nroDocumento"
              autocomplete="off" placeholder="Ingresar N° de Doc." />
          </div>
          <div class="col-12 col-sm-6 col-md-3 form-group">
            <label class="label">Estado:</label>
            <div class="form-control-selectk">
              <p-dropdown appendTo="body" [options]="comboEstado" placeholder="Seleccione" optionLabel="valorPrimario"
                optionValue="codigo" [(ngModel)]="requestFiltro.estadoSolicitud">
              </p-dropdown>
            </div>
          </div>
          <!-- Botones -->
          <div class="col-sm-12 my-2 form-group text-center">
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnLimpiar()">Limpiar</button>
            <button class="btn btn-sm btn-secondary mr-2" (click)="btnBuscar()">Buscar</button>
            <button *ngIf="isPerTitularTH && permisos.isPerRegistrar" class="btn btn-sm btn-secondary" (click)="btnNuevo()">Nuevo</button>
            <button *ngIf="isPerTitularTH" class="btn btn-sm btn-primary2" (click)="btnIrOposicion()">Ir a Oposición</button>
          </div>
        </div>
      </div>
    </div>

    <!-- TABLA -->
    <div class="col-12 mt-4">
      <p-table [value]="listaBandeja">
        <ng-template pTemplate="header">
          <tr>
            <th>ID Sol.</th>
            <th>Tipo Modalidad</th>
            <th>Solicitante</th>
            <th>N° Doc. Solicitante</th>
            <th>Fecha Registro</th>
            <th>Estado Solicitud</th>
            <!-- Perfil titulaTH -->
            <ng-container *ngIf="isPerTitularTH">
              <th>Ver Solicitud</th>
              <th>Eval. Requisitos</th>
              <th>Eval. Solicitud</th>
              <th>Reutilizar Solicitud</th>
              <th>Acciones de Publicación</th>
            </ng-container>
            <!-- Perfil MDP -->
            <ng-container *ngIf="isPerMDP">
              <th>Eval. Requisitos</th>
            </ng-container>
            <!-- Perfil ARFFS -->
            <ng-container *ngIf="isPerARFFS">
              <th>Eval. Requisitos</th>
              <th>Eval. Solicitud</th>
              <th>Estado Opinión</th>
              <th>Días para Evaluación</th>
              <th>Acciones de publicación</th>
            </ng-container>
            <!-- Perfil OSINFOR / SERFOR / COMPONENTE ESTADSTICO -->
            <ng-container *ngIf="isperOsiSerComp">
              <th>Fecha Inicio Contrato</th>
              <th>Fecha Fin Contrato</th>
              <th>Ver Solicitud</th>
              <th>Ver Contrato</th>
              <th>Ver Resolución</th>
            </ng-container>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>{{data.idConcesion}}</td>
            <td>{{data.descripcionModalidad}}</td>
            <td>{{data.nombreSolicitanteUnico}}</td>
            <td>{{data.numeroDocumentoSolicitante}}</td>
            <td>{{data.fecha}}</td>
            <td class="{{data.auxColor}}">{{data.estadoSolicitudTexto}}</td>

            <!-- Perfil titulaTH -->
            <ng-container *ngIf="isPerTitularTH">
              <td class="text-center">
                <!-- Boton ver o editar solicitud -->
                <span
                  *ngIf="(data.estadoSolicitud === codEstado.BORRADOR || data.estadoSolicitud === codEstado.OBSERVADO_REQ) && permisos.isPerEditar"
                  class="pointer mr-2"><i class="pi pi-pencil" title="Editar solicitud"
                    (click)="btnVer(data.idConcesion, false, true, false, data.idSolicitudConcesionPadre)"></i></span>
                <span
                  *ngIf="!(data.estadoSolicitud === codEstado.BORRADOR || data.estadoSolicitud === codEstado.OBSERVADO_REQ) && permisos.isPerVisualizar"
                  class="pointer mr-2"><i class="pi pi-eye" title="Ver solicitud"
                    (click)="btnVer(data.idConcesion, true, true, false, data.idSolicitudConcesionPadre)"></i></span>
                <!-- Boton elminar solicitud -->
                <span *ngIf="(data.estadoSolicitud === codEstado.BORRADOR) && permisos.isPerEliminar" class="pointer"><i class="pi pi-trash"
                    title="Eliminar solicitud" (click)="btnEliminar($event, data.idConcesion)"></i></span>
              </td>
              <td class="text-center">
                <!-- Boton ver requisitos -->
                <span *ngIf="(data.estadoSolicitud !== codEstado.BORRADOR) && permisos.isPerOtros" class="pointer"><i class="pi pi-eye"
                    title="Evaluar requisitos" (click)="btnEvalRequisitos(data.idConcesion, true)"></i></span>
              </td>
              <td class="text-center">
                <!-- Boton ver o editar solicitud si es OBSERVADO_SOL -->
                <span
                  *ngIf="!(data.estadoSolicitud === codEstado.OBSERVADO_SOL || data.estadoSolicitud === codEstado.BORRADOR || data.estadoSolicitud === codEstado.OBSERVADO_REQ || data.estadoSolicitud === codEstado.PRESENTADA) && permisos.isPerOtros"
                  class="pointer mr-2"><i class="pi pi-eye" title="Ver evaluación"
                    (click)="btnVer(data.idConcesion, true, true, true, data.idSolicitudConcesionPadre)"></i></span>
                <span *ngIf="(data.estadoSolicitud === codEstado.OBSERVADO_SOL) && permisos.isPerOtros" class="pointer"><i class="pi pi-pencil"
                    title="Evaluar solicitud" (click)="btnVer(data.idConcesion, false, true, true, data.idSolicitudConcesionPadre)"></i></span>
              </td>
              <td class="text-center">
                <span *ngIf="data.estadoSolicitud === codEstado.FIN_OPOSICION && !data.flagReutilizado && permisos.isPerOtros"
                  class="pointer mr-2">
                  <i class="pi pi-clone" title="reutilizar solicitud"
                    (click)="btnClonar($event, data.idConcesion)"></i></span>
                <span *ngIf="data.estadoSolicitud === codEstado.FIN_OPOSICION && data.flagReutilizado && permisos.isPerOtros " class="mr-2"
                  style="opacity: 0.25;">
                  <i class="pi pi-clone" title="reutilizar solicitud"></i></span>
              </td>
              <td class="text-center">
                <span *ngIf="data.estadoSolicitud === codEstado.PUBLICADO && permisos.isPerOtros" class="pointer mr-2">
                  <i class="pi pi-external-link" title="Completar Anexo 6"
                    (click)="btnToAnexo6(data, data.remiteInformacionAnexo6)"></i></span>
                <span *ngIf="data.estadoSolicitud === codEstado.PUBLICADO && permisos.isPerOtros" class="pointer">
                  <i class="pi pi-paperclip" title="Acreditar evidencia publicación"
                    (click)="btnEvidencia(data)"></i></span>
              </td>
            </ng-container>

            <!-- Perfil MDP -->
            <ng-container *ngIf="isPerMDP">
              <td class="text-center">
                <!-- Boton ver o evaluar requisitos -->
                <span *ngIf="(data.estadoSolicitud === codEstado.PRESENTADA) && permisos.isPerOtros" class="pointer"><i
                    class="pi pi-check-square" title="Evaluar requisitos"
                    (click)="btnEvalRequisitos(data.idConcesion, false)"></i></span>
                <span *ngIf="!(data.estadoSolicitud === codEstado.PRESENTADA) && permisos.isPerOtros" class="pointer"><i class="pi pi-eye"
                    title="Ver requisitos" (click)="btnEvalRequisitos(data.idConcesion, true)"></i></span>
              </td>
            </ng-container>

            <!-- Perfil ARFFS -->
            <ng-container *ngIf="isPerARFFS">
              <td class="text-center mr-1">
                <!-- Boton ver requisitos -->
                <span class="pointer" *ngIf="permisos.isPerOtros"><i class="pi pi-eye" title="Ver requisitos"
                    (click)="btnEvalRequisitos(data.idConcesion, true)"></i></span>
              </td>
              <td class="text-center">
                <!-- Boton ver o evaluar evaluacion -->
                <span *ngIf="(data.estadoSolicitud === codEstado.EVALUACION) && permisos.isPerOtros" class="pointer"><i class="pi pi-pencil"
                    title="Evaluar solicitud" (click)="btnVer(data.idConcesion, true, false, true, data.idSolicitudConcesionPadre)"></i></span>
                <span *ngIf="(data.estadoSolicitud !== codEstado.EVALUACION) && permisos.isPerOtros" class="pointer"><i class="pi pi-eye"
                    title="Ver evaluación" (click)="btnVer(data.idConcesion, true, true, true, data.idSolicitudConcesionPadre)"></i></span>
              </td>
              <td class="text-center">
                <!-- Boton modal opinion -->
                <span *ngIf="data.nroOpinion > 0 && permisos.isPerOtros" class="pointer"><i class="pi pi-list" title="Ver opinión"
                    (click)="btnOpinion(data.idConcesion, false)"></i></span>
              </td>
              <td> {{data.diaEvaluacion}} </td>
              <td class="text-center">
                <!-- Boton publicadas -->
                <span *ngIf="data.estadoSolicitud === codEstado.PUBLICADO && permisos.isPerOtros" class="pointer mr-2">
                  <i class="pi pi-external-link" title="Completar Anexo 6"
                    (click)="btnToAnexo6(data, true)"></i></span>
                <span *ngIf="data.estadoSolicitud === codEstado.PUBLICADO && permisos.isPerOtros" class="pointer">
                  <i class="pi pi-paperclip" title="Acredita evidencia publicación"
                    (click)="btnEvidencia(data)"></i></span>
              </td>
            </ng-container>

            <!-- Perfil OSINFOR / SERFOR / COMPONENTE ESTADSTICO -->
            <ng-container *ngIf="isperOsiSerComp">
              <td>{{data.fechaInicioContrato |date:"dd-MM-yyyy"}}</td>
              <td>{{data.fechaFinContrato |date:"dd-MM-yyyy"}}</td>
              <td class="text-center">
                <span class="pointer mr-1" *ngIf="permisos.isPerVisualizar"><i class="pi pi-eye" title="Ver solicitud"
                    (click)="btnVer(data.idConcesion, true, true, true, data.idSolicitudConcesionPadre)"></i></span>
              </td>
              <td class="text-center">
                <span class="pointer" *ngIf="permisos.isPerOtros"><i class="pi pi-eye" title="Ver contrato"
                    (click)="btnVerContrato(data)"></i></span>
              </td>
              <td class="text-center">
                <span class="pointer" *ngIf="permisos.isPerOtros"><i class="pi pi-eye" title="Ver resolición"
                    (click)="btnVerResolucion(data)"></i></span>
              </td>
            </ng-container>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator [rows]="10" [totalRecords]="optionPage.totalRecords" (onPageChange)="loadData($event)"
        [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros">
      </p-paginator>
    </div>

  </div>
</div>
<p-confirmPopup></p-confirmPopup>
