<div class="row">

  <div class="col-12 col-md-6 form-group">
    <label for="procesoPostulacion">Entidad</label>
    <div class="form-control-selectk">
      <p-dropdown class="fomr-control" [(ngModel)]="idConsultaEntidad" optionValue="idConsultaEntidad"
        [options]="listadoEntidad" optionLabel="descripcion">
      </p-dropdown>
    </div>
  </div>

  <div class="col-12 col-md-6 form-group">
    <label for="dni">Numero de documento</label>
    <input type="text" class="form-control" [(ngModel)]="numeroDocumento">
  </div>

  <div class="col-12 col-md-4 mt-4 form-group">
    <button class="btn btn-sm btn-secondary" (click)="agregar()">Agregar Validación</button>
  </div>


  <div *ngIf="listaValidada.length > 0" class="col-12">
    <div class="tablek">
      <p-table [value]="listaValidada" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        currentPageReportTemplate="Total : {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Código</th>
            <th>Descripción</th>
            <th>Usuario</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-obj>
          <tr>
            <td>{{obj.id}}</td>
            <td>{{obj.idConsultaEntidad}}</td>
            <td>{{obj.descripcion}}</td>
            <td>{{obj.usuario}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>


  <div class="col-12 mt-4">
    <button (click)="validar()" class="btn btn-sm btn-primary2">Validar</button>
  </div>

</div>
