<button type="button" class="btn-secondary width-full" [style]="style" (click)="fileInput.click();fileInput.value=''"
    [disabled]="disabled">
    <i *ngIf="showIcon" class="pi pi-{{icon}}" aria-hidden="true"></i> {{label}}
    <input class="no-show" type="file" [(ngModel)]="file" (change)="changeFile($event)" [accept]="accept" #fileInput
        readonly />
</button>