<div class="col-12 mt-4 mb-3">
  <p-table [value]="listAnexo2Especies" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="1" colspan="2">
          Área total censada (ha)
        </th>
        <th rowspan="1" colspan="3">{{ areaTotalCensada }}</th>
      </tr>
      <tr>
        <th rowspan="1" colspan="2">
          Nº de especies censadas
        </th>
        <th rowspan="1" colspan="3">{{ arbolesCensados }}</th>
      </tr>

      <tr>
        <th>Especies (nombre común)*</th>
        <th>Variable</th>
        <th>Total para el área censada</th>
        <th>Total (por ha)</th>
        <th>%</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td [attr.rowspan]="3">{{ data.nombreComun }}</td>
      </tr>
      <tr *ngFor="let item of data.array">
        <td>{{ item.var }}</td>
        <td>{{ item.TotalTipoBosque | number : '1.4-4' }}</td>
        <td>{{ item.TotalPorArea | number : '1.4-4' }}</td>
        <td>{{ item.porcentaje | number : '1.4-4' }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td rowspan="3" class="tdTotal">Total</td>
      </tr>
      <tr>
        <td class="tdTotal">N(Individuos/ha)</td>
        <td class="tdTotal">{{ TotalTipoBosqueN | number : '1.4-4' }}</td>
        <td class="tdTotal">{{ TotalPorAreaN | number : '1.4-4' }}</td>
        <td class="tdTotal">{{ porcentajeN | number : '1.4-4' }}</td>
      </tr>
      <tr>
        <td class="tdTotal">C( <span>{{ unidad }} </span> )</td>
        <td class="tdTotal">{{ TotalTipoBosquevc | number : '1.4-4' }}</td>
        <td class="tdTotal">{{ TotalPorAreavc | number : '1.4-4' }}</td>
        <td class="tdTotal">{{ porcentajevc | number : '1.4-4' }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
