.btn-plus-x {
  line-height: 48px;
}

.btn-plus-x i {
  font-size: 21px;
  color: #4a962c;
  font-weight: bold;
}

.completed {
  color: #4a962c;
}

.observado {
  color: #cb4141;
  
}

.otherStatus {
  color: #707c97;
}

.evaluation {
  //color: #074a53;
  color: #dedb49;
}

.disabled-evaluation {
  color: #9ea0a5;
}


.presentado {
  color: #057EBF;
  font-weight: bold;
}
