<div>
  <app-bandeja-evaluacion
    [evaluacionRequest]="evaluacionRequest"
    [planes]="planes"
    (buscar)="buscarPlan()"
    (limpiar)="limpiarPlan()"
    [descripcionPlan]="descripcionPlan.descripcion"
    (nuevo)="nuevoPlan()"
    [perfil]="perfil"
    (load)="loadPlan($event)"
    [totalRecords]="totalRecords"
    [isBandejaEvaluacion]="true"
    [pmficDema]="true"
  >
    <!-- <ng-template
      #requisitosPrevios
      let-data="data"
      *ngIf="perfil !== Perfiles.MESA_DE_PARTES"
    >
      <i
        *ngIf="data?.codEstado !== codigoEstadoMesaPartes.OBSERVADOMP"
        class="pi pi-check-circle pointer"
        title="Requisitos Previos"
        aria-hidden="true"
        (click)="verRequisitosPrevios(data?.idPlanManejo,data?.descripcion)"
        [class.completed]="
          data?.codEstado === codigoEstadoMesaPartes.COMPLETADOMP
        "
        [class.otherStatus]="
          data?.codEstado !== codigoEstadoMesaPartes.COMPLETADOMP
        "
        style="font-size: 1.45em"
      >
      </i>
      <i
        *ngIf="data?.codEstado === codigoEstadoMesaPartes.OBSERVADOMP"
        class="pi pi-times-circle pointer"
        title="Requisitos Previos"
        aria-hidden="true"
        (click)="verRequisitosPrevios(data?.idPlanManejo,data?.descripcion)"
        [class.observado]="
          data?.codEstado === codigoEstadoMesaPartes.OBSERVADOMP
        "
        style="font-size: 1.45em"
      >
      </i>
    </ng-template> -->

    <ng-template
      #requisitosMesaDePartes
      let-data="data"
      *ngIf="perfil === Perfiles.MESA_DE_PARTES && permisos.isPerVisualizar"
    >
      <i
        class="pi pi-check-circle pointer"
        title="Requisitos Mesa de Partes"
        aria-hidden="true"
        (click)="verRequisitosMesaPartes(data?.idPlanManejo, data.descripcion)"
        style="font-size: 1.45em"
      >
      </i>
    </ng-template>

    <ng-template
      #requisitosPrevios
      let-data="data"
      *ngIf="(perfil === Perfiles.AUTORIDAD_REGIONAL ||  perfil === Perfiles.SERFOR || perfil === Perfiles.COMPONENTE_ESTADISTICO)  && permisos.isPerVisualizar "
    >
      <i
        *ngIf="data?.codEstado !== codigoPrerequisitos.EVAL_OBSERVADO"
        class="pi pi-send pointer"
        title="Evaluar"
        aria-hidden="true"
        (click)="verRequisitosPrevios(data?.idPlanManejo, data?.descripcion)"
        [class.completed]="
          data?.codEstado === codigoPrerequisitos.EVAL_COMPLETADO
        "
        [class.otherStatus]="
          data?.codEstado !== codigoPrerequisitos.EVAL_COMPLETADO
        "
        style="font-size: 1.45em"
      >
      </i>
      <i
        *ngIf="data?.codEstado === codigoPrerequisitos.EVAL_OBSERVADO"
        class="pi pi-send pointer"
        title="Evaluar"
        aria-hidden="true"
        (click)="verRequisitosPrevios(data?.idPlanManejo, data?.descripcion)"
        [class.observado]="
          data?.codEstado === codigoPrerequisitos.EVAL_OBSERVADO
        "
        style="font-size: 1.45em"
      >
      </i>
    </ng-template>

    <ng-template
      #acciones
      let-data="data"
      *ngIf="perfil === Perfiles.AUTORIDAD_REGIONAL && permisos.isPerVisualizar"
    >
      <i
        type="button"
        *ngIf="isPerfilArffs"
        class="pi pi-eye pointer"
        title="Revisión"
        aria-hidden="true"
        (click)="evaluarPlan(data?.idPlanManejo, data?.descripcion)"
        style="font-size: 1.45em"
        [class.evaluation]="
          data?.codEstado === codigoPrerequisitos.EVAL_COMPLETADO
        "
      >
      </i>
      <i
        *ngIf="!isPerfilArffs"
        class="pi pi-eye pointer"
        title="Revisión"
        aria-hidden="true"
        (click)="verPlan(data?.idPlanManejo, data.descripcion)"
      >
      </i>
    </ng-template>

    <ng-template
      #impugnacionSAN
      let-data="data"
      *ngIf="perfil === Perfiles.AUTORIDAD_REGIONAL && permisos.isPerVisualizar"
    >
      <evaluar-impugnacion-shared
        [idPlanManejo]="data.idPlanManejo"
        [codigoPlan]="data.descripcion"
        (registroImpugnacionEmiter)="registroNotificacionEmit($event)"
        [estado]="data.codEstado"
      ></evaluar-impugnacion-shared>
    </ng-template>

    <ng-template #remitiendo let-data="data"  *ngIf="permisos.isPerVisualizar">
      <i
        class="pi pi-folder-open pointer"
        title="Remitir"
        aria-hidden="true"
        (click)="remitePlan($event, data?.idPlanManejo, data?.codEstado)"
      >
      </i>
    </ng-template>
  </app-bandeja-evaluacion>

  <p-confirmPopup></p-confirmPopup>
</div>
